@import "../course_status21574/common/base.less";
/*-- author:zhangtian pms:21574  timestamp:2016/4/19--*/
@imgComponentsPath:"../../../components/html/course_status21574/images/";

@import "../../../components/html/course_status21574/less/modules/course.less";
@import "../../../components/lib/pagination/pagination.less";
body{
    color: #000;
    background-color: #efefef;
}
.g-center{
  float: left;
}