<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>晒晒我家宝贝学好英语的秘密</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/red_youth/red_youth.css"></head>
<body>
	<div class="red_youth"  id="container" data-init="share">
		<img src="/images/wap/red_youth/red_small.jpg" width="0" height="0" alt="">
		<img class="head_1" src="/images/wap/red_youth/red_top1.jpg">
		<div class="logIn">
			<img class="logIn_img" src="/images/wap/red_youth/red_bg.jpg">
			<div class="logIn_go">
				<dl>
					<dt>
						<img src="/images/wap/red_youth/red_img.png" alt="" class="dt_img_bg">
						<img src="/images/wap/red_youth/red_head.jpg" alt="" class="dt_img">
					</dt>
					<dd>
						<h3>我是<span>51Talk学员家长</span></h3>
						<p>孩子在51Talk上课后英语流利多了，人也更自信了，你也带着孩子一起来学吧！</p>
					</dd>
				</dl>
				<form id="reg1_form">
					<ul class="logIn_list">
						<li>
							<input id="reg1_tel" type="tel" placeholder="输入您的手机号">
						</li>
						<li>
							<input id="reg1_passwd" type="password" placeholder="设置您的密码">
						</li>
						<li class="last">
							<a id="reg1" href="javascript:;">免费领取礼包</a>
						</li>
					</ul>
				</form>
				<img src="/images/wap/red_youth/red_xl.png" alt="" class="red_xl">
			</div>
		</div>
		<div class="cont">
			<h3 class="tit">为什么要选择51Talk青少英语</h3>
			<div class="content">
				<div class="item color1">
					<h3>外教1对1</h3>
					<p>给孩子提供“沉浸式的英语环境”</p>
					<img src="/images/wap/red_youth/red_part1.jpg" alt="">
				</div>
				<div class="item color2">
					<h3>在线学习无需接送</h3>
					<p>在家也能上的国际学校</p>
					<img src="/images/wap/red_youth/red_part2.jpg" alt="">
				</div>
				<div class="item color3">
					<h3>专业有趣的课程</h3>
					<p>国内外语言教学专家联手打造权威教材</p>
					<img src="/images/wap/red_youth/red_part3.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="bottom">
			<h3 class="bottom_tit">每天25分钟轻松开口说英语</h3>
			<form id="reg2_form">
				<ul class="logIn_list">
					<li>
						<input id="reg2_tel" type="tel" placeholder="输入您的手机号">
					</li>
					<li>
						<input id="reg2_passwd" type="password" placeholder="设置您的密码">
					</li>
					<li>
						<a id="reg2" href="javascript:;">免费领取礼包</a>
					</li>
				</ul>
			</form>
			<p class="red_text">购买任意课程，您将免费获得3节1对1外教课。</p>
			<p class="red_bottom">www.51talk.com</p>
		</div>
	</div>
</body>
<script src="/js/wap/project/red_youth/vendor.js" id="seajsnode"></script> 
</html>