<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
<!-- 头部开始 -->
  <div class="header">
      <div class="headerIn">
         <a href="javasctipt:;">官网首页</a>
      </div>
  </div>
  <!-- 头部结束 -->
  <div class="tr-report">
      <div class="main">
          <div class="tr_top"></div>
          <div class="content">
              <div class="tr_title">
                  <span>王宝强</span>的经典英语单元测评报告
              </div>
              <div class="tr_module">
                  <div class="tr_stuff">
                     学习轨迹<br />
                      <span>Stuff You've Done</span> 
                  </div>
                  <div class="tr_stuff_content">
                      <h3 class="title">
                          Hi！<span>Elizabeth</span><br />
                          转瞬间你已经在51talk完成了...
                      </h3>
                      <p class="time">
                          2016.08.26
                      </p>
                      <ul class="list">
                          <li>
                              <p class="p1">48节</p>
                              <p class="p2">51talk在线课程</p>
                              <i></i>
                          </li>
                          <li class="margin0">
                              <p class="p1">48小时</p>
                              <p class="p2">无障碍口语交流</p>
                              <i></i>
                          </li>
                          <li>
                              <p class="p1">48个</p>
                              <p class="p2">新词汇积累</p>
                              <i></i>
                          </li>
                          <li>
                              <p class="p1">4800字</p>
                              <p class="p2">阅读量</p>
                              <i></i>
                          </li>
                      </ul>
                  </div>
                   <div class="tr_stuff tr_Level">
                     单元测评成绩<br />
                      <span>CE Level2 Unit1&Unit2 Test Report</span> 
                  </div>
                  <div class="tr_Level_content">
                      <ul>
                          <li class="li1">
                              <span>48</span>分
                          </li>
                           <li class="li2">
                              <span>48</span>分
                          </li>
                           <li class="li3">
                              <span>48</span>分
                          </li>
                      </ul>
                  </div>
                   <div class="tr_stuff tr_summary">
                     综述<br />
                      <span>Summary</span> 
                  </div>
                  <div class="tr_summary_content">
                      <dl>
                          <dt></dt>
                          <dd>
                              <h3><span>73分</span>/100分</h3>
                              <p>
                                  在本阶段的学习当中，学员joy基本掌握了部分单词与语法的正确使用，偶尔能够借助手势、表情等体态辅助进行交流，并且交流中遇到困难时，能在老师的帮助下完成整句的表达。在发音上，需要注意轻重音节的区分以及语音语调的控制。基于该阶段的学习表现以及测试的成绩，该学员在本阶段的学习成绩为B。
                              </p>
                          </dd>
                      </dl>
                  </div>
                   <div class="tr_stuff tr_comment">
                     老师评语<br />
                      <span>Teacher  Comment</span> 
                  </div>
                  <div class="tr_summary_content tr_comment_content">
                      <dl>
                          <dt></dt>
                          <dd>
                              <p>
                                  Your motivation has really pushed the boundaries of your ability! You are fearless in your quest to succeed!   You’d better speak English every day. The best way to learn any new language is just to speak it. It doesn't matter if you only know five English words or if you're practically fluent -- speaking English with another person is the fastest, most effective method of improving.
                              </p>
                          </dd>
                      </dl>
                  </div>
                  <div class="tr_footer">
                       <a href="javscript:void(0)"></a>
                  </div>
                  
              </div>
          </div>
      </div>

  </div>
</body>
</html>
