<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>51Talk 青少英语教育专家</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/world/world.css">
      
  </head>
<body>
	<section class="world" id="container" data-init="world">
		<img src="/images/wap/world/w_top1.jpg" alt="">
		<img src="/images/wap/world/w_top2.jpg" alt="">
		<section class="world-logIn">
			<img src="/images/wap/world/w_top3.jpg" alt="">
			<section class="logIn-box">
				<section class="logoIn">
					<h3><span class="l-icon"></span>填写信息，免费体验</h3>
					<section class="list">
						<form action=""  id="reg1_form">
							<ul class="l-list">
								<li><input type="tel" id="reg1_tel" placeholder="请输入您的手机号码" name="mobile"></li>
								<li><input type="password" id="reg1_passwd" placeholder="请设置您的登录密码" name="password"></li>
								<li><a href="javascript:;" id="reg1">免费领取体验课</a></li>
							</ul>
						</form>
					</section>
					<p>已有超过 <span class="r-color">5,000,000</span> 名学习者选择51Talk</p>
				</section>
			</section>
		</section>
		<section class="world-part1">
			<h3 class="p-title"><span class="l-icon"></span>学英语：没有这些怎么行？</h3>
			<ul>
				<li class="clearfix">
					<img src="/images/wap/world/w_top4_1.jpg" alt="">
					<section class="p-right">
						<h3 class="p-r-tit">纯外教<br>4000多名外教任您选</h3>
						<section class="line"></section>
						<p class="p-r-text">全英文外教授课，提供沉浸式的学习环境，更快建立英文思维，培养用英文沟通交流的自信。</p>
					</section>
				</li>
				<li class="clearfix">
					<img src="/images/wap/world/w_top4_2.jpg" alt="">
					<section class="p-right">
						<h3 class="p-r-tit">短时高频<br>25分钟的高频学习</h3>
						<section class="line"></section>
						<p class="p-r-text">每节课25分钟，随时随地把您的碎片时间利用起来。高频练习，容易坚持—当然更见效果。</p>
					</section>
				</li>
				<li class="clearfix">
					<img src="/images/wap/world/w_top4_3.jpg" alt="">
					<section class="p-right">
						<h3 class="p-r-tit">1对1授课<br>服务至上的强互动学</h3>
						<section class="line"></section>
						<p class="p-r-text">告别懒散无用的大班，外教将以100%的专注力与您互动练习，确保您有超过50%的开口时间，快速建立英语语感。</p>
					</section>
				</li>
				<li class="clearfix">
					<img src="/images/wap/world/w_top4_4.jpg" alt="">
					<section class="p-right">
						<h3 class="p-r-tit">高性价比<br>每节课低至15元</h3>
						<section class="line"></section>
						<p class="p-r-text">花几万块学一门语言的时代已成历史。51Talk以低至15元/课的价格宣告，每个人都有学好英语的平等权利。</p>
					</section>
				</li>
			</ul>
		</section>
		<section class="world-part1 world-part2">
			<h3 class="p-title"><span class="l-icon"></span>学英语：他们都在推荐51talk</h3>
			<section id="move">
				<section class="n1" date-id="0">
					<section class="mark"></section>
					<img src="/images/wap/world/w_top5_1.jpg" alt="">
				</section>
				<section class="n2" date-id="1">
					<section class="mark"></section>
					<img src="/images/wap/world/w_top5_2.jpg" alt="">
				</section>
				<section class="n3" date-id="2">
					<section class="mark"></section>
					<img src="/images/wap/world/w_top5_3.jpg" alt="">
				</section>
			</section>
		</section>
		<section class="world-part3">
			<img src="/images/wap/world/w_top6_1.jpg" alt="">
		</section>
		<section class="world-part4">
			<img src="/images/wap/world/w_top6_2.jpg" alt="">
			<section class="logIn-box">
				<section class="logoIn">
					<h3><span class="l-icon"></span>填写信息，免费体验</h3>
					<section class="list">
						<form action=""  id="reg2_form">
							<ul class="l-list">
								<li><input id="reg2_tel" type="tel" placeholder="请输入您的手机号码" name="mobile"></li>
								<li><input id="reg2_passwd" type="password" placeholder="请设置您的登录密码" name="password"></li>
								<li><a id="reg2" href="javascript:;">免费领取体验课</a></li>
							</ul>
						</form>
					</section>
					<p>已有超过 <span class="r-color">5,000,000</span> 名学习者选择51Talk</p>
				</section>
			</section>
		</section>
	</section>
	<footer>
		<ul>
			<li><img src="/images/wap/world/fot_certif01.png" alt=""></li>
			<li><img src="/images/wap/world/fot_certif02.png" alt=""></li>
			<li><img src="/images/wap/world/fot_certif03.png" alt=""></li>
			<li><img src="/images/wap/world/fot_certif04.png" alt=""></li>
		</ul>
		<p class="link-ft">
            Copyright©北京大生知行科技有限公司<em>|</em>
            隐私声明<em>|</em>
            用户协议<em>|</em>
            京ICP证110696号 京ICP备11031999号
            <span><img src="/images/wap/world/pic.gif"></span>
        </p>
	</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/world/vendor.js"></script>
</html>