<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta content="IE=11.0000" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">     
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  <meta name="google" content="notranslate">     
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PDF viewer</title>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>"> 
</head>   
<body tabindex="1" class="loadingInProgress">
    <audio id="audio"  src=""></audio>
    <div id="outerContainer" class="sidebarOpen">
        <div id="sidebarContainer">
          <div id="toolbarSidebar">
            音频播放列表
          </div>
          <div id="sidebarContent">
            <div class="audioList">
                <ul id="playList">
                    <li media="http://static.51talk.com/upload/course/2016-07-27/14696054846ce8.mp3">welcome you to my country</li>
                    <li media="http://static.51talk.com/upload/course/2016-07-27/14696054846ce8.mp3">welcome you to my country</li>
                    <li>welcome you to my country</li>
                    <li>welcome you to my country</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="mainContainer" id="test" style="height:99.6%;"></div>
    </div>
  <script type="text/javascript" src="../../../js/html/project/pdfreader/jquery.min.js"></script>
  <script type="text/javascript" src="../../../js/html/project/pdfreader/pdfobject.js"></script>
  <script type="text/javascript" src="../../../js/html/project/pdfreader/index.js"></script>
</body>
</html>