<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/weixin_heck/common.css">
    <link rel="stylesheet" type="text/css" href="/css/html/weixin_heck/tableStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/html/weixin_heck/layui.css">
</head>
<body data-init="baobiao">
<div class="pad20px content-width90 clearfix">
    <div class="page-title">KPI报表</div>
    <div class="ptb20 top-group">
        <div class="guide-link">
            全部 > <a href="#">某团队</a> > <a href="#">某人</a>
        </div>
        <div class="set-pos">
            <div class="select-time">
                <div class="layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input class="layui-input sel-time" placeholder="开始日期"  onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})" id="stime">
                        </div>
                        <span class="zhizi">至</span>
                        <div class="layui-input-inline  sel-time">
                            <input class="layui-input" placeholder="截止日期" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD'})"  id="etime">
                        </div>
                    </div>
                </div>
            </div>
            <form action="baobiao.html?da=1&a=5">
                <div class="by-time fl">
                    <a class="by-time-btn" data-time="1">按日</a>
                    <a class="by-time-btn cut-sel" data-time="2">按周</a>
                    <a class="by-time-btn" data-time="3">按月</a>
                </div>
                <div class="click-time">
                    <input  class="pre-time" value="1">
                    <input id="setTime" name="setTime" class="time-day" type="text" value="" readonly>
                    <input  class="next-time" value="1">
                </div>
            </form>
            <div class="add-btn">
                <a href="javascript:;" id="countBtn">统计查询</a>
            </div>
        </div>
    </div>

    <div class="table-box">
        <table class="table-detail" border="1" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>团队</th>
                    <th>分配的leads数</th>
                    <th>添加的好友数</th>
                    <th>微信添加率</th>
                    <th>互动学员数</th>
                    <th>学员回复消息数</th>
                    <th>员工回复消息数</th>
                    <th>黑鸟发送消息数</th>
                </tr>
            </thead>
            <tbody class="sel-dom">
                <tr>
                    <td><a href="#" class="have-next">AAA</a></td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>AAA</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
        <h5 class="dn">暂无相关数据！</h5>
    </div>
</div>
<script>
    var start_time = '2017-03-10';
    var end_time = '2017-03-16';
</script>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/weixin_heck/vendor.js"></script>
</html>