<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/weixin_heck/homework.css">
</head>
<body data-init="homeWork">

<div class="wap-wrap home-work">
	<h4 class="home-work-tit">
		<span>小明同学的作业记录</span>
	</h4>

	<div class="home-work-info">
		<ul>
			<li>
				<h6>
					<p class="fl">测验成绩为<span>90分</span></p>
					<span class="fr">3月21日 星期四</span>
				</h6>
				
				<ul>
					<li>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-l"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
						<dl class="dl-r">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>小茗同学</h6>
								<div class="li-audio-m" data-audio="http://testwx.oss-cn-shanghai.aliyuncs.com/BIGBANG%20-%20IF%20YOU.mp3">
									<i class="hw-arr arr-r"></i>
								</div>
							</dd>
						</dl>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-t">
									<i class="hw-arr arr-l"></i>
									Emily的发音非常棒，发音很到位，棒棒哒
								</div>
							</dd>
						</dl>
					</li>

					<li>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-l"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
						<dl class="dl-r">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>小茗同学</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-r"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-l"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
					</li>

				</ul>
			</li>

			<li>
				<h6>
					<span>3月21日 星期四</span>
				</h6>
				
				<ul>
					<li>
						<dl class="dl-r">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>小茗同学</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-r"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-l"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</li>

			<li>
				<h6>
					<span>3月21日 星期四</span>
				</h6>
				
				<ul>
					<li>
						<dl class="dl-r">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>小茗同学</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-r"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-img">
									<i class="hw-arr arr-l"></i>
									<a href="/images/html/weixin_heck/heck_bg.png" rel="hw">
										<img src="/images/html/weixin_heck/heck_bg.png" />
									</a>
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</li>

			<li>
				<h6>
					<p class="fl">测验成绩为<span>92分</span></p>
					<span class="fr">3月21日 星期四</span>
				</h6>
				
				<ul>
					<li>
						<dl class="dl-r">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>小茗同学</h6>
								<div class="li-audio-m" data-audio="http://testwx.oss-cn-shanghai.aliyuncs.com/BIGBANG%20-%20IF%20YOU.mp3">
									<i class="hw-arr arr-r"></i>
								</div>
							</dd>
						</dl>
						<dl class="dl-l">
							<dt>
								<img src="/images/html/weixin_heck/cchead.jpg" />
							</dt>
							<dd>
								<h6>双双老师</h6>
								<div class="li-audio-t">
									<i class="hw-arr arr-l"></i>
									Emily的发音非常棒，发音很到位，棒棒哒
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<audio src="" preload="metadata"></audio>
</div>

<!--公共尾部结束-->
<script src="/js/html/project/weixin_heck/vendor.js"></script>
</html>
</body>