<!-- 官网突出公开课宣传 -->
<div class="ml_mask"></div>
<div class="mk_mask"> 
  <div class="mk_contain">
      <dl class="mk_adult mk-module">
      <a href="http://www.baidu.com" target="_blank" style="display:block;">
        <dt>
           <img src="../../../../images/html/www/ml_adult.jpg" alt=""> 
        </dt>
        <dd>
           <p><span>成人公开课</span></p>
           <p>海量英语学习干货</p>
           <p>实用口语、应试、兴趣应有尽有</p>
           <p>名师外教，全天授课</p>
           <em>免费预约</em>
        </dd>
        </a>
      </dl>
      
      <div class="mk_border"></div>
      <dl class="mk_junior mk-module">
       <a href="http://www.baidu.com" target="_blank" style="display:block;">
          <dt>
             <img src="../../../../images/html/www/ml_junior.jpg" alt=""> 
          </dt>
          <dd>
             <p><span>青少公开课</span></p>
             <p>绘本课程，有趣、启迪</p>
             <p>有亲和力、有爱心的老师</p>
             <p>培养英语学习兴趣</p>
             <em>免费预约</em>
          </dd>
        </a>
      </dl>
      <div class="mk_close">
        <img src="../../../../images/html/www/ml_close.png" alt=""> 
      </div>
  </div>
</div>