<!-- 官网突出公开课宣传 -->
<div class="jn_ml_mask" style="display:block;"></div>
<div class="jn_mk_mask" style="display:block;"> 
  <div class="jn_mk_contain">
      <div class="jn_mk_adult jn_mk-module">
      <a href="http://www.baidu.com" target="_blank" style="display:block;">
        <p>如何让孩子<span>爱上学英语？</span></p>
        <em>来参加51Talk青少英语公开课</em>
        </a>
      </div>
      
      <div class="jn_mk_border"></div>
      <dl class="jn_mk_junior jn_mk-module">
       <a href="http://www.baidu.com" target="_blank" style="display:block;">
          <dt>
             <img src="../../../../images/html/www/ml_junior.jpg" alt=""> 
          </dt>
          <dd>
             <p><span>青少公开课</span></p>
             <p>绘本课程，有趣、启迪</p>
             <p>有亲和力、有爱心的老师</p>
             <p>培养英语学习兴趣</p>
             <em>免费预约</em>
          </dd>
        </a>
      </dl>
      <div class="jn_mk_close">
        <img src="../../../../images/html/www/ml_close.png" alt=""> 
      </div>
  </div>
</div>