<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
  <title>选班成功</title>
</head>
<body>
  <div class="selectCourse" data-init="index"> 
      <div class="main">
         <h2><i></i>选班成功！扫码进服务群</h2>
         <div class="wx_box">
           <img src="<%=imagessrc%>wx.png" />
         </div>
         <div class="iterm">
            <div class="lf">一对多外教全程托管班level1</div>
            <div class="ri"><a href="javascript:;">查看我的课表 ></a></div>
         </div>
         <div class="s_table">
           <table>
              <thead>
                <tr>
                  <th class="th1">上课周期</th>
                  <th class="th2">课程内容</th>
                  <th class="th3">每周上课时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="2" class="time">2017/2/10-2017/8/10 </td>
                  <td>中教预习课24次</td>
                  <td>每周六10:00-10:50</td>
                </tr>
                <tr>
                  <td>外教一对四48次</td>
                  <td>每周一10:00-10:50、每周三10:00-10:50</td>
                </tr>
              </tbody>
           </table>
         </div>
      </div>
  </div>
</body>
<script src="<%= jssrc%>"></script>
</html>
