<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/heckFriendsCircle/common.css">
    <link rel="stylesheet" type="text/css" href="/css/html/heckFriendsCircle/admin.css">
</head>
<body data-init="admin" class="heck_admin">
    <div class="heck_top"></div>
    <div class="clear-fix heck_center" >
        <div class="time_list">
            <ul>
                <li class="cricle"><a href="javascript:;"></a>朋友圈</li>
                <li class="cur"><a href="javascript:;"></a>美国小学<span>(5)</span></li>
                <li><a href="javascript:;"></a>B2S</li>
                <li><a href="javascript:;"></a>青少</li>
                <li><a href="javascript:;"></a>成人</li>
            </ul>
        </div>
        <div class="content">
           <div class="introduce_mess">
                <div class="message">
                   <p class="title" >缺省状态</p>
                   <div class="mes_content">
                       <div class="text" data-value="8">
                            <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn" data-id="" user-group="">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                       <div class="text" data-value="1">
                            <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="message">
                   <p class="title">缺省状态</p>
                   <div class="mes_content ">
                       <div class="text" data-value="3">
                            <i>好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                       <div class="text">
                            <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="message">
                   <p class="title">缺省状态</p>
                   <div class="mes_content">
                       <div class="text">
                            <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                       <div class="text">
                           <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                   <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                   </div>
               </div>
                <div class="message">
                   <p class="title">缺省状态</p>
                   <div class="mes_content">
                       <div class="text">
                            <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i>
                            <span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                       <div class="text">
                            <i>您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长您好用户！欢迎加入51Talk次卡到期时未使用的课程将失效，有效期无法延长。</i><span class="close_btn">x</span>
                            
                            <div class="pop">
                                <h5 class="delet_mes">确定删除该消息吗？</h5>
                                <p class="clear-fix">
                                    <span class="sure_btn">确定</span>
                                    <span class="not_btn">取消</span>
                                </p>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="add_message">
            <form action="#">
                <p class="add_title">标题<input type="text" name="text"></p>
                <div class="change_text">
                   <textarea ></textarea>
                   <button type="submit">创建</button>
                </div>
                <input type="hidden">
            </form>
           </div>
           <div class="change_message">
            <form action="#">
               <p class="add_title">标题<input type="text"></p>
               <div class="change_text">
                   <textarea  ></textarea>
                   <div class="btn_mes">
                        <button class="save" type="submit">保存</button>
                        <button class="delet">取消</button>
                   </div>
                   <input type="hidden" name="" value="">
               </div>
            </form>
           </div>
        </div>
    </div>

    <!-- 绑定弹层 -->
    
<div class="footer"></div>    
</body>
<!--公共尾部结束-->
<script src="/js/html/project/heckFriendsCircle/vendor.js"></script>
</html>
