<% include ../common/top.ejs %>
<body>
    <div class="ac-popup-wrap">
        <div class="ac-popup-content">
        </div>
        <div class="ac-popup-bottom">
        </div>
    </div>
</body>
<% include ../common/bottom.ejs %>