<% include ../common/top.ejs %>
<body data-init="acpopupTea">
    <div class="ac-popup-wrap">
    	<!-- <p class="que_tit">课堂检测</p> -->
        <div class="ac-popup-content">
            <!-- 如果没有图片 或者 没有标题没有图片 加上class ac-popup-type2 -->
            <div class="ac-popup-type2">
    			<!-- <p class="type_title">口语测评题</p> -->
    			<p class="type_2_text">Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.Timmy bought some fruits and vegetables.</p>
    			<!-- <div class="type_2_img">
                    <img src="<%= imagessrc%>q_img.jpg" />
                </div> -->
            </div>
        </div>
        <div class="ac-popup-bottom">
        </div>
    </div>
</body>
<% include ../common/bottom.ejs %>