<% include ../common/top.ejs %>
<body data-init="teaType3">
    <div class="ac-popup-wrap">
        <div class="ac-popup-header clearfix">
            <p class="fl">Quiz</p>
            <p class="fr">
                <a href="javascript:void;" class="a-close">Go back to class</a>
            </p>
        </div>
        <div class="ac-popup-content">
            <p class="type_title">Result</p>
            <!-- 学生答案 -->
         <!--    <p class="type_4_text">Student's Answer : <span class="text_a tea_a">A</span></p>
            <p class="type_4_text">Did not answer</p>
            <p class="type_4_text">Correct Answer : <span class="text_a text_b tea_b">B</span></p> -->
            <!-- 倒计时 -->
            <p class="type_4_text answer_now">Student answering now</p>
            <p class="type_4_text"><span class="actimmer">Time remaining: <span class="time_se"><i>59</i> </span>seconds</span></p>
            <div class="type_4_content tea_con">
                <p class="cont_text">I ___ born in ___ on May 10th.</p>
                <div class="type_btn" yinpin="/images/html/ac_voice_share/horse.mp3">
                    <div class="ac_tip">点击此处播放</div>
                </div>
               <!--  <div class="choose_4">
                    <span>A. was, 2yyy005</span>
                    <span>B. am,2005</span>
                    <span>C. were is ss,2004</span>
                    <span>D. am,200nnnnnnnnn5</span>
                </div> -->
                <div class="choose_3">
                    <span>A. was, 2005</span>
                    <span>B. am,2005</span>
                    <span>C. were is ss,2004</span>
                   
                </div>
            </div>
        </div>
        <div class="ac-popup-bottom">
          <!--   <input type="button" value="Send to students" class="btn-teasend btn-disabled" disabled="disabled"  /> -->
        </div>
    </div>
    <div id="mp3Box"></div>
    <script>
        function acCallback(r,t){
            // window.location.assign("http://www.baidu.com");
        }
    </script>
</body>
<% include ../common/bottom.ejs %>