<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/EnglishCartoon/EnglishCartoon.css">
  <script type="text/javascript" src="http://sdk.cloud.chivox.com/chivoxsdk-js/v3.0/load_core.js"></script>
</head>
<body data-init="index">
<!-- 驰声必备 start-->
    <div id="aiPanel"><em class="play"></em><em class="record recordOff"></em><div>
<!-- 驰声必备 end-->
<!-- 录音弹层开始 -->
<div style="display:none" id="aiMediaDialog" class="aiMediaDialog aiMediaDialogClosed" >
    <div class="dialogTitle">
        设置面板
        <button class="dialogCloseButton">
            X
        </button>
    </div>
    <div class="dialogFlashError">
        <p class="flashVersion hidden">
            您电脑的Flash版本过低，请点击此链接升级。
            <br/>
            <a href="http://get.adobe.com/flashplayer/" target="_blank">点击下载最新Flash版本</a>
        </p>
        <p class="flashPlugin hidden">
            您的电脑没有安装或者禁用Flash插件，请确认。
            <br/>
            <a href="http://get.adobe.com/flashplayer/" target="_blank">点击下载最新Flash版本</a>
        </p>
    </div>
    <div class="dialogBody">
        <div id="recorder">
        </div>
    </div>
    <div class="dialogInfo">
        <a href="javascript:void(0);" onClick="$('#speak_tishi').slideToggle();">查看提示</a>
        <img id="speak_tishi" style="display:none;" src="http://cdn.iciba.com/web/dayWord/js/jqueryUI/img/flash.gif">
        <h5>状态信息</h5>
        <ul>
            <li class="loadFlashPlayer hidden">
                <span class="info">正在下载Flash播放器...</span>
            </li>
            <li class="loadFlashRecorder hidden">
                <span class="info">正在下载Flash录音机...</span>
            </li>
            <li class="connectServerInit hidden">
                <span class="error">还没有连接录音服务器</span>
            </li>
            <li class="connectServerStart hidden">
                <span class="info">正在连接录音服务器，请稍候...</span>
            </li>
            <li class="connectServerSuccess hidden">
                <span class="success">连接录音服务器成功</span>
            </li>
            <li class="connectServerError hidden">
                <span class="error">连接录音服务器失败，请<a href="javascript:aiPanel.recorder.reconnect();">重试</a></span>
            </li>
            <li class="micStatusAllow hidden">
                <span class="success">Flash可以访问麦克风</span>
            </li>
            <li class="micStatusDisallow hidden">
                <span class="error">Flash不能访问麦克风，请设置</span>
            </li>
            <li class="micStatusError hidden">
                <span class="error">没有找到录音设备，请检查</span>
            </li>
            <li class="mmscfgError hidden">
                <span class="error">Flash被禁止访问麦克风，请手动删除 mms.cfg文件，然后重试</span>
            </li>
        </ul>
    </div>
    <div class="dialogButton">
        <button class="okButton">
            确定
        </button>
    </div>
</div>
<div id="player"></div>
<div class="dialogBody"></div>
<div id="recorder"></div>
<!-- 录音弹层结束 -->
<!-- 顶部 -->
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/EnglishCartoon//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<!-- 导航 -->
<!-- 导航 -->
<div class="nav">
  <ul class="menu">
    <li class="menu-on"><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">学习理念</a></li>
    <li><a href="javascript:;">课程体系</a></li>
    <li><a href="javascript:;">青少年英语</a><i class="news"><img src="/images/html/EnglishCartoon//index_new.png" alt=""></i></li>
    <li><a href="javascript:;">外教师资</a></li>
    <li><a href="javascript:;">上课流程</a></li>
    <li><a href="javascript:;">51Talk学员</a></li>
    <li><a href="javascript:;">免费公开课</a></li>
  </ul>
</div>




<!-- 动漫列表 -->
<div class="cartoonList cartoon">
  <div class="g-list">
    <div class="list-width">
      <ul class="clearfix">
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/1.mp3"></div></div>
          <p class="list-right">Hickory, Dickory, Dock(5)</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/2.mp3"></div></div>
          <p class="list-right">Wheels On The Bus</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/3.mp3"></div></div>
          <p class="list-right">Twinkle Twinkle Little Star</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/4.mp3"></div></div>
          <p class="list-right">If You Are Happy</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/5.mp3"></div></div>
          <p class="list-right">字母歌</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/6.mp3"></div></div>
          <p class="list-right">Ten Little Indians</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/7.mp3"></div></div>
          <p class="list-right">We Like Fruit</p>
        </li>
        <li>
          <div class="list-left"><div class="playNow" data-url="/images/html/EnglishCartoon//mp3/8.mp3"></div></div>
          <p class="list-right">five little monkey</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 成人结束 -->
<!-- 尾部 -->
<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号 京公网安备11010802018414号
    </p>
  </div>
</div>
<script src="/js/html/project/EnglishCartoon/vendor.js"></script>
</body>
