<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/EnglishCartoon/EnglishCartoon.css">
</head>
<body data-init="index">
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <!-- <b><span>外教1对1</span>在线英语教育领导品牌</b> -->
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/EnglishCartoon//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<div class="hr_bo"></div>
<!-- 动漫列表 -->
<div class="cartoonList">
  <div class="g-top" id="g-top">
      <img src="/images/html/EnglishCartoon//g_top.png" alt="">
     <!--  <img src="/images/html/EnglishCartoon//g_icon.jpg" alt="" class="g_icon"> -->
  </div>
  <!-- 立即注册 -->
  <div class="reg">
    <div class="centerMth">
      <form action="" name="form" id="formBottom">
        <ul class="reg-ul">
          <li><span style="font-size:16px;" id="abcd">立即注册</span></li>
          <li class="reg-on"><input class="f_l jsCheck f_email" type="text" name="email" placeholder="请填写邮箱"></li>
          <li><input class="f_l f_r jsCheck f_password" type="password" name="password" placeholder="请填写密码" ></li>
          <li><input class="f_l f_r jsCheck f_mobile" type="text" name="mobile" placeholder="请填写手机号码" ></li>
          <li><input class="f_l f_r jsCheck f_mobile" type="text" name="mobile" placeholder="推荐人手机号/推荐码"></li>
          <li><label class="jscheckbox" ><input  type="checkbox" id="jscheckbox" checked ><a href="javascript:;">已同意用户协议</a></label></li>
          <li class="reg-li"><a  href="javascript:;"class="reg-btn jsSubmit" style="width:105px;">立即注册</a></li>
        </ul>
      </form>
    </div>
  </div>
   <!-- <div class="g-top">
      <img src="/images/html/EnglishCartoon//g_icon.jpg" alt="" class="g_icon">
  </div> -->
  <div class="g-list">
    <div class="list-width">
      <ul class="clearfix">
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_1.jpg" alt="">
          <p class="l-text1">The Boy Who Cried Wolf</p> 
          <p class="l-text1 l-text2">狼来了的故事</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_2.jpg" alt="">
          <p class="l-text1">The Simple Farmer and His Donkey</p>
          <p class="l-text1 l-text2">农户和他的驴子</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_3.jpg" alt="">
          <p class="l-text1">The Golden Eggs</p></a>
          <p class="l-text1 l-text2">狼来了的故事</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_4.jpg" alt="">
          <p class="l-text1">The Fox and the Rooster</p>
          <p class="l-text1 l-text2">农户和他的驴子</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_5.jpg" alt="">
          <p class="l-text1">The Bundle of Sticks</p>
          <p class="l-text1 l-text2">狼来了的故事</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_6.jpg" alt="">
          <p class="l-text1">The Donkey in the well</p>
          <p class="l-text1 l-text2">农户和他的驴子</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_7.jpg" alt="">
          <p class="l-text1">The Tortoise and the Hare</p>
          <p class="l-text1 l-text2">狼来了的故事</p> </a>
        </li>
        <li>
          <a href="javascript:;"><img src="/images/html/EnglishCartoon//l_8.jpg" alt="">
          <p class="l-text1">The Value of Stories</p>
          <p class="l-text1 l-text2">农户和他的驴子</p> </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 成人结束 -->

<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>
</div>
<script src="/js/html/project/EnglishCartoon/vendor.js"></script>
</body>
