/****************顶部栏********************/
body {
  font-family: "Arial";
}
.top_bar {
  position: relative;
  height: 97px;
  width: 1200px;
  margin: 0 auto;
}
.top_bar a.link_home {
  position: absolute;
  left: 0;
  top: 20px;
  width: 180px;
  height: 60px;
  background: url(../../../../images/html/www_ph/home_page/logo.png?v=BDZLgXoeI9bP3ZsCH29ZjA%3D%3D) no-repeat 0 center;
}
.top_bar .bar_list {
  position: relative;
  float: right;
  height: 97px;
}
.top_bar .bar_list > ul {
  float: left;
}
.top_bar .bar_list > ul li {
  float: left;
  height: 97px;
  line-height: 97px;
  padding-right: 30px;
  text-align: center;
}
.top_bar .bar_list > ul li a {
  color: #000;
}
.top_bar .bar_list > ul .current {
  font-weight: bold;
}
.top_bar .bar_list a.sign_in,
.top_bar .bar_list a.apply_now {
  float: left;
  width: 118px;
  height: 44px;
  line-height: 44px;
  color: #ffb412;
  background: #fff;
  border: 2px solid #ffb412;
  text-align: center;
  border-radius: 22px;
  margin: 26px 0 0 10px;
}
.top_bar .bar_list a.sign_in {
  margin-left: 30px;
}
.top_bar .bar_list a.apply_now {
  background: #ffb412;
  color: #fff;
}
.top_bar .bar_list .twinkle_line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 105px;
  height: 5px;
  border-radius: 6px;
  background: #ffb412;
}
/****************底部栏********************/
.footer {
  position: relative;
  height: 373px;
  background: #1b1b1b;
}
.footer > p > a {
  color: #999999;
}
.footer img {
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer .notice {
  position: relative;
  width: 435px;
  margin: 0 auto;
  padding-top: 115px;
}
.footer .notice li {
  float: left;
  padding-right: 30px;
  color: #ffc000;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
}
.footer .notice li a {
  color: #ffc000;
}
.footer .notice li:nth-child(5) {
  padding-right: 0;
}
.footer .notice .f_twinkle_line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 88px;
  height: 1px;
  background: #715e24;
}
.footer .share_to {
  width: 402px;
  padding: 20px 0;
  margin: 0 auto;
}
.footer .share_to a {
  float: left;
  margin: 0 15px;
  width: 26px;
  height: 24px;
  background: url(../../../../images/html/www_ph/home_page/footer_share_logo.png?v=MJVjj%2BNi7%2FEzjOciF9Jrvg%3D%3D) no-repeat;
}
.footer .share_to .facebook {
  background-position: 0 0;
}
.footer .share_to .twitter {
  background-position: -26px 0;
}
.footer .share_to .camero {
  background-position: -52px 0;
}
.footer .share_to .tt {
  background-position: -78px 0;
}
.footer .share_to .video {
  background-position: -104px 0;
}
.footer .share_to .in {
  background-position: -130px 0;
}
.footer .share_to .ws {
  background-position: -156px 0;
}
.footer p {
  text-align: center;
  color: #999999;
  font-size: 13px;
  line-height: 30px;
}
.footer .version {
  padding-top: 34px;
  color: #6b6b6b;
}
/******动画********/
@-webkit-keyframes move_list {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move_list {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
