<div class="result_header">
	<div class="wrap">
		<a href="javascript:;" class="home">官网首页</a>
		<div class="logo">
			<a href="javascript:;" class="talk_logo"></a>
			<a href="javascript:;" class="fltrp_logo"></a>
		</div>
		<em class="joint">联合出品</em>
	</div>
</div>