<% include ../common/top.ejs %>
<body data-init="answer">
<form action="" method="get" id="answerForm">
  <div class="dialog-wrap answer-wrap-pay">
    <div class="answer-pay-con">
      <div class="answer-pay-tit">购买精品辅导课VIP</div>
      <div class="answer-pay-text">获得举手发言、上课答题、趣味课外作业等特权。</div>
      <ul class="answer-pay-cost">
        <li>
          <dl class="cfix">
            <dt>20人精品外教班-36次课</dt>
            <dd><span class="line-through">598元</span> 298元</dd>
          </dl>
        </li>
        <li>
          <dl class="cfix">
            <dt>+<span>400<span>元 </span></span>升级至6人小班</dt>
            <dd>
              <span id="vipClass" class="no-selected btn-radio" data-yes="aaayes" data-no="bbbno">
                <input type="hidden" name="XX1" id="vipClass1" value="bbbno">
              </span>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="answer-pay-bottom">
      <span class="alipay" data-pay="alipay">支付宝购买</span>
      <span class="WeChat" data-pay="weixin.qq">微信购买</span>
      <input type="hidden" name="XX2" id="vipPay" value="">
    </div>
  </div>
<!-- <img src="<%= imagessrc%>account-headicon-agent.png" alt=""> -->
</form>
</body>
<% include ../common/bottom.ejs %>