<% include ../common/top.ejs %>
<body>
  <div class="dialog-wrap answer-wrap-paySuccess3">
    <div class="pay-tit">购买课程服务</div>
    <div class="pay-text">你已成功支付1对1外教全程托管班</div>
    <div class="pay-con"><span class="color1">外教1对1课 6节，中教课 2节</span><br>有效期<span class="color1">1个月</span>至<span class="color1">2016年12月13日</span></div>
    <div class="pay-bottom"><a href="#">马上选择中教课班级</a></div>
  </div>
<!-- <img src="<%= imagessrc%>account-headicon-agent.png" alt=""> -->
</body>
<% include ../common/bottom.ejs %>