<% include ../common/top.ejs %>
<body data-init="answer">
  <div class="dialog-wrap answer-wrap-pay">
    <div class="answer-pay-con">
      <div class="answer-pay-tit answer-pay-tit2">购买精品辅导课VIP</div>
      <div class="answer-pay-text">获得举手发言、上课答题、趣味课外作业等特权。</div>
    </div>
    <div class="answer-pay-bottom">
      <span class="paySuccess">您已购买</span>
    </div>
  </div>
</body>
<% include ../common/bottom.ejs %>