<% include ../common/top.ejs %>
<body>
  <div class="dialog-wrap answer-wrap-paySuccess3">
    <div class="pay-tit">购买课程服务</div>
    <div class="pay-text">你已经成功购买外教专属1对1课程！</div>
    <div class="pay-con">剩余次卡<span class="color1">10次</span><br>有效<span class="color1">1个月</span>至<span class="color1">2016年12月13日</span></div>
  </div>
<!-- <img src="<%= imagessrc%>account-headicon-agent.png" alt=""> -->
</body>
<% include ../common/bottom.ejs %>