<% include ../common/top.ejs %>
<body>
  <div class="dialog-wrap answer-wrap answer-wrap-buy">
    <div class="answer-tit">答题</div>
    <div class="answer-question">How ____ you!</div>
    <ul class="answer-option-txt cfix">
      <li>are</li>
      <li>is</li>
      <li>a</li>
      <li>old are</li>
    </ul>
    <a href="http://www.51talk.com/"><input type="button" value="购买课程，参与答题" class="answer-buy"></a>
    <div class="answer-dialog"></div>
  </div>
<!-- <img src="<%= imagessrc%>account-headicon-agent.png" alt=""> -->
</body>
<% include ../common/bottom.ejs %>