<% include ../common/top.ejs %>
<body data-init="answer">
<form action="" method="get" id="answerForm">
  <div class="dialog-wrap answer-wrap">
    <div class="answer-tit">答题</div>
    <div class="answer-question-2">I was born on May 10th.</div>
    <div class="answer-question-pic-text">
      <img src="<%= imagessrc%>answer-pic-01.jpg" alt="">
    </div>
    <ul class="answer-option-txt cfix">
      <li data-val="a"><span class="yes-no txt-no">A</span>was,2005</li>
      <li data-val="b"><span class="yes-no">B</span>am,2005</li>
      <li data-val="c"><span class="yes-no txt-yes">C</span>where,2004</li>
      <li data-val="d"><span class="yes-no">D</span>am,2004</li>
    </ul>
    <input type="hidden" name="val" id="answerVal" value="">
    <div class="answer-dialog">
      <a href="http://www.51talk.com/"><input type="button" value="购买课程，参与答题" class="answer-buy"></a>
    </div>
  </div>
</form>
</body>
<% include ../common/bottom.ejs %>