<% include ../common/top.ejs %>
<body>
  <div class="dialog-wrap answer-wrap-pay answer-wrap-paySuccess">
    <div class="answer-pay-con">
      <div class="answer-pay-tit">购买成功</div>
      <div class="answer-pay-text">您可以举手上麦，参与答题啦！</div>
    </div>
    <div class="answer-pay-bottom">
      <a href="http://www.51talk.com/"><input type="button" value="我知道了" class="pay-btn"></a>
    </div>
  </div>
<!-- <img src="<%= imagessrc%>account-headicon-agent.png" alt=""> -->
</body>
<% include ../common/bottom.ejs %>