<% include ../common/top.ejs %>
<body>
  <div class="dialog-wrap answer-wrap">
    <div class="answer-buy-prompt">购买课程后即可举手发言啦～</div>
    <a href="http://www.51talk.com/"><input type="button" value="购买课程，参与答题" class="answer-buy"></a>
  </div>
</body>
<% include ../common/bottom.ejs %>