<% include ../common/top.ejs %>
<body>
  <div class="dialog-wrap QRcode-wrap">
    <div class="QRcode-con">
      <div class="QRcode-title"><img src="<%= imagessrc%>QRcode-02.png" alt=""></div>
      <!-- <div class="QRcode-tit">51Talk家长服务微信群</div> -->
      <!-- <div class="QRcode-text">分享至微信，邀请同学一起来学习! 长按二维码识别加入!</div> -->
      <div class="QRcode-pic"><img src="<%= imagessrc%>QRcode-01.png" alt=""></div>
    </div>
    <div class="QRcode-bottom">
      <a href="http://www.51talk.com/"><input type="button" value="立即加入" class="QRcode-btn prohibit-btn"></a>
    </div>
  </div>
<!-- <img src="<%= imagessrc%>account-headicon-agent.png" alt=""> -->
</body>
<% include ../common/bottom.ejs %>