<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/sellBuy20170504/sellBuy20170504.css"> 
</head>
<body>
  <div  data-init="index" id="container" class="sell">
    <div class="s_tip"><i class="tipclose"></i>
      您已购买课程，尚未完成选班，选完班才能上课哦！ 
    </div>
    <div class="s_steps">
      
    </div>
    <div class="sellBuy">
      <div class="main">
        <p class="tit">选择具体班级</p>
        <div class="class clearfix">
            <span class="fl ">中教上课时间：</span>
            <div class="fl seleter">
              <div class="selectors">请选择<i></i></div>
              <div class="c_teach listbox">
                <div class="list" data-course-id="1">周六10:00-10:50</div>
                <div class="list" data-course-id="2">周六10:00-10:50</div>
              </div>
            </div>
            <span class="fl">外教上课时间：</span>
            <div class="fl seleter">
              <div class="selectors">请选择<i></i></div>
              <div class="f_teach listbox">
                <div class="list" data-course-id="3">周一、二 19:00-19:50</div>
                <div class="list" data-course-id="4">周一、二 19:00-19:50</div>
              </div>
            </div>
        </div>
        <p class="classTntro">Level1-b3全程托管特价班<i></i></p>
        <div class="class clearfix">
          <span class="fl">上课周期：</span>
          <span class="fl ri">2017.02.11-2017.08.11</span>
        </div>
        <div class="class timeIntro clearfix">
          <span class="fl">上课时间：</span>
          <span class="fl ri">周六10:00-10:50（中教1对12）</span>
          <span class="fl dec">|</span>
          <span class="fl ri">周一19:00-19:50（外教1对4）</span>
          <span class="fl ri lt">周三19:00-19:50（外教1对4）</span>
        </div>
      </div>
      <div class="footer clearfix">
        <a href="javascript:;" class="subBtn fl">提交选班</a>
        <span class="fl">还剩<i>16</i>个名额</span>
      </div>
    </div>
  </div>
<script src="/js/html/project/sellBuy20170504/vendor.js"  id="seajsnode"></script>
</body>
</html>
