<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/studyPlan/studyPlan.css">
</head>
<body>
  <div class="tr-report" data-init="testReport">
      <div class="header">
          <div class="headerIn">
             <a href="javasctipt:;">官网首页</a>
          </div>
      </div>
      <div class="main">
          <div class="banner">
              <h3>
                 <span>Blue的学习计划</span><br />
                 学好英语的终极秘籍 
              </h3>
          </div>
          <div class="content">
              <div class="title">
                  学习英语第一步，设定我的努力目标  
              </div>
                <!-- 成人 -->
              <div class="m-bar-table">
                <!-- 从level1到level16  对应着相应的class -->
                <img class="u-start s_level2" src="/images/html/studyPlan/menber/up_z/level_start.png" alt="">
                <img class="u-end e_level11" src="/images/html/studyPlan/menber/up_z/level_end.png" alt="">
                <ul class="f-cb">
                  <li class="f-cb-li"></li>
                  <li class="icon1"></li>
                  <li class="icon2"></li>
                  <li class="icon3"></li>
                  <li class="icon4"></li>
                  <li class="icon5"></li>
                  <li class="icon6"></li>
                </ul>
                <div class="m-level-des">
                  <img class="u-arrow arrow1" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级1 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                  <!-- 教材预览1 start-->
                 <!--  <p>
                   <span class="f-clgay"><em>教材预览</em>（点击可查看完整教材）</span>
                    <div class="f_book">
                        <div class="f_book_left f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level6 教材示例</p></a>
                        </div>
                        <div class="f_book_center f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level7 教材示例</p></a>
                        </div>
                        <div class="f_book_right f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level8 教材示例</p></a>
                        </div>

                    </div>
                  </p> -->
                  <!-- 教材预览1 end-->
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow2" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级4 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                  <!-- 教材预览1 start-->
                 <!--  <p>
                   <span class="f-clgay"><em>教材预览</em>（点击可查看完整教材）</span>
                    <div class="f_book">
                        <div class="f_book_left f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level6 教材示例</p></a>
                        </div>
                        <div class="f_book_center f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level7 教材示例</p></a>
                        </div>
                        <div class="f_book_right f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level8 教材示例</p></a>
                        </div>

                    </div>
                  </p> -->
                  <!-- 教材预览1 end-->
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow3" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级7 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                  <!-- 教材预览1 start-->
                  <!-- <p>
                   <span class="f-clgay"><em>教材预览</em>（点击可查看完整教材）</span>
                    <div class="f_book">
                        <div class="f_book_left f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level6 教材示例</p></a>
                        </div>
                        <div class="f_book_center f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level7 教材示例</p></a>
                        </div>
                        <div class="f_book_right f_book_list">
                           <a href="javascript:;"> <img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                           <a href="javascript:;"> <p>Level8 教材示例</p></a>
                        </div>

                    </div>
                  </p> -->
                  <!-- 教材预览1 end-->
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow4" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级10 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                  <!-- 教材预览1 start-->
                  <!-- <p>
                   <span class="f-clgay"><em>教材预览</em>（点击可查看完整教材）</span>
                    <div class="f_book">
                        <div class="f_book_left f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level6 教材示例</p></a>
                        </div>
                        <div class="f_book_center f_book_list">
                           <a href="javascript:;"> <img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                           <a href="javascript:;"> <p>Level7 教材示例</p></a>
                        </div>
                        <div class="f_book_right f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level8 教材示例</p></a>
                        </div>

                    </div>
                  </p> -->
                  <!-- 教材预览1 end-->
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow5" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级13 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                  <!-- 教材预览1 start-->
                 <!--  <p>
                   <span class="f-clgay"><em>教材预览</em>（点击可查看完整教材）</span>
                    <div class="f_book">
                        <div class="f_book_left f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                           <a href="javascript:;"><p>Level6 教材示例</p></a>
                        </div>
                        <div class="f_book_center f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level7 教材示例</p></a>
                        </div>
                        <div class="f_book_right f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level8 教材示例</p></a>
                        </div>

                    </div>
                  </p> -->
                  <!-- 教材预览1 end-->
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow6" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级16 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                  <!-- 教材预览1 start-->
                  <!-- <p>
                   <span class="f-clgay"><em>教材预览</em>（点击可查看完整教材）</span>
                    <div class="f_book">
                        <div class="f_book_left f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level6 教材示例</p></a>
                        </div>
                        <div class="f_book_center f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level7 教材示例</p></a>
                        </div>
                        <div class="f_book_right f_book_list">
                            <a href="javascript:;"><img class="f_bookImg" src="/images/html/studyPlan/menber/up_z/f_book.jpg" alt="" width="272" height="156"></a>
                            <a href="javascript:;"><p>Level8 教材示例</p></a>
                        </div>

                    </div>
                  </p> -->
                  <!-- 教材预览1 end-->
                </div>
              </div>
              <!-- 青少 -->
              <div class="m-bar-table-2">
                <!-- 从level0到level13  对应着相应的class -->
                <img class="u-start s_level0" src="/images/html/studyPlan/menber/up_z/level_start.png" alt="">
                <img class="u-end e_level11" src="/images/html/studyPlan/menber/up_z/level_end.png" alt="">
                <ul class="f-cb">
                  <li class="add-f-cb"></li>
                  <li class="icon0"></li>
                  <li class="icon1"></li>
                  <li class="icon2"></li>
                  <li class="icon3"></li>
                  <li class="icon4"></li>
                </ul>
                <div class="m-level-des">
                  <img class="u-arrow arrow0" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级0 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow1" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级1 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow2" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级4 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow3" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级7 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                </div>
                <div class="m-level-des f-dn">
                  <img class="u-arrow arrow4" src="/images/html/studyPlan/menber/up_z/des_tri.jpg" alt="" width="26" height="13">
                  <h4>级别说明</h4>
                  <p>
                    <span class="f-clgay">您的等级是：</span>
                    <span class="f-clb">等级10 初级 Elementary</span>
                  </p>
                  <p>
                    <span class="f-clgay">课程选择与重点：</span>
                    <span>
                      我们建议您选择中教零基础课程套餐。在这个时期，您需要系统做好基础知识的储备，克服心理障碍，培养学习兴趣。小班课上的轻松气氛，老师的耐心讲解和纠错有助于您树立英语学习的信心。在中教零基础课结束后您将熟练掌握1300+单词，流利输出240+实用句型，轻松应对日常生活八大主题，五十多个具体场景。套餐中的外教课可以帮助您在上课期间或课程结束后随时与外教强化演练，巩固学习效果。
                    </span>
                  </p>
                  <p>
                    <span class="f-clgay">教师选择：</span>
                    <span>
                      我们建议您选择中外教搭配：中教小班课打基础巩固知识，循序渐进。外教带您强化练习口语。
                    </span>
                  </p>
                  <p>
                  <span class="f-clgay">学习方法：</span>
                    <span>
                      在起步阶段：累积必要的日常词汇、训练正确的发音习惯、学会实用句型、熟悉英文真实场景，从而培养英语思维习惯， 对您日后的学习起到至关重要的作用。
                    </span>
                  </p>
                </div>
              </div>
              <!-- 青少结束 -->
               <div class="title titleMargin">
                 设定合理的学习计划   
              </div>
              <div class="txt">
                  <ul>
                      <li class="one">
                          <dl>
                              <dt>
                                  经典英语<br />
                                  <span>CLASSIC ENGLISH</span>
                              </dt>
                              <dd>
                                  <div class="left">200节</div>
                                  <div class="right">每周5节</div>
                              </dd>
                          </dl>
                      </li>
                      <li class="two">
                          <dl>
                              <dt>
                                  精品小班课<br />
                                  <span>GROUP CLASS</span>
                              </dt>
                              <dd>
                                  <div class="left">23节</div>
                                  <div class="right">每周3节</div>
                              </dd>
                          </dl>
                      </li>
                      <li class="three">
                          <dl>
                              <dt>
                                  精品公开课<br />
                                  <span>OPEN CLASS</span>
                              </dt>
                             <dd>
                                  <div class="left">10节</div>
                                  <div class="right">每周2节</div>
                              </dd>
                          </dl>
                      </li>
                  </ul>
                  <ul class="bot">
                      <li class="one">
                          <dl>
                              <dt>
                                  旅游英语<br />
                                  <span>TRAVEL ENGLISH</span>
                              </dt>
                              <dd>
                                  <div class="left">200节</div>
                                  <div class="right">每周5节</div>
                              </dd>
                          </dl>
                      </li>
                      <li class="two">
                          <dl>
                              <dt>
                                  商务英语<br />
                                  <span>BUSINESS ENGLISH</span>
                              </dt>
                              <dd>
                                  <div class="left">123节</div>
                                  <div class="right">每周3节</div>
                              </dd>
                          </dl>
                      </li>
                     
              </div>
               <div class="title titleMargin">
                 顾问给我的学习建议 
              </div>
              <!-- 成人 -->
              <div class="txt" style="display:none">
                  <P>
                    学习建议： 在此阶段，您已经度过了不敢开口的心理障碍，建议您一定要及时预习和复习；和外教就比较广泛的话题进行讨论，课上一定要多多沟通；平时多多
                    阅读不同题材和文体的文章，也可以借读教材中的大段文章多做练习，在阅读中可以充分扩充词汇，相应的在课上多加练习，也就提高了您的应用能力；另外建
                    议您多尝试英文写作练习，毕竟很多学员在写作上还是有一些差距的，所以平常多做一些写作练习可以在课上和老师多做一些沟通以提升自己的写作水平哦
                  </P>
              </div>
              <!-- 青少 -->
              <div class="juniorTxt" >
                   <h3>中教课+外教1对1课程</h3>
                   <span>先通过中教课来学习英语，打下一定的基础后能更好的和外教进行学习。</span>
                   <p>
                      相信不论你学习英语是为了满足日常沟通的需要，还是为了工作和职业的发展，<br />
                      不论你现在处于英语学习的哪个阶段，想要前往哪个阶段，51Talk都有信心帮你达成目标。
                   </p>
              </div>
            <!-- 按钮 -->
            <div class="footer">
                <a href="javscript:;">马上免费体验</a>
            </div>

          </div>
      </div>
  </div>
</body>
<script src="/js/html/project/studyPlan/vendor.js"></script>
</html>
