<% include ../common/user_center/up_top.ejs %>
<body data-init="up_course21574">
<!-- author:huhaili pms:21574  timestamp:2016/4/25-->
<!-- header  -->
<% include ../common/user_center/up_g_h.ejs %>
<% include ../common/user_center/up_g_b.ejs %>
<!-- /header  -->
<div class="g-in f-cb">
  <% include ../common/user_center/up_s_bar.ejs %>
  <div class="g-center">
    <% include ../../../components/html/up_course21574/ejs/modules/course.ejs %>
  </div>
</div>
<% include ../common/user_center/up_g_f.ejs %>
</body>
<% include ../common/user_center/up_bottom.ejs %>
