<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>51Talk - The No.1 online English school in China </title>
    <link rel="stylesheet" href="<%= csslink%>">
    <link rel="stylesheet" href="../../../less/html/vide_more/jquery.mCustomScrollbar.min.css">
</head>
<body>
<div class="more-video" data-init="video" id="container">
  <div class="topbar">
    <a href="javascript:;" class="logo"></a>
    <div class="name">
      <label>课程回顾</label> Lesson 8  Homework
    </div>
  </div>
  <div class="video-container">
    <div class="video-wrap">
      <div class="video-wrap__container">
        <div class="video-nav-img"><img src="<%= imagessrc%>video_img.png" alt=""></div>
      </div>
    </div>
  </div>
</div>
</body>
<% include ../common/bottom.ejs %>
<script src="../../../js/html/project/vide_more/jquery.mousewheel.min.js"></script>
<script src="../../../js/html/project/vide_more/jquery.mCustomScrollbar.min.js"></script>