<% include ../common/user_center/up_top.ejs %>
<% include ../common/user_center/up_g_h.ejs %>
<div class="appoint_course" id="container" data-init="course">
	<div class="choose_wrap clearfix">
		<div class="choose_options clearfix">
			<h3 class="u-tit">上课时间</h3>
			<ul class="m-day-lst">
				<li class="u-cur"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li class="change_day_btn">后七天 ></li>
			</ul>
			<div class="m-time-wrap">
				<div class="f-select">
					<p class="f-val" id="time_val"></p>
					<ul class="f-options" id="time_area">
					</ul>
				</div>
				<ul class="m-time-lst clearfix" id="time_list">
				</ul>
			</div>
		</div>
		<div class="choose_teacher_advantage">
			<h3 class="u-tit">筛选老师</h3>
			<div class="f-select m-teacher-sex" id="select_sex">
				<p class="f-val" id="sex_val">外教性别</p>
				<ul class="f-options" id="sex_list">
					<li data-item="men">男</li>
					<li data-item="women">女</li>
					<li data-item="All">不限</li>
				</ul>
			</div>
			<div class="f-select m-teacher-advantage" id="select_advantage">
				<p class="f-val" id="advantage_val">外教特点</p>
				<div class="f-options checkbox-wrap">
					<ul class="f-checkbox" id="advantage_list">
						<li data-item="真人比照片长的帅">我就是我</li>
						<li data-item="天爱他那">天堂</li>
						<li data-item="金港国际观看">感觉感觉到杭后</li>
						<li data-item="钢结构科技馆">公积金非农户</li>
						<li data-item="5_1">国防军给女人经济</li>
						<li data-item="6_1">6</li>
						<li data-item="7_1">7</li>
						<li data-item="8_1">8</li>
						<li data-item="9_1">9</li>
						<li data-item="10_1">10</li>
					</ul>
					<a href="javascript:;" class="advantage_sure_btn">确定</a>
				</div>
			</div>
            <input type="text" placeholder="请输入老师姓名" class="m-teacher-name" id="teacher_name">
			<a href="javascript:;" class="u-ac-btn no-use-ac" id="ac_val" style='display: none'>使用AC上课</a>
		</div>
		<a href="javascript:;" class="search_btn" data-url="" id="search_btn">&nbsp;&nbsp;</a>
	</div>
	<div class="teacher_info">
        <div class="teacher_info_tips teacher_info_loading">
            <img src="<%= imagessrc%>/search_loading.png">  
            <p>正在努力搜索中...</p>
        </div>
        <div class="teacher_info_tips teacher_info_none">
            <img src="<%= imagessrc%>/search_none.png">  
            <p>没找到符合所有搜索条件的老师 换个条件搜索试试！</p>
        </div>
		<ul class="teacher_info_lst clearfix">
		</ul>
		<div id="pagination" class="pagination">
		</div>
	</div>
</div>
<!-- 弹层没有选择上课时间 -->
<div class="f-mask" id="appoint_notimes_tips">
    <div class="appoint_notimes_tips">
        <a href="javascript:;" class="close_btn r_close_btn"></a>
        <p class='e_tips'>您还没选择上课时间哟！</p>
        <a href="javascript:;" class="b_close_btn close_btn">确 认</a>
    </div>
</div>
<input type="hidden" id="teacher_info_url" name="" data-url="/nat/reserve/getReserveTeacher">
<script>
    var dayData = {
        "current": [
            {
                "show_time": "今天(周五)",
                "time": "20170317",
                "able": "1"
            },
            {
                "show_time": "明天(周六)",
                "time": "20170318",
                "able": "1"
            },
            {
                "show_time": "后天(周日)",
                "time": "20170319",
                "able": "1"
            },
            {
                "show_time": "3月20日(周一)",
                "time": "20170320",
                "able": "1"
            },
            {
                "show_time": "3月21日(周二)",
                "time": "20170321",
                "able": "0"
            },
            {
                "show_time": "3月22日(周三)",
                "time": "20170322",
                "able": "1"
            },
            {
                "show_time": "3月23日(周四)",
                "time": "20170323",
                "able": "1"
            }
        ],
        "next": [
            {
                "show_time": "3月24日(周五)",
                "time": "20170324",
                "able": "1"
            },
            {
                "show_time": "3月25日(周六)",
                "time": "20170325",
                "able": "1"
            },
            {
                "show_time": "3月26日(周日)",
                "time": "20170326",
                "able": "1"
            },
            {
                "show_time": "3月27日(周一)",
                "time": "20170327",
                "able": "1"
            },
            {
                "show_time": "3月28日(周二)",
                "time": "20170328",
                "able": "0"
            },
            {
                "show_time": "3月29日(周三)",
                "time": "20170329",
                "able": "1"
            },
            {
                "show_time": "3月30日(周四)",
                "time": "20170330",
                "able": "1"
            }
        ],
        "favorite": "35",
        "page_size": "12",
        "current_time": "34"
    };
</script>
</body>
<% include ../common/user_center/up_bottom.ejs %>
<script src="/js/html/project/appoint_course/jquery.pagination.js"></script>