<% include ../common/reg_top.ejs %>
<body>
	<% include ../common/reg_header.ejs %>
	<article class="m-acc">
		<div class="m-hd">
	        <a href="javascript:;" class="u-back"><</a>
	        账户信息  
	    </div>
	    <div class="m-ct">
	        <ul class="m-lst">
	            <li>
	                <span class="u-key">剩余次卡：</span>
	                <span class="u-value">2次</span>
	                <a href="#" class="link">立即预约</a>
	            </li>
	            <li>
	                <span class="u-key">邮箱：</span>
	                <span class="u-value">saturday@51talk.com</span>
	            </li>
	            <li>
	                <span class="u-key">昵称：</span>
	                <span class="u-value">saturday</span>
	            </li>
	            <li>
	                <span class="u-key">QQ：</span>
	                <span class="u-value f-clb">583603514</span>
	            </li>
	            <li>
	                <span class="u-key">SkypeID：</span>
	                <span class="u-value"></span>
	            </li>
	            <li>
	                <span class="u-key">手机号：</span>
	                <span class="u-value f-clb">13811774679</span>
	            </li>
	        </ul>
	        <a href="javascript:;" class="u-btn">退出登录</a>
	    </div>
	</article>
	<% include ../common/reg_footer.ejs %>
</body>
<% include ../common/reg_bottom.ejs %>