<% include ../common/reg_top.ejs %>
<body>
	<% include ../common/reg_header.ejs %>
	<span class="hd_word">已预约课程</span>
	<section class="order order_add" data-init="reg" id="container">
	    <article>
	        <aside>
	            <img src="<%= imagessrc%>banner_home3.jpg" class="icon">
	            <br><span class="t-name">Marry</span>
	            <p>1次次卡</p>
	        </aside>
	        <dl>
	            <dt>老师上课时间</dt>
	            <dd>2013-11-02 星期五 </dd>
	            <dd>22:15-22:40 &nbsp;&nbsp;&nbsp;<a href="#" class="delclass">取消课程</a></dd>
	            <dd>综合英语>>51Talk经典英语在家学习英语的好方法</dd>
	            <dd>QQ:<font>32950496</font></dd>
	            <dd>Descibing where to spend the weekend</dd>
	        </dl>
	        <ul class="order-ac-btn">
	        	<li><a href="" class="link">下载教材</a></li>
	        	<li><a href="" class="link">上课常用语</a></li>
	        	<li><a href="" class="link">修改课程</a></li>
	        </ul>
	        <p class="ac-text">温馨提示: 您所选择的上课工具为51Talk专业上课软件AC, 为保证您能顺畅完成 ,请通过电脑在51Talk.com下载安装，或通过已预约课程中的<a href="#">修改课程</a>来更换上课方式(qq或skype)。
					</p>
	    </article>
			<article>
	        <aside>
	            <img src="<%= imagessrc%>banner_home3.jpg" class="icon">
	            <br><span class="t-name">Marry</span>
	            <p>1次次卡</p>
	        </aside>
	        <dl>
	            <dt>老师上课时间</dt>
	            <dd>2013-11-02 星期五 </dd>
	            <dd>22:15-22:40 &nbsp;&nbsp;&nbsp;<a href="#" class="delclass">取消课程</a></dd>
	            <dd>综合英语>>51Talk经典英语在家学习英语的好方法</dd>
	            <dd>QQ:<font>32950496</font></dd>
	            <dd>Descibing where to spend the weekend</dd>
	        </dl>
	        <ul class="order-ac-btn">
	        	<li><a href="" class="link">下载教材</a></li>
	        	<li><a href="" class="link">上课常用语</a></li>
	        </ul>
	    </article>
	    <article>
	        <aside>
	            <img src="<%= imagessrc%>banner_home3.jpg" class="icon">
	            <br><span class="t-name">Marry</span>
	            <p>1次次卡</p>
	        </aside>
	        <dl>
	            <dt>老师上课时间</dt>
	            <dd>2013-11-02 星期五 </dd>
	            <dd>22:15-22:40 &nbsp;&nbsp;&nbsp;<a href="#" class="delclass">取消课程</a></dd>
	            <dd>综合英语>>51Talk经典英语在家学习英语的好方法</dd>
	            <dd>QQ:<font>32950496</font></dd>
	            <dd>Descibing where to spend the weekend</dd>
	        </dl>
	        <ul class="order-ac-btn">
	        	<li><a href="" class="link">下载教材</a></li>
	        	<li><a href="" class="link">上课常用语</a></li>
	        	<li><a href="" class="link">修改课程</a></li>
	        </ul>
	        <p class="ac-text">温馨提示: 您所选择的上课工具为51Talk专业上课软件AC, 为保证您能顺畅完成 ,请通过电脑在51Talk.com下载安装，或通过已预约课程中的<a href="#">修改课程</a>来更换上课方式(qq或skype)。
					</p>
	    </article>
	</section>
	<footer>
	    <aside class="second">   
	        <a href="#"><img src="<%= imagessrc%>base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<% include ../common/reg_bottom.ejs %>