<% include ../common/reg_top.ejs %>
<body>
	<% include ../common/reg_header.ejs %>
		<section class="order">
		    <article>
		        <aside>
		            <img src="<%= imagessrc%>banner_home3.jpg" class="icon">
		            <br>Marry
		            <p>
		                <i class="yellow"></i>
		                <i class="yellow"></i>
		                <i class="yellow"></i>
		                <i class="yellow"></i>
		                <i class="gray"></i>    
		            </p>
		        </aside>
		        <dl>
		            <dt>老师上课时间</dt>
		            <dd>2013-11-02 周四</dd>
		            <dd>22:15-22:40</dd>
		            <dd>综合英语>>51Talk经典英语在家学习英语的好方法</dd>
		            <dd>Descibing where to spend the weekend</dd>
		        </dl>
		    </article>
		    <ul>
		        <li>体验报告:</li>
		        <li>您目前的51Talk英语级别:</li>
		        <li>等级8 中级 Intermediata</li>
		        <li>请在电脑上登录51Talk查看详细测评数据。</li>
		    </ul>
		</section>
		<b class="btn_word">如需购买课程，请在电脑上登录51Talk网站购买。</b>
	<% include ../common/reg_footer.ejs %>
	<footer>
	    <aside class="second">   
	        <a href="#"><img src="<%= imagessrc%>base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<% include ../common/reg_bottom.ejs %>