<!-- header -->
<% include common/header.ejs %>
<!-- header end -->
<body>
<div class="scenes-box" id="container" data-init="scenes">
	<span class="f-prev"></span>
	<span class="f-next"></span>
	<div class="g-main">
		<ul class="scene-list">
		</ul>
	</div>
</div>
</body>
<script>
	var  sceneData = 	
	{
	    "sys_sound":{
	        "clickDomMusic":"http://www.51talk.com/upload/efl_audio/prepar/d8a37797e525673f793e4ecab4f74c80_160907deb.mp3",
	        "backgroundMusic":"http://www.51talk.com/upload/efl_audio/prepar/a1b811f3c2c96f708cc9a5f7cc48b8ca_1609079ab.mp3",
	        "unitLockMusic":"http://www.51talk.com/upload/efl_audio/prepar/f2a8878c4f8a03cd7d91e0863d8065d9_160907e0e.mp3",
	        "unitOpenMusic":"http://www.51talk.com/upload/efl_audio/prepar/32a389e3e1df4afe59f70e67e795dcfe_160907396.mp3",
	        "unitOnMusic":"http://www.51talk.com/upload/efl_audio/prepar/e40dc2ce24e10bd6d00b3ef238e96f09_160907df1.mp3",
	        "unitOverMusic":"http://www.51talk.com/upload/efl_audio/prepar/8d73bb233d46fb2ae930cd9bf2e9ce63_160907e01.mp3",
	        "EricSpeak":"http://www.51talk.com/upload/efl_audio/prepar/76f8a4ce32d8a58990b434e736382e0c_1609077a8.mp3"
	    },
	    "scene":[
	        {
	            "bg_src":"../../../images/html/north_america_unittest2/scenes_bg01.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest2/startUnit_bg01.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":53,
	                        "y":142
	                    },
	                    "animal":{/*关卡状态 0：lock 1:open 2:on 3:over*/
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit01_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit01_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit01_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit01_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit01.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":34.7,
	                        "y":242
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit02_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit02_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit02_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit02_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit02.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":39.5,
	                        "y":530
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit03_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit03_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit03_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit03_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit03.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":58.4,
	                        "y":588
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit04_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit04_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit04_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit04_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit04.png"
	                        }
	                    }
	                }
	            ]
	        },
	        {
	            "bg_src":"../../../images/html/north_america_unittest2/scenes_bg02.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest2/startUnit_bg02.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":165,
	                        "y":30
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit05_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit05_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit05_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit05_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit05.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":268,
	                        "y":252
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit06_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit06_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit06_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit06_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit06.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":500,
	                        "y":428
	                    },
	                    "animal":{
	                        "images":{
	                             "lock":"../../../images/html/north_america_unittest2/unit07_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit07_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit07_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit07_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit07.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":688,
	                        "y":130
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit08_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit08_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit08_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit08_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit08.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                }
	            ]
	        },
	        {
	            "bg_src":"../../../images/html/north_america_unittest2/scenes_bg03.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest2/startUnit_bg03.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":84,
	                        "y":393
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit09_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit09_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit09_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit09_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit09.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":210,
	                        "y":211
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit10_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit10_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit10_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit10_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit10.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":390,
	                        "y":30
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit11_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit11_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit11_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit11_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit11.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":613,
	                        "y":415
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit12_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit12_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit12_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit12_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit12.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                }
	            ]
	        },
	        {
	            "bg_src":"../../../images/html/north_america_unittest2/scenes_bg04.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest2/startUnit_bg04.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":96,
	                        "y":257
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit13_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit13_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit13_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit13_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit13.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":320,
	                        "y":30
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit14_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit14_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit14_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit14_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit14.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":695,
	                        "y":25
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit15_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit15_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit15_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit15_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit15.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":471,
	                        "y":385
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest2/unit16_4.png",
	                            "open":"../../../images/html/north_america_unittest2/unit16_2.png",
	                            "on":"../../../images/html/north_america_unittest2/unit16_1.png",
	                            "over":"../../../images/html/north_america_unittest2/unit16_3.png",
	                            "start":"../../../images/html/north_america_unittest2/start_unit16.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                }
	            ]
	        }
	    ],
	    "level":{
	        "level_process":1,
	        "level_list":[
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40153",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40173",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40183",
	                "last_batch_no":"0",
	                "star":"1",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40193",
	                "last_batch_no":"0",
	                "star":"3",
	                "fragment":"",
	                "status":"3"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"41241",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"41251",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"3"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482551",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482641",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482731",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482821",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482911",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"3"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483001",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483091",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483181",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483271",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483361",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            }
	        ]
	    }
	}; 
	var puzzlesJSON = 
	{
		"addcards":"true",
    	"puzzleImage":{
            "boss_image":"",
            "img_width":"80",
            "img_height":"80",
            "x_num":8,
            "y_num":6,
            "head_x_y":"5-5"
    	},
    	"fragment":[
            "4-3",
            "4-1",
            "4-2",
            "4-4",
            "3-2",
            "3-4",
            "3-1",
            "3-5",
            "4-3",
            "4-1",
            "4-2",
            "4-4",
            "3-2",
            "3-4",
            "3-1",
            "3-5",
            "4-3",
            "4-1",
            "4-2",
            "4-4",
            "3-2",
            "3-4",
            "3-1",
            "3-5",
            "4-3",
            "4-1",
            "4-2",
            "4-4",
            "3-2",
            "3-4",
            "3-1",
            "3-5",
            "4-3",
            "4-1",
            "4-2",
            "4-4",
            "3-2",
            "3-4",
            "3-1",
            "3-5",
            "4-3",
            "4-1",
            "4-2",
            "4-4",
            "3-2",
            "3-4",
            "3-1",
            "3-5"
        ]	
	};
</script>
<!-- header -->
<% include common/footer.ejs %>
<!-- header end -->
</html>