@imgPath: '../../../images/wap/spoken_24148/';
@import "../common/base.less";
.spoken_24148{
    max-width: 640px;
    margin:0 auto;
    background-color: #fff;
    padding-top: 2.2rem;
    .s_img{
       margin:0 7.6rem;
       .s_img_b{
        position: relative;
        width: 100%;
       }
        .lv{
            font-size: 2rem;
            padding-top: 13%;
            height:44.4%;
            position: absolute;
            left: 0;
            bottom:43.56%;
            color: #fff;
            margin-left: -0.5rem;
            width: 100%;
            line-height: 1;

        }
    }
    .s_icon{
        text-align: center;
        margin-bottom: 3.5rem;
        
        img{
            width: 100%;
        }
        .s_tit{
            margin:0;
            font-size: 1.95rem;
            line-height: 3.45rem;
            color: #ff8200;
            margin-bottom: 0.55rem;
        }
        .stext{
            line-height: 2.1rem;
            height: 2.1rem;
            font-size: 1.35rem;
            color: #888;
        }
    }
    .user_c{
        margin:0 3.25rem 9.5rem;

    }
    .user_center{
        padding-top: 2rem;
        padding-bottom: 2.6rem;
        width: 100%;
        background: url("@{imgPath}/user_bg.jpg") 0 0 no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        dl{
            margin:0 2.6rem 1.55rem;
            height: 3.7rem;
            dt{
                width: 3.7rem;
                height: 3.7rem;
                float: left;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            dd{
                margin-left: 4.7rem;
                .u_tit{
                    height: 1.85rem;
                    line-height: 1.85rem;
                    margin: 0;
                    font-size: 1.4rem;
                    color: #333;
                }
                .u_text{
                    height: 1.85rem;
                    line-height: 1.85rem;
                    font-size: 1.2rem;
                    color: #999;
                }
            }
        }
        .text{
            margin:0 2.6rem;
            line-height: 2rem;
            font-size: 1.35rem;
        }
    }
    .s_bottom{
        width: 100%;
        position: fixed;
        left: 0;
        bottom:0;
        .s_b_box{
            padding:1.25rem;
            height: 3.5rem;
            background-color: #fff4dc;
        }
        .bottom_left{
            height: 3.5rem;
            float: left;
            img{
                float: left;
                height: 100%;
            }
            .left_c{
                height: 3.5rem;
                margin-left: 4.2rem;
                .bottom_tit{
                    height: 2.1rem;
                    font-size: 1.6rem;        
                    margin:0;
                    color: #ff7200;
                }
                .bottom_text{
                    height: 1.4rem;
                    line-height: 1.4rem;
                    color: #6e6a62;
                    font-size: 1.1rem;
                }
            }
        }
        .bottom_right{
            float: right;
            width: 7.8rem;
            height: 2.8rem;
            text-align: center;
            line-height: 2.8rem;
            border:1px solid #ff8200;
            color: #ff8200;
            border-radius: 8px;
            font-size: 1.5rem;
            margin-top: 0.2rem;
        }
    }
}
@media only screen and (max-width: 340px){
  .spoken_24148{
    .s_img{
        .lv{
            padding-top:0%;
            height: 57.4%;
        }
    }
  }
}