
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>编辑会销课策略</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/self_training_pro/common_art.css" rel="stylesheet" type="text/css"/>
    <link href="/css/html/self_training_pro/edit_e_lesson.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="m_content">
      <div class="top_bar"><img src="/images/html/self_training_pro/logo.png"/></div>
      <div class="content clearfix">
        <div class="left_bar">
          <ul>
            <li class="top_line has_oder">
              <h4>For admins</h4>
              <ul>
                <li class="has_oder">
                  <h4>AAA</h4>
                  <ul>
                    <li>SSSS</li>
                    <li>TTTT</li>
                  </ul>
                </li>
                <li class="has_oder"> 
                  <h4>BBB</h4>
                  <ul> 
                    <li>TTTT</li>
                    <li>RRRR</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="top_line has_oder">
              <h4>For admins</h4>
              <ul>
                <li class="has_oder">
                  <h4>AAA</h4>
                  <ul>
                    <li>SSSS</li>
                    <li>TTTT</li>
                  </ul>
                </li>
                <li class="has_oder"> 
                  <h4>BBB</h4>
                  <ul> 
                    <li>TTTT</li>
                    <li>RRRR</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="top_line has_oder">
              <h4>For admins</h4>
            </li>
          </ul>
        </div>
        <div class="refer_wrap">
          <div class="bread"><span>编辑会销课策略</span>><a href="">返回列表页</a></div>
          <div class="edit_wrap">
            <form>
              <div>
                <label>策略名称：</label>
                <input val="青少2月份策略"/>
              </div>
              <div>
                <label>学员身份：</label>
                <div class="inline">
                  <ul class="job clearfix">
                    <li class="active">幼儿</li>
                    <li class="active">小学生</li>
                    <li class="active">初中生</li>
                    <li>高中生</li>
                    <li>大学生</li>
                    <li>上班族</li>
                  </ul>
                </div>
              </div>
              <div>
                <label>测试覆盖比例：</label>
                <div class="inline">
                  <ul class="percent clearfix">
                    <li>25%</li>
                    <li class="active">50%</li>
                    <li>75%</li>
                    <li>100%</li>
                  </ul>
                </div>
              </div>
              <div>
                <label>对应体验课时间：</label>
                <select>
                  <option>19:00</option>
                  <option>20:00</option>
                  <option>21:00</option>
                </select>
              </div>
              <div class="add_pad">
                <label>使用时间:</label>
                <input value="2017/02/11" id="date1" onclick="new Calendar(2000,2024,0,&quot;/&quot;).show(this);" size="10" maxlength="10" class="no_p"/>至
                <input value="2017/02/14" id="date2" onclick="new Calendar(2000,2024,0,&quot;/&quot;).show(this);" size="10" maxlength="10"/>
              </div>
              <div class="inline_top">
                <label>对应课程ID：</label>
                <div class="inline_s">
                  <ul class="check_code clearfix">
                    <li class="clearfix"><span>2017/02/10</span>
                      <input placeholder="请输入验证码进行验证"/><span>51Talk家长指南课/2017年2月10日 20:30~20:50</span><a class="recheck">重新验证</a>
                    </li>
                    <li class="clearfix"><span>2017/02/10</span>
                      <input placeholder="请输入验证码进行验证"/><span>51Talk家长指南课/2017年2月10日 20:30~20:50</span><a class="recheck">重新验证</a>
                    </li>
                    <li class="clearfix"><span>2017/02/10</span>
                      <input placeholder="请输入验证码进行验证"/><span>51Talk家长指南课/2017年2月10日 20:30~20:50</span><a class="recheck">重新验证</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div><a class="publish">发布</a><a class="cancel">取消</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/js/html/common/jquery-1.8.2.min.js"></script>
<script src="/js/html/project/self_training_pro/calendar.js"></script>
<script src="/js/html/project/self_training_pro/lessons.js"></script>