
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/self_training_pro/common_art.css" rel="stylesheet" type="text/css"/>
    <link href="/css/html/self_training_pro/refer_teacher.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="m_content">
      <div class="content clearfix">
        <div class="refer_wrap">
          <div class="banner">
            <ul class="clearfix">
              <li><img src="/images/html/self_training_pro/lesson.jpg"/>
                <h1>FOR EVERY SUCCESSFULLY LAUNCHED REFERRAL TO THE </h1>
                <p>AMERICAN ACADEMY</p>
              </li>
              <li><img src="/images/html/self_training_pro/banner_1.jpg"/>
                <h1>FOR EVERY SUCCESSFULLY LAUNCHED REFERRAL TO THE </h1>
                <p>AMERICAN ACADEMY</p>
              </li>
              <li><img src="/images/html/self_training_pro/lesson.jpg"/>
                <h1>FOR EVERY SUCCESSFULLY LAUNCHED REFERRAL TO THE </h1>
                <p>AMERICAN ACADEMY</p>
              </li>
              <li><img src="/images/html/self_training_pro/banner_1.jpg"/>
                <h1>FOR EVERY SUCCESSFULLY LAUNCHED REFERRAL TO THE </h1>
                <p>AMERICAN ACADEMY</p>
              </li>
              <li><img src="/images/html/self_training_pro/lesson.jpg"/>
                <h1>FOR EVERY SUCCESSFULLY LAUNCHED REFERRAL TO THE </h1>
                <p>AMERICAN ACADEMY</p>
              </li>
              <li><img src="/images/html/self_training_pro/banner_1.jpg"/>
                <h1>FOR EVERY SUCCESSFULLY LAUNCHED REFERRAL TO THE </h1>
                <p>AMERICAN ACADEMY</p>
              </li>
            </ul>
            <ol class="clearfix">
              <li class="current"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <div class="black_floor"></div>
          </div>
          <div class="refer_now">
            <div class="faq"><a href="">FAQs</a></div>
            <h1>Refer Now</h1>
            <p><a class="write_form">Complete the referral from</a>or<a class="share_to_friends">Share your personal referral link</a></p>
          </div>
          <div class="refer_2">
            <h1>Recruitment Process for referrals</h1>
            <ul class="clearfix">
              <li><img src="/images/html/self_training_pro/step_1.png"/>
                <h4>Refer</h4>
                <p>Complete the referral form or share your personal referral link on your social media profiles.</p>
              </li>
              <li><img src="/images/html/self_training_pro/step_2.png"/>
                <h4>Recruit</h4>
                <p>Make sure your referrals are available to finish the recruitment process immediately. </p>
              </li>
              <li><img src="/images/html/self_training_pro/step_3.png"/>
                <h4>Reward</h4>
                <p>You will get $100 USD for every active teacher. Please see our FAQs for more details.</p>
              </li>
            </ul>
          </div>
          <div class="datas">
            <h1>Your referral list</h1>
            <table>
              <thead>
                <tr>
                  <td>Referral</td>
                  <td>Date Referred</td>
                  <td>Recruitment Status</td>
                  <td>Launch Date</td>
                  <td>Expected Referral Incentive</td>
                  <td>Operation</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jane</td>
                  <td>20-Jun-16</td>
                  <td>Launched</td>
                  <td>1-Aug-16</td>
                  <td>3000</td>
                  <td><a class="popup">Check-payout status</a></td>
                </tr>
                <tr>
                  <td>Carlo</td>
                  <td>5-Jun</td>
                  <td>Launched</td>
                  <td>2-Jul</td>
                  <td>3000</td>
                  <td><a>Check-payout status</a></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>20-Jun-16</td>
                  <td>Launched</td>
                  <td>1-Aug-16</td>
                  <td>3000</td>
                  <td><a>Check-payout status</a></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>20-Jun-16</td>
                  <td>Launched</td>
                  <td>1-Aug-16</td>
                  <td>3000</td>
                  <td><a>Check-payout status</a></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>20-Jun-16</td>
                  <td>Launched</td>
                  <td>1-Aug-16</td>
                  <td>3000</td>
                  <td><a>Check-payout status</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="complete_form hide">
        <h4>Complete the referral form</h4><span class="close"></span>
        <form>
          <div class="one_p">
            <label>First Name<span>*</span></label>
            <input type="text"/>
          </div>
          <div class="one_p">
            <label>Last Name<span>*</span></label>
            <input type="text"/>
          </div>
          <div class="one_p">
            <label>Mobile Number<span>*</span></label>
            <input type="text"/>
          </div>
          <div class="one_p">
            <label>Email Address<span>*</span></label>
            <input type="text"/>
          </div>
          <div class="one_p">
            <label>Skype ID<span>*</span></label>
            <input type="text"/>
          </div>
          <div class="one_p">
            <label>Teaching Experience<span>*</span></label>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          <div class="one_p">
            <label>Years of Teaching<span>*</span></label>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          <div class="one_p">
            <label>Resume</label>
            <div class="upload">
              <input type="text" placeholder="doc/.docx/.pdf format within 2MB"/><a class="browse">Browse</a>
              <input type="file"/>
            </div>
          </div><a class="submit">Submit</a>
        </form>
      </div>
      <div class="share_link hide"><span class="close"></span>
        <h4>Share your personal referral link</h4>
        <p>Share this link with your friends, family, and colleagues, or post it on your social media profiles.</p>
        <div>
          <input type="text" id="copylink"/><a class="copy">Copy Link</a>
        </div>
        <p class="hide">Post this link on<a class="facebook"></a><a class="twiiter"></a><a class="ins"></a></p>
      </div>
      <div class="payout_status hide">
        <h1>Complete the referral form</h1><span class="close"></span>
        <dl>
          <dt>
            <div class="clearfix">
              <label>Amount :</label><span>50 USD</span>
            </div>
            <div class="clearfix">
              <label>Payout date :</label><span>First payout will be given after the referral’s 1st full cut-off</span>
            </div>
            <div class="clearfix">
              <label>Status  :</label><span>Credited</span>
            </div>
            <div class="clearfix">
              <label>Amount  :</label><span>50 USD</span>
            </div>
            <div class="clearfix">
              <label>labelDate credited :</label><span>Jan 2, 2017</span>
            </div>
          </dt>
          <dd>
            <p>For more details, you may <a href="mailto:reachconcern@51talk.com">click here</a>or you may send your inquiry via email at <a href="mailto:reachconcern@51talk.com">reachconcern@51talk.com .</a></p>
          </dd>
        </dl><a class="close">Close</a>
      </div>
    </div>
  </body>
</html>
<script src="/js/html/common/jquery-1.8.2.min.js"></script>
<script src="/js/html/project/self_training_pro/slide.js"></script>
<script src="/js/html/project/self_training_pro/refer_teacher.js"></script>