
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/self_training_pro/common_art.css" rel="stylesheet" type="text/css"/>
    <link href="/css/html/self_training_pro/self_training_pro.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <!--script(src=jssrc,id="seajsnode",type="text/javascript")-->
    <!--script(src="../../../js/html/project/friend_recommend/jquery.mousewheel.min.js")-->
  </body>
</html>