
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/self_training_pro/common_art.css" rel="stylesheet" type="text/css"/>
    <link href="/css/html/self_training_pro/self_training_pro.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <script src="../../../js/html/project/usEmploy/jquery.min.js"></script>
    <script src="../../../js/html/project/self_training_pro/self_training_pro.js"> </script>
    <script src="../../../js/html/project/self_training_pro/pop-window.js"></script>
    <div class="add_quiz addedit">
      <form>
        <h4>Edit Quiz</h4>
        <ul>
          <li>
            <label>Module :</label><span>MTS>NTTR</span>
          </li>
          <li>
            <label>Viedo Name :</label>
            <input type="text" value="MTS &gt; NTTR"/>
          </li>
          <li class="pass_line">
            <label>Pass Line :</label><span>
              <input type="text" value="4"/>out of 5</span>
          </li>
          <li>
            <label>Requirement :</label><span>
              <input type="radio"/>Required</span><span>
              <input type="radio"/>Optional</span>
          </li>
          <li>
            <label>Status :</label><span>
              <input type="radio"/>Active</span><span>
              <input type="radio"/>Inactive</span>
          </li>
          <li class="edit_questions">
            <ul>
              <li>
                <h4 class="one_team">Q1 :
                  <input type="text" value="Enter the question"/><a class="add">Add</a><a class="delete">Delete</a>
                </h4>
                <ul class="teamer">
                  <li class="clearfix">
                    <input type="radio"/>
                    <input type="text" value="Enter an answer choice"/><a class="add_c">+</a><a class="delete_c">-</a>
                  </li>
                  <li class="clearfix">
                    <input type="radio"/>
                    <input type="text" value="Enter an answer choice"/><a class="add_c">+</a><a class="delete_c">-</a>
                  </li>
                  <li class="clearfix">
                    <input type="radio"/>
                    <input type="text" value="Enter an answer choice"/><a class="add_c">+</a><a class="delete_c">-</a>
                  </li>
                  <li class="clearfix">
                    <input type="radio"/>
                    <input type="text" value="Enter an answer choice"/><a class="add_c">+</a><a class="delete_c">-</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="clearfix"><a class="submit">Submit</a><a class="cancel">Cancel</a></li>
        </ul>
      </form>
    </div>
    <!--script(src=jssrc,id="seajsnode",type="text/javascript")-->
    <!--script(src="../../../js/html/project/friend_recommend/jquery.mousewheel.min.js")-->
  </body>
</html>