
<div class="left_bar">
  <ul>
    <li class="top_line has_oder">
      <h4>For admins</h4>
      <ul>
        <li class="has_oder">
          <h4>AAA</h4>
          <ul>
            <li>SSSS</li>
            <li>TTTT</li>
          </ul>
        </li>
        <li class="has_oder"> 
          <h4>BBB</h4>
          <ul> 
            <li>TTTT</li>
            <li>RRRR</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="top_line has_oder">
      <h4>For admins</h4>
      <ul>
        <li class="has_oder">
          <h4>AAA</h4>
          <ul>
            <li>SSSS</li>
            <li>TTTT</li>
          </ul>
        </li>
        <li class="has_oder"> 
          <h4>BBB</h4>
          <ul> 
            <li>TTTT</li>
            <li>RRRR</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="top_line has_oder">
      <h4>For admins</h4>
    </li>
  </ul>
</div>