
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/self_training_pro/common_art.css" rel="stylesheet" type="text/css"/>
    <link href="/css/html/self_training_pro/self_training_pro.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <script src="../../../js/html/project/usEmploy/jquery.min.js"></script>
    <script src="../../../js/html/project/self_training_pro/self_training_pro.js"> </script>
    <script src="../../../js/html/project/self_training_pro/pop-window.js"> </script>
    <div class="m_content">
      <div class="top_bar"><img src="/images/html/self_training_pro/logo.png"/></div>
      <div class="content clearfix">
        <div class="left_bar">
          <ul>
            <li class="top_line has_oder">
              <h4>For admins</h4>
              <ul>
                <li class="has_oder">
                  <h4>AAA</h4>
                  <ul>
                    <li>SSSS</li>
                    <li>TTTT</li>
                  </ul>
                </li>
                <li class="has_oder"> 
                  <h4>BBB</h4>
                  <ul> 
                    <li>TTTT</li>
                    <li>RRRR</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="top_line has_oder">
              <h4>For admins</h4>
              <ul>
                <li class="has_oder">
                  <h4>AAA</h4>
                  <ul>
                    <li>SSSS</li>
                    <li>TTTT</li>
                  </ul>
                </li>
                <li class="has_oder"> 
                  <h4>BBB</h4>
                  <ul> 
                    <li>TTTT</li>
                    <li>RRRR</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="top_line has_oder">
              <h4>For admins</h4>
            </li>
          </ul>
        </div>
        <div class="wrap clearfix">
          <dl class="edit_order">
            <dt class="edit_order_title">
              <ul class="clearfix">
                <li class="active l">PH</li>
                <li class="r">NA</li>
              </ul>
            </dt>
            <dd>
              <div class="edit_order_file_r">
                <h4>Categories (3)</h4>
                <ul>
                  <li>
                    <h4>Upgrade</h4>
                    <ul>
                      <li>level1</li>
                      <li>level2</li>
                      <li>level3</li>
                    </ul>
                  </li>
                </ul>
                <h4>Categories (3)</h4>
                <ul>
                  <li>
                    <h4>Upgrade</h4>
                    <ul>
                      <li>level1</li>
                      <li>level2</li>
                      <li>level3</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="edit_order_opts"><span class="action2"></span><span class="action1"></span></div>
            </dd>
          </dl>
          <div class="show_detail">
            <div class="content_bread"><a>TMS</a><a class="current">>NTTR</a></div>
            <div class="content_title">
              <ul class="clearfix">
                <li class="current">Setting</li>
                <li>Training Videos</li>
                <li>Reading Materials</li>
              </ul>
            </div>
            <div class="content_detail">
              <div class="first show">
                <h4>Settings for this module<span class="sm_qs"></span></h4>
                <ul>
                  <li class="clearfix"><span class="left_s">Suit for:</span><span> 
                      <input type="radio"/>Team</span><span> 
                      <input type="radio"/>Optional</span>
                    <!--select
                    //option 1
                    //option 2
                    //option 3
                    -->
                  </li>
                  <li class="clearfix"><span class="left_s">Requirement:</span><span> 
                      <input type="radio"/>Team</span><span> 
                      <input type="radio"/>Optional</span></li>
                  <li class="clearfix"><span class="left_s">Completion Mode:</span><span>
                      <input type="radio"/>Team</span><span>
                      <input type="radio"/>Optional</span></li>
                </ul>
              </div>
              <div class="second">
                <h4>Self-pace Training Videos<span action-type="addVideos" class="addM">+add Videos</span><span class="sm_qs"></span></h4>
                <table>
                  <thead>
                    <tr>
                      <td>ID</td>
                      <td>Material Name</td>
                      <td>Est Finished Time</td>
                      <td>Requirement</td>
                      <td>Quiz#</td>
                      <td>Pass Line for each Quize</td>
                      <td>Status</td>
                      <td>Operation</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>V000001</td>
                      <td>-</td>
                      <td>-11min</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td class="lastTr"> <a>Edit Video</a><a>Edit Quiz</a><a class="down arrow"></a><a class="up arrow"></a></td>
                    </tr>
                    <tr>
                      <td>V000001</td>
                      <td>-</td>
                      <td>-11min</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td class="lastTr"> <a>Edit Video</a><a>Edit Quiz</a><a class="down arrow"></a><a class="up arrow"></a></td>
                    </tr>
                    <tr>
                      <td>V000001</td>
                      <td>-</td>
                      <td>-11min</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td class="lastTr"> <a>Edit Video</a><a>Edit Quiz</a><a class="down arrow"></a><a class="up arrow"></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="third">
                <h4>Reading Materials<span>+add materials</span><span class="sm_qs"></span></h4>
                <table>
                  <thead>
                    <tr>
                      <td>ID</td>
                      <td>Material Name</td>
                      <td>Est Finished Time</td>
                      <td>Requirement</td>
                      <td>Quiz#</td>
                      <td>Pass Line for each Quize</td>
                      <td>Status</td>
                      <td>Operation</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>V000001</td>
                      <td>-</td>
                      <td>-11min</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td class="lastTr"> <a>Edit Video</a><a>Edit Quiz</a><a class="down arrow"></a><a class="up arrow"></a></td>
                    </tr>
                    <tr>
                      <td>V000001</td>
                      <td>-</td>
                      <td>-11min</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td class="lastTr"> <a>Edit Video</a><a>Edit Quiz</a><a class="down arrow"></a><a class="up arrow"></a></td>
                    </tr>
                    <tr>
                      <td>V000001</td>
                      <td>-</td>
                      <td>-11min</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td class="lastTr"> <a>Edit Video</a><a>Edit Quiz</a><a class="down arrow"></a><a class="up arrow"></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="record">
              <h4>Record</h4>
              <table>
                <thead>
                  <tr>
                    <td>No</td>
                    <td>Operator</td>
                    <td>Edit Time</td>
                    <td>Content</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>管理员账号</td>
                    <td>年月日分时秒</td>
                    <td>记录修改的字段及内容</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add_Mate hide">
      <form><span action-type="close_popUp_1" class="c_popUp"></span>
        <h4>Add Material</h4>
        <ul>
          <li>
            <label>Module :</label><span>MTS>NTTR</span>
          </li>
          <li>
            <label>Viedo Name :</label>
            <input type="text"/>
          </li>
          <li>
            <label>Est.Finished Time :</label>
            <input type="text"/><span>min(s)</span>
          </li>
          <li>
            <label>Description :</label>
            <textarea></textarea>
          </li>
          <li>
            <label>Upload video :</label>
            <input type="file"/>
          </li>
          <li>
            <label>Requirement :</label><span>
              <input type="radio"/>Required</span><span>
              <input type="radio"/>Optional</span>
          </li>
          <li>
            <label>Status :</label><span>
              <input type="radio"/>Active</span><span>
              <input type="radio"/>Inactive</span>
          </li>
          <li class="clearfix"><a class="cancel">Cancel</a><a class="submit">Submit</a></li>
        </ul>
      </form>
    </div>
    <div class="add_Vid hide">
      <form><span action-type="close_popUp_2" class="c_popUp"></span>
        <h4>Add Material</h4>
        <ul>
          <li>
            <label>Module :</label><span>MTS>NTTR</span>
          </li>
          <li>
            <label>Viedo Name :</label>
            <input type="text"/>
            <p>pls be noted that you can”t change the name once submitted.</p>
          </li>
          <li>
            <label>Video Link :</label>
            <textarea id="reset_area"></textarea>
          </li>
          <li>
            <label></label>
            <input type="text"/><span>mi1n(s)</span>
          </li>
          <li>
            <label>Upload video :</label>
            <input type="file"/>
          </li>
          <li>
            <label>Requirement :</label><span>
              <input type="radio"/>Required</span><span>
              <input type="radio"/>Optional</span>
          </li>
          <li>
            <label>Status :</label><span>
              <input type="radio"/>Active</span><span>
              <input type="radio"/>Inactive</span>
          </li>
          <li class="clearfix"><a class="cancel">Cancel</a><a class="submit">Submit</a></li>
        </ul>
      </form>
    </div>
    <ul class="icons">
      <li class="s_i s_i_1"></li>
      <li class="s_i s_i_2"></li>
      <li class="s_i s_i_3"></li>
      <li class="s_i s_i_4"></li>
      <li class="s_i s_i_5"></li>
      <li class="s_d s_d_1"></li>
      <li class="s_d s_d_2"></li>
      <li class="s_d s_d_3"></li>
      <li class="s_d s_d_4"></li>
      <li class="s_d s_d_5"></li>
    </ul>
    <!--script(src=jssrc,id="seajsnode",type="text/javascript")-->
    <!--script(src="../../../js/html/project/friend_recommend/jquery.mousewheel.min.js")-->
  </body>
</html>