<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/ac_dialog/ac_dialog.css">
</head>
<body data-init="acstuAll">
    <div class="ac-dialog-wrap ac-dialog-play-all">
        <div class="ac-dialog-content noscroll">
            <div class="ac-dialog-ifr">
                <iframe src="" scrolling="no" frameborder="0"></iframe>
                <div class="ac-stu-all">
                    <p class="play-all-timmer">倒计时：<i>59</i>秒</p>
                    <p class="play-all-detail"><i>1</i>/2道题</p>
                </div>
            </div>
        </div>
        <div class="ac-dialog-bottom clearfix">
        </div>
    </div>
</body>
<script type="text/javascript">
var dataArr = {
    arr:[
    ["http://192.168.0.101:3000/templates/html/ac_dialog/ac_stu_pair_play.html",3000],
    ["http://192.168.0.101:3000/templates/html/ac_dialog/ac_game_pair_student_play.html",30],
    ["http://192.168.0.101:3000/templates/html/ac_dialog/ac_stu_voice_play.html",40],
    ["http://192.168.0.101:3000/templates/html/ac_dialog/ac_stu_read_play.html",40],
    ["http://192.168.0.101:3000/templates/html/ac_dialog/ac_stu_choice_play.html",40]
    ],
    buffer : 5,
    result : "http://www.baidu.com"
}
</script>
<!--公共尾部结束-->
<script src="/js/html/project/ac_dialog/vendor.js"></script>
</html>