<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/ac_dialog/ac_dialog.css">
</head>
<body class="ac-weixin-pay " data-init="" swfHref="" audioPath="" page-tag="">
	<div class="pay_content">
        <p class="pay_title"><span>无忧英语小学五年级三班</span>家长服务群</p>
        <div class="clearfix pay_img">
            <div class="img_l">
                <div>
                    <img src="/images/html/ac_dialog/AC_pay_code.png" >
                    <div class="code_none">
                        <p>群二维码已过期</p>
                        <p>快让班里已入群的同学拉你吧！</p>
                    </div>
                </div>
                <p>打开微信，到一扫加入</p>
            </div>
            <div class="img_r">
                <img src="/images/html/ac_dialog/AC_pay_phone.png" >
            </div>
        </div>
        <div class="clearfix pay_pay_text">
            <p>群内上课提醒，不怕迟到</p>
            <p>在线客服，随时解决问题</p>
            <p>发放上课资料，提前预习</p>
            <p>群内班级活动，妙趣横生</p>
        </div>
    </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/ac_dialog/vendor.js"></script>
</html>