@fontSize16: 0.2133rem;
@fontSize18: 0.24rem;
@fontSize30: 0.4rem;
@fontSize32: 0.4266rem;
@fontSize36: 0.48rem;
@fontSize24: 0.32rem;
@fontSize28: 0.3733rem;
@fontSize22: 0.2933rem;
.p-header{
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0 0.4rem;
	height: 1.3333rem;
	background-color: #fff;
	.logo{
		float: left;
		margin-top: 0.4rem;
		width: 3.7333rem;
		height: 0.69333rem;
	}
	.name_code{
		float: right;
		padding -top: 0.4rem;
		color: #000000;
		text-align: right;
		.name{
			font-size: @fontSize24;
			line-height: @fontSize24;
		}
		.code{
			font-size: @fontSize22;
		}
	}
}

