<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>购买成功</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">		
</head>
<body>
		 <section>
	 			<img src="<%=imagessrc%>buyIcon.png" />
	 			<h4>购买成功</h4>
	 			<a href="javscript:;">查看我的课程</a>
		 </section>
		 <footer>
		 		<h3>
		 			<i></i>上课须知
		 		</h3>
		 		<p>
		 				1. 请在手机软件多说英语“名师班课-我的班课”中上课，课前会收到消息推送和短信提醒哦~
		 		</p>
		 		<p>
		 				2. 绑定手机号的用户也可以选择在电脑，使用“AC在线教室”软件上课。（下载地址：www.51talk.com/ac/51TalkAC.php）
		 		</p>
		 		<p>
		 				3. 请将购买成功页面截图，发给助教老师（QQ:3518732479）并获得群号。老师会在群里留作业、答疑、并组织学员打卡。

		 		</p>
		 		<p>
		 				4.课程结束后10天内可免费观看回放视频。
		 		</p>
		 </footer>
</body>
</html>