<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/certificate/certificate.css">
</head>
<body>
	<div class="g-hd">
  <div class="m-top">
    <div class="g-in f-cb">
      <div class="m-menu f-fl">
        <a class="user" href="#">hi,Viola！</a><i>|</i><a class="msg" href="#">消息<span class="num">2</span></a><span class="tips"><a class="txt" href="#">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a href="#">退出</a>
      </div>
      <ul class="m-link f-ib f-fr">
        <li><a href="#">官网首页</a></li>
        <li><a href="#">课程介绍</a></li>
        <li><a href="#">英语水平</a></li>
        <li><a href="#">企业培训</a></li>
        <li class="follow"><a href="#">关注我们</a>
          <ul>
            <li class="tsina"><a href="#">新浪微博</a></li>
            <li class="tqq"><a href="#">腾讯微博</a></li>
          </ul>
        </li>
        <li><a href="#">邀请有礼</a></li>
      </ul>
    </div>
  </div>
  <!-- /m-top -->
  <div class="m-head">
    <div class="g-in">
      <h1 class="logo"><a href="#">51talk 无忧英语</a></h1>
      <ul class="nav">
        <li class="crt"><a href="#">首页</a></li>
        <li><a href="#">账户设置</a></li>
        <li><a href="#">购买课程</a></li>
      </ul>
      <div class="contact">
        <p class="bizapp"><a href="javascript:void(0)">客服在线咨询 (09:00-24:00)</a></p>
        <p class="phone">4000-51-51-51</p>
      </div>
    </div>
  </div>
 <!-- /m-head -->
</div>
	<!-- 成人 -->
	<div class="adult clearfix" data-init="certificate">
		<div class="placeholder">这里是左侧栏占位</div>
		<div class="container">
			<div class="banner">
				<img src="/images/html/certificate/banner-adult.jpg">
			</div>
			<div class="tips">
				<h6>亲爱的学员：</h6>
				<h6>在51Talk每个level阶段都有针对性级别测试，通过不同阶段的级别测试将获得等级证书。</h6>
			</div>
			<div class="show">
				<h1 class="title">证书展示</h1>
				<div class="img-lst">
					<img src="/images/html/certificate/cert-adult.jpg">
				</div>
			</div>
			<!-- 证书介绍及获取方式 -->
			<!--证书介绍-->
<div class="introduce">
	<h1 class="title">证书介绍</h1>
	<div class="lst clearfix">
		<dl>
			<dt><img src="/images/html/certificate/introduce_01.jpg"></dt>
			<dd>
				<p>命题专家来自我国最大的</p>
				<p>外语教育出版机构——外研社</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_02.jpg"></dt>
			<dd>
				<p>专为《经典英语》量身打造一套</p>
				<p>覆盖每一个级别的科学测评体系</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_03.jpg"></dt>
			<dd>
				<p>测试体系涵盖语法、词汇、听力、</p>
				<p>阅读、口语各项技能，实现以测促学</p>
			</dd>
		</dl>
	</div>
</div>
			<!-- 获取方式介绍 -->
			<!--证书获取方式介绍-->
<div class="access">
	<h1 class="title">获取方式介绍</h1>
	<h2 class="step"><img src="/images/html/certificate/step.jpg"></h2>
	<ul class="clearfix">
		<li>选择经典英语教材学习，并完成当前l级别教材学习 </li>
		<li>参加级别测试并考试通过，立即获得外研社权威证书</li>
		<li>点击申请邮寄证书，填写完整寄送信息，完成证书邮寄</li>
	</ul>
</div>
		</div>
	</div>
	<div class="g-ft">
  <div class="g-in f-tac">
    <div class="links">
      <a href="#">关于我们</a><i>|</i>
      <a href="#">加入我们</a><i>|</i>
      <a href="#">校园代理招募</a><i>|</i>
      <a href="#">区域代理招募</a><i>|</i>
      <a href="#">企业培训</a><i>|</i>
      <a href="#">网站地图</a>
    </div>
    <div class="trust">
      <a class="t1" href="#" rel="nofollow" target="_blank"></a>
      <a class="t2" href="#" rel="nofollow" target="_blank"></a>
      <a class="t3" href="#" rel="nofollow" target="_blank"></a>
      <a class="t4" href="#" rel="nofollow" target="_blank"></a>
    </div>
    <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
  </div>
</div>
<!-- /g-ft -->
</div>

	<script src="/js/html/project/certificate/vendor.js"></script>
</body>
</html>