<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/certificate/certificate.css">
</head>
<body>
	<div class="g-hd">
  <div class="m-top">
    <div class="g-in f-cb">
      <div class="m-menu f-fl">
        <a class="user" href="#">hi,Viola！</a><i>|</i><a class="msg" href="#">消息<span class="num">2</span></a><span class="tips"><a class="txt" href="#">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a href="#">退出</a>
      </div>
      <ul class="m-link f-ib f-fr">
        <li><a href="#">官网首页</a></li>
        <li><a href="#">课程介绍</a></li>
        <li><a href="#">英语水平</a></li>
        <li><a href="#">企业培训</a></li>
        <li class="follow"><a href="#">关注我们</a>
          <ul>
            <li class="tsina"><a href="#">新浪微博</a></li>
            <li class="tqq"><a href="#">腾讯微博</a></li>
          </ul>
        </li>
        <li><a href="#">邀请有礼</a></li>
      </ul>
    </div>
  </div>
  <!-- /m-top -->
  <div class="m-head">
    <div class="g-in">
      <h1 class="logo"><a href="#">51talk 无忧英语</a></h1>
      <ul class="nav">
        <li class="crt"><a href="#">首页</a></li>
        <li><a href="#">账户设置</a></li>
        <li><a href="#">购买课程</a></li>
      </ul>
      <div class="contact">
        <p class="bizapp"><a href="javascript:void(0)">客服在线咨询 (09:00-24:00)</a></p>
        <p class="phone">4000-51-51-51</p>
      </div>
    </div>
  </div>
 <!-- /m-head -->
</div>
	<!-- 添加付费用户薅羊毛扫码弹层 start -->
	<div class="scan-code">
	  <div class="scan-code__img">
	    <img src="/images/html/certificate/code.jpg">
	  </div>
	  <div class="scan-code__viewdetail">
	    <a href="javascript:;" title="查看详情"></a>
	  </div>
	</div>
	<!-- 添加付费用户薅羊毛扫码弹层 end -->
	<!--新版证书-->
	<div class="certificate" data-init="certificate">
		<!--banner部分-->
		<div class="banner"><img src="/images/html/certificate/banner.jpg"></div>
		<!--中间内容部分包括左侧基本信息栏和右侧获取证书栏-->
		<div class="container clearfix">
			<!--左侧基本信息栏-->
			<div class="bar">
				<div class="header">
					<img src="/images/html/certificate/temp.jpg" alt="">
					<em class="cover"></em>
				</div>
				<div class="name">yida</div>
				<!--查看成人或青少证书-->
				<a class="view" href="javascript:;">查看成人证书</a>
				<ul class="clearfix">
					<li><em>当前等级：</em>Level 4</li>
					<li><em>获得证书：</em>2份</li>
					<li><em>完成1对1：</em>12节课</li>
					<li><em>累计说英语：</em>12节课</li>
					<li><em>获得学豆：</em>12节课</li>
				</ul>
			</div>
			<!--右侧获取证书栏  包含tab标签切换、证书列表、证书介绍、获取方式-->
			<div class="cert-lst">
				<!--tab标签切换-->
				<div class="tab">
					<a href="javascript:;">即将获得的证书<i></i></a>
					<span>|</span>
					<a href="javascript:;" class="current">已获得的证书<i></i></a>
				</div>
				<!--ps:young和young-get是一组、all-notget和all-get是一组、all-get和no-get是一组get和最后一个no-get是一组，一共四组-->
				<!--青少即将获得的证书 Start-->
				<div class="young switch">
					<!--证书列表-->
					<div class="cert-show">
						<div class="tips">
							<div class="mask">
								<h1>距离经典英语Level 4的级别证书还差<em>20</em>节课</h1>
								<h2>每周5节课，还需4周即可获得该证书，继续加油！</h2>
								<a class="go" href="javascript:;">马上进行级别测试赢取阶段证书</a>
							</div>
						</div>
					</div>
					<!--获取方式-->
					<!--成人和青少证书获取方式-->
<div class="introduce">
	<h1 class="title">级别证书获取方式</h1>
	<h2><img src="/images/html/certificate/all_way.jpg"></h2>
	<ul class="clearfix">
		<li>
			<p>选择经典英语</p>
			<p>教材学习</p>
		</li>
		<li>
			<p>完成最后一个</p>
			<p>阶段level的课程</p>
		</li>
		<li>
			<p>通过级别测试</p>
			<p>获得证书</p>
		</li>
		<li>
			<p>填写邮寄地址</p>
			<p>等待证书送达</p>
		</li>
	</ul>
</div>
					<!--晋级体系-->
					<!--成人和青少晋级体系-->
<div class="promotion">
	<h1 class="title">51Talk英语晋级体系</h1>
	<p><img src="/images/html/certificate/promotion.jpg"></p>
</div>
					<!--立即约课赢取级别证书-->
					<!--立即约课赢取级别证书-->
<div class="earn">
	<p>
		<a href="javascript:;" class="btn">立即约课学习赢取级别证书</a>
	</p>
	<p>继续努力吧！51Talk与您一路同行</p>
</div>
				</div>
				<!--青少即将获得的证书 End-->
				<!--青少已经获得的证书 Start-->
				<div class="young-get switch">
					<!--证书列表-->
					<div class="cert-show">
						<!--证书列表-->
<dl class="clearfix">
	<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
	<dd>
		<h1>Level3共学习45天，</h1>
		<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
		<ul class="clearfix">
			<li><a href="javascript:;"><i class="test-info"></i>查看考试信息</a></li>
			<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
			<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
		</ul>
		<div class="share-wrap">
			<div class="txt">分享证书至：</div>
			<div class="icon-lst">
				<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
		          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
		          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		        </div>
			</div>
		</div>
	</dd>
</dl>
					</div>
					<!--证书为空的占位图-->
					<div class="placeholder"></div>
					<!--获取方式-->
					<!--成人和青少证书获取方式-->
<div class="introduce">
	<h1 class="title">级别证书获取方式</h1>
	<h2><img src="/images/html/certificate/all_way.jpg"></h2>
	<ul class="clearfix">
		<li>
			<p>选择经典英语</p>
			<p>教材学习</p>
		</li>
		<li>
			<p>完成最后一个</p>
			<p>阶段level的课程</p>
		</li>
		<li>
			<p>通过级别测试</p>
			<p>获得证书</p>
		</li>
		<li>
			<p>填写邮寄地址</p>
			<p>等待证书送达</p>
		</li>
	</ul>
</div>
					<!--晋级体系-->
					<!--成人和青少晋级体系-->
<div class="promotion">
	<h1 class="title">51Talk英语晋级体系</h1>
	<p><img src="/images/html/certificate/promotion.jpg"></p>
</div>
					<!--立即约课赢取级别证书-->
					<!--立即约课赢取级别证书-->
<div class="earn">
	<p>
		<a href="javascript:;" class="btn">立即约课学习赢取级别证书</a>
	</p>
	<p>继续努力吧！51Talk与您一路同行</p>
</div>
				</div>
				<!--青少已经获得的证书 End-->
				<!--成人青少即将获得的证书 Start-->
				<div class="all-notget switch">
					<!--证书列表-->
					<div class="cert-show">
						<div class="tips">
							<div class="mask">
								<h1>距离经典英语Level 4的级别证书还差<em>20</em>节课</h1>
								<h2>每周5节课，还需4周即可获得该证书，继续加油！</h2>
								<a class="go" href="javascript:;">马上进行级别测试赢取阶段证书</a>
							</div>
						</div>
					</div>
					<!--获取方式-->
					<!--成人和青少证书获取方式-->
<div class="introduce">
	<h1 class="title">级别证书获取方式</h1>
	<h2><img src="/images/html/certificate/all_way.jpg"></h2>
	<ul class="clearfix">
		<li>
			<p>选择经典英语</p>
			<p>教材学习</p>
		</li>
		<li>
			<p>完成最后一个</p>
			<p>阶段level的课程</p>
		</li>
		<li>
			<p>通过级别测试</p>
			<p>获得证书</p>
		</li>
		<li>
			<p>填写邮寄地址</p>
			<p>等待证书送达</p>
		</li>
	</ul>
</div>
					<!--晋级体系-->
					<!--成人和青少晋级体系-->
<div class="promotion">
	<h1 class="title">51Talk英语晋级体系</h1>
	<p><img src="/images/html/certificate/promotion.jpg"></p>
</div>
					<!--立即约课赢取级别证书-->
					<!--立即约课赢取级别证书-->
<div class="earn">
	<p>
		<a href="javascript:;" class="btn">立即约课学习赢取级别证书</a>
	</p>
	<p>继续努力吧！51Talk与您一路同行</p>
</div>
				</div>
				<!--成人青少即将获得的证书 End-->
				<!--成人青少已获得的证书 Start-->
				<div class="all-get switch">
					<!--证书列表-->
					<div class="cert-show">
						<!--证书列表-->
<dl class="clearfix">
	<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
	<dd>
		<h1>Level3共学习45天，</h1>
		<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
		<ul class="clearfix">
			<li><a href="javascript:;"><i class="test-info"></i>查看考试信息</a></li>
			<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
			<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
		</ul>
		<div class="share-wrap">
			<div class="txt">分享证书至：</div>
			<div class="icon-lst">
				<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
		          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
		          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		        </div>
			</div>
		</div>
	</dd>
</dl>
					</div>
					<!--证书为空的占位图-->
					<div class="placeholder"></div>
					<!--获取方式-->
					<!--成人和青少证书获取方式-->
<div class="introduce">
	<h1 class="title">级别证书获取方式</h1>
	<h2><img src="/images/html/certificate/all_way.jpg"></h2>
	<ul class="clearfix">
		<li>
			<p>选择经典英语</p>
			<p>教材学习</p>
		</li>
		<li>
			<p>完成最后一个</p>
			<p>阶段level的课程</p>
		</li>
		<li>
			<p>通过级别测试</p>
			<p>获得证书</p>
		</li>
		<li>
			<p>填写邮寄地址</p>
			<p>等待证书送达</p>
		</li>
	</ul>
</div>
					<!--晋级体系-->
					<!--成人和青少晋级体系-->
<div class="promotion">
	<h1 class="title">51Talk英语晋级体系</h1>
	<p><img src="/images/html/certificate/promotion.jpg"></p>
</div>
					<!--立即约课赢取级别证书-->
					<!--立即约课赢取级别证书-->
<div class="earn">
	<p>
		<a href="javascript:;" class="btn">立即约课学习赢取级别证书</a>
	</p>
	<p>继续努力吧！51Talk与您一路同行</p>
</div>
				</div>
				<!--成人青少已获得的证书 End-->
				<!--成人新学员即将获得的证书 Start-->
				<div class="no-get switch">
					<!--证书列表-->
					<div class="cert-show">
						<div class="tips">
							<div class="mask">
								<h1>距离经典英语Level 4的级别证书还差<em>20</em>节课</h1>
								<h2>每周5节课，还需4周即可获得该证书，继续加油！</h2>
								<a class="go" href="javascript:;">马上进行级别测试赢取阶段证书</a>
							</div>
						</div>
					</div>
					<!--证书介绍-->
					<!--证书介绍-->
<div class="introduce">
	<h1 class="title">证书介绍</h1>
	<div class="lst clearfix">
		<dl>
			<dt><img src="/images/html/certificate/introduce_01.jpg"></dt>
			<dd>
				<p>命题专家来自我国最大的</p>
				<p>外语教育出版机构——外研社</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_02.jpg"></dt>
			<dd>
				<p>专为《经典英语》量身打造一套</p>
				<p>覆盖每一个级别的科学测评体系</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_03.jpg"></dt>
			<dd>
				<p>测试体系涵盖语法、词汇、听力、</p>
				<p>阅读、口语各项技能，实现以测促学</p>
			</dd>
		</dl>
	</div>
</div>
					<!--获取方式介绍-->
					<!--证书获取方式介绍-->
<div class="access">
	<h1 class="title">获取方式介绍</h1>
	<h2 class="step"><img src="/images/html/certificate/step.jpg"></h2>
	<ul class="clearfix">
		<li>选择经典英语教材学习，并完成当前l级别教材学习 </li>
		<li>参加级别测试并考试通过，立即获得外研社权威证书</li>
		<li>点击申请邮寄证书，填写完整寄送信息，完成证书邮寄</li>
	</ul>
</div>
				</div>
				<!--成人新学员即将获得的证书 End-->
				<!--成人新学员获得证书列表 Start-->
				<div class="get switch">
					<!--证书列表-->
					<div class="cert-show">
						<dl class="clearfix">
							<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
							<dd>
								<h1>Level3共学习45天，</h1>
								<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
								<ul class="clearfix">
									<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
									<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
								</ul>
								<div class="share-wrap">
									<div class="txt">分享证书至：</div>
									<div class="icon-lst">
										<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
								          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
								          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
								          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
								          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
								        </div>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="old clearfix">
							<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
							<dd>
								<h1>Level3共学习45天，</h1>
								<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
								<ul class="clearfix">
									<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
									<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
								</ul>
								<div class="share-wrap">
									<div class="txt">分享证书至：</div>
									<div class="icon-lst">
										<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
								          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
								          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
								          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
								          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
								        </div>
									</div>
								</div>
							</dd>
						</dl>
					</div>
					<!--证书为空的占位图-->
					<div class="placeholder"></div>
					<!--证书介绍-->
					<!--证书介绍-->
<div class="introduce">
	<h1 class="title">证书介绍</h1>
	<div class="lst clearfix">
		<dl>
			<dt><img src="/images/html/certificate/introduce_01.jpg"></dt>
			<dd>
				<p>命题专家来自我国最大的</p>
				<p>外语教育出版机构——外研社</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_02.jpg"></dt>
			<dd>
				<p>专为《经典英语》量身打造一套</p>
				<p>覆盖每一个级别的科学测评体系</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_03.jpg"></dt>
			<dd>
				<p>测试体系涵盖语法、词汇、听力、</p>
				<p>阅读、口语各项技能，实现以测促学</p>
			</dd>
		</dl>
	</div>
</div>
					<!--获取方式介绍-->
					<!--证书获取方式介绍-->
<div class="access">
	<h1 class="title">获取方式介绍</h1>
	<h2 class="step"><img src="/images/html/certificate/step.jpg"></h2>
	<ul class="clearfix">
		<li>选择经典英语教材学习，并完成当前l级别教材学习 </li>
		<li>参加级别测试并考试通过，立即获得外研社权威证书</li>
		<li>点击申请邮寄证书，填写完整寄送信息，完成证书邮寄</li>
	</ul>
</div>
				</div>
				<!--成人新学员获得证书列表 End-->
				<!--成人老学员即将获得证书 Start-->
				<div class="no-get switch">
					<!--证书列表-->
					<div class="cert-show">
						<div class="tips">
							<div class="mask">
								<h1>距离经典英语Level 4的级别证书还差<em>20</em>节课</h1>
								<h2>每周5节课，还需4周即可获得该证书，继续加油！</h2>
								<a class="go" href="javascript:;">马上进行级别测试赢取阶段证书</a>
							</div>
						</div>
					</div>
					<!--证书介绍-->
					<!--证书介绍-->
<div class="introduce">
	<h1 class="title">证书介绍</h1>
	<div class="lst clearfix">
		<dl>
			<dt><img src="/images/html/certificate/introduce_01.jpg"></dt>
			<dd>
				<p>命题专家来自我国最大的</p>
				<p>外语教育出版机构——外研社</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_02.jpg"></dt>
			<dd>
				<p>专为《经典英语》量身打造一套</p>
				<p>覆盖每一个级别的科学测评体系</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_03.jpg"></dt>
			<dd>
				<p>测试体系涵盖语法、词汇、听力、</p>
				<p>阅读、口语各项技能，实现以测促学</p>
			</dd>
		</dl>
	</div>
</div>
					<!--获取方式介绍-->
					<!--证书获取方式介绍-->
<div class="access">
	<h1 class="title">获取方式介绍</h1>
	<h2 class="step"><img src="/images/html/certificate/step.jpg"></h2>
	<ul class="clearfix">
		<li>选择经典英语教材学习，并完成当前l级别教材学习 </li>
		<li>参加级别测试并考试通过，立即获得外研社权威证书</li>
		<li>点击申请邮寄证书，填写完整寄送信息，完成证书邮寄</li>
	</ul>
</div>
				</div>
				<!--成人老学员即将获得证书 End-->
				<!--成人老学员获得证书列表 Start-->
				<div class="get switch">
					<!--证书列表-->
					<div class="cert-show">
						<!--证书列表-->
<dl class="clearfix">
	<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
	<dd>
		<h1>Level3共学习45天，</h1>
		<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
		<ul class="clearfix">
			<li><a href="javascript:;"><i class="test-info"></i>查看考试信息</a></li>
			<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
			<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
		</ul>
		<div class="share-wrap">
			<div class="txt">分享证书至：</div>
			<div class="icon-lst">
				<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
		          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
		          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		        </div>
			</div>
		</div>
	</dd>
</dl>
						<!--证书列表-->
<dl class="clearfix">
	<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
	<dd>
		<h1>Level3共学习45天，</h1>
		<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
		<ul class="clearfix">
			<li><a href="javascript:;"><i class="test-info"></i>查看考试信息</a></li>
			<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
			<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
		</ul>
		<div class="share-wrap">
			<div class="txt">分享证书至：</div>
			<div class="icon-lst">
				<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
		          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
		          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		        </div>
			</div>
		</div>
	</dd>
</dl>
						<!--证书列表-->
<dl class="clearfix">
	<dt><img src="/images/html/certificate/cer_temp.jpg" alt="证书临时图片"></dt>
	<dd>
		<h1>Level3共学习45天，</h1>
		<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
		<ul class="clearfix">
			<li><a href="javascript:;"><i class="test-info"></i>查看考试信息</a></li>
			<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
			<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
		</ul>
		<div class="share-wrap">
			<div class="txt">分享证书至：</div>
			<div class="icon-lst">
				<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
		          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
		          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		        </div>
			</div>
		</div>
	</dd>
</dl>
					</div>
					<!--证书为空的占位图-->
					<div class="placeholder"></div>
					<!--证书介绍-->
					<!--证书介绍-->
<div class="introduce">
	<h1 class="title">证书介绍</h1>
	<div class="lst clearfix">
		<dl>
			<dt><img src="/images/html/certificate/introduce_01.jpg"></dt>
			<dd>
				<p>命题专家来自我国最大的</p>
				<p>外语教育出版机构——外研社</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_02.jpg"></dt>
			<dd>
				<p>专为《经典英语》量身打造一套</p>
				<p>覆盖每一个级别的科学测评体系</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_03.jpg"></dt>
			<dd>
				<p>测试体系涵盖语法、词汇、听力、</p>
				<p>阅读、口语各项技能，实现以测促学</p>
			</dd>
		</dl>
	</div>
</div>
					<!--获取方式介绍-->
					<!--证书获取方式介绍-->
<div class="access">
	<h1 class="title">获取方式介绍</h1>
	<h2 class="step"><img src="/images/html/certificate/step.jpg"></h2>
	<ul class="clearfix">
		<li>选择经典英语教材学习，并完成当前l级别教材学习 </li>
		<li>参加级别测试并考试通过，立即获得外研社权威证书</li>
		<li>点击申请邮寄证书，填写完整寄送信息，完成证书邮寄</li>
	</ul>
</div>
				</div>
				<!--成人老学员获得证书列表 End-->
			</div>
		</div>
	</div>
	<div class="g-ft">
  <div class="g-in f-tac">
    <div class="links">
      <a href="#">关于我们</a><i>|</i>
      <a href="#">加入我们</a><i>|</i>
      <a href="#">校园代理招募</a><i>|</i>
      <a href="#">区域代理招募</a><i>|</i>
      <a href="#">企业培训</a><i>|</i>
      <a href="#">网站地图</a>
    </div>
    <div class="trust">
      <a class="t1" href="#" rel="nofollow" target="_blank"></a>
      <a class="t2" href="#" rel="nofollow" target="_blank"></a>
      <a class="t3" href="#" rel="nofollow" target="_blank"></a>
      <a class="t4" href="#" rel="nofollow" target="_blank"></a>
    </div>
    <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
  </div>
</div>
<!-- /g-ft -->
</div>

	<script src="/js/html/project/certificate/vendor.js"></script>
</body>
</html>