<div class="introduce">
	<h1 class="title">证书介绍</h1>
	<div class="lst clearfix">
		<dl>
			<dt><img src="/images/html/certificate/introduce_01.jpg"></dt>
			<dd>
				<p>命题专家来自我国最大的</p>
				<p>外语教育出版机构——外研社</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_02.jpg"></dt>
			<dd>
				<p>专为《经典英语》量身打造一套</p>
				<p>覆盖每一个级别的科学测评体系</p>
			</dd>
		</dl>
		<span class="line"></span>
		<dl>
			<dt><img src="/images/html/certificate/introduce_03.jpg"></dt>
			<dd>
				<p>测试体系涵盖语法、词汇、听力、</p>
				<p>阅读、口语各项技能，实现以测促学</p>
			</dd>
		</dl>
	</div>
</div>