<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>articleManage.css">
</head>
<body data-init="articleManage">
<div class="heck_top_32">
    <div class="top_content">文章列表</div>
</div>

<div class="margin-space clearfix">
    <div class="article_ontainer">
        <div class="add_article_btn clearfix"><span><i>+</i>添加文章</span></div>
        <div class="article_list clearfix">
            <ul class="type-list clearfix" id="aid">
                <!--<li class="seltype" data-aid="1">1</li>-->
                <!--<li class="seltype" data-aid="2">2</li>-->
                <!--<li class="seltype" data-aid="3">3</li>-->
            </ul>
            <ul class="type-sel clearfix" id="bid">
                <!--<li class="seltype" data-aid="1">1</li>-->
                <!--<li class="seltype" data-aid="2">2</li>-->
                <!--<li class="seltype" data-aid="3">3</li>-->
            </ul>
            <ul class="article_list_detail">
                <li>
                    <div class="at_left">
                        <p>这里是标题信息这里是标题信息这里是标题信息sdsd这里是息这里是息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>
                            <a href="javascript:;" target="_blank">息这里是息这asdfasdfasfasfdasfasfssafdsaf里是息这里是息这里是息这里是息这里是息这里是息这里是Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        </p>
                    </div>
                    <div class="at_right">
                        <img src="http://static.51talk.com/static/images/html/www_new/index/banner/7.jpg?v=1481695927436">
                        <div data-id="111">删除文章</div>
                    </div>
                </li>
                <li>
                    <div class="at_left">
                        <p>这里是标题信息这里是标题信息这里是标题信息sdsd这里是息这里是息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>
                            <a href="javascript:;" target="_blank">息这里是息这asdfasdfasfasfdasfasfssafdsaf里是息这里是息这里是息这里是息这里是息这里是息这里是Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        </p>
                    </div>
                    <div class="at_right">
                        <img src="http://static.51talk.com/static/images/html/www_new/index/banner/7.jpg?v=1481695927436">
                        <div data-id="111">删除文章</div>
                    </div>
                </li>
                <li>
                    <div class="at_left">
                        <p>这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>
                            <a href="javascript:;" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        </p>
                    </div>
                    <div class="at_right">
                        <img src="http://static.51talk.com/static/images/html/www_new/index/banner/7.jpg?v=1481695927436">
                        <div data-id="113">删除文章</div>
                    </div>
                </li>
                <li>
                    <div class="at_left">
                        <p>这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息这里是标题信息</p>
                        <p>
                            <a href="javascript:;" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        </p>
                    </div>
                    <div class="at_right">
                        <img src="http://static.51talk.com/static/images/html/www_new/index/banner/7.jpg?v=1481695927436">
                        <div data-id="115">删除文章</div>
                    </div>
                </li>

            </ul>
        </div>
        <!--<div class="article-page clearfix">-->
            <!--<li>总计：100篇</li>-->
            <!--<li><a href="javascript:;">上一页</a></li>-->
            <!--<li>-->
                <!--<a href="javascript:;">1</a>-->
                <!--<a href="javascript:;">2</a>-->
                <!--<a href="javascript:;">3</a>-->
                <!--<a href="javascript:;" class="cut">4</a>-->
                <!--<a href="javascript:;">5</a>-->
                <!--<a href="javascript:;">6</a>-->
                <!--<a href="javascript:;">7</a>-->
                <!--<a href="javascript:;">8</a>-->
                <!--<a href="javascript:;">9</a>-->
                <!--<a href="javascript:;">72</a>-->

            <!--</li>-->
            <!--<li><a href="javascript:;">下一页</a></li>-->
        <!--</div>-->
    </div>
</div>
<div class="add-article-layer">
    <div class="article-form">
        <div class="close-layer-btn-right">
            <em></em>
        </div>
        <div class="add-title">添加文章信息</div>
        <ul class="clearfix">
            <li class="radio-sel clearfix"><label>身份分类：</label>
                <div class="clearfix" id="gtype">
                    <p>
                        <input type="radio" name="gtype" id="gtype1" value="1">
                        <label for="gtype1">品牌宣传</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype2" value="2">
                        <label for="gtype2">学习方法</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype3" value="3">
                        <label for="gtype3">课程介绍</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype4" value="4">
                        <label for="gtype4">品牌宣传</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype5" value="5">
                        <label for="gtype5">学习方法</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype6" value="6">
                        <label for="gtype6">品牌宣传</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype7" value="1">
                        <label for="gtype7">品牌宣传</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype8" value="2">
                        <label for="gtype8">学习方法</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="gtype" id="gtype9" value="9">
                        <label for="gtype9">课程介绍</label>
                        <span><em></em></span>
                    </p>
                </div>

            </li>
            <li class="radio-sel clearfix"><label>文章分类：</label>
                <div id="types">
                    <p>
                        <input type="radio" name="types" id="type1" value="1">
                        <label for="type1">品牌宣传</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="types" id="type2" value="2">
                        <label for="type2">学习方法</label>
                        <span><em></em></span>
                    </p>
                    <p>
                        <input type="radio" name="types" id="type3" value="3">
                        <label for="type3">课程介绍</label>
                        <span><em></em></span>
                    </p>
                </div>

            </li>
            <li><label>文章标题：</label><input type="text" name="title" placeholder="请输入文章标题"></li>
            <li><label>文章简介：</label><textarea name="content"  placeholder="请输入文章简介"></textarea></li>
            <li><label>文章链接：</label><input type="text" name="link" placeholder="请输入文章链接地址"></li>
            <li>
                <label>文章图片：</label>
                <div id="update_box">
                    <span id="update_btn">+</span>
                    <div class="update_show"></div>
                </div>
            </li>
        </ul>
        <div id="addArticleBtn">添加文章</div>
    </div>
</div>
<div class="footer"></div>
<% include ../common/bottom.ejs %>
</body>