<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>countChat.css">
</head>
<body>
<div class="pad20px clearfix">
    <div class="count-title">统计记录</div>
    <div class="show-count-option show-count-option-left">
        <div class="clearfix">
            学员
        </div>
        <div class="table-list clearfix">
            <table class="show-detail show-detail-user" border="1" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>学员名称（CRM名称, ID, 手机号）</th>
                    <th>发送内容 </th>
                    <th>发送时间</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>
                    <tr>
                        <td>aaa（102930， wind， 13982819283）</td>
                        <td>Sophie同学，您预约的经典英语青少版</td>
                        <td>2017-02-08 09:20:37</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <div class="show-count-option  show-count-option-right">
        <div class="clearfix">
            CCSS
        </div>
        <div class="table-list clearfix">
            <table class="show-detail show-detail-user" border="1" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>学员名称（CRM名称, ID, 手机号）</th>
                    <th>发送内容 </th>
                    <th>发送时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>aaa（102930， wind， 13982819283）</td>
                    <td>Sophie同学，您预约的经典英语青少版</td>
                    <td>2017-02-08 09:20:37</td>
                </tr>
                <tr>
                    <td>aaa（102930， wind， 13982819283）</td>
                    <td>Sophie同学，您预约的经典英语青少版</td>
                    <td>2017-02-08 09:20:37</td>
                </tr>
                <tr>
                    <td>aaa（102930， wind， 13982819283）</td>
                    <td>Sophie同学，您预约的经典英语青少版</td>
                    <td>2017-02-08 09:20:37</td>
                </tr>
                <tr>
                    <td>aaa（102930， wind， 13982819283）</td>
                    <td>Sophie同学，您预约的经典英语青少版</td>
                    <td>2017-02-08 09:20:37</td>
                </tr>
                <tr>
                    <td>aaa（102930， wind， 13982819283）</td>
                    <td>Sophie同学，您预约的经典英语青少版</td>
                    <td>2017-02-08 09:20:37</td>
                </tr>
                <tr>
                    <td>aaa（102930， wind， 13982819283）</td>
                    <td>Sophie同学，您预约的经典英语青少版</td>
                    <td>2017-02-08 09:20:37</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<% include ../common/bottom.ejs %>