<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>chartsChat.css">
</head>
<body data-init="dalasiYouhua">
<div class="count-title">达拉斯作业统计记录详情信息</div>
<div class="show-count-option">
    <div class="table-list clearfix">
        <div class="clearfix">
            <table class="show-detail show-detail-user" border="1" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>姓名</th>
                    <th>作业批改数</th>
                    <th>批改群数</th>
                </tr>
                </thead>
                <tbody id="dalasiYouhua">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<div id="chartLable"></div>-->
</body>
<% include ../common/bottom.ejs %>