<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>defaultChat.css">
</head>
<body data-init="defaultChat">
<div class="big-bg">
    <div>
        <h4>欢迎来到黑鸟项目，点击下方跳转到微信聊天页</h4>
        <input type="submit" name="submit" value="点击跳转 >>">
    </div>
</div>
</body>
<% include ../common/bottom.ejs %>