<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>helper_link.css">
</head>
<body data-init="helperLink">
<div class="helper-link">
	<table>
		<tr>
			<td>test</td>
			<td>test</td>
			<td>test</td>
			<td>test</td>
		</tr>
		<tr>
			<td>test</td>
			<td>test</td>
			<td>test</td>
			<td>
				<a href="javascript:void(0);" data-action="addFriend" data-data='{"type" : 0, "acc" : "13376023558"}'>添加好友</a>
			</td>
		</tr>
	</table>
</div>
</body>
<% include ../common/bottom.ejs %>