<% include ../common/top_b2s.ejs %>
<link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>layer.css">
</head>
<body>
<div class="go_there">
    <h5></h5>
    <div>登录超时，请重新<a href="http://crm.51talk.com/admin/admin_login.php" >登录</a></div>
</div>
<% include ../common/bottom.ejs %>
</body>