<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>offLineList.css">
</head>
<body data-init="offLineList">
<div class="heck_top_32">
    <div class="top_content">CC离线列表</div>
</div>

<!--<div class="no_replacer">-->
    <!--暂无替代者相关信息！-->
<!--</div>-->

<div class="margin-space clearfix">
    <div class="off_line_container">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td rowspan="2" class="off_line_title"><p>美小CC<span>离线</span></p></td>
                <td class="replace_item">未被替代</td>
                <td class="itme_list_off">
                    <a href="javascript:;" data-admin-id="1420" data-trust-self="0">张明</a>
                    <a href="javascript:;" data-admin-id="2" data-trust-self="0">张小明</a>

                </td>

            </tr>
            <tr>
                <td class="replace_item">已被替代</td>
                <td class="itme_list_on">
                    <a href="javascript:;" data-admin-id="1"  data-trust-self="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="off_line_container">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td rowspan="2" class="off_line_title"><p>CTS<span>离线</span></p></td>
                <td class="replace_item">未被替代</td>
                <td class="itme_list_off">
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                </td>

            </tr>
            <tr>
                <td class="replace_item">已被替代</td>
                <td class="itme_list_on">
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="off_line_container">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td rowspan="2" class="off_line_title"><p>SS<span>离线</span></p></td>
                <td class="replace_item">未被替代</td>
                <td class="itme_list_off">
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                </td>

            </tr>
            <tr>
                <td class="replace_item">已被替代</td>
                <td class="itme_list_on">
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张小明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                    <a href="javascript:;" data-admin-id="1">张明</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="footer"></div>
<% include ../common/bottom.ejs %>
</body>