<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%=csslinkb2s%>smallHelper.css">
</head>
<body data-init="smallHelper">
<div class="col2">
    <div class="col-left">
        <div class="title">黑鸟小助手发送页面</div>
        <div class="user-list">
            <ul>
                <li>黑鸟小助手</li>
            </ul>
        </div>
    </div>
    <div class="col-right">
        <div class="block-con no-border">
            <h5>选择类型</h5>
            <div class="con-list">
                <ul id="lesson-banben">

                </ul>
            </div>
        </div>

        <div class="block-con dn jibie">
            <h5>选择组</h5>
            <div class="con-list">
                <ul id="lesson-jibie">

                </ul>
            </div>
        </div>

        <div class="block-con dn danyuan">
            <div class="con-list detail-user">
                <ul id="selUser">

                </ul>
            </div>
        </div>

        <div class="sel-btn">
            <a href="javascript:;" id="subUserData" target="_blank">下一步</a>
        </div>
    </div>
</div>
</body>
<% include ../common/bottom.ejs %>