<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>Statistics_list.css">
</head>
<body data-init="StatisticsList" class="">  
<div class="statistics_center">
    <h2>CC发送记录</h2>
    <ul class="clearfix">
        <li><a href="#"></a>选择查询节点：</li>
        <li>本日</li>
        <li>本周</li>
        <li>本月</li>
    </ul>
    <!-- 正常均分table -->
   <!--  <div class="content_table">
        <table>
            <tr>
                <th>cc类型</th>
                <th>cc名字</th>
                <th>发送条数</th>
            </tr>
            <tr>
                <td>B2s6666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666</td>
                <td>cq</td>
                <td>58条</td>
            </tr>
           <tr>
                <td>B2s</td>
                <td>cq</td>
                <td>58条</td>
            </tr>
            <tr>
                <td>B2s</td>
                <td>cq</td>
                <td>58条</td>
            </tr>
            <tr>
                <td>B2s</td>
                <td>cq</td>
                <td>58条</td>
            </tr>
            <tr>
                <td>B2s</td>
                <td>cq</td>
                <td>58条</td>
            </tr>
        </table>
    </div> -->
    <div class="content_more">
        <table width="100%">
            <tr>
                <td width="60%" class="f-th">信息</td>
                <td width="20%">MMM</td>
                <td width="20%">时间</td>
            </tr>
            <tr>
                <td width="60%" class="f-th">dd事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司</td>
                <td>3333333333333333333</td>
                <td>3333333333333333333</td>
            </tr>
             <tr>
                <td width="60%" class="f-th">dd事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司</td>
                <td>3333333333333333333</td>
                <td>3333333333333333333</td>
            </tr>
             <tr>
                <td width="60%" class="f-th">dd事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司</td>
                <td>3333333333333333333</td>
                <td>3333333333333333333</td>
            </tr>
             <tr>
                <td width="60%" class="f-th">dd事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司</td>
                <td>3333333333333333333</td>
                <td>3333333333333333333</td>
            </tr>
             <tr>
                <td width="60%" class="f-th">dd事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司</td>
                <td>3333333333333333333</td>
                <td>3333333333333333333</td>
            </tr>
             <tr>
                <td width="60%" class="f-th">dd事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司事实上事实上是寿司</td>
                <td>3333333333333333333</td>
                <td>3333333333333333333</td>
            </tr>
        </table>
    </div>
</div>
<% include ../common/bottom.ejs %>
</body>