<!-- 尾部 -->
<div class="info">
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
</div>