<% include ../common/top.ejs %>
<body>
   <% include com/header.ejs %>
   <article class="t_inputCode" data-init="tmall">
     <h2 class="t_tit"><span>3</span>步开始上课！</h2>
     <h3>课程码激活</h3>
     <form id="f_courseCode">
        <div class="t_group">
          <input type="text" name="course_code" class="courseCode" placeholder="课程码" />
          <p class="t_tip tip_courseCode" ><i></i>您输入的课程码有误！</p>
        </div>
        <div class="t_group">
          <input type="text" name="captcha" class="courseCode t_imgCode" placeholder="验证码" />
          <input type="button" class="imgCode" value="abcd" />
          <p class="t_tip tip_imgCode" ><i></i>您输入的验证码有误！</p>
        </div>
        <div class="t_group">
         <!--  <input type="button" name="activCode" class="subCode t_getCourseCode" value="激活验证码" data-href="http:\\www.baidu.com" /> -->
          <a href="javascript:;" class="subCode t_getCourseCode" data-href="http:\\www.baidu.com">激活验证码</a>
        </div>
     </form>
   </article>
   <% include com/f_bg.ejs %>
</body>
<% include ../common/bottom.ejs %>