<% include ../common/top.ejs %>
<body>
   <% include com/header.ejs %>
   <article class="t_starClass" data-init="tmall">
     <h3>开始上课</h3>
     <img src="<%= imagessrc%>t_ok.png" class="t_ok" alt="">
      <p>感谢您完成课程激活！</p>
      <p>您现在可以约课了。</p>
      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.talk51.dasheng" class="t_reservClass">下载app,课程约起来</a>
   </article>
   <% include com/f_bg.ejs %>
</body>
<% include ../common/bottom.ejs %>