<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/openclass/openclass.css">
</head>
<body>
<!-- data-status=0 不支持微信端上课的页面    data-status=1 支持微信端上课的页面 -->
<section class="cls-details" id="container" data-init="openclass" data-status="1">
  <section class="deta-img">
    <span class="cls-logo"><img src="/images/wap/openclass/cls_logo.png"></span>
    <span class="share"><img src="/images/wap/openclass/deta_collection.png"></span>
    <span class="collection"><img src="/images/wap/openclass/deta_share.png"></span>
  </section>
  <section class="title">
    <h3>【精品绘本阅读课程】My FirstReading Library : 我的馆我是51Talk的Chynette老师，我毕业于美国纽约大学，我热爱我</h3>
    <p>2016-11-28 星期四 19:00</p>
  </section>
  <!-- teaching -->
  <section class="teaching">
    <ul>
      <li><img src="/images/wap/openclass/default01.png"></li>
      <li><span class="tt">Anastasia</span></li>
      <li><span class="ts">主讲老师</span></li>
      <li>我是51Talk的Chynette老师，我毕业于美国纽约大学，我热爱我的工作</li>
    </ul>
  </section>
  <section class="course">
    <h3>课程简介</h3>
    <span class="hr"></span>
    <section class="test">
      <p> 51Talk的Aman da老师给小朋友们带来了全新绘本My First ReadingLibrary！这套书采用华丽插图和浅显易懂的故事情节，让儿童可以逐渐自行阅读较大部分的内容，逐步建立起阅读的信心。</p>
      <p>前 22 本摘自 Usborne Very First Reading 并包括学校中使用的语音教学法。Usborne Very First Reading 在尽量不需要成人的支持和指导的情况下，让新手读者可以从学习人生中前几个字母到独立阅读富有想象力的故事。</p>
      <p>还等什么呢？快带着好朋友来一起上课吧～～</p>
    </section>
  </section>
  <section class="follow">
    <h3>更多51Talk免费公开课</h3>
    <p>请关注“51Talk无忧英语”微信公众号</p>
    <section class="code">
      <img src="/images/wap/openclass/talker51.png">
      <p>长按识别图中二维码</p>
    </section>
  </section>
  <!-- add app -->
  <section class="app-bom hide">
    <section class="join-cls">
      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.talk51.dasheng" class="app-text">下载APP ，获取更多精彩内容</a>
    </section> 
  </section>
  <!-- add app -->
  <!-- 教室状态 -->
  <section class="join-bom">
    <section class="join-cls">
      <section class="cls-lt">
        <i class="detaT" data-end-time="2017/02/23 20:00:00" data-differ-time="2017/02/22 10:00:00" data-server-time="2017/02/22 20:10:00"></i>
      </section>
      <!-- data-type-num:1 表示有小助手;  data-type-num:2 表示没有小助手; data-type-num:3 表示QQ-->
      <section class="cls-rt hide" data-type-num="2" id="clsEnter">
        <a href="javascript:;" class="entBtn">进入教室</a>
      </section>
      <section class="cls-rt hide" id="nowOrder">
        <a href="javascript:;" class="entBtn">马上预约</a>
      </section>
    </section>
    <section class="dataDiffer hide">
      改课程已结束
    </section>
  </section>
  <!-- /教室状态 -->
</section>
<!-- 分享弹出层 -->
<div class="shareLayer hide">
  <i class="detaShare detaKeep"></i>
</div>
<!-- /分享弹出层 -->
<!-- 公开课预约成功 -->
<div class="successLayer hide">
  <div class="sucCont">
    <div class="nav">
      <h3>公开课预约成功</h3>
      <i class="delete"><img src="/images/wap/openclass/deta_delete.png"></i>
    </div>
    <div class="content">您已成功预约了[My First Reading Library:我的阅读图书馆]公开课,上课时间是<i>明天 19:00</i>,请添加<i>“公开课小助手”</i>为好友,及时获得上课提醒和更多课程信息哦～</div>
    <div class="code">
      <p class="tt">“51talk无忧英语” 微信服务号</p>
      <img src="/images/wap/openclass/woyaotalkenglish.png" class="code-img">
      <p class="ts">长按识别图中二维码</p>
    </div>
  </div>
</div>
<!-- /公开课预约成功 -->
<!-- QQ公开课预约成功 -->
<div class="qqLayer hide">
  <div class="sucCont">
    <div class="nav">
      <h3>公开课预约成功</h3>
      <i class="delete"><img src="/images/wap/openclass/deta_delete.png"></i>
    </div>
    <div class="content"> 您已成功预约了【 My First Reading Library ：我的阅读图书馆】公开课，上课时间是<i>明天19:00</i>，请您加入51Talk公开课QQ群，及时获得上课提醒和更多贴心服务哦～<i>公开课QQ群号：514092168</i></div>
    <div class="code">
      <p class="tt">“51talk无忧英语” 微信服务号</p>
      <img src="/images/wap/openclass/woyaotalkenglish.png" class="code-img">
      <p class="ts">长按识别图中二维码</p>
    </div>
  </div>
</div>
<!-- qq/公开课预约成功 -->
<!-- 上课提示 -->
<div class="classtips hide">
  <div class="sucCont">
    <div class="nav">
      <h3>上课提示</h3>
      <i class="delete"><img src="/images/wap/openclass/deta_delete.png"></i>
    </div>
    <img src="/images/wap/openclass/cls_not_img.png" class="notImg">
    <p class="title">抱歉,该课程还没有开始哦～</p>
    <div class="content">[My First Reading Library:我的阅读图书馆]的上课时间是<i>明天 19:00</i>,教室将于<i>课前1小时</i>开放,请提前进入教室等待上课哦～</div>
  </div>
</div>
<!-- /上课提示 -->
<!-- 进入教室 -->
<input type="hidden" value="" name="nick_name" class="nickName">
<input type="hidden" value="2" name="token" class="token">
<div class="enterLayer hide" data-url-enter="www.baidu.com">
  <div class="enter">
    <p>取一个好听的英文名，让老师记住你吧～</p>
    <div class="input"><input type="text" placeholder="请输入英文名" class="inputTest"></div>
    <a href="javascript:;" class="enterBtn">进入教室</a>
  </div>
</div>
<form action="http://www.51talk.com" id="formAction" method="post">
  <input type="hidden" name="nick_name" id="nickName">
  <input type="hidden" name="token" id="toKen">
  <img src="/images/wap/openclass/talker51.png" width="1" height="1" border="0" onclik="return submit()">
</form>
<!-- /进入教室 -->
<!--微信分享用到的参数-->
  <input type="hidden" value="{$wxJsApiConfig.course_name}" id="courseTitle">
  <input type="hidden" value="{$wxJsApiConfig.appId}" id="appIdHid">
  <input type="hidden" value="{$wxJsApiConfig.nonceStr}" id="nonceStrHid">
  <input type="hidden" value="{$wxJsApiConfig.timestamp}" id="timestampHid">
  <input type="hidden" value="{$wxJsApiConfig.signature}" id="signatureHid">
<!--/微信分享用到的参数-->
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/openclass/vendor.js"></script>
</html>