<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/app_dialog/app_dialog.css">
</head>
<body data-init="answer">
<form action="" method="get" id="answerForm">
  <div class="dialog-wrap answer-wrap">
    <div class="answer-tit">答题</div>
    <div class="answer-question">How ____ you!</div>
    <ul class="answer-option-pic cfix">
      <li data-val="a" class="txt-no">
        <dl>
          <dt><img src="/images/wap/app_dialog/answer-pic-01.jpg" alt=""></dt>
          <dd>
            <span>A</span>
          </dd>
        </dl>
      </li>
      <li data-val="b">
        <dl>
          <dt><img src="/images/wap/app_dialog/answer-pic-01.jpg" alt=""></dt>
          <dd>
            <span>B</span>
          </dd>
        </dl>
      </li>
      <li data-val="c">
        <dl>
          <dt><img src="/images/wap/app_dialog/answer-pic-01.jpg" alt=""></dt>
          <dd>
            <span>C</span>
          </dd>
        </dl>
      </li>
      <li data-val="d" class="txt-yes">
        <dl>
          <dt><img src="/images/wap/app_dialog/answer-pic-01.jpg" alt=""></dt>
          <dd>
            <span>D</span>
          </dd>
        </dl>
      </li>
    </ul>
    <input type="hidden" name="val" id="answerVal" value="">
    <div class="answer-dialog">
      <a href="http://www.51talk.com/"><input type="button" value="购买课程，参与答题" class="answer-buy"></a>
    </div>
  </div>
</form>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/app_dialog/vendor.js"></script>
</html>