<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/app_dialog/app_dialog.css">
</head>
<body>
  <div class="dialog-wrap answer-wrap-paySuccess3">
    <div class="pay-tit">购买课程服务</div>
    <div class="pay-text">你已经成功购买外教专属1对1课程！</div>
    <div class="pay-con">剩余次卡<span class="color1">10次</span><br>有效<span class="color1">1个月</span>至<span class="color1">2016年12月13日</span></div>
  </div>
<!-- <img src="/images/wap/app_dialog/account-headicon-agent.png" alt=""> -->
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/app_dialog/vendor.js"></script>
</html>