<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/app_dialog/app_dialog.css">
</head>
<body data-init="pay">
<form action="" method="get" id="answerForm">
  <div class="dialog-wrap answer-wrap-pay">
    <div class="answer-pay-con">
      <div class="answer-pay-cost4">
        <ul class="pay-cost-items js_pay">
          <li class="js_radio" data-payid="111" data-price="598" data-discount="100">
            <dl class="cfix">
              <dt class="fl icon-radio icon-radio-yes"><span class="font1">15次课</span>&nbsp;<span  class="font2">(学习有效期1个月)</span></dt>
              <dd class="fr"><span  class="font3">¥ 748</span>&nbsp;<span  class="font4">¥598</span></dd>
            </dl>
          </li>
          <li class="js_radio" data-payid="222" data-price="1098" data-discount="200">
            <dl class="cfix">
              <dt class="fl icon-radio icon-radio-no"><span class="font1">30次课</span>&nbsp;<span  class="font2">(学习有效期2个月)</span></dt>
              <dd class="fr"><span  class="font3">¥ 1398</span>&nbsp;<span  class="font4">¥1098</span></dd>
            </dl>
          </li>
          <li class="js_radio" data-payid="333" data-price="1598" data-discount="300">
            <dl class="cfix border1">
              <dt class="fl icon-radio icon-radio-no"><span class="font1">40次课</span>&nbsp;<span  class="font2">(学习有效期3个月)</span></dt>
              <dd class="fr"><span  class="font3">¥ 1998</span>&nbsp;<span  class="font4">¥1598</span></dd>
            </dl>
          </li>
          <li class="js_select">
            <dl class="cfix">
              <dt class="fl icon-select"><span class="font1">已购买精品课，立享优惠</span></dt>
              <dd class="fr"><span  class="font2">- ¥<span class="js_discount">100</span></span></dd>
            </dl>
          </li>
          <li class="bg1">
            <dl class="cfix">
              <dt class="fl"></dt>
              <dd class="fr"><span class="font1">实付金额</span>&nbsp;<span class="font4">¥<span class="js_actualAmount">498</span></span></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <div class="answer-pay-bottom">
      <span class="alipay" data-pay="alipay">支付宝购买</span>
      <span class="WeChat js_weixin" data-pay="weixin.qq">微信购买</span>
      <input type="hidden" name="XX1" id="vipPayId" value="111">
      <input type="hidden" name="XX2" id="vipPay" value="">
    </div>
  </div>
<!-- <img src="/images/wap/app_dialog/account-headicon-agent.png" alt=""> -->
</form>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/app_dialog/vendor.js"></script>
</html>