<div class="sub-class">
    <div class="vediolearing">
        <div class="vedio-result">
            <div class="state"></div>
            <div class="description">
              <h3 class="description-title">
                好棒！您已通过盲听+猜图+跟读，实现对话的<span class="emphasize">充分理解</span>                   
              </h3>
              <p class="description-tips">
                快和外教来一课，体验有画面感的真正的“<span class="emphasize">说英语</span>”（不再是机械的读课文）的感觉吧！
              </p>
              <span class="relearning">重新学习</span>
            </div>
        </div>            
    </div>
</div>