<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="../../../css/html/weixin_heck/common.css">
    <link rel="stylesheet" type="text/css" href="../../../css/html/weixin_heck/defaultChat.css">
</head>
<body data-init="defaultChat">
<div class="big-bg">
    <div>
        <h4>欢迎来到黑鸟项目，点击下方跳转到微信聊天页</h4>
        <input type="submit" name="submit" value="点击跳转 >>">
    </div>
</div>
</body>
<!--公共尾部结束-->
<script src="../../../js/html/project/weixin_heck/vendor.js"></script>
</html>