<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="../../../css/html/weixin_heck/common.css">
    <link rel="stylesheet" type="text/css" href="../../../css/html/weixin_heck/friendCircle.css">
</head>
<body data-init="myCircle" class="weixin_circle weixin_circle_new">
    <input type="hidden" data-nick='winfred' wechat-id='1' id="data-self">
    <input type="hidden" data-id="" id="data-id">
    <input type="hidden" wechat-id="" id="wechat-id">
    <div class="clear-fix heck_center" >
        <div class="content">

            <div class="content-head">
                <a href="javascript:;"></a>
                <span>朋友圈</span>
            </div>
            <!--朋友圈背景-->
            <div class="circle-top-bg">
                <img src="../../../images/html/weixin_heck/cchead.jpg">
            </div>
            <!-- 朋友圈内容 -->
            <!-- 猜你关注 -->
            <div class="already_send_mes already_send_mes_guess">
                <h6 class="already_send_mes_type">
                    我的朋友圈
                    <div class="personal">
                        <a href="https://www.baidu.com">
                            <div class="layer"></div>
                            <img src="../../../images/html/weixin_heck/cchead.jpg">
                        </a>
                    </div>
                </h6>

                <!--视频-->
                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔记登录或同</p>
                        <div class="share-video">
                            <video controls >
                                <source src="http://testtest1117.oss-cn-beijing.aliyuncs.com/5cf78580ead04253f5145ccb803abe2a.mp4">
                            </video>
                        </div>
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes not-like" data-like=''></span>-->
                                    <!--&lt;!&ndash;转发&ndash;&gt;-->
                                    <!--<span class="js-broad-mes" data-admin-id="2222323"></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->

                            </div>
                            
                            <div class="comment_h">
                                <!-- <div class="comment_like">winfred，黑白</div> -->

                                <div class="comment_g">
                                    <p>
                                        <em>Mark:</em> 好赞！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="1" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Smart</em> 回复 <em>Mark:</em> 必须赞！！！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="2" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark</em> 回复 <em>Smart:</em> 为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="3" back-name="Mark">回复</i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--文章-->
                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔记登录或记的...</p>
                        <div class="share-article">
                            <a href="javascript:;">
                                <dt>
                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58">
                                </dt>
                                <dd>
                                    <p>交互产品中的音效设计</p>
                                    <p>用户界面音效用户界面音效是个很有意思的话题，在过去很长时间内在过去很长时间内在过去很长时间内在过去很长时间内在过去很长时间内在过去很长时间内</p>
                                </dd>
                            </a>
                        </div>
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->

                                    <!--<span class="js-like-mes" data-like='[{"createtime":1489647114,"username":"1","nickname":"winfred"}]'></span>-->
                                    <!--&lt;!&ndash;转发&ndash;&gt;-->
                                    <!--<span class="js-broad-mes" data-admin-id="11323"></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                                <div class="comment_like">winfred</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--正常消息-->
                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔...</p>
                        <ul class="clear-fix">
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                            <li><img src="../../../images/html/weixin_heck/account_img2.png"></li>
                        </ul>
                    
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes not-like" data-like='[{"createtime":1489647114,"username":"2","nickname":"黑白"}]'></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                                <div class="comment_like">黑白</div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark:</em> 好赞！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="1" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Smart</em> 回复 <em>Mark:</em> 必须赞！！！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="2" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark</em> 回复 <em>Smart:</em> 为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？
                                    </p>
                                    <!--<!--<i class="js-back-mes" wechat-rid="3" back-name="Mark">回复</i>-->-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">               
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔记登录...</p>
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes" data-like='[{"createtime":1489647114,"username":"2","nickname":"黑白"},{"createtime":1489647114,"username":"1","nickname":"winfred"}]'></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                                <div class="comment_like">黑白，winfred</div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark:</em> 好赞！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="1" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Smart</em> 回复 <em>Mark:</em> 必须赞！！！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="2" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark</em> 回复 <em>Smart:</em> 为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="3" back-name="Mark">回复</i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 其他内容 -->
            <div class="already_send_mes">
                <h6 class="already_send_mes_type">其他内容</h6>
                <!--视频-->
                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔记登录或同</p>
                        <div class="share-video">
                            <video controls >
                                <source src="http://testtest1117.oss-cn-beijing.aliyuncs.com/5cf78580ead04253f5145ccb803abe2a.mp4">
                            </video>
                        </div>
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes"></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                                <div class="comment_g">
                                    <p>
                                        <em>Mark:</em> 好赞！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="1" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Smart</em> 回复 <em>Mark:</em> 必须赞！！！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="2" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark</em> 回复 <em>Smart:</em> 为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="3" back-name="Mark">回复</i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--文章-->
                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔记登录或记的...</p>
                        <div class="share-article">
                            <a href="javascript:;">
                                <dt>
                                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58">
                                </dt>
                                <dd>
                                    <p>交互产品中的音效设计</p>
                                    <p>用户界面音效用户界面音效是个很有意思的话题，在过去很长时间内在过去很长时间内在过去很长时间内在过去很长时间内在过去很长时间内在过去很长时间内</p>
                                </dd>
                            </a>
                        </div>
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes"></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                            </div>
                        </div>
                    </div>
                </div>
                <!--正常消息-->
                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔...</p>
                        <ul class="clear-fix">
                            <li>
                                <a rel=gallery href="../../../images/html/weixin_heck/account_img2.png">
                                    <img src="../../../images/html/weixin_heck/account_img2.png">
                                </a>
                            </li>
                            <li>
                                <a rel=gallery href="../../../images/html/weixin_heck/account_img2.png">
                                    <img src="../../../images/html/weixin_heck/account_img2.png">
                                </a>
                            </li>
                            <li>
                                <a rel=gallery href="../../../images/html/weixin_heck/account_img2.png">
                                    <img src="../../../images/html/weixin_heck/account_img2.png">
                                </a>
                            </li>
                            <li>
                                <a rel=gallery href="../../../images/html/weixin_heck/account_img2.png">
                                    <img src="../../../images/html/weixin_heck/account_img2.png">
                                </a>
                            </li>
                        </ul>
                    
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes"></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                                <div class="comment_g">
                                    <p>
                                        <em>Mark:</em> 好赞！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="1" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Smart</em> 回复 <em>Mark:</em> 必须赞！！！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="2" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark</em> 回复 <em>Smart:</em> 为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="3" back-name="Mark">回复</i>-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="already_mes already_img_mes" wechat-mid="hh">
                    <img src="../../../images/html/weixin_heck/cchead.jpg" class="person_detail" />
                    <div class="mes_detail">               
                        <h4>winfred</h4>
                        <p class="mes_detail_text">如果有道云笔记登录...</p>
                        <!--评论-->
                        <div class="comment_people">
                            <!--自己名字设置 wechat-rid 为空，否则设置名字-->
                            <div class="comment_s">
                                <span class="comment_time">3月4日 18:14</span>
                                <!-- 删除 -->
                                <span class="close_btn"  delet-url="">删除</span>

                                <!--<div class="comment_op">-->
                                    <!--&lt;!&ndash; 点赞 &ndash;&gt;-->
                                    <!--<span class="js-like-mes"></span>-->
                                    <!--&lt;!&ndash; 评论 &ndash;&gt;-->
                                    <!--<span class="js-back-mes"></span>-->
                                <!--</div>-->
                            </div>
                            
                            <div class="comment_h">
                                <div class="comment_g">
                                    <p>
                                        <em>Mark:</em> 好赞！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="1" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Smart</em> 回复 <em>Mark:</em> 必须赞！！！
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="2" back-name="Mark">回复</i>-->
                                </div>
                                <div class="comment_g">
                                    <p>
                                        <em>Mark</em> 回复 <em>Smart:</em> 为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？为什么赞？
                                    </p>
                                    <!--<i class="js-back-mes" wechat-rid="3" back-name="Mark">回复</i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 朋友圈内容 -->
        </div>
    </div>

    <!-- 绑定弹层 -->
    <div class="load_up">
        <div>内容上传中。。。</div>
    </div>
    <div class="ifr">
        <div class="show-circle">
            <span><em>&times;</em><i></i></span>
            <h5><span>朋友圈库</span></h5>
            <iframe class="ifra" src="CircleLibrary.html"></iframe>
        </div>
    </div>
    <!--<div class="footer"></div>-->
    <div class="uptop"></div>
<div class="zhuanfa-layer">
    <div class="flex-layer" data-id="">
        <div class="zhuanfa">
            <div class="content">
                <textarea placeholder=""></textarea>
            </div>
            <div class="zf-btn">
                <span class="confirm" data-id="123">转发</span>
                <span class="concel">取消</span>
            </div>
        </div>
    </div>
</div>


</body>
<!--公共尾部结束-->
<script src="../../../js/html/project/weixin_heck/vendor.js"></script>
</html>