<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/template_prize/template_prize.css">
</head>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <!-- 顶部 -->
  <div class="header">
    <a href="javascript:;" class="hr-lt">
      <i></i>
      <b><span>美国纽交所上市公司（股票代码：COE）</span>全球信赖的在线英语领导品牌</b>
      <!-- 青少 -->
      <b class="qs-tit hide">外教1对1，在家学英语</b>
    </a>
    <div class="hr-rt">
      <div class="rt-top">
        <ul>
          <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
          <li><a href="http://www.baidu.com" id="login_url">登录</a></li>
          <li><a href="javascript:;">免费注册</a></li>
          <li><a href="javascript:;">企业培训</a></li>
          <li class="jsMore">
            <a href="javascript:;">微博</a>
            <!-- 微博弹层 -->
            <div class="weibo jsUl">
              <a href="javascript:;"></a>
            </div>
          </li>
          <li class="jsMore">
            <a href="javascript:;">微信</a>
            <!-- 微信弹层 -->
            <div class="weixin jsUl">
              <a href="javascript"><img src="/images/html/template_prize//top_weixin.png" alt=""></a>
            </div>
          </li>
          <li></li>
        </ul>
      </div>
      <span><i></i>4000-51-51-51</span>
    </div>
  </div>
</div>
<!-- 购物车 -->
  <input type="hidden" id="cartType" value="cart">
  <input type="hidden" id="cartID" value="">
  <input type="hidden" id="actArr" value="">
  <input type="hidden" id="downMoney" value="0">
  <input type="hidden" id="showAgree" value="n">
  <form id="form-cart" name="point_form" action="/pay/order" method="post" target="_blank">
    <div class="m-cart" id="cart" style="right:-255px; " ><!-- right从 0 到 -251  -->
      <input type="hidden" name="cart" value='{"cart":[],"package":"off","earphone":"off"}'>
      <div class="cart-hd"><em class="jsCount">0</em></div>
      <div class="cart-bd"><!-- width从 0 到 251  -->
        <div class="cart-in">
          <div class="title">我的购物车（<em class="jsCount">0</em>）
            <div class="u-pages">
              <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
              <span class="crt"><em class="jsPageNow">1</em><em>/</em><em class="jsPageCount">1</em></span>
              <a class="next dis-next" href="javascript:void(0)">&gt;</a>
            </div>
          </div>
          <div class="products">
              <div class="jsWrap">
              </div>
          </div>
          <div class="addeds" style="visibility: hidden;">
              <dl class="product">
                  <a class="s-fc6" href="#level">立即购买配套教材，学习效果更佳！</a>
              </dl>
              <dl class="product">
                  <dt class="added">
                      <label class="u-lab jsPackageLabel">
                          <input class="f-dn" type="checkbox" name="package">

                          <span class="u-txt">+<em class="jsPackage">0</em>元，您还可以选购<a href="javascript:;">电话包</a></span>
                      </label>
                  </dt>
              </dl>
              <dl class="product" style="border-top: 1px solid rgb(228, 234, 238);">
                  <dt class="added">
                  <label class="u-lab jsEarphoneLabel">
                      <input class="f-dn" type="checkbox" name="earphone">
                     
                      <span class="u-txt" data-cart="">+50元，选购高保真耳麦(双插头)</span>
                  </label>
                  </dt>
              </dl>
              <p class="differ" style="display:none;">补差价金额：
                  <em class="jsMinuend">10288</em>&nbsp;-&nbsp;
                  <em class="jsMeiosis">3588</em>&nbsp;=&nbsp;
                  <em class="jsDifference">6700</em>
              </p>
          </div>
          <div class="total-orders">订单总金额：<em class="jsTotal" data-total="5799">23045</em></div>
          <div class="total-orders-stagin" style="display: none;">金额总计：<em class="jsTotal" data-total="5799"></em></div>
          <div class="submit">
            <input class="button jsSubmit" type="submit" value="提交订单" style="width: 117px;">
          </div>
        </div>
      </div>
    </div>
  </form>
<!-- /购物车 -->
<div class="container" data-init="index">
  <!-- banner -->
    <div class="banner">
      <div class="widthMain">
        <img src="/images/html/template_prize/banner.jpg" class="barlmg">
        <!-- nav 3 -->
        <div class="links links03 hide">
          <ul>
            <li><a href="#part1"><img src="/images/html/template_prize/links3_icon01.png"></a></li>
            <li><a href="#part2"><img src="/images/html/template_prize/links3_icon02.png"></a></li>
            <li><a href="#part3"><img src="/images/html/template_prize/links3_icon03.png"></a></li>
          </ul>
        </div>
        <!-- /nav 3-->
        <!-- nav 4 -->
        <div class="links links04 hide">
          <ul>
            <li><a href="#part1"><img src="/images/html/template_prize/links4_icon01.png"></a></li>
            <li><a href="#part2"><img src="/images/html/template_prize/links4_icon02.png"></a></li>
            <li><a href="#part3"><img src="/images/html/template_prize/links4_icon03.png"></a></li>
            <li><a href="#part4"><img src="/images/html/template_prize/links4_icon04.png"></a></li>
          </ul>
        </div>
        <!-- /nav 4 -->
        <!-- nav 5 -->
        <div class="links links05 hide">
          <ul>
            <li><a href="#part1"><img src="/images/html/template_prize/links5_icon01.png"></a></li>
            <li><a href="#part2"><img src="/images/html/template_prize/links5_icon02.png"></a></li>
            <li><a href="#part3"><img src="/images/html/template_prize/links5_icon03.png"></a></li>
            <li><a href="#part4"><img src="/images/html/template_prize/links5_icon04.png"></a></li>
            <li><a href="#part5"><img src="/images/html/template_prize/links5_icon05.png"></a></li>
          </ul>
        </div>
        <!-- /nav 5 -->
        <!-- nav 6 -->
        <div class="links links06 hide">
          <ul>
            <li><a href="#part1"><img src="/images/html/template_prize/links6_icon01.png"></a></li>
            <li><a href="#part2"><img src="/images/html/template_prize/links6_icon02.png"></a></li>
            <li><a href="#part3"><img src="/images/html/template_prize/links6_icon03.png"></a></li>
            <li><a href="#part4"><img src="/images/html/template_prize/links6_icon04.png"></a></li>
            <li><a href="#part5"><img src="/images/html/template_prize/links6_icon05.png"></a></li>
            <li><a href="#part6"><img src="/images/html/template_prize/links6_icon06.png"></a></li>
          </ul>
        </div>
        <!-- /nav 6 -->
        <!-- nav 7 -->
        <div class="links links07">
          <ul>
            <li><a href="#part1"><img src="/images/html/template_prize/links7_icon01.png"></a></li>
            <li><a href="#part2"><img src="/images/html/template_prize/links7_icon02.png"></a></li>
            <li><a href="#part3"><img src="/images/html/template_prize/links7_icon03.png"></a></li>
            <li><a href="#part4"><img src="/images/html/template_prize/links7_icon04.png"></a></li>
            <li><a href="#part5"><img src="/images/html/template_prize/links7_icon05.png"></a></li>
            <li><a href="#part6"><img src="/images/html/template_prize/links7_icon06.png"></a></li>
            <li><a href="#part7"><img src="/images/html/template_prize/links7_icon07.png"></a></li>
          </ul>
        </div>
        <!-- /nav 7 -->
      </div>
    </div>
  <!-- /banner -->
  <div class="content">
  <!-- 抽奖 -->
    <div class="part1" id="part1">
      <div class="nav-title">
        <img src="/images/html/template_prize/part_t_img01.png">
        <h3 class="title">主标题大抽奖大抽奖</h3>
      </div>
      <div class="lotteryBox">
        <div class="prizeDetail">
          <div class="prizeList">
            <h3 class="prizeTitle">中奖名单</h3>
            <div class="dots"></div>
            <ul class="nameList">
              <li>absefd 学员抽中 歌帝梵巧克力</li>
              <li>Elisa 学员抽中 乐高积木盒</li>
              <li>Eason 学员抽中 1400元代金券</li>
              <li>LULU 学员抽中 彼得兔经典故事集</li>
              <li>李白 学员抽中 1000元代金券</li>
            </ul>
          </div>
          <div class="rule">
            <ul class="ruleList">
              <li>活动规则:</li>
              <li>1.活动时间：12月2日11：00：00——12月12日 23：59：59</li>
              <li>2.在活动期间用户购买套餐实际支付4000元及以上后获得一次抽奖机会</li>
              <li>3.图片仅供参考，以实物为准，非实物类将自动充入账户，实物类将在活动结束后由客服联系寄出</li>
              <li>4.本活动最终解释权归51Talk所有</li>
            </ul>
          </div>
        </div>
        <!-- data-lottery-url:抽奖url   data-log-url:抽奖记录url-->
        <div class="lottery" data-lottery-url="/Activity/dofestival">
          <div class="prizeBox">
            <ul class="prizes" id="prizeList">
                <li class="active"><img src="/images/html/template_prize/prize1.png" class="prize1"></li>
                <li><img src="/images/html/template_prize/prize2.png" class="prize2"></li>
                <li><img src="/images/html/template_prize/prize3.png" class="prize3"></li>
                <li><img src="/images/html/template_prize/prize4.png" class="prize4"></li>
                <li><span class="prize5" id="pointer"></span></li>
                <li><img src="/images/html/template_prize/prize5.png" class="prize6"></li>
                <li><img src="/images/html/template_prize/prize6.png" class="prize7"></li>
                <li><img src="/images/html/template_prize/prize7.png" class="prize8"></li>
                <li><img src="/images/html/template_prize/prize8.png" class="prize9"></li>
            </ul>
          </div>
        </div>
      </div>
      <a href="javascript:;" class="btnMore" id="logBtn" data-log-url="/Activity/getUserLottery">查看中奖记录<i><img src="/images/html/template_prize/template_btn_img.png"></i></a>
    </div>
  <!-- /抽奖 -->
  <!-- 抢特价爆款 -->
    <div class="part2" id="part2">
      <div class="nav-title">
        <img src="/images/html/template_prize/part_t_img02.png">
        <h3 class="title">副标题副标题副标题副标题</h3>
      </div>
      <div class="classBox">
        <h3 class="label">全年Top榜</h3>
        <ul class="classList clearfix">
          <li class="clearfix">
            <img src="/images/html/template_prize/item180.jpg">
            <span class="half"><img src="/images/html/template_prize/template_adult.png"></span>
            <div class="item">
                <h3 class="desc">青少经典英语18单元学习套餐</h3>
                <p class="price"><span class="cur">￥6648 </span><span class="old">￥7188</span></p>
            </div>
            <a href="javascript:;" data-point="nor" data-id="23217" data-cart='{"id":23217,"price":"5799","package":"0","cash_card":"0","point_type":"junior_point","point_value":"1","expire_days":"365","point_title":"wwwww"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
          </li>
          <li class="clearfix">
            <img src="/images/html/template_prize/item270.jpg">
            <span class="half"><img src="/images/html/template_prize/template_price.png"></span>
            <div class="item">
                <h3 class="desc">青少经典英语36单元学习套餐</h3>
                <p class="price"><span class="cur">￥10388</span><span class="old">￥14988</span></p>
            </div>
            <a href="javascript:;" data-point="nor" data-id="9167" data-cart='{"id":9167,"price":"4088","package":"450","cash_card":"0","point_type":"point","point_value":" 90 ","expire_days":"180"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
          </li>
          <li class="clearfix">
            <img src="/images/html/template_prize/item270.jpg">
            <span class="half"><img src="/images/html/template_prize/template_youth.png"></span>
            <div class="item">
                <h3 class="desc">180次次卡学习套餐</h3>
                <p class="price"><span class="cur">￥6648</span><span class="old">￥7188</span></p>
            </div>
            <a href="javascript:;"  class="buy u-btn jsPre active" data-point="nor" data-id="9077" data-cart='{"id":9077,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" ></a>
          </li>
          <li class="clearfix">
            <img src="/images/html/template_prize/item96.jpg">
            <div class="item">
                <h3 class="desc">270次次卡学习套餐</h3>
                <p class="price"><span class="cur">￥8688</span><span class="old">￥10888</span></p>
            </div>
            <a href="javascript:;" data-point="nor" data-id="49167" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
          </li>
        </ul>
        <h3 class="label">新手必备</h3>
        <ul class="classList clearfix">
          <li class="clearfix">
            <img src="/images/html/template_prize/item270.jpg">
            <span class="half"><img src="/images/html/template_prize/template_youth.png"></span>
            <div class="item">
                <h3 class="desc">180次次卡学习套餐</h3>
                <p class="price"><span class="cur">￥6648</span><span class="old">￥7188</span></p>
            </div>
            <a href="javascript:;"  class="buy u-btn jsPre active" data-point="nor" data-id="90730" data-cart='{"id":90730,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" ></a>
          </li>
          <li class="clearfix">
            <img src="/images/html/template_prize/item96.jpg">
            <div class="item">
                <h3 class="desc">270次次卡学习套餐</h3>
                <p class="price"><span class="cur">￥8688</span><span class="old">￥10888</span></p>
            </div>
            <a href="javascript:;" data-point="nor" data-id="333217" data-cart='{"id":333217,"price":"5799","package":"0","cash_card":"0","point_type":"ct","point_value":"1","expire_days":"365"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
          </li>
        </ul>
      </div>
      <a href="javascript:;" class="btnMore">查看中奖记录<i><img src="/images/html/template_prize/template_btn_img.png"></i></a>
    </div>
  <!-- 抢特价爆款 -->
  <!-- 转介绍模块 -->
    <div class="part3" id="part3">
      <div class="nav-title">
        <img src="/images/html/template_prize/part_t_img03.png">
        <h3 class="title">副标题副标题副标题副标题</h3>
      </div>
      <div class="box-img"><img src="/images/html/template_prize/item96.jpg"></div>
      <a href="javascript:;" class="btnMore">查看中奖记录<i><img src="/images/html/template_prize/template_btn_img.png"></i></a>
    </div>
  <!-- /转介绍模块 -->
  <!-- 限时公开课 -->
    <div class="part4" id="part4">
      <div class="nav-title">
        <img src="/images/html/template_prize/part_t_img04.png">
        <h3 class="title">副标题副标题副标题副标题</h3>
      </div>
      <div class="classBox">
        <ul class="classList clearfix">
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <p><span>王亚楠&nbsp;</span>|&nbsp;12月19日&nbsp;19:00-19:50</p>
            <p>Merry Christmas&nbsp;圣诞狂欢夜</p>
            <h3 class="price"><span class="new">￥29</span><span class="old">原价￥199</span></h3>
            <a href="javascript:;" class="order">一键预约</a>
          </li>
          <li>        
            <img src="/images/html/template_prize/item96.jpg">
            <p><span>梁颖&nbsp;</span>|&nbsp;12月20日&nbsp;14:00-14:50</p>
            <p>读名著&nbsp;|&nbsp;圣诞特辑：麦琪的礼物</p> 
            <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
            <a href="javascript:;" class="order">一键预约</a>
          </li>
          <li>  
            <img src="/images/html/template_prize/item180.jpg">
            <p><span>苏佩雯&nbsp;</span>|&nbsp;12月21日&nbsp;22:00—22:50</p>
            <p>商务口语&nbsp;|&nbsp;圣诞狂欢</p>
            <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
            <a href="javascript:;" class="order">一键预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <p><span>王亚楠&nbsp;</span>|&nbsp;12月19日&nbsp;19:00-19:50</p>
            <p>Merry Christmas&nbsp;圣诞狂欢夜</p>
            <h3 class="price"><span class="new">￥29</span><span class="old">原价￥199</span></h3>
            <a href="javascript:;" class="order">一键预约</a>
          </li>
          <li>        
            <img src="/images/html/template_prize/item96.jpg">
            <p><span>梁颖&nbsp;</span>|&nbsp;12月20日&nbsp;14:00-14:50</p>
            <p>读名著&nbsp;|&nbsp;圣诞特辑：麦琪的礼物</p> 
            <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
            <a href="javascript:;" class="order">一键预约</a>
          </li>
          <li>  
            <img src="/images/html/template_prize/item180.jpg">
            <p><span>苏佩雯&nbsp;</span>|&nbsp;12月21日&nbsp;22:00—22:50</p>
            <p>商务口语&nbsp;|&nbsp;圣诞狂欢</p>
            <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
            <a href="javascript:;" class="order">一键预约</a>
          </li>
        </ul>
      </div>
      <a href="javascript:;" class="btnMore">查看中奖记录<i><img src="/images/html/template_prize/template_btn_img.png"></i></a>
    </div>
  <!-- /限时公开课 -->
  <!-- 看名师风采 -->
    <div class="part5" id="part5">
      <div class="nav-title">
        <img src="/images/html/template_prize/part_t_img05.png">
        <h3 class="title">副标题副标题副标题副标题</h3>
      </div>
      <!-- page 6 -->
      <div class="classBox clspage6 hide">
        <ul>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
        </ul>
      </div>
      <!-- /page 6 -->
      <!-- page8 -->
      <div class="classBox clspage8">
        <ul>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
          <li>
            <img src="/images/html/template_prize/item1.jpg">
            <div class="title">
              <h3>刘千</h3>
              <p>英伦腔浓重的绅士</p>
            </div>
            <p class="test">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
            <a href="javascript:;" class="apointBtn">立即预约</a>
          </li>
        </ul>
      </div>
      <!-- /page8 -->
      <a href="javascript:;" class="btnMore">查看中奖记录<i><img src="/images/html/template_prize/template_btn_img.png"></i></a>
    </div>
  <!-- /看名师风采 -->
  <!-- 代金券模块 -->
    <div class="part6" id="part6">
      <div class="nav-title">
        <img src="/images/html/template_prize/part_t_img06.png">
        <h3 class="title">副标题副标题副标题副标题</h3>
      </div>
      <div class="box-img"><img src="/images/html/template_prize/item180.jpg"></div>
      <a href="javascript:;" class="btnMore">查看中奖记录<i><img src="/images/html/template_prize/template_btn_img.png"></i></a>
    </div>
  <!-- /代金券模块 -->
  </div>
</div>
<!-- 隐藏域 -->
  <input id="isLogin" type="hidden" value="0" />
<!-- /隐藏域 -->
<!-- 弹出层 -->
<div class="mask" id="mask"></div>
<div class="prizeLog" id="prizeLog">
  <div class="front">
    <a href="javascript:;" class="btn" id="closeLog"></a>
    <div class="log yesLog">
        <h3>您已获得</h3>
        <p>51Talk纪念U盘</p>
    </div>
    <div class="log noLog">您还没有参与抽奖，快去抽奖吧！</div>
  </div>
</div>
<div class="dialog" id="dialog">
  <a href="javascript:;" class="close" id="closeDialog"><img src="/images/html/template_prize/cls_del.png"></a>
  <div class="box">
    <div class="detail" id="prize">
      <img src="/images/html/template_prize/prize1_1.png" style="display:block;">
      <img src="/images/html/template_prize/prize2_1.png">
      <img src="/images/html/template_prize/prize3_1.png">
      <img src="/images/html/template_prize/prize4_1.png">
      <img src="/images/html/template_prize/prize5_1.png">
      <img src="/images/html/template_prize/prize6_1.png">
      <img src="/images/html/template_prize/prize7_1.png">
      <img src="/images/html/template_prize/prize8_1.png">
    </div>
    <div class="title">恭喜获得：<span id="myPrize">京东卡500元</span></div>
  </div>
</div>
<!-- new layer -->
<div class="systemLayer hide">
  <div class="into">
    <div class="hd">
      <!-- <a class="close" href="javascript:;" title="关闭"></a> --><h4>系统消息</h4>
    </div>
    <div class="cotent">
      <div class="bd">
        <p>请登录后参与活动</p>
      </div>
      <div class="ft">
        <span class="know">知道了</span>
      </div>
    </div>
  </div>
</div>
<!-- /new layer -->
<!-- /弹出层 -->
<!-- 尾部 -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<!-- /尾部 -->
<script src="/js/html/project/template_prize/vendor.js" id="seajsnode"></script>
</body>
</html>