<div class="g-ft">
  <div class="g-in f-tac">
    <div class="links">
      <a href="#">关于我们</a><i>|</i>
      <a href="#">加入我们</a><i>|</i>
      <a href="#">校园代理招募</a><i>|</i>
      <a href="#">区域代理招募</a><i>|</i>
      <a href="#">企业培训</a><i>|</i>
      <a href="#">网站地图</a>
    </div>
    <div class="trust">
      <a class="t1" href="#" rel="nofollow" target="_blank"></a>
      <a class="t2" href="#" rel="nofollow" target="_blank"></a>
      <a class="t3" href="#" rel="nofollow" target="_blank"></a>
      <a class="t4" href="#" rel="nofollow" target="_blank"></a>
    </div>
    <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
  </div>
</div>
<!-- /g-ft -->
</div>
