<div class="g-sd-l">
  <div class="m-s-menu">
    <ul>
      <li class="crt"><a href="#">预约体验课</a></li>
      <li><a href="#">已预约课程</a></li>
    </ul>
    <ul>
      <li><a href="#">免费外教公开课</a></li>
      <li><a href="#">iTalk视频学习</a></li>
      <li><a href="#">外教精品小班课</a></li>
    </ul>
    <ul>
      <li><a href="#">AC电脑上课软件</a></li>
      <li><a href="#">手机客户端</a></li>
    </ul>
    <ul class="feedback">
      <li><a href="#">意见反馈</a></li>
    </ul>
  </div>
  <!-- /m-s-menu -->
</div>
<!-- /g-sd-l -->