<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育第一品牌</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">亲，请
      <a href="javascript:;">登录</a>
      <a href="javascript:;">免费注册</a>
      <a href="javascript:;">企业培训</a>    
      <a href="javascript:;">微博
        <!-- 微博弹层 -->
        <div class="weibo">
          <a href="javascript:;"></a>
        </div>
      </a>    
      <a href="javascript:;">微信
        <!-- 微信弹层 -->
        <div class="weixin">
          <a href="javascript"><img src="<%= imagessrc%>/top_weixin.png" alt=""></a>
        </div>
      </a>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>