
<section class="mask">
  <section class="dialog tel">
    <section class="dialog-info">
      <section class="dialog-info__title">温馨提示</section>
      <section class="dialog-info__text">你即将拨打 51Talk 美国小学客服电话 400-000-000</section>
    </section>
    <section class="dialog-btn"><a href="javascript:;" class="cancel">取消</a><a href="tel:400-000-000" class="sure">确认拨出</a></section>
  </section>
  <section class="dialog understock">
    <section class="dialog-info">
      <section class="dialog-info__title">温馨提示</section>
      <section class="dialog-info__text">抱歉...优惠课程套餐已被抢空！</section>
    </section>
    <section class="dialog-btn"><a href="javascript:;" class="cancel">知道了</a></section>
  </section>
  <section class="dialog end">
    <section class="dialog-info">
      <section class="dialog-info__title">温馨提示</section>
      <section class="dialog-info__text">抱歉...本次优惠活动已结束！</section>
    </section>
    <section class="dialog-btn"><a href="javascript:;" class="cancel">知道了</a></section>
  </section>
  <section class="dialog prompt">
    <section class="dialog-info">
      <section class="dialog-info__title">温馨提示</section>
      <section class="dialog-info__text">你已经是51Talk付费用户不得享有新生优惠</section>
    </section>
    <section class="dialog-btn"><a href="javascript:;" class="cancel">知道了</a></section>
  </section>
</section>