
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>51Talk美国小学课程</title>
    <link href="/css/wap/north_america_sell/north_america_sell.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section data-init="north_america_sell" class="sell">
      <section class="sell-banner swipe">
        <ul class="clearfix">
          <li><img src="/images/wap/north_america_sell/banner01.jpg" alt=""/></li>
          <li><img src="/images/wap/north_america_sell/banner02.jpg" alt=""/></li>
          <li><img src="/images/wap/north_america_sell/banner03.jpg" alt=""/></li>
        </ul>
        <section class="sell-banner__dot"><a href="javascript:;" class="current"></a><a href="javascript:;"></a><a href="javascript:;"></a></section>
      </section>
      <section class="sell-discount">
        <section class="sell-discount__info">
          <dl class="clearfix">
            <dt>¥3999.99</dt>
            <dd>
              <del>¥1688</del><em>
                 
                仅剩<i class="count">10</i>份 </em>
            </dd>
          </dl>
        </section>
        <section class="sell-discount__time">
          <section class="sell-discount__time__info">优惠截止时间 </section>
          <section data-end-time="2017/2/12 10:21:00" class="sell-discount__time__count"><em class="day">03</em><span>天</span><em class="hour">01</em><span>:</span><em class="minute">23</em><span>:</span><em class="second">55</em></section>
        </section>
      </section>
      <section class="sell-desc">
        <h1 class="sell-desc__title">51Talk 美国小学课程套餐 399元</h1>
        <section class="sell-desc__info">价值1688元在线英语！6节北美外教1对1+2节外教精品绘本课+1节外教体验课</section>
      </section>
      <section class="sell-tags"><em>5-7岁</em><em>一对一</em><em>纯正美式教材</em><em>100%持有教师资格证</em><em>美国、加拿大本土教师</em></section>
      <section class="sell-detail">
        <section class="sell-detail__list">
          <p><img src="/images/wap/north_america_sell//detail/detail_01.jpg" data-img="/images/wap/north_america_sell//detail/detail_01.jpg"/></p>
          <p><img src="/images/wap/north_america_sell//detail/detail_02.jpg" data-img="/images/wap/north_america_sell//detail/detail_02.jpg"/></p>
          <p><img src="/images/wap/north_america_sell//detail/detail_03.jpg" data-img="/images/wap/north_america_sell//detail/detail_03.jpg"/></p>
          <p><img src="/images/wap/north_america_sell//detail/detail_04.jpg" data-img="/images/wap/north_america_sell//detail/detail_04.jpg"/></p>
        </section>
        <section class="sell-detail__advantage"><img src="/images/wap/north_america_sell//detail/advantage_01.jpg" data-img="/images/wap/north_america_sell//detail/advantage_01.jpg"/>
          <dl>
            <section class="item">1</section>
            <h2 class="title">适合中国孩子的美国小学课程</h2>
            <dt><img src="/images/wap/north_america_sell//detail/advantage_02.jpg" data-img="/images/wap/north_america_sell//detail/advantage_02.jpg"/></dt>
            <dd>适合5-12岁中国孩子的美国小学课程，尤其注重孩子的综合能力培养，强调批判性思维、分析和解决问题、创新思考三大核心能力。教材严格按照CCSS标准编写，覆盖语言、数学、自然科学和社会科学， 让孩子们在学习英语的同时，丰富知识，拓展视野。</dd>
          </dl>
          <dl>
            <section class="item">2</section>
            <h2 class="title">1对1个性化教学</h2>
            <dt><img src="/images/wap/north_america_sell//detail/advantage_04.jpg" data-img="/images/wap/north_america_sell//detail/advantage_04.jpg"/></dt>
            <dd>100%北美外教在线1对1的教学模式，为每个孩子制定有针对性的学习方案。科学的上课时间，25分钟一堂课，保证在孩子有限的精力内最高效的学习。此外，孩子还可以使用电脑(iPad或手机) 自由选择上课时间、教材和外教，达到随时随地均可上课。</dd>
          </dl>
          <dl>
            <section class="item">3</section>
            <h2 class="title">趣味高效的学习测评体验</h2>
            <dt><img src="/images/wap/north_america_sell//detail/advantage_05.jpg" data-img="/images/wap/north_america_sell//detail/advantage_05.jpg"/></dt>
            <dd>区别于传统的游戏，51Talk的课后测评游戏化，真正做到了重学习、轻游戏的趣味学习体验。将游戏的故事性、互动性与科学的学习方法相结合，达到孩子爱学，会学，高效的学习效果。</dd>
          </dl>
          <dl>
            <section class="item">4</section>
            <h2 class="title">记录宝贝成长每一刻</h2>
            <dt><img src="/images/wap/north_america_sell//detail/advantage_06.jpg" data-img="/images/wap/north_america_sell//detail/advantage_06.jpg"/></dt>
            <dd>您工作太忙，没有时间陪孩子上课？别担心，下班回家后直接打开电脑，登陆宝贝成长时光机，可以看到孩子每一秒的上课视频，从孩子第一次课到最新一节课全部存档！</dd>
          </dl>
          <dl>
            <section class="item">5</section>
            <h2 class="title">为宝贝服务的专属中教老师</h2>
            <dt><img src="/images/wap/north_america_sell//detail/advantage_07.jpg" data-img="/images/wap/north_america_sell//detail/advantage_07.jpg"/></dt>
            <dd>专业的中教老师为孩子的学习效果提供保障，从课前、课中、课后，指导学习方法，规划学习计划，实时解答问题，批改作业，定期回访等多项专业贴心服务。</dd>
          </dl>
        </section>
        <section class="sell-detail__public-praise">
          <h2 class="title">Parents' Comments</h2>
          <h3 class="sub-title">家 长 说</h3>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="/images/wap/north_america_sell/slider_01.jpg" data-img="/images/wap/north_america_sell/slider_01.jpg"/></div>
              <div class="swiper-slide"><img src="/images/wap/north_america_sell/slider_02.jpg" data-img="/images/wap/north_america_sell/slider_02.jpg"/></div>
              <div class="swiper-slide"><img src="/images/wap/north_america_sell/slider_03.jpg" data-img="/images/wap/north_america_sell/slider_03.jpg"/></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <section class="sell-detail__promise"><img src="/images/wap/north_america_sell//detail/promise.jpg" data-img="/images/wap/north_america_sell//detail/promise.jpg"/></section>
        <section class="sell-detail__problem">
          <h2 class="title">常见问题</h2>
          <section class="sell-detail__problem__item">
            <section class="sell-detail__problem__ask"> 
              <section class="title">宝贝没有英语基础，可以参加吗？</section>
            </section>
            <section class="sell-detail__problem__answer">
              <section class="text">可以。51Talk美国小学面向5-12岁的宝贝，无论是从未接触过英语的零基础学员，还是高阶学员，51Talk均为宝贝配备最合适的专业老师和教材。</section>
            </section>
          </section>
          <section class="sell-detail__problem__item">
            <section class="sell-detail__problem__ask">
              <section class="title">购买之后什么时候开始上课?</section>
            </section>
            <section class="sell-detail__problem__answer">
              <section class="text">您购买后2个工作日内，老师们会根据您购买时留下的手机号码和姓名进行回访，并指导您开通课程。</section>
            </section>
          </section>
          <section class="sell-detail__problem__item">
            <section class="sell-detail__problem__ask">
              <section class="title">开通课程之后如何上课呢？</section>
            </section>
            <section class="sell-detail__problem__answer">
              <section class="text">在线教学。只要您有电脑(有麦克风和摄像头)或iPad、手机，均可联网上课，外教在大洋彼岸等着宝贝上线哦。初次上课课前30分钟会有IT人员电话联系您，协助调试设备。</section>
            </section>
          </section>
        </section>
      </section>
      <section class="sell-fixedbar">
        <section class="sell-fixedbar__tel"></section><a href="pay.html" class="sell-fixedbar__buy">立即购买</a>
        <section style="display:none" class="sell-fixedbar__end">优惠活动已结束</section>
      </section>
    </section>
    <section class="mask">
      <section class="dialog tel">
        <section class="dialog-info">
          <section class="dialog-info__title">温馨提示</section>
          <section class="dialog-info__text">你即将拨打 51Talk 美国小学客服电话 400-000-000</section>
        </section>
        <section class="dialog-btn"><a href="javascript:;" class="cancel">取消</a><a href="tel:400-000-000" class="sure">确认拨出</a></section>
      </section>
      <section class="dialog understock">
        <section class="dialog-info">
          <section class="dialog-info__title">温馨提示</section>
          <section class="dialog-info__text">抱歉...优惠课程套餐已被抢空！</section>
        </section>
        <section class="dialog-btn"><a href="javascript:;" class="cancel">知道了</a></section>
      </section>
      <section class="dialog end">
        <section class="dialog-info">
          <section class="dialog-info__title">温馨提示</section>
          <section class="dialog-info__text">抱歉...本次优惠活动已结束！</section>
        </section>
        <section class="dialog-btn"><a href="javascript:;" class="cancel">知道了</a></section>
      </section>
      <section class="dialog prompt">
        <section class="dialog-info">
          <section class="dialog-info__title">温馨提示</section>
          <section class="dialog-info__text">你已经是51Talk付费用户不得享有新生优惠</section>
        </section>
        <section class="dialog-btn"><a href="javascript:;" class="cancel">知道了</a></section>
      </section>
    </section>
    <!--include _share.jade-->
    <script src="/js/wap/project/north_america_sell/vendor.js" type="text/javascript" id="seajsnode"></script>
  </body>
</html>