
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>51Talk美国小学课程</title>
    <link href="/css/wap/north_america_sell/north_america_sell.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="pay">
      <section data-init="north_america_sell" class="pay-countdown">
        <section class="pay-countdown__tips">优惠截止时间</section>
        <section data-end-time="2016/12/16 10:21:00" class="pay-countdown__time"><em class="day">03</em><span>天</span><em class="hour">01</em><span>:</span><em class="minute">23</em><span>:</span><em class="second">55</em></section>
      </section>
      <section class="pay-desc">
        <section class="pay-desc__cover"><img src="/images/wap/north_america_sell/banner02.jpg"/></section>
        <section class="pay-desc__detail">
          <h1>¥399
            <del class="del">1688</del>
          </h1>
          <p>51Talk 美国小学课程套餐价值1688元在线英语！</p>
        </section>
      </section>
      <section class="pay-ment">
        <section class="pay-ment__weixin payment current">
          <h1>微信支付</h1>
          <p>推荐安装微信5.0及以上版本的用户使用</p><em class="icon"></em>
        </section>
        <section class="pay-ment__alipay payment">
          <h1>支付宝支付</h1>
          <p>推荐有支付宝帐号的用户使用</p><em class="icon"></em>
        </section>
      </section><a href="javascript:;" class="pay-btn">确认支付 ¥ 399</a>
    </section>
    <script src="/js/wap/project/north_america_sell/vendor.js" type="text/javascript" id="seajsnode"></script>
  </body>
</html>