
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>51Talk美国小学课程</title>
    <link href="/css/wap/north_america_sell/north_america_sell.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="success">
      <section class="success-wrap">
        <section class="success-wrap__icon"><img src="/images/wap/north_america_sell/success_icon.png"/></section>
        <section class="success-wrap__detail">
          <h1>购买成功</h1>
          <p>51Talk 美国小学课程套餐价值1688元在线英语！</p>
        </section>
      </section>
      <section class="success-giver">
        <h1>51Talk 向您赠送了一节体验课！</h1>
        <p>请先预约体验课，获得测试评级，才能正式上课哦！</p>
      </section>
      <section class="success-guidevideo">
        <h3>请观看上课引导视频</h3>
        <section class="success-guidevideo__wrap">
          <script src="http://p.bokecc.com/player?vid=EBE2D4CD3BDB26399C33DC5901307461&amp;siteid=9A0993B2384AB21D&amp;autoStart=false&amp;width=100%&amp;height=225&amp;playerid=3A7743CB01E0E55B&amp;playertype=1" type="text/javascript"></script>
        </section>
      </section>
    </section>
    <script src="/js/wap/project/north_america_sell/vendor.js" type="text/javascript" id="seajsnode"></script>
  </body>
</html>