<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="/css/html/teenagers_20150803/teenagers_20150803.css">
</head>


<body>
  <div class="g_teenagers" id="container" data-init="teenagers">
    <div class="g_min tab tab13">
      <div class="g_top minWidth">
        <div class="m_logo">
          <img src="/images/html/teenagers_20150803//logo1.png" alt="" class="f_logo">
          <div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
        </div>
        <div class="m_header">
          <ul class="f_nav">
            <li class="itemW">5Talk青少英语</li>
            <li class="itemW1"><a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>          
            <li class="itemW2"><a href="#">3-6岁幼儿</a></li>
            <li class="itemW3"><a href="#">7-9岁儿童</a></li>
            <li class="itemW4"><a href="#">10-12岁少儿</a></li>
            <li class="itemW5"><a href="#" class="itemW113">13-15岁青少年</a></li>
          </ul>
        </div>
        <form action="" id="t-regForm">
          <div class="m_login">
            <div class="m_oto"><strong>外教1对1</strong><span class="s_otoC">15元/课起</span><br/><strong class="s_otoN">在家学英语</strong></div>
            <div class="f_login">
              <div class="f_loginT">注册，免费学习188元外教1对1体验课</div>
              <div class="f_loginB">
                <div class="f_mail">
                  <span>邮箱：</span><input class="jsCheck" type="text" name="user_name" placeholder="请输入家长邮箱">
                </div>
                <div class="f_phoneN">
                  <span>手机：</span><input class="jsCheck" type="text" name="mobile" placeholder="请输入家长手机">
                </div>
                <div class="f_loginP">
                  <span>密码：</span><input class="jsCheck" type="password"  name="password" placeholder="请设置您的密码">
                </div>
                <div class="f_loginBt">
                  <input type="button" class="jsSubmit" value="获取免费体验课程">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="g_content">
        <div class="m_course minWidth a_class">
          <div class="m_cTop">
            <p>51Talk 13-15岁青少年英语课程</p>
            <p><b>小学七~九年级 <span></span>综合能力提升期</b></p>
            <hr>
          </div>
          <div class="m_cBt">
            <span class="m_cBg m_cBg13"></span>
            <ul class="m_cc m_cc7">
              <li class="m_c1 m_c17 m_c113">
                <ul>
                  <li><span></span>多学科阅读，扩展知识面</li>
                  <li><span></span>教授多元文化和外国礼仪</li>
                  <li><span></span>雅思，托福考试策略</li>
                </ul>
              </li>
              <li class="m_c2 m_c17 m_c113">
                <ul>
                  <li><span></span>从容应对国内升学考试</li>
                  <li><span></span>轻松面对海外求学</li>
                  <li><span></span>助力冲刺国内外一流名校</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="m_freeB add_freeB13">
          <div class="m_free  minWidth">
            <div class="figure" id="silderX">
              <div class="fig_img fig_s13">
                <ul class="fig_banner" data-silder="ul">
                  <li><img src="/images/html/teenagers_20150803//banner13-1.jpg" alt=""></li>
                  <li><img src="/images/html/teenagers_20150803//banner13-2.jpg" alt=""></li>
                  <li><img src="/images/html/teenagers_20150803//banner13-3.jpg" alt=""></li>
                </ul>
              </div>
              <ul class="fig_d" data-silder="points" data-class="on13"></ul>
            </div>
            <form action="" id="m-regForm">
              <div class="m_freeL add_freeL">
                <h1 class="m_freeT">特色教材</h1>
                <p class="m_freeTe">原汁原味的美国原版阅读材料，内容丰富，设计精美，由浅入深，循序渐进。强化英语阅读，语法，写作和考试策略，提升综合能力。</p>
                <div class="f_freeM f_ml40">
                  <span class="f_m4"></span>
                  <b>邮箱：</b>
                  <input type="text" name="user_name" class="jsCheck">
                </div>
                <div class="f_freeP f_ml40">
                  <span class="f_t4"></span>
                  <b>手机：</b>
                  <input type="text" name="mobile" class="jsCheck">
                </div>
                <div class="f_freeW f_ml40">
                  <span class="f_w4"></span>
                  <b>密码：</b>
                  <input type="password" name="password" class="jsCheck">
                </div>
                <div class="f_freeB">
                  <input type="button" value="立即体验" class="btn_reg2 s_13 jsSubmit">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="m_evaluation">
          <div class="m_ev minWidth">
            <h1 class="m_courseT">学员评价</h1>
            <p class="m_courseTe">51Talk Students Comment</p>
            <div class="m_courseL s_cb"></div>
            <div class="m_student">
              <div class="m_studentI m_studentI13 f_p1">
                <p class="m_studentE">我从小就学英语，主要是应试类的，为了提高自己的口语，我选择了主打口语培训的51Talk。在这里，我找到了适合的老师，她们对我帮助真的很大。由于学业重，我选的次卡套餐，上起课来很方便。现在我经常用英语和妈妈对话，口语提高了很多，相信在以后的中考和高考听力中，我也能取得好成绩。</p>
                <dl class="s_dl13">
                  <dt><img src="/images/html/teenagers_20150803//Bella.png" alt=""></dt>
                  <dd><span>Bella</span><br/>12岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI13 f_p2">
                <p class="m_studentE m_s1">我家George是个特别独立，很有主见的孩子。孩子上完体验课之后，觉得跟外教老师沟通的特别好，上课棒极了。了解到包月可以开开上课，所以就给他购买了包月的课程，George也很喜欢51Talk的老师，所以天天坚持上课。有的时候上完课，他会很高兴的和我说，今天老师和我讨论了什么事情，看到他激动的表情，我就知道他真的很喜欢51Talk的老师。</p>
                <dl class="s_dl13">
                  <dt><img src="/images/html/teenagers_20150803//George.png" alt=""></dt>
                  <dd><span>George</span><br/>13岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI13 f_p3">
                <p class="m_studentE">我现在在美国上高一，这边的英语作业非常难，作文也很多，还需要专业的老师辅导英语。在51Talk这里学习的半年时间，上过近300节课，甚至即使在外国、外地旅行也会坚持上！因为我刚一开始上课时口语基础就不错，而且肯定越来越好。</p>
                <dl class="s_dl13">
                  <dt><img src="/images/html/teenagers_20150803//Tab.png" alt=""></dt>
                  <dd><span>Tab</span><br/>14岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI13 f_p4">
                <p class="m_studentE m_s1">其实最开始接触51Talk时，我只给Roger选择了新概念的教材， 但后来学了一段时间发现还有很多种教材可供选择，又选择了朗文的教材，那个真的很实用，里面很多对话和图片都很贴近生活。Roger已经在51Talk学习一年多了，现在我家孩子在同龄的孩子中，英语算是比较不错的，而且每次班级考试，也都名列前茅。这一点，还是让我感到很高兴。</p>
                <dl class="s_dl13">
                  <dt><img src="/images/html/teenagers_20150803//Roger.png" alt=""></dt>
                  <dd><span>Roger</span><br/>14岁</dd>  
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="m_mh">
          <div class="m_mm  minWidth">
            <div class="m_media">
              <h3>媒体报道</h3>
              <div>
                <a href="#"><img src="/images/html/teenagers_20150803//cctv.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//cy.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//ifeng.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//qq.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//sina.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//soh.png" alt=""></a>
              </div>
            </div>
            <div class="m_honor">
              <h3><span>51Talker的荣誉</span><a href="#">更多公司荣誉&gt;</a></h3>
              <ul class="f_honor">
                <li>
                  <img src="/images/html/teenagers_20150803//h_1.png" alt="">
                  <p><a>在线教育诚信品牌<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_2.png" alt="">
                  <p><a>十年知名在线教育机构<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_3.png" alt="">
                  <p><a>年度创新成长企业100强<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_4.png" alt="">
                  <p><a>最具口碑影响力教育机构<br/>2013 中国教育盛典</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_5.png" alt="">
                  <p><a>最受网友喜爱口语培训机构<br/>Top5-2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_6.png" alt="">
                  <p><a>最佳网络影响力<br/>Top10-2013</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="g_bottom">
        <form action="" id="b-regForm">
          <div class="g_bottomT minWidth">
            <p>开始测试英语水平：</p>
            <div class="f_bM"><span>邮&nbsp;&nbsp;&nbsp;箱</span><input class="jsCheck" type="text" name="user_name"></div>
            <div class="f_bW"><span>密&nbsp;&nbsp;&nbsp;码</span><input class="jsCheck" type="passworder" name="password"></div>
            <div class="f_bN"><span>手机号</span><input class="jsCheck" type="text" name="mobile"></div>
            <a href="javascript:;" class="jsSubmit">进入测试 <span>&gt;</span></a>
            <img src="/images/html/teenagers_20150803//logo1.png" alt="">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/teenagers_20150803/vendor.js"></script>
</html>