<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="/css/html/teenagers_20150803/teenagers_20150803.css">
</head>

<body>
  <div class="g_teenagers" id="container" data-init="teenagers">
    <div class="g_min tab1">
      <div class="g_top minWidth">
        <div class="m_logo">
          <img src="/images/html/teenagers_20150803//logo1.png" alt="" class="f_logo">
          <div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
        </div>
        <div class="m_header">
          <ul class="f_nav">
            <li class="itemW">5Talk青少英语</li>
            <li class="itemW1"><a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>          
            <li class="itemW2"><a href="#" class="itemW13">3-6岁幼儿</a></li>
            <li class="itemW3"><a href="#">7-9岁儿童</a></li>
            <li class="itemW4"><a href="#">10-12岁少儿</a></li>
            <li class="itemW5"><a href="#">13-15岁青少年</a></li>
          </ul>
        </div>
        <form action="" id="t-regForm">
          <div class="m_login">
            <div class="m_oto"><strong>外教1对1</strong><span class="s_otoC">15元/课起</span><br/><strong class="s_otoN">在家学英语</strong></div>
            <div class="f_login">
              <div class="f_loginT">注册，免费学习188元外教1对1体验课</div>
              <div class="f_loginB">
                <div class="f_mail">
                  <span>邮箱：</span><input type="text"  name="user_name" class="jsCheck" placeholder="请输入家长邮箱">
                </div>
                <div class="f_phoneN">
                  <span>手机：</span><input type="text"  name="mobile" class="jsCheck" placeholder="请输入家长手机">
                </div>
                <div class="f_loginP">
                  <span>密码：</span><input type="password"  name="password" class="jsCheck" placeholder="请设置您的密码">
                </div>
                <div class="f_loginBt">
                  <input type="button" class="jsSubmit" value="获取免费体验课程">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="g_content">
        <div class="m_course m_course3 minWidth a_class">
          <div class="m_cTop">
            <p>51Talk 3-6岁幼儿英语课程</p>
            <p><b>零基础<span></span>语感启蒙期</b></p>
            <hr>
          </div>
          <div class="m_cBt">
            <span class="m_cBg m_cBg3"></span>
            <ul class="m_cc">
              <li class="m_c1 m_c131">
                <ul>
                  <li>自然拼读教学 - 最快、最简单和最有效的儿童语言学习法<br/>培养孩子英语语感，自信表达，提高兴趣</li>
                </ul>
              </li>
              <li class="m_c2 m_c132">
                <ul>
                  <li><span></span>从小培养孩子良好的语感</li>
                  <li><span></span>趣味学习，鼓励参与，激发兴趣</li>
                  <li><span></span>听说读写面面俱到，培养英语小全才</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="m_freeB add_freeB1">
          <div class="m_free  minWidth">
            <div class="figure" id="silderX">
              <div class="fig_img fig_s">
                <ul class="fig_banner" data-silder="ul">
                  <li><img src="/images/html/teenagers_20150803//banner3-1.jpg" alt=""></li>
                  <li><img src="/images/html/teenagers_20150803//banner3-2.jpg" alt=""></li>
                  <li><img src="/images/html/teenagers_20150803//banner3-3.jpg" alt=""></li>
                </ul>
              </div>
              <ul class="fig_d" data-silder="points" data-class="on">
              </ul>
            </div>
            <form action="" id="m-regForm">
              <div class="m_freeL add_freeL">
                <h1 class="m_freeT">特色教材</h1>
                <p class="m_freeTe"> 将旋律优美、律动明快的歌曲和自然拼读法结合在一起，用一种寓教于乐的方式帮助孩子认知26个字母的发音一级英语中最常见的字母组合</p>
                <div class="f_freeM f_ml40">
                  <span class="f_m2"></span>
                  <b>邮箱：</b>
                  <input type="text" name="user_name" class="jsCheck">
                </div>
                <div class="f_freeP f_ml40">
                  <span class="f_t2"></span>
                  <b>手机：</b>
                  <input type="text" name="mobile" class="jsCheck">
                </div>
                <div class="f_freeW f_ml40">
                  <span class="f_w2"></span>
                  <b>密码：</b>
                  <input type="password" name="password" class="jsCheck">
                </div>
                <div class="f_freeB">
                  <input type="button" value="立即体验" class="btn_reg2 s_3 jsSubmit">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="m_evaluation">
          <div class="m_ev minWidth">
            <h1 class="m_courseT">学员评价</h1>
            <p class="m_courseTe">51Talk Students Comment</p>
            <div class="m_courseL s_cb"></div>
            <div class="m_student">
              <div class="m_studentI m_studentI3 f_p1">
                <p class="m_studentE  m_s3">我家孩子她爸爸是英国人，妈妈是中国人。但是由于她爸妈工作都很忙，所以我就在找到了51Talk。之前请过一个英国的家教，每次到家里来上课，但是对学的教材不熟悉，上课就是聊天，提高不大，有的还迟到。而且费用还是300RMB/小时。所以在51Talk上课之后，我就把之前的外教给辞了，而且还推荐给了好多朋友，他们特别喜欢51Talk，都非常感谢我。</p>
                <dl class="s_dl3">
                  <dt><img src="/images/html/teenagers_20150803//Joanna.png" alt=""></dt>
                  <dd><span>Joanna</span><br/>4岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI3 f_p2">
                <p class="m_studentE m_s1">我家David现在已经5岁半了，单词是学了不少，但是句子口语这些还是不行。因为他还小，所以当时字母就学了半年，真的觉得提高不大。孩子在51Talk最喜欢的Steph老师上课的时候非常细心，对于小朋友听不懂的地方，她都会重说一遍或者打在对话框里帮助孩子理解。作为家长，我觉得学习就应该有个固定性，不要让孩子偷懒。</p>
                <dl class="s_dl3">
                  <dt><img src="/images/html/teenagers_20150803//David.png" alt=""></dt>
                  <dd><span>David</span><br/>5岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI3 f_p3">
                <p class="m_studentE m_s3">Sarah的基础语法是没有问题的，但是她的口语需要进一步提高，需要在课后多加练习。跟外教聊天，开口练习、开口说，这样英语才会提高。这是我选择51Talk的原因。51Talk教材很多，尤其是给孩子锻炼口语用的《剑桥少儿英语》和《绿色通道》。教材的设置非常科学，很适合小孩子练口语。学习了6个月后，觉得她的口语有了很大的进步。</p>
                <dl class="s_dl3">
                  <dt><img src="/images/html/teenagers_20150803//Sarah.png" alt=""></dt>
                  <dd><span>Sarah</span><br/>6岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI3 f_p4">
                <p class="m_studentE m_s1">Barbie从两岁半就开始学英语了，但是我发现她有点不敢和外国人说话，因此觉得应该让她多跟外国人面对面沟通了。在51Talk上了两个月的课后，Barbie的听力和口语比以前好多了。Barbie喜欢自选话题，聊一些跟生活相关的话题，孩子聊得非常开心。而且孩子的英语现在比我好多了，我现在和孩子一起上课，我的英语也提高了。</p>
                <dl class="s_dl3">
                  <dt><img src="/images/html/teenagers_20150803//Barbie.png" alt=""></dt>
                  <dd><span>Barbie</span><br/>6岁</dd>  
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="m_mh">
          <div class="m_mm  minWidth">
            <div class="m_media">
              <h3>媒体报道</h3>
              <div>
                <a href="#"><img src="/images/html/teenagers_20150803//cctv.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//cy.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//ifeng.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//qq.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//sina.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//soh.png" alt=""></a>
              </div>
            </div>
            <div class="m_honor">
              <h3><span>51Talker的荣誉</span><a href="#">更多公司荣誉&gt;</a></h3>
              <ul class="f_honor">
                <li>
                  <img src="/images/html/teenagers_20150803//h_1.png" alt="">
                  <p><a>在线教育诚信品牌<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_2.png" alt="">
                  <p><a>十年知名在线教育机构<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_3.png" alt="">
                  <p><a>年度创新成长企业100强<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_4.png" alt="">
                  <p><a>最具口碑影响力教育机构<br/>2013 中国教育盛典</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_5.png" alt="">
                  <p><a>最受网友喜爱口语培训机构<br/>Top5-2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_6.png" alt="">
                  <p><a>最佳网络影响力<br/>Top10-2013</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="g_bottom">
        <form action="" id="b-regForm">
          <div class="g_bottomT minWidth">
            <p>开始测试英语水平：</p>
            <div class="f_bM"><span>邮&nbsp;&nbsp;&nbsp;箱</span><input class="jsCheck" type="text" name="user_name"></div>
            <div class="f_bW"><span>密&nbsp;&nbsp;&nbsp;码</span><input class="jsCheck" type="passworder" name="password"></div>
            <div class="f_bN"><span>手机号</span><input class="jsCheck" type="text" name="mobile"></div>
            <a href="javascript:;" class="jsSubmit">进入测试 <span>&gt;</span></a>
            <img src="/images/html/teenagers_20150803//logo1.png" alt="">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/teenagers_20150803/vendor.js"></script>
</html>