<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="/css/html/teenagers_20150803/teenagers_20150803.css">
</head>


<body>
  <div class="g_teenagers" id="container" data-init="teenagers">
    <div class="g_min tab">
      <div class="g_top minWidth">
        <div class="m_logo">
          <img src="/images/html/teenagers_20150803//logo1.png" alt="" class="f_logo">
          <div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
        </div>
        <div class="m_header">
          <ul class="f_nav">
            <li class="itemW">5Talk青少英语</li>
            <li class="itemW1"><a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>          
            <li class="itemW2"><a href="#">3-6岁幼儿</a></li>
            <li class="itemW3"><a href="#" class="itemW17">7-9岁儿童</a></li>
            <li class="itemW4"><a href="#">10-12岁少儿</a></li>
            <li class="itemW5"><a href="#">13-15岁青少年</a></li>
          </ul>
        </div>
        <div class="m_login">
          <div class="m_oto"><strong>外教1对1</strong><span class="s_otoC">15元/课起</span><br/><strong class="s_otoN">在家学英语</strong></div>
          <form action="" id="t-regForm">
            <div class="f_login">
              <div class="f_loginT">注册，免费学习188元外教1对1体验课</div>
              <div class="f_loginB">
                <div class="f_mail">
                  <span>邮箱：</span><input type="text" name="user_name" class="jsCheck" placeholder="请输入家长邮箱">
                </div>
                <div class="f_phoneN">
                  <span>手机：</span><input type="text" name="mobile" class="jsCheck" placeholder="请输入家长手机">
                </div>
                <div class="f_loginP">
                  <span>密码：</span><input type="password"  name="password" class="jsCheck" placeholder="请设置您的密码">
                </div>
                <div class="f_loginBt">
                  <input type="button" class="jsSubmit" value="获取免费体验课程">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="g_content">
        <div class="m_course minWidth a_class">
          <div class="m_cTop">
            <p>51Talk 7-9岁儿童英语课程</p>
            <p><b>小学一～三年级<span></span>口语运用关键期</b></p>
            <hr>
          </div>
          <div class="m_cBt">
            <span class="m_cBg"></span>
            <ul class="m_cc m_cc7">
              <li class="m_c1 m_c17">
                <ul>
                  <li><span></span>自然拼读法，教授英语发音与拼写</li>
                  <li><span></span>多主题阅读，注重趣味与实用</li>
                  <li><span></span>同步并超越小学英语教学大纲</li>
                </ul>
              </li>
              <li class="m_c2 m_c17">
                <ul>
                  <li><span></span>帮助孩子提高英语发音和理解力</li>
                  <li><span></span>帮助孩子提高词汇量和阅读流利度</li>
                  <li><span></span>打好英语学习基础，自信小升初</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="m_freeB add_freeB">
          <div class="m_free  minWidth">
            <div class="figure" id="silderX">
              <div class="fig_img">
                <ul class="fig_banner"  data-silder="ul">
                  <li><img src="/images/html/teenagers_20150803//banner7-1.jpg" alt=""></li>
                  <li><img src="/images/html/teenagers_20150803//banner7-2.jpg" alt=""></li>
                  <li><img src="/images/html/teenagers_20150803//banner7-3.jpg" alt=""></li>
                </ul>
              </div>
              <ul class="fig_d" data-silder="points" data-class="on7"></ul>
            </div>
            <form action="" id="m-regForm">
              <div class="m_freeL add_freeL">
                <h1 class="m_freeT">特色教材</h1>
                <p class="m_freeTe">原汁原味的美国原版阅读材料，内容丰富，设计精美，由浅入深，循序渐进。12个丰富主题，围绕可爱的小主人公的生活展开，内容符合孩子认知，形式乐于被孩子接受。</p>
                <div class="f_freeM f_ml40">
                  <span class="f_m1"></span>
                  <b>邮箱：</b>
                  <input type="text" name="user_name" class="jsCheck">
                </div>
                <div class="f_freeP f_ml40">
                  <span class="f_t1"></span>
                  <b>手机：</b>
                  <input type="text" name="mobile" class="jsCheck">
                </div>
                <div class="f_freeW f_ml40">
                  <span class="f_w1"></span>
                  <b>密码：</b>
                  <input type="password" name="password" class="jsCheck">
                </div>
                <div class="f_freeB">
                  <input type="button" value="立即体验" class="btn_reg2 s_7 jsSubmit">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="m_evaluation">
          <div class="m_ev minWidth">
            <h1 class="m_courseT">学员评价</h1>
            <p class="m_courseTe">51Talk Students Comment</p>
            <div class="m_courseL s_cb"></div>
            <div class="m_student">
              <div class="m_studentI f_p1">
                <p class="m_studentE">从两岁就开始学英语的Dudu，起跑线算是没有输。他很喜欢跟外国的小朋友、大人玩，但只是陌生人，不能规律性地练习。来了51Talk，我们陪孩子一起上课，每天跟老师交流。不仅孩子跟老师成了好朋友，天天练习口语，作为家长我们的英语也提高了不少！孩子喜欢英语，开心最重要！</p>
                <dl class="s_dl7">
                  <dt><img src="/images/html/teenagers_20150803//Dudu.png" alt=""></dt>
                  <dd><span>Dudu</span><br/>7岁</dd>
                </dl>
              </div>
              <div class="m_studentI f_p2">
                <p class="m_studentE m_s1">Byron在51Talk学习三个多月了，他已经取得了非常大的进步，口语已经好很多。以前他很难开口，但是现在说英语的时候不紧张了，有自信心了，简单的日常口语他都可以说了，词汇量明显增加了很多，发音也变得标准多了。另外，我们对51Talk的客服服务也挺满意的，如果我们有要求的话，他们会帮我换时间或者换老师，服务很周到。</p>
                <dl class="s_dl7">
                  <dt><img src="/images/html/teenagers_20150803//Byron.png" alt=""></dt>
                  <dd><span>Byron</span><br/>7岁</dd>
                </dl>
              </div>
              <div class="m_studentI f_p3">
                <p class="m_studentE">51Talk的外教很多，孩子一般会选好几个外教的课，他们的上课方式非常灵活，也很适合小孩子的心理需求，孩子学得很开心。课下的时候，孩子也会自己看一些英语故事，听英文歌。慢慢的，她的口语越来越好了，而且单词量也增加了不少。来51Talk练口语，真的选对了！</p>
                <dl class="s_dl7">
                  <dt><img src="/images/html/teenagers_20150803//Linda.png" alt=""></dt>
                  <dd><span>Linda</span><br/>8岁</dd>
                </dl>
              </div>
              <div class="m_studentI f_p4">
                <p class="m_studentE m_s1">之前给孩子报过培训班，主要是学语法上的知识，而在51Talk，我们主要是想提高口语。在线上课的方式很灵活方便，孩子自己就能约课上课，不用家长操心了。孩子最喜欢上的是free talk的课程，她可以和外教聊很多有趣的话题。现在，她已经把讲英语当成习惯了，英语考试也能考100分了。</p>
                <dl class="s_dl7">
                  <dt><img src="/images/html/teenagers_20150803//Tina.png" alt=""></dt>
                  <dd><span>Tina</span><br/>9岁</dd>  
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="m_mh">
          <div class="m_mm  minWidth">
            <div class="m_media">
              <h3>媒体报道</h3>
              <div>
                <a href="#"><img src="/images/html/teenagers_20150803//cctv.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//cy.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//ifeng.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//qq.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//sina.png" alt=""></a>
                <a href="#"><img src="/images/html/teenagers_20150803//soh.png" alt=""></a>
              </div>
            </div>
            <div class="m_honor">
              <h3><span>51Talker的荣誉</span><a href="#">更多公司荣誉&gt;</a></h3>
              <ul class="f_honor">
                <li>
                  <img src="/images/html/teenagers_20150803//h_1.png" alt="">
                  <p><a>在线教育诚信品牌<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_2.png" alt="">
                  <p><a>十年知名在线教育机构<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_3.png" alt="">
                  <p><a>年度创新成长企业100强<br/>2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_4.png" alt="">
                  <p><a>最具口碑影响力教育机构<br/>2013 中国教育盛典</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_5.png" alt="">
                  <p><a>最受网友喜爱口语培训机构<br/>Top5-2013</a></p>
                </li>
                <li>
                  <img src="/images/html/teenagers_20150803//h_6.png" alt="">
                  <p><a>最佳网络影响力<br/>Top10-2013</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="g_bottom">
        <form action="" id="b-regForm">
          <div class="g_bottomT minWidth">
            <p>开始测试英语水平：</p>
            <div class="f_bM"><span>邮&nbsp;&nbsp;&nbsp;箱</span><input class="jsCheck" type="text" name="user_name"></div>
            <div class="f_bW"><span>密&nbsp;&nbsp;&nbsp;码</span><input class="jsCheck" type="passworder" name="password"></div>
            <div class="f_bN"><span>手机号</span><input class="jsCheck" type="text" name="mobile"></div>
            <a href="javascript:;" class="jsSubmit">进入测试 <span>&gt;</span></a>
            <img src="/images/html/teenagers_20150803//logo1.png" alt="">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/teenagers_20150803/vendor.js"></script>
</html>