<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<meta name="keywords" content="{<info.keywords>}" />
  	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <link rel="stylesheet" type="text/css" href="/css/html/up_c_tea22554/up_c_tea22554.css">
</head>

<body data-init="test">
<!-- header  -->
  
<!-- author:zhangtian pms:21574  timestamp:2016/4/19-->
<!-- 用户中心首页头部  -->

<div class="g-hd">
  <div class="m-top" id="jsHead">
    <div class="g-in f-cb">
      <div class="m-menu f-fl">
        <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Sunny</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">6</span></a><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="/index/logout">退出</a>
      </div>
      <ul class="m-link f-ib f-fr">
        <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
        <li><a href="http://www.51talk.com/pay/product" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
        <li><a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
        <li>
          <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
        </li>
        <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
        <li><a target="_blank" href="http://www.51talk.com/cet/cet.php" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
        <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
          <ul class="jsUl">
            <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
            <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
          </ul>
        </li>
   			<li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
      </ul>
    </div>
  </div>
  <!-- /m-top -->
  <div class="m-head">
    <div class="g-in">
      <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
      <ul class="nav">
        <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
        <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
        <li><a href="http://www.51talk.com/pay/product" class="__dim__o" setdata="nav_3">购买课程</a></li>
        <li><a href="http://bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
      </ul>
      <div class="contact">
        <p class="bizapp"><a href="javascript:void(0)" onclick="javascript:window.open('http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODA3NjYwOF8yNTE3NDVfNDAwNjMyMDA1MV8yXw','_blank','height=544px,width=644px,toolbar=no,scrollbars=no,menubar=no,status=no');" rel="nofollow" class="__dim__o" setdata="nav_contact_QQ">客服在线咨询 (09:00-22:30)</a></p>
        <p class="phone">4000-51-51-51</p>
      </div>
        <a class="file_style f-fr addFile addStyle03 __dim__o" href="http://www.51talk.com/user/invitefriend" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
    </div>
  </div>
</div>
  <div class="g-in">
    <div class="m-ad-lg">
    <!-- /notice -->
        <div class="m-side m-count" id="silderY">
            <div class="bd" style="height:160px;">
                <ul data-silder="ul" style="position: absolute; height: 1280px; top: -160px;">
                    <li style="position:relative;">
                        <a class="__dim__o" setdata="ad_picture" href="/pay/product" target="_blank">
                            <img src="http://static.51talk.com/upload/ad/2016041518335494800.png?v=1461036216708" height="160" width="1000" alt="51talk">
                        </a>
                        <div class="m-timer">
                            <i class="u-rd-l"></i>
                            <i class="u-rd-r"></i>
                            <div class="m-timer-mn f-cb">
                                <div class="m-lt">
                                    <span class="u-txt">购买人数</span>
                                    <span class="u-colon">:</span>
                                    <span class="u-num">2884</span>
                                </div>
                                <div class="m-rt jsSilderDate" data-timer="31480000">
                                    <span class="u-line">距结束</span>
                                    <i>00</i><span class="u-txt-day">天</span>
                                    <i>08</i><span class="u-colon">:</span>
                                    <i>44</i><span class="u-colon">:</span>
                                    <i>41</i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/Activity/turntable" target="_blank" class="jsImgPv __dim__o" data-pvlog="168">
                            <img src="http://static.51talk.com/upload/ad/2016/0413/146051386799510_thumb.png?v=1461036216708" height="160" width="1000" alt="销售推广">
                        </a>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/page/eulanding" target="_blank" class="jsImgPv __dim__o" data-pvlog="167">
                            <img src="http://static.51talk.com/upload/ad/2016/0412/146043782688114_thumb.png?v=1461036216708" height="160" width="1000" alt="欧美推广">
                        </a>
                    </li>
                    <li>
                        <a href="/course/ct/" target="_blank">
                            <img src="http://static.51talk.com/upload/ad/edm/ctbanner1000X160__7f0.png?v=1461036216708" height="160" width="1000">
                        </a>
                    </li>
                    <li style="position:relative;">
                        <a class="__dim__o" setdata="ad_picture" href="/pay/product" target="_blank">
                        <img src="http://static.51talk.com/upload/ad/2016041518335494800.png?v=1461036216708" height="160" width="1000" alt="51talk">
                        </a>
                        <div class="m-timer">
                            <i class="u-rd-l"></i>
                            <i class="u-rd-r"></i>
                            <div class="m-timer-mn f-cb">
                                <div class="m-lt">
                                    <span class="u-txt">购买人数</span>
                                    <span class="u-colon">:</span>
                                    <span class="u-num">2884</span>
                                </div>
                                <div class="m-rt jsSilderDate" data-timer="31480000">
                                    <span class="u-line">距结束</span>
                                    <i>00</i><span class="u-txt-day">天</span>
                                    <i>08</i><span class="u-colon">:</span>
                                    <i>44</i><span class="u-colon">:</span>
                                    <i>41</i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/Activity/turntable" target="_blank" class="jsImgPv __dim__o" data-pvlog="168">
                            <img src="http://static.51talk.com/upload/ad/2016/0413/146051386799510_thumb.png?v=1461036216708" height="160" width="1000" alt="销售推广">
                        </a>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/page/eulanding" target="_blank" class="jsImgPv __dim__o" data-pvlog="167">
                            <img src="http://static.51talk.com/upload/ad/2016/0412/146043782688114_thumb.png?v=1461036216708" height="160" width="1000" alt="欧美推广">
                        </a>
                    </li>
                    <li>
                        <a href="/course/ct/" target="_blank">
                            <img src="http://static.51talk.com/upload/ad/edm/ctbanner1000X160__7f0.png?v=1461036216708" height="160" width="1000">
                        </a>
                    </li>
                </ul>
                <ul class="hd" data-silder="points"><li class=""></li><li class="crt"></li><li></li><li></li></ul>
            </div>
        </div>
        <!-- /m-side -->
    </div>
</div>
<!-- /header  -->
<div class="g-in f-cb">
  <div class="g-sd-l">
    <div class="m-s-menu">
        <ul>
            <input id="ue_intro" type="hidden" value="">
            <li data-intro="-14|-4|120|128" class="learn">学习</li> 
        	<li><a href="http://www.51talk.com/merge/index">立即约课</a></li>
            <li>
                <a href="http://www.51talk.com/course/perfect_course" target="_blank">精品小班课<i class="icon-new"></i></a>
            </li>
            <li><a href="http://www.51talk.com/user/appoint">已预约课程</a></li>
            <li><a href="http://www.51talk.com/user/review">上课记录</a></li>
            <li id="li_newProgress">
                <a href="http://www.51talk.com/study/studyplandetails" target="_blank" style="z-index:1000">学习进度</a>
            </li>
        </ul>
        
        <ul>
        	<li data-intro="-14|-10|120|106" class="exercise">练习</li>
        	<li><a href="http://www.51talk.com/user/study_center_zx" target="_blank">EFL课前课后练习</a></li>
        	<li><a href="http://www.51talk.com/italk/index/" target="_blank">iTalk视频练习</a></li>
        </ul>
        <ul>
        	<li data-intro="-14|-8|120|70" class="test">测试</li>
        	<li><a href="/user/certificate">阶段性水平测试</a></li>
        </ul>
        <ul>
            <li data-intro="-14|0|120|106" class="coach">辅导</li>
            <li>
                <a href="http://www.51talk.com/course/pt_course">学习方法课 
                </a>
            </li>
            <li><a href="http://bbs.51talk.com" target="_blank">免费公开课</a></li>
            <li>
                <a href="http://www.51talk.com/course/lc_course" target="_blank">精彩Life Club</a>
            </li>
        </ul>
        <ul style="background: none;">
            <li><a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank">AC电脑上课软件</a></li>
            <li><a href="http://www.51talk.com/app/download_app.php" target="_blank">手机客户端</a></li>
            <li><a href="http://www.51talk.com/user/downloads">上课百宝箱</a></li>
            <li><a href="http://class.51talk.com/detect-flash.html?pc=1&amp;uid=2193798" target="_blank">网络环境测试</a></li>
            <li><a href="http://www.51talk.com/user/playtalk">玩转51Talk <i class="icon-new"></i></a></li>
        </ul>
    </div>
    <!-- /m-s-menu -->
</div>
  <div class="g-center">
    <div class="un_tea_l">
  <div class="topbar">
    <div class="f-fl">
    点击“<span class="s-fc6">约课</span>”选择老师，“<font color="#cecece">CLOSED</font>”表示此时间点无法预约
    </div>
    <div class="f-fr">
      <p class="f-fl">找到外教老师<em class="s-fc6">103</em>位</p>
      <div class="u-pages f-fl">
        <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
        <span class="crt">1/46</span>
        <a class="next" href="javascript:void(0)">&gt;</a>
      </div>
    </div>
  </div>
  <div class="preferr">
    <img src="/components/html/up_c_tea22554/images/unable01.png" alt="无法预约">
    <p>您选择上课时间的外教已经被约完，建议您更改上课时间重新搜索</p>
  </div>
</div>
    <div class="un_tea_m">
  <div class="topbar">
    <div class="f-fl">
    点击“<span class="s-fc6">约课</span>”选择老师，“<font color="#cecece">CLOSED</font>”表示此时间点无法预约
    </div>
    <div class="f-fr">
      <p class="f-fl">找到外教老师<em class="s-fc6">103</em>位</p>
      <div class="u-pages f-fl">
        <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
        <span class="crt">1/46</span>
        <a class="next" href="javascript:void(0)">&gt;</a>
      </div>
    </div>
  </div>
  <div class="preferr">
    <img src="/components/html/up_c_tea22554/images/unable02.png" alt="无法预约">
    <p>当前上课时间的优选外教已被约完，看看欧美外教吧！</p>
    <a href="javascript:;" class="ourbtn">预约欧美外教</a>
  </div>
</div>
    <div class="un_tea_m">
  <div class="topbar">
    <div class="f-fl">
    点击“<span class="s-fc6">约课</span>”选择老师，“<font color="#cecece">CLOSED</font>”表示此时间点无法预约
    </div>
    <div class="f-fr">
      <p class="f-fl">找到外教老师<em class="s-fc6">103</em>位</p>
      <div class="u-pages f-fl">
        <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
        <span class="crt">1/46</span>
        <a class="next" href="javascript:void(0)">&gt;</a>
      </div>
    </div>
  </div>
  <div class="preferr">
    <img src="/components/html/up_c_tea22554/images/unable02.png" alt="无法预约">
    <p>当前上课时间的优选外教已被约完，试试其他时段！</p>
    <a href="javascript:;" class="ourbtn">预约欧美外教</a>
  </div>
</div>
    <div class="un_tea_n">
  <div class="topbar">
    <div class="f-fl">
    点击“<span class="s-fc6">约课</span>”选择老师，“<font color="#cecece">CLOSED</font>”表示此时间点无法预约
    </div>
    <div class="f-fr">
      <p class="f-fl">找到外教老师<em class="s-fc6">103</em>位</p>
      <div class="u-pages f-fl">
        <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
        <span class="crt">1/46</span>
        <a class="next" href="javascript:void(0)">&gt;</a>
      </div>
    </div>
  </div>
  <div class="preferr">
    <img src="/components/html/up_c_tea22554/images/unable03.png" alt="无法预约">
    <p>您选择上课时段的欧美外教已被约完，试试其他时段</p>
    <a href="javascript:;" class="ourbtn">看看这个时段可约的优选外教</a>
  </div>
</div>
    <div class="un_tea_n">
  <div class="topbar">
    <div class="f-fl">
    点击“<span class="s-fc6">约课</span>”选择老师，“<font color="#cecece">CLOSED</font>”表示此时间点无法预约
    </div>
    <div class="f-fr">
      <p class="f-fl">找到外教老师<em class="s-fc6">103</em>位</p>
      <div class="u-pages f-fl">
        <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
        <span class="crt">1/46</span>
        <a class="next" href="javascript:void(0)">&gt;</a>
      </div>
    </div>
  </div>
  <div class="preferr">
    <img src="/components/html/up_c_tea22554/images/unable03.png" alt="无法预约">
    <p>您选择上课时段的收藏外教已被约完，试试其他时段</p>
    <a href="javascript:;" class="ourbtn">看看这个时段可约的优选外教</a>
  </div>
</div>
    <div class="g_mncw">
  <div class="zn-tit">
    <span style="font-size:16px;color:#ff4949;margin: 0 auto;">
      没有找到喜欢的外教?快来预约欧美外教吧!都是排名前20%的外教哦
    </span>
  </div>
  <div class="zn-body">
    <div class="zn-wrap">
      <ul>
        <li data-tags="xx,oo" data-tname="aaa" data-tscore="11" data-tintro="aaa 老师是一个认真耐心人，他很喜欢鼓励学生，让他们表达自己的想法，课堂内容丰富多彩，太棒了！你们快来上他的课吧。">
          <img class="tips" src="/components/html/up_c_tea22554/images/icon_excellent.jpg">
          <a class="zn-avtor" href="#"><img src="/components/html/up_c_tea22554/images/86_86_1.png" height="110" width="110" alt="Maycee"></a>
          <a class="zn-btn" href="#">立即预约</a>
        </li>
        <li data-tags="xx,oo" data-tname="aaa" data-tscore="11" data-tintro="aaa 老师是一个认真耐心人，他很喜欢鼓励学生，让他们表达自己的想法，课堂内容丰富多彩，太棒了！你们快来上他的课吧。">
          <img class="tips" src="/components/html/up_c_tea22554/images/icon_excellent.jpg">
          <a class="zn-avtor" href="#"><img src="/components/html/up_c_tea22554/images/86_86_2.png" height="110" width="110" alt="Maycee"></a>
          <a class="zn-btn" href="#">立即预约</a>
        </li>
        <li data-tags="xx,oo" data-tname="aaa" data-tscore="11" data-tintro="aaa 老师是一个认真耐心人，他很喜欢鼓励学生，让他们表达自己的想法，课堂内容丰富多彩，太棒了！你们快来上他的课吧。">
          <img class="tips" src="/components/html/up_c_tea22554/images/icon_excellent.jpg">
          <a class="zn-avtor" href="#"><img src="/components/html/up_c_tea22554/images/86_86_3.png" height="110" width="110" alt="Maycee"></a>
          <a class="zn-btn" href="#">立即预约</a>
        </li>
        <li data-tags="xx,oo" data-tname="aaa" data-tscore="11" data-tintro="aaa 老师是一个认真耐心人，他很喜欢鼓励学生，让他们表达自己的想法，课堂内容丰富多彩，太棒了！你们快来上他的课吧。">
          <img class="tips" src="/components/html/up_c_tea22554/images/icon_excellent.jpg">
          <a class="zn-avtor" href="#"><img src="/components/html/up_c_tea22554/images/86_86_4.png" height="110" width="110" alt="Maycee"></a>
          <a class="zn-btn" href="#">立即预约</a>
        </li>
        <li data-tags="xx,oo" data-tname="aaa" data-tscore="11" data-tintro="aaa 老师是一个认真耐心人，他很喜欢鼓励学生，让他们表达自己的想法，课堂内容丰富多彩，太棒了！你们快来上他的课吧。">
          <img class="tips" src="/components/html/up_c_tea22554/images/icon_excellent.jpg">
          <a class="zn-avtor" href="#"><img src="/components/html/up_c_tea22554/images/86_86_5.png" height="110" width="110" alt="Maycee"></a>
          <a class="zn-btn" href="#">立即预约</a>
        </li>
      </ul>
        <img id="pos" class="p-t p-t1" src="/components/html/up_c_tea22554/images/icon_slide.jpg">
    </div>
    <div class="zn-t-info">
      <p class="tit">
        <span class="name">Thomas Miller</span>
        <span class="score">98.7</span>
        <span class="tips">
          <a class="tip" href="javascript:;">有错必纠</a>
          <a class="tip" href="javascript:;">学习鼓励老师</a>
        </span>

      </p>
      <p class="intro">aaa 老师是一个认真耐心人，他很喜欢鼓励学生，让他们表达自己的想法，课堂内容丰富多彩，太棒了！你们快来上他的课吧。</p>
    </div>
    <a class="zn-prev" href="javascript:void(0)"></a>
    <a class="zn-next" href="javascript:void(0)"></a>
  </div>
</div>
  </div>
  <div class="g-sd-r">
    <!-- 邀请好友送次卡 
    <div class="m-ad-sm box2">
        <a href="/user/recommendf">

            <img src='http://static.51talk.com/static/image/menber/up/198_143_1.png?v=1461036216708' height="143" width="198" alt="邀请好友送次卡" />
        </a>
    </div>
    -->
    <!-- /邀请好友送次卡 -->
    <!-- 服务中心 -->
    <div class="ser-try">
        <b class="entry">服务中心入口</b>
        <a href="/user/service_center" class="ser-btn __dim__o" setdata="right_service"><img src="http://static.51talk.com/static/image/menber/up_act/ppt01.png?v=1461036216708"></a>
        <img src="http://static.51talk.com/static/image/menber/up_act/ppt02.png?v=1461036216708" class="ser-rt">
    </div>

    <!-- /服务中心 -->
    <!-- 网站动态 -->
    <div class="m-ls-web box1" style="overflow: hidden;">
        <h3><span class="u-tt-md f-fl">网站动态</span><a class="f-fr s-fc3" href="http://www.51talk.com/page/news/" target="_blank">更多&gt;</a></h3>
        <ul>
            <li><a class="f-toe" href="/page/detail/688" title="精品小班课话题加量啦" target="_blank">精品小班课话题加量啦</a></li>
            <li class="img">
                <img src="http://static.51talk.com/upload/article_img/2016/04/06/20160406103240447458.png?v=1461036216708" height="48" width="48">
                <span>精品小班课于4月1日起加量不加价！每周一...</span>
            </li>
            <li><a class="f-toe" href="/page/detail/683" title="选修课教材预上线通知" target="_blank">选修课教材预上线通知</a></li>
            <li><a class="f-toe" href="/page/detail/670" title="AC2.2版本正式上线" target="_blank">AC2.2版本正式上线</a></li>
        </ul>
    </div>

    <!-- /网站动态 -->
    <div class="m-cer-index box3" style="text-align:center;overflow: hidden; display: inline-block;">
        <a href="/user/certificate" target="_blank">
            <img src="http://static.51talk.com/static/image/menber/ue/certificate_index_2.jpg?v=1461036216708" width="200" alt="级别证书">
            <div class="u-mask  f-csp" style="font-weight:bold;">
                <p> 您正在努力获取初级证书</p>
            </div>
        </a>
    </div>

    <!-- /级别证书提示 -->
    <div class="m-ls-rank box1" style="margin-bottom: 0px;">        
        <h3 class="add-u-tit">
            <span>耐力闯关榜</span>
            <a href="http://www.51talk.com/top/index" target="_blank" class="rt-tit">更多&gt;</a>
        </h3>
        <h4 class="jsBtn2">
            <span class="crt">全国</span>
            <span>北京</span>
        </h4>
        <div class="jsTab1">
            <ul style="display: block;" class="add-crt-jsTab1">
                <li class="add-word">
                    <span class="add-lt-tit">榜单名次</span>
                    <span class="add-lt-tit add-rt-tit">连续学习天数</span>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list01.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                                            <em title="Win">Win</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">1012</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list02.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                        <em title="NANCY">NANCY</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">1004</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list03.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                    <em title="Jason">Jason</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">910</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i>4.</i>
                        <em title="Jason">Cathy</em>
                    </div>
                    <div class="f-fr">
                        <em>601</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>5.</i>
                        <em title="Jason">Alisa</em>
                    </div>
                    <div class="f-fr">
                        <em>579</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>6.</i>
                        <em title="Jason">Jackie</em>
                    </div>
                    <div class="f-fr">
                        <em>540</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>7.</i>
                        <em title="Jason">Kevin</em>
                    </div>
                    <div class="f-fr">
                        <em>416</em>天
                    </div>
                </li>   
                <li>
                    <div class="f-fl">
                        <i>8.</i>
                        <em title="Jason">Ariel</em>
                    </div>
                    <div class="f-fr">
                        <em>381</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>9.</i>
                        <em title="Jason">Stephen</em>
                    </div>
                    <div class="f-fr">
                        <em>380</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>10.</i>
                        <em title="Jason">Demi</em>
                    </div>
                    <div class="f-fr">
                        <em>368</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>11.</i>
                        <em title="Jason">Roro</em>
                    </div>
                    <div class="f-fr">
                        <em>331</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>12.</i>
                        <em title="Jason">Sunnyxie</em>
                    </div>
                    <div class="f-fr">
                        <em>291</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>13.</i>
                        <em title="Jason">Lindsay</em>
                    </div>
                    <div class="f-fr">
                        <em>281</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>14.</i>
                        <em title="Jason">Sarah</em>
                    </div>
                    <div class="f-fr">
                        <em>269</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>15.</i>
                        <em title="Jason">AnnaCullon</em>
                    </div>
                    <div class="f-fr">
                        <em>266</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>16.</i>
                        <em title="Jason">David</em>
                    </div>
                    <div class="f-fr">
                        <em>261</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>17.</i>
                        <em title="Jason">Bob</em>
                    </div>
                    <div class="f-fr">
                        <em>241</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>18.</i>
                        <em title="Jason">chengli</em>
                    </div>
                    <div class="f-fr">
                        <em>240</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>19.</i>
                        <em title="Jason">Lily</em>
                    </div>
                    <div class="f-fr">
                        <em>231</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>20.</i>
                        <em title="Jason">Ray</em>
                    </div>
                    <div class="f-fr">
                        <em>218</em>天
                    </div>
                </li>
            </ul>
            <ul style="display: none;" class="add-crt-jsTab1">
                <li class="add-word">
                    <span class="add-lt-tit">榜单名次</span>
                    <span class="add-lt-tit add-rt-tit">连续学习天数</span>
                </li>

                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list01.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                                   <em title="Jason">Jason</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">910</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list02.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                  <em title="Kevin">Kevin</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">416</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list03.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                 <em title="Sunnyxie">Sunnyxie</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">291</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i>4.</i>
                        <em title="Jason">Ray</em>
                    </div>
                    <div class="f-fr">
                        <em>218</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>5.</i>
                        <em title="Jason">Tim</em>
                    </div>
                    <div class="f-fr">
                        <em>194</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>6.</i>
                        <em title="Jason">leon</em>
                    </div>
                    <div class="f-fr">
                        <em>178</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>7.</i>
                        <em title="Jason">Jenney</em>
                    </div>
                    <div class="f-fr">
                        <em>175</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>8.</i>
                        <em title="Jason">Calm</em>
                    </div>
                    <div class="f-fr">
                        <em>162</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>9.</i>
                        <em title="Jason">ALAN</em>
                    </div>
                    <div class="f-fr">
                        <em>138</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>10.</i>
                        <em title="Jason">Tom</em>
                    </div>
                    <div class="f-fr">
                        <em>129</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>11.</i>
                        <em title="Jason">Zoe</em>
                    </div>
                    <div class="f-fr">
                        <em>128</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>12.</i>
                        <em title="Jason">Peter</em>
                    </div>
                    <div class="f-fr">
                        <em>126</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>13.</i>
                        <em title="Jason">karen</em>
                    </div>
                    <div class="f-fr">
                        <em>123</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>14.</i>
                        <em title="Jason">Daisy</em>
                    </div>
                    <div class="f-fr">
                        <em>118</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>15.</i>
                        <em title="Jason">FRANK</em>
                    </div>
                    <div class="f-fr">
                        <em>115</em>天
                    </div>
                </li>   
                <li>
                    <div class="f-fl">
                        <i>16.</i>
                        <em title="Jason">MarkTiu</em>
                    </div>
                    <div class="f-fr">
                        <em>108</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>17.</i>
                        <em title="Jason">coco</em>
                    </div>
                    <div class="f-fr">
                        <em>106</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>18.</i>
                        <em title="Jason">MING</em>
                    </div>
                    <div class="f-fr">
                        <em>105</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>19.</i>
                        <em title="Jason">Nana</em>
                    </div>
                    <div class="f-fr">
                        <em>105</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>20.</i>
                        <em title="Jason">Michael</em>
                    </div>
                    <div class="f-fr">
                        <em>104</em>天
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>
</div>
<!-- footer  -->
  <div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="http://Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/sitemap/" target="_blank" title="网站地图">网站地图</a><i>|</i>
			<a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
            <!--
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
            </script>
            -->
                    </p>
        <img style="display:none;" src="http://beacon.51talk.com/a.gif?v=085efa12c07b067e11f367b7106a1577&amp;site=1&amp;type=1&amp;uuid=d9d7c5807aaf551f3dd1742656417503&amp;uid=U3925242411&amp;ref=http%3A%2F%2Fwww.51talk.com%2F" border="0" alt="">
    </div>
</div>
<!-- /footer  -->
</body>
<!--公共尾部结束-->

<script src="/js/html/project/up_c_tea22554/vendor.js"></script>
</html>