<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/NationalDay_carnival/NationalDay_carnival.css">
</head>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/NationalDay_carnival//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
</div>

<div class="pri-main"  id="container" data-init="back_carnival">
  <!-- banner -->
  <div class="banner"></div>
  <!-- 学员抽奖开始 -->
  <div class="pri-list01">
    <div class="widthMain">
      <div class="lt">
          <div class="prize_list">
              <ul class="names">
                  <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                  <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                  <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
              </ul>
          </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1. 活动时间：09月23日11：00：00 - 10月09日 23：59：59</li>
            <li>2. 图片仅供参考，以实物为准</li>
            <li>3. 抽中课程或实物奖品的同学，需要在09月23日 - 10月09日期间购买5000元以上套餐，活动结束后，奖品由客服联系寄出。</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
      </div>
      <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
        <ul class="l_grid clearfix">
          <li class="l_prize l_prize-0 l_now"><img src="/images/html/NationalDay_carnival/list01.png" alt=""></li>
          <li class="l_prize l_prize-1"><img src="/images/html/NationalDay_carnival/list02.png" alt=""></li>
          <li class="l_prize l_prize-2"><img src="/images/html/NationalDay_carnival/list03.png" alt=""></li>
          <li class="l_prize l_prize-7"><img src="/images/html/NationalDay_carnival/list04.png" alt=""></li>
          <li class="pointer"></li>
          <li class="l_prize l_prize-3"><img src="/images/html/NationalDay_carnival/list05.png" alt=""></li>
          <li class="l_prize l_prize-6"><img src="/images/html/NationalDay_carnival/list06.png" alt=""></li>
          <li class="l_prize l_prize-5"><img src="/images/html/NationalDay_carnival/list07.png" alt=""></li>
          <li class="l_prize l_prize-4"><img src="/images/html/NationalDay_carnival/list08.png" alt=""></li>
        </ul>
      </div>
    </div>
    <a href="javascript:;" class="u-btn" id="prize_log"></a>
  </div>
  <!-- 学员抽奖结束 -->
  <!-- 课程大放价 -->
  <div class="pri-list02">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <div class="pri-list03">
    <div class="widthMain">
      <div class="caption-wrap">
        <img src="/images/html/NationalDay_carnival/teacher_tit.png" alt="">
      </div>
      <!-- 老师列表1 -->
      <div class="teacher-wrap t-list01">
        <h3 class="tit">游在亚洲</h3>
        <div class="teacher-base">
          <img src="/images/html/NationalDay_carnival/teacher01.jpg" class="head">
          <p class="name">冯宇</p>
          <p class="other-name">英语教学界有衣品<br/>的魅力声优大叔</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月23日  18:00-18:50</p>
              <p>游在泰国：Thailand</p>
            </div>
            <p class="details-text">课程介绍：萨瓦迪卡，别样的海岛风情， 色味俱佳的泰国美食还有充满神秘色彩的佛教文化。 当然去泰国最不能错过的就是和lady boys照相了， 千万别被他们的美丽外貌所迷惑，他们可是真爷们儿！
            </p>
          </a>
        </div>
        <div class="details u-mleft-37">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月30日  18:00-18:50</p>
              <p>游在巴厘岛：Bali</p>
            </div>
            <p class="details-text">课程介绍：风景如画的库塔海滩， 美味绝伦的印尼美食还有充满神秘色彩印度教文化。情人崖，海神庙，圣泉寺，逛累了就到宝格丽酒店喝个惬意的下午茶，再来个热石massage。 这才是度假的正确打开方式！
            </p>
          </a>
        </div>
        <img src="/images/html/NationalDay_carnival/building01.png" class="building-1">
      </div>
      <!-- 老师列表2 -->
      <div class="teacher-wrap t-list02">
        <h3 class="tit">爱上欧洲</h3>
        <div class="teacher-base">
          <img src="/images/html/NationalDay_carnival/teacher02.jpg" class="head">
          <p class="name">唐长志</p>
          <p class="other-name">英伦秒嗓雅思男神</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月23日 14:00-14:50</p>
              <p>玩欧洲学口语：不一样的乌克兰</p>
            </div>
            <p class="details-text">课程介绍：大长腿、高颜值、物价低是人们对乌克兰的传统印象，其实不然，通过短短50分钟，唐老湿带你了解真正的乌克兰，而且我们也可以从中学到一些地道的旅游口语表达。
            </p>
          </a>
        </div>
        <div class="details u-mleft-37">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月28日   15:00-15:50</p>
              <p>爱上不一样的词汇：十一游欧洲</p>
            </div>
            <p class="details-text">课程介绍：十一，是玩耍的日子。不知各位小伙伴有没有计划出去旅游呢？出不了门？这堂课，唐老湿就以欧洲为例，带着各位童鞋学习旅游时我们要掌握的词汇表达。
            </p>
          </a>
        </div>
        <img src="/images/html/NationalDay_carnival/building02.png" class="building-2">
        <img src="/images/html/NationalDay_carnival/building03.png" class="building-3">
      </div>
      <!-- 老师列表3 -->
      <div class="teacher-wrap t-list03">
        <h3 class="tit">学在北美</h3>
        <div class="teacher-base">
          <img src="/images/html/NationalDay_carnival/teacher03.jpg" class="head">
          <p class="name">吕宇珺</p>
          <p class="other-name">弹琴画画有韧性的<br/>文艺小花</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月24日   9:00-9:50</p>
              <p>小花老师带你探险美国西部</p>
            </div>
            <p class="details-text">课程介绍：说到美国西部，大家很容易想到硅谷。然而十九世纪的美国西部却是一片荒芜。一代代美国人前往探险……
            </p>
          </a>
        </div>
        <div class="teacher-base u-mleft-63">
          <img src="/images/html/NationalDay_carnival/teacher04.jpg" class="head">
          <p class="name">梁孜瑜</p>
          <p class="other-name">才貌双全的美少女<br/>战士</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>10月4日  10:00-10:50</p>
              <p>新概念一：跟着孜孜老师读美国顶级大学</p>
            </div>
            <p class="details-text">课程介绍：美国著名学府居多，波士顿、洛杉矶、华盛顿等大学城，本课孜孜老师跟你聊聊美国大学院校排名、名人、历史那些事！
            </p>
          </a>
        </div>
        <img src="/images/html/NationalDay_carnival/building04.png" class="building-4">
      </div>
      <!-- 老师列表4 -->
      <div class="teacher-wrap t-list04">
        <h3 class="tit">玩转欧洲</h3>
        <div class="teacher-base">
          <img src="/images/html/NationalDay_carnival/teacher05.jpg" class="head">
          <p class="name">张晓琴</p>
          <p class="other-name">不会卖萌的<br/>Amanda姐姐</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月24日   11:00-11:50</p>
              <p>南希带你游澳洲：Fancy Nancy—Australia Tour</p>
            </div>
            <p class="details-text">课程介绍：漂亮的南希今天要和Amanda老师一起带着宝贝们去看看澳洲的风光，了解一下澳大利亚的民俗风情、著名景点，以及小朋友们最喜欢的澳洲动物一览！
            </p>
          </a>
        </div>
        <div class="teacher-base u-mleft-63">
          <img src="/images/html/NationalDay_carnival/teacher06.jpg" class="head">
          <p class="name">蟹老板</p>
          <p class="other-name">弹吉他唱情歌的<br/>不忧郁小王子</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月26日  10:00—10:50</p>
              <p>发音雕琢：澳洲篇</p>
            </div>
            <p class="details-text">课程介绍：跟着蟹老板一起了解澳洲和大洋洲的区别，识读澳大利亚口音的特点认识，认识澳大利亚明星动物袋鼠和考拉以及澳大利亚的邻国新西兰。
            </p>
          </a>
        </div>
        <img src="/images/html/NationalDay_carnival/building05.png" class="building-5">
        <img src="/images/html/NationalDay_carnival/building06.png" class="building-6">
      </div>
    </div>
  </div>
  <!-- 推荐送次卡 -->
  <div class="pri-list04">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <!-- 美国小学 -->
  <div class="pri-list05">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
</div>
<!-- 弹层 -->
<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">400元通用代金券</span></h3>
            <div class="detail">
                <img src="/images/html/NationalDay_carnival/prize_01.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_02.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_03.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_05.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_08.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_07.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_06.png" alt="">
                <img src="/images/html/NationalDay_carnival/prize_04.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>400元通用代金券</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.全部中奖名单将在8月16日在学习社区公布</li>
      <li>4.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>
<!-- 尾部 -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
<script src="/js/html/project/NationalDay_carnival/vendor.js"></script>
</body>
</html>




