<% include ../common/top.ejs %>
<body>
<div class="chr-nav">
  <img src="<%= imagessrc%>/cr_ber.png" alt="" class="nav-img">
  <div class="centerWidth">
    <div class="chr-login">
      <i class="chr-icon login-lt"></i>
      <p>12345678</p>
      <i class="chr-icon login-rt"></i>
    </div>
    <div class="chr-show">
      <ul>
        <li><i class="chr-icon show-img">1</i>给您一个青少课程小套餐送孩子、送亲朋、送领导免费“白送”白不送</li>
        <li><i class="chr-icon show-img">2</i>1节体验课＋3节专属定制课超值礼包，价值240元</li>
        <li><i class="chr-icon show-img">3</i>课程面向人群：所有身边的小学生，幼儿</li>
        <li><i class="chr-icon show-img">4</i>一旦您的朋友成功注册并且成功上完体验课, 那么当天51talk将会赠送你一次次卡.</li>
      </ul>
      <i class="chr-icon show-bj"></i>
    </div>
     <div class="iphone-show">
      <ul>
        <li>第一步: 登陆51talk的官网 www.51talk.com</li>
        <li class="show-li">第二步: 使用您的注册推荐码注册一个新账号, 
就可以享受1+3的专属课程包了.</li>
      </ul>
      <i class="chr-icon ipo-bj"><img src="<%= imagessrc%>/code_2.png" alt="" class="nav-img"></i>
      <i class="chr-icon show-bj"></i>
    </div>
  </div>
</div>
</body>
<% include ../common/bottom.ejs %>