@charset "utf-8";

@import "../common/base.less";

@imgPath: "../../../images/wap/emailUsa/";

body{
	font-family: @fontFamily;
}
img{
	vertical-align: top;
}
header{
		position: relative;
		.imgTop{
				width: 100%;
		}
		h3{
				position: absolute;
				top:33%;
				left:8%;
				font-size: 2.5rem;
				color:#765344;
		}
}
section{
	padding:1.8rem 0 4.2rem;
	text-align: center;
	background:#ffd800;
	p{
		color:#383838;
		font-size: 1.5rem;
		font-weight:900;
		line-height: 2.4rem;
		margin-bottom:3rem;
		span{
			color:#ff5400;
			font-size:1.8rem;
		}
	}
	a{
			padding:1.2rem 4rem;

			color:#fff;
			font-size: 1.9rem;
			background: #5378b4;
			border-radius: 0.4rem;
	}
}