<div class="header">
	<div class="logo">
		<a href="javascript:;" class="talk-logo"></a>
		<a href="javascript:;" class="item-logo"></a>
	</div>
	<div class="subnav">
		<div class="subnav-lst">
			<!-- 调整头部结构 -->
			<ul class="clearfix">
				<li class="username">hi,lee</li>
				<li><a href="javascript:;" class="member-center">会员中心</a></li>
				<li><a href="javascript:;" class="quit">退出</a></li>
				<li><a href="javascript:;" class="client">手机客户端</a></li>
				<li><a href="javascript:;" class="train">企业培训</a></li>
				<li class="more"><a href="javascript:;" class="weibo">微博</a>
					<div class="weibo-dialog">
		            	<a href="http://weibo.com/51talk?topnav=1&wvr=5&topsug=1"></a>
		          	</div>
		        </li>
				<li class="more"><a href="javascript:;" class="weixin">微信</a>
					<div class="weixin-dialog">
		            	<a href="javascript:;"><img src="<%= imagessrc%>/top_weixin.png" alt=""></a>
		          	</div>
				</li>
			</ul>
			<!-- 调整头部结构 -->
		</div>
		<div class="tel">4000-51-51-51</div>
	</div>
</div>