<div class="nav">
	<div class="wrap">
		<ul class="clearfix">
			<li class="current"><a href="javascript:;">51Talk 美国小学</a></li>
			<li><a href="javascript:;">青少教学理念</a></li>
			<li><a href="javascript:;">北美外教</a></li>
			<li><a href="javascript:;">美国小学课程</a></li>
			<li><a href="javascript:;">在线互动教室下载</a></li>
		</ul>
	</div>
</div>