.stu-box{
	height:400px;
	padding:25px;
	background: url("@{imgPath}s_bg.png") no-repeat;
	.tit-des{
		font-size: 20px;
		color:#1a1a1a;
		padding-bottom:15px;
		border-bottom:1px solid #eeeeee;
		span{
			display: inline-block;
			width:27px;
			height:26px;
			margin-right:7px;
			background:url("@{imgPath}s_icons.png") no-repeat;
			position: relative;
			top:5px;
		}
		.user-i{
			background-position: 0 0;
		}
		.opinion-i{
			background-position: -50px 0;
		}
	}
	.stu-content{
		position: relative;
		height: 370px;
		.stu-l{
			position: absolute;
			width:158px;
			height:210px;
			top:85px;
			left:55px;
			span{
				display: block;
				position: absolute;
				width:24px;
				height:24px;
				top:85px;
				left:190px;
				background: url("@{imgPath}s_icons.png") -150px 0 no-repeat;
			}
		}
		.stu-c{
			position: absolute;
			top:56px;
			left:290px;
			span{
				display: block;
				position: absolute;
				top: 5px;
				left: 235px;
				width:12px;
				height:230px;
				background: url("@{imgPath}s_img03.png") no-repeat;
			}
		}
		.stu-r{
			position: absolute;
			left:580px;
			top:120px;
			li{
				font-size: 18px;
				color:#696969;
				margin-bottom: 20px;
				span{
					width:20px;
					height:20px;
					margin-right:10px;
					display: inline-block;
					top:3px;
					position: relative;
					background: url("@{imgPath}s_icons.png") -100px 0 no-repeat;
				}
			}
		}
	}
	.stu-bottom{
		border-top:1px solid #eeeeee;
		text-align: center;
		padding-top: 18px;
		p{
			font-size: 14px;
			color:#040404;
			span{
				color:#ff7600;
			}
			i{
				display:inline-block;
				width:25px;
				height:7px;
				margin-left: 5px;
				margin-right: 5px;
				background: url("@{imgPath}s_icons.png") -50px -50px no-repeat;
			}
		}
	}
}
.stu-s-box{
	height:500px;
}
.class-opinion{
	padding-top:10px;
	font-size: 14px;
	li{
		margin-top:25px;
		margin-left:10px;
		span{
			cursor: pointer;
			display:inline-block;
			margin-right:45px;
			color:#3d3d3d;
			i{
				width:13px;
				height:13px;
				display:inline-block;
				position: relative;
				top:2px;
				margin-right:7px;
				background: url("@{imgPath}s_icons.png") -250px 0 no-repeat;
			}
			
			
		}
		.first-s{
			color:#ff7600;
			cursor: default;
			i{
				top:0;
				width:5px;
				height:9px;
				display: inline-block;
				margin-right:10px;
				background: url("@{imgPath}s_icons.png") 0 -50px no-repeat;
			}
		}
		.current-radio{
			i{
				background-position: -200px 0;
			}
		}
		.m-text{
			margin-top:20px;
			margin-left:13px;
		}
	}
}
.class-opinion-h{
	height:480px;
}