.que_tit{
	font-size: 30px;
	padding:35px 0;
}
.type_title{
	font-size: 30px;
	text-align: center;
	padding:40px 0 55px 0;
	line-height: 45px;

}
.type_3_title{
	padding:20px 0 30px 0;
}

.question_test_wrap{
	padding: 0 60px;
	/*max-height: 300px;*/
}

.question_test{
	overflow: hidden;
	float: left;
	font-size: 18px;
	.tc;
	p{
		line-height: 30px;
	}
}
.question_have_img{
	width:486px;
}
.question_img{
	width:180px;
	height:115px;
	float: right;
	border:2px solid #e2e2e2;
	img{
		width:180px;
		height:115px;
	}
}
.type_2_text{
	font-size: 18px;
	text-align: center;
	padding: 0 60px;
	word-break: break-word;
}
.type_2_img{
	width:300px;
	height:210px;
	border:1px solid #e2e2e2;
	margin:35px auto 0;
	img{
		width:300px;
		height:210px;
	}
}
.type_3_img{
	width:240px;
	height:150px;
	margin:30px auto 0;
	img{
		width: 240px;
		height:150px;
	}
}
.tea_type_3_img{
	width:180px;
	height:110px;
	margin-top:15px;
	img{
		width:180px;
		height:110px;
	}
}
.type_btn{
	width:50px;
	height:50px;
	background: url("@{imgPath}AC_question.png") -8px -5px no-repeat;
	margin:25px auto 0;
	cursor: pointer;
	position: relative;
	.ac_tip{
		position: absolute;
		left:56px;
		top:11px;
		width:110px;
		height: 30px;
		color:#999;
		text-align: center;
		line-height: 30px;
		background: url("@{imgPath}tips.png");
	}
}
.cli_btn{
	background-position: -8px -64px;
}
.ac_timmer{
	position: absolute;
	right:180px;
	top:30px;
	color:#999;
	font-size: 14px;
	.time_se{
		color:#ff8200;
	}
}
.actimmer{
	.time_se{
		color:#ff8200;
	}
}
.question_choose{
	text-align: center;
	overflow: hidden;
	margin: 20px auto 0;

	span{
		margin:0 50px;
		padding-left:30px;
		background-image:url("@{imgPath}AC_question.png");
		background-repeat: no-repeat;
		background-position: -270px -54px;
		display: inline-block;
		height:30px;
	}
	p{
		width:190px;
		text-align: center;
		float:left;
	}
	.choose_click{
		background-position: -270px -10px;
	}
	.choose_b{
		margin: 0 55px;
	}
}
.stu_choose{
	width:570px;
}
.type_4_title{
	font-size: 22px;
	color:#ff283c;
	text-align: center;
	padding:10px 0 ;
	position: relative;
	.pea{
		font-size: 14px;
		color:#999999;
		position: absolute;
		right:20px;
		top:12px;
		.pea_img{
			display: inline-block;
			width:20px;
			height:18px;
			background:url("@{imgPath}AC_question.png") -273px -93px no-repeat;
		}
	}
}
.type_4_text{
	font-size: 14px;
	color:#999;
	text-align: center;
	position: relative;
	line-height: 28px;
	.text_a{
		font-size: 24px;
		color:#ff283c;
		position: absolute;
		top:0px;
		left:450px;
	}
	.tea_a{
		left:480px;
	}
	.text_b{
		
		color:#44c270;
		font-size: 18px;
		top:0px;
	}
	.tea_b{
		left:473px;
		font-size: 24px;
	}
}
.type_4_content{
	width:750px;
	margin:15px auto 0;
	border-top:1px solid #ededed;
	.cont_text{
		font-size: 18px;
		text-align: center;
		padding-top:15px;
	}
	.tea_text_5{
		padding-top:0;
	}
	.teaChoose_5_3{
		width:620px;
		overflow: hidden;
		margin-top: 30px;
		padding:0 105px;
		p{
			float: left;
			width:206px;
			position: relative;
			img{
				border:1px solid #cccccc;
				width:110px;
				height:70px;
			}
			i{
				position: absolute;
				left:-15px;
				top:0;
			}
		}
		.center{
			margin:0 80px;
		}
	}
	.teaChoose_5_4{
		width:620px;
		overflow: hidden;
		margin-top: 30px;
		padding:0 105px;
		p{
			float: left;
			width:140px;
			position: relative;
			margin-right: 10px;
			img{
				border:1px solid #cccccc;
				width:110px;
				height:70px;
			}
			i{
				position: absolute;
				left:-15px;
				top:0;
			}
		}
		.center{
			margin:0 80px;
		}
	}
}
.type_4_img{
	width:180px;
	height:115px;
	border:1px solid #ccc;
	margin:15px auto 0;
	img{
		width:180px;
		height:115px;
	}
}
.choose_4{
	margin:20px auto;
	overflow: hidden;
	span{
		font-size: 15px;
		float: left;
		display: block;
		width:180px;
		margin-left:160px;
	}
}
.choose_3{
	margin:20px auto;
	overflow: hidden;
	span{
		font-size: 15px;
		float: left;
		display: block;
		margin-left:123px;
	}
}
.tea_con{
	margin-top:30px;
	padding-top:20px;
}
.tea_text{
	margin-top:35px;
	color:#333333;
}
.tea_title_4{
	padding:40px 0;
}
.click_here{
	text-align: center;
	font-weight: 900;
	margin-top: 26px;
}
.click_img{
	width:9px;
	height:23px;
	margin:0 auto;
	background: url("@{imgPath}click.png")no-repeat;
}
.tea_type_5{
	padding:40px 0 20px 0;
}

.ac-popup-type2{
	.type_2_text{
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		.tc;
		text-indent: 36px;
	}
}
