<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>51Talk-无忧英语_初赛</title>
    <script src="/js/wap/project/speech_20170410/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wap/speech_20170410/speech_20170410.css">
</head>
<body>
<div class="pre_activity" data-init="index" id="container">
     <div class="pre_title">
         <img src="/images/wap/speech_20170410/pre_title.png" />
     </div>
     <div class="prizewinner_box">
         <div class="prizewinner header">
             <div class="winner">姓名</div>
             <div class="phone">手机号</div>
         </div>
         <div class="prizewinnerList">
             <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
             <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
             <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
              <div class="prizewinner">
                 <div class="winner">李小花</div>
                 <div class="phone">13600001234</div>
             </div>
         </div>
     </div>
</div>
</div>
<!-- 导航 -->
<div class="wap_nav">
    <div class="list"><a href="javascript:;" class="active">首页</a></div>
    <div class="list"><a href="javascript:;">初赛</a></div>
    <div class="list"><a href="javascript:;">复赛视频</a></div>
</div>
</body>
<script id="seajsnode" src="/js/wap/project/speech_20170410/vendor.js"></script>
</html>