<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/pull_wool24301/pull_wool24301.css">
</head>
<link rel="stylesheet" href="../../../less/html/pull_wool24301/jquery.mCustomScrollbar.min.css">
<body>
<div class="container" data-init="pull_wool24301" data-url="http://www.51talk.com/user/user_register.php?pid=198914">
  <div class="word">
    <b>找到3个小伙伴，免费获得<em>12课时</em>!</b>
    <i>邀请好友一起薅</i>
  </div>
  <!-- nav -->
  <div class="nav bdsharebuttonbox bdshare-button-style0-16">
    <ul>
      <li class="smsli" onmouseover=handle(); onmouseout=playall(); onClick="dialog('sms')">
        <a href="javascript:void(0)" class="smsP"></a>
        <span class="nav_text">发送短信</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('link')">
        <a href="javascript:void(0)" class="linkP"></a>
        <span class="nav_text">复制链接</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('qq')">
        <a href="javascript:void(0)" data-cmd="sqq" class="bds_tqq" target="_blank"></a>
        <span class="nav_text">QQ好友</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('wechat')">
        <a href="javascript:void(0)" data-cmd="weixin" class="bds_weixinF"></a>
        <span class="nav_text">微信</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('sina')">
        <a href="javascript:void(0)" data-cmd="tsina" class="bds_tsina"></a>
        <span class="nav_text">新浪微博</span>
      </li>
    </ul>
  </div>
  <!-- nav/ -->
  <!--award-->
  <div class="award row">
    <b>奖励标准</b>
    <ul>
      <li>
        <div class="icon-top">
          <a class="a1"></a>
          <a></a>
          <a></a>
        </div>
        <div class="round-box">
          <i>第<font class="font">1</font>位好友首次购买</i>
          <i class="two">奖励<font class="font">3</font>课时</i>
        </div>
        <div class="cr-icon"><a></a></div> 
      </li>
      <li>
        <div class="icon-top">
          <a class="a2"></a>
          <a class="a1"></a>
          <a></a>
        </div>
        <div class="round-box">
          <i>第<font class="font">2</font>位好友首次购买</i>
          <i class="two">奖励<font class="font">4</font>课时</i>
        </div>
        <div class="cr-icon"><a></a></div> 
      </li>
      <li>
        <div class="icon-top">
          <a class="a2"></a>
          <a class="a2"></a>
          <a class="a1"></a>
        </div>
        <div class="round-box">
          <i>第<font class="font">3</font>位好友首次购买</i>
          <i class="two">奖励<font class="font">5</font>课时</i>
        </div>
        <!-- <div class="cr-icon"><a></a></div>  -->
      </li>
      <li>
        <div class="cr-icon"><a class="a1"></a></div>
        <div class="big-icon">
          <a class="a2">
            累计获得<br><p><font class="font">12</font>课时</p>
          </a>
        </div>
      </li>
    </ul>
    <div class="ft-bom">每人奖励<i><font class="font">3</font>课时</i></div>
    <div class="face"></div>
  </div>
  <!--award/-->
  <!--reward-->
  <div class="reward">
    <b>您已免费获得<font class="font">12</font>课时奖励</b>
    <div class="rew-tab">
      <dl>
        <dd>朋友</dd>
        <dd>状态</dd>
        <dd>为您赢取奖励</dd>
      </dl>
      <div class="others">
        <table>
          <tbody>
            <tr>
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="/images/html/pull_wool24301/choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="nogift"  style="display:none;">
        <img src="/images/html/pull_wool24301/nogift.png" width="417" height="142">
      </div>
    </div>
    <div class="face r-face"></div>
  </div>
  <!--reward/-->
  <!--rules-->
  <div class="reward rules">
    <img src="/images/html/pull_wool24301/bm_icon.png" width="1000" height="36">
    <div class="reward-ct">
      1、本次活动中“推荐人”仅面向已付费的美国小学课程用户，而“被邀请的用户”需要在2016年6月1日-2016年7月1日新注册<p>并付费购买美国小学课程后，推荐人、被邀请的用户才能分别获得各自对应的奖励；</p><br>
      2、2016年6月1日-2016年7月1日之间， 您邀请第1位好友首次付费后，您可免费获得3个美国小学课时；<br>
      <p>邀请第2位好友首次付费后，您可再免费获得4个美国小学课时；</p>
      <p>邀请第3位好友首次付费后，您可再免费获得5个美国小学课时；</p>
      <p>从您邀请第4位购买美国小学课程的付费好友开始，免费赠送美国小学课时数循环。</p><br>
      3、首次付费的被邀请好友均可免费获得3个美国小学课时；如果是已付费的美国小学会员，则不符合此条件；<br><br>
      4、获赠的美国小学课时会在您邀请的好友付费后，次日自动发送给您和您的好友，充值信息可在“站内信”中查看；<br><br>
      5、赠送的美国小学课时不可退款；<br><br>
      注：自己邀请自己是不会送课的哦！我们将会进行人工核查！<br>
      <p class="lt-p">本活动最终解释权归51Talk所有。</p>
    </div>
    <b class="xq">详细规则</b>
    <img src="/images/html/pull_wool24301/bm_icon.png" width="1000" height="36" class="btm">
    <div class="face r-face ru-face"></div>
  </div>
  <!--rules/-->
</div>
<!--layer-->
<div class="bg"></div>
<div class="sms">
  <span class="title">短信邀请好友：</span>
  <!-- <img src="images/close.png" onClick="dialog('sms', 'no')"> -->
  <a href="javascript:void(0)" class="cbtn" onClick="dialog('sms', 'no')"></a>
  <div class="smsForm">
    <div class="smsf1">
      <span class="tips"></span>
      <form>
        <ul>
          <li class="info"><input name="name" type="text" placeholder="我的中文名"></li>
          <li class="info"><input name="recommen_name" type="text" placeholder="好友的中文名"></li>
          <li class="info"><input name="recommen_mobile" type="text" placeholder="好友的手机号"></li>
          <li class="inviteBtn">发送短信</li>
        </ul>
      </form>
    </div>
    <div class="smsf2">
        <span class="succ">发送成功</span>
        <span class="sureBtn">确定</span>
    </div>
    <div class="content">
      <span class="smsInfoTitle">短信内容</span>
      <div class="smsCon">
        <span class="smsContent">【51Talk】Hi~XXX，</span>
        <br>
        <span class="smsContent">我家宝宝正在学51Talk美国小学课程，进步很明显，推荐你来试试。登录www.51talk.com注册，在推荐人处填写我的手机号：XXXXXXXXXXX，可获得3节赠课哦！XXX。退订回复TD</span>
      </div>
    </div>
  </div>
</div>
<div class="link">
  <span class="title">复制链接：</span>
  <!-- <img src="images/close.png" onClick="dialog('link', 'no')"> -->
  <a href="javascript:void(0)" class="cbtn" onClick="dialog('link', 'no')"></a>
  <div class="linkForm">
    <ul>
      <li class="tips">您的专属链接，可以复制发给好友：</li>
      <li><input id="shareUrl" name="name" type="text" class="info" value="http://www.51talk.com/user/user_register.php?pid=1760734"></li>
      <li class="inviteBtn">复制</li>
    </ul>
  </div>
</div>
<div class="alert" type="sms">
  <div class="title"><h4>温馨提示</h4><a id="img_slt"><img src="/images/html/pull_wool24301/slt.png"></a></div>
  <div class="infobox">
    <span class="info"></span>
    <div class="btn">确定</div>
  </div>
</div>
<!--layer/-->
</body>
<!--公共尾部结束-->
<script src="/js/html/project/pull_wool24301/vendor.js"></script>
</html>
<script src="../../../js/html/project/pull_wool24301/jquery-ui-1.10.4.min.js"></script>
<script src="../../../js/html/project/pull_wool24301/jquery.mousewheel.min.js"></script>
<script src="../../../js/html/project/pull_wool24301/jquery.mCustomScrollbar.min.js"></script>
