
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/group_class/group_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="group_class" class="group-container"><a href="javascript:;" class="logo"></a>
      <div class="fifth-grade business">
        <div class="process">
          <div style="width:0" class="bar"></div>
        </div>
        <div class="boy-icon"></div>
        <div class="audio"><audio src="" style="display:none">您的浏览器不支持 audio 标签。</audio></div>
        <div style="display:block" data-type="singleSelect" class="single-question2 first-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. </h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dt>1.</dt>
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade5/5-1.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <ul>
            <li class="single">A. fat </li>
            <li data-score="5" class="single">B. young </li>
            <li class="single">C. thin</li>
            <li class="single">D. old</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 second-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. </h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dt>2.</dt>
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade5/5-2.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <ul>
            <li class="single">A. watches TV </li>
            <li class="single">B. does homework  </li>
            <li data-score="5" class="single">C. reads books</li>
            <li class="single">D. plays football</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 third-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. </h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dt>3.</dt>
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade5/5-3.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <ul>
            <li class="single">A. play the instrument</li>
            <li class="single">B. play sports  </li>
            <li data-score="5" class="single">C.do some cooking</li>
            <li class="single">D. sing English song</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 fourth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. </h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dt>4.</dt>
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade5/5-4.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <ul>
            <li class="single">A. eating dinner   </li>
            <li class="single"> B. dancing   </li>
            <li data-score="5" class="single">C. cleaning room</li>
            <li class="single">D. playing sports</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 fifth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. </h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dt>5.</dt>
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade5/5-5.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <ul>
            <li data-score="5" class="single">A. likes to go picnic   </li>
            <li class="single"> B. likes to make snowman </li>
            <li class="single">C. likes to go swimming     </li>
            <li class="single">D. likes to pick apples</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 sixth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3 class="t20">1.My favorite season is autumn. Because it is ____________.</h3>
          <ul>
            <li class="single">A. hot</li>
            <li class="single">B. cold </li>
            <li data-score="5" class="single">C. cool </li>
            <li class="single">D. funny </li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 seventh-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3 class="t20">2.______do you often get up every day?  7:00 a.m </h3>
          <ul>
            <li class="single">A. What</li>
            <li data-score="5" class="single">B. When </li>
            <li class="single">C. How </li>
            <li class="single">D. Who </li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 eighth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3 class="t20">3.Listen! The girl _______________ in that room.</h3>
          <ul>
            <li class="single">A. Sings a song </li>
            <li class="single">B. to sing a song   </li>
            <li data-score="5" class="single">C. is singing a song  </li>
            <li class="single">D. is going to sing a song </li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 ninth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3 class="t20">4.My grandfather usually _____________in the morning.</h3>
          <ul>
            <li class="single">A. read newspapers </li>
            <li class="single">B. reading newspapers</li>
            <li class="single">C. reading newspapers  </li>
            <li data-score="5" class="single">D. reads newspaper</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 tenth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3 class="t20">5.My weatch was lost.  Can you help me ___________it.</h3>
          <ul>
            <li class="single">A. look...at </li>
            <li data-score="5" class="single">B. find...out</li>
            <li class="single">C. look...out  </li>
            <li class="single">D. find...at   </li>
          </ul>
        </div>
        <div style="display:none" data-type="listSelect" class="list-question eleventh-question common-bg">
          <h2>Part 3 Correct the mistakes (one mistake each sentence. Please underline the mistake and write down the right answer at the end of the sentence). </h2>
          <div class="list-select">
            <ul class="list"> 
              <li data-value="A"><span>A</span>. running</li>
              <li data-value="B"><span>B</span>. or</li>
              <li data-value="C"><span>C</span>. playing/to play </li>
              <li data-value="D"><span>D</span>. do </li>
              <li data-value="E"><span>E</span>. is</li>
            </ul>
            <p> 1. Tom likes <em>play</em> computer games very much. <span data-value="C"></span></p>
            <p> 2. My father <em>are</em> cooking now.  <span data-value="E"></span></p>
            <p> 3. The rabbit is <em>run</em>.  <span data-value="A"></span></p>
            <p> 4. I <em>does</em> not like singing. <span data-value="D"></span></p>
            <p> 5. What do you like better? Pear <em>and</em> apple?  <span data-value="B"></span></p>
          </div>
        </div>
        <div style="display:none;" data-type="dragSelect" data-five='1' class="single-question3 twelfth-question common-bg">
          <h2> 
            <Part4>Fill in the boxes.</Part4><span class="btn">1</span>
          </h2>
          <h3> 
            <Word>bank</Word>
          </h3>
          <div class="option-wrap">
            <ul class="clearfix">
              <li>
                <div data-color="1" draggable="true" class="move">painting </div>
              </li>
              <li>
                <div data-color="2" draggable="true" class="move">free time</div>
              </li>
              <li>
                <div data-color="3" draggable="true" class="move">English </div>
              </li>
              <li>
                <div data-color="4" draggable="true" class="move">dance</div>
              </li>
              <li>
                <div data-color="5" draggable="true" class="move">piano </div>
              </li>
            </ul>
          </div>
          <div class="answer-wrap">
            <div class="title">
              <dl>
                <dd>Monday</dd>
                <dd>Tuesday</dd>
                <dd>Wednesday</dd>
                <dd>Thursday</dd>
                <dd>Friday</dd>
                <dd>Saturday</dd>
                <dd>Sunday</dd>
              </dl>
            </div>
            <div class="doing">
              <dl>
                <dd>
                  <div class="noselect">piano</div>
                  <div class="noselect">
                    <ul> 
                      <li data-color="1"></li>
                    </ul>
                  </div>
                </dd>
                <dd>
                  <div class="noselect">English</div>
                  <div class="noselect">
                    <ul> 
                      <li data-color="4"></li>
                    </ul>
                  </div>
                </dd>
                <dd>
                  <ul> 
                    <li>piano</li>
                  </ul>
                </dd>
                <dd class="drag">
                  <ul> 
                    <li data-color="2"></li>
                  </ul>
                </dd>
                <dd class="drag">
                  <ul> 
                    <li data-color="5"></li>
                  </ul>
                </dd>
                <dd>
                  <ul> 
                    <li>English</li>
                  </ul>
                </dd>
                <dd class="drag">
                  <ul> 
                    <li data-color="3"></li>
                  </ul>
                </dd>
              </dl>
            </div>
          </div>
          <div class="story_dialog"><span class="btn_close"></span><p> Bob is in 5th grade now. He is very busy after school. He has piano class on Monday, Wednesday and Friday. He studies English on Tuesday and on weekend. He has a painting class after the piano class on Monday and a dance class after his English class on Tuesday. Thursday afternoon is his only free time, and he likes to play with his pet on that day.	</p></div>
        </div>
      </div><a href="javascript:;" class="next"></a>
    </div>
    <div class="dialog"><a id="test" href='http://sw.bos.baidu.com/sw-search-sp/software/3d03c3764837b/ChromeStandalone_52.0.2743.116_Setup.exe' target='_blank'/>
      <div class="title"><a href="javascript:void(0)">X</a>温馨提示</div>
      <div class="wrap">
        <div class="bd">您当前的浏览器版本过低，为保障信息的完整展示，建议立即升级浏览器</div>
        <div class="foot"><span class="cancle">取消</span><span class="download">下载Chrome浏览器最新版</span></div>
      </div>
    </div>
    <script src="/js/html/project/group_class/vendor.js" type="text/javascript"></script>
  </body>
</html>