
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/group_class/group_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="group_class" class="group-container"><a href="javascript:;" class="logo"></a>
      <div class="first-grade">
        <div class="process">
          <div style="width:0" class="bar"></div>
        </div>
        <div class="boy-icon"></div>
        <div class="audio">
          <audio style="display:none">您的浏览器不支持 audio 标签</audio>
        </div>
        <div data-type="singleSelect" style="display:block;" class="first-question common-bg">
          <h2>1. Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">1.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-1.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong"></li>
            <li data-score="5" class="single right"> </li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="second-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">2.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-2.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li data-score="5" class="single right"></li>
            <li class="single wrong"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="third-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">3.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-3.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong"></li>
            <li data-score="5" class="single right"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="fourth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">4.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-4.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li data-score="5" class="single right"></li>
            <li class="single wrong"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="fifth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">5.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-5.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong"></li>
            <li data-score="5" class="single right"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="sixth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">6.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-6.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong"></li>
            <li data-score="5" class="single right"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="seventh-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">7.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-7.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li data-score="5" class="single right"></li>
            <li class="single wrong"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="eighth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">8.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-8.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong"></li>
            <li data-score="5" class="single right"></li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="ninth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">9.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-9.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong">apple</li>
            <li data-score="5" class="single right">ball</li>
          </ul>
        </div>
        <div data-type="singleSelect" style="display:none;" class="tenth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer. 听录音</h2>
          <div class="play">10.<i audio-url="http://media.51talk.com/upload/media/gradeClass/Grade1/1-10.mp3" class="play-btn"></i></div>
          <ul class="clearfix">
            <li class="single wrong"></li>
            <li data-score="5" class="single right"></li>
          </ul>
        </div>
        <div data-type="dragSelect" style="display:none" class="eleventh-question common-bg">
          <h2 draggable="false">Part 2 Match these items with their corresponding color.</h2>
          <div class="question-wrap clearfix">
            <div class="ask-wrap">
              <ul class="clearfix">
                <li class="gray"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="yellow"></li>
                <li class="blue"></li>
              </ul>
            </div>
            <div class="answer-wrap">
              <ul class="clearfix">
                <li data-color="gray" class="gray"></li>
                <li data-color="red" class="red"></li>
                <li data-color="green" class="green"></li>
                <li data-color="yellow" class="yellow"></li>
                <li data-color="blue" class="blue"></li>
              </ul>
            </div>
            <div class="option-wrap">
              <ul class="clearfix">
                <li class="green">
                  <div data-color="green" draggable="true" class="move"><img src="/images/html/group_class//grade1/frog.jpg" draggable="false"/></div>
                </li>
                <li class="blue">
                  <div data-color="blue" draggable="true" class="move"><img src="/images/html/group_class//grade1/dolphin.jpg" draggable="false"/></div>
                </li>
                <li class="red">
                  <div data-color="red" draggable="true" class="move"><img src="/images/html/group_class//grade1/berries.jpg" draggable="false"/></div>
                </li>
                <li class="yellow">
                  <div data-color="yellow" draggable="true" class="move"><img src="/images/html/group_class//grade1/car.jpg" draggable="false"/></div>
                </li>
                <li class="gray">
                  <div data-color="gray" draggable="true" class="move"><img src="/images/html/group_class//grade1/cloud.jpg" draggable="false"/></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div data-type="dragSelect" style="display:none;" class="twelfth-question common-bg">
          <h2>Part 2 Count and match the items with the correct numbers</h2>
          <div class="question-wrap clearfix">
            <div class="ask-wrap">
              <ul class="clearfix">
                <li class="three">3</li>
                <li class="five">5</li>
                <li class="eight">8</li>
                <li class="nine">9</li>
                <li class="six">6</li>
              </ul>
            </div>
            <div class="answer-wrap">
              <ul class="clearfix">
                <li data-color="blue" class="three"></li>
                <li data-color="green" class="five"></li>
                <li data-color="gray" class="eight"></li>
                <li data-color="yellow" class="nine"></li>
                <li data-color="red" class="six"></li>
              </ul>
            </div>
            <div class="option-wrap">
              <ul class="clearfix">
                <li class="nine">
                  <div data-color="yellow" draggable="true" class="move"><img src="/images/html/group_class//grade1/banana_nine.jpg" draggable="false"/></div>
                </li>
                <li class="three">
                  <div data-color="blue" draggable="true" class="move"><img src="/images/html/group_class//grade1/eraser_three.jpg" draggable="false"/></div>
                </li>
                <li class="six">
                  <div data-color="red" draggable="true" class="move"><img src="/images/html/group_class//grade1/berries_six.jpg" draggable="false"/></div>
                </li>
                <li class="eight">
                  <div data-color="gray" draggable="true" class="move"><img src="/images/html/group_class//grade1/pencil_eight.jpg" draggable="false"/></div>
                </li>
                <li class="five">
                  <div data-color="green" draggable="true" class="move"><img src="/images/html/group_class//grade1/star_five.jpg" draggable="false"/></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div><a href="javascript:;" class="next"></a>
    </div>
    <div class="dialog"><a id="test" href='http://sw.bos.baidu.com/sw-search-sp/software/3d03c3764837b/ChromeStandalone_52.0.2743.116_Setup.exe' target='_blank'/>
      <div class="title"><a href="javascript:void(0)">X</a>温馨提示</div>
      <div class="wrap">
        <div class="bd">您当前的浏览器版本过低，为保障信息的完整展示，建议立即升级浏览器</div>
        <div class="foot"><span class="cancle">取消</span><span class="download">下载Chrome浏览器最新版</span></div>
      </div>
    </div>
    <script src="/js/html/project/group_class/vendor.js" type="text/javascript"></script>
  </body>
</html>