
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/group_class/group_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="group_class" class="group-container"><a href="javascript:;" class="logo"></a>
      <div class="fourth-grade">
        <div class="process">
          <div style="width:0" class="bar"></div>
        </div>
        <div class="boy-icon"></div>
        <div class="audio">
          <audio style="display:none" controls="controls">您的浏览器不支持 audio 标签</audio>
        </div>
        <div data-type="singleSelect" class="first-question common-bg">
          <h2>Part 1 Listen and choose the correct answer.</h2>
          <div class="play-wrap">
            <dl class="clearfix">
              <dt audio-url="http://media.51talk.com/upload/media/gradeClass/Grade4/4-1.mp3" class="play-btn"></dt>
              <dd class="pic"></dd>
            </dl>
          </div>
          <h3>1.	Where is the teacher’s office? It is on the __________ floor.</h3>
          <div class="option">
            <ul class="cleafix">
              <li data-score="5" class="single">first</li>
              <li class="single">second</li>
              <li class="single">third</li>
              <li class="single">fourth</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="second-question common-bg">
          <h2>Part 1 Listen and choose the correct answer.</h2>
          <div class="play-wrap">
            <dl class="clearfix">
              <dt audio-url="http://media.51talk.com/upload/media/gradeClass/Grade4/4-2.mp3" class="play-btn"></dt>
              <dd class="pic"></dd>
            </dl>
          </div>
          <h3>2.	The picture is ____________ the window.</h3>
          <div class="option">
            <ul class="cleafix">
              <li class="single">on</li>
              <li class="single">under</li>
              <li data-score="5" class="single">next to </li>
              <li class="single">behind</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="third-question common-bg">
          <h2>Part 1 Listen and choose the correct answer.</h2>
          <div class="play-wrap">
            <dl class="clearfix">
              <dt audio-url="http://media.51talk.com/upload/media/gradeClass/Grade4/4-3.mp3" class="play-btn"></dt>
              <dd class="pic"></dd>
            </dl>
          </div>
          <h3>3.	What is in Timmy’s bag?</h3>
          <div class="option">
            <ul class="cleafix">
              <li data-score="5" class="single">English book </li>
              <li class="single">notebook</li>
              <li class="single">Chinese book</li>
              <li class="single">story book</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="fourth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer.</h2>
          <div class="play-wrap">
            <dl class="clearfix">
              <dt audio-url="http://media.51talk.com/upload/media/gradeClass/Grade4/4-4.mp3" class="play-btn"></dt>
              <dd class="pic"></dd>
            </dl>
          </div>
          <h3>4.	What does Mary wear today?</h3>
          <div class="option">
            <ul class="cleafix">
              <li class="single">coat</li>
              <li class="single">jacket</li>
              <li data-score="5" class="single">dress</li>
              <li class="single">skirt</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="fifth-question common-bg">
          <h2>Part 1 Listen and choose the correct answer.</h2>
          <div class="play-wrap">
            <dl class="clearfix">
              <dt audio-url="http://media.51talk.com/upload/media/gradeClass/Grade4/4-5.mp3" class="play-btn"></dt>
              <dd class="pic"></dd>
            </dl>
          </div>
          <h3>5.	How much is the umbrella?</h3>
          <div class="option">
            <ul class="clearfix">
              <li data-score="5" class="single">15</li>
              <li class="single">25</li>
              <li class="single">10</li>
              <li class="single">20</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="sixth-question common-bg">
          <h2>Part 2 Choose the best answer. </h2>
          <h3>1.	My brother doesn’t talk a lot. He is very ____________.</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">friendly</li>
              <li data-score="5" class="single">quiet</li>
              <li class="single">strong</li>
              <li class="single">loud</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="seventh-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3>2.	I love autumn. It is not cold and not hot. It is ______________.</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">cold</li>
              <li data-score="5" class="single">cool</li>
              <li class="single">hot</li>
              <li class="single">warm</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="eighth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3>3.   There are many flowers in the _______________. It is so beautiful.</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">playground</li>
              <li data-score="5" class="single">garden</li>
              <li class="single">sea</li>
              <li class="single">gym</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="ninth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3>4.	We wear _____________in P.E. class.</h3>
          <div class="option">
            <ul class="clearfix">
              <li data-score="5" class="single">sneakers</li>
              <li class="single">sandals</li>
              <li class="single">slippers</li>
              <li class="single">boots</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="tenth-question common-bg">
          <h2>Part 2 Choose the best answer.</h2>
          <h3>5.	It is a kind of vegetable. Its color is orange. It is ___________.</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">cucumber</li>
              <li class="single">potato</li>
              <li class="single">tomato</li>
              <li data-score="5" class="single">carrot</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="eleventh-question common-bg">
          <h2>Part 3 Choose the word from the different category.</h2>
          <h3>1. duck, rabbit, goat, pretty, lamb</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">duck</li>
              <li class="single">rabbit</li>
              <li class="single">goat</li>
              <li data-score="5" class="single">pretty</li>
              <li class="single">lamb</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="twelfth-question common-bg">
          <h2>Part 3 Choose the word from the different category.</h2>
          <h3>2. football, basketball, baseball, tennis, watermelon</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">football</li>
              <li class="single">basketball</li>
              <li class="single">baseball</li>
              <li class="single">tennis</li>
              <li data-score="5" class="single">watermelon</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="thirteenth-question common-bg">
          <h2>Part 3 Choose the word from the different category.</h2>
          <h3>3. canteen, picture, library, art room, music room</h3>
          <div class="option">
            <ul class="clearfix">
              <li class="single">canteen</li>
              <li data-score="5" class="single">picture</li>
              <li class="single">library</li>
              <li class="single">art room</li>
              <li class="single">music room</li>
            </ul>
          </div>
        </div>
        <div style="display:none" data-type="listSelect" class="list-question fourteenth-question common-bg">
          <h2>Part 4 Reading Comprehension.</h2>
          <h3>Passage A Read the passage and fill in the blanks.</h3>
          <div class="content clearfix">
            <div class="pic"></div>Peter is twelve years old. He goes to school at 8 o’clock from Monday to Friday. He likes spring the best, because the weather is warm. He doesn’t like winter, because it is cold and snowy.
          </div>
          <div class="list-select">
            <ul class="list clearfix">
              <li data-value="A"><span>12</span></li>
              <li data-value="B"><span>school</span></li>
              <li data-value="C"> <span>warm</span></li>
              <li data-value="D"> <span>cold</span></li>
              <li data-value="E"> <span>snowy</span></li>
            </ul>
            <p>1. How old is Peter? He is <span data-value="A"></span></p>
            <p>2. Where does he go from Monday to Friday? He goes to <span data-value="B"></span></p>
            <p>3. Why does Peter like spring? Because it is <span data-value="C"></span></p>
            <p>4. Why does Peter hate winter? Because it is <span data-value="D"></span> and <span data-value="E"></span></p>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="fifteenth-question common-bg">
          <h2>Part 4 Reading Comprehension.</h2>
          <h3>Passage B Read the passage and choose the correct answer.</h3>
          <div class="content clearfix">
            <div class="pic"></div>Susan wears skirts every day. She has many different skirts, red, yellow, blue and purple. She put her yellow skirt next to the red skirt, and blue skirt next to the purple skirt. All her sweaters match with her skirts.Her favorite piece is a white sweater.
          </div>
          <div class="eighteenth-question">
            <h3>5.	What is the passage about? It is about Susan’s_____________.</h3>
            <div class="option lastone clearfix">
              <ul class="clearfix">
                <li data-score="5" class="single">clothes</li>
                <li class="single">family</li>
                <li class="single">school</li>
                <li class="single">life</li>
              </ul>
            </div>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="sixteenth-question common-bg">
          <h2>Part 4 Reading Comprehension.</h2>
          <h3>Passage B Read the passage and choose the correct answer.</h3>
          <div class="content clearfix">
            <div class="pic"></div>Susan wears skirts every day. She has many different skirts, red, yellow, blue and purple. She put her yellow skirt next to the red skirt, and blue skirt next to the purple skirt. All her sweaters match with her skirts.Her favorite piece is a white sweater.
          </div>
          <div class="nineteenth-question">
            <h3>6.	How does Susan put her skirts together?</h3>
            <div class="option lastone clearfix">
              <ul class="clearfix">
                <li data-score="5" class="single"></li>
                <li class="single"></li>
                <li class="single"></li>
                <li class="single"></li>
              </ul>
            </div>
          </div>
        </div>
        <div style="display:none" data-type="singleSelect" class="seventeenth-question common-bg">
          <h2>Part 4 Reading Comprehension.</h2>
          <h3>Passage B Read the passage and choose the correct answer.</h3>
          <div class="content clearfix">
            <div class="pic"></div>Susan wears skirts every day. She has many different skirts, red, yellow, blue and purple. She put her yellow skirt next to the red skirt, and blue skirt next to the purple skirt. All her sweaters match with her skirts.Her favorite piece is a white sweater.
          </div>
          <div class="twentieth-question">
            <h3>7.	What is Susan’s favorite piece?</h3>
            <div class="option lastone clearfix">
              <ul class="clearfix">
                <li class="single">a white dress</li>
                <li class="single">a yellow skirt</li>
                <li data-score="5" class="single">a white sweater</li>
                <li class="single">a red skirt</li>
              </ul>
            </div>
          </div>
        </div>
      </div><a href="javascript:;" class="next"></a>
    </div>
    <div class="dialog"><a id="test" href='http://sw.bos.baidu.com/sw-search-sp/software/3d03c3764837b/ChromeStandalone_52.0.2743.116_Setup.exe' target='_blank'/>
      <div class="title"><a href="javascript:void(0)">X</a>温馨提示</div>
      <div class="wrap">
        <div class="bd">您当前的浏览器版本过低，为保障信息的完整展示，建议立即升级浏览器</div>
        <div class="foot"><span class="cancle">取消</span><span class="download">下载Chrome浏览器最新版</span></div>
      </div>
    </div>
    <script src="/js/html/project/group_class/vendor.js" type="text/javascript"></script>
  </body>
</html>
