
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/group_class/group_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="group_class" class="group-container"><a href="javascript:;" class="logo"></a>
      <div class="guide-wrap">
        <h1 class="title"></h1>
        <div class="select-wrap grdeList">
          <ul class="clearfix">
            <li grade="1"><a href="javascript:;"><em class="number">1</em><span class="text"> </span></a></li>
            <li grade="2"><a href="javascript:;"><em class="number">2</em><span class="text"> </span></a></li>
            <li grade="3"><a href="javascript:;"><em class="number">3</em><span class="text"> </span></a></li>
            <li grade="4"><a href="javascript:;"><em class="number">4</em><span class="text"> </span></a></li>
            <li grade="5"><a href="javascript:;"><em class="number">5</em><span class="text"> </span></a></li>
            <li grade="6"><a href="javascript:;"><em class="number">6</em><span class="text"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/js/html/project/group_class/vendor.js" type="text/javascript"></script>
  </body>
</html>