
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/group_class/group_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="group_class" class="group-container"><a href="javascript:;" class="logo"></a>
      <div class="sixth-grade business">
        <div class="process">
          <div style="width:0" class="bar"></div>
        </div>
        <div class="boy-icon"></div>
        <div class="audio"><audio src="" style="display:none">您的浏览器不支持 audio 标签。</audio></div>
        <div style="display:block" data-type="singleSelect" class="single-question first-question common-bg">
          <h2>Part 1 Listen and choose</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/6-1.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3>1.What is the man buying for his lunch?</h3>
          <ul>
            <li class="single"></li>
            <li class="single"></li>
            <li data-score="5" class="single"></li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question second-question common-bg">
          <h2> Part 1 Listen and choose</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/6-2.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3>2.Which postcard does the woman choose? 		</h3>
          <ul>
            <li class="single"> </li>
            <li data-score="5" class="single"></li>
            <li class="single"></li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question third-question common-bg">
          <h2> Part 1 Listen and choose</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/6-3.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3>3.How does Timmy go to school today?</h3>
          <ul>
            <li class="single"></li>
            <li class="single"></li>
            <li data-score="5" class="single"></li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question fourth-question common-bg">
          <h2> Part 1 Listen and choose</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/6-4.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3>4.What will Cindy do next week?</h3>
          <ul>
            <li class="single"></li>
            <li data-score="5" class="single"></li>
            <li class="single"></li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question fifth-question common-bg">
          <h2> Part 1 Listen and choose</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/6-5.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3>5.What does Tom’s father do?</h3>
          <ul>
            <li data-score="5" class="single"></li>
            <li class="single"></li>
            <li class="single"></li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 sixth-question common-bg">
          <h2>Listen and choose.</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/Part2-6-6-10.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3 class="t20">1. Lisa ____ on summer vacation.  </h3>
          <ul>
            <li class="single">A. went fishing.   </li>
            <li data-score="5" class="single">B. went camping.    </li>
            <li class="single">C. went skiing.</li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 seventh-question common-bg">
          <h2>Listen and choose.</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/Part2-6-6-10.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3 class="t20">2. Lisa went camping ____ </h3>
          <ul>
            <li class="single">A. the day before yesterday.  </li>
            <li data-score="5" class="single">B. last week.    </li>
            <li class="single">C. yesterday. </li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 eighth-question common-bg">
          <h2>Listen and choose.</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/Part2-6-6-10.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3 class="t20">3. Lisa’s favorite sport is____  </h3>
          <ul>
            <li data-score="5" class="single">A. playing badminton.   </li>
            <li class="single">B. ice skating.    </li>
            <li class="single">C. running. </li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 ninth-question common-bg">
          <h2>Listen and choose.</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/Part2-6-6-10.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3 class="t20">4. Lisa always does sports ____  </h3>
          <ul>
            <li class="single">A. in the park.  </li>
            <li class="single">B. at home.       </li>
            <li data-score="5" class="single">C. in the gym. </li>
          </ul>
        </div>
        <div style="display:none" data-type="singleSelect" class="single-question2 tenth-question common-bg">
          <h2>Listen and choose.</h2>
          <div class="includeAudio">
            <dl class="clearfix">
              <dd audio-url="http://media.51talk.com/upload/media/gradeClass/Grade6/Part2-6-6-10.mp3" class="play-btn"></dd>
            </dl>
          </div>
          <h3 class="t20">5. Ella bought a ____ for Lisa.     </h3>
          <ul>
            <li data-score="5" class="single">A. handmade lamp.  </li>
            <li class="single">B. handmade cake.    </li>
            <li class="single">C. handmade kite. </li>
          </ul>
        </div>
        <div style="display:none" data-type="listSelect" class="list-question eleventh-question common-bg">
          <h2>Part 3 Choose the right answer (one mistake each sentence. Please underline the mistake and write down the right answer at the end of the sentence). </h2>
          <div class="list-select">
            <ul class="list"> 
              <li data-value="A"><span>A</span>. magazines</li>
              <li data-value="B"><span>B</span>. price</li>
              <li data-value="C"><span>C</span>. younger</li>
              <li data-value="D"><span>D</span>. should</li>
              <li data-value="E"><span>E</span>. dream </li>
            </ul>
            <p> 1. Tim is 11 years old. Mary is 14 years old. Tim is  <span data-value="C"></span>than Mary.</p>
            <p> 2. Peter does not eat breakfast. He  <span data-value="D"></span> eat in the morning. It is healthier.</p>
            <p> 3. I like reading. I read books, newspaper, and <span data-value="A"></span>.</p>
            <p> 4. I have a <span data-value="E"></span>. I want to be a doctor when I grow up.</p>
            <p> 5. The dress is too expensive. The  <span data-value="B"></span> is too high. </p>
          </div>
        </div>
        <div style="display:none;" data-type="singleSelect" class="single-question2 single-question3 twelfth-question common-bg">
          <h2>
             
            Part 4 Reading Comprehension<span class="btn">1</span>
          </h2>
          <h3>1. Why were the people in the countryside poor? Because the place was very___________</h3>
          <ul>
            <li data-score="5" class="single">A. dry   </li>
            <li class="single">B. windy  </li>
            <li class="single">C. hot	</li>
            <li class="single">D. water</li>
          </ul>
          <div class="story_dialog"><span class="btn_close"></span><p> Frank was only 5 years old. He lived with his parents in a very small house in countryside. The people there were all poor because it is very dry there.</p>
            <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He found that the wood in the kitchen was burning. There was no water in the house, so he could not put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors left their houses quickly.</p>
            <p>At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the fire.</p>
          </div>
        </div>
        <div style="display:none;" data-type="singleSelect" class="single-question2 single-question3 twelfth-question common-bg">
          <h2>
             
            Part 4 Reading Comprehension<span class="btn">1</span>
          </h2>
          <h3>2. What does “put out” mean?</h3>
          <ul>
            <li data-score="5" class="single">A. 浇灭  </li>
            <li class="single">B. 给    </li>
            <li class="single">C. 离开 	</li>
            <li class="single">D. 起立</li>
          </ul>
          <div class="story_dialog"><span class="btn_close"></span><p> Frank was only 5 years old. He lived with his parents in a very small house in countryside. The people there were all poor because it is very dry there.</p>
            <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He found that the wood in the kitchen was burning. There was no water in the house, so he could not put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors left their houses quickly.</p>
            <p>At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the fire.</p>
          </div>
        </div>
        <div style="display:none;" data-type="singleSelect" class="single-question2 single-question3 twelfth-question common-bg">
          <h2>
             
            Part 4 Reading Comprehension<span class="btn">1</span>
          </h2>
          <h3>3. Who did Frank wake up?</h3>
          <ul>
            <li class="single">A. Grandpa  </li>
            <li class="single">B. friends   </li>
            <li data-score="5" class="single">C. neighbors 	</li>
            <li class="single">D. animals</li>
          </ul>
          <div class="story_dialog"><span class="btn_close"></span><p> Frank was only 5 years old. He lived with his parents in a very small house in countryside. The people there were all poor because it is very dry there.</p>
            <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He found that the wood in the kitchen was burning. There was no water in the house, so he could not put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors left their houses quickly.</p>
            <p>At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the fire.</p>
          </div>
        </div>
        <div style="display:none;" data-type="singleSelect" class="single-question2 single-question3 twelfth-question common-bg">
          <h2>
             
            Part 4 Reading Comprehension<span class="btn">1</span>
          </h2>
          <h3>4. Who get hurt in the fire?</h3>
          <ul>
            <li class="single">A. Frank   </li>
            <li data-score="5" class="single">B. nobody    </li>
            <li class="single">C. Frank’s parents	</li>
            <li class="single">D. Frank’s neighbors </li>
          </ul>
          <div class="story_dialog"><span class="btn_close"></span><p> Frank was only 5 years old. He lived with his parents in a very small house in countryside. The people there were all poor because it is very dry there.</p>
            <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He found that the wood in the kitchen was burning. There was no water in the house, so he could not put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors left their houses quickly.</p>
            <p>At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the fire.</p>
          </div>
        </div>
      </div><a href="javascript:;" class="next"></a>
    </div>
    <div class="dialog"><a id="test" href='http://sw.bos.baidu.com/sw-search-sp/software/3d03c3764837b/ChromeStandalone_52.0.2743.116_Setup.exe' target='_blank'/>
      <div class="title"><a href="javascript:void(0)">X</a>温馨提示</div>
      <div class="wrap">
        <div class="bd">您当前的浏览器版本过低，为保障信息的完整展示，建议立即升级浏览器</div>
        <div class="foot"><span class="cancle">取消</span><span class="download">下载Chrome浏览器最新版</span></div>
      </div>
    </div>
    <script src="/js/html/project/group_class/vendor.js" type="text/javascript"></script>
  </body>
</html>