
<section class="mask">
  <section class="verification">
    <h3 class="time-item-tit"> <span class="span-font">验证手机号，及时获取课程信息</span><i></i></h3>
    <ul class="mask-list">
      <li>
        <input placeholder="请输入手机号码" type="tel" id="tel" name="mobile" disabled="true" class="telphone"/>
      </li>
      <li>
        <input placeholder="请输入图片验证码" type="text" id="checked_imgcode"/><img src="/images/wap/experience_class/footer.png"/>
      </li>
      <li>
        <input placeholder="请输入短信验证码" type="tel" id="code"/><span id="getCode">获取验证码</span>
      </li>
    </ul>
    <p class="button"><span id="test">验  证</span></p><img src="/images/wap/experience_class/close.png" class="close"/>
  </section>
</section>