
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>wap体验课</title>
    <link href="/css/wap/experience_class/experience_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="experience_class" class="experience_class">
      <header class="info-tit success-tit">老师正在为您备课，请按时来上课哦</header>
      <section class="success">
        <section class="success-item">
          <h3 class="time-item-tit"> <span class="span-font">体验课信息</span><i></i></h3>
          <dl>
            <dt><img src="/images/wap/experience_class//user.jpg"/></dt>
            <dd><span>时间：</span>
              <p>2016.12.13  10:00~10:25</p>
            </dd>
            <dd><span>老师：</span>
              <p>Tatiana</p>
            </dd>
            <dd><span>教材：</span>
              <p>动物们动起来 Animals can move</p>
            </dd>
            <dd><span>工具：</span>
              <p>51Talk AC在线教室</p>
            </dd>
          </dl>
        </section>
        <section class="success-item">
          <h3 class="time-item-tit"> <span class="span-font">课前必读</span><i></i></h3>
          <section class="read">
            <section class="read-item">
              <h3 class="read-tit"><i>01</i><span>上课设备</span></h3><img src="/images/wap/experience_class//read1.jpg"/>
            </section>
            <section class="read-item">
              <h3 class="read-tit"><i>02</i><span>上课工具——登录官网下载</span></h3><img src="/images/wap/experience_class//read2.jpg"/>
            </section>
            <section class="read-item read-item3">
              <h3 class="read-tit"><i>03</i><span>填写qq号</span></h3>
              <section class="qq-cont">
                <p class="qq-number">
                  <input placeholder="您的qq号码" type="tel"/><span class="save">保 存</span>
                </p>
                <p class="qq-text">外教老师和学习顾问有可能通过qq联系你</p>
              </section>
            </section>
          </section>
        </section>
        <section class="success-item">
          <h3 class="time-item-tit"> <span class="span-font"> 51Talk的教学优势</span><i></i></h3>
          <ul class="item-list">
            <li class="clearfix"><img src="/images/wap/experience_class//item1.jpg"/>
              <section class="list-cont">
                <h3>8000+金牌外教</h3>
                <p>经验丰富的外教团队，优中选优，录取率仅3%；1对1教学，为您提供VIP专属服务</p>
              </section>
            </li>
            <li class="clearfix"><img src="/images/wap/experience_class//item2.jpg"/>
              <section class="list-cont">
                <h3>超强的教材研发实力</h3>
                <p>10年以上教学经验的课程研发团队超过10万小时精心投入，专业打造适合中国学习者的系统教材</p>
              </section>
            </li>
            <li class="clearfix"><img src="/images/wap/experience_class//item3.jpg"/>
              <section class="list-cont">
                <h3>随时随地，轻松提升</h3>
                <p>功能强大的在线教室AC(AirClass) 无缝衔接手机、Pad、电脑 三端,足不出户约课、预习、上课、复习</p>
              </section>
            </li>
          </ul>
        </section>
      </section>
      <section class="sure-button"><a href="javascript:;" class="go">进入个人中心</a></section>
      <footer class="footer"><img src="/images/wap/experience_class//footer.png"/></footer>
    </div>
    <script src="/js/wap/project/experience_class/vendor.js" id="seajsnode" type="text/javascript"></script>
  </body>
</html>