
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>wap体验课</title>
    <link href="/css/wap/experience_class/experience_class.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="experience_class" class="experience_class">
      <header class="time-tit">
        <h3>选择上课时间</h3>
        <ul class="time-list clearfix">
          <li> <i class="week-now">日</i>
            <section class="time-day day-now"><span class="day">25</span><br/><span class="month">今天</span></section>
          </li>
          <li> <i>一</i>
            <section class="time-day"><span class="day">25</span><br/><span class="month">明天</span></section>
          </li>
          <li> <i>二</i>
            <section class="time-day"><span class="day">25</span><br/><span class="month">12月</span></section>
          </li>
          <li> <i>三</i>
            <section class="time-day"><span class="day">25</span><br/><span class="month">12月</span></section>
          </li>
          <li><i>四</i>
            <section class="time-day"><span class="day">25</span><br/><span class="month">12月</span></section>
          </li>
          <li> <i>五</i>
            <section class="time-day"><span class="day">25</span><br/><span class="month">12月</span></section>
          </li>
          <li> <i>六</i>
            <section class="time-day"><span class="day">25</span><br/><span class="month">12月</span></section>
          </li>
        </ul>
      </header>
      <section class="time">
        <section class="time-item time-cont-l">
          <section class="time-item-tit"><span class="span-font">上 午</span><span>下午</span><span>晚上</span><i></i></section>
          <ul class="time-cont clearfix">
            <li>10:00</li>
            <li>10:00</li>
            <li>10:00</li>
            <li>10:00</li>
            <li>10:00</li>
            <li class="gray">10:00<br><span>已约满</span></li>
            <li>10:00</li>
            <li>10:00</li>
          </ul>
        </section>
        <section class="time-item time-teacher">
          <h3 class="time-item-tit"> <span class="span-font">老师国籍</span><i></i></h3>
          <p>如果学员无法与外教交流，推荐选择中教老师</p>
          <ul class="time-cont clearfix">
            <li class="active">外教老师</li>
            <li>中教老师</li>
          </ul>
        </section>
      </section>
      <section class="sure-button"><span class="complete">完成预约</span></section>
      <footer class="footer"><img src="/images/wap/experience_class//footer.png"/></footer>
      <section class="mask">
        <section class="verification">
          <h3 class="time-item-tit"> <span class="span-font">验证手机号，及时获取课程信息</span><i></i></h3>
          <ul class="mask-list">
            <li>
              <input placeholder="请输入手机号码" type="tel" id="tel" name="mobile" disabled="true" class="telphone"/>
            </li>
            <li>
              <input placeholder="请输入图片验证码" type="text" id="checked_imgcode"/><img src="/images/wap/experience_class/footer.png"/>
            </li>
            <li>
              <input placeholder="请输入短信验证码" type="tel" id="code"/><span id="getCode">获取验证码</span>
            </li>
          </ul>
          <p class="button"><span id="test">验  证</span></p><img src="/images/wap/experience_class/close.png" class="close"/>
        </section>
      </section>
    </div>
    <script src="/js/wap/project/experience_class/vendor.js" id="seajsnode" type="text/javascript"></script>
  </body>
</html>