<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_2015708/reg_2015708.css">		
</head>
<body>
	<header>
    <img src="/images/wap/reg_2015708/logo.png">
    <a class="rt"></a>
</header>
	<section class="order">
	    <article>
	        <aside>
	            <img src="/images/wap/reg_2015708/banner_home3.jpg" class="icon">
	            <br>Marry
	            <span class="star sa3"></span>
	        </aside>
	        <dl>
	            <dt>老师上课时间</dt>
	            <dd>2013-11-02 周四</dd>
	            <dd>22:15-22:40</dd>
	            <dd>综合英语>>51Talk经典英语在家学习英语的好方法</dd>
	            <dd>Descibing where to spend the weekend</dd>
	        </dl>
	    </article>
	    <span>您缺席了体验课无法获得水平定级，请拨打免费热线4000515151重新预约一节体验课。</span>
	    <span><font>如需购买课程，请在电脑上登录51Talk网站购买。</font></span>
	</section>
	<footer style="display:none;">
	    <aside class="second">   
	        <a href="#"><img src="/images/wap/reg_2015708//base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_2015708/vendor.js" id="seajsnode"></script>
</html>