<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_2015708/reg_2015708.css">		
</head>
<body>
	<header>
    <img src="/images/wap/reg_2015708/logo.png">
    <a class="rt"></a>
</header>
	<article class="m-acc">
		<div class="m-hd">
	        <a href="javascript:;" class="u-back"><</a>
	        账户信息  
	    </div>
	    <div class="m-ct">
	        <ul class="m-lst">
	            <li>
	                <span class="u-key">剩余次卡：</span>
	                <span class="u-value">2次</span>
	                <a href="#" class="link">立即预约</a>
	            </li>
	            <li>
	                <span class="u-key">邮箱：</span>
	                <span class="u-value">saturday@51talk.com</span>
	            </li>
	            <li>
	                <span class="u-key">昵称：</span>
	                <span class="u-value">saturday</span>
	            </li>
	            <li>
	                <span class="u-key">QQ：</span>
	                <span class="u-value f-clb">583603514</span>
	            </li>
	            <li>
	                <span class="u-key">SkypeID：</span>
	                <span class="u-value"></span>
	            </li>
	            <li>
	                <span class="u-key">手机号：</span>
	                <span class="u-value f-clb">13811774679</span>
	            </li>
	        </ul>
	        <a href="javascript:;" class="u-btn">退出登录</a>
	    </div>
	</article>
	<footer>
    <aside class="second">
        <p><span>客服热线：</span>4000-51-51-51</p>
    </aside>
</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_2015708/vendor.js" id="seajsnode"></script>
</html>