<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
  <meta content="yes" name="apple-mobile-web-app-capable" /> 
  <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
  <meta content="telephone=no" name="format-detection" /> 
  <title>预约完成</title>
  <link rel="stylesheet" type="text/css" href="/css/wap/reg_2015708/reg_2015708.css">
  <link rel="stylesheet" type="text/css" href="/css/wap/reg_2015708/mobiscroll.css">      
</head>
<body><script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.2.9.12.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
<header>
    <img src="/images/wap/reg_2015708/logo.png">
    <a class="rt"></a>
</header>
	<section class="m-addyoung-name">
    <input type="hidden" name="sex_info">
    <h3 class="title">为了让学员更好的体验51Talk的服务，请填写学员姓名</h3>
    <ul class="m-list">
        <!-- 中文名字 -->
        <li class="m-cname">
            <label for="">中文名：</label>
            <input name="chName" type="text" placeholder="用于课程顾问沟通">
            <span class="error-tit">姓名输入错误</span>
        </li>
        <!--  英文名字 -->
        <li class="m-ename">
            <label for="">英文名：</label>
            <input type="text" name="engName" placeholder="用于外教老师沟通">
            <span class="error-tit">2-20位，仅限字母</span>
            <span class="rct-name" id="userinfo_namelist" data-url="">推荐英文名</span>
        </li>
        <li class="m-namelist">
          <div class="enameBox"> 
            <div class="nameTab clearfix">
                <div class="names">
                    <a href="javascript:;" class="boyname active" data-url="">男孩英文名</a>
                    <span class="line">|</span>
                    <a href="javascript:;" class="girlname" data-url="">女孩英文名</a>
                </div>
                <a href="javascript:;" class="refresh" id="refresh_info" data-attr="">换一换</a>
            </div>
            <div class="u-loadding"><img src="/images/wap/reg_2015708/u_loading.gif" class="u-cal">正在努力加载中</div>
            <div class="u-nameList u-showname">
                <ul class="namesList clearfix" style="display:block;">
                    <li><a href="javascript:;">Berg</a><span>11111</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">MichealiMichealiaa</a><span>蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯蜜雪莉雅</span></li>
                </ul>
                <ul class="namesList clearfix">
                    <li><a href="javascript:;">Berg</a><span>22222</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">MichealiMichealiaa</a><span>蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯蜜雪莉雅</span></li>
                </ul>
            </div>
          </div>
        </li>
        <!-- 孩子性别 -->
        <li class="m-sex">
          <label for="">孩子性别：</label>
          <div class="child-sex">
            <span class=""><i></i>女孩</span>
            <span class=""><i></i>男孩</span>
          </div>
          <span class="error-sex">请填写性别</span>
        </li>
        <!-- 孩子生日 -->
        <li class="m-birthday">
          <label for="">孩子生日：</label>
            <input type="text" class="date_picker" name="birthday" id="appDate">
            <span class="error-tit">日期错误</span>
            <img src="/images/wap/reg_2015708/u-icon3.png" class="u-cal">
        </li>
    </ul>
    <a href="javascript:;" class="subtn" infoUrl = "xxxx">确定</a>
  </section>
  <section class="m-addadult-name" id="container" data-init="reg">
    <input type="hidden" name="sex_info">
    <h3 class="title">为了让学员更好的体验51Talk的服务，请填写学员姓名</h3>
    <ul class="m-list">
        <!-- 中文名字 -->
        <li class="m-cname">
            <label for="">中文名：</label>
            <input name="chName" type="text" placeholder="用于课程顾问沟通">
            <span class="error-tit">姓名输入错误</span>
        </li>
        <!--  英文名字 -->
        <li class="m-ename">
            <label for="">英文名：</label>
            <input type="text" name="engName" placeholder="用于外教老师沟通">
            <span class="error-tit">2-20位，仅限字母</span>
            <span class="rct-name" id="userinfo_namelist" data-url="">推荐英文名</span>
        </li>
        <li class="m-namelist">
          <div class="enameBox"> 
            <div class="nameTab clearfix">
                <div class="names">
                    <a href="javascript:;" class="boyname active" data-url="">男孩英文名</a>
                    <span class="line">|</span>
                    <a href="javascript:;" class="girlname" data-url="">女孩英文名</a>
                </div>
                <a href="javascript:;" class="refresh" id="refresh_info" data-attr="">换一换</a>
            </div>
            <div class="u-loadding"><img src="/images/wap/reg_2015708/u_loading.gif" class="u-cal">正在努力加载中</div>
            <div class="u-nameList u-showname">
                <ul class="namesList clearfix" style="display:block;">
                    <li><a href="javascript:;">Berg</a><span>11111</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">MichealiMichealiaa</a><span>蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯蜜雪莉雅</span></li>
                </ul>
                <ul class="namesList clearfix">
                    <li><a href="javascript:;">Berg</a><span>22222</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Michealia</a><span>蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格</span></li>
                    <li><a href="javascript:;">Berg</a><span>伯格蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">MichealiMichealiaa</a><span>蜜雪莉雅蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Catherina</a><span>凯瑟琳蜜雪莉雅</span></li>
                    <li><a href="javascript:;">Bevis</a><span>比维斯蜜雪莉雅</span></li>
                </ul>
            </div>
          </div>
        </li>
    </ul>
    <a href="javascript:;" class="subtn" infoUrl = "xxxx">确定</a>
  </section>
	<section class="com">
	    <p class="nav">恭喜您成功预约外教体验课！</p>
	    <ul>
	        <li>
	            <span>上课时间</span>
	            <span>2015-5-16 12:23:00</span>
	        </li>
	        <li>
	            <span>课程名称</span>
	            <span>英语应用动态测评系统英语应用动态测评系统</span>
	        </li>
	        <li>
	            <span>上课工具</span>
	            <span>QQ（老师QQ:2374803）</span>
	        </li>
	    </ul>
	     <!-- 家长必读·体验课指南 -->
	    <article class="rd_parent">
					<a  href="javscript:;">家长必读·体验课指南 ></a>
			</article>
	    <p class="word"><b>官方微信公众号</b></p>
       <article class="rd_weChatMain">
            <div class="weChatImg">
                    <img src="/images/wap/reg_2015708/weChat-adult.jpg" />
            </div>
            <div class="weChatTxt">
                    <h3>
                            关注官方公众号，免费领取500本
                                精美电子绘本，附音频！
                        </h3>
                        <p>
                                点击微信右上角“＋”, 选择“添
                                加朋友—公众号”, 输入“文案3”
                                并搜索 , 关注51Talk官方公众号。
                        </p>

            </div>
        </article>
        <p class="word"><b>马上开启学习之旅</b></p>
	    <aside class="center">
	    	<a href="#"><img src="/images/wap/reg_2015708/rg_img02.png" class="rg-img"></a>
	        <p>先来看看如何上课</p>
	        <p>温馨提示：移动网络不稳定，无法获得最佳的教材使用体验，为保证您顺利完成体验课，请不要使用手机QQ上课</p>
	        <dl>
	            <dd>
	                <i>1/3</i>
	                <b>打开电脑登录 www.51talk.com进入会员中，查看我已预约课程</b>
	                <img src="/images/wap/reg_2015708/suc_img01.png">
	            </dd>
	            <dd>
	                <i>2/3</i>
	                <b>请主动添加老师QQ,并在课程开始前10分钟登录QQ等待上课。</b>
	                <img src="/images/wap/reg_2015708/suc_img02.png">
	            </dd>
	            <dd>
	                <i>3/3</i>
	                <b>请准备一副耳机和麦克，并保持手机通畅以接收上课提醒通知。</b>
	                <img src="/images/wap/reg_2015708/suc_img03.png">
	            </dd>
	        </dl>
	    </aside>
	    <aside class="wt">
	        <p>常见问题</p>
	        <p>Q: 我已经成功预约了，通过什么方式上课？</p>
	        <p>A: 体验课上课方式QQ,请务必填写正确的QQ号码。</p>
	        <p>Q: 上课前需要准备什么？</p>
	        <p>A: 一台电脑＋一个头戴式耳麦</p>
	        <p>Q: 上完课后，何时能看到我的评测结果</p>
	        <p>A: 外教老师会在课后第一时间为您生成专属的测评报告，届时，您直接登录51Talk会员中心即可查看。</p>
	    </aside>
	    <aside><a href="#" class="btn" style="background:#ff8429;">查看已预约课程</a></aside>
	</section>
	<footer>
	    <aside class="second">   
	        <a href="#"><img src="/images/wap/reg_2015708/base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
  <script src="/js/wap/project/reg_2015708/jquery.js"></script>
  <script src="/js/wap/project/reg_2015708/mobiscroll.js"></script>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_2015708/vendor.js" id="seajsnode"></script>
</html>