<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_2015708/reg_2015708.css">		
</head>
<body style="background:#FFF;">
	<header>
    <img src="/images/wap/reg_2015708/logo.png">
    <a class="rt"></a>
</header>
	<article class="paid_alert">
		<b>亲爱的51Talk学员：<br>为了给您带来更好的上课体验, 建议您使用51 Talk APP —— 官方约课神器, 约课只需一步！</b>
	    <p>
	        <img src="/images/wap/reg_2015708/f_top.jpg" class="img">
	        <a href="#"><span>立即下载</span></a>
	    </p>    
	    <h3><strong>约课只需一步</strong>智能确定高频上课时间<br>优先选择收藏老师，推荐最佳老师<br>教材跟随级别，知你所想</h3>
	    <img src="/images/wap/reg_2015708/f_bom.jpg">
	    <h3><strong>单词不只可以听</strong>课前预习，词汇、句式、语法，一个都不能少<br>标准发音，听完就说，智能打分，矫正发音</h3>
	    <img src="/images/wap/reg_2015708/f_lee.jpg">
	    <h3><strong>课程一目了然</strong>预约课程置顶显示<br>预习、评价、课程报告一触即达<br>疑难词汇，加入单词本，随时复习</h3>
	    <img src="/images/wap/reg_2015708/f_el.jpg">
	    <a href="#" class="btn">立即下载51TalkAPP</a>
	</article>
	<footer>
	    <aside class="second">
	        <span><a href=""><img src="/images/wap/reg_2015708/wap_to_app.png"></a></span>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_2015708/vendor.js" id="seajsnode"></script>
</html>