<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_2015708/reg_2015708.css">		
</head>
<body style="background:#edaf00;">
	<header>
    <img src="/images/wap/reg_2015708/logo.png">
    <a class="rt"></a>
</header>
	<section class="login" data-init="reg" id="container">
		<form action="doRegister" method="post" id="regForm">
		    <p><input type="text" placeholder="请输入手机号码" name='user_name' class="pho"></p>
		    <p><input type="password" placeholder="请输入密码" name='password' class="password"></p>
		    <aside><a href="#" class="btn" name="reg">注&nbsp;册</a></aside>
		</form>
	</section>
	<footer>
    <aside class="second">
        <p><span>客服热线：</span>4000-51-51-51</p>
    </aside>
</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_2015708/vendor.js" id="seajsnode"></script>
</html>