<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>

    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s %>schedule.css">

</head>
<body data-init="scheduleDate">
  <div class="right-box">
    <h2 class="tit-box"><a href="javascript:;">排班系统Dallas</a></h2>
    <div class="date-box">
      <span class="date-tit">日期筛选：</span>
      开始时间：<input class="input-box stime_icon" id="sdateinfo" type="text"/>
      结束时间：<input class="input-box etime_icon" id="edateinfo" type="text"/>
      <a href="javascript:;" class="submit-btn">提交</a>

    </div>
    <table class="table-box table-bg" cellspacing="1" >
      <tr>
        <td>时间</td>
        <td>
            <div>3月4日 周六</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月5日 周日</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月11日 周六</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月12日 周日</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月18日 周六</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月19日 周日</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月25日 周六</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
        <td>
            <div>3月26日 周日</div>
            <div>
                <input type="button" value="前移一天"/>
                <input type="button" value="后移一天"/>
            </div>
        </td>
      </tr>
      <tr>
        <td>9:00-10:00</td>
        <td>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>9:00-10:00</td>
        <td>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>9:00-10:00</td>
        <td>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
            <div class="teacher-box">
                <div>3.4-3.12全程托管特价班Level1</div>
                <div>
                    <span>中教老师</span>
                    <input type="button" value="换老师"/>
                </div>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td>
            <div>3.4-3.12全程托管特价班Level1</div>
            <div>
                <input type="button" value="排老师"/>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
      <tr>
        <td>循环设课</td>
        <td>
             <input class="del-btn" type="button" value="删除无教师班级"/>
        </td>
        <td>
            <input class="del-btn" type="button" value="删除无教师班级"/>
        </td>
        <td>
             <input class="del-btn" type="button" value="删除无教师班级"/>
        </td>
        <td>
             <input class="del-btn" type="button" value="删除无教师班级"/>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </table>

    <a class="btn-box" href="javascript:;">配置设课规则</a>
    <div class="page-box">
        <table border="0" cellspacing="1" cellpadding="1" class="Page" align="center" style="border:0;margin-bottom: 0;width:auto;">
<tbody><tr bgcolor="#ffffff" align="center" title="记录总数11
分页总数:6"> 
<td class="PagerSmall" style="border:0">记录:11</td><td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=1" class="">First</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=3" class="">&lt;&lt;</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=1" class="">1</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=2" class="">2</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=3" class="">3</a></td>
<td class="BoldText" width="18" style="border:0"><span style="color:red;font-size:14px;">4</span></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=5" class="">5</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=6" class="">6</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=5" class="">&gt;&gt;</a></td>
<td class="Pager" width="18" style="border:0"><a href="/admin/ScheduleSystem/listRegular?&amp;PageID=6" class="">Last</a></td>
<td class="PagerSmall" style="border:0">分页:6</td><iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></tr>
</tbody></table>
        <!-- <a href="javascipt:;">首页</a>
        <a href="javascipt:;">上一页</a>
        <a href="javascipt:;">1</a>
        <a href="javascipt:;">2</a>
        <span>...</span>
        <a href="javascipt:;">9</a>
        <a href="javascipt:;">10</a>
        <a href="javascipt:;">下一页</a>
        <a href="javascipt:;">尾页</a>
        <span>共10页</span> -->
    </div>
  </div>

 
</body>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
<script src="<%= jsPath%>jedate.js"></script>

</html>
