<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入51TALK, 与名人对话，免费学英语！</title>
    <link rel="stylesheet" href="/css/html/b2bUpdate/b2bUpdate.css">
</head>
<body>
    <!-- 顶部 -->
    <!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/b2bUpdate//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
    <div class="b_banner" data-init="b2b">
        <div class="b_btn">
            <a href="javascript:;" >定制企业服务</a>
        </div>
    </div>
    <div class="b_part1">
        <div class="b_part1In">
            <h3>面向企业学校及政府机构</h3>
            <h3>提供专业英语培训解决方案</h3>
            <ul class="b_solution">
                <li>
                    <i class="i1"></i>
                    <h4>企业合作</h4>
                    <p>为企业切实可用英语解决方案，让员<br />
                        工享受私人外教一对一课程，激发员<br />
                        工学习与发展的内因。
                    </p>
                </li>
                 <li>
                    <i class="i2"></i>
                    <h4>政府合作</h4>
                    <p>为政府机构取得“一带一路”大<br />
                        政策下，更强有力的国际交流<br />
                        保障。
                    </p>
                </li>
                 <li>
                    <i class="i3"></i>
                    <h4>学校合作</h4>
                    <p>为学校打造完善的英语在线学习<br />
                        体系，让学生听说读写会考试。<br />
                    </p>
                </li>
                 <li>
                    <i class="i4"></i>
                    <h4>代理机构</h4>
                    <p>丰富机构线上教学内容，<br />
                        增强市场竞争力，合作共赢。<br />
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="b_part2">
        <h3>基于互联网的英语学习</h3>
        <ul class="b_point">
            <li>
                <i class="i1"></i>
                <h4>4000多名外教任您选</h4>
                <p>全英文外教授课，提供沉浸式的学习<br />
                    环境，更快建立英文思维，培养用英<br />
                    文沟通交流的自信</p> 
            </li>
            <li>
                <i class="i2"></i>
                <h4>25分钟的高频学习</h4>
                <p>每节课25分钟，随时随地把您的碎片<br />
                    时间利用起来。高频练习，容易坚持<br />
                    —当然更见效果！
                </p> 
            </li>
            <li>
                <i class="i3"></i>
                <h4>前所未有的强互动学习</h4>
                <p>告别懒散无用的大班，外教将以100%<br />
                    的专注力与您互动练习，确保您有超过<br />
                    50%的开口时间，快速建立英语语感。
                </p> 
            </li>
        </ul>
    </div>
    <div class="b_part3">
        <div class="b_part3In">
            <h3>定制化英语课程</h3>
            <ul class="b_course">
                <li>
                    <i></i>
                    <h4>1. 班课业务</h4>
                    <p>
                        纯线上课程，学生不受天气地点限制；<br />
                        课程结束后可听录音，会看课程录像，<br />
                        避免传统的一次性教学弊端。
                    </p>
                </li>
                <li class="b_center">
                    <i class="i2"></i>
                    <h4>2. 定制化课程</h4>
                    <p>
                        针对行业的纵向深度学习，<br />
                        快速有效提升国际化业务能力
                    </p>
                </li>
                <li>
                    <i class="i3"></i>
                    <h4>3. 一体化服务</h4>
                    <p>
                        完善的学、练、测、辅体系，<br />
                        巩固强化学习内容。
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="b_part4">
        <h3>成功案例</h3>
        <ul class="b_case">
            <li>
                <dl>
                    <dt>
                        <i class="i1"></i>
                    </dt>
                    <dd>
                        <p>每天25分钟私人空间，释放<br />自我</p>
                        <span>外企白领，51talk帮助她走遍全球</span><br />
                        <em>—— Lucy 徐璐</em>
                    </dd>
                </dl>
            </li>
             <li class="fr">
                <dl>
                    <dt>
                        <i class="i2"></i>
                    </dt>
                    <dd>
                        <p>学了10年英语的40岁和不学<br />
                            英语的40岁一定是有区别的
                        </p>
                        <span>外企中层管理人员，在51Talk坚持上课<br />500多天不间断。</span><br />
                        <em>—— Eddie 田育颖</em>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="b_case">
            <li>
                <dl>
                    <dt>
                        <i class="i3"></i>
                    </dt>
                    <dd>
                        <p>不是看到希望才坚持，而是<br />
                            坚持了才会看到希望！
                        </p>
                        <span>IT公司经理，51Talk随时随地学，轻松<br />应对国际项目。</span><br />
                        <em>—— Gary 张诚斌</em>
                    </dd>
                </dl>
            </li>
             <li class="fr">
                <dl>
                    <dt>
                        <i class="i4"></i>
                    </dt>
                    <dd>
                        <p>找到那种张嘴说的自信表达<br />清楚，让对方明白，沟通嘛</p>
                        <span>IKEA管理人员，夫妻一起学英语，对<br />孩子也是最好的榜样。</span><br />
                        <em>—— Judy 毛春玲</em>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="b_part5">
        <div class="b_part5In">
            <h3>合作企业</h3>
        </div>
    </div>
    <div class="b_part6">
        <h3>定制企业服务</h3>
        <h4>了解更多企业英语培训方案，获得免费体验课程</h4>
        <ul class="b_lina">
            <li>
                <img src="/images/html/b2bUpdate/b_lina.png" alt="">
            </li>
            <li class="fr">
                <form id="RegForm1">
                    <input type="text" placeholder ="公司名称" name="company" /><br />
                    <input type="text" placeholder ="联系电话" name="phone" /><br />
                    <input type="text" placeholder ="联系人" name="username" />
                    <a href="javascript:;" class="b_getFree">领取免费课程</a>
                </form>
            </li>
        </ul>
    </div>
    <div class="b_bottom">
        <p>企业级解决方案：4000-51-51-51</p>
    </div>





<script src="/js/html/project/b2bUpdate/vendor.js"></script>
</body>
</html>