<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_20170118/reg_20170118.css">		
</head>
<body>
	<header>
		<img src="/images/wap/reg_20170118/logo.png">
	</header>
	<section class="ac_c_class">
		<h3 class="ac_c_tit">完成预约</h3>
		<p class="ac_c_text">体验课将采用51Talk专用上课软件(AC)上课,请
到51Talk官网下载并安装</p>
		<ul>
			<li><span class="ac_c_icon"></span>半小时内下载并登录AC,将获得<span class="ac_c_c">立减100元</span>优惠</li>
			<li><span class="ac_c_icon"></span>与外教老师视频 ,语音畅快交流</li>
			<li><span class="ac_c_icon"></span>自动中英双语翻译 ,交流零障碍</li>
			<li><span class="ac_c_icon"></span>可视化教材, 精彩呈现英语学习内容</li>
			<li><span class="ac_c_icon"></span>外教讲解板书清晰可见, 理解反馈更直观及时</li>
		</ul>
		<a href="javascript:;" class="ac_c_s">完成预约</a>
	</section>
	<footer>
	    <aside class="second">
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_20170118/vendor.js" id="seajsnode"></script>
</html>