<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_20170118/reg_20170118.css">		
</head>
<body>
	<header>
    <img src="/images/wap/reg_20170118/logo.png">
    <a class="rt"></a>
</header>
	<!-- 2016.3.15add -->
	<section class="add-Ntit">
		<img src="/images/wap/reg_20170118/reg_img.png" class="reg_img">
		<p>我们专门为您安排了一名北美外教老师,老师具有丰富的少儿英语教学经验。小朋友准备好了么？外教老师在等着你哦。</p>	
	</section>
	<section class="com" data-init="reg" id="container">
	    <p class="nav" style="display:none;">恭喜您成功预约外教体验课！</p>
	    <ul>
	        <li>
	            <span>上课时间</span>
	            <span>2015-5-16 12:23:00</span>
	        </li>
	        <li>
	            <span>课程名称</span>
	            <span>英语应用动态测评系统英语应用动态测评系统</span>
	        </li>
	        <li>
	            <span>上课工具</span>
	            <span>51Talk专用上课软件AC<a href="#" class="ac-login">(登录<em>51talk.com</em>下载安装)</a></span>
	        </li>
	    </ul>
	    <p class="ac-nr">温馨提示: 您所选择的上课工具为51Talk专业上课软件AC ,为保证您能顺畅完成,请通过电脑在51Talk.com下载安装，或通过已预约课程中的<a href="#">修改课程</a>来更换上课方式(qq或skype)。
			</p>
	    <aside class="center">
	    		<h3 class="ach3">如何上课及上课常见问题<a href="#"><img src="/images/wap/reg_20170118/rg_img02.png"></a></h3>
	        <dl>
	            <dd>
	                <i>1/3</i>
	                <b>打开电脑登录 www.51talk.com进入会员中，查看我已预约课程</b>
	                <img src="/images/wap/reg_20170118/acsuc_img01.png">
	            </dd>
	            <dd>
	                <i>2/3</i>
	                <b>51Talk专用上课软件（AC）请在会员中心上课百宝箱中下载安装,并提前10分钟登录等待老师上课。</b>
	                <img src="/images/wap/reg_20170118/acsuc_img02.png">
	            </dd>
	            <dd>
	                <i>3/3</i>
	                <b>请准备一副耳机和麦克，并保持手机通畅以接收上课提醒通知。</b>
	                <img src="/images/wap/reg_20170118/acsuc_img03.png">
	            </dd>
	        </dl>
	    </aside>
	    <aside class="wt">
	        <p>常见问题</p>
	        <p>Q: 我已经成功预约了，通过什么方式上课？</p>
	        <p>A: 体验课上课方式 : 51Talk专业上课软件(AC电脑版)请提前在会员中心的上课百宝箱中下载安装。</p>
	        <p>Q: 上课前需要准备什么？</p>
	        <p>A: 一台电脑＋一个头戴式耳麦</p>
	        <p>Q: 上完课后，何时能看到我的评测结果</p>
	        <p>A: 外教老师会在课后第一时间为您生成专属的测评报告，届时，您直接登录51Talk会员中心即可查看。</p>
	    </aside>
	    <aside><a href="#" class="btn">查看已预约课程</a></aside>
	</section>
	<!-- 弹层 -->
	<section class="ac-com" style="display:none;">
	  <article class="ac-tc">
	  	<aside class="ac-h3">温馨提示</aside>
	  	<aside class="tc-nr">
	  		<p>亲爱的学员,本节体验课通过51Talk专用上课软件(AC)进行,为保证您能顺畅完成，请通过电脑在51talk.com下载</p>
	  		<a href="#" class="btn" id="ac-btn">我知道了</a>
	  	</aside>
	  </article>
  </section>
  <!-- 弹层结束 -->
	<footer>
	    <aside class="second">   
	        <a href="javascript:;" class="secondLink" data-type="1" data-url="http://a.app.qq.com/o/simple.jsp?pkgname=com.talk51.dasheng"><img src="/images/wap/reg_20170118/base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_20170118/vendor.js" id="seajsnode"></script>
</html>