<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_20170118/reg_20170118.css">		
</head>
<body>
	<header>
		<img src="/images/wap/reg_20170118/logo.png">
	    <a href="register.html" class="log_reg">注册</a>
	</header>
	<span class="hd_word"><a href="#" class="lt"><img src="/images/wap/reg_20170118/nav_lt.png"></a>体验课必备句型</span>
	<section class="reg">
	    <span class="experi">
	    1.Greeting 问候<br>
	    I am good / great ! How about you ?<br>
	    我挺好／很好，你怎样？<br>
	    <p>2.Weather 天气</p>
	    It’s + adjective (e.g.hot / cold).<br>
	    It’s＋形容词（例如：热／冷）.<br>
	    <p>3.Hometown 家乡</p>
	    I am from + city (e.g.Beijing or Shanghai).<br>
	    我来自＋城市（例如：北京或上海）。<br>
	    <p>4.Family 家庭</p>
	    There are 3 people in my family.My dad,mom and I.<br>
	    我家有三口人，父亲，母亲和我。<br>
	    <p>5.Hobbies 爱好</p>
	    I like watching TV.<br>
	    我喜欢看电视。<br>
	    <p>6.Job 工作</p>
	    I am a + job(e.g.teacher).I used to be a + job<br>
	    (teacher).
	    </span>    
	</section>
	<footer style="display:none;">
	    <aside class="second">   
	        <a href="#"><img src="/images/wap/reg_20170118/base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_20170118/vendor.js" id="seajsnode"></script>
</html>