<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/reg_20170118/reg_20170118.css">		
</head>
<body>
	<header>
    <img src="/images/wap/reg_20170118/logo.png">
    <a class="rt"></a>
</header>

	<section class="reg password" data-init="reg" id="container">
		<form action="doGetPass" method="post" id="regForm">
			<h3><a>验证码错误</a><a class="a1">验证码正确</a></h3>
		    <div>
		        <p>手机号：</p>
		        <hgroup>
		            <input name="mobile" type="text" placeholder="请输入手机号" class="mobile">
		        </hgroup>
		        <p>图片验证码：</p>
		        <hgroup class="frist">
			        	<div class="rt" style="width:45%"><input name="code" type="text" placeholder="请输入图片验证码" id="checked_imgcode" class="cd_code" value=""></div>
								<div class="rt" style="width:55%">
									<img style="margin-left:10px; border: 1px solid #d0d0d0;float:left;cursor: pointer;" id="verifycode" src="http://www.51talk.com/user/verify.php" height="35" width="80" onclick="this.src='http://www.51talk.com/user/verify.php'+'?a'+'='+new Date().getTime()" alt="单击更换验证码" title="单击更换验证码">
									<a href="javascrpit:;" class="rtChange">点击换一张</a>
								</div>
		        </hgroup>
		        <p>验证码：</p>
		        <hgroup style="border:none;">
		            <div class="rt"><input name="checked_code" type="text" placeholder="请输入验证码" id="checked_code" class="cd_code nouse"></div>
		            <div class="rt">
		            	<span class="y_code forget_password y_code_down" id="getCode">60秒后可重新获取</span>
		            </div>
		        </hgroup>
		        <br>
		        <p>新密码：</p>
		        <hgroup>
		            <input name="n_pwd" type="password" placeholder="请输入新密码" class="mobile">
		        </hgroup>
		    </div>
		</form>
	    <aside><a name="login" href="#" class="btn">确定</a></aside>
	</section>
	<footer>
    <aside class="second">
        <p><span>客服热线：</span>4000-51-51-51</p>
    </aside>
</footer>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/reg_20170118/vendor.js" id="seajsnode"></script>
</html>