<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<title>绑定</title>
	<script src="../../../js/wap/project/reg_20170118/jquery.js"></script>
	<script src="../../../js/wap/project/reg_20170118/rsa.js"></script>
	<script src="../../../js/wap/project/reg_20170118/sso.login.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/wap/reg_20170118/reg_20170118.css">
</head>

<body style="background:#edaf00;">
	<header>
		<img src="/images/wap/reg_20170118/logo.png">
	    <a href="register.html" class="log_reg">注册</a>
	</header>
	<!--<section class="login" data-init="reg" id="container">-->
		<!--<form action="doLogin" method="post" id="regForm">-->
		    <!--<p><input type="text" placeholder="手机号/邮箱" name='user_name' id="user_name"></p>-->
		    <!--<p><input type="password" placeholder="请输入密码" name='password' class="password" id="password"></p>-->
		    <!--<aside><a href="javascript:;" class="btn" name="register">绑&nbsp;定</a></aside>-->
		    <!--&lt;!&ndash;<b><a href="#" >忘记密码</a></b> &ndash;&gt;-->
		<!--</form>-->
	<!--</section>-->

	<section class="login" data-init="reg" id="container">
		<form method="post" id="LoginForm" >
			<!--<form method="post" id="LoginForm" action="/WeChat/doBind">-->
			<!--<input type="hidden" id="verify_user_url" value="/aaaa" />-->
			<input type="hidden" name="open_id" value="" />
			<p><input type="text" placeholder="手机号/邮箱" name='user_name' id="username"></p>
			<p><input type="password" placeholder="请输入密码" name='password' id="password" class="password"></p>
			<aside>
				<a href="javascript:;" class="btn" id="login_submit">绑&nbsp;定</a>
			</aside>
			<!-- <b><a href="http://wap.51talk.com/index/getPass" >忘记密码</a></b> -->
		</form>
	</section>

	<footer>
    <aside class="second">
        <p><span>客服热线：</span>4000-51-51-51</p>
    </aside>
</footer>
</body>



</html>