<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/promotion/promotion.css">
</head>
<body data-init="promotion" class="promotion">
  <div class="pt_banner">
    <div class="pt_bannerIn">
      <div class="pt_logo"><a href="javascript:;"></a></div>
      <div class="pt_phone"><a href="javascript:;"></a></div>
      <div class="pt_btn"><a href="javascript:;" class="form_btn"></a></div>
    </div>
  </div>
  <ul class="pt_feature">
    <li>
      <div class="pt_ft_top">
        <i class="pt_ft1"></i>
      </div>
     <div class="pt_ft_bot">
        <p>纯外教</p>
     </div>
    </li>
   <li>
      <div class="pt_ft_top">
        <i class="pt_ft2"></i>
      </div>
     <div class="pt_ft_bot">
        <p>短时高频</p>
     </div>
    </li>
    <li>
      <div class="pt_ft_top">
        <i class="pt_ft3"></i>
      </div>
     <div class="pt_ft_bot">
        <p>1对1授课</p>
     </div>
    </li>
    <li>
      <div class="pt_ft_top">
        <i class="pt_ft4"></i>
      </div>
     <div class="pt_ft_bot">
        <p>性价比高</p>
     </div>
    </li>
  </ul>
  <div class="pt_nav">
    <ul class="pt_navIn">
        <li  class="display0"><a href="##" class="display0"></a></li>
        <li><a href="#pt_kids" class="jsTab pt_active">少儿英语</a></li>
        <li><a href="#pt_box" class="jsTab pt_junior_btn">青少英语</a></li>
        <li><a href="#pt_adult" class="jsTab">成人英语</a></li>
        <li><a href="#pt_base" class="jsTab">零基础</a></li>
        <li><a href="#pt_profession" class="jsTab">专业课</a></li>
        <li><a href="#pt_openclass" class="jsTab">公开课</a></li>
    </ul>
  </div>
  <div class="pt_no" style="display:none"> </div>
  <div class="pt_part"></div>
  <div class="pt_kids pt_part">
    <div class="pt_roll" id="pt_kids"></div>
    <div class="pt_kidsIn">
      <div class="pt_kids_tit"></div>
      <div class="pt_kids_points">
        <div class="pt_kids_mol pt_kids_points_left">
            <div class="pt_kids_mol_top">
              <i></i>
              <p class="p1">北美小学老师</p>
              <p class="p2">所有外教来自美国、加拿大</p>
              <p class="p2 p3">90%名校毕业。</p>
            </div>
        </div>
         <div class="pt_kids_mol pt_kids_points_ceter">
            <div class="pt_kids_mol_top">
              <i></i>
              <p class="p1">丰富的教学经验</p>
              <p class="p2">所有外教拥有儿童ESL教学经验</p>
              <p class="p2 p3">70%以上是北美小学老师。</p>
            </div>
        </div>
         <div class="pt_kids_mol pt_kids_points_right">
            <div class="pt_kids_mol_top">
              <i></i>
              <p class="p1">1对1授课</p>
              <p class="p2">每个孩子将会成为课堂上的主角</p>
              <p class="p2 p3">让孩子成为外教的朋友</p>
            </div>
        </div>
      </div>
      <div class="pt_kids_bottom">
          <div class="pt_kids_bottom_left"></div>
          <div class="pt_kids_bottom_right">
            <p class="p1">同步美国小学CCSS课程标准</p>
            <p class="p2">为中国3-8岁儿童打造专属课程</p>
            <div class="pt_kids_th"></div>
            <a class="kids_btn form_btn" href="javascript:;">马上免费体验</a>
          </div>
      </div>
    </div>
  </div>
 
  <div class="pt_junior pt_junior_con pt_part"  >
<!--     <a href="" name="pt_junior"></a> -->
 
    <div class="pt_box_con" id="pt_box"></div>
    <div class="pt_junior_tit" >  
      <img src="../../../images/html/promotion/pt_junior_tit.png">
    </div>
    <div class="pt_junior_top"></div>
    <div class="pt_junior_bot">
      <a href="javascript:;" class="form_btn">马上免费体验</a>
    </div>
  </div>
  <div class="pt_adult pt_part">
    <div class="pt_roll"  id="pt_adult"></div>
    <div class="pt_audltIn">
      <div class="pt_adult_tit"></div>
      <p class="p1">51Talk独有16级英语考评体系，为每一名学员提供针对性的定制化教学。</p>
      <p class="p2">丰富多元的课程内容，系统化提升综合能力</p>
      <div class="pt_adults"></div>
      <a href="javascript:;" class="form_btn">马上免费体验</a>
    </div>
  </div>
  <div class="pt_base pt_part">
    <div class="pt_roll" id="pt_base"></div>
     <div class="pt_base_tit"></div>
     <div class="pt_base_main"></div>
     <a href="javascript:;" class="form_btn">马上免费体验</a>
  </div>
  <div class="pt_profession pt_part">
      <div class="pt_roll" id="pt_profession"></div>
      <div class="pt_professionIn">
          <div class="pt_profession_tit"></div>
          <ul class="pt_profession_main">
            <li>
              <i></i>
              <p>商务英语</p>
            </li>
             <li>
              <i class="i2"></i>
              <p>面试英语</p>
            </li>
             <li>
              <i class="i3"></i>
              <p>自然拼读</p>
            </li>
            <li>
              <i class="i4"></i>
              <p>生活口语</p>
            </li>
             <li>
              <i class="i5"></i>
              <p>绘本阅读</p>
            </li>
             <li>
              <i class="i6"></i>
              <p>旅游英语</p>
            </li>
            <li>
              <i class="i7"></i>
              <p>雅思英语</p>
            </li>
             <li class="margin0">
              <i class="i8"></i>
              <p>托福英语</p>
            </li>
          </ul>
          <div class="pt_profession_point">
            多元化课程内容，满足学员个性需求
          </div>
          <div class="pt_pro_girl"></div>
          <div class="pt_pro_txt">
            <P><span>托福雅思精品班课 —— </span>原新东方名师大咖，零距离接触提分快</P>
            <p><span>外教一对一授课 —— </span>涵盖成人，青少，口语、文化全面学习</p>
            <p><span>趣味教材 —— </span>中教外教共同研发，话题生动，告别枯燥学习</p>
            <a href="javascript:;" class="form_btn">了解更多课程</a> 
          </div>   
      </div>
  </div> 
  <div class="pt_openclass pt_part" >
    <div class="pt_roll" id="pt_openclass"></div>
    <a href="javascript:;" class="form_btn"></a>
    <div class="pt_openclass_tit"></div>
  </div>
  <div class="pt_star">
    <div class="pt_lina"></div>
    <div class="pt_starMan"></div>
  </div>
  <div class="pt_footer">
    <div class="pt_footerIn">
      <form id="t-regForm" action="" method="post">
        <div class="pt_form">
          <input type="text" placeholder="请输入您的邮箱" class="pt_input jsCheck" name="user_name" />
          <input type="text" placeholder="请输入您的手机号" class="pt_input jsCheck" name="mobile" />
          <input type="password" placeholder="请设置您的密码" class="pt_input jsCheck" name="password" />
          <a href="javascript:;" class="pt_btn jsSubmit">马上注册，体验免费外教课</a>
        </div>
    </form>
    <P>Copyright©北京大生知行科技有限公司  |   隐私声明  |   用户协议  |   京ICP证110696号 京ICP备11031999号</P>
    </div>
  </div>
  <!-- mask -->
  <div class="mask hide" id="mask"></div>
  <div class="openWidnow  hide" id="openWidnow">
    <div class="window-title">注册立即获赠价值188元的外教1对1体验课一次，<br/> 并免费开通每月上百节的公开课体验资格!
    </div>
    <form action="../user/do_register.php" method="POST" id="RegForm1">
        <div class="window-form">
          <ul class="window-input">
              <li><label for="user_name3"> <input name="user_name" id="user_name3" type="text" placeholder="请输入您的邮箱" class="jsCheck"></label></li>
              <li><label for="mobile3"> <input name="mobile" id="mobile3" type="text" placeholder="请输入您的手机号" class="jsCheck"></label></li>
              <li><label for="password3"> <input name="password" id="password3" type="password" placeholder="请设置您的密码" class="jsCheck"></label></li>
          </ul>
        </div>
        <div class="orderBtn2" id="orderBtn2">
          <a href="javascript:;"><input id="submit1" type="button" val="1" value="马上免费体验" class="jsSubmit" /></a>
          <p class="exprienceDesc">体验后，您将获得量身定制的专业测评报告。</p>
        </div>
    </form> 
  </div> 
  
<script src="/js/html/project/promotion/vendor.js"></script>
</body>
</html>
