@import "../common/reset.less";
@imgPath: "../../../images/wap/teachersDay/";
body,html{
	width: 18.75rem;
	overflow: hidden;
}
.wrap-box{
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: -moz-linear-gradient( top,#0b0122,#170235);
	background: -webkit-linear-gradient( top,#0b0122,#170235);
	z-index: 1;
    perspective: 500px;
	.star {
	    display: block;
	    width: 5px;
	    height: 5px;
	    border-radius: 50%;
	    background: #3b169f;
	    top: 100px;
	    left: 400px;
	    position: relative;
	    transform-origin: 100% 0;
	    animation: star-ani 6s infinite ease-out;
	    box-shadow: 0 0 5px 5px rgba(59, 22, 159, .3);
	    opacity: 0;
	    z-index: 2;
	}
	.star:after {
	    content: '';
	    display: block;
	    top: 0px;
	    left: 4px;
	    border: 0px solid #3b169f;
	    border-width: 0px 90px 2px 90px;
	    border-color: transparent transparent transparent rgba(59, 22, 159, .3);
	    transform: rotate(-45deg) translate3d(1px, 3px, 0);
	    box-shadow: 0 0 1px 0 rgba(59, 22, 159, .1);
	    transform-origin: 0% 100%;
	    animation: shooting-ani 3s infinite ease-out;
	}
	.star:nth-child(1){
		top: 10px;
	    left: 200px;
	    background: #3b169f;
	    animation-delay: 3s;
	    -webkit-animation-delay: 3s;
	    -moz-animation-delay:3s;

	}
	.star:nth-child(1):after{
		border-color: transparent transparent transparent #3b169f;
		animation-delay: 3s;
		-webkit-animation-delay: 3s;
		-moz-animation-delay: 3s;
	}
	.star:nth-child(2){
		top: 20px;
	    left: 300px;
	    background: #3b169f;
	    animation-delay: 5s;
	    -webkit-animation-delay: 5s;
	    -moz-animation-delay: 3s;

	}
	.star:nth-child(2):after{
		border-color: transparent transparent transparent #3b169f;
		animation-delay: 5s;
		-webkit-animation-delay: 5s;
		-moz-animation-delay: 5s;
	}

	.star:nth-child(3){
		top: 35px;
	    left: 390px;
	    background: #3b169f;
	    animation-delay: 7s;
	    -webkit-animation-delay: 7s;
	    -moz-animation-delay: 7s;

	}
	.star:nth-child(3):after{
		border-color: transparent transparent transparent #3b169f;
	    -webkit-animation-delay: 7s;
	    -moz-animation-delay: 7s;
	    animation-delay: 7s;
	
	}
	.star:nth-child(4){
		top: 50px;
   		left: 480px;
	    background: #3b169f;
	    animation-delay: 9s;
	}

	.star:nth-child(4):after{
		    border-color: transparent transparent transparent #3b169f;
   			animation-delay: 9s;
	}

	.star:nth-child(5){
		top: 70px;
   		left: 600px;
	    background: #3b169f;
	    animation-delay: 11s;
	}

	.star:nth-child(5):after{
		border-color: transparent transparent transparent #3b169f;
   		animation-delay: 11s;
	}

	.star:nth-child(6){
		top: 60px;
   		left: 100px;
	    background: #3b169f;
	    animation-delay: 2s;
	}

	.star:nth-child(6):after{
		border-color: transparent transparent transparent #3b169f;
   		animation-delay: 2s;
	}

	.star:nth-child(7){
		top: 10px;
   		left: 200px;
	    background: #3b169f;
	    animation-delay: 1s;
	}

	.star:nth-child(7):after{
		border-color: transparent transparent transparent #3b169f;
   		animation-delay: 1s;
	}

	.star:nth-child(8){
		top: 35px;
   		left: 400px;
	    background: #3b169f;
	    animation-delay:4s;
	}

	.star:nth-child(8):after{
		border-color: transparent transparent transparent #3b169f;
   		animation-delay: 4s;
	}

	.star:nth-child(9){
		top:55px;
   		left: 100px;
	    background: #3b169f;
	    animation-delay: 8s;
	}

	.star:nth-child(9):after{
		border-color: transparent transparent transparent #3b169f;
   		animation-delay: 8s;
	}

	@keyframes star-ani {
	    0% {
	        opacity: 0;
	        transform: scale(0) rotate(0) translate3d(0, 0, 0);
	        -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
	        -moz-transform: scale(0) rotate(0) translate3d(0, 0, 0);
	    }
	    50% {
	        opacity: 1;
	        transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
	        -webkit-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
	        -moz-transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
	    }
	    100% {
	        opacity: 0;
	        transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
	        -webkit-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
	        -moz-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
	    }
	}

	.stars2 {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 5px;
	  height: 5px;
	  border-radius: 100%;
	 box-shadow: -464px -134px #1e0252, 623px 477px #1e0252, -150px -237px #1e0252, 428px 195px #1e0252, -390px 433px #1e0252, -619px -419px #1e0252, -428px -291px #1e0252, 104px -152px #1e0252, 678px 362px #1e0252, -383px -9px #1e0252, -20px 426px #1e0252, 183px -418px #1e0252, 251px 4px #1e0252, 70px 11px #1e0252, 369px 236px #1e0252, -683px -50px #1e0252, 554px -121px #1e0252, -128px -258px #1e0252, 253px 13px #1e0252, -130px 242px #1e0252, -214px 184px #1e0252, -419px 413px #1e0252, 571px -239px #1e0252, 616px -150px #1e0252, -591px -224px #1e0252, -158px -81px #1e0252, -332px 358px red, -664px -209px #1e0252, 720px -31px #1e0252, 535px -391px #1e0252, 556px -116px #1e0252, 231px -262px #1e0252, 530px 322px #1e0252, -251px -119px #1e0252, 95px 289px #1e0252, 351px -108px #1e0252, 302px -441px #1e0252, 750px 215px #1e0252, 644px -353px #1e0252, 370px 243px #1e0252, -554px 230px #1e0252, 1px 20px #1e0252, 721px 404px #1e0252, -621px 414px #1e0252, 450px -476px #1e0252, 588px -295px #1e0252, 229px -430px #1e0252, 35px 325px #1e0252, -655px -229px #1e0252, -29px -437px #1e0252, 555px 171px #1e0252, 572px -162px #1e0252, 322px -169px #1e0252, -674px 346px #1e0252, -322px -89px #1e0252, -460px -146px #1e0252, -105px -307px #1e0252, -159px 200px #1e0252, 193px 263px #1e0252, -174px -74px #1e0252, 566px -291px #1e0252, -6px -293px #1e0252, 568px -328px #1e0252, -21px -10px #1e0252, 404px -168px #1e0252, -193px 122px #1e0252, 568px 372px #1e0252, -14px -386px #1e0252, -504px -184px #1e0252, 374px -109px #1e0252, 319px 394px #1e0252, 81px -109px #1e0252, 191px -167px #1e0252, 477px -2px #1e0252, 122px -215px #1e0252, -251px 274px #1e0252, 414px -126px #1e0252, 36px -163px #1e0252, 564px -328px #1e0252, 202px 259px #1e0252, -138px -321px #1e0252, 18px -81px #1e0252, -294px 136px #1e0252, -715px -55px #1e0252, 431px -55px #1e0252, -28px 157px #1e0252, 106px 25px #1e0252, 298px -83px #1e0252, 20px -75px #1e0252, 106px 295px #1e0252, 334px -266px #1e0252, -419px -27px #1e0252, 582px -77px #1e0252, -31px -401px #1e0252, -400px 347px #1e0252, -522px 402px #1e0252, 199px 414px #1e0252, 96px -298px #1e0252, -86px 5px #1e0252, -597px 82px #1e0252, 292px -122px #1e0252;
	  animation: fly 1s linear infinite;
	  transform-style: preserve-3d;
	}
	.stars2:before, .stars2:after {
	  content: "";
	  position: absolute;
	  width: inherit;
	  height: inherit;
	  box-shadow: inherit;
	}
	.stars2:before {
	  transform: translateZ(-300px);
	  opacity: .3;
	}
	.stars2:after {
	  transform: translateZ(-600px);
	  opacity: .1;
	}

	.stars3 {
	 
	   animation-delay:.5s;

	  transform: rotate(-45deg);
	  transform-origin: 0% 100%;
	}
	

	@keyframes fly {
	  from {
	    transform: translateZ(0px);
	    opacity: .1;
	  }
	  to {
	    transform: translateZ(300px);
	    opacity:1;
	  }
	}


}
.wrapper{
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.stag{
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
.stag.animate {
	-webkit-transition: -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
}
.stag.active {
	display: block;
}
.step1{
	.wave-btn{
		
		width: 16.5rem;
		height: 16.5rem;
		overflow: hidden;
		position: absolute;
		left: 50%;
		transform:translate(-50%,0);
		bottom: 3rem;

	}
	
	.wave-btn ul li{

		position:absolute;

	}
	.wave-btn ul li:nth-child(1){
		width: 100%;
		height: 100%;
		background: url('@{imgPath}circle.png') no-repeat;
		background-size:16.5rem 16.5rem;
		left: 0;
		top: 0;
	    -webkit-animation: stage3_data_ani 2s linear 4s forwards infinite;
		z-index: 1;

	}

	.wave-btn ul li:nth-child(2){
		width: 7.5rem;
		height: 7.5rem;
		border-radius: 50%;
		background: -moz-linear-gradient( left top,#f99c0b,#500f85);
		background: -webkit-linear-gradient( left top,#f99c0b,#500f85);
		left: 50%;
		top: 50%;
		transform:translate(-50%,-50%);
		text-align: center;
		vertical-align: middle;
	    font-size: 1rem;
	    line-height: 1.21rem;
	    color: #fff;
		z-index: 1;
		display:-webkit-box; 
		-webkit-box-orient:horizontal; 
		-webkit-box-pack:center; 
		-webkit-box-align:center; 
		display:-moz-box; 
		-moz-box-orient:horizontal; 
		-moz-box-pack:center; 
		-moz-box-align:center; 
		display:-o-box; 
		-o-box-orient:horizontal; 
		-o-box-pack:center; 
		-o-box-align:center; 
		display:-ms-box; 
		-ms-box-orient:horizontal; 
		-ms-box-pack:center; 
		-ms-box-align:center; 
		box-orient:horizontal; 
		box-pack:center; 
		box-align:center; 
		box-shadow: 0 0 13px 3px rgba(59, 22, 159, .3);
	}
	.text1{
		width: 13.125rem;
		height: 7.75rem;
		margin-left: 1.875rem;
		margin-top: 1.275rem;
		background: url('@{imgPath}t1.png') no-repeat;
		background-size:100%;
	}

	@media screen  and (max-width:321px) {
		.wave-btn{
				width: 12.25rem;
				height: 12.25rem;
				bottom: 2rem;
			}
		.wave-btn ul li:nth-child(1){
			background-size:12.25rem;
		}	
	}

	@-webkit-keyframes stage3_data_ani {
		0% {
			-webkit-transform: scale(0);
			
		}
		60% {
			-webkit-transform: scale(0.5);
			
		}
		90% {
			-webkit-transform: scale(1);
		}
		100% {
			-webkit-transform: scale(1);
		}
	}
}

.step2{
	.content{
		height: 24.2rem;
		width:100%;
		background: url('@{imgPath}2.png') no-repeat;
		background-size: 18.75rem 24.2rem;
		margin-top: 2.5rem;
		position: relative;
		font-size: 0.6rem;
		color: #fff;
		.orange{
			color: #ffa801;
			font-size: 0.9rem;
		}
		.bft{
			font-size: 0.9rem;
		}
		.t1{

			width: 8.4rem;
			position: absolute;
			left: 9.6rem;
		}
		.t2{
			width: 12rem;
			height: 2.05rem;
			position: absolute;
			left: 4.5rem;
			top:9.175rem;
		}
		.t3{
			width: 7.75rem;
			height: 2.125rem;
			position: absolute;
			left: 9.9rem;
			top:16.5rem;
		}
		.t4{
			width: 10rem;
			height: 1.125rem;
			position: absolute;
			left: 4.625rem;
			top:22.5rem;
		}
	}

	@media screen  and (max-width:321px) {
		.content{
			height: 18.15rem;
			width:100%;
			background: url('@{imgPath}2.png') no-repeat;
			background-size: 14.0625rem 18.15rem;
			margin-top: 3rem;
			
			.t1{

				width: 8.4rem;
				position: absolute;
				left: 7.2rem;
			}
			.t2{
				left: 3.375rem;
				top:6.88rem;
			}
			.t3{
				left: 7.425rem;
				top:12.375rem;
			}
			.t4{
				left: 3.46875rem;
				top:16.875rem;
			}
		}
	}
}
.step3{
	.content{
		width:  18.75rem;
		height: 26.825rem;
		background: url('@{imgPath}3.png') no-repeat;
		background-size: 100%;
		margin-top: 1.5rem;
		position: relative;
		font-size: 0.6rem;
		color: #fff;
		.orange{
			color: #ffa801;
			font-size: 0.9rem;
		}
		.bft{
			font-size: 0.9rem;
		}
		.t1{
			width: 10.75rem;
			position: absolute;
			top:0.5rem;
			left: 7.575rem;
		}
		.t2{
			position: absolute;
			left: 5.4rem;
			top:5.75rem;
		}
		.t3{

			position: absolute;
			left: 6.2rem;
			top:14.1rem;
		}
		.t4{
			position: absolute;
			left: 8.625rem;
			top:23.5rem;
		}
		.pic{
			width: 3.125rem;
			height: 3.125rem;
			position: absolute;
			top: 4.675rem;
			left: 1.775rem;
			img{
				width: 3.125rem;
				height: auto;
				border-radius: 50%;
				-webkit-box-shadow:0 0 14px rgba(228,21,211,0.9);  
			  -moz-box-shadow:0 0 14px rgba(228,21,211,0.9);
			  box-shadow:0 0 14px rgba(228,21,211,0.9);  
			}
		}
	}

	@media screen  and (max-width:321px) {
		.content{
			width:  14.0625rem;
			height: 20.118rem;
			margin-top: 2.05rem;


			.t1{
				top:0.373rem;
				left: 5.68rem;
			}
			.t2{

				left: 5.05rem;
				top:4.3125rem;
			}
			.t3{

				position: absolute;
				left: 4.7rem;
				top:10.3rem;
			}
			.t4{
				position: absolute;
				left: 6.46rem;
				top:17.625rem;
			}
			.pic{
				width: 3.125rem;
				height: 3.125rem;
				position: absolute;
				top: 3.5rem;
				left: 1.33rem;
				img{
					width: 3.125rem;
					height: auto;
					border-radius: 50%;
					-webkit-box-shadow:0 0 14px rgba(228,21,211,0.9);  
				  -moz-box-shadow:0 0 14px rgba(228,21,211,0.9);
				  box-shadow:0 0 14px rgba(228,21,211,0.9);  
				}
			}
		}
	}

}
.step4{
	.content{
		width: 18.75rem;
		height: 23.85rem;
		background: url('@{imgPath}4.png') no-repeat;
		background-size: 100%;
		margin-top: 2.05rem;
		position: relative;
		font-size: 0.6rem;
		color: #fff;
		.orange{
			color: #ffa801;
			font-size: 0.9rem;
		}
		.bft{
			font-size: 0.9rem;
		}
		.t1{
		
			position: absolute;
			top:0.4rem;
			left: 4rem;
		}
		.t2{
			position: absolute;
			left: 2.75rem;
			top:7.075rem;
		}
		.t3{

			position: absolute;
			left: 5.7rem;
			top:20.5rem;
		}
	}

	@media screen  and (max-width:321px) {
	.content{
		width: 15rem;
		height: 19.08rem;
		
		.t1{
		
			position: absolute;
			top:0.32rem;
			left: 3.2rem;
		}
		.t2{
			position: absolute;
			left: 2.2rem;
			top:5.66rem;
		}
		.t3{

			position: absolute;
			left: 4.56rem;
			top:16.4rem;
		}
	}
	}

	
}
.step5{

	.t1{
		margin-top: 2.85rem;
		margin-left: 2.375rem;
		background: url('@{imgPath}t2.png') no-repeat;
		background-size: 100%;
		height: 9.425rem;
		width: 10.875rem;
	}

	.praise{
		width: 10.95rem;
		height: 2.475rem;
		background: url('@{imgPath}heart.png') no-repeat;
		background-size: 100%;
		line-height: 2.475rem;
		text-align: center;
		text-indent: 1rem;
		font-size: 0.9rem;
		color: #e28c00;
		position: absolute;
		top: 17.9rem;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.praise2{
		background: url('@{imgPath}heart2.png') no-repeat;
		background-size: 100%;
		
	}
	.open{
		width: 10.95rem;
		height: 2.475rem;
		background: url('@{imgPath}open.png') no-repeat;
		background-size: 100%;
		line-height: 2.475rem;
		text-align: center;
		font-size: 0.9rem;
		color: #fff;
		position: absolute;
		top:21.4rem;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.role{
		width: 10.95rem;
		text-align: center;
		position: absolute;
		color: #e28c00;
		font-size: 0.6rem;
		bottom: 2rem;
		text-decoration: underline;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.roleDialog{
		position: absolute;
		width: 11.2rem;
		height: 8.1rem;
		padding: 1.6rem;
		background: #170047;
		border-radius: 5px;
		color: #d68311;
		top: 6.3rem;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		visibility: hidden;
		.close{
			width: 0.5rem;
			height: 0.5rem;
			background: url('@{imgPath}close.png') no-repeat;
			background-size: 100%;
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
		}
		h3{
			font-size: 0.9rem;
			text-align: center;
		}
		p{
			font-size: 0.6rem;
			line-height: 1rem;
		}
	}

	@media screen  and (max-width:321px) {
		.praise{
			top: 14.32rem;
		}
		.open{
			top:17.4rem;
		}

	}

}
.toswitch {
	position: absolute;
	width: 0.7rem;
	height: 0.55rem;
	background: url('@{imgPath}slideDown.png') no-repeat;
	background-size: 100%;
	left: 50%;
	bottom: 0.75rem;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 99;
	animation: toswitchAni 1s ease-out 0s  infinite;
	-webkit-animation: toswitchAni 1s ease-out 0s  infinite;
}
@-webkit-keyframes toswitchAni {
	0% {
		transform: translate(-50%, -100%);
		-webkit-transform: translate(-50%, -100%);
		opacity: 0;
	}
	100% {
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		opacity: 1;
	}
}
.music{
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	
	right: 1rem;
	top: 1rem;
	z-index: 99;
}
.disable{
	background: url('@{imgPath}disable.png') no-repeat;
	background-size: 100%;
	/*animation-play-state:paused;
    -webkit-animation-play-state:paused; 
	animation: musicroate 4s ease-out  1;
	-webkit-animation: musicroate 4s ease-out  1;
	-moz-animation: musicroate 4s ease-out  1;    */
}
.playing{
	background: url('@{imgPath}music_bt.png') no-repeat;
	background-size: 100%;
	/*animation-play-state:running;
    -webkit-animation-play-state:running; 	
	animation: musicroate 4s ease-out  infinite;
	-webkit-animation: musicroate 4s ease-out  infinite;
	-moz-animation: musicroate 4s ease-out  infinite;*/
}

@-webkit-keyframes musicroate {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);

	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);

	}
}