@charset "utf-8";
@import "../common/uc_common.less";

.new_edm{
    margin:0px auto;
    padding:0;
    width: 900px;
    padding:50px;
    background:#f9f9f9;
    color:#000;
    h3{
        font-size: 16px;
        margin-bottom: 40px;
    }
    p{
        line-height: 25px;
    }
    a{
        display:inline-block;
        width: 120px;
        height: 34px;
        line-height: 34px;
        background: #fd8224;
        color: #fff;
        text-align:center;
        border-radius: 3px;
        margin:35px 20px 0 0;
    }
    .last-td{
        background: #ccc;
        color: #000;
    }
    b{
        float: left;
        width: 120px;
        margin-top:5px;
    }
    .sup_link{
        margin:0;
    }
}

