<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/learning20170303/learning20170303.css">
</head>
<body>
<!-- 顶部 -->
<div class="pri-header" >
  <!-- 顶部 -->
  <div class="header">
    <a href="javascript:;" class="hr-lt">
      <i></i>
      <b><span>美国纽交所上市公司（股票代码：COE）</span>全球信赖的在线英语领导品牌</b>
      <!-- 青少 -->
      <b class="qs-tit hide">外教1对1，在家学英语</b>
    </a>
    <div class="hr-rt">
      <div class="rt-top">
        <ul>
          <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
          <li><a href="http://www.baidu.com" id="login_url">登录</a></li>
          <li><a href="javascript:;">免费注册</a></li>
          <li><a href="javascript:;">企业培训</a></li>
          <li class="jsMore">
            <a href="javascript:;">微博</a>
            <!-- 微博弹层 -->
            <div class="weibo jsUl">
              <a href="javascript:;"></a>
            </div>
          </li>
          <li class="jsMore">
            <a href="javascript:;">微信</a>
            <!-- 微信弹层 -->
            <div class="weixin jsUl">
              <a href="javascript"><img src="/images/html/learning20170303//top_weixin.png" alt=""></a>
            </div>
          </li>
          <li></li>
        </ul>
      </div>
      <span><i></i>4000-51-51-51</span>
    </div>
  </div>
</div>
<!-- 内容 -->
<div class="container" data-init="index">
  <div class="part_01 part_01_junior">
  <!--   <img src="/images/html/learning20170303/t_banner.jpg" class="width100" /> -->
  </div>
  <div class="part_02">
   <!--  <img src="/images/html/learning20170303/part2_bg.jpg" class="width100" /> -->
    <div class="main">
      <img src="/images/html/learning20170303/part2_1.png" class="width100" />
      <img src="/images/html/learning20170303/part2_2.jpg" class="width100" />
      <img src="/images/html/learning20170303/part2_3.jpg" class="width100" />
    </div>
  </div>
  <div class="part_03">
    <div class="main">
      <div class="freeGet">
        <i class="blueline"></i>
        <i class="redline"></i>
        <div class="top">
          <img src="/images/html/learning20170303/p3_title1.png" class="width100" /> 
        </div>
        <div class="bot">
          <div class="list defaultSta">
            <div class="price">
              <i></i>
              <div class="pri">¥<span>500</span><em>奖学金</em></div>
              <div class="time">原价8000元以上课程使用<br />有效期：3月10日-19日</div>
            </div>
            <div class="btn">立<br />即<br />领 <br />取
              <i></i>
            </div>
          </div>
         <div class="list">
            <div class="price">
              <i></i>
              <div class="pri">¥<span>500</span><em>奖学金</em></div>
              <div class="time">原价8000元以上课程使用<br />有效期：3月10日-19日</div>
            </div>
            <div class="btn">已<br />领 <br />取
              <i></i>
            </div>
          </div>
          <div class="list">
            <div class="price">
              <i></i>
              <div class="pri">¥<span>500</span><em>奖学金</em></div>
              <div class="time">原价8000元以上课程使用<br />有效期：3月10日-19日</div>
            </div>
            <div class="btn">已<br />领 <br />取
              <i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="part_04">
      <div class="top">
        <img src="/images/html/learning20170303/p3_title2.png" class="width100" />
      </div>
      <div class="bot">
        <div class="list">
          <div  class="pic">
            <img src="/images/html/learning20170303/youth1.jpg" class="width100"/>
          </div>
          <div class="title"> 
            <h3>青少18单元套餐</h3>
            <span>￥6648</span>
           <!--  <a class="goBuy" href="javascript;;">一键抢购</a> -->
            <a href="javascript:;"  class="goBuy buy u-btn jsPre active" data-point="nor" data-id="9077" data-cart='{"id":9077,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" >一键抢购</a>
          </div>
        </div>
        <div class="list">
          <div  class="pic">
            <img src="/images/html/learning20170303/youth2.jpg" class="width100"/>
          </div>
          <div class="title"> 
            <h3>青少18单元套餐</h3>
            <span>￥6648</span>
            <!-- <a class="goBuy" href="javascript;;">一键抢购</a> -->
             <a href="javascript:;"  class="goBuy buy u-btn jsPre active" data-point="nor" data-id="90730" data-cart='{"id":9077,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" >一键抢购</a>
          </div>
        </div>
        <div class="list">
          <div  class="pic">
            <img src="/images/html/learning20170303/youth3.jpg" class="width100"/>
          </div>
          <div class="title"> 
            <h3>青少18单元套餐</h3>
            <span>￥6648</span>
            <a class="goBuy" href="javascript;;">一键抢购</a>
          </div>
        </div>
        <div class="list">
          <div  class="pic">
            <img src="/images/html/learning20170303/youth4.jpg" class="width100"/>
          </div>
          <div class="title"> 
            <h3>青少18单元套餐</h3>
            <span>￥6648</span>
            <a class="goBuy" href="javascript;;">一键抢购</a>
          </div>
        </div>
      </div>
      <div class="moreclass">
        <a href="javascript:;"><i></i>查看更多课程</a>
      </div>
    </div>
    <div class="part_05">
       <div class="top">
         <img src="/images/html/learning20170303/p3_title3.png" class="width100"/>
       </div>
       <div class="center">
         <img src="/images/html/learning20170303/inviteFri.png" class="width100"/>
       </div>
       <div class="bot">
         <div class="list">
            <img src="/images/html/learning20170303/prize_1.jpg" class="width100"/>
         </div>
         <div class="list">
            <img src="/images/html/learning20170303/prize_2.jpg" class="width100"/>
         </div>
         <div class="list">
            <img src="/images/html/learning20170303/prize_3.jpg" class="width100"/>
         </div>
         <div class="list">
            <img src="/images/html/learning20170303/prize_4.jpg" class="width100"/>
         </div>
       </div>
       <div class="moreclass">
          <a href="javascript:;"><i></i>查看更多课程</a>
       </div>
    </div>
    <div class="part_06">
       <div class="top">
         <img src="/images/html/learning20170303/p3_title4.png" class="width100"/>
       </div>
       <div class="bot">
         <div class="botIn">
                 <h3>亲爱的学员：</h3>
                 <p>感谢您加入到51Talk无忧英语大家庭中，我们的目标是将100%沉浸式的学习环境送
          到您家中！与您同行，是我们无上的幸福！ </p>
                 <p>我们重视每一位学员的体验，如果您在学习过程中，因各方面原因产生了不愉快的
          感受，请您及时提出宝贵意见，我们会积极处理！</p>
         </div>
       </div>
        <div class="moreclass">
          <a href="javascript:;"><i></i>查看更多课程</a>
       </div>
    </div>
  </div>
</div>
<!-- 购物车 -->
<!-- 购物车 -->
  <input type="hidden" id="cartType" value="cart">
  <input type="hidden" id="cartID" value="">
  <input type="hidden" id="actArr" value="">
  <input type="hidden" id="downMoney" value="0">
  <input type="hidden" id="showAgree" value="n">
  <form id="form-cart" name="point_form" action="/pay/order" method="post" target="_blank">
    <div class="m-cart" id="cart" style="right:-255px; " ><!-- right从 0 到 -251  -->
      <input type="hidden" name="cart" value='{"cart":[],"package":"off","earphone":"off"}'>
      <div class="cart-hd"><em class="jsCount">0</em></div>
      <div class="cart-bd"><!-- width从 0 到 251  -->
        <div class="cart-in">
          <div class="title">我的购物车（<em class="jsCount">0</em>）
            <div class="u-pages">
              <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
              <span class="crt"><em class="jsPageNow">1</em><em>/</em><em class="jsPageCount">1</em></span>
              <a class="next dis-next" href="javascript:void(0)">&gt;</a>
            </div>
          </div>
          <div class="products">
              <div class="jsWrap">
              </div>
          </div>
          <div class="addeds" style="visibility: hidden;">
              <dl class="product">
                  <a class="s-fc6" href="#level">立即购买配套教材，学习效果更佳！</a>
              </dl>
              <dl class="product">
                  <dt class="added">
                      <label class="u-lab jsPackageLabel">
                          <input class="f-dn" type="checkbox" name="package">

                          <span class="u-txt">+<em class="jsPackage">0</em>元，您还可以选购<a href="javascript:;">电话包</a></span>
                      </label>
                  </dt>
              </dl>
              <dl class="product" style="border-top: 1px solid rgb(228, 234, 238);">
                  <dt class="added">
                  <label class="u-lab jsEarphoneLabel">
                      <input class="f-dn" type="checkbox" name="earphone">
                     
                      <span class="u-txt" data-cart="">+50元，选购高保真耳麦(双插头)</span>
                  </label>
                  </dt>
              </dl>
              <p class="differ" style="display:none;">补差价金额：
                  <em class="jsMinuend">10288</em>&nbsp;-&nbsp;
                  <em class="jsMeiosis">3588</em>&nbsp;=&nbsp;
                  <em class="jsDifference">6700</em>
              </p>
          </div>
          <div class="total-orders">订单总金额：<em class="jsTotal" data-total="5799">23045</em></div>
          <div class="total-orders-stagin" style="display: none;">金额总计：<em class="jsTotal" data-total="5799"></em></div>
          <div class="submit">
            <input class="button jsSubmit" type="submit" value="提交订单" style="width: 117px;">
          </div>
        </div>
      </div>
    </div>
  </form>
<!-- /购物车 -->
<div class="mask"></div>
<div class="scholarship">
  <div class="wincon">
    <i class="borderleft"></i>
    <i class="borderright"></i>
    <a href="javascript:;" class="close"></a>
    <div class="top"></div>
    <div class="main">
          <em>恭喜您</em>成功领取<span>1000元</span>奖学金,
    已放入您的站内信，购买课程时可
    直接使用哦!
    </div>
    <div class="bot"></div>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<script src="/js/html/project/learning20170303/vendor.js"></script>
</body>
</html> 