<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="/css/html/teenagers_landing/teenagers_landing.css">
</head>

<body>
<!-- 公共头 -->
  <div class="topWidth" id="container" data-init="teenagers_landing">
    <div class="m_logo">
      <img src="/images/html/teenagers_landing//ten_logo.png" alt="" class="f_logo">
      <div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
    </div>
    </div>
  </div>
<!-- 首页 -->
  <div class="youth">
    <div class="tenImg">
      <img src="/images/html/teenagers_landing//ten_img01.jpg">
    </div>
    <div class="btnWidth">
      <a href="javascript:;" class="imgBtn">马上免费体验</a> 
    </div>
    <div class="detail">
      <p class="tit">我们提供3-15岁青少儿英语课程</p>
      <p>青少全能新概念英语+欧美经典青少英语教材培养会考试、高素质的双优学员<br/>基于《新概念英语》的青少全能新概念帮助孩子轻松应对考试，<br/>同步欧美框架的经典青少英语让孩子提高提说读写能力。</p>
    </div>
  </div>
<!-- 首页头部结束 -->
<!-- 选择年龄和对应课程 -->
  <div class="age_level">
    <div class="age">
      <ul>
        <li>学前<span>（3-6岁）</span></li>
        <li class="choose">小低<span>（6-9岁）</span></li>
        <li>小高<span>（9-12岁）</span></li>
        <li>初中<span>（12-17岁）</span></li>
      </ul>
    </div>
    <div class="age_course">
      <ul>
        <!-- 3-6 -->
        <li class="hide">
          <div class="course_l fl">
           <img src="/images/html/teenagers_landing//major.png" alt="" class="img_01">
           <img src="/images/html/teenagers_landing//major01.jpg" alt="" class="img_02">
           <p class="tit">以听说、兴趣为主，让学员从此爱上英语学习。</p>
           <p>课程设置：共48课时，25min/课时</p>
           <p>授课模式：外教1对1</p>
           <a href="javascript:;" class="imgBtn_l">预约试听</a>
          </div>
          <div class="course_r fr">
            <img src="/images/html/teenagers_landing//p_course.png" alt="" class="img_01">
            <img src="/images/html/teenagers_landing//p_course01.jpg" alt="" class="img_02">
            <p class="tit">英语学习的重要基础，讲授26个字母及字母组合发音与拼写规律。</p>
            <p>课程设置：共48课时，25min/课时</p>
            <p>授课模式：外教1对1</p>
            <a href="javascript:;"  class="imgBtn_r">预约试听</a>
          </div>
        </li>
        <!-- 6-9 -->
        <li>
          <div class="course_l fl">
           <img src="/images/html/teenagers_landing//major.png" alt="" class="img_01">
           <img src="/images/html/teenagers_landing//major02.jpg" alt="" class="img_02">
           <p class="tit">掌握自然拼读，建立英语语感，培养正确语音语调，扩大词汇量。</p>
           <p>课程设置：共48课时，25min/课时</p>
           <p>授课模式：外教1对1</p>
           <a href="javascript:;"  class="imgBtn_l">预约试听</a>
          </div>
          <div class="course_r fr">
            <img src="/images/html/teenagers_landing//p_course.png" alt="" class="img_01">
            <img src="/images/html/teenagers_landing//p_course02.jpg" alt="" class="img_02">
            <p class="tit">英语学习的敲门砖；学员能掌握基本词汇发音、含义及简单句式。</p>
            <p>课程设置：72课时，25min/课时</p>
            <p>授课模式：外教1对1</p>
            <a href="javascript:;"  class="imgBtn_r">预约试听</a>
          </div>
        </li>
        <!-- 9-12 -->
        <li class="hide">
          <div class="course_l fl">
           <img src="/images/html/teenagers_landing//major.png" alt="" class="img_01">
           <img src="/images/html/teenagers_landing//major03.jpg" alt="" class="img_02">
           <p class="tit">多样主题阅读，跨学科学习，了解阅读策略，提升阅读能力。</p>
           <p>课程设置：共144课时，25min/课时</p>
           <p>授课模式：外教1对1</p>
           <a href="javascript:;" class="imgBtn_l">预约试听</a>
          </div>
          <div class="course_r fr">
            <img src="/images/html/teenagers_landing//p_course.png" alt="" class="img_01">
            <img src="/images/html/teenagers_landing//p_course03.jpg" alt="" class="img_02">
            <p class="tit">搭建语法体系，掌握做题技巧，轻松应对升学考试。</p>
            <p>课程设置：共216课时，25min/课时</p>
            <p>授课模式：外教1对1</p>
            <a href="javascript:;" class="imgBtn_r">预约试听</a>
          </div>
        </li>
        <!-- 12-17 -->
        <li class="hide">
          <div class="course_l fl">
           <img src="/images/html/teenagers_landing//major.png" alt="" class="img_01">
           <img src="/images/html/teenagers_landing//major04.jpg" alt="" class="img_02">
           <p class="tit">掌握中长篇阅读技巧，探索式学习，培养学员听说及语言运用能力。</p>
           <p>课程设置：共144课时，25min/课时</p>
           <p>授课模式：外教1对1</p>
           <a href="javascript:;" class="imgBtn_l">预约试听</a>
          </div>
          <div class="course_r fr">
            <img src="/images/html/teenagers_landing//p_course.png" alt="" class="img_01">
            <img src="/images/html/teenagers_landing//p_course04.jpg" alt="" class="img_02">
            <p class="tit">搭建语法体系，掌握做题技巧，轻松应对升学考试。</p>
            <p>课程设置：216课时，25min/课时</p>
            <p>授课模式：外教1对1</p>
            <a href="javascript:;" class="imgBtn_r">预约试听</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="stu_reviews">
    <div class="review">
      <p class="tit">学员和妈妈们的评价</p>
      <div class="review01">
        <div class="text">
          <dl>
            <dt>
            学员说：
            </dt>
              <dd>
                我在51talk学习已有了2年的时间啦！51talk不仅帮我提供了一个全英文的学习环境，还可以让我同来自北上广深的小伙伴们一样，学习最棒的英文课程！2年下来，我已经顺利地完成了L2-L11的课程，自己英文的听说能力得到了很大的提升！因此，我屡屡在各项英语比赛中获奖，更是取得了代表江西省去北京参加“希望之星”全国总决赛的好成绩！
              </dd>
          </dl>
          <dl>
            <dt>
            妈妈说：
            </dt>
              <dd>
               Vic 非常腼腆但是在51Talk学习2年,从Lv.2到Lv.11,英语的表达充满自信，在各项英语比赛中获得奖项，这让我很开心。对于51Talk没有比较就没有选择，感谢51Talk！
              </dd>
          </dl>
        </div>
        <div class="stu_head">
          <img src="/images/html/teenagers_landing//stu_head01.png" alt="">
          <div>
            <p class="name">Vic  小学生</p>
            <p>CCTV希望之星英语风采大赛-江西冠军</p>
          </div>
        </div>
      </div>
      <div class="review02">
        <div class="text">
          <dl>
            <dt>
            学员说：
            </dt>
              <dd>
                是Lily老师让我喜欢上了英语，和Lily老师在一起学习我觉得很开心很轻松，英语不像我想象中的那么难！
              </dd>
          </dl>
          <dl>
            <dt>
            妈妈说：
            </dt>
              <dd>
               我是一个很挑剔的妈妈，对待孩子的英语教育，绝对不能马虎。以前也试过很多线下的培训学校，外教太少，还是好多孩子一起上课，我们家孩子几乎没有开口说英语的机会。幸运的是，我找到了51Talk，孩子在这儿学习，老师不断地引导孩子说英语，进步非常神速！
              </dd>
          </dl>
        </div>
        <div class="stu_head">
          <img src="/images/html/teenagers_landing//stu_head02.png" alt="">
          <div>
            <p class="name">HAPPY</p>
            <p>小学生</p>
          </div>
        </div>
      </div>
      <div class="review03">
        <div class="text">
          <dl>
            <dt>
            学员说：
            </dt>
              <dd>
               我从小就学英语，但主要是应试类的。现在，听力在考试中占得比重高了，我想跟着外教练口语和听力。我选了次卡套餐。每次课25分钟，手机和iPad都能 上课，特别方便。外教都很有经验，而且很nice，所以我上课也比较轻松。现在看美剧基本都差不多能听懂了，听力考试什么的，应该都没什么问题。
              </dd>
          </dl>
          <dl>
            <dt>
            妈妈说：
            </dt>
              <dd>
              我们家Tiger在51Talk学习了一年多，在同龄的孩子中，英语算是很不错的。成绩和语言交流能力，一个都没落下！
              </dd>
          </dl>
        </div>
        <div class="stu_head">
          <img src="/images/html/teenagers_landing//stu_head03.png" alt="">
          <div>
            <p class="name">TIGER</p>
            <p>初中生</p>
          </div>
        </div>
      </div>
      <div class="review04">
        <div class="text">
          <dl>
            <dt>
            学员说：
            </dt>
              <dd>
               我以前在双语学校学过，所以我还比较敢于用英语表达自己的想法。但上课中，我还是会犯一些比较低级的语法错误。与以前学校不一样的是，在51Talk，我是单独地和老师交流。老师很好，能发现我的问题，会耐心及时地纠正我的语法问题。很开心，在外教的引导下，我的英语水平整体进步很大。
              </dd>
          </dl>
          <dl>
            <dt>
            妈妈说：
            </dt>
              <dd>
              做父母的，都望子成龙。51Talk为Bella提供优异的语言环境！每天开口跟外教1对1地聊天，学了6个月，效率真的很高，Bella的口语表达和英语成绩有了质的飞跃。最让我开心的是，51Talk能随时随地的上课，让我们不浪费一分钱、一分钟！
              </dd>
          </dl>
        </div>
        <div class="stu_head">
          <img src="/images/html/teenagers_landing//stu_head04.png" alt="">
          <div>
            <p class="name">BELLA</p>
            <p>初中生</p>
          </div>
        </div>
      </div>
      <div class="btnWidth">
        <a href="javascript:;" class="ly_imgBtn">马上和孩子一起体验</a>
      </div>
    </div>
  </div>
  <!-- 李娜 -->
  <div class="lina_show">
    <div class="lina">
      <img src="/images/html/teenagers_landing//lina.jpg" alt="">
      <div class="lina_text fr">
        <p class="name">李娜</p>
        <p class="honr">国际网坛巨星&nbsp;&nbsp;&nbsp;&nbsp;51Talk代言人&nbsp;&nbsp;&nbsp;&nbsp;51Talk明星学员</p>
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <div class="bottom">
     <p>Copyright©北京大生知行科技有限公司  |   隐私声明  |   用户协议  |   京ICP证110696号 京ICP备11031999号</p>
  </div>
<!-- 弹出层 -->
  <div class="mask hide" id="mask"></div>
  <div class="openWidnow hide" id="openWidnow">
    <div class="window-title">
    注册即可<span>免费获取</span>价值188元青少英语体验课
    </div>
    <form action="../user/do_register.php" method="POST" id="RegForm1">
        <div class="window-form">
          <ul class="window-input">
              <li><label for="user_name3"><span class="sprite ie6png email"></span><input name="user_name" id="user_name3" type="text" placeholder="请输入您的邮箱" class="jsCheck"></label></li>
              <li><label for="mobile3"><span class="sprite ie6png phone"></span><input name="mobile" id="mobile3" type="text" placeholder="请输入您的手机号" class="jsCheck"></label></li>
              <li><label for="password3"><span class="sprite ie6png password"></span><input name="password" id="password3" type="password" placeholder="请设置您的密码" class="jsCheck"></label></li>
          </ul>
        </div>
        <div class="orderBtn2" id="orderBtn2">
          <a href="javascript:;"><input id="submit1" type="button" val="1" value="立即领取课程" class="jsSubmit" /></a>
          <p class="exprienceDesc">体验后，孩子将获得量身定制的专业测评报告。</p>
        </div>
    </form> 
  </div>
  <script src="/js/html/project/teenagers_landing/vendor.js"></script>
</body>
</html>