@charset "utf-8";
@import "../common/base.less";
@imgPath: '../../../images/wap/ac_share';
body{
	font-family: @fontFamily;
}
.logo{
	width:7.2rem;
	height:2.5rem;
	background: url("@{imgPath}/logo.png") no-repeat;
	background-size:7.2rem 2.5rem;
	margin:0 auto;
	margin-top:1.3rem;
	margin-bottom:1rem;
}
.video-c{
	position: relative;
}
.video-box{
	width:100%;
	overflow: hidden;
	font-family: @fontFamily;
	ul{
		transform: translate(0px, 0px); 
		li{
			position:relative;
			float:left;
			img{
				width: 100%;
				
				    
			}
			span{
				position:absolute;
				height: 4.5rem;
				bottom:0;
				left:0;
				width:100%;
				display: block;
				background:rgba(0,0,0,0.5);
				color:#fff;
				font-size:1.6rem;
				line-height: 4.5rem;
				text-align: center;
			}
		}
	}
}
.ac-video-mask{
	
	position: absolute;
	width:100%;
	top:0;
	background:rgba(0,0,0,0.6);
	.ac-video-btn{
		width:4.4rem;
		height:4.4rem;
		background:url("@{imgPath}/start.png") no-repeat;
		background-size:4.4rem 4.4rem;
		position:relative;
		margin-top:-2.2rem;
		margin-left:-2.2rem;
		left:50%;
		top:50%;
	}
	.ac-voide-replay{
		background:url("@{imgPath}/repeat.png") no-repeat;
		background-size:4.4rem 4.4rem;
	}
}
.info-box{
	padding:1rem;
	margin-bottom:1rem;
	.head-portrait{
		width:6rem;
		height:6rem;
		border:1px solid #d8d8d8;
		border-radius: 50%;
		overflow: hidden;
		float:left;
		img{
			width:6rem;
			height:6rem;
		}
	}
}
.info-art{
	margin-left:7rem;
	font-size:1.4rem;
	.user-box{
		margin-top:0.5rem;
		margin-bottom:0.7rem;
		.user-name{
			color:#f4bb0d;
		}
	}
	
}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}