@imgPath: "../../../../images/html/www_new/";
@titlecolor:#ffa900;
@inputcolor:#ccc;
@wordcolor:#999;
@white: #fff;
@redcolor:#ff3737;
.wrap-nav-index{background-color: #fff;}
.hide{display: none;}
.tac{text-align:center;}
.docwidth{
  margin:0px auto;
  width: 850px;
}
.loginicon{
  display: inline-block;
  background:url("@{imgPath}login/login_icon.png") no-repeat;
}
.user_get_password{
  .docwidth;
  margin-top: 132px;
  padding:55px 0 150px 0;
  .title{
    .tac;
    font-size: 38px;
    color:@titlecolor; 
  }
  .get-pass-core{
    .list{
      width: 846px;
      height: 40px;
      background:url("@{imgPath}login/get_pass_img01.png") no-repeat;
      margin:35px 0 15px 0;
    }
    .list-two{
      background:url("@{imgPath}login/get_pass_img02.png") no-repeat; 
    }
    .list-three{
      background:url("@{imgPath}login/get_pass_img03.png") no-repeat;
    }
    .list-four{
      background:url("@{imgPath}login/get_pass_img04.png") no-repeat;
    }
    .userpass{
      p{
        .tac;
        font-size: 16px;
        color: @wordcolor;
        margin-bottom: 50px;
      }
      .urse-text{
        width: 450px;
        margin-left: 200px;
        li{
          margin-top: 18px;
          overflow: hidden;
          .lt-title{
            float: left;
            width: 65px;
            line-height: 39px;
            text-align: right;
          }
          .iphone-text{
            display: block;
            margin-top: 10px;
          }
          .send-code{
            float: right;
            width: 135px;
            height: 37px;
            line-height: 37px;
            border:1px @inputcolor solid;
            border-radius: 3px;
            .tac;
            cursor: pointer;
          }
          .y_code_down{
            cursor: default;
          }
        }
      }
      .safe-error,.success{
        .tac;
        .safe-icon{
          .loginicon;
          width: 50px;
          height: 50px;
          background-position: -161px 0;
          margin:100px 0 18px 0;  
        }
        span{display: block;font-size: 24px;margin-bottom: 60px;}  
      }
      .success .safe-icon{background-position: -214px 0;}
      .user-btn{
        display: block;
        height: 50px;
        line-height: 50px;
        width: 390px;
        .tac;
        color: @white;
        font-size: 18px;
        background-color:@redcolor;
        border-radius: 5px;
        margin:50px 0 0 30%;
        &:hover{color: #fff;}
      }
      .code-btn{
        width: 128px;
        height: 38px;
        border:1px @inputcolor solid;
        border-radius: 3px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
    .user-four .sucBtn {
      .tac;
      .user-btn{
        width: 270px;
        display: inline-block;
        margin:0;
        margin-left: 10px;
      } 
    }
  }
}
.rt-input{
  display: inline-block;
  position: relative;
 input{
    padding:10px;
    color: #333;
    border:1px @inputcolor solid;
    border-radius: 3px;
  }
  .s-input{width: 358px;}
  .mobile-code{width: 215px;}
}

// 错误提示
.error{
  color: @redcolor;
  margin:8px 0 0 60px;
  display: none;
  i{
    .loginicon;
    float: left;
    width: 20px;
    height: 20px;
    background-position: -124px 2px;
    margin-right: 5px; 
  }
  span a{color: #6c9dfa;margin-left: 5px;}
}
.input-error input{border:1px @redcolor solid;}

// 正确
.correct:after{
    content: "";
    position:absolute;
    .loginicon;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-position: -142px 3px;
}
