@imgPath: "../../../../images/html/www_new/";
@titlecolor:#ffa900;
.wrap-nav-index{background-color: #fff;}
.tac{text-align:center;}
.docwidth{
  margin:0px auto;
  width: 1200px;
}
.user_agreement{
  .docwidth;
  margin-top: 132px;
  padding:0px 0 100px 0;
  .text{
    font-size: 38px;
    color:@titlecolor;
    text-align: center;
    margin-top: 50px; 
  }
  h3{
    font-size: 18px;
    margin-top: 30px;
  }
  h4{
    font-size: 18px;
    text-indent: 30px;
    margin-top: 30px;
  }
  p{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    text-indent: 30px;
  }
}