<!--证书获取方式介绍-->
<div class="access">
	<h1 class="title">获取方式介绍</h1>
	<h2 class="step"><img src="<%=imagessrc%>step.jpg"></h2>
	<ul class="clearfix">
		<li>选择经典英语教材学习，并完成当前l级别教材学习 </li>
		<li>参加级别测试并考试通过，立即获得外研社权威证书</li>
		<li>点击申请邮寄证书，填写完整寄送信息，完成证书邮寄</li>
	</ul>
</div>