<!--成人和青少证书获取方式-->
<div class="introduce">
	<h1 class="title">级别证书获取方式</h1>
	<h2><img src="<%=imagessrc%>all_way.jpg"></h2>
	<ul class="clearfix">
		<li>
			<p>选择经典英语</p>
			<p>教材学习</p>
		</li>
		<li>
			<p>完成最后一个</p>
			<p>阶段level的课程</p>
		</li>
		<li>
			<p>通过级别测试</p>
			<p>获得证书</p>
		</li>
		<li>
			<p>填写邮寄地址</p>
			<p>等待证书送达</p>
		</li>
	</ul>
</div>