<!--证书列表-->
<dl class="clearfix">
	<dt><img src="<%=imagessrc%>cer_temp.jpg" alt="证书临时图片"></dt>
	<dd>
		<h1>Level3共学习45天，</h1>
		<h2>晋级速度超过<em>60%</em>学员，表现很棒！</h2>
		<ul class="clearfix">
			<li><a href="javascript:;"><i class="test-info"></i>查看考试信息</a></li>
			<li><a href="javascript:;"><i class="download"></i>下载到本地</a></li>
			<li><a href="javascript:;"><i class="express"></i>快递纸质证书</a></li>
		</ul>
		<div class="share-wrap">
			<div class="txt">分享证书至：</div>
			<div class="icon-lst">
				<div class="share bdsharebuttonbox bdshare-button-style0-16 share_bc06 dq_div"  data-id="dq_06">
		          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
		          <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
		        </div>
			</div>
		</div>
	</dd>
</dl>