<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/oralSH_landing/oralSH_landing.css">
</head>
<body data-init="oralSH_landing" class="oralSH">
  <div class="sh_banner">
    <div class="sh_banner_top"></div>
    <div class="sh_banner_bottom"></div>
    <div class="sh_tit">
       <img src="/images/html/oralSH_landing/sh_tit.png" alt="">  
    </div>
  </div>
  <div class="sh_gray">
    比赛截止日期：2016年5月27日24：00
  </div>
  <form id="oralSH_form" method="post" action="">
    <div class="oralSH_form">
      <div class="oralSH_form_center">
      <input id="register_from" type="hidden" value="{<info.id>}" name="register_from"/>
         <div class="sh_group">
           <input placeholder="参加听力比赛的学生与信息杯准考证信息保持一致" type="text" name="user_name" class="user_name" />
           <p>学生姓名：</p>
         </div>
         <div class="sh_group">
           <input placeholder="全称或简称均可" type="text" name="school_name" class="school_name" />
            <p>学校名称：</p>
         </div>
         <div class="sh_group sh_class">
           <input placeholder="（请下拉选择）" class="sh_class_box" name="sh_class_box" />
            <p>所在年级</p>
            <i class="sh_arrow sh_selectClass"></i>
            <div class="sh_class_list sh_classList"  style="display:none">
              <a href="javascript:;" data="1">一年级</a>
              <a href="javascript:;" data="2">二年级</a>
              <a href="javascript:;" data="3">三年级</a>
              <a href="javascript:;" data="4">四年级</a>
              <a href="javascript:;" data="5">五年级</a>
              <a href="javascript:;" data="6">预备年级</a>
              <a href="javascript:;" data="7">初一</a>
              <a href="javascript:;" data="8">初二</a>
              <a href="javascript:;" data="9">初三</a>
              <a href="javascript:;" data="10">高一</a>
              <a href="javascript:;" data="11">高二</a>
              <a href="javascript:;" data="12" class="border0" >高三</a>
            </div>
         </div>
          <div class="sh_group sh_class">
           <input placeholder="（请下拉选择）" class="sh_group_box" name="sh_group_box" />
            <p>参赛组别</p>
            <i class="sh_arrow sh_selectGroup"></i>
            <div class="sh_class_list sh_groupList"  style="display:none">
              <a href="javascript:;" data="10">三年级组</a>
              <a href="javascript:;" data="4">四年级组</a>
              <a href="javascript:;" data="5">五年级组</a>
              <a href="javascript:;" data="9">预备年级组</a>
              <a href="javascript:;" data="1">初一组</a>
              <a href="javascript:;" data="2">初二组</a>
              <a href="javascript:;" data="3">初三组</a>
              <a href="javascript:;" data="6">高一组</a>
              <a href="javascript:;" data="7">高二组</a>
              <a href="javascript:;" data="8" class="border0">高三组</a>
            </div>
         </div>
         <div class="sh_group">
           <input placeholder="已是51Talk注册或付费会员请更换新手机号码注册" type="text" name="mobile" id="mobile" />
           <p>手机号码: </p>
         </div>
         <div class="sh_group sh_message">
           <input class="tel_code" id="authCode" name="authCode" type="tel" placeholder="请输入图形验证码" style="">
            <span  class="" style="  display: inline-block;text-align: center;height: 60px;width: 35%;line-height: 60px;float: left;margin-left: 2%; position: absolute;right: 0;top: 0;">
              <img 
                   id="verifycode" src="http://www.51talk.com/passport/authCode"
                   height="100%" width="100%" onclick="this.src='http://www.51talk.com/passport/authCode'+'?a'+'='+new Date().getTime()"
                   alt="单击更换验证码" title="单击更换验证码">
            </span>
         </div>
         <div class="sh_group sh_message">
           <input placeholder="请输入短信验证码" type="text" class="message" name="message" />
           <a href="javascript:;" id="sh_getCodes">点击获取验证码</a>
         </div>
         <div class="sh_group">
           <input placeholder="6位数字 (请确保牢记)" type="password" name="password" class="password" />
           <p>设置密码：</p>
         </div>
         <div class="sh_group">
           <input placeholder="非必填项" type="text" name="parents" class="parents" />
           <p>家长姓名：</p>
         </div>
         <div class="sh_group">
           <input placeholder="非必填项" type="text" name="unifyCode" class="unifyCode" />
           <p>统一代码： </p>
         </div>
         <div class="sh_group sh_submit">
           <a href="javascript:;" id="sh_submit" target="_blank"></a>
         </div>
 
      </div>
    </div>  
  </form>
  <div class="footer">
    本次比赛专用工具：<a href="jacasctipt:;">AC客户端</a>；客服专线：010-57464425（09:00-19:00）
  </div>


<script src="/js/html/project/oralSH_landing/vendor.js"></script>
</body>
</html>
