<div id="j_blind" class="box">
    <div class="box-main">
        <div class="f-cb n-blind">
            <div id="j_monster" class="monster-pic" media-audio="<%= domain + data.record%>">
            	<img class="pic-s" src="<%= staticPath%>/images/html/class_2017/monster/<%=data.monster%>-monster_big.png" />
            	<i id="j_talk_gif" class="talk-gif hide"></i>
            </div>
        </div>
    </div>
    <div class="pagenation">
        <a id="j_page_prev" href="javascript:;" class="btn prev-btn"></a>
        <a id="j_page_next" href="javascript:;" class="btn next-btn disabled"></a>
    </div>
</div>

<!-- 升级 -->
<div id="j_tip_upgrade" class="bx-tip bx-tip-upgrade animated zoomIn hide" media-audio="<%= staticPath%>/images/html/class_2017/audio/challenge.mp3"></div>