<div class="box">
    <div class="box-main">
        <div class="f-cb n-fight">
            <div class="tc c-step">
                <img src="<%=staticPath%>/images/html/class_2017/step2.png" />
            </div>
            <div class="tc c-pic">
                <img src="<%=staticPath%>/images/html/class_2017/c4.png" />
            </div>
        </div>
    </div>
    <div class="pagenation">
        <a id="j_page_prev" href="javascript:;" class="btn prev-btn"></a>
        <a id="j_page_next" href="javascript:;" class="btn next-btn disabled"></a>
    </div>
</div>

<!-- 入场声音播放器 -->
<div id="j_audio_link" class="hide" media-audio="<%=staticPath%>/images/html/class_2017/audio/link.mp3"></div>