<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>外教1对1体验课</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="外教1对1体验课 - 51talk 无忧英语">
	<meta name="description" content="外教1对1体验课 - 51talk 无忧英语">
	<link rel="stylesheet" type="text/css" href="/css/html/email_20150817/email_20150817.css">
	<link rel="shortcut icon" href="../../../images/html/common/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../../images/html/common/apple-touch-icon.png">
	<!--[if IE 6]><script src="../js/lib/DD_belatedPNG_0.0.8a.min.js"></script><![endif]-->
</head>
<body>
	<div class="g-hd">
  <div class="m-top">
    <div class="g-in f-cb">
      <div class="m-menu f-fl">
        <a class="user" href="#">hi,Viola！</a><i>|</i><a class="msg" href="#">消息<span class="num">2</span></a><span class="tips"><a class="txt" href="#">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a href="#">退出</a>
      </div>
      <ul class="m-link f-ib f-fr">
        <li><a href="#">官网首页</a></li>
        <li><a href="#">课程介绍</a></li>
        <li><a href="#">英语水平</a></li>
        <li><a href="#">企业培训</a></li>
        <li class="follow"><a href="#">关注我们</a>
          <ul>
            <li class="tsina"><a href="#">新浪微博</a></li>
            <li class="tqq"><a href="#">腾讯微博</a></li>
          </ul>
        </li>
        <li><a href="#">邀请有礼</a></li>
      </ul>
    </div>
  </div>
  <!-- /m-top -->
  <div class="m-head">
    <div class="g-in">
      <h1 class="logo"><a href="#">51talk 无忧英语</a></h1>
      <ul class="nav">
        <li class="crt"><a href="#">首页</a></li>
        <li><a href="#">账户设置</a></li>
        <li><a href="#">购买课程</a></li>
      </ul>
      <div class="contact">
        <p class="bizapp"><a href="javascript:void(0)">客服在线咨询 (09:00-24:00)</a></p>
        <p class="phone">4000-51-51-51</p>
      </div>
    </div>
  </div>
 <!-- /m-head -->
</div>
	<div class="g-bd">
		    <div class="gw new_edm" id="container" data-init="unAccount">
					<h3>您已成功退订！</h3> 
					<p><b>再次订阅请点击：</b><a href="#" target="_back" class="sup_link">订阅</a></p>
		    </div>
		</div>
	</div>
	<div class="g-ft">
  <div class="g-in f-tac">
    <div class="links">
      <a href="#">关于我们</a><i>|</i>
      <a href="#">加入我们</a><i>|</i>
      <a href="#">校园代理招募</a><i>|</i>
      <a href="#">区域代理招募</a><i>|</i>
      <a href="#">企业培训</a><i>|</i>
      <a href="#">网站地图</a>
    </div>
    <div class="trust">
      <a class="t1" href="#" rel="nofollow" target="_blank"></a>
      <a class="t2" href="#" rel="nofollow" target="_blank"></a>
      <a class="t3" href="#" rel="nofollow" target="_blank"></a>
      <a class="t4" href="#" rel="nofollow" target="_blank"></a>
    </div>
    <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
  </div>
</div>
<!-- /g-ft -->
</div>

</body>
<!--公共尾部结束-->
<script src="/js/html/project/email_20150817/vendor.js"></script>
</html>