
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>51Talk美国小学课程</title>
    <link href="/css/wap/north_america_introduce/north_america_introduce.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <script src="/js/wap/project/north_america_introduce/vendor.js" type="text/javascript" id="seajsnode"></script>
  </body>
</html>