<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title>51Talk送福利，邀你跟好友一起玩转英语。</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/course_share36519/course_share36519.css">
</head>
<body>
<div class="wrap">
    <header class="header" id="header-normal" data-init="index">
        <img src="/images/wap/course_share36519/header.jpg">
    </header>
    <section class="content content-bg" id="content">   <!--content-bg -->

        <!--失败 start-->
        <div id="repeat-tips" class="">
            <p class="tip">您已经领过课程啦，不可以重复领取哦~</p>
            <p class="tip">现在去跟外教老师预约上课时间吧</p>
            <p class="tip">加油加油~</p>
            <a href=""><div class="yueke-btn">立即约课</div></a>
        </div>
        <!--失败 end-->

        <!--文章-->
        <div class="hot-article">
            <!--<span class="title">精彩内容，尽在51Talk App</span>-->
            <div class=" "><img src="/images/wap/course_share36519/titleBg1.png" style="width: 100%;"></div>
            <a href="/">
            <dl>
                    <dt>
                        <div>
                        <img src="/images/wap/course_share36519/article.jpg" alt="">
                        </div>
                    </dt>
                    <dd>
                        <p>英文动画应该这样看</p>
                        <div class="icon-list">
                            <div class="img-txt">
                                <img src="/images/wap/course_share36519/article-mark.png" alt="">
                            </div>
                            <div class="view-times">
                                    <img src="/images/wap/course_share36519/view-times.png" alt="" style="width:1rem;">
                                    <span>99999+</span>
                            </div>
                            <div class="popups">
                                    <img src="/images/wap/course_share36519/popup.png" alt="" style="width:1rem;">
                                    <span>563</span>
                            </div>
                        </div>
                    </dd>
            </dl>
            </a>

            <a href="/">
            <dl>
                    <dt>
                    <div>
                        <img src="/images/wap/course_share36519/article2.jpg" alt="">
                    </div>
                    </dt>
                    <dd>
                        <p>In The Night Kitchen厨房之夜狂想曲</p>
                        <div class="icon-list">
                            <div class="img-txt">
                                <img src="/images/wap/course_share36519/article-mark.png" alt="">
                            </div>
                            <div class="view-times">
                                    <img src="/images/wap/course_share36519/view-times.png" alt="" style="width:1rem;">
                                    <span>12324</span>
                            </div>
                            <div class="popups">
                                    <img src="/images/wap/course_share36519/popup.jpg" alt="" style="width:1rem;">
                                    <span>563</span>
                            </div>
                        </div>
                    </dd>
            </dl>
            </a>

            <a href="/">
            <dl>
                    <dt>
                    <div>
                        <img src="/images/wap/course_share36519/article1.jpg" alt="">
                    </div>
                    </dt>
                    <dd>
                        <p>英文动画应该这样看</p>
                        <div class="icon-list">
                            <div class="img-txt">
                                <img src="/images/wap/course_share36519/article-mark.png" alt="">
                            </div>
                            <div class="view-times">
                                    <img src="/images/wap/course_share36519/view-times.png" alt="" style="width:1rem;">
                                    <span>12324</span>
                            </div>
                            <div class="popups">
                                    <img src="/images/wap/course_share36519/popup.jpg" alt="" style="width:1rem;">
                                    <span>563</span>
                            </div>
                        </div>
                    </dd>
            </dl>
            </a>
        </div>

        <!--/文章-->
    </section>
</div>


<footer>
    <img src="/images/wap/course_share36519/logo.png" alt="">
</footer>

<div class="showtips_layer">
    <div class="showtips">
        <span></span>
        <em id="closeLayer">&times;</em>
    </div>
</div>
</body>

<!--公共尾部结束-->
<script id="s eajsnode" src="/js/wap/project/course_share36519/vendor.js"></script>
</html>