<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>详细规则</title>
    <script src="../../../js/wap/project/course_share36519/flexible.debug.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/wap/course_share36519/wap.css">
</head>
<body class="full">
<div class="wap-main" id="container"  data-init="wap">
    <header class="header" id="header-normal">
        <img src="/images/wap/course_share36519/header.jpg">
    </header>
    <section class="content content-bg" id="content">
        <!--微信分享信息-->
        <!--<input type="hidden" id="runtime-mode" value="weixin">-->
        <div class="title-pics clear">
            <img src="/images/wap/course_share36519/ten_times_card.png" alt="">
            <img src="/images/wap/course_share36519/three_times_card.png" alt="">
        </div>
        <div class="description">
            <p>邀请好友一起学习，好友成功购买后</p>
            <p>（1500元及以上）您获得10次次卡,</p>
            <p>好友获得3次次卡。</p>
            <p class="rule"><a href="rule.html"><span>详细规则</span></a></p>
            <p>已成功邀请<span>1</span>位好友|获得<span>1</span>次次卡</p>
        </div>
        <div class="prize-cont">
            <img src="/images/wap/course_share36519/prize-title.png" alt="">
            <div class="prize-list">
                <ul>
                    <li>
                        <span class="mobile">1370****8097</span>
                        <span class="prize">已注册</span>
                    </li>
                    <li>
                        <span class="mobile">1370****8097</span>
                        <span class="prize">已体验</span>
                    </li>
                    <li>
                        <span class="mobile">1370****8097</span>
                        <span class="prize">已购买</span>
                    </li>
                    <li>
                        <span class="mobile">1370****8097</span>
                        <span class="prize">10次次卡</span>
                    </li>
                </ul>
                <p class="hide">您还没有邀请任何好友！</p>
            </div>
        </div>
    </section>
    <footer class="share-footer">
        <input id="is_show" type="hidden" value="1">
        <p>邀请好友一起说英语<span id="invite-btn">立即邀请</span></p>
    </footer>
</div>

<div class="weixin-share-cont hide">
    <p>请点击右上角分享</p>
    <input type="hidden" id="wx-title" value="我在51Talk学英语692天了，邀请你一起来~">
    <input type="hidden" id="wx-description" value="我在51Talk学英语692天了，邀请你一起来~">
    <input type="hidden" id="wx-url" value="http://wap.51talk.com/activity/invite?pid=12347465">
    <input type="hidden" id="wx-imgUrl" value="">
</div>

<div class="share-cont hide">
    <ul class="share-list">
        <li class="item">
            <img src="/images/wap/course_share36519/weixin.png"  alt="">
            <span>微信</span>
        </li>
        <li class="item">
            <img src="/images/wap/course_share36519/friends.png"  alt="">
            <span>朋友圈</span>
        </li>
        <li class="item">
            <img src="/images/wap/course_share36519/weibo.png"  alt="">
            <span>微博</span>
        </li>
        <div style="clear:both"></div>
        <li class="item">
            <img src="/images/wap/course_share36519/message.png"  alt="">
            <span>短信</span>
        </li>
        <li class="item">
            <img src="/images/wap/course_share36519/copy.png"  alt="">
            <span>复制邀请码</span>
        </li>
    </ul>
    <p id="cancle-share">取消</p>
</div>
</body>

<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/course_share36519/vendor.js"></script>
</html>