<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
</head>
<body style="background:#dedede;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑';margin:0;padding:0;">
  <div class="sf_header" style="height:80px;width: 100%;background-color: #ffa800;">
    <div class="sf_headerIn" style=" width: 700px;height:80px;margin:0 auto;">
       <div class="sf_header_l" style=" float:left; width:180px; height:80px; position:relative;">
         <i style="height:50px;width:150px;display:block;position:absolute;top:15px;left:20px; background:url(/images/html/SpringFestivalNotice//sf_logo.png)"></i>
       </div>
       <div class="sf_header_m" style=" height:80px;width: 370px;float:left;position:relative;font-size:14px;line-height:80px;text-indent: 20px;">
         <i style=" position:absolute;top:20px;left:0;height:40px;width:1px;border-right:1px solid #000;"></i>
         学员数量和外教数量最多的在线英语教育品牌!
       </div>
       <div class="sf_header_r" style="height:80px;position: relative;float:left;">
         <i style="height:30px;width:132px;display:block;position:absolute;top:25px;left:0;background:url(/images/html/SpringFestivalNotice//sf_logo.png) no-repeat -150px 0;"></i>
       </div>
    </div>
  </div>
 <!-- banner -->
 <div class="sf_banner" style=" height:320px;width: 700px;margin:0 auto;background: url(/images/html/SpringFestivalNotice//sf_banner.jpg) no-repeat ;">
 </div>
 <!-- 内容区域 -->
 <div class="sf_title" style=" width:645px;height:82px;margin:0 auto;padding:50px 35px 40px 20px;background:#fff;">
    <h3 style="font-size:16px;color:#ff8200;font-weight:900;margin:0;padding:0;">亲爱的51Talk学员，你好！</h3>
    <p style="font-size:14px;line-height:25px;margin:0;padding:0;">2月7日至2月13日为中国法定春节假期。为方便想继续上课的学员能持续学习，51Talk在此期间将正常开
放上课，但在2月7日至2月10日期间不提供客户服务，包含400热线电话、企业QQ等所有服务，2月11日
起恢复正常上班。</p>
 </div>
<div class="sf_plan" style="margin:0 auto;width:645px;height:500px;padding:0 35px 0 20px;background:#fff;">
  <h3 style="margin:0;padding:0;margin-bottom:45px;color:#ffa800;font-size:16px;margin-top:0;">关于学员的课程有效期限我们将统一做如下安排：</h3>
  <div class="sf_plan01">
      <span style="display:block;width:100%;position:relative;">
        <i style=" margin:0;padding:0;position:absolute;left:0;display:block;height:16px; width:16px;text-align: center;line-height:16px;background:#ffa800;color:#fff;font-style:normal">1</i>
        <h4 style="text-indent:20px;margin:0;padding:0;font-size:14px;color:#1e1e1e;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑';font-weight:normal;">次卡用户的次卡有效期限将于2月14日统一往后延长7天（无需您人工致电我们）。但如果您在2月7日
至2月13日期间上了课的话，您消费的次卡数会相应地扣除；
        </h4>
     </span>
     <p style="margin: 24px auto 55px;font-size:14px;color:#999;">*例如，您拥有100次次卡，次卡有效期是到2016年3月6日，我们的系统将在2月14日自动帮您延长至3月
13日。如果您在2月7日-2月13日期间上了5节课的话，您将被相应地扣除5次次卡，剩余95次次卡。</p>
  </div>
<!--  二 -->
<div class="sf_plan01">
      <span style="display:block;width:100%;position:relative;">
        <i style=" margin:0;padding:0;position:absolute;left:0;display:block;height:16px; width:16px;text-align: center;line-height:16px;background:#ffa800;color:#fff;font-style:normal">2</i>
        <h4 style="text-indent:20px;margin:0;padding:0;font-size:14px;color:#1e1e1e;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑';font-weight:normal;">包月用户在这7天可正常约课，在2月14日会针对其没上过的课数统一延长其包月期限。
        </h4>
     </span>
     <p style="margin: 24px auto 55px;font-size:14px;color:#999;">*例如，您的包月有效期限是到2016年3月6日，并且您在2月7日-2月13日期间使用包月共上完了5天课，
系统将于2月14日延长您2天的包月期限，即您的包月期限会调整到2016年3月8日。</p>
  </div>
    <!--  二 -->
  <div class="sf_plan01 ">
      <span style="display:block;width:100%;position:relative;">
        <i style=" margin:0;padding:0;position:absolute;left:0;display:block;height:16px; width:16px;text-align: center;line-height:16px;background:#ffa800;color:#fff;font-style:normal">3</i>
        <h4 style="text-indent:20px;margin:0;padding:0;font-size:14px;color:#1e1e1e;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑';font-weight:normal;">同时拥有次卡和包月的用户，您的次卡和包月也将分别按照上述规则进行处理。
        </h4>
     </span>
     <p style="margin: 24px auto 55px;font-size:14px;color:#999;"><em style="color:#ffa800;">*</em> <span style="display:inline;color:#000;">请提前安排好您的学习，如需请假在此期间前后可登录会员中心操作请假. 如有疑问可致电客服热线：
   4000-51-51-51（免长途费）</span></p>
  </div>
  <div class="sf_line" style=" height:4px;width:100%;border-top:1px solid #ccc;"></div>
</div>
<div class="sf_wish" style=" width: 645px;margin:0 auto;padding:55px 35px 50px 20px;height:50px;position: relative;background:#fff;">
  <h3 style="font-size:16px;color:#ff8200;line-height:30px;margin:0;padding:0;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑'; ">51Talk无忧英语CEO黄佳佳携全体员工衷心祝您春节愉快！</h3>
  <h3 style="font-size:16px;color:#ff8200;line-height:30px;margin:0;padding:0;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑'; ">Hope you will enjoy the Spring Festival！</h3>
  <i style="height:100px;width:210px;display:block;position: absolute;right:10px;top:30px;background:url(/images/html/SpringFestivalNotice//sf_bot.jpg) no-repeat ;"></i>
</div>
<div class="sf_bot" style=" height:70px;width: 100%;margin:0 auto;background:#ffa800;padding-top:20px;">
  <div class="sf_botIn" style=" text-align: center;line-height:28px;font-size:13px;">
    <p style="margin:0;padding:0;">外教一对一 在线英语修行</p>
    <p style="margin:0;padding:0;">服务热线：4000-51-51-51 &nbsp;|&nbsp; 官方网站：<a href="javascript:;"style=" font-szie:12px;color:#1e1e1e;text-decoration:none;">http://www.51talk.com</a></p>
  </div>
</div>
<div class="sf_footer" style=" width:700px;height:38px;padding:20px 0;margin:0 auto;font-size:12px;">
  <p style="line-height:24px;margin:0;padding:0;">如无法正常打开此邮件，<a href="javascript:;" style=" font-szie:12px;color:#ffa800;text-decoration:none;">请点击此处</a>。使用手机阅读，<a href="javascript:;" style=" font-szie:12px;color:#ffa800;text-decoration:none;">请点击此处</a>。取消订阅，<a href="javascript:;" style="font-szie:12px;color:#ffa800;text-decoration:none;">请点击此处。</a></p>
  <p style="line-height:24px;margin:0;padding:0;">为了能正常及时收到51Talk无忧英语的会员邮件，请将 <a href="javascript:;" style=" font-szie:12px;color:#ffa800;text-decoration:none;">info@80newsletter.51talk.com</a> 添加到白名单或通讯录。</p>
</div>
 

<!-- 尾部 -->
<script src="/js/html/project/SpringFestivalNotice/vendor.js"></script>
</body>
</html>