<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="登陆51Talk">
    <title>登陆51Talk</title>
    <script src="../../../js/wap/project/tmall_landing_43365/flexible.debug.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/wap/tmall_landing_43365/wap.css">
</head>

<body class="full">
<div class="wap-main linkin" id="container"  data-init="login">
    <div class="title">
        <img src="/images/wap/tmall_landing_43365/logo.png" >
    </div>
    <div class="banner"></div>
    <!--<div class="content"></div>-->

    <section class="content content-bg" id="content">
         <p class="title">开始上课</p>
        <div class="form">
            <div class="ok">
                <img src="/images/wap/tmall_landing_43365/ok.png" alt="">
                <p>感谢您完成课程激活！您现在可以约课了。</p>
            </div>
            <ul>
       
                <li>
                    <a href="" class="start"><button class="opebtn">下载APP约课吧！</button></a>
                </li>
            </ul>
            
        </div>
    </section>
</div>

<div class="showtips_layer">
    <div class="showtips">
        <span></span>
        <em id="closeLayer">&times;</em>
    </div>
</div>
</body>

<!--公共尾部结束-->
<script id="s eajsnode" src="/js/wap/project/tmall_landing_43365/vendor.js"></script>
</html>