<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>51Talk - The No.1 online English school in China </title>
    <link rel="stylesheet" href="/css/html/childrenJob_landing/childrenJob_landing.css">
</head>
<body style="height:100%;">
    <div class="contain" id="container" data-init="childrenJob_landing" style="background:#e5e5e5;height:100%;">
        <!-- 头部 -->
        <div class="header_form">
            <div class="header_formIn">
                <div class="cj_logo">
                    <img src="/images/html/childrenJob_landing/cj_logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="main">
            <div class="cjf_top">
                <img src="/images/html/childrenJob_landing/cjf_tit01.png" alt="">
            </div>
            <!-- 流程1 -->
            <div class="cjf_contain" style="display: none;">
                <form>
                    <div class="cjf_label">
                        <span>Email Address</span>
                        <input class="cjf_bar" type="text" name="mail">
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                    <div class="cjf_label">
                        <span>Telephone No.</span>
                        <input class="cjf_bar" type="text" name="mail">
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                    <div class="cjf_label">
                        <span>Skype ID</span>
                        <input class="cjf_bar" type="text" name="mail">
                        <span class="cjf_prompt">This field is required !</span>
                    </div>
                    <div class="cjf_label"><input type="button" value="" class="cjf_submit"> </div>
                </form>
            </div>
            <!-- 流程2 -->
            <div class="cjf_contain" style="display:  ;">
                <form >
                      <div class="cjf_label">
                          <span><em>*</em>Full name</span>
                          <input class="cjf_bar cjf_bar02" type="text" name="mail" placeholder="First Name">
                          <input class="cjf_bar cjf_bar03" type="text" name="mail" placeholder="Last Name">
                          <span class="cjf_prompt">This field is required !</span>
                      </div> 
                    <div class="cjf_label">
                        <span>Date of Birth</span>
                        <div class="cjf_select">
                            <select>
                                <option>Month</option>
                                <option>Month</option>
                                <option>Month</option>
                            </select>
                             <select class="spel">
                                <option>Day</option>
                                <option>Day</option>
                                <option>Day</option>
                            </select>
                             <select>
                                <option>Year</option>
                                <option>Year</option>
                                <option>Year</option>
                            </select>
                        </div>
                        <span class="cjf_prompt">This field is required !</span>
                    </div>
                     <div class="cjf_label">
                        <span><em>*</em>Gender</span>
                        <label><input type="radio" name="gender">Male</label>
                        <label><input type="radio" name="gender">Female</label>
                        <span class="cjf_prompt">This field is required !</span>
                    </div>
                    <div class="cjf_label">
                        <span><em>*</em>Graduated From</span>
                        <input class="cjf_bar cjf_bar04" type="text" name="mail">
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                    <div class="cjf_label">
                        <span><em>*</em>Major</span>
                        <input class="cjf_bar cjf_bar04" type="text" name="mail">
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                    <div class="cjf_label">
                        <span><em>*</em>LinkedIn</span>
                        <input class="cjf_bar cjf_bar04" type="text" name="mail">
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                     <div class="cjf_label">
                        <span><em>*</em>Nationality</span>
                        <div class="cjf_select">
                            <select class="cjf_long">
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                            </select>
                        </div>
                        <span class="cjf_prompt">This field is required !</span>
                    </div>
                     <div class="cjf_label">
                        <span><em>*</em>Current position</span>
                        <div class="cjf_select">
                            <select class="cjf_long">
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                            </select>
                        </div>
                        <span class="cjf_prompt">This field is required !</span>
                    </div>
                     <div class="cjf_label">
                        <span><em>*</em>Kids teaching Experience</span>
                        <div class="cjf_select">
                            <select class="cjf_long">
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                            </select>
                        </div>
                        <span class="cjf_prompt">This field is required !</span>
                    </div>
                     <div class="cjf_label">
                        <span><em>*</em>Upload resume</span>
                        <input class="cjf_bar cjf_bar05" type="text" name="mail" placeholder="Doc / Docx / Pdf">
                        <span class="cjf_upload">
                           <!--  Upload -->
                            <div class="u_box"> 
                                <input type="file"  /> 
                                Upload 
                            </div> 
                        </span>
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                     <div class="cjf_label">
                        <span><em>*</em>Available time description</span>
                        <div class="cjf_select">
                            <select class="cjf_long">
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                            </select>
                        </div>
                        <span class="cjf_prompt">This field is required !</span>
                    </div> 
                    <div class="cjf_txt">Most of our classes take place during peak time Beijing time (6-10pm on weekdays as well as 9-11am on Saturday and Sunday). Summer peak hours (for approximately July and August) will be: 9-11am and 6-10pm Beijing time. Will you be able to commit a minimum of 7.5 hours per week?</div>
                    <div class="cjf_label"><input type="button" value="" class="cjf_submit cjf_base"> </div>
                </form>
            </div>
            <!-- 流程3 -->
            <div class="cjf_contain cjf_done" style="display:none">
                <p>Thank you for submitting your application. </p>
                <p>Your application status will be updated within the next three business days</p>
                <p>An email will be sent to notify you of your application results.</p>
            </div>

        </div>






         
    </div>
<script src="/js/html/project/childrenJob_landing/vendor.js"></script>
</body>
</html>
