<!-- 顶部 -->
<div class="wrap-header">
    <div class="header clearfix">
      <div class="left">
          客服热线：<span class="orange">400 5151 51</span>
      </div>
      <div class="right">
          <ul>
              <li class="no-l-b"><a href="javascript:;">登录</a>&nbsp;&nbsp;<a class="reg" href="javascript:;">免费注册</a><em class="hide orange">afsfdsd</em><a class="hide" href="javascript:;">消息(<span class="orange">13</span>)</a></li>
              <li>
                <a href="">关于我们</a>&nbsp;
                <a href="">企业培训</a>&nbsp;  
                <a href="">学习社区</a>
                </li> 
              <li>
                <span class="g-weibo">关注微博
                    <div class="weibo jsUl" >
                        <a href="http://weibo.com/51talk?topnav=1&amp;wvr=5&amp;topsug=1"></a>
                    </div>
                </span>&nbsp;
                <span class="g-wx">关注微信
                    <div class="weixin jsUl">
                      <a href="javascript:;"><img src="http://static.51talk.com/static/images/html/www_new/common/guan-wx.png"></a>
                  </div>
                </span>
              </li>
              <li>
                <a href="">手机客户端</a>&nbsp;
                <a href="">桌面AC教室</a>
              </li>
          </ul>  
      </div>
    </div>
</div>
