<div class="rt-side-bar">
  <ul class="bar-list">
    <li class="online">
      <span class="b-up"></span>
    </li>
    <li class="w-wx">
      <span class="b-up"></span>
    </li>
    <li class="mobile">
      <span class="b-up"></span>
    </li>
  </ul>
  <div class="b-hover"></div>
  <!-- 手机客户端链接 -->
  <div class="link-hover"></div>
  <!-- 在线咨询 -->
  <div class="u-b-ntkf" onclick="NTKF.im_openInPageChat()" data-type="1" data-url="www.51talk.com"></div>
</div>