<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk-无忧英语</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/amy2016530/amy2016530.css"></head>
<body>
	<section  id="container" data-init="share">
		<article class="top">
			<!-- <a href="http://wap.51talk.com/index/login">登录</a> -->
			<img src="/images/wap/amy2016530/amy_top.jpg"  class="topImg">
		</article>
		<article class="logIn">
			<a href="javascript:;" name="f1"></a>
			<h3>填写信息，免费体验</h3>
			<form id="reg1_form">
				<ul class="OneS_logIn">
					<li>
						<input id="reg1_tel" type="tel" name="mobile" placeholder="输入您的手机号">
					</li>
					<li>
						<input id="" class="tel_code" name="mobile_code" type="tel" placeholder="请输入验证码">
						<span class="tel_btn">获取验证码</span>
					</li>
					<li>
						<input id="reg1_passwd" type="password" placeholder="设置您的密码">        
					</li>
					<li>
						<a id="reg1" href="#" class="free">马上免费体验</a>
					</li>
			    </ul>
			</form>
		</article>
		<article class="center">
			<h3>选择 51Talk 的4大理由</h3>
			<ul class="item">
				<li>
					<a class="borderG"><img src="/images/wap/amy2016530/amy11.jpg"></a>
					<i class="right">1.</i>
					<p>免费学习20讲</br>italk视频口语课程</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/amy2016530/amy22.jpg"></a>
					<i class="left">2.</i>
					<p>25分钟随时随地学习</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/amy2016530/amy33.jpg"></a>
					<i class="right">3.</i>
					<p>365天免费学习51Talk公开课</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/amy2016530/amy44.jpg"></a>
					<i class="left">4.</i>
					<p>超高性价比，价格仅为</br>其他机构的25%</p>
			    </li>
			</ul>
		</article>
		<footer>
			<img src="/images/wap/amy2016530/amy_bottom.jpg" alt="">
			<a href="#f1">马上注册，体验免费外教课</a>
			<p>Copyright©北京大生知行科技有限公司</p>
		</footer>
	</section>
</body>
<script src="/js/wap/project/amy2016530/vendor.js" id="seajsnode"></script> 
</html>