<% include ../common/uc_top.ejs %>
<body>
	<% include ../common/uc_header.ejs %>
	<div class="g-bd">
		    <div class="gw new_edm" id="container" data-init="unAccount">
					<h3>您确定要退订51Talk周刊么？</h3>
					<p>您可能会错过：</p>
					<p>最新优惠活动</p>
					<p>不定期奖品发放</p>
					<p>精选优质内容...</p>
					<a href="#" target="_back">再想想</a>
					<a href="#" target="_back" class="last-td">退订</a>
		    </div>
		</div>
	</div>
	<% include ../common/uc_footer.ejs %>
</body>
<% include ../common/uc_bottom.ejs %>