<% include ../common/uc_top.ejs %>
<body>
	<% include ../common/uc_header.ejs %>
	<div class="g-bd">
		    <div class="gw new_edm" id="container" data-init="unAccount">
					<h3>您已成功退订！</h3> 
					<p><b>再次订阅请点击：</b><a href="#" target="_back" class="sup_link">订阅</a></p>
		    </div>
		</div>
	</div>
	<% include ../common/uc_footer.ejs %>
</body>
<% include ../common/uc_bottom.ejs %>