@charset "utf-8";

@import "../common/uc_sidebar.less";


@imgPathProject: "../../../images/html/uc_junior/";

.m-certificate-op {
    border-bottom: 1px solid #e4eaee;
}
.m-certificate-op .m-hd .banner {
    height: 42px;
    background: #4f8cdf url("@{imgPathProject}cer_banner.jpg") no-repeat;
    padding: 60px 0 0 144px;
    position: relative;
    border-bottom: 1px solid #e4eaee;
}
.m-certificate-op .m-hd h1 {
    font-size: 20px;
    color: #fff;
}
.m-certificate-op .m-hd .face {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 24px;
    left: 24px;
    border-radius: 50%;
}
.m-certificate-op .m-hd .share {
    height: 40px;
    position: relative;
    border-bottom: 1px solid #e4eaee;
}
.m-certificate-op .bbs {
    border-bottom: 1px solid #e4eaee;
}
.m-certificate-op .group {
    padding-left: 24px;
}
.m-certificate-op .bottom {
	position: relative;
    height: 100px;
    a {
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	margin-top: -18px;
    	margin-left: -68px;
    	display: block;
    	text-align: center;
    	color: #FFFFFF;
    	width: 135px;
    	height: 35px;
	   	background: #ff8200;
	   	line-height: 34px;
	   	border-radius: 2px;
    }
}
.f-pr {
    position: relative;
}
.m-certificate-op .group h2 {
    padding: 24px 0 18px;
    font-size: 16px;
    color: #ff8200;
}

.m-certificate-op .group .t-h2 {
    padding: 40px 18px 12px 0;
    font-size: 16px;
    color: #ff8200;
}
.m-certificate-op .group .u-text {
    width: 556px;
    font-size: 13px;
    line-height: 28px;
    color: #1e1e1e;
}
.m-certificate-op .group .u-welcom {
    width: 800px;
    line-height: 45px;
}
.m-certificate-op .group .u-info {
    width: 800px;
}

.m-certificate-op .group .u-exp {
	width: 800px;
    color: #999999;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-certificate-op .group .medal {
    position: absolute;
    height: 140px;
    width: 119px;
    right: 74px;
    top: 24px;
}
.m-certificate-op .cerlist {
    padding-bottom: 26px;
}
.m-certificate-op .cerlist li {
    float: left;
    padding: 50px 16px 0 0;
    position: relative;
}

.m-certificate-op .cerlist .f-left {
    float: left;
    margin-left: 110px;
}

.m-certificate-op .cerlist .f-right {
    float: right;
    margin-right: 110px;
}

.m-certificate-op .cerlist .u-mask {
    position: absolute;
    width: 261px;
    height: 145px;
    left: 0;
    top: 50px;
    vertical-align: middle;
    background: #fff;
    filter: alpha(opacity=80);
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    padding-top: 75px;
}
.m-certificate-op .cerlist .u-mask p {
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #000;
}
.m-certificate-op .bbd {
    border-bottom: 1px dotted #e4eaee;
    padding-bottom: 11px;
}
.m-certificate-op .m-ft .u-btn {
    width: 276px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border: none;
    color: #fff;
    background: #ff8200;
    margin: 35px auto 14px;
    display: block;
    border-radius: 3px;
}
.m-certificate-op .m-ft .u-text {
    font-size: 13px;
    color: #999;
    text-align: center;
    margin-bottom: 30px;
}

.m-dialog .in {
    border-radius: 5px;
    position: relative;
    top: 20%;
    left: 50%;
    width: 800px;
    padding: 25px;
    margin-left: -400px;
    overflow: hidden;
    background-color: #f7f7f7;
}
.m-dialog .hd {
    padding-top: 6px;
    padding-bottom: 20px;
}
.m-dialog .pb {
    padding-bottom: 0;
}
.m-dialog .bd {
    position: relative;
    color: #000;
    line-height: 1.75;
    overflow-x: hidden;
    overflow-y: auto;
}
.m-dialog .certificate {
    _width: 758px;
    background: #fff;
    border: 1px solid #dbdee0;
    padding: 20px;
}

.m-dialog .certificate .title {
    color: #ff8200;
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-lab .u-txt {
    height: 30px;
    line-height: 30px;
    color: #000000;
}
.m-dialog .certificate .group {
    width: 100%;
    height: 30px;
    padding-bottom: 15px;
}
.m-dialog .certificate .group.f-cb {
    height: auto;
}
.u-lab {
    display: inline-block;
    vertical-align: middle;
}
.m-dialog .certificate .group .u-lab {
    float: left;
}

.m-dialog .certificate .group .w82 {
    width: 82px;
    text-align: right;
    margin-right: 5px;
}
.m-dialog .certificate .group .input_tx {
    width: 200px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    _padding-top: 5px;
    _height: 23px;
    _line-height: 23px;
    border: 1px solid #aaa;
    float: left;
}
.m-dialog .certificate .group .error {
    margin-left: 10px;
    color: #e10c0c;
    float: left;
}
.u-btn.md {
    height: 33px;
    line-height: 33px;
    font-size: 15px;
}
.m-dialog .w88 {
    width: 88px;
}
.u-btn.active:hover {
    color: #fff;
}

.zn-f {
    display: none;
    position: relative;
}
.zn-f a {
    position: absolute;
    width: 270px;
    left: 50%;
    margin-left: -135px;
    top: 50%;
    margin-top: -8px;
}
.zn-fr {
    color: #ff8200;
    margin-right: 24.81px;
    margin-top: 12px;
}
.zn-get {
    position: relative;
    width: 818px;
    height: 175px;
    background: url("@{imgPathProject}cer_flow.png");
    vertical-align: middle;
    color: #1e1e1e;
    .classic{
        position: absolute;
        top: 152px;
        left: 93px;
    }
    .lastLevel {
        position: absolute;
        top: 152px;
        left: 299px;
    }
    .mail {
        position: absolute;
        top: 152px;
        left: 574px;
    }
}

//级别测试改为非强制性 弹窗
.m-dialog{
  .level-status{
    background:#fff;border:1px solid #e4eaee;
    text-align: center;
    ul{
      padding: 60px 0;
      margin: 0 auto;
      display: inline-block;
      *display: inline;
    }
    li{
      float: left;
      width: 128px;
      margin-right: 50px;
      border-radius: 3px;
      border:1px solid @hoverColor;
      &.last{
        margin-right: 0;
      }
      &.finish{
        background: @hoverColor;
        .status{
          background-position: 0px -3px;
        }
        .level{
          border-top: 1px solid #fff;
        }
      }
    }
    .level{
      color:#fff;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      background: @hoverColor;
    }
    .status{
      width: 70px;
      height: 70px;
      margin: 10px auto;
      background: url('@{imgPath}menber/ue/sprites_status.png') 4px -75px no-repeat;
    }
  }
}