<% include ../common/reg_top.ejs %>
<body>
	<% include ../common/reg_header.ejs %>
	<section class="order">
	    <article>
	        <aside>
	            <img src="<%= imagessrc%>banner_home3.jpg" class="icon">
	            <br>Marry
	            <span class="star sa3"></span>
	        </aside>
	        <dl>
	            <dt>老师上课时间</dt>
	            <dd>2013-11-02 周四</dd>
	            <dd>22:15-22:40</dd>
	            <dd>综合英语>>51Talk经典英语在家学习英语的好方法</dd>
	            <dd>Descibing where to spend the weekend</dd>
	        </dl>
	    </article>
	    <span>您缺席了体验课无法获得水平定级，请拨打免费热线4000515151重新预约一节体验课。</span>
	    <span><font>如需购买课程，请在电脑上登录51Talk网站购买。</font></span>
	</section>
	<footer style="display:none;">
	    <aside class="second">   
	        <a href="#"><img src="<%= imagessrc%>/base.png"></a>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<% include ../common/reg_bottom.ejs %>