<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语公开课</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/weChatLive/weChatLive.css"></head>
<body>
		<div class="gameover" data-init="chatlive">
			<header>
					<img src="/images/wap/weChatLive/g_banner.jpg" class="comImg" />
					<ul class="w_txt">
							<li>
									<h3>《神奇校车》公开课</h3>
							</li>
							<li>
									8月19日 19:00-20:00
							</li>
					</ul>
			</header>
			<section>
					<div class="tip">
							<i></i>
							<p>加小助手微信，</p>
							<p>发现更多有趣课程吧！</p>
					</div>
					<img src="/images/wap/weChatLive/g_weixin.png" class="comImg g_weixin">
					<p class="user">
							<img src="/images/wap/weChatLive/w_weixin.png" class="g_icon" />
							<span>小助手：<em>51Talk_XZS</em></span>
					</p>
					<p>长按识别二维码</p>
			</section>
			 
		</div>
</body>
<script src="/js/wap/project/weChatLive/vendor.js" id="seajsnode"></script> 
</html>