<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语公开课</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/weChatLive/weChatLive.css"></head>
<body>
		<div class="nickname" data-init="chatlive">
				<h3>学员昵称<span>填写昵称更加方便与老师沟通哦~</span></h3>
				<input type="text" class="n_txt" placeholder="北京-Jimmy家长-张先生" />
				<span class="n_tip">请输入昵称！</span> 
				<!-- <a href="javascript:;" class="n_btn">进入教室</a> -->
				<a href="javsctipt:;"><input type="submit" class="n_btn" value="进入教室"  /></a>

		</div>
</body>
<script src="/js/wap/project/weChatLive/vendor.js" id="seajsnode"></script> 
</html>