@import "../common/www/base.less";
@imgPath: "../../../images/html/oralSH_landing/"; 
.oralSH{
  // ::-webkit-input-placeholder {  
  // color: #999; 
  // } 
  // :-moz-placeholder {  
  // color: #999; 
  // } 
  // ::-moz-placeholder {  
  // color: #999; 
  // } 
  // :-ms-input-placeholder { 
  // color: #999; 
  // } 
  .sh_banner{
    height:612px;
    width:100%;
    background: #ffc600;
    position: relative;
    .sh_banner_top{
      position: absolute;
      top:0;
      height:188px;
      width:100%;
      background:url("@{imgPath}sh_bannerTop.jpg") no-repeat center top;
    }
    .sh_banner_bottom{
      position: absolute;
      bottom: 0;
      height:312px;
      width:100%;
      background:url("@{imgPath}sh_bannerBottom.jpg") no-repeat center top;
    }
    .sh_tit{
      position: absolute;
      height:132px;
      width: 660px;
      top:140px;
      left:50%;
      margin-left:-330px;
    }
  }
  .sh_gray{
    height:68px;
    width: 100%;
    background:#6b6b6b; 
    text-align: center;
    font-size: 20px;
    color:#fff;
    line-height: 68px;
  }
  .oralSH_form{
    background: #fff;
    overflow: hidden;
    padding-top:38px;
    padding-bottom: 60px;
    .oralSH_form_center{
      width:490px;
      min-height:100px;
      margin:0 auto;
      .sh_group{
        height:102px;
        width:100%;
        position: relative;
        input{
          // height:56px;
          // line-height: 56px;
          padding:20px 0;
          width:488px;
          border:1px solid #ccc;
          font-size:16px;
          border-radius: 8px;
          text-indent:106px; 
          background: #eee;
          color:#6a6a6a;
          position: absolute;
          left:0;
          top:0;
        }
        p{
          position: absolute;
          font-size:16px;
          font-weight: 900;
          color:#6a6a6a;
          left:25px;
          top:50%;
          margin-top:-30px;
          
        }
        .sh_arrow{
          display:block;
          height:48px;
          width:48px;
          background:url("@{imgPath}sh_arrow.png") no-repeat center top;
          position: absolute;
          right:5px;
          top:5px;
          cursor: pointer;
        }
        .sh_class_list{
          position: absolute;
          right:0;
          z-index:9999;
          background: #fff;
          width:164px;
          height:auto;
          border:1px solid #ccc;
          a{
            display: block;
            height:24px;
            width:136px;
            line-height:24px;
            font-size:14px;
            color:#6f6d6d;
            text-align: center;
            margin:0 auto;
            border-bottom:2px solid #ccc;
          }
          .border0{
            border:none;
          }
        }
      }
      .sh_class{
        input{
          text-indent: 96px;
        }
      }
      .sh_message{
        position: relative;
        input{
          text-indent: 25px;
          width:62%;
          float: left;
        }
        a{
          display: inline-block;
          text-align: center;
          height:60px;
          width: 35%;
          line-height: 60px;
          background-color: #ffc600;
          color:#fff;
          font-size: 20px;
          float: left;
          margin-left: 2%;
          border-radius: 8px;
          -moz-border-radius:8px;
          position: absolute;
          right:0;
          top:0;
        }
      }
      .sh_submit{
        a{
          display: block;
          font-size: inherit;
          height:78px;
          width: 396px;
          margin:0 auto;
          background:url("@{imgPath}sh_btn.png") no-repeat center top;
        }
      }
    }

  }
  .footer{
    height: 40px;
    width: 100%;
    background: #6b6b6b;
    text-align: center;
    line-height: 40px;
    color:#fff;
    font-size: 15px;
    a{
      color:#ffc600;
    }
  }
}