<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="520就要疯狂学">
    <title>520就要疯狂学。</title>
    <script src="../../../js/wap/project/520pintuan_43061_201705/flexible.debug.js"></script>
    <script src="../../../js/wap/project/520pintuan_43061_201705/weixin.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/wap/520pintuan_43061_201705/wap.css">
</head>

<body class="full">
<div class="wap-main" id="container"  data-init="main">
    <header class="header" id="header-normal">
        <img src="/images/wap/520pintuan_43061_201705/banner.jpg">
        <div class="logo">
            <img src="/images/wap/520pintuan_43061_201705/logo.png" alt="">
        </div>
        <div class="time">
            <input type="hidden" id="cur-time" value="1494385277344">
            <input type="hidden" id="app-type" value="0">
            <span>活动剩余时间</span>
            <span>|</span>
            <span class="black-fill" id="days">15</span>
            <span>天</span>
            <span class="black-fill" id="hours">15</span>
            <span>时</span>
            <span class="black-fill" id="minutes">15</span>
            <span>分</span>
        </div>
    </header>

    <section class="content content-bg" id="content">

        <div class="courses-container">
            <div class="title">
                <span class="left-title">活动套餐牵手价<span class="react"></span></span>
                <span id="desc-txt" class="description-txt">套餐说明</span>
            </div>
            <div class="courses">
                <img  src="/images/wap/520pintuan_43061_201705/tc1.jpg">
                <img src="/images/wap/520pintuan_43061_201705/tc2.jpg">
            </div>
            <p id="pintuan">邀Ta一起学</p>
        </div>

        <div class="rule">
            <hr>
            <div>
                <span>.</span>
                / 活动规则 /
                <span>.</span>
            </div>
            <ul>
                <li>
                    1、活动起止时间：5月18日至5月21日；
                </li>
                <li>
                    2、分享活动至朋友圈享受牵手价；
                </li>
                <li>
                    3、凡成功邀请好友付费的学员享受200元京东卡（每天限前100位）；
                </li>
                <li>
                    4、活动结束后的15个工作日内，将京东卡发放完毕；
                </li>
                <li>
                    5、请学员注意查收短信息；
                </li>
                <li>
                    6、该奖励发放后产生退费行为，扣除奖励面值的金额；
                </li>
                <li>
                    7、活动所有解释权归51Talk所有。
                </li>
            </ul>
        </div>

        <div class="friend-list">
            <hr>
            <div class="title">
                <span>.</span>
                / 看看好友怎么选 /
                <span>.</span>
            </div>
            <ul>
                <li>
                    <div class="friend">
                        <div class="circle">
                            <img src="/images/wap/520pintuan_43061_201705/girl.png">
                        </div>
                        <span>隔壁阿花</span>
                    </div>
                    <div class="course-name">
                        180次最佳学习效果套餐
                        <img src="/images/wap/520pintuan_43061_201705/flag.png">
                    </div>
                </li>
                <li>
                    <div class="friend">
                        <div class="circle">
                            <img src="/images/wap/520pintuan_43061_201705/girl.png">
                        </div>
                        <span>隔壁阿花</span>
                    </div>
                    <div class="course-name">
                        180次最佳学习效果套餐
                        <img src="/images/wap/520pintuan_43061_201705/flag.png">
                    </div>
                </li>

            </ul>
        </div>

    </section>
    <!--<footer class="share-footer">-->
    <!--<input id="is_show" type="hidden" value="1">-->
    <!--<p>邀请好友一起说英语<span id="invite-btn">立即邀请</span></p>-->
    <!--</footer>-->
</div>

<div class="weixin-share-cont hide">
    <p>请点击右上角分享</p>
    <input type="hidden" id="wx-title" value="51Talk为爱买单，1对1外教课一节低至30元">
    <input type="hidden" id="wx-description" value="520天荒地老，我们一起在51talk更好">
    <!--<input type="hidden" id="wx-url" value="http://wap.51talk.com/activity/invite?pid=12347465">-->
    <input type="hidden" id="wx-imgUrl" value="">
</div>

<div class="introduce hide">
    <div class="mask"></div>
    <div class="dialog-outer">
        <div class="title">
            <p>套餐说明</p>
        </div>
        <div class="content">
            <p>1、"最佳学习效果套餐"为特惠套餐，外教每月按照15次课程匹配，相关成本每月发生，因此每月未完成15次课时将不能在次月和以后补课，为了学习效果请您每月保障15次以上一对一学；</p>
            <p>2、总有效期到期时，未使用的课程将失效，有效期无法延长。</p>
        </div>
        <div class="close">
            <img src="/images/wap/520pintuan_43061_201705/close.png"  alt="" id="introduceCloseBtn">
            <div class="line"></div>
        </div>
    </div>
</div>

<div class="weixin-share-tip hide">
    <div class="mask"></div>
    <div class="content">
        <img src="/images/wap/520pintuan_43061_201705/share-tip.png"  alt="">
        <p id="getIt">知道了</p>
    </div>

</div>

<div class="showtips_layer">
    <div class="showtips">
        <span></span>
        <em id="closeLayer">&times;</em>
    </div>
</div>

<div class="share-cont hide">
    <ul class="share-list">
        <li class="item">
            <a href="/Activity/handInHand?pid=&from_type=weixin&page_id=&page_name=">
                <img src="/images/wap/520pintuan_43061_201705/weixin.png"  alt="">
                <span>微信</span>
            </a>
        </li>
        <li class="item">
            <a href="/Activity/handInHand?pid=&from_type=weixin&page_id=&page_name=">
                <img src="/images/wap/520pintuan_43061_201705/friends.png"  alt="">
                <span>朋友圈</span>
            </a>
        </li>
        <li class="item">
            <a href="/Activity/handInHand?pid=&from_type=weibo&page_id=&page_name=">
                <img src="/images/wap/520pintuan_43061_201705/weibo.png"  alt="">
             <span>微博</span>
            </a>
        </li>
        <div style="clear:both"></div>
        <!--<li class="item">-->
            <!--<a href="/Activity/handInHand?pid=&from_type=duanxin&page_id=&page_name=">-->
                <!--<img src="/images/wap/520pintuan_43061_201705/message.png"  alt="">-->
                <!--<span>短信</span>-->
            <!--</a>-->
        <!--</li>-->
        <li class="item">
            <a href="/Activity/handInHand?pid=&from_type=qq&page_id=&page_name=">
                <img src="/images/wap/520pintuan_43061_201705/qq.png"  alt="">
                <span>QQ</span>
            </a>
        </li>
    </ul>
    <p id="cancle-share">取消</p>
</div>
</body>

<!--公共尾部结束-->
<script id="s eajsnode" src="/js/wap/project/520pintuan_43061_201705/vendor.js"></script>
</html>