
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>51Talk美国小学课程</title>
    <link href="/css/html/north_america_introduce/north_america_introduce.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="introduce" class="container">
      <div class="topbar">
        <div class="logo"></div>
        <div class="privilege">
          <div class="price">
            <div class="number"> <em>¥</em>6999</div>
            <del class="del">市场价 ¥9049</del>
          </div>
          <div class="red-packet"><img src="/images/html/north_america_introduce/red_packet.png" alt="推荐好友成功购买领 500 元现金红包"/></div>
        </div>
      </div>
      <div class="flow clearfix">
        <h1>参与流程</h1>
        <div class="step-list">
          <dl>
            <dt class="step-frist step"></dt>
            <dd>
              <p>微信扫二维码</p>
              <p>分享好友或朋友圈</p>
            </dd>
          </dl>
          <dl>
            <dt class="step-second step"></dt>
            <dd>
              <p>好友填写资料</p>
              <p>提交报名</p>
            </dd>
          </dl>
          <dl>
            <dt class="step-third step"></dt>
            <dd>
              <p>48小时内专属课程顾问</p>
              <p>联系好友赠送体验课</p>
            </dd>
          </dl>
          <dl>
            <dt class="step-fourth step"></dt>
            <dd class="special">
              <p>好友成功购买</p>
            </dd>
          </dl>
          <dl>
            <dt class="step-fifth step"></dt>
            <dd>
              <p>购买日30天后</p>
              <p>你可获赠500元现金红包</p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="scan">
        <h1></h1><img src="/images/html/north_america_introduce/temp.jpg"/>
      </div>
      <div class="recommend-desc">
        <h1>推荐福利说明</h1>
        <ul class="clearfix">
          <li>内部推荐活动长期有效，内购价仅限51Talk新注册用户；</li>
          <li>内购优惠价仅针对美小8单元课程套餐，其它套餐不享受内购优惠；</li>
          <li>推荐好友购买，好友同享员工内购价；</li>
          <li>好友成功购买30天后，您即可获得500元红包奖励。（如好友退款，则不获得奖励）；</li>
          <li>红包可累计，无上限，不封顶！10位好友成功购买，即可获得5000元！你懂的~</li>
          <li>如有其它问题，请联系qihuiying@51talk.com。</li>
        </ul>
      </div>
    </div>
    <script src="/js/html/project/north_america_introduce/vendor.js" type="text/javascript" id="seajsnode"></script>
  </body>
</html>