<% include ../common/top.ejs %>
<body>
<section id="pw_wrapper">
  <article id="container" data-init="collector">
	<h1>图片学词</h1>	
	<p>一天5分钟，一月300词<br/>背了几年的单词？效果如何？？<br/>别哭了，是时候和枯燥低效的字典分手了！</p>
	<time>6月25日</time>
	<a id="start" href="http://www.baidu.com">开始学习</a>
  </article>
</section>
</body>
<% include ../common/bottom.ejs %>
