<% include ../common/top.ejs %>
<body>
	<section id="uc_wrapper">		
		<article id="container" data-init="pronounce">
			<div id="vol" class="switch-on switch"><i></i></div>
			<h2>理解一致，意味着建立了初步的英语思维</h2>	
			<img id="p-sound" src="<%= imagessrc%>pw_img07.jpg">
			<!-- <p class="t-en">The <span class="stressed">football<span class="t-speech">[ˈfʊtbɔ:l]</span></span> is white </p> -->
			<p class="t-en">Town gardens are ideal because they <span class="stressed">produce flowers<span class="t-speech">/sku:l əv mæθə'mætɪks/</span></span> nearly all year round.</p>
			<p class="t-zh">课记录放假考课记录放假考课记录放假考虑到高峰看见<span class="stressed">看见</span>是白色的</p>
			<audio id="p-audio" src="md.mp3"></audio>
		</article>
	</section>
	<div class="l-down">
		<div class="l-div">
			<a href="javascript:;" onclick="submit(this, 1)">理解一致</a>
			<a href="javascript:;" onclick="submit(this, 0)">理解不了</a>
			<form id="c_col" action="http://www.baidu.com" method="post" style="display: none">
				<input type="hidden" id="c_result" name="result"/>
			</form>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>
