<% include ../common/top_b2s.ejs %>
	<link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>pay_tips.css">
</head>
<body>
<div class="pay-tips-wrap">
	<div class="pay-tips-tit">51Talk美国小学课程</div>
	<div class="pay-tips-con2">
		<img src="<%= imagessrc%>pay-tips-02.png" />
		<p class="con-tips1">无法购买</p>
		<p class="con-tips2">本课程仅对新用户开放哦</p>
	</div>
	<div class="pay-tips-bot2">联系客服获取更多支持</div>
</div>
</body>
<% include ../common/bottom.ejs %>