@charset "utf-8";
@import "../common/base.less";
@imgPath: "../../../images/wap/lina_landing/";
/*
* amy着陆页
* @file：   ln20150914.less
* @author:  zhangtian（zhangtian@51talk.cn）
* @update:  2015-09-14
* @note:    李娜wap着陆页
*/
/*amy着陆页*/
section{
	height: auto;
	background-color: #fff;
	min-width: 320px;
    max-width: 640px;
    margin:0 auto;
}
.top{
	position: relative;
	width: 100%;
	.topImg{
		display: block;
		width:100%;
		-margin-bottom: 1.6rem;
	}
	.top_bt{
		position:relative;
	}
	.topBtn{
		position: absolute;
		top: 0.5rem;
		left: 54%;
		font-size: 1.3rem;
		padding:0.7rem 3.6rem;
		background-color: #fff;
		border-radius: 5px;
		color: #000;
		font-weight: bolder;

	}
	.topBtn-login{
		position: absolute;
		top: 2.8rem;
		right: 2.5rem;
		font-size: 1.2rem;
		padding:0.3rem 1.4rem;
		border-radius: 5px;
		border:2px solid #000;
		color: #000;
		font-weight: bolder;
	}
	.OneS_logIn{
		margin-top: 2.2rem;
		margin-bottom: 2.2rem;
		right: 5rem;
		bottom:3.4rem;
		li{
			text-align: center;
			height: 3.4rem;
			margin:0 2rem;
			margin-bottom: 1.5rem;
			border:1px solid #626161;
		}
		.OneS_last{
			margin:0 2rem;
			border:none;
		}
		input{
			color: #626161;
			background-color: #fff;
			height: 100%;
			width: 100%;
			font-size: 1.6rem;
			text-align: center;
		}
		a{
			display:block;
			font-size: 1.8rem;	
			height: 3.4rem;
			line-height: 3.4rem;
			width: 100%;
			background-color: #fcc800;
			color: #2a2a2a;
			border-radius: 5px;
			text-align: center;
		}
	}
}
.center{
	padding-top: 1.7rem;

	li{
		position: relative;
		text-align: center;
		padding-bottom: 2.7rem;
		i{
			width: 3.55rem;
			height: 3.55rem;

			position: absolute;
			font-size: 1.5rem;
			background-color: #fcc800;
			border-radius: 50%;
			color: #fff;
			font-weight: bold;
			font-style:italic ;
			display: -ms-flexbox;
			-ms-flex-align:center;
			-ms-flex-pack:center;

			display: -moz-box;
			-moz-box-align:center;
			-moz-box-pack:center;

			display: -webkit-box;
			-webkit-box-pack:center;
			-webkit-box-align:center;

			line-height: 3.55rem;
			/*display: flexbox;
			flex-pack:center;
			flex-align:center;*/
			&.right{
				left: 56%;
				top:-0.5rem;
			}
			&.left{
				left: 34%;
				top:-0.5rem;
			}
		}
	}
		
	p{
		font-size: 1.4rem;
		line-height: 1.8rem;
		/*margin-bottom: 3.5rem;*/
	}
	img{
		width: 11rem;
		height: 11rem;
		margin-bottom: 0.4rem;
		border-radius: 100%;
	}
	.borderG{
		display: inline-block;
		width: 11rem;
		height: 11rem;
		border:#f2f1f0 0.5rem solid;
		border-radius: 100%;
	}
}
.bg_c{
	background-color: #fbfbfb;
}
.centTit{
	color: #626161;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 3.5rem;
	.c_t_b{
		display: inline-block;
		border-bottom: 2px solid #909090;
		position: relative;
	}
	.c_t_bs{
		position: absolute;
		width: 1.7rem;
		height: 0.6rem;
		bottom: -0.6rem;
		left: 50%;
		margin-left: -0.85rem;
		background: url("@{imgPath}lnbg3.png") left top no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
}
.centerT{
	padding:1.7rem 2rem 0;
	dl{
		overflow: hidden;
		margin-bottom: 2.3rem;
	}
	dt{
		float: left;
	}
	dd{
		color: #3a3a3a;
		padding-top: 0.9rem;
		.centTL{
			height: 2rem;
			line-height: 2rem;
		}
		.centL{
			font-size: 1.4rem;
			float: left;
			width: 25%;
			font-weight: bold;
			position: relative;
			text-align: center;
			background-color:#e6e6e6;
			margin-right: 0.5rem;
		}
		.centTL_r,.centB_r{
			position: absolute;
			width: 0.75rem;
			height: 2rem;
		}
		.centTL_r{
			background:url("@{imgPath}lnbg1.gif") left top no-repeat;
			right:-0.75rem;
			top:0;
			z-index: 3;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
		.centB{
			float: left;
			width: 46%;
			height: 100%;
			position: relative;
			text-align: center;
			border-left:none;
			background:url("@{imgPath}lnbg4.gif") left top no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;

		}
		.centText{
			line-height: 1.8rem;
			margin-top: 1.1rem;
			padding-left: 7.7rem;
		}
	}
	img{
		border:0.5rem solid #e6e6e6;
		width: 6.4rem;
	}
}


footer{
	background-color: #f1f1f1;
	color:#828282;
	padding:2.75rem 2.6rem 2.5rem;
	h3{
		font-size: 1.2rem;
		font-weight: bold;
		height: 2.4rem;
	}
}
.reports{
	.rImg{
		overflow: hidden;
	}
	li{
		float: left;
		width: 33.3%;
		margin-bottom: 2.1rem;
		text-align: center;
		img{
			width:7.8rem;
		}
	}
}
.coo_en{
	li{
		float: left;
		margin-bottom: 2.1rem;
		text-align: center;
		img{
			height: 2.35rem;
			/*vertical-align: middle;*/
		}
	}
	.rImg1_1{
		margin-top:1.5rem;
		overflow: hidden;
		li{
			width: 33.3%;
		}
	}
	.rImg1_2{
		overflow: hidden;
		li{
			width: 50%;
		}
	}
}
.honor{
	.hImg{
		overflow: hidden;
	}
	li{
		width: 50%;
		float: left;
		margin-bottom: 2.3rem;
		
		text-align: center;
		margin-bottom: 1.5rem;
		img{
			width:7rem;
			margin-bottom: 0.7rem;
		}
		&.wMin{
			background: url("@{imgPath}bottomL.gif") right top no-repeat;
			-webkit-background-size: ;
			background-size: ;

		}
		/*&.mini{
			width: 24%;
		}
		&.miniR{
			width: 36%;
		}
		&.miniL{
			width: 39%;
		}*/
	}
	
	a{

		color: #828282;
		width: 100%;
		line-height:1.3rem; 
		font-size: 0.6rem;
	}
}
.rlmg-btn{
	height: 7.5rem;
	background-color: #696969;
	text-align: center;
	padding-top: 1.5rem;
	.lmg{
		display: block;
		margin:0 5.5rem;
    font-size: 1.3rem;
    height: 3.4rem;
    line-height: 3.4rem;
    background-color: #fcc800;
    color: #2a2a2a;
    border-radius: 5px;
    text-align: center;
	}
}


//设置placeholder默认属性
input::-moz-placeholder { color: #626161;}
input::-webkit-input-placeholder { color:#626161; }
input:-ms-input-placeholder { color:#626161; }
//消除number默认样式
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
}





















































