<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/amy_landing/amy_landing.css">
</head>
<body>
	<section id="container" data-init="eng">
		<article class="top">
			<article class="topT">
				<img src="/images/wap/amy_landing/eth_nav.jpg"  class="topImg" alt="">
			</article>
			<a href="javascript:;" name="logIn"></a>
			<!-- <p class="top_t">注册后，可<span>免费</span>获得价值188元外教1对1体验课，<br>和51Talk每月上百节<span>免费</span>公开课！</p> -->
			<p class="top_t">填写信息，免费体验</p>
			<form id="reg1_form">
				<div class="reg1_form">
					<ul class="OneS_logIn">
			      <li>
			        <input type="number" placeholder="请输入您的手机号" id="reg1_tel">
			      </li>
			      <li>
			        <input type="password" placeholder="请设置您的密码" id="reg1_passwd">        
			      </li>
			      <li class="OneS_last">
			        <a href="javascript:;" class="free" id="reg1" >进入学习中心试学</a>
			      </li>
			    </ul>
			    <div class="login_btn">
			    	 <p>已经是会员，请<a href="javascript:;">登录</a></p>
			    </div>
			   
			  </div>
		  </form>
		</article>
		<article class="center bg_c">
			<h3 class="centTit"><span class="c_t_bt">怎样学好英语</span><br><span class="c_t_bb">HOW TO LEARN ENGLISH WELL<i class="c_t_bs"></i></span></h3>
			<ul class="centList">
				<li>外教1对1</li>
				<li>高频次学习</li>
				<li>低至15元/课</li>
			</ul>
		</article>
		<article class="cer-img">
			<img src="/images/wap/amy_landing/eth_img01.jpg" alt="">
			<img src="/images/wap/amy_landing/eth_img02.jpg" alt="">
		</article>
		<article class="centerTt">
				<h3 class="centTit"><span class="c_t_bt">星光璀璨</span><br><span class="c_t_bb">THE STARS SHINING<i class="c_t_bs"></i></span></h3>
				<img src="/images/wap/amy_landing/general2.jpg" class="bottomImg" alt="">
		</article>
		<article class="centerT">
			
			<dl>
				<dt><img src="/images/wap/amy_landing/leij.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">雷&emsp;军<i class="centTL_r"></i></span><span class="centB">小米手机董事长<i class="centB_r"></i></span></h3>
					<p class="centText">“51Talk做到25分钟教学15元价钱，这是天大的好事，可以让更多人学好英语！”</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="/images/wap/amy_landing/xux.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">徐小平<i class="centTL_r"></i></span><span class="centB">新东方联合创始人<i class="centB_r"></i></span></h3>
					<p class="centText">“要想全球walk，就来51Talk。让更多的人从51talk物美价廉的教学中获益。”</p>
				</dd>
			</dl>
		
		</article>
		
		<footer class="footer">
			<a href="#logIn" class="free">马上注册，体验免费外教课</a>
			<p>Copyright©北京大生知行科技有限公司</p>
		</footer>
	</section>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/amy_landing/vendor.js"></script>
</html>










