<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/thanks_giving_day/thanks_giving_day.css">
</head>
<body>
<section id="container" data-init="give">
	<img src="/images/wap/thanks_giving_day/logo.png" alt="" class="logo">
	<article>
		<img src="/images/wap/thanks_giving_day/banner.png" alt="" class="banner">
	</article>
	<article class="m-firsted">	
		<div class="m-form">
			<ul class="m-list">
				<li class='m-list-01'>
					<span class="u-caption">收件人姓名：</span>
					<input type="text" id="r_name" class="r_name" placeholder="请输入姓名(最多可输入5个字)">
				</li>
				<li class='m-list-02'>
					<span class="u-caption">温馨寄语：</span>
					<textarea type="text" id="w_message" placeholder="请输入祝福(最多可输入60个字)"></textarea>   
				</li>
				<li class='m-list-03'>
					<span class="u-caption">寄件人姓名：</span>
					<input type="text" id="s_name" placeholder="请输入姓名(最多可输入5个字)">
				</li>
			</ul>
			<div class="send-wrap">
            	<img src="/images/wap/thanks_giving_day/icon_01.png" alt="" class="u-icon">
				<img src="" alt="">
				<a href="javascript:;" id='submit' class="u-btn">送TA感恩节大礼包</a>
				<p class="u-tit">★（内含一节1对1北美外教体验课）</p>
			</div>
		</div>
	</article>
	<div class='f-mask'></div>
	<div class="f-error">
		<h3>提示</h3>
		<p class="f-error-tit">名字仅限中文，最多5个汉字。</p>
		<a href="javascript:;" class="f-close">知道了</a>
	</div>
	<div class="m-phone">
		<input type="text" class="phone" id="phone_num" placeholder="请输入手机号">
		<a href="javascript:;" class="u-btn" id="send">点击发送短信提醒</a>
		<p class='u-tit'>我们回短信通知TA及时查收你的感恩祝福哦～</p>
	</div>
	<div class="m-success">
		<img src="/images/wap/thanks_giving_day/share_tit.png" alt="" class="u-share-tit">
		<div class="u-tit-wrap">
			<p class="u-tit">
				短信发送中～</br>
				点击“发送给朋友”第一时间让你的朋友</br>
				感受到你的祝福吧！～</br>
			</p>
		</div>
	</div>
</section>
</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	wx.config({
	    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	    appId: '', // 必填，公众号的唯一标识
	    timestamp: , // 必填，生成签名的时间戳
	    nonceStr: '', // 必填，生成签名的随机串
	    signature: '',// 必填，签名，见附录1
	    jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	function WeChat(data) {
		wx.onMenuShareAppMessage({
            title: '一份暖暖的感恩节祝福', // 分享标题
            desc: ' 我在「51Talk 美国小学」为你送来感恩节祝福，让这个冬天不再冷！', // 分享描述
            link: window.location.href+'?phone=' +  data, // 分享链接
            imgUrl: '' // 分享图标
        });

        wx.onMenuShareTimeline({
            title: '一份暖暖的感恩节祝福', // 分享标题
            link: window.location.href+'?phone=' +  data, // 分享链接
            imgUrl: '' // 分享图标
        });
	}
</script>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/thanks_giving_day/vendor.js"></script>
</html>