<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/thanks_giving_day/thanks_giving_day.css">
</head>
<body>
<section id="container" data-init="give">
	<img src="/images/wap/thanks_giving_day/logo.png" alt="" class="logo">
	<article class="m-second">
		<p class="u-tit">
			您收到美国小学用户</br>
			给您送来了一份感恩祝福!
		</p>
		<div class="m-main">
			<p class='r_name'>爱的红烧狮子头：</p>
			<p class="w_message">
				祝你工作顺利不用加班，天天吃
				肉不长胖胖。还有奖金拿不停！
				祝你工作顺利不用加班，天天吃
				肉不长胖胖。还有奖金拿不停！
				祝你工作顺利不用加班，天天吃
			</p>
			<p class='s_name'>
				爱的红烧狮子头
			</p>
		</div>
	</article>
	<article class="m-footer">
		<a href="javascript:;" class="u-btn"></a>
		<p class="u-tit">★（内含一节1对1北美外教体验课）</p>
	</article>
</section>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/thanks_giving_day/vendor.js"></script>
</html>