
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <script src="../../../js/wap/project/2016_review/flexible.js"></script>
    <script src="../../../js/wap/project/2016_review/javascript.fullPage.min.js"></script>
    <link href="/css/wap/2016_review/2016_review.css" rel="stylesheet" type="text/css"/>
  </head>
  <body><img src="/images/wap/2016_review/share_top.jpg" height="0" width="0"/>
    <div data-init="review" class="review">
      <section class="landing"><img src="/images/wap/2016_review/w_bg.jpg" class="re-bg"/>
        <section class="re-top"><img src="/images/wap/2016_review/w_top_t.png" class="top-bg"/></section>
        <section class="re-center"><img src="/images/wap/2016_review/w_center.png" class="center-bg"/>
          <section class="re-logIn">
            <ul class="re-list">
              <li class="tel">
                <input type="tel" placeholder="输入您的手机号" id="reg1_tel"/>
              </li>
              <li class="code"> 
                <section class="code-left">
                  <input type="tel" placeholder="请输入验证码" id="" name="mobile_code"/>
                </section><span>验证码</span>
              </li>
            </ul>
          </section>
        </section>
        <section class="re-button"><img src="/images/wap/2016_review/w_button.png" id="button"/></section>
      </section>
    </div>
    <script src="/js/wap/project/2016_review/vendor.js" id="seajsnode"></script>
  </body>
</html>