
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <script src="../../../js/wap/project/2016_review/flexible.js"></script>
    <script src="../../../js/wap/project/2016_review/javascript.fullPage.min.js"></script>
    <link href="/css/wap/2016_review/2016_review.css" rel="stylesheet" type="text/css"/>
  </head>
  <body><img src="/images/wap/2016_review/share_top.jpg" height="0" width="0"/>
    <div data-init="review" class="review">
      <section class="review-1"><img src="/images/wap/2016_review/1_bg.jpg" class="review1-bg"/>
        <section class="review1-top"><img src="/images/wap/2016_review/1_top.png" class="top-bg"/><img src="/images/wap/2016_review/1_user.jpg" class="top-user"/>
          <section class="top-cont">
            <h3 class="top-tit">站内昵称'S</h3>
            <p class="top-text">2016学习“账单”</p>
          </section>
        </section>
        <section class="review1-center"><img src="/images/wap/2016_review/1_center.png" class="center-bg"/>
          <section class="center-cont">
            <p> <span>201X年XX月XX日</span></p>
            <p>我成为了<span>第xxxx个</span>学员</p>
            <p>今天，我们已经相识了<span>XX天</span></p>
          </section>
        </section>
        <section class="review1-button"><img src="/images/wap/2016_review/1_button.png" class="center-button"/></section>
      </section>
    </div>
    <script src="/js/wap/project/2016_review/vendor.js" id="seajsnode"></script>
  </body>
</html>