
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <script src="../../../js/wap/project/2016_review/flexible.js"></script>
    <script src="../../../js/wap/project/2016_review/javascript.fullPage.min.js"></script>
    <link href="/css/wap/2016_review/2016_review.css" rel="stylesheet" type="text/css"/>
  </head>
  <body><img src="/images/wap/2016_review/share_top.jpg" height="0" width="0"/>
    <div data-init="review" class="review">
      <section id="fullpage" class="all-review">
        <section id="section0" class="section fp-section review-1"><img src="/images/wap/2016_review/1_bg.jpg" class="review1-bg"/>
          <section class="review1-top"><img src="/images/wap/2016_review/1_top.png" class="top-bg"/><img src="/images/wap/2016_review/1_user.jpg" class="top-user"/>
            <section class="top-cont">
              <h3 class="top-tit">站内昵称'S</h3>
              <p class="top-text">2016学习“账单”</p>
            </section>
          </section>
          <section class="review1-center"><img src="/images/wap/2016_review/1_center.png" class="center-bg"/>
            <section class="center-cont">
              <p> <span>201X年XX月XX日</span></p>
              <p>我成为了<span>第xxxx个</span>学员</p>
              <p>今天，我们已经相识了<span>XX天</span></p>
            </section>
          </section>
          <section class="review1-button"><a href="#2"><img src="/images/wap/2016_review/1_button.png" class="center-button"/></a></section>
        </section>
        <section id="section1" class="section fp-section review2"><img src="/images/wap/2016_review/2_bg.jpg" class="re-bg"/>
          <section class="re-top"><img src="/images/wap/2016_review/re_top.png" class="top-bg"/>
            <p class="re-text">完成了<span>XX节</span>英语课程 <br> 累计说英语<span>XX分钟</span></p>
          </section>
          <section class="re-center">
            <ul class="re-list">
              <li> <span>25节</span>
                <p class="type">1对1课程</p>
              </li>
              <li> <span>25节</span>
                <p class="type">1对1课程</p>
              </li>
              <li> <span>25节</span>
                <p class="type">1对1课程</p>
              </li>
            </ul>
          </section>
          <section class="re-bottm"><img src="/images/wap/2016_review/2_text.png"/>
            <p>总时长超越了<span>XX％</span>的小伙伴</p>
          </section>
          <section class="arrow"><a href="#3"></a></section>
        </section>
        <section id="section2" class="section fp-section review2 review3"><img src="/images/wap/2016_review/3_bg.jpg" class="re-bg"/>
          <section class="re-top">
            <h3 class="top-tit"> <span>2016,你共升级X次</span></h3><img src="/images/wap/2016_review/3_top.png" class="top-bg"/>
            <p class="re-text">完成了<span>XX节</span>英语课程</p>
          </section>
          <section class="re-center"><img src="/images/wap/2016_review/3_center.png"/>
            <p class="text_center">你获得了51认可的 <br><span>证书xx份，学豆575个</span></p>
          </section>
          <section class="re-center"><img src="/images/wap/2016_review/3_center.png"/>
            <p class="text_center">升级速度超越了<span>XX%</span>的小伙伴 <br>明明可以靠脸吃饭,我却要学英语</p>
          </section>
          <section class="arrow"><a href="#4"></a></section>
        </section>
        <section id="section3" class="section fp-section review2 review4"><img src="/images/wap/2016_review/1_bg.jpg" class="re-bg"/>
          <section class="re-top"><img src="/images/wap/2016_review/4_top.png" class="top-bg"/>
            <section class="teacher">
              <p class="re-text">全年对话过<span>X位</span>老师，最喜欢</p>
              <section class="user-img"><img src="/images/wap/2016_review/1_user.jpg"/></section>
              <p class="re-text user-name">Bibay</p>
              <section class="star">
                <ul class="star-list">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li class="half"></li>
                </ul>
              </section>
              <p class="re-text">教课经验：<span>8年</span></p>
            </section>
          </section>
          <section class="review4-b"><img src="/images/wap/2016_review/4_bottom.png"/>
            <p class="review4_t">你们一共对话了<span>xx次</span> <br>聊了<span>xx分钟</span></p>
          </section>
          <section class="arrow"><a href="#5"></a></section>
        </section>
        <section id="section4" class="section fp-section review-logIn summary"><img src="/images/wap/2016_review/z_bg.jpg" class="re-bg"/>
          <section class="re-top"><img src="/images/wap/2016_review/re_top.png" class="top-bg"/>
            <p class="re-text">因为你的小确进<br>你获得了学习勋章</p>
          </section>
          <section class="badge"><img src="/images/wap/2016_review/z_l_bg1.png" class="badge-bg1"/><img src="/images/wap/2016_review/z_l_bg2.png" class="badge-bg2"/><img src="/images/wap/2016_review/z_l1.png" class="badge-img"/></section>
          <section class="re-button"><img src="/images/wap/2016_review/summary_b.png"/></section>
          <section class="share hide"><img src="/images/wap/2016_review/share.png"/></section>
          <section class="share-bottom hide">
            <ul class="share-list">
              <li> <a href="javascript:;"><img src="/images/wap/2016_review/share_1.png"/>
                  <p>微信朋友圈</p></a></li>
              <li> <a href="javascript:;"><img src="/images/wap/2016_review/share_2.png"/>
                  <p>微信好友</p></a></li>
              <li> <a href="javascript:;"><img src="/images/wap/2016_review/share_3.png"/>
                  <p>QQ</p></a></li>
              <li> <a href="javascript:;"><img src="/images/wap/2016_review/share_3.png"/>
                  <p>微博</p></a></li>
            </ul>
          </section>
        </section>
        <section id="section5" class="section fp-section review-logIn"><img src="/images/wap/2016_review/z_bg.jpg" class="re-bg"/>
          <section class="re-top"><img src="/images/wap/2016_review/re_top.png" class="top-bg"/>
            <p class="re-text">因为你的小确进<br>你获得了学习勋章</p>
            <section class="badge"><img src="/images/wap/2016_review/z_l_bg1.png" class="badge-bg1"/><img src="/images/wap/2016_review/z_l_bg2.png" class="badge-bg2"/><img src="/images/wap/2016_review/z_l1.png" class="badge-img"/></section>
          </section>
          <section class="re-center"><img src="/images/wap/2016_review/re_center.png" class="center-bg"/>
            <section class="re-logIn">
              <ul class="re-list">
                <li class="tel">
                  <input type="tel" placeholder="输入您的手机号" id="mobile"/>
                </li>
                <li class="code"> 
                  <section class="code-left">
                    <input type="tel" placeholder="请输入验证码" id="" name="mobile_code"/>
                  </section><span>验证码</span>
                </li>
              </ul>
            </section>
          </section>
          <section class="re-button"><img src="/images/wap/2016_review/w_button.png" id="button"/></section>
        </section>
      </section>
    </div>
    <script src="/js/wap/project/2016_review/vendor.js" id="seajsnode"></script>
  </body>
</html>