
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title></title>
    <link href="/css/wap/didi/didi.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section data-init="didi" class="didi">
      <section class="topbar"><img src="/images/wap/didi/topbar.png"/></section>
      <section class="sign reg">
        <ul class="clearfix">
          <li>
            <input type="tel" name="tel" placeholder="请输入您的手机号码" class="tel"/>
          </li>
          <li class="clearfix">
            <input type="text" name="code" placeholder="请输入验证码" class="code"/><span class="send-code">获取验证码</span>
          </li>
          <li>
            <input type="password" name="password" placeholder="请设置您的密码" class="password"/>
          </li>
        </ul><a href="javascript:;" class="receive submit2">立即领取</a>
      </section>
      <div class="tip">已领取，<a id="reg" href="javascript:void(0)">查看课程</a></div>
      <section class="sign login hide">
        <ul class="clearfix">
          <li>
            <input type="tel" name="tel" placeholder="请输入您的手机号码" class="tel"/>
          </li>
          <li>
            <input type="password" name="password" placeholder="请输入您的密码" class="password"/>
          </li>
        </ul><a href="javascript:;" class="receive submit1">查看课程</a>
      </section>
      <div class="tip hide">尚未领取礼包，<a id="login" href="javascript:void(0)">立即领取</a></div>
      <section class="logo"><img src="/images/wap/didi/logo.png"/></section>
    </section>
    <script src="/js/wap/project/didi/vendor.js" id="seajsnode"></script>
  </body>
</html>