.aly-cls{
  padding:40px 0 40px 58px;
  .aly-tit{
    .ft18; 
  }
  .aly-form{
    .group{
      margin-top:20px;
      overflow: hidden;
      .u-txt{
        .left;
        width: 80px;
        margin-top:5px;
      }
      .error{
        width: inherit;
        color: #ff446c;
        margin-left:8px;
        .err-icon{
          .left;
          width: 15px;
          height: 13px;
          background-position: -2px -61px;
          margin:3px 4px 0 0;
        }
      }
      .check-err{
        margin-left: -21px;
      }
      .u-ipt{
        .left;
        width: 300px;
        height: 30px;
        line-height: 30px;
        border:1px #cfe0f3 solid;
        background-color: #fcfdff;
        border-radius: 3px;
        padding:0 10px;
        &:focus,&.focus {
    background-position: 0 -30px;
    border-color: @hoverColor;
  }
      }
      .group-ul{
        .left;
        margin-top:5px;
        li{
          .left;
          margin-right: 30px;
          .check-icon{
            .left;
            width: 15px;
            height: 15px;
            background-position: -204px -69px;
            margin:2px 8px 0 0;  
          }
          .check-on{
            background-position: -219px -69px;  
          } 
        }
      }
      .upload{
        .left;
        border:1px #cfe0f3 solid;
        border-radius:5px;
        width: 68px;
        height: 68px;
        background-color: #fcfdff;
        img{
          width: 68px;
          height: 68px;
        }
      }
    }
    .tel-gp{
      .u-ipt{
        width: 188px;
        padding:0 10px;
      } 
      .u-btn{
        .left;
        .tac;
        .f-csp;
        width: 100px;
        height: 30px;
        line-height: 30px;
        border:1px #cfe0f3 solid;
        background-color: #e6f0f9;
        border-radius: 3px;
        margin-left: 10px;
      } 
    }
    .cls-ipt{
      .u-ipt{
        border:none;
        background-color: none;
      }  
    } 
    .gp-file{
      .relative;
      .u-file{
        filter: alpha(opacity=0);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 79px;
        z-index: 1;
        width: 70px;
        height: 70px;
      }
      .u-txt{
        margin-top:25px;
      }
      .sug-img{
        .left;
        margin: 25px 0 0 10px;
      }
      .sug-selt{
        .left;
        margin: 25px 0 0 10px;
        .sug-det{
          color: #9aafc7;
        }
      }
    }
    .sibmit{
      margin-top: 30px;
      .reset{
        .left;
        margin:10px 20px 0 140px;
      }
      .u-btn{
        .left;
        width: 100px;
        height: 40px;
        line-height: 40px;
        .tac;
        .ft18;
        background-color:#efb504;
        color: @bgColor;
        border-radius: 3px;
      }  
    }
  }
}