.perfect-info{
  padding-left:302px;
  padding-top:126px;
  color:#012345;
  .info-tit{
    font-size: 18px;
    height: 58px;
    padding-left:40px;
    background: url("@{imgMpath}find_password.png") no-repeat;
  }
  .hello_stu{
    font-size: 18px;
    height: 58px;
    padding-left:110px;
    font-weight: 900;
  }
  .info-suc{
    font-size: 18px;
    font-weight:900;
    margin-top: 3px;
    display: inline-block;
  }
  .info-cont{
    li{
      margin-bottom: 20px;
      height: 32px;
      line-height: 32px;
      font-size: 0;
      position: relative;
      &.info-sex{
        height: 15px;
        overflow: hidden;
        line-height: 1;
        font-size: 14px;
        span{
          float: left;
          &.infor-man{
            margin-right: 30px;
          }
        }
      }
      .mobile-text{
        width:200px;
      }
      .modify-mobile-text{
        font-size:14px;
        float:left;
        display:inline-block;
        margin-right:10px;
      }
      .get-code-btn{
        border:1px solid #ceddeb;
        border-radius:2px;
        width:88px;
        height:30px;
        display:inline-block;
        background:#e6f0f9;
        color:#012345;
        font-size:14px;
        float:left;
        text-align:center;
        margin-right:10px;
        cursor:pointer;
      }
    }
    .info-user{
      float: left;
      text-align:right;
      margin-right: 11px;
      font-size: 14px;
      position: relative;
      width:72px;
    }
   
    .info-eng{
      position: absolute;
      left: -7px;
      top:18px;
      width: 90px;
      color: #9aafc7;
      font-size: 12px;
      &.info-eng2{
        left: -3px;
      }
    }
    input{
      height: 30px;
      line-height: 30px;
      width: 298px;
      padding:0 10px;
      font-size: 14px;
      background-color: #fcfdff;
      border:1px solid #cfe0f3;
      margin-right: 10px;
      float: left;
    }
    .info-s-b{
      width:98px; 
      height: 30px;
      border:1px solid #cfe0f3;
      overflow: hidden;
      float: left;
      margin-right: 10px;
    }
    select{
      border:none;
      width: 122px;
      padding-left:10px;
      *height: 33px;
      margin-top: -3px;
      margin-left: -2px;
      font-size: 14px;
      background-color: #fcfdff;
      -webkit-appearance:none;
      -moz-appearance:none;
      -ms-appearance:none;
      background: url("@{imgMpath}select_img.jpg") 75px center no-repeat;
      option{
        width: 98px;
      }
    }
    .check-icon,.check-on{
      float: left;
      width: 12px;
      height: 12px;
      background-position: -204px -71px;
      margin-right: 11px;
      margin-top: 2px;
    }
    .check-on{background-position: -219px -71px;}
    .info-tip{
      font-size: 14px;
      height: 14px;
      line-height: 1;
      color: #fb5c91;
      float: left;
      margin-top: 7px;
      i{
        float: left;
        width: 14px;
        height: 14px;
        margin-right: 6px;
        background-position: -2px -60px;
      }
    }
  }
  .info-submit{
    padding-left: 178px;
    padding-top: 10px;
    .infor-submit{
      width: 100px;
      height: 40px;
      background-color: #fdbd3a;
      font-size: 18px;
      color: #fff;
      border-radius: 3px;
    }
    .cancel-btn{
      background:#cbcfd2;
      margin-right: 20px;
    }
  }
  .info-submit-findps{
    margin-left:-60px;
  }
  .to_class{
    width:320px;
    height:30px;
    line-height: 30px;
    background:#ffae00;
    color:#fff;
    margin-left:67px;
  }
}

.city-manager{
  .form-style-1 dl dt{
        width: 100px;
    }
    .form-style-1 dl .sub-btn {
        height: 32px;
        width: 270px;
        line-height: 32px;
        background-color: #4ed702;
        color: #fff;
        font-size: 16px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        cursor: pointer;
    }
  .perfect-info{
    .info-cont{
      input{
        line-height:normal;
        height:20px;
        width:235px;
        background-color: #f5f5f5;
        border:1px solid #dcdcdc;
      }
      li{
        .get-code-btn{
          border:none;
          color:#fff;
          border-radius:2px;
          width:92px;
          height:30px;
          display:inline-block;
          background:#dc9855;
          font-size:14px;
          float:left;
          text-align:center;
          margin-right:10px;
          cursor:pointer;
          line-height: 30px;
          margin-left:10px;
        }
      }
    }
    .info-submit{
      margin-left: -94px;
      .infor-submit{
        width:112px;
        height:35px;
        font-size: 16px;
        line-height: 35px;
      }
      .cancel-btn{
        background-color: #c8c8c8;
      }
    }
  } 

}
.info-phone{
  display:inline-block;
  float:left;
  color:#012345;
  font-size: 14px;
  width:310px;
  em{
    color:#7a91a7;
  }
}
.perfect-info .info-cont{
  .dentifying-code{
    width:210px;
  }
  li{
    .get-code{
      background-color: #73d04a;
      color:#fff;
      border:none;
      line-height: 30px;
    }
    .get-code-d{
      background:#c8c8c8;
    }
    .m-info-tip{
      font-size: 14px;
      color:#fb5c91;
      margin-left: 85px;
      span{
        position: relative;
        top:3px;
        left:-3px;
        width:16px;
        height:16px;
        display: inline-block;
        background: url("@{imgMpath}m_phoone01.png") no-repeat;
      }
    }
  }
} 
.perfect-info {
  .m-phone-title{
    font-weight: 100;
    margin-top:0;
  }
  .m-phone-prompt{
    font-size:14px;
    color:#7a91a7;
    margin-left:41px;
    margin-bottom: 40px;
  }
  .m-phone-h{
    height:40px;
  }
  .m-phone-tit{
    background: url("@{imgMpath}m_phone.png") no-repeat;
  }
  .sure-box{
    padding-left:82px;
    .m-p-sure{
      width:320px;
      height:40px;
      display:block;
      color:#fff;
      border-radius: 3px;
      background-color: #ffab00;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
      &:hover{
         background-color:#ffbd20;
      }
      &:active{
        background-color:#ffab00;
      }
    }
    .next-sure{
      width:240px;
    }
  }
}

