.perfect-info{
	padding-left:302px;
	padding-top:126px;
	color:#012345;
	.info-tit{
		font-size: 18px;
		height: 58px;
		padding-left:40px;
		background: url("@{imgMpath}right.png") no-repeat;
	}.info-suc{
		font-size: 20px;
		font-weight:900;
	}
	.info-cont{
		li{
			margin-bottom: 20px;
			height: 32px;
			line-height: 32px;
			font-size: 0;
			position: relative;
			&.info-sex{
				height: 15px;
				overflow: hidden;
				line-height: 1;
				font-size: 14px;
				span{
					float: left;
					&.infor-man{
						margin-right: 30px;
					}
				}
			}
		}
		.info-user{
			float: left;
			width: 56px;
			margin-right: 11px;
			font-size: 14px;
			position: relative;
		}
		.info-eng{
			position: absolute;
			left: -7px;
			top:18px;
			width: 90px;
			color: #9aafc7;
			font-size: 12px;
			&.info-eng2{
				left: -3px;
			}
		}
		input{
			height: 30px;
			line-height: 30px;
			width: 298px;
			padding:0 10px;
			font-size: 14px;
			background-color: #fcfdff;
			border:1px solid #cfe0f3;
			margin-right: 10px;
			float: left;
		}
		.info-s-b{
			width:98px; 
			height: 30px;
			border:1px solid #cfe0f3;
			overflow: hidden;
			float: left;
			margin-right: 10px;
		}
		select{
			border:none;
			width: 122px;
			padding-left:10px;
			*height: 33px;
			margin-top: -3px;
			margin-left: -2px;
			font-size: 14px;
			background-color: #fcfdff;
			-webkit-appearance:none;
			-moz-appearance:none;
			-ms-appearance:none;
			background: url("@{imgMpath}select_img.jpg") 75px center no-repeat;
			option{
				width: 98px;
			}
		}
		.check-icon,.check-on{
			float: left;
			width: 12px;
			height: 12px;
			background-position: -204px -71px;
			margin-right: 11px;
			margin-top: 2px;
		}
		.check-on{background-position: -219px -71px;}
		.info-tip{
			font-size: 14px;
			height: 14px;
			line-height: 1;
			color: #fb5c91;
			float: left;
			margin-top: 7px;
			i{
				float: left;
				width: 14px;
				height: 14px;
				margin-right: 6px;
				background-position: -2px -60px;
			}
		}
	}
	.info-submit{
		padding-left: 178px;
		padding-top: 10px;
		.infor-submit{
			width: 100px;
			height: 40px;
			background-color: #fdbd3a;
			font-size: 18px;
			color: #fff;
			border-radius: 3px;
		}
	}
}