@charset "utf-8";
@import "../common/base.less";
@imgPath: "../../../images/wap/buySuccess/";
body{
	min-width: 320px;
	max-width: 640px;
	margin:0 auto;
	font-family: "微软雅黑";
}
section{
	width: 100%;
	text-align: center;
	padding:6rem 1.5rem 0;
	box-sizing: border-box;
	img{
		display: inline-block;
		height:8.1rem;
		width: 8.1rem;
	}
	h4{
		color:#333333;
		font-size: 1.8rem;
		font-weight: bold;
		margin:2rem 0 3rem;
	}
	a{
		display: inline-block;
		height:4.5rem;
		line-height: 4.5rem;
		text-align: center;
		background:#ff5556;
		font-size: 1.6rem;
		width: 100%;
		border-radius: 2.25rem;
		color:#fff;
	}
}
footer{
	width: 100%;
	box-sizing: border-box;
	padding:4rem 3.5rem 0;
	h3{
			margin:0;
			font-size:1.4rem;
			margin-bottom:1rem;
			color:#999;
			i{
					display: inline-block;
					height:1.2rem;
					width: 1.7rem;
					background: url("@{imgPath}/speaker.png") no-repeat ;
					background-size: 1.7rem 1.2rem;
			}
	}
	p{
			line-height: 1.8rem;
			font-size:1.4rem;
			margin-bottom:1rem;
			color:#999;
	}
}