<% include ../common/top.ejs %>
<body>
<input type="hidden" id="container" data-init=""/>
  <div class="AC_introduce">
    <div class="AC_close"></div>
    <div class="AC_content">
        <div class="suc_pay">
          <p class="suc_pay_text1">恭喜您！支付成功！</p>
         <!--  <p class="suc_pay_cont"><span class="left">购买课程,</span><span class="right">外教同步辅导套餐</span></p>
          <p class="suc_pay_cont"><span class="left">交易时间</span><span class="right">2016/01/09     15:30</span></p>
          <p class="suc_pay_cont"><span class="left">订单金额</span><span class="right">￥300</span></p>
          <p class="suc_pay_cont"><span class="left">支付方式</span><span class="right">支付宝</span></p>
          <p class="suc_pay_cont"><span class="left">交易单号</span><span class="right">991029378190737</span></p> -->


          <!-- <p class="suc_pay_cont">请记得每周都要来上外教同步辅导课哦~</p>
          <p class="suc_pay_cont">祝您学习愉快！</p> -->

          <div class="pay_suc_code">
            <img src="<%= imagessrc%>intro.jpg">
          </div>
          <P class="notice_code">关注服务号预约小学学科课程</P>
        </div>
    </div>
    <a href="" class="AC_a">查看我的订单</a>
  </div>
</body>
<% include ../common/bottom.ejs %>