<% include ../common/top.ejs %>
<body class="city-manager">
<input type="hidden" id="container" data-init="agentLogin" />
<!-- 公共头 -->
<% include ../common/b2s/c_b2s_header.ejs %>


<div class="agent-login">
<!-- left start -->

<div class="mycls mycls-agent">
  <div class="widthMain">
    <!-- banner -->
    <div class="central">
      <!-- 侧栏 -->
      <% include ../common/b2s/c_b2s_sidebar.ejs %>
        <!-- <div class="cls-main">
            <div class="agent-login-wrap perfect-info">
                <h3 class="agent-login-t">
                    <span>我的信息</span>
                </h3>
                <div class="agent-login-form form-style-1">
	                <form action="http://www.baidu.com" method="get" id="modify_password_Form">
						<ul class="info-cont">
							<li><span class="info-user">手机号：</span>
							<span class="modify-mobile-text">13923232323</span>
							<span class="get-code-btn sendCode">获取验证码</span><p class="info-tip hide modify-error"><span class="tenIcon"></span>请输入手机号</p></li>
							<li><span class="info-user">验证码：</span><input placeholder="请输入验证码" type="text" class="china-name findjsBlank"><p class="info-tip hide"><span class="tenIcon"></span>请输入验证码</p></li>
							<li><span class="info-user">新密码：</span><input placeholder="请输入密码"  type="text" class="china-name findjsBlank"><p class="info-tip hide"><span class="tenIcon"></span>请输入密码</p></li>
							<li><span class="info-user">重复密码：</span><input placeholder="请输入密码" type="text" class="china-name findjsBlank"><p class="info-tip hide"><span class="tenIcon"></span>请输入密码</p></li>
							
						</ul>
						<div class="info-submit">
							<button type="button" value="确定" class="infor-submit cancel-btn">取消</button>
							<button type="button" value="确定" class="infor-submit">确定</button></div>
				</form>
                </div>
            </div>
        </div> -->
        <div class="cls-main">
            <div class="agent-login-wrap perfect-info">
                 <h3 class="agent-login-t">
                    <span>我的信息</span>
                </h3>
                <div class="cls-tab stu-cls city-info-c">
                    <div class="mess tea-mess">

                        <div id="infoBox">
                            <ul>
                                <li><em class="text_w">城市经理</em>:<span>林海</span></li>
                                <li><em class="text_w">身份证号</em>:<span>5555</span></li>
                                <li><em class="text_w">手机号码</em>:<span>17112345678</span></li>
                                <li><em class="text_w">工作邮箱</em>:<span>6666</span></li>
                                <li><em class="text_w">微 信</em>:<span>88888</span></li>
                                <li class="modify-password"><em class="text_w">密 码</em>:
                                    <span class="password-box"><span class="password-text">*********</span></span><a class="modify-btn" href="/cityManager/editPwd">修改</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>  
        </div>

    </div>
  </div>
</div>

<!-- 公共尾部 -->
<div class="footer">
    <div class="widthMain">
        <p class="link-ft">
            Copyright©北京大生知行科技有限公司<em>|</em>
            <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
            <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
            京ICP证110696号 京ICP备11031999号
        </p>
    </div>
</div>
</body>
<script type="text/javascript" src="http://one.frontend.com/static/js/html/project/b2s/vendor.js?v=1464076587651" id="seajsnode"></script>
</html>












 
