<% include ../common/top.ejs %>
<body  data-init="index">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="home">
  <div class="hm-img"><img src="<%= imagessrc%>home_ads.jpg" alt="" class="hm-ads"></div>
  <div class="widthMain hm-widthMain">
    <div class="hm-reg reg-login">
      <form id="registForm">
        <ul class="hm-login">
          <li class="hm-login_li">
            <input class="form-data jsInputOk email" type="text" placeholder="请输入邮箱" >
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>邮箱有误</b></div>
          </li>
          <li class="hm-login_li"> 
            <input class="form-data jsInputOk tel" type="text" placeholder="请输入手机号">
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>手机号码有误</b></div>
          </li >
          <li class="hm-login_li login-gh">
            <div class="gh-input">
              <input class="form-data myCode" type="text" placeholder="请输入验证码">
              <i class="tenIcon del-icon"></i>
            </div>
            <span class="u-btn hover sendCode">获取验证码</span>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>验证码不能为空</b></div>
          </li>
          <li class="hm-login_li">
            <input class="form-data jsInputOk pwd" type="password" placeholder="请输入密码">
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>密码不能为空</b></div>
          </li>
          <li class="hm-login_li">
            <input class="form-data  jsInputOk inviteCode" type="text" placeholder="请输入班级邀请码">
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>班级邀请码不能为空</b></div>
          </li>
          <li class="hm-login_li hm-li-sub">
            <a href="javascript:;" class="submit">学生注册</a>
          </li>
        </ul>
      </form>
      <ul class="hm-chg">
        <li><a href="javascript:;"><i class="icon std-icon re-icon"></i>返回登录</a></li>
        <li class="chg-tit"><a href="javascript:;"><i class="icon tea-icon"></i>老师注册</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>