<% include ../common/top.ejs %>
<body id="container" data-init="index">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="ce-content">
	<div class="widthMain">
		<h3 class="account-tit">请选择你要登录的账户</h3>
		<div class="account-cont">
			<dl class="account-s">
				<dt><a href="javascript:;"><img src="<%= imagessrc%>account.png" alt="" class="account-bg"><img src="<%= imagessrc%>account_img.png" alt=""></a></dt>
				<dd><span class="stu_color">小丸子</span> 同学</dd>
			</dl>
			<dl>
				<dt><a href="javascript:;"><img src="<%= imagessrc%>account.png" alt="" class="account-bg"><img src="<%= imagessrc%>account_img2.png" alt=""></a></dt>
				<dd><span class="tea_color">李易</span> 老师</dd>
			</dl>
		</div>
	</div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>