<% include ../common/top.ejs %>
<body >
<input type="hidden" id="container" data-init="login_registe" />
<!-- 首页头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
  </div>
</div>
<!-- 内容 -->
<div class="login_registe">
	<div class="bigger_bg">
		<div class="reginste_bg hide">
			<a href="javascript:;" class="return_login">返回登录</a>
			<img src="<%= imagessrc%>reg_code.jpg" alt="" class="reg_code"/>
			<p>请使用微信扫描二维码</p>
			<p>关注微信公众号后注册</p>
		</div>
		<div class="login_bg">
			<form action="#" autocomplete="off" rel="from">
				<ul class="cfix">
					<li class="phone-img"></li>
					<li class="li_input">
						<input type="tel" rel="stu" class="input-t-style" placeholder="请输入手机号或账号" />
					</li>
					<li class="clear_text"></li>
					<li class="error-tips">
						<span class="err-arr"></span>
						<em></em>
					</li>
				</ul>
				
				<ul class="cfix mar">
					<li class="lock_img"></li>
					<li class="li_input">
						<input type="password" rel="password" class="input-t-style" placeholder="请输入密码" />
					</li>
					<li class="clear_text"></li>
					<li class="error-tips">
						<span class="err-arr"></span>
						<em></em>
					</li>
				</ul>
				
				<ul class="next">
					<li>
						<label><input type="checkbox" />下次自动登录</label>
					</li>
					<li>
						<a href="">忘记密码？</a>
					</li>
				</ul>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="登陆" />
				</div>
			</form>
			<a class="return_reg" href="javascript:;">立即注册 > </a>
		</div>
	</div>
</div>

<!-- 公共尾部 -->
<div class="footer bot">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<% include ../common/bottom.ejs %>