<% include ../common/top.ejs %>
<body id="container" data-init="index">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="ce-content">
	<div class="widthMain">
		<div class="perfect-info">
			<h3 class="info-tit m-phone-tit"><span class="info-suc m-phone-title">验证手机号码</span></h3>
			
				<ul class="info-cont">
					<li><span class="info-user">手机号：</span><div class="info-phone"><span>13571029819</span><em>（以后请直接使用该手机号登录）</em></div>
					</li>
					<li>
					<div class="clearfix">
						<span class="info-user">验证码：</span><input placeholder="请输入验证码" type="text" class="dentifying-code china-name findjsBlank">
						<span class="get-code-btn get-code getCode">获取验证码</span>
					</div>
					<p class="m-info-tip hide"></li>
					
				</ul>
				<div class="info-submit sure-box">
					<a href="javascript:;" class="m-p-sure" id="mSureBtn">确定</a>
				</div>
		</div>
	</div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>