<% include ../common/top.ejs %>
<body  data-init="">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="<%= imagessrc%>stu.jpg" alt=""></dt>
          <dd class="buy-tag">
            <em>
              <i class="tag-i"><i class="arr-out"><i class="arr-in"></i></i>已购买 精品外教辅导课</i>
            </em>
          </dd>
          <dd><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <%include ../common/b2s/b2s_sidebar%>
      <div class="cls-main">
        <!-- 近期公开课 -->
        <div class="cls-tab cls-list">
          <div class="stu-cls stu-taste">
            <div class="stu-tit-l">
              <ul>
                <li>
                  <a href="beyond_public_class_top.html">近期外教辅导课</a>
                  <i>&nbsp;</i>
                </li>
                <li class="cur">
                  <a href="">往期课程</a>
                  <i>&nbsp;</i>
                </li>
                <li>
                  <a href="beyond_public_class_top.html">课堂做题记录</a>
                  <i>&nbsp;</i>
                </li>
              </ul>
              <a href="javascript:;" class="do-cls"><i class="tenIcon do-icon"></i>如何上课</a>
            </div>
            <div class="rct-text">
              <dl>
                <dt class="work">
                  <img src="<%= imagessrc%>1.jpg" alt="">
                </dt>
                <dd class="none_more"><a href="javascript:;" class="tit "> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd>
                  <div class="lt">
                    <span class="time">
                      <span class="sd-tit">上课时间：</span>2015/12/15
                      <em>19:00-19:30</em>
                      <a href="javascript:;" class="sd-date past-load load">下载教材</a>
                  </span>

                  </div>
                </dd>
              </dl> 
              <dl>
                <dt class="work">
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="sd-tit">对话场景：</span>在家中的厨房 In the kitchen at home</dd>
              <dd class="center-dd"><span class="sd-tit">核心单词：</span>pizza,add,pan,great,make,put,pizza,add,pan,great,</dd>
                <dd>
                  <div class="lt">
                    <span class="time">
                      <span class="sd-tit">上课时间：</span>2015/12/15
                      <em>19:00-19:30</em>
                      <a href="javascript:;" class="sd-date past-load load">下载教材</a>
                  </span>
                  </div>
                </dd>
              </dl>
              <dl>
                <dt class="work">
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="sd-tit">对话场景：</span>在家中的厨房 In the kitchen at home</dd>
              <dd class="center-dd"><span class="sd-tit">核心单词：</span>pizza,add,pan,great,make,put,pizza,add,pan,great,</dd>
                <dd>
                  <div class="lt">
                    <span class="time">
                      <span class="sd-tit">上课时间：</span>2015/12/15
                      <em>19:00-19:30</em>
                      <a href="javascript:;" class="sd-date past-load load">下载教材</a>
                  </span>
                  </div>
                </dd>
              </dl>  
            </div>
          </div>
        


        </div> 
      </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>
<script type="text/javascript" src="http://static.51talk.com/static/js/html/lib/ckplayer/ckplayer.min.js?v=1458124036737"></script>