<% include ../common/top.ejs %>
<link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>pay_t.css">
<body id="container" data-init="index">
  <input type="hidden" data-init="payPage_t">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<div class="dialog">
  <div class="content">
    <div class="tips">
      <h4>创建班级</h4>
      <a class="close" href="javascript:;"></a>
    </div>
    <div class="info"></div>
    <div class="submit">
        <a href="javascript:;">立即创建</a>
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls bg-s">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="<%= imagessrc%>stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
    <!-- 侧栏 -->
    <% include ../common/b2s/b2s_sidebar.ejs %>
      <div class="cls-main color-s">
        <!-- 我的班级 -->
        <div class="cls-tab rct top-value">
          <div class="class-pay"></div>
          <div>
            <a href="javascript:;">
              <img src="<%= imagessrc%>rct_banner1.jpg"/>
            </a>
          </div>
          <!-- <div class="banner-box">
            <div class="text-l">
              <p class="banner-tit">外教精品课<span>(32节)——20个VIP/节</span>
              </p>
              <p class="banner-des">获赠原价198元小学学科课程</p>
              <p class="banner-info">（6节1对1外教课  2节1对10中教课）</p>
            </div>
            <div class="text-r">
              <p class="b-o-price">现价：<span>298元 </span></p>
              <p class-"b-n-price">原价：598元 </p>
              <a class="b-pay-btn">立即购买</a>
            </div>
          </div> -->
          <table class="class-table-box" id="tableId">
            <thead>
              <tr>
                <td>课程套餐</td>
                <td>课程次数</td>
                <td>本期优惠价</td>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td class="f-tr"><span class="option-i current" data-price="198" discount-price="100" package-id="1" isVip="1"></span>
                  <div class="vip-s"><i>VIP</i>新生特惠包</div></td>
                  <td><p>外教1对1课6节</p><p>中教辅导课2节</p></td>
                <td class="price-td">198 <span class="o-price">原价398元</span></td>
              </tr> -->
              <tr>
                <td class="f-tr"><span class="option-i current" data-price="589" discount-price="200" package-id="2"></span>1个月课程包</td>
                <td><p>外教1对1课12节</p><p>中教辅导课4节</p></td>
                <td class="price-td">589 <span class="o-price">原价980元</span></td>
              </tr>
              <tr>
                <td class="f-tr"><span class="option-i" data-price="1698" discount-price="300" package-id="3" zs="1"></span>3个月课程包</td>
                <td><p>外教1对1课36节</p><p>中教辅导课16节</p></td>
                <td class="price-td">1698 <span class="o-price">原价1998元</span></td>
              </tr>
            </tbody>
          </table>
          <div class="value-box">
            <div class="money-v">
              金额：<span id="moneyValue"></span>
            </div>
            <div id="nVipBox" class="n-vip-box">
              <div class="preferential-box preferential-box-vip">
                <div class="pre-text-box">
                  <div class="pre-text">
                    <span></span>您已购买VIP精品课，立即优惠：
                  </div>
                  <div class="pre-value" id="preferentialId"></div>
                </div>
              </div> 
              <!-- <div class="preferential-box preferential-box-chosen">
                <div class="pre-text-box">
                  <div class="pre-text">
                    <span id="optionId" class="n-chose"></span><em>同时购买VIP精品课32节：</em><em class="em-1">赠送精品课32节</em>  
                  </div>
                  <div class="pre-value" id="boutiqueClass" data-price="298"><span class="pre-value-span">+298元</span><span>+0元</span></div>
                </div>
                <div class="pre-text-box top-v">
                  <div class="pre-text">
                    立享1对1专属外教课优惠：
                  </div>
                  <div class="pre-value" id="preferentialId"></div>
                </div>
              </div> -->
            </div>
            <div id="vipId">
              <!-- <div class="preferential-box preferential-box-chosen" >
                <div class="pre-text-box">
                  <div class="pre-text">
                    <span></span><em>非VIP学员需同时购买外教精品课：</em> 
                  </div>
                  <div class="pre-value" id="boutiqueClass" data-price="298"><span class="pre-value-span">+298元</span><span>+0元</span></div>
                </div>
              </div> -->
            </div>
            <div class="pay-money">
              应付金额：<span id="payValueId"></span>
            </div>
            </div>
          <div class="pay-btn">
            <a href="javascript:;" id="payId">立即支付</a>
          </div>
          
        </div> 
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="priceId" value="198"/>
<input type="hidden" id="discountPrice" value="100"/>
<input type="hidden" id="packageId" value="1"/>
<input type="hidden" id="b2spackage" value="33"/>
<input type="hidden" id="vipPackage" value="0"/>
<!--公共弹层-->
<div class="layer hide" id="layerTip">
  <p>温馨提示<i class="tenIcon ly-icon"></i></p>
  <div class="ly-tit">该课程是通过AC客户端上课，请<a href="javascript:;">点击下载</a>安装。如已经安装,请以学生身份注册账户，登录AC上课。</div>  
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>