<% include ../common/top.ejs %>
<body >
<input type="hidden" id="container" data-init="select_class" />
<!-- 首页头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
  </div>
</div>
<!-- 内容 -->
<div  class="complie_thing">
  <div class="complie_c">
    <p class="class_name">—— 北京109中学小学实验部 ——</p>
    <!-- <p class="wel_name ">请补充信息后进入班级！</p> -->
    <p class="wel_name">你好！于大宝同学，请选择所在班级！</p>
    <div class="com_form">
      <form action="#" autocomplete="off" rel="reg" id="select_class">
        <ul class="">
          <!-- <li class="">中文名：</li> -->
          <li class="li_input se_class" data-id="123">
            一年二班
          </li>
        </ul>
        <ul class="">
          <li class="li_input se_class" data-id="123">
           四年五班
          </li>
        </ul>
        <ul class="">
          <li class="li_input se_class" data-id="123">
           四年五班
          </li>
        </ul>
        <ul class="">
          <li class="li_input se_class" data-id="123">
          四年五班
          </li>
        </ul>
        <p class="select_notic">注意：请选择自己所在的班级，选错班级无法更改。</p>
        <div class="submit-btn">
         <input type="hidden" class="select_id" value="" /> 
          <p class="select-submit" >下一步<p/>
          <span class="err_select hide">请选择你所在班级</span>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 尾部 -->
<div class="footer bot">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<% include ../common/bottom.ejs %>