<% include ../common/top.ejs %>
<body id="container" data-init="index">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="ce-content">
	<div class="widthMain">
		<div class="perfect-info">
			<h3 class="info-tit m-phone-tit m-phone-h"><span class="info-suc m-phone-title">当前手机号：13918291028</span></h3>
			<div class="m-phone-prompt">更换手机后，下次登录请使用新手机号登录</div>
			
			<ul class="info-cont">
				
				<li>
				<div class="clearfix">
					<span class="info-user">新手机号：</span><input placeholder="请输入新的手机号" type="text" id="newPhone" class="dentifying-code china-name findjsBlank">
					
				</div>
				<p class="m-info-tip hide"><span></span>请输入验证码</p></li>
				
			</ul>
			<div class="info-submit sure-box">
				<a href="javascript:;" class="m-p-sure next-sure" id="nextBtn">下一步</a>
			</div>
		</div>
	</div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>