<% include ../common/top.ejs %>
<body>
<input type="hidden" id="container" data-init=""/>
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="chang_color">
      <i class="cls-icon"></i>
    <div class="suc_pay">
      <p class="suc_pay_text1">恭喜您！支付成功！</p>
     <!--  <p class="suc_pay_cont"><span class="left">购买课程,</span><span class="right">外教同步辅导套餐</span></p>
      <p class="suc_pay_cont"><span class="left">交易时间</span><span class="right">2016/01/09     15:30</span></p>
      <p class="suc_pay_cont"><span class="left">订单金额</span><span class="right">￥300</span></p>
      <p class="suc_pay_cont"><span class="left">支付方式</span><span class="right">支付宝</span></p>
      <p class="suc_pay_cont"><span class="left">交易单号</span><span class="right">991029378190737</span></p> -->
      <!--  <p class="suc_pay_cont">请记得每周都要来上外教同步辅导课哦~</p>
       <p class="suc_pay_cont">祝您学习愉快！</p> -->

      <div class="pay_suc_code">
        <img src="<%= imagessrc%>intro.jpg">
      </div>
      <P class="notice_code">关注服务号预约小学学科课程</P>
    </div>
    <div class="pay_order">
      <a href="javascript:;">查看我的订单</a>
    </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>