<% include ../common/top.ejs %>
<body >
<input type="hidden" id="container" data-init="" />
<!-- 首页头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
  </div>
</div>
<!-- 内容 -->
<div  class="complie_thing">
  <div class="complie_c">
    <p class="class_name">—— 北京109中学小学实验部 三年二班——</p>
    <!-- <p class="wel_name ">请补充信息后进入班级！</p> -->
    <p class="wel_name suc_act">恭喜你激活成功！</p>

    <a href="" class="to_login">去登陆 > </a>
  </div>
</div>
<!-- 尾部 -->
<div class="footer bot">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<% include ../common/bottom.ejs %>