<% include ../common/top.ejs %>
<body >
<input type="hidden" id="container" data-init="tea_reg_success3" />
<!-- 首页头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
  </div>
</div>
<!-- 内容 -->
<div  class="complie_thing">
  <div class="complie_c">
    <p class="class_name">—— 北京109中学小学实验部 三年二班 ——</p>
    <p class="wel_name suc_re ">请补充信息后进入班级</p>
    
    <div class="com_form">
      <form action="#" autocomplete="off" rel="reg" class="com_form_form">
        <ul class="">
          <li class="tex_t">手机号：</li>
          <li class="">
            13571029819 <span class="after_phone">（以后请直接使用该手机号登录）<span>
          </li>
          <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <!-- <em></em> -->
          </li>
        </ul>
        <ul class="">
          <li class="">中文名：</li>
          <li class="li_input">
            <input type="text" rel="cnname" class="input-t-style w_inp" placeholder="" />
          </li>
          <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <!-- <em></em> -->
          </li>
        </ul>
        <ul class="">
          <li class="inclue_two">英文名：<br/><span class="after_phone">（选填）<span></li>
          <li class="li_input">
            <input type="text" rel="enname" class="input-t-style w_inp" placeholder="" />
          </li>
          <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <!-- <em></em> -->
          </li>
        </ul>
        <ul class="">
          <li class="inclue_two"><span class="n">班级</span><br/>邀请码：</li>
          <li class="li_input">
            <input type="text" rel="class_code" class="input-t-style w_inp" placeholder="" />
          </li>
          <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <!-- <em></em> -->
          </li>
        </ul>
        <ul class="info-cont">
          <!-- <li class="tex_t">性别：</li> -->
          <li class="info-sex">
            <span class="info-user">性&nbsp;&nbsp;&nbsp;别：</span>
            <span class="tenIcon check-icon check-on" data-id="1"></span>
            <span class="infor-man">男</span>
            <span class="tenIcon check-icon" data-id="2"></span>
            <span>女</span>
            <input type="hidden" class="sex-radio" value="1">
            </li>
           <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <!-- <em></em> -->
          </li>
        </ul>
        
        <div class="submit-btn">
          <input type="submit" class="input-submit" value="进入班级" />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 尾部 -->
<div class="footer bot">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<% include ../common/bottom.ejs %>