<% include ../common/top.ejs %>
<body  id="container" data-init="teacher_class">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="<%= imagessrc%>tea.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 老师</dd>
          <dd>班级：2个</dd>
          <dd>学生：60人</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <%include ../common/b2s/b2s_sidebar%>
      <div class="cls-main">
        <!-- 近期公开课 -->
        <div class="cls-tab cls-list">
          <div class="stu-cls stu-taste">
            <div class="stu-tit-l">
              <ul>
                <li class="cur" >
                  <a href="teacher_class.html">三年级二班信息</a>
                  <i>&nbsp;</i>
                </li>
                <li>
                  <a href="">近期外教辅导课</a>
                  <i>&nbsp;</i>
                </li>
                <li>
                  <a href="">过期外教辅导课</a>
                  <i>&nbsp;</i>
                </li>
              </ul>
              <!-- <a href="javascript:;" class="do-cls"><i class="tenIcon do-icon"></i>如何上课</a> -->
            </div>
            <div class="rct-blank rct-onDay">
              <P class="add_s">添加学生</P>
              <i></i><span>还没有学生加入到该班级</span>
            </div>
          </div>
          <div class="stu_message">
            <p class="stu_mes_text stu_mes_p">
              <span class="fl_left">学生人数：30人</span>
              <span class="pad_left fl_left">未激活人数：4人</span>
              <a href="javascript:;" class="agent_stu_add fl_left change_text">添加激活学生入口</a>
              <a href="javascript:;" class="stu_add fl_left change_text">添加学生</a>
              <a href="javascript:;" class="stu_down fl_left">下载学生名单</a>
            </p>
            <table class="table_w">
              <tr class="frist_tr">
                <td>学生姓名</td>
                <td>手机号码</td>
                <td>上课次数</td>
                <td>未上课次数</td>
                
              </tr>
              <tr>
                <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
               <tr class="text_b">
               <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
               
              </tr>
               <tr>
                <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
               
              </tr>
               <tr>
                <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
              <tr class="text_b">
               <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
              <tr class="text_b">
               <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
               
              </tr>
              <tr>
               <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
              <tr>
               <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
              <tr>
                <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
               <tr class="last_tr">
               <td>爱新觉罗</td>
                <td>15555556555</td>
                <td>6次</td>
                <td>6次</td>
                
              </tr>
               <tr>
                <td>爱新觉罗</td>
                <td colspan="2" class="bor_right"><span class="col_red">尚未激活</span> <span class="">激活账号：11111111</span><span class="">密码：111111</span></td>
                <td class="bor_left"><p class="delet" _url="/s">删除</p></td>
              </tr>
               <tr class="last_tr">
               <td>爱新觉罗</td>
               <td colspan="2" class="bor_right"><span class="col_red">尚未激活</span> <span class="">激活账号：11111111</span><span class="">密码：111111</span></td>
                <td class="bor_left"><p class="delet">删除</p></td>
              </tr>
            </table>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
<div class="add_stu_confirm"></div>
<div class="add_confirm">
  <form action="http://www.baidu.com" method="" id="stu_name">
    <p class="tit">添加学生<span class='close_confirm'></span></p>
    <div class="clearfix">
      <div class="text_left">
        <p class="stu_name">请输入学生姓名</p>
        <textarea></textarea>
      </div>
      <div class="text_right">
        <p class="stu_name">注意事项</p>
        <p class="notic">1、请输入每个学生的中文名，<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不要包含字母、标点或特<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;殊符号</p>
         <p class="notic">2、每个学生姓名占一行，用<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回车
        键（Enter）换行</p>
      </div>      
    </div>
    <input type="hidden" name="name" />
    <p class="stu_error"><i class="tenIcon err-icon"></i><span>请输入正确的中文</span></p>
    <p class="add_sure">确定</p>
  </form>
</div>
<div class="agent_add_confirm">
  <form action="http://www.baidu.com" method="" id="stu_name">
    <p class="tit">添加学生<span class='agent_close_confirm'></span></p>
    <div class="clearfix">
      <div class="text_left">
        <p class="stu_name">请输入学生姓名</p>
        <textarea></textarea>
      </div>
      <div class="text_right">
        <p class="stu_name">注意事项</p>
        <p class="notic notic_o">1、 只能输入学生姓名和手机<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号码，用“&”（shift7）<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;连接</p>
         <p class="notic  notic_o">2、右键点击excel表格手机<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号一列，依次选择“设<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置单元格格式——数字<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——自定义”在“类型(<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T)”中输入：!&0后，点<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;击确定</p>
          <p class="notic notic_o">3、 复制学生姓名和手机号，<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;粘贴到输入框。</p>
      </div>      
    </div>
    <input type="hidden" name="name" />
    <p class="stu_error"><i class="tenIcon err-icon"></i><span>请输入正确的中文</span></p>
    <p class="agent_add_sure">确定</p>
  </form>
</div>
</body>
<% include ../common/bottom.ejs %>