<% include ../common/top.ejs %>
<body>
<input type="hidden" id="container" data-init="pay_qrcode"/>
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="chang_color">
      <i class="cls-icon"></i>
     <p class="wei_text">请您及时付款！以便订单获得尽快处理。应付金额 <span>￥300元</span></p>
     <p class="wei_text1">微信支付</p>
      <input type="hidden"  id="code_url" code_url="<%= imagessrc%>wei_code.png"  value="<%= imagessrc%>wei_code.png"/> 
     <div class="wei_code">
       <div id="qrcode"></div>  
      <span>请使用微信扫一扫，扫描二维码支付</span>
    </div>
    <div class="phone"></div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>