<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/usa/usa.css">
</head>
<body>
	<div class="g-hd">
  <div class="m-top">
    <div class="g-in f-cb">
      <div class="m-menu f-fl">
        <a class="user" href="#">hi,Viola！</a><i>|</i><a class="msg" href="#">消息<span class="num">2</span></a><span class="tips"><a class="txt" href="#">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a href="#">退出</a>
      </div>
      <ul class="m-link f-ib f-fr">
        <li><a href="#">官网首页</a></li>
        <li><a href="#">课程介绍</a></li>
        <li><a href="#">英语水平</a></li>
        <li><a href="#">企业培训</a></li>
        <li class="follow"><a href="#">关注我们</a>
          <ul>
            <li class="tsina"><a href="#">新浪微博</a></li>
            <li class="tqq"><a href="#">腾讯微博</a></li>
          </ul>
        </li>
        <li><a href="#">邀请有礼</a></li>
      </ul>
    </div>
  </div>
  <!-- /m-top -->
  <div class="m-head">
    <div class="g-in">
      <h1 class="logo"><a href="#">51talk 无忧英语</a></h1>
      <ul class="nav">
        <li class="crt"><a href="#">首页</a></li>
        <li><a href="#">账户设置</a></li>
        <li><a href="#">购买课程</a></li>
      </ul>
      <div class="contact">
        <p class="bizapp"><a href="javascript:void(0)">客服在线咨询 (09:00-24:00)</a></p>
        <p class="phone">4000-51-51-51</p>
      </div>
    </div>
  </div>
 <!-- /m-head -->
</div>
	<div id="usa-app" data-init="usa">
		<div class="courses-wrap clearfix">
			<!--课程体系目录-->
			<div class="directories"></div>
			<!--课程体系内容-->
			<div class="content-lst">
				<div class="level-icon level0-icon"></div>
				<div class="level-end"></div>
				<ul class="clearfix">
					<li class="level0 level0-current"></li>
					<li class="level1"></li>
					<li class="level2"></li>
					<li class="level3"></li>
				</ul>
			</div>
		</div>
		<div class="detail-lst clearfix">
			<div class="dir-detail-level0 detail">
				<i class="arr"></i>
				<h3>级别说明</h3>
				<h4>您的级别是：<em>美国小学K级别</em></h4>
				<p><em>课程选择与重点：</em>
					我们为您推荐K级别课程-Prepare for Reading。语言学中将0-12岁定义为语言习得的关键期（Critical Period），在关键期中，语音的输入尤为重要。纯正的语音输入将为孩子的语言学习奠定坚实的基础。 
					K级别的课程目标是英语启蒙，激发孩子对英语的学习兴趣。通过一年全外教浸泡式学习，以26个字母为主线，掌握26个字母的发音、分辨大小写为基础，进而使孩子能够听读简单的单词，听懂课堂指令、简单对话，最终为培养孩子良好的阅读习惯做好铺垫。
					</p>
				<p><em>教师选择：</em>美国小学课程为您配备了最优质的北美教师进行一对一教学，让孩子浸泡在最纯正的英语环境中。我们的教师来自北美教学一线，拥有教师资格证书；本科及以上学历，80%以上为教育学及相关专业毕业；并且具有丰富的少儿教学经验，了解孩子们的心理，善于和孩子们交流。 纯正的发音，地道的教学，让您的孩子不仅learn in English, 而且think in English. </p>
				<p><em>学习方法：</em>根据本阶段学员特点，外教将以TPR（全身反应教学法）、启发式教学法、情景式教学等方法讲授英文字母及绘本阅读。以师生互动、益智游戏的方法，让孩子的英语学习更科学、更高效、更有趣。</p>
			</div>
			<div class="dir-detail-level1 detail" style="display:none">
				<i class="arr"></i>
				<h3>级别说明</h3>
				<h4>您的级别是：<em>美国小学G1级别</em></h4>
				<p><em>课程选择与重点：</em>我们为您推荐G1级别课程-Guide Reading 1 。语言学中将0-12岁定义为语言习得的关键期（Critical Period），在关键期中，语音的输入尤为重要。纯正的语音输入将为孩子的语言学习奠定坚实的基础。 
G1 阶段的目标是在阅读中掌握拼读技能。我们为孩子选择了丰富的文学类及其他各学科的原版读物，让孩子通过自然拼读的方法学习、掌握阅读中的词汇、句型。北美外教一对一教学，保证孩子在听、说、读、写四方面全面提升，尽早达到美国小学同龄同步水平。
</p>
				<p><em>教师选择：</em>美国小学课程为您配备了最优质的北美教师进行一对一教学，让孩子浸泡在最纯正的英语环境中。我们的教师来自北美教学一线，拥有教师资格证书；本科及以上学历，80%以上为教育学及相关专业毕业；并且具有丰富的少儿教学经验，了解孩子们的心理，善于和孩子们交流。 纯正的发音，地道的教学，让您的孩子不仅learn in English, 而且think in English. </p>
				<p><em>学习方法：</em>随着知识难度的提升，学习过程也将更具挑战性。本阶段教师将以自然拼音法为主要教学方法，辅以TPR（全身反应教学法）、启发式教学法、情景式教学等方法。在不失趣味、益智的前提下，保证知识的储备及能力的提升。</p>
			</div>
			<div class="dir-detail-level2 detail" style="display:none">
				<i class="arr"></i>
				<h3>级别说明</h3>
				<h4>您的级别是：<em>美国小学G2级别</em></h4>
				<p><em>课程选择与重点：</em>我们为您推荐G2级别课程-Guide Reading 2 。语言学中将0-12岁定义为语言习得的关键期（Critical Period），在关键期中，语音的输入尤为重要。纯正的语音输入将为孩子的语言学习奠定坚实的基础。 
G2 阶段的目标是发展阅读能力，从学习阅读（learn to read）到从阅读中学习( read to learn)。 在G2阶段的学习过程中，学生能够更加熟练掌握自然拼音规则，拼读更复杂的单词，并逐步将自然拼音法灵活应用到英语学习中。通过大量阅读输入的积累，学生在阅读能力提升的同时，写作能力也将得到逐步的发展。
</p>
				<p><em>教师选择：</em>美国小学课程为您配备了最优质的北美教师进行一对一教学，让孩子浸泡在最纯正的英语环境中。我们的教师来自北美教学一线，拥有教师资格证书；本科及以上学历，80%以上为教育学及相关专业毕业；并且具有丰富的少儿教学经验，了解孩子们的心理，善于和孩子们交流。 纯正的发音，地道的教学，让您的孩子不仅learn in English, 而且think in English. </p>
				<p><em>学习方法：</em>本阶段我们将采用国际最先进的CLIL（知识和语言相结合）的教学理念，同时结合TPR（全身反应教学法）、自然拼音法、启发式教学法、情景式教学、任务教学法等，真正实现CCSS（共同核心州立标准）所倡导的英语学习的重点不再是单纯的英语语言学习，而是更加侧重应用能力的培养，全面提升学生的英文思维能力。</p>
			</div>
		</div>
	</div>
<script src="/js/html/project/usa/vendor.js"></script>
</body>
</html>