<% include ../common/top.ejs %>
<body>
<div class="les_ce" data-init="lesson29229">
  <ul class="l-list">
    <li data-type="">lesson</li>
    <li data-type="">CE GC lessons</li>
    <li class="cont" data-type="">AC GC lessons</li>  
  </ul>
  <!-- calendars -->
    <div class="cals">
      <span class="l-data">lesson Date:</span> 
      <input type="text" class="num" id="start" readonly="readonly">
      <span class="to">To</span>
      <input type="text" class="num" id="end" readonly="readonly">
      <input type="button" class="submit" value="Search" id="search">
    </div>
  <!-- /calendars -->
  <!-- lessons -->
    <div class="les-list">
      <h3 class="h-t">Lesson:30 ;<a href="javascript:;">9</a>undone lesson memo ;<a href="javascript:;">1</a>Late ; <a href="javascript:;">0</a>Leave Early ; <a href="javascript:;">0</a>Class consultant's feedback</h3>
      <table cellspacing="0" cellpadding="0" class="l-tab">
        <tr>
          <td colspan="9" class="h-td">Lesson History</td>
        </tr>
        <tr>
          <th>Lesson Date</th>
          <th>Student’s Name</th>
          <th>Class Medium</th>
          <th width="120">Course</th>
          <th>Level Assessment</th>
          <th>Lesson Memo</th>
          <th>Absent</th>
          <th>Lesson Record</th>
          <th>Operation</th>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>
            <span>Christine</span>
            <i class="t-t">For contract renewal</i>
            <a href="javascript:;" class="l-eva">Message to IS</a>
          </td>
          <td>
            <i class="les-icon-ac"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="undone">undone</i></td>
          <td>
            <a href="javascript:;" class="l-eva">Posted</a>
            <span>08/13 14:20</span>
          </td>
          <td>Teacher absent</td>
          <td>
            <i class="perfect"></i>
            <a href="javascript:;" class="l-eva">View Details</a>
          </td>
          <td>
            <i class="t-t">SMS sent</i>
            <a href="javascript:;" class="l-eva">Message to CC</a>
            <a href="javascript:;" class="l-eva">Evaluate Textbook </a>
          </td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>
            <span>Christine</span>
            <i class="t-t">For contract renewal</i>
            <a href="javascript:;" class="l-eva">Message to IS</a>
          </td>
          <td>
            <i class="les-icon-qq"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="undone">undone</i></td>
          <td>
            <a href="javascript:;" class="l-eva">Posted</a>
            <span>08/13 14:20</span>
          </td>
          <td>Teacher absent</td>
          <td><a href="javascript:;" class="l-eva">View Details</a></td>
          <td>
            <i class="t-t">SMS sent</i>
            <a href="javascript:;" class="l-eva">Message to CC</a>
            <a href="javascript:;" class="l-eva">Evaluate Textbook </a>
          </td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>
            <span>Christine</span>
            <i class="t-t">For contract renewal</i>
            <a href="javascript:;" class="l-eva">Message to IS</a>
          </td>
          <td>
            <i class="les-icon-email"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td>
            <a href="javascript:;" class="l-eva">Posted</a>
            <span>08/13 14:20</span>
          </td>
          <td><i class="undone">undone</i></td>
          <td>Teacher absent</td>
          <td><a href="javascript:;" class="l-eva">View Details</a></td>
          <td>
            <i class="t-t">SMS sent</i>
            <a href="javascript:;" class="l-eva">Message to CC</a>
            <a href="javascript:;" class="l-eva">Evaluate Textbook </a>
          </td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>
            <span>Christine</span>
            <i class="t-t">For contract renewal</i>
            <a href="javascript:;" class="l-eva">Message to IS</a>
          </td>
          <td>
            <i class="les-icon-iphone"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="undone">undone</i></td>
          <td>
            <a href="javascript:;" class="l-eva">Posted</a>
            <span>08/13 14:20</span>
          </td>
          <td>Teacher absent</td>
          <td><a href="javascript:;" class="l-eva">View Details</a></td>
          <td>
            <i class="t-t">SMS sent</i>
            <a href="javascript:;" class="l-eva">Message to CC</a>
            <a href="javascript:;" class="l-eva">Evaluate Textbook </a>
          </td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>
            <span>Christine</span>
            <i class="t-t">For contract renewal</i>
            <a href="javascript:;" class="l-eva">Message to IS</a>
          </td>
          <td>
            <i class="les-icon-iphone"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="undone u-not">----</i></td>
          <td>
            <a href="javascript:;" class="l-eva">Posted</a>
            <span>08/13 14:20</span>
          </td>
          <td>Teacher absent</td>
          <td><a href="javascript:;" class="l-eva">View Details</a></td>
          <td>
            <i class="t-t">SMS sent</i>
            <a href="javascript:;" class="l-eva">Message to CC</a>
            <a href="javascript:;" class="l-eva">Evaluate Textbook </a>
          </td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>
            <span>Christine</span>
            <i class="t-t">For contract renewal</i>
            <a href="javascript:;" class="l-eva">Message to IS</a>
          </td>
          <td>
            <i class="les-icon-iphone"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="undone u-not">----</i></td>
          <td>
            <a href="javascript:;" class="l-eva">Posted</a>
            <span>08/13 14:20</span>
          </td>
          <td>Teacher absent</td>
          <td><a href="javascript:;" class="l-eva">View Details</a></td>
          <td>
            <i class="t-t">SMS sent</i>
            <a href="javascript:;" class="l-eva">Message to CC</a>
            <a href="javascript:;" class="l-eva">Evaluate Textbook </a>
          </td>
        </tr>
      </table>
    </div>
  <!-- /lessons -->
  <!-- CE lessons -->
    <div class="les-list hide">
      <h3 class="h-t">Lesson：65 total;</h3>
      <table cellspacing="0" cellpadding="0" class="l-tab">
        <tr>
          <td colspan="7" class="h-td">Lesson History</td>
        </tr>
        <tr>
          <th>Lesson Date</th>
          <th>Student’s Name</th>
          <th>Class Medium</th>
          <th>Course</th>
          <th>Status</th>
          <th>Lesson Record</th>
          <th>Absent</th>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-ac"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="t-t">teacher absent</i></td>
          <td><a href="javascript:;" class="l-href">View</a></td>
          <td>Mark student absent</td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-qq"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="t-t">teacher absent</i></td>
          <td><a href="javascript:;" class="l-href">View</a></td>
          <td>Mark student absent</td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-email"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="t-t">teacher absent</i></td>
          <td><a href="javascript:;" class="l-href">View</a></td>
          <td>Mark student absent</td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-iphone"></i>
            Eason
          </td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><i class="t-t">teacher absent</i></td>
          <td><a href="javascript:;" class="l-href">View</a></td>
          <td>Mark student absent</td>
        </tr>
      </table>
    </div>
  <!-- /CE lessons -->
  <!-- AC lessons -->
    <div class="les-list hide">
      <h3 class="h-t">Lesson：65 total;</h3>
      <table cellspacing="0" cellpadding="0" class="l-tab">
        <tr>
          <td colspan="6" class="h-td">Lesson History</td>
        </tr>
        <tr>
          <th>Lesson Date</th>
          <th>Student’s Name</th>
          <th>Class Medium</th>
          <th>Lesson Type</th>
          <th>Course</th>
          <th>Lesson Record</th>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-ac"></i>
            Eason
          </td>
          <td><i class="t-t">AC GC Lesson</i></td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><a href="javascript:;" class="l-href">View</a></td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-qq"></i>
            Eason
          </td>
          <td><i class="t-t">AC GC Lesson</i></td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><a href="javascript:;" class="l-href">View</a></td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-email"></i>
            Eason
          </td>
          <td><i class="t-t">AC GC Lesson</i></td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><a href="javascript:;" class="l-href">View</a></td>
        </tr>
        <tr>
          <td>
            <span>2016-08-15</span>
            <span>22:00~22:30</span>
          </td>
          <td>Christine</td>
          <td>
            <i class="les-icon-iphone"></i>
            Eason
          </td>
          <td><i class="t-t">AC GC Lesson</i></td>
          <td>第六课 领略加州万种风情 California is a beautiful state</td>
          <td><a href="javascript:;" class="l-href">View</a></td>
        </tr>
      </table>
    </div>
  <!-- /AC lessons -->
  <!-- pages -->
    <div class="pages">
      <span class="p-ts">Total: 65</span>
      <div id="pagination"></div>
    </div>
  <!-- /pages -->
</div>
<!-- layer -->
<div class="layer" id="layer">
  <span class="close"></span>
  <h3>AC Record <i>Dry run</i></h3>
  <div class="lesson-layer__tips">Your Appeal will be evaluated as part of the test. <a href="javascript:;" title="Continue reading">Continue reading</a></div>
  <div class="lesson-layer__standby">This is a <em>standby sub</em> lesson, attendance will be computed based 
on when you received the lesson.</div>
  <div class="ac-red">
    <ul class="red-u">
      <li>
        <span class="start">Start</span>
        <div class="rt">
          <span class="l-icon"></span>
          <span class="time">20:00:00</span>
        </div>
      </li>
      <li>
        <span class="ln">ln</span>
        <div class="rt">
          <div class="rt-t">
            <span class="time l-time">20:00:05 <i class="i-f">late</i></span>
            <span class="time l-time text-right">Penalty <i class="i-f">-30 peso</i></span>
          </div>
          <!-- 申诉成功显示此模块 start -->
          <div class="rt-t lesson-layer__success" style="display:none">
            <span class="time l-time">20:00:05 <i class="i-f">late</i></span>
            <span class="time l-time text-right">Penalty reversal <i class="i-f">+30 peso</i></span>
          </div>
          <!-- 申诉成功 end -->
          <!-- Dry Run 期间惩罚 显示此模块 start -->
          <div class="rt-t lesson-layer__punish" style="display:none">
            <span class="time l-time">20:00:05 <i class="i-f">late</i></span>
            <span class="time l-time text-right">Penalty <i class="i-f">-30 peso</i></span>
          </div>
          <!-- Dry Run 期间惩罚 end -->
          <div class="rt-u">
            <a href="javascript:;" class="view viewData">View Details</a>
            <a href="javascript:;" class="view">Appealed</a>
          </div>
        </div>
      </li>
      <!-- view 下拉 -->
      <li class="viewOn hide">
        <span class="ln">ln</span>
        <div class="rt">
          <div class="rt-t">
            <span class="time l-time">20:00:05 </span>
          </div>
        </div>
      </li>
      <li class="viewOn hide">
        <span class="ln">Out</span>
        <div class="rt">
          <span class="time l-time">20:00:00</span> 
        </div>
      </li>
      <li class="viewOn hide">
        <span class="ln">ln</span>
        <div class="rt">
          <div class="rt-t">
            <span class="time l-time">20:00:05 </span>
          </div>
        </div>
      </li>
      <li class="viewOn hide">
        <span class="ln">Out</span>
        <div class="rt">
          <span class="time l-time">20:00:00</span> 
        </div>
      </li>
      <!--  -->
      <li>
        <span class="start">End</span>
        <div class="rt">
          <span class="time">20:00:00</span> 
        </div>
      </li>
      <li>
        <span class="ln">Out</span>
        <div class="rt">
          <span class="time l-time">20:00:00</span> 
        </div>
      </li>
    </ul>
  </div>
  <h3>AC Chatlog</h3>
  <div class="textarea">
    <ul>
      <li>
        <span class="t-name">
          <i>Peter</i>14:35:05
        </span>
        <span class="t-word">I bought them grown already.</span>
      </li>
      <li>
        <span class="t-name">
          <i>Peter</i>14:35:05
        </span>
        <span class="t-word">I bought some grown plants and have them placed in my balcony because I am not really familiar with planting and growing plants.</span>
      </li>
      <li>
        <span class="t-name">
          <i>Peter</i>14:35:05
        </span>
        <span class="t-word">I bought them grown already.</span>
      </li>
    </ul>
  </div>
</div>
<!-- /layer -->
</body>
<% include ../common/bottom.ejs %>