<h3 class="pic-h3 f-cb"><span class="t2">看图猜词</span><span class="t1">通过图片理解词义，摆脱中文!</span></h3>
 <div style="clear:both"></div>
      <div class="bom-wr">
        <div class="lt one-lt" id="classOn">
          <ul>
            <li>
              <a href="javascript:;" class="icon" media-audio="<%=domain + data.target.record%>" data-index="1"></a>
             <div class="wordhover"> 
              <img src="' + domain +'pre_img_thumb/' + data.target.img + '" data-img="<%=domain + data.target.img%>" alt="" class="abaImg">
             </div> 
              <p class="p"><%=pstr1%></p>
            </li>
          </ul>
        </div>
        <div class="lt rt one-lt one-rt" id="classOff">
          <a href="javascript:;" class="icon" media-audio="<%=domain + data.record %>" data-index="3"></a>
          <ul>
            <li data-status="<%=(data.option[0].correct || 0)%>">
              <a href="javascript:;" class="linkClass">
                <div class="wordhover">  
                <img src="<%=domain +'pre_img_thumb/' + data.option[0].img%>" data-img="<%=domain + data.option[0].img%>" alt="" class="abaImg">
              </div>
                <i class="check"></i>
                <span class="correct"></span>
              </a>
            </li>
            <li data-status="<%=(data.option[1].correct || 0)%>">
              <a href="javascript:;" class="linkClass">
               <div class="wordhover"> 
                <img src="<%=domain +'pre_img_thumb/' + data.option[1].img%>" data-img="<%=domain + data.option[1].img %>" alt="" class="abaImg">
              </div>
                <i class="check"></i>
                <span class="correct"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>