<div class="blind">
    <div class="pagetion">
      <span class="cur"><%=data.num%></span> / <span class="total"><%=data.total%></span>
    </div>
    <div class="box">
        <div class="player ">
            <span class="icon"  media-audio="<%=domain + data.record%>">&nbsp;</span>
        </div>
        <div class="count-down gray">
              请选择<span>3</span>
        </div>
        <div class="box2">
              <span class="can gray" id="can">能听懂</span>
              <span class="not gray" id="not">听不懂</span>
        </div>

        <div class="backTime">
            <div class="number">3</div>
            <div class="text">预习内容定制</div>
        </div>
    </div>
</div>