<div class="g-note g-note2">
  <div class="m-title">
    <p>单词发声训练：点击“听”试听单词发音，点击“读”进行发音练习后，系统会自动为你打分。</p>
    <a style="margin-left: 100px;" href="http://www.51talk.com/user/sword" target="_blank">查看生词表</a>
  </div>
  <div class="m-translate">
    <%for (var i=0, len=res.total; i<len; i++) {%>
      <div class="trans-content" <%=(i!=0 ? 'style=display:none' : '')%>>
        <div class="trans-group f-cb">
            <div class="title">
                <span class="word"><%=res.words[i].title%></span>
                <span class="spell"><%=res.words[i].content.yinb%>
                <a class="add" add_content="<%=res.words[i].title%>" is_words="<%=res.words[i].is_words%>" add_preid="<%=res.words[i].id%>" add_courseid="<%=res.words[i].course_id%>" href="javascript:void(0)" title="添加该单词到生词本" style="background-position: <%=res.words[i].is_words != 0?'-116px -74px':'0 -74px'%>">
                </a>
            </div>
            <div class="comment">
              <p>释义:<%=res.words[i].content.explain%></p>
              <p><%=res.words[i].content.yinj || ''%></p>
            </div>
            <div class="oper oper2" style="padding-left:0; width:700px;">
              <span class="listen" title="听" media-audio="<%=domain1 + res.words[i].record%>"  data-index="200<%=i%>">听<i></i>
              </span>
              <%if(i==0){%>
                <span class="read" id="hideTip" title="读" data-title="<%=res.words[i].title%>">读<i></i></span>
              <%}else{%>
                  <span class="read"  title="读" data-title="<%=res.words[i].title%>">读<i></i></span>
              <%}%>  
              <span class="result"></span>
                <%if(i==0){%>
                  <div class="m-tips" >
                      听到“叮”声后开始朗读
                      <a class="u-btn active" id="iknow" href="javascript:void(0)">我知道啦</a>
                      <i class="arrow"></i>
                      <i class="arrow2"></i>
                  </div>
                <%}%>  
            </div>
            <div style="clear:both;"></div>
      </div>
      <div class="samples f-cb" style="border-top:#dbdee0 solid 1px;">
              <div class="exp">例句：</div>
              <ol>
                <%for (var j=0; j<1; j++) {%>
                   <li>
                     <div class="sent">
                        <div class="comment">
                          <p><%=res.words[i].e_sentence1.replace(/\[/g,'<span style="color:#e10c0c">').replace(/\]/g,'</span>')%></p>
                          <p style="color:#999;"><%=res.words[i].c_sentence1.replace(/\[/g,'<span style="color:#e10c0c">').replace(/\]/g,'</span>')%></p>
                        </div>
                        <div class="oper oper2 oper3">
                          <span class="listen" title="听" media-audio="<%=domain1 + res.words[i].sentence1_url%>" data-index="200<%=i%><%=Math.random()%>">听<i></i></span>
                          <span class="read" title="读" data-title="<%=res.words[i].e_sentence1%>">读<i></i></span>
                          <span class="result"></span>
                        </div>
                      </div>
                      <%if(res.words[i].sentence1_imgurl){%>
                      <div class="word-img">
                          <img width="127" height="92"  src="<%=domain +'efl_image/prepar/'+ res.words[i].sentence1_imgurl%>">
                      </div>
                      <%}%>
                    </li>
                    <%if(res.words[i].e_sentence2 && !res.words[i].e_sentence3){%>
                        <li>
                           <div class="sent">
                              <div class="comment">
                                <p><%=res.words[i].e_sentence2%></p>
                                <p style="color:#999;"><%=res.words[i].c_sentence2%></p>
                              </div>
                              <div class="oper oper2 oper3">
                                <span class="listen" title="听" media-audio="<%=domain1 + res.words[i].sentence2_url%>" data-index="200<%=i%><%=j%>">听<i></i></span>
                                <span class="read" title="读" data-title="<%=res.words[i].e_sentence2%>">读<i></i></span>
                                <span class="result"></span>
                              </div>
                            </div>
                            <%if(res.words[i].sentence2_imgurl){%>
                            <div class="word-img">
                              <img width="127" height="92"  src="<%=domain +'efl_image/prepar/'+ res.words[i].sentence2_imgurl%>">
                              </div>
                            <%}%>  
                      </li>
                    <%}%>  
                <%}%>
              </ol>
       </div>
      <%if(res.words[i].e_sentence3){%>
         <div class="samples f-cb">
              
              <ol>
                 <li>
                   <div class="sent">
                      <div class="comment">
                        <p>——<%=res.words[i].e_sentence2%></p>
                        <p style="color:#999;<%=!res.words[i].c_sentence2.match(/^——/g)?'text-indent:34px;':''%>"><%=res.words[i].c_sentence2%></p>
                      </div>
                      <div class="oper oper2 oper3">
                        <span class="listen" title="听" media-audio="<%=domain1 + res.words[i].sentence2_url%>" data-index="200<%=i%><%=Math.random()%>">听<i></i></span>
                        <span class="read" title="读" data-title="<%=res.words[i].e_sentence2%>">读<i></i></span>
                        <span class="result"></span>
                      </div>
                    </div>
                  </li>
                  <li>
                   <div class="sent">
                      <div class="comment">
                        <p>——<%=res.words[i].e_sentence3%></p>
                        <p style="color:#999;<%=!res.words[i].c_sentence2.match(/^——/g)?'text-indent:34px;':''%>"><%=res.words[i].c_sentence3%></p>
                      </div>
                      <div class="oper oper2 oper3">
                        <span class="listen" title="听" media-audio="<%=domain1 + res.words[i].sentence3_url%>" data-index="200<%=i%><%=Math.random()%>">听<i></i></span>
                        <span class="read" title="读" data-title="<%=res.words[i].e_sentence2%>">读<i></i></span>
                        <span class="result"></span>
                      </div>
                    </div>
                    <%if(res.words[i].sentence3_imgurl){%>
                    <div class="word-img">
                        <img width="127" height="92"  src="<%=domain +'efl_image/prepar/'+ res.words[i].sentence3_imgurl%>">
                    </div>
                    <%}%>
                  </li>
              </ol>
         </div>
      <%}%>   
      </div>
    <%}%>
    <%if (res.total<=1) {%>
    </div>
    <%}else{%>
        <div class="trans-pages">
          <a class="prev dis-prev" href="javascript:;" title="上一个单词">&lt;</a>
          <span class="crt"><span id="cur">1</span>/<%=res.total%></span>
          <a class="next" href="javascript:;" title="下一个单词">&gt;</a>
        </div>
      </div>
    <%}%>     