<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>

<!-- 微信二维码 -->
<div class="bindingSuccess">
  <img src="<%= imagessrc%>bangding.jpg">
  <p>恭喜您！绑定51Talk账号成功</p>
  <div class="bd_link">
  	<ul>
	  	<li><a href="javascript:;">立即约课</a></li>
	  	<li><a href="javascript:;">购买课程</a></li>
	  	<li><a href="javascript:;">进入用户中心</a></li>
	  </ul>
  </div>
</div>
<!-- 微信二维码 -->

<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
