<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/summer_landing/summer_landing.css">
</head>
<body data-init="summer_landing">
	<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/summer_landing//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
	<div class="summer-banner">
		<div class="banner-wrap">
			<a class="sign-btn" href="javascript:;" title="立即报名"></a>
		</div>
	</div>
	<div class="summer-tabs">
		<ul class="clearfix">
			<li class="current"><em>小学低年级</em><span>（一至三年级）</span></li>
			<li><em>小学高年级</em><span>（四至六年级）</span></li>
			<li><em>初高中</em><span>（初一至高三）</span></li>
		</ul>
	</div>
	<div class="summer-container">
		<div class="low-grades switch">
			<!-- 课程简介 -->
			<div class="description">
				<h2 title="课程简介"></h2>
				<div class="period-lst">
					<h3>80课时暑期<em>集训课</em> - <span>集中上课，快速提升听说能力</span></h3>
					<ul class="clearfix">
						<li><img src="/images/html/summer_landing/low-grades/primary_l_1.jpg" alt="生活口语" title="生活口语"></li>
						<li><img src="/images/html/summer_landing/low-grades/primary_l_2.jpg" alt="自然科学" title="自然科学"></li>
						<li><img src="/images/html/summer_landing/low-grades/primary_l_3.jpg" alt="社会研究" title="社会研究"></li>
						<li><img src="/images/html/summer_landing/low-grades/primary_l_4.jpg" alt="未来领导力" title="未来领导力"></li>
					</ul>
				</div>
				<div class="period-lst">
					<h3>30课时自由<em>兴趣课</em> - <span>快乐学英文</span></h3>
					<ul class="clearfix">
						<li><img src="/images/html/summer_landing/low-grades/primary_l_5.jpg" alt="牛津阅读数" title="牛津阅读数"></li>
						<li><img src="/images/html/summer_landing/low-grades/primary_l_6.jpg" alt="少儿英文歌曲" title="少儿英文歌曲"></li>
						<li><img src="/images/html/summer_landing/low-grades/primary_l_7.jpg" alt="自由会话" title="自由会话"></li>
						<li><img src="/images/html/summer_landing/low-grades/primary_l_8.jpg" alt="综合英语" title="综合英语"></li>
					</ul>
				</div>
				<div class="crowd">
					<h4>适合人群</h4>
					<p>• 小学一年级至三年级     • 想要利用暑假夯实英语听说，学习口语精华话题</p>
					<p>• 想要双管齐下，同时拓展词汇量和英文知识面     • 想要巩固并提高听说能力的学员</p>
				</div>
				<a href="javascript:;" class="go-sign">马上体验</a>
			</div>
			<!-- 课程优势 -->
			<div class="advantage">
				<h2 title="课程优势"></h2>
				<div class="advantage-wrap">
					<ul class="clearfix">
						<li>
							<div class="icons wj"></div>
							<h3>纯外教</h3>
							<p>全英文外教授课</p>
							<p>提供沉浸式学习环境</p>
						</li>
						<li>
							<div class="icons gx"></div>
							<h3>个性化</h3>
							<p>外教一对一授课</p>
							<p>及时反馈问题</p>
						</li>
						<li>
							<div class="icons play"></div>
							<h3>玩中学</h3>
							<p>活泼的教学方法</p>
							<p>充分调动积极性</p>
						</li>
						<li>
							<div class="icons time"></div>
							<h3>省时间</h3>
							<p>足不出户</p>
							<p>节约时间成本</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 教材展示 -->
			<div class="textbook-show">
				<h2 title="教材展示"></h2>
				<div class="show-wrap">
					<div class="arr arr-left"></div>
					<div class="slider-con">
						<ul class="clearfix">
							<li><img src="/images/html/summer_landing/low-grades/show_01.jpg"></li>
							<li><img src="/images/html/summer_landing/low-grades/show_02.jpg"></li>
							<li><img src="/images/html/summer_landing/low-grades/show_03.jpg"></li>
							<li><img src="/images/html/summer_landing/low-grades/show_04.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="arr arr-right"></div>
				</div>
				<a class="go-sign" href="javascript:;">马上体验</a>
			</div>
			<!-- 学习计划 -->
			<div class="study-plan">
				<h2 title="学习计划"></h2>
				<h3><em>每天50分钟</em>高密度集中上课；学习效率更高，记忆更深刻！</h3>
				<div class="plan-table">
					<i class="icon"></i>
					<div class="plan-table-wrap">
						<h4>小学低年级</h4>
						<h5>暑期周学习计划：<em>14</em><span>课时/周</span></h5>
						<table class="table">
							<tbody>
								<tr>
									<td width="130"><em>4</em>课时</td>
									<td class="pad-left-50"><em>生活口语</em></td>
								</tr>
								<tr>
									<td><em>5</em>课时</td>
									<td class="pad-left-50"><em>自然科学/社会研究</em></td>
								</tr>
								<tr>
									<td><em>1</em>课时</td>
									<td class="pad-left-50"><em>未来领导力</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>自由兴趣课</em></td>
								</tr>
							</tbody>
						</table>
						<p class="tips">每日学习时长可自由支配，以上为推荐学习计划。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="senior-grades switch" style="display:none;">
			<!-- 课程简介 -->
			<div class="description">
				<h2 title="课程简介"></h2>
				<div class="period-lst">
					<h3>80课时暑期<em>集训课</em> - <span>短时高频，集中提高阅读能力和考试成绩</span></h3>
					<ul class="clearfix">
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_1.jpg" alt="语法" title="语法"></li>
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_2.jpg" alt="阅读" title="阅读"></li>
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_3.jpg" alt="口语" title="口语"></li>
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_4.jpg" alt="未来领导力" title="未来领导力"></li>
					</ul>
				</div>
				<div class="period-lst">
					<h3>30课时自由<em>兴趣课</em> - <span>浸泡英语环境</span></h3>
					<ul class="clearfix">
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_5.jpg" alt="牛津阅读数" title="牛津阅读数"></li>
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_6.jpg" alt="自由会话" title="自由会话"></li>
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_7.jpg" alt="生活口语" title="生活口语"></li>
						<li><img src="/images/html/summer_landing/senior-grades/primary_h_8.jpg" alt="综合英语" title="综合英语"></li>
					</ul>
				</div>
				<div class="crowd">
					<h4>适合人群</h4>
					<p>• 小学四年级至六年级学生     • 想利用暑假巩固语法知识点、梳理语法体系、提高成绩</p>
					<p>• 想学习阅读方法，提高阅读能力     • 想强化听说的学员</p>
				</div>
				<a href="javascript:;" class="go-sign">马上体验</a>
			</div>
			<!-- 课程优势 -->
			<div class="advantage">
				<h2 title="课程优势"></h2>
				<div class="advantage-wrap">
					<ul class="clearfix">
						<li>
							<div class="icons wj"></div>
							<h3>纯外教</h3>
							<p>全英文外教授课</p>
							<p>提供沉浸式学习环境</p>
						</li>
						<li>
							<div class="icons gx"></div>
							<h3>个性化</h3>
							<p>外教一对一授课</p>
							<p>及时反馈问题</p>
						</li>
						<li>
							<div class="icons play"></div>
							<h3>选材新</h3>
							<p>15个多元主题</p>
							<p>强化听说，培养英文思维</p>
						</li>
						<li>
							<div class="icons time"></div>
							<h3>提升快</h3>
							<p>文章+语法点+核心词汇</p>
							<p>系统串讲，提升阅读能力</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 教材展示 -->
			<div class="textbook-show">
				<h2 title="教材展示"></h2>
				<div class="show-wrap">
					<div class="arr arr-left"></div>
					<div class="slider-con">
						<ul class="clearfix">
							<li><img src="/images/html/summer_landing/senior-grades/tm1.jpg"></li>
							<li><img src="/images/html/summer_landing/senior-grades/tm2.jpg"></li>
							<li><img src="/images/html/summer_landing/senior-grades/tm3.jpg"></li>
							<li><img src="/images/html/summer_landing/senior-grades/tm4.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="arr arr-right"></div>
				</div>
				<a class="go-sign" href="javascript:;">马上体验</a>
			</div>
			<!-- 学习计划 -->
			<div class="study-plan">
				<h2 title="学习计划"></h2>
				<h3><em>每天50分钟</em>高频度浸泡精华课程；层层巩固，知识掌握更扎实！</h3>
				<div class="plan-table">
					<i class="icon"></i>
					<div class="plan-table-wrap">
						<h4>小学高年级</h4>
						<h5>暑期周学习计划：<em>14</em><span>课时/周</span></h5>
						<table class="table">
							<tbody>
								<tr>
									<td width="130"><em>5</em>课时</td>
									<td class="pad-left-50"><em>语法</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>阅读/口语</em></td>
								</tr>
								<tr>
									<td><em>1</em>课时</td>
									<td class="pad-left-50"><em>未来领导力</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>自由兴趣课</em></td>
								</tr>
							</tbody>
						</table>
						<p class="tips">每日学习时长可自由支配，以上为推荐学习计划。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="high-grades switch" style="display:none;">
			<!-- 课程简介 -->
			<div class="description">
				<h2 title="课程简介"></h2>
				<div class="period-lst high-period">
					<h3>80课时暑期<em>集训课</em> - <span>短时高效，突破口语，掌握学科知识 !</span></h3>
					<ul class="clearfix">
						<li><img src="/images/html/summer_landing/high-grades/junior_b_1.jpg" alt="语法" title="语法"></li>
						<li><img src="/images/html/summer_landing/high-grades/junior_b_2.jpg" alt="阅读" title="阅读"></li>
					</ul>
				</div>
				<div class="period-lst">
					<h3>30课时自由<em>兴趣课</em> - <span>学习异国文化，提升综合技能</span></h3>
					<ul class="clearfix">
						<li><img src="/images/html/summer_landing/high-grades/junior_s_1.jpg" alt="牛津阅读数" title="牛津阅读数"></li>
						<li><img src="/images/html/summer_landing/high-grades/junior_s_2.jpg" alt="自由会话" title="自由会话"></li>
						<li><img src="/images/html/summer_landing/high-grades/junior_s_3.jpg" alt="生活口语" title="生活口语"></li>
						<li><img src="/images/html/summer_landing/high-grades/junior_s_4.jpg" alt="综合英语" title="综合英语"></li>
					</ul>
				</div>
				<div class="crowd">
					<h4>适合人群</h4>
					<p>初一至高三学生，同时适用备战小升初     • 想利用暑假突击口语，实现英语表达力的飞跃</p>
					<p>• 想结合课堂教学，用英语巩固物理、化学、历史等学科知识的学员</p>
				</div>
				<a href="javascript:;" class="go-sign">马上体验</a>
			</div>
			<!-- 课程优势 -->
			<div class="advantage">
				<h2 title="课程优势"></h2>
				<div class="advantage-wrap">
					<ul class="clearfix">
						<li>
							<div class="icons wj"></div>
							<h3>纯外教</h3>
							<p>全英文外教授课</p>
							<p>提供沉浸式学习环境</p>
						</li>
						<li>
							<div class="icons gx"></div>
							<h3>个性化</h3>
							<p>外教一对一授课</p>
							<p>及时反馈问题</p>
						</li>
						<li>
							<div class="icons play"></div>
							<h3>效率高</h3>
							<p>暑期集中上课</p>
							<p>效率更高</p>
						</li>
						<li>
							<div class="icons time"></div>
							<h3>提分快</h3>
							<p>科学课程搭配方案</p>
							<p>提高更快</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 教材展示 -->
			<div class="textbook-show">
				<h2 title="教材展示"></h2>
				<div class="show-wrap">
					<div class="arr arr-left"></div>
					<div class="slider-con">
						<ul class="clearfix">
							<li><img src="/images/html/summer_landing/high-grades/tm1.jpg"></li>
							<li><img src="/images/html/summer_landing/high-grades/tm2.jpg"></li>
							<li><img src="/images/html/summer_landing/high-grades/tm3.jpg"></li>
							<li><img src="/images/html/summer_landing/high-grades/tm4.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="arr arr-right"></div>
				</div>
				<a class="go-sign" href="javascript:;">马上体验</a>
			</div>
			<!-- 学习计划 -->
			<div class="study-plan">
				<h2 title="学习计划"></h2>
				<h3><em>每天2节课</em>1对1外教浸入式学习；拓展英语知识面；告别哑巴英语！</h3>
				<div class="plan-table">
					<i class="icon"></i>
					<div class="plan-table-wrap">
						<h4>初高中</h4>
						<h5>暑期周学习计划：<em>14</em><span>课时/周</span></h5>
						<table class="table">
							<tbody>
								<tr>
									<td width="130"><em>6</em>课时</td>
									<td class="pad-left-50"><em>《经典英语》</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>《新学科英语》</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>自由兴趣课</em></td>
								</tr>
							</tbody>
						</table>
						<p class="tips">每日学习时长可自由支配，以上为推荐学习计划。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="summer-sale">
		<div class="summer-sale-center">
			<h2 title="暑期套餐大放价，坚持学习奖次卡！"></h2>
			<div class="sale-message">
				<h3>限时优惠价<em>￥3999</em><del>（原价：¥ 4399）</del></h3>
				<h4>【暑期套餐】80次集训课+30次自由兴趣课</h4>
				<div class="sale-tips clearfix">
					<span>7月1日~8月31日期间上完80次课</span>
					<em>加送20次次卡！</em>
				</div>
				<div class="sale-instructions">
					<h6>使用说明：</h6>
					<p>暑期套餐使用有效期为购买当日起至2016年8月31日；</p>
					<p>加送次卡有效期为2016年9月1日—9月30日</p>
				</div>
				<a class="sign-btn" href="javascript:;">立即报名</a>
			</div>
		</div>
	</div>
	<div class="summer-show">
		<div class="summer-show-center">
			<h2 title="一个暑假，变身学霸！"></h2>
			<ul class="clearfix">
				<li>
					<div class="base">
						<img src="/images/html/summer_landing/Joanna.png" alt="Joanna" title="Joanna">
						<p>6岁</p>
						<p>小学在读</p>
					</div>
					<div class="show-info">高兴地跟老师一起手舞足蹈中英混血小“芭比”在51Talk学习4年，入围《校园好声音》英文歌香港决赛。</div>
				</li>
				<li>
					<div class="base">
						<img src="/images/html/summer_landing/Sam.png" alt="Sam" title="Sam">
						<p>11岁</p>
						<p>小学在读</p>
					</div>
					<div class="show-info">在51Talk坚持学习快7个月，口语学习和英文小说阅读每天各30分钟，学校成绩有很大提升，还在英语演讲比赛获奖。</div>
				</li>
				<li>
					<div class="base">
						<img src="/images/html/summer_landing/Eileen.png" alt="Eileen" title="Eileen">
						<p>16岁</p>
						<p>高中在读</p>
					</div>
					<div class="show-info">在51Talk培养了语感,去美国和大家交流没有障碍51Talk的学习让她在美国游学生活中交流“无压力”。</div>
				</li>
			</ul>
			<a class="sign-btn" href="javascript:;" title="立即报名">立即报名</a>
		</div>
	</div>
	<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






	<script src="/js/html/project/summer_landing/vendor.js"></script>
</body>
</html>