<div class="g-in">
    <div class="m-ad-lg">
    <!-- /notice -->
        <div class="m-side m-count" id="silderY">
            <div class="bd" style="height:160px;">
                <ul data-silder="ul" style="position: absolute; height: 1280px; top: -160px;">
                    <li style="position:relative;">
                        <a class="__dim__o" setdata="ad_picture" href="/pay/product" target="_blank">
                            <img src="http://static.51talk.com/upload/ad/2016041518335494800.png?v=1461036216708" height="160" width="1000" alt="51talk">
                        </a>
                        <div class="m-timer">
                            <i class="u-rd-l"></i>
                            <i class="u-rd-r"></i>
                            <div class="m-timer-mn f-cb">
                                <div class="m-lt">
                                    <span class="u-txt">购买人数</span>
                                    <span class="u-colon">:</span>
                                    <span class="u-num">2884</span>
                                </div>
                                <div class="m-rt jsSilderDate" data-timer="31480000">
                                    <span class="u-line">距结束</span>
                                    <i>00</i><span class="u-txt-day">天</span>
                                    <i>08</i><span class="u-colon">:</span>
                                    <i>44</i><span class="u-colon">:</span>
                                    <i>41</i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/Activity/turntable" target="_blank" class="jsImgPv __dim__o" data-pvlog="168">
                            <img src="http://static.51talk.com/upload/ad/2016/0413/146051386799510_thumb.png?v=1461036216708" height="160" width="1000" alt="销售推广">
                        </a>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/page/eulanding" target="_blank" class="jsImgPv __dim__o" data-pvlog="167">
                            <img src="http://static.51talk.com/upload/ad/2016/0412/146043782688114_thumb.png?v=1461036216708" height="160" width="1000" alt="欧美推广">
                        </a>
                    </li>
                    <li>
                        <a href="/course/ct/" target="_blank">
                            <img src="http://static.51talk.com/upload/ad/edm/ctbanner1000X160__7f0.png?v=1461036216708" height="160" width="1000">
                        </a>
                    </li>
                    <li style="position:relative;">
                        <a class="__dim__o" setdata="ad_picture" href="/pay/product" target="_blank">
                        <img src="http://static.51talk.com/upload/ad/2016041518335494800.png?v=1461036216708" height="160" width="1000" alt="51talk">
                        </a>
                        <div class="m-timer">
                            <i class="u-rd-l"></i>
                            <i class="u-rd-r"></i>
                            <div class="m-timer-mn f-cb">
                                <div class="m-lt">
                                    <span class="u-txt">购买人数</span>
                                    <span class="u-colon">:</span>
                                    <span class="u-num">2884</span>
                                </div>
                                <div class="m-rt jsSilderDate" data-timer="31480000">
                                    <span class="u-line">距结束</span>
                                    <i>00</i><span class="u-txt-day">天</span>
                                    <i>08</i><span class="u-colon">:</span>
                                    <i>44</i><span class="u-colon">:</span>
                                    <i>41</i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/Activity/turntable" target="_blank" class="jsImgPv __dim__o" data-pvlog="168">
                            <img src="http://static.51talk.com/upload/ad/2016/0413/146051386799510_thumb.png?v=1461036216708" height="160" width="1000" alt="销售推广">
                        </a>
                    </li>
                    <li>
                        <a setdata="ad_picture" href="http://www.51talk.com/page/eulanding" target="_blank" class="jsImgPv __dim__o" data-pvlog="167">
                            <img src="http://static.51talk.com/upload/ad/2016/0412/146043782688114_thumb.png?v=1461036216708" height="160" width="1000" alt="欧美推广">
                        </a>
                    </li>
                    <li>
                        <a href="/course/ct/" target="_blank">
                            <img src="http://static.51talk.com/upload/ad/edm/ctbanner1000X160__7f0.png?v=1461036216708" height="160" width="1000">
                        </a>
                    </li>
                </ul>
                <ul class="hd" data-silder="points"><li class=""></li><li class="crt"></li><li></li><li></li></ul>
            </div>
        </div>
        <!-- /m-side -->
    </div>
</div>