<div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="http://Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/sitemap/" target="_blank" title="网站地图">网站地图</a><i>|</i>
			<a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
            <!--
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
            </script>
            -->
                    </p>
        <img style="display:none;" src="http://beacon.51talk.com/a.gif?v=085efa12c07b067e11f367b7106a1577&amp;site=1&amp;type=1&amp;uuid=d9d7c5807aaf551f3dd1742656417503&amp;uid=U3925242411&amp;ref=http%3A%2F%2Fwww.51talk.com%2F" border="0" alt="">
    </div>
</div>