<div class="g-sd-r">
    <!-- 邀请好友送次卡 
    <div class="m-ad-sm box2">
        <a href="/user/recommendf">

            <img src='http://static.51talk.com/static/image/menber/up/198_143_1.png?v=1461036216708' height="143" width="198" alt="邀请好友送次卡" />
        </a>
    </div>
    -->
    <!-- /邀请好友送次卡 -->
    <!-- 服务中心 -->
    <div class="ser-try">
        <b class="entry">服务中心入口</b>
        <a href="/user/service_center" class="ser-btn __dim__o" setdata="right_service"><img src="http://static.51talk.com/static/image/menber/up_act/ppt01.png?v=1461036216708"></a>
        <img src="http://static.51talk.com/static/image/menber/up_act/ppt02.png?v=1461036216708" class="ser-rt">
    </div>

    <!-- /服务中心 -->
    <!-- 网站动态 -->
    <div class="m-ls-web box1" style="overflow: hidden;">
        <h3><span class="u-tt-md f-fl">网站动态</span><a class="f-fr s-fc3" href="http://www.51talk.com/page/news/" target="_blank">更多&gt;</a></h3>
        <ul>
            <li><a class="f-toe" href="/page/detail/688" title="精品小班课话题加量啦" target="_blank">精品小班课话题加量啦</a></li>
            <li class="img">
                <img src="http://static.51talk.com/upload/article_img/2016/04/06/20160406103240447458.png?v=1461036216708" height="48" width="48">
                <span>精品小班课于4月1日起加量不加价！每周一...</span>
            </li>
            <li><a class="f-toe" href="/page/detail/683" title="选修课教材预上线通知" target="_blank">选修课教材预上线通知</a></li>
            <li><a class="f-toe" href="/page/detail/670" title="AC2.2版本正式上线" target="_blank">AC2.2版本正式上线</a></li>
        </ul>
    </div>

    <!-- /网站动态 -->
    <div class="m-cer-index box3" style="text-align:center;overflow: hidden; display: inline-block;">
        <a href="/user/certificate" target="_blank">
            <img src="http://static.51talk.com/static/image/menber/ue/certificate_index_2.jpg?v=1461036216708" width="200" alt="级别证书">
            <div class="u-mask  f-csp" style="font-weight:bold;">
                <p> 您正在努力获取初级证书</p>
            </div>
        </a>
    </div>

    <!-- /级别证书提示 -->
    <div class="m-ls-rank box1" style="margin-bottom: 0px;">        
        <h3 class="add-u-tit">
            <span>耐力闯关榜</span>
            <a href="http://www.51talk.com/top/index" target="_blank" class="rt-tit">更多&gt;</a>
        </h3>
        <h4 class="jsBtn2">
            <span class="crt">全国</span>
            <span>北京</span>
        </h4>
        <div class="jsTab1">
            <ul style="display: block;" class="add-crt-jsTab1">
                <li class="add-word">
                    <span class="add-lt-tit">榜单名次</span>
                    <span class="add-lt-tit add-rt-tit">连续学习天数</span>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list01.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                                            <em title="Win">Win</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">1012</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list02.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                        <em title="NANCY">NANCY</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">1004</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list03.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                    <em title="Jason">Jason</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">910</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i>4.</i>
                        <em title="Jason">Cathy</em>
                    </div>
                    <div class="f-fr">
                        <em>601</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>5.</i>
                        <em title="Jason">Alisa</em>
                    </div>
                    <div class="f-fr">
                        <em>579</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>6.</i>
                        <em title="Jason">Jackie</em>
                    </div>
                    <div class="f-fr">
                        <em>540</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>7.</i>
                        <em title="Jason">Kevin</em>
                    </div>
                    <div class="f-fr">
                        <em>416</em>天
                    </div>
                </li>   
                <li>
                    <div class="f-fl">
                        <i>8.</i>
                        <em title="Jason">Ariel</em>
                    </div>
                    <div class="f-fr">
                        <em>381</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>9.</i>
                        <em title="Jason">Stephen</em>
                    </div>
                    <div class="f-fr">
                        <em>380</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>10.</i>
                        <em title="Jason">Demi</em>
                    </div>
                    <div class="f-fr">
                        <em>368</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>11.</i>
                        <em title="Jason">Roro</em>
                    </div>
                    <div class="f-fr">
                        <em>331</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>12.</i>
                        <em title="Jason">Sunnyxie</em>
                    </div>
                    <div class="f-fr">
                        <em>291</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>13.</i>
                        <em title="Jason">Lindsay</em>
                    </div>
                    <div class="f-fr">
                        <em>281</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>14.</i>
                        <em title="Jason">Sarah</em>
                    </div>
                    <div class="f-fr">
                        <em>269</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>15.</i>
                        <em title="Jason">AnnaCullon</em>
                    </div>
                    <div class="f-fr">
                        <em>266</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>16.</i>
                        <em title="Jason">David</em>
                    </div>
                    <div class="f-fr">
                        <em>261</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>17.</i>
                        <em title="Jason">Bob</em>
                    </div>
                    <div class="f-fr">
                        <em>241</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>18.</i>
                        <em title="Jason">chengli</em>
                    </div>
                    <div class="f-fr">
                        <em>240</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>19.</i>
                        <em title="Jason">Lily</em>
                    </div>
                    <div class="f-fr">
                        <em>231</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>20.</i>
                        <em title="Jason">Ray</em>
                    </div>
                    <div class="f-fr">
                        <em>218</em>天
                    </div>
                </li>
            </ul>
            <ul style="display: none;" class="add-crt-jsTab1">
                <li class="add-word">
                    <span class="add-lt-tit">榜单名次</span>
                    <span class="add-lt-tit add-rt-tit">连续学习天数</span>
                </li>

                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list01.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                                   <em title="Jason">Jason</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">910</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list02.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                                  <em title="Kevin">Kevin</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">416</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i><img src="http://static.51talk.com/static/image/menber/ue/add_list03.png?v=1461036216708" width="17" height="24" class="add-f-img"></i>                 <em title="Sunnyxie">Sunnyxie</em>
                    </div>
                    <div class="f-fr">
                        <em class="s-fc6">291</em>天
                    </div>
                </li>
                <li>
                    <div class="f-fl">
                        <i>4.</i>
                        <em title="Jason">Ray</em>
                    </div>
                    <div class="f-fr">
                        <em>218</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>5.</i>
                        <em title="Jason">Tim</em>
                    </div>
                    <div class="f-fr">
                        <em>194</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>6.</i>
                        <em title="Jason">leon</em>
                    </div>
                    <div class="f-fr">
                        <em>178</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>7.</i>
                        <em title="Jason">Jenney</em>
                    </div>
                    <div class="f-fr">
                        <em>175</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>8.</i>
                        <em title="Jason">Calm</em>
                    </div>
                    <div class="f-fr">
                        <em>162</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>9.</i>
                        <em title="Jason">ALAN</em>
                    </div>
                    <div class="f-fr">
                        <em>138</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>10.</i>
                        <em title="Jason">Tom</em>
                    </div>
                    <div class="f-fr">
                        <em>129</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>11.</i>
                        <em title="Jason">Zoe</em>
                    </div>
                    <div class="f-fr">
                        <em>128</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>12.</i>
                        <em title="Jason">Peter</em>
                    </div>
                    <div class="f-fr">
                        <em>126</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>13.</i>
                        <em title="Jason">karen</em>
                    </div>
                    <div class="f-fr">
                        <em>123</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>14.</i>
                        <em title="Jason">Daisy</em>
                    </div>
                    <div class="f-fr">
                        <em>118</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>15.</i>
                        <em title="Jason">FRANK</em>
                    </div>
                    <div class="f-fr">
                        <em>115</em>天
                    </div>
                </li>   
                <li>
                    <div class="f-fl">
                        <i>16.</i>
                        <em title="Jason">MarkTiu</em>
                    </div>
                    <div class="f-fr">
                        <em>108</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>17.</i>
                        <em title="Jason">coco</em>
                    </div>
                    <div class="f-fr">
                        <em>106</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>18.</i>
                        <em title="Jason">MING</em>
                    </div>
                    <div class="f-fr">
                        <em>105</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>19.</i>
                        <em title="Jason">Nana</em>
                    </div>
                    <div class="f-fr">
                        <em>105</em>天
                    </div>
                </li> 
                <li>
                    <div class="f-fl">
                        <i>20.</i>
                        <em title="Jason">Michael</em>
                    </div>
                    <div class="f-fr">
                        <em>104</em>天
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</div>