<div class="g-sd-l">
    <div class="m-s-menu">
        <ul>
            <input id="ue_intro" type="hidden" value="">
            <li data-intro="-14|-4|120|128" class="learn">学习</li> 
        	<li><a href="http://www.51talk.com/merge/index">立即约课</a></li>
            <li>
                <a href="http://www.51talk.com/course/perfect_course" target="_blank">精品小班课<i class="icon-new"></i></a>
            </li>
            <li><a href="http://www.51talk.com/user/appoint">已预约课程</a></li>
            <li><a href="http://www.51talk.com/user/review">上课记录</a></li>
            <li id="li_newProgress">
                <a href="http://www.51talk.com/study/studyplandetails" target="_blank" style="z-index:1000">学习进度</a>
            </li>
        </ul>
        
        <ul>
        	<li data-intro="-14|-10|120|106" class="exercise">练习</li>
        	<li><a href="http://www.51talk.com/user/study_center_zx" target="_blank">EFL课前课后练习</a></li>
        	<li><a href="http://www.51talk.com/italk/index/" target="_blank">iTalk视频练习</a></li>
        </ul>
        <ul>
        	<li data-intro="-14|-8|120|70" class="test">测试</li>
        	<li><a href="/user/certificate">阶段性水平测试</a></li>
        </ul>
        <ul>
            <li data-intro="-14|0|120|106" class="coach">辅导</li>
            <li>
                <a href="http://www.51talk.com/course/pt_course">学习方法课 
                </a>
            </li>
            <li><a href="http://bbs.51talk.com" target="_blank">免费公开课</a></li>
            <li>
                <a href="http://www.51talk.com/course/lc_course" target="_blank">精彩Life Club</a>
            </li>
        </ul>
        <ul style="background: none;">
            <li><a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank">AC电脑上课软件</a></li>
            <li><a href="http://www.51talk.com/app/download_app.php" target="_blank">手机客户端</a></li>
            <li><a href="http://www.51talk.com/user/downloads">上课百宝箱</a></li>
            <li><a href="http://class.51talk.com/detect-flash.html?pc=1&amp;uid=2193798" target="_blank">网络环境测试</a></li>
            <li><a href="http://www.51talk.com/user/playtalk">玩转51Talk <i class="icon-new"></i></a></li>
        </ul>
    </div>
    <!-- /m-s-menu -->
</div>