
<ul class="stInfo clearfix">
  <li class="infoList clearfix">
    <ul id="stuInfo">
      <li><span class="left"><b>学生：</b><i>Animal</i></span><span class="class inclass">在教室</span></li>
      <li><span class="left"><b>I D：</b><i>24354</i></span><a href="javascript:;" class="right copy">复制</a></li>
      <li><span class="left"><b>所属：</b><i>美国小学</i></span></li>
      <li><span class="left"><b>手机：</b><i>13912345678</i></span><a href="javascript:;" class="right copy">复制</a></li>
      <li><span class="left"><b>版本：</b><i>Mac AC 1.3.0.1</i></span></li>
      <li><span class="left"><b>Q Q：</b><i>3456431345</i></span><a href="javascript:;" class="right copy">复制</a></li>
    </ul>
  </li>
  <li class="infoList clearfix last">
    <ul id="teaInfo">
      <li><span class="left"><b>老师：</b><i>Animal</i></span><span class="class notInclass">在教室</span></li>
      <li><span class="left"><b>I D：</b><i>24354</i></span><a href="javascript:;" class="right copy">复制</a></li>
      <li><span class="left"><b>所属：</b><i>美国小学</i></span></li>
      <li><span class="left"><b>手机：</b><i>13912345678</i></span><a href="javascript:;" class="right copy">复制</a></li>
      <li><span class="left"><b>版本：</b><i>Mac AC 1.3.0.1</i></span></li>
      <li><span class="left"><b>Q Q：</b><i>3456431345</i></span><a href="javascript:;" class="right copy">复制</a></li>
      <li> </li>
      <li><span class="left"><b>Skype：</b><i>3456431345</i></span><a href="javascript:;" class="right copy">复制</a></li>
    </ul>
  </li>
</ul>
<div class="enterBox clearfix"><i> </i>
  <ul class="maybeTip">
    <li>学生的网络连接不稳定  ---  可建议学生点击重新连接，等待2分钟后看重连结果</li>
    <li>老师的麦克风音量过低  ---  可建议老师升高系统或AC内的麦克风音量</li>
    <li>学生的CPU占用过高&nbsp;&nbsp;&nbsp;&nbsp;---  可建议学生关闭其他与AC上课无关的软件</li>
  </ul><a id="enterRoom" href="javascript:;" class="enterRoom">进入教室</a>
</div>