<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
     <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>about_class_success.css">
    
</head>
<body id="container" data-init="aboutClassSuccess" class="bg-c">
    <div class="content">
        <div class="tea-info">
            <div class="prompt"><span></span>课程预约成功！</div>
            <div class="tea-des">
                <div class="tea-img"><img src="<%= imagessrc%>teacher01.png"/></div>
                <p class="tea-name">Sara LI </p>
                <div class="class-info">欧美外教：4次次卡/节</div>
            </div>
        </div>
        <div class="class-box">
            <div class="info">
                <span class="label">5月23日</span>
                <div class="text-box">
                    <p>经典英语Level 6-第三单元 住房那些事儿...</p>
                </div>
            </div>
            <div class="info">
                <span class="label">22：00</span>
                <div class="text-box font-c">
                    <p>第三课 房子找得如何了？</p>
                    <div class="title">
                        <p>How is your house hunt going?How is your house hunt going?</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="class-box class-mode">
           <div class="info">
                <div class="text-box font-c">
                    <div class="title" >
                        <p>上课方式：手机/51talk AC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="class-sure"><a id="sure_btn" name="sure_btn" href="javascript:;">确认预约</a></div>
    </div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>