<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
     <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>comment.css">
    
</head>
<body id="container" data-init="comment" class="bg-c">
    <div class="com-box">
        <p class="text">为了提供更好的服务，请您留下宝贵的意见</p>
        <div class="star-box">
            <div class="click-div" id="clickDiv">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="y-star" id="yStar">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="g-star">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="textarea-box">
            <textarea id="commentId"></textarea> 
        </div>
        <div class="textarea-d">(500字以内)</div>
        <a href="javascript:;" class="surebtn" id="sureBtn">确 定</a>
    </div>
    <div class="showtips_layer" id="showTipsLayer">
        <div class="showtips">
            <div class="tit">提示</div>
            <div class="content">
                <div class="info-box" id="infoId">
                   
                </div>
                <a href="javascript:;" id="layerBtn">确定</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="starNum" value="0"/>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>