
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/service_num/service_num.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="service" id="container" class="service-wrap">
      <section class="p-header"><img src="/images/wap/service_num/logo.png" alt="" class="logo"/></section>
      <section class="p-register">
        <ul class="p-register_lst">
          <li class="p-register_lst_mobile">
            <input type="text" id="mobile" name="mobile" placeholder="请输入手机号或邮箱"/>
          </li>
          <li class="p-register_lst_password">
            <input type="password" placeholder="请输入密码" id="password"/>
          </li>
        </ul><a href="javascript:;" class="p-register_send">确认绑定</a>
      </section>
      <section class="f-mask">
        <div class="tips-wrap">
          <h1>提示</h1>
          <p class="tips-text"></p><a href="javascript:;" class="close_btn">确定</a>
        </div>
      </section>
    </div>
    <script src="/js/wap/project/service_num/vendor.js" id="seajsnode"></script>
  </body>
</html>