<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/junior_service_number.css">
     <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/about_class.css">
    
</head>
<body id="container" data-init="aboutClass" class="bg-c">
    <div class="content">
        <div class="tea-info">
            <div class="tea-des">
                <div class="tea-img"><img src="/images/wap/junior_service_number/teacher01.png"/></div>
                <p class="tea-name">Sara LI </p>
                <div class="class-info">欧美外教：4次次卡/节</div>
            </div>
        </div>
        <div class="class-box">
            <div class="info">
                <span class="label">5月23日</span>
                <div class="text-box">
                    <p>经典英语Level 6</p>
                    <p>第三单元 住房那些事儿...</p>
                </div>
            </div>
            <div class="info">
                <span class="label">22：00</span>
                <div class="text-box font-c">
                    <p>第三课 房子找得如何了？</p>
                    <div class="title">
                        <p>How is your house hunt going?How is your house hunt going?</p>
                        <span id="tit_shrink" id="tit_shrink"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-box hide" id="level_show" name="level_show">
            <div class="info-c _info-c">
                <div class="major-box line">
                    <span class="icon"></span>
                    <div class="info-t">
                        <p class="major">主修课</p>
                    </div>
                </div>
                <div class="_major-box major-box">
                    <div class="info-t padding-v line">
                        <p class="major-des">Level5<span class="l-arrow"></span></p>
                    </div>
                    <!--单元-->
                    <div class="hide _unit-c">
                        <div class="info-t padding-v uint-left _unit">
                            <div class="uint-box _uint-box">
                                <p class="major-des">
                                    第三单元 住房那些事儿<span class="arrow"></span><p>
                                <p>Unit 3 House and home</p>
                            </div>
                            <div class="sub-l _sub-l hide">
                                <div class="info-t padding-v line current lesson-left _lesson" course-thr="7">
                                    <i></i>
                                    <p class="major-des">
                                        第三课 房子找得如何来？<p>
                                    <p>Lesson 3 How is your house hunt going?</p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson"  course-thr="8">
                                    <i></i>
                                    <p class="major-des">
                                        第二课 在网上找房子吧<p>
                                    <p>Lesson 2 Let’s look for an apartment online </p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="9">
                                    <i></i>
                                    <p class="major-des">
                                        第一课 想租什么样的公寓<p>
                                    <p>Lesson 1 What type of apartment do you want to rent?</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-t padding-v uint-left _unit">
                            <div class="uint-box _uint-box">
                                <p class="major-des">
                                    第三单元 住房那些事儿<span class="arrow"></span><p>
                                <p>Unit 3 House and home</p>
                            </div>
                            <div class="sub-l _sub-l hide">
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="7">
                                    <i></i>
                                    <p class="major-des">
                                        第三课 房子找得如何来？<p>
                                    <p>Lesson 3 How is your house hunt going?</p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson"  course-thr="8">
                                    <i></i>
                                    <p class="major-des">
                                        第二课 在网上找房子吧<p>
                                    <p>Lesson 2 Let’s look for an apartment online </p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="9">
                                    <i></i>
                                    <p class="major-des">
                                        第一课 想租什么样的公寓<p>
                                    <p>Lesson 1 What type of apartment do you want to rent?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--单元-->
                </div>
                <div class="_major-box  major-box">
                    <div class="info-t padding-v line">
                        <p class="major-des">Level6<span class="l-arrow"></span></p>
                    </div>
                    <div class="hide _unit-c">
                        <div class="info-t padding-v uint-left _unit">
                            <div class="uint-box _uint-box">
                                <p class="major-des">
                                    第三单元 住房那些事儿<span class="arrow"></span><p>
                                <p>Unit 3 House and home</p>
                            </div>
                            <div class="sub-l _sub-l hide">
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="7">
                                    <i></i>
                                    <p class="major-des">
                                        第三课 房子找得如何来？<p>
                                    <p>Lesson 3 How is your house hunt going?</p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson"  course-thr="8">
                                    <i></i>
                                    <p class="major-des">
                                        第二课 在网上找房子吧<p>
                                    <p>Lesson 2 Let’s look for an apartment online </p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="9">
                                    <i></i>
                                    <p class="major-des">
                                        第一课 想租什么样的公寓<p>
                                    <p>Lesson 1 What type of apartment do you want to rent?</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-t padding-v uint-left _unit">
                            <div class="uint-box _uint-box">
                                <p class="major-des">
                                    第三单元 住房那些事儿<span class="arrow"></span><p>
                                <p>Unit 3 House and home</p>
                            </div>
                            <div class="sub-l _sub-l hide">
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="7">
                                    <i></i>
                                    <p class="major-des">
                                        第三课 房子找得如何来？<p>
                                    <p>Lesson 3 How is your house hunt going?</p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson"  course-thr="8">
                                    <i></i>
                                    <p class="major-des">
                                        第二课 在网上找房子吧<p>
                                    <p>Lesson 2 Let’s look for an apartment online </p>
                                </div>
                                <div class="info-t padding-v line lesson-left _lesson" course-thr="9">
                                    <i></i>
                                    <p class="major-des">
                                        第一课 想租什么样的公寓<p>
                                    <p>Lesson 1 What type of apartment do you want to rent?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="class-box class-mode">
           <div class="info">
                <div class="text-box font-c">
                    <div class="title" >
                        <p>上课方式：手机/51talk AC</p>
                        <span id="pay_shrink" name="pay_shrink"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-box hide" id="pay_mode" name="pay_mode">
            <div class="info-c radius-v">
                <div class="major-box" id="lesson-mode">
                    <div class="current info-t padding-v line" tool-data="51TalkAC">
                        <i class="pay-mode"></i>
                        <p class="major-des">手机/51talk AC</p>
                    </div>
                    <div class="info-t padding-v line" tool-data="QQ">
                        <i class="pay-mode"></i>
                        <p class="major-des">QQ号</p>
                    </div>
                    <div class="info-t padding-v" tool-data="Skype">
                        <i class="pay-mode"></i>
                        <p class="major-des">Skype</p>
                    </div>
                </div>
                
               
            </div>
            
        </div>
        <div class="class-sure"><a id="sure_btn" name="sure_btn" href="javascript:;">确认预约</a></div>
    </div>
    <div class="showtips_layer" id="layer_show" name="layer_show">
        <div class="showtips">
            <div class="tit">提示</div>
            <div class="content">
                <div class="info-box" id="info_id" id="info_id">
                   
                </div>
                <a href="javascript:;" id="layer_btn">确定</a>
            </div>
        </div>
    </div>
    <input type="text" id="teacher_id" name="teacher_id" value=""/>
    <input type="text" id="date_time" name="date_time" value=""/>
    <input type="text" id="course_thr" name="course_thr" value=""/>
    <input type="text" id="tool_pay" name="tool_pay" value=""/>
    <input type="text" id="ec_course_max" name="ec_course_max" value=""/>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/junior_service_number/vendor.js"></script>
</html>