<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title>51Talk送福利，邀你跟好友一起玩转英语。</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/junior_service_number.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/bind.css">
</head>
<body id="container" data-init="bind">
    <div class="logo _header">
        <a href="javascript:;">
            <img src="/images/wap/junior_service_number/logo_01.jpg" alt=""/>
        </a>
        </div>
    <div class="main-box _main">
        <div class="bing-box">
            <div class="user-box">
                <input type="type" id="userId" placeholder="手机号/邮箱"/>
            </div>
            <div class="password-box">
                <input type="type" id="passwordId" placeholder="请输入密码"/>
                <input type="hidden" id="openId" value="o71cXs_5URJgJWVnLGKUSKOYflgo"/>
            </div>
        </div>
        <div class="bind-btn" id="bindId">
            <a href="javascript:;">
                <img src="/images/wap/junior_service_number/bind_btn.png"/>
            </a>
        </div>
    </div>
    <div class="footer _footer">
        客服热线/<a href="tel:4005151">400-51-51</a>
    </div>
    <div class="mask-box" id="maskId"></div>
    <div class="promp-box" id="prompId">
        <div class="promp-h">
            <span id="closeId"></span>
        </div>
        <div class="promp-m">
            <div id="prompImg" class="img-box">
                <!-- <img  src="/images/wap/junior_service_number/img_11.png"/> -->
            </div>
            <div class="text-box" id="textId"></div>
        </div>
    </div>
</body>
<script>
    var is_bind = false;
</script>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/junior_service_number/vendor.js"></script>
</html>