<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/junior_service_number.css">
     <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/class.css">
    
</head>
<body id="container" data-init="class">
    <div class="class-box">
        <div class="img-box bg"><img src="/images/wap/junior_service_number/l011.png"/></div>
        <a class="hide" href="javascript:;" name="purchase" ></a>
        <div class="form-box bg">
            <div class="input-box">
                <input id="phoneId" class="phone" type="text" placeholder="输入您的手机号"/>
            </div>
            <div class="input-box">
                <input id="imgCode" class="input-w" type="text" placeholder="输入图片验证码"/>
                <span class="code-box"><img id="verifycode" src="http://www.51talk.com/passport/authCode"/></span>
            </div>
            <div class="input-box">
                <input id="smsCode" class="input-w" type="text" placeholder="获取短信验证码"/>
                <span class="code-box" >    
                    <a class="get-code" href="javascript:;" id="codeBtn">获取验证码</a>
                    <a href="javascript:;" class="count-down" id="countDown">重新发送(60)</a>
                </span>

            </div>
            <div class="input-box">
               <select id="selectId">
                    <option value="">请选择孩子年级</option>
                    <option value="0">幼儿园</option>
                    <option value="1">一年级</option>
                    <option value="2">二年级</option>
                    <option value="3">三年级</option>
                    <option value="4">四年级</option>
                    <option value="5">五年级</option>
                    <option value="6">六年级</option>
               </select>
            </div>
            <a class="btn" id="payId" href="javascript:;">
                立 即 抢 购
            </a>
        </div>
       
        <div class="img-box"><img src="/images/wap/junior_service_number/l03.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l04.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l05.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l06.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l07.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l08.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l09.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l10.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l11.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l12.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l13.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l14.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l15.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l16.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l17.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l18.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l19.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l20.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l21.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l22.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l23.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l24.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l25.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l26.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l27.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l28.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l29.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l30.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l31.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l32.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l33.png"/></div>
        <div class="img-box"><img src="/images/wap/junior_service_number/l34.png"/></div>
    </div>
    <div class="bottom" id="purchaseId">
            <span class="o-price">原价1399</span>
            <span class="n-price">￥148元</span>
            <a href="#purchase">立即抢购</a>
    </div>
    <input id="gradeId" type="hidden"/>
    <input id="register_from" type="hidden"/>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/junior_service_number/vendor.js"></script>
</html>