<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title>老师评语</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/junior_service_number.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/junior_service_number/evaluate.css">
</head>
<body id="container" data-init="evaluate">
    <div class="content-box">
        <div class="class-introduce clearfix">
            <div class="tit-box">
                <div class="title">
                    <p>课程名称[自然拼读]</p>
                    <p class="text-des">第二单元美妙的家庭成员及朋友aaaaaaaaaaa</p>
                </div>
                <div class="des">
                    <p>第二课 辅元辅结构单词</p>
                    <p class="text-des">Aa Rr和Tt Aa and Tt in CVC patternsAa Rr和Tt Aa and Tt in CVC patternsAa Rr和Tt Aa and Tt in CVC patterns</p>
                </div>
                
            </div>
            <div class="img-box"><img src="/images/wap/junior_service_number/img_12.png"/></div>
        </div>
        <div class="sec-box">
            <div class="main-title">
                老师评语
            </div>
            <div class="comment-box clearfix">
                <div class="tea-img">
                    <img src="/images/wap/junior_service_number/img_14.png"/>
                    <span>Haley Sam</span>
                </div>
                <div class="comment-text">
                    I like the way you're working. Good thinking. You have been able to arrange your thoughts about the topic.  
Just take note of your pronunciation and the suggestions I have made during the class. You can review the words and sentences again and again.
                </div>
            </div>
        </div>
        <div class="sec-box">
            <div class="main-title">
                课程掌握
            </div>
            <section class="class-info">
                <span class="icon1"></span>
                <div class="class-text">
                    <div class="class-tit class-tit1">3个新单词需要学习</div>
                    <div class="class-con">
                        <p>1.rap</p>
                        <p>verb US /ræp/</p>
                        <p>2.rat</p>
                        <p>noun [c] US  /ræt/</p>
                    </div>
                </div>
            </section>
            <section class="class-info">
                <span class="icon2"></span>
                <div class="class-text">
                    <div class="class-tit class-tit2">2个句子需要掌握</div>
                    <div class="class-con">
                        <p>1. This is Tmmy’s famliy tree. It shows how Timmy is related to his famliy members.</p>
                        <p>2.Timmy’s grandparents are at the top. The grandparents on his father’s side have three children:Timmy’s father ,aunt ,and uncle.</p>
                    </div>
                </div>
            </section>
            
            <section class="class-info">
                <span class="icon4"></span>
                <div class="class-text">
                    <div class="class-tit class-tit4">1个视频可观看</div>
                    <!--没有视频资源-->
                    <!-- <div class="class-con">
                        <p>本节课暂时没有需可观看的视频，小朋友继续加油哦！</p>
                    </div> -->
                </div>
                <div class="video-play">
                    <img class="video-bg" src="/images/wap/junior_service_number/img_16.jpg">
                    <a class="player-btn" id="palyerBtn" href="javascript:;">
                    </a>
                </div>
                <div id="playerContent" class="video-box" data-vedioSrc="http://static.51talk.com/upload/b2s/video/pub/Picturebooks_Gran_and_the_Go_karts.mp4"  data-width="100%" data-height="200" style="width:100%"></div>
                
            </section>
        </div>
    </div>

</body>

<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/junior_service_number/vendor.js"></script>
</html>