@import "../common/reset.less";
@imgUrl:"../../../images/wap/sell/";
body{
	font-size:1.4rem;
}
.title-style() {
	position:relative;
	font-size:1.4rem;
	text-align:center;
	&:before,&:after {
		position:absolute;
		top:50%;
		display:inline-block;
		width:20%;
		height:1px;
		background:#ff7e00;
		content:'';
	}
	&:before {
		left:0;
	}
	&:after {
		right:0;
	}
}
.didi{
	 .sign{
		width:65%;
		margin:0 auto;
	 	text-align:center;
	 	li{
	 		margin-top:1rem;
	 	}
	 	input{
	 		width:100%;
	 		padding:0.5rem 1rem;
	 		border:#e6e6e6 solid 1px;
	 		border-radius:1.5rem;
	 		box-sizing: border-box;
	 	}
	 	.receive{
	 		display:block;
	 		width:100%;
	 		padding:1rem 0;
	 		border-radius:1.5rem;
	 		background:#ff6600;
	 		color:#fff;
	 		margin-top:1rem;
	 	}
	 }
	 .tip{
	 	height: 4.5rem;
	 	line-height: 4.5rem;
	 	text-align: center;
	 	color: #999999;
	 	a{
	 		text-decoration: underline;
	 		color: #0072ff;
	 	}
	 }
	 .hide{
	 	display: none;
	 }
	 .logo{
	 	margin-top:2rem;
	 	padding-bottom: 3rem;
	 	text-align:center;
	 	img{
	 		max-width:65%;
	 	}
	 }
	 .reg{
	 	li:nth-child(1){
	 		margin-top: 0;
	 	}
	 	li:nth-child(2){
	 		input{
	 			width: 50%;
	 			display: inline;
	 			float: left;

	 		}
	 		.send-code{
	 			width:45%;
		 		padding:0.7rem 0;
		 		border-radius:1.5rem;
		 		background:#ff6600;
		 		color:#fff;
		 		display: inline-block;
		 		float: right;
	 		}
	 		.sending{
	 			background:#999;
	 		}
	 	}
	 }

	 .container {
	 	padding:1rem;
	 	.part1, .part2, .part3 {
			h2 {
				.title-style();
			}
	 	}
	 	.video {
	 		position:relative;
	 		margin:2rem 0;
	 		object{
	 			position:absolute;
	 		}
	 	}
	 	.part3 {
	 		h2 {
	 			.title-style();
	 			&:before,&:after{
	 				width:32%;
	 			}
	 		}
	 		.card {
	 			margin:2rem 0 1rem;
	 			background:#ffb400;
	 			border-radius:0.5rem;
	 			color:#fff;
	 			box-sizing:border-box;
	 			dl {
	 				display:flex;
	 				padding:0.2rem;
	 			}
	 			dt {
	 				flex:1;
	 				padding:1rem 0;
	 				font-size:1.6rem;
	 				border-top-left-radius:0.5rem;
	 				border-bottom-left-radius:0.5rem;
	 				background:#fff;
	 				color:#ffb400;
	 				font-weight:bold;
	 				text-align:center;
	 			}
	 			em {
	 				color:#ff6600;
	 			}
	 			span {
	 				display:block;
	 				padding:0.5rem 0;
	 				margin:0.3rem 10% 0;
	 				border-radius:1rem;
	 				font-weight:normal;
	 				background:#ffb400;
	 				color:#fff;
	 			}
	 			dd {
	 				flex:2;
	 				padding:1rem 0.5rem;
	 			}
	 			p {
	 				&:before {
	 					display:inline-block;
	 					width:0.3rem;
	 					height:0.3rem;
	 					margin-right:0.5rem;
	 					content: '';
	 					background:#fff;
	 					border-radius:50%;
	 					vertical-align:middle;
	 				}
	 			}
	 		}
	 		.use {
	 			line-height:20px;
				color:#999;
			}
	 	}
	 }
}
@media screen and (min-width:375px) {
	.didi {
		.container {
			.part1, .part2, .part3 {
				h2 {
					.title-style();
					&:before,&:after{
		 				width:23%;
		 			}
				}
		 	}
		 	.part3 {
				h2 {
					&:before,&:after{
		 				width:35%;
		 			}
				}
		 	}
		}
	}
}
.js-minidialog{
	position:absolute;
	width:80%;
	margin-left:10%;
	padding:1rem;
	background:rgba(255,255,255,1);
	text-align:center;
	box-sizing:border-box;
}
