<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/disney/disney.css">
</head>
<body>
	<div class="disney">
		<section class="topbar"></section>
		<section class="container" data-init="disney">
			<section class="tab">
				<ul class="clearfix">
					<li class="current">登录抢名额</li>
					<li>免费注册</li>
				</ul>
			</section>
			<section class="user-box">
				<section class="login">
					<ul class="clearfix">
						<li><input type="tel" class="mobile" id="mobile" placeholder="输入您的手机号"></li>
						<li><input type="password" class="password" id="password" placeholder="设置您的密码"></li>
					</ul>
					<a class="btn" href="javascript:;">立即登录</a>
				</section>
				<section class="register" style="display:none">
					<ul class="clearfix">
						<li><input type="tel" class="mobile" placeholder="输入您的手机号"></li>
						<li><input type="password" class="password" placeholder="设置您的密码"></li>
					</ul>
					<a class="btn" href="javascript:;">注册</a>
				</section>
			</section>
		</section>
		<section class="course">
			<p>暑假接近尾声，51Talk特别推出了</p>
			<p>迪士尼主题的趣味套餐课程，</p>
			<p>让孩子们在欢乐中爱上学英语！</p>
			<p><strong>亲切帅气的Tony老师和Sky老师（美教）</strong></p>
			<p>将为大家带来原汁原味的</p>
			<p>迪士尼趣味课程。</p>
		</section>
		<section class="teachers">
			<img src="/images/wap/disney/part_02.jpg">
		</section>
		<section class="course-trait">
			<p>完全不同于以往死记硬背的英语课，</p>
			<p>老师们不仅会把英语对话知识融入在</p>
			<p>迪士尼的故事中，更将亲临迪士尼乐园现场，</p>
			<p>以直播的形式带着小朋友们</p>
			<p class="second">一览迪士尼乐园的盛景！</p>
			<p>高温酷热，陪孩子在家里度过</p>
			<p>一个寓教于乐的英语假期吧~</p>
		</section>
		<section class="course-plan">
			<h4>第一课</h4>
			<p>8月16日 19:00-19:50——Tony老师</p>
			<h4>第二课</h4>
			<p>8月18日19:00-19:50——Sky老师</p>
			<h4>第三课</h4>
			<p><strong>8月20日 11:00-12:00——Tony & Sky老师 </strong></p>
			<p><strong>（亲临上海迪士尼乐园直播）</strong></p>
			<p><strong>适合年龄：5-12岁</strong></p>
			<section class="box">
				<p><strong>课程形式</strong></p>
				<p>在线授课（电脑&手机）</p>
				<p>51Talk AC软件（可登录51Talk官网下载）</p>
				<p>或51Talk 手机app（搜索移动应用商店51Talk）</p>
			</section>
			<section class="box">
				<p><strong>课程费用</strong></p>
				<p><del>原价：1599元</del></p>
				<p class="bigger">暑期优惠限时免费体验！</p>
			</section>
			<a class="btn" href="javascript:;">立即报名抢名额</a>
		</section>
	</div>
</body>
<script src="/js/wap/project/disney/vendor.js" id="seajsnode"></script>
</html>