<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/disney/disney.css">
</head>
<body>
	<div class="reservation" data-init="disney">
		<section class="topbar"></section>
		<section class="make">
			<p>每节课老师都会发布4个通关密码，</p>
			<p>全部参加完课程的小朋友们</p>
			<p>会获得全部12个通关密码，</p>
			<p><strong>有机会获得迪士尼正版玩偶（50名）！</strong></p>
			<p><strong>还有畅游上海迪士尼家庭门票！</strong></p>
			<p>为保证大家顺利上课</p>
			<p>请大家务必加入QQ群</p>
			<p class="qq-group">
				<label for="qq">
					QQ群号：
				</label>
				<strong><em>12345654433（一年级）</em></strong>
				<strong><em>12345654433（一年级）</em></strong>
				<strong><em>12345654433（一年级）</em></strong>
			</p>
			<p>有任何关于上课的问题都将在QQ群中解答。</p>
			<a href="javascript:;" class="btn">立即预约</a>
		</section>
		<section class="course-plan">
			<h4>第一课</h4>
			<p>8月16日 19:00-19:50——Tony老师</p>
			<h4>第二课</h4>
			<p>8月18日19:00-19:50——Sky老师</p>
			<h4>第三课</h4>
			<p><strong>8月20日 11:00-12:00——Tony & Sky老师 </strong></p>
			<p><strong>（亲临上海迪士尼乐园直播）</strong></p>
			<p><strong>适合年龄：5-12岁</strong></p>
			<section class="box">
				<p><strong>课程形式</strong></p>
				<p>在线授课（电脑&手机）</p>
				<p>51Talk AC软件（可登录51Talk官网下载）</p>
				<p>或51Talk 手机app（搜索移动应用商店51Talk）</p>
			</section>
			<section class="box">
				<p><strong>课程费用</strong></p>
				<p><del>原价：1599元</del></p>
				<p class="bigger"><strong>暑期优惠限时免费体验！</strong></p>
				<p>（仅限1599人！）</p>
				<p class="bigger qq-group">
					<label for="qq">
						QQ群号：
					</label>
					<strong><em>12345654433（一年级）</em></strong>
					<strong><em>12345654433（一年级）</em></strong>
					<strong><em>12345654433（一年级）</em></strong>
				</p>
				<p>有任何关于上课的问题都将在QQ群中解答。</p>
			</section>
			<a class="btn" href="javascript:;">立即报名抢名额</a>
		</section>
	</div>
</body>
<script src="/js/wap/project/disney/vendor.js" id="seajsnode"></script>
</html>