
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>约课</title>
    <link href="/css/wap/appointment/appointment.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="success">
      <section class="success-header">
        <section class="success-header__wrap">恭喜您，领取成功！</section>
      </section>
      <section class="success-exclusive">
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/exclusive_icon.png"/></dt>
          <dd>
            <h1>专属课程顾问安排上课</h1>
            <p>
              请您注意接听电话，课程顾问老师将联系您，为您安排上课并
              发送体验课教材，对您和孩子进行课前指导。
            </p>
          </dd>
        </dl>
      </section>
      <section class="success-before">
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/before_icon.png"/></dt>
          <dd>
            <h1>课前30分钟设备测试</h1>
            <p>
              技术专员课前30分钟致电，帮您进行电脑网络设备的测试,
              确保孩子上好北美老师体验课。请留意课前30分钟服务电话。
            </p>
          </dd>
        </dl>
      </section>
      <section class="success-guide">
        <h1 class="success-guide__title">新手必看 上课引导视频</h1>
        <section class="success-guide__video">
          <script src="http://p.bokecc.com/player?vid=EBE2D4CD3BDB26399C33DC5901307461&amp;siteid=9A0993B2384AB21D&amp;autoStart=false&amp;width=100%&amp;height=225&amp;playerid=3A7743CB01E0E55B&amp;playertype=1" type="text/javascript"></script>
        </section>
        <section class="success-guide__tips">温馨提示：建议wifi下观看（片长4分28秒）</section>
      </section>
      <section class="success-important">
        <h1 class="success-important__title">体验课4大重要性</h1>
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/important_01.png"/></dt>
          <dd>
            <h2>资深北美外教给孩子1对1授课</h2>
            <p>经验丰富的北美外教</p>
            <p>寓教于乐的方式了解每一位孩子</p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/important_02.png"/></dt>
          <dd>
            <h2>全面准确了解孩子的英语水平</h2>
            <p>听力、阅读掌握如何？</p>
            <p>一堂课各个英语能力全面分析</p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/important_03.png"/></dt>
          <dd>
            <h2>获得多维度专业测评报告</h2>
            <p>孩子发音、听力详细分析有吗？</p>
            <p>上完体验课会获得专业多维度测评报告</p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/important_04.png"/></dt>
          <dd>
            <h2>制定个性化教学方案</h2>
            <p>找到薄弱环节有目的</p>
            <p>有方向的强化学习</p>
          </dd>
        </dl>
      </section>
      <section class="success-scan">
        <dl class="clearfix">
          <dt><img src="/images/wap/appointment/code.png"/></dt>
          <dd>
            <p>扫一扫关注官方公众号—51Talk美国小学，</p>
            <p>免费领取500本精美电子绘本，附音频！</p>
          </dd>
        </dl>
      </section>
    </section>
    <script src="/js/wap/project/appointment/vendor.js" id="seajsnode" type="text/javascript"></script>
  </body>
</html>