<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/oa28574/oa28574.css">
</head>
<body>
<!-- public top -->
<div class="a-top">
  <div class="cer">
    <a href="javascript:;">
    <i class="lt"></i>
    <div class="lt-w">
      <span class="rt-sp">美国纽交所上市公司</span>
      <span>全球信赖的在线英语领导品牌</span>
    </div>
    </a>
    <div class="rt-w">
      <div class="r-cg">
        <span class="r-tit">你好，许雅洳<i class="r-bt"></i></span>
        <span class="r-lg">
          <a href="javascript:;"><i class="password"></i>修改密码</a>
          <a href="javascript:;" class="check"><i class="lg"></i>变更账号</a>
          <a href="javascript:;"><i class="out"></i>退出登录</a>
        </span>
      </div>
      <div class="a-list">
        <ul>
          <li>北京<i class="br">2016-07-8</i>周二<i class="br">32℃</i>雷阵雨<i class="r-rain"></i>明日号4和9 </li>
          <li>石家庄<i class="br">2016-07-13</i>周三<i class="br">32℃</i>晴天<i class="r-rain"></i>明日号3和6 </li>
          <li>呼和浩特<i class="br">2016-07-14</i>周四<i class="br">32℃</i>阴<i class="r-rain"></i>明日号3和6 </li>
        </ul>
      </div>
    </div>  
  </div>
</div>  
<!-- index -->
<div class="homepage" id="container" data-init="subject">
  <!-- page1 -->
  <div class="page-a">
    <div class="page-a-l" >
      <ul class="l-ul">
        <li class="l-li"><span class="l-img"><img src="/images/html/oa28574//a_home_name.png"></span></li>
        <li>许雅洳<img src="/images/html/oa28574//sex01.png" class="sex"></li>
        <li>人力资源部/…/企业文化部</li>
        <li>工号：01208</li>
        <li>入职第<span class="color">78</span>天</li>
        <li><a href="javascript:;" class="sign">每日签到</a></li>
        <li class="l-border t-align">我的邮箱>></li>
        <li class="t-align">未读消息待处理：<a href="javascript:;" class="color">3</a>条</li>
        <li class="t-align">我的积分：<span class="color">88</span>分</li>
        <li class="l-hor"><a href="javascript:;">进入积分商城>></a></li>
      </ul>
      <div class="l-list">
        <ul>
          <li>．<span class="color">Lucy</span>入职一周年01</li>
          <li>．祝贺<span class="color">冰淇淋</span>生日快乐02<i class="hy-birt"></i></li>
          <li>．<span class="color">merry</span>入职一周年03</li>
          <li>．祝贺<span class="color">夏日草</span>生日快乐04<i class="hy-birt"></i></li>
          <li>．祝贺<span class="color">冰淇淋</span>生日快乐05<i class="hy-birt"></i></li>
          <li>．<span class="color">merry</span>入职一周年06</li>
          <li>．祝贺<span class="color">夏日草</span>生日快乐07<i class="hy-birt"></i></li>
        </ul>
      </div>
      <div class="l-email">
        <a href="javascript:;" class="lt-hor"><img src="/images/html/oa28574//a_email.jpg"></a>
        <i class="l-line"></i>
        <a href="javascript:;">CEO信箱</a>
      </div>
    </div>
    <div class="page-a-r">
      <div class="r-icon">
        <div>
          <ul>
            <li><a href="javascript:;"><i class="r-icon-01"></i><span>流程审批</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-02"></i><span>财务报销</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-03"></i><span>会议室预定</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-04"></i><span>IT支持</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-05"></i><span>51论坛</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-06"></i><span>订餐</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-07"></i><span>知识库</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-08"></i><span>天润坐席</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-09"></i><span>TMK坐席</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-10"></i><span>CRIT</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-11"></i><span>CRM</span></a></li>
            <li><a href="javascript:;"><i class="r-icon-12"></i><span>内部推荐</span></a></li>
          </ul>
        </div>
        <i class="r-show"></i>
      </div>
      <div class="r-pics">
        <ul class="r-p-pic">
          <li><a href="javascript:;"><img src="/images/html/oa28574//a_home_fg.jpg"></a></li>
          <li><a href="javascript:;"><img src="/images/html/oa28574//a_home_ad.jpg"></a></li>
          <li><a href="javascript:;"><img src="/images/html/oa28574//a_home_bm.jpg"></a></li>
        </ul>
        <ul class="r-p-switch">
          <li class="crt"></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <!-- add 引导图 -->
      <div class="guide">
        <img src="/images/html/oa28574//close.png" class="hm-close">
        <img src="/images/html/oa28574//guide_img01.png" class="gui-img01 hide">
        <div class="guide-img">
          <img src="/images/html/oa28574//guide_img02.png" class="gui-img02">
          <span>20</span>
        </div>
        <img src="/images/html/oa28574//guide_img03.png" class="gui-img01 hide">
        <img src="/images/html/oa28574//guide_img04.png" class="gui-img01 hide">
      </div>
      <!-- /add 引导图 -->
    </div>
  </div>
  <!-- page2 -->
  <div class="page-lt">
    <div class="page-lt-s l-mg">
      <div class="s-tit must">
        <span class="t-t">MUST</span>
        <span class="t-s">公告必读</span>
        <a href="javascript:;" class="t-h">更多信息>></a>
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">员工手册<span class="cor"><img src="/images/html/oa28574//oa_up.gif"></span></a>
          <span class="name">李潇潇潇潇潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">入职须知<span class="cor"><img src="/images/html/oa28574//oa_up.gif"></span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工福利相关事项<span class="cor"><img src="/images/html/oa28574//oa_up.gif"></span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工请假注意事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">离职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工入职培训需携带相关物品<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">公司晋升制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工报销制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>
    <div class="page-lt-s">
      <div class="s-tit best">
        <span class="t-t">BEST</span>
        <span class="t-s">51Family</span>
        <a href="javascript:;" class="t-h">更多信息>></a>
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">员工手册<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">入职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工福利相关事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工请假注意事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">离职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工入职培训需携带相关物品<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">公司晋升制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工报销制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>
    <div class="page-lt-s l-mg">
      <div class="s-tit great">
        <span class="t-t">GREAT</span>
        <span class="t-s">小5学院</span>
        <a href="javascript:;" class="t-h">更多信息>></a>
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">员工手册<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">入职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工福利相关事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工请假注意事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">离职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工入职培训需携带相关物品<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">公司晋升制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工报销制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>
    <div class="page-lt-s">
      <div class="s-tit news">
        <span class="t-t">NEWS</span>
        <span class="t-s">小5文化</span>
        <a href="javascript:;" class="t-h">更多信息>></a>
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">员工手册<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">入职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工福利相关事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工请假注意事项<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">离职须知<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工入职培训需携带相关物品<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">公司晋升制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">员工报销制度<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>  
  </div>
  <!-- page3 -->
  <div class="page-adv">
    <img src="/images/html/oa28574//a_home_ad.jpg">
    <img src="/images/html/oa28574//a_home_bm.jpg">
    <img src="/images/html/oa28574//a_home_fg.jpg">
  </div>
  <!-- page4 -->
  <div class="page-lt page-b-lt">
    <div class="page-lt-s l-mg">
      <div class="s-tit">
        <span class="b-t">论坛精华</span>
        <a href="javascript:;" class="t-h">更多信息>></a>  
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">办公区烟味太大该如何解决<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">周末加班暖气不给力该如何解决？</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">2016年度公积金明细</a>
          <span class="name">吴云</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于考勤操作及注意事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于晚餐订饭相关事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>
    <div class="page-lt-s">
      <div class="s-tit s-tit-n">
        <span class="b-t">51内刊</span>
        <a href="javascript:;" class="t-h">更多信息>></a>  
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">办公区烟味太大该如何解决<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">周末加班暖气不给力该如何解决？</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">2016年度公积金明细</a>
          <span class="name">吴云</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于考勤操作及注意事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于晚餐订饭相关事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>
    <div class="page-lt-s l-mg">
      <div class="s-tit s-tit-q">
        <span class="b-t">你问我答</span>
        <a href="javascript:;" class="t-h">更多信息>></a>  
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">办公区烟味太大该如何解决<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">周末加班暖气不给力该如何解决？</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">2016年度公积金明细</a>
          <span class="name">吴云</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于考勤操作及注意事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于晚餐订饭相关事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div>
    <div class="page-lt-s">
      <div class="s-tit s-tit-l">
        <span class="b-t">反馈与建议</span>
        <a href="javascript:;" class="t-h">更多信息>></a>  
      </div>
      <ul class="u-list">
        <li>
          <a href="javascript:;">办公区烟味太大该如何解决<span class="cor">【置顶】</span></a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">周末加班暖气不给力该如何解决？</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">2016年度公积金明细</a>
          <span class="name">吴云</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于考勤操作及注意事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
        <li>
          <a href="javascript:;">关于晚餐订饭相关事项</a>
          <span class="name">李潇潇</span>
          <span class="time">07-22</span>
        </li>
      </ul>
    </div> 
  </div>
  <!-- page5 -->
  <img src="/images/html/oa28574//a_home_bm.jpg" class="page-b-ads">
</div>
<!-- /index -->
<!-- public bottom -->
<div class="a-bottom">
  <span>Copyright©北京大生知行科技有限公司</span>
  <span>联系人: IT中心<i class="br"></i>联系邮箱：hzy@163.com</span>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/oa28574/vendor.js"></script>
</html>
