<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/oa28574/oa28574.css">
</head>
<body>
<!-- public top -->
<div class="a-top">
  <div class="cer">
    <a href="javascript:;">
    <i class="lt"></i>
    <div class="lt-w">
      <span class="rt-sp">美国纽交所上市公司</span>
      <span>全球信赖的在线英语领导品牌</span>
    </div>
    </a>
    <div class="rt-w">
      <div class="r-cg">
        <span class="r-tit">你好，许雅洳<i class="r-bt"></i></span>
        <span class="r-lg">
          <a href="javascript:;"><i class="password"></i>修改密码</a>
          <a href="javascript:;" class="check"><i class="lg"></i>变更账号</a>
          <a href="javascript:;"><i class="out"></i>退出登录</a>
        </span>
      </div>
      <div class="a-list">
        <ul>
          <li>北京<i class="br">2016-07-8</i>周二<i class="br">32℃</i>雷阵雨<i class="r-rain"></i>明日号4和9 </li>
          <li>石家庄<i class="br">2016-07-13</i>周三<i class="br">32℃</i>晴天<i class="r-rain"></i>明日号3和6 </li>
          <li>呼和浩特<i class="br">2016-07-14</i>周四<i class="br">32℃</i>阴<i class="r-rain"></i>明日号3和6 </li>
        </ul>
      </div>
    </div>  
  </div>
</div>
<!-- public bottom -->
<!-- index -->
<div class="research" id="container" data-init="subject">
  <div class="r-top">
    <h3 class="r-top-tit">诚邀您参与51Talk北京总部职能晚餐满意度调查</h3>
    <div class="r-top-bottom">
      <span>2016年08月28日</span>
      <!-- <a href="javascript:;">删除</a>
      <a href="javascript:;">修改</a> -->
    </div>
  </div>
  <div class="info-test">
    <h3>Hi 大家好！</h3>
    <p>非常荣幸地给大家介绍公司信息部新上线的RTX内部即时通信协作软件,此软件集合查询组织架构、人员信息（邮件地址、员工号、办公电话、所属公司、工位等众多信息）、临时聊天群、固定聊天群、部门广播与公司通告、大文件传输（点到点与群体发送）、各种服务热线、系统消息推送集成、语音消息等众多功能。 客户端包含了PC客户端（WINDOWS&MAC）[默认已经开放];手机客户端(IPHONE&ANDROID)[邮件审批到本部门VP后转发邮件给rtx@51talk.com开通]，客户端安装的时候可以选择英文版本或者中文版本。</p>
    <p class="indent">RTX上线时间：2016年8月1日<br>RTX上线范围：51全球所有办公室<br>RTX服务器地址:rtx.51talk.com（只能在公司办公区域登录与在家拨公司VPN后登录）<br>RTX登录账号:邮件账号（只需输入@前面部分）与邮件密码<br>RTX账号开通与停止：随着邮箱的开通和停止自动开通账户与自动停止</p>
    <p class="indent">RTX问题反馈链接: http://rtxfeedback.51talk.com/   （组织架构与人员信息不对也可用此链接反馈）<br>
      RTX技术支持人员：邮件至    史振宁  shizhenning@51talk.com  并抄送  许杨  xuyang01@51talk.com<br>
      RTX广播管理员申请：邮件至 史振宁  shizhenning@51talk.com &本部门VP审批通过 后找史振宁开通请注明需要发广播的范围是哪些部门)<br>
      各个系统RTX消息通知集成联系人：史振宁<br>
      热线类账号（自助问答以及转人工）需求与开通联系人：史振宁</p>
    <p>RTX极大地提高了办公与沟通效率、减少了会议室使用压力、并对新人入职找对应的业务人员以及支持起到了自助上手的推动作用，提高了企业内部沟通信息的安全,使得企业内部沟通不必再使用如此众多的沟通IM工具，并且使您的微信不必再添加公司所有人为您的好友，极大节约了办公与沟通的时间成本。请各级领导引起重视起来，让自己所属部门的同学都使用起来，确实保证所有童鞋上班时间都使用起来，改变沟通方式和统一一种沟通方式是我们必须做的事情。</p>
    <p>PS:选择联系人->显示方式->修改为显示姓名对中国区的用户将会获得更好的体验！<br>
      <span>PS：我们开启了在线时长统计系统：在线一周、两周、三周、一个月在线时间最长的同学将获得我们送出的精美礼品额（小米10000毫安充电宝以及最终大奖小米48寸智能电视等你来拿）</span></p>
    <p class="indent">RTX----企业无缝沟通从你开始！</p>
    <p class="info-rt"> 技术研发中心 信息部（Information Department）</p>
  </div>
</div>
<div class="a-bottom">
  <span>Copyright©北京大生知行科技有限公司</span>
  <span>联系人: IT中心<i class="br"></i>联系邮箱：hzy@163.com</span>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/oa28574/vendor.js"></script>
</html>