<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/oa28574/oa28574.css">
</head>
<body>
<!-- public top -->
<div class="a-top">
  <div class="cer">
    <a href="javascript:;">
    <i class="lt"></i>
    <div class="lt-w">
      <span class="rt-sp">美国纽交所上市公司</span>
      <span>全球信赖的在线英语领导品牌</span>
    </div>
    </a>
    <div class="rt-w">
      <div class="r-cg">
        <span class="r-tit">你好，许雅洳<i class="r-bt"></i></span>
        <span class="r-lg">
          <a href="javascript:;"><i class="password"></i>修改密码</a>
          <a href="javascript:;" class="check"><i class="lg"></i>变更账号</a>
          <a href="javascript:;"><i class="out"></i>退出登录</a>
        </span>
      </div>
      <div class="a-list">
        <ul>
          <li>北京<i class="br">2016-07-8</i>周二<i class="br">32℃</i>雷阵雨<i class="r-rain"></i>明日号4和9 </li>
          <li>石家庄<i class="br">2016-07-13</i>周三<i class="br">32℃</i>晴天<i class="r-rain"></i>明日号3和6 </li>
          <li>呼和浩特<i class="br">2016-07-14</i>周四<i class="br">32℃</i>阴<i class="r-rain"></i>明日号3和6 </li>
        </ul>
      </div>
    </div>  
  </div>
</div>
<!-- login -->
<div class="login" id="container" data-init="subject">
  <img src="/images/html/oa28574//a_sign_img.jpg" class="a-img">
  <form action="" id="loginForm" method="post">
  <div class="lon-btn">
    <div class="btn-ts"><span>中文</span><i class="btn-i"></i></div>
    <ul class="btnUl hide">
      <li><a href="javascript:;">中文</a></li>
      <li><a href="javascript:;">English</a></li>
    </ul>  
  </div>
  <div class="rt">
    <h3>登录51Talk OA系统</h3>
    <ul class="r-ul">
      <li>
        <dl>
          <dt><i class="userName"></i></dt>
          <dd><input name="nsername" type="text" id="username" class="jsCheck" placeholder="请输入您的用户名"></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt><i class="passWord"></i></dt>
          <dd><input name="password" type="text" id="password" class="jsCheck" placeholder="请输入您的密码"></dd>
        </dl>
      </li>
    </ul>
    <a href="javascript:;" class="forPs">忘记密码?</a>
    <!-- error -->
    <span class="error hide">您的密码错误</span>
    <input type="button" value="登录" class="a-log-btn">
  </div>
  </form>
</div>
<!-- public bottom -->
<div class="a-bottom">
  <span>Copyright©北京大生知行科技有限公司</span>
  <span>联系人: IT中心<i class="br"></i>联系邮箱：hzy@163.com</span>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/oa28574/vendor.js"></script>
</html>