<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/oa28574/oa28574.css">
</head>
<body>
<!-- public top -->
<div class="a-top">
  <div class="cer">
    <a href="javascript:;">
    <i class="lt"></i>
    <div class="lt-w">
      <span class="rt-sp">美国纽交所上市公司</span>
      <span>全球信赖的在线英语领导品牌</span>
    </div>
    </a>
    <div class="rt-w">
      <div class="r-cg">
        <span class="r-tit">你好，许雅洳<i class="r-bt"></i></span>
        <span class="r-lg">
          <a href="javascript:;"><i class="password"></i>修改密码</a>
          <a href="javascript:;" class="check"><i class="lg"></i>变更账号</a>
          <a href="javascript:;"><i class="out"></i>退出登录</a>
        </span>
      </div>
      <div class="a-list">
        <ul>
          <li>北京<i class="br">2016-07-8</i>周二<i class="br">32℃</i>雷阵雨<i class="r-rain"></i>明日号4和9 </li>
          <li>石家庄<i class="br">2016-07-13</i>周三<i class="br">32℃</i>晴天<i class="r-rain"></i>明日号3和6 </li>
          <li>呼和浩特<i class="br">2016-07-14</i>周四<i class="br">32℃</i>阴<i class="r-rain"></i>明日号3和6 </li>
        </ul>
      </div>
    </div>  
  </div>
</div>
<div class="office-infor" data-init="subject">
  <h3>办公用品领用申请表</h3>
  <div class="basic-infor">
    <p><span>基本信息</span></p>
    <ul class="basic-list">
      <li>姓名：<span>林梓颀</span></li>
      <li>所属部门：<span>技术产品部/技术部/AC</span></li>
      <li>申请时间：<span>2016-10-17</span></li>
    </ul>
  </div>
  <form action="" id="formBtn">
  <div class="basic-infor">
    <p><span>领用信息</span></p>
    <div class="req-copy">
      <ul class="requis-list">
        <li>
          <div class="lt-list">
            <i class="import">*</i>
            <span>物品类别:</span>
          </div>
          <div class="rt-list">
            <input type="hidden" class="form-select group">
            <div class="input">
              <span class="test"></span>
              <i class="drop-down"></i>
            </div>
            <!-- layer -->
            <select name="race_group" class="select-hd">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <div class="layer-list" style="display:none;">
              <ul>
                <li num="1">文具类</li>
                <li num="2">办公类</li>
                <li num="3">电脑配件类</li>
              </ul>
            </div>
            <!-- /layer -->
            <!-- error -->
            <div class="error error01">*物品类别不能为空</div>
            <!-- /error -->
          </div>
        </li>
        <li>
          <div class="lt-list">
            <i class="import">*</i>
            <span>物品名称:</span>
          </div>
          <div class="rt-list">
            <input type="hidden" class="form-select name">
            <div class="input">
              <span class="test"></span>
              <i class="drop-down"></i>
            </div>
            <!-- layer -->
            <select name="race_group" class="select-hd">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <div class="layer-list" style="display:none;">
              <ul>
                <li num="1">笔</li>
                <li num="2">本子</li>
                <li num="3">耳机</li>
              </ul>
            </div>
            <!-- /layer -->
            <!-- error -->
            <div class="error error02">*物品名称不能为空</div>
            <!-- /error -->
          </div>
        </li>
        <li>
          <div class="lt-list">
            <i class="import">*</i>
            <span>物品数量:</span>
          </div>
          <div class="rt-list-input">
            <div class="input">
              <input type="text" class="number">
            </div>
            <!-- error -->
            <div class="error error03">*物品数量不能为空</div>
            <!-- /error -->
          </div>
        </li>
        <li>
          <div class="lt-list">
            <i class="import">*</i>
            <span>物品单位:</span>
          </div>
          <div class="rt-list">
            <input type="hidden" class="form-select company">
            <div class="input">
              <span class="test"></span>
              <i class="drop-down"></i>
            </div>
            <!-- layer -->
            <select name="race_group" class="select-hd">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <div class="layer-list" style="display:none;">
              <ul>
                <li num="1">北京信息技术有限公司</li>
                <li num="2">北京大生在线科技有限公司</li>
                <li num="3">51tlak</li>
              </ul>
            </div>
            <!-- /layer -->
            <!-- error -->
            <div class="error error04">*物品单位不能为空</div>
            <!-- /error -->
          </div>
        </li>
        <li class="last-list">
          <div class="lt-list">
            <span>领用说明:</span>
          </div>
          <textarea name="textarea" class="textarea"></textarea>
        </li>
      </ul>
    </div>
    <div class="add-requis">
      <i class="add-img" id="addImg"></i>
      添加办公用品领用申请
    </div>
    <div class="form-btn">提交</div>
  </div>
  </form>
</div>
<!-- public bottom -->
<div class="a-bottom">
  <span>Copyright©北京大生知行科技有限公司</span>
  <span>联系人: IT中心<i class="br"></i>联系邮箱：hzy@163.com</span>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/oa28574/vendor.js"></script>
</html>