<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/oa28574/oa28574.css">
</head>
<body>
<!-- public top -->
<div class="a-top">
  <div class="cer">
    <a href="javascript:;">
    <i class="lt"></i>
    <div class="lt-w">
      <span class="rt-sp">美国纽交所上市公司</span>
      <span>全球信赖的在线英语领导品牌</span>
    </div>
    </a>
    <div class="rt-w">
      <div class="r-cg">
        <span class="r-tit">你好，许雅洳<i class="r-bt"></i></span>
        <span class="r-lg">
          <a href="javascript:;"><i class="password"></i>修改密码</a>
          <a href="javascript:;" class="check"><i class="lg"></i>变更账号</a>
          <a href="javascript:;"><i class="out"></i>退出登录</a>
        </span>
      </div>
      <div class="a-list">
        <ul>
          <li>北京<i class="br">2016-07-8</i>周二<i class="br">32℃</i>雷阵雨<i class="r-rain"></i>明日号4和9 </li>
          <li>石家庄<i class="br">2016-07-13</i>周三<i class="br">32℃</i>晴天<i class="r-rain"></i>明日号3和6 </li>
          <li>呼和浩特<i class="br">2016-07-14</i>周四<i class="br">32℃</i>阴<i class="r-rain"></i>明日号3和6 </li>
        </ul>
      </div>
    </div>  
  </div>
</div>  
<!-- index -->
<div class="research" id="container" data-init="subject">
  <div class="r-top">
    <h3 class="r-top-tit">诚邀您参与51Talk北京总部职能晚餐满意度调查</h3>
    <div class="r-top-bottom">
      <span>2016年08月28日</span>
      <!-- <a href="javascript:;">删除</a>
      <a href="javascript:;">修改</a> -->
    </div>
  </div>
  <div class="r-bottom">
    <div class="letter">
      <p class="letter-c">您好！感谢您一直以来对行政部工作的支持与理解。<br>为充分了解您对现阶段职能晚餐的满意度，特邀请您参与本次调研。<br>请戳本链接进入问卷页面：https://sojump.com/jq/9322291.aspx或微信扫码进入问卷页面。<br>本次调查约需3分钟，有效期至2016年8月 17 日（星期三）21:00，采取不记名方式填写与统计。<br>行政部会认真分析调研结果并加以改进，希望您积极参与、认真填写。再次感谢！</p>
      <p class="letter-f">行政部</p>
      <p class="lr-img"><img src="/images/html/oa28574//res_img.png"></p>
    </div>
    <div class="likes">
      <span class="agree">
        <a href="javascript:;" class="ar-img"></a><br>
        <i>1208</i>人赞过
      </span>
      <span class="disagree">
        <a href="javascript:;" class="ar-img"></a><br>
        <i>8</i>人踩过
      </span>
    </div>
    <div class="reply">
      <ul class="reply-list">
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
      </ul>
      <!-- 加载更多 -->
      <div class="reply-more">
        <div class="more-t">
          <span>加载更多<img src="/images/html/oa28574//rely_more.png"></span>
        </div>
      </div>
      <!-- /加载更多 -->
      <!-- 翻页 -->
      <div class="reply-page hide">
        <a href="javascript:;"><上一页</a>
        <span>1-10条，共37条</span>
        <a href="javascript:;">下一页></a>
      </div>
      <!-- /翻页 -->
    </div>
    <div class="comment">
      <h3 class="comment-tit">我要评论</h3>
      <div><img src="/images/html/oa28574//reps.jpg"></div>
      <div class="comment-bottom">
        <a href="javascript:;" class="comment-button">发表</a>
        <a href="javascript:;" class="comment-rule">本版积分规则</a>
      </div>
    </div>
  </div>
</div>
<!-- /index -->
<!-- public bottom -->
<div class="a-bottom">
  <span>Copyright©北京大生知行科技有限公司</span>
  <span>联系人: IT中心<i class="br"></i>联系邮箱：hzy@163.com</span>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/oa28574/vendor.js"></script>
</html>
