<div class="dialog">
  <form class="content">
    <div class="tips">
      <h4>创建</h4>
      <a class="close" href="javascript:;"></a>
    </div>
    <div class="info"></div>
    <div class="submit">
        <a href="javascript:;" >创建</a>
    </div>
  </form>
</div>