<div class="b2s-header">
    <div class="b2s-header-in clear-fix">
        <div class="b2s-header-logo left">
            <a href="" class="b2s-header-link"></a>
            <img src="<%= imagessrc%>b2s-header-logo-n.png" width="170" height="43" class="b2s-header-logo-img left" />
            <div class="left b2s-header-logo-text">
                <p>互联网+外教进校工程</p>
                <span>美国纽交所上市公司（股票代码: COE） 全球信赖的在线英语领导品牌</span>
                <i></i>
            </div>
        </div>
        <div class="b2s-header-con right">
            <ul class="b2s-header-link clear-fix">
                <li>
                    <a href="">APP手机客户端</a>
                </li>
                <li>
                    <a href="">AC客户端</a>
                </li>
                <li class="b2s-header-wx">
                    <a href="javascript:void(0);">微信服务号<img src="<%= imagessrc%>home_code.png" width="126" height="133" /></a>
                </li>
                <li>
                    <a href="">激活学生账户</a>
                </li>
            </ul>
            <span class="b2s-header-tel right">4006635151</span>
        </div>
    </div>
</div>