<div class="b2s-nav" data-init="b2sNav">
    <div class="b2s-nav-in b2s-layout clear-fix">
        <ul class="clear-fix">
            <li class="cur">
                <a href="">首页</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">项目概况</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">教学体系</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">课程设置</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">外教师资</a>
            </li>
        </ul>
        <i class="b2s-nav-line"></i>
    </div>
</div>