<% include ../common/pupil_top.ejs %>
<body>
<section class="code_content">
	<div class="box">
		<img src="<%= imagessrc%>/or_code.jpg" alt="" class="or_code">
	</div>
</section>
</body>
</html>