<div class="my-cont">
    <ul class="my-c-l">
        <li class="my-item">
            <div class="my-b-l"></div>
            <div class="my-cont-l">
                <span class="my-icon-c my-icon-c3"></span>
                <span class="my-i-day">8月2</span>
                <p class="my-time">周一<span class="my-w-c">Mon.</span><br>11:00－12:00</p>
                <div class="my-cont-c">
                    <p class="my-c-book">主讲教材：Task 1 分类＋语料讲解Task 1 分类＋语料讲解</p>
                    <P class="my-c-time">补课时间：2016/5/7   周三   19:00 - 21:00</P>
                </div>
            </div>
            <ul class="my-info-list">
                <li class="star star2"><a href="javascript:;"></a></li>
                <li class="hide"><a href="javascript:;">课程评价</a></li>
                <li class="my-pass-g hide"><a href="javascript:;">缺席补课</a></li>
                <li class="my-pass-g"><a href="javascript:;">已申请补课</a></li>
                <li class="hide"><a href="javascript:;">评价失效</a></li>
                <li class="hide"><a href="javascript:;">回放失效</a></li>
                <li class="hide"><a href="javascript:;">课程回放</a></li>
                <li><a href="javascript:;">下载练习</a></li>
                <li><a href="javascript:;">AC聊天记录</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="my-cont my-last">
    <ul class="my-c-l">
        <li class="my-item">
            <div class="my-b-l"></div>
            <div class="my-cont-l">
                <span class="my-icon-c my-icon-c3"></span>
                <span class="my-i-day">8月2</span>
                <p class="my-time">周一<span class="my-w-c">Mon.</span><br>11:00－12:00</p>
                <div class="my-cont-c">
                    <p class="my-c-book">主讲教材：Task 1 分类＋语料讲解Task 1 分类＋语料讲解</p>
                    <P class="my-c-time">补课时间：2016/5/7   周三   19:00 - 21:00</P>
                </div>
            </div>
            <ul class="my-info-list">
                <li class="star star2"><a href="javascript:;"></a></li>
                <li class="hide"><a href="javascript:;">课程评价</a></li>
                <li class="my-pass-g hide"><a href="javascript:;">缺席补课</a></li>
                <li class="my-pass-g"><a href="javascript:;">已申请补课</a></li>
                <li class="hide"><a href="javascript:;">评价失效</a></li>
                <li class="hide"><a href="javascript:;">回放失效</a></li>
                <li class="hide"><a href="javascript:;">课程回放</a></li>
                <li><a href="javascript:;">下载练习</a></li>
                <li><a href="javascript:;">AC聊天记录</a></li>
            </ul>
        </li>
    </ul>
</div>
