<div class="my-s-evaluate">
    <a href="javascript:;" class="close"></a>
    <h3 class="tit">51Talk致力于提供最优质的在线英语教育服务，为评估老师的教学质量和服务态度，请您用1分钟时间给老师的本次课程打分。</h3>
    <div class="my-m-cc">
        <ul class="my-m-list">
            <li>
                <span class="my-l-l">按时上课：</span>
                <div class="my-l-r"><span class="my-l-icon my-l-icon1"></span><span class="my-l-text">是</span><span class="my-l-icon my-l-icon2"></span><span class="my-l-text">否</span>
                </div>
            </li>
            <li>
                <span class="my-l-l">网络效果：</span>
                <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-p-t">一般吧</span></div>
            </li>
            <li>
                <span class="my-l-l">语言能力：</span>
                <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-p-t">一般吧</span></div>
            </li>
            <li>
                <span class="my-l-l">知识讲解：</span>
                <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-p-t">一般吧</span></div>
            </li>
            <li>
                <span class="my-l-l">课堂气氛：</span>
                <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-p-t">一般吧</span></div>
            </li>
            <li class="">
                <span class="my-l-l">授课耐心：</span>
                <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-p-t">非常满意</span></div>
            </li>
            <li class="my-h">
                <textarea name="" id="" cols="30" rows="10" placeholder="亲，对老师的教学方法是否满意，希望改进哪些方面呢？"></textarea>         
            </li>
            <li class="my-lt">如果您对服务不满意，可以选择 <span class="my-color">去投诉></span></li>
        </ul>
        <p class="my-link"><a href="javascript:;" class="link">提交评价</a></p>
    </div>
</div>
