<div class="my-s-tips">
    <div class="my-mask"></div>
    <div class="tip-c">
        <h3 class="tip-tit"><span class="tip-t-l">评价及送学豆规则</span><a href="javascript:;"></a></h3>
        <div class="tip-cont">
            <dl>
                <dt>评价时效</dt>
                <dd>您可以在课程结束7天内对课程进行评价或修改</dd>
            </dl>
            <dl>
                <dt>回放时效</dt>
                <dd>您可以在课程结束7天内免费观看课程回放视频，过期后将不能观看</dd>
            </dl>
            <dl>
                <dt>评价送学豆规则</dt>
                <dd>
                    <ul>
                        <li class="my-b-c">任务名称</li>
                        <li class="my-b-c">获取规则</li>
                        <li class="my-b-c">数量</li>
                        <li>评价老师</li>
                        <li>完成评价</li>
                        <li>＋5学豆</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>