<div class="my-s-complaint">
    <a href="javascript:;" class="close"></a>
    <h3 class="tit"><span class="tit-c">课程投诉</span></h3>

    <div class="my-m-cc">
    	<div class="c-why">
    		<span class="c-why-l">投诉原因</span>
    		<div class="c-why-r">
    			<span class="c-top">点击选择</span>
    			<span class="my-l-icon my-l-icon5"></span>
    			<ul class="c-select">
    				<li class="active">关于老师</li>
    				<li>关于教材</li>
    				<li>关于网站</li>
    				<li>关于客户端</li>
    				<li>关于客服/顾问</li>
    				<li>其他</li>
    			</ul>
    		</div>
    	</div>
    	<div class="c-why c-why2">
    		<span class="c-why-l">投诉内容</span>
    		<div class="c-ta">
    			<textarea name="" id="" cols="30" rows="10" placeholder="您提交的投诉内容对老师不可见"></textarea>
    		</div>
    	</div>
        <p class="my-link"><a href="javascript:;" class="link">提交评价</a><a href="javascript:;">取 消</a></p>
    </div>
</div>
