<div class="my-s-record">
    <a href="javascript:;" class="close"></a>
    <h3 class="tit">51Talk致力于提供最优质的在线英语教育服务，为评估老师的教学质量和服务态度，请您用1分钟时间给老师的本次课程打分。</h3>
    <div class="my-m-cc">
        <div class="teacher">
            <h3 class="t-tit">外教教学评价</h3>
            <ul class="my-m-list clearfix">
                <li>
                    <span class="my-l-l">按时上课：</span>
                    <div class="my-l-r"><span class="my-l-icon my-l-icon1"></span><span class="my-l-text">是</span><span class="my-l-icon my-l-icon2"></span><span class="my-l-text">否</span>
                    </div>
                </li>
                <li>
                    <span class="my-l-l">网络效果：</span>
                    <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span></div>
                </li>
                <li>
                    <span class="my-l-l">语言能力：</span>
                    <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span></div>
                </li>
                <li>
                    <span class="my-l-l">知识讲解：</span>
                    <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span></div>
                </li>
                <li>
                    <span class="my-l-l">课堂气氛：</span>
                    <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span><span class="my-l-icon my-l-icon4"></span></div>
                </li>
                <li class="">
                    <span class="my-l-l">授课耐心：</span>
                    <div class="my-l-r"><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span><span class="my-l-icon my-l-icon3"></span></div>
                </li>
                <li class="my-h">老师讲的不错，课堂气氛狠活跃，以后还会约这个老师的。</li>
            </ul>
        </div>
        <div class="teacher">
            <h3 class="t-tit">外教教学评价</h3>
            <ul class="my-l">
                <li>投诉类别：<span class="t-type">其他</span><span class="time-c">2016/2/22  09:44</span></li>
                <li>投诉内容：<span class="t-cont">老师的网络效果不好</span></li>
                <li class="text-c">客服回复：<span class="c-back">问题已解决</span></li>
            </ul>
        </div>
    </div>
    <p class="my-link"><a href="javascript:;" class="link">提交评价</a></p>
</div>