<% if(pageTag.pType == "tea"){ %>
<!-- 老师栏 -->
<div class="ac-tem-tit">
    <span class="ac-tem-tit-bg"></span>
    <div class="ac-tem-tit-in ac-tem-wrap clearfix">
        <a href="javascript:void(0);" class="ac-close ac-pair-spirts fr">Go back to class</a>
    </div>
</div>
<% } %>
