<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>我在51talk获得了级别证书</title>
      <link rel="stylesheet" type="text/css" href="<%= csslink%>">
  </head>
  <body>
    <section class="share-wrap" data-init="certificate">
      <header class="header">
        <section class="logo"><img src="<%= imagessrc%>logo.jpg"></section>
        <section class="txt">
          <h2>美国纽交所上市公司</h2>
          <h2>全球信赖的在线英语领导品牌</h2>
        </section>
        <a href="javascript:;" class="home">官网首页</a>
      </header>
      <section class="container">
        <section class="banner">
          <h1>我在51Talk获得了#<em>级别</em>#的级别证书，</h1>
          <h2>证书是51Talk和外研社联合颁发的哦，学习英语
的小伙伴们都来围观吧！</h2>
        </section>
        <section class="wrap">
          <h1 class="title">哇哦！我的考试得分<em class="score">98分</em></h1>
          <img src="<%= imagessrc%>cert.jpg">
        </section>
      </section>
      <section class="register">
        <h1>立即领取<em>免费课程</em></h1>
        <ul class="clearfix">
          <li><input type="tel" id="tel" placeholder="请输入手机号码"></li>
          <li><input type="password" id="password" placeholder="密码"></li>
        </ul>
        <section class="btn">免费测试我的英语能力</section>
      </section>
    </section>
  </body>
  <script src="<%= jssrc%>" id="seajsnode"></script>
  </html>