//这是进度条的animate动画
@-webkit-keyframes bar-20{
	0%{
		width:0;
	}
	100%{
		width:20%;
	}
}
@-moz-keyframes bar-20{
	0%{
		width:0;
	}
	100%{
		width:20%;
	}
}
@-ms-keyframes bar-20{
	0%{
		width:0;
	}
	100%{
		width:20%;
	}
}
@keyframes bar-20{
  0%{
    width:0;
  }
  100%{
    width:20%;
  }
}
@-webkit-keyframes bar-40{
	0%{
		width:0;
	}
	100%{
		width:40%;
	}
}
@-moz-keyframes bar-40{
	0%{
		width:0;
	}
	100%{
		width:40%;
	}
}
@-ms-keyframes bar-40{
	0%{
		width:0;
	}
	100%{
		width:40%;
	}
}
@keyframes bar-40{
  0%{
    width:0;
  }
  100%{
    width:40%;
  }
}
@-webkit-keyframes bar-60{
	0%{
		width:0;
	}
	100%{
		width:60%;
	}
}
@-moz-keyframes bar-60{
	0%{
		width:0;
	}
	100%{
		width:60%;
	}
}
@-ms-keyframes bar-60{
	0%{
		width:0;
	}
	100%{
		width:60%;
	}
}
@keyframes bar-60{
  0%{
    width:0;
  }
  100%{
    width:60%;
  }
}
@-webkit-keyframes bar-80{
	0%{
		width:0;
	}
	100%{
		width:80%;
	}
}
@-moz-keyframes bar-80{
	0%{
		width:0;
	}
	100%{
		width:80%;
	}
}
@-ms-keyframes bar-80{
	0%{
		width:0;
	}
	100%{
		width:80%;
	}
}
@keyframes bar-80{
  0%{
    width:0;
  }
  100%{
    width:80%;
  }
}
@-webkit-keyframes bar-100{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
@-moz-keyframes bar-100{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
@-ms-keyframes bar-100{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
@keyframes bar-100{
  0%{
    width:0;
  }
  100%{
    width:100%;
  }
}



//icon掉落动画 webkit
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-15px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-15px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown-one {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:-45px;
  }

  90% {
    top:-20px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown-two {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-50px;
  }

  75% {
    top:-75px;
  }

  90% {
    top:-50px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown-three {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-70px;
  }

  75% {
    top:-95px;
  }

  90% {
    top:-70px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown-four {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-100px;
  }

  75% {
    top:-125px;
  }

  90% {
    top:-100px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown-five {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-130px;
  }

  75% {
    top:-155px;
  }

  90% {
    top:-130px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceInDown-six {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-155px;
  }

  75% {
    top:-180px;
  }

  90% {
    top:-155px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}






//firfox
@-moz-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-15px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-15px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-one {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:-45px;
  }

  90% {
    top:-20px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-two {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-50px;
  }

  75% {
    top:-75px;
  }

  90% {
    top:-50px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-three {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-70px;
  }

  75% {
    top:-95px;
  }

  90% {
    top:-70px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-four {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-100px;
  }

  75% {
    top:-125px;
  }

  90% {
    top:-100px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-five {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-130px;
  }

  75% {
    top:-155px;
  }

  90% {
    top:-130px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-six {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-155px;
  }

  75% {
    top:-180px;
  }

  90% {
    top:-155px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}










//IE
@-ms-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-15px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-15px;
  }
  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-ms-keyframes bounceInDown-one {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:-45px;
  }

  90% {
    top:-20px;
  }
  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-ms-keyframes bounceInDown-two {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-50px;
  }

  75% {
    top:-75px;
  }

  90% {
    top:-50px;
  }
  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-ms-keyframes bounceInDown-three {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-70px;
  }

  75% {
    top:-95px;
  }

  90% {
    top:-70px;
  }
  to {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@-moz-keyframes bounceInDown-four {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-100px;
  }

  75% {
    top:-125px;
  }

  90% {
    top:-100px;
  }
  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-ms-keyframes bounceInDown-five {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-130px;
  }

  75% {
    top:-155px;
  }

  90% {
    top:-130px;
  }
  to {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-ms-keyframes bounceInDown-six {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-155px;
  }

  75% {
    top:-180px;
  }

  90% {
    top:-155px;
  }
  to {
    -webkit-transform: none;
    -ms-transorm: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-15px;
  }

  75% {
    top:10px;
  }

  90% {
    top:-15px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown-one {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-20px;
  }

  75% {
    top:-45px;
  }

  90% {
    top:-20px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown-two {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-50px;
  }

  75% {
    top:-75px;
  }

  90% {
    top:-50px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown-three {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-70px;
  }

  75% {
    top:-95px;
  }

  90% {
    top:-70px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown-four {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-100px;
  }

  75% {
    top:-125px;
  }

  90% {
    top:-100px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown-five {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-130px;
  }

  75% {
    top:-155px;
  }

  90% {
    top:-130px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown-six {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
  }

  0% {
    opacity: 0;
    top:-500px;
  }

  60% {
    opacity: 1;
    top:-155px;
  }

  75% {
    top:-180px;
  }

  90% {
    top:-155px;
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes rotate{
  0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
   transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@-moz-keyframes rotate{
  0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
   transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@-ms-keyframes rotate{
  0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
   transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes rotate{
  0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
   transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}