<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>login/user_get_password.css">
</head>
<body>
<!-- 顶部 -->
<div class="wrap-nav wrap-nav-index" style="border-bottom:none;">
  <% include ../common/w_header.ejs %>
  <div class="wrap-box">
    <a href="javascript:;" class="logo">
      <i></i>
      <b><span>美国纽交所上市公司（股票代码：COE）</span>全球信赖的在线英语领导品牌</b>
    </a>        
  </div>
</div>
<!-- /顶部 -->
<div class="user_get_password" data-init="login/user_get_password" id="container">
  <h3 class="title">找回密码</h3>
  <div class="get-pass-core">
    <div class="list"></div>
    <!-- 确认账号 -->
    <div class="userpass user-one">
      <p>请输入您注册时填写的手机号，我们将把短信验证码发送到您的手机。</p>
      <ul class="urse-text">
        <li>
          <span class="lt-title">手机号：</span>
          <div class="rt-input">
            <input type="text" placeholder="请输入中国大陆手机号" class="s-input" id="mobile">
          </div>
          <div class="error">
            <i class="e-img"></i>
            <span>该手机号有多个用户，请拨打客服电话4000-51-51-51处理</span>
          </div>
        </li>
        <li>
          <span class="lt-title">验证码：</span>
          <div class="rt-input">
            <input type="text" placeholder="请输入右图中的字符" class="s-input mobile-code" id="imgcode">
          </div>
          <img id="verifycode" src="http://www.51talk.com/user/verify.php" height="35" width="80" onclick="this.src='http://www.51talk.com/user/verify.php'+'?a'+'='+new Date().getTime()" alt="单击更换验证码" title="单击更换验证码" class="code-btn">
          <div class="error">
            <i class="e-img"></i>
            <span>请输入验证码</span>
          </div>
        </li>
      </ul>
      <a href="javascript:;" class="user-btn" id="getCode">发送短信验证码</a>
    </div>
    <!-- /确认账号 -->
    <!-- 安全验证 -->
    <div class="userpass user-two hide">
      <p>验证码已发送到您的手机，请注意查收短信。如果没有收到， 您可以申请重新发送，多次失败请致电4000-51-51-51。</p>  
      <ul class="urse-text">
        <li>
          <span class="lt-title">手机号：</span>
          <span class="iphone-text">139****1652</span>
        </li>
        <li>
          <span class="lt-title">验证码：</span>
          <div class="rt-input">
            <input type="text" placeholder="请输入验证码" class="s-input mobile-code" id="mobileCode">
          </div>
          <div class="send-code">发送验证码</div>
          <div class="error">
            <i class="e-img"></i>
            <span></span>
          </div>
        </li>
      </ul>
      <a href="javascript:;" class="user-btn" id="safeNext">下一步</a>
    </div>
    <!--操作频繁  -->
    <div class="userpass user-two-error hide">
      <div class="safe-error">
        <i class="safe-icon"></i>
        <span>您的操作过于频繁！</span>
      </div>
      <p>您申请验证码的操作过于频繁，请于半小时后重试，如有疑问请拨打客服电话4000-51-51-51</p>  
    </div>
    <!-- /安全验证 -->
    <!-- 重置密码 -->
    <div class="userpass user-three hide">
      <p>您的账号138****4552已通过安全验证，请设置您的新密码</p>
      <ul class="urse-text">
        <li>
          <span class="lt-title">新密码：</span>
          <div class="rt-input">
            <input type="password" placeholder="6-20位数字、字母和特殊字符" class="s-input" id="password">
          </div>
          <div class="error">
            <i class="e-img"></i>
            <span></span>
          </div>
        </li>
        <li>
          <span class="lt-title">重复密码：</span>
          <div class="rt-input">
            <input type="password" placeholder="6-20位数字、字母和特殊字符" class="s-input" id="comfirmpswd">
          </div>
          <div class="error">
            <i class="e-img"></i>
            <span></span>
          </div>
        </li>
      </ul>
      <a href="javascript:;" class="user-btn" id="confirm">确定</a>
    </div>
    <!-- /重置密码 -->
    <!-- 完成 -->
    <div class="userpass user-four hide">
      <div class="success">
        <i class="safe-icon"></i>
        <span>新密码设置，请牢记哦~~</span>
      </div>
      <div class="sucBtn">
        <a href="javascript:;" class="user-btn">返回首页</a>
        <a href="javascript:;" class="user-btn">去会员中心</a>
      </div>
    </div>
    <!-- /完成 -->
  </div>
</div>
<!-- 尾部 -->
<% include ../common/w_footer_home.ejs %>  
<!-- /尾部 --> 
</body>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="<%= jsPath%>vendor.js"  id="seajsnode"></script>
</html>
