
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/pre_class20170207/pre_class20170207.css" rel="stylesheet" type="text/css"/>
    <link href="/css/wap/pre_class20170207/swiper.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="preclass-wrap">
      <section data-init="exercise" class="exercise">
        <section class="exercise-animate"><img src="/images/wap/pre_class20170207/l_horn.png" alt="" class="l_horn"/><img src="/images/wap/pre_class20170207/r_horn.png" alt="" class="r_horn"/>
          <canvas id="l_canvas" width="230" height="230" class="l_canvas"></canvas>
          <canvas id="r_canvas" width="230" height="230" class="r_canvas"></canvas>
          <audio id="complete_audio"></audio><img src="/images/wap/pre_class20170207/sprite.png" alt="" style="display:none;" id="colour_bar"/>
        </section>
        <section class="exercise-slide">
          <div style="cursor: -webkit-grab;" class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
            <div style="transform: translate3d(249.5px, 0px, 0px); transition-duration: 0ms;" class="swiper-wrapper">
              <div class="swiper-slide swiper-slide-active">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <input type="hidden" value="http://static.51talk.com/upload/efl_audio/prepar/L2_U1_L1_shopping_160314910.mp3" class="sys_record"/>
                  <div class="card">
                    <div class="english_card sentence">shopping</div>
                    <div class="chinese_card">
                      <p>英 ['ʃɒpɪŋ] 美 ['ʃɑpɪŋ]<span>购物</span></p>
                    </div>
                  </div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip2">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal cat"></section>
                <div class="card_wrap">
                  <div class="english_card"></div>
                  <div class="chinese_card"></div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal bear"></section>
                <div class="card_wrap">
                  <div class="english_card"></div>
                  <div class="chinese_card"></div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip4">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal rabbit"></section>
                <div class="card_wrap">
                  <div class="english_card"></div>
                  <div class="chinese_card"></div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip5">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal dog"></section>
                <div class="card_wrap">
                  <div class="english_card"></div>
                  <div class="chinese_card"></div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="star_wrap flip1">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal cat"></section>
                <div class="card_wrap">
                  <div class="english_card"></div>
                  <div class="chinese_card"></div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="star_wrap flip2">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal bear"></section>
                <div class="card_wrap">
                  <div class="english_card"></div>
                  <div class="chinese_card"></div>
                  <div class="switch">中</div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
              <div style="visibility:hidden" class="swiper-slide swiper-slide-next topic-finished">
                <div class="star_wrap flip3">
                  <div class="star-first star">
                    <div class="star-normal-first star-box"></div>
                    <div class="star-full-first star-box"></div>
                  </div>
                  <div class="star-second star">
                    <div class="star-normal-second star-box"></div>
                    <div class="star-full-second star-box"></div>
                  </div>
                  <div class="star-third star">
                    <div class="star-normal-third star-box"></div>
                    <div class="star-full-third star-box"></div>
                  </div>
                  <div class="star-fourth star">
                    <div class="star-normal-fourth star-box"></div>
                    <div class="star-full-fourth star-box"></div>
                  </div>
                  <div class="star-fifth star">
                    <div class="star-normal-fifth star-box"></div>
                    <div class="star-full-fifth star-box"></div>
                  </div>
                </div>
                <section class="animal rabbit"></section>
                <div class="card_wrap">
                  <div class="finished"><i class="finished-icon"></i>
                    <p class="finished-text">全都做完了哟~</p><a href="javascript:;" class="finished-btn"></a>
                    <p class="finished-tips">交卷后也可以返回重新训练</p>
                  </div>
                  <div class="swiper-slide-shadow-left"></div>
                  <div class="swiper-slide-shadow-right"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="exercise-operation">
          <section class="listen icon"></section>
          <section id="record" class="record icon">
            <svg width="58" height="58" viewbox="0 0 58 58" id="svg" style="display:none;">
              <circle cx="28" cy="29" r="25" stroke-width="4" stroke="#e54716" fill="none"></circle>
              <text x="20%" y="60%" fill="white" style="font-size:1.4rem;font-weight:bold">完成</text>
              <circle cx="29" cy="28" r="25" stroke-width="4" stroke="#fff152" fill="none" transform="matrix(0,-1,1,0,0,58)" stroke-dasharray="0 1069"></circle>
            </svg>
          </section>
          <section class="play icon"></section>
          <audio id="audio"></audio>
        </section>
        <section id="wrapper" class="exercise-slider__nav">
          <section class="exercise-scroll">
            <ul class="clearfix">
              <li class="current">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
            </ul>
          </section>
        </section>
      </section>
      <script src="http://api.weixin.chivoxapp.com/js/chivox.min.js" type="text/javascript"></script>
      <script>
        var musicData = {
        	good: "http://172.16.19.66:3000/templates/wap/pre_class20170207/good.mp3",
        	very_good: "http://172.16.19.66:3000/templates/wap/pre_class20170207/very_good.mp3",
        	amazing: "http://172.16.19.66:3000/templates/wap/pre_class20170207/amazing.mp3",
        	perfect: "http://172.16.19.66:3000/templates/wap/pre_class20170207/perfect.mp3",
        	excelent: "http://172.16.19.66:3000/templates/wap/pre_class20170207/excelent.mp3",
        	end: "http://172.16.19.66:3000/templates/wap/pre_class20170207/end.mp3"
        }
      </script>
    </div>
    <script src="/js/wap/project/pre_class20170207/vendor.js" id="seajsnode"></script>
  </body>
</html>