
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/pre_class20170207/pre_class20170207.css" rel="stylesheet" type="text/css"/>
    <link href="/css/wap/pre_class20170207/swiper.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="preclass-wrap">
      <section class="p-header"><img src="/images/wap/pre_class20170207/logo.png" alt="" class="logo"/>
        <div class="name_code">
          <p class="name">美国纽交所上市公司</p>
          <p class="code">NYSE: COE</p>
        </div>
      </section>
      <section data-init="share" id="container" class="report">
        <section class="report_bg"><img src="/images/wap/pre_class20170207/top_bg.png" alt="" class="bg_img"/></section>
        <section class="report_introduce">
          <div class="get_stars get_star_3"></div><img src="/images/wap/pre_class20170207/head_img.jpg" alt="" class="head_img"/>
          <div class="name_warp">
            <p>Jessica</p>
          </div><img src="/images/wap/pre_class20170207/excellent.png" alt="" class="result_img"/>
        </section>
        <section class="report_learn">
          <p class="tit_level">G3</p>
          <p class="tit_unit">UNIT3 LESSON 1</p>
          <p class="tit_word">重点词汇</p>
          <div class="words_wrap"><span>mother</span><span>father</span><span>goal</span><span>monther</span><span>mother</span><span>father</span><span>goal</span><span>monther</span><span>mother</span><span>father</span><span>goal</span><span>monthergjgijigjigjiorjgifjgf</span></div>
          <p class="tit_important">学习要点</p>
          <p class="important_content">本课主要讲述了家庭成员的组成。通过本课的学习，孩子可以学会不同家庭成员的称呼和表达方式。请您跟孩子一起画一个的家庭树，家庭成员在家庭树上，边学边玩，让孩子在欢乐的氛围中更好地了解家庭成员的组成。</p>
        </section>
        <p class="p-line"><img src="/images/wap/pre_class20170207/icon_line.png" alt=""/></p>
      </section>
      <section class="slide">
        <h1><img src="/images/wap/pre_class20170207/title_sound.png" alt=""/></h1>
        <div class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-active">
              <div class="swiper-slide-shadow-left"></div>
              <div class="swiper-slide-shadow-right"></div>
              <div class="show_star show_star_0"></div>
              <div class="left_page"><span>6/</span><span>20</span></div>
              <div class="card_wrap">
                <div class="eng_card">
                  <div class="content"> 
                    <p>my name is liyang i want to make friend with you my name is liyang i want to make friend with you</p>
                  </div>
                  <div data-src="good.mp3" class="listen_wrap">
                    <p class="listen_btn"></p><img src="/images/wap/pre_class20170207/head_img.jpg" alt=""/>
                  </div>
                  <div class="eng_btn"><span></span></div>
                </div>
                <div class="chi_card"> 
                  <div class="content"> 
                    <p>我叫李杨，你好，你好你好你好你好</p>
                  </div>
                  <div class="chi_btn"><span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-shadow-left"></div>
              <div class="swiper-slide-shadow-right"></div>
              <div class="show_star show_star_1"></div>
              <div class="left_page"><span>6/</span><span>20</span></div>
              <div class="card_wrap">
                <div class="eng_card">
                  <div class="content"> 
                    <p>my name is liyang i want to make friend with you my name is liyang i want to make friend with you</p>
                  </div>
                  <div class="listen_wrap">
                    <p class="listen_btn"></p><img src="/images/wap/pre_class20170207/head_img.jpg" alt=""/>
                  </div>
                  <div class="eng_btn"><span></span></div>
                </div>
                <div class="chi_card"> 
                  <div class="content"> 
                    <p>我叫李杨，你好，你好你好你好你好</p>
                  </div>
                  <div class="chi_btn"><span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-shadow-left"></div>
              <div class="swiper-slide-shadow-right"></div>
              <div class="show_star show_star_2"></div>
              <div class="left_page"><span>6/</span><span>20</span></div>
              <div class="card_wrap">
                <div class="eng_card">
                  <div class="content"> 
                    <p>my name is liyang i want to make friend with you my name is liyang i want to make friend with you</p>
                  </div>
                  <div class="listen_wrap">
                    <p class="listen_btn"></p><img src="/images/wap/pre_class20170207/head_img.jpg" alt=""/>
                  </div>
                  <div class="eng_btn"><span></span></div>
                </div>
                <div class="chi_card"> 
                  <div class="content"> 
                    <p>我叫李杨，你好，你好你好你好你好</p>
                  </div>
                  <div class="chi_btn"><span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-shadow-left"></div>
              <div class="swiper-slide-shadow-right"></div>
              <div class="show_star show_star_3"></div>
              <div class="left_page"><span>6/</span><span>20</span></div>
              <div class="card_wrap">
                <div class="eng_card">
                  <div class="content"> 
                    <p>my name is liyang i want to make friend with you my name is liyang i want to make friend with you</p>
                  </div>
                  <div class="listen_wrap">
                    <p class="listen_btn"></p><img src="/images/wap/pre_class20170207/head_img.jpg" alt=""/>
                  </div>
                  <div class="eng_btn"><span></span></div>
                </div>
                <div class="chi_card"> 
                  <div class="content"> 
                    <p>我叫李杨，你好，你好你好你好你好</p>
                  </div>
                  <div class="chi_btn"><span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-shadow-left"></div>
              <div class="swiper-slide-shadow-right"></div>
              <div class="show_star show_star_4"></div>
              <div class="left_page"><span>6/</span><span>20</span></div>
              <div class="card_wrap">
                <div class="eng_card">
                  <div class="content"> 
                    <p>my name is liyang i want to make friend with you my name is liyang i want to make friend with you</p>
                  </div>
                  <div class="listen_wrap">
                    <p class="listen_btn"></p><img src="/images/wap/pre_class20170207/head_img.jpg" alt=""/>
                  </div>
                  <div class="eng_btn"><span></span></div>
                </div>
                <div class="chi_card"> 
                  <div class="content"> 
                    <p>我叫李杨，你好，你好你好你好你好</p>
                  </div>
                  <div class="chi_btn"><span></span></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-shadow-left"></div>
              <div class="swiper-slide-shadow-right"></div>
              <div class="show_star show_star_5"></div>
              <div class="left_page"><span>6/</span><span>20</span></div>
              <div class="card_wrap">
                <div class="eng_card">
                  <div class="content"> 
                    <p>my name is liyang i want to make friend with you my name is liyang i want to make friend with you</p>
                  </div>
                  <div class="listen_wrap">
                    <p class="listen_btn"></p><img src="/images/wap/pre_class20170207/head_img.jpg" alt=""/>
                  </div>
                  <div class="eng_btn"><span></span></div>
                </div>
                <div class="chi_card"> 
                  <div class="content"> 
                    <p>我叫李杨，你好，你好你好你好你好</p>
                  </div>
                  <div class="chi_btn"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-advantage">
        <section class="p-advantage-dis">
          <h1><img src="/images/wap/pre_class20170207/title_enjoy.png" alt=""/></h1>
          <section class="p-advantage-dis_lst">
            <ul>
              <li>
                <p>288元</p>
                <p>免费体验课</p>
              </li>
              <li>
                <p>9.5折</p>
                <p>购买优惠</p>
              </li>
              <li>
                <p>3课时</p>
                <p>购买赠送</p>
              </li>
            </ul>
          </section>
        </section>
        <p class="p-line"><img src="/images/wap/pre_class20170207/icon_line.png" alt=""/></p>
        <section class="p-advantage-guide">
          <h1><img src="/images/wap/pre_class20170207/title_experience.png" alt=""/></h1>
          <form action="http://wap.51talk.com/index/doRegister" id="f-register" method="post">
            <ul class="p-advantage-guide_reg">
              <li>
                <label for="mobile">手机号：</label>
                <input type="text" id="mobile" name="mobile"/>
              </li>
              <li>
                <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                <input type="password" id="password" name="password"/>
              </li>
              <input type="hidden" name="register_from" id="register_from" value="4141136"/>
            </ul><a href="javascript:;" class="p-advantage-guide_btn"></a>
          </form>
          <section class="p-advantage-guide_tips">
             
            已有<em>2976</em>个宝贝 领取了美国小学体验课		
          </section>
        </section>
      </section>
      <section class="f-mask">
        <div class="tips-wrap">
          <h1>提示</h1>
          <p class="tips-text"></p><a href="javascript:;" class="close_btn">确定</a>
        </div>
      </section>
    </div>
    <script src="/js/wap/project/pre_class20170207/vendor.js" id="seajsnode"></script>
  </body>
</html>