<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/home_review/home_review.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <script src="../../../js/html/project/home_review/pind.js?v=1"></script>
    <script src="/js/html/project/home_review/vendor.js" id="seajsnode" type="text/javascript"></script>
  </body>
</html>