<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>2015 学习回顾</title>
    <link rel="stylesheet" href="/css/html/mac_user_ac/mac_user_ac.css">
</head>

<body id="container" data-init="review">
<div id="page-wrap" class="page-wrap">
	<div class="section page page1">
		<div class="top-nav">
			<img src="/images/html/mac_user_ac//logo.png" alt="" class="logo">
			<p>
				<a href="javascript:;" class="home_page">官网首页</a>
				<a href="javascript:;" class="user_center">会员中心</a>
			</p>
		</div>
		<div class="content-1">
			<h3 class="a-hide u-animation1" data-animate="u-animation1"></h3>
			<h4 class="a-hide u-animation2" data-animate="u-animation2"></h4>
			<div class="pc">
				<p class="tit01">您当前是Windows系统，推荐下载这个</p>
				<a href="javascript:;" class="pc_link"></a>
				<p class="tit02"><span>更新时间：2016-2-12</span><a href="http://www.51talk.com/page/detail/612" target="_blank">更新日志</a></p>
			</div>
			<div class="mac">
				<p class="tit01">您当前是MAC OS系统，推荐下载这个</p>
				<a href="javascript:;" class="mac_link"></a>
				<p class="tit02"><span>提醒</span>现仅支持1对1外教课、公开课</p>
				<p class="tit03">
					<span>更新时间：2016-2-12</span>
					<a href="http://www.51talk.com/page/detail/612" target="_blank">更新日志</a>
				</p>
			</div>
		</div>
	</div>
	<div class="section page page2">
		<div class="content-2">
			<img src="/images/html/mac_user_ac//step2_bg1.png" alt="" class="a-hide" data-animate="step1">
			<img src="/images/html/mac_user_ac//step2_bg2.png" alt="" class="a-hide" data-animate="step2">
			<img src="/images/html/mac_user_ac//step2_bg3.png" alt="" class="a-hide" data-animate="step3">
			<img src="/images/html/mac_user_ac//step2_bg4.png" alt="" class="a-hide" data-animate="step4">
			<img src="/images/html/mac_user_ac//step2_bg5.png" alt="" class="a-hide" data-animate="step5">
		</div>
	</div>
	<div class="section page page3">
		<div class="content-3">
			<img src="/images/html/mac_user_ac//step3_bg1.png" alt="" class="a-hide" data-animate="step1">
			<img src="/images/html/mac_user_ac//step3_bg2.png" alt="" class="a-hide" data-animate="step2">
			<img src="/images/html/mac_user_ac//step3_bg3.png" alt="" class="a-hide" data-animate="step3">
			<img src="/images/html/mac_user_ac//step3_bg4.png" alt="" class="a-hide" data-animate="step4">
		</div>
	</div>
	<div class="section page page4">
		<div class="content-4">
			<h3 class="a-hide" data-animate="u-animation3"></h3>
			<p class="a-hide fly" data-animate="rockets"></p>
			<div class="pc">
				<p class="tit01">您当前是Windows系统，推荐下载这个</p>
				<a href="javascript:;" class="pc_link"></a>
				<p class="tit02"><span>更新时间：2016-2-12</span><a href="http://www.51talk.com/page/detail/612" target="_blank">更新日志</a></p>
			</div>
			<div class="mac">
				<p class="tit01">您当前是MAC OS系统，推荐下载这个</p>
				<a href="javascript:;" class="mac_link"></a>
				<div class="tit_show">
					<p class="tit02"><span>提醒</span>MAC版本暂时仅支持1V1外教课</p>
					<p class="tit03">
						<span>更新时间：2016-2-12</span>
						<a href="http://www.51talk.com/page/detail/612" target="_blank">更新日志</a>
					</p>
				</div>			
			</div>
		</div>
	</div>
</div>
<!-- 页面悬浮 -->
<div class="ipad">
	<div class="ipad_con">
		<p class="tit01">青少课堂新产品登陆</p>
		<a href="javascript:;" class="ipad_link"></a>
	</div>
</div>
<script src="/js/html/project/mac_user_ac/vendor.js"></script>
<script type="text/javascript" src="/js/html/lib/diffview/jquery.fullPage.js"></script>
</body>
</html>
