<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/saturn_landing/saturn_landing.css">
</head>
<body>
 <img src="/images/wap/saturn_landing/logo.jpg" alt="" height="0" width="0" style="float:left;">
  <div class="saturn">
     <img src="/images/wap/saturn_landing/sl__01.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__02.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__03.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__04.jpg" alt=""> 
     <img src="/images/wap/saturn_landing/sl__05.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__06.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__07.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__08.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__09.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__10.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__11.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__12.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__13.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__14.jpg" alt="">
     <img src="/images/wap/saturn_landing/sl__15.jpg" alt="">  
     <a href="javascript:;">点击报名</a>
  </div>
</body>
</html>