<% include ../common/top.ejs %>
<body>
<!-- 顶部 -->
<div class="opencls-t">
  <div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <span><i></i>4000-51-51-51</span>
  </div>
  </div>
</div>
<div class="opencls">
  <h3><i></i>51Talk公开课用户行为规范</h3>
  <p>
    <b class="f-b">首先，感谢各位用户对51Talk公开课一直以来的支持。</b>
    <span>为了建立良好的视听环境和学习体验， 51Talk为公开课用户开放了发言功能，这一功能使用户能够轻松地与老师及其他用户进行互动。51Talk相信用户的自我约束和互相监督能够充分保证公开课发言的良好秩序，但是为了更好地管理和改善公开课的发言系统，我们制定了如下行为规范，希望每位用户自觉遵守：</span>
  </p>
  <p>
    <b>1. 用户拥有设置个性化帐号信息的权利(包括：昵称、头像、个人介绍、帐号模板等)，但不得设置含有以下内容的帐号信息：</b>
    <span>1）违反国家法律法规及风序良俗的；</span>
    <span>2）包含人身攻击性质内容的；</span>
    <span>3）暗示与他人或机构相混同的；</span>
    <span>4）带有明显广告性质的昵称；</span>
    <span>5）包含其他非法信息的。</span>
    <span>同时，用户不得使用隐晦表达等方式规避以上限制。</span>
  </p>
  <p>
    <b>2. 用户在公开课上可以发布以下言论：</b>
    <span>1）回答老师提出的问题；</span>
    <span>2）向老师提出与课程相关的问题；</span>
    <span>3）与其他用户讨论课程相关的问题；</span>
    <span>4）其他与本课程或英语学习有关的内容。</span>
  </p>
  <p>
    <b>3. 用户在公开课上的任何言论（包括但不限于文字、图片、音频、视频等）都应当遵守国家法律法规的规定，不得发布含有下列内容的信息： </b>
    <span>1）违反宪法确定的基本原则的；</span>
    <span>2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</span>
    <span>3）损害国家荣誉和利益的；</span>
    <span>4）煽动民族仇恨、民族歧视，破坏民族团结的；</span>
    <span>5）破坏国家宗教政策，宣扬邪教和封建迷信的；</span>
    <span>6）散布谣言，扰乱社会秩序，破坏社会稳定的；</span>
    <span>7）散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</span>
    <span>8）侮辱或者诽谤他人，侵害他人合法权益的；</span>
    <span>9）煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</span>
    <span>10）以非法民间组织名义活动的；</span>
    <span>11）含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</span>
    <span>12）含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。</span>
  </p>
  <p>
    <b>4. 用户不得发布影响公开课正常交流的内容，包括但不限于：</b>
    <span>1）刷屏（短时间内发布大量重复内容）；</span>
    <span>2）过度使用表情，干扰老师和其他用户的交流；</span>
    <span>3）对老师或其他用户进行任何形式的人身攻击；</span>
    <span>4）与课程无关的内容，如在公开课上聊天等；</span>
    <span>5）恶意误导其他用户（恶意地错误回答其他用户的正常提问等）；</span>
    <span>6）发布广告或其他以获取商业利益为目的的内容；</span>
    <span>7）其他可能影响正常课程交流的内容。</span>
  </p>
  <p>
    <b>5. 用户如有违反上述第1条、第3条和第4条规定的情况， 51Talk有权根据情节对违规用户采取删除违规信息、警告、暂时或永久禁止发言、禁止选课、禁止登陆等措施，并有权公告处理结果。</b>
  </p>
  <p>
    <b>6. 用户因违反本规范而被采取相关处理措施的，如对处理结果有异议，可以向51Talk提交符合法律法规及51Talk要求证明材料向51Talk申诉，申诉方式：电话客服：400-51-51-51</b>
  </p>
  <p>
    <span>营造良好的课堂环境需要每一名用户的共同努力，51Talk感谢各位用户一如既往的理解与配合。希望各位用户严格遵守本规范的相关内容，在51Talk公开课上学习知识、收获友谊。</span>
  </p>
</div> 
</body>
</html>