<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>未来教育</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/future_edu/future_edu.css">
</head>
<body>
<div class="future_edu" data-init="future_edu">
	<section class="topbar">
		<img src="/images/wap/future_edu/topbar.jpg">
		<h2>填写信息，免费体验</h2>
	</section>
	<section class="register">
		<ul class="clearfix">
			<li><input type="tel" name="tel" id="tel" placeholder="请输入您的手机号"></li>
			<li><input type="password" name="password" id="password" placeholder="请设置您的密码"></li>
			<li><a href="javascript:;" class="btn">进入学习中心</a></li>
		</ul>
	</section>
	<section class="logo">
		<ul class="clearfix">
			<li>
				<img src="/images/wap/future_edu/51talk.jpg">
			</li>
			<li>
				<img src="/images/wap/future_edu/future_edu.jpg">
			</li>
		</ul>
	</section>
	<section class="slogan">
		<img src="/images/wap/future_edu/font.jpg">
	</section>
	<section class="star">
		<h2 class="title">星光璀璨</h2>
		<h3 class="smalltitle">THE STARS SHINING</h3>
		<img src="/images/wap/future_edu/star.jpg">
	</section>
	<section class="btn-wrap">
		<a class="btn" href="javascript:;">马上注册，体验免费外教课</a>
	</section>
	<section class="map">
		<img src="/images/wap/future_edu/map.jpg">
	</section>
</div>
<script src="/js/wap/project/future_edu/vendor.js" id="seajsnode"></script>
</body>
</html>