
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title></title>
    <script src="../../../js/wap/project/hans_landing/flexible.js" id="seajsnode"></script>
    <link href="/css/wap/hans_landing/hans_landing.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section data-init="hans_landing" id="container" class="container-wrap"><img src="/images/wap/hans_landing/img_01.jpg" alt=""/>
      <div class="p-register"><img src="/images/wap/hans_landing/img_02.jpg" alt=""/>
        <form id="reg_form" method="post" action="" class="p-register_form">
          <div class="input-wrap">
            <input type="text" id="mobile" name="mobile" placeholder="妈妈的手机号码"/>
          </div>
          <div class="input-wrap">
            <input type="password" placeholder="设置您的密码" id="password" name="password"/>
          </div><a href="javascript:;" class="p-register_send">赶快免费领取试听课程吧</a><a href="javascript:;" class="login_btn">已经是会员，请点击登录</a>
        </form>
      </div><img src="/images/wap/hans_landing/img_03.jpg" alt=""/><img src="/images/wap/hans_landing/img_04.jpg" alt=""/><img src="/images/wap/hans_landing/img_05.jpg" alt=""/><img src="/images/wap/hans_landing/img_06.jpg" alt=""/><img src="/images/wap/hans_landing/img_07.jpg" alt=""/><img src="/images/wap/hans_landing/img_08.jpg" alt=""/><img src="/images/wap/hans_landing/img_09.jpg" alt=""/>
      <div class="add-link-btn"><img src="/images/wap/hans_landing/img_10.jpg" alt=""/><a href="javascript:;" class="u-btn-1">马上申请免费试听名额</a></div><img src="/images/wap/hans_landing/img_11.jpg" alt=""/><img src="/images/wap/hans_landing/img_12.jpg" alt=""/><img src="/images/wap/hans_landing/img_13.jpg" alt=""/><img src="/images/wap/hans_landing/img_14.jpg" alt=""/>
      <div class="add-link-btn"><img src="/images/wap/hans_landing/img_15.jpg" alt=""/><a href="javascript:;" class="u-btn-2">现在报名立享30天无条件退费</a></div>
    </section>
    <section class="f-mask">
      <div class="tips-wrap">
        <h1>提示</h1>
        <p class="tips-text"></p><a href="javascript:;" class="close_btn">确定</a>
      </div>
    </section>
    <script src="/js/wap/project/hans_landing/vendor.js" id="seajsnode"></script>
  </body>
</html>