<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="apple-mobile-web-app-title" content="" />
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="format-detection" content="telephone=no">
   <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	 <title>老师个人中心</title>
	 <link rel="stylesheet" type="text/css" href="<%= csslink%>">   
	</head>
<body>
<div class="package package-h" data-init="course_purchase" style="margin:0px auto; min-width:320px;
 max-width:640px;">
	<form action=""  method="post" id="package-form">
		<section class="package-course">
			<ul class="clearfix">
				<li><label>课程名称：</label><em>10天挑战300高频词</em></li>
				<li><label>上课时间：</label><em>11月19日-12月31日 20课时</em></li>
				<li><label>授课老师：</label><em>李老师</em></li>
			</ul>
		</section>
		<section class="package-payprice">
			<div class="package-price-original">
				<span class="name">课程价格</span><span class="money">&yen;<span class="price">199</span></span>
			</div>
			<div class="package-price-total">
				<span class="name">已优惠</span><span class="money">-&yen;<span class="price">150</span></span>
			</div>
			<div class="package-price-current">
				<span class="name">需支付</span><span class="money">&yen;<span class="price">49</span></span>
			</div>
		</section>
		<section class="package-paypact">
			<span class="package-paypact-agree agree"></span>
			<a href="" class="pactlink">我已阅读并同意51Talk课程服务协议</a>
		</section>
		<section class="package-pay">
			<div class="package-pay-methods">
				<ul class="logos">
					<li>
						<span class="logo zhifubao"></span>
					</li>
					<li>
						<span class="logo weixin"></span>
					</li>
				</ul>
				<ul class="merchants">
					<li data-name="alipay">
						<span class="name">支付宝</span>
						<span class="button check"></span>
					</li>
					<li data-name="weixin">
						<span class="name">微信支付</span>
						<span class="button"></span>
					</li>
				</ul>
			</div>
		</section>
		<section class="package-blank"></section>
		<section class="package-payfixbar">
			<section class="package-payfixbar__money">需支付 <span class="money"><i class="icon">&yen;</i>39</span> </section>
			<section class="package-payfixbar__buy">立即购买</section>
		</section>
		<input type="hidden" value='' name="sign"/>
		<input type="hidden" value='' name="point_id"/>
		<input type="hidden" value='' name="free_attend_cash_down" />
		<input type="hidden" value='' name="buy_attend_cash_down" />
		<input type="hidden" value='' name="ct_attend_cash_down" />
		<input type="hidden" value='6288' name="totalprice" id="totalprice"/>
		<input type="hidden" value='' name="cash_card" id="cash_card"/>
		<input type="hidden" value='agree' name="pact" id="pact-input"/>
		<input type="hidden" value='alipay' name="payMethod" id="merchants-input"/>
	</form>
</div>
<section class="package-dialog hide">
	<section class="coupon-dialog">
		<h3 class="coupon-dialog-title"><span>我的代金券</span><span class="close"></span></h3>
		<div class="coupon-dialog-content">
			<div class="couponinput">
				<input type="text" class="field" placeholder="添加代金券"/>
				<span class="add"></span>
			</div>
			<ul class="coupons">
				<li class="valid" data-id="12" data-money="250">
					<span class="lefticon"></span>
					<span class="divider"></span>
					<span class="checkbutton validcheckbuttonactive"></span>
					<div class="type">&yen;<span class="money">250</span>元代金券</div>
					<div class="validity">有效期至：2016-03-20</div>
				</li>
				<li class="valid" data-id="13" data-money="350">
					<span class="lefticon"></span>
					<span class="divider"></span>
					<span class="checkbutton"></span>
					<div class="type">&yen;<span class="money">350</span>元代金券</div>
					<div class="validity">有效期至：2016-03-20</div>
				</li>
				<li>
					<span class="lefticon"></span>
					<span class="divider"></span>
					<span class="checkbutton"></span>
					<div class="type">&yen;<span class="money">350</span>元代金券</div>
					<div class="validity">有效期至：2016-03-20</div>
				</li>
				<li>
					<span class="lefticon"></span>
					<span class="divider"></span>
					<span class="checkbutton"></span>
					<div class="type">&yen;<span class="money">350</span>元代金券</div>
					<div class="validity">有效期至：2016-03-20</div>
				</li>
			</ul>
		</div>
	</section>		
</section>
</body>

<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>



