<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/lesson29229/lesson29229.css">
</head>
<body>
<div class="lesson-audit" id="lesson-audit" data-init="lesson29229">
  <a href="javascript:;" class="lesson-audit__close"></a>
  <h5 class="lesson-audit__title">Appeal audit</h5>
  <!-- record start -->
  <div class="lesson-audit__record">
    <h5 class="lesson-audit__title">Record</h5>
    <div class="lesson-audit__record__timing">
      <ul class="clearfix">
        <li>
          <div class="lesson-audit__record__timeline">
            <div class="lesson-audit__record__timeline__time">20:00:00</div>
            <div class="lesson-audit__record__timeline__in">Check in</div>
          </div>
        </li>
        <li>
          <div class="lesson-audit__record__timeline">
          </div>
        </li>
        <li>
          <span class="lesson-audit__record__status">Late</span>
          <div class="lesson-audit__record__timeline">
            <div class="lesson-audit__record__timeline__time">20:00:00</div>
            <div class="lesson-audit__record__timeline__in">Check in</div>
          </div>
        </li>
        <li>
          <div class="lesson-audit__record__timeline">
          </div>
        </li>
        <li>
          <span class="lesson-audit__record__status">Late</span>
          <div class="lesson-audit__record__timeline">
            <div class="lesson-audit__record__timeline__time">20:00:00</div>
            <div class="lesson-audit__record__timeline__in">Check in</div>
          </div>
        </li>
        <li>
          <div class="lesson-audit__record__timeline">
          </div>
        </li>
        <li>
          <span class="lesson-audit__record__status">Late</span>
          <div class="lesson-audit__record__timeline">
            <div class="lesson-audit__record__timeline__time">20:00:00</div>
            <div class="lesson-audit__record__timeline__in">Check in</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- record end -->
  <div class="lesson-audit__list">
    <ul class="clearfix">
      <li>
        <label>Teacher's Name :</label>
        <em>Eason</em>
      </li>
      <li>
        <label>Lesson Date :</label>
        <em>2015-04-12 20:00-21:00</em>
      </li>
      <li class="lesson-audit__text">
        <label>Lesson :</label>
        <em>美好的一天</em>
      </li>
      <li>
        <label>Penalty Type :</label>
        <em class="lesson-audit__color__red">Late</em>
      </li>
      <li>
        <label>Amount :</label>
        <em class="lesson-audit__color__red">-30 Peso</em>
      </li>
      <li>
        <label>Reason :</label>
        <em>AC Issue</em>
      </li>
      <li class="lesson-audit__upload">
        <label>Proof :</label>
        <div class="clk">
          <div class="uplist">
            <ul>
              <!-- 大图放在data-src里 -->
              <li><img data-src="/images/html/lesson29229/000.jpg" src="/images/html/lesson29229/000.jpg"></li>
              <li><img data-src="/images/html/lesson29229/000.jpg" src="/images/html/lesson29229/000.jpg"></li>
              <li><img data-src="/images/html/lesson29229/000.jpg" src="/images/html/lesson29229/000.jpg"></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <label>Remark :</label>
        <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum 
laoreet. Proin gravida dolor sit amet lacus accumsan et viverra</em>
      </li>
      <li class="lesson-audit__select">
        <label>Category :</label>
        <span class="select">
          <input type="text" class="selt" value="Select Reason">
          <i class="s-img"></i>
        </span>
        <!-- select -->
        <div class="l-slt hide">
          <ul>
            <li class="ched">Natural Calamities</li>
            <li>Family Emergency</li>
            <li>AC/MyPage Issues</li>
            <li>Admin Error</li>
            <li>Other</li>
          </ul>
        </div>
      </li>
      <li>
        <label>Response :</label>
        <textarea class="response"></textarea>
      </li>
      <li class="lesson-audit__btns">
        <label></label>
        <a href="javascript:;">Approve</a>
        <a href="javascript:;">Decline</a>
        <a href="javascript:;" class="cancel">Cancel</a>
      </li>
    </ul>
  </div>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/lesson29229/vendor.js"></script>
</html>