<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/teacher_si/teacher_si.css">
</head>
<body>
  <div class="teacher_si_t">
    <h3 class="tit">How to sync your booking schedule to Google Calendar</h3>
    <div class="cont">
      <div class="c_top">
        <p class="c_text1">Dear teachers,</p>
        <p class="c_text2">In order to let you view your bookings easier via mobile, we have added a new function “Sync schedule to Google calendar.” You can now browse your booking schedule by using your smart phone anywhere at any time. Please note that this function is just for reference, you will still need to attend lessons based on what is reflecting in your booking schedule in Mypage.</p>
        <p class="c_text3">Please the brief introduction on how this new function works. </p>
      </div>
      <div class="c_bottom">
        <ul class="c_list">
          <li>
            <h3 class="c_tit">“Sync schedule to Google account” Button</h3>
            <div class="c_cont">
              <img src="/images/html/teacher_si/si_1.jpg" alt="">
              <p>“Sync schedule to Google account” button can be found on top of your booking schedule. Click the button and a pop up window will appear. </p>
            </div>
          </li>
          <li>
            <h3 class="c_tit">Click Sign in with Google</h3>
            <div class="c_cont">
              <img src="/images/html/teacher_si/si_2.jpg" alt="">
              <p>1. Sign in with your Google account to connect to your Google Calendar.</p>
              <p>2. The system will sync the booking schedule automatically once connected to your Google account, if the lesson is canceled, it will also be removed from your calendar. </p>
            </div>
          </li>
          <li>
            <h3 class="c_tit">Sample of Lesson format</h3>
            <div class="c_cont">
              <img src="/images/html/teacher_si/si_3.jpg" alt="">
              <p>How it looks in Google calendar</p>
              <p>1. Calendar title: [Lesson Type]: [title of the text book]</p>
              <p>2. Starts/Ends: Lesson date and time.</p>
              <p>3. Alert: default notification will be <span class="red">5 minutes before</span> the lesson time.</p>
            </div>
          </li>
          <li>
            <h3 class="c_tit">Disconnect the account with booking schedule</h3>
            <div class="c_cont">
              <img src="/images/html/teacher_si/si_4.jpg" alt="">
              <p class="mb_50">1. By clicking the button “Disconnect your Google account”, sync function will be terminated.  </p>
              <img src="/images/html/teacher_si/si_5.jpg" alt="">
              <p>2. Automatic disconnection If password of Google account has been changed, the system will automatically disconnect and remind teacher to sign in again.</p>
            </div>
          </li>
          <li>
            <h3 class="c_tit">FAQ for teachers</h3>
            <div class="c_cont">
              <ul class="cont_list">
                <li>
                  <h3 class="list_tit">1. Do I need to have a Google account?</h3>
                  <p>Yes, you need to register a Google email account before you can sync your booking schedule to google calendar.  </p>
                </li>
                <li>
                  <h3 class="list_tit">2. What if Google calendar is not synchronized with my page which causes me to be absent or late, will I get a penalty?</h3>
                  <p>This function is only for reference to help you have easier access by using mobile. You will still need to attend lessons based on what is reflecting in your booking schedule in Mypage.</p>
                </li>
                <li>
                  <h3 class="list_tit">3. How can teacher synchronize every day? </h3>
                  <p>You just need to input your Google account as instructed, system will automatically sync the lesson details. </p>
                </li>
                <li>
                  <h3 class="list_tit">4. Will the new function make Mypage slow?</h3>
                  <p>No, this will not affect the usage of your Mypage.</p>
                </li>
                <li>
                  <h3 class="list_tit">5. Can I see student profile and lesson medium?</h3>
                  <p>You can only see the lesson type, name of the material and lesson time. You still need to go to my booking schedule page for more information. </p>
                </li>
                <li>
                  <h3 class="list_tit">6. Is it possible for two teachers to share one google account? </h3>
                  <p>System do not support such action. Each teacher should have their own google account. </p>
                </li>
                <li>
                  <h3 class="list_tit">7. If I switched to another google account, will the lessons from 1st account be transferred to the 2nd account?</h3>
                  <p>No, it will not be transferred to 2nd account.</p>
                </li>
                <li>
                  <h3 class="list_tit">8. How would it sync if I am having a different time zone?</h3>
                  <p>System will automatically adjust the time base on the local time of your google calendar, there is no need for time conversion. </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="teacher_si_b">
    <h3 class="tit">How to view schedule on smart phone.</h3>
    <div class="cont">
      <div class="c_bottom">
        <ul class="c_list">
          <li>
            <h3 class="c_tit">For IOS 9.0 device</h3>
            <div class="c_cont">
              <img src="/images/html/teacher_si/si_6.jpg" alt="">
              <p>1. Go to <span class="bl">Settings</span>, then open <span class="bl">Mail/Contacts/Calendars</span>.</p>
              <p>2. Select Add Account and choose Gmail. Enter your Google account with your name, email address, password, and some sort of account description. If you have already added your Gmail account, you can just simply choose Gmail from the account list.</p>
              <p>3. Switch on Toggle Calendar and it will start to synchronize when you open again your Calendar app in your iPhone or iPad.</p>
            </div>
          </li>
          <li>
            <h3 class="c_tit">For Android 7.0 device</h3>
            <div class="c_cont">
              <img src="/images/html/teacher_si/si_7.jpg" alt="">
              <p>1. <span class="bl">Go to Settings choose "Accounts"</span>. This will display all the accounts that you have connected to your Android device. </p>
              <p>2. <span class="bl">Select "+Add account"</span>. A list of possible account will be shown.If your Google Account is already connected, select your username and ensure that "Calendar" is switched on in order to sync your calendar.</p>
              <p>3. <span class="bl">Select "Google" from the list of available options</span>. Select "Existing" if you want to log in with your Google account, or choose "New" to create a new one.   </p>
              <p>4. <span class="bl">Wait for your new account to sync</span>. After adding your Google account, it will take a minute or two to sync all of your data to your Android device. You can check if your calendar is being synced by tapping new account in the Accounts list and check if your "Calendar" is turned on.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/teacher_si/vendor.js"></script>
</html>