// 图片path
@import "modules/b2s_path.less";

.clear-fix:after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}
.clear_f{
    zoom: 1;
}



.b2s_foreign_teachers{
  .foreign_top{
    background: #2b98e2;
    width: 100%;
    height: 500px;
    .foreign_top_center{
        width: 1000px;
        margin:0 auto;
        height: 500px;
        background: url("@{imgMpath}b2s_teacher_num_03.jpg") no-repeat;
    }
  }
  .foreign_show{
        width: 100%;
        height: 948px;
        background: url("@{imgMpath}foreign_show_bg.jpg") no-repeat center;
        .foreign_show_center{
            width: 1000px;
            margin: 0 auto;
        }
        .movie_bg{
            width: 597px;
            height: 337px;
            position: relative;
            margin:58px auto 75px;
            padding:25px;
            background:url("@{imgMpath}show_bg.png") no-repeat center;
            img{
                width: 100%;
                height: 100%;
            }
            .movie_pop{
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    width: 599px;
                    height: 337px;
                    background-color: #000;
                    opacity: 0.45;
                    filter: alpha(opacity=45);
                    .btn_a{
                        width: 119px;
                        height: 119px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -59px;
                        margin-left: -59px;
                        display: block!important;
                        background: url("@{imgMpath}play_btn.png") no-repeat; 
                        background-position:0 0; 
                        &:hover{
                            background-position:-149px 0;
                        }
                    }
                    
            }
            
        }
        .tea_introduce{
            width: 964px;
            margin:0 auto;
            margin-left: -20px;
            li{
                margin-left: 40px;
                
                    float: left;
                    width: 200px;
                    img{
                        width:200px;
                    }
                    p{
                        text-align: center;
                        font-size: 16px;
                    }
                    .name{
                        font-size: 28px;
                    }
                 
               
            }
        }
    }  

    .foreign_num{
        height: 430px;
        width: 100%;
        background: url("@{imgMpath}intro_bg_02.png") no-repeat center;
        .foreign_num_center{
            width: 1000px;
            margin: 0 auto;
            ul{
                padding: 100px 15px 0 15px;
                margin-left: -56px;
                li{
                    float: left;
                    margin-left: 56px;
                    text-align: center;
                }
                p{
                    text-align: center;
                    color:#fff;
                }
                .text_top{
                    font-size: 70px;
                }
                .text_center{
                    font-size: 28px;
                    padding-top: 20px;
                }
            }
        }
    }
    .foreign_zhengshu{
        height: 565px;
        width: 100%;
        background: url("@{imgMpath}foreign_zhengshu.png") no-repeat center;
        .foreign_zhengshu_center{
            width: 1000px;
            margin: 0 auto;
            .foreign_zhengshu_book{
                margin-left: -35px;
                padding: 25px;
               li{
                float: left;
                margin-left: 35px;
                margin-top: 30px;
                img{
                    width: 210px;
                    height: 157px;
                }
               } 
            }
        }
    }  
} 




#ckplayerDialog{
        position:fixed;
        z-index: 1001;
        top:25%;
        left:50%;
        margin-left:-390px;
        border:10px solid #fff;
        .close {
          position: absolute;
        z-index: 1002;
        display: block;
        top: -20px;
        right: -20px;
        width: 30px;
        height: 30px;
        background: url("@{imgMpath}vedio_close.png") no-repeat;
    }
} 
#j-mask{
      position: fixed;
      z-index: 1000;
        height:100%;
        width: 100%;
        top:0;
        left:0;
        right:0;
        left:0;
        background:#000;
        opacity: 0.5;
        filter:alpha(opacity=50);
 }





