<% include ../common/top.ejs %>
<body>
<div class="special_details" id="container" data-init="reg">
  <h3 class="details_title"><a href="javascript:;"></a>雅思全能拔高班</h3>
  <section class="details_top">
    <img src="<%= imagessrc%>d_top.jpg" alt="">
  </section>
  <h3 class="details_tit">雅思全能拔高班</h3>
  <ul class="sucess_list">
    <li class="s_active">课程介绍</li>
    <li>课程大纲</li>
    <li>老师介绍</li>
  </ul>
  <section class="success_inner">
    <ul class="s_inner1">
      <li>
        <span class="inner1_icon l_time"></span>
        <section class="inner1_right">
          <h3 class="inner1_tit">上课时间 上课时间上课时间上课时间上课时间上课时间</h3>
          <p class="inner1_text">7月17日－8月6日</p>
        </section>
      </li>
      <li>
        <span class="inner1_icon l_class"></span>
        <section class="inner1_right">
          <h3 class="inner1_tit">课程时长</h3>
          <p class="inner1_text">每次课2小时，共6次课，共计12小时。</p>
        </section>
      </li>
      <li>
        <span class="inner1_icon l_name"></span>
        <section class="inner1_right">
          <h3 class="inner1_tit">课程名额</h3>
          <p class="inner1_text">限 50 人</p>
        </section>
      </li>
      <li>
        <span class="inner1_icon l_inner"></span>
        <section class="inner1_right">
          <h3 class="inner1_tit">课程详情</h3>
          <p class="inner1_text p_b">以ETS托福官方指南为指导的思想，根据托福考试的各科目考察要求，结合51Talk无忧英语对托福考试的深入研究，听、说、读、写分项授课，匹配相应的针对性练习，讲练结合，将考点、难点逐个击破。</p>
          <p class="inner1_s p_b">［课程特色］</p>
          <p class="inner1_text p_b">课程录屏回放：每次上课结束后一周内可回看课程录像，巩固课上知识，有效避免线下课程“一次性教学”的弊端。</p>
          <p class="inner1_text">习题精讲录播课：紧密结合直播课程授课内容，配合直播课程进度，搭配免费录播课。帮助学员巩固课上所学的，进一步消除解题疑惑，提高备考。</p>
        </section>
      </li>
    </ul>
    <ul class="s_inner2">
      <li>
        <span class="number">1</span>
        <section class="inner2_right">
          <span class="inner2_icon"></span>
          <section class="right_r">
            <h3 class="inner2_tit">雅思口语雅思口语第一讲雅思口语第一讲雅思口语第一讲第一讲</h3>
            <p class="inner2_text"><span class="inner2_day">7月17日</span><span class="inner2_week">周日</span><span class="inner2_time">10:00-12:00</span><span class="inner2_t">苏佩雯</span></p>
          </section>
        </section>
      </li>
      <li class="inner2_last">
        <span class="number">2</span>
        <section class="inner2_right">
          <span class="inner2_icon"></span>
          <section class="right_r">
            <h3 class="inner2_tit">雅思口语雅思口语第一讲雅思口语第一讲雅思口语第一讲第一讲雅思口语雅思口语第一讲雅思口语第一讲雅思口语第一讲第一讲</h3>
            <p class="inner2_text"><span class="inner2_day">7月18日</span><span class="inner2_week">周一</span><span class="inner2_time">10:00-12:00</span><span class="inner2_t">曲琼琼</span></p>
          </section>
        </section>
      </li>
    </ul>
    <ul class="s_inner3">
      <li>
        <section class="s3_left"><img src="<%= imagessrc%>tc3.jpg" alt=""></section>
        <section class="s3_right">
          <h3 class="s3_tit">曲琼琼</h3>
          <p class="s3_h">51Talk托福写作、新概念英语、语法名师。原北京新东方学校资深教师，曾任新东方北美VIP托福写作教研组组长。</p>
          <p class="s3_h">从教多年，拥有丰富的教学经验，高分学员数量部门第一。教授过托福写作、《新概念英语》第二册及第三册、语法班、成人英语教师培训班等课程。</p>
        </section>
      </li>
      <li>
        <section class="s3_left"><img src="<%= imagessrc%>tc2.jpg" alt=""></section>
        <section class="s3_right">
          <h3 class="s3_tit">苏佩雯</h3>
          <p class="s3_h">51Talk托福写作、新概念英语、语法名师。</p>
        </section>
      </li>
    </ul>
  </section>
  <section class="details_bottom">
      <div class="details">
          <span class="bought"  style="display: none">
            234人已购买
          </span>
          <span class="surplus" style="display: none" >
            还剩54个名额
          </span>
          <p class="name_time">还有<span>333</span>天<span>22</span>小时停止报名</p>
      </div>
     <div class="bg_bot"> 
          <span class="old_money">
            ￥9999元
          </span>
          <p class="now_money">
            <span class="n-s1">9999</span>
            <span class="n-unit">元</span>
          </p>
      </div>
      <div class="bg_btn"> 
          <a href="javascript:;" class="ipt-buy">立即购买</a>
          <a href="javascript:;" class="ipt-bought" style="display: none">已购买</a>
          <a href="javascript:;" class="ipt-none" style="display: none">售罄</a>
      </div>
       
  </section>
</div>
</body>
<% include ../common/bottom.ejs %>