<% include ../common/top.ejs %>
<body style="background-color:#f2f2f2;">
<div class="special_code" id="container" data-init="reg">
  <h3 class="code_tit"><a href="javascript:;"></a>购买成功</h3>
  <section class="success_inner">
    <img src="<%= imagessrc%>success.png" alt="">
    <p class="code_text">请长按下方二维码进行识别<br>注公众号后完成支付</p>
    <p class="money">订单金额：1999元</p>
  </section>
  <section class="success_b">
  	<p class="b_top">立即加入班级QQ群，第一时间获取开课信息，<br>
还能得到贴心专业的指导哦</p>
	<p class="b_class"><a href="javascript:;">51Talk暑期烤鸭班（3459896）</a></p>
  </section>
</div>
</body>
<% include ../common/bottom.ejs %>