
 .t_starClass{
	 	width: 100%;
		h3{
			text-align: center;
			color:#ffc900;
			font-size: 1.8rem;
			margin:2rem 0 1.5rem;
		}
		.t_ok{
			display:block;
			margin:0 auto;
			width: 3rem;
			margin-bottom:1.5rem;
		}
		p{
			text-align: center;
			font-size: 1.3rem;
			line-height:2.1rem;
		}
		.t_reservClass{
			display:block;
			height:2.6rem;
			width: 21.5rem;
			background:#ffc900;
			line-height: 2.6rem;
			text-align: center;
			color: #fff;
			border:0.3rem;
			margin:3.5rem auto 0;
			font-size: 1.25rem;
			border:0.3rem solid #f4e19b;
		}
 
 }
 