<!-- 导航 -->
<div class="nav centerMth">
    <a href="javascript:;" class="logo"><img src="<%= imagessrc%>/logo.png" alt=""></a>
    <ul class="menu">
        <li><a href="javascript:;">小学英语</a></li>
        <li><a href="javascript:;">教学理念</a></li>
        <li class="active"><a href="javascript:;">课程体系</a></li>
        <li><a href="javascript:;">优秀师资</a></li>
        <li><a href="javascript:;">课堂展示</a></li>
    </ul>
    <a href="javascript:;" class="ac"><span class="d_ac"></span>下载AC在线教室</a>
</div> 