<% include ../common/top.ejs %>
<body>
    <div class="ac-dialog-wrap">
        <div class="ac-dialog-content">
            <div class="l_introduce_vip">
                  <!-- <div class="l_introduce_class">
                    <div class="l_introduce_box in_left_box">
                      <p class="top_text">20人精品外教班36次课</p>
                      <p class="i_now_price">原价：598元  &nbsp;现价：<span>298元<span></p>
                      <a href="javascript:;" class="i_go_buy">立即购买</a>
                    </div>
                    <div class="l_introduce_box in_right_box">
                      <p class="top_text">6人精品外教班36次课</p>
                      <p class="i_now_price">原价：998元  &nbsp;现价：<span>668元<span></p>
                      <a href="javascript:;" class="i_go_buy">立即购买</a>
                    </div>
                  </div> -->
                 
                  <div class="vip_big_border_bg">
                      <p class="vip_big_border_top">外教精品课<span>(32节)——20个VIP/节</span></p>
                      <p class="class_little">获赠原价198元小学学科课程</p>
                      <p class="class_little_num">（6节1对1外教课  2节1对10中教课）</p>
                      <p class="i_now_price">现价：<span>298元<span></p>
                      <p class="i_now_price i_before_price">原价：598元</p>
                      <a href="javascript:;" class="i_go_buy">立即购买</a>
                  </div>
                   <p class="l_introduce_title"><span></span> 享受以下VIP特权 <span></span></p>
                  <table class="l_introduce_table">
                      <thead>
                        <tr>
                          <th width="34%" align="left">课程服务</th>
                          <th width="44%">普通学员</th>
                          <th width="44%" class="color1">特权学员</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>外教授课</td>
                          <td><span class="icon-yes"></span></td>
                          <td><span class="icon-yes"></span></td>
                        </tr>
                        <tr>
                          <td>同步课标拓展教材</td>
                          <td><span class="icon-yes"></span></td>
                          <td><span class="icon-yes"></span></td>
                        </tr>
                        <tr>
                          <td>精品课作业</td>
                          <td><span class="icon-yes"></span></td>
                          <td><span class="icon-yes"></span></td>
                        </tr>
                        <tr>
                          <td>上课举手发言</td>
                          <td><span class="icon-no"></span></td>
                          <td><span class="icon-yes"></span></td>
                        </tr>
                        <tr>
                          <td>上课答题</td>
                          <td><span class="icon-no"></span></td>
                          <td><span class="icon-yes"></span></td>
                        </tr>
                        <tr>
                          <td>趣味课外作业</td>
                          <td><span class="icon-no"></span></td>
                          <td><span class="icon-yes"></span></td>
                        </tr>
                      </tbody>
                  </table>
                    </div>
                  
                </div>
        <div class="ac-dialog-bottom clearfix">
        </div>
    </div>
</body>
<% include ../common/bottom.ejs %>