<% include ../common/top.ejs %>
<body>
    <style type="text/css">
        .ac-stu-update{
            width: 703px;
            height: 345px;
            margin: 20px auto 0;
            position: relative;
        }
        .ac-stu-update .ac-stu-update-con{
            position: absolute;
            z-index: 2;
            color: #b2b2b2;
            line-height: 45px;
            font-size: 20px;
            text-align: center;
            right: 52px;
            top: 90px;
        }
        .ac-stu-update .ac-stu-update-con a{
            color: #ff7600;
            font-size: 22px;
            text-decoration: underline;
        }
    </style>
    <div class="ac-dialog-wrap">
        <div class="ac-dialog-content">
            <div class="ac-stu-update">
                <img src="<%= imagessrc%>ac_stu_update.jpg" />
                <div class="ac-stu-update-con">
                    <p>浏览器版本太低喽！<br/>无法参与精彩课间互动</p>
                    <a href="">点击下载升级版浏览器</a>
                </div>
            </div>
        </div>
        <div class="ac-dialog-bottom">
        </div>
    </div>

</body>
<script type="text/javascript" src="http://sdk.cloud.chivox.com/chivoxsdk-js/v3.0/load_core.js"></script>
<% include ../common/bottom.ejs %>
