<% include ../common/top.ejs %>
<body>
    <div class="ac-dialog-wrap">
        <div class="ac-dialog-content">
            <dl class="ac-dialog-play-all-result result-level1">
                <dt class="result-level-dt"></dt>
                <dd class="result-level-dd">
                    <ul class="clearfix">
                        <li>
                            <dl>
                                <dt></dt>
                                <dd>答对<span>3</span>道</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt class="dt2"></dt>
                                <dd>答错<span>3</span>道</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt class="dt3"></dt>
                                <dd>未答<span>0</span>道</dd>
                            </dl>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="ac-dialog-bottom clearfix">
        </div>
    </div>
</body>
<% include ../common/bottom.ejs %>