<% include ../common/top.ejs %>
<body data-init="acteaComment">
    <div class="ac-dialog-wrap">
        <div class="ac-dialog-header clearfix">
            <p class="fl">Quiz</p>
            <p class="fr">
                <a href="javascript:void(0);" class="a-close">Go back to class</a>
            </p>
        </div>
        <div class="ac-dialog-content">
            <div class="actea-comment actea-comment1">
                <h5>Grades</h5>
                <p>Timmy bought some fruits and vegetables.</p>
                <div class="comment-wrap">
                    <ul class="comment-con clearfix">
                        <li class="li-first li-l0">
                            <dl>
                                <dt>
                                    <em></em>
                                    <i></i>
                                </dt>
                                <dd>0 Point</dd>
                            </dl>
                        </li>
                        <li class="li-l1">
                            <dl>
                                <dt>
                                    <em></em>
                                    <i></i>
                                </dt>
                                <dd>1 Point</dd>
                            </dl>
                        </li>
                        <li class="li-l2">
                            <dl>
                                <dt>
                                    <em></em>
                                    <i></i>
                                </dt>
                                <dd>2 Points</dd>
                            </dl>
                        </li>
                        <li class="li-l3">
                            <dl>
                                <dt>
                                    <em></em>
                                    <i></i>
                                </dt>
                                <dd>3 Points</dd>
                            </dl>
                        </li>
                        <li class="li-l4">
                            <dl>
                                <dt>
                                    <em></em>
                                    <i></i>
                                </dt>
                                <dd>4 Points</dd>
                            </dl>
                        </li>
                        <li class="li-last li-l5">
                            <dl>
                                <dt>
                                    <em></em>
                                    <i></i>
                                </dt>
                                <dd>5 Points</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ac-dialog-bottom">
            <input type="button" value="Done" class="btn-teasend" />
        </div>
    </div>
</body>
<% include ../common/bottom.ejs %>