<% include ../common/top.ejs %>
<body data-init="acteaAll">
    <div class="ac-dialog-wrap ac-dialog-all">
        <div class="ac-dialog-header clearfix">
            <p class="fl">Quiz</p>
            <p class="fr">
                <a href="javascript:void(0);" class="a-close" onclick="acclose();">Go back to class</a>
            </p>
        </div>
        <div class="ac-dialog-content noscroll">
            <div class="ac-dialog-ifr">
                <iframe class="cur" src="http://s.51talk.com/ac/stuDialogQuestion?q_str=662_320854&ac_type=test" scrolling="no" frameborder="0"></iframe>
                <iframe src="ac_game_pair_teacher_send_test1.html" scrolling="no" frameborder="0"></iframe>
               <!--  <iframe src="http://s.51talk.com/ac/teaDialogQuestion?appoint_id=&class_id=&q_id=196&islogin=0&isdomode=1&check=0" scrolling="no" frameborder="0"></iframe>
                <iframe src="http://s.51talk.com/ac/teaDialogQuestion?appoint_id=&class_id=&q_id=199&islogin=0&isdomode=1&check=0" scrolling="no" frameborder="0"></iframe>
                <iframe src="http://s.51talk.com/ac/teaDialogQuestion?appoint_id=&class_id=&q_id=200&islogin=0&isdomode=1&check=0" scrolling="no" frameborder="0"></iframe> -->
                <!-- <iframe src="/templates/html/ac_dialog/ac_game_pair_teacher_send_test4.html" scrolling="no" frameborder="0"></iframe>
                <iframe src="/templates/html/ac_dialog/ac_game_pair_teacher_send_test5.html" scrolling="no" frameborder="0"></iframe> -->
            </div>
            <ul class="ac-dialog-switch">
                <li class="cur"><i></i>1</li>
                <li><i></i>2</li>
                <!-- <li><i></i>3</li>
                <li><i></i>4</li> -->
                <!-- <li><i></i>5</li>
                <li><i></i>6</li> -->
            </ul>
        </div>
        <div class="ac-dialog-bottom">
            <!-- <input type="button" value="Send to students" class="btn-teasend btn-disabled" disabled="disabled" /> -->
        </div>
    </div>
</body>
<script type="text/javascript">
function acclose(){
    if(acUtility.isStart()){
        acUtility.alert({
            content:"please wait for student to complete all the game",
            width:310
        }); 
    }else{
        // 执行关闭
        acUtility.alert({
            content:"可以关闭ac弹窗",
            width:310
        });
    }
}
</script>
<% include ../common/bottom.ejs %>