<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="apple-mobile-web-app-title" content="" />
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="format-detection" content="telephone=no">
   <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	 <title>老师个人中心</title>
	 <link rel="stylesheet" type="text/css" href="/css/wap/course_purchase/course_purchase.css">   
	</head>

<body>

<div class="package">
	<div class="package-pacts">
		<div class="package-pacts-title">
			<h1 class="name">51Talk课程服务协议</h1>
			<p class="update">最新修订时间:  2016年1月1日</p>
			<p class="recommend">提示：在使用【www.51talk.com】网站课程服务之前，请您先认真阅读本《课程服务协议》（以下简称“本协议”），在充分理解并同意遵守本协议各条款内容，特别是免除或者限制责任的条款、争议解决和法律适用条款后再进行本站课程服务的购买和使用。免除或者限制责任的条款可能将以加粗字体显示，您应重点阅读。如您对本协议有任何疑问的，应向本站客服(电话：4000-51-51-51 )咨询。本协议只适用于个人用户，不适用于企业用户及其员工。</p>
		</div>
		<div class="package-pacts-content">
			<section class="part">
				<h2 class="item">一  协议确认</h2>
				<p class="content">1、本协议是您(以下简称“您”或“用户”)基于对51Talk官方网站（www.51talk.com）课程服务方式的认可、学习计划的认同、自身提高英语的需求，与（www.51talk .com）网站的所有者【北京大生知行科技有限公司】（以下简称为“51Talk”）之间就本站课程服务等相关事宜所订立的契约，双方签订本课程服务协议。</p>
				<p class="content">2、请您仔细阅读本课程服务协议，当您按照本协议提示填写信息、阅读并同意本协议且完成全部订立程序后，即表示您已充分阅读、理解并接受本协议的全部内容，本协议即构成对双方有约束力的法律文件。您承诺接受并遵守本协议的约定，届时您不应以未阅读本协议的内容或者未获得本站对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</p>
				<p class="content">3、如果您在18周岁以下，则只能在父母或监护人的监护参与下才能使用本站。若您不具备该主体资格，则您的监护人应承担因此而导致的一切后果，且51Talk有权注销或永久冻结您的账户，并向您及其监护人索偿相应损失</p>
			</section>
			<section class="part">
				<h2 class="item">二  课程服务管理</h2>
				<h3 class="title">1  外教学习套餐</h3>
				<p class="content">1.1、次卡学习套餐：该套餐下，用户在一天内可预约多次课程，可一次性预约未来两周之内的多节课程，但次卡到期时未使用的课程将失效，不可延期。预约部分老师课程可能需要消耗大于一次次卡。</p>
				<p class="content">1.2、包月学习套餐：该套餐下，用户在帐号有效期内每天只能够预约一节课程，可以提前预约2天内课程。非51Talk原因导致用户未能按时消费的课程时间51Talk将不予补偿，有效期内每个月用户有一次请假的权利，每次请假最长天数为3天，用户可以在帐号有效期内任意时间使用，帐号若已到期，则未使用过的请假次数自动失效。经过51Talk批准后请假期间内的课程顺延。</p>
				<p class="content">1.3、专项课学习套餐：该套餐下，用户根据所选专项课套餐，在套餐有效期内进行预约上课。非51Talk原因导致用户未能按时消费的课程时间51Talk将不予补偿。</p>
				<h3 class="title">2  中教学习套餐</h3>
				<p class="content">2.1、该套餐下，用户于付费后一周内选定授课班级，第二周根据班级开课时间开始上课。若用户因特殊情况无法按时上课，可自助申请补课。</p>
				<p class="content">2.2、对于中教学习套餐中的次卡，在次卡有效期内，用户可随时预约51Talk外教课程，用户因预约时间与中教课程时间冲突造成的财产损失由用户自行承担。</p>
				<h3 class="title">3  付费公开课</h3>
				<p class="content">
					该课程下，用户可以购买付费公开课，付费成功后于开课时间出席付费公开课。</p>
				<h3 class="title">4  其他课程套餐</h3>
				<p class="content">51Talk可能会不时地开发新课程套餐，具体内容以51Talk官方网站（www.51talk.com）公示内容为准。</p>
			</section>
			<section class="part">
				<h2 class="item">三  课程预约</h2>
				<p class="content">51Talk的课程预约全部采用网络自助式，用户需自行登录在51Talk申请的账号后进行课程预约，51Talk不提供电话预约等其他预约形式，用户需要至少提前30分钟进行课程预约（公开课除外）。</p>
			</section>	
			<section class="part">
				<h2 class="item">四  课程取消与旷课</h2>
				<h3 class="title">1  外教学习套餐</h3>
				<p class="content">1.1、次卡学习套餐：用户已经预约的课程在课程开始前一个小时以上可以取消且不会扣除次卡次数，课程开始前一个小时以内取消课程或在上课时间开始后的10分钟内用户没有按时出席课程则视为旷课，将会扣除相应次卡次数。</p>
				<p class="content">1.2、包月学习套餐：如当天没有预约上课，则当天课时自动作废，连续3天预约后旷课（包含课程开始前一个小时以内取消课程或在上课时间开始后的10分钟内用户没有按时出席课程），则会额外扣除包月有效期内一天的课程。</p>
				<p class="content">1.3、专项课学习套餐：用户已经预约的课程在课程开始前一个小时以上可以取消且不会扣除课数，课程开始前一个小时以内取消课程或在上课时间开始后的10分钟内用户未按时出席课程则视为旷课，将会扣除相应课数</p>
				<h3 class="title">2  中教学习套餐</h3>
				<p class="content">用户未按时上课的，可自助申请补课；用户未按规定申请补课且未出席课程的，视为旷课，将会扣除相应课程时间。</p>
				<h3 class="title">3  付费公开课</h3>
				<p class="content">付费公开课为特殊课程，用户一旦购买成功，不可取消，不可申请退款，用户需按照所购买的公开课开课时间按时出席。因非51Talk原因，用户未出席课程的，损失由用户承担。</p>
				<h3 class="title">4  其他约定</h3>
				<p class="content">4.1、如由于51Talk的原因导致预约的课程无法正常进行的，不视为用户的旷课，51Talk将作出用户因此未能正常上课课程同等的补偿。</p>
				<p class="content">4.2、51talk具体课程服务管理规定以51Talk官方网站（www.51talk.com）公示内容为准，用户应自行关注并按此执行。如用户因特殊情况需要协调或变更内容的，应与51Talk协商后双方以书面形式确认。</p>
				<p class="content">4.3、续费条款：有关续费及期限延长事宜请拨打51Talk咨询电话 4000-51-51-51 ，详细了解相关情况。</p>
			</section>	
			<section class="part">
				<h2 class="item">五  账户管理</h2>
				<p class="content">1、用户有义务妥善保管其在51Talk申请的账号及密码之机密与安全，不得泄漏给任何第三人。用户必须为此组账号及密码之一切行为负责，此账号及密码所做之一切行为即视为用户本身之行为。</p>
				<p class="content">2、本组账号及密码仅限于您个人使用，非经51Talk同意，用户不得出借、移转或让与给其他第三人使用。</p>
				<p class="content">3、51Talk承诺对获得的用户的个人信息主要为其正常的记录和管理客户信息及为本协议之目的使用，除非经过用户同意，51Talk对于用户的个人数据不会加以泄漏、转售或与其他机构进行交换。</p>
			</section>	
			<section class="part">
				<h2 class="item">十一  其他事宜</h2>
				<p class="content">1、51Talk有权根据法律法规的变化及网站运营的需要不时地对本协议及本站的内容进行修改，并在本站张贴。修改后的协议一旦被张贴在本站上即生效，并代替原来的协议，用户可随时登录查阅最新协议。用户有义务及时关注并阅读最新版的协议及网站公告。如用户不同意更新后的协议，可以立即向51Talk进行反馈且应立即停止接受51Talk依据本协议提供的服务；如用户继续使用本站提供的服务的，即视为同意更新后的协议。</p>
				<p class="content">2、本协议自用户完成本课程协议的注册程序且将所选课程的款项支付至51Talk账户后生效。</p>
			</section>
		</div>
	</div>
</div>


</body>

</html>



