<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="apple-mobile-web-app-title" content="" />
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="format-detection" content="telephone=no">
   <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	 <title>老师个人中心</title>
	 <link rel="stylesheet" type="text/css" href="/css/wap/course_purchase/course_purchase.css">   
	</head>

<body>

<div class="package">
	<div class="package-success">
		<div class="content">
			<div class="package-success-logo"><span class="logo confirm"></span></div>
			<div class="package-success-name">公开课购买成功页面，由于公开课的名称可能较长，需要对名称做适配。多行的时候需要把时间和提示文案向下移</div>
			<div class="package-success-validdate">有效期：540天</div>
			<div class="package-success-tip">(请完善个人信息，以便我们为您寄送级别证书。)</div>
		</div>
		<div class="infomation">
			<form action="" method="">
				<div class="item">
					<span class="name icon"></span>
					<label for="" >
						<span class="field">真实姓名</span>
						<input class="value" type="text" placeholder="级别证书上使用" name=""/>
					</label>
				</div>
				<div class="item">
					<span class="people icon"></span>
					<label for="" >
						<span class="field">收货人</span>
						<input class="value" type="text" name=""/ >
					</label>
				</div>
				<div class="item">
					<span class="tele icon"></span>
					<label for="" >
						<span class="field">收货人电话</span>
						<input class="value" type="text" name=""/ >
					</label>
				</div>
				<div class="item">
					<span class="address icon"></span>
					<label for="" >
						<span class="field">收获地址</span>
						<textarea name="">北京市海淀区上地东路得实大厦六层南区无忧英语</textarea>
					</label>
				</div>
				<input type="submit" value="保存" class="save"/>
			</form>
		</div>
	</div>	
</div>
</body>
</html>



