<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body>
  <input type="hidden" id="container" data-init="about_class"/>
<div class="aclass-main">
  <div class="aclass-banner">
    <img src="/images/html/b2s/aclass_img01.jpg"/>
  </div>
  <div class="grey-bar"></div>
  <form id="form1" action="http://www.51talk.com/trial/tool" method="post">
    <input type="hidden" class="jsCheck" name="course_date" id="course_date" value="20160425"/>
    <input type="hidden" class="jsCheck" name="course_time" id="course_time" />

    <div class="chose-date">
      <h2>请选择测评日期</h2>
      <ul class="clearfix" id="selectDate">
        <li class="current-s" setdata="checkDate_2" date="20160425">
          <div>
            <span>4-25</span>
            <span>(周五)</span>
          </div>
        </li>
        <li setdata="checkDate_2" date="20160426">
          <div>
            <span>4-25</span>
            <span>(周五)</span>
          </div>
        </li>
        <li setdata="checkDate_2" date="20160427">
          <div>
            <span>4-25</span>
            <span>(周五)</span>
          </div>
        </li>
        <li setdata="checkDate_2" date="20160428">
          <div>
            <span>4-25</span>
            <span>(周五)</span>
          </div>
        </li>
        <li setdata="checkDate_2" date="20160429">
          <div>
            <span>4-25</span>
            <span>(周五)</span>
          </div>
        </li>
        <li setdata="checkDate_2" date="20160430">
          <div>
            <span>4-25</span>
            <span>(周五)</span>
          </div>
        </li>
        <li setdata="checkDate_2" date="20160431">
          <div>
            <span>9-11</span>
            <span>(周五)</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="chose-time">
      <h2>请选择测评时间段</h2>
      <ul class="clearfix" id="checkTime">
        <li class="time-li" time="22" setdata="checkTime">17:00</li>
        <li class="time-li" time="22" setdata="checkTime">17:30</li>
        <li class="time-li" time="22" setdata="checkTime">18:00</li>
        <li class="time-li" time="22" setdata="checkTime">15:00</li>
        <li class="time-li" time="22" setdata="checkTime">15:00</li>
        <li class="time-li" time="22" setdata="checkTime">15:00</li>
        <li class="time-li" time="22" setdata="checkTime">15:00</li>
        <li class="time-li" time="22" setdata="checkTime">15:00</li>
      </ul>
    </div>
    <div class="c-btn">
      <a href="javascript:;" id="submitBtn">
        <img src="/images/html/b2s/aclass_btn.png"/>
      </a>
    </div>
  </form>
  <div class="complete hide">
    <img src="/images/html/b2s/aclass_img06.png"/>
  </div>
  <div class="load-show">
    <p>轻松<span>下载</span>并安装本次测评唯一专用AC测评软件</p>
    <div class="load-img">
      <img src="/images/html/b2s/aclass_img02.png"/>
    </div>
  </div>
  <div class="procedure-box">
    <ul class="clearfix">
      <li><img src="/images/html/b2s/aclass_img03.jpg"/><span></span></li>
      <li><img src="/images/html/b2s/aclass_img07.jpg"/><span></span></li>
      <li><img src="/images/html/b2s/aclass_img08.jpg"/><span></span></li>
      <li><img src="/images/html/b2s/aclass_img09.jpg"/></li>
    </ul>
  </div>
  <div class="prompt-one clearfix">
    <div class="prompt-one-l">
      <img src="/images/html/b2s/aclass_img04.png"/>
    </div>
    <div class="prompt-one-r">
      <div class="prompt-one-des">为了保证比赛测评顺利进行，请提前确保：</div>
      <ul>
        <li>
          <span></span>
          <p>测评前请使用有线电脑（保证稳定的网络）和耳机（头戴式耳麦更好）<p>
        </li>
        <li>
          <span></span>
          <p>打开AC客户端，输入“手机号码+密码”登录，测试您的网络、耳麦、语音等设备<p>
        </li>
        <li>
          <span></span>
          <p>按照约定时间提前10分钟准备参加测评<p>
        </li>
      </ul>
    </div>

  </div>
  <div class="prompt-two clearfix">
    <div class="prompt-two-l">
      <div class="prompt-two-des">请仔细阅读参赛须知哦！</div>
      <ul class="promp-list">
        <li>本次比赛截止日期：2016年5月27日24点整；</li>
        <li>本次比赛将全程采用网络在线1对1真人外教口语测评，共需25分钟；</li>
        <li>成绩查询途径：
            <ul>
              <li>25分钟测评结束后外教即时口头告知所得成绩（第几等级，共有0-12级别）；</li>
              <li>测评比赛结束后第二天登陆比赛AC软件客户端“会员中心”查询具体测评报告；</li>
              <li>成绩总排名将于2016年6月下旬公布评奖。</li>
            </ul>
        </li>
        <li>活动奖励办法：
          <p>信息杯听力成绩80%，口语20%比重，每个年级成绩最好的前5名（含并列）将获得价值<span class="num">2000</span>元奖品。</p>
        </li>
      </ul>
      <div class="remark">
        注：有任何问题请及时咨询客服专线：
        <p>010-57464425</p>
      </div>

    </div>
    <div class="prompt-two-r">
      <img src="/images/html/b2s/aclass_img05.png"/>
    </div>
  </div>
</div>
<!-- <div class="m-alert" id="m-alert" style="display: block;">
  <div>
    <h2>温馨提示</h2>
    <span>x</span>
  </div>
  <div></div>
</div>
</div> -->
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
