<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/AC_code_pay.css">
</head>
<body id="" data-init="" class="">
  <div class="AC_introduce">
    <img src="/images/html/b2s/fx_pay_top.png" class="pay_top_img">
    <div class="clear-fix AC_content">
        <div class="code_pay">
          <P class="intro_text">中教预习班课6节+美教1对1课6节<br/> <i>¥ 148元</i>   <em>¥498元</em></P>
          <p class="text_icon">微信支付</p>
          <img src="/images/html/b2s/usa_pay_top.png" class="pay_code_img">
          <p class="intro_text_bottom">请<i>王蔷</i>同学微信扫描二维码支付<br/><em>转发无效</em></p>
          <p  class="more_pay"><a href="">更多支付方式 > ></a></p>
        </div>
        <ul>
          <li class="clear-fix">
            <img src="/images/html/b2s/fx_pay_1.png">
            <P class="img_text_1">专属外教1对1<br/><i>提升口语能力</i></P>
          </li>
          <li class="clear-fix">
            <img src="/images/html/b2s/usa_pay_2.png">
            <P class="img_text_1">中教全程辅导<br/><i>专注答疑解惑</i></P>
          </li>
          <li class="clear-fix">
            <img src="/images/html/b2s/fx_pay_2.png">
            <P class="img_text_1"> 诊断测评<br/><i>制定学习规划</i></P>
          </li>
          <li class="clear-fix">
            <img src="/images/html/b2s/fx_pay_3.png">
            <P class="img_text_1">专用教材<br/><i>提升英语成绩</i></P>
          </li>
        </ul>
    </div>
  </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>