<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/1v3_pay_suc_ac.css">
</head>
<body id="" data-init="" class="">
  <div class="">
    <div class="AC_close"></div>
    <div class="AC_content">
        <div class="suc_pay">
          <div class="success-des">
                <div class="sucess-tit">恭喜您！支付成功！</div>
                <div class="sucess-info">获得VIP精品课<span>32节</span>特权</div>
                <div class="sucess-info">
                    <span>15次</span>1对1外教课程次数已充入您的账户，有效期1个月至<span>2016年9月12日</span>。
                </div>
                <i></i>
            </div>
          <div class="pay_suc_code">
            <img src="/images/html/b2s/1v3_intro.jpg">
          </div>
          <P class="notice_code">手机扫码选择“1对1外教全程托管班”</P>
        </div>
    </div>
    <a href="" class="AC_a">立即约课</a>
  </div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>