<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
	<link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s_jxtx.css">

</head>
<body data-init="curriculumSet">
<div class="b2s-header">
    <div class="b2s-header-in clear-fix">
        <div class="b2s-header-logo left">
            <a href="" class="b2s-header-link"></a>
            <img src="/images/html/b2s/b2s-header-logo.png" width="146" height="50" class="left" />
            <div class="left b2s-header-logo-text">
                <p>互联网+外教进校工程</p>
                <span>美国纽交所上市公司（股票代码: COE） 全球信赖的在线英语领导品牌</span>
                <i></i>
            </div>
        </div>
        <div class="b2s-header-con right">
            <ul class="b2s-header-link clear-fix">
                <li>
                    <a href="">APP手机客户端</a>
                </li>
                <li>
                    <a href="">AC客户端</a>
                </li>
                <li class="b2s-header-wx">
                    <a href="javascript:void(0);">微信服务号<img src="/images/html/b2s/home_code.png" width="126" height="133" /></a>
                </li>
                <li>
                    <a href="">激活学生账户</a>
                </li>
            </ul>
            <span class="b2s-header-tel right">4006635151</span>
        </div>
    </div>
</div>
<div class="b2s-nav" data-init="b2sNav">
    <div class="b2s-nav-in b2s-layout clear-fix">
        <ul class="clear-fix">
            <li class="cur">
                <a href="">首页</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">项目概况</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">教学体系</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">课程设置</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">外教师资</a>
            </li>
        </ul>
        <i class="b2s-nav-line"></i>
    </div>
</div>
<div class="banner-box">
	<div class="banner"></div>
</div>
<div class="course-main-box">
	<div class="course-main">
		<div class="course-info"><img src="/images/html/b2s/tit_02.png"/></div>
		<div class="course-img">
			<img src="/images/html/b2s/j_img01.png"/>
		</div>
		<ul class="clearfix">
			<li>
				<div class="text">教材版本</div>
				<div class="info">涵盖国内各大主流出版社</div>
			</li>
			<li>
				<div class="text">知识点</div>
				<div class="info">覆盖公立校80%内容</div>
			</li>
			<li>
				<div class="text">词汇句型</div>
				<div class="info">立足公立校扩展</div>
			</li>
			<li>
				<div class="text">教学节奏</div>
				<div class="info">紧随公立校上课进度</div>
			</li>
		</ul>
		<div class="course-img">
			<img src="/images/html/b2s/j_img02.png"/>
		</div>
		<ul class="clearfix">
			<li>
				<div class="text">同步美国教材</div>
				<div class="info">拓展文化视野</div>
			</li>
			<li>
				<div class="text">学科知识</div>
				<div class="info">语言艺术、科学、社会等</div>
			</li>
			<li>
				<div class="text">沉浸式环境</div>
				<div class="info">建立英语思维方式</div>
			</li>
			<li>
				<div class="text">多元知识融合</div>
				<div class="info">拓展语言综合能力</div>
			</li>
		</ul>
	</div>
</div>
<div class="course-structure">
	<div class="structure-info">
		<h2 class="tit"><img src="/images/html/b2s/tit_03.png"/></h2>
		<div class="guide-course">
			<div class="guide-text">
				<span class="guide-i">必修</span>
				<span class="guide-tit">精品辅导课</span>
				<span class="guide-des">全学年同步教学，教材体系精心设计</span>
			</div>
			<div class="guide-info clearfix">
				<div class="guide-img"><img src="/images/html/b2s/j_img03.png"/></div>
				<p class="guide-info-t">
					51Talk最强师资团队联合互联网+进校工程专家组，根据美国最新课程架构，历经3000余小时不断打磨，自主研发科学专业的同步辅导课程，力求满足中国亿万小学师生的英语教学需求，全方位提升英语听说应用能力，致力于将优质高效的英语学习资源传递给每一个热爱英语学习的孩子们，让每个孩子都有对话世界的能力。
				</p>
			</div>
		</div>
		<div class="week-course">
			<div class="guide-text guide-week">
				<span class="guide-tit">每周&nbsp;&nbsp;同步精品课作业+课外趣味作业&nbsp;&nbsp;巩固课堂效果</span>
			</div>
			<div class="procedure-img"><img src="/images/html/b2s/j_img04.png"/></div>
			<ul class="clearfix">
				<li>
					<div class="text">练习</div>
					<div class="info">跟读练习核心单词或句子</div>
				</li>
				<li>
					<div class="text">测试</div>
					<div class="info">选择正确答案奖励星星</div>
				</li>
				<li class="last-li">
					<div class="text">结果</div>
					<div class="info">即时奖励  分享成绩</div>
				</li>
			</ul>
		</div>
		<div class="open-class">
			<div class="guide-text">
				<span class="guide-i">选修</span>
				<span class="guide-tit">校园公开课</span>
				<span class="guide-des">小低班和小高班周一至周五每天一节课，激活账户即可享受</span>
			</div>
			<ul class="clearfix">
				<li>
					<div class="class-process read">
						<div class="read-c">分级阅读</div>
						<div class="read-e">Reading A-Z</div>
					</div>
					<div class="process-des">美国原版Reading A-Z绘本教材，专为在线外教课研发。内容涵盖常识、天文、地理、历史、人文、动植物、童话等各个方面。</div>
				</li>
				<li class="class-process-r">
					<div class="class-process phnics">
						<div class="read-c">分级阅读</div>
						<div class="read-e">Reading A-Z</div>
					</div>
					<div class="process-des">26个字母及字母组合发音与拼写规律。以及与绘本阅读结合的故事阅读。</div>
				</li>
				<li>
					<div class="class-process songs">
						<div class="read-c">自然拼读</div>
						<div class="read-e">Phnics</div>
					</div>
					<div class="process-des">51Talk专业学术团队自主开发。针对4-6岁和6岁以上的孩子。为公开课选取了20首经典歌曲。</div>
				</li>
				<li class="class-process-r">
					<div class="class-process junior">
						<div class="read-c">经典英语青少版</div>
						<div class="read-e">CE junior</div>
					</div>
					<div class="process-des">内容紧扣实际生活场景，将艺术、科学、自然、社会科学等知识全面融入真实沟通情境的课程,，10余节。</div>
				</li>
			</ul>
		</div>
		
	</div>
</div>
<div class="course-ts">
	<div class="course-ts-m">
		<h2 class="tit"><img src="/images/html/b2s/tit_04.png"/></h2>
		<div class="tab-box tab-box0" id="tab">
			<a class="btn0 current0">
				孩子为中心教学提升学习效率
			</a>
			<a class="btn1">
				分步课程设计保证学习效果
			</a>
			<a class="btn2">
				情景化教学氛围提升学习兴趣
			</a>
			<a class="btn3">
				趣味课堂练习巩固学习内容
			</a>
			<a class="btn4">
				全方位能力拔高培养未来领导力
			</a>
			<p class="course-ts-des" id="courseDes">教材主题选择孩子最熟悉的话题，符合孩子认知。有效提升学习效率，给予孩子成就感。</p>
			<div class="tab-box-img">
				<i class="tab-box-img1"></i>
				<i class="tab-box-img2"></i>
				<i class="tab-box-img3"></i>
				<i class="tab-box-img4"></i>
			</div> 
		</div>
	</div>
	

</div>
<div class="video-box">
	<h2 class="tit"><img src="/images/html/b2s/tit_01.png"/></h2>
	<div class="video-content t_pc cls-top" data-vedio="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" data-width="780" data-height="">
		<div class="video-img"></div>
		<div class="mask"></div>
		<div class="btn-box"><a class="play-bnt video_play" href="javascript:;"></a></div>
	</div>
</div>



<div class="b2s-footer">
    Copyright©北京大生知行科技有限公司 | <a href="">隐私声明</a> | <a href="">用户协议</a> | 京ICP证110696号 京ICP备11031999号
</div>
<script>
	var desText = [
		'教材主题选择孩子最熟悉的话题，符合孩子认知。有效提升学习效率，给予孩子成就感。',
		'将课堂划分为五个步骤：每步之间环环相扣，充分调动学员的积极性，提升学习兴趣。',
		'摆脱“”死记硬背“式英语，将词、句、语法通过故事演绎融入到特定情境中，同时，采用大场景图片，让孩子身临其境，充满乐趣有加深记忆。',
		'每讲后设有针对性的趣味练习，包括单词猜谜、吊小人游戏、角色扮演、连线拼图等小游戏，增强学员与老师的互动性，提升学习兴趣，同事巩固当堂所学，有效查漏补缺。',
		'通过教材设计和课堂互动，培养孩子创造力、洞察力、执行力等各个方面能力。'
	];
</script>


</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
