<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s_project_overview.css">
</head>
<body id="container" data-init="b2s_overview" class="">
    <div class="b2s-header">
    <div class="b2s-header-in clear-fix">
        <div class="b2s-header-logo left">
            <a href="" class="b2s-header-link"></a>
            <img src="/images/html/b2s/b2s-header-logo.png" width="146" height="50" class="left" />
            <div class="left b2s-header-logo-text">
                <p>互联网+外教进校工程</p>
                <span>美国纽交所上市公司（股票代码: COE） 全球信赖的在线英语领导品牌</span>
                <i></i>
            </div>
        </div>
        <div class="b2s-header-con right">
            <ul class="b2s-header-link clear-fix">
                <li>
                    <a href="">APP手机客户端</a>
                </li>
                <li>
                    <a href="">AC客户端</a>
                </li>
                <li class="b2s-header-wx">
                    <a href="javascript:void(0);">微信服务号<img src="/images/html/b2s/home_code.png" width="126" height="133" /></a>
                </li>
                <li>
                    <a href="">激活学生账户</a>
                </li>
            </ul>
            <span class="b2s-header-tel right">4006635151</span>
        </div>
    </div>
</div>
    <div class="b2s-nav" data-init="b2sNav">
    <div class="b2s-nav-in b2s-layout clear-fix">
        <ul class="clear-fix">
            <li class="cur">
                <a href="">首页</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">项目概况</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">教学体系</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">课程设置</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">外教师资</a>
            </li>
        </ul>
        <i class="b2s-nav-line"></i>
    </div>
</div>
        <div class="b2s_project_top">
            <div class="b2s_project_top_center"></div>
        </div>
        <div class="b2s_project_book">
            <div class="clear-fix b2s_project_book_center">
                <div class="book_left">
                    <img src="/images/html/b2s/b2s_p_teaching.png">
                </div>
                <div class="book_right">
                    <p class="book_right_title">课题全称</p>
                    <p class="book_right_text">中小学”汉语 英语 汉英双语“教学整合研究</p>
                    <p class="book_right_title">主持人</p>
                    <p class="book_right_text">张志远教授</p>
                    <p class="book_right_text">中央教育科学研究所外语教育研究中心前主任</p>
                    <p class="book_right_text">全国双语教育实验学校理事会理事长</p>
                    <p class="book_right_title">承办单位</p>
                    <p class="book_right_text">中国教育学会“十二五”双语研究课题组</p>
                    <p class="book_right_text">全国双语教育实验学校理事会</p>
                    <p class="book_right_title">批准单位<span>中国教育学会</span></p>
                    <p class="book_right_title">主管单位<span>中国教育科学研究院</span></p>
                    <p class="book_right_title">支持单位<span>51Talk无忧英语</span></p>
                    <P class="last_text">(纽交所上市   股票交易代码：COE)</P>
                </div>
            </div>
        </div>
        <div class="b2s_project_map">
            <div class="b2s_project_map_center">
                <div class="map_title"><img src="/images/html/b2s/b2s_title_1.jpg"></div>
                <p class="map_1">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_29">
                </p>
                <p class="map_2">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_28">
                </p>
                <p class="map_3">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_27">
                </p>
                <p class="map_4">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_26">
                </p>
                <p class="map_5">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_17">
                </p>
                <p class="map_6">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_16">
                </p>
                <p class="map_7">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_18">
                </p>
                <p class="map_8">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_19">
                </p>
                <p class="map_9">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_20">
                </p>
                <p class="map_10">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_12">
                </p>
                <p class="map_11">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_21">
                </p>
                <p class="map_12">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_11">
                </p>
                <p class="map_13">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_22">
                </p>
                <p class="map_14">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_23">
                </p>
                <p class="map_15">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_24">
                </p>
                <p class="map_16">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_13">
                </p>
                <p class="map_17">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_14">
                </p>
                <p class="map_18">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_15">
                </p>
                <p class="map_19">
                    <img src="/images/html/b2s/map_ding.png" class="animation">
                </p>
                <p class="map_20">
                    <img src="/images/html/b2s/map_ding.png" class="animation ">
                </p>
                <p class="map_21">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_2">
                </p>
                <p class="map_22">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_3">
                </p>
                <p class="map_23">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_4">
                </p>
                <p class="map_24">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_5">
                </p>
                <p class="map_25">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_6">
                </p>
                <p class="map_26">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_7">
                </p>
                <p class="map_27">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_8">
                </p>
                <p class="map_28">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_9">
                </p>
                <p class="map_29">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_25">
                </p>
                <p class="map_30">
                    <img src="/images/html/b2s/map_ding.png" class="animation animation_delay_10">
                </p>
            </div>
        </div>
        <div class="b2s_project_timer">
            <div  class="timer_title" ><img src="/images/html/b2s/b2s_title_2.jpg"></div>
            <img src="/images/html/b2s/b2s_project_timer_img.jpg">
            <ul class="clearfix">
                <li class="first">
                    <p class="text_spe">补充师资</p>
                    <p class="text_next">丰富学校英语教学</p>
                </li>
                <li class="second">
                    <p class="text_spe">教育公平</p>
                    <p class="text_next">超值价格享受高质量服务</p>
                </li>
                <li class="thrid">
                    <p class="text_spe">沉浸教学</p>
                    <p class="text_next">英语母语高学历外教</p>
                </li>
                <li class="four">
                    <p class="text_spe">对话世界</p>
                    <p class="text_next"> 助力亿万小公民</p>
                   
                </li>
            </ul>
        </div>
        <div class="b2s_project_together">
            <div class="b2s_project_together_center"></div>
        </div>
        <div class="b2s_project_chose">
            <div class="clear-fix b2s_project_chose_center">
                <div class="chose_left">
                    <a href="javascript:;"></a>
                </div>
                <div class="chose_right">
                    <a href="javascript:;"></a>
                </div>
            </div>
        </div>
    <div class="b2s-footer">
    Copyright©北京大生知行科技有限公司 | <a href="">隐私声明</a> | <a href="">用户协议</a> | 京ICP证110696号 京ICP备11031999号
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>