<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
	<link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
	<link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s_teachingSystem.css">
</head>
<body>
	<div class="b2s-header">
    <div class="b2s-header-in clear-fix">
        <div class="b2s-header-logo left">
            <a href="" class="b2s-header-link"></a>
            <img src="/images/html/b2s/b2s-header-logo.png" width="146" height="50" class="left" />
            <div class="left b2s-header-logo-text">
                <p>互联网+外教进校工程</p>
                <span>美国纽交所上市公司（股票代码: COE） 全球信赖的在线英语领导品牌</span>
                <i></i>
            </div>
        </div>
        <div class="b2s-header-con right">
            <ul class="b2s-header-link clear-fix">
                <li>
                    <a href="">APP手机客户端</a>
                </li>
                <li>
                    <a href="">AC客户端</a>
                </li>
                <li class="b2s-header-wx">
                    <a href="javascript:void(0);">微信服务号<img src="/images/html/b2s/home_code.png" width="126" height="133" /></a>
                </li>
                <li>
                    <a href="">激活学生账户</a>
                </li>
            </ul>
            <span class="b2s-header-tel right">4006635151</span>
        </div>
    </div>
</div>
	<div class="b2s-nav" data-init="b2sNav">
    <div class="b2s-nav-in b2s-layout clear-fix">
        <ul class="clear-fix">
            <li class="cur">
                <a href="">首页</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">项目概况</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">教学体系</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">课程设置</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">外教师资</a>
            </li>
        </ul>
        <i class="b2s-nav-line"></i>
    </div>
</div>
	<div class="b2s-content">
		<div class="b2s-content1">
			<div class="b2s-content1-in"></div>
		</div>
		<div class="b2s-content2">
			<div class="b2s-content2-in">
				<div class="b2s-content2-tit">
					<img src="/images/html/b2s/b2s-teachingSystem-con1-tit.png" />
				</div>
				<div class="b2s-content2-text">充分研究在校学生集体上课特点，利用25分钟课堂，将教学环节拆分为5步，从引入主题、情景主题阅<br>读、沟通讨论主题、扩展延伸主题、分析评价，达到让孩子完全理解所学内容并融会贯通的效果。</div>
			</div>
		</div>
		<div class="b2s-content3">
			<div class="b2s-content3-in">
				<div class="b2s-content3-tit">
					<img src="/images/html/b2s/b2s-teachingSystem-con2-tit.png" />
				</div>
				<ul class="b2s-content3-con">
					<li class="b2s-content3-con1">
						<dl>
							<dt>多学科内容全面融入</dt>
							<dd>用英语学习数学、文化、地理、生物等多学科内容，让孩子学到的不只是英语。</dd>
						</dl>
					</li>
					<li class="b2s-content3-con2">
						<dl>
							<dt>丰富的肢体教学互动</dt>
							<dd>通过全身肢体与学生沟通，表达词句的含义，发挥学生的主观能动性，理解知识内容。</dd>
						</dl>
					</li>
					<li class="b2s-content3-con3">
						<dl>
							<dt>注重学生综合素质提升</dt>
							<dd>将哈佛大学教育研究院多元智能思维融入教学全流程，让学员达到多元智能发展，全面提升综合素质。</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="b2s-content4">
			<div class="b2s-content4-in">
				<div class="b2s-content4-tit">
					<img src="/images/html/b2s/b2s-teachingSystem-con3-tit.png" />
				</div>
				<div class="b2s-content4-con">
					<img src="/images/html/b2s/b2s-teachingSystem-con4-01.png" />
				</div>
			</div>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>