<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s_index.css">
</head>
<body id="container" data-init="b2sApp" class="b2s-app">
<div id="fullpage" class="fullpage" qrIndex="1">
    <div class="section">
		<div class="b2s-header">
    <div class="b2s-header-in clear-fix">
        <div class="b2s-header-logo left">
            <a href="" class="b2s-header-link"></a>
            <img src="/images/html/b2s/b2s-header-logo.png" width="146" height="50" class="left" />
            <div class="left b2s-header-logo-text">
                <p>互联网+外教进校工程</p>
                <span>美国纽交所上市公司（股票代码: COE） 全球信赖的在线英语领导品牌</span>
                <i></i>
            </div>
        </div>
        <div class="b2s-header-con right">
            <ul class="b2s-header-link clear-fix">
                <li>
                    <a href="">APP手机客户端</a>
                </li>
                <li>
                    <a href="">AC客户端</a>
                </li>
                <li class="b2s-header-wx">
                    <a href="javascript:void(0);">微信服务号<img src="/images/html/b2s/home_code.png" width="126" height="133" /></a>
                </li>
                <li>
                    <a href="">激活学生账户</a>
                </li>
            </ul>
            <span class="b2s-header-tel right">4006635151</span>
        </div>
    </div>
</div>
    	<div class="fullpage-con fullpage-con1">
            <div class="app-download">
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
            </div>
    	</div>
    </div>
    <div class="section">
    	<div class="fullpage-con fullpage-con2"></div>
    </div>
    <div class="section">
    	<div class="fullpage-con fullpage-con3"></div>
    </div>
    <div class="section">
    	<div class="fullpage-con fullpage-con4"></div>
    </div>
    <div class="section">
    	<div class="fullpage-con fullpage-con5"></div>
        <div class="b2s-footer">
    Copyright©北京大生知行科技有限公司 | <a href="">隐私声明</a> | <a href="">用户协议</a> | 京ICP证110696号 京ICP备11031999号
</div>
    </div>
</div>
<div class="app-download-qrcode">
	<img src="/images/html/b2s/fullpage-qrcode.png" width="127" height="127" />
	<p>手机扫描二维码下载</p>
</div>
<div class="b2s-app-back b2s-app-back-app">
    <img src="/images/html/b2s/index-back.png" width="48" />
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>