<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body>
<input id="container" type="hidden" data-init="beyond_public_class_top"/>
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls">
  <a  name="top"></a>
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
      <p class="stu_number">学生邀请码：123456</p>
      </div>
      <div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main">
        <!-- 过期公开课 -->
        <div class="cls-tab stu-cls">
          <div class="stu-tit-l">
            <ul>
              <li>
                <a href="near_public_class_top.html">近期外教辅导课</a>
                <i>&nbsp;</i>
              </li>
              <li class="cur">
                <a href="">课堂做题记录</a>
                <i>&nbsp;</i>
              </li>
            </ul>
          </div>
           <ul class="class_question">
              <li>
                <div class="question-info question-right clearfix">
                  <i class="question-icon"></i>
                  <div class="question-title">
                    <p>
                      动画大冒险——超能陆战队 Part 1
                    </p>
                    <span>上课时间：2016年01月10日</span>
                  </div>
                  <div class="answer-des">
                    <p>Amazing！你都回答正确了！</p>
                    <i></i>
                  </div>
                </div>
                <ul class="answer-box answer-box-green">
                  <li>
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span></div>

                    <div class="answer-container">
                      <ul class="fp-question fp-img8 clearf">
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <!--<li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li>
                        <li><img src="/images/html/b2s/fb_img.png"/></li> -->
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="answer-title">2. Hi! Friends!</div>
                    <div class="answer-container answer-container-pic clearfix">
                      <div class="answer-options answer-options-pic"><em>A.</em> 
                        <div class="answer-img"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        
                      </div>
                      <div class="answer-options answer-options-pic"><em class="answer-right">B.</em>  
                        <div class="answer-img answer-right-p"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        <span>(正确答案)</span>
                      </div>
                      
                      <div class="answer-options answer-options-pic"><em class="answer-wrong">C.</em> 
                        <div class="answer-img answer-wrong-p"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        <span>(错误答案)</span>
                      </div>
                      <div class="answer-options answer-options-pic"><em>D.</em> 
                        <div class="answer-img"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                      </div>
                    </div>

                  </li>

                  <li class="last-li">
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/test.mp3" class="play-btn grey"></span>
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="question-info clearfix">
                  <i class="question-icon"></i>
                  <div class="question-title">
                    <p>
                      动画大冒险——超能陆战队 Part 1
                    </p>
                    <span>上课时间：2016年01月10日</span>
                  </div>
                  <div class="answer-des">
                    <p class="answer-des-test">你有 <em>3</em> 道题没有作答喔！</p>
                    <i></i>
                  </div>
                </div>
                 <ul class="answer-box answer-box-red">
                  <li>
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span>

                      <div class="question-prompt">这道题你没有回答喔</div>
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options answer-wrong">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                  <li>
                    <div class="answer-title">2. Hi! Friends!</div>
                    <div class="answer-container answer-container-pic clearfix">
                      <div class="answer-options answer-options-pic"><em>A.</em> 
                        <div class="answer-img"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        
                      </div>
                      <div class="answer-options answer-options-pic"><em class="answer-right">B.</em>  
                        <div class="answer-img answer-right-p"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        <span>(正确答案)</span>
                      </div>
                      
                      <div class="answer-options answer-options-pic"><em class="answer-wrong">C.</em> 
                        <div class="answer-img answer-wrong-p"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        <span>(错误答案)</span>
                      </div>
                      <div class="answer-options answer-options-pic"><em>D.</em> 
                        <div class="answer-img"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                      </div>
                    </div>

                  </li>

                  <li class="last-li">
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/big.mp3" class="play-btn grey"></span>
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="question-info clearfix">
                  <i class="question-icon"></i>
                  <div class="question-title">
                    <p>
                      动画大冒险——超能陆战队 Part 1
                    </p>
                    <span>上课时间：2016年01月10日</span>
                  </div>
                  <div class="answer-des">
                    <p class="answer-des-test">你有 <em>3</em> 道题没有作答喔！</p>
                    <i></i>
                  </div>
                </div>
                <ul class="answer-box answer-box-red">
                  <li>
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span>
                    <div class="question-prompt">这道题你没有回答喔</div>
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options answer-wrong">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                  <li>
                    <div class="answer-title">2. Hi! Friends!</div>
                    <div class="answer-container answer-container-pic clearfix">
                      <div class="answer-options answer-options-pic"><em>A.</em> 
                        <div class="answer-img"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        
                      </div>
                      <div class="answer-options answer-options-pic"><em class="answer-right">B.</em>  
                        <div class="answer-img answer-right-p"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        <span>(正确答案)</span>
                      </div>
                      
                      <div class="answer-options answer-options-pic"><em class="answer-wrong">C.</em> 
                        <div class="answer-img answer-wrong-p"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                        <span>(错误答案)</span>
                      </div>
                      <div class="answer-options answer-options-pic"><em>D.</em> 
                        <div class="answer-img"><img src="/images/html/b2s/answer_img_01.jpg"/></div>
                      </div>
                    </div>

                  </li>

                  <li class="last-li">
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span>
                      
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                </ul>
              </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="backTop" href="#top" class="back-top"></a>
<div id="mp3Box"></div>
<div id="mp3Box"></div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>