<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body id="container" data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- banner -->
<div class="ce-banner">
	<div class="widthMain">
		<img src="/images/html/b2s/ce_banner.png" alt="" class="ce-banner-img">
	</div>
</div>
<!-- 中间内容 -->
<div class="ce-content">
	<div class="widthMain">
		<div class="apply-seccess hide">
			<dl class="apply-s-tit">
				<dt class="tenIcon apply-s-img"></dt>
				<dd class="apply-s-t">申请提交成功!</dd>
			</dl>
			<p class="apply-s-text">网站登录账号、密码已发送至手机号：<span class="apply-s-mobile">13676565544</span> 请注意查收。我们将在3个工作日内完成信息审核。
您可以通过已填写的手机或邮箱登录网站，查看审核进度。感谢关注！</p>
		</div>
		<div class="apply-fail">
			<dl class="apply-s-tit">
				<dt class="tenIcon apply-s-img"></dt>
				<dd class="apply-s-t">很遗憾，您的资料审核未通过。</dd>
				<dd class="apply-s-t hide">资料正在审核中，请耐心等待。</dd>
			</dl>
		</div>
	</div>
</div>

<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>