<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body>
<input type="hidden" id="container" data-init="change_class" />
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls mycls-agent">
  <div class="widthMain">
    <!-- banner -->
    <div class="central">
       <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/tea.jpg" alt=""></dt>
          <dd class="intro_one"><span>代理商</span> 呵呵</dd>
          <dd class="wel-login">欢迎登录</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <!-- 侧栏 -->
      <div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main">
        <div class="agent-list">
          <ul class="list-nav clearfixed">
            <li><a href="agent_school_list.html">学校列表</a></li>
            <li><b>&gt;</b></li>
            <li><a href="agent_school_list.html">北京101小学</a></li>
            <li><b>&gt;</b></li>
            <li>一年级一班</li>
          </ul>
          <ul class="agent-list-tit clearfixed">              
            <li>全部学生数：99人</li>
            <li class="add_s chang_class">选学生转班</li>
          </ul>
          <div class="agent-list-con">
            <table>
              <thead>
                <tr>
                  <td>全选<input type="checkbox" class="all"/></td>
                  <td>姓名</td>
                  <td>手机号</td>
                  <td>激活时间</td>
                  <td>上课次数</td>
                  <td>状态</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>王大</td>
                  <td>17778039761</td>
                  <td>2016-04-30 16:45:07</td>
                  <td>6</td>
                  <td >VIP</td>
                </tr>               
               <tr>
                  <td><input type="checkbox" /></td>
                  <td>王大</td>
                  <td>17778039761</td>
                  <td>2016-04-30 16:45:07</td>
                  <td>6</td>
                  <td>VIP</td>
                </tr> 
               <tr>
                  <td><input type="checkbox" /></td>
                  <td>王大</td>
                  <td>17778039761</td>
                  <td>2016-04-30 16:45:07</td>
                  <td>6</td>
                  <td>VIP</td>
                </tr> 
               <tr>
                  <td><input type="checkbox" /></td>
                  <td>王大</td>
                  <td>17778039761</td>
                  <td></td>
                  <td>6</td>
                  <td>未激活</td>
                </tr> 
               <tr>
                  <td><input type="checkbox" /></td>
                  <td>王大</td>
                  <td>17778039761</td>
                  <td></td>
                  <td>6</td>
                  <td>未激活</td>
                </tr> 
              </tbody>
            </table>
          </div> 
        </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>

<!-- 添加选择班级弹框 -->

<div class="add_stu_confirm1"></div>
<div class="add_confirm1">
  <form action="http://www.baidu.com" method="" id="stu_name" rel="agent_detail_class">
    <p class="tit">绑定班级<span class='close_confirm1'></span></p>
     <ul class="cfix">
          <li class="li_input">
            年级：<select class="op_s">  
                    <option value ="1">一年级</option>  
                    <option value ="2">二年级</option>  
                    <option value="3">三年级</option>  
                    <option value="4">四年级</option> 
                    <option value="4">五年级</option>
                    <option value="4">六年级</option>  
                  </select>  
          </li>
          <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <em></em>
          </li>
     </ul>
     <ul class="cfix">
          <li class="li_input">
            班级：<select class="op_s">  
                    <option value ="1">一班</option>  
                    <option value ="2">二班</option>  
                    <option value="3">三班</option>  
                    <option value="4">四班</option>
                    <option value ="5">五班</option>  
                    <option value ="6">六班</option>  
                    <option value="7">七班</option>  
                    <option value="8">八班</option>
                    <option value ="9">九班</option>  
                    <option value ="10">十班</option>  
                    <option value="11">十一班</option>  
                    <option value="12">十二班</option>
                    <option value ="13">十三班</option>  
                    <option value ="14">十四班</option>  
                    <option value="15">十五班</option>  
                    <option value="16">十六班</option>
                    <option value ="17">十七班</option>  
                    <option value ="18">十八班</option>  
                    <option value="19">十九班</option>  
                    <option value="10">二十班</option>  
                  </select>  
          </li>
          <li class="error-tips">
            <!-- <span class="err-arr"></span> -->
            <em></em>
          </li>
     </ul>
    <input type="hidden" value="" class="tea_id"> 
    <input class="add_sure tea_add_sure" type="submit" value="绑定班级">
    <p id="msg_error">dddd</p>
  </form>
</div>
<div class="add_confirm2"> 
    <p class="tit">温馨提示<span class='close_confirm1'></span></p>
    <div class="tip_text">
      请选择要转班的学生
    </div>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
