<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body class="city-manager">
<input type="hidden" id="container" data-init="tableControl"/>
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <a hreef="javascript:;" class="tenIcon h-icon"></a>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls mycls-agent">
  <div class="widthMain">
    <!-- banner -->
    <div class="central">
      <!-- 侧栏 -->
      <div class="cls-side cls-side2">
  <div class="user-info">
      <div class="user-img">
        <img src="/images/html/b2s/city_m_01.png"/>
      </div>
      <p class="user-name">韩梅梅</p>
      <p class="user-level">城市经理</p>
  </div>
  <ul class="tab-box">
    <li class="current-li">
      <i class="i1"></i>
      <span>个人代理商</span>
    </li>
    <li>
      <i class="i2"></i>
      <span>机构代理商</span>
    </li>
    <li>
      <i class="i3"></i>
      <span>数据统计</span>
    </li>
    <li>
      <i class="i4"></i>
      <span>我的信息</span>
    </li>
  </ul>
</div>
        <div class="cls-main">
            <div class="add-btn">
                <a>
                  添加代理商
                  <i></i>
                </a>
            </div>
            <div class="agent-list">
              
              <div class="agent-list-con">
                            <table class="c-table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                                <tbody>
                                <thead>
                                    <td>代理商姓名</td>
                                    <!--<th>身份证号码</th>-->
                                    <th>手机号码</th>
                                    <th>银行账号</th>
                                    <!--<th>添加时间</th>-->
                                    <th>城市</th>
                                    <th>学校数</th>
                                    <th>审批状态</th>
                                    <th>操作</th>
                                </thead>

                                                                                                <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=18602550661">上官明刚</a></td>
                                            <!--<td>659001198002051218</td>-->
                                            <td>18602550661</td>
                                            <td>6222024301050367489</td>
                                            <td>济宁市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=48&city_id=79&type=1">2</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="48" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=13969121110">许钦甫</a></td>
                                            <!--<td>1111111</td>-->
                                            <td>13969121110</td>
                                            <td>11111111</td>
                                            <td>济南市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=82&city_id=72&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="82" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=13153193860">许钦甫</a></td>
                                            <!--<td>111111111</td>-->
                                            <td>13153193860</td>
                                            <td>11111111</td>
                                            <td>临沂市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=84&city_id=84&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="84" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=15168809927">袁淑丽</a></td>
                                            <!--<td>12345677</td>-->
                                            <td>15168809927</td>
                                            <td>326788</td>
                                            <td>济南市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=97&city_id=72&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="97" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=15965926360">袁淑丽</a></td>
                                            <!--<td>1234567</td>-->
                                            <td>15965926360</td>
                                            <td>654321</td>
                                            <td>青岛市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=98&city_id=73&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="98" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=15806877976">袁淑丽</a></td>
                                            <!--<td>1111</td>-->
                                            <td>15806877976</td>
                                            <td>1111</td>
                                            <td>淄博市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=99&city_id=74&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="99" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=15668300286">许钦甫</a></td>
                                            <!--<td>111111</td>-->
                                            <td>15668300286</td>
                                            <td>1111111</td>
                                            <td>淄博市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=100&city_id=74&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="100" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=18560500365">李攀</a></td>
                                            <!--<td>1111</td>-->
                                            <td>18560500365</td>
                                            <td>11111</td>
                                            <td>临沂市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=108&city_id=84&type=1">19</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="108" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=18053104566">许钦甫</a></td>
                                            <!--<td>11111</td>-->
                                            <td>18053104566</td>
                                            <td>1111111111</td>
                                            <td>菏泽市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=129&city_id=88&type=1">1</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="129" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                                                            <!-- 绑定了城市 -->
                                                                            <tr>
                                            <td><a target='_blank' href="/cityManager/login_with_agent/?mobile=13173258096">杨杰</a></td>
                                            <!--<td>11111</td>-->
                                            <td>13173258096</td>
                                            <td>11111111</td>
                                            <td>聊城市</td>
                                            <td><a href="/cityManager/agentCity/?agent_id=143&city_id=86&type=1">0</a></td>
                                            <td>通过</td>
                                            <td>
                                                <!--<a href="javascript:void(0);" data-id="143" class="app_city">绑定城市</a> | -->
                                                                                        </td>
                                        </tr>
                                                                                                                        </tbody>
                            </table>
                        </div>
            </div>
            <div class="cls-tab stu-cls city-info-c">
            <!--  <div class="mess tea-mess">
               <div id="infoBox">
                  <ul class="ul_margin">
                    <li><em class="text_w">城市经理姓名</em>:<span>王老师</span></li>
                    <li><em class="text_w">身&nbsp;份&nbsp;证&nbsp;号&nbsp;码</em>:<span>555252525252525255555252525252525255</span></li>
                    <li><em class="text_w">手&nbsp;&nbsp;机&nbsp;&nbsp;号&nbsp;&nbsp;码</em>:<span>44415124521</span></li>
                    <li><em class="text_w">工&nbsp;&nbsp;作&nbsp;&nbsp;邮&nbsp;&nbsp;箱</em>:<span>555555555@qq.com</span></li>
                    <li><em class="text_w">微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信</em>:<span>13586669888</span></li>
                    <li class="modify-password"><em class="text_w">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</em>:
                      <span class="password-box"><span class="password-text">*********</span></span><a class="modify-btn" href="javascript:;">修改</a></li>
                  </ul>
                   <a href="javascript:;" id="modifyBtnId" class="modify-all-btn ">编辑资料</a>
                </div>

                <div id="modifyInfoBox">
                <form>
                  <ul>
                    <li><em>所在学校</em>:<span>北京109中学小学实验部</span></li>
                    <li><em>中&nbsp;&nbsp;文&nbsp;&nbsp;名</em>:<input class="edit-input" type="text" value="林徽因"/>
                    </li>
                    <li><em>英&nbsp;&nbsp;文&nbsp;&nbsp;名</em>:<input class="edit-input" type="text" value="cherry"/></li>
                    <li><em>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别</em>:
                      <span class="select-box" id="menSex" data-id="1"><span class="sex-selected"></span></span><span>男</span>
                      <span class="select-box" id="womanSex" data-id="2"><span class="sex-selected"></span></span><span>女</span>
                    </li>
                    <li><em>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 机</em>:<span>13586669888</span></li>
                    <li><em>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 箱</em>:<span>3iejoy@yeah.net</span></li>
                    <li class="modify-password"><em>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</em>:
                      <span class="password-box"><span class="password-text">*********</span></span><a class="modify-btn" href="javascript:;">修改</a></li>           
                  </ul>
                  <a href="javascript:;"  class="modify-all-btn modify-cancel">取消</a>
                  <button  class="modify-all-btn modify-sure">确定</button>
                  <input id="selectBoxValue" type="hidden" value="1">
                  </form>
                </div>
              </div>-->
            </div>

        </div>
    </div>
  </div>
</div>

<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
