<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body class="city-manager">
<input type="hidden" id="container" data-init="" />
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls mycls-agent">
  <div class="widthMain">
    <!-- banner -->
    <div class="central">
       <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/tea.jpg" alt=""></dt>
          <dd class="intro_one"><span>代理商</span> 呵呵</dd>
          <dd class="wel-login">欢迎登录</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <!-- 侧栏 -->
      <div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main">
      <!--   <div class="agent-list">
          <ul class="agent-list-tit clearfixed">
            <li>我绑定的学校：4所</li>
            <li>我发展的老师：50人</li>
            <li>班级：48个</li>
            <li>学生总数：99人</li>
            <li>付费学生人数：10102人</li>
          </ul>
          <div class="agent-list-con">
            <table>
              <thead>
                <tr>
                  <td>我的学校</td>
                  <td>老师</td>
                  <td>班级</td>
                  <td>学生总数</td>
                  <td>付费学生人数</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>北京101小学</td>
                  <td>11人</td>
                  <td>10个</td>
                  <td>399人</td>
                  <td>320人</td>
                  <td><a href="agent_school_detail.html" class="check-detail">详情</a></td>
                </tr>               
                <tr>
                  <td>北京101小学</td>
                  <td>11人</td>
                  <td>10个</td>
                  <td>399人</td>
                  <td>320人</td>
                  <td><a href="agent_school_detail.html" class="check-detail">详情</a></td>
                </tr>
                <tr>
                  <td>北京101小学</td>
                  <td>11人</td>
                  <td>10个</td>
                  <td>399人</td>
                  <td>320人</td>
                  <td><a href="agent_school_detail.html" class="check-detail">详情</a></td>
                </tr>
                <tr>
                  <td>北京101小学</td>
                  <td>11人</td>
                  <td>10个</td>
                  <td>399人</td>
                  <td>320人</td>
                  <td><a href="agent_school_detail.html" class="check-detail">详情</a></td>
                </tr>
                <tr>
                  <td>北京101小学</td>
                  <td>11人</td>
                  <td>10个</td>
                  <td>399人</td>
                  <td>320人</td>
                  <td><a href="agent_school_detail.html" class="check-detail">详情</a></td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div> -->
          <div class="cls-tab stu-cls city-info-c">
          <div class="mess tea-mess">
            <div id="infoBox">
              <ul class="ul_margin">
                <li><em class="text_w">城市经理姓名</em>:<span>王老师</span></li>
                <li><em class="text_w">身&nbsp;份&nbsp;证&nbsp;号&nbsp;码</em>:<span>555252525252525255555252525252525255</span></li>
                <li><em class="text_w">手&nbsp;&nbsp;机&nbsp;&nbsp;号&nbsp;&nbsp;码</em>:<span>44415124521</span></li>
                <li><em class="text_w">工&nbsp;&nbsp;作&nbsp;&nbsp;邮&nbsp;&nbsp;箱</em>:<span>555555555@qq.com</span></li>
                <li><em class="text_w">微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信</em>:<span>13586669888</span></li>
                <li class="modify-password"><em class="text_w">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</em>:
                  <span class="password-box"><span class="password-text">*********</span></span><a class="modify-btn" href="javascript:;">修改</a></li>
              </ul>
              <!-- <a href="javascript:;" id="modifyBtnId" class="modify-all-btn ">编辑资料</a> -->
            </div>

            <div id="modifyInfoBox">
            <form>
              <ul>
                <li><em>所在学校</em>:<span>北京109中学小学实验部</span></li>
                <li><em>中&nbsp;&nbsp;文&nbsp;&nbsp;名</em>:<input class="edit-input" type="text" value="林徽因"/>
                </li>
                <li><em>英&nbsp;&nbsp;文&nbsp;&nbsp;名</em>:<input class="edit-input" type="text" value="cherry"/></li>
                <li><em>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别</em>:
                  <span class="select-box" id="menSex" data-id="1"><span class="sex-selected"></span></span><span>男</span>
                  <span class="select-box" id="womanSex" data-id="2"><span class="sex-selected"></span></span><span>女</span>
                </li>
                <li><em>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 机</em>:<span>13586669888</span></li>
                <li><em>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 箱</em>:<span>3iejoy@yeah.net</span></li>
                <li class="modify-password"><em>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</em>:
                  <span class="password-box"><span class="password-text">*********</span></span><a class="modify-btn" href="javascript:;">修改</a></li>           
              </ul>
              <a href="javascript:;"  class="modify-all-btn modify-cancel">取消</a>
              <button  class="modify-all-btn modify-sure">确定</button>
              <input id="selectBoxValue" type="hidden" value="1">
              </form>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
