<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<link rel="stylesheet" type="text/css" href="/css/html/b2s/class_process_choose.css">
<body id="container" data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<div class="dialog">
  <div class="content">
    <div class="tips">
      <h4>创建班级</h4>
      <a class="close" href="javascript:;"></a>
    </div>
    <div class="info"></div>
    <div class="submit">
        <a href="javascript:;">立即创建</a>
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls bg-s">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
      </div>
    <!-- 侧栏 -->
    <div class="cls-side cls-side2">
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>必修课<span>（外教VIP精品课）</span></a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>选修课</a></li>
      
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li class="side-down js-1v1-choose">
        <a href="javascript:;"><i class="smlIcon class-icon"></i>1对1课程</a>
        <div class="has_choose_pop fx-close">
          <i class="close-r">X</i>
          <p class="text">你还没选中教班，请尽快选班！</p>
          <i href="javacript:;" class="close_c">我知道啦</i>
          <em></em>
        </div>
      </li>
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>

  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main color-s">
        <!-- 我的班级 -->
        <div class="cls-tab rct top-value">
          <div class="class-pay"></div>

          <div class="banner-box">
            <img src="/images/html/b2s/process_choose_1.png">
            <ul class="banner-box-in">
              <li>
                中教预习班课 <span>10课次</span>
                剩余外教1对1课 <span>3课次</span>
              </li>
              <li>
                第一节上课时间：<span>本周六19:00</span>
                有效期<span>30天</span>至<span>2213日</span>
              </li>
            </ul>
            <a href="#toList" class="toList" >课程安排 v</a>
          </div>
        </div>
        
        <div class="class-process">
          <div class="class-process-in">
            <div class="class-process-in-r">
              <dl class="dl1">
                <dt>中教老师每周固定时间开课，辅导孩子英语学习，陪伴孩子在51Talk的每时每刻。</dt>
                <dd><a href="">选择中教预习班</a></dd>
              </dl>

              <dl class="dl2">
                <dt>选班完成后，用微信识别班级群二维码，加入班级群，中教老师随时提供服务。</dt>
              </dl>

              <dl class="dl2 dl3">
                <dt>登录孩子上课账号，预约课程按时出席。</dt>
                <dd><a href="">预约1对1外教课</a></dd>
              </dl>
            </div>
          </div>
          <!-- 选课后 -->
          <div class="class-process-in class-process-in-after">
            <div class="class-process-in-r">
              <dl class="dl1">
                <dt>每周末一节课，上课周期：<i>2017年2月12日至1017年2月22日,</i></dt>
                <dt>每周末一节课，上课周期：2017年2月12日至1017年2月22日,<br/>每周末一节课每周末一节课</dt>
              </dl>

              <dl class="dl2">
                <dt>选班完成后，用微信识别班级群二维码，加入班级群，中教老师随时提供服务。</dt>
                <dd>
                  <div class="class-content-qrcode2 qrcode-t qrcode-intro">
                    <img src="/images/html/b2s/wykt_qrcode.png" />
                </div>
                <p>手机扫码下载“51Talk无忧课堂”</p>
                </dd>
              </dl>

              <dl class="dl2 dl3">
                <dt>登录孩子上课账号，预约课程按时出席。</dt>
                <dd><a href="">预约1对1外教课</a></dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="class_show_list" >
            <a href="javascript:;" name="toList"></a>
            <P class="list_title">课程安排</P>
            <table>
              <tr>
                  <td class="title_m"><h3><span class="sequence-1">1</span>中教预习课 第1节</h3></td>
                  <td colspan="2">
                      <div class="class_arrange_item">
                          <p class="font">下周六 10:00-10:25  中教老师讲授<br>课程内容： 预习外教课1-3节内容</p>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="title_m"><h3><span class="sequence-1">2</span>1对1外教课 第1节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 看电影See a Movie</p>
                          <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
                  <td class="avris" rowspan="3">中教全程微信群辅导</td>
              </tr>
              <tr>
                <td class="title_m"> <h3><span class="sequence-1">3</span>1对1外教课 第2节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 我最好的朋友My Best Friend</p>
                           <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="title_m"><h3><span class="sequence-1">4</span>1对1外教课 第3节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 我的书包丢了I Lost My School Bag</p>
                           <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
              </tr>
              <tr>
                <td  class="title_m"><h3><span class="sequence-1">5</span>1对1外教课 第2节</h3></td>
                  <td colspan="2">
                      <div class="class_arrange_item">
                          
                          <p class="font">下周六 10:00-10:25  中教老师讲授<br>课程内容： 预习外教课1-3节内容</p>
                           <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
              </tr>
              <tr>
                <td  class="title_m"><h3><span class="sequence-1">6</span>1对1外教课 第4节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 看电影See a Movie</p>
                          <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
                  <td class="avris" rowspan="3">中教全程微信群辅导</td>
              </tr>
              <tr>
                  <td  class="title_m"><h3><span class="sequence-1">7</span>1对1外教课 第5节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 我最好的朋友My Best Friend</p>
                          <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="title_m"><h3><span class="sequence-1">8</span>1对1外教课 第6节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 我的书包丢了I Lost My School Bag</p>
                           <P class="show_book"><a href="#">查看教材 > </a></P>
                      </div>
                  </td>
              </tr>
            </table>
        </div>
        <div class="class-tips">
          <h5>服务小贴士</h5>
          <h3>关于软件</h3>
          <ul class="class-tips-in">
            <li><i></i>电脑端上课软件AC可以上所有课程，屏幕更大，体验更好，推荐用AC上课，<a href="">点击下载</a></li>
            <li><i></i>手机客户端“51Talk无忧英语”可以完成1对1外教课的预约和上课，中教课上课</li>
            <li><i></i>手机客户端<a href="">“无忧课堂”</a>可以直接上课1对20的精品课和无忧课堂外教课</li>
            <li><i></i>如有问题请咨询服务微信号：2322509</li>
            <li>
              <div class="class-content-qrcode2 qrcode-t">
                <img src="/images/html/b2s/wykt_qrcode.png" />
              </div>
              <p>手机扫码下载“51Talk无忧课堂”</p>
            </li>
          </ul>
          <h3>关于课程</h3>
          <ul class="class-tips-in">
            <li><i></i>外教1对1课程需要家长自主预约，<a href="javascript:;" class="show_class">点击查看</a>约课流程</li>
            <li><i></i>外教专属1对1课程预约请提前30分钟，取消课程请提前1个小时</li>
            <li><i></i>中教预习课每周固定时间上课，如缺席上课，可提前在微信服务群与老师联<br/>系，由老师录制视频，课后视频学习。</li>
          </ul>
          <h3>关于服务</h3>
          <ul class="class-tips-in">
            <li><i></i>一对一外教全程托管班，中外教课程不能单独退费，并只可在上课前申请退费。</li>
            <li><i></i>如有问题请咨询服务微信号：Cy51talk123 ，客服电话：4006635151</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- 弹层 -->
<div class="choose_class_pop"></div>
<div class="choose_class_pop_box">
  <span><img src="/images/html/b2s/AC_close.png" alt=""></span>
  <P class="step_title">外教1对1约课流程</P>
  <div class="step_class clearfix">
    <div class="step_left"><img src="/images/html/b2s/class_step.png" alt=""></div>
    <div class="step_right">
       <p class="step_text_1">下载安装“51Talk无忧英语”手机客户端</p>
       <p class="step_text_2">或电脑打开网站“www.51talk.com”登录上课账号</p>
       <p class="step_text_1 mar_top1">选择上课日期和时间</p>
       <p class="step_text_2">根据孩子的时间自主预约</p>
       <p class="step_text_1 mar_top2">选择上课方式为电脑端AC上课</p>
       <p class="step_text_2">AC课堂屏幕更大、互动更强、体验更好</p>
       <p class="step_text_1 mar_top3">按照上课时间   准时出席</p>
       <p class="step_text_2">用孩子上课账号登录电脑端上课软件AC，进入1对1教室上课</p>
    </div>
  </div>
  <a class="make_class" href="">
    立即约课
  </a>
</div>

<input type="hidden" id="priceId" value="598"/>
<input type="hidden" id="discountPrice" value="100"/>
<input type="hidden" id="packageId" value="1"/>
<!--公共弹层-->
<div class="layer hide" id="layerTip">
  <p>温馨提示<i class="tenIcon ly-icon"></i></p>
  <div class="ly-tit">该课程是通过AC客户端上课，请<a href="javascript:;">点击下载</a>安装。如已经安装,请以学生身份注册账户，登录AC上课。</div>  
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>