<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<link rel="stylesheet" type="text/css" href="/css/html/b2s/class_process.css">
<body id="container" data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<div class="dialog">
  <div class="content">
    <div class="tips">
      <h4>创建班级</h4>
      <a class="close" href="javascript:;"></a>
    </div>
    <div class="info"></div>
    <div class="submit">
        <a href="javascript:;">立即创建</a>
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls bg-s">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
      </div>
    <!-- 侧栏 -->
    <div class="cls-side cls-side2">
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>必修课<span>（外教VIP精品课）</span></a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>选修课</a></li>
      
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon class-icon"></i>1对1课程</a></li>
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>

  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main color-s">
        <!-- 我的班级 -->
        <div class="cls-tab rct top-value">
          <div class="class-pay"></div>
          <div class="banner-box">
            <div class="ban-text">您的课程次数剩余<span>8次</span>    有效期1个月至 <span>2016年10月21日</span>
            </div>
            <a class="class-btn">立即约课</a>
          </div>
          <div class="class-tit">
            级别评测课上课流程
          </div>
          <p class="class-des">
            外教老师将根据孩子上课表现和基础情况，从发音、语法、词汇、流利度和听力理解等不同维度评测孩子英语语言应用能力，纠正并扩展孩子课堂中遇到的问题，并给出合理学习建议。
          </p>
          <div class="class-content clearfix">
            <div class="content-l">
              <img src="/images/html/b2s/class_pro_03.png"/>
            </div>
            <div class="content-r">
              <p>第一步   电脑打开网站“www.51talk.com”登录上课账号</p>
              <p class="info">或下载安装“51Talk无忧英语”手机客户端</p>
              <p>第二步    选择上课日期和时间</p>
              <p class="info">按照“无忧课堂”学员操作指南进行约课</p>
              <p>第三步   选择上课方式为电脑端AC上课</p>
              <p class="info">AC课堂屏幕更大、互动更强、体验更好</p>
              <div class="load-btn">
                <a href="javasrcipt:;">点击下载AC客户端</a>
              </div>
              <div class="g-class">
                <p>按照上课时间   准时出席</p>
                <p class="g-class-des">用孩子上课账号登录电脑端上课软件AC，进入1对1教室上课</p>
              </div>
              <div class="g-class top-v">
                <p>课程结束24小时内查看测试报告</p>
                <p class="g-class-des">登录网站“www.51Talk.com”查看报告</p>
                <p class="g-class-des">登录手机客户端<span>“51Tallk无忧英语”</span>查看报告</p>
                <div clas="code-box">
                  <img src="/images/html/b2s/class_pro_04_1.png"/>
                </div>
                <p class="code-text">手机扫码下载“51Talk无忧课堂”</p>
              </div>
            </div>
          </div>
          <div class="process-box">
            <div class="process-info">了解英语级别后，<span>简单3步</span>，您就可以为孩子预约正式1对1外教课啦！</div>
            <div class="process-img"><img src="/images/html/b2s/class_pro_05.png"/></div>
            <ul class="pro-ul clearfix">
              <li>登录上课账号</li>
              <li class="li1">选老师，选时间，选教材</li>
              <li class="li2">按时出席课程
                  <p>课前1小时可以取消</p>
              </li>
            </ul>
            <div class="pro-text">1对1课程退费，按剩余课程节数乘以单节课实际支付价格计算金额。</div>
          </div>
          <div class="process-box clearfix">
            <div class="process-info">关于上课，这些事 <span>必须记住，必须记住，必须记住!</span></div>
            <div class="info-box info-box-l">
              <p><span>强烈建议使用电脑AC端</span>上课，<br/>
屏幕更大、互动更强、体验更好</p>
              <span class="hot"></span>
            </div>
            <div class="info-box info-box-r">
              <p>手机客户端<span>“51Talk无忧英语”</span>仅支持1对1<br/>课程预约和上课手机客户端<span>“无忧课堂”</span>仅支持
1对20课程查询和上课</p>
            </div>
          </div>
        </div>
         <div class="tips_text">
            <p>服务小贴士：</p>
            <p>课程预约请提前30分钟，取消课程请提前1小时
    如有退费，金额将按照剩余课量乘以购买时单节课程价格返还
    更多问题请拨打客服电话4006635151</p>
        </div>
        <div class="class-btn">
          <a href="javascript:;">
            立即预约级别评测体验课
          </a>
        </div> 
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="priceId" value="598"/>
<input type="hidden" id="discountPrice" value="100"/>
<input type="hidden" id="packageId" value="1"/>
<!--公共弹层-->
<div class="layer hide" id="layerTip">
  <p>温馨提示<i class="tenIcon ly-icon"></i></p>
  <div class="ly-tit">该课程是通过AC客户端上课，请<a href="javascript:;">点击下载</a>安装。如已经安装,请以学生身份注册账户，登录AC上课。</div>  
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>