<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<link rel="stylesheet" type="text/css" href="/css/html/b2s/class_process_t.css">
<body id="container" data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<div class="dialog">
  <div class="content">
    <div class="tips">
      <h4>创建班级</h4>
      <a class="close" href="javascript:;"></a>
    </div>
    <div class="info"></div>
    <div class="submit">
        <a href="javascript:;">立即创建</a>
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls bg-s">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
      </div>
    <!-- 侧栏 -->
    <div class="cls-side cls-side2">
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>必修课<span>（外教VIP精品课）</span></a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>选修课</a></li>
      
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon class-icon"></i>1对1课程</a></li>
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>

  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main color-s">
        <!-- 我的班级 -->
        <div class="cls-tab rct top-value">
          <div class="class-pay"></div>

          <div class="banner-box">
            <h5>您已成功支付1对1外教全程托管班</h5>
            <ul class="banner-box-in">
              <li>
                剩余外教1对1课 <span>10课次</span> <br />
                中教辅导课<span>3课次</span>
              </li>
              <li>
                有效期<span>30天</span>至<span>2016年12月13日</span><br />
                请尽快约课
              </li>
            </ul>
            <a class="class-btn">预约外教1对1课</a>
          </div>
          
          <!-- 选班前 -->
          <div class="class-content">
            <div class="class-tit">
              <h5>中教辅导课</h5>
              <p>中教老师辅导孩子学习，全程托管学习无忧，快来选班吧</p>
            </div>
            <div class="class-content-qrcode1 qrcode-t">
              <img src="http://testtest1117.oss-cn-beijing.aliyuncs.com/c71bb21b786002a9d844d6406dac0bbf.png" />
            </div>
            <p>手机扫码选择中教辅导班</p>
            <div class="class-content-tip">
              <dl>
                <dt>定时开班，提供英语学习答疑</dt>
                <dd>每周固定时间开课，辅导英语学习，保障上课质量。</dd>
              </dl>

              <dl>
                <dt>诊断测评，辅导长远学习规划</dt>
                <dd>根据孩子学习阶段和英语水平，提供学习报告，针对分析制定提高方案。</dd>
              </dl>

              <dl>
                <dt>约课指导，帮助家长熟练使用1对1课程学习体系</dt>
                <dd>中教辅导班老师将在课堂和微信服务群，详细引导家长和孩子预约1对1外教课，并提醒上<br />课注意事项。</dd>
                <dd>您也可以按照以下流程自主为孩子约外教1对1课：</dd>
              </dl>
            </div>
          </div>
          
          <!-- 选班后 -->
          <div class="class-content class-content-after">
            <div class="class-tit">
              <h5>中教辅导课</h5>
              <p>您已选择中教辅导班，请准时出席课程，<span>本周六19：00</span><br />
                 上课周期：<span>2015年12月17日至2017年12月18日</span>
              </p>
            </div>
            <div class="class-content-qrcode1 qrcode-t">
              <img src="http://testtest1117.oss-cn-beijing.aliyuncs.com/c71bb21b786002a9d844d6406dac0bbf.png" />
            </div>
            <p>手机扫码选择中教辅导班<br />出现任何问题请咨询微信号：2322509</p>
          </div>

        </div>
        
        <div class="class-process">
          <h5>外教1对1约课流程</h5>
          <div class="class-process-in">
            <img src="/images/html/b2s/class-process-in-left.png" class="fl" width="112" height="618" />
            <div class="class-process-in-r fl">
              <dl class="dl1">
                <dt>电脑打开网站“www.51talk.com”登录上课账号</dt>
                <dd>或下载安装“51Talk无忧英语”手机客户端</dd>
                <dd class="dd-code qrcode-t">
                  <img src="/images/html/b2s/wyyy_qrcode.jpg" />
                  <p>手机扫码下载“51Talk无忧英语”</p>
                </dd>
              </dl>

              <dl class="dl2">
                <dt>选择上课日期和时间</dt>
                <dd>按照“无忧课堂”学员操作指南进行约课</dd>
                <dt>选择上课方式为电脑端AC上课</dt>
                <dd>AC课堂屏幕更大、互动更强、体验更好</dd>
                <dd>
                  <a href="">点击下载AC客户端</a>
                </dd>
              </dl>

              <dl>
                <dt>按照上课时间   准时出席</dt>
                <dd>用孩子上课账号登录电脑端上课软件AC，进入1对1教室上课</dd>
              </dl>
            </div>
          </div>
        </div>
        
        <div class="class-suggest">
          <div class="class-suggest-in">
            <p>
              强烈建议使用<span>电脑AC端上课</span>，屏幕更大、互动更强、体验更好<br />
              手机客户端<span>“51Talk无忧英语”</span>支持1对1课程预约和上课，中教辅导课上课<br />
              手机客户端<span>“无忧课堂”</span>仅支持1对20课程查询和上课，中教辅导课预约和查询
            </p>
            <div class="class-suggest-qrcode">
              <div class="class-content-qrcode2 qrcode-t">
                <img src="/images/html/b2s/wykt_qrcode.png" />
              </div>
              <p>手机扫码下载“51Talk无忧课堂”</p>
            </div>
            <p>
              中教辅导课还可以通过服务号<span>“51Talk中小学英语”</span>或电脑登陆<span>www.51kt.com</span><br />
              预约并查看上课情况。
            </p>
          </div>
        </div>
        
        <div class="class-tips">
          <h5>服务小贴士</h5>
          <ul class="class-tips-in">
            <li><i></i>外教专属1对1课程预约请提前30分钟，取消课程请提前1小时。</li>
            <li><i></i>中教课每周固定时间上课，如缺席上课，可提前在微信服务群与老师联系，<br />由老师录制视频，课后视频学习。</li>
            <li><i></i>一对一外教全程托管班，中外教课程不能单独退费，并只可在上课前申请退费。</li>
            <li><i></i>如有问题请咨询服务微信号：2322509</li>
          </ul>
          <div class="class-tips-btn">
            <a href="">预约中教辅导班</a>
            <a href="" class="btn-1v1">预约外教1对1课</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- 弹层 -->
<div class="choose_class_pop"></div>
<div class="choose_class_pop_box">
  <span><img src="/images/html/b2s/AC_close.png" alt=""></span>
  <P class="step_title">外教1对1约课流程</P>
  <div class="step_class clearfix">
    <div class="step_left"><img src="/images/html/b2s/class_step.png" alt=""></div>
    <div class="step_right">
       <p class="step_text_1">下载安装“51Talk无忧英语”手机客户端</p>
       <p class="step_text_2">或电脑打开网站“www.51talk.com”登录上课账号</p>
       <p class="step_text_1 mar_top1">选择上课日期和时间</p>
       <p class="step_text_2">根据孩子的时间自主预约</p>
       <p class="step_text_1 mar_top2">选择上课方式为电脑端AC上课</p>
       <p class="step_text_2">AC课堂屏幕更大、互动更强、体验更好</p>
       <p class="step_text_1 mar_top3">按照上课时间   准时出席</p>
       <p class="step_text_2">用孩子上课账号登录电脑端上课软件AC，进入1对1教室上课</p>
    </div>
  </div>
  <a class="make_class" href="">
    立即约课
  </a>
</div>

<input type="hidden" id="priceId" value="598"/>
<input type="hidden" id="discountPrice" value="100"/>
<input type="hidden" id="packageId" value="1"/>
<!--公共弹层-->
<div class="layer hide" id="layerTip">
  <p>温馨提示<i class="tenIcon ly-icon"></i></p>
  <div class="ly-tit">该课程是通过AC客户端上课，请<a href="javascript:;">点击下载</a>安装。如已经安装,请以学生身份注册账户，登录AC上课。</div>  
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>