<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body  data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="home">
  <div class="hm-img"><img src="/images/html/b2s/home_ads.jpg" alt="" class="hm-ads"></div>
  <div class="widthMain hm-widthMain">
    <div class="hm-reg reg-login">
      <form id="registForm">
        <ul class="hm-login">
          <li class="hm-login_li">
            <input class="form-data jsInputOk email" type="text" placeholder="请输入邮箱" >
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>邮箱有误</b></div>
          </li>
          <li class="hm-login_li"> 
            <input class="form-data jsInputOk tel" type="text" placeholder="请输入手机号">
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>手机号码有误</b></div>
          </li >
          <li class="hm-login_li login-gh">
            <div class="gh-input">
              <input class="form-data myCode" type="text" placeholder="请输入验证码">
              <i class="tenIcon del-icon"></i>
            </div>
            <span class="u-btn hover sendCode">获取验证码</span>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>验证码不能为空</b></div>
          </li>
          <li class="hm-login_li">
            <input class="form-data jsInputOk pwd" type="password" placeholder="请输入密码">
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>密码不能为空</b></div>
          </li>
          <li class="hm-login_li">
            <input class="form-data  jsInputOk inviteCode" type="text" placeholder="请输入班级邀请码">
            <i class="tenIcon del-icon"></i>
            <div class="hm-erro"><i class="tenIcon err-icon"></i><b>班级邀请码不能为空</b></div>
          </li>
          <li class="hm-login_li hm-li-sub">
            <a href="javascript:;" class="submit">学生注册</a>
          </li>
        </ul>
      </form>
      <ul class="hm-chg">
        <li><a href="javascript:;"><i class="icon std-icon re-icon"></i>返回登录</a></li>
        <li class="chg-tit"><a href="javascript:;"><i class="icon tea-icon"></i>老师注册</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>