<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body id="container" data-init="">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img width="100px" height="100px" src="/images/html/b2s/ac-list-headicon-g.png" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
    <!-- 侧栏 -->
    <div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main">
        <!-- 如何上课 -->
        <div class="how-cls">
          <h3 class="how-tit"><i class="tenIcon how-icon"></i>如何才能上公开课？</h3>
          <p class="how-ac">1.下载并安装51Talk-AC客户端，<a href="javascript:;">点击下载</a>。</p>
          <p class="how-ac">2.使用您登录网站的用户名和密码就可以登录51Talk AC客户端，然后点击“我的课表”，即可看到我的公开课，点击</p>
          <p class="how-ac">“进入教室”即可上课</p>
          <div class="how-img"></div>
         <!--  <ul class="how-ul">
            <li>
              <span>1.使用您登录网站的用户名和密码就可以登录AC客户端</span>
              <img src="/images/html/b2s/how_lt.png" alt="" class="how-img">
            </li>
            <li class="how-li">
              <span>2.登录AC客户端后，点击“我的预约”，即可看到我需要上的公开课，点击“进入课程”即可进入教室</span>
              <img src="/images/html/b2s/how_rt.jpg" alt="" class="how-img">
            </li>
          </ul> -->
          <h3 class="how-tit"><i class="tenIcon how-icon"></i>AC客户端支持哪些电脑安装和使用？</h3>
          <p class="how-ac">目前支持操作系统为winxp/win7/win8/win10的电脑安装和使用AC客户端，暂不支持Mac OS。</p>
          <h3 class="how-tit"><i class="tenIcon how-icon"></i>支付发生问题我应该怎么办？</h3>
          <p class="list-text list-text-fist">您的订单尚未完成付款，可能是以下原因：</p>
          <p class="list-text">1.如果您在支付宝或网上银行付款未成功，请尝试再购买一次。</p>
          <p class="list-text">2.如果您已经支付成功，有可能是支付平台与我们的通讯延迟，请等候5分钟再到<a href="javascript:;" target="_blank">“我的订单”</a>里查看购买信息。</p>
          <p class="how-ac list-text">3.如果付款超过30分钟，购买的课程还未生效，请联系客服400-51-51-51，我们会尽力为您解决问题。</p>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>