<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body  data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
       <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <!-- 侧栏 -->
      <div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main">
        <!-- 近期公开课 -->
        <div class="cls-tab stu-cls" style="display:none;">
          <div class="stu-tit">
            <ul>
              <li>近期公开课</li>
            </ul>
            <a href="javascript:;" class="do-cls"><i class="tenIcon do-icon"></i>如何上课</a>
          </div>
          <div class="rct-text">
            <dl>
              <dt><img src="/images/html/b2s/1.jpg" alt=""></dt>
              <dd><span class="tit">亲子阅读树《Lost ans Found》失而复得（下）</span></dd>
              <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
              <dd>
                <div class="lt">
                  <span class="time">2015/12/15<em>19:00</em></span>
                  <span class="load"><a href="javascript:;"><i class="tenIcon load-icon"></i>下载PDF</a></span>
                </div>
                <div class="rt">
                  <a href="javascript:;" class="go-cls wait">等待开始</a>
                  <a href="javascript:;" class="go-cls wait">即将开始</a>
                </div>
              </dd>
            </dl> 
            <dl>
              <dt><img src="/images/html/b2s/2.jpg" alt=""></dt>
              <dd><span class="tit">亲子阅读树《Lost ans Found》失而复得（下）</span></dd>
              <dd><span class="word">和孩子亲密的时光，只有那么几年。如和孩子亲密的时光，只有那么几年。如</span></dd>
              <dd>
                <div class="lt">
                  <span class="time">2015/12/15<em>19:00</em></span>
                  <span class="load"><a href="javascript:;"><i class="tenIcon load-icon"></i>下载PDF</a></span>
                </div>
                <div class="rt">
                  <a href="javascript:" class="go-cls">去上课</a>
                </div>
              </dd>
            </dl>
            <dl>
              <dt><img src="/images/html/b2s/1.jpg" alt=""></dt>
              <dd><span class="tit">亲子阅读树《Lost ans Found》失而复得（下）</span></dd>
              <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
              <dd>
                <div class="lt">
                  <span class="time">2015/12/15<em>19:00</em></span>
                  <span class="load"><a href="javascript:;"><i class="tenIcon load-icon"></i>下载PDF</a></span>
                </div>
                <div class="rt">
                  <a href="javascript:;" class="go-cls wait">等待开始</a>
                  <a href="javascript:;" class="go-cls wait">即将开始</a>
                </div>
              </dd>
            </dl>  
          </div>
        </div> 
        <!-- 过期公开课 -->
        <div class="cls-tab stu-cls" style="display:none;">
          <div class="stu-tit">
            <ul>
              <li>过期公开课</li>
            </ul>
          </div>
          <div class="rct-text">
            <dl>
              <dt><img src="/images/html/b2s/1.jpg" alt=""></dt>
              <dd><span class="tit">亲子阅读树《Lost ans Found》失而复得（下）</span></dd>
              <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
              <dd>
                <div class="lt">
                  <span class="time">2015/12/15<em>19:00</em></span>
                  <span class="load"><a href="javascript:;"><i class="tenIcon load-icon"></i>下载PDF</a></span>
                </div>
              </dd>
              <dd class="nt-cls">
                <i class="tenIcon nt-icon"></i>
              </dd>
            </dl> 
            <dl>
              <dt><img src="/images/html/b2s/2.jpg" alt=""></dt>
              <dd><span class="tit">亲子阅读树《Lost ans Found》失而复得（下）</span></dd>
              <dd><span class="word">和孩子亲密的时光，只有那么几年。如和孩子亲密的时光，只有那么几年。如</span></dd>
              <dd>
                <div class="lt">
                  <span class="time">2015/12/15<em>19:00</em></span>
                  <span class="load"><a href="javascript:;"><i class="tenIcon load-icon"></i>下载PDF</a></span>
                </div>
              </dd>
              <dd class="nt-cls">
                <i class="tenIcon cm-icon"></i>
              </dd>
            </dl>
            <dl>
              <dt><img src="/images/html/b2s/1.jpg" alt=""></dt>
              <dd><span class="tit">亲子阅读树《Lost ans Found》失而复得（下）</span></dd>
              <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
              <dd>
                <div class="lt">
                  <span class="time">2015/12/15<em>19:00</em></span>
                  <span class="load"><a href="javascript:;"><i class="tenIcon load-icon"></i>下载PDF</a></span>
                </div>
              </dd>
              <dd class="nt-cls">
                <i class="tenIcon cm-icon"></i>
              </dd>
            </dl>  
          </div>
        </div>
        <!-- 我的信息 -->
        <div class="cls-tab stu-cls" style="display:block;">
          <div class="my_info_tab">
            <div class="tab_ban">
               <p class="mes_P act_p">我的信息</p>
               <p class="order_p bor_right">我的订单</p>
               <p class="vou_p bor_right">我的代金券</p>
            </div>
          </div>
            <div class="mess stu-mess">
              <div class="change_info">
                   <!-- 我的资料 -->
                <div id="infoBox" style="display:block;" class="table_change">
                  <ul>
                    <li><em>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 名</em>:<span>樱桃小丸子</span></li>
                    <li><em>英&nbsp;&nbsp;文&nbsp;&nbsp;名</em>:<span>Cherry</span></li>
                    <li><em>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别</em>:<span>女</span></li>
                    <li><em>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 日</em>:<span>1990.01.01</span></li>
                    <li><em>QQ  </em>:<span>49580968</span></li>
                    <li><em>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 机</em>:<span>13586669888</span></li>
                    <li><em>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 箱</em>:<span>3iejoy@yeah.net</span></li>
                    <li class="modify-password"><em>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</em>:
                      <span class="password-box"><span class="password-text">*********</span></span><a class="modify-btn" href="javascript:;">修改</a></li>            
                  </ul>
                  <a href="javascript:;" id="modifyBtnId" class="modify-all-btn ">编辑资料</a>
                </div>
                <!-- 编辑资料 -->
                <div>
                  <form>
                   <div id="modifyInfoBox">
                  
                    <ul>
                      <li><em>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 名</em>:<input class="edit-input" type="text" value="樱桃小丸子"/></li> 
                      <li><em>英&nbsp;&nbsp;文&nbsp;&nbsp;名</em>:<input class="edit-input" type="text" value="Cherry"/></li>
                      <li><em>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别</em>:
                        <span class="select-box" id="menSex" data-id="1"><span class="sex-selected"></span></span><span>男</span>
                        <span class="select-box" id="womanSex" data-id="2"><span class="sex-selected"></span></span><span>女</span>
                      </li>
                      <li class="modify-date">
                        <em>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 日</em>:
                        <span class="select-menu"><span id="modifyYear" class="modify-value"></span>
                          <ul class="select-menu-ul">
                            
                          </ul>
                        </span>
                        <span class="select-menu select-md"><span id="modifyMonth" class="modify-value"></span>
                          <ul class="select-menu-ul">
                            
                          </ul>
                        </span>
                        <span class="select-menu select-md"><span id="modifyDay" class="modify-value"></span>
                          <ul class="select-menu-ul">
                            
                          </ul>
                        </span>
                      </li>
                      <li><em>QQ  </em>:<input class="edit-input" type="text" value="555555555"/></li>
                      <li><em>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 机</em>:<span>13586669888</span></li>
                      <li><em>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 箱</em>:<span>3iejoy@yeah.net</span></li>
                      <li class="modify-password"><em>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 码</em>:<span class="password-box"><span class="password-text">*********</span></span></li>            
                    </ul>
                    <a href="javascript:;"  class="modify-all-btn modify-cancel">取消</a>
                    <button  class="modify-all-btn modify-sure" id="modyfySure">确定</button>
                    <input id="dateBrith" type="hidden" value="1989,09,23">
                    <input id="selectBoxValue" type="hidden" value="1">
                    <input id="modifyYearVal" type="hidden" value=""/>
                    <input id="modifyMonthVal" type="hidden" value=""/>
                    <input id="modifyDayVal" type="hidden" value=""/>
                    </div>
                  </form>
                </div>
            </div>
           
              <!-- 支付信息 -->
              <div class="my_info_pay hide change_info">
                <table>
                  <tr class="pay_frist">
                    <td>商品</td>
                    <td>支付方式</td>
                    <td>订单号</td>
                    <td>交易时间</td>
                    <td>交易金额</td>
                    <td>订单状态</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td class="err">支付失败</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                    <td>￥300</td>
                    <td>支付成功</td>
                  </tr>
                </table>
                <div class="none_pay"> 
                    <p>你还没有购买过外教同步辅导套餐喔~</p>
                    <a href="javascript:;">现在去看看</a>
                </div>
              </div>
             <!--  我的代金券 -->
             <div class="myVoucher change_info hide">
                 <div class="my_voucher hide">
                  <div class="voucher_box">
                    <div class="voucher">
                      <p class="code_text">NX123456</p>
                      <p class="mon_text">抵扣<span>300元</span></p>
                    </div>
                    <div class="voucher voucher_center">
                      <p class="code_text">NX123456</p>
                      <p class="mon_text">抵扣<span>300元</span></p>
                    </div>
                     <div class="voucher">
                      <p class="code_text">NX123456</p>
                      <p class="mon_text">抵扣<span>300元</span></p>
                    </div>
                    <a href="javascript:;" class="to_use">去使用 &gt;</a>
                  </div>
                </div>
                <a href="javascript:;" class="v_toUse">去使用</a>
                 <table>
                  <tr class="pay_frist">
                    <td>编号</td>
                    <td>代金券金额</td>
                    <td>有效期</td>
                    <td>状态</td>
                  </tr>
                   <tr>
                    <td>11111111111111111</td>
                    <td>￥300</td>
                    <td>2016-12-15</td>
                    <td>未使用</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td>2016年12月19日  18：00</td>
                  </tr>
                   <tr>
                    <td>外教同步辅导套餐</td>
                    <td>支付宝</td>
                    <td>123456789</td>
                    <td class="was_use">已使用</td>
                  </tr>
                </table>
                <div class="voucher_use">
                      <p class="v_p_tit">代金券使用说明：</p>
                      <p>1、点击“去使用”按钮，在新打开的购买页中选择需要购买的套餐</p>
                      <p>2、在购物车中提交订单</p>
                      <p>3、在支付页面中选择“使用代金券抵消部分金额”</p>
                      <p>4、输入上面的代金券编号，即可抵扣代金券对应的金额</p>
                </div>
             </div>
              
            </div>
            
          </div>
        </div>
        <!-- 如何上课 -->
        <div class="cls-tab" style="display:none;"></div>
      </div>
    </div>
  </div>
</div>

<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
