<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body  data-init="index">
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls">

  <div class="widthMain">
    <!-- banner -->
  <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="/images/html/b2s/stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
     <div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="/images/html/b2s/com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>
      <div class="cls-main">
        <!-- 近期公开课 -->
        <div class="cls-tab stu-cls">
          <div class="stu-tit">
            <a href="" class="go-back"><span>&lt;</span>返回列表</a>
            <a href="javascript:;" class="do-cls"><i class="tenIcon do-icon"></i>如何上课</a>
          </div>
          <div class="rct-text sed-text">
            <dl>
              <dt><img src="/images/html/b2s/3.jpg" alt=""></dt>
              <dd><span class="tit">疯狂原始人：我们一家住在山洞！</span></dd>
            
              <dd class="center-dd secend2"><span class="sd-tit">上课时间：2015年12月18日&nbsp;&nbsp;&nbsp;&nbsp;18:00-18:50</span></dd>
              <dd class="go-class-box">
                 <a href="javascript:;" class="sd-date load second_load">下载教材</a>
                <span class="go-class">
                <a class="s-yellow " href="javascript:;">去上课</a>
                <!--灰色状态<a class="s-grey" href="javascript:;">去上课</a>--></span>
              </dd>
            </dl>
            <div class="sed-guy">
              <div class="sed-teacher">主讲老师 <span>Pizza:</span></div>
              <div class="sed-guy-lt"><i class="tenIcon guy-icon"></i></div>
              <div class="sed-guy-rt">
                Hello guys, 我是Minty老师，我的名字是“薄荷味儿”的意思，是不是瞬间觉得有清新的感觉呢？我喜欢音乐，喜欢电影。此外呢，我还是个dancer，我觉得用舞蹈表达情感是无比美妙的一件事~Minty也很想在英语的世界里带着大家的思想舞动起来，there is so much fun! 
              </div>
            </div> 
            <div class="sed-guy-cls">
              <ul>
                <li><i></i><span>课程简介：</span></li>
                <li>狮子、斑马、长颈鹿，汽车、机器人、玩具……</li>
                <li>这群可爱逗比的小伙伴全部会说英语而且说得棒棒哒！</li>
                <li>小盆友们，还不快快加入~~</li>
                <li>动画趣配音，带你走进热闹生动的英语世界，跟随Minty老师和角色们大秀英语、玩转配音~~在动画的世界里，没有什么
                不可以！</li>
              </ul>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>