<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body>
<input type="hidden" id="container" data-init="pay"/>
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="chang_color">
      <i class="cls-icon"></i>
      <form name="AC_ordeForm" id="AC_ordeForm" action="" method="post" target="_blank">
          <p class="your_order">您的订单：</p>
          <div class="order">
            <p class="class_payfor"><i class="big_size">外教精品课</i> (32节)—20个VIP/节  <span class="no_price">原价300元</span></p>
            <p class="class_free">
              <i>获赠原价198元小学学科课程</i><span class="no_price">原价0元</span><br>
              <i class="suc_free">(付费成功后关注服务号预约上课)</i>
              
            </p>
            <!-- <p>10节寒假辅导课<span>随时赠送</span></p> -->
          </div>
          <p class="order_total"><span>订单总金额 ：  &nbsp;&nbsp;<span class="order-value">300元</span></span></p>
          <div class="pay_table">
            <div class="three_table">
              <div class="posi_table">
                <span class="first have_bot">第三方支付</span><span>网银支付</span><span>银行汇款</span>
              </div>
            </div>
            <div class="pay_tit">
              <div class="pay_tab third_pay">
                <div class="boxs">
                  <span li_pay="alipay" ></span>
                  <div ><img src="/images/html/b2s/alipay.png" alt=""></div>
                </div>
                <div class="boxs">
                  <span li_pay="weixin"></span>
                  <div><img src="/images/html/b2s/weixin.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="kuaiqian"></span>
                  <div><img src="/images/html/b2s/kuaiqian.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="tenpay"></span>
                  <div><img src="/images/html/b2s/tenpay.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="unionpay"></span>
                  <div><img src="/images/html/b2s/unionpay.png" alt=""></div>
                </div>
              </div>
              <div class="pay_tab bank_pay hide">
                  <div class="boxs">
                    <span li_pay="ICBC"></span>
                    <div><img src="/images/html/b2s/ICBC.png" alt=""></div>
                  </div>
                 <div class="boxs">
                  <span li_pay="ABC"></span>
                  <div><img src="/images/html/b2s/ABC.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="BOC"></span>
                  <div><img src="/images/html/b2s/BOC.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CCB"></span>
                  <div><img src="/images/html/b2s/CCB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="BANKCOMM"></span>
                  <div><img src="/images/html/b2s/BANKCOMM.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CMB"></span>
                  <div><img src="/images/html/b2s/CMB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="SPDB"></span>
                  <div><img src="/images/html/b2s/SPDB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CIB"></span>
                  <div><img src="/images/html/b2s/CIB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="GDB"></span>
                  <div><img src="/images/html/b2s/GDB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="SDB"></span>
                  <div><img src="/images/html/b2s/SDB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CMBC"></span>
                  <div><img src="/images/html/b2s/CMBC.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CITIC"></span>
                  <div><img src="/images/html/b2s/CITIC.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CEBBANK"></span>
                  <div><img src="/images/html/b2s/CEB.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="BOB"></span>
                  <div><img src="/images/html/b2s/BEIJING.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="CNHB"></span>
                  <div><img src="/images/html/b2s/BOHAI.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="HXB"></span>
                  <div><img src="/images/html/b2s/HUAXIA.png" alt=""></div>
                </div>
                 <div class="boxs">
                  <span li_pay="BJRCB"></span>
                  <div><img src="/images/html/b2s/BJRCB.png" alt=""></div>
                </div>
              </div>
              <div class="pay_tab remitt_pay hide">
                 <div class="boxs">
                  <span li_pay="bank"></span>
                  <div><img src="/images/html/b2s/uino.jpg" alt=""></div>
                </div>
              </div>
            </div>
            <div class="pay_bot">
              <!-- <input  type="checkbox" checked="checked" />  -->   
              <span>我已阅读并同意<a href="javascript:;">51talk课程服务协议</a></span>   
              <input type="submit" class="liji_pay" value="立即支付" />
            </div>
          </div>
          <input id="L_pay" name="payMethod" value="" type="hidden" >
      </form>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
<div class="tanceng">
</div>
<div class="center">
    <p class="pay_res">支付结果确认</p>
    <div class="res_text">请您到新打开网银页面上进行支付，支付完成前请不要关闭该窗口。</div>
    <a href="javascript:;" class="problem">付款遇到问题</a><a href="javascript:;" class="pay_done">我已完成支付</a>
    <div class="close"></div>
</div>