<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body class="city-manager">
<input type="hidden" id="container" data-init=""/>
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <a hreef="javascript:;" class="tenIcon h-icon"></a>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>

<script type="text/javascript" src="http://s.51talk.com/js/jquery-1.8.2.min.js"></script>
<link href="http://s.51talk.com/js/jquery.ui/jquery-ui.css" rel="stylesheet" type="text/css">
<script src='http://www.baobeidashi.com/Public/js/baby_master/date/WdatePicker.js' type="text/javascript"></script>
<script src='http://s.51talk.com/js/jquery.ui/jquery-ui.min.js' type="text/javascript"></script>
<script src="http://static.51talk.com/static/js/html/project/b2s/echarts.js"></script>

<!-- 中间内容 -->
<div class="mycls mycls-agent">
  <div class="widthMain">
    <!-- banner -->
    <div class="central">
      <!-- 侧栏 -->
      <div class="cls-side cls-side2">
  <div class="user-info">
      <div class="user-img">
        <img src="/images/html/b2s/city_m_01.png"/>
      </div>
      <p class="user-name">韩梅梅</p>
      <p class="user-level">城市经理</p>
  </div>
  <ul class="tab-box">
    <li class="current-li">
      <i class="i1"></i>
      <span>个人代理商</span>
    </li>
    <li>
      <i class="i2"></i>
      <span>机构代理商</span>
    </li>
    <li>
      <i class="i3"></i>
      <span>数据统计</span>
    </li>
    <li>
      <i class="i4"></i>
      <span>我的信息</span>
    </li>
  </ul>
</div>
       <div class="cls-main">
            <ul class="sub_tab">
                <li class="active"><a onclick="set_active_type('add');ajaxCreateMap(4);" href="javascript:void()">新增人数</a></li>
                <li  style="margin-left:-5px;"><a onclick="set_active_type('total');ajaxCreateMap(4)" href="javascript:void()">累计人数</a></li>
            </ul>
            <div class="agent-list">
                <div class="agent-list-con">
                    <table class="s-data-table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                        <tbody>
                        <thead>
                        <th>
                            <select class="date_length" onchange="ajaxCreateMap(1)">
                                <option value="30" >最近30天</option>
                                <option value="7"  >最近7天</option>
                            </select>
                        </th>
                        <th>
                            <input id="startDate" value="2016-06-06" class="Wdate" type="text" onFocus="var endDate=$dp.$('endDate');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'endDate\')}'})"/>
                            至
                            <input id="endDate" value="2016-07-06" class="Wdate" type="text" onFocus="WdatePicker({onpicked:function() {ajaxCreateMap(2);},minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'#F{$dp.$D(\'startDate\',{M:+2})}'})"/>
                        </th>
                        <th>
                            <select class="agent_select" onchange="ajaxCreateMap(3)">
                                <option value="0">全部代理商</option>
                                                                        <option value="95"  >张馨</option>
                                                                </select>
                        </th>
                        <th>
                            <select class="stat_type" onchange="ajaxCreateMap(5)">
                                                                        <option value="active_num"  >激活数</option>
                                                                        <option value="vip_pay_num"  >VIP付费数</option>
                                                                        <option value="summer_six_pay_num"  >暑假班1V6付费数</option>
                                                                        <option value="refund_num"  >退费数</option>
                                                                </select>
                        </th>
                        </thead>
                        <tr>
                            <td colspan="5">
                                <div id="main" style="width: 800px;height:400px;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="agent-list more_list">
                <div class="agent-list-con clearfix">
                    <table class="s-data-table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                        
                        <thead>
                        <th>
                            明细表
                        </th>
                        <th colspan="2">
                            2016-06-06 至 2016-07-06
                        </th>
                        <th colspan="2">
                        </th>
                        <th>
                            <!-- <input type="button" class="btn" onclick="downloadCSV()" value="下载表格" /> -->
                            <a href="javascript:;" class="down-btn btn" onclick="downloadCSV()">下载表格</a>
                        </th>
                        <tr class="table-head">
                            <th>
                                时间
                            </th>
                            <th>激活数</th>
                            <th>出席数</th>
                            <th>VIP付费数</th>
                            <th>暑假班1V6付费数</th>
                            <th>退费数</th>
                        </tr>
                    </thead>
                    <tbody>
                                                         <tr>
                                <th>
                                   2016-06-06
                               </th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                            </tr>
                                                         <tr>
                                <th>
                                   2016-06-07
                               </th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                            </tr>
                                                         <tr>
                                <th>
                                   2016-06-08
                               </th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                            </tr>
                                                         <tr>
                                <th>
                                   2016-06-09
                               </th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                            </tr>
                                                         <tr>
                                <th>
                                   2016-06-10
                               </th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                            </tr>
                                                         <tr>
                                <th>
                                   2016-06-11
                               </th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                               <th>0</th>
                            </tr>
                                                     </tbody>
                    </table>
                                            <div class="pager">
                                                    <span class="pagenum">1/6</span> 
                                                    <a href="javascript:;" onclick="nextPage(2)" data-page_id=1 class="next-btn"></a>
                                                        <!-- <input type="button" data-page_id=1 class="btn next_btn" onclick="nextPage(2)" value="下一页"/> -->
                                                    <input type="text" class="page_input"/>
                        <input type="button" class="down-btn btn page_redirect" value="跳转" onclick="redirectPage();"/>
                </div>
                <input type="hidden" class="active_type" value="add" />
                <input type="hidden" class="change_type" value="0" />
            </div>
        </div>
    </div>
  </div>
</div>

<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        title: {
//            text: '新增人数-激活数趋势图',
//            left: 'center',
        },
        color:['#DCBE86'],
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLabel : { //坐标轴文本标签
            interval : 6,  //分8段
            formatter : function(value){
                  return value;
               }
            },
            data: ['2016-06-06','2016-06-07','2016-06-08','2016-06-09','2016-06-10','2016-06-11','2016-06-12','2016-06-13','2016-06-14','2016-06-15','2016-06-16','2016-06-17','2016-06-18','2016-06-19','2016-06-20','2016-06-21','2016-06-22','2016-06-23','2016-06-24','2016-06-25','2016-06-26','2016-06-27','2016-06-28','2016-06-29','2016-06-30','2016-07-01','2016-07-02','2016-07-03','2016-07-04','2016-07-05','2016-07-06']
        },
        yAxis: {
            type: 'value',
            name: '(人)',
        },
        tooltip : {
            trigger: 'axis',
            formatter: "{b} / {c}人"
        },
        series: [
            {
                type:'line',
                smooth:true,
                sampling: 'average',
                itemStyle: {
                    normal: {
                        color: '#C99C5C'
                    }
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: '#FEF1E1'
                        }, {
                            offset: 1,
                            color: '#FEF1E1'
                        }])
                    }
                },
                data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    
    function ajaxCreateMap(change_type) {
        var stat_type = $(".stat_type").val();
        var active_type = $('.active_type').val();
        var date_length = $('.date_length').val();
        var start_date = $("#startDate").val();
        if(!$dp.cal) {
            var end_date = $("#endDate").val();
        } else {
            var end_date = $dp.cal.date.y + '-' + $dp.cal.date.M + '-' + $dp.cal.date.d;
        }
        var agent_id = $('.agent_select').val();
        location.href="/cityManager/stat?active_type="+active_type+"&date_length="+date_length+"&start_date="+start_date+"&end_date="+end_date+"&agent_id="+agent_id+"&change_type="+change_type+"&stat_type="+stat_type;
    }
    
    function set_active_type(type){
        $(".active_type").val(type);
    }
    
    function downloadCSV() {
        var active_type = $('.active_type').val();
        var date_length = $('.date_length').val();
        var start_date = $("#startDate").val();
        if(!$dp.cal) {
            var end_date = $("#endDate").val();
        } else {
            var end_date = $dp.cal.date.y + '-' + $dp.cal.date.M + '-' + $dp.cal.date.d;
        }
        var agent_id = $('.agent_select').val();
        var active_type = $('.active_type').val();
        var stat_type = $(".stat_type").val();
        location.href="/cityManager/stat?do=download&active_type="+active_type+"&date_length="+date_length+"&start_date="+start_date+"&end_date="+end_date+"&agent_id="+agent_id+"&stat_type="+stat_type;
    }
    
    function nextPage(page) {
        var active_type = $('.active_type').val();
        var date_length = $('.date_length').val();
        var start_date = $("#startDate").val();
        if(!$dp.cal) {
            var end_date = $("#endDate").val();
        } else {
            var end_date = $dp.cal.date.y + '-' + $dp.cal.date.M + '-' + $dp.cal.date.d;
        }
        var agent_id = $('.agent_select').val();
        var stat_type = $(".stat_type").val();
        location.href="/cityManager/stat?active_type="+active_type+"&date_length="+date_length+"&start_date="+start_date+"&end_date="+end_date+"&agent_id="+agent_id+"&p="+page+"&stat_type="+stat_type;
    }
    
    function redirectPage() {
        var page = $('.page_input').val();
        nextPage(page);
    }
</script>
<script type="text/javascript">
  (function(){
        $('.cls-side').height($(document).height() - 211);
    })();
</script>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>
