<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/b2s/b2s.css">
</head>
<body>
<input type="hidden" id="container" data-init=""/>
<!-- 公共头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="a_color">AC客户端</a> 
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="/images/html/b2s/home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <div class="cls-banner">
  <div class="banner-tit">北京109中学小学试验部</div>
</div>
    <div class="chang_color">
      <i class="cls-icon"></i>
    <div class="suc_pay">
      <p class="suc_pay_text1">恭喜您！支付成功！</p>
     <!--  <p class="suc_pay_cont"><span class="left">购买课程,</span><span class="right">外教同步辅导套餐</span></p>
      <p class="suc_pay_cont"><span class="left">交易时间</span><span class="right">2016/01/09     15:30</span></p>
      <p class="suc_pay_cont"><span class="left">订单金额</span><span class="right">￥300</span></p>
      <p class="suc_pay_cont"><span class="left">支付方式</span><span class="right">支付宝</span></p>
      <p class="suc_pay_cont"><span class="left">交易单号</span><span class="right">991029378190737</span></p> -->
      <!--  <p class="suc_pay_cont">请记得每周都要来上外教同步辅导课哦~</p>
       <p class="suc_pay_cont">祝您学习愉快！</p> -->

      <div class="pay_suc_code">
        <img src="/images/html/b2s/intro.jpg">
      </div>
      <P class="notice_code">关注服务号预约小学学科课程</P>
    </div>
    <div class="pay_order">
      <a href="javascript:;">查看我的订单</a>
    </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<div class="footer">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/b2s/vendor.js"></script>
</html>