<div class="cls-side cls-side2">
  <ul class="side-tit">
      <li class="side-down"><a href="javascript:;"><i class="smlIcon home-page-icon"></i>首页</a></li>
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>外教辅导课</a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>免费外教课</a></li>
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>
  <i class="tenIcon side-icon"></i>
  <div class="com_code">
  	<img src="<%= imagessrc%>com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>