<div class="cls-side cls-side2">
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon nr-icon"></i>必修课<span>（外教VIP精品课）</span></a></li>
      <li><a href="javascript:;"><i class="smlIcon free-icon"></i>选修课</a></li>
      
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li class="side-down js-1v1-choose">
        <a href="javascript:;"><i class="smlIcon class-icon"></i>1对1课程</a>
        <div class="has_choose_pop fx-close">
          <i class="close-r">X</i>
          <p class="text">你还没选中教班，请尽快选班！</p>
          <i href="javacript:;" class="close_c">我知道啦</i>
          <em></em>
        </div>
      </li>
  </ul>
  <div class="line-s"></div>
  <ul class="side-tit menu-list clearfix">
      <li><a href="javascript:;"><i class="smlIcon mess-icon"></i>我的账户</a></li>
      <li><a href="javascript:;"><i class="smlIcon cas-icon"></i>常见问题</a></li>
      <li><a href="javascript:;"><i class="smlIcon cla-icon"></i>我的班级</a></li>
      <li><a href="javascript:;"><i class="smlIcon tea-icon"></i>我的账户</a></li>
  </ul>

  <div class="com_code">
  	<img src="<%= imagessrc%>com_code.jpg" alt="" />
  	<p>关注“51talk中小学英语”</p>
  	<p>获取上课信息</p>
  </div>
</div>