<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <a hreef="javascript:;" class="tenIcon h-icon"></a>
      <b></b>
    </div>
    <div class="hd-rt">
      <a href="javascript:;" class="com-hr-a show-img">微信服务号
        <img src="<%= imagessrc%>home_code.png" />
      </a>
      <b>林徽因</b>
      <a href="javascript:;" class="sign">退出</a> 
    </div>
  </div>
</div>