<div class="cls-side cls-side2">
  <div class="user-info">
      <div class="user-img">
        <img src="<%= imagessrc%>city_m_01.png"/>
      </div>
      <p class="user-name">韩梅梅</p>
      <p class="user-level">城市经理</p>
  </div>
  <ul class="tab-box">
    <li class="current-li">
      <i class="i1"></i>
      <span>个人代理商</span>
    </li>
    <li>
      <i class="i2"></i>
      <span>机构代理商</span>
    </li>
    <li>
      <i class="i3"></i>
      <span>数据统计</span>
    </li>
    <li>
      <i class="i4"></i>
      <span>我的信息</span>
    </li>
  </ul>
</div>