<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>预约完成</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/friend_reg/friend_reg.css">		
</head>
<body>
<section class="fri-reg" data-init="frireg" id="container">
    <article class="fri-ber">
        <img src="/images/wap/friend_reg/fri_ber.jpg" alt="" class="fri-bj">
        <img src="/images/wap/friend_reg/fri_logo.png" alt="" class="fri-img">
    <article class="fri-iframe">
        <form action="doLogin" method="post" id="regForm">
            <input type="text" name="text" class="input" placeholder="请输入手机号" id="user_name"> 
            <input type="password" name="password" class="input" placeholder="设置您的密码" id="password">
        </form>   
    </article>
    <a href="#" class="btn" name="register">注册</a>
    <a href="http://mp.weixin.qq.com/s?__biz=MjM5NTc3OTA2MQ==&mid=207971933&idx=1&sn=0a23561fb159d76872a79a56acb4eb40#rd " class="fri-message">活动规则></a>
</section> 
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/friend_reg/vendor.js" id="seajsnode"></script>
</html>