@import "../common/base.less";
@import "../common/www/w_header.less";
@import "../common/www/w_footer.less";
@imgPathImg: "../../../images/html/american_landing/";

.clearbox{
  margin:0px auto;
  width: 1000px;
}
.ar-icon{
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url('@{imgPathImg}eur_icon.png') center no-repeat;  
}
.ar-nav{
  display: inline-block;
  width: 100%;
  height: 540px;
  background: url('@{imgPathImg}eur_nav.jpg') center no-repeat;
  .lm-btn{
    display: block;
    width: 260px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    background-color: #ffa800;
    text-align: center;
    color: #fff;
    font-size: 30px; 
    border-bottom: 5px #d08e00 solid;
    margin-top:310px;    
  }
}
.tea-team{
  color: #1e1e1e;
  background-color: #fff;
  padding:80px 0;
  text-align: center;
  .list{
    overflow:hidden;
    margin-top: 50px;
    li{
      float: left;
      width: 255px;
      margin:0 20px;
      .tea-img01{
        background-position: 0 0;
      }
      .tea-img02{
        background-position: -150px 0;
      }
      .tea-img03{
        background-position: -300px 0;
      }
      .amr-img01{
        background-position: 0 -150px;
      }
      .amr-img02{
        background-position: -150px -150px;
      }
      .amr-img03{
        background-position: -300px -150px;
      }
      .tt{
        display: block;
        font-size: 24px;
        margin:30px 0 20px 0;
        line-height: 1;
      }
      .word{
        display: block;
        font-size: 14px;
        color: #999;
      }
    }
    .l-secd{
      width: 340px;
    }
  }
  .add-list{
    li{
      width: 288px;
    }
  }
  .amr-btn{
    text-align: center;
    margin-top: 50px;
    .lm-btn{
      display:inline-block;
      width: 280px;
      height: 60px;
      line-height: 60px;
      border-radius: 3px;
      background-color: #ffa800;
      text-align: center;
      color: #fff;
      font-size: 22px; 
    }
  }
}
.auth{
  display: inline-block;
  width: 100%;
  height: 309px;
  background: url('@{imgPathImg}eur_list.jpg') center no-repeat;   
}
.fit{
  display: inline-block;
  width: 100%;
  height: 650px;
  background: url('@{imgPathImg}eur_zy.jpg') center no-repeat; 
}
.bom-btn{
  display: inline-block;
  width: 100%;
  height: 433px;
  background: url('@{imgPathImg}bom_bj.jpg') center no-repeat; 
  margin-top:-3px;
  .lm-btn{
    display:inline-block;
    width: 655px;
    height: 114px; 
    margin:162px 0 0 178px;
  }  
}
.my-tea{
  padding:80px 0;
  background-color: #ebebeb; 
  margin-top:-5px;
  .ts{
    font-size: 48px;
    text-align: center;
    font-family: "宋体";
  } 
  .tea-list{
    overflow: hidden;
    margin-top: 50px;
    li{
      float: left;
      width: 190px;
      height: 320px;
      padding:0 23px;
      background-color: #fff;
      border-radius: 3px;
      text-align: center;
      margin-left: 15px;
      .list-img,.name,.loca,.content{
        display: block;
      }
      .list-img{
        margin-top:30px;
       img{
          border-radius: 50%;
          width: 130px;
          height: 130px;
        }
      }
      .name{
        color: #3b8cd2;
        font-size: 24px;
        margin-top: 5px;
        font-family: "arial";
      } 
      .loca{
        font-size: 14px;
        color: #3b8cd2;
        font-weight: bold;
        font-family: "arial";
      }
      .content{
        margin-top: 15px;
        line-height: 22px;
      }
    }
    .fst{
      margin: 0;
    }
  }
}
