<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/www/www.css">
</head>
<body data-init="index">
<!-- 顶部 -->
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/www//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<!-- 导航 -->
<!-- 导航 -->
<div class="nav">
  <ul class="menu">
    <li class="menu-on"><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">学习理念</a></li>
    <li><a href="javascript:;">青少年英语</a><i class="news"><img src="/images/html/www//index_new.png" alt=""></i></li>
    <li><a href="javascript:;">美国小学课程</a><i class="news ameri"><img src="/images/html/www//flag.png" alt=""></i></li>
    <li><a href="javascript:;">外教师资</a></li>
    <li><a href="javascript:;">上课流程</a></li>
    <li><a href="javascript:;">51Talk学员</a></li>
    <li><a href="javascript:;">免费公开课</a></li>
  </ul>
</div> 
<!-- 图片轮播 -->
<!-- 图片轮播 -->
<div class="play">
  <ul class="pic">
    <li class="first" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
      <img src="/images/html/www//car_img01.jpg" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_shipin.mp4" data-width="" data-height="">
      <img src="http://www.51talk.com/upload/ad/2015101319503682719.png" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_student.mp4" data-width="" data-height="">
      <img src="http://static.51talk.com/images/web_new/home/banner/index.jpg?v=2" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_study_2.flv" data-width="" data-height="">
      <img src="http://static.51talk.com/images/web_new/home/banner/student1.jpg?v=2" alt="" class="p-img" width="1920" height="520">
    </li>
  </ul>
  <ul class="switch">
    <li class="crt"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul> 
  <!-- 切换 -->
  <div class="sign-cha">
    <div class="centerMth">
      <!-- 左右切换 -->
      <div class="change">
        <a href="javascript:;" class="lt"><i></i></a>
        <a href="javascript:;" class="rt"><i></i></a>
      </div>
      <!-- 视频播放 -->
      <div class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
        <a href="javascript:;" class="video"><i></i></a>
      </div>
      <!-- 注册 -->
      <div class="m-main">
        <div class="m-reg">
          <form action="">
            <ul class="m-tab clearfix">
              <li class="crt">注册</li>
              <li>登录</li>
            </ul>
            <ul class="m-ipts">
              <li>
                <dl>
                  <dt class="icon3"></dt>
                  <dd><input class="jsCheck" type="text" name="mobile" placeholder="填写手机号获取免费上课提醒"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
              <li>
                <dl>
                  <dt class="icon2"></dt>
                  <dd><input class="jsCheck" type="password" name="password" placeholder="填写密码"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
              <li>
                <dl>
                  <dt class="icon-user"></dt>
                  <dd><input class="jsCheck" type="text" name="user_name" placeholder="填写邮箱"></dd>
                </dl>
                <div class="u-err">上发送到发送到</div>
              </li>
              <li class="m-referral">
                <p class="referral-code">若您有推荐人/推荐码，请点这里</p>
                <dl>
                  <dt class="icon4"></dt>
                  <dd><input class="jsCheck" type="text" name="mobile" placeholder="推荐人手机号/推荐码/没有不填"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
            </ul>
            <input type="button" class="u-reg-btn jsSubmit" value="免费领取体验课">
            <p class="u-txt">已有超过 <em>5,000,000</em> 名学习者选择51talk</p>
          </form>
        </div>
        <div class="m-log">
          <form action="">
            <ul class="m-tab clearfix">
              <li>注册</li>
              <li class="crt">登录</li>
            </ul>
            <ul class="m-ipts">
              <li>
                <dl>
                  <dt class="icon1"></dt>
                  <dd><input class="jsCheck" type="text" name="user_name" placeholder="已验证手机/邮箱"></dd>
                </dl>
                <div class="u-err">发生的方式发送到</div>
              </li>
              <li>
                <dl>
                  <dt class="icon2"></dt>
                  <dd><input class="jsCheck" type="text" name="password" placeholder="请输入您的密码"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
            </ul>
            <div class="m-safe clearfix">
                    <span class="u-auto">
                        <input id="autoLogin" name="autoLogin" type="checkbox" >
                        <label for="autoLogin">下次自动登录</label>
                    </span>
                    <span class="u-forget">
                        <a href="javascript:;">忘记密码?</a>
                    </span>
                </div>
            <input type="button" class="u-log-btn jsSubmit" value="免费领取体验课">
            <dl class="m-other">
              <dt>可以用以下方式登录</dt>
              <dd class="icon-sina"><a href="javascript:;"></a></dd>
              <dd class="icon-qq"><a href="javascript:;"></a></dd>
            </dl>
          </form>
        </div>
      </div>
      <div class="m-online hide">
        <h2 class="u-hd">
          Hi,song:
        </h2>
        <div class="m-group">
          <p class="u-txt">您已完成 <em class="f-clo">200</em> 节课</p>
          <p class="u-txt">累计说英语 <em class="f-clo">100</em> 小时</p>
          <a href="javascript:;" class="u-btn">预约课程</a>
        </div>
        <div class="m-group">
          <p class="u-txt">剩余次卡： <em class="f-clo">8</em> 次  <em class="f-clo">请购买次卡套餐</em></p>
          <p class="u-txt">剩余包月： <em class="f-clo">0</em> 天  <em class="f-clo">请购买次卡套餐</em></p>
          <a href="javascript:;" class="u-btn">购买课程</a>
        </div>
        <div class="u-ft">
          <a href="javascript:;" class="u-btn-2">进入我的会员中心</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="notice-mast-box">
  <div class="m-notice">
    <h3 class="notice-tit">系统通知</h3>
    <div class="notice-inner">
      <p>该手机号码已存在，请直接登录，或使用其他号码注册。</p>
      <ul class="notice-sub">
        <li class="sub-left">换个号码注册</li>
        <li>登录</li>
      </ul>
    </div>
  </div>
  <div class="notice-mask"></div>
</div>
<!-- 成人开始 -->
<div class="adult">
  <div class="at-nav">
    <ul class="centerMth">
      <li class="on">成人英语课程</li>
      <li><a href="w_youth.html">青少英语课程</a></li>
    </ul>
  </div>
  <div class="at-main">
    <div class="centerMth add-adult-top">
      <h3><img src="/images/html/www/add-part1.png" alt=""></h3>
      <p>51Talk独有16级英语考评体系，籍此，我们可以为你，<br>
为每一名学员提供更有针对性的定制化教学。<br>
同时，精准的考评使你的成长清晰可量化，<br>
更有助于燃起你学习的动力与激情。</p>
      <div class="tz-img"><img src="/images/html/www/ten_z_img01.png" alt=""></div>
      <div class="tz-an"><a href="javascript:;" class="tz-btn">现在就来体验</a></div>
    </div>
    <div class="add-set-class">
      <div class="centerMth t-xq">
        <div class="t-lt">
          <p class="t-img"><img src="/images/html/www/ten_rt_tit.png" alt=""></p>
          <p class="t-word t-word1">在51Talk，专业的课程教研团队为学员精心设计了系统化提升、丰富多元，同时又能够满足学员个性化需求的课程。</p>
          <p class="t-word">除了系统性地学习适合自己英语水平的“经典英语”主修课程之外，您还可以根据自己的实际需求，选择“商务”、“雅思”、“面试口语”等专业课程。另外，学习不该是件枯燥的事儿，快来和外教一起聊一聊新一季“破产姐妹”里的故事吧！</p>
        </div>
        <div class="t-rt"><img src="/images/html/www/ten_rt.png" alt=""></div>
      </div>
    </div>
    <div class="z-class">
      <div class="centerMth">
        <div class="z-class-img">
          <div class="z-lt"><img src="/images/html/www/ten_z.jpg" alt=""></div>
          <div class="z-rt">
            <img src="/images/html/www//ten_z_tit.png" alt="">
            <p class="z-word">超过80%的学员选择的51Talk经典英语，帮你有效提升英语综合应用能力！无论为了满足日常沟通，还是工作和职业发展；无论你处于英语学习的哪个阶段，51Talk都有信心帮你达成目标。
            </p>
            <p class="z-word z-word1">来自全球的拥有超过10年教学经验的专业教研团队，依照欧洲语言现代教学大纲(CEFR)，花费超过500小时以上精心打造的更适合中国英语学习者的课程体系，听说读写全面覆盖的教学内容，实用而有趣的教材设计针对不同阶段学员水平，从零基础入门到精通的16个级别的英语晋升阶梯，正在等待你的攀升!</p>
            <a href="javascript:;" class="t-js">详情介绍 ></a>
          </div>
        </div>
        <div class="z-class-video">
          <ul class="z-vido-list">
            <li class="z-vido-one">
              <img src="/images/html/www/video_bg.jpg" alt="">
              <div class="video_play">
                <a href="javascript:;" class="video"><i></i></a>
              </div>
            </li>
            <li>
              <img src="/images/html/www/video_bg.jpg" alt="">
              <div class="video_play">
                <a href="javascript:;" class="video"><i></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>  
    </div>
    <div class="y_major">
      <div class="major_cont">
        <h3 class="youth_tit"><img src="/images/html/www/y_top2.png" alt=""></h3>
        <ul class="major_list">
          <li>
            <a href="#"><img src="/images/html/www/y_top2_4.jpg" alt=""></a>
            <h3><a href="http://baidu.com" target="_blank">详情介绍></a></h3>
          </li>
          <li>
            <a href="#"><img src="/images/html/www/y_top2_5.jpg" alt=""></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
          <li>
            <a href="#"><img src="/images/html/www/y_top2_2.jpg" alt=""></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
          <li>
            <a href="#"><img src="/images/html/www/y_top2_3.jpg" alt=""></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
          <li class="mr0">
            <a href="#"><img src="/images/html/www/y_top2_1.jpg" alt=""></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
        </ul>
        <div class="tz-an"><a href="javascript:;" class="tz-btn">现在就来体验</a></div>
      </div>
    </div>
    <div class="y_selective">
      <div class="selective_cont">
        <h3 class="youth_tit"><img src="/images/html/www/y_top3.png" alt=""></h3>
        <ul class="selective_list">
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp0"></span>
              <h3>生活口语</h3>
              <p>Daily English</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp1"></span>
              <h3>综合英语</h3>
              <p>Comprehensive English</p>
            </a>
          </li>
          <li>
            <a  class="selective_img_b">
              <span href="#" class="selective_img y_bgp2"></span>
              <h3>自由会话</h3>
              <p>Freetalk</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp3"></span>
              <h3>旅游英语</h3>
              <p>Travel English</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp4"></span>
              <h3>看漫画说英语</h3>
              <p>Cartoon English</p>
            </a>
          </li>
        </ul>
        <ul class="selective_list">
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp5"></span>
              <h3>英语习语会话</h3>
              <p>Idioms Conversation</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp6"></span>
              <h3>学唱英文歌</h3>
              <p>English Songs</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp7"></span>
              <h3>美剧进行时</h3>
              <p>TV Shows</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp8"></span>
              <h3>热点聚焦</h3>
              <p>English News</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b selective_img_hover">
              <span href="#" class="selective_img y_bgp9"></span>
              <h3>敬请期待</h3>
              <p>Coming soon</p>
            </a>
          </li>
        </ul>
        <div class="tz-an tz-an1"><a href="javascript:;" class="tz-btn tz-btn-blue">现在就来体验</a></div>
      </div>
    </div>
    <div class="y_select_img openClass">
      <div class="centerMth p-jc centerMth-pb">
        <p class="p-tit"><img src="/images/html/www/ten_t_tit.png" alt=""></p>
        <img src="/images/html/www//ten_z_img02.png" alt="" usemap="#a_level_r1" name="level_r1"> 
        <map name="a_level_r1" class="usemap">
          <area shape="poly" coords="0,260,1000,260,1000,300,0,300,0,260" href="javascript:;" target="_blank" alt="新概念英语" data-tips="新概念英语" title="新概念英语">
          <area shape="poly" coords="0,330,1000,330,1000,370,0,370,0,330" href="javascript:;" target="_blank" alt="体验商务英语教程" data-tips="体验商务英语教程" title="体验商务英语教程">
          <area shape="poly" coords="0,371,1000,371,1000,411,0,411,0,371" href="javascript:;" target="_blank" alt="商务会话" data-tips="商务会话" title="商务会话">
          <area shape="poly" coords="0,412,1000,412,1000,452,0,452,0,412" href="javascript:;" target="_blank" alt="面试英语" data-tips="面试英语" title="面试英语">
          <area shape="poly" coords="0,482,1000,482,1000,522,0,522,0,482" href="javascript:;" target="_blank" alt="雅思口语" data-tips="雅思口语" title="雅思口语">
          <area shape="poly" coords="0,523,1000,523,1000,563,0,563,0,523" href="javascript:;" target="_blank" alt="新托福口语" data-tips="新托福口语" title="新托福口语">
          <area shape="poly" coords="0,593,1000,593,1000,633,0,633,0,593" href="javascript:;" target="_blank" alt="自由会话" data-tips="自由会话" title="自由会话">
          <area shape="poly" coords="0,634,1000,634,1000,674,0,674,0,634" href="javascript:;" target="_blank" alt="学唱英文歌" data-tips="学唱英文歌" title="学唱英文歌">
          <area shape="poly" coords="0,675,1000,675,1000,715,0,715,0,675" href="javascript:;" target="_blank" alt="生活口语" data-tips="生活口语" title="生活口语">
          <area shape="poly" coords="0,716,1000,716,1000,756,0,756,0,716" href="javascript:;" target="_blank" alt="文化话题英语" data-tips="文化话题英语" title="文化话题英语">
          <area shape="poly" coords="0,757,1000,757,1000,797,0,797,0,757" href="javascript:;" target="_blank" alt="英语习题" data-tips="英语习题" title="英语习题">
          <area shape="poly" coords="0,799,1000,799,1000,839,0,839,0,799" href="javascript:;" target="_blank" alt="时事英语" data-tips="时事英语" title="时事英语">
          <area shape="poly" coords="0,840,1000,840,1000,880,0,880,0,840" href="javascript:;" target="_blank" alt="看漫画说英语" data-tips="看漫画说英语" title="看漫画说英语">
          <area shape="poly" coords="0,881,1000,881,1000,921,0,921,0,881" href="javascript:;" target="_blank" alt="旅游英语" data-tips="旅游英语" title="旅游英语">
          <area shape="poly" coords="0,922,1000,922,1000,962,0,962,0,922" href="javascript:;" target="_blank" alt="美剧进行时" data-tips="美剧进行时" title="美剧进行时">
        </map>
      </div>
    </div>
  </div>
</div>
<!-- 成人结束 -->
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<!-- 官网突出公开课宣传 -->
<div class="ml_mask"></div>
<div class="mk_mask"> 
  <div class="mk_contain">
      <dl class="mk_adult mk-module">
      <a href="http://www.baidu.com" target="_blank" style="display:block;">
        <dt>
           <img src="../../../../images/html/www/ml_adult.jpg" alt=""> 
        </dt>
        <dd>
           <p><span>成人公开课</span></p>
           <p>海量英语学习干货</p>
           <p>实用口语、应试、兴趣应有尽有</p>
           <p>名师外教，全天授课</p>
           <em>免费预约</em>
        </dd>
        </a>
      </dl>
      
      <div class="mk_border"></div>
      <dl class="mk_junior mk-module">
       <a href="http://www.baidu.com" target="_blank" style="display:block;">
          <dt>
             <img src="../../../../images/html/www/ml_junior.jpg" alt=""> 
          </dt>
          <dd>
             <p><span>青少公开课</span></p>
             <p>绘本课程，有趣、启迪</p>
             <p>有亲和力、有爱心的老师</p>
             <p>培养英语学习兴趣</p>
             <em>免费预约</em>
          </dd>
        </a>
      </dl>
      <div class="mk_close">
        <img src="../../../../images/html/www/ml_close.png" alt=""> 
      </div>
  </div>
</div>
<!-- 官网突出公开课宣传结束 -->
<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<script src="/js/html/project/www/vendor.js"></script>
</body>
