<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <style type="text/css">
  </style>
  <link rel="stylesheet" type="text/css" href="/css/html/www/www.css">
</head>
<body data-init="index_old" id="container">
<!-- 顶部 -->
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/www//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<!-- 导航 -->
<!-- 导航 -->
<div class="nav">
  <ul class="menu menu_adult">
    <li class="menu-on"><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">学习理念</a></li>
    <li><a href="javascript:;">课程体系</a></li>
    <li><a href="javascript:;">青少年英语</a><i class="news"><img src="/images/html/www//index_new.png" alt=""></i></li>
    <li><a href="javascript:;">外教师资</a></li>
    <li><a href="javascript:;">上课流程</a></li>
    <li><a href="javascript:;">51Talk学员</a></li>
    <li><a href="javascript:;">企业培训</a></li>
    <li><a href="javascript:;">免费公开课</a></li>
  </ul>
</div>
<!-- 图片轮播 -->
<!-- 图片轮播 -->
<div class="play">
  <ul class="pic">
    <li class="first" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
      <img src="/images/html/www//car_img01.jpg" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_shipin.mp4" data-width="" data-height="">
      <img src="http://www.51talk.com/upload/ad/2015101319503682719.png" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_student.mp4" data-width="" data-height="">
      <img src="http://static.51talk.com/images/web_new/home/banner/index.jpg?v=2" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_study_2.flv" data-width="" data-height="">
      <img src="http://static.51talk.com/images/web_new/home/banner/student1.jpg?v=2" alt="" class="p-img" width="1920" height="520">
    </li>
  </ul>
  <ul class="switch">
    <li class="crt"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul> 
  <!-- 切换 -->
  <div class="sign-cha">
    <div class="centerMth">
      <!-- 左右切换 -->
      <div class="change">
        <a href="javascript:;" class="lt"><i></i></a>
        <a href="javascript:;" class="rt"><i></i></a>
      </div>
      <!-- 视频播放 -->
      <div class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
        <a href="javascript:;" class="video"><i></i></a>
      </div>
      <!-- 注册 -->
      <div class="m-main">
        <div class="m-reg">
          <form action="">
            <ul class="m-tab clearfix">
              <li class="crt">注册</li>
              <li>登录</li>
            </ul>
            <ul class="m-ipts">
              <li>
                <dl>
                  <dt class="icon3"></dt>
                  <dd><input class="jsCheck" type="text" name="mobile" placeholder="填写手机号获取免费上课提醒" autocomplete="removemobile"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
              <li>
                <dl>
                  <dt class="icon2"></dt>
                  <dd><input class="jsCheck" type="password" name="password" placeholder="填写密码" autocomplete="removepassword"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
              <li>
                <dl>
                  <dt class="icon-user"></dt>
                  <dd><input class="jsEmpty jsCheck" type="text" name="user_name" placeholder="填写邮箱" autocomplete="removeemail"></dd>
                </dl>
                <div class="u-err">上发送到发送到</div>
              </li>
              <li class="m-referral">
                <p class="referral-code">若您有推荐人/推荐码，请点这里</p>
                <dl>
                  <dt class="icon4"></dt>
                  <dd><input  type="text" name="recommen_mobile" placeholder="推荐人手机号/推荐码/没有不填"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
            </ul>
            <input type="button" class="u-reg-btn jsSubmit" value="免费领取体验课">
            <p class="u-txt">已有超过 <em>5,000,000</em> 名学习者选择51talk</p>
          </form>
        </div>
        <div class="m-log">
          <form action="">
            <ul class="m-tab clearfix">
              <li>注册</li>
              <li class="crt">登录</li>
            </ul>
            <ul class="m-ipts">
              <li>
                <dl>
                  <dt class="icon1"></dt>
                  <dd><input class="jsCheck" type="text" name="user_name" placeholder="已验证手机/邮箱"></dd>
                </dl>
                <div class="u-err">发生的方式发送到</div>
              </li>
              <li>
                <dl>
                  <dt class="icon2"></dt>
                  <dd><input class="jsCheck" type="text" name="password" placeholder="请输入您的密码"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
            </ul>
            <div class="m-safe clearfix">
                    <span class="u-auto">
                        <input id="autoLogin" name="autoLogin" type="checkbox" >
                        <label for="autoLogin">下次自动登录</label>
                    </span>
                    <span class="u-forget">
                        <a href="javascript:;">忘记密码?</a>
                    </span>
                </div>
            <input type="button" class="u-log-btn jsSubmit" value="免费领取体验课">
            <dl class="m-other">
              <dt>可以用以下方式登录</dt>
              <dd class="icon-sina"><a href="javascript:;"></a></dd>
              <dd class="icon-qq"><a href="javascript:;"></a></dd>
            </dl>
          </form>
        </div>
      </div>
      <div class="m-online hide">
        <h2 class="u-hd">
          Hi,song:
        </h2>
        <div class="m-group">
          <p class="u-txt">您已完成 <em class="f-clo">200</em> 节课</p>
          <p class="u-txt">累计说英语 <em class="f-clo">100</em> 小时</p>
          <a href="javascript:;" class="u-btn">预约课程</a>
        </div>
        <div class="m-group">
          <p class="u-txt">剩余次卡： <em class="f-clo">8</em> 次  <em class="f-clo">请购买次卡套餐</em></p>
          <p class="u-txt">剩余包月： <em class="f-clo">0</em> 天  <em class="f-clo">请购买次卡套餐</em></p>
          <a href="javascript:;" class="u-btn">购买课程</a>
        </div>
        <div class="u-ft">
          <a href="javascript:;" class="u-btn-2">进入我的会员中心</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="notice-mast-box">
  <div class="m-notice">
    <h3 class="notice-tit">系统通知</h3>
    <div class="notice-inner">
      <p>该手机号码已存在，请直接登录，或使用其他号码注册。</p>
      <ul class="notice-sub">
        <li class="sub-left">换个号码注册</li>
        <li>登录</li>
      </ul>
    </div>
  </div>
  <div class="notice-mask"></div>
</div>
<div class="home-page">
	<!-- 推荐 -->
	<div class="tip">
		<ul class="tip-list">
			<li>
				<a href="javascript:;"><img src="/images/html/www/index_tea01.jpg" alt=""></a>
				<h3>8000多名外教任您选</h3>
				<p>全英文外教授课，提供沉浸式的学习环境，更快建立英文思维，培养用英文沟通交流的自信。</p>
			</li>
			<li>
				<a href="javascript:;"><img src="/images/html/www/index_tea02.jpg" alt=""></a>
				<h3>25分钟的高频学习</h3>
				<p>每节课25分钟，随时随地把您的碎片时间利用起来。高频练习，容易坚持—当然更见效果！</p>
			</li>
			<li>
				<a href="javascript:;"><img src="/images/html/www/index_tea03.jpg" alt=""></a>
				<h3>前所未有的强互动学习</h3>
				<p>告别懒散无用的大班，外教将以全部的专注力与您互动练习，确保您有超过一半的开口时间，快速建立英语语感。</p>
			</li>
			<li>
				<a href="javascript:;"><img src="/images/html/www/index_tea04.jpg" alt=""></a>
				<h3>每节课低至15元</h3>
				<p>花几万块学一门语言的时代已成历史。51Talk以低至15元/课的价格宣告，每个人都有学好英语的平等权利。</p>
			</li>
		</ul>
	</div>
	<!-- 广告图 --> 
	<div class="adt">
		<div class="lt"><a href="javascript:;"><i class="lt-img"></i></a></div>
		<div class="rt"><a href="javascript:;"><i class="lt-img"></i></a></div>
	</div>
	<!-- 推荐51talk -->
	<div class="talk">
		
		<h3 class="t-h3"><img src="/images/html/www/index_tit01.png" alt=""></h3>
		<ul class="talk-list">
			<li class="icon-lina hover"><div class="u-mask"></div></li>
			<li class="icon-lj"><div class="u-mask"></div></li>
			<!-- <li class="icon-lxp"><div class="u-mask"></div></li> -->
		</ul>	
	</div>
	<!-- 在线学英语 -->
	<div class="tab-step talk openClass">
		<h3 class="t-h3"><img src="/images/html/www/index_tit02.png" alt=""></h3>
		<p class="tab-p"><a href="javascript:;">了解51Talk学员是怎样上课的？ ></a></p>
		<ul class="step-list">
			<li class="frist">
				<h3 class="r-h3">会员登录</h3>
				<a href="javascript:;" class="logo">现在登录</a>
				<a href="javascript:;" class="order">还不是会员？马上来注册吧 ></a>			
			</li>	
			<li class="second">
				<h3 class="r-h3">自选外教预约课时</h3>
				<img src="/images/html/www/index_opt_amr.png" alt="">
				<ul class="tab-word">
					<li>任选老师</li>
					<li>选定时间</li>
					<li>任选教材</li>
				</ul>
			</li>
			<li class="third">
				<h3 class="r-h3">准备好电脑/耳机或手机，准时上课</h3>
				<a href="javascript:;" class="computer"><img src="/images/html/www/index_opt_computer.png" alt=""></a>
				<a href="javascript:;" class="iphone"><img src="/images/html/www/index_opt_iphone.png" alt=""></a>
				<p>电脑、手机随时随地都能上课</p>
			</li>
		</ul>	
	</div>
	<!-- 51talk学习 -->
	<div class="talk student">
		<h3 class="t-h3"><img src="/images/html/www/index_tit03.png" alt=""></h3>
		<p class="tab-p"><a href="javascript:;">更多学员的学习故事 ></a></p>
		<ul class="stu-list">
			<li>
				<a href="javascript:;">
					<img src="/images/html/www/index_51img01.jpg" alt="">
					<p class="u-p">Amy 刘云</p>
					<span class="u-span">北京科技大学硕士</span>
					<span class="u-span">51Talk学习1年</span>
					<span class="u-span u-tit">顺利考过雅思，出国留学</span>
					<span class="ul-txt">
		          <p>毕业季，为了守护甜蜜爱情， Amy选择和男友一起出国留学。每天25分钟的外教1对1课程，让她勇敢开口说，建立了对英语的自信。以前四级都是踩线过的她，轻松战胜雅思，顺利出国深造。</p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="/images/html/www/index_51img02.jpg" alt="">
					<p class="u-p">Joanna 张子周</p>
					<span class="u-span">可爱混血“小芭比”</span>
					<span class="u-span">51Talk学习4年</span>
					<span class="u-span u-tit">学英语和看动画片一样好玩</span>
					<span class="ul-txt">
		          <p>虽然是混血，周周却是讲着一口流利的“京片子”。爸爸妈妈常常出差国外，周周姥爷曾经试过无数的高价英语班都以失败告终。不想，51Talk让她每天都开心地和外教讲英语故事，把学英语当成和看动画片一样有趣的事儿。</p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="/images/html/www/index_51img03.jpg" alt="">
					<p class="u-p">Gary 张诚斌</p>
					<span class="u-span">北大MEM IT运营管理</span>
					<span class="u-span">51Talk学习2年</span>
					<span class="u-span u-tit">英语让他拥有新的人生机遇</span>
					<span class="ul-txt">
		          <p>初为人父、工作忙碌、买菜做饭、健身锻炼……而为了职业提升，他来到51Talk学英语，除了性价比，看重的就是可以随时随地上课，经过2年多的学习，他已经和外国同事轻松地用英语交流。生活正如他所说：不是看到希望才坚持，而是坚持了才会看到希望！</p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="/images/html/www/index_51img04.jpg" alt="">
					<p class="u-p">Lily 蔡旭</p>
					<span class="u-span">外企漂亮妈妈</span>
					<span class="u-span">51Talk学习2年</span>
					<span class="u-span u-tit">英语对她而言就是机会</span>
					<span class="ul-txt">
		          <p>曾经，她是一名英语老师，如今身在外企，英语用起来还是很费劲。她说：老师上课，用一种方法对应所有学生。现在51Talk用外教1对1，把我们以前做不到的事情都给完成了！现在51Talk给了我更多工作，学习和体验生活的机会。
		          </p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="/images/html/www/index_51img05.jpg" alt="">
					<p class="u-p">Judy 毛春玲</p>
					<span class="u-span">宜家管理人员</span>
					<span class="u-span">51Talk学习2年</span>
					<span class="u-span u-tit">她找到那种张嘴说的自信</span>
					<span class="ul-txt">
		          <p>一直在外企，她却一直不会说英语，在51Talk学习的丈夫给她报了名。渐渐，午休、堵车等都成了她的上课时间……外教随时帮她纠错，也让她越来越自信表达。语言的本质正如她所言：“最主要是把自己表达清楚，让对方明白。沟通嘛！”</p>
		      </span>
		    </a>
			</li>
		</ul>
	</div>
	<!-- 立即注册 -->
	<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
	<!-- 企业荣誉 -->
	<div class="honor">
		<div class="centerMth">
			<ul class="hon-ul">
				<li class="enter hon-on"><a href="javascript:;">媒体报道</a></li>
				<li><a href="javascript:;">企业荣誉</a></li>
			</ul>
			<div class="hon-en">
				<ul class="hon-list hon-li">
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_cctv2.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_cctv.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_ifeng.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_qq.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_sina.jpg" alt=""></a>
					</li>
				</ul>
				<p class="more"><a href="javascript:;">查看更多媒体报道></a></p>
			</div>
			<div class="hon-en hide">
				<ul class="hon-list">
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_deqin.png" alt=""></a>
						<span>德勤高科技高成长<br>中国50强</span>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_daily.png" alt=""></a>
						<span>2014最具成长性教育品牌<br>中国日报</span>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_netease.png" alt=""></a>
						<span>最具影响力在线教育品牌<br>网易</span>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_51sina.png" alt=""></a>
						<span>年度最具成长力品牌<br>新京报</span>
					</li>
					<li>
						<a href="javascript:;"><img src="/images/html/www/fot_brand.png" alt=""></a>
						<span>最具品牌知名度外语教育机构<br>新浪网</span>
					</li>
				</ul>
				<p class="more"><a href="javascript:;">查看更多></a></p>	
			</div>
		</div>
	</div>
	<!-- 合作企业 -->
	<div class="cooper">
		<div class="centerMth">
			<h3 class="cop-h3">合作企业</h3>
			<ul class="cop-ul">
				<li><a href="javascript:;"><img src="/images/html/www/fot_xiaomi.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/html/www/fot_jd.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/html/www/fot_bank.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/html/www/fot_sony.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="/images/html/www/fot_state.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- 官网区分成人青少弹窗 -->
<div class="adult-junior-popup">
	<div class="popup-content">
		<h3 class="title">请选择适合您的课程</h3>
		<div class="options">
			<ul class="clearfix">
				<li class="adult">
					<a href="javascript:void(0)" class="adult-button">成人英语</a>
				</li>
				<li class="junior">
					<a href="http://junior.51talk.com/" class="junior-button" target="_blank">青少年英语</a>
				</li>			
			</ul>
		</div>
		<span class="popup-close"></span>
	</div>
	<div class="popup-mask"></div>
</div>
<!-- 官网突出公开课宣传 -->
<!-- 官网突出公开课宣传 -->
<div class="ml_mask"></div>
<div class="mk_mask"> 
  <div class="mk_contain">
      <dl class="mk_adult mk-module">
      <a href="http://www.baidu.com" target="_blank" style="display:block;">
        <dt>
           <img src="../../../../images/html/www/ml_adult.jpg" alt=""> 
        </dt>
        <dd>
           <p><span>成人公开课</span></p>
           <p>海量英语学习干货</p>
           <p>实用口语、应试、兴趣应有尽有</p>
           <p>名师外教，全天授课</p>
           <em>免费预约</em>
        </dd>
        </a>
      </dl>
      
      <div class="mk_border"></div>
      <dl class="mk_junior mk-module">
       <a href="http://www.baidu.com" target="_blank" style="display:block;">
          <dt>
             <img src="../../../../images/html/www/ml_junior.jpg" alt=""> 
          </dt>
          <dd>
             <p><span>青少公开课</span></p>
             <p>绘本课程，有趣、启迪</p>
             <p>有亲和力、有爱心的老师</p>
             <p>培养英语学习兴趣</p>
             <em>免费预约</em>
          </dd>
        </a>
      </dl>
      <div class="mk_close">
        <img src="../../../../images/html/www/ml_close.png" alt=""> 
      </div>
  </div>
</div>
<!-- 官网突出公开课宣传结束 -->
<!-- 官网右上角增加AC下载 -->
<!-- 官网右上角增加AC下载 -->
<div class="w_acload">
    <a href="javascript:;"><img src="/images/html/www/down_AC.png" alt=""></a>
</div>
<!-- 官网右上角增加AC下载结束 -->
<!-- 首页右侧 在线客服+微信 -->
<!-- 官网首页右侧 在线咨询+官方微信 -->
<!-- 引入在线聊天插件 -->
<script src="/index/ntalker.php"></script>
<div class="m-ntkf-box">
    <ul class="m-ntkf">
        <li class="u-l-ntkf"></li>
        <li class="u-b-ntkf" onclick="NTKF.im_openInPageChat()"></li>
    </ul>
    <ul class="m-wx">
        <li class="u-l-wx"></li>
        <!-- 成人二维码 -->
        <li class="u-b-wx-adult"></li>
        <!-- 青少二维码 -->
        <!-- <li class="u-b-wx-youth"></li> -->
    </ul>
    
    <ul class="m-wx">
        <li class="u-l-wx u-l-wx2"></li>
        <!-- 手机端二维码 -->
        <li class="u-b-wx-adult u-b-wx-phone" id="open_download"></li>
    </ul>
    <a id="double11" href="#"><img src="/images/html/www/double11-btn.png"></a>
</div>
<!-- 尾部 -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<!-- 上线后替换路径 -->


<!-- <script src="http://static.51talk.com/static/js/html/lib/jquery-1.8.2.min.js"></script>
<script src="http://static.51talk.com/static/js/html/lib/ckplayer/ckplayer.min.js"></script> -->
<script src="http://static.51talk.com/js/jquery.min.js?v=1439877955695"></script>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
</body>
<script src="/js/html/project/www/vendor.js"></script>
</html>
