<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/www/www.css">
</head>
<body data-init="index_jobs" class="jb_jobs" id="container">
<!-- 顶部 -->
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/www//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<!-- 导航 -->
<!-- 导航 -->
<div class="nav">
  <ul class="menu">
    <li class="menu-on"><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">学习理念</a></li>
    <li><a href="javascript:;">青少年英语</a><i class="news"><img src="/images/html/www//index_new.png" alt=""></i></li>
    <li><a href="javascript:;">美国小学课程</a><i class="news ameri"><img src="/images/html/www//flag.png" alt=""></i></li>
    <li><a href="javascript:;">外教师资</a></li>
    <li><a href="javascript:;">上课流程</a></li>
    <li><a href="javascript:;">51Talk学员</a></li>
    <li><a href="javascript:;">免费公开课</a></li>
  </ul>
</div> 
<!-- 图片轮播 -->
<div class="jb_banner"></div>
<!-- 开始 -->
<div class="jb_only"></div>
<div class="jb_advantage"></div>
<div class="jb_ways">
  <div class="jb_tit">
    <img src="/images/html/www/jb_ways.png" alt="" />
  </div>
  <a href="javascript:;" class="jb_certi" target="_blank">
    <img src="/images/html/www/jb_certi.png" alt="" />
  </a>
  <a href="javascript:;" class="jb_getFree" target="_blank">
    <img src="/images/html/www/jb_getFree.png" alt="" />
  </a>
</div>
<!-- liepin结束 -->
<!-- 尾部 -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
    </p>
  </div>
</div>
<div class="jb_mask" style="display:none"></div>
  <!-- 提示登录弹窗 -->
  <div class="jb_login jb_login01" style="display:none">
      <div class="jb_header">温馨提示</div>
      <p>您当前未登录，请先登录或注册。</p>
      <a  class="btn_login" href="javascript:;" style="display:">登录或注册</a>
      <div class="jb_border"></div>
  </div>
  <!-- 提示认证弹窗 -->
  <div class="jb_login jb_getTest" style="display:none">
      <div class="jb_header">温馨提示</div>
      <p>您尚未获得51Talk英语水平认证，请先</p>
      <p>领取免费测评课，获得水平认证后再同步。</p>
      <a  class="btn_login" href="javascript:;" style="display:none">领取</a>
      <div class="jb_border"></div>
  </div>
  <!-- 提示同步弹窗 -->
  <div class="jb_login jb_getFreeClass" style="display:none">
      <div class="jb_header">温馨提示</div>
      <p>您已经获得51Talk英语水平认证，请直接同步。</p>
      <a  class="btn_login" href="javascript:;" style="display:none">同步</a>
      <div class="jb_border"></div>
  </div>
<script src="/js/html/project/www/vendor.js"></script>  
</body>
</html>
