<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="/css/html/www/www.css">
</head>
<body id="container" data-init="nceIntroduce">
<!-- 顶部 -->
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/www//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<!-- 导航 -->
<!-- 导航 -->
<div class="nav">
  <ul class="menu">
    <li class="menu-on"><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">学习理念</a></li>
    <li><a href="javascript:;">青少年英语</a><i class="news"><img src="/images/html/www//index_new.png" alt=""></i></li>
    <li><a href="javascript:;">美国小学课程</a><i class="news ameri"><img src="/images/html/www//flag.png" alt=""></i></li>
    <li><a href="javascript:;">外教师资</a></li>
    <li><a href="javascript:;">上课流程</a></li>
    <li><a href="javascript:;">51Talk学员</a></li>
    <li><a href="javascript:;">免费公开课</a></li>
  </ul>
</div> 
<div class="ce-class-box">
	<div class="ce-int-box nce-bg-color">
		<div class="ce-int clearf">
			<div class="ce-int-img nce-xd-img"></div>
			<div class="ce-int-t">
				<h1>青少全能新概念1册（1-36课）</h1>
				<p><span>课程简介：</span>青少全能新概念是一门为有小升初、中考需求的学员，把经典新概念进行科学模块化拆分，提取精华，通过外教一对一的上课形式，对词汇，语法，篇章及听说逐层讲解，配套历年真题练习，提高中小学学员听，说，读，写能力的同时轻松应对考试的综合性培优课程。第一册共分4个阶段，1-36课是青少全能新概念学习的第一阶段，是英语学习的敲门砖。学员在本阶段将掌握词汇基本发音及含义，运用基本交际句型描述正在发生的事情。</p>
				<div class="class-set">课程设置：<span>第一阶段（1-36课），4课时/课，共72课时</span></div>
				<div class="class-set">授课模式：<span>外教1对1教授自主研发的新概念</span></div>
				<a class="buy-btn">现在免费体验</a>
			</div>
		</div>
	</div>
	<div class="class-tx">
		<h2>课程体系</h2>
		<p class="text01">此册共分为4个阶段，每阶段对学员提出不同要求。第一阶段结束后，学员能掌握至少375个词汇，18个语法点以及18篇篇章，并能用基本句型轻松描述现在正在发生的事情。</p>
		<div class="img-box nce_xd_tx openClass">
			<div class="nce-text">
				<p>适合学员：8-9岁已经具备一定英语基础的学员；</p>
				<p class="text03">想系统学习语法，提高成绩的学员。</p>
			</div>
		</div>
	</div>
	<div class="class-ts nce-bg-color">
		<h2>课程特色</h2>
		<div class="nce-class-ts-box">
			<div class="class-ts-img" id="classImg">
				<div class="current-b"><img src="/images/html/www/nce01.jpg"/></div>
				<div><img src="/images/html/www/nce02.jpg"/></div>
				<div><img src="/images/html/www/nce03.jpg"/></div>
				<div><img src="/images/html/www/nce04.jpg"/></div>
				<div><img src="/images/html/www/nce05.jpg"/></div>
			</div>
			<div class="class-small-img" id="classIcon">
				<span class="current-i"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<span class="left-arrow" id="lArrowBtn"></span>
			<span class="right-arrow" id="rArrowBtn"></span>

		</div>
	</div>
	<div>
		<div class="class-zs-box">
		<h2>教材展示</h2>
		<ul class="nce_xd_zs clearf">
			<li class="img1 first-l"></li>
			<li class="img2"></li>
			<li class="img3 first-l"></li>
			<li class="img4"></li>
		</ul>
		<ul class="nce_xg_zs clearf hide">
			<li class="img1 first-l">	
				<span>篇章阅读</span>
			</li>
			<li class="img2">
				<span>综合听说</span>
			</li>
			<li class="img3 first-l">
				<span>情景语法</span>
			</li>
			<li class="img4">
				<span>趣味词汇</span>
			</li>
		</ul>
		</div>
	</div>
	<div class="class-dg-box nce-bg-color">
		<h2>课程大纲</h2>
		<p class="cl_text text01">青少全能新概念一册共72单元，288课时，词汇、短语、语法及句型在四个模块中不断再现，通过不同的练习方式，巩固重点内容；每课一个核心语法点或句型结构，整册难度成梯度上升，循序渐进，帮助学员搭建并系统梳理语法体系；真正培养出成绩高，能力强的双优学员。</p>
		<table class="table-box" border="1" cellpadding="0" cellspacing="0">
			<tr class="header">
				<td class="nce-kc-list">Lesson</td>
				<td class="nce-tm-list">TEXT</td>
				<td class="nce-ch-list">Vocabulary</td>
				<td>Grammar</td>
			</tr>
			<tr class="first-tr">
				<td class="nce-kc-list">课程</td>
				<td class="nce-tm-list">篇章题目</td>
				<td class="nce-ch-list">词汇</td>
				<td>语法汇总</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			
		</table>
		<div class="check-box"><a href="javascript:;">查看全部></a></div>
		
	</div>
</div>
<!-- 尾部 -->
<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<script src="/js/html/project/www/vendor.js"></script>
</body>
