<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/www/www.css">
</head>
<body data-init="index">
<!-- 顶部 -->
<!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/www//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
<!-- 导航 -->
<!-- 导航 -->
<div class="nav">
  <ul class="menu">
    <li class="menu-on"><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">学习理念</a></li>
    <li><a href="javascript:;">青少年英语</a><i class="news"><img src="/images/html/www//index_new.png" alt=""></i></li>
    <li><a href="javascript:;">美国小学课程</a><i class="news ameri"><img src="/images/html/www//flag.png" alt=""></i></li>
    <li><a href="javascript:;">外教师资</a></li>
    <li><a href="javascript:;">上课流程</a></li>
    <li><a href="javascript:;">51Talk学员</a></li>
    <li><a href="javascript:;">免费公开课</a></li>
  </ul>
</div> 
<!-- 图片轮播 -->
<!-- 图片轮播 -->
<div class="play">
  <ul class="pic">
    <li class="first" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
      <img src="/images/html/www//car_img01.jpg" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_shipin.mp4" data-width="" data-height="">
      <img src="http://www.51talk.com/upload/ad/2015101319503682719.png" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_student.mp4" data-width="" data-height="">
      <img src="http://static.51talk.com/images/web_new/home/banner/index.jpg?v=2" alt="" class="p-img" width="1920" height="520">
    </li>
    <li data-vedio="http://media.51talk.com/upload/media/h_study_2.flv" data-width="" data-height="">
      <img src="http://static.51talk.com/images/web_new/home/banner/student1.jpg?v=2" alt="" class="p-img" width="1920" height="520">
    </li>
  </ul>
  <ul class="switch">
    <li class="crt"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul> 
  <!-- 切换 -->
  <div class="sign-cha">
    <div class="centerMth">
      <!-- 左右切换 -->
      <div class="change">
        <a href="javascript:;" class="lt"><i></i></a>
        <a href="javascript:;" class="rt"><i></i></a>
      </div>
      <!-- 视频播放 -->
      <div class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
        <a href="javascript:;" class="video"><i></i></a>
      </div>
      <!-- 注册 -->
      <div class="m-main">
        <div class="m-reg">
          <form action="">
            <ul class="m-tab clearfix">
              <li class="crt">注册</li>
              <li>登录</li>
            </ul>
            <ul class="m-ipts">
              <li>
                <dl>
                  <dt class="icon3"></dt>
                  <dd><input class="jsCheck" type="text" name="mobile" placeholder="填写手机号获取免费上课提醒"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
              <li>
                <dl>
                  <dt class="icon2"></dt>
                  <dd><input class="jsCheck" type="password" name="password" placeholder="填写密码"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
              <li>
                <dl>
                  <dt class="icon-user"></dt>
                  <dd><input class="jsCheck" type="text" name="user_name" placeholder="填写邮箱"></dd>
                </dl>
                <div class="u-err">上发送到发送到</div>
              </li>
              <li class="m-referral">
                <p class="referral-code">若您有推荐人/推荐码，请点这里</p>
                <dl>
                  <dt class="icon4"></dt>
                  <dd><input class="jsCheck" type="text" name="mobile" placeholder="推荐人手机号/推荐码/没有不填"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
            </ul>
            <input type="button" class="u-reg-btn jsSubmit" value="免费领取体验课">
            <p class="u-txt">已有超过 <em>5,000,000</em> 名学习者选择51talk</p>
          </form>
        </div>
        <div class="m-log">
          <form action="">
            <ul class="m-tab clearfix">
              <li>注册</li>
              <li class="crt">登录</li>
            </ul>
            <ul class="m-ipts">
              <li>
                <dl>
                  <dt class="icon1"></dt>
                  <dd><input class="jsCheck" type="text" name="user_name" placeholder="已验证手机/邮箱"></dd>
                </dl>
                <div class="u-err">发生的方式发送到</div>
              </li>
              <li>
                <dl>
                  <dt class="icon2"></dt>
                  <dd><input class="jsCheck" type="text" name="password" placeholder="请输入您的密码"></dd>
                </dl>
                <div class="u-err"></div>
              </li>
            </ul>
            <div class="m-safe clearfix">
                    <span class="u-auto">
                        <input id="autoLogin" name="autoLogin" type="checkbox" >
                        <label for="autoLogin">下次自动登录</label>
                    </span>
                    <span class="u-forget">
                        <a href="javascript:;">忘记密码?</a>
                    </span>
                </div>
            <input type="button" class="u-log-btn jsSubmit" value="免费领取体验课">
            <dl class="m-other">
              <dt>可以用以下方式登录</dt>
              <dd class="icon-sina"><a href="javascript:;"></a></dd>
              <dd class="icon-qq"><a href="javascript:;"></a></dd>
            </dl>
          </form>
        </div>
      </div>
      <div class="m-online hide">
        <h2 class="u-hd">
          Hi,song:
        </h2>
        <div class="m-group">
          <p class="u-txt">您已完成 <em class="f-clo">200</em> 节课</p>
          <p class="u-txt">累计说英语 <em class="f-clo">100</em> 小时</p>
          <a href="javascript:;" class="u-btn">预约课程</a>
        </div>
        <div class="m-group">
          <p class="u-txt">剩余次卡： <em class="f-clo">8</em> 次  <em class="f-clo">请购买次卡套餐</em></p>
          <p class="u-txt">剩余包月： <em class="f-clo">0</em> 天  <em class="f-clo">请购买次卡套餐</em></p>
          <a href="javascript:;" class="u-btn">购买课程</a>
        </div>
        <div class="u-ft">
          <a href="javascript:;" class="u-btn-2">进入我的会员中心</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="notice-mast-box">
  <div class="m-notice">
    <h3 class="notice-tit">系统通知</h3>
    <div class="notice-inner">
      <p>该手机号码已存在，请直接登录，或使用其他号码注册。</p>
      <ul class="notice-sub">
        <li class="sub-left">换个号码注册</li>
        <li>登录</li>
      </ul>
    </div>
  </div>
  <div class="notice-mask"></div>
</div>
<!-- 青少年-明星学院 -->
<div class="ten-star">
  <div class="t-class">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="/images/html/www/ten_mx_t01.png" alt=""></h3>
      <p class="t-sm-img"><img src="/images/html/www/ten_mx_tit01.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
          <li><img src="/images/html/www/ten_t01.jpg" alt=""><span>51Talk学员 Jonathan</span></li>
          <li class="t-sm-li"><img src="/images/html/www/ten_t02.jpg" alt=""><span>51Talk学员 Joanna</span></li>
         <!--  <li><img src="/images/html/www/ten_t01.jpg" alt=""><span>51Talk北京学员 Barbie</span></li> -->
         
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>家长说 : 孩子爸爸是英国人妈妈是中国人，但工作都很忙，之前请过一个英国家教，每次到家里来上课，但对学的教材不熟悉上课就是聊天，提高不大，费用是300RMB/小时。在51Talk上课之后，把之前的外教给辞了，还推荐给了好多朋友，他们特别喜欢51Talk，都非常感谢我。</p>
          <span>——Joanna小朋友的姥爷</span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>妈妈说：孩子从两岁半就开始学英语，但真遇到外国友人，根本不会说。在51Talk学了两个月，就发现了开口说英语的乐趣了。Barbie喜欢与生活相关的话题，常常和老师聊的哈哈大笑。而且，用网络上课太方便了，什么事都不耽误，把我的时间解放了。现在，孩子的英语现比我好多了，我也在和孩子一起上课呢。</p>
          <span>——Barbie妈妈</span>
        </div>
       <!--  <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说：做父母的，都望子成龙。51Talk为Sarah的小学英语打下好基础！英语要提高，就得跟外教1对1地聊天，多开口说。而且51Talk教材很多都适合小孩练口语，尤其是《剑桥少儿英语》和《绿色通道》。学了6个月，Sarah的口语有了很大的进步。最让我开心的是，51Talk能随时随地上课，让我们不浪费一分钱、一分钟！</p>
          <span>——Sarah妈妈</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="t-class t-col-class openClass">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="/images/html/www/ten_mx_t02.png" alt=""></h3>
      <p class="t-sm-img"><img src="/images/html/www/ten_mx_tit02.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
         <!--  <li><img src="/images/html/www/ten_t04.jpg" alt=""><span>51Talk上海学员 Christina</span></li> -->
          <li><img src="/images/html/www/ten_t05.jpg" alt=""><span>51Talk北京学员  Dudu</span></li>
          <li class="t-sm-li"><img src="/images/html/www/ten_t06.jpg" alt=""><span>51Talk上海学员  Harry</span></li>
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>家长说 : 孩子爸爸是英国人妈妈是中国人，但工作都很忙，之前请过一个英国家教，每次到家里来上课，但对学的教材不熟悉上课就是聊天，提高不大，费用是300RMB/小时。在51Talk上课之后，把之前的外教给辞了，还推荐给了好多朋友，他们特别喜欢51Talk，都非常感谢我。</p>
          <span>——Christina妈妈 </span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>爸爸说 : 我让孩子从小接触英语，是为了培养了孩子对英语的喜爱。遇见外国人，我们也会让他试着说英语。但是，只能逮着一个就练一下，没法规律地练习。来到51Talk，孩子每天都会和外教开心地练口语。有时候，我们也会陪孩子一起上课，不仅孩子跟老师成了好朋友，我们的英语也提高了不少！  </p>
          <span>——Dudu爸爸</span>
        </div>
       <!--  <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说 : 学校的英语都是考试，但成绩只是抽象的数字，孩子不会交流。Harry在51Talk学了3个多月，简单交流完全没问题，口语比别的小朋友好很多。和别的小朋友不同，她敢和外教说，也不怕说错。因为，只有他一个学生，外教会很照顾孩子的情绪。说错了，外教也会很友好地指出来，演示正确的发音，孩子跟着说。</p>
          <span>——Harry妈妈 </span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="t-class t-last-class">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="/images/html/www/ten_mx_t04.png" alt=""></h3>
      <p class="t-sm-img"><img src="/images/html/www/ten_mx_tit04.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
         <!--  <li><img src="/images/html/www/ten_t10.jpg" alt=""><span>51Talk北京学员 Fish</span></li> -->
          <li><img src="/images/html/www/ten_t11.jpg" alt=""><span>1Talk学员  Jackie</span></li>
          <li class="t-sm-li"><img src="/images/html/www/ten_t12.jpg" alt=""><span>51Talk学员 William</span></li>
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>爸爸说 : 孩子五年级了，学英语时间也不短，但是口语一直不好。在51Talk，孩子觉得学英语很轻松。以前对英语很抗拒，现在慢慢变得主动了。我觉得就是因为外教很耐心，总鼓励孩子多说多练。他把学英语当成了一种乐趣，每次都很期待上外教课。而且在学校的成绩也提高了，这个算是个意外的收获。</p>
          <span>——Fish爸爸</span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>妈妈说 : 以前我跟Jack说英语的时候，他总是会用汉语回答我，也不愿意回应。但是最近我发现，Jack会主动和我说英语了，还很开心地讲一些英文故事。我觉得他的整体水平都有了很大的提高。51Talk让Jack的英语能力在无形中提高，在学校经常被老师选中代表学校参加一些外事交流活动。 </p>
          <span>——Jack妈妈</span>
        </div>
       <!--  <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说 : 除了经典课程，Michael还会学习英语习语、漫画英语等教材。这些外面都没有，却帮孩子了解广阔的世界。他喜欢Leyla老师，耐心细致，随时指出各种问题。现在，Michael的英语基本达到高中生水平了，还跟着老师学了一口地道的美音。而且，不受时间地点的限制，这是最方便的学习方式了。</p>
          <span>——Michael妈妈</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="t-class t-col-class">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="/images/html/www/ten_mx_t03.png" alt=""></h3>
      <p class="t-sm-img"><img src="/images/html/www/ten_mx_tit03.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
          
         <!--  <li><img src="/images/html/www/ten_t07.jpg" alt=""><span>51Talk北京学员 Bella</span></li> -->
          <li><img src="/images/html/www/ten_t08.jpg" alt=""><span>51Talk学员 Eileen</span></li>
          <li class="t-sm-li"><img src="/images/html/www/ten_t09.jpg" alt=""><span>51Talk学员 Kevin</span></li>
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>Bella说 :我以前在双语学校学过，所以我还比较敢于用英语表达自己的想法。但上课中，我还是会犯一些比较低级的语法错误。与以前学校不一样的是，在51Talk，我是单独地和老师交流。老师很nice，能发现我的问题，会耐心及时地纠正我的语法问题。很开心，在外教的引导下，我的英语水平整体进步很大。</p>
          <span>——Bella同学</span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>Tiger说 :我从小就学英语，但主要是应试类的。现在，听力在考试中占得比重高了，我想跟着外教练口语和听力。我选了次卡套餐。每次课25分钟，手机和iPad都能上课，特别方便。外教都很有经验，而且很nice，所以我上课也比较轻松。现在看美剧基本都差不多能听懂了，听力考试什么的，应该都没什么问题。</p>          
          <span>——Tiger同学</span>
        </div>
        <!-- <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说 :由于是通过网络上课，随时随地上课，而且免费下载各种教材，太方便了。等于，我们只花一样钱就可以学到各种不同的教材，真好！现在，我们家Roger在51Talk学习了一年多，在同龄的孩子中，英语算是很不错的。成绩和语言交流能力，一个都不落下，我们也经常和朋友的孩子推荐这种高性价比的学习方法。</p>
          <span>——Roger同学妈妈</span>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- 青少年-明星学院结束 -->
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<!-- 官网突出公开课宣传 -->
<div class="jn_ml_mask" style="display:block;"></div>
<div class="jn_mk_mask" style="display:block;"> 
  <div class="jn_mk_contain">
      <div class="jn_mk_adult jn_mk-module">
      <a href="http://www.baidu.com" target="_blank" style="display:block;">
        <p>如何让孩子<span>爱上学英语？</span></p>
        <em>来参加51Talk青少英语公开课</em>
        </a>
      </div>
      
      <div class="jn_mk_border"></div>
      <dl class="jn_mk_junior jn_mk-module">
       <a href="http://www.baidu.com" target="_blank" style="display:block;">
          <dt>
             <img src="../../../../images/html/www/ml_junior.jpg" alt=""> 
          </dt>
          <dd>
             <p><span>青少公开课</span></p>
             <p>绘本课程，有趣、启迪</p>
             <p>有亲和力、有爱心的老师</p>
             <p>培养英语学习兴趣</p>
             <em>免费预约</em>
          </dd>
        </a>
      </dl>
      <div class="jn_mk_close">
        <img src="../../../../images/html/www/ml_close.png" alt=""> 
      </div>
  </div>
</div>
<!-- 官网突出公开课宣传结束 -->
<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<script src="/js/html/project/www/vendor.js"></script>
</body>
