<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>封面</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/picture_word20150720/picture_word20150720.css">
  </head>
<body>
<section id="pw_wrapper">
  <article id="container" data-init="collector">
	<h1>图片学词</h1>	
	<p>一天5分钟，一月300词<br/>背了几年的单词？效果如何？？<br/>别哭了，是时候和枯燥低效的字典分手了！</p>
	<time>6月25日</time>
	<a id="start" href="http://www.baidu.com">开始学习</a>
  </article>
</section>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/picture_word20150720/vendor.js" id="seajsnode"></script>
</html>
