<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>封面</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/picture_word20150720/picture_word20150720.css">
  </head>
<body>
<section id="ls_wrapper">
  <article id="container" data-init="collector">
     <p><img src="/images/wap/picture_word20150720/ls_img.jpg">你太棒了</p>
     <ul>
     	 <li>
     	 	  <h3>学习单词</h3>
     	 	  <span><b>25</b>个</span>
     	 </li>
     	 <li>
     	 	  <h3>所用时间</h3>
     	 	  <span><b id="end_t">23</b>分钟</span>
     	 </li>     	 
     </ul>
     <a href="">找茬赢次卡</a>
    <div class="summary_footer">
        <p>官方设计的单词配图，等你来挑战！</p>
        <p>提交你的建议，采纳一次，赠送次卡一张！</p>
    </div>

  </article>
</section>
<audio autoplay src="end.mp3"></audio>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/picture_word20150720/vendor.js" id="seajsnode"></script>
</html>



