 <!-- 切换菜单 -->
 <div class="cs_list">
            <ul>
                <li class="cs_list01" id="cs_border01"><a href="javascript:;">主修课</a></li>
                <li class="cs_list01">专业课
                  <ul class="displayNone">
                    <li>
                      <a href="javascript:;" class="cs_list02 icon01"></a>
                      <a href="javascript:;">|&nbsp;&nbsp;商务英语</a>
                    </li>
                    <li>
                      <a href="javascript:;" class="cs_list02 icon02"></a>
                      <a href="javascript:;">|&nbsp;&nbsp;面试口语</a>
                    </li>
                    <li>
                      <a href="javascript:;" class="cs_list02 icon03"></a>
                      <a href="javascript:;">|&nbsp;&nbsp;雅思口语</a>
                    </li>
                    <li>
                      <a href="javascript:;" class="cs_list02 icon04"></a>
                      <a href="javascript:;">|&nbsp;&nbsp;托福口语</a>
                    </li>
                    <li style="text-indent:38px;">
                      <a href="javascript:;" class="cs_list02 icon05"></a>
                      <a href="javascript:;">|&nbsp;&nbsp;青少年英语</a>
                    </li>
                    
                  </ul>
                </li>
                <li class="cs_list01">选修课
                   <ul style="height:370px;" class="cs_list01Sel">
                    <li>
                      <a href="javascript:;" class="cs_list02 icon06"></a>                     
                      <a href="javascript:;">|&nbsp;&nbsp;生活口语</a>
                    </li>
                    <li>
                      <a href="javascript:;" class="cs_list02 icon07"></a>                       
                      <a href="javascript:;">|&nbsp;&nbsp;综合口语</a>
                    </li>
                    <li>
                      <a href="javascript:;" class="cs_list02 icon08"></a>                      
                      <a href="javascript:;">|&nbsp;&nbsp;自由会话</a>
                    </li>
                    <li>
                      <a href="javascript:;" class="cs_list02 icon09"></a>                     
                      <a href="javascript:;">|&nbsp;&nbsp;旅游英语</a>
                    </li>
                    <li style="text-indent:50px;">
                      <a href="javascript:;" class="cs_list02 icon10"></a>                      
                      <a href="javascript:;">|&nbsp;&nbsp;看漫画说英语</a>
                    </li>
                     <li style="text-indent:50px;">
                      <a href="javascript:;" class="cs_list02 icon11"></a>                      
                      <a href="javascript:;">|&nbsp;&nbsp;英语习语会话</a>
                    </li>
                     <li style="text-indent:36px;">
                      <a href="javascript:;" class="cs_list02 icon12"></a>                     
                      <a href="javascript:;">|&nbsp;&nbsp;学唱英文歌</a>
                    </li>
                     <li style="text-indent:36px;">
                      <a href="javascript:;" class="cs_list02 icon13"></a>                     
                      <a href="javascript:;">|&nbsp;&nbsp;美剧进行时</a>
                    </li>
                     <li>
                      <a href="javascript:;" class="cs_list02 icon14"></a>
                      <a href="javascript:;">|&nbsp;&nbsp;热点聚焦</a>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>