<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/editor_share/editor_share.css">
</head>
<body>
    <div class="m-say-header">
    	<img src="/images/wap/editor_share//logo2.png" alt="" />
    	<a href="javascript:;">
    		下载应用
    	</a>
    </div>
    <div class="m-say-bar"></div>
    <div class="m-say-tt">
        <h2 class="u-word">伏尔泰经典语录</h2>
        <div class="m-day-word">
            <span class="first"><span class="from">来自</span>＃每日一句＃</span>
            <span class="last">01-23 12:15</span>
        </div>
    </div>
    <div class="m-say-ct"  id="container" data-init="editor_share">
        <div class="m-say-audio">
    		<div data-src="bfy.mp3" class="u-paly"></div>
    		<div class="m-bar">
    			<div class="m-total">
    				<div class="m-progress">
                        <div class="u-point"></div>
                    </div>
    			</div>
    			<div class="u-time">00:32</div>
    		</div>
    	</div>
    	<ul class="m-song">
    	    <li>
                <p class="en">
                    When I was young I d listen to theradiox When I was young I d listen to theradiox When I was young I d listen to theradiox
                </p>
                <p class="zh">
                    当我年轻的时候 我常守在收音机旁 当我年轻的时候 我常守在收音机旁 当我年轻的时候 我常守在收音机旁
                </p>
            </li>
            <li>
                <p class="en">
                    Waiting for my favoritesongs
                </p>
                <p class="zh">
                    等待着我爱的歌
                </p>
            </li>
            <li>
                <p class="en">
                    When they played I d singalong,
                </p>
                <p class="zh">
                    歌声响起我便同声和唱
                </p>
            </li>
            <li>
                <p class="en">
                    It make mesmile.
                </p>
                <p class="zh">
                    歌声使我欢笑
                </p>
            </li>
            <li>
                <p class="en">
                    Those were such happy timesand not so longago
                </p>
                <p class="zh">
                    那是多么美好的时光 一切并不久远
                </p>
            </li>
    	</ul>
    	<img class="love" src="/images/wap/editor_share//love.jpg" alt="" />
    </div>
    <div class="m-say-bar"></div>
    <!-- 热门评论 -->
    <div class="hot-comment">
        <h2 class="title">
            <span>热门评论</span>
        </h2>
        <ul class="clearfix">
            
            
            
                
                    <li>
                        <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                        <div class="m-msg">
                            <div class="m-info">Anmerna</div>
                            <div class="m-cmt-txt">
                                @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                            </div>
                            <div data-src="bfy.mp3" class="m-cmt-audio short">
                                <div class="time">5''</div>
                                <div class="blink"></div>
                            </div>
                            <div class="time">08-29 14:54</div>
                        </div>
                    </li>
                
                
                    <li>
                        <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                        <div class="m-msg">
                            <div class="m-info">Anmerna</div>
                            <div class="m-cmt-txt">
                                @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                            </div>
                            <div class="pic">
                                <img src="/images/wap/editor_share//love.jpg" alt="" />
                            </div>
                            <div class="time">08-29 14:54</div>
                        </div>
                    </li>
                
                <li>
                    <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                    <div class="m-msg">
                        <div class="m-info">Anmerna</div>
                        <div class="m-cmt-txt">
                            @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                        </div>
                        <div class="time">08-29 14:54</div>
                    </div>
                </li>
            
                
                
                <li>
                    <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                    <div class="m-msg">
                        <div class="m-info">Anmerna</div>
                        <div class="m-cmt-txt">
                            @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                        </div>
                        <div class="time">08-29 14:54</div>
                    </div>
                </li>
            
                
                
                <li>
                    <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                    <div class="m-msg">
                        <div class="m-info">Anmerna</div>
                        <div class="m-cmt-txt">
                            @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                        </div>
                        <div class="time">08-29 14:54</div>
                    </div>
                </li>
            
        </ul>
        <section class="loadmore" id="loadmore">加载更多</section>
    </div>
    <!-- 最新评论 -->
    <div class="new-comment">
        <h2 class="title">
            <span>最新评论</span>
        </h2>
        <ul class="clearfix">
            
            
            
                
                    <li>
                        <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                        <div class="m-msg">
                            <div class="m-info">Anmerna</div>
                            <div class="m-cmt-txt">
                                @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                            </div>
                            <div data-src="bfy.mp3" class="m-cmt-audio short">
                                <div class="time">5''</div>
                                <div class="blink"></div>
                            </div>
                            <div class="time">08-29 14:54</div>
                        </div>
                    </li>
                
                
                    <li>
                        <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                        <div class="m-msg">
                            <div class="m-info">Anmerna</div>
                            <div class="m-cmt-txt">
                                @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                            </div>
                            <div class="pic">
                                <img src="/images/wap/editor_share//love.jpg" alt="" />
                            </div>
                            <div class="time">08-29 14:54</div>
                        </div>
                    </li>
                
                <li>
                    <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                    <div class="m-msg">
                        <div class="m-info">Anmerna</div>
                        <div class="m-cmt-txt">
                            @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                        </div>
                        <div class="time">08-29 14:54</div>
                    </div>
                </li>
            
                
                
                <li>
                    <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                    <div class="m-msg">
                        <div class="m-info">Anmerna</div>
                        <div class="m-cmt-txt">
                            @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                        </div>
                        <div class="time">08-29 14:54</div>
                    </div>
                </li>
            
                
                
                <li>
                    <p class="img_box"><img class="u-head" src="/images/wap/editor_share//user.png" alt="" /></p> 
                    <div class="m-msg">
                        <div class="m-info">Anmerna</div>
                        <div class="m-cmt-txt">
                            @Anmerna:当我年轻的时候 我常守在收音机旁，等待着我爱的歌~~
                        </div>
                        <div class="time">08-29 14:54</div>
                    </div>
                </li>
            
        </ul>
    </div>
    <div class="down_client">
        <a href="javascript:;">更多评论请下载客户端查看</a>
    </div>
    <script src="/js/wap/project/editor_share/vendor.js"></script>
</body>
</html>
