<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/editor_share/editor_share.css">
</head>
<body>
    <div class="e-talk51" id="container" data-init="editor_share">
        <div class="m-header">
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.talk51.dasheng"><img src="/images/wap/editor_share//logo.png" alt="" />
            <span>下载应用</span></a>
        </div>
        <div class="m-tt">
            <div class="m-user">
                <img class="u-head" src="/images/wap/editor_share//user.png" alt="" />
                <div class="u-name">
                    <p class="username">Pumpkin</p>
                    <p class="story">＃睡前故事</p>
                </div>
            </div>
            <div class="m-date">
                <p>2014-12-22 09:00</p>
                <p>阅读量：2142</p>
            </div>
        </div>
        <div class="m-ct">
            <p class="u-summary">
                适合孩子看的八本英文原版书—三只小熊、白雪公主和七个小矮人的故事、美人鱼、怪物史莱克等等
            </p>
            <p class="u-txt">
                狮子和老虎到底谁更厉害呢？给孩子读完这个故事就知道啦！
            </p>
            <div class="m-audio">
                <div data-src="bfy.mp3" class="u-paly"></div>
                <div class="m-bar">
                    <div class="m-total">
                        <div class="m-progress">
                            <div class="u-point">
                                <em></em>
                            </div>
                        </div>
                    </div>
                    <div class="u-time">1'15''</div>
                </div>
            </div>
            <img class="tigger" src="/images/wap/editor_share//tigger.jpg" alt="" />
            <p class="u-txt u-text-mb17 ">
                世人公认的两种最厉害的猫科动物是狮子和老虎。但是它们相比哪个更厉害？这个问题大家都感兴趣，而且众说纷纭。
            </p>
            <p class="u-txt u-txt-last">
                世界上现存的老虎有许多亚种，比如华南虎，西伯利亚虎（东北虎），孟加拉虎，苏门答腊虎，印支虎等。其中西伯利亚虎最大，成年雄虎体长可达3.3米，体重300公斤以上。我记得看过一个资料，最大的老虎是在原苏联中亚一共和国捕获的，体长4米，体重780公斤，是普通狮虎的两倍！所以论体形，老虎是最大的猫科动物。
            </p>
        </div>
        <div class="m-comment">
            <em class="u-icon">评论</em>
            <ul>
                <li class="m-c-first">
                    <img class="u-head" src="/images/wap/editor_share//user.png" alt="" />
                    <div class="m-msg">
                        <div class="m-info">
                            <em>Tom</em>
                            <em>1分钟前</em>
                        </div>
                        <div class="m-cmt-txt">
                            一定是狮子厉害啦！如果这狮子不厉害的话怎么当万兽之王呢？？
                        </div>
                        <!-- <div class="m-cmt-audio long">
                            <div class="msg">
                                5''
                            </div>
                            <div class="time">

                            </div>
                            <div class="blink">

                            </div>
                        </div> -->
                    </div>
                </li>
                <li>
                    <img class="u-head" src="/images/wap/editor_share//user.png" alt="" />
                    <div class="m-msg">
                        <div class="m-info">
                            <em>Tom</em>
                            <em>1分钟前</em>
                        </div>
                        <div class="m-cmt-txt">
                            怎么当万兽之王呢？？
                        </div>
                        <div data-src="bfy.mp3" class="m-cmt-audio short">
                            <div class="msg">
                                5"
                            </div>
                            <div class="time">

                            </div>
                            <div class="blink">

                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="m-footer">
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.talk51.dasheng">
                <p class="u-more">
                    下载51Talk无忧英语，<br>浏览更多精彩内容！
                </p>
                <span>下载应用</span>
            </a>
        </div>
    </div>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/editor_share/vendor.js"></script>
</html>
