<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/wap/double12list/double12list.css">
</head>
<body>
    <!--微信分享小图标-->
    <img src="/images/wap/double12list/shareIcon.jpg" width="0" height="0">
    <div class="container" data-init="index">
        <div class="banner">
            <div class="blank"></div>
            <div class="couponBox">
                <div class="applyCoupon" id="applyBox">
                    <a href="javascript:;" class="sub" id="applyCoupon"></a>
                </div>
                <div class="getCoupon2" id="getBox">
                    <div class="title"><i class="money">0</i><span>元</span></div>
                    <p class="desc">恭喜您获得<span class="money">0</span>元代金券</p>
                    <a href="javascript:;" class="sub"></a>
                </div>
            </div>
            <a href="javascript:;" class="rule" id="rule">活动规则</a>
        </div>
        <ul class="classList clearfix">
            <li>
                <a href="#">
                    <img src="/images/wap/double12list/month3.jpg" alt="">
                    <h3 class="title">青少经典英语18单元</h3>
                    <p class="desc"><span>￥6648</span><i>原价￥7188</i></p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/wap/double12list/month12.jpg" alt="">
                    <h3 class="title">青少经典英语18单元</h3>
                    <p class="desc"><span>￥6648</span><i>原价￥7188</i></p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/wap/double12list/point60.jpg" alt="">
                    <h3 class="title">青少经典英语18单元</h3>
                    <p class="desc"><span>￥6648</span><i>原价￥7188</i></p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/wap/double12list/item270.jpg" alt="">
                    <h3 class="title">青少经典英语18单元</h3>
                    <p class="desc"><span>￥6648</span><i>原价￥7188</i></p>
                </a>
            </li>
        </ul>
        <div id="course" class="course_list">
            <ul>
                
                <li>
                    <a class="item" href="www.baidu.com" data-status="1">
                        <img alt="" src="/images/wap/double12list/point270.jpg">
                        <div class="text">
                            <p class="package_name">270次次卡学习套餐</p>
                            <p class="desc">
                                <span class="low">低至</span>
                                <span class="price_new">￥8798</span>
                                <span class="price_old">￥10388</span>
                            </p>
                        </div>
                        <span class="btn_buy">一键抢购</span>
                    </a>
                </li>
                <li>
                    <a class="item" href="www.baidu.com" data-status="1">
                        <img alt="" src="/images/wap/double12list/month24.jpg">
                        <div class="text">
                            <p class="package_name">24个月包月学习套餐</p>
                            <p class="desc">
                                <span class="low">低至</span>
                                <span class="price_new">￥15676</span>
                                <span class="price_old">￥17266</span>
                            </p>
                        </div>
                        <span class="btn_buy">一键抢购</span>
                    </a>
                </li>
                <li>
                    <a class="item" href="www.baidu.com" data-status="1">
                        <img alt="" src="/images/wap/double12list/point60.jpg">
                        <div class="text">
                            <p class="package_name">美小2单元学习套餐</p>
                            <p class="desc">
                                <span class="low">低至</span>
                                <span class="price_new">￥1999</span>
                                <span class="price_old">￥4000</span>
                            </p>
                        </div>
                        <span class="btn_buy">一键抢购</span>
                    </a>
                </li>
                <li>
                    <a class="item" href="www.baidu.com" data-status="1">
                        <img alt="" src="/images/wap/double12list/point60.jpg">
                        <div class="text">
                            <p class="package_name">60次次卡学习套餐</p>
                            <p class="desc">
                                <span class="low">低至</span>
                                <span class="price_new">￥1999</span>
                                <span class="price_old">￥3928</span>
                            </p>
                        </div>
                        <span class="btn_buy">一键抢购</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footerBox">
            <section class="fix-footer">
                <div class="list sina">
                    <a href="" id="onMenuShareWeibo" data-urlfirst="">
                         <img src="/images/wap/double12list/weixin.png">
                         <p>微信朋友圈</p>
                     </a>
                </div>
                <div class="list sina">
                    <a href="" id="onMenuShareWeibo" data-urlfirst="">
                         <img src="/images/wap/double12list/weixinFriends.png">
                         <p>微信好友</p>
                     </a>
                </div>
                <div class="list sina">
                    <a href="" id="onMenuShareWeibo" data-urlfirst="">
                        <img src="/images/wap/double12list/sina.png">
                        <p>微博</p>
                     </a>
                </div>
                <div class="list sina">
                    <a href="" id="onMenuShareWeibo" data-urlfirst="">
                        <img src="/images/wap/double12list/qq.png">
                        <p>QQ</p>
                     </a>
                </div>
            </section>

            <section class="footer">
                <p class="info">Copyright©北京大生知行科技有限公司</p>
            </section>
        </div>
        
    </div>
    <div class="tipBox" id="tipBox">
        <div class="content">
            <h3 class="header">活动规则<a href="javascript:;" id="close"></a></h3>
            <ul>
                <li>活动时间：12月2日-12月12日 </li>
                <li>活动使用规则：</li>
                <li>1.每个用户仅能领取一次代金券；</li>
                <li>2.代金券领取后可在站内信查看；</li>
                <li>3.代金券仅在12.02-12.12活动期间可使用。</li>
            </ul>
        </div>
    </div>
    <div class="mask" id="mask"></div>

    
    <script src="/js/wap/project/double12list/vendor.js" id="seajsnode"></script> 
</body>
</html>