<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/wap/group_purchase/group_purchase.css">
     <link rel="stylesheet" type="text/css" href="/css/wap/group_purchase/group_buying.css">
    
</head>
<body class="g-s-body" id="container" data-init="groupBuying">
    <div class="g-s-content">
        <div class="content">
            <p class="c-text">拼团倒计时</p>
            <div class="time-box">
                <span id="hour1">0</span>
                <span class="t-left" id="hour2">0</span>
                <i> : </i>
                <span id="minute1">0</span>
                <span class="t-left" id="minute2">0</span>
                <i> : </i>
                <span id="second1">0</span>
                <span class="t-left" id="second2">0</span>
            </div>
            <p class="c-des">还差1人，立即邀请好友开团</p>
            <ul class="group-p">
                <li><img src="/images/wap/group_purchase/d_02.png"/>
                    <span>团长</span>
                </li>
                <li><img src="/images/wap/group_purchase/d_01.png"/></li>
                <li><img src="/images/wap/group_purchase/d_01.png"/></li>
                <li><img src="/images/wap/group_purchase/d_01.png"/></li>
                <li><img src="/images/wap/group_purchase/d_01.png"/></li>
            </ul>
        </div>
        <div class="group-info">
            <p>课程名称：外教一对一课程次卡</p>
            <p>拼团须知：人满开课送课     人不满则退费 </p>
        </div>
        <div class="code-box">
            <p class="code-text">关注服务号，及时获取更多服务信息</p>
            <div class="code-img">
                <img src="/images/wap/group_purchase/d_code.jpg"/>
            </div>
        </div>
    </div>
    <div class="share-box" id="shareId">
        <div class="share-p">
            <a class="close-btn" id="closeId" href="javascript:;"></a>
        </div>
    </div>
    <input type="hidden" value="2017/6/19 23:59:59" id="timeId"/>
    <input type="hidden" value="2017/6/14 23:59:59" id="nowTimeId"/>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/group_purchase/vendor.js"></script>
</html>