<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/wap/group_purchase/group_purchase.css">
     <link rel="stylesheet" type="text/css" href="/css/wap/group_purchase/group_success.css">
    
</head>
<body class="g-s-body" id="container" data-init="groupSuccess">
    <div class="g-s-content">
        <div class="content">
            <p class="c-text"><span class="icon-b r-img"></span>拼团成功！</p>
            
            <p class="c-des">购买课程及赠送课程开通！</p>
            <ul class="group-p">
                <li>
                    <img src="/images/wap/group_purchase/d_02.png"/>
                    <span>团长</span>
                </li>
                <li><img src="/images/wap/group_purchase/d_02.png"/></li>
                <li><img src="/images/wap/group_purchase/d_02.png"/></li>
                <li><img src="/images/wap/group_purchase/d_02.png"/></li>
                <li><img src="/images/wap/group_purchase/d_02.png"/></li>
            </ul>
        </div>
        <div class="group-info">
            <p>如何上课</p>
            <div class="class-process top-v">
                <div class="class-p-des">请登录官网www.51talk.com，按如下步骤上课</div>
                <div class="process-img">
                    <img src="/images/wap/group_purchase/process1.png"/>
                </div>
            </div>
            <div class="class-process">
                <div class="process-img">
                    <img src="/images/wap/group_purchase/process2.png"/>
                </div>
            </div>
            <div class="class-process">
                <div class="process-img">
                    <img src="/images/wap/group_purchase/process3.png"/>
                </div>
                <div class="look-info"><a href="javascript:;">点击这里查看约课步骤详情</a></div>
            </div>
        </div>

        <div class="code-box">
            <p class="code-text">关注服务号，及时获取更多服务信息</p>
            <div class="code-img">
                <img src="/images/wap/group_purchase/d_code.jpg"/>
            </div>
        </div>
    </div>
    <input type="hidden" value="2017/6/11 23:59:59" id="timeId"/>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/group_purchase/vendor.js"></script>
</html>