<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/wap/group_purchase/group_purchase.css">
     <link rel="stylesheet" type="text/css" href="/css/wap/group_purchase/my_group.css">
</head>
<body class="g-s-body" id="container" data-init="myGroup">
    <div class="my-group">
        <ul class="tab-ul" id="tabId">
            <li class="current">全部</li>
            <li>待成团</li>
            <li>已成团 </li>
            <li>拼团失败</li>
        </ul>
        <div id="listId">
            <div class="list-box _list-box">
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团中，还差1人</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团失败，已退款</span>
                        <a href="javascript:;">查看拼团信息</a>
                        <a href="javascript:;">重新开团</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团成功</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">待支付</span>
                        <a href="javascript:;">查看商品信息</a>
                        <a class="invitation" href="javascript:;">去支付</a>
                    </div>
                </div>      
            </div>
            <div class="list-box _list-box hide">
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团中，还差1人</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团失败，已退款</span>
                        <a href="javascript:;">查看拼团信息</a>
                        <a href="javascript:;">重新开团</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团成功</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">待支付</span>
                        <a href="javascript:;">查看商品信息</a>
                        <a class="invitation" href="javascript:;">去支付</a>
                    </div>
                </div>      
            </div>
            <div class="list-box _list-box hide">
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团中，还差1人</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团失败，已退款</span>
                        <a href="javascript:;">查看拼团信息</a>
                        <a href="javascript:;">重新开团</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团成功</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">待支付</span>
                        <a href="javascript:;">查看商品信息</a>
                        <a class="invitation" href="javascript:;">去支付</a>
                    </div>
                </div>      
            </div>
            <div class="list-box _list-box hide">
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团中，还差1人</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团失败，已退款</span>
                        <a href="javascript:;">查看拼团信息</a>
                        <a href="javascript:;">重新开团</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">拼团成功</span>
                        <a href="javascript:;">查看拼团信息</a>
                    </div>
                </div>
                <div class="info-box">
                    <p class="title">1499外教1对1暑期班</p>
                    <div class="group-info">
                        <div class="class-box">
                            <div class="class-info">
                                <span>课&nbsp;&nbsp;&nbsp;&nbsp;时： 30节1对1外教课+30节公开课</span>
                            </div>
                        </div>

                        <div class="class-box">
                            <div class="class-info">
                                <div>
                                    <span>价&nbsp;&nbsp;&nbsp;&nbsp;格： 1499元</span>
                                </div>
                                <div  class="top-v">
                                    <span>人&nbsp;&nbsp;&nbsp;&nbsp;数： 2人团</span>
                                </div>
                            </div>
                            <div class="class-info">
                                <div>
                                    <span>有&nbsp;效&nbsp;期： 60天</span>
                                </div>
                                <div class="top-v">
                                    <span class="o-color">赠&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送： 3次次卡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <span class="o-color position-v">待支付</span>
                        <a href="javascript:;">查看商品信息</a>
                        <a class="invitation" href="javascript:;">去支付</a>
                    </div>
                </div>      
            </div>
            
            
        </div>
    </div>
    <input type="hidden" value="2017/6/11 23:59:59" id="timeId"/>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/group_purchase/vendor.js"></script>
</html>