<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>购买成功</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink %>">
</head>
<body> 
    <div class="sellBuy" > 
        <div class="top">
            <h2 class="title"><i></i><em></em>购买成功</h2>
            <img src="<%=imagessrc%>teachGroup.png" class="teachGroup">
        </div>
        <div class="footer">
            <p class="title">一对多外教全程托管班level1</p>
            <p class="time">
                2018-03-05 至 2018-03-20<br />
                每周六16:00  /  每周一三19:00
            </p>
            <p class="last">记得准时上课哦！</p>
        </div>
    </div>
</body>
</html> 