<% include ../common/top.ejs %>
<body>
<div class="share-header">
  <div class="wrap">
    <a href="/" class="home">官网首页</a>
    <div class="logo">
      <a href="/" class="talk_logo"></a>
    </div>
    <div class="joint">
      <h5>美国纽交所上市公司</h5>
      <h5>全球信赖的在线英语领导品牌</h5>
    </div>
  </div>
</div>
<div class="share-wrap" data-init="certificate">
  <div class="topbar">
    <div class="font">
      <h2>我在51Talk获得了#<em>级别</em>#的级别证书，</h2>
      <h3>证书是51Talk和外研社联合颁发的哦，学习英语的小伙伴们都来围观吧！</h3>
    </div>
    <div class="register">
      <h1 class="title">立即领取 免费课程</h1>
      <ul class="clearfix">
        <li class="email"><i class="icon"></i><input type="text" id="email" placeholder="请填写邮箱"></li>
        <li class="tel"><i class="icon"></i><input type="text" id="tel" placeholder="请填写手机号获取免费上课提醒"></li>
        <li class="password"><i class="icon"></i><input type="password" id="password" placeholder="请填写密码"></li>
      </ul>
      <a class="btn" href="javascript:;">免费测试我的英语能力</a>
    </div>
  </div>
  <div class="certi">
    <h1>哇哦！我的考试得分<em>98分</em></h1>
    <img src="<%=imagessrc%>cert-adult.jpg" alt="">
  </div>
</div>
<% include ../common/uc_footer.ejs %>
<script src="<%= jssrc%>"></script>
</body>
</html>