<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="/css/html/teach_landing/teach_landing.css">
</head>
<body data-init="index">
<!-- 弹窗 -->
<div class="popup hide">
	<div class="p-mask"></div>
	<div class="p-logIn">
		<div class="logIn-top">
			<h3 class="logIn-tit">恭喜您!</h3>
			<img src="/images/html/teach_landing/red_share.png" alt="">
			<p class="logIn-text">填写下列信息，立即免费领取</p>
		</div>
		<div class="logIn-list">
		<form action="" method="post" id="formBottom2">
			<ul>
				<li><span class="list-l list-l01"></span><div class="list-r"><input class="jsCheck" type="text" name="user_name" placeholder="请输入您的邮箱"></div></li>
				<li><span class="list-l list-l02"></span><div class="list-r"><input class="jsCheck" type="text" name="mobile" placeholder="请输入您的手机号"></div></li>
				<li><span class="list-l list-l03"></span><div class="list-r"><input class="jsCheck" type="password" name="password" placeholder="请设置您的密码"></div></li>
			</ul>
			<p class="logIn-last"><a href="javascript:;" class="logIn-free jsSubmit">免费领取</a></p>
		</form>
		</div>
	</div>
</div>
<!-- 导航 -->
<div class="m-banner-1">
	<!-- 成人 -->
	<img src="/images/html/teach_landing/banner_ct.jpg" alt="" width="1920" height="600" />
	<!-- 青少 -->
	<!-- <img src="/images/html/teach_landing/banner_ct_youth.jpg" alt="" width="1920" height="600" /> -->
</div>

<!-- 青少和成人的 m-screen部分背景颜色不同  通过f-bgw 来控制-->
<div class="m-screen f-bgw">
	<div class="m-md">
		<div class="m-package clearfix">
			<div class="m-lt">
				<img src="/images/html/teach_landing/package.jpg" alt="" >
			</div>
			<div class="m-rt">
				<ul class="m-list">
					<!-- 大小套餐价格区分> -->
					<!-- <li class="u-price-4999"></li> -->
					<li class="u-price-8399"></li>
					<!-- <li class="u-pk-tt">零基础中教组合套餐</li> -->
					<!-- 大小套文案区分> -->
					<!-- <li class="u-txt">72节中教小班课+超长学习有效期</li> -->
					<li class="u-txt">外教1对1体验课+51Talk每月上百节公开课</li>
					<li class="u-enjoy"></li>
					<li><a class="u-btn free-now" href="javascript:;">免费领取</a></li>
				</ul>
			</div>
		</div>
		<div class="m-word">
			<img class="u-word" src="/images/html/teach_landing/word.jpg" alt="" width="1000" height="353">
			<ul class="m-des clearfix">
				<li class="m-list">
					<h3>中教小班课：</h3>
					<p>轻松的课堂气氛，超强阵容的高颜值中教老师，全程无障碍沟通，随时为您解决英语学习中的困惑，不再“闹太套”</p>
				</li>
				<li class="u-line"></li>
				<li class="m-list">
					<h3>外教1对1：</h3>
					<p>随时随地预约上课，切实提高口语运用技能，锻炼大胆开口说，满足您旅行，职场，教育等场合畅通交流需求</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="m-screen">
	<div class="m-md">
		<h2 class="u-tt-1" title="独创的神奇五步教学法，学到的不仅是语音"></h2>
		<!-- 青少大套餐第一个标题 -->
		<!-- <h2 class="u-tt-1-yb" title="中外教超豪华名师阵容，打造极致青少零基础课程"></h2> -->
		<!-- 青少小套餐第一个标题 -->
		<!-- <h2 class="u-tt-1-yl" title="24次自然拼读课程，48次经典英语课程"></h2> -->
		<ul class="m-tab-step clearfix">
			<li class="m-list">
				<div class="num1"></div>
				<h3 class="u-txt">发音奥妙巧揭示</h3>
			</li>
			<li class="m-list">
				<div class="num2"></div>
				<h3 class="u-txt">音标拼读认单词</h3>
			</li>
			<li class="m-list">
				<div class="num3"></div>
				<h3 class="u-txt">实用短句显身手</h3>
			</li>
			<li class="m-list">
				<div class="num4"></div>
				<h3 class="u-txt">趣味韵律炼神嘴</h3>
			</li>
			<li class="m-list last">
				<div class="num5"></div>
				<h3 class="u-txt">生活场景真运用</h3>
			</li>
		</ul>
		<!-- 成人 -->
		<ul class="m-tab-rel">
			<li><img src="/images/html/teach_landing/step_1.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="/images/html/teach_landing/step_2.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="/images/html/teach_landing/step_3.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="/images/html/teach_landing/step_4.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="/images/html/teach_landing/step_5.jpg" alt="" width="1000" height="571"></li>
		</ul>
		<!-- 青少 -->
		<!-- <ul class="m-tab-rel">
			<li><img src="/images/html/teach_landing/step_1_youth.jpg" alt="" width="1000" height="571"></li>
		</ul> -->
	</div>
</div>
<div class="m-screen f-bgw">
	<div class="m-md">
		<h2 class="u-tt-2" title="精致的教材设计，丰富的学习内容"></h2>
		<!-- 成人部分 -->
		<div class="clearfix">
			<div class="m-silder">
				<ul class="m-img-bg">
					<li><img src="/images/html/teach_landing/silder_1.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="/images/html/teach_landing/silder_2.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="/images/html/teach_landing/silder_3.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="/images/html/teach_landing/silder_4.jpg" alt="" width="470" height="268" ></li>
				</ul>
				<ul class="m-img-lt clearfix">
					<li><img src="/images/html/teach_landing/silder_1.jpg" alt="" ><div class="u-mask hover"></div></li>
					<li><img src="/images/html/teach_landing/silder_2.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="/images/html/teach_landing/silder_3.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="/images/html/teach_landing/silder_4.jpg" alt="" ><div class="u-mask"></div></li>
				</ul>
			</div>
			<ul class="m-silder-txt">
				<li><i class="u-point-1"></i><span>原新东方顶级名师、学术外教、资深开发师设计课程</span></li>
				<li><i class="u-point-2"></i><span>激情燃烧72学时班课 = 24次语音+48次《经典英语》</span></li>
				<li><i class="u-point-3"></i><span>最适合互联网学习的教材和课程设计，没有之一</span></li>
				<li><i class="u-point-4"></i><span>帮您轻松过渡到全外教《经典英语》，对话世界</span></li>
			</ul>
		</div>
		<!-- 青少部分 -->
		<!-- <div class="clearfix">
			<div class="m-silder">
				<ul class="m-img-bg">
					<li><img src="/images/html/teach_landing/silder_1_youth.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="/images/html/teach_landing/silder_2_youth.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="/images/html/teach_landing/silder_3_youth.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="/images/html/teach_landing/silder_4_youth.jpg" alt="" width="470" height="268" ></li>
				</ul>
				<ul class="m-img-lt clearfix">
					<li><img src="/images/html/teach_landing/silder_1_youth.jpg" alt="" ><div class="u-mask  hover"></div></li>
					<li><img src="/images/html/teach_landing/silder_2_youth.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="/images/html/teach_landing/silder_3_youth.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="/images/html/teach_landing/silder_4_youth.jpg" alt="" ><div class="u-mask"></div></li>
				</ul>
			</div>
			<ul class="m-silder-txt">
				<li><i class="u-point-1"></i><span>原新东方顶级名师、学术外教、资深开发师设计课程</span></li>
				<li><i class="u-point-2"></i><span>激情燃烧72学时班课 = 24次语音+48次《经典英语》</span></li>
				<li><i class="u-point-3"></i><span>最适合互联网学习的教材和课程设计，没有之一</span></li>
				<li><i class="u-point-4"></i><span>帮您轻松过渡到全外教《经典青少英语》，对话世界</span></li>
			</ul>
		</div> -->
	</div>
</div>
<div class="m-screen">
	<div class="m-md">
		<h2 class="u-tt-3" title="完善的知识架构，系统的课程设置"></h2>
		<h3 class="u-txt-tt">原新东方顶级名师、学术外教、资深开发师设计课程</h3>
		<!-- 成人 -->
		<div class="m-step-set">
			<img class="step-set-1" src="/images/html/teach_landing/step_set_1.png" alt="" width="1000" height="415">
			<!-- 两栏的情况 -->
			<!-- <img class="step-set-2" src="/images/html/teach_landing/step_set_2.png" alt="" width="600" height="415"> -->
		</div>
		<!-- 青少 -->
		<!-- <div class="m-step-set">
			<img class="step-set-1" src="/images/html/teach_landing/step_set_1_youth.png" alt="" width="1000" height="415">
			两栏的情况
			<img class="step-set-2" src="/images/html/teach_landing/step_set_2_youth.png" alt="" width="600" height="415">
		</div> -->
	</div>
</div>
<div class="m-screen f-bgw">
	<div class="m-md">
		<h2 class="u-tt-4" title="优质的师资力量，暖心的教学服务"></h2>
		<ul class="m-teachers clearfix">
			<li>
				<img src="/images/html/teach_landing/teacher_1.jpg" alt="">
				<h3>发音清晰，口语纯正，语言流利</h3>
			</li>
			<li>
				<img src="/images/html/teach_landing/teacher_2.jpg" alt="">
				<h3>教学经验丰富，课堂气氛活跃</h3>
			</li>
			<li class="last">
				<img src="/images/html/teach_landing/teacher_3.jpg" alt="">
				<h3>耐心细致，认真负责，幽默生动</h3>
			</li>
		</ul>
	</div>
</div>
<div class="m-screen">
	<div class="m-md">
		<h2 class="u-tt-5" title="系统的学习机制，灵活的时间安排"></h2>
		<div class="m-time-set">
			<img src="/images/html/teach_landing/time_set.png" alt="" width="1000" height="179">
		</div>
	</div>
</div>
<div class="m-banner-2">
	<!-- 8399套餐的图 -->
	<img src="/images/html/teach_landing/learn_8399.jpg" alt="" width="1920" height="638" />
	<!-- <img src="/images/html/teach_landing/learn_8399_youth.jpg" alt="" width="1920" height="638" /> -->
	<!-- 4999套餐的图 -->
	<!-- <img src="/images/html/teach_landing/learn_4999.jpg" alt="" width="1920" height="638" />
	<img src="/images/html/teach_landing/learn_4999_youth.jpg" alt="" width="1920" height="638" /> -->
</div>

<div class="m-banner-3">
	<img src="/images/html/teach_landing/learn_2.jpg" alt="" width="1920" height="460" />
	<a class="u-buy-btn" href="javascript:;"></a>
</div>
<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号 京公网安备11010802018414号
    </p>
  </div>
</div>
<script src="/js/html/project/teach_landing/vendor.js"></script>
</body>
</html>