<% include ../common/top.ejs %>
<link rel="stylesheet" href="http://static.51talk.com/static/css/up_style.css">
<body>
<!-- 用户中心首页头部  -->
<% include ../common/user_center/up_g_h.ejs %>
<!-- main -->
<div class="cej" id="container" data-init="cej">
  <img src="<%= imagessrc%>cej_adv.jpg"> 
  <div class="cej-lev" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780">
    <div class="les-list">
      <p class="tst tstActive">Classic English Level 3</p>
      <ul class="t-ul">
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第一单元  我的家庭和我 My Family and I —— 一般过去时</a><span class="t-stu"></span></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第二单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第三单元 早餐文化盘点 Breakfast——动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第四单元 早餐文化盘点—— 动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第五单元  我的家庭和我 My Family and I —— 一般过去时</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第六单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
      </ul>
    </div>
    <div class="les-list">
      <p class="tst">Classic English Level 3</p>
      <ul class="t-ul hide">
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第一单元  我的家庭和我 My Family and I —— 一般过去时</a><span class="t-stu"></span></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第二单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第三单元 早餐文化盘点 Breakfast——动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第四单元 早餐文化盘点—— 动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第五单元  我的家庭和我 My Family and I —— 一般过去时</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第六单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
      </ul>
    </div>
    <div class="les-list">
      <p class="tst">Classic English Level 3</p>
      <ul class="t-ul hide">
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第一单元  我的家庭和我 My Family and I —— 一般过去时</a><span class="t-stu"></span></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第二单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第三单元 早餐文化盘点 Breakfast——动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第四单元 早餐文化盘点—— 动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第五单元  我的家庭和我 My Family and I —— 一般过去时</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第六单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
<% include ../common/bottom.ejs %>
<style>
  #ckplayerDialog .close{
    background: transparent url('../../../images/html/cej28336/video_close.png');  
  }
</style>