<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>老师课表</title>
    <link rel="stylesheet" href="/css/html/lessonMemo/lessonMemoOuter.css">
</head>
<body>
	<div class="container container2" id="lesson-dialog" >
		<!--个性评价-->
		
	</div>


	<script id="dialog-w" type="text/template">

		<div class="h-title">
			<span class="t1">Katherine（Level 4）</span> <span class="t2">Classic English Junior Level1 > Unit1 > Lesson6 : Learn Hadoop and get certified</span>
			<span class="close"></span>
		</div>
		<form>
			<div class="bd">
				<!--单词发音-->
				<div class="pronucation">
					<div class="title">
						<span class="t1">Part1. Pronunciation</span>
						<span class="t2">(Please select at least 1 correction)</span>
					</div>
					<div class="pronun">
						<p>Key words in this lesson</p>
						<ul class="wordsList clearfix">
							<li><input class="hide" type="checkbox" checked="checked" /><i class="active"></i><span>envelope</span></li>
							<li><i></i><span>envelope</span></li>
							<li><i></i><span>envelope</span></li>
						</ul>
						<div class="review">
							<p>Pronunciation to review</p>
							<div class="riview-box clearfix">
								<ul class="reviewList clearfix">
									<li><input type="text" value="envelope / envələʊp /" /><i></i></li>
									<li><input type="text" value="envelope / envələʊp /" /><i></i></li>
									<li><input type="text" value="envelope / envələʊp /" /><i></i></li>
									<li><input type="text" value="envelope / envələʊp /" /><i></i></li>
									<li><span class="com_addView"></span></li>
																</ul>
							</div>
						</div>
					</div>
				</div>
				<!--语法修整-->
				<div class="grammer">
					<div class="title">
						<span class="t1">Part 2.  Grammar / Syntax</span>
						<span class="t2">(Please write at least 1 correction)</span>
					</div>
					<div class="describe">Key words in this lesson</div>
					<div class="grammer-box">
						<ul class="gramList clearfix">
							<li class="com_dashTop">
								<input type="text" class="error" value="incorrect" />
								<input type="text" class="succ" value="correct" />
								<i></i>
							</li>
							<li class="com_dashTop">
								<input type="text" class="error" value="incorrect" />
								<input type="text" class="succ" value="correct" />
								<i></i>
							</li>
							<li class="com_dashTop">
								<input type="text" class="error" value="incorrect" />
								<input type="text" class="succ" value="correct" />
								<i></i>
							</li>
							<li class="com_dashTop">
								<input type="text" class="error" value="incorrect" />
								<input type="text" class="succ" value="correct" />
								<i></i>
							</li>
							<li>
								<div class="com_box">
									<span class="com_addView"></span>
								</div>
							</li>
						</ul>
						
					</div>	
				</div>
				
				<!--评价-->
				<div class="evluation">
					<div class="title">
						<span class="t1">Part 3. Assessment</span>
						<span class="t2">(A personalized assessment is very helpful to your student's progress/success)</span>
					</div>
					<ul class="asseList">
						<li class="assChild com_dashTop ">
							<p class="com_mb10">General Evaluation</p>
							<div class="sugBox">
									<textarea  class="sugTxt com_area">
											can see your understanding of the grammar has improved. Great job! I can see your understanding of the grammar has improved. Great job!
								</textarea>
								<a href="javascript:;" class="com_changeBtn">Change</a>
							</div>
						</li>
						<li class="assChild com_dashTop ">
							<p class="com_mb10">Suggestion</p>
							<div class="sugBox">
								<textarea class="sugTxt com_area"></textarea>
								<a href="javascript:;" class="com_changeBtn">Change</a>
							</div>
						</li>
						<li class="assChild com_dashTop ">
							<p class="com_mb10">Option  more</p>
							<div class="sugBox">
								<textarea class="sugTxt com_area"></textarea>
							</div>
						</li>
					</ul>
				</div>

				
				<!--交流技巧-->
				<div class="communaction">
					<div class="title">
						<span class="t1">Part 4. Communication Skilll</span>
					</div>
					<ul class="skill">
						<li>
							<div class="clearfix">					
								<h4>Participation</h4>
								<p>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span></span>
								</p>
							</div>
							<div class="skill-des">
								Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
							</div>
						</li>
						<li>
							<div class="clearfix">					
								<h4>Grammar</h4>
								<p>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span></span>
								</p>
							</div>
							<div class="skill-des">
								Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
							</div>
						</li>
						<li>
							<div class="clearfix">					
								<h4>Vocabulary</h4>
								<p>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span></span>
								</p>
							</div>
							<div class="skill-des">
								Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
							</div>
						</li>
						<li>
							<div class="clearfix">					
								<h4>Fuency</h4>
								<p>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span></span>
								</p>
							</div>
							<div class="skill-des">
								Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
							</div>
						</li>
						<li>
							<div class="clearfix">					
								<h4>Llisten</h4>
								<p>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span class="active"></span>
									<span></span>
								</p>
							</div>
							<div class="skill-des">
								Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
							</div>
						</li>
					</ul>
				</div>
				
				<!--学习阶段-->
				<div class="studying box-bom">
					<div class="title">
						<span class="t1">Part 5.  Choose Stage</span>
						<i class="toUp"></i>
					</div>
					<div class="com_box">
						<ul class="wordsList com_bg1">
							<li>
								<div class="studying-box">
									<i></i>
									<span>Basic User</span>
								</div>	
								<div class="studying-des">
									Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
								</div>
							</li>
							<li>
								<div class="studying-box">
									<i></i>
									<span>Intermediate User</span>
								</div>	
								<div class="studying-des">
									Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
								</div>
							</li>
							<li >
								<div class="studying-box">
									<i class="active"></i>
									<span>Independent User</span>
								</div>	
								<div class="studying-des">
									Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
								</div>
							</li>
							<li>
								<div class="studying-box">
									<i></i>
									<span>Procficient User</span>
								</div>	
								<div class="studying-des">
									Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;
								</div>
							</li>
						</ul>
					</div>
					
				</div>

				<!--学习等级-->
				<div class="choose-level box-bom">
					<div class="title">
						<span class="t1">Part 6. Choose Level</span>
					</div>
					<div class="com_box">
						<ul class="wordsList clearfix com_bg2">
							<li>
								<i></i>
								<span>level 0</span>
							</li>
							<li>
								<i class="active"></i>
								<span>level 1</span>
							</li>
							<li>
								<i></i>
								<span>level 2</span>
							</li>
							<li>
								<i class="active"></i>
								<span>level 3</span>
							</li>
							<li>
								<i class="active"></i>
								<span>level 4</span>
							</li>
							<li>
								<i></i>
								<span>level 5</span>
							</li>
							<li>
								<i class="active"></i>
								<span>level 6</span>
							</li>
						</ul>
					</div>
				</div>
				<!--学习等级-->
				
				<!--学习评价-->
				<div class="assessment box-bom">
					<div class="title">
						<span class="t1">Part 7. Assessment</span>
						<span class="t2">(A personalized assessment is very helpful to your student's progress/success)</span>
					</div>
					<div class="box-con have-line">
						<p>General Evaluation</p>
						<div class="com_box">
							<ul class="wordsList clearfix com_bg2">
								<li href="javascript:;">
										<i class="active"></i>
										<span>A+</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>A</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>A-</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>B+</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>B-</span>
									</li>
							</ul>
						</div>
						<div class="des">Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;</div>
						<div class="sugBox">
								<textarea class="sugTxt com_area"></textarea>
								<a href="javascript:;" class="com_changeBtn">Change</a>
						</div>
					</div>	
					<div class="box-con have-line">
						<p>Weakness</p>
						<div class="com_box">
							<ul class="wordsList clearfix com_bg2">
								<li href="javascript:;">
										<i class="active"></i>
										<span>A+</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>A</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>A-</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>B+</span>
									</li>
									<li href="javascript:;">
										<i></i>
										<span>B-</span>
									</li>
							</ul>
						</div>
						<div class="des">Able to fully comprehend lesson tasks and respond spontaneously;  Able to use proper words, grammar and syntax;</div>
					</div>
					<div class="box-con have-line">
						<p>Suggestion</p>
						<div class="sugBox">
								<textarea class="sugTxt com_area"></textarea>
								<a href="javascript:;" class="com_changeBtn">Change</a>
						</div>
					</div>
					<div class="box-con">
						<p>Option  more</p>
						<div class="sugBox">
								<textarea class="sugTxt com_area"></textarea>
						</div>
					</div>	
				</div>
				<!--学习评价-->
				
				<div class="com_tip noBegin">
					<span></span>
					<p>You can fill this <br/> after class  has began</p>
				</div>
				<div class="com_tip ok">
					<span></span>
					<p>You can fill this <br/> after class  has began</p>
				</div>
			</div>
			<a href="javascript:;" class="sub">Submit</a>
		</form>

	</script>

	<script type="text/javascript" src="../../../js/html/project/lessonMemo/lodash.min.js"></script>
	<script type="text/javascript" src="../../../js/html/project/lessonMemo/jquery.min.js"></script>
	<script type="text/javascript" src="../../../js/html/project/lessonMemo/index.js"></script>
</body>
</html>
