 
// 尾部
.info{
  background: #303030;
  color: #ffffff;
  padding:35px 0 65px 0;
  .link-ti{
    margin-top: 15px;
    padding-top: 30px;
    .link-ul{
      width: 610px;
      height: 49px;
      margin:0px auto;
      li{
        float: left;
        width: 152px;
      }
    }
  }
  .link-ft{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    em{
      margin:0 5px;
    }
    a{
      color: #ffffff;
    } 
  }
}
 