<% include ../common/top.ejs %>
<body data-init="formCommon">
	<div class="main-wrap">
		<div class="form-wrap reg-step1">
			<form action="#" autocomplete="off" rel="from">
				<dl class="cfix">
					<dt></dt>
					<dd>
						<input type="tel" rel="phone" class="input-t-style" placeholder="请输入手机号" maxlength="11" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt class="dt1"></dt>
					<dd>
						<input type="tel" rel="verifycode" class="input-t-style" placeholder="请输入验证码" maxlength="6" />
					</dd>
					<dd class="send-verify">
						<input type="button" value="获取验证码" send-url="http://www.baidu.com" send-type="2" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="password" class="input-t-style" placeholder="请输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="eqpassword" class="input-t-style" placeholder="请再次输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="确定" />
				</div>
			</form>
		</div>		
	</div>
</body>
<% include ../common/bottom.ejs %>