<% include ../common/top.ejs %>
<body>
	<div class="pay-wrap">
		<div class="pay-success pay-waiting">
			<h5><p>订单正在处理中...</p></h5>
			<p>请留意您的微信交易记录状态，<br/>如未付款，您可以重新支付。<br/>如有任何疑问请联系您的课程顾问，<br/>或拨打服务热线4000515151。</p>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>