<% include ../common/top.ejs %>
<body>
	<div class="pay-wrap">
		<div class="pay-success pay-none">
			<p>您当前暂无待支付课程套餐。如有任何疑问请联系您的课程顾问，或拨打服务热线4000515151</p>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>