<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk-无忧英语</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/audio_chat/audio_chat.css"></head>
<body>
	<section  id="container"  data-init="audio_chat">
		<article class="ly_chat">
			<div class="chat_log">
				<p class="log_teacher">Kenneth老师 23:00:58</p>
				<p>Hi! Good Evening! Welcome to 51Talk Online English School. Im Teacher Kenneth and ill be your Teacher for this lesson:) How are you?</p>
			</div>
			<div class="chat_log">
				<p class="log_myself">我 23:02:30</p>
				<p>Hi! Good Evening! Welcome to 51Talk Online English School. Im Teacher Kenneth and ill be your Teacher for </p>
			</div>
			<div class="chat_log">
				<p class="log_teacher">Kenneth老师 23:02:53</p>
				<p>Why do you want to learn english?</p>
			</div>
			<div class="chat_log">
				<p class="log_myself">我 23:02:30</p>
				<p><img src="/images/wap/audio_chat/send_img.png"  class="log_img"></p>
			</div>
			<div class="chat_log">
				<p class="log_myself">我 23:02:30</p>
				<p><img src="/images/wap/audio_chat/text.png"  class="log_img"></p>
			</div>
		</article>
		<article class="none_chat" style="display:none">
			<div class="none_tit">
				本节课无文字聊天记录
			</div>
		</article>
	</section>
</body>
<script src="/js/wap/project/audio_chat/vendor.js" id="seajsnode"></script> 
</html>