<% include ../common/top.ejs %>

<body>
	<div id="container" data-init="ac_share">
		
			<div class="logo"></div>
			<div class="video-c">
				<div class="video-box">
					<ul id="shareList" class="clearfix">
					</ul>
				</div>
				<div class="ac-video-mask" id="acVideoMask">
					<div class="ac-video-btn" id="acVideoBtn"></div>
				</div>
			</div>
			<article>
				<div class="info-box">
					<div class="head-portrait"><img src="<%= imagessrc%>/img_01.png"/></div>
					<div class="info-art">
					<div class="user-box">
						<span class="user-name">路飞</span>
					</div>
					<div class="user-text">快来听听的我的发音有没有更标准啦！用这个配音棒棒哒！</div>
				</div>
				</div>
			</article>
			<article>
				<div class="info-box">
					<div class="head-portrait"><img src="<%= imagessrc%>/img_01.png"/></div>
					<div class="info-art">
					<div class="user-box">
						<span class="user-name">路飞</span>
					</div>
					<div class="user-text">快来听听的我的发音有没有更标准啦！用这个配音棒棒哒！</div>
				</div>
				</div>
			</article>
		
	</div>

</body>

<% include ../common/bottom.ejs %>










