<!DOCTYPE html>
<html>
<head>
    <title>学习进度</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/studyProgress/studyProgress.css">
  <style id="dynamic"></style>
</head>
<body> 
  <div class="studyProgress" data-init="progress">
    <div class="header">
        <div class="headerIn">
           <a href="javasctipt:;">官网首页</a>
        </div>
    </div>
    <div class="content">
        <div class="s-banner">
            <h3>
              <span>某某的</span><br />
              学习进度报告
            </h3>
        </div>
        <div class="part">
            <h3>完成了<span>XX</span>节1对1外教课，累计说英语<span>XX</span>分钟</h3>
            <dl>
                  <dt>
                     <h4>
                        <i>
                          <span></span>
                        </i>
                        经典英语青少版
                        <em>Classic English Juior</em>
                     </h4>
                     <span>已完成<em> 20%</em></span>
                  </dt>
                  <dd>
                      <div class="pmgressbar">
                          <span class="red redBar" data="50%" id="redBar"></span>
                      </div>
                  </dd>
              </dl>
              <dl>
                  <dt>
                     <h4>
                        <i>
                          <span class="green"></span>
                        </i>
                        旅游英语
                        <em>Travel English</em>
                     </h4>
                     <span>已完成<em class="green"> 20%</em></span>
                  </dt>
                  <dd>
                      <div class="pmgressbar">
                          <span class="green greenBar" data="" id="greenBar"></span>
                      </div>
                  </dd>
              </dl>
              <dl>
                  <dt>
                     <h4>
                        <i>
                          <span  class="blue"></span>
                        </i>
                        生活口语
                        <em>Oral English</em>
                     </h4>
                     <span>已完成<em class="blue"> 20%</em></span>
                  </dt>
                  <dd>
                      <div class="pmgressbar">
                          <span class="blue blueBar" data="" id="blueBar"></span>
                      </div>
                  </dd>
              </dl>
        </div>
        <div class="part pie-part">
            <h3>课程学习统计数据</h3>
            <div class="s-pie">
               <div id="pie-container" style="height:450px;width:500px;"></div>
               <input type="hidden" value="25" id="oneToOneClass" />
               <input type="hidden" value="15" id="MiniClass" />
               <input type="hidden" value="40" id="openClass" />
               <input type="hidden" value="20" id="efl" />
               <input type="hidden" value="20" id="iTalk" />
            </div>
            
            <div class="s-summary">
                <ul class="s-summaryIn">
                    <li>
                        <h4>
                              <i class="i1"><span></span></i>    
                              1对1外教课
                        </h4>
                        <em>20%</em>
                    </li>
                    <li>
                        <h4>
                              <i class="i2"><span></span></i>
                              精品小班课
                        </h4>
                        <em>20%</em>
                    </li>
                    <li>
                        <h4>
                            <i class="i3"><span></span></i>
                            EFL练习次数
                        </h4>
                        <em>20%</em>
                    </li>
                    <li>
                        <h4>
                            <i class="i4"><span></span></i>
                            精品公开课
                        </h4>
                        <em>20%</em>
                    </li>
                     <li>
                        <h4>
                            <i class="i5"><span></span></i>
                            iTalk练习次数
                        </h4>
                        <em>20%</em>
                    </li>
                </ul>
            </div>
        </div>
        <div class="s-freeEntry">
            <a href="javascript:;">马上免费体验</a>
        </div>
    </div>
  </div>
</body>
 <script src="/js/html/project/studyProgress/vendor.js"></script>
</html>
