<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/ac_popup/ac_popup.css">
</head>
<body data-init="acpopupMeeting">
    <div class="ac-popup-wrap ac-to-meeting">
        <div class="ac-popup-content to-meeting">
            <p class="meeting-timmer">请不要关闭教室，<span>5</span> 秒钟之后为您接入家长会</p>
            <img src="/images/html/ac_popup/meeting-book.png" />
        </div>
        <div class="ac-popup-bottom">
        </div>
    </div>
<script type="text/javascript">
    function acCallback(r){
       alert(0+" 计时结束");
    }
</script>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/ac_popup/vendor.js"></script>
</html>