<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/ac_popup/ac_popup.css">
</head>
<body data-init="teaType3">
    <div class="ac-popup-wrap">
        <div class="ac-popup-header clearfix">
            <p class="fl">Quiz</p>
            <p class="fr">
                <a href="javascript:void;" class="a-close">Go back to class</a>
            </p>
        </div>
        <div class="ac-popup-content">
            <p class="type_title type_3_title">Word Choice</p>
            <p class="type_2_text">I ___ born in ___ on May 10th.</p>
            <div class="type_btn" yinpin="/images/html/ac_voice_share/horse.mp3">
            <div class="ac_tip">点击此处播放</div></div>
            <div class="type_2_img tea_type_3_img">
                <img src="/images/html/ac_popup/q_img.jpg" />
            </div>
            <div class="question_choose stu_choose">
                <p class="choose_click">A. was, 2005</p>
                <p class="">B. were,2004</p>
                <p>C. am,2005 </p>
            </div>
             <p class="type_4_text  tea_text">Answer : <span class="text_a">B</span></p>
        </div>
        <div class="ac-popup-bottom">
            <input type="button" value="Send to students" class="btn-teasend btn-disabled" disabled="disabled"  />
        </div>
    </div>
    <div id="mp3Box"></div>

</body>
<!--公共尾部结束-->
<script src="/js/html/project/ac_popup/vendor.js"></script>
</html>