<% include ../common/top.ejs %>
<body>
<input type="hidden" id="container" data-init="ac_share" />
<div class="ac-voice-box" id="acShareBox">
  <div class="ac-voice-top">
    <span class="close-box" id="closeBtn"></span>
  </div>
  <div class="ac-share-main">
    <div class="ac-share-video">
      <div class="ac-share-v-box">
        <div id="acShareVideo" class="ac-share-img">
          <ul id="acShareList" class="ac-share-list clearfix">
            
          </ul>
          
        </div>
        <div id="acShareMask" class="ac-share-mask"></div>

        <div id="acSharePlay" class="ac-share-btn ac-share-start"></div>
      </div>
      <h1 id="acShareTitle">Hi ! Friends ! I went to the woods before.</h1>
      
    </div>
    <div class="ac-share-ma">
      <div class="ac-share-top">
       <div class="ac-ma">
          <img src="<%= imagessrc%>/ma.jpg"/>
        <div>
        
      </div>
      
    </div>
    <span>扫一扫分享到微信</span>
  </div>
  <div class="ac-share-top ac-share-bottom">
       <div class="ac-ma">
          <img src="<%= imagessrc%>/ma.jpg"/>
        <div>
        
      </div>

    </div>
    <span>扫一扫分享给QQ好友</span>
  </div>
</div>
<div id="mp3Box"></div>
</body>
<% include ../common/uc_bottom.ejs %>