
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/send_gift20170215/send_gift20170215.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="send_gift-wrap">
      <section class="p-header"><img src="/images/wap/send_gift20170215/logo.png" alt="" class="logo"/>
        <div class="name_code">
          <p class="name">美国纽交所上市公司</p>
          <p class="code">NYSE: COE</p>
        </div>
      </section>
      <section data-init="main" id="container" class="m-rota_game">
        <div class="banner"><img src="/images/wap/send_gift20170215/banner.jpg" alt=""/></div>
        <div id="lottery">
          <input type="hidden" id="first_phone" value="1"/>
          <ul class="l_grid clearfix">
            <li class="l_prize l_prize-0 l_now">
              <div class="prize-0">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li class="l_prize l_prize-1">
              <div class="prize-1">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li class="l_prize l_prize-2">
              <div class="prize-2">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li class="l_prize l_prize-7">
              <div class="prize-7">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li data-url="" class="pointer"></li>
            <li class="l_prize l_prize-3">
              <div class="prize-3">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li class="l_prize l_prize-6">
              <div class="prize-6">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li class="l_prize l_prize-5">
              <div class="prize-5">
                <p><span>剩余</span><span>1000</span></p>
              </div>
            </li>
            <li class="l_prize l_prize-4">
              <div class="prize-4">
                <p><span>再接</span><span>再厉</span></p>
              </div>
            </li>
          </ul>
        </div>
        <p id="total_prize_times" class="time_tips">
           
          今日你还有<span>0</span>次抽奖机会	
        </p><a href="javascript:;" id="get_chance_btn" class="get_chance_btn"></a>
      </section>
      <section class="m-other">
        <div class="game-rule">
          <h3 class="caption"><img src="/images/wap/send_gift20170215/game_rule_caption.png" alt=""/></h3>
          <ul class="rule_detail">
            <li> 
              <p>活动日期：2月24日—3月3日</p>
            </li>
            <li>
              <p>每人均有3次初始抽奖机会，每求助一位好友，可增加1次抽奖机会，同一好友不得重复赠送。</p>
            </li>
            <li>
              <p>活动期间，可邀请多个好友赠送抽奖机会，不设邀请上限。</p>
            </li>
            <li>
              <p>获得51Talk外教一对一课时的用户，将于48小时内，由工作人员联系发放；</p>
            </li>
            <li>
              <p>获得精品公开课的用户，相应课时将于3月10日前充入账户；</p>
            </li>
            <li>
              <p>获得实物奖品的用户，需正确填写姓名、联系方式、邮寄地址，奖品将于3月10日前完成发放。</p>
            </li>
            <li>
              <p>实物奖品港澳台及国外不包邮</p>
            </li>
            <li>
              <p>活动最终解释权归51Talk美国小学所有！</p>
            </li>
          </ul>
        </div>
        <div class="new_dynamic">
          <h3 class="caption"><img src="/images/wap/send_gift20170215/new_dynamic_caption.png" alt=""/></h3>
          <div class="new_list">
            <ul>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
              <li>
                <p class="name">liyangliyang</p>
                <p class="prize">抽中了美国夏令营亲子游！</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="my_prizes">
          <h3 class="caption"><img src="/images/wap/send_gift20170215/my_prizes_caption.png" alt=""/></h3>
          <div class="my_prizes_lst"><img src="/images/wap/send_gift20170215/my_prize_index_0.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_index_2.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_index_5.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_index_6.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_index_7.png" alt=""/></div>
        </div>
        <div class="ranking_list">
          <h3 class="caption"><img src="/images/wap/send_gift20170215/get_prize_caption.png" alt=""/></h3>
          <p class="prize_tips"> <span>前20名有额外奖品</span>（按抽奖次数排行）</p>
          <div class="my_list">
            <div class="rank_num">
              <p>排名</p>
              <p>999</p>
            </div>
            <div class="line"></div><img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
            <div class="name_time">
              <p class="name">李杨李杨</p>
              <p class="time">已抽<span>200</span>次</p>
            </div>
            <div class="get_prize">
              <p style="display:none;">前20名有额外奖品</p>
              <p class="will">将获得</p>
              <p>儿童英文绘本一套</p>
            </div>
          </div>
          <div style="display:none;" class="nolist_tips">榜单正在统计中，请稍后查看...</div>
          <ul class="top_list">
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
            <li> <img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
              <div class="name_time">
                <p class="name">李杨李杨</p>
                <p class="time">已抽<span>200</span>次</p>
              </div>
              <div class="get_prize">
                <p class="will">将获得</p>
                <p>儿童英文绘本一套</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="m-bottom">
          <p>51Talk 美国小学</p>
          <p>
             
            客服电话<span></span>400-5151-51
          </p>
        </div>
      </section>
      <section id="send_chance_tips" class="f-mask">
        <div class="send_chance_tips p_mask_wrap"><img src="/images/wap/send_gift20170215/head.jpg" alt="" class="head_img"/>
          <p class="name">李杨</p>
          <p class="goal_help">向你跪求抽奖机会！</p>
          <p class="caption_describe">51talk美国小学 “欢乐开学季，豪礼送不停”活动<br> 正在火热进行中...快来帮帮他吧！</p><a href="javascript:;" class="p_close_btn"></a><a href="javascript:;" data-url="xx" class="send_chance"></a>
          <div class="get_prizes">
            <p class="caption">李杨已抽中奖品：</p>
            <div class="prizes_lst"><img src="/images/wap/send_gift20170215/my_prize_0.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_2.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_5.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_6.png" alt=""/><img src="/images/wap/send_gift20170215/my_prize_7.png" alt=""/></div>
          </div>
        </div>
      </section>
      <section id="share_tips" class="f-mask">
        <div class="share_tips"><img src="/images/wap/send_gift20170215/share_tips.png" alt=""/><a href="javascript:;" class="close_btn"></a></div>
      </section>
      <section id="smart_100_tips" class="f-mask">
        <div class="smart_100_tips p_mask_wrap"><img src="/images/wap/send_gift20170215/smart_100_tips.png" alt=""/><a href="javascript:;" class="p_close_btn"></a></div>
      </section>
      <section id="no_change_tips" class="f-mask">
        <div class="no_change_tips p_mask_wrap">
          <div>
            <p>
               
              抽奖次数<span>“用光了”</span>
            </p>
            <p>快去向好友求抽奖机会吧！</p>
          </div><a href="javascript:;" class="p_close_btn"></a>
        </div>
      </section>
      <section id="send_success_tips" class="f-mask">
        <div class="send_success_tips p_mask_wrap"><img src="/images/wap/send_gift20170215/send_success_tips.png" alt=""/><a href="javascript:;" class="close_btn"></a><a href="javascript:;" class="p_close_btn"></a></div>
      </section>
      <section id="fill_phone_tips" class="f-mask">
        <div class="fill_phone_tips p_mask_wrap">
          <p class="caption">为了中奖后方便联系<br>请输入手机号</p>
          <ul class="list">
            <li>
              <div class="lis_wrap">
                <input type="text" id="phone" placeholder="请输入手机号"/>
              </div>
              <p class="error_tips">请输入正确的手机号</p>
            </li>
            <li>
              <div class="lis_wrap">
                <input type="text" id="code" placeholder="请输入验证码"/>
                <p data-url="XX" class="send_code">获取验证码</p>
              </div>
              <p class="error_tips">请输入正确的验证码</p>
            </li>
          </ul><a href="javascript:;" class="send_phone_btn"></a><a href="javascript:;" class="p_close_btn"></a>
        </div>
      </section>
    </section>
    <script src="../../../js/wap/project/send_gift20170215/flexible.js" type="text/javascript"></script>
    <script src="../../../js/wap/project/send_gift20170215/pind.js" type="text/javascript"></script>
    <script src="/js/wap/project/send_gift20170215/vendor.js" id="seajsnode"></script>
  </body>
</html>