/**
 * 默认样式
 * @author:  liliang（liliang05@51talk.com）
 * @update:  2017年01月04日 星期四 13时45分37秒 CST
 * @note:    黑鸟项目后台中转页面样式
 */

// 图片path
@imgMpath: "../../../images/html/weixin_heck/";
html,body{
    width: 100%;
}
.big-bg{
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: url("@{imgMpath}defaultbg.png") center top no-repeat;
    background-size: contain;
    div{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px;
        height: 100px;
        z-index: 9;
        h4{
            font-weight: normal;
            color:#646464;
            font-size:18px;
            margin: 0 auto;
        }
        input{
            display:block;
            width: 200px;
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            margin: auto;
            margin-top: 40px;
        }
      .ablBtn{
        background:rgb(255,128,0);
        color: #fff;
      }
      .disBtn{
        background: #ddd;
        color:#eee;
      }
    }

}
