// 图片path
@imgMpath: "../../../images/html/weixin_heck/";

html,body{
    height: 100%;
    width: 100%;
}

.weixin_heck{
    background:url("@{imgMpath}heck_bg.png") no-repeat center center;
    background-size: cover;
    .heck_top{
        height: 80px;
        background: #ffdb69;
        border-bottom: 1px solid #dc9855;
    }
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 70px;
        background: #303030;
    }
}
.weixin_account{
    .change_account{
        width: 370px;
        height: 240px;
        border-radius: 6px;
        margin:100px auto 0;
        background: #fff;
        text-align: center;
        h3{
            color:#ff8000;
            padding-top: 20px;
            text-align: center;
            font-size: 18px;
            font-weight: 900;
        }
        i{
            display: block;
            width: 35px;
            height: 5px;
            border-radius: 999px;
            background: #dcdcdc;
            margin: 7px auto 0;
        }
        input{
            width: 250px;
            height: 40px;
            border-radius: 4px;
            margin: 0 auto;
        }
        .text_account{
            width: 230px;
            background: #f5f5f5;
            border: 1px solid #dcdcdc;
            margin-top: 40px;
            padding:0 10px;

        }
        .sub_account{
            margin-top: 30px;
            background: #ff8000;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
        }
    }
}