<% include ../common/teachersDay_top.ejs %>
<body >
	<section class="wrap-box" data-init="teachersDay">
		<div class="stars"><span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
		</div>
		<div class="stars2"></div>
		<div class="stars2 stars3"></div>
	</section>
	<div class="wrapper">
		<section class="stag step1" style="display:none">
			<div  class="text1">
		
			</div>
			<div class="wave-btn">
				
				<ul>
					<li></li>
					<li id="start">点击开始<br/>时光隧道</li>
				</ul>
			</div>
		</section>
		<section class="stag step2" style="display:none">
			<div class="content">
					<div class="t1">
						<p>
							<span class="orange">2015年5月20日</span></br>
							我们第一次相识</br>
							你用25分钟第一次对话了世界</br>
							那个时候</br>
							<span class="bft">你的等级是Level.03</span>
						</p>
					</div>
					<div class="t2">
						<p>
							成为51TALK</br>
							<span class="bft">第<span class="orange">192407</span>名学员</span>
						</p>
					</div>
					<div class="t3">
						<p>
							距今，我们认识了</br>
							<span class="bft"><span class="orange">1546</span>小时</span>
						</p>
					</div>
					<div class="t4">
						<p>
							这段时间里我们有了很多故事
						</p>
					</div>
			</div>
			
		</section>
		<section class="stag step3" style="display:none">
			<div class="content">
					<div class="t1">
						<p>
							在这期间</br>
							<span class="bft">你一共对话了<span class="orange">34</span>位老师</span>
						</p>
					</div>
					<div class="t2">
						<p>
							也许因为缘份</br>
							<span class="bft">你跟XXX老师聊得最久</span>
						</p>
					</div>
					<div class="pic">
						<img src="<%= imagessrc%>/pic.png">
					</div>
					<div class="t3">
						<p>
							你们交流了<span class="orange">2469</span>分钟</br>
							不知不觉你的等级</br>
							<span class="bft">从Level.03提高到了Level.07</span>
						</p>
					</div>
					<div class="t4">
						<p>
							这是你的BIG NEWS</br>
							也是我们的BIG NEWS
						</p>
					</div>
			</div>
		</section>
		<section class="stag step4" style="display:none">
			<div class="content">
					<div class="t1">
						<p>
							至今</br>
							<span class="bft">在全国XXX城市</span></br>
							<span class="bft">有XXX人和你一样都喜欢这位老师</span>
						</p>
					</div>
					<div class="t2">
						<p>
							<span class="bft">Ta在51Talk共计上课<span class="orange">3823</span>分钟</span></br>
							竭尽全力</br>
							<span class="bft">改变了<span class="orange">336</span>名和你一样追求梦想的人</span>
						</p>
					</div>
					<div class="t3">
						<p>
							<span class="bft">在51Talk的<span class="orange">3823</span>多名老师</span></br>
							<span class="bft">和XXX一样</span></br>
							默默努力着
						</p>
					</div>
			</div>
		</section>
		<section class="stag step5" style="display:block">
			<div class="t1">
				
			</div>
			<div class="praise">
				为TA点赞
			</div>

			<div class="open">开启新手大礼包</div>
			<div class="role">活动规则 >></div>

			<div class="roleDialog">
				<div class="close"></div>
				<h3>活动细则</h3>
				<p></br>活动时间：9月9日-9月18日</br></br></p>
				<p>活动规则：在活动期间内点赞数最高的前三名将获得iPhone7手机一部，中奖名单将于活动结束后在51Talk论坛公布,敬请期待</p>
			</div>
		</section>
	</div>	
	<div class="music playing"></div>
	<div class="toswitch" style=""></div>
	<audio autoplay="autoplay" id="audio" style="display:none;" loop="loop" src="<%= imagessrc%>/audio.mp3"></audio>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>