@charset "utf-8";
@imgPath: "../../../images/wap/edu20170606/";
*{-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:'Microsoft YaHei',STXihei,MingLiu;}
body,html{margin:0;padding:0;}
.width100{width:100%;display:block;border:none;}
.getFree,.goBuy{
    position: relative;
    .In{
        position: absolute;
        width: 100%;
        left:0;
        top:0;
        a{
            display: block;
            height:0.923077rem;
            width:5.076923rem;
            line-height: 0.923077rem;
            text-align: center;
            background: #ea5513;
            color:#fff;
            font-size: 0.461538rem;
            font-weight: 900;
            text-decoration: none;
            border-radius: 0.923077rem;
            margin:0 auto;
        }
    }
}
