
<section class="p-advantage">
  <h3 class="p-title">Bubble正在这里学习</h3>
  <section class="p-advantage-slogan clearfix">
    <h1><img src="/images/wap/unit_test/talk_slogan.png" alt=""/></h1>
    <section class="p-advantage-slogan_lst clearfix">
      <ul>
        <li><img src="/images/wap/unit_test/slogan_01.jpg" alt=""/>
          <p>纯正北美师资</p>
        </li>
        <li><img src="/images/wap/unit_test/slogan_02.jpg" alt=""/>
          <p>美式教育理念</p>
        </li>
        <li><img src="/images/wap/unit_test/slogan_03.jpg" alt=""/>
          <p>沉浸式教学</p>
        </li>
      </ul>
    </section>
  </section>
  <section class="p-advantage-dis">
    <h1><img src="/images/wap/unit_test/get.png" alt=""/></h1>
    <section class="p-advantage-dis_lst">
      <ul>
        <li>
          <p>288元</p>
          <p>免费体验课</p>
        </li>
        <li>
          <p>9.5折</p>
          <p>购买优惠</p>
        </li>
        <li>
          <p>3课时</p>
          <p>购买赠送</p>
        </li>
      </ul>
      <p class="p-line"></p>
    </section>
  </section>
  <section class="p-advantage-guide">
    <h1><img src="/images/wap/unit_test/experience.png" alt=""/></h1>
    <form action="http://wap.51talk.com/index/doRegister" id="f-register" method="post">
      <ul class="p-advantage-guide_reg">
        <li>
          <label for="mobile">手机号：</label>
          <input type="text" id="mobile" name="mobile"/>
        </li>
        <li>
          <label for="password">密码：</label>
          <input type="password" id="password" name="password"/>
        </li>
        <input type="hidden" name="register_from" id="register_from" value="4141136"/>
      </ul><a href="javascript:;" class="p-advantage-guide_btn"></a>
    </form>
    <section class="p-advantage-guide_tips">
       
      已有<em>2976</em>个宝贝 领取了美国小学体验课		
    </section>
  </section>
</section>