
<section class="p-report">
  <section class="p-report_personal_details"><img src="/images/wap/unit_test/head.jpg" alt="" class="head_img"/>
    <div class="text_details">
      <p class="name">Cecil </p>
      <p class="caption">Unit 1 学习成长报告</p>
      <p class="level_time"> <span>Grade 1</span><span>2016.11.25</span></p>
    </div>
  </section>
  <section class="p-report_grade">
    <h2>单元测评：</h2>
    <ul>
      <li class="l_item">
        <p> <span>100</span>分</p>
        <p> <span></span><span class="u-geted"></span><span></span></p>
      </li>
      <li class="r_item">
        <p>答对：<span>12</span>题</p>
        <p>答错：<span>04</span>题</p>
      </li>
    </ul>
  </section>
  <section style="display:none" class="p-report_grade_none">
    <ul>
      <li class="l_item">
        <h2>单元测评：</h2>
        <div class="img_wrap"><img src="/images/wap/unit_test/grade_none_tit.png" alt=""/></div>
      </li>
      <li class="r_item">
        <p>
           
          宝贝还没完成单元测评哟，
          </br>
          快去检验一下学习成果吧！
        </p>
      </li>
    </ul>
  </section>
  <section class="f-border"></section>
  <section class="p-report_lst">
    <h1 class="p-title">宝贝成长记录</h1>
    <ul class="p-report_lst_lst-1">
      <li>
        <p><span>45</span>天</p>
        <p>完成本单元用时</p>
      </li>
      <li>
        <p><span>87</span>%</p>
        <p>击败同级学员</p>
      </li>
    </ul>
    <div class="p-report_lst_lst-2">
      <table cellspacing="0" cellpadding="0">
        <thead> 
          <tr>
            <td>课程</td>
            <td>课前预习</td>
            <td>课堂表现</td>
            <td>课后复习</td>
          </tr>
        </thead>
        <tr>
          <td>Lesson1</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson2</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson3</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson4</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson5</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson6</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson7</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
        <tr>
          <td>Lesson8</td>
          <td><span>未完成</span></td>
          <td>4.5分</td>
          <td><span>2.2分</span></td>
        </tr>
      </table>
    </div>
  </section>
</section>