
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/unit_test/unit_test.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="unit_test" id="container" class="unit-wrap">
      <section class="p-header"><img src="/images/wap/unit_test/logo.png" alt="" class="logo"/>
        <div class="text_wrap">
          <p class="text">美国纽交所上市公司</p>
          <p class="code">NYSE: COE</p>
        </div>
      </section>
      <section class="p-report">
        <section class="p-report_personal_details"><img src="/images/wap/unit_test/head.jpg" alt="" class="head_img"/>
          <div class="text_details">
            <p class="name">Cecil </p>
            <p class="caption">Unit 1 学习成长报告</p>
            <p class="level_time"> <span>Grade 1</span><span>2016.11.25</span></p>
          </div>
        </section>
        <section class="p-report_grade">
          <h2>单元测评：</h2>
          <ul>
            <li class="l_item">
              <p> <span>100</span>分</p>
              <p> <span></span><span class="u-geted"></span><span></span></p>
            </li>
            <li class="r_item">
              <p>答对：<span>12</span>题</p>
              <p>答错：<span>04</span>题</p>
            </li>
          </ul>
        </section>
        <section style="display:none" class="p-report_grade_none">
          <ul>
            <li class="l_item">
              <h2>单元测评：</h2>
              <div class="img_wrap"><img src="/images/wap/unit_test/grade_none_tit.png" alt=""/></div>
            </li>
            <li class="r_item">
              <p>
                 
                宝贝还没完成单元测评哟，
                </br>
                快去检验一下学习成果吧！
              </p>
            </li>
          </ul>
        </section>
        <section class="f-border"></section>
        <section class="p-report_lst">
          <h1 class="p-title">宝贝成长记录</h1>
          <ul class="p-report_lst_lst-1">
            <li>
              <p><span>45</span>天</p>
              <p>完成本单元用时</p>
            </li>
            <li>
              <p><span>87</span>%</p>
              <p>击败同级学员</p>
            </li>
          </ul>
          <div class="p-report_lst_lst-2">
            <table cellspacing="0" cellpadding="0">
              <thead> 
                <tr>
                  <td>课程</td>
                  <td>课前预习</td>
                  <td>课堂表现</td>
                  <td>课后复习</td>
                </tr>
              </thead>
              <tr>
                <td>Lesson1</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson2</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson3</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson4</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson5</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson6</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson7</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
              <tr>
                <td>Lesson8</td>
                <td><span>未完成</span></td>
                <td>4.5分</td>
                <td><span>2.2分</span></td>
              </tr>
            </table>
          </div>
        </section>
      </section>
      <section class="f-border"></section>
      <section class="results">
        <h1 class="p-title">宝贝学习成果</h1>
        <section class="results_contact">
          <ul class="results_contact_lst">
            <li><img src="/images/wap/unit_test/contact.png" alt=""/></li>
            <li class="r_item">
              <h2>语言交际</h2>
              <p>用简单的语言描述家庭和朋友。</p>
            </li>
          </ul>
          <section class="f-border"></section>
        </section>
        <section class="results_skills">
          <ul class="results_skills_lst-1">
            <li class="l_item"><img src="/images/wap/unit_test/skills.png" alt=""/></li>
            <li class="r_item">
              <h2>语言技能</h2>
              <p>语言运用能力的重要组成部分</p>
            </li>
          </ul>
          <ul class="results_skills_lst-2">
            <li>
              <h3>听力和口语能力</h3>
              <p>"能听懂有关家人这一话题的谈话，能从中提取信息和观点；能就此话题提供信息，表达简单的观点和意见，参与讨论。"</p>
            </li>
            <li>
              <h3>阅读能力</h3>
              <p>能读懂常见有关家人这一题材的阅读材料；能根据不同的阅读目的运用不同的阅读策略获得信息。</p>
            </li>
            <li>
              <h3>书写能力</h3>
              <p>能写作完整的句子；能根据所给图示写出简单的段落或篇章大纲；能简单描述家人。</p>
            </li>
          </ul>
          <section class="f-border"></section>
        </section>
        <section class="results_knowledge">
          <ul class="results_knowledge_lst-1">
            <li class="l_item"><img src="/images/wap/unit_test/knowledge.png" alt=""/></li>
            <li class="r_item">
              <h2>语言知识</h2>
              <p>应学习和掌握的英语语言基础知识</p>
            </li>
          </ul>
          <ul class="results_knowledge_lst-2">
            <li class="geted_word">
              <h3>
                 
                核心单词<span><em>8</em>个</span>
              </h3>
              <p> <span>Listening </span><span>understand</span><span>and</span>
                <apan>recognize</apan><span>words</span><span>targeted</span><span>vocabulary</span><span>Listening </span><span>understand</span><span>and</span>
                <apan>recognize</apan><span>words</span><span>targeted</span><span>vocabulary</span>
              </p>
            </li>
            <li class="geted_sentence">
              <h3>
                 
                掌握句子<span><em>12</em>个</span>
              </h3>
              <p>One meets its destiny on the road he takes.One meets its destiny on the road he takes.One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p>
              <p>1111One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p>
              <p>2222One meets its destiny on the road he takes.One meets its destiny on the road he takes.One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p>
              <p>333One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p>
              <p>444One meets its destiny on the road he takes.One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p>
              <p>One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p>
              <p>One meets its destiny on the road he takes.One meets its destiny on the road he takes.</p><span class="u-show-all">显示全部</span>
            </li>
            <li>
              <h3>
                 
                趣味歌谣<span><em>1</em>个</span>
              </h3>
              <p>I believe I can fly.</p>
            </li>
          </ul>
        </section>
      </section>
      <section class="f-border"></section>
      <section class="teacher-review">
        <h1 class="p-title">中教老师点评</h1>
        <div class="teacher-review_container">
          <h2 class="from"><span class="l_item">From：</span><span class="r_item">Your Teacher</span></h2>
          <p class="container">宝贝表现的很棒，希望你下课之后多练习，在课前坚持预习宝贝下课之后多练习，宝贝下课之后多练习。宝贝下课之后多练习。</p>
        </div>
      </section>
      <section class="p-advantage">
        <h3 class="p-title">Bubble正在这里学习</h3>
        <section class="p-advantage-slogan clearfix">
          <h1><img src="/images/wap/unit_test/talk_slogan.png" alt=""/></h1>
          <section class="p-advantage-slogan_lst clearfix">
            <ul>
              <li><img src="/images/wap/unit_test/slogan_01.jpg" alt=""/>
                <p>纯正北美师资</p>
              </li>
              <li><img src="/images/wap/unit_test/slogan_02.jpg" alt=""/>
                <p>美式教育理念</p>
              </li>
              <li><img src="/images/wap/unit_test/slogan_03.jpg" alt=""/>
                <p>沉浸式教学</p>
              </li>
            </ul>
          </section>
        </section>
        <section class="p-advantage-dis">
          <h1><img src="/images/wap/unit_test/get.png" alt=""/></h1>
          <section class="p-advantage-dis_lst">
            <ul>
              <li>
                <p>288元</p>
                <p>免费体验课</p>
              </li>
              <li>
                <p>9.5折</p>
                <p>购买优惠</p>
              </li>
              <li>
                <p>3课时</p>
                <p>购买赠送</p>
              </li>
            </ul>
            <p class="p-line"></p>
          </section>
        </section>
        <section class="p-advantage-guide">
          <h1><img src="/images/wap/unit_test/experience.png" alt=""/></h1>
          <form action="http://wap.51talk.com/index/doRegister" id="f-register" method="post">
            <ul class="p-advantage-guide_reg">
              <li>
                <label for="mobile">手机号：</label>
                <input type="text" id="mobile" name="mobile"/>
              </li>
              <li>
                <label for="password">密码：</label>
                <input type="password" id="password" name="password"/>
              </li>
              <input type="hidden" name="register_from" id="register_from" value="4141136"/>
            </ul><a href="javascript:;" class="p-advantage-guide_btn"></a>
          </form>
          <section class="p-advantage-guide_tips">
             
            已有<em>2976</em>个宝贝 领取了美国小学体验课		
          </section>
        </section>
      </section>
      <section class="bottom_tips"> <a href="javascript:;">快来看看咱们家宝贝的英语水平吧！</a></section>
      <section class="f-mask">
        <div class="tips-wrap">
          <h1>提示</h1>
          <p class="tips-text"></p><a href="javascript:;" class="close_btn">确定</a>
        </div>
      </section>
      <section class="share-guide">
        <div class="share-guide_info"><img src="/images/wap/unit_test/share_info_friend.png" alt=""/></div><a href="javascript:;" class="share-guide_close"></a>
      </section>
    </div>
    <script src="/js/wap/project/unit_test/vendor.js" id="seajsnode"></script>
  </body>
</html>