<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>英语能力测评报告</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/studyPlan/studyPlan.css">
</head>
<body>
		<div class="tr_report" data-init="reg">
			 <div class="header">
			 		<a href="javascript:void(0)">官网首页</a>
			 </div>
			 <div class="ft_banner">
			 		<img src="/images/wap/studyPlan//ft_banner.jpg" />
			 		<p>
			 				<span>Blue的学习计划</span><br />
			 				学好英语的终极秘籍<br />
			 				<em>2016-07-12至2016-08-11</em>
			 		</p>
			 </div>
			 <!-- 成人 -->
			 <div class="ft_level">
			 		<div class="ft_levelIn">
			 		  <img src="/images/wap/studyPlan//ft_level.png" class="level" />
				 		<div class="ft_now ft_level1">
				 				<h4>当前等级</h4>
				 				<p>Level5</p>
				 				<i></i>
				 		</div>
				 		<div class="ft_goal ft_goal6">
				 				<h4>目标等级</h4>
				 				<p>Level9</p>
				 				<i></i>
				 		</div>
			 		</div>
			 </div>
			 <!-- 青少 -->
			<!--  <div class="ft_level ft_level_junior">
			 		<div class="ft_levelIn">
			 		  <img src="/images/wap/studyPlan//ft_level_junior.png" class="level" />
				 		<div class="ft_now ft_level_junior1">
				 				<h4>当前等级</h4>
				 				<p>Level5</p>
				 				<i></i>
				 		</div>
				 		<div class="ft_goal ft_goal_junior4">
				 				<h4>目标等级</h4>
				 				<p>Level9</p>
				 				<i></i>
				 		</div>
			 		</div>
			 </div> -->
			 <div class="ft_model">
			 		<div class="title">
			 				设定合理的学习计划 
			 		</div>
			 		<div class="ft_model_one"> 
			 				 <ul>
			 				 		<li>
			 				 				<dl>
			 				 						<dt>经典英语</dt>
			 				 						<dd>
			 				 								<div class="total">200节</div>
			 				 								<div class="weekly">每周5节</div>
			 				 						</dd>
			 				 				</dl>
			 				 		</li>
			 				 		<li>
			 				 				<dl>
			 				 						<dt>经典英语</dt>
			 				 						<dd>
			 				 								<div class="total">23节</div>
			 				 								<div class="weekly">每周3节</div>
			 				 						</dd>
			 				 				</dl>
			 				 		</li>
									 
			 				 </ul>
			 				  <ul>
			 				 		<li class="red">
			 				 				<dl>
			 				 						<dt>经典英语</dt>
			 				 						<dd>
			 				 								<div class="total">10节</div>
			 				 								<div class="weekly">每周2节</div>
			 				 						</dd>
			 				 				</dl>
			 				 		</li>
			 				 		<li class="green">
			 				 				<dl>
			 				 						<dt>经典英语</dt>
			 				 						<dd>
			 				 								<div class="total">23节</div>
			 				 								<div class="weekly">每周3节</div>
			 				 						</dd>
			 				 				</dl>
			 				 		</li>
									 
			 				 </ul>
			 				 <ul>
			 				 		<li class="blue">
			 				 				<dl>
			 				 						<dt>经典英语</dt>
			 				 						<dd>
			 				 								<div class="total">123节</div>
			 				 								<div class="weekly">每周3节</div>
			 				 						</dd>
			 				 				</dl>
			 				 		</li>
									 
			 				 </ul>
			 		</div>
			 </div>
			  <div class="ft_model">
			 		<div class="title">
			 				顾问给我的学习建议  
			 		</div>
			 		<!-- 成人 -->
			 		<div class="ft_model_one"> 
			 			学习建议： 在此阶段，您已经度过了不敢开口的心理障碍，建议您一定要及时预习和复习；和外教就比较广泛的话题进行讨论，课上一定要多多沟通；平时多多阅读不同题材和文体的文章，也可以借读教材中的大段文章多做练习，在阅读中可以充分扩充词汇，相应的在课上多加练习，也就提高了您的应用能力；另外建议您多尝试英文写作练习，毕竟很多学员在写作上还是有一些差距的，所以平常多做一些写作练习可以在课上和老师多做一些沟通以提升自己的写作水平
			 		</div>
			 		<!-- 青少 -->
			 		<!-- <div class="ft_model_one"> 
			 				<p>中教课+外教1对1课程。先通过中教课来学习英语，打下一定的基础后能更好的和外教进行学习。</p>
							<p>相信不论你学习英语是为了满足日常沟通的需要，还是为了工作和职业的发展，</p>
							<p>不论你现在处于英语学习的哪个阶段，想要前往哪个阶段，51Talk都有信心帮你达成目标。</p>
			 		</div> -->
			 </div>
			<!--  <div class="footer footerFix" >
						 <h3>立即领取 <span>免费课程</span></h3>
						 <form id="reg1_form">
						 		<input type="text" class="phone" name="phone" placeholder="手机" />
						 		<input type="password" class="pwd" name="password" placeholder="密码" />
						 		<a href="###" class="subBtn">免费测试我的英语能力</a>
						 </form>
				</div>
				<div class="footer footerMask"></div> -->
		</div>
</body>
<script src="/js/wap/project/studyPlan/vendor.js" id="seajsnode"></script>
</html>