@charset "utf-8";

body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

img {
    border: none;
}

input,select,textarea {
    outline: none;
    border: none;
    background-color: transparent;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

em {
    font-style: normal;
}

/*浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@imgPath: "../../../images/wap/theGhost";
.divBg(@part;@url){
    -webkit-box-flex: @part;
    background: @url 0 0 no-repeat;
    background-size: 100% 100%;
}
html,body,.box {
    height: 100%;
}

.box {
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: #000;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    overflow: hidden;
    img{
        width: 100%;
        vertical-align: top;
    }

}

.page_1 {
    position: relative;
}
.page_2 {
    position: relative;
}
.page_3 {
    position: relative;
}

.page_5 {
    position: relative;
    a{       
        position: absolute;
        top:-60%;
        left: 50%;
        margin-left: -4.9rem;
    }
}
.page_6 {
    img{
        height: 13.64%;
    }
}

.userBox,.passBox {
    font-size: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.username {
    box-sizing: border-box;
    height: 0.72rem;
    line-height: 0.75rem;
    margin-top: 0.9rem;
    margin-left: 6.1rem;
    width: 5.8rem;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.phoneText {
    background: url('@{imgPath}/phone.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.passwordText {
    background: url('@{imgPath}/pwd.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.password {
    box-sizing: border-box;
    height: 0.72rem;
    line-height: 0.75rem;
    margin-top: 0.8rem;
    margin-left: 6.1rem;
    width: 5.8rem;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.music {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    width: 2.4rem;
    height: 2.2rem;
    background: url('@{imgPath}/music.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.submit {
    
    box-sizing: border-box;
    background: url('@{imgPath}/button.png') 0 0 no-repeat;
    background-size: 100% 100%;
    height: 3.1rem;
    width: 9.8rem;
    color: transparent;
}
@media screen and (max-width: 320px) {
    .page_5{
        a{
            top:-110%;       
        }  
    } 
}