<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/learning11/learning11.css">
</head>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/learning11//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
</div>
<input type="hidden" id="cartType" value="cart">
<input type="hidden" id="cartID" value="">
<input type="hidden" id="actArr" value="">
<input type="hidden" id="downMoney" value="0">
<input type="hidden" id="showAgree" value="n">
<div class="pri-main" data-init="battle">
    <div class="banner">
      <div class="widthMain1030" id="widthMain1030">
          <ul>
            <li><a href="#nav1" class="nav1"></a></li>
            <li><a href="#nav2" class="nav2"></a></li>
            <li><a href="#nav3" class="nav3"></a></li>
            <li><a href="#nav4" class="nav4"></a></li>
          </ul>
      </div>
    </div>
    <div class="rota" id="nav1">
      <div class="widthMain">
        <div class="lt">
            <div class="prize_list">
                <ul class="names">
                    <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                    <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                    <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
                </ul>
            </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1.活动时间：11月4日11：00：00——11月13日 23：59：59</li>
            <li>2.图片仅供参考，以实物为准</li>
            <li>3.抽中课程或实物奖品的同学，需要在11月4日—11月13日 期间购买5000元以上套餐，
活动结束后，奖品由客服联系寄出。</li>
            <li>4.领取电子版绘本请添加官方微信公众账号51Talk无忧英语（woyaotalkenglish），回
复“0920”即可</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
        </div>
        <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
          <ul class="l_grid clearfix">
             <li  class="l_prize l_prize-0 l_now"><img src="/images/html/learning11/1400.png" alt=""></li>
            <li style="display:none;" class="l_prize l_prize-0 l_now"><img src="/images/html/learning11/djq3.png" alt=""></li>
            <li class="l_prize l_prize-1"><img src="/images/html/learning11/jpb.png" alt=""></li>
            <li class="l_prize l_prize-2"><img src="/images/html/learning11/xiaomi.png" alt=""></li>
            <li class="l_prize l_prize-7"><img src="/images/html/learning11/mini.png" alt=""></li>
            <li class="pointer"></li>
            <li class="l_prize l_prize-3"><img src="/images/html/learning11/juan200.png" alt=""></li>
            <li class="l_prize l_prize-6"><img src="/images/html/learning11/yufabao.png" alt=""></li>
            <li class="l_prize l_prize-5"><img src="/images/html/learning11/juan500.png" alt=""></li>
            <li class="l_prize l_prize-4" ><img src="/images/html/learning11/900.png" alt=""></li>
            <li class="l_prize l_prize-4" style="display:none;"><img src="/images/html/learning11/djq5.png" alt=""></li>
          </ul>
        </div>
      </div>
      <a href="javascript:;" class="l_btn" id="prize_log">查看中奖记录</a>
    </div>
    <div class="pri-list02" id="nav2">
      <div class="widthMain">
        <ul class="pri-list02-l clearfix" style="display:block;">
          <li>
              <img class="img1" src="/images/html/learning11/g1.png">
              <div class="box">
                  <p class="des">270次次卡学习套餐</p>
                  <p class="price"><span class="least">低至<b>￥8798</b></span> <small>￥10388</small> </p>
                  <p class="goumai"><a href="javascript:;" data-point="nor" data-id="23217" data-cart='{"id":23217,"price":"5799","package":"0","cash_card":"0","point_type":"ct","point_value":"1","expire_days":"365"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a></p>

              </div>
               <span class="hot"></span>
               <div class="hover"></div> 
          </li>
          <li>
              <img src="/images/html/learning11/g2.png">
              <div class="box">
                  <p class="des">24个月包月学习套餐</p>
                  <p class="price"><span class="least">低至<b>￥15676</b></span> <small>￥17266</small></p>
                  <p class="goumai"><a href="javascript:;" data-point="nor" data-id="9167" data-cart='{"id":9167,"price":"4088","package":"450","cash_card":"0","point_type":"point","point_value":" 90 ","expire_days":"180"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
              </div>
              <span class="rebat"></span>
              <div class="hover"></div> 
          </li>
            <li>
              <img src="/images/html/learning11/g4.png">
              <div class="box">
                  <p class="des">美小2单元学习套餐</p>
                  <p class="price"><span class="least"><b>￥1999</b></span> <small>4000</small> </p>
                  <p class="goumai"><a href="javascript:;"  class="buy u-btn jsPre active" data-point="nor" data-id="9077" data-cart='{"id":9077,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" ></a>
              </div>
              <div class="hover"></div>
              <div class="todayHvae">
                今日还剩 <em>4439</em> 个名额
              </div>
          </li>
          <li>
              <img src="/images/html/learning11/g3.png">
              <div class="box">
                  <p class="des">60次次卡学习套餐</p>
                  <p class="price"><span class="least"><b>￥1999</b></span> <small>￥3928</small> </p>
                  <p class="goumai"><a href="javascript:;" class="buy"></a>
              </div>
              <div class="hover"></div> 
              <div class="todayHvae">
                今日还剩 <em>4439</em> 个名额
              </div>
          </li>
           <li>
              <img src="/images/html/learning11/g4.png">
              <div class="box">
                  <p class="des">美小2单元学习套餐</p>
                  <p class="price"><span class="least"><b>￥1999</b></span> <small>4000</small> </p>
                  <p class="goumai"><a href="javascript:;" class="buy"></a>
              </div>
              <div class="hover"></div>
              <div class="todayHvae">
                今日还剩 <em>4439</em> 个名额
              </div>
          </li>
          <li>
              <img src="/images/html/learning11/g3.png">
              <div class="box">
                  <p class="des">60次次卡学习套餐</p>
                  <p class="price"><span class="least"><b>￥1999</b></span> <small>￥3928</small> </p>
                  <p class="goumai"><a href="javascript:;" class="buy"></a>
              </div>
              <div class="hover"></div> 
              <div class="todayHvae">
                今日还剩 <em>4439</em> 个名额
              </div>
          </li>
        </ul>
        <ul class="pri-list02-2 clearfix" style="display:none;">
            <li>
                <a href="javascript:;">
                  <img src="/images/html/learning11/b1.png">
                </a>
                <div class="hover"></div>
            </li>
            <li>
                <a href="javascript:;">
                  <img src="/images/html/learning11/b1.png">
                </a>
                <div class="hover"></div>
            </li>
            <li>
                <a href="javascript:;">
                  <img src="/images/html/learning11/b1.png">
                </a>
                <div class="hover"></div>
            </li>
        </ul>
      </div>  
      <a href="javascript:;" id="goto" style="" target="_blank" class="l_btn goto gotow">
        <img src="/images/html/learning11/btn_lottery.gif">
      </a>
    </div>
    <div class="pri-list03" id="nav3">
      <div class="widthMain">
          <ul class="list">
              <li>
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y1.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>田涛</strong><span>| 11月5日  11:00—11:50</span></p>
                      <p class="des">流利美语如何说精粹版</p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
              <li>
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y2.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>曲琼琼</strong><span>| 11月6日   21:10—22:00</span></p>
                      <p class="des">Q谈语法 精讲精练</p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
              <li>
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y3.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>Tony Li </strong><span> | 11月7日  20:00—20:50</span></p>
                      <p class="des">青少版新概念 | 从启蒙到进阶</p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
              <li>
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y4.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>张阏</strong><span>| 11月8日   13:00—13:50 </span></p>
                      <p class="des">“抱团恋 ” 活动 | 英文阅读团 </p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
               <li class="box-wrap">
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y5.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>王曦 </strong><span>| 11月9日  20:00—20:50</span></p>
                      <p class="des">Remy美剧口语大课堂 | 畅谈《老友记》</p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
              <li class="box-wrap">
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y6.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>唐长志</strong><span>| 11月10日  21:00—22:00</span></p>
                      <p class="des">玩欧洲 学口语|精讲版： 欧美的“双十一”—Boxing Day</p>
                      <p class="price"><strong>￥5</strong><span>原价￥399</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>

              <li class="box-wrap">
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y7.jpg">
                  <div class="box">
                      <p class="author clearfix"><strong>梁颖</strong><span>| 11月11日  21:00—22:00</span></p>
                      <p class="des" style="height:44px;">新概念英语 | 第三册 精讲精练  </p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
              <li class="box-wrap">
                  <div class="hover"></div>
                  <img src="/images/html/learning11/y8.png">
                  <div class="box">
                      <p class="author clearfix"><strong>王余愉</strong><span>| 11月12日  16:00—16:50</span></p>
                      <p class="des">听音乐学英语 | 《音乐之声》经典歌词教学</p>
                      <p class="price"><strong>￥3</strong><span>原价￥199</span></p>
                      <div class="buy"><a href="javascript:;" class="order"></a></div>
                  </div>
              </li>
          </ul>
      </div>
      <a href="javascript:;" target="_blank" class="l_btn more_btn">查看更多公开课</a>
    </div>
    <div class="pri-list04" id="nav4"> 
      <div class="widthMain">
          <ul class="clearfix">
              <li>
                  <div class="box">
                      <div class="intro">
                          <p class="name">张晓琴 Amanda</p>
                          <p class="level">青少组教学风采一等奖</p>
                      </div>
                      <div class="comment-box">
                          <p class='comment1 clearfix'><a href="#" class="btn2">1</a>善把握儿童心理，超强亲和力，授课技巧熟练。</p>
                          <p class="teacher-intro">
                              <a href="#" class="btn">1</a>1Talk中教项目青少名师，毕业于西安外国语大学外国语言学及应用语言学硕士；多年英语教学经验，讲课风趣，耐心细致，尤其擅长青少英语教学。
                          </p>
                      </div>
                  </div>
                  <img src="/images/html/learning11/teacher1.png">
              </li>
              <li>
                  <div class="box">
                      <div class="intro">
                          <p class="name">杨丹妮 Daniela</p>
                          <p class="level">青少组教学风采二等奖</p>
                      </div>
                      <div class="comment-box">
                          <p class='comment1 clearfix'><a href="#" class="btn2">1</a>课堂生动活泼，从细微之处引导学生。</p>
                          <p class="teacher-intro">
                              <a href="#" class="btn">1</a>51talk中教零基础优秀教师，教育理念：英语是一种工具，它让每一个人都能收获快乐，给学生由内而外的启发。
                          </p>
                      </div>
                  </div>
                  <img src="/images/html/learning11/teacher2.png">
              </li>
              <li>
                  <div class="box">
                      <div class="intro">
                          <p class="name">罗雅 Royal</p>
                          <p class="level">青少组教学风采三等奖</p>
                      </div>
                      <div class="comment-box">
                          <p class='comment1 clearfix'><a href="#" class="btn2">1</a>善于激发孩子的学习兴趣。</p>
                          <p class="teacher-intro">
                              <a href="#" class="btn">1</a>51Talk中教项目优秀教师，专业八级，多年的英语教学经验，热爱教学工作，并享受在教学过程中获得的成就感。Royal带着孩子从身边熟悉事物出发。
                          </p>
                      </div>
                  </div>
                  <img src="/images/html/learning11/teacher3.png">
              </li>
              <li>
                  <div class="box box2">
                      <div class="intro intro2">
                          <p class="name">李天翔 Lance</p>
                          <p class="level">成人组教学风采一等奖</p>
                      </div>
                      <div class="comment-box">
                          <p class='comment1 clearfix'><a href="#" class="btn2">1</a>授课风格亲切，擅长帮学员打好语言基本功。</p>
                          <p class="teacher-intro">
                              <a href="#" class="btn">1</a>51Talk中教项目优秀教师。以语音为基础，在能够流利、生动的口语基础上，利用对于英语的应用和理解，掌握词汇和语法。
                          </p>
                      </div>
                  </div>
                  <img src="/images/html/learning11/teacher4.png">
              </li>
              <li>
                  <div class="box box2">
                      <div class="intro">
                          <p class="name">白莉 Molly</p>
                          <p class="level">成人组教学风采二等奖</p>
                      </div>
                      <div class="comment-box">
                          <p class='comment1 clearfix'><a href="#" class="btn2">1</a>教学风格生动幽默，总结概括能力强。</p>
                          <p class="teacher-intro">
                              <a href="#" class="btn">1</a>51Talk中教项目优秀教师。被学员称为“魔法教师”， 曾为新东方教育集团英语教师，曾任职教育集团外籍校长助理，参与教材编写与新教师培训。
                          </p>
                      </div>
                  </div>
                  <img src="/images/html/learning11/teacher5.png">
              </li>
              <li>
                  <div class="box box2">
                      <div class="intro">
                          <p class="name">李俊莹 Sophia</p>
                          <p class="level">成人组教学风采三等奖</p>
                      </div>
                      <div class="comment-box">
                          <p class='comment1 clearfix'><a href="#" class="btn2">1</a>语言知识讲解透彻，教学效果落地！</p>
                          <p class="teacher-intro">
                              <a href="#" class="btn">1</a>51Talk中教项目优秀教师，英语专业八级及英语笔译三级。精通中英法韩四国语言，上课形式丰富，让大家在愉快的氛围下学习!
                          </p>
                      </div>
                  </div>
                  <img src="/images/html/learning11/teacher6.png">
              </li>
          </ul>
      </div>
      <a href="javascript:;" target="_blank" class="l_btn goto"><img src="/images/html/learning11/btn_lottery.gif"></a>
    </div>
</div>
<div class="dialog" id="dialog" style="display:none">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
            <div class="detail">
                <img src="/images/html/learning11/14002.png" alt="">
                <img src="/images/html/learning11/djq3_2.png" alt="">
                <img src="/images/html/learning11/td2.png" alt="">
                <img src="/images/html/learning11/td3.png" alt="">
                <img src="/images/html/learning11/td4.png" alt="">
                <img src="/images/html/learning11/9002.png" alt="">
                <img src="/images/html/learning11/td5.png" alt="">
                <img src="/images/html/learning11/td6.png" alt="">
                <img src="/images/html/learning11/td7.png" alt="">
                <img src="/images/html/learning11/mini2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼亲子票2张</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.全部中奖名单将在10月26日在学习社区公布</li>
      <li>4.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>

<!-- 尾部 -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
<form id="form-cart" name="point_form" action="/pay/order" method="post" target="_blank">
  <div class="m-cart" id="cart" style="right:-255px; display:none;" ><!-- right从 0 到 -251  -->
    <input type="hidden" name="cart" value='{"cart":[],"package":"off","earphone":"off"}'>
    <div class="cart-hd"><em class="jsCount">0</em></div>
    <div class="cart-bd"><!-- width从 0 到 251  -->
      <div class="cart-in">
        <div class="title">我的购物车（<em class="jsCount">0</em>）
          <div class="u-pages">
            <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
            <span class="crt"><em class="jsPageNow">1</em><em>/</em><em class="jsPageCount">1</em></span>
            <a class="next dis-next" href="javascript:void(0)">&gt;</a>
          </div>
        </div>
        <div class="products">
            <div class="jsWrap">
            </div>
        </div>
        <div class="addeds" style="visibility: hidden;">
            <dl class="product">
                <a class="s-fc6" href="#level">立即购买配套教材，学习效果更佳！</a>
            </dl>
            <dl class="product">
                <dt class="added">
                    <label class="u-lab jsPackageLabel">
                        <input class="f-dn" type="checkbox" name="package">

                        <span class="u-txt">+<em class="jsPackage">0</em>元，您还可以选购<a href="javascript:;">电话包</a></span>
                    </label>
                </dt>
            </dl>
            <dl class="product" style="border-top: 1px solid rgb(228, 234, 238);">
                <dt class="added">
                <label class="u-lab jsEarphoneLabel">
                    <input class="f-dn" type="checkbox" name="earphone">
                   
                    <span class="u-txt" data-cart="">+50元，选购高保真耳麦(双插头)</span>
                </label>
                </dt>
            </dl>
            <p class="differ" style="display:none;">补差价金额：
                <em class="jsMinuend">10288</em>&nbsp;-&nbsp;
                <em class="jsMeiosis">3588</em>&nbsp;=&nbsp;
                <em class="jsDifference">6700</em>
            </p>
        </div>
        <div class="total-orders">订单总金额：<em class="jsTotal" data-total="5799">23045</em></div>
        <div class="total-orders-stagin" style="display: none;">金额总计：<em class="jsTotal" data-total="5799"></em></div>
        <div class="submit">
          <input class="button jsSubmit" type="submit" value="提交订单" style="width: 117px;">
        </div>
      </div>
    </div>
  </div>
</form>  

<div class="alert_dialog">
    <span class="close_alert"></span>
    <p>只能购买同一类型的套餐哦！</p>
</div>
<!-- /m-cart -->
</body>
<script src="/js/html/project/learning11/vendor.js" id="seajsnode"></script>
</html>
