<% include ../common/top.ejs %>
<body>
<!-- header -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>
<!-- /header -->
<div class="flt-top"></div>
<div class="flt-cp">
  <div class="widthMain">
    <p class="flt-t">权威专业的英语测评证书</p>
    <img src="<%= imagessrc%>flt_img01.png"/>
  </div>
</div>
<div class="flt-exam">
  <div class="widthMain">
    <p class="flt-t">科学严谨的测评考试系统</p>
    <ul class="exam-list">
      <li>
        <i class="flt-icon icon01"></i>
        <span class="t1">科学性</span>
        <span class="t2">Scientific</span>
        <span class="nr">国际化专业的测试开发团队<Br>严格的测试开发流程，科学的测试产品设计</span>
      </li>
      <li>
        <i class="flt-icon icon02"></i>
        <span class="t1">引领性</span>
        <span class="t2">Leading</span>
        <span class="nr">引领性测评理念,诊断+反馈+学习旨在通过测评引领教学和学习</span>
      </li>
      <li class="last">
        <i class="flt-icon icon03"></i>
        <span class="t1">成长性</span>
        <span class="t2">Personal Growth</span>
        <span class="nr">关注每一位学员的<br>学习与成长</span>
      </li>
    </ul>
  </div>  
</div>
<div class="flt-cp">
  <div class="widthMain">
    <p class="flt-t">如何获得专业等级证书</p>
    <img src="<%= imagessrc%>flt_img02.png"/>
  </div>
</div>
<!-- footer -->
<% include ../common/www/w_footer_home.ejs %>
<!-- /footer -->
</body>
</html>