<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>美国小学</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
<section data-init="market_ASchool">
    <h1>美国小学</h1>
	<section><img src="<%= imagessrc%>mas_banner.jpg" alt=""></section>
	<section class="content">
	   <h2>美国小学课程</h2>
	   <p>￥<b>3899</b></p>
	   <p class="parse">原价：￥4999</p>
	   <h3>课程简介</h3>
	   <p class="text">美国小学 （American Academy） 是51Talk针对5-12岁学生推出的能力英语新课程，由来自全球的拥有超过10年教学经验的专业研发团队研发，通过北美老师+同步美国小学教学体系+美式教育方式的完美结合，将原汁原味的美式课堂带入中国家庭，让每个孩子都有机会“在家上美国小学”，成为未来国际精英。</p>
	   <h3>上课时间（1对1北美外教32课时+绘本阅读课16课时）</h3>
	   <p class="text">1对1 外教课<br/>
上课时长：25分钟/节<br/>
上课时间：早6:00-晚24:00<br/>
绘本阅读课<br/>
上课时长： 50分钟/节<br/>
上课时间： 周二和周六  19:00-20:00</p>
	</section>
	<article><a href="">立即购买</a></article>
</section>  
</body>

<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>