// 图片path
@imgPath: '../../../images/wap/b2s/';
//background: url("@{imgPath}start_bg.png") no-repeat;
body {
    font-family: Arial, "Microsoft YaHei";
}
input, button, select, textarea, dl, dd, dt{
    font-family: Arial, "Microsoft YaHei";
}
.disnone{
	display: none;
}
#fontSizeLoding{
    width: 100%;
    min-height: 100%;
    max-width: 640px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top:0; 
    z-index: 999;
    img{
        width: 30px;
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        position: absolute;
        top:50%;
        left:50%;

    }
}

.share-wrap{
    min-height: 100%;
    .share-hot{
    	padding:0 0.3rem;
    	.share-hot-items{
	    	&>li{
	    		padding: 0.3rem 0 0 1.04rem;
	    		// border-top: 1px solid #ebebeb;
	    		.item-tit{
	    			margin-bottom: 0.1rem;
	    			position: relative;
	    			.item-tit-icon{
	    				width: 0.8rem;
	    				height: 0.8rem;
	    				border-radius: 50%;
	    				overflow: hidden;
	    				position: absolute;
	    				left: -1rem;
	    				top: 50%;
	    				transform:translateY(-50%);
	    				&>img{
	    					width: 100%;
	    					height: 100%;
	    				}
	    			}
	    			.item-tit-name{
	    				line-height: 0.48rem;
	    				font-size: 0.32rem;
	    				color: #b1b1b1;
	    			}
	    			.item-tit-message{
	    				line-height: 0.4rem;
	    				font-size: 0.26rem;
	    				color: #b1b1b1;
	    				.icon-location{
	    					padding-left: 0.35rem;
	    					position: relative;
	    					&:before{
	    						content: "";
	    						width: 0.24rem;
	    						height: 0.3rem;
	    						background: url("@{imgPath}app_share-02.png") no-repeat;
	    						background-size: 100%;
							    position: absolute;
							    left: 0.02rem;
							    top: 50%;
							    transform: translateY(-50%);
	    					}
	    				}
	    			}
	    		}
	    		.item-content{
	    			// margin-bottom: 0.2rem;
	    			line-height: 0.56rem;
	    			font-size: 0.36rem;
	    			color: #3e3e3e;
	    			word-break:break-word;
	    		}
	    		.item-audio{
	    			min-width: 20%;
	    			max-width: 100%;
	    			height: 0.8rem;
	    			line-height: 0.8rem;
	    			margin-bottom: 0.3rem;
	    			background: #25b7ff;
	    			border-radius: 999px;
	    			position: relative;
	    			.time{
						padding-left: 0.28rem;
	    				font-size: 0.32rem;
	    				color: #fff;
	    			}
	    			.blink{
	    				width: 0.2rem;
	    				height: 0.32rem;
	    				background: url("@{imgPath}app_share-06.png") no-repeat;
	    				background-size: 100% 100%;
	    				position: absolute;
	    				right: 0.24rem;
	    				top: 50%;
	    				transform:translateY(-50%);
	    				&.on{
	    					background-image: url("@{imgPath}app_share-07.gif");
	    				}
	    			}
	    		}
	    		.item-video{
	    			width: 4.5rem;
	    			height: 4.5rem;
	    			background: #eee;
	    			margin-bottom: 0.3rem;
			    	position: relative;
			    	&>img{
			    		max-width: 100%;
			    		width: 100%;
			    		height: 100%;
			    	}
			    	/* .video-icon{
			    		display: none;
			    		width: 0.42rem;
			    		height: 0.36rem;
			    		position: absolute;
			    		bottom: 0.2rem;
			    		right: 0.2rem;
			    		background: url("") no-repeat;
			    		background-size: 100%;
			    	} */
			    	.video-icon{
			    		width: 1.5rem;
			    		height: 1.5rem;
			    		background:rgba(97, 203, 237, 0.8);
			    		border-radius: 50%;
			    		position: absolute;
			    		top: 50%;
			    		left: 50%;
			    		transform:translateX(-50%) translateY(-50%);
			    		&:before{
			    			content: "";
			    			width: 0.54rem;
			    			height: 0.62rem;
			    			background: url("@{imgPath}app_share-08.png") no-repeat;
			    			background-size: 100% 100%;
			    			position: absolute;
				    		top: 0.44rem;
				    		left: 0.55rem;
				    		// transform:translateX(-50%) translateY(-50%);
			    		}
			    	}
			    }
	    		.item-pic{
	    			margin-bottom: 0.3rem;
	    			&>img{
	    				max-width: 100%;
	    				max-height: 4rem;
	    			}
	    		}
	    		.item-like{
	    			margin-bottom: 0.3rem;
	    			text-align: right;
	    			.like-icon{
	    				display: inline-block;
	    				height: 0.52rem;
	    				padding-left: 0.6rem;
	    				padding-right: 0.2rem;
	    				line-height: 0.52rem;
	    				border: 1px solid #c9c9c9;
	    				border-radius: 999px;
	    				font-size: 0.26rem;
	    				color: #c9c9c9;
	    				position: relative;
	    				&:before{
	    					content: "";
	    					width: 2.82rem;
	    					height: 0.6rem;
	    					background: url("@{imgPath}app_share-17.png") no-repeat;
			    			background-size: 100%;
	    					position: absolute;
	    					left: -2.82rem;
	    					top: 50%;
	    					transform:translateY(-70%);
	    				}
	    				&:after{
	    					content: "";
	    					width: 0.36rem;
	    					height: 0.35rem;
	    					background: url("@{imgPath}app_share-15.gif") no-repeat;
			    			background-size: 100%;
	    					position: absolute;
	    					left: 0.16rem;
	    					top: 50%;
	    					transform:translateY(-50%);
	    				}
	    				&.on{
	    					color: #aedeff;
	    					&:after{
		    					content: "";
		    					width: 0.36rem;
		    					height: 0.35rem;
		    					background: url("@{imgPath}app_share-16.png") no-repeat;
				    			background-size: 100%;
		    					position: absolute;
		    					left: 0.16rem;
		    					top: 50%;
		    					transform:translateY(-50%);
		    				}
	    				}
	    			}
	    		}
	    		.item-comment{
	    			padding: 0.2rem;
	    			margin-top: 0.1rem;
	    			background: #f6f6f6;
	    			border-radius: 0.16rem;
	    			.comment-items{
	    				line-height: 0.4rem;
	    				font-size: 0.3rem;
	    				color: #3e3e3e;
	    				&>li{
	    					word-break: break-word;
		    				.comment-item-name{
		    					color: #999999;
		    				}
	    				}
	    			}
	    		}
	    	}
	    }
    }
    .bg1{
    	background: #f6f6f6;
    }
    .share-other{
    	padding: 0.55rem 0;
    	background: #9fd4fb;
    	.share-other-tit{
    		text-align: center;
    		&>span{
    			line-height: 0.32rem;
				margin: 0 0.25rem;
				font-size: 0.32rem;
				color: #fff;
				position: relative;
				&:before{
					content: "";
					width: 0.23rem;
					height: 0.21rem;
					background: url("@{imgPath}app_share-20.png") no-repeat;
					background-size: 100%;
					position: absolute;
					left: -0.35rem;
					top: 50%;
					transform:translateY(-50%);
				}
				&:first-child{
					&:before{
						display: none;
					}
				}
    		}
    	}
    	.share-other-QRCode{
    		width: 2.68rem;
    		height: 2.68rem;
    		margin: 0.4rem auto 0.3rem auto;
    		border: 0.21rem solid #fff;
    		background: #fff;
    		&>img{
    			width: 100%;
    			height: 100%;
    		}
    	}
    	.share-other-text{
    		line-height: 0.42rem;
    		text-align: center;
    		font-size: 0.3rem;
    		color: #fff;
    	}
    }
    .share-btn{
    	height: 1.06rem;
    	background: #3fa9f7;
    	.share-btn-in{
    		position: fixed;
    		bottom: 0;
    		width: 100%;
    		max-width: 640px;
    		height: 1.06rem;
    		background: #3fa9f7;
    		.share-btn-l{
    			padding-left: 1.16rem;
    			padding-top: 0.23rem;
    			position: relative;
    			&>img{
    				width: 0.73rem;
    				height: 0.73rem;
    				position: absolute;
    				left: 0.24rem;
    				top: 0.2rem;
    			}
    			&>h3{
					line-height: 0.32rem;
					font-size: 0.32rem;
					color: #fff;
    			}
    			&>p{
    				margin-top: 0.1rem;
					line-height: 0.24rem;
					font-size: 0.24rem;
					color: #d9eefd;
    			}
    		}
    		.share-btn-r{
    			padding-right: 0.26rem;
    			padding-top: 0.22rem;
				&>a{
					width: 1.58rem;
					height: 0.58rem;
					line-height: 0.58rem;
					display: block;
					text-align: center;
					font-size: 0.32rem;
					color: #fff;
					border: 1px solid #fff;
					border-radius: 999px;
				}
    		}
    	}
    }
}
.dialog{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.9);
	.dialog-close{
		width: 100%;
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		&:before{
			content: "";
			width: 0.64rem;
			height: 0.64rem;
			background: url("@{imgPath}app_share-18.png") no-repeat;
			background-size: 100%;
			position: absolute;
			left: 0.1rem;
			top: -1rem;
		} 
	}
	video{
		width: 100%;
	}
}
