<% include ../common/uc_top.ejs %>
<body>
	<% include ../common/uc_header.ejs %>
	<div class="g-bd">
		<div class="g-in f-cb">
			<% include ../common/uc_sidebar.ejs %>
		    <div class="g-mn gw" id="container" data-init="unAccount">
		      	<div class="g-mnc">
		        	<div class="g-mncw m-certificate-op">
		          		<div class="group f-pr bbs">
		            		<h2 class="t-h2">亲爱的学员，您好！</h2>
		            		<p class="u-text u-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从9月24日开始，您可以在【会员中心】学习效果的“级别证书”标签页，查询自己所获得的等级证书，了解自己当前的英语水平。适用学员：学习主修课经典英语Classic English教材的学员</p>

		            		<p class="u-text u-info">
								级别升级：在EFL智能学习系统中，只要您学习了51Talk青少级别体系的每一英语水平阶段中的最后一节课，即可获得此阶段的等级证书由 51Talk 无忧英语颁发。51Talk青少设计从入门级到高级的英语晋级体系，分别是入门级阶段、初级阶段、中级阶段、高级阶段四个级别。
		            		</p>
		            		<p class="u-text u-exp">
								例如：学习完成Level3最后一节课学习即可获得Beginner入门阶段的等级证书，等级证书将由公司以邮寄的方式免费为您送达。
		            		</p>
		            	</div>
				        <div class="group bbd">
		            		<br />
				        	<img src="<%= imagessrc%>p_level.jpg" height="208" width="784" alt="">
				        </div>
				        <div class="group bbd">
		            		<br />
		            		<p class="u-text u-info">
				        		51Talk已成功帮助数万学员快速突破英语瓶颈、大幅提升英语水平。Well begin is half done!好的开始是成功的一半。在这里，您已经有了一个良好的开端，您将继续深入体验我们独创、高效的学习方法，实现您的英语学习目标，让生活不断进阶，收获更大的成功。在这个基础上再接再厉坚持下去，朝着自己的目标迈进，在不远的将来，相信您一定会成为真正的口语达人。
		            		</p>
		            		<p class="u-text u-info">继续努力吧！51Talk与您一路同行！</p>
		            		<br />
				        </div>
			        	<div class="group bottom">
			        		<a href="javascript:;">立即约课</a>
				        </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<% include ../common/uc_footer.ejs %>
</body>
<% include ../common/uc_bottom.ejs %>