<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/struggle_landing/struggle_landing.css">
</head>
<body>
	<section id="container" data-init="eng">
		<article class="topT">
			<img src="/images/wap/struggle_landing/header.jpg"  class="topImg" alt="">
		</article>
		<article class="top">
			<form id="reg1_form">
				<div class="reg1_form">
					<ul class="OneS_logIn">
						<li>
						<select name="" id="grade" class="grade">
							<option value="请选择所在年级">请选择所在年级</option>
							<option value="六年级">六年级</option>
							<option value="五年级">五年级</option>
							<option value="四年级">四年级</option>
							<option value="三年级">三年级</option>
							<option value="二年级">二年级</option>
							<option value="一年级">一年级</option>
						</select>

						</li>
				      <li>
				        <input type="number" placeholder="请输入您的手机号" id="mobile">
				      </li>
				       <li>
				          <input class="tel_code" id="authCode" name="authCode" type="tel" placeholder="请输入图形验证码" style="width:15.7rem;margin-right: 0.5rem;"/>
				          <span  class="" style="display: inline-block;height: 100%;width: 7.0rem;background: #ff7200;boder: 1px solid #ff7200; border-radius: 5px;line-height: 3rem; margin-top: 1px;">
				            <img 
				                 id="verifycode" src="http://www.51talk.com/passport/authCode"
				                 height="100%" width="100%" onclick="this.src='http://www.51talk.com/passport/authCode'+'?a'+'='+new Date().getTime()"
				                 alt="单击更换验证码" title="单击更换验证码">
				          </span>
				        </li>
				      <li>
				        <input type="number" placeholder="请输入验证码" class="testCode" id="code">
				        <span class="getCodes" style=" display: inline-block;height: 100%;width: 7.0rem;background: #ff7200;boder: 1px solid #ff7200; border-radius: 5px;font-size: 1.3rem; color: #fff;text-align: center;line-height: 3rem; margin-top: 1px;">获取验证码</span>
				        
				      </li>
				      <li>
				        <input type="password" placeholder="请设置您的密码" id="reg1_passwd">
				      </li>
				      <li class="OneS_last">
				        <a href="javascript:;" class="free" id="reg1" >领取奖励</a>
				      </li>
			    	</ul>
			  </div>
		  	</form>
		</article>
		<section class="feature">
			<img src="/images/wap/struggle_landing/feature.jpg" alt="">
		</section>
		<section class="desc">
			<img src="/images/wap/struggle_landing/desc.jpg" alt="">
		</section>
		<section class="students">
			<img src="/images/wap/struggle_landing/students.jpg" alt="">
			<a class="gotop" href="#">马上和宝贝来体验</a>		
		</section>
	</section>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/struggle_landing/vendor.js"></script>
</html>










