<% include ../common/reg_top.ejs %>
<body>
	<header>
		<img src="<%= imagessrc%>logo.png">
	</header>
	<section class="buy_success">
		<h3 class="success_tit">购买成功</h3>
		<div class="sueecss_box">
			<p class="success_text">你已成功购买“零基础入门套餐”课程</p>
			<p class="buy_money">订单金额：<span>1999元</span></p>
			<p class="message">立即加入班级QQ群，第一时间获取开课信息，能得到贴心专业的指导哦</p>
			<a href="javascript:;" class="class_link">51Talk暑期烤鸭班（3459896）</a>
		</div>
	</section>
	<footer>
	    <div class="service">
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </div>
	</footer>
</body>
</html>