<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/emailUsa2.0/emailUsa2.0.css"></head>
<body>
	 	 <section  class="topPart">
	 	 		<p>
	 	 				Want to earn up to <span>$22</span> an hour <br />
	 	 				from home by teaching English to <br />
	 	 				kids with a flexible schedule?
	 	 		</p>
	 	 		<a href="http://www.51talk.com/ph/landing_usa.php?id=19" class="e-get">Get Started</a>
	 	 </section>		
	 	 <section class="bottomPart">
	 	 		<a href="http://www.51talk.com/ph/landing_usa.php?id=19" target="_blank"><img src="/images/wap/emailUsa2.0/e-bg.jpg"  /></a>
	 	 <section>
</body>
</html>