<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/prize_landing02/prize_landing02.css">
</head>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <!-- 顶部 -->
<div class="header">
  <a href="javascript:;" class="hr-lt">
    <i></i>
    <b><span>外教1对1</span>在线英语教育领导品牌</b>
    <!-- 青少 -->
    <b class="qs-tit hide">外教1对1，在家学英语</b>
  </a>
  <div class="hr-rt">
    <div class="rt-top">
      <ul>
        <li><span class="rt_username">hi,studentstudenthw</span><a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a><a href="/index/logout" title="退出">退出</a></li>
        <li><a href="javascript:;">登录</a></li>
        <li><a href="javascript:;">免费注册</a></li>
        <li><a href="javascript:;">企业培训</a></li>
        <li class="jsMore">
          <a href="javascript:;">微博</a>
          <!-- 微博弹层 -->
          <div class="weibo jsUl">
            <a href="javascript:;"></a>
          </div>    
        </li>
        <li class="jsMore">
          <a href="javascript:;">微信</a>
          <!-- 微信弹层 -->
          <div class="weixin jsUl">
            <a href="javascript"><img src="/images/html/prize_landing02//top_weixin.png" alt=""></a>
          </div>
        </li>
        <li></li>
      </ul>
    </div>
    <span><i></i>4000-51-51-51</span>
  </div>
</div>
</div>

<div class="pri-main">
    <div class="banner">
      <div class="widthMain1030" id="widthMain1030">
          <div class="time" data-time="4152035">
              <strong class="day">0</strong>
              <strong class="hour">00</strong>
              <strong class="min">00</strong>
          </div>
        <ul>
          <li><a href="javascript:;" data-target="dial-bg"></a></li>
          <li><a href="javascript:;" data-target="pri-list02"></a></li>
          <li class="ml10"><a href="javascript:;" data-target="pri-list03"></a></li>
          <li><a href="javascript:;" data-target="pri-list04"></a></li>
          <li class="ml10"><a href="javascript:;" data-target="pri-list05"></a></li>
          <li class="pb20"><a href="javascript:;" data-target="pri-list06"></a></li>
          <li><a href="javascript:;" data-target="pri-list07"></a></li>
        </ul>
      </div>
    </div>
    <div class="rota">
      <div class="widthMain">
        <div class="lt">
            <h3 class="title">新手礼包：4.15--4.24期间，注册学员参与抽奖可额外获得新手礼包一个 （3节课+百节免费公开课）</h3>
            <div class="prize_list">
                <ul class="names">
                    <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                    <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                    <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
                </ul>
            </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1.活动时间：4月15日0：00——4月24日23：59：59</li>
            <li>2.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
            <li>3.关于中奖：
                <ul class="details">
                    <li>• 新手礼包赠送课程有效期1个月</li>
                    <li>• 代金券将在中奖后30分钟内发到您站内信</li>
                    <li>• 次卡将在中奖后30分钟内充到账上</li>
                    <li>• 如抽中iPad，点读机，须在4.15-4.24活动期间购买4000元以上的套餐后予以发放</li>
                    <li>• 英文原版名著包括：《安徒生童话全集》《格林童话全集》《一千零一夜全集》三套，将在活动结束后，由客服联系寄出</li>
                </ul>
            </li>
            <li>4.本活动最终解释权归51Talk所有</li>
          </ul>
          <a href="javascript:;" class="prize_log subutton" id="prize_log"></a>
        </div>
        <div class="dial-bg">
          <div class="pointer" data-url="url">
             <!--  <a href="javascript:;"></a> -->
          </div>
          <div class="rotate" ><img id="rotate" src="/images/html/prize_landing02/dial_rotate.png" alt="dial"/></div>
        </div>
      </div>
    </div>
    <div class="pri-list02">
      <div class="widthMain">
          <div class="pos02">
              <div class="pos02_1" id="teacherBox">
                  <a href="javascript:;" class="arrow leftArrow1 prev"></a>
                  <div class="teachers">
                      <ul class="clearfix" id="teacherList">
                          <li>
                              <img src="/images/html/prize_landing02/tea1.png" alt="" class="tea">
                              <h3>Pamela</h3>
                              <p>原新东方十年功勋教师，新东方集团以及北京新东方优秀教师。十多年各类口语课程的教学经验，帮你提升怎么也上不去的口语分数。</p>
                              <div class="orderClass">
                                  <h5>《托福高分口语系列课程》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea2.png" alt="" class="tea">
                              <h3>Dr. Wendy Fan</h3>
                              <p>曾求学于武汉大学，后赴英伦5年。多面才女一枚，虽然琴棋书画只能整明白一半，自8岁起读万卷书、行万里路至今却是成果斐然。</p>
                              <div class="orderClass">
                                  <h5>《世界漫行记》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea3.png" alt="" class="tea">
                              <h3>刘芸</h3>
                              <p>原新东方写作名师，拥有十余年教学与创作经验，留学考试畅销书作者。曾获全国英语写作大赛、CCTV英语演讲大赛复赛一等奖。</p>
                              <div class="orderClass">
                                  <h5>《“神探”揭秘雅思写作》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea4.png" alt="" class="tea">
                              <h3>黎小明</h3>
                              <p>原新东方学校托福写作名师，善于从精准审题、揣摩出题人用意、篇章结构、内容说服力、逻辑合理性、语言表达等方面引导学生。</p>
                              <div class="orderClass">
                                  <h5>《托福高分阅读系列课程》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea5.png" alt="" class="tea">
                              <h3>梁颖</h3>
                              <p>英国应用语言学与英语教学专业硕士，雅思阅读满分，曾在英国伦敦SCHS中学教学，经验极为丰富，教学风格轻松幽默。</p>
                              <div class="orderClass">
                                  <h5>《高分雅思经典阅读课程》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea6.png" alt="" class="tea">
                              <h3>曲琼琼</h3>
                              <p>原新东方学校托福写作名师，曾任托福写作组教研组长，2015年高分学员数量排名第一。荣获“北京新东方学校优秀教师”称号。</p>
                              <div class="orderClass">
                                  <h5>《托福高分写作系列课程》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea7.png" alt="" class="tea">
                              <h3>苏佩雯</h3>
                              <p>英国爱丁堡大学硕士。有十多年教授托福、雅思、商务英语、学术英语、海外日常口语、面试面签口语等课程经验。</p>
                              <div class="orderClass">
                                  <h5>《托福口语系列课程》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                          <li>
                              <img src="/images/html/prize_landing02/tea8.png" alt="" class="tea">
                              <h3>谢昕呈</h3>
                              <p>原北京新东方大学听说读写拔高项目负责人，英语听说15人小班项目负责人；北京奥运会、残奥会志愿者英语培训优秀培训师。 </p>
                              <div class="orderClass">
                                  <h5>《英语发音雕琢》</h5>
                                  <a href="javascript:;">立即约课</a>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <a href="javascript:;" class="arrow rightArrow1 next"></a>
              </div>
              <div class="pos02_2">
                  <ul class="advs clearfix">
                      <li class="adv">
                          <img src="/images/html/prize_landing02/advantage1.png" class="tit"/>
                          <ul>
                              <li>
                                  <p>4月15日 12:00-13:00</p>
                                  <p>TED演讲：John Maeda谈简单生活</p>
                              </li>
                              <li class="active">
                                  <p>4月15日 19:00-20:00</p>
                                  <p>面对谎言，我们就该这样做~</p>
                              </li>
                              <li>
                                  <p>4月16日 19:00-20:00</p>
                                  <p>NBA传奇人物——迈克尔乔丹</p>
                              </li>
                              <li class="noNeed">
                                  <a href="javascript:;" class="more">查看详情</a>
                              </li>
                          </ul>
                      </li>
                      <li class="adv">
                          <img src="/images/html/prize_landing02/advantage2.png" class="tit"/>
                          <ul>
                              <li class="active">
                                  <a href="javascript:;"><p>4月15日 12:00-13:00</p>
                                  <p>TED演讲：John Maeda谈简单生活</p></a>
                              </li>
                              <li>
                                  <a href="javascript:;"><p>4月15日 19:00-20:00</p>
                                  <p>面对谎言，我们就该这样做~</p></a>
                              </li>
                              <li>
                                  <a href="javascript:;"><p>4月16日 19:00-20:00</p>
                                  <p>NBA传奇人物——迈克尔乔丹NBA传奇人物——迈克尔乔丹</p></a>
                              </li>
                              <li class="noNeed">
                                  <a href="javascript:;" class="more">查看详情</a>
                              </li>
                          </ul>
                      </li>
                      <li class="adv">
                          <img src="/images/html/prize_landing02/advantage3.png" class="tit"/>
                          <ul>
                              <li>
                                  <p>4月15日 12:00-13:00</p>
                                  <p>TED演讲：John Maeda谈简单生活</p>
                              </li>
                              <li>
                                  <p>4月15日 19:00-20:00</p>
                                  <p>面对谎言，我们就该这样做~</p>
                              </li>
                              <li class="active">
                                  <p>4月16日 19:00-20:00</p>
                                  <p>NBA传奇人物——迈克尔乔丹</p>
                              </li>
                              <li class="noNeed">
                                  <a href="javascript:;" class="more">查看详情</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <a href="/images/html/prize_landing02/classList.png" target="_blank" class="pos02_3 subutton"></a>
          </div>
      </div>  
    </div>
    <div class="pri-list03">
      <div class="widthMain">
          <div class="pos03_1" id="stuBox">
              <a href="javascript:;" class="arrow leftArrow1 prev"></a>
              <div class="students">
                  <ul class="clearfix" id="stuList">
                    <li>
                        <img src="/images/html/prize_landing02/stu1.png" alt="" class="stu">
                        <div class="blank"></div>
                        <span>Snow</span>
                        <h3>四年级</h3>
                        <p>外教老师讲的全能新概<br/>念，比学校的英语课有<br/>意思多了。 </p>
                    </li>
                    <li>
                        <img src="/images/html/prize_landing02/stu2.png" alt="" class="stu">
                        <div class="blank"></div>
                        <span>Nikki</span>
                        <h3>六年级</h3>
                        <p>这门课也会讲语法，外<br/>教老师会举很多例子，<br/>学语法就容易多了。  </p>
                    </li>
                    <li>
                        <img src="/images/html/prize_landing02/stu3.png" alt="" class="stu">
                        <div class="blank"></div>
                        <span>Car</span>
                        <h3>三年级</h3>
                        <p>我特别喜欢课上的英文<br/>小游戏，25分钟很快就<br/>上完了。  </p>
                    </li>
                    <li>
                        <img src="/images/html/prize_landing02/stu4.png" alt="" class="stu">
                        <div class="blank"></div>
                        <span>Nancy</span>
                        <h3>六年级</h3>
                        <p>妈妈：家长都想让孩子<br/>的口语能力和考试分数<br/>都能有提高，上这门课<br/>最合适不过了。</p>
                    </li>
                    <li>
                        <img src="/images/html/prize_landing02/stu5.png" alt="" class="stu">
                        <div class="blank"></div>
                        <span>Christina</span>
                        <h3>三年级</h3>
                        <p>妈妈：在51Talk上课可<br/>以课前预习，回听录<br/>音，让家长孩子随时了<br/>解学习情况，很不错。</p>
                    </li>
                  </ul>
              </div>
              <a href="javascript:;" class="arrow rightArrow1 next"></a>
          </div>
          <a href="javascript:;" class="pos03_2 more">查看更多</a>
          <div class="pos03_3">
              <a href="javascript:;" class="sub"></a>
          </div>
      </div>  
    </div>
    <div class="pri-list04">
      <div class="widthMain">
          <div class="pos04">
              <a href="javascript:;" class="more">查看更多</a>
              <div class="desc">
                  <p>提前享优惠：</p>
                  <p>点击下方按钮可领取300元优惠券，届时购买系统会自动减免300元</p>
              </div>
              <a href="javascript:;" class="morning_bird subutton" id="morning_bird" data-url="xxx"></a>
          </div>
      </div>  
    </div>

    <div class="pri-list05">
      <div class="widthMain">
          <div class="pos05">
              <div class="textInfo clearfix">
                  <div class="intro">
                      <div class="desc">
                          <p>数以千万计的乡村儿童面临着重重的受教育困境，</p>
                          <p>任何一个孩子都可以拥有公平而优质的教育资源和为梦想努力的机会。</p>
                          <p>在“51Talk公益英语季”，上课做学霸，同时帮助乡村孩子们圆梦！</p>
                      </div>
                      <div class="desc">
                          <p>51Talk将携手真爱梦想公益基金会，</p>
                          <p>为河北省正定县北贾村小学捐赠梦想中心和在线外教1对1英语课程，</p>
                          <p>帮助孩子们学习、成长、探索，用英语对话世界！</p>
                      </div>
                      <p class="last">51Talk“助梦”公益行，等你加入！<a href="javascript:;" class="more">查看更多</a></p>
                      <ul class="tit">
                          <li>如何助梦：</li>
                          <li>1.请在下方填入您姓名，点击“我要助梦”，参与活动；</li>
                          <li>2.4月15日--4月24日期间每上1节1对1外教课，51Talk替您捐出1元钱，<br/>捐款数的Top10会实时公布在右侧</li>
                          <li>3.【学霸有奖】
                              <ul class="details">
                                  <li>• 每天在“今日学霸公益达人榜”Top10的学员会获得3张次卡奖励</li>
                                  <li>• “终极学霸公益达人榜”最终的TOP10学员会获得iPad mini2一台</li>
                              </ul>
                          </li>
                          <li>4.次卡奖励我们会在次日发放前一天的；iPad mini2会在活动结束后客服联系并寄出</li>
                          <li>5.本活动最终解释权归51Talk所有</li>
                      </ul>
                  </div>
                  <div class="rankingList clearfix">
                      <div class="todayList list">
                          <div class="box">
                              <ul>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0112用户累计已上100元</li>
                              </ul>
                          </div>
                      </div>
                      <div class="finalList list">
                          <div class="box">
                              <ul class="clearfix">
                                  <li>180***0112用户累计已上100元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                                  <li>180***0111用户今天已捐5元</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="myDream">
                  <input type="text" maxlength="15">
                  <a href="javascript:;" id="u-dream"></a>
              </div>
          </div>
        <a href="javascript:;"></a> 
      </div> 
    </div>
    <div class="pri-list06">
      <div class="widthMain">
          <div class="pos06">
              <p>
                  <span class="one">240次卡和12个月包月套餐立减<strong> 820 </strong>元</span>
                  <a href="javascript:;"></a></p>
              <p>
                  <span class="two">【零基础定制】中教课程直降<strong> 1000 </strong>元</span>
                  <a href="javascript:;"></a>
              </p>
          </div>
      </div> 
    </div>
    <div class="pri-list07">
      <div class="widthMain">
          <div class="pos07">
                <a href="javascript:;" class="look_detail subutton"></a>
          </div>
      </div> 
    </div>
    
</div>
<div class="goTop" id="m-gotop">
    <ul id="relatePiece">
        <li><a href="javascript:;" data-target="dial-bg">开心大转盘</a></li>
        <li><a href="javascript:;" data-target="pri-list02">名师公开课</a></li>
        <li><a href="javascript:;" data-target="pri-list03">超人气课程</a></li>
        <li><a href="javascript:;" data-target="pri-list04">托福雅思班</a></li>
        <li><a href="javascript:;" data-target="pri-list05">品牌公益行</a></li>
        <li><a href="javascript:;" data-target="pri-list06">促销大放价</a></li>
        <li><a href="javascript:;" data-target="pri-list07">疯狂抢卡次</a></li>
    </ul>
    <div class="topBox">
        <a href="javascript:;" id="m-top" data-target="pri-header"></a>
    </div>
</div>
<!-- 尾部 -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
      
        
    </p>
  </div>
</div>






<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">500元优惠券</span></h3>
            <div class="detail">
                <img src="/images/html/prize_landing02/rmb500.png" alt="" class="img01">
                <img src="/images/html/prize_landing02/ipad.png" alt="" class="img02">
                <img src="/images/html/prize_landing02/rmb300.png" alt="" class="img03">
                <img src="/images/html/prize_landing02/book_300.png" alt="" class="img04">
                <img src="/images/html/prize_landing02/clickRead_ji.png" alt="" class="img05" style="display:inline-block">
            </div>
            <p>优惠券30分钟发到您的站内信</p>
        </div>
    </div>
</div>
<div class="dialog2" id="dialog2">
    <div class="tip">
        <a href="javascript:;" class="close"></a>
        <div class="girl">
            <img src="/images/html/prize_landing02/girl.png" alt="">
        </div>
        <div class="text text1">
            <p>您已获得</p>
            <h3></h3>
        </div>
        <div class="text text2">
            <img src="/images/html/prize_landing02/get_ok.png" alt="">
        </div>
        <div class="text text3">
            <img src="/images/html/prize_landing02/thank_join.png" alt="">
        </div>
        <div class="text text0 text4">
            <h3>抱歉，请完整输入您姓名</h3>
        </div>
        <div class="text text0 text5">
            <h3>抱歉，您还未参与抽奖</h3>
        </div>
        <div class="text text0 text6">
            <h3>您已经领取过了，敬请期待课程上线！</h3>
        </div>
    </div>
</div>
<!-- 去预约 -->
<div class="dialog" id="info-prev">
  <div class="info-prev">
    <div class="hr"><a href="/trial/reserve" class="hr-f"></a></div>
    <div class="del"><img src="/images/html/prize_landing02/close.png"></div>
    <div class="tit">约完体验课<br>才可以参与抽奖哦！</div>
  </div>
</div>
<!-- 已参加 -->
<div class="dialog" id="info-already">
  <div class="info-prev info-already">
    <div class="del" id="diaDel"><img src="/images/html/prize_landing02/close.png"></div>
    <div class="tit">您已参加过抽奖<br><span class="ft">请关注下面精彩活动哦</span></div>
  </div>
</div>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="javascript:;" class="down" id="down">我知道了</a>
    </p>
  </div> 
</div>
</body>
</html>
<script type="text/javascript" src="../../../js/html/project/prize_landing02/jquery.min.js"></script>
<script type="text/javascript" src="../../../js/html/project/prize_landing02/jQueryRotate.min.js"></script>
<script type="text/javascript" src="../../../js/html/project/prize_landing02/prize.js"></script>