<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>adult/www.css">
</head>

<body data-init="adult/index" id="container">
<!-- 顶部 -->
<% include ../common/w_header.ejs %>
<div class="home-page">
    111111134444333
</div>

<script src="http://static.51talk.com/js/jquery.min.js?v=1439877955695"></script>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
</body>

<script src="<%= jsPath%>adult/vendor.js"></script>
</html>
