<% include ../common/top.ejs %>
<body class="ac-tem-pair ac-tem-stu" swfHref="" audioPath="" page-tag="pair,stu,play">
    <div class="header-box">
        <ul class="clear">
            <li class="current-p">单词听说</li>
            <li class="not-done">词义辨识</li>
            <li class="not-done">单词拼写</li>
            <li class="not-done">句型学习</li>
            <li class="not-done">语法视频</li>
            <li class="not-done">阅读学习</li>
        </ul>
    </div>
	 
    <div class="before-result word-heard-s">
        <div class="btn-box">
            <a href="javascript:;" class="word-start-btn"></a>
        </div>
    </div>



</body>
<% include ../common/bottom.ejs %>