<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入51TALK, 与名人对话，免费学英语！</title>
    <link rel="stylesheet" href="/css/html/childrenJob/childrenJob.css">
</head>
<body>
    <div class="contain" id="container" data-init="jobs_landing">
        <!-- 头部 -->
        <div class="header">
            <div>
                <a href="javascript:;" class="btn-tiyan">马上免费体验</a>
            </div>
            <div class="btn-login">
                <span>已经是会员，请<a href="javascript:;">登录</a></span>
            </div>
        </div> 
    </div>
<script src="/js/html/project/childrenJob/vendor.js"></script>
</body>
</html>