<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>答题</title>
    <script src="/js/wap/project/speech_20170216/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wap/speech_20170216/speech_20170216.css">
</head>
<body>
<div class="examPage" data-init="exam" id="container">
    <div id="j_exam_model" class="test-bg">
        <audio id="j_audio" class="hide" preload="preload" src=""></audio>

        <!-- 看图选文 -->
        <div class="animated fadeIn test-model">
            <header>Part 1 Listen and choose the correct answer. (5’*3)</header>
            <section class="exam-text">
                <h3>1. Listen and choose the word you hear. (audio 1)</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-1.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/1_1.png"/>
                            <h4>A. eye</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/1_2.png"/>
                            <h4>B. leg</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/1_3.png"/>
                            <h4>C. arm</h4>
                        </div>
                    </li>
                    <li data-ans="D">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/1_4.png"/>
                            <h4>D. ear</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part 1 Listen and choose the correct answer. (5’*3)</header>
            <section class="exam-text">
                <h3>2. What kind of fruit does monkey like the best? (audio 2)</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-2.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/2_1.png"/>
                            <h4>A. pear</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/2_2.png"/>
                            <h4>B. watermelon</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/2_3.png"/>
                            <h4>C. banana</h4>
                        </div>
                    </li>
                    <li data-ans="D">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/2_4.png"/>
                            <h4>D. orange</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part 1 Listen and choose the correct answer. (5’*3)</header>
            <section class="exam-text">
                <h3>3. Choose the one you hear. (audio 3)</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-3.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/3_1.png"/>
                            <h4>A. farmer</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/3_2.png"/>
                            <h4>B. teacher</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/3_3.png"/>
                            <h4>C. doctor</h4>
                        </div>
                    </li>
                    <li data-ans="D">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/3_4.png"/>
                            <h4>D. policeman</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part 2 Choose the word that is different from the others. (5’*3)</header>
            <section class="exam-text">
                <ul class="text-list">
                    <li data-ans="A">A. strawberry</li>
                    <li data-ans="B">B. grape</li>
                    <li data-ans="C">C. jeep</li>
                    <li data-ans="D">D. peach</li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part 2 Choose the word that is different from the others. (5’*3)</header>
            <section class="exam-text">
                <ul class="text-list">
                    <li data-ans="A">A. head</li>
                    <li data-ans="B">B. arm</li>
                    <li data-ans="C">C. foot</li>
                    <li data-ans="D">D. look</li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part 2 Choose the word that is different from the others. (5’*3)</header>
            <section class="exam-text">
                <ul class="text-list">
                    <li data-ans="A">A. ruler</li>
                    <li data-ans="B">B. panda</li>
                    <li data-ans="C">C. eraser</li>
                    <li data-ans="D">D. crayon</li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part3 Choose the correct answer. 选择正确的答案。(5'*5)</header>
            <section class="exam-text">
                <h3>7. Circle the word that begins with the letter m?</h3>
                <ul class="text-list">
                    <li data-ans="A">A. nose</li>
                    <li data-ans="B">B. mouth</li>
                    <li data-ans="C">C. ear</li>
                </ul>
            </section>
        </div>

        <div class="animated fadeIn test-model hide">
            <header>Part3 Choose the correct answer. 选择正确的答案。(5'*5)</header>
            <section class="exam-text">
                <h3>8. Which body part can hear?</h3>
                <ul class="text-list">
                    <li data-ans="A">A. hair</li>
                    <li data-ans="B">B. armh</li>
                    <li data-ans="C">C. ears</li>
                </ul>
            </section>
        </div>

        <!--9-->
        <div class="animated fadeIn test-model hide">
            <header>Part3 Choose the correct answer. 选择正确的答案。(5'*5)</header>
            <section class="exam-text">
                <h3>9. Circle the correct sentence.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. This is Timmy.</li>
                    <li data-ans="B">B. Thisis Timmy.</li>
                    <li data-ans="C">C. this is Timmy.</li>
                </ul>
            </section>
        </div>
        <!--9-->

        <!--10-->
        <div class="animated fadeIn test-model hide">
            <header>Part3 Choose the correct answer. 选择正确的答案。(5'*5)</header>
            <section class="exam-text">
                <h3>10. On Christmas, what do you see?</h3>
                <ul class="text-list">
                    <li data-ans="A">A. ghost</li>
                    <li data-ans="B">B. a Christmas tree</li>
                    <li data-ans="C">C. Easter egg</li>
                </ul>
            </section>
        </div>
        <!--10-->

        <!--11-->
        <div class="animated fadeIn test-model hide">
            <header>Part3 Choose the correct answer. 选择正确的答案。(5'*5)</header>
            <section class="exam-text">
                <h3>11. What do you say on Christmas？</h3>
                <ul class="text-list">
                    <li data-ans="A">A. Merry Christmas!</li>
                    <li data-ans="B">B. Happy Easter!</li>
                </ul>
            </section>
        </div>
        <!--11-->

        <!--12-->
        <div class="animated fadeIn test-model hide">
            <header>Part4 Listen to the dialogue, and then answer the following questions. (5'*5)</header>
            <section class="exam-text">
                <h3>12. Q: What day is it today?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-12.mp3"></div>
                <ul class="text-list">
                    <li data-ans="A">A. Tuesday</li>
                    <li data-ans="B">B. Monday</li>
                </ul>
            </section>
        </div>
        <!--12-->

        <!--13-->
        <div class="animated fadeIn test-model hide">
            <header>Part4 Listen to the dialogue, and then answer the following questions. (5'*5)</header>
            <section class="exam-text">
                <h3>13. Q: What does he like to do in summer?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-13.mp3"></div>
                <ul class="text-list">
                    <li data-ans="A">A. eat ice-cream</li>
                    <li data-ans="B">B. swim</li>
                </ul>
            </section>
        </div>
        <!--13-->

        <!--14-->
        <div class="animated fadeIn test-model hide">
            <header>Part4 Listen to the dialogue, and then answer the following questions. (5'*5)</header>
            <section class="exam-text">
                <h3>14. Q: How many stars are there?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-14.mp3"></div>
                <ul class="text-list">
                    <li data-ans="A">A. Six</li>
                    <li data-ans="B">B. Seven</li>
                </ul>
            </section>
        </div>
        <!--14-->

        <!--15-->
        <div class="animated fadeIn test-model hide">
            <header>Part 5 Choose the right answer</header>
            <section class="exam-text">
                <h3>15. What can you see on Mother’s Day?</h3>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/4_1.png"/>
                            <h4>A. Christmas tree</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/4_2.png"/>
                            <h4>B. Easter eggs</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/4_3.png"/>
                            <h4>C. flowers</h4>
                        </div>
                    </li>
                    <li data-ans="D">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/4_4.png"/>
                            <h4>D. pumpkins</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <!--15-->

        <!--16-->
        <div class="animated fadeIn test-model hide">
            <header>Part 6 Look at the picture and fill in the blanks with words.</header>
            <section class="image-text">
                <div class="bg-white">
                    <div class="bg-img">
                        <img src="/images/wap/speech_20170216/topic/5_1.png"/>
                    </div>
                </div>
            </section>
            <section class="exam-text">
                <h3>16. Seasons: ______________, summer, autumn, winter. </h3>
                <ul class="text-list">
                    <li data-ans="A">A. spring</li>
                    <li data-ans="B">B. circle</li>
                    <li data-ans=“C”>C. seven</li>
                </ul>
            </section>
        </div>
        <!--16-->

        <!--17-->
        <div class="animated fadeIn test-model hide">
            <header>Part 6 Look at the picture and fill in the blanks with words.</header>
            <section class="image-text">
                <div class="bg-white">
                    <div class="bg-img">
                        <img src="/images/wap/speech_20170216/topic/6_1.png"/>
                    </div>
                </div>
            </section>
            <section class="exam-text">
                <h3>17. Shapes: _____________, square, triangle, rectangle.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. spring</li>
                    <li data-ans="B">B. circle</li>
                    <li data-ans="C">C. seven</li>
                </ul>
            </section>
        </div>
        <!--17-->

        <!--18-->
        <div class="animated fadeIn test-model hide">
            <header>Part 6 Look at the picture and fill in the blanks with words.</header>
            <section class="image-text">
                <div class="bg-white">
                    <div class="bg-img">
                        <img src="/images/wap/speech_20170216/topic/7_1.png"/>
                    </div>
                </div>
            </section>
            <section class="exam-text">
                <h3>18. Time: it’s ________________o’clock. It’s dinner time</h3>
                <ul class="text-list">
                    <li data-ans="A">A. spring</li>
                    <li data-ans="B">B. circle</li>
                    <li data-ans="C">C. seven</li>
                </ul>
            </section>
        </div>
        <!--18-->

        <!--19-->
        <div class="animated fadeIn test-model hide">
            <header>Part 7 Listen to the dialogue and choose the correct answer.</header>
            <section class="exam-text">
                <h3>19. Q: Whose book is it?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-19.mp3"></div>
                <ul class="text-list">
                    <li data-ans="A">A. Tom’s</li>
                    <li data-ans="B">B. Timmy’s</li>
                    <li data-ans="C">C. Tommy’s</li>
                    <li data-ans="D">D. Mary’s</li>
                </ul>
            </section>
        </div>
        <!--19-->

        <!--20-->
        <div class="animated fadeIn test-model hide">
            <header>Part 7 Listen to the dialogue and choose the correct answer.</header>
            <section class="exam-text">
                <h3>20. Q: What is the season?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade3/3-20.mp3"></div>
                <ul class="text-list">
                    <li data-ans="A">A. Summer</li>
                    <li data-ans="B">B. Spring</li>
                    <li data-ans="C">C. Winter</li>
                    <li data-ans="D">D. Autumn</li>
                </ul>
            </section>
        </div>
        <!--20-->

        <!-- 翻页 -->
        <div id="j_pager" class="examPage-footer">
            <a id="j_prev_btn" href="javascript:;" class="le disabled">上一题<i></i></a>
            <a id="j_next_btn" href="javascript:;" class="ri">下一题<i></i></a>
            <a id="j_submit_btn" href="javascript:;" class="ri hide">完成<i></i></a>
        </div>
        <!-- 翻页 -->
    </div>
    <!-- 判断页面 -->
    <input  type="hidden" id="j_gradePage" value="1" />  
</div>
</body>
<script id="seajsnode" src="/js/wap/project/speech_20170216/vendor.js"></script>
</html>