<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>答题6</title>
    <script src="/js/wap/project/speech_20170216/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wap/speech_20170216/speech_20170216.css">
</head>
<body>
<div class="examPage" data-init="exam" id="container">
    <div id="j_exam_model" class="test-bg">
        <audio id="j_audio" class="hide" preload="preload" src=""></audio>

        <!-- 看图选文 -->
        <div class="animated fadeIn test-model">
            <header>Part 1 Listen and tick(√)</header>
            <section class="exam-text">
                <h3>1. What is the man buying for his lunch?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/6-1.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_1_1.png"/>
                            <h4>A</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_1_2.png"/>
                            <h4>B</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_1_3.png"/>
                            <h4>C</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <!-- 22 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 1 Listen and tick(√)</header>
            <section class="exam-text">
                <h3>2. Which postcard does the woman choose?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/6-2.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_2_1.png"/>
                            <h4>A</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_2_2.png"/>
                            <h4>B</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_2_3.png"/>
                            <h4>C</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <!-- 33 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 1 Listen and tick(√)</header>
            <section class="exam-text">
                <h3>3. How does Timmy go to school today?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/6-3.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_3_1.png"/>
                            <h4>A</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_3_2.png"/>
                            <h4>B</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_3_3.png"/>
                            <h4>C</h4>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
        <!-- 44 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 1 Listen and tick(√)</header>
            <section class="exam-text">
                <h3>4. What will Cindy do next week?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/6-4.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_4_1.png"/>
                            <h4>A</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_4_2.png"/>
                            <h4>B</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_4_3.png"/>
                            <h4>C</h4>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
        <!-- 55 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 1 Listen and tick(√)</header>
            <section class="exam-text">
                <h3>5. What does Tom’s father’s do?</h3>
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/6-5.mp3"></div>
                <ul class="images-list">
                    <li data-ans="A">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_5_1.png"/>
                            <h4>A</h4>
                        </div>
                    </li>
                    <li data-ans="B">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_5_2.png"/>
                            <h4>B</h4>
                        </div>
                    </li>
                    <li data-ans="C">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/topic/grade6_5_3.png"/>
                            <h4>C</h4>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
        <!-- 66 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 2 Listen and choose.</header>
            <section class="exam-text">
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/Part2-6-6-10.mp3"></div>
                <h3>6 Lisa ____ on summer vacation.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. went fishing.</li>
                    <li data-ans="B">B. went camping.</li>
                    <li data-ans="C">C. went skiing.</li>
                </ul>
            </section>
        </div>
        <!-- 77 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 2 Listen and choose.</header>
            <section class="exam-text">
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/Part2-6-6-10.mp3"></div>
                <h3>7 Lisa went camping ____ .</h3>
                <ul class="text-list">
                    <li data-ans="A">A. the day before yesterday.</li>
                    <li data-ans="B">B. last week.</li>
                    <li data-ans="C">C. yesterday.</li>
                </ul>
            </section>
        </div>
        <!-- 88 -->
        <div class="animated fadeIn test-model hide">
            <header>Part 2 Listen and choose.</header>
            <section class="exam-text">
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/Part2-6-6-10.mp3"></div>
                <h3>8 Lisa’s favorite sport is____. </h3>
                <ul class="text-list">
                    <li data-ans="A">A. playing badminton.</li>
                    <li data-ans="B">B. ice skating.</li>
                    <li data-ans="C">C. running.</li>
                </ul>
            </section>
        </div>
        <!--9-->
        <div class="animated fadeIn test-model hide">
            <header>Part 2 Listen and choose.</header>
            <section class="exam-text">
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/Part2-6-6-10.mp3"></div>
                <h3>9 Lisa always does sports ____. </h3>
                <ul class="text-list">
                    <li data-ans="A">A. in the park.</li>
                    <li data-ans="B">B. at home.</li>
                    <li data-ans="C">C. in the gym.</li>
                </ul>
            </section>
        </div>
        <!--10-->
        <div class="animated fadeIn test-model hide">
            <header>Part 2 Listen and choose.</header>
            <section class="exam-text">
                <div class="player" data-src="/images/wap/speech_20170216/audio/grade6/Part2-6-6-10.mp3"></div>
                <h3>10. Ella bought a ____ for Lisa.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. handmade lamp.</li>
                    <li data-ans="B">B. handmade cake.</li>
                    <li data-ans="C">C. handmade kite.</li>
                </ul>
            </section>
        </div>
        <!--10-->

        <!--11-->
        <div class="animated fadeIn test-model hide">
            <header>Part 3 Choose the right answer</header>
            <section class="exam-text">
                <h3>11. Tim is 11 years old. Mary is 14 years old. Tim is _________than Mary.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. younger</li>
                    <li data-ans="B">B. youth</li>
                    <li data-ans="C">C. older</li>
                </ul>
            </section>
        </div>
        <!--11-->

        <!--12-->
        <div class="animated fadeIn test-model hide">
            <header>Part 3 Choose the right answer</header>
            <section class="exam-text">
                <h3>12. Peter does not eat breakfast. He ________ eat in the morning. It is healthier.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. make</li>
                    <li data-ans="B">B. should</li>
                    <li data-ans="C">C. is</li>
                </ul>
            </section>
        </div>
        <!--12-->

        <!--13-->
        <div class="animated fadeIn test-model hide">
            <header>Part 3 Choose the right answer</header>
            <section class="exam-text">
                <h3>13. I like reading. I read books, newspaper, and ____________.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. magazines</li>
                    <li data-ans="B">B. movie</li>
                    <li data-ans="C">C. Watch TV</li>
                </ul>
            </section>
        </div>
        <!--13-->

        <!--14-->
        <div class="animated fadeIn test-model hide">
            <header>Part 3 Choose the right answer</header>
            <section class="exam-text">
                <h3>14. I have a ____________. I want to be a doctor when I grow up.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. think</li>
                    <li data-ans="B">B. idea</li>
                    <li data-ans="C">C. dream</li>
                </ul>
            </section>
        </div>
        <!--14-->

        <!--15-->
        <div class="animated fadeIn test-model hide">
            <header>Part 3 Choose the right answer</header>
            <section class="exam-text">
                <h3>15. The dress is too expensive. The __________ is too high.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. price</li>
                    <li data-ans="B">B. cost</li>
                    <li data-ans="C">C. valuable</li>
                </ul>
            </section>
        </div>
        <!--15-->

        <!--16-->
        <div class="animated fadeIn test-model hide">
            <header>Part 4 Reading Comprehension</header>
            <section class="exam-text">
                <h3>
                    <p>Frank was only 5 years old. He lived with his parents in a very small house in countryside. The
                        people there were all poor because it is very dry there.</p>
                    <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He
                        found that the wood in the kitchen was burning. There was no water in the house, so he could not
                        put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his
                        house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors
                        left their houses quickly.</p>
                    <p> At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the
                        fire.</p>
                </h3>
                <h3>16. Peter lived with his ____________.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. brothers</li>
                    <li data-ans="B">B. sisters</li>
                    <li data-ans="C">C. uncle</li>
                    <li data-ans="D">D. father and mother</li>
                </ul>
            </section>
        </div>
        <!--16-->

        <!--17-->
        <div class="animated fadeIn test-model  hide">
            <header>Part 4 Reading Comprehension</header>
            <section class="exam-text">
                <h3>
                    <p>Frank was only 5 years old. He lived with his parents in a very small house in countryside. The
                        people there were all poor because it is very dry there.</p>
                    <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He
                        found that the wood in the kitchen was burning. There was no water in the house, so he could not
                        put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his
                        house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors
                        left their houses quickly.</p>
                    <p> At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the
                        fire.</p>
                </h3>
                <h3>17. Why were the people in the countryside poor? Because the place was very___________.</h3>
                <ul class="text-list">
                    <li data-ans="A">A. dry</li>
                    <li data-ans="B">B. windy</li>
                    <li data-ans="C">C. hot</li>
                    <li data-ans="D">D. water</li>
                </ul>
            </section>
        </div>
        <!--17-->

        <!--18-->
        <div class="animated fadeIn test-model hide">
            <header>Part 4 Reading Comprehension</header>
            <section class="exam-text">
                <h3>
                    <p>Frank was only 5 years old. He lived with his parents in a very small house in countryside. The
                        people there were all poor because it is very dry there.</p>
                    <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He
                        found that the wood in the kitchen was burning. There was no water in the house, so he could not
                        put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his
                        house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors
                        left their houses quickly.</p>
                    <p> At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the
                        fire.</p>
                </h3>
                <h3>18. What does “put out” mean?</h3>
                <ul class="text-list">
                    <li data-ans="A">A. 浇灭</li>
                    <li data-ans="B">B. 给</li>
                    <li data-ans="C">C. 离开</li>
                    <li data-ans="D">D. 起立</li>
                </ul>
            </section>
        </div>
        <!--18-->

        <!--19-->
        <div class="animated fadeIn test-model hide">
            <header>Part 4 Reading Comprehension</header>
            <section class="exam-text">
                <h3>
                    <p>Frank was only 5 years old. He lived with his parents in a very small house in countryside. The
                        people there were all poor because it is very dry there.</p>
                    <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He
                        found that the wood in the kitchen was burning. There was no water in the house, so he could not
                        put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his
                        house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors
                        left their houses quickly.</p>
                    <p> At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the
                        fire.</p>
                </h3>
                <h3>19. Who did Frank wake up?</h3>
                <ul class="text-list">
                    <li data-ans="A">A. Grandpa</li>
                    <li data-ans="B">B. friends</li>
                    <li data-ans="C">C. neighbors</li>
                    <li data-ans="D">D. animals</li>
                </ul>
            </section>
        </div>
        <!--19-->

        <!--20-->
        <div class="animated fadeIn test-model hide">
            <header>Part 4 Reading Comprehension</header>
            <section class="exam-text">
                <h3>
                    <p>Frank was only 5 years old. He lived with his parents in a very small house in countryside. The
                        people there were all poor because it is very dry there.</p>
                    <p>One night, when everybody was asleep, Peter heard some noise. It came out from the kitchen. He
                        found that the wood in the kitchen was burning. There was no water in the house, so he could not
                        put out the fire. He shouted loudly to wake up everyone in the house. Then he ran out of his
                        house and knocked on the doors of his neighbors to wake them up. Fortunately, all his neighbors
                        left their houses quickly.</p>
                    <p> At last, the fire was put out by the firemen. Many houses were burnt. But nobody was hurt in the
                        fire.</p>
                </h3>
                <h3>20. Who get hurt in the fire?</h3>
                <ul class="text-list">
                    <li data-ans="A">A. Frank</li>
                    <li data-ans="B">B. nobody</li>
                    <li data-ans="C">C. Frank’s parents</li>
                    <li data-ans="D">D. Frank’s neighbors</li>
                </ul>
            </section>
        </div>
        <!--20-->

        <!-- 翻页 -->
        <div id="j_pager" class="examPage-footer">
            <a id="j_prev_btn" href="javascript:;" class="le disabled">上一题<i></i></a>
            <a id="j_next_btn" href="javascript:;" class="ri">下一题<i></i></a>
            <a id="j_submit_btn" href="javascript:;" class="ri hide">完成<i></i></a>
        </div>
        <!-- 翻页 -->
    </div>
    <!-- 判断页面 -->
    <input  type="hidden" id="j_gradePage" value="2" />
</div>
</body>
<script id="seajsnode" src="/js/wap/project/speech_20170216/vendor.js"></script>
</html>