<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>答题</title>
    <script src="/js/wap/project/speech_20170216/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wap/speech_20170216/speech_20170216.css">
</head>
<body>
<div class="examPage">
    <div class="test-bg">
        <!-- 看图选文 -->
        <div class="test-model" style="display:none">
            <header>
                Part 5 Look at the picture and fill in the blanks with words.<span>(5分)</span>
            </header>
            <section class="image-text">
                <div class="bg-white">
                    <div class="bg-img">
                        <img src="/images/wap/speech_20170216/title.jpg"/>
                    </div>
                </div>
            </section>
            <section class="exam-text">
                <h3>11. Seasons: ______________, summer, autumn, winter.</h3>
                <ul>
                    <li>A. spring</li>
                    <li class="active">B. spring</li>
                    <li>C. spring</li>
                </ul>
            </section>
        </div>
        <!-- 5看文选文 长标题 -->
        <div class="test-model" style="display:none">
            <header>
                Part 5 Look at the picture and fill in the blanks with words.<span>(5分)</span>
            </header>
            <section class="exam-text">
                <h3>11. Seasons: style="display:none", autumn, winter.</h3>
                <ul class="text-list">
                    <li>A. spring</li>
                    <li class="active">B. spring</li>
                    <li>C. spring</li>
                    <li>A. spring</li>
                    <li>B. spring</li>
                </ul>
            </section>
        </div>
        <!-- 8-1听力题选图文 -->
        <div class="test-model">
            <header>
                Part 5 Look at the picture and fill in the blanks with words.<span>(5分)</span>
            </header>
            <section class="exam-text">
                <h3>11. Seasons: summer, autumn, wint a summr summer.</h3>
                <div class="player pause">
                    <!--  <img src="/images/wap/speech_20170216/pause.png" /> -->
                </div>
                <ul class="images-list">
                    <li class="active">
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/title.jpg"/>
                            <h4>A.banana</h4>
                        </div>
                    </li>
                    <li>
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/title.jpg"/>
                            <h4>A.banana</h4>
                        </div>
                    </li>
                    <li>
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/title.jpg"/>
                            <h4>A.banana</h4>
                        </div>
                    </li>
                    <li>
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/title.jpg"/>
                            <h4>A.banana</h4>
                        </div>
                    </li>
                    <li>
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/title.jpg"/>
                            <h4>A.banana</h4>
                        </div>
                    </li>
                    <li>
                        <div class="image-box">
                            <img src="/images/wap/speech_20170216/title.jpg"/>
                            <h4>A.banana</h4>
                        </div>
                    </li>
                </ul>
            </section>
        </div>


        <!-- ////////////////////////////// -->
        <div class="examPage-footer">
            <a href="javascript:;" class="le">上一题<i></i></a>
            <a href="javascript:;" class="ri">下一题<i></i></a>
        </div>
    </div>
</div>
</body>
<script id="seajsnode" src="/js/wap/project/speech_20170216/vendor.js"></script>
</html>