<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>51Talk-无忧英语</title>
    <script src="/js/wap/project/speech_20170216/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/wap/speech_20170216/speech_20170216.css">
</head>
<body>
<section class="forget-pass">
    <div class="d-form">
        <form action="/user/tool" method="post">
            <div class="f-item">
                <input name="mobile" type="text" placeholder="请输入手机号" class="f-text">
            </div>
            <div class="f-error-tip"></div>
            <div class="f-item">
                <input name="checked_code" type="text" placeholder="请输入验证码" id="checked_code" class="f-text cd_code">
                <span class="f-btn y_code" id="getCode">获取验证码</span>
            </div>
            <div class="f-item">
                <input name="checked_code" type="text" placeholder="请输入您的密码" class="f-text">
            </div>
            <div class="f-btn-box">
                <a href="#" class="f-btn f-btn-orange">找回密码</a>
            </div>
            <div class="f-tip">
                已有账号，立即<a href="#&gt;">登录</a>
            </div>
        </form>
    </div>
</section>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/speech_20170216/vendor.js" id="seajsnode"></script>
</html>