<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>