<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>详细规则</title>
    <script src="../../../js/wap/project/course_share36519/flexible.debug.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/wap/course_share36519/wap.css">
</head>
<body class="full">
    <div class="wrap">
        <section class="content">
            <p>1、每邀请1位好友付费（订单金额1500元及以上），你获得10次次卡奖励，你的好友获得3次次卡奖励；</p>
            <p>2、邀请好友人数越多，获得的次卡越多，上不封顶；</p>
            <p>3、次卡奖励会在好友付费次日自动发送到你和你好友的账户中，可在'站内信'中查看；</p>
            <p>4、赠送的次卡不可退款；</p>
            <p>5、自己邀请自己不会获得次卡奖励哦。</p>
        </section>
        <footer>
            <p>本活动最终解释权归51Talk所有。</p>
        </footer>
    </div>
</body>

<!--公共尾部结束-->
<script id="s eajsnode" src="<%= jssrc%>"></script>
</html>