.adult{
  .at-nav{
    background: #e0e0e0;
    height: 80px;
    line-height: 76px;
    li{
      .left;
      width: 50%;
      .tac;
      border-top:4px #e0e0e0 solid;
      font-size: 30px;
      .f-csp;
      color: #666;
      a{
        color: #666;
        display: block;
      }
    }
    .on{
      border-top:4px @borderColor solid;
      background:@bgColor;
      color: @textColor; 
    }
  }
  .at-main{
    .t-xq{
      padding:100px 0 107px 0;
      .t-lt{
        .left;
        width: 650px;
        .t-img{
          display: inline-block;
        }
        .t-word{
          width: 595px;
          color: @textColorGay;
          .ft16;
          margin-top: 10px;
          line-height: 30px;
        }
        .t-word1{
          margin-top: 23px;
        }
      }
      .t-rt{
        margin:-20px 0 0 700px;
      }
    }
    .z-class{
      /*background: @bgColorGay;*/
      padding:80px 0;
      .z-lt{
        .left;
        width: 465px;
      }
      .z-rt{
        min-height: 465px;
        margin-left: 526px;
        .z-word{
          margin-top: 30px;
          line-height: 30px;
          .ft16;
          color: @textColorGay;
        }
        .z-word1{
          margin-top: 42px;
        }
        .t-js{
          .left;
          .ft18;
          height: 18px;
          line-height: 1;
          overflow: hidden;
          margin-top: 56px;
          color: @textColorGay;
          &:hover{
            color: @hoverColor;
          }
        }
      }
      .tz-img{
        margin-top: 40px;
      }
    }
    .y_select_img{
      padding:80px 0 0;
      background-color: @bgColorGay;
    }
    .p-jc{
      .p-tit{
        .tac;
        margin-bottom: 20px;
      }
    }
    .centerMth-pb{
      padding-bottom: 120px;
    }
    .tz-an{
      .tac;
      margin-top: 30px;
      &.tz-an1{
        margin-top: 18px;
      }
      .tz-btn{
        display: inline-block;
        .tac;
        color: #fffefe;
        font-size: 28px;
        background:@oraBtn;
        padding:14px 55px;
        border-radius: 5px;
        &:hover{
          background:@oraBtnHover;
        }
        &:active{
          background:@oraBtnActive;
        }
      }
      .tz-btn-blue{
        background-color: @blueBtn;
        &:hover{
          background:@blueBtnHover;
        }
        &:active{
          background:@blueBtnActive;
        }
      }
    }
    
  }
  // 课程体系和青少课程共同区域
  .y_major{
    padding:80px 0 50px;
    background-color: @bgColorGay;
  }
  .youth_tit{
    .tac;
    margin-bottom: 40px;
  }
  .youth_text{
    a{
      width: 350px;
      height: 50px;
      line-height: 50px;
      text-align: left;
      text-indent: 38px;
      font-size: 22px;
      color: #fff;
      position: relative;
      display: block;
      background-position: 0 -171px;
    }
    span{
      width: 36px;
      height: 36px;
      position: absolute;
      right: 6px;
      top:7px;
      background-position: -355px -177px;
    }
  }
  .major_now{
    margin-bottom: 0;
      a{
      width: 210px;
      height: 50px;
      background-position: 0 -225px;
      text-indent: 0;
      margin:0 auto;
      .tac;
    }
  }
  .major_cont{
    width: @docWidth;
    margin:0 auto;
  }
  .major_list{
    height: 308px;
    margin:0 auto;
    width: 100%;
    margin-bottom: 20px;
    li{
      width: 184px;
      float: left;
      .tac;
      margin-right: 20px;
      &.mr0{
        margin-right: 0;
      }
    }
    h3{
      line-height: 58px;
      font-size: 18px;
    }
    a{
      color: #7c7c7c;
      &:hover{
        color:@hoverColor;
      }
    }
  }

  .y_selective{
    padding:80px 0 50px;
    background: #fff;
    .major_now{
      .tac;
      a{
        background-position: -214px -225px;
      }
    }
  }
  .selective_cont{
    width: @docWidth;
    margin:0 auto;
  }
  .selective_list{
    height: 246px;
    li{
      float: left;
      width: 150px;
      width: 20%;
      .tac;
    }
    h3{
      font-size: 22px;
      height: 30px;
    }
    p{
      height: 44px;
    }
  }
  .selective_img{
      display: block;
      width: 150px;
      height: 150px;
      margin:0 auto;
      margin-bottom: 20px;
      transition:0.3s transform;
      &:hover{
        transform:rotateY(180deg) scaleX(-1);
      }
      &.y_bgp0{
        background-position: -1px -610px;
      }
      &.y_bgp1{
        background-position: -156px -610px;
      }
      &.y_bgp2{
        background-position: -312px -611px;
      }
      &.y_bgp3{
        background-position: -0px -914px;
      }
      &.y_bgp4{
        background-position: -156px -914px;
      }
      &.y_bgp5{
        background-position: -0px -762px;
      }
      &.y_bgp6{
        background-position: -155px -762px;
      }
      &.y_bgp7{
        background-position: -311px -763px;
      }
      &.y_bgp8{
        background-position: -313px -916px;
      }
      &.y_bgp9{
        transition:none;
        background-position:  -1px -458px;
      }
  }
  .selective_img_b{
    color: @textColorGay;
  }
  .selective_img_b:hover{
    color: @blueBtn;
    .y_bgp0{
      background-position: 0 0;
    }
    .y_bgp1{
      background-position: -157px 0;
    }
    .y_bgp2{
      background-position: -314px 0;
    }
    .y_bgp3{
      background-position: -0px -305px;
    }
    .y_bgp4{
      background-position: -157px -304px;
    }
    .y_bgp5{
      background-position: -0px -152px;
    }
    .y_bgp6{
      background-position: -156px -152px;
    }
    .y_bgp7{
      background-position: -312px -152px;
    }
    .y_bgp8{
      background-position: -313px -304px;
    }
  }
  .selective_img_hover:hover{
    color: @textColorGay;
    .f-csd;  
  }
  .mb93{
    margin-bottom: 93px;
  }


}
/*官网课程体系改版--2016.1.7 张天*/
.adult{
  .at-main{
    .add-adult-top{
      padding-top: 70px;
      padding-bottom: 80px;
      h3{
        margin-bottom: 32px;
      }
      P{
        line-height: 30px;
        font-size: 16px;
        margin-bottom: -85px;
      }
    }
    .add-set-class{
      background-color: @bgColorGay;
    }
  }
}



/*官网课程体系页面添加视频--2016.1.18 张天*/
.adult{
  .z-class{
    .z-class-img{
      width: 100%;
      padding-bottom: 40px;
      border-bottom: 1px dashed #dbdee0;
    }
    .z-class-video{
      height:267px;
      padding-top: 40px;

    }
    .z-vido-list{
      height: 267px;
      li{
        width: 475px;
        height: 267px;
        float: left;
        position: relative;
        &.z-vido-one{
          margin-right: 50px;
        }
      }
    }
    .video_play{
      .absolute;
      top: 50%;
      left: 50%;
      margin-left: -45px;
      margin-top: -45px;
      .video{
        i{
          .iconImg;
          width: 90px;
          height: 90px;
          background-position: -106px -127px;  
        }
        &:hover{
          i{
            background-position: -4px -126px;   
          }
        }
      }
    }
  }
}