.little_girl{
	width:100%;
	height:540px;
	background: url("@{imgPath}littl_girl.jpg") center center no-repeat;
	.top_h{
		height:200px;
	}
	
}
.red_buy{
		width:292px;
		height:68px;
		display: block;
		border-radius: 10px;
		margin:auto;
		text-align: center;
		line-height: 68px;
		color:#FFFFFF;
		background:#FF4D4D;
		font-size: 40px;
		font-weight: 900;
	}
.red_buy:hover{
	color:#fff;
}
.miji{
	width:100%;
	padding:60px;
	.miji_text{
		text-align: center;
		font-size: 50px; 
		color:#636363;
		font-weight: 100;
		margin-bottom:60px;
	}
	.miji_img{
		width:1000px;
		height:462px;
		margin:0 auto 60px;
		background: url("@{imgPath}miji_img.jpg") 
	}
}
