.tegrs{
  .t-title{
    .relative;
    .tac;
    border-bottom: 1px #dcdcdc solid;
    padding:32px 0px;
    i{
      .absolute;
      .iconImg;
      background: url("@{imgPath}ten_icon.png") no-repeat;
      background-position: -6px -285px;
      width: 40px;
      height: 25px;
      top: 96px;
      left: 50%;
      margin-left: -20px;  
    }
  }
  .ten-fri{
    background:#ebf5ff;
    padding-top: 70px;
    border-bottom: 1px #dcdcdc solid;
    .centerMth{
      .relative;
    }
    .tit01,.tit02{
      .tac;
      .ft18;
      color: @textColorGay;
      margin-bottom: 12px;
    }
    .ten-dl{
      .relative;
      height: 380px;
      margin: 50px 0 0 0;
      dt{
        .absolute;
        bottom: 0;
        left: -70px;
      }
      dd{
        .absolute;
        right: 125px;
        i{
          .left;
          .iconImg;
          background: url("@{imgPath}ten_icon.png") no-repeat;
          width: 80px;
          height: 80px;
          margin-right: 10px;
        }
        span{
          .left;
          color:@textColor;
          .ft18;
          line-height: 35px;
          margin-top: 22px;
          em{
            display: block;
            font-size: 30px;
            color: #445767;
          }
        }
      }
      .ten-dd01{
        top: 11px;
      }
      .ten-dd02{
        right: 89px;
        top:125px;
        width: 440px;
        i{
          background-position: 0 -95px;
        }
      }
      .ten-dd03{
        right: 89px;
        top: 241px;
        width: 440px;
        i{
          background-position: 0 -190px;
        }
        span{
          margin-top: 5px;
        }
      }
    }
  }
  .ten-le{
    background:@white;
    .tit01,.tit02,.tit03{
    }
    .tit01{
      color: #77cb37;
    }
    .ten-dl{
      margin:50px 0 0 0;
      dt{
        .absolute;
        left:535px;
      }
      dd{
        .absolute;
        left: 50px;
      }
      .ten-dd01{
        margin-left: 42px;
        top: 25px;
        i{
          background-position: -105px 0;
        }
      }
      .ten-dd02{
        top: 139px;
        i{
          background-position: -105px -95px;
        }
      }
      .ten-dd03{
        top: 255px;
        i{
          background-position: -105px -190px;  
        }
        span{
          margin-top: 22px;
        }
      }
    }  
  }
  .ten-ln{
    background:#fffcf7; 
    .tit01{
      color: @titleColor;
    }
    .ten-dl{
      margin:50px 0 0 0;
      dt{
        .absolute;
        width: 590px;
        left: -160px;
        bottom: -13px;
      }
      .ten-dd01{
        right: 209px;
        i{
          background-position: -210px 0;
        }
      }
      .ten-dd02{
        right: 3px;
        width: 570px;
        i{
          background-position: -210px -95px;
        }
      }
      .ten-dd03{
        width: 570px;
        right: 3px;
        i{
          background-position: -210px -190px;  
        }
        span{
          margin-top: 22px;
        }
      }
    }
  }
  .ten-stu{
    background: @bgColorGay;
    padding-bottom: 80px;
    .stu-tit{
      .tac;
      padding:70px 0 10px 0;  
    }
    .more{
      color: @textColorGay;
      .ft18;
      .tac;
      display: block;
      &:hover{
        color: @hoverColor;
      }
    }
    ul{
      height: 486px;
      margin:40px 0 0 30px;
      li{
        float: left;
        width: 420px;
        height: 460px;
        background: @bgColor;
        padding:10px 10px 0;
        margin:0 10px;
        .s-img{
          width: 420px;
          height: 260px;
        }
        .s-p{
          font-size: 30px;
          color: #333;
          margin: 23px 10px 0 10px;
        }
        span{
          display: block;
          margin:0 10px;
        }
        .s-r{
          color: #666;
          .ft18;
          margin:2px 10px 14px 10px;
        }
        .s-l{
          .ft18; 
          color: #333; 
        }
      }
    }
  }
  // 推荐51talk
  .talk{
    width: 100%;
    padding:80px 0;
    .t-h3{
      .tac;
      margin-bottom: 45px;
    }
     .talk-list{
      width: 750px;
      margin: auto;
      height: 342px;
      li{
        float: left;
        width: 248px;
        height: 342px;
        position: relative;
        overflow: hidden;
        transition:width 0.5s;
        border-left: 1px #999 solid;
        &.icon-lina{
          background: url("@{imgPath}lina.jpg") no-repeat; 
        }
        &.icon-lj{
          background: url("@{imgPath}lxp.jpg") no-repeat; 
        }
        &.icon-lxp{
          background: url("@{imgPath}lj.jpg") no-repeat; 
        }
        &.hover{
          width: 500px;
          .u-mask{
            .fm-opacity(0);
          }
        }
        .u-mask{
          position: absolute;
          transition:all 0.5s;
          left: 0;top:0;
          width: 456px;
          height: 342px;
          background: #666;
          .fm-opacity(60);
        }
      }
      .le6-line{
        border:none;
      }
    }
  }
}