.ten-star{
  .t-class{
    padding:80px 0;
    .tac;
    .t-sm-img{
      margin-bottom:36px;
    }
    .t-sm-btn{
      a{
        display: inline-block;
        width: 280px;
        height: 50px;
        line-height: 50px;
        background: url("@{imgPath}ten_mx_bj.png") no-repeat;
        background-position: 0 -180px;
        font-size: 22px;
        color: @white;
        .tal;
        padding-left: 20px;  
        &:hover{
          background-position: -323px -180px;  
        }
        &:active{
          background-position: -649px -180px;   
        }
      }
    }
    .t-sm-std{
      display: inline-block;
      margin:40px 0 15px 0;
      li{
        display: inline-block;
        float: left;
        width: 330px;
        .clearfix;
        .f-csp;
        border-right: 1px #e0e0e0 solid;
        img{
          width: 200px;
          height: 200px;
        }
        span{
          display: block;
          .ft20;
          color:@textColor;
          margin-top: 20px;
        }
      }
      .t-sm-li{
        border: none;
      }
    }
    .t-sm-tit01{
      .relative;
      display: inline-block;
      width: 100%;
      height: 168px;
      background-image: url("@{imgPath}ten_mx_bj.png");
      color: @white;
      .ft18;
      i{
        .absolute;
        font-size: 0;
        width: 0;
        height: 0;
        line-height: 0;
        display: inline-block;
        vertical-align: -2px;
        border: 0 dashed transparent;
        border-width: 16px;
        border-bottom-style: solid;
        border-bottom-color: #00b3d7;
        position: absolute;
        top: -15px;
        left: 314px;  
      }
      p{
        float: left;
        .clearfix;
        margin:35px 60px 10px 60px;
        height: 80px;
        line-height: 26px;
        overflow: hidden;
        .tal;
      }
      span{
        .right;
        margin-right: 60px;
      }
    }
    .t-sm-tit02{
      i{
        left: 658px;
      }
    }
    .t-sm-tit03{
      i{
       left: 817px; 
      }  
    }
  } 
  .t-col-class{
    background: #ebf9ff;
  }
}