<!-- header -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="美国小学">
    <meta name="keywords" content="美国小学">
    <title>51talk-美国小学</title>
    <link rel="stylesheet" type="text/css" href="/css/html/north_america_unittest/north_america_unittest.css">
</head>
<!-- header end -->
<body>
<div class="loading">
  <div class="content">
    <img src="/images/html/north_america_unittest/loading.gif" alt="" class="pic"/>
    <p class="txt"><span class="progress">0</span><span class="percent">%</span></p>
  </div>
</div>
<div class="slides" data-init="starting" id="bookflip">
  <div class="slide">
    <img src="/images/html/north_america_unittest/Page01.jpg" alt="" class="pic"/>
    <img src="/images/html/north_america_unittest/Page01.gif" alt="" class="gif"/>
    <p class="text">There is a party in Animal Town. All animals there are having a great time. Listen! <br/>How well Mr. Lion sings!
    </p>    
  </div>
  <div class="slide">
    <img src="/images/html/north_america_unittest/Page02.jpg" alt="" class="pic">
    <img src="/images/html/north_america_unittest/Page02.gif" alt="" class="gif">
    <p class="text">Suddenly, a gust of wind blows. Look! There is a shadow. Oh! It's a monster!
</p>
  </div>
  <div class="slide">
    <img src="/images/html/north_america_unittest/Page03.jpg" alt="" class="pic">
    <img src="/images/html/north_america_unittest/Page03.gif" alt="" class="gif">
    <p class="text">Oh, no! The animals disappear.The mystery monster takes away the animals at the party! Go and rescue them, now!</p>
  </div>
</div>
<div id="jplayer" ></div>
<div id="tip"></div>
<span class="horn" data-status="playing"></span>
<span class="next"></span>

<div id="guide" class="guide">
  <div class="content">
    <div class="monster"></div>
    <a href="" class="link"></a>
  </div>
</div>
</body>
<!-- header -->
<script src="/js/html/project/north_america_unittest/vendor.js" id="seajsnode"></script>
<!-- header end -->
</html>