<% include ../common/user_center/up_top.ejs %>
<body>
<div style="width:100%;height:120px">
	头部
</div>
<div class="g-banner"></div>
<!-- 视频展示 -->
<div class="mask-Tv">
   <div class="tv_border">
        <span class="close"></span>
        <div id="playerContainer"></div>
    </div> 
</div>
<!-- 视频显示区域 -->
<div class="g-main g-main-init" id="container" data-init="north_america_video">
	<div class="g-widthMain">
	</div>
</div>
<div class="g-aside">
	<div class="u-year">
		<span class="u-up"></span>
		<p class="u-num"></p>
		<span class="u-down"></span>
	</div>
	<ul class="u-month">
	</ul>
</div>
<div class="mask-top"></div>
<div class="mask-bottom"></div>
<script>
var videoData = [
    {
        "year" : 2017,
        "showData": [
            {
                "no_class": "yes", 
                "video_info": [ ], 
                "class_min": 0, 
                "rate": "0%", 
                "year_month": "2016/10", 
                "month": "10", 
                "show_button": "yes"
            }
        ],
        "future_month" : [4,5,6,7,8,9,10,11, 12]
    }, 
    {
        "year" : 2016,
        "showData" : [
            {
                "no_class": "yes", 
                "video_info": [ ], 
                "class_min": 0, 
                "rate": "0%", 
                "year_month": "2016/10", 
                "month": "10", 
                "show_button": "yes"
            }, 
            {
                "no_class": "yes", 
                "video_info": [ ], 
                "class_min": 0, 
                "rate": "0%", 
                "year_month": "2016/09", 
                "month": "9", 
                "show_button": "no"
            }, 
            {
                "video_info": [
                    {
                        "id": "1945", 
                        "appoint_id": "28442751", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-27 19:30:00", 
                        "vid": "28442751_1818061784_10503280_42163,28442751_1818061784_10503280_1623830", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_3f7854edfb4e519e68576f657081989d2e5ea48b_1472298243", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第五单元", 
                        "course_name": "第五课 在森林中 In the Forest", 
                        "create_time": "1476261681", 
                        "update_time": "1476261681", 
                        "vid_arr": [
                            "28442751_1818061784_10503280_42163", 
                            "28442751_1818061784_10503280_1623830"
                        ], 
                        "num": 36, 
                        "class_date": "2016年8月27日"
                    }, 
                    {
                        "id": "1944", 
                        "appoint_id": "28442698", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-26 10:00:00", 
                        "vid": "28442698_1818061784_10503280_1023380", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_5f72085b63b1230c7097c23f07dca76bdb498dfb_1472178766", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第五单元", 
                        "course_name": "第四课 在农场 On the Farm", 
                        "create_time": "1476261681", 
                        "update_time": "1476261681", 
                        "vid_arr": [
                            "28442698_1818061784_10503280_1023380"
                        ], 
                        "num": 35, 
                        "class_date": "2016年8月26日"
                    }, 
                    {
                        "id": "1943", 
                        "appoint_id": "28442678", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-25 09:30:00", 
                        "vid": "28442678_1818061784_10503280_40564", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_0a8143809f017e577f62a70cba5f093bc52957d8_1472090431", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第五单元", 
                        "course_name": "第三课 12路公交车 Bus Number Twelve", 
                        "create_time": "1476261680", 
                        "update_time": "1476261680", 
                        "vid_arr": [
                            "28442678_1818061784_10503280_40564"
                        ], 
                        "num": 34, 
                        "class_date": "2016年8月25日"
                    }, 
                    {
                        "id": "1942", 
                        "appoint_id": "28442658", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-24 21:00:00", 
                        "vid": "28442658_1818061784_10503280_885016,284426518_1818061784_10503280_889019,28442658_1818061784_10503280_2260792,28442658_1818061784_10503280_2539270", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_632e43b188842acf08ce7c4b7ea663d475cc1df4_1472044512", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第五单元", 
                        "course_name": "第二课 你最喜欢哪个地方？ What Place Do You Like Best?", 
                        "create_time": "1476261680", 
                        "update_time": "1476261680", 
                        "vid_arr": [
                            "28442658_1818061784_10503280_88506", 
                            "28442658_1818061784_10503280_889019", 
                            "28442658_1818061784_10503280_2260792", 
                            "28442658_1818061784_10503280_2539270"
                        ], 
                        "num": 33, 
                        "class_date": "2016年8月24日"
                    }, 
                    {
                        "id": "1941", 
                        "appoint_id": "28442006", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-22 19:00:00", 
                        "vid": "28442006_1818061784_10503280_49382", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_f6bb5a88c1e18c2f0fae36bb81a2f90cd68a8546_1471865797", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第五单元", 
                        "course_name": "第一课 你家在哪里？ Where Is Your House?", 
                        "create_time": "1476261680", 
                        "update_time": "1476261680", 
                        "vid_arr": [
                            "28442006_1818061784_10503280_49382"
                        ], 
                        "num": 32, 
                        "class_date": "2016年8月22日"
                    }, 
                    {
                        "id": "1939", 
                        "appoint_id": "26783722", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-09 10:30:00", 
                        "vid": "26783722_1818061784_10503280_50618,26783722_1818061784_10503280_64255,26783722_1818061784_10503280_1909844", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_f20f260ada414adf5191cc213a6322dbc0957f65_1470707672", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第八课 复习 Review", 
                        "create_time": "1476261679", 
                        "update_time": "1476261679", 
                        "vid_arr": [
                            "26783722_1818061784_10503280_50618", 
                            "26783722_1818061784_10503280_64255", 
                            "26783722_1818061784_10503280_1909844"
                        ], 
                        "num": 31, 
                        "class_date": "2016年8月9日"
                    }, 
                    {
                        "id": "1937", 
                        "appoint_id": "26783492", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-05 10:30:00", 
                        "vid": "26783492_1818061784_10503280_1103810,26783492_1818061784_10503280_2487278,26783492_1818061784_10503280_6228870", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_9f1bd875f2b8fc16691e31419d7e16313a041cc4_1470362440", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第七课 准备点餐 Ready to Order", 
                        "create_time": "1476261678", 
                        "update_time": "1476261678", 
                        "vid_arr": [
                            "26783492_1818061784_10503280_1103810", 
                            "26783492_1818061784_10503280_2487278", 
                            "26783492_1818061784_10503280_6228870"
                        ], 
                        "num": 30, 
                        "class_date": "2016年8月5日"
                    }, 
                    {
                        "id": "1938", 
                        "appoint_id": "26783559", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-04 10:30:00", 
                        "vid": "26783559_1818061784_10503280_71947", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_cac726030c8acc0fd56b0d0647fa4ee5029c742a_1470279929", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第六课 我喜欢喝樱桃汁 I Like Cherry Juice", 
                        "create_time": "1476261678", 
                        "update_time": "1476261678", 
                        "vid_arr": [
                            "26783559_1818061784_10503280_71947"
                        ], 
                        "num": 29, 
                        "class_date": "2016年8月4日"
                    }, 
                    {
                        "id": "1940", 
                        "appoint_id": "26811095", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-03 20:00:00", 
                        "vid": "26811095_1818061784_10503280_180435", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_b7e4b7d288f8d372d5018121c7047f55b5e43379_1470230064", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第五课 在糖果商店 At the Candy Store", 
                        "create_time": "1476261679", 
                        "update_time": "1476261679", 
                        "vid_arr": [
                            "26811095_1818061784_10503280_180435"
                        ], 
                        "num": 28, 
                        "class_date": "2016年8月3日"
                    }, 
                    {
                        "id": "1936", 
                        "appoint_id": "26367229", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-02 20:00:00", 
                        "vid": "26367229_1818061784_10503280_3072207", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_f11e4b7d552dbc2a8231c3b432a095f1461da3e5_1470142718", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第四课 健康的蔬菜 Healthy Vegetables", 
                        "create_time": "1476261677", 
                        "update_time": "1476261677", 
                        "vid_arr": [
                            "26367229_1818061784_10503280_3072207"
                        ], 
                        "num": 27, 
                        "class_date": "2016年8月2日"
                    }, 
                    {
                        "id": "1935", 
                        "appoint_id": "26366919", 
                        "user_id": "30794925", 
                        "start_time": "2016-08-01 20:00:00", 
                        "vid": "26366919_1818061784_10503280_2087486", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_114517416080f70a688537d7278c0df4677d210f_1469881966", 
                        "month": "201608", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第三课 色彩鲜艳的水果 Colorful Fruits", 
                        "create_time": "1476261677", 
                        "update_time": "1476261677", 
                        "vid_arr": [
                            "26366919_1818061784_10503280_2087486"
                        ], 
                        "num": 26, 
                        "class_date": "2016年8月1日"
                    }
                ], 
                "no_class": "no", 
                "class_min": 275, 
                "rate": "60%", 
                "year_month": "2016/08", 
                "month": "8", 
                "show_button": "no"
            }, 
            {
                "video_info": [
                    {
                        "id": "1934", 
                        "appoint_id": "26243508", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-30 20:00:00", 
                        "vid": "26243508_1818061784_10503280_4844948", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_114517416080f70a688537d7278c0df4677d210f_1469881966", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第二课 早餐和晚餐 Breakfast and Dinner", 
                        "create_time": "1476261677", 
                        "update_time": "1476261677", 
                        "vid_arr": [
                            "26243508_1818061784_10503280_4844948"
                        ], 
                        "num": 25, 
                        "class_date": "2016年7月30日"
                    }, 
                    {
                        "id": "1933", 
                        "appoint_id": "26237808", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-29 20:00:00", 
                        "vid": "26237808_1818061784_10503280_1981149,26237808_1818061784_10503280_109228,26237808_1818061784_10503280_2216607", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_4254fb4e77f3988e5f4d42b395f626c20801ce50_1469790410", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第四单元", 
                        "course_name": "第一课 我最喜欢的食物 My Favorite Food", 
                        "create_time": "1476261676", 
                        "update_time": "1476261676", 
                        "vid_arr": [
                            "26237808_1818061784_10503280_1981149", 
                            "26237808_1818061784_10503280_109228", 
                            "26237808_1818061784_10503280_2216607"
                        ], 
                        "num": 24, 
                        "class_date": "2016年7月29日"
                    }, 
                    {
                        "id": "1932", 
                        "appoint_id": "26021271", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-28 21:00:00", 
                        "vid": "26021271_1818061784_10503280_155920", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_3d150e21243236623faa84e1289ed23c83d21c26_1469716692", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第七课 关灯 Turn off the Light", 
                        "create_time": "1476261676", 
                        "update_time": "1476261676", 
                        "vid_arr": [
                            "26021271_1818061784_10503280_155920"
                        ], 
                        "num": 23, 
                        "class_date": "2016年7月28日"
                    }, 
                    {
                        "id": "1931", 
                        "appoint_id": "25954133", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-27 19:30:00", 
                        "vid": "25954133_1818061784_10503280_64704,25954133_1818061784_10503280_2417623", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_6c8ac09c4b041433f8baebab99582db8999b0048_1469617750", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第六课 吃晚餐 We Eat Dinner", 
                        "create_time": "1476261676", 
                        "update_time": "1476261676", 
                        "vid_arr": [
                            "25954133_1818061784_10503280_64704", 
                            "25954133_1818061784_10503280_2417623"
                        ], 
                        "num": 22, 
                        "class_date": "2016年7月27日"
                    }, 
                    {
                        "id": "1930", 
                        "appoint_id": "25954132", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-25 19:30:00", 
                        "vid": "", 
                        "img": "", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第五课 下午 In the Afternoon", 
                        "create_time": "1476261676", 
                        "update_time": "1476261676", 
                        "vid_arr": [
                            ""
                        ], 
                        "num": 21, 
                        "class_date": "2016年7月25日"
                    }, 
                    {
                        "id": "1926", 
                        "appoint_id": "25808029", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-23 20:00:00", 
                        "vid": "25808029_1818061784_10503280_3235427", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_0b42fa6d7ae6487fb48f04fdd8e10a9f10aea62e_1469277606", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第四课 在咖啡馆吃午餐 Lunch in the Cafeteria", 
                        "create_time": "1476261675", 
                        "update_time": "1476261675", 
                        "vid_arr": [
                            "25808029_1818061784_10503280_3235427"
                        ], 
                        "num": 20, 
                        "class_date": "2016年7月23日"
                    }, 
                    {
                        "id": "1925", 
                        "appoint_id": "25807889", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-22 19:30:00", 
                        "vid": "25807889_1818061784_10503280_15599136", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_0961a03885d7f3c09a0815d95fb32e86c9daa02a_1469188890", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第一课 几点了？ What Time Is It?", 
                        "create_time": "1476261674", 
                        "update_time": "1476261674", 
                        "vid_arr": [
                            "25807889_1818061784_10503280_15599136"
                        ], 
                        "num": 19, 
                        "class_date": "2016年7月22日"
                    }, 
                    {
                        "id": "1922", 
                        "appoint_id": "25607485", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-21 20:00:00", 
                        "vid": "25607485_1818061784_10503280_82034", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_9278675e9ae1201ca5980642b0747cc8d92c573b_1469106588", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第八课 复习 Review", 
                        "create_time": "1476261674", 
                        "update_time": "1476261674", 
                        "vid_arr": [
                            "25607485_1818061784_10503280_82034"
                        ], 
                        "num": 18, 
                        "class_date": "2016年7月21日"
                    }, 
                    {
                        "id": "1918", 
                        "appoint_id": "25489090", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-20 19:00:00", 
                        "vid": "25489090_1818061784_10503280_2717247,25489090_1818061784_10503280_4710596", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_d628d03eadf6841e151f9bf5839ac5726acfc981_1469014464", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第四课 我最喜欢的老师 My Favorite Teacher", 
                        "create_time": "1476261672", 
                        "update_time": "1476261672", 
                        "vid_arr": [
                            "25489090_1818061784_10503280_2717247", 
                            "25489090_1818061784_10503280_4710596"
                        ], 
                        "num": 17, 
                        "class_date": "2016年7月20日"
                    }, 
                    {
                        "id": "1929", 
                        "appoint_id": "25947509", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-19 20:30:00", 
                        "vid": "25947509_1818061784_10503280_5809368", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_984c5b6f036526187d73217cfbb64a195f26852a_1468938144", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第三课 你如何去学校？ How Do You Go to School?", 
                        "create_time": "1476261675", 
                        "update_time": "1476261675", 
                        "vid_arr": [
                            "25947509_1818061784_10503280_5809368"
                        ], 
                        "num": 16, 
                        "class_date": "2016年7月19日"
                    }, 
                    {
                        "id": "1927", 
                        "appoint_id": "25808504", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-19 20:00:00", 
                        "vid": "", 
                        "img": "", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第八课 复习 Review", 
                        "create_time": "1476261675", 
                        "update_time": "1476261675", 
                        "vid_arr": [
                            ""
                        ], 
                        "num": 15, 
                        "class_date": "2016年7月19日"
                    }, 
                    {
                        "id": "1924", 
                        "appoint_id": "25807653", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-18 20:00:00", 
                        "vid": "25807653_1818061784_10503280_2034045,25807653_1818061784_10503280_2407233", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_e688625983007f5a563ddaf13684817e8278e555_1468843716", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第三课 早上8点 Eight O'clock in the Morning", 
                        "create_time": "1476261674", 
                        "update_time": "1476261674", 
                        "vid_arr": [
                            "25807653_1818061784_10503280_2034045", 
                            "25807653_1818061784_10503280_2407233"
                        ], 
                        "num": 14, 
                        "class_date": "2016年7月18日"
                    }, 
                    {
                        "id": "1923", 
                        "appoint_id": "25807193", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-15 19:30:00", 
                        "vid": "25807193_1818061784_10503280_8919314,25807193_1818061784_10503280_9807117", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_f9de71d2e0f4bf01aee09fff360cf1263d986975_1468581051", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第二课 12点了 It Is Twelve O'clock", 
                        "create_time": "1476261674", 
                        "update_time": "1476261674", 
                        "vid_arr": [
                            "25807193_1818061784_10503280_8919314", 
                            "25807193_1818061784_10503280_9807117"
                        ], 
                        "num": 13, 
                        "class_date": "2016年7月15日"
                    }, 
                    {
                        "id": "1928", 
                        "appoint_id": "25942554", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-14 21:00:00", 
                        "vid": "25942554_1818061784_10503280_8875114,25942554_1818061784_10503280_8883899,25942554_1818061784_10503280_10174742", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_82bbf29437914d99b588d42c8f3d89824f595872_1468500408", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第三单元", 
                        "course_name": "第八课 复习 Review", 
                        "create_time": "1476261675", 
                        "update_time": "1476261675", 
                        "vid_arr": [
                            "25942554_1818061784_10503280_8875114", 
                            "25942554_1818061784_10503280_8883899", 
                            "25942554_1818061784_10503280_10174742"
                        ], 
                        "num": 12, 
                        "class_date": "2016年7月14日"
                    }, 
                    {
                        "id": "1921", 
                        "appoint_id": "25606790", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-13 10:00:00", 
                        "vid": "25606790_1818061784_10503280_168279,25606790_1818061784_10503280_300923", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_91a22939bb3b4db063e8a4aaf43756a47a601457_1468375364", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第七课 你能拼写自己的名字吗？ Can You Spell Your Name?", 
                        "create_time": "1476261673", 
                        "update_time": "1476261673", 
                        "vid_arr": [
                            "25606790_1818061784_10503280_168279", 
                            "25606790_1818061784_10503280_300923"
                        ], 
                        "num": 11, 
                        "class_date": "2016年7月13日"
                    }, 
                    {
                        "id": "1915", 
                        "appoint_id": "25187543", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-12 20:00:00", 
                        "vid": "25187543_1818061784_10503280_1756206", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_989d260905b8b60676e229383d48a9ec58702d70_1468329029", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第七课 他是谁？ Who Is It?", 
                        "create_time": "1476261668", 
                        "update_time": "1476261668", 
                        "vid_arr": [
                            "25187543_1818061784_10503280_1756206"
                        ], 
                        "num": 10, 
                        "class_date": "2016年7月12日"
                    }, 
                    {
                        "id": "1920", 
                        "appoint_id": "25606455", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-11 20:00:00", 
                        "vid": "25606455_1818061784_10503280_110167,25606455_1818061784_10503280_464407", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_efa581e14e85a618f21fb84fb3794b9cac974356_1468237948", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第六课 我能用一下你的铅笔吗？ Can I Have a Pencil, Please?", 
                        "create_time": "1476261673", 
                        "update_time": "1476261673", 
                        "vid_arr": [
                            "25606455_1818061784_10503280_110167", 
                            "25606455_1818061784_10503280_464407"
                        ], 
                        "num": 9, 
                        "class_date": "2016年7月11日"
                    }, 
                    {
                        "id": "1919", 
                        "appoint_id": "25489390", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-09 20:00:00", 
                        "vid": "25489390_1818061784_10503280_3843205", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_19651cb0261fefabb17c9da0ddb77bb4c5812cd9_1468067467", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第五课 我最喜欢的课程 My Favorite Class", 
                        "create_time": "1476261673", 
                        "update_time": "1476261673", 
                        "vid_arr": [
                            "25489390_1818061784_10503280_3843205"
                        ], 
                        "num": 8, 
                        "class_date": "2016年7月9日"
                    }, 
                    {
                        "id": "1916", 
                        "appoint_id": "25488725", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-08 20:30:00", 
                        "vid": "25488725_1818061784_10503280_3745669", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_e0deb4702411a16496c02a24cea5991f64688d77_1467985911", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第一课 你上学了吗？ Do You Go to School?", 
                        "create_time": "1476261669", 
                        "update_time": "1476261669", 
                        "vid_arr": [
                            "25488725_1818061784_10503280_3745669"
                        ], 
                        "num": 7, 
                        "class_date": "2016年7月8日"
                    }, 
                    {
                        "id": "1917", 
                        "appoint_id": "25488839", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-08 20:00:00", 
                        "vid": "25488839_1818061784_10503280_1377899", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_f563ca661cee465395107099c4ec03197f48bf6a_1467983228", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第二单元", 
                        "course_name": "第二课 我在一年级 I Am in Grade One", 
                        "create_time": "1476261669", 
                        "update_time": "1476261669", 
                        "vid_arr": [
                            "25488839_1818061784_10503280_1377899"
                        ], 
                        "num": 6, 
                        "class_date": "2016年7月8日"
                    }, 
                    {
                        "id": "1914", 
                        "appoint_id": "25186215", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-07 20:30:00", 
                        "vid": "25186215_1818061784_10503280_24355428,25186215_1818061784_10503280_26824322", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_8a985ce23b57c492e82ac78ec3022378dab0aa31_1467898830", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第五课 萨姆是个男孩 Sam Is a Boy", 
                        "create_time": "1476261668", 
                        "update_time": "1476261668", 
                        "vid_arr": [
                            "25186215_1818061784_10503280_24355428", 
                            "25186215_1818061784_10503280_26824322"
                        ], 
                        "num": 5, 
                        "class_date": "2016年7月7日"
                    }, 
                    {
                        "id": "1913", 
                        "appoint_id": "25186214", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-05 20:30:00", 
                        "vid": "25186214_1818061784_10503280_65162", 
                        "img": "http://littleyycloudrecordpic1818061784.bs2dl.yy.com/vod_e07a9e055080876cc16993d5756d11ea5d0d1071_1467727083", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第四课 妈妈和我 My Mom and I", 
                        "create_time": "1476261668", 
                        "update_time": "1476261668", 
                        "vid_arr": [
                            "25186214_1818061784_10503280_65162"
                        ], 
                        "num": 4, 
                        "class_date": "2016年7月5日"
                    }, 
                    {
                        "id": "1912", 
                        "appoint_id": "25182741", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-03 20:30:00", 
                        "vid": "", 
                        "img": "", 
                        "month": "201607", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第三课 爸爸和我 My Dad and I", 
                        "create_time": "1476261668", 
                        "update_time": "1476261668", 
                        "vid_arr": [
                            ""
                        ], 
                        "num": 3, 
                        "class_date": "2016年7月3日"
                    }, 
                    {
                        "id": "1911", 
                        "appoint_id": "25043472", 
                        "user_id": "30794925", 
                        "start_time": "2016-07-01 10:00:00", 
                        "vid": "", 
                        "img": "", 
                        "month": "201607", 
                        "teach_type": "qq", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第二课 她是我的妈妈 She Is My Mother", 
                        "create_time": "1476261667", 
                        "update_time": "1476261667", 
                        "vid_arr": [
                            ""
                        ], 
                        "num": 2, 
                        "class_date": "2016年7月1日"
                    }
                ], 
                "no_class": "no", 
                "class_min": 600, 
                "rate": "92.86%", 
                "year_month": "2016/07", 
                "month": "7", 
                "show_button": "no"
            }, 
            {
                "video_info": [
                    {
                        "id": "1910", 
                        "appoint_id": "24998085", 
                        "user_id": "30794925", 
                        "start_time": "2016-06-30 19:00:00", 
                        "vid": "24998085_1818061784_10503280_7234478", 
                        "img": "", 
                        "month": "201606", 
                        "teach_type": "51TalkAC", 
                        "course_top": "G1", 
                        "course_sub": "第一单元", 
                        "course_name": "第一课 你好吗？ How Are You?", 
                        "create_time": "1476261665", 
                        "update_time": "1476261665", 
                        "vid_arr": [
                            "24998085_1818061784_10503280_7234478"
                        ], 
                        "num": 1, 
                        "class_date": "2016年6月30日"
                    }
                ], 
                "no_class": "no", 
                "class_min": 25, 
                "rate": "10%", 
                "year_month": "2016/06666", 
                "month": "6", 
                "show_button": "no"
            }
        ],
        "future_month" : [11, 12]
    }
]
</script>
<script type="text/javascript" src="http://vodplayer.bs2dl.yy.com/yycloud.min.js">
</script>
<script src="<%= jssrc%>"></script>
</body>
</html>