@import "../common/footer.less";
@imgPath: "../../../../images/html/www_new/";
.class-flow{
  .flow-h3{
    text-align:center;
    border-bottom: 1px #dbdbdb solid;
    padding:30px 0;
  }
  .centerMth{
    padding:40px 0 0 0;
    height: 900px;
    position: relative;
    .flow-line{
      height:650px;
      margin-left: 260px;
      border-left: 1px #dbdbdb solid; 
    }
    .flow-img{
      position: absolute;
      top: 40px;
      left: 190px;
      p{
        margin-bottom: 80px;
      }
    }
  }
}