<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="/css/html/subject_www/subject_www.css">
</head>
<body data-init="index">
<!-- 导航 -->
<div class="nav centerMth">
    <a href="javascript:;" class="logo"><img src="/images/html/subject_www//logo.png" alt=""></a>
    <ul class="menu">
        <li><a href="javascript:;">小学英语</a></li>
        <li><a href="javascript:;">教学理念</a></li>
        <li class="active"><a href="javascript:;">课程体系</a></li>
        <li><a href="javascript:;">优秀师资</a></li>
        <li><a href="javascript:;">课堂展示</a></li>
    </ul>
    <a href="javascript:;" class="ac"><span class="d_ac"></span>下载AC在线教室</a>
</div> 
<div class="s_banner"> 
  <div class="centerMth">
    <img src="/images/html/subject_www/sys_ads.jpg" alt="" class="banner_img">
    <!--reg -->
<div class="l-reg">
  <p class="p-line"></p>
  <ul class="reg-list">
    <li class="on">注册</li>
    <li>登录</li>
  </ul>
  <div class="reg-chg">
    <div class="layer-test-pho change">
      <div class="p-test">
        <ul class="pho-list">
          <li>
            <input type="text" placeholder="请输入您的手机号" name="phone">
            <div class="u-err error1"></div>
          </li>
          <li class="code-li">
            <input type="text" placeholder="请输入短信验证码" name="msgcode" class="pho-code" id="mobile">
            <div class="u-err error2"></div>
            <span class="pho-t">免费获取</span>
          </li>
          <li>
            <input type="password" placeholder="请设置您的密码" name="password">
            <div class="u-err error3"></div>
          </li>
        </ul>
        <div class="l-reg-btn" id="registerBtn" data-url-reg="111">下一步</div>
      </div>
       <!-- success -->
      <div class="layer-success hide">
        <h3>恭喜！</h3>
        <p>您已成功注册51talk，<a href="javascript:;" class="suc-href">快速进群</a><br>找你的小伙伴吧</p>
        <div class="l-reg-btn">进群找小伙伴</div>
      </div>
      <!-- /success -->
    </div>
    <div class="layer-test-login change hide">
      <ul class="pho-list">
        <li>
          <input type="text" placeholder="请输入您的手机号" name="phone">
          <div class="u-err error5"></div>
        </li>
        <li>
          <input type="text" placeholder="请设置您的密码" name="password">
          <div class="u-err error6"></div>
        </li> 
        <li class="forget">
          <span class="login-selt">
            <input type="hidden" name="radio" class="radio">
            <i class="select-up"></i>
            下次自动登录
          </span>
          <a href="javascript:;" class="forget-passwd">忘记密码？</a>
        </li>
      </ul>
      <div class="l-reg-btn" id="loginBtn" data-url-layer="222">下一步</div>
    </div>
  </div>
  <!-- 提交 -->
  <div class="layer-send-code" style="display:none;">
    <ul class="input-code">
      <li>
        <input type="text" placeholder="请输入图片验证码" name="phocode" class="pic-code">
        <div class="u-err error4" style="dispaly:block;">请输入图片验证码</div>
        <span class="input-code-btn">
          <img id="verifycode" src="http://www.51talk.com/user/verify.php" onclick="this.src='http://www.51talk.com/user/verify.php'+'?a'+'='+new Date().getTime()" alt="单击更换验证码" title="单击更换验证码">
        </span>
      </li>
      <li><div class="send-btn" id="sendBtn" data-url-code="2">提交</div></li>
    </ul>
  </div>
  <!-- /提交 -->
</div>
<!-- /reg-->
<!-- 年级 -->
<div class="layer-grade" style="display:none;">
  <h3 class="title">你是几年级的小朋友？</h3>
  <span class="delete"></span>
  <ul class="gra-list">
    <li class="check">一年级</li>
    <li>二年级</li>
    <li>三年级</li>
    <li>四年级</li>
    <li>五年级</li>
    <li>六年级</li>
  </ul>
  <div class="gra-nr">
    <div class="qr-list">
      <img src="/images/html/subject_www/layer_code.png">
      <p class="q-title">
        扫码进群,QQ群号：<span>16545634</span><br>
        进群后，你可以跟小伙伴共同学习啦～！
      </p>
    </div>
    <div class="qr-list" style="display:none;">
      <img src="/images/html/subject_www/layer_code.png">
      <p class="q-title">
        扫码进群,QQ群号：<span>26545634</span><br>
        进群后，你可以跟小伙伴共同学习啦～！
      </p>
    </div>
    <div class="qr-list" style="display:none;">
      <img src="/images/html/subject_www/layer_code.png">
      <p class="q-title">
        扫码进群,QQ群号：<span>36545634</span><br>
        进群后，你可以跟小伙伴共同学习啦～！
      </p>
    </div>
    <div class="qr-list" style="display:none;">
      <img src="/images/html/subject_www/layer_code.png">
      <p class="q-title">
        扫码进群,QQ群号：<span>46545634</span><br>
        进群后，你可以跟小伙伴共同学习啦～！
      </p>
    </div>
    <div class="qr-list" style="display:none;">
      <img src="/images/html/subject_www/layer_code.png">
      <p class="q-title">
        扫码进群,QQ群号：<span>56545634</span><br>
        进群后，你可以跟小伙伴共同学习啦～！
      </p>
    </div>
    <div class="qr-list" style="display:none;">
      <img src="/images/html/subject_www/layer_code.png">
      <p class="q-title">
        扫码进群,QQ群号：<span>66545634</span><br>
        进群后，你可以跟小伙伴共同学习啦～！
      </p>
    </div>
  </div>
</div>
<!-- /年级 -->
<!-- 体验用户 -->
<div class="layer-pay-users" style="display:none;">
  <div class="users-img"><img src="/images/html/subject_www/fine_tea_nadline.jpg"></div>
  <h3 class="users-title">Hi,13693321513用户</h3>
  <p class="users-cover">您还没有选课哦，进入会员中心<br>了解更多课程信息！</p>
  <div class="l-reg-btn">进入我的会员中心</div>
</div>
<!-- /体验用户 -->
<!-- 付费用户 -->
<div class="layer-t-users" style="display:none;">
  <div class="users-img"><img src="/images/html/subject_www/fine_tea_nadline.jpg"></div>
  <h3 class="users-title">Hi,13693321513用户</h3>
  <p class="users-ts">您已完成<i>9</i>节课<span>累计说英语<i>5</i>小时</span></p>
  <div class="l-reg-btn">预约课程</div>
  <div class="l-reg-btn b-reg-btn">进入我的会员中心</div>
</div>
<!-- /付费用户 -->
  </div>
</div>
<div class="system">
  <div class="s_item1 centerMth">
    <h3 class="r_tit">课程规划</h3>
    <img src="/images/html/subject_www/sys_plan.png" alt="" class="s_img1">
    <p class="s_text">每个年级全年课时安排</p>
    <img src="/images/html/subject_www/sys_time.png" alt="" class="s_img2">
  </div>
  <div class="s_item2">
    <div class="centerMth">
      <h3 class="r_tit">课程规划</h3>
      <img src="/images/html/subject_www/sys_outline.png" alt="" class="s_img3">
    </div>
  </div>
  <div class="s_item3">
    <div class="centerMth s_item3_stu">
      <h3 class="r_tit">教材主题</h3>
      <ul class="s_list1">
        <li><span class="s_l_icon1"></span><p class="s_list_text">玩具</p></li>
        <li><span class="s_l_icon2"></span><p class="s_list_text">形状</p></li>
        <li><span class="s_l_icon3"></span><p class="s_list_text">交通</p></li>
        <li><span class="s_l_icon4"></span><p class="s_list_text">食物</p></li>
        <li><span class="s_l_icon5"></span><p class="s_list_text">时间</p></li>
        <li><span class="s_l_icon6"></span><p class="s_list_text">数字</p></li>
        <li><span class="s_l_icon7"></span><p class="s_list_text">颜色</p></li>
        <li><span class="s_l_icon8"></span><p class="s_list_text">友谊</p></li>
      </ul>
      <ul class="s_list1 s_list2">
        <li><span class="s_l_icon9"></span><p class="s_list_text">学校</p></li>
        <li><span class="s_l_icon10"></span><p class="s_list_text">衣物</p></li>
        <li><span class="s_l_icon11"></span><p class="s_list_text">运动休闲</p></li>
        <li><span class="s_l_icon12"></span><p class="s_list_text">动物</p></li>
        <li><span class="s_l_icon13"></span><p class="s_list_text">家庭</p></li>
        <li><span class="s_l_icon14"></span><p class="s_list_text">个人信息</p></li>
        <li><span class="s_l_icon15"></span><p class="s_list_text">身体部位</p></li>
        <li><span class="s_l_icon16"></span><p class="s_list_text">方位</p></li>
      </ul>
      <div class="s_bottom">
        <h3 class="s_b_tit">540个主题</h3>
        <p class="s_b_text">低年级: 校园、生活 ； 高年级: 神话、故事</p>
      </div>
    </div>
  </div>
  <div class="s_item4">
    <div class="centerMth">
      <h3 class="r_tit">教材展示</h3>
      <div class="s_tab_list">
        <ul class="process_b_l">
          <li class="p_list_c"><img src="/images/html/subject_www/sys_fig.jpg" title="1"></li>
          <li class="p_list_r"><img src="/images/html/subject_www/sys_fig.jpg" title="2"></li>
          <li class="p_list_l"><img src="/images/html/subject_www/sys_fig.jpg" title="3"></li>
        </ul>
        <p class="spot_list"><span class="spot_blue"></span><span></span><span></span></p>
      </div>
      <div class="s_bottom">
        <h3 class="s_b_tit">原创绘本、情景故事</h3>
        <p class="s_b_text">教材所有绘本故事为国际教育团队原创，英语教学专家审定，是地道的英语学习素材</p>
      </div>
    </div>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
      <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
      <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>   
    </p>
     <p class="link-ft"><a href="TVlicence.html" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<script src="/js/html/project/subject_www/vendor.js"></script>
</body>
