<% include ../common/class_top.ejs %>
<body>
<div class="wt-main" id="container" data-init="class">
  <div class="under">
    <div class="list">
      <ul>
        <li class="on"><span>1</span>必须词汇（20%）</li>
        <li><span>2</span>对话练习（0%）</li>
        <li><span>3</span>单词本</li>
        <li><span>4</span>语法</li>
      </ul>
    </div>
    <div class="sub-class" >
    	<div class="g-diaglogue">
	    	<div class="m-tips">
	    		<h3 >提示: 可以选择完整试听全文后，进行单个句子练习，点击“读”进行发音练习后，系统会自动为你打分！
	    		</h3>
	    	</div>
	    	<div class="m-title">
	            <h2>Part1</h2>
                <div class="f-cb">
                     <a class="listenAll" href="javascript:;">完整试听全文</a> <a href="javascript:;" class="checkbox checked">循环播放</a>
                     <a href="javascript:;" class="download">下载音频</a>
                </div>
	           
	    	</div>
	    	<div class="diaglogue">
				<ol>
					<li>
						<div class="text">
							<p>
								<em class="role1">Tim</em>
								<em class="content">What should we do this summer? I’d like to go to </em>
							</p>
						</div>
						<div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
						</div>
					</li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role2">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role1">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role2">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role1">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role2">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
				</ol>
	    	</div>
            <div class="m-title">
                <h2>Part1</h2>
                <a href="javascript:;">完整试听全文</a>
            </div>
            <div class="diaglogue">
                <ol>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role1">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read again">再来一遍<i></i></span>
                            <span class="result"><i class="grade"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role2">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                            <span class="result"><i class="load">正在评分...</i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role1">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role2">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role1">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p>
                                <em class="role2">Tim</em>
                                <em class="content">What should we do this summer? I’d like to go to </em>
                            </p>
                        </div>
                        <div class="operate">
                            <span class="listen">听<i></i></span>
                            <span class="read">读<i></i></span>
                        </div>
                    </li>
                </ol>
            </div>
    	</div>
    </div>
    <a class="ft" href="score_page.html">
      <i class="gry addGry"></i>
    </a><div class="loading-pic"><i></i></div><div class="error-pic"><i></i><p>加载失败了，请点击重试</p></div>
  </div>
  <div class="layer"></div>
</div>
<div class="reLayer"><div class="layerWord"></div><div class="layerPoi"><p class="reTitle">跳过不说的话，学习效果会下降70%哦！</p><a href="javascript:;">我要学好，我要说！</a><a href="javascript:;" class="gry">当前不方便，不再提醒</a></div>
</div>
</body>
<% include ../common/class_bottom.ejs %>