<% include ../common/class_top.ejs %>
<body>
<div class="wt-main" id="container" data-init="class">
	<a href="javascript:;" class="cover">
		<img src="<%= imagessrc%>/class_ads.jpg"  alt="" title="How is everything going？" class="cov-img">
		<div class="bom">
			<!-- <h3>How is everything going？</h3> -->
			<i></i>	
		</div>
	</a>
	<a id="start_stu" href="javascript:;" class="cov-btn">开始学习</a>
</div>
</body>
<% include ../common/uc_bottom.ejs %>