<% include ../common/class_top.ejs %>
<body>
<div class="wt-main" id="container" data-init="class">
  <div class="under">
    <div class="list">
      <ul>
        <li class="on"><span>1</span>必须词汇（20%）</li>
        <li><span>2</span>对话练习（0%）</li>
        <li><span>3</span>单词本</li>
        <li><span>4</span>语法</li>
      </ul>
    </div>
    <div class="sub-class">
      <h3 class="pic-h3">看图选声音</h3>
      <div class="picSod">
        <dl>
          <dt><img src="<%= imagessrc%>/5.jpg" alt="" class="ltImg"></dt>
          <dd id="picSod">
            <div class="picLink" data-pic="1">
              <a href="#" class="picSd"></a>
              <a href="#" class="checkPic"></a>
            </div>
            <div class="picLink">
              <a href="#" class="picSd"></a>
              <a href="#" class="checkPic"></a>
            </div>
            <div class="picLink">
              <a href="#" class="picSd"></a>
              <a href="#" class="checkPic"></a>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <a class="ft" href="pic_talk.html">
      <i class="gry"></i>
    </a>
  </div>
  <div class="layer"></div>
</div>
</body>
<% include ../common/uc_bottom.ejs %>