<% include ../common/class_top.ejs %>
<body>
<div class="wt-main">
  <div class="under">
    <div class="list">
      <ul>
        <li class="on"><span>1</span>必须词汇（20%）</li>
        <li><span>2</span>对话练习（0%）</li>
        <li><span>3</span>单词本</li>
        <li><span>4</span>语法</li>
      </ul>
    </div>
    <div class="scorePage">
      <dl class="score01" style="display:none" >
        <dt>60</dt>
        <dd>
          <ul>
            <li><h3>上课时，极可能出现以下问题：</h3></li>
            <li><p>1. 教材的问题回答不上来<br>2. 本课的词汇和句型很快遗忘，无法脱口而出！</p></li>
            <li><a href="#" class="scoreBtn">我要提高分数！</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="score02" style="display:none">
        <dt>75</dt>
        <dd>
          <ul>
            <li><h3>上课效果<span>有提升</span>，<br>建议提高分数获得更好效果：</h3></li>
            <li><p>1. 教材的问题轻松回答！<br>2. 本课的词汇和句型记忆深刻，脱口而出！</p></li>
            <li><a href="#" class="scoreBtn">我要提高分数！</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="score03"  style="display:none">
        <dt>85</dt>
        <dd>
          <ul>
            <li><h3>上课效果<span>有提升</span>，<br>建议提高分数获得更好效果：</h3></li>
            <li><p>1. 教材的问题轻松回答！<br>2. 本课的词汇和句型记忆深刻，脱口而出！</p></li>
            <li><a href="#" class="scoreBtn">我要提高分数！</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="score04">
        <dt>100</dt>
        <dd>
          <ul>
            <li><h3>上课效果将<span>有大极大提升</span>，</li>
            <li><p>1. 教材的问题轻松回答！<br>2. 本课的词汇和句型记忆深刻，脱口而出！</p></li>
          </ul>
        </dd>
      </dl>
      <p class="fotWord"><i></i>本环节成绩取[看图说话]的平均分</p>
    </div>
  </div>
  <div class="layer"></div>
</div>
</body>
<% include ../common/uc_bottom.ejs %>