<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>ac_pay_result.css">
</head>
<body data-init="acPayResult">
   <div class="ac-pay-result" id="payResult">
        <span class="close-btn" id="closeBtn"></span>
        <div class="pay-result-main">
            <div class="pay-success">
                <div class="pay-tit-box">
                  <span></span>
                  <div class="pay-tit">
                    <div class="success-promt">支付成功</div>
                    <div class="text">获得外教VIP精品课32节特权</div>
                  </div>
                </div>
                <div class="pay-border"></div>
                <div class="pay-des">
                  恭喜您获得VIP专享“外教1对1课程”特惠报名权
                </div>
                <div class="pay-btn">
                  <a href="javascript:;">马上报名</a>
                </div>
            </div>
        </div>
    </div>
</body>
<% include ../common/uc_bottom.ejs %>