<% include ../common/top.ejs %>
<body>
<div id="container" data-init="management">
  <div class="management_f widthMain">
    
    <div class="m-content">
      <div class="m-c-top">
        <div class="m-header"><a href="javascript:;" class="f-pre">&lt;&lt; Pre</a><a href="javascript:;" class="f-next">Next &gt;&gt;</a></div>
        <div class="m-t-date">
          <div class="m-date-left"></div>
          <div class="m-date-right">
            <ul class="m-date">
              <li class="m-date-now">
                <span class="m-t-day">01-07</span><br>
                <span class="m-t-week">Thursday</span>
              </li>
              <li>
                <span class="m-t-day">01-08</span><br>
                <span class="m-t-week">Friday</span>
              </li>
              <li>
                <span class="m-t-day">01-09</span><br>
                <span class="m-t-week Saturday">Saturday</span>
              </li>
              <li>
                <span class="m-t-day">01-10</span><br>
                <span class="m-t-week Sunday">Sunday</span>
              </li>
              <li>
                <span class="m-t-day">01-11</span><br>
                <span class="m-t-week">Monday</span>
              </li>
              <li>
                <span class="m-t-day">01-12</span><br>
                <span class="m-t-week">Tuesday</span>
              </li>
              <li>
                <span class="m-t-day">01-13</span><br>
                <span class="m-t-week">Wednesday</span>
              </li>
              <li>
                <span class="m-t-day">01-07</span><br>
                <span class="m-t-week">Thursday</span>
              </li>
              <li>
                <span class="m-t-day">01-08</span><br>
                <span class="m-t-week">Friday</span>
              </li>
              <li>
                <span class="m-t-day">01-09</span><br>
                <span class="m-t-week Saturday">Saturday</span>
              </li>
              <li>
                <span class="m-t-day">01-10</span><br>
                <span class="m-t-week Sunday">Sunday</span>
              </li>
              <li>
                <span class="m-t-day">01-11</span><br>
                <span class="m-t-week">Monday</span>
              </li>
              <li>
                <span class="m-t-day">01-12</span><br>
                <span class="m-t-week">Tuesday</span>
              </li>
              <li>
                <span class="m-t-day">01-13</span><br>
                <span class="m-t-week">Wednesday</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-t-fc">
          <ul class="m-fc-l">
            <li class="m-fc-li">Opened Slots: <span class="m-f-s">10</span></li>
            <li>Potenial Earning: <span class="m-f-s">500 ₱</span><span class="m-f-w m-f-icon"><em>the amount you may earn if you 
have conducted all these slots </em><span class="tipsTop m-f-icon"></span></span></li>
            <li class="f-price-b">Set Price <span class="f-reduce m-f-icon"></span><span class="f-number">1</span><span class="f-add m-f-icon"></span><span class="f-price">Confirm price</span></li>
          </ul>
          <a href="javascript:;" class="f-exchange">Submit</a>
        </div>
      </div>
      <div class="m-time">
        <div class="m-next"><a href="javascript:;" class="m-f-icon f-m-next"></a></div>
        <div class="m-pre"><a href="javascript:;" class="m-f-icon f-m-pre"></a></div>
        <div class="m-Roller">
          <div class="Roller"></div>
        </div>
        <div class="ex-box clearfix">
          <ul class="partTimeB">
            <li class="timeBone">06:00-</li>            
            <li>06:30-</li>            
            <li>07:00-</li>            
            <li>07:30-</li>            
            <li>08:00-</li>            
            <li>08:30-</li>            
            <li>09:00-</li>            
            <li>09:30-</li>            
            <li>10:00-</li>            
            <li>10:30-</li>            
            <li>11:00-</li>            
            <li>11:30-</li>            
            <li>12:00-</li>            
            <li>12:30-</li>            
            <li>13:00-</li>            
            <li>13:30-</li>            
            <li>14:00-</li>            
            <li>14:30-</li>            
            <li>15:00-</li>            
            <li>15:30-</li>            
            <li>16:00-</li>            
            <li>16:30-</li>            
            <li>17:00-</li>            
            <li>17:30-</li>            
            <li>18:00-</li>            
            <li>18:30-</li>            
            <li class="hiTop">19:00-</li>            
            <li class="hiTop">19:30-</li>            
            <li class="hiTop">20:00-</li>            
            <li class="hiTop">20:30-</li>            
            <li class="hiTop">21:00-</li>            
            <li class="hiTop">21:30-</li>            
            <li class="hiTop">22:00-</li>            
            <li class="hiTop">22:30-</li>            
            <li>23:00-</li>            
            <li>23:30-</li>          
          </ul>
          <div class="overPart">
            <div class="partRightB">
              <div class="roll_part_t">
                <div id="roll"><span class="m-f-icon rollCenter"></span></div>
              </div>
              <div class="partRight">
                <ul class="cleafix rightB">
                  <li class="closed pass"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed mergeBox pass"><div class="bMerge"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></div></li>
                  <li class="closed price"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-p">X3</span></p></li>
                  <li class="Booked mergeBox"><div class="bMerge"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></div></li>
                  <li class="Opened mergeBox"><div class="bMerge"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed price"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-p">X3</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed pass"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon bGroundc">Booked</span></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed pass"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed pass"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed pass"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span><br><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed mergeBox"><div class="bMerge"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></div></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class=" closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class=" closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class=" closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class=" Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class=" Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class=" closed">Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class=" closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class=" closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class=" closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked darkTop"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class=" Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class=" Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="cleafix">
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">10₱</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon">G</span></p></li>
                  <li class="closed"><span class="innerIcon">Closed</span> <p><span class="m-t-icon c-g">Ft</span></p></li>
                  <li class="Booked"><span class="innerIcon">Booked</span><div class="linkNext"><a href="javascript:;">Reservation Details &gt;</a><span class="linkFine"></span></div></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li class="Opened"><span class="innerIcon">Opened</span><p><span class="m-t-icon c-g">CE<br>GC</span></p></li>
                  <li>Closed <p class="icon-g"><span class="m-t-icon c-g">CE<br>GC</span><br><span class="m-t-icon">₱</span></p></li>
                </ul>
                <ul class="last_row">
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                  <li>
                    <p><span class="m-icon-q m-icon-q2"></span>Peak Hour</p>
                    <p><span class="m-icon-q m-icon-q2"></span>All</p>
                  </li>
                </ul>
              </div>
              <div class="roll_part_t roll_part_t2">
                <div class="roll" id="roll2"><span class="m-f-icon rollCenter"></span></div>
              </div>
              <a href="javascript:;" class="rightSub f-exchange">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<% include ../common/bottom.ejs %>