<!-- meta -->
<% include common/header.ejs %>
<!-- meta end -->
<body>
	<div class="complet-box">
		<div class="light"></div>
		<div class="complet-show fail-p">
			<div class="line"></div>
			<a class="sure-btn" href="javascript:;"></a>
		</div>
		<div class="cd"></div>

	</div>
</body>
</html>