<!-- header -->
<% include common/header.ejs %>
<!-- header end -->
<body>
<div class="scenes-box">
	<div class="scenes">
		<div class="scenes-list01">
		
		</div>
	</div>
</div>
</body>
<!-- header -->
<% include common/footer.ejs %>
<!-- header end -->
</html>