<!-- header -->
<% include common/header.ejs %>
<!-- header end -->
<body>
<div class="scenes-box" id="container" data-init="scenes">
	<div class="m-menu">
		<div class="widthWrap">
			<div class="m-tit"></div>
			<div class="m-sound" data-status="playing">
				
			</div>
			<div class="m-card">
				<span class="card_num"></span>
			</div>
		</div>
	</div>
	<span class="arrowLeft"></span>
	<span class="arrowRight"></span>
	<div class="scenesMain">
		<ul class="scenes">
			<li class="scenes-monster">
				<div class="monster-wrap">
					<img src="<%=imagessrc%>camera.png" class="camera">
					<div class="puzzle-wrap">
						<img src="<%=imagessrc%>empty.png" alt="" class="empty_tit">
						<ul class="puzzles">
							
						</ul>
						<div class="context-tit">
							<p class="ongoing">You need to collect all the puzzles to find the mystery monster.</p>
							<p class="completed">Here it is. Go and defeat the monster!</p>
						</div>
						<div class='btn-wrap'>
							<p class="card-tit">
								<img src="<%=imagessrc%>cardsNum.png" alt=""/>
								<span class="card_num"></span>
							</p>	
							<span class="go_btn"></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div id="scenes_bg_music"></div>
<div id="clickMusic"></div>
<div id="unitHoverMusic"></div>
<div id="EricSpeak"></div>
<div class="mask" style="display:none;"></div>
<div class="new-unit-tit" style="display:none;">
	<img src="<%=imagessrc%>g1-mask.png" class="level-tit">
	<span class="close-mask"></span>
</div>
<div class="startScenesTit" style="display:none">
	<span class="close_btn"></span>
	<div class="context-wrap">
		<div class="english">
			<p>Hi, I'm Officer Eric.</p> 
			<p>The animals are kept in four different places. To rescue them, you need to finish all the lessons in this unit. </p>
			<p>You will get some monster puzzles once you rescue an animal.</p> 
			<p>Go and rescue them, now!</p>
		</div>
		<div class="chinese">
			<p>Hi，我是Eric 警官！</p>
			<p class="m-context">小动物们被分散在四块大陆上，你需要完成对应单元的课程学习，才有足够能力解救小动物，并获得神秘怪兽拼图，快去解救他们吧！</p>
		</div>
		<span class="tsl-btn-chinese">中文</span>
		<span class="tsl-btn-english">英文</span>
	</div>
	<p class="start-btn"></p>
	<p class="replay-btn"><a href="javascript:;"></a></p>
</div>
<div class="startUnit">
	<div class="start-menu">
		<div class="widthWrap">
			<a href="javascript:;" class="back_btn"></a>
			<h3 class="top-tit">Unit01</h3>
		</div>
	</div>
	<div class="start-main">
		<div class="animal-wrap">
			<img src="" class="animal-url">
		</div>	
		<p class="start-tit">Hurry up! Come find me and help me! </p>
		<a href="" class="start_btn"></a>
	</div>
</div>
<div class="success-tit" style="display:none;">
	<span class="success-close"></span>
</div>
</body>
<script>
/*青少数据*/
// var  strJSON = 	
// 	{
// 		"role_message":{
// 			"role_introduce":"../../../images/html/north_america_unittest/start_scenes_young_bg.png",
// 			"role_level":"../../../images/html/north_america_unittest/level-mask-young.png",
// 			"role_complete":"../../../images/html/north_america_unittest/success_young.png"
// 		},
// 	    "sys_sound":{
// 	        "clickDomMusic":"http://www.51talk.com/upload/efl_audio/prepar/d8a37797e525673f793e4ecab4f74c80_160907deb.mp3",
// 	        "backgroundMusic":"http://www.51talk.com/upload/efl_audio/prepar/a1b811f3c2c96f708cc9a5f7cc48b8ca_1609079ab.mp3",
// 	        "unitLockMusic":"http://www.51talk.com/upload/efl_audio/prepar/f2a8878c4f8a03cd7d91e0863d8065d9_160907e0e.mp3",
// 	        "unitOpenMusic":"http://www.51talk.com/upload/efl_audio/prepar/32a389e3e1df4afe59f70e67e795dcfe_160907396.mp3",
// 	        "unitOnMusic":"http://www.51talk.com/upload/efl_audio/prepar/e40dc2ce24e10bd6d00b3ef238e96f09_160907df1.mp3",
// 	        "unitOverMusic":"http://www.51talk.com/upload/efl_audio/prepar/8d73bb233d46fb2ae930cd9bf2e9ce63_160907e01.mp3",
// 	        "EricSpeak":"http://www.51talk.com/upload/efl_audio/prepar/76f8a4ce32d8a58990b434e736382e0c_1609077a8.mp3"
// 	    },
// 	    "scene":[
// 	        {
// 	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg01.jpg",
// 	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg01.jpg",
// 	            "level":[
// 	                {
// 	                    "coordinate":{
// 	                        "x":500,
// 	                        "y":38
// 	                    },
// 	                    "animal":{/*关卡状态 0：lock 1:open 2:on 3:over*/
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit01_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit01_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit01_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit01_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit01.png"
// 	                        }
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":190,
// 	                        "y":119
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit02_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit02_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit02_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit02_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit02.png"
// 	                        }
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":64,
// 	                        "y":300
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit03_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit03_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit03_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit03_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit03.png"
// 	                        }
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":340,
// 	                        "y":360
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit04_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit04_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit04_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit04_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit04.png"
// 	                        }
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":650,
// 	                        "y":415
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit17_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit17_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit17_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit17_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit17.png"
// 	                        }
// 	                    }
// 	                }
// 	            ]
// 	        },
// 	        {
// 	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg02.jpg",
// 	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg02.jpg",
// 	            "level":[
// 	                {
// 	                    "coordinate":{
// 	                        "x":165,
// 	                        "y":30
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit05_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit05_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit05_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit05_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit05.png"
// 	                        }
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":268,
// 	                        "y":252
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit06_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit06_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit06_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit06_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit06.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":500,
// 	                        "y":428
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                             "lock":"../../../images/html/north_america_unittest/unit07_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit07_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit07_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit07_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit07.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":688,
// 	                        "y":130
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit08_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit08_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit08_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit08_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit08.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                }
// 	            ]
// 	        },
// 	        {
// 	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg03.jpg",
// 	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg03.jpg",
// 	            "level":[
// 	                {
// 	                    "coordinate":{
// 	                        "x":84,
// 	                        "y":393
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit09_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit09_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit09_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit09_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit09.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":210,
// 	                        "y":211
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit10_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit10_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit10_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit10_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit10.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":390,
// 	                        "y":30
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit11_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit11_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit11_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit11_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit11.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":410,
// 	                        "y":410
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit12_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit12_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit12_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit12_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit12.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":675,
// 	                        "y":430
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit18_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit18_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit18_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit18_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit18.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                }
// 	            ]
// 	        },
// 	        {
// 	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg04.jpg",
// 	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg04.jpg",
// 	            "level":[
// 	                {
// 	                    "coordinate":{
// 	                        "x":96,
// 	                        "y":257
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit13_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit13_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit13_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit13_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit13.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":320,
// 	                        "y":30
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit14_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit14_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit14_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit14_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit14.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":695,
// 	                        "y":25
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit15_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit15_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit15_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit15_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit15.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                },
// 	                {
// 	                    "coordinate":{
// 	                        "x":471,
// 	                        "y":385
// 	                    },
// 	                    "animal":{
// 	                        "images":{
// 	                            "lock":"../../../images/html/north_america_unittest/unit16_4.png",
// 	                            "open":"../../../images/html/north_america_unittest/unit16_2.png",
// 	                            "on":"../../../images/html/north_america_unittest/unit16_1.png",
// 	                            "over":"../../../images/html/north_america_unittest/unit16_3.png",
// 	                            "start":"../../../images/html/north_america_unittest/start_unit16.png"
// 	                        },
// 	                        "sound":[

// 	                        ]
// 	                    }
// 	                }
// 	            ]
// 	        }
// 	    ],
// 	    "level":{
// 	        "level_process":6,
// 	        "level_list":[
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"40153",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"40173",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"40183",
// 	                "last_batch_no":"0",
// 	                "star":"1",
// 	                "fragment":"",
// 	                "status":"2"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"40193",
// 	                "last_batch_no":"0",
// 	                "star":"3",
// 	                "fragment":"",
// 	                "status":"3"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"41241",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"41251",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"3"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"482551",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"482641",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"482731",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"2"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"482821",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"482911",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"3"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483001",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"2"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483091",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"3"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483181",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"2"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483271",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"1"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483361",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"0"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483361",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"0"
// 	            },
// 	            {
// 	                "user_id":"0",
// 	                "type":"1",
// 	                "grade_version":"1",
// 	                "grade":"41191",
// 	                "unit":"483361",
// 	                "last_batch_no":"0",
// 	                "star":"0",
// 	                "fragment":"",
// 	                "status":"0"
// 	            }
// 	        ]
// 	    }
// 	}; 

// var puzzlesJSON = 
// {
// 	"addcards":true,
// 	"puzzleImage":{
//         "boss_image":"../../../images/html/north_america_unittest/young_monster.jpg",
//         "img_width":70,
//         "img_height":70,
//         "x_num":9,
//         "y_num":6,
//         "head_x_y":"5-5"
// 	},
// 	"fragment":[
// 		"1-1",
// 		"2-1",
// 		"3-1",
// 		"4-1",
// 		"5-1",
// 		"6-1",
// 		"7-1",
// 		"8-1",
// 		"9-1",
// 		"1-2",
// 		"2-2",
// 		"3-2",
// 		"4-2",
// 		"5-2",
// 		"6-2",
// 		"7-2",
// 		"8-2",
// 		"9-2",
// 		"1-3",
// 		"2-3",
// 		"3-3",
// 		"4-3",
// 		"5-3",
// 		"6-3",
// 		"7-3",
// 		"8-3",
// 		"9-3",
// 		"1-4",
// 		"2-4",
// 		"3-4",
// 		"4-4",
// 		"5-4",
// 		"6-4",
// 		"7-4",
// 		"8-4",
// 		"9-4",
// 		"1-5",
// 		"2-5",
// 		"3-5",
// 		"4-5",
// 		"5-5",
// 		"6-5",
// 		"7-5",
// 		"8-5",
// 		"9-5",
// 		"1-6",
// 		"2-6",
// 		"3-6",
// 		"4-6",
// 		"5-6",
// 		"6-6",
// 		"7-6",
// 		"8-6",
// 		"9-6"
// 	]	
// };

/*美小数据*/
var  strJSON = 	
	{
		"role_message":{
			"role_introduce":"../../../images/html/north_america_unittest/start_scenes_bg.png",
			"role_level":"../../../images/html/north_america_unittest/g1-mask.png",
			"role_complete":"../../../images/html/north_america_unittest/success-tit.png"
		},
	    "sys_sound":{
	        "clickDomMusic":"http://www.51talk.com/upload/efl_audio/prepar/d8a37797e525673f793e4ecab4f74c80_160907deb.mp3",
	        "backgroundMusic":"http://www.51talk.com/upload/efl_audio/prepar/a1b811f3c2c96f708cc9a5f7cc48b8ca_1609079ab.mp3",
	        "unitLockMusic":"http://www.51talk.com/upload/efl_audio/prepar/f2a8878c4f8a03cd7d91e0863d8065d9_160907e0e.mp3",
	        "unitOpenMusic":"http://www.51talk.com/upload/efl_audio/prepar/32a389e3e1df4afe59f70e67e795dcfe_160907396.mp3",
	        "unitOnMusic":"http://www.51talk.com/upload/efl_audio/prepar/e40dc2ce24e10bd6d00b3ef238e96f09_160907df1.mp3",
	        "unitOverMusic":"http://www.51talk.com/upload/efl_audio/prepar/8d73bb233d46fb2ae930cd9bf2e9ce63_160907e01.mp3",
	        "EricSpeak":"http://www.51talk.com/upload/efl_audio/prepar/76f8a4ce32d8a58990b434e736382e0c_1609077a8.mp3"
	    },
	    "scene":[
	        {
	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg01.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg01.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":500,
	                        "y":38
	                    },
	                    "animal":{/*关卡状态 0：lock 1:open 2:on 3:over*/
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit01_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit01_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit01_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit01_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit01.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":190,
	                        "y":119
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit02_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit02_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit02_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit02_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit02.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":64,
	                        "y":300
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit03_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit03_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit03_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit03_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit03.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":340,
	                        "y":360
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit04_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit04_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit04_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit04_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit04.png"
	                        }
	                    }
	                }
	            ]
	        },
	        {
	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg02.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg02.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":165,
	                        "y":30
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit05_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit05_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit05_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit05_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit05.png"
	                        }
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":268,
	                        "y":252
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit06_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit06_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit06_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit06_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit06.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":500,
	                        "y":428
	                    },
	                    "animal":{
	                        "images":{
	                             "lock":"../../../images/html/north_america_unittest/unit07_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit07_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit07_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit07_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit07.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":688,
	                        "y":130
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit08_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit08_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit08_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit08_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit08.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                }
	            ]
	        },
	        {
	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg03.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg03.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":84,
	                        "y":393
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit09_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit09_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit09_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit09_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit09.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":210,
	                        "y":211
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit10_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit10_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit10_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit10_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit10.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":390,
	                        "y":30
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit11_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit11_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit11_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit11_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit11.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":410,
	                        "y":410
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit12_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit12_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit12_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit12_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit12.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                }
	            ]
	        },
	        {
	            "bg_src":"../../../images/html/north_america_unittest/scenes_bg04.jpg",
	            "start_bg_src":"../../../images/html/north_america_unittest/startUnit_bg04.jpg",
	            "level":[
	                {
	                    "coordinate":{
	                        "x":96,
	                        "y":257
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit13_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit13_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit13_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit13_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit13.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":320,
	                        "y":30
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit14_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit14_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit14_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit14_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit14.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":695,
	                        "y":25
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit15_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit15_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit15_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit15_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit15.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                },
	                {
	                    "coordinate":{
	                        "x":471,
	                        "y":385
	                    },
	                    "animal":{
	                        "images":{
	                            "lock":"../../../images/html/north_america_unittest/unit16_4.png",
	                            "open":"../../../images/html/north_america_unittest/unit16_2.png",
	                            "on":"../../../images/html/north_america_unittest/unit16_1.png",
	                            "over":"../../../images/html/north_america_unittest/unit16_3.png",
	                            "start":"../../../images/html/north_america_unittest/start_unit16.png"
	                        },
	                        "sound":[

	                        ]
	                    }
	                }
	            ]
	        }
	    ],
	    "level":{
	        "level_process":6,
	        "level_list":[
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40153",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40173",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40183",
	                "last_batch_no":"0",
	                "star":"1",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"40193",
	                "last_batch_no":"0",
	                "star":"3",
	                "fragment":"",
	                "status":"3"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"41241",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482641",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482731",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482821",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"482911",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"3"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483001",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483091",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"3"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483181",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"2"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483271",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"1"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483361",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483361",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            },
	            {
	                "user_id":"0",
	                "type":"1",
	                "grade_version":"1",
	                "grade":"41191",
	                "unit":"483361",
	                "last_batch_no":"0",
	                "star":"0",
	                "fragment":"",
	                "status":"0"
	            }
	        ]
	    }
	}; 

var puzzlesJSON = 
{
	"addcards":true,
	"puzzleImage":{
        "boss_image":"../../../images/html/north_america_unittest/monster.jpg",
        "img_width":79,
        "img_height":79,
        "x_num":8,
        "y_num":6,
        "head_x_y":"4-3"
	},
	"fragment":[
		"1-1",
		"2-1",
		"3-1",
		"4-1",
		"5-1",
		"6-1",
		"7-1",
		"8-1",
		"1-2",
		"2-2",
		"3-2",
		"4-2",
		"5-2",
		"6-2",
		"7-2",
		"8-2",
		"1-3",
		"2-3",
		"3-3",
		"4-3",
		"5-3",
		"6-3",
		"7-3",
		"8-3",
		"1-4",
		"2-4",
		"3-4",
		"4-4",
		"5-4",
		"6-4",
		"7-4",
		"8-4",
		"1-5",
		"2-5",
		"3-5",
		"4-5",
		"5-5",
		"6-5",
		"7-5",
		"8-5",
		"1-6",
		"2-6",
		"3-6",
		"4-6",
		"5-6",
		"6-6",
		"7-6",
		"8-6"
	]	
};
</script>
<!-- header -->
<script src="../../../js/html/common/pind.js?v=1"></script>
<% include common/footer.ejs %>
<!-- header end -->
</html>