<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/cej28336/cej28336.css">
</head>
<link rel="stylesheet" href="http://static.51talk.com/static/css/up_style.css">
<body>
<!-- 用户中心首页头部  -->

<!-- author:zhangtian pms:21574  timestamp:2016/4/19-->
<!-- 用户中心首页头部  -->

<div class="g-hd">
  <div class="m-top" id="jsHead">
    <div class="g-in f-cb">
      <div class="m-menu f-fl">
        <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Sunny</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">6</span></a><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="/index/logout">退出</a>
      </div>
      <ul class="m-link f-ib f-fr">
        <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
        <li><a href="http://www.51talk.com/pay/product" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
        <li><a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
        <li>
          <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
        </li>
        <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
        <li><a target="_blank" href="http://www.51talk.com/cet/cet.php" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
        <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
          <ul class="jsUl">
            <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
            <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
          </ul>
        </li>
   			<li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
      </ul>
    </div>
  </div>
  <!-- /m-top -->
  <div class="m-head">
    <div class="g-in">
      <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
      <ul class="nav">
        <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
        <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
        <li><a href="http://www.51talk.com/pay/product" class="__dim__o" setdata="nav_3">购买课程</a></li>
        <li><a href="http://bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
      </ul>
      <div class="contact">
        <p class="bizapp"><a href="javascript:void(0)" onclick="javascript:window.open('http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODA3NjYwOF8yNTE3NDVfNDAwNjMyMDA1MV8yXw','_blank','height=544px,width=644px,toolbar=no,scrollbars=no,menubar=no,status=no');" rel="nofollow" class="__dim__o" setdata="nav_contact_QQ">客服在线咨询 (09:00-22:30)</a></p>
        <p class="phone">4000-51-51-51</p>
      </div>
        <a class="file_style f-fr addFile addStyle03 __dim__o" href="http://www.51talk.com/user/invitefriend" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
    </div>
  </div>
</div>
<!-- main -->
<div class="cej" id="container" data-init="cej">
  <img src="/images/html/cej28336/ce_adv.jpg"> 
  <div class="cej-lev" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780">
    <div class="les-list">
      <p class="tst tstActive">Classic English Level 3</p>
      <ul class="t-ul">
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第一单元  我的家庭和我 My Family and I —— 一般过去时</a><span class="t-stu"></span></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第二单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第三单元 早餐文化盘点 Breakfast——动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第四单元 早餐文化盘点—— 动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第五单元  我的家庭和我 My Family and I —— 一般过去时</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第六单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
      </ul>
    </div>
    <div class="les-list">
      <p class="tst">Classic English Level 3</p>
      <ul class="t-ul hide">
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第一单元  我的家庭和我 My Family and I —— 一般过去时</a><span class="t-stu"></span></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第二单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第三单元 早餐文化盘点 Breakfast——动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第四单元 早餐文化盘点—— 动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第五单元  我的家庭和我 My Family and I —— 一般过去时</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第六单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
      </ul>
    </div>
    <div class="les-list">
      <p class="tst">Classic English Level 3</p>
      <ul class="t-ul hide">
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第一单元  我的家庭和我 My Family and I —— 一般过去时</a><span class="t-stu"></span></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第二单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第三单元 早餐文化盘点 Breakfast——动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第四单元 早餐文化盘点—— 动名词作主语</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第五单元  我的家庭和我 My Family and I —— 一般过去时</a></li>
        <li><a href="javascript:;" class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780"><span class="t-vro hide"></span>第六单元  为上学做好准备 Getting Ready for School —— 形容词比较级的不规则变化</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
<!--公共尾部结束-->
<script src="/js/html/project/cej28336/vendor.js"></script>
</html>
