<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>李娜wap着陆页</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/ln20150914/ln20150914.css">
  </head>
<body>
	<section>
		<article class="top">
			<img src="/images/wap/ln20150914/ln_top.jpg"  class="topImg" alt="">
			<ul class="OneS_logIn">
		      <li>
		        <input type="text" placeholder="请输入您的手机号">
		      </li>
		      <li>
		        <input type="password" placeholder="请设置您的密码">        
		      </li>
		      <li class="OneS_last">
		        <a href="#" class="free">马上免费体验</a>
		      </li>
		    </ul>
		</article>
		<article class="center bg_c">
			<h3 class="centTit"><span class="c_t_b">选择 51Talk 的4大理由<i class="c_t_bs"></i></span></h3>
			<ul class="item">
				<li>
					<a class="borderG"><img src="/images/wap/ln20150914/amy11.png"></a>
					<i class="right">1.</i>
					<p>打开电脑随时上课</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/ln20150914/amy22.png"></a>
					<i class="right">2.</i>
					<p>全天10小时随时预约上课</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/ln20150914/ln33.png"></a>
					<i class="right">3.</i>
					<p>4000名外教任选</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/ln20150914/amy33.png"></a>
					<i class="right">4.</i>
					<p>上课内容可自定义</p>
			    </li>
			</ul>
		</article>
		<article class="centerT">
			<h3 class="centTit"><span class="c_t_b">名人推荐<i class="c_t_bs"></i></span></h3>
			<dl>
				<dt><img src="/images/wap/ln20150914/leij.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">雷&emsp;军<i class="centTL_r"></i></span><span class="centB">小米手机董事长<i class="centB_r"></i></span></h3>
					<p class="centText">“51Talk做到25分钟教学15元价钱，这是天大的好事，可以让更多人学好英语！”</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="/images/wap/ln20150914/xux.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">徐小平<i class="centTL_r"></i></span><span class="centB">新东方联合创始人<i class="centB_r"></i></span></h3>
					<p class="centText">“要想全球walk，就来51Talk。让更多的人从51talk物美价廉的教学中获益。”</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="/images/wap/ln20150914/huangj.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">黄佳佳<i class="centTL_r"></i></span><span class="centB">51Talk创始人 CEO<i class="centB_r"></i></span></h3>
					<p class="centText">“51Talk 致力于让每个人都有平价接受语言学习的机会和对话世界的能力。”</p>
				</dd>
			</dl>
		</article>
		<footer>
			<article class="honor">
				<h3>51Talk的荣誉</h3>
				<ul class="hImg">
					<li class="wMin">
						<img src="/images/wap/ln20150914/zgrb.gif" >
						<p><a href="#">2014最具成长性教育品牌</br>中国日报</a></p>
				    </li>
				    <li>
						<img src="/images/wap/ln20150914/wy.gif" >
						<p><a href="#">最具影响力在线教育品牌</br>网易</a></p>
				    </li>
				    <li class="wMin">
						<img src="/images/wap/ln20150914/xjb.gif" >
						<p><a href="#">年度最具成长力品牌</br>新京报</a></p>
				    </li>
				    <li>
						<img src="/images/wap/ln20150914/xlw.gif" >
						<p><a href="#">最具品牌知名度外语教育机构</br>新浪网</a></p>
				    </li>
				</ul>
			</article>
			<article class="reports">
				<h3>媒体报道</h3>
				<ul class="rImg">
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/cctv.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/cyb.jpg" ></a>       
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/ifeng.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/qq.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/logo_sina1.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/logo_sohu1.jpg" ></a>
			      </li>
			    </ul>
			</article>
			<article class="coo_en">
				<h3>合作企业</h3>
				<ul class="rImg1_1">
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/xm.gif" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/jd.gif" ></a>       
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/cyp.gif" ></a>
			      </li>
			    </ul>
				<ul class="rImg1_2">
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/sony.gif" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/ln20150914/sany.gif" ></a>       
			      </li>
			    </ul>
			</article>
		</footer>
	</section>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/ln20150914/vendor.js" id="seajsnode"></script>
</html>










