<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/special_class/special_class.css">
</head>
<body>
<div class="special_details course_detail" id="container" data-init="reg">
  <h3 class="details_title"><a href="javascript:;">返回</a>课程详情</h3>
  <section class="details_top">
    <img src="/images/wap/special_class/banner.png" alt="">
  </section>
  <section class="t-course__body">
    <h3 class="t-course__title">英语发音雕琢：美音发音秘籍</h3>
    <h4 class="t-course__small__title">9月24日-10月9日  19:00-19:30  共4课时</h4>
    <p class="t-course__tips">适合有高中以上英语基础的学员适合有高中以上英语基础的学员适合有高中以上英语基础的学员适合有高中以上英语基础的学员</p>
  </section>
  <ul class="sucess_list">
    <li class="s_active">课程介绍</li>
    <li>课程大纲</li>
    <li>老师介绍</li>
  </ul>
  <section class="success_inner">
    <ul class="s_inner1">
      <li>
        <span class="inner1_icon l_time"></span>
        <section class="inner1_right">
          <h3 class="inner1_tit">课程时长</h3>
          <p class="inner1_text">共4课时，45分钟/课时</p>
        </section>
      </li>
      <li>
        <section class="public-body">
          <h3 class="abstract-body__title public-body__title">课程简介</h3>
          <p class="public-body__text">英语发音非常重要，无聊呢是在日常交流中还是各种英语口语考试中，一口漂亮的发音会为你赢来对方的好感甚至欣赏，此课程会专门帮助大家踏踏实实地练好英语发音。</p>
        </section>
      </li>
      <li class="insert-img">
        <img src="/images/wap/special_class/insert.png" alt="">
      </li>
      <li>
        <section class="public-body">
          <h3 class="content-body__title public-body__title">授课内容</h3>
          <p class="public-body__text">1、美音基本技巧 2、没引进及修炼 3、通过本课程的学习，夯实美音发音基础。</p>
        </section>
      </li>
      <li>
        <section class="public-body">
          <h3 class="notice-body__title public-body__title">加群须知</h3>
          <p class="public-body__text">此课程购买完成后请将购买成功页面截图，发给助教老师（QQ：3518732479），获得群号。老师将在群内留作业、答疑、并组织学员打卡。</p>
        </section>
      </li>
      <section class="class-notes">
      <h2 class="class-notes__title__big">上课须知</h2>
        <section class="class-notes__how">
          <h3 class="class-notes__title">怎么上课</h3>
          <section class="class-notes__how__phone">
            <h4 class="class-notes__title__small">用手机上课</h4>
            <section class="class-notes__how__text">
              <p>在“我的班课－我的课表”中上课，课</p>
              <p>前会收到消息推送和短信提醒哦~</p>
            </section>
          </section>
          <section class="class-notes__how__pc">
            <h4 class="class-notes__title__small">用电脑上课</h4>
            <section class="class-notes__how__text">
              <p>在“我-设置-绑定手机号”的用户，安装</p>
              <p>“AC在线教室”</p>
              <p>（www.51talk.com/ac/51TalkAC.php）</p>
              <p>使用绑定的手机号登录后上课</p>
            </section>
          </section>
        </section>
        <section class="class-notes__other">
          <h3 class="class-notes__title">错过直播，不要着急</h3>
          <section class="class-notes__other__course">
            <p>进入“我的课表”，找到购买的课程，可</p>
            <p>以无限次观看课程回放。</p>
            <p>回放观看时间：全部课程结束后10天内</p>
          </section>
        </section>
        <section class="class-notes__problem">
          <h3 class="class-notes__title">遇到问题，如何解决</h3>
          <section class="class-notes__problem__resolve">
            <p>通过QQ联系助教老师</p>
            <p>QQ：3518732479</p>
          </section>
        </section>
      </section>
    </ul>
    <ul class="s_inner2">
      <li>
        <span class="number">1</span>
        <section class="inner2_right">
          <section class="right_r">
            <h3 class="inner2_tit">雅思口语雅思口语第一讲雅思口语第一讲雅思口语第一讲第一讲</h3>
            <p class="inner2_text"><span class="inner2_day">7月17日</span><span class="inner2_week">周日</span><span class="inner2_time">10:00-12:00</span><span class="inner2_t">苏佩雯</span></p>
          </section>
        </section>
      </li>
      <li class="inner2_last">
        <span class="number">2</span>
        <section class="inner2_right">
          <section class="right_r">
            <h3 class="inner2_tit">雅思口语雅思口语第一讲雅思口语第一讲雅思口语第一讲第一讲雅思口语雅思口语第一讲雅思口语第一讲雅思口语第一讲第一讲</h3>
            <p class="inner2_text"><span class="inner2_day">7月18日</span><span class="inner2_week">周一</span><span class="inner2_time">10:00-12:00</span><span class="inner2_t">曲琼琼</span></p>
          </section>
        </section>
      </li>
    </ul>
    <ul class="s_inner3">
      <li>
        <section class="s3_left"><img src="/images/wap/special_class/tc3.jpg" alt=""></section>
        <section class="s3_right">
          <h3 class="s3_tit">曲琼琼</h3>
          <p class="s3_h">51Talk托福写作、新概念英语、语法名师。原北京新东方学校资深教师，曾任新东方北美VIP托福写作教研组组长。</p>
          <p class="s3_h">从教多年，拥有丰富的教学经验，高分学员数量部门第一。教授过托福写作、《新概念英语》第二册及第三册、语法班、成人英语教师培训班等课程。</p>
        </section>
      </li>
      <li>
        <section class="s3_left"><img src="/images/wap/special_class/tc2.jpg" alt=""></section>
        <section class="s3_right">
          <h3 class="s3_tit">苏佩雯</h3>
          <p class="s3_h">51Talk托福写作、新概念英语、语法名师。</p>
        </section>
      </li>
    </ul>
  </section>
  <section class="details_bottom">
     <div class="bg_bot"> 
          <span class="old_money">
            ￥99元
          </span>
          <p class="now_money">
            <span class="n-s1">9</span>
            <span class="n-unit">元</span>
          </p>
      </div>
      <div class="details">
          <span class="bought"  style="display: none">
            234人已购买
          </span>
          <span class="surplus">
            剩余54个名额
          </span>
      </div>
      <div class="bg_btn"> 
          <a href="javascript:;" class="ipt-buy">立即购买</a>
          <a href="javascript:;" class="ipt-bought" style="display: none">已购买</a>
          <a href="javascript:;" class="ipt-none" style="display: none">售罄</a>
      </div>
       
  </section>
</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/special_class/vendor.js"></script>
</html>