<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/special_class/special_class.css">
</head>
<body>
<div class="special_class" id="container" data-init="reg">
  <h3 class="s_tit">51Talk特色班课</h3>
  <img src="/images/wap/special_class/s_top.jpg" alt="" class="s_top">
  <section class="s_advantage">
    <h3 class="a_tit">班课四大优势</h3>
    <section class="a_html">
      <ul class="a_list">
        <li>
          <img src="/images/wap/special_class/a4.jpg" alt="">
          <p>中外籍专家强强联手,<br>精品课程完美呈现！</p>
        </li>
        <li>
          <img src="/images/wap/special_class/a3.jpg" alt="">
          <p>各科名师十八班武艺在手,<br>网络平台尽显其能！</p>
        </li>
        <li>
          <img src="/images/wap/special_class/a2.jpg" alt="">
          <p>互动、答疑、讲解、批改,<br>贴心服务全程陪伴！</p>
        </li>
        <li>
          <img src="/images/wap/special_class/a1.jpg" alt="">
          <p>多维度，多角度技巧呈现,<br>助考生笑傲考场！</p>
        </li>
      </ul>
    </section>
  </section>
  <section class="s_advantage">
    <h3 class="a_tit a_class"><span class="s_active">7月课程<em></em></span><span>8月课程<em></em></span></h3>
    <section class="class_html">
      <ul class="class_list1 one_c">
        <li >
          <a href="#">
            <img src="/images/wap/special_class/t6.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">托福全能拔高班</h3>
              <p class="class_time">开课时间: <span>06月06日 - 07月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t5.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">雅思全能拔高班</h3>
              <p class="class_time">开课时间: <span>06月06日 - 07月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t4.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">新概念英语一册</h3>
              <p class="class_time">开课时间: <span>06月06日 - 07月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t3.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">新概念英语二册</h3>
              <p class="class_time">开课时间: <span>06月06日 - 07月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t2.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">英语发音雕琢</h3>
              <p class="class_time">开课时间: <span>06月06日 - 07月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li class="class_last">
          <a href="#">
            <img src="/images/wap/special_class/t1.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">实用语法精讲</h3>
              <p class="class_time">开课时间: <span>06月06日 - 07月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
      </ul>
      <ul class="class_list1 two_c">
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t6.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">托福全能拔高班</h3>
              <p class="class_time">开课时间: <span>07月06日 - 08月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t5.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">雅思全能拔高班</h3>
              <p class="class_time">开课时间: <span>07月06日 - 08月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t4.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">新概念英语一册</h3>
              <p class="class_time">开课时间: <span>07月06日 - 08月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t3.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">新概念英语二册</h3>
              <p class="class_time">开课时间: <span>07月06日 - 08月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/images/wap/special_class/t2.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">英语发音雕琢</h3>
              <p class="class_time">开课时间: <span>07月06日 - 08月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
        <li class="class_last">
          <a href="#">
            <img src="/images/wap/special_class/t1.png" alt="" class="class_left">
            <section class="class_right">
              <h3 class="class_tit">实用语法精讲</h3>
              <p class="class_time">开课时间: <span>07月06日 - 08月01日</span></p>
              <span class="class_more">查看详情</span>
            </section>
          </a>
        </li>
      </ul>
    </section>
  </section>
  <section class="s_advantage">
    <h3 class="a_tit">班课名师</h3>
    <section class="class_html">
      <ul class="class_list2">
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc1.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">戴云</h3>
              <p class="techer_h">曾任北京新东方学校校长教学助理，新东方高级教
学培训师，教授学生数十万人，被爱戴他的学生们
尊称为“教主”。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc2.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">苏佩雯</h3>
              <p class="techer_h">51Talk托福口语、托福听力名师。原北京新东方学
校优秀教师。英国爱丁堡大学硕士。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc3.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">曲琼琼</h3>
              <p class="techer_h">51Talk托福写作、新概念英语、语法名师。原北京
新东方学校资深教师，曾任新东方北美VIP托福写作
教研组组长。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc4.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">黎小明</h3>
              <p class="techer_h">51Talk托福阅读、托福写作名师。原北京新东方学
校优秀教师。英语专业八级，托福分数112。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc5.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">唐长志</h3>
              <p class="techer_h">51Talk雅思口语、雅思听力名师。原北京新东方学
校优秀教师。英国德蒙福特大学西方史专业，留英
四年，雅思分数8.0。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc6.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">梁 颖</h3>
              <p class="techer_h">51Talk雅思阅读、雅思听力名师。原北京新东方学
校优秀教师。英国纽卡斯尔大学应用语言学与英语
教学专业硕士，雅思阅读满分，有多年语法、阅读
教学经验。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc7.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">刘 芸</h3>
              <p class="techer_h">51Talk雅思写作、托福写作、SAT写作名师。原北
京新东方学校资深教师。国家二级英语翻译，拥有
10余年的英语教学与创作出版经验。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc8.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">左高超</h3>
              <p class="techer_h">51Talk托福写作、雅思写作、SAT语法与写作、
《新概念英语》第三册及第四册名师。原北京新东
方学校资深教师。北京理工大学硕士。</p>
            </section>
        </li>
        <li>
            <section class="class_left"><img src="/images/wap/special_class/tc9.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">谢昕呈</h3>
              <p class="techer_h">51Talk托福写作、托福口语、语音课程名师。原北
京新东方资深教师。曾任北京新东方成人英语教师
培训班英语口语教学法培训师。</p>
            </section>
        </li>
        <li class="t_last">
            <section class="class_left"><img src="/images/wap/special_class/tc10.jpg" alt="" ></section>
            <section class="class_right">
              <h3 class="class_tit">温利民</h3>
              <p class="techer_h">51Talk雅思、托福、SAT全科名师。 13年国外考试
培训经验；原北京新东方资深讲师、新教师培训师，
托福听力教研组组长。</p>
            </section>
        </li>
      </ul>
    </section>
    <section class="t_null"></section>
  </section>
  <section class="n_pay">
    <form action="">
      <input class="pay" value="立即购买" type="button" method="post">
    </form>
  </section>
</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/special_class/vendor.js"></script>
</html>