@charset "utf-8";
@import "../common/base.less";
/*
* 青少蓝色头图landing
* @file：   index.less
* @author:  liyang（liyang@51talk.cm）
* @update:  2016-4-06
* @note:    重置样式、通用变量、基础样式、功能样式、混合样式
*/
@imgPath: "../../../images/html/teenagers_landing";
.minWidth{width:1000px;margin:0 auto;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after,
.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}
.hide{display: none;}

.topWidth{
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px;
  width: 1000px;
  color: #131313;
  z-index: 10;
  .m_logo{
    height:62px;
    padding:16px 30px;
    img{float: left;}
    .f_phone{
      float: right;
      font-size:18px;
      height: 68px;
      line-height: 68px;
      .u_icon{
        width:16px;
        height: 17px;
        display: inline-block;
        background: url("@{imgPath}/ten_iphone.png")  no-repeat;
        margin-right: 4px;
      }
    }
  }
}
.youth{
  .tenImg{
    position: relative;
    width: 100%;
    height: 552px;
    overflow: hidden;
    img{
      position: absolute;
      left: 50%;
      height: 552px;
      margin-left: -950px;
      z-index: 1;
    }
  }
  .btnWidth{
    position: absolute;
    left: 50%;
    top: 386px;
    margin-left: -551px;
    width: 1000px;
    color: #131313;
    z-index: 5;
    .imgBtn{
      float: right;
      display: block;
      width: 310px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 28px;
      color: #fff;
      background-color: #f76d08;
      border-radius: 3px;
      z-index: 2;
      margin-right: 128px;
    }
  }
  .detail{
    width: 100%;
    height: 237px;
    position: relative;
    margin: auto;
    background: url("@{imgPath}/detaile_bg.png")center top no-repeat;
    .tit{
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    p{
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
    }
  }
}
// 年龄和课程
.age_level{
  position: relative;
  width: 100%;
  .age{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d8d8d8;
    ul{
      position: relative;
      left: 50%;
      top: 0;
      margin-left: -400px;
      height: 57px;
      display: inline-block;
      width: 800px;
      li{
        cursor: pointer;
        font-size: 16px;
        color: #000000;
        float: left;
        width: 200px;
        line-height: 50px;
        height: 57px;
        text-align: center;
        span{
          color: #999999;
        }
      }
      .choose{
        border-bottom: 3px solid #feaf00;
        color: #feaf00;
        font-size: 22px;
        span{
          color: #feaf00;
        }
      }
    }
  }
  .age_course{
    position: relative;
    margin:75px auto 0;
    width: 1000px;
    height: 620px;
    background: #ffffff;
    .course_l,.course_r{
      padding: 20px;
      top: 10px;
      position: relative;
      width: 400px;
      height: 520px;
      border: 1px solid #dedede;
      .img_01{
        width: 140px;
        height: 47px;
        position: absolute;
        left: 50%;
        margin-left: -70px;
        top: -8px;
      }
      .img_02{
        width: 400px;
        height: 300px;
        margin-bottom: 20px;
      }
      .tit{
        font-size: 18px;
        line-height: 24px;
        height: 60px;
        width: 400px;
        word-wrap:break-word;
        word-break:break-all;
      }
      p{
        color: #000000;
        font-size: 14px;
        line-height: 20px;
      }
      a{
        position: relative;
        left: 50%;
        margin-left: -90px;
        margin-top: 35px;
        font-size: 18px;
        display: inline-block;
        width: 180px;
        height: 45px;
        line-height: 45px;
        color: #ffffff;
        text-align: center;
        border-radius: 20px;
        background: url("@{imgPath}/btn_bg.png")  no-repeat;
      }
    }
  }
}
// 学员评论
.stu_reviews{
  position: relative;
  width: 100%;
  background-color: #fbfbfb;
  .review{
    width: 1000px;
    padding-bottom: 60px;
    margin: auto;
    .tit{
      text-align: center;
      font-size: 38px;
      color: #3b3a35;
      padding-top: 60px;
      padding-bottom: 30px;
    }
    .review01{
      width: 1000px;
      .text{
        width: 1000px;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 25px;
        overflow: hidden;
        background: url("@{imgPath}/review01_bg.png") no-repeat;
        dl{
          padding-top: 25px;
          margin-left: 25px;
        }
        dt{
          color: #fa584b;
          font-size: 16px;
          font-weight: 600;
          float: left;
          clear: both;
        }
        dd{
          font-size: 14px;
          width: 896px;
          color: #6e6e6e;
          display: inline-block;
          width: 890px;
          line-height: 24px;
        }
      }
      .stu_head{
        overflow: hidden;
        img{
          float: left;
          width: 62px;
          height: 53px;
        }
        div{
          height: 53px;
          min-width: 120px;
          background-color: #fa584b;
          float: left;
          .name{
            font-size: 14px; 
          }
          p{
            padding-left: 12px;
            padding-right: 10px;
            margin-top: 5px;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
    .review02{
      width: 1000px;
      .text{
        width: 1000px;
        height: 152px;
        margin-top: 40px;
        margin-bottom: 25px;
        overflow: hidden;
        background: url("@{imgPath}/review02_bg.png") no-repeat;
        dl{
          padding-top: 25px;
          margin-left: 25px;
        }
        dt{
          color: #f8793b;
          font-size: 16px;
          font-weight: 600;
          float: left;
          clear: both;
        }
        dd{
          font-size: 14px;
          width: 896px;
          color: #6e6e6e;
          display: inline-block;
          width: 890px;
          line-height: 24px;
        }
      }
      .stu_head{
        overflow: hidden;
        height: 53px;
        img{
          float: left;
          width: 62px;
          height: 53px;
        }
        div{
          height: 53px;
          min-width: 120px;
          background-color: #f8793b;
          float: left;
          .name{
          font-size: 14px; 
          }
          p{
            padding-left: 12px;
            padding-right: 10px;
            margin-top: 5px;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
    .review03{
      width: 1000px;
      .text{
        width: 1000px;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 25px;
        overflow: hidden;
        background: url("@{imgPath}/review01_bg.png") no-repeat;
        dl{
          padding-top: 25px;
          margin-left: 25px;
        }
        dt{
          color: #fbbf40;
          font-size: 16px;
          font-weight: 600;
          float: left;
          clear: both;
        }
        dd{
          font-size: 14px;
          width: 896px;
          color: #6e6e6e;
          display: inline-block;
          width: 890px;
          line-height: 24px;
        }
      }
      .stu_head{
        overflow: hidden;
        img{
          float: left;
          width: 62px;
          height: 53px;
        }
        div{
          height: 53px;
          min-width: 120px;
          background-color: #fbbf40;
          float: left;
          .name{
            font-size: 14px; 
          }
          p{
            padding-left: 12px;
            padding-right: 10px;
            margin-top: 5px;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
    .review04{
      width: 1000px;
      .text{
        width: 1000px;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 25px;
        overflow: hidden;
        background: url("@{imgPath}/review01_bg.png") no-repeat;
        dl{
          padding-top: 25px;
          margin-left: 25px;
        }
        dt{
          color: #00b3b8;
          font-size: 16px;
          font-weight: 600;
          float: left;
          clear: both;
        }
        dd{
          font-size: 14px;
          width: 896px;
          color: #6e6e6e;
          display: inline-block;
          width: 890px;
          line-height: 24px;
        }
      }
      .stu_head{
        overflow: hidden;
        img{
          float: left;
          width: 62px;
          height: 53px;
        }
        div{
          height: 53px;
          min-width: 120px;
          background-color: #00b3b8;
          float: left;
          .name{
            font-size: 14px; 
          }
          p{
            padding-left: 12px;
            padding-right: 10px;
            margin-top: 5px;
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
    .btnWidth{
      margin-top: 30px;
      height: 70px;
      width: 100%;
      text-align: center;
      a{
        display: inline-block;
        height: 70px;
        line-height: 70px;
        width: 357px;
        border-radius: 5px;
        background-color: #f5881d;
        color: #ffffff;
        font-size: 30px;
      }
    }
  }
}
// 李娜
.lina_show{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  .lina{
    position: relative;
    height: 200px;
    width: 1000px;
    margin:auto;
    img{
      width: 510px;
      height: 199px;
      margin-left: 60px;
      margin-top: 1px;
    }
    .lina_text{
      position: absolute;
      right: 0;
      top: 80px;
      width: 420px;
      height: 77px;
      border-left: 1px solid #656565;
      .name{
        padding-left: 20px;
        color: #272727;
        font-size: 24px;
        line-height: 40px;
      }
      .honr{
        padding-left: 20px;
        color: #272727;
        font-size:16px; 
        line-height: 24px;
      }
    }
  }
}
// 底部
.bottom{
  height:125px;
  width: 100%;
  position: relative; 
  background-color: #fec500;
  p{
    color: #1f1d1d;
    font-size: 12px;
    height: 125px;
    line-height: 125px;
    text-align: center;
  }
}
// 弹出层
.mask{
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  _height: ~'expression(eval(document.documentElement.clientHeight+document.documentElement.scrollTop))';
  background-color: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
  z-index: 20;
}
.openWidnow{
  width: 540px;
  background: #fff;
  height: 540px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  margin-left: -270px;
  top: 50%;
  margin-top: -340px;
  z-index: 30;
  .window-title{
    font-size: 22px;
    line-height: 40px;
    color: #232323;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 30px;
    background: #fcd500;
    span{
      color: #f6550e;
      font-size: 26px;
    }
  }
  .window-input {
    margin-top: 30px;
    margin-bottom: 12px;
    text-align: center;
    li{
      padding-bottom: 20px;
      label{
        display: inline-block;
        span{
          padding-left: 28px;
          width: 32px;
          vertical-align: middle;
          display: inline-block;
        }
       .sprite {
          background: url('@{imgPath}/spriter.png') no-repeat;
        }
        .email {
          background-position: -327px -39px;
          height: 24px;
        }

        .phone {
          background-position: -327px -120px;
          height: 37px;
        }

        .password {
          background-position: -326px 0px;
          height: 32px;
        }
        input{
          vertical-align: middle;
          width: 270px;
          font-size: 18px;
          padding-left:16px;
          padding-right:12px;
          height: 50px;
          line-height: 50px;
          border: #a5a5a5 solid 1px;
          border-left: #fcc800 solid 5px;
        }
      }
    }
  }
  .orderBtn2{
    text-align: center;
    #submit1 {
      width: 370px;
      height: 60px;
      border: none;
      background: #fcc800;
      font-size: 22px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 25px;
      cursor: pointer;
    }
    .exprienceDesc{
      font-size: 18px;
      font-family: "微软雅黑";
      color: #6e6e6e;
    }
  }
} 
