<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>51Talk 无忧英语</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/sayListen/sayListen.css">
  </head>
<body>
<article data-init="index" id="slider">
    <header>
       <div class="m-say-header">
        <img src="/images/wap/sayListen/logo2.png" alt="" />
        <a href="javascript:;">
          下载应用
        </a>
    </div>
    </header>
    <section class="s_top">
      <ul>
          <li>
              <p >51Talk 51Talk 51Talk 51Talk 51Talk</p>
              <p class="s_cn">无忧英语无忧英语无忧英语无忧英语无忧英语</p>
          </li>
        <li>
              <p >51Talk 51Talk 51Talk 51Talk 51Talk</p>
              <p class="s_cn">无忧英语无忧英语无忧英语无忧英语无忧英语</p>
          </li>
      </ul>
    </section>
    <footer>
        <section>
            <div class="m-say-audio">
              <div data-src="bfy.mp3" class="u-paly"></div>
              <div class="m-bar">
                <div class="m-total">
                  <div class="m-progress" id="icons">
                        <div class="u-point"></div>
                  </div>
                </div>
                <div class="u-time">3'40''</div>
              </div>
            </div>
        </section>
    </footer>
</article>
<script src="/js/wap/project/sayListen/vendor.js"></script>
</body>
</html>