<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>青少wap着陆页</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/tenngers20150817/tenngers20150817.css">
  </head>
<body>
<section class="teengers">
  <img src="/images/wap/tenngers20150817//n1.jpg" alt="" class="OneSt">
  <article class="OneS">
    <ul class="OneS_logIn">
      <li>
        <input type="text" placeholder="请输入您的手机号">
      </li>
      <li>
        <input type="password" placeholder="请设置您的密码">        
      </li>
      <li>
        <a href="#" class="free"></a>
      </li>
    </ul>
  </article>
  <article class="TwS">
    <h3 class="TwS_title">合理利用时间，真正做到趣味学习</h3>
    <ul class="TwS_list">
      <li>
        <img src="/images/wap/tenngers20150817///list4.png" alt="">
        <h3 class="list_tit">打开电脑随时上课</h3>
      </li>
      <li>
        <img src="/images/wap/tenngers20150817//list3.png" alt="">
        <h3 class="list_tit">全天10小时<br/>随时预约上课</h3>
      </li>
      <li>
        <img src="/images/wap/tenngers20150817//list2.png" alt="">
        <h3 class="list_tit">3000名外教任选</h3>
      </li>
      <li>
        <img src="/images/wap/tenngers20150817//list1.png" alt="">
        <h3 class="list_tit">上课内容可自定义</h3>
      </li>
    </ul>
  </article>
  <article class="TrS">
    <section class="TrS_t">
      <hgroup>
        <h3 class="TrS_titT">宝贝的知识，父母先学</h3>
        <h4 class="TrS_titB TrS_titBL">KNOWLEDGE FOR BABIES,<br/> PARENTS MUST LEARN FIRST</h4>
      </hgroup>
      <p class="TrS_text">51Talk打造纯浸泡式学习模式，拥有海量外教资源，扎实提升父母语言水平，在孩子语言关键期来临前先练好基本功。</p>
    </section>
  </article>
  <article class="FoS">
    <section class="FoS_t">
      <hgroup>
        <h3 class="TrS_titT Wgreen">启蒙和语言学习同步进行</h3>
        <h4 class="TrS_titB">ENLIGHTENING AND LEARNING TOGETHE</h4>
      </hgroup>
      <section class="FoS_text">
        <p class="TrS_text">拥有专业自主研发教材，及多种国际标准教材。更有模仿、看图等趣味分类课程，自由选择。<span class="FoS_pl"></span><span class="FoS_pr"></span></p>
      </section>
    </section>
  </article>
  <article class="SiS">
    <h3 class="TrS_titT mb2">学员心声</h3>
    <ul class="SiS_list">
      <li class="mb2">
        <p class="SiS_text">“  高兴地跟老师一起手舞足蹈。”</p>
        <dl class="SiS_dl">
          <dt class=" class="SiS_r""><img src="/images/wap/tenngers20150817//Joanna.png" alt=""></dt>
          <dd class="SiS_r">Joanna</dd>
        </dl>
      </li>
      
      <li class="mb2">
        <p class="SiS_text">“  跟老师成了好朋友，天天练习口语。”</p>
        <dl class="SiS_dl">
          <dt class="SiS_l"><img src="/images/wap/tenngers20150817//Dudu.png" alt=""></dt>
          <dd class="SiS_r">Dudu</dd>
        </dl>
      </li>
    </ul>
    <section class="SiS_fb mb2"><img src="/images/wap/tenngers20150817//last.jpg" alt=""></section>
    <section class="SiS_fb"><a href="#" class="SiS_now">马上和宝贝来体验</a></section>
  </article>
</section>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/tenngers20150817/vendor.js" id="seajsnode"></script>
</html>