@charset "utf-8";
*{-webkit-tap-highlight-color:rgba(0,0,0,0,0)}
body{font-family: "微软雅黑"}
body,ol,ul,li,p,h1,h2,h3,h4,h5,h6,input{margin:0;padding:0;}
i,h1,h2,h3,h4,h5,h6{font-weight: normal;font-style: normal;}
li{list-style: none;}
img{display: block;border:0;}
a,a:link,a:visited{text-decoration: none;}
input,textarea{outline:none;border:0;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfix{zoom:1} 
.width100{width:100%;}
@imgPath: "../../../images/wap/anniversary20170607/";
hgroup{
  position: relative;
}
.in{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  .form_reg{
     // padding:0.330769rem 2.0rem 0;
     padding:0.2rem 2.0rem 0;
      .iterm{
        width:100%;
        margin-bottom:0.115385rem;
        input,a{
          display:block;
          height:0.846154rem;
          width:100%;
          line-height:0.846154rem;
          text-align: center;
          font-size: 0.407692rem;
          color:#3e3a39;
          padding:0 0.307692rem;
          box-sizing: border-box;
        }
      }
      .getFree{
        height:1.076923rem;
        margin-bottom:0.015385rem;
       // margin-top:0.092308rem;
        a{
          width:3.384615rem;
          height:1.076923rem;
          background: url("@{imgPath}freeBtn.png") no-repeat center top ;
          background-size: cover;
          margin:0 auto;
        }
      }
  }
  .form2_reg{
    padding:0.307692rem 2.707692rem 0 3.615385rem;
    .iterm{
      width:100%;
      margin-bottom:0.184615rem;
      input{
         display: block;
         height:0.661538rem;
         width:100%;
         line-height: 0.661538rem;
         text-align: center;
         font-size: 0.307692rem; 
         padding:0 0.307692rem; 
         box-sizing: border-box;
      }
    }
    .getFree{
      height:1.176923rem;
      margin-top:0.092308rem;
      a{
        display:block;
        height:1.176923rem;
        text-align: center;
        margin:0 auto;
        background: url("@{imgPath}freeBtn.png") no-repeat center top ;
        background-size: cover;
      }
    }

  }
  .form3_reg{
    padding: 0 0.384615rem;
    p{
      font-size: 0.4rem;
      color:#8e6d5a;
      text-align: center;
    }
    .formIn{
        padding:0.584615rem 0.676923rem 0;
        .iterm{
          width: 100%;
          margin-bottom:0.492308rem;
          input,a{
            display: block;
            height:1.230769rem;
            width: 100%;
            line-height: 1.230769rem;
            text-align: center;
            font-size: 0.523077rem;
            color:#7f7f7f;
            padding:0 0.523077rem;
            box-sizing: border-box;
          }
          a{
            background: #fe6458;
            color:#fff;
            font-size: 0.646154rem;
            border-radius: 0.153846rem;
          }
        }
    }
  }
  .price{
      display: flex;
      display:-webkit-flex;
      height:1.815385rem;
     .lf{
        width:40%;
        height:100%;
        font-size: 0.4rem;
        text-align: right;
      }
      .ri{
        width: 60%;
        height:100%;
        font-size: 0.615385rem;
        text-align: left;
        span{
          font-size: 0.738462rem;
        }
      }
  }
  .des{
    display: flex;
    display:-webkit-flex;
    height:4.461538rem;
    padding:0.615385rem 0.384615rem 0;
    .iterm{
      width:26%;
      height:100%;
      margin:0 3.6%; 
      p{
        color:#686767;
        font-size: 0.369231rem;
        text-align: center;
        margin-top:0.461538rem;  
      }
    }
  }
  .gby{
    padding-top: 0.769231rem;
    h3{
      font-size: 0.553846rem;
      color:#fff;
      text-align: center;
    }
    p{
      font-size: 0.307692rem;
      color:#fff;
      text-align: center;
      margin:0.230769rem 0 0.307692rem;
    }
    a{
      display: block;
      height:0.923077rem;
      width:4.215385rem;
      line-height: 0.923077rem;
      text-align: center;
      color:#fd524d;
      background:#fff;
      border-radius: 0.153846rem;
      margin:0 auto;
      font-size: 0.523077rem;
    }
  }
}
 