<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英语学习</title>
    <link rel="stylesheet" href="/css/html/engRegLayer/engRegLayer.css">
</head>
<body>
    <div class="contain" id="container" data-init="engRegLayer">
        <div class="header">
            <a href="javascript:;" class="btn-tiyan">马上免费体验</a>
        </div>
        <div class="content">
            <div class="advantage">
                <ul class="list clearfix" id="advList">
                    <li class="fl"><i class="taboff0 tabon0"></i><span class="tab_color">纯外教</span></li>
                    <li class="fl"><i class="taboff1"></i><span>短时高频</span></li>
                    <li class="fl"><i class="taboff2"></i><span>1对1授课</span></li>
                    <li class="fl last"><i class="taboff3"></i><span>性价比高</span></li>
                    <em class="sanjiao tab_sanjiao0" id="sanjiao"></em>
                </ul>
                <div class="advantage_desc clearfix">
                    <img src="/images/html/engRegLayer//computer.jpg" class="adv_img">
                    <div class="adv_wordIntro">
                        <div class="blank"></div>
                        <div class="tabDivs" id="tabDivs">
                            <div class="tabDesc">
                                <h3>4000多名外教任您选择</h3>
                                <p>纯外教授课，为您提供沉浸式的母语环境， 告别中式英语，建立英语思维。</p>
                            </div>
                            <div>
                                <h3>每课25分钟高频学习</h3>
                                <p>每课25分钟，随时随地利用碎片时间约课上课，短时高频学习好过周末突击。</p>
                            </div>
                            <div>
                                <h3>与外教更强互动式学习</h3>
                                <p>外教投入100%注意力，与您在课堂上进行互动练习，一节课您有超过50%的时间开口说英文。</p>
                            </div>
                            <div>
                                <h3>每节课低至15元</h3>
                                <p>15元——在所有学习英语的困难中，价格是最不应该成为阻力，来51Talk给你最超值体验。</p>
                            </div>
                        </div>
                        <a href="javascript:;" class="expriceBtn clearfix">
                            <span>马上免费体验</span>
                            <i></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="adultJun">
            <div class="courses clearfix">
                <div class="adultCourse">
                    <div class="courseImg">
                        <img src="/images/html/engRegLayer//adult_pic.jpg" alt="">
                    </div>
                    <div class="couseTypeBox">
                        <ul class="couseType clearfix">
                            <li>商务英语</li>
                            <li>雅思口语</li>
                            <li>51Talk经典英语</li>
                            <li>旅游英语</li>
                            <li>托福口语</li>
                        </ul>
                    </div>
                    <div class="listenBtnBox">
                        <a href="javascript:;" class="listenBtn">免费试听</a>
                    </div>
                </div>
                <div class="juniorCourse">
                    <div class="courseImg">
                        <img src="/images/html/engRegLayer//young_pic.jpg" alt="">
                        <div class="couseTypeBox2">
                            <ul class="couseType2 clearfix">
                                <li>剑桥青少</li>
                                <li>牛津青少</li>
                                <li>51Talk经典青少英语</li>
                                <li>分级阅读</li>
                                <li>新概念青少</li>
                            </ul>
                        </div>
                    </div>
                    <div class="listenBtnBox">
                        <a href="javascript:;" class="listenBtn">免费试听</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="ad_title1">
                <img src="/images/html/engRegLayer//ad_title1.png" class="ad_title1Img">
                <img src="/images/html/engRegLayer//courseList.jpg" alt="" class="souceTable">
            </div>
            <div class="orderNow">
                <a href="javascript:;" class="orderNow_btn">马上免费体验</a>
            </div>
            <div class="ad_title2">
                <img src="/images/html/engRegLayer//ad_title2.png" class="ad_title2Img">
            </div>
            <div class="lina_ad clearfix">
                <div class="linaImgBox fl">
                    <img src="/images/html/engRegLayer//ad_person.jpg" class="linaImg">
                </div>
                <div class="linaDesc fr">
                    <div class="linaCard">
                        <h3>李娜&nbsp;Lina</h3>
                        <p>国际网坛巨星&nbsp;|&nbsp;51Talk梦想代理人</p>
                    </div>
                    <p class="linaWords">“学英语和打网球一样，得1对1的多练。51Talk把语言环境送到身边，我觉得每个人都有成功的机会。”</p>
                </div>
            </div>
            <div class="bossBox">
                <img src="/images/html/engRegLayer//boss_desc.jpg" alt="" class="boss">
            </div>
        </div>
    </div>
    <div class="company">
        <h3>合作企业</h3>
        <p><a href="#"><img src="/images/html/engRegLayer//xm.jpg" alt=""></a>
        <a href="#"><img src="/images/html/engRegLayer//jd.jpg" alt=""></a>
        <a href="#"><img src="/images/html/engRegLayer//zs.jpg" alt=""></a>
        <a href="#"><img src="/images/html/engRegLayer//sony.jpg" alt=""></a>
        <a href="#"><img src="/images/html/engRegLayer//zlw.jpg" alt=""></a></p>
    </div>
    <div class="footer">
        <div class="footer-inner">
              <div class="form">
                  <form action="../user/do_register.php" method="POST" id="RegForm3" name="RegForm" >
                        <ul class="clearfix">
                           <li><input name="user_name" id="user_name" type="text"  placeholder="请输入您的邮箱"  class="jsCheck"/></li>
                          <li><input name="mobile" id="mobile"  type="text"  placeholder="请输入您的手机号"  class="jsCheck"/></li>
                          <li><input  type="text" name="password" id="password" placeholder="请设置您的密码"  class="jsCheck"/></li>
                          <li><input id="submit3" val="3" type="button" value="马上注册，体验免费外教课" class="jsSubmit" /></li>
                        </ul>  
                  </form> 
              </div>
              <div class="copyright">Copyright©北京大生知行科技有限公司&nbsp;|&nbsp;隐私声明&nbsp;|&nbsp;用户协议&nbsp;|&nbsp;京ICP证110696号 京ICP备11031999号</div>
        </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="openWidnow" id="openWidnow">
          <div class="window-title">注册立即获赠价值188元的外教1对1体验课一次，<br/> 并免费开通每月上百节的公开课体验资格!
          </div>
          <form action="../user/do_register.php" method="POST" id="RegForm1">
              <div class="window-form">
                <ul class="window-input">
                    <li><label for="user_name3"><span class="sprite ie6png email"></span><input name="user_name" id="user_name3" type="text" placeholder="请输入您的邮箱" class="jsCheck"></label></li>
                    <li><label for="mobile3"><span class="sprite ie6png phone"></span><input name="mobile" id="mobile3" type="text" placeholder="请输入您的手机号" class="jsCheck"></label></li>
                    <li><label for="password3"><span class="sprite ie6png password"></span><input name="password" id="password3" type="password" placeholder="请设置您的密码" class="jsCheck"></label></li>
                </ul>
              </div>
              <div class="orderBtn2" id="orderBtn2">
                <a href="javascript:;"><input id="submit1" type="button" val="1" value="马上免费体验" class="jsSubmit" /></a>
                <p class="exprienceDesc">体验后，您将获得量身定制的专业测评报告。</p>
              </div>
          </form> 
    </div>
    <div class="prompt" id="promptWin">
        <img src="/images/html/engRegLayer/logan.png" alt="">
        <p>51Talk外教1对1，反正免费试学，为什么不试试？</p>
        <div class="operate_btns">
            <a href="javascript:;" class="quitBtn" id="noExp">放弃学英语</a>
            <a href="javascript:;" class="no_quitBtn" id="beginExp">开始免费体验</a>
        </div>
    </div>
<script src="/js/html/project/engRegLayer/vendor.js"></script>
</body>
</html>