<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/before_class/before_class.css">
</head>
<body class="ac-tem-pair ac-tem-stu" swfHref="" audioPath="" page-tag="pair,stu,play">
    <div class="header-box">
        <ul class="clear">
            <li class="current-p">单词听说</li>
            <li class="not-done">词义辨识</li>
            <li class="not-done">单词拼写</li>
            <li class="not-done">句型学习</li>
            <li class="not-done">语法视频</li>
            <li class="not-done">阅读学习</li>
        </ul>
    </div>
	 
    <div class="before-result word-heard-s">
        <div class="btn-box">
            <a href="javascript:;" class="word-start-btn"></a>
        </div>
    </div>



</body>
<!--公共尾部结束-->
<script src="/js/html/project/before_class/vendor.js"></script>
</html>