<% include ../common/top.ejs %>
<body>
<div class="levl">
	<div class="levBom"></div>
	<div class="levW">
		<div class="levW_word">
			<p>2015年9月16日，<span>中国最大的在线英语教育品牌</span><strong>51Talk无忧英语</strong>在北京举行发布会，正式宣布签约中国著名网球运动员李娜作为公司代言人。发布会上，51Talk无忧英语创始人、CEO黄佳佳在讲话中表示，在线英语学习4.0时代已经来临，51Talk无忧英语将致力于通过互联网+英语学习的模式，实现以用户为中心，让用户可以轻松享有随时随地的一对一定制化外教教学，让每个人都有能力对话世界。产后首次亮相的网坛一姐李娜表示：“复出后首次亮相所以会选择51Talk无忧英语签约仪式，正是被公司的愿景所感动，随时随地的1对1真人英语教学对英语学习非常重要，我想未来我不仅会自己用，更希望把它推荐给更多人。”</p>
			<p>此次签约51Talk无忧英语代言人发布会，是李娜产后首次公开亮相。对于代言人身份，李娜表示实至名归，不仅自己亲自体验51Talk无忧英语的课程，还坦言已向朋友推荐。“学英语必须得有语言环境，我的英语学习和常年在国外训练、比赛密不可分，51Talk无忧英语全英文一对一的教学模式某种程度上和我的私教是一样的效果，能够营造一种沉浸式的学习氛围。我觉得这是英语学习最有效的方法。”</p>
		</div>
	</div>
	<div class="levBlue">
		<div class="levB_word">
			<div class="levB_mix">
				<h3>英语学习4.0时代<span>外教1对1成标配</span></h3>
				<p>51Talk无忧英语创始人兼CEO黄佳佳将英语学习分为四个时代，1.0时代是从“帝国主义语言”到“第一外语”，国内首次设置英语课程；2.0时代是传统应试时代，学英语的主要目的是通过考试，“注音学英语”、“哑巴英语”随处可见；3.0时代，各类英语培训机构多元涌现，学习方法也层出不穷，但是英语学习高价低频，投入多收效低；4.0时代是“互联网+英语”学习时代，英语学习目标更加多元，效能大幅提高。</p>
				<p>黄佳佳认为，目前已经进入英语学习4.0时代。互联网的兴起使每个人拥有的学习资源空前丰富，教育资源得以更好地流通。在英语学习4.0时代，外教一对一将是英语学习的标配，每个人插上耳机和话筒，便能对话世界。同时，互联网场景下得以实现随时随地学习，并且因材施教成为可能。他表示，51Talk无忧英语便是英语学习4.0时代下应运而生的全新英语学习模式。</p>
			</div>
		</div>
	</div>
	<div class="levBlue levC">
		<div class="levB_word">
			<div class="levB_mix">
				<h3>51Talk先进理念模式领航在线英语学习</h3>
				<p>联合创始人兼COO张礼明认为，传统学校和书本教育，包括线下教育机构转型推出的慕课平台，都有很多值得诟病的地方，很难实现互动教学和按需定制，随着时代的发展，这些劣势会越来越显现，而真人在线学习成为传统英语学习转型的大势所趋。</p>
				<p>据介绍，51Talk无忧英语有效借助互联网、移动互联网科技，率先实现真人外教1对1教学，给学员提供一种沉浸式的学习氛围，让英语能力在交流和运用中耳濡目染地提升。同时51Talk无忧英语打破了传统英语学习的时空限制，从清晨6点到深夜24点，提前半小时预约，有网络便能上课，让人能够充分利用碎片化时间随时随地学英语。</p>
				<p>从创始之初便开始关注51Talk无忧英语的前新东方创始人徐小平，以天使投资人的身份出席发布会，谈到这些年来对51Talk无忧英语成长的见证，他认为自己很有眼光，51Talk无忧英语正是代表了未来英语学习的方向。</p>
				<p>教育专家龚亚夫认为，51Talk无忧英语是互联网时代在线英语教育的领航者和楷模，打破了时间和空间对于学习的局限，真正做到让学习“无时不在”，这就是未来英语学习应有的样子，让他看到了英语学习的希望。</p>
				<p>黄佳佳表示，李娜是中国人走向世界的杰出代表，很荣幸邀请李娜作为代言人。此次与李娜签约，是51Talk无忧英语全新起航的征程，在互联网+的时代，51Talk无忧英语将为大家提供一种全新的英语学习体验。</p>	
			</div>
		</div>
	</div>
	<div class="levBlue levH">
		<div class="levB_word">
			<div class="levB_mix">
				<h3>关于51Talk无忧英语</h3>
				<p>51Talk无忧英语（www.51Talk.com），是中国学员最多，外教最多的在线英语教育品牌，主要提供高性价比的，外教1对1的在线英语培训服务。成立于2011年，总部位于北京，在菲律宾、上海设有分公司。51Talk无忧英语注册用户数量超过200万，付费用户超过5万人，外教老师4000余人，员工近6000名。曾先后获得徐小平的真格基金和雷军旗下的顺为基金的投资。2014年10月，又获得红杉资本领投的5500美元C轮融资，成为红杉在在线教育领域的第一单。</p>
			</div>
		</div>
	</div>
</div>
<% include ../common/uc_footer.ejs %>
</body>
<% include ../common/teen_bottom.ejs %>