
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/sell2/sell2.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="sell2" class="sell2">
      <section class="customize">
        <header class="c-header"><a href="javascript:;" class="touch-area"><em class="arr"></em></a>选择上课班级</header>
        <section class="day-select">
          <ul class="new-day-tap">
            <li data-lesson_start_week='6' class="active">周六</li>
            <li data-lesson_start_week='7'>周日</li>
          </ul>
          <!--span.day-tit 周六-->
          <!--i.icon-->
          <ul style="display:none" class="day-tap">
          </ul>
        </section>
        <section class="classes-list">
          <section class="part-item">
            <section class="grey_line"><span class="left_line"></span><span class="item-time">10:00</span><span class="right_line"></span></section>
            <ul class="item-list">
              <li class="hot"> 
                <p class="item-t-tit">小学三年级秋季口语集训A班2</p>
              </li>
              <li class="quota">
                <p class="item-t-tit">小学三年级秋季口语集训A班3</p>
              </li>
              <li> 
                <p class="item-t-tit">小学三年级秋季口语集训A班3</p>
              </li>
            </ul>
          </section>
          <section class="part-item">
            <section class="grey_line"><span class="left_line"></span><span class="item-time">10:00</span><span class="right_line"></span></section>
            <ul class="item-list">
              <li class="hot"> 
                <p class="item-t-tit">小学三年级秋季口语集训A班2</p>
              </li>
              <li class="quota">
                <p class="item-t-tit">小学三年级秋季口语集训A班3</p>
              </li>
              <li> 
                <p class="item-t-tit">小学三年级秋季口语集训A班3</p>
              </li>
            </ul>
          </section>
        </section>
        <section style="display:none" id="finish" class="full">
          <h3 class="full-tit">班级名额已满</h3>
          <p class="full-text">请更换条件筛选班级</p>
        </section>
      </section>
      <form action="" id="formFinish" style="display:none" method="post">
        <input type="hidden" id="prop_class" value=""/>
      </form>
      <footer class="footer"> <a href="javascript:;" class="sign">完成</a></footer>
      <section class="dialog">
        <section class="dialog-cont">
          <h3>系统通知</h3>
          <section class="dialog-inner">
            <p class="info">此商品为特惠商品，仅限新用户购买此商品为特惠商品，仅限新用户购买此商品为特惠商品，仅限新用户购买</p>
            <p class="know"> <a>知道了</a></p>
          </section>
        </section>
      </section>
    </div>
    <script src="/js/wap/project/sell2/vendor.js" id="seajsnode"></script>
  </body>
</html>