
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/sell2/sell2.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="sell2" class="sell2">
    </div>
    <script src="/js/wap/project/sell2/vendor.js" id="seajsnode"></script>
  </body>
</html>