
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/sell2/sell2.css" rel="stylesheet" type="text/css"/>
    <link href="/css/wap/sell2/syllabus.css" rel="stylesheet" type="text/css"/>
  </head>
  <body><img src="/images/wap/sell2/img_13.jpg" alt="" class="share-img"/>
    <div class="syllabus-box">
      <div class="banner-box"><img src="/images/wap/sell2/img_12.jpg" alt=""/></div>
      <div class="tit-box">
        <tit class="2 11Level1-b1">一对一精英托管特价班</tit>
      </div>
      <div class="main-box">
        <div class="content">
          <h2> <span class="icon-p"></span><span class="tit-text">课程介绍</span></h2>
          <div class="des">24次中教课（每次课50min）+72次外教1对1（每次课25min），外教次卡将在第一次中教课后到账。</div><img src="/images/wap/sell2/img_10.png" alt="" class="img-box"/>
        </div>
        <div class="content">
          <h2> <span class="icon-p"></span><span class="tit-text">课程特色</span></h2>
          <div class="des">51Talk独创1+3上课模式：1次中教串讲，梳理知识打基础，3次外教1对1，强化听说提能力！超前学习，让孩子英语领先在起跑线上！</div>
        </div>
        <div class="content">
          <h2> <span class="icon-p"></span><span class="tit-text">课程内容</span></h2>
          <div class="des">本次课程以美音为主，从词的发音、句子发音规则、句子节奏、语音语调四大发音痛点入手，逐点改正发音问题。掌握英语口语的各种发音现象，经过练习后，能够轻松、流利、地道地改善自己的口语水平。</div>
        </div>
        <div class="content">
          <h2> <span class="icon-p"></span><span class="tit-text">上课周期</span></h2>
          <div class="des"> 
            <p>02月01日-07月20日</p>
            <p>中教课每周六 11:00-12:00………………… 陈晓佩</p>
            <p>外教课每周三次……………………………自由预约</p>
          </div>
        </div>
        <div class="content teacher-des">
          <h2> <span class="icon-p"></span><span class="tit-text">老师介绍</span></h2>
          <div class="des clearfix"> 
            <div class="left-b"><img src="/images/wap/sell2/img_11.png" alt=""/>
              <div class="t-name">陈晓佩</div>
            </div>
            <div class="right-b">国际贸易专业，英语专业八级，法语EPFC3级，三年教学经验，擅长课程：CEJ 复习课，雅思听力，新概念1-2，自然拼读，商务英语。游学欧洲2年，热爱英语教育工作。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pay-box">
      <div class="pay-price"> 
        <div class="n-price">¥ 2050元</div>
        <div class="o-price-b"> 
          <div class="o-price o-price-only"> <span></span>原价3800元</div>
          <div>仅剩10个名额</div>
        </div>
      </div>
      <!--a.pay-btn(href="javascript:;") 立即购买--><a href="javascript:;" class="pay-btn grey-btn">售罄</a>
    </div>
    <script src="/js/wap/project/sell2/vendor.js" id="seajsnode"></script>
  </body>
</html>