<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/1v1_pay_course.css">
</head>
<body data-init="1v1_pay_course" class="pay_course_1v1">
    <div class="course-top"><img src="/images/wap/b2s/1v1-pay-course-02.png"></div>
    <div class="course-tit"><span>购买课程服务</span></div>
    <ul class="course-items">
        <li>
            <div class="course-item-top course-item-bg1">
                <div class="item-top-tit">外教VIP精品课</div>
                <div class="item-top-introduce">拓展学校课堂知识  1对20外教小班授课</div>
                <div class="item-top-prompt cfix">
                    <span class="fl icon1">仅剩8次课程就没课了！</span>
                    <span class="fr">共32节课   1节/周</span>
                </div>
            </div>
            <div class="course-item-bottom cfix">
                <a href="#"></a>
                <div class="course-item-bottom-l fl"><span class="font0">¥298</span><span class="font1">/年</span><span class="font2">原价 ¥500</span></div>
                <div class="course-item-bottom-r fr"><span class="font6">立即续报</span></div>
            </div>
        </li>
        <li>
            <div class="course-item-top course-item-bg2">
                <div class="item-top-tit">专属外教1对1课</div>
                <div class="item-top-introduce">量身定制教材  1对1外教全程互动授课</div>
                <!-- <div class="item-top-prompt cfix">
                    <span class="fl font1 icon2">仅剩3次课就用完了！</span>
                    <span class="fr font1">15节课/月  随时约课</span>
                </div> -->
                <div class="item-top-prompt4 js_valuePack">本期招生未开始，招生开始前我们将及时通知，感谢您的耐心。</div>
                <div class="countDown-wrap js_countDown_wrap">
                    <p class="countDown js_countDown js_sell_pay1_t" unknownPrice="148" salePrice="148" systime="1494661853" startTime="1494661863" endTime="1494661873">距离<i class="js_startendtext">结束</i>仅剩<em class="js_dayShow"><i class="js_day">0</i>天</em> <span class="countDown-box js_hour">00</span>：<span class="countDown-box js_minute">00</span>：<span class="countDown-box js_second">00</span></p>
                </div>
            </div>
            <div class="course-item-bottom cfix">
                <a href="#"></a>
                <div class="course-item-bottom-l2 fl"><span class="font4">¥<i class="js_price">298</i></span><span class="font1-1">/年</span><span class="font2">原价 ¥500</span><br><span class="font5">¥498/月 VIP价</span></div>
                <!-- <div class="course-item-bottom-r fr"><span class="font7 js_countDown_btn1">立即续报</span></div> -->
                <div class="course-item-bottom-r2 fr">4节/周</div>
            </div>
        </li>
    </ul>
    <div class="course-bottom">
        <div class="course-bottom-in"><img src="/images/wap/b2s/1v1-pay-course-03.png"></div>
    </div>


<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>