<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/1v1_choose_class.css">
</head>
<body data-init="" class="choose_class">
<div class="top_message">
    <img src="/images/wap/b2s/choose-class-1.jpg">
    <div class="class_mes">
        <!-- <p class="mes_tit_1">中教预习班课 <span>3课次</span> <br/>剩余外教1对1课 <span>10课次</span></p>
        <p class="mes_tit_2">第一节上课时间：<span>本周六19:00</span> <br/>有效期<span>30天</span>至 <span>2017年12月13日</span></p> -->
        <p class="mes_tit_3">中教预习班课<span>3课次</span>剩   &nbsp;余外教1对1课 <span>10</span>课次</p>
    </div>
    
   <!--  <p class="mes_tit_2">中教辅导课 <span>3课次</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>本周六19点</span></p> -->
</div>
<div class="to_class_content">
    <div class="class_step_before">
        <div class="right_step_1">
            <p class="text_intro">中教老师每周固定时间开课，辅导孩子英语学习，陪伴孩子在51Talk的每时每刻。</p>
            <a href="javascript:;" class="choose_class_one">选择中教预习班</a>
        </div>
        <div class="right_step_2">
            <p class="text_intro">选班完成后，识别班级群二维码，加入班级群，中教老师随时提供服务。</p>
        </div>
        <div class="right_step_3">
            <p class="text_intro">下载客户端，登录孩子上课账号，预约课程按时出席。</p>
        </div>
        <a href="" class="choose_class_btn">下载"51Talk无忧英语"预约课程</a>
    </div>
    <div class="class_step_after">
        <div class="right_step_1">
            <p class="text_intro">每周末一节课，上课周期：</p>
            <p class="text_intro_time">2017年2月12日至1017年2月22日</p>
            <p class="text_intro text_top">中教开课后，您将有6节外教1对1课次，孩子先上好中教预习课，再上外教1对1课效果更好，不要缺席迟到哦！</p>
        </div>
        <div class="right_step_2">
            <p class="text_intro">选班完成后，识别班级群二维码，加入班级群，中教老师随时提供服务。</p>
            <div class="code_box">
                <img src="/images/wap/b2s/load_app.png">
            </div>
            <p class="intro_last_code">手机扫码选择中教预习班</p>
        </div>
        <div class="right_step_3">
            <p class="text_intro">下载客户端，登录孩子上课账号，预约课程按时出席。</p>
        </div>
        <a href="" class="choose_class_btn">下载"51Talk无忧英语"预约课程</a>
    </div>
</div>
<!-- about_class_app -->
<div class="about_class">
    <p class="about_text_1">服务小贴士</p>
    <p class="text_title">关于软件</p>
    <p class="text_mes_show">电脑端上课软件AC可以上所有课程，屏幕更大，体验更好，推荐用AC上课</p>
    <p class="text_mes_show">手机客户端“51Talk无忧英语”可以完成1对1外教课的预约和上课，中教课上课</p>
    <p class="text_mes_show">手机客户端“无忧课堂”可以直接上课1对20的精品课和无忧课堂外教课</p>
    <div class="code_box">
        <img src="/images/wap/b2s/load_app.png">
    </div>
    <p class="intro_last_code">手机扫码下载“51Talk无忧英语”</p>
    <p class="text_title">关于课程</p>
    <p class="text_mes_show">外教1对1课程需要家长自主预约，<a href="">点击查看</a>约课流程</p>
    <p class="text_mes_show">外教专属1对1课程预约请提前30分钟，取消课程请提前1个小时</p>
    <p class="text_mes_show">中教预习课每周固定时间上课，如缺席上课，可提前在微信服务群与老师联系，由老师录制视频，课后视频学习。</p>
    <p class="text_title">关于服务</p>
    <p class="text_mes_show">1对1外教全程托管班，中外教课程不能单独退费，并只可在上课前申请退费。</p>
    <p class="text_mes_show">如有问题请咨询服务微信号：Cy51talk123 客服电话：4006635151</p>
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>