<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/1v1_pay_course.css">
</head>
<body data-init="" class="pay_course_1v1">
    <div class="course-top"><img src="/images/wap/b2s/1v1-pay-course-02.png"></div>
    <div class="course-tit"><span>购买课程服务</span></div>
    <ul class="course-items">
        <li>
            <div class="course-item-top course-item-bg1 icon-bg-01">
                <div class="item-top-tit">外教VIP精品课</div>
                <div class="item-top-prompt2">剩余30节课 每周二19：30上课</div>
            </div>
            <div class="course-item-bottom2 icon-color1"><a href="#"></a>查看特权</div>
        </li>
        <li>
            <div class="course-item-top course-item-bg2  icon-bg-02">
                <div class="item-top-tit">专属外教1对1课</div>
                <div class="item-top-prompt3">剩余 <span>8次</span> 课次  有效期至 <span>2017年2月3日</span></div>
            </div>
            <div class="course-item-bottom2 icon-color2"><a href="#"></a>去约课</div>
        </li>
    </ul>
    <div class="course-bottom">
        <div class="course-bottom-in"><img src="/images/wap/b2s/1v1-pay-course-03.png"></div>
    </div>


<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>