<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/1v1_payed_introduce.css">
</head>
<body data-init="" class="payed_1v1">


<div class="top_message">
    <p class="mes_tit_1">您已成功支付外教专属1对1课</p>
    <p class="mes_tit_2">剩余次卡 <span>10次</span></p>
    <p class="mes_tit_2">有效期1个月至 <span>2016年12月13日</span></p>
    <P class="mes_tit_3">立即开启外教1对1学习之旅吧！</P>
</div>
<div class="to_class_content">
    <p class="test_title"></p>
    <p class="test_text">外教老师将根据孩子上课表现和基础情况，从发音、语法、词汇、流利度和听力理解等不同维度评测孩子英语语言应用能力，纠正并扩展孩子课堂中遇到的问题，并给出合理学习建议。</p>
    <div class="class_step cfix">
        <p class="left_step_1_img"></p>
        <div class="right_step">
            <p class="title">第一步</p>
            <p class="text_intro">下载安装<a href="">“51Talk无忧英语”</a>手机客户端</p>
            <p class="intro_more">或电脑打开网站“www.51talk.com”</p>
            <p class="intro_last">登录上课账号</p>
            <p class="title">第二步</p>
            <p class="text_intro">选择上课日期和时间</p>
            <p class="intro_last">按照“无忧课堂”学员操作指南进行约课</p>
            <p class="title">第三步</p>
            <p class="text_intro">选择上课方式为电脑端AC上课</p>
            <p class="intro_last">AC课堂屏幕更大、互动更强、体验更好</p>
        </div>
    </div>
    <div class="class_step cfix">
        <p class="left_step_2_img"></p>
        <div class="right_step">
            <p class="text_intro">按照上课时间   准时出席</p>
            <p class="intro_more">用孩子上课账号登录电脑端上课软件AC</p>
            <p class="intro_last">进入1对1教室上课</p>
        </div>
    </div>
    <div class="class_step cfix">
        <p class="left_step_3_img"></p>
        <div class="right_step">
            <p class="text_intro">课程结束24小时内查看测试报告</p>
            <p class="intro_more">登录网站“www.51Talk.com”查看报告</p>
            <p class="intro_more">登录手机客户端“51Tallk无忧英语”查看</p>
            <p class="intro_last">报告</p>
        </div>
    </div>
    <div class="load_app">
        <a href="#"></a>
        <p>下载"51Talk无忧英语"手机客户端</p>
    </div>
</div>
<div class="step_all">
   <div class="cfix step_all_test">
        <div>登录上课账号</div>
        <div>
            <p>选老师</p>
            <p>选时间</p>
            <p>选教材</p>
        </div>
        <div>
            <p>按时出席课程</p>
            <p>课前1小时可以取消</p>
        </div>
   </div>
   <P class="back_class">1对1课程退费，按剩余课程节数乘以单节课实际支付价格计算金额。</P> 
</div>
<!-- about_class_app -->
<div class="about_class about_class_app">
    <p class="about_text_1">关于上课，这些事</p>
    <p class="about_text_2">必须记住，必须记住，必须记住！</p>
    <div class="text_box"><span>强烈建议 </span>使用 电脑AC端上课，屏幕更大、互动更强、体验更好。</div>
    <div class="text_box_load">
        <p class="text_p">手机客户端<span>“51Talk无忧英语”</span>仅支持1对1课程预约和上课。</p>
        <p class="load_talk"><a href=""></a>下载"51Talk无忧英语"</p>
    </div>
    <div class="text_box_load">
        <p class="text_p">手机客户端<span>“无忧课堂”</span>仅支持1对20课程查询和
上课。</p>
        <p class="load_class"><a href=""></a>下载"无忧课堂"</p>
    </div>
    <div class="tips_text">
        <p>服务小贴士：</p>
        <p>课程预约请提前30分钟，取消课程请提前1小时
如有退费，金额将按照剩余课量乘以购买时单节课程价格返还
更多问题请拨打客服电话4006635151</p>
    </div>
</div>
<div class="load_chose_class_null"></div>
<div class="load_chose_class">
    <a href="#"></a>
    <p>下载"51Talk无忧英语"预约课程</p>
</div>


<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>