<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/1v3_payed_introduce.css">
</head>
<body data-init="" class="payed_1v3">


<div class="top_message">
    <!-- <p class="mes_tit_1">您已成功支付外教专属1对1课</p> -->
    <p class="mes_tit_1">您已成功支付1对1外教全程托管班</p>
    <ul class="mes-con cfix">
        <li>剩余1对1外教课<span class="font1">10课次</span></li>
        <li>有效期<span class="font1">30天</span>至<span class="font1">2016年12月13日</span></li>
        <!-- <li>中教辅导课<span class="font1">3课次</span></li> -->
        <li>中教预习课<span class="font1">3课次</span></li>
        <li>请尽快选班</li>
        <li><span class="font1">本周六19:00</span></li>
    </ul>
</div>
<div class="inTeaching">
    <div class="inTeaching-tit">中教预习班</div>
    <div class="inTeaching-text">中教老师辅导孩子学习，全程托管学习无忧，快来班吧</div>
    <div class="inTeaching-btn"><a href="#"></a>选择中教辅导班</div>
    <ul class="inTeaching-QA">
        <li>
            <h3>定时开班，提供英语学习答疑</h3>
            <p>每周固定时间开课，辅导英语学习，保障上课质量。</p>
        </li>
        <li>
            <h3>诊断测评，辅导长远学习规划</h3>
            <p>根据孩子学习阶段和英语水平，提供学习报告，针对分析制定提高方案。</p>
        </li>
        <li>
            <h3>约课指导，帮助家长熟练使用1对1课程学习体系</h3>
            <p>中教辅导班老师将在课堂和微信服务群，详细引导家长和孩子预约1对1外教课，并提醒上课注意事项。</p>
        </li>
    </ul>
    <p class="inTeaching-other">您也可以按照以下流程自主为孩子约1对1外教课：</p>
</div>
<div class="inTeaching">
    <div class="inTeaching-tit">中教预习班</div>
    <div class="inTeaching-text">每周中教预习课都将在固定时间开课，对学员和家长进行课程预习，以保障外教上课质量<br>您已选择中教辅导班，请准时出席课程，<span class="font1">本周六19：00</span><br>上课周期：2015年12月17日至2017年12月18日</div>
    <div class="inTeaching-QRcode"><img src="/images/wap/b2s/share-scan-code.jpg" alt=""></div>
    <div class="inTeaching-QRcode-prompt"><span class="font1">长按并“识别二维码”进入微信服务群</span><br><span class="font2">出现任何问题请咨询微信号：2322509</span>
    </div>
    <p class="inTeaching-other">您也可以按照以下流程自主为孩子约1对1外教课：</p>
</div>
<div class="foreignTeachers">
    <div class="foreignTeachers-tit">1对1外教课约课流程</div>
    <dl class="foreignTeachers-step cfix">
        <dt><img src="/images/wap/b2s/1v3_payed_intro-05.png" alt=""></dt>
        <dd>
            <h3>下载安装“51Talk无忧英语”手机客户端</h3>
            <p>或电脑打开网站“www.51talk.com”登录上课账号</p>
        </dd>
    </dl>
    <dl class="foreignTeachers-step cfix">
        <dt><img src="/images/wap/b2s/1v3_payed_intro-06.png" alt=""></dt>
        <dd>
            <h3>选择上课日期和时间</h3>
            <p>根据孩子的时间自主预约</p>
            <h3>选择上课方式为电脑端AC上课</h3>
            <p>AC课堂屏幕更大、互动更强、体验更好</p>
        </dd>
    </dl>
    <dl class="foreignTeachers-step cfix">
        <dt><img src="/images/wap/b2s/1v3_payed_intro-07.png" alt=""></dt>
        <dd>
            <h3>按照上课时间   准时出席</h3>
            <p>用孩子上课账号登录电脑端上课软件AC，进入1对1 教室上课</p>
        </dd>
    </dl>
    <div class="foreignTeachers-btn"><a href="#"></a>下载“51Talk无忧英语”手机客户端</div>
</div>
<div class="download">
    <div class="download-tit"><span class="font1">强烈建议使用电脑AC端上课</span>，屏幕更大、互动更强，体验更好</div>
    <div class="text_box_load">
        <p class="text_p">手机客户端<span>“51Talk无忧英语”</span>仅支持1对1课程预约和上课。</p>
        <p class="load_talk"><a href=""></a>下载"51Talk无忧英语"</p>
    </div>
    <div class="text_box_load">
        <p class="text_p">手机客户端<span>“无忧课堂”</span>仅支持1对20课程查询和上课，中教预习课预约和查询。</p>
        <p class="load_class"><a href=""></a>下载"无忧课堂"</p>
    </div>
    <div class="download-prompt">中教预习课还可以通过服务号“51Talk中小学英语”或电脑登陆www.51kt.com预约并查看上课情况。</div>
</div>
<div class="service-prompt">
    <div class="service-prompt-tit">服务小贴士</div>
    <ul class="service-prompt-items">
        <li>1对1外教课预约请提前30分钟，取消课程请提前1小时。</li>
        <li>中教预习课每周固定时间上课，如缺席上课，可提前在微信服务群与老师联系，由老师录制视频，课后视频学习。</li>
        <li>1对1全程托管班，中外教课程不能单独退费,并只可在上课前申请退费。</li>
        <li>如有问题请咨询服务微信号：2322509</li>
    </ul>
</div>

<div class="load_chose_class_null"></div>
<div class="load_chose_class">
    <a href="#"></a>
    <p>下载"51Talk无忧英语"预约课程</p>
</div>


<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>