<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/1v4_choose_class2.css">
</head>
<body data-init="" class="choose_class">
<div class="top_message">
    <p class="font1">1对4美教全程托管班半年包，购买成功</p>
    <ul class="surplus-class cfix">
        <li>中教预习课<span class="font3">2课次</span></li>
        <li>上课时间<span class="font3">周六 19:00</span></li>
        <li>剩余美教1对4课<span class="font3">4课次</span></li>
        <li>上课时间<span class="font3">周一/周三 19:00</span></li>
    </ul>
</div>
<div class="class_arrange" id="courseArrangement">
    <table class="">
        <thead>
            <tr>
                <th colspan="2"><span class="class_arrange_tit">课程安排 (未来2周)</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">1</span>中教预习课 第1节</h3>
                        <p class="font">4月1日 10:00-10:50</p>
                        <p class="font">课程内容： 预习外教课1-3节内容</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">2</span>美教1对4班课 第1节</h3>
                        <p class="font">4月1日 10:00-10:50</p>
                        <p class="font">课程内容： 预习外教课1-3节内容</p>
                    </div>
                </td>
                <td class="avris" rowspan="2">中教全程微信群辅导</td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">3</span>美教1对4班课 第2节</h3>
                        <p class="font">4月1日 10:00-10:50</p>
                        <p class="font">课程内容： 预习外教课1-3节内容</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">4</span>中教预习课 第2节</h3>
                        <p class="font">4月1日 10:00-10:50</p>
                        <p class="font">课程内容： 预习外教课1-3节内容</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">5</span>美教1对4班课 第3节</h3>
                        <p class="font">4月1日 10:00-10:50</p>
                        <p class="font">课程内容： 预习外教课1-3节内容</p>
                    </div>
                </td>
                <td class="avris" rowspan="2">中教全程微信群辅导</td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">6</span>美教1对4班课 第4节</h3>
                        <p class="font">4月1日 10:00-10:50</p>
                        <p class="font">课程内容： 预习外教课1-3节内容</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- about_class_app -->
<div class="about_class">
    <p class="about_text_1">服务小贴士</p>
    <p class="text_title">关于软件</p>
    <p class="text_mes_show">目前只能在电脑端上课软件AC完成上课，电脑端软件屏幕大，体验好</p>
    <p class="text_mes_show">手机客户端“无忧课堂”暂不支持该课程，升级支持后，我们会第一时间通知您</p>
    <p class="text_title">关于课程</p>
    <p class="text_mes_show">课程将持续两周，包含2次中教课+4次美教课，采取“1+2”的授课模式，固定老师、同学和时间</p>
    <p class="text_mes_show">中教课45分钟/节，每周一节1对12班课，对美教课的重难点进行串讲，起到复习跟预习的作用</p>
    <p class="text_mes_show">中教课无需每次预约，付费后选定上课时间，准时上课即可，中教老师开班前也会在班课群中提前通知上课时间</p>
    <p class="text_mes_show">美教课45分钟/节，每周2节1对4班课，课前对孩子英语水平进行专业测试，保证水平相近的孩子进入同一班级</p>
    <p class="text_title">关于服务</p>
    <p class="text_mes_show">美教1对4全程托管班，中美教课程不能单独退费，并只可在上课前申请退费</p>
    <p class="text_mes_show">调整上课时间或班级，请假缺席均可联系中教老师解决</p>
    <p class="text_mes_show">如有问题请咨询客服电话：4006635151</p>
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>