<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="formCommon" version="20160305">
	<div class="main-wrap login-wrap">
		<div class="form-wrap reg-step1 input-stu">
			<form action="#" autocomplete="off" rel="from">
				<p class="input-stu-tip">请输入学生姓名</p>
				<dl class="cfix">
					<dt></dt>
					<dd>
						<input type="text" rel="stuname" class="input-t-style" placeholder="学生姓名" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<p class="input-prompt">注意：如果不知道邀请码，请联系学生的老师。</p>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="下一步" />
				</div>
			</form>
		</div>
		<p class="to_login">我已激活, <a href="#">去登录&gt;</a></p>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>