<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="info-wrap agent-info">
		<h4 class="agent-info-tit">王大雷</h4>
		<div class="agent-info-head">
			<dl class="cfix">
				<dt>我的学校：</dt>
				<dd>11所</dd>
			</dl>
			<dl class="cfix">
				<dt>我的老师：</dt>
				<dd>48人</dd>
			</dl>
			<dl class="cfix">
				<dt>创建班级：</dt>
				<dd>48个</dd>
			</dl>
			<dl class="cfix">
				<dt>注册学生数：</dt>
				<dd>1289人</dd>
			</dl>
			<dl class="cfix">
				<dt>付费学生数：</dt>
				<dd>120000人</dd>
			</dl>
			<div class="edit-btn">
				<a href="agent_editpassword.html">修改密码</a>
			</div>
		</div>
		<h4 class="agent-my-school">我的学校</h4>
		<div class="agent-school-list">
			<ul>
				<li class="school-list-li">
					<a href="agent_school.html"></a>
					<h6>109中心小学</h6>
					<ul class="school-info">
						<li>
							<p>班级：20</p>
							<p>未激活数：2000</p>
						</li>
						<li>
							<p>总学生数：2300</p>
							<p>已付费数：1500</p>
						</li>						
					</ul>
					<span class="r-arr"></span>
				</li>
				<li class="school-list-li">
					<a href="agent_school.html"></a>
					<h6>109中心小学</h6>
					<ul class="school-info">
						<li>
							<p>班级：20</p>
							<p>未激活数：2000</p>
						</li>
						<li>
							<p>总学生数：2300</p>
							<p>已付费数：1500</p>
						</li>						
					</ul>
					<span class="r-arr"></span>
				</li>
			</ul>
		</div>
		<div class="agent-no-school">您当前没有学校</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>