<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="courseScheduling-inform-wrap">
		<div class="courseScheduling-top">
			<div class="courseScheduling-tit">可申请排入门课班级</div>
			<div class="courseScheduling-time">
				<span>2016-09-22</span>
				<span>51Talk无忧英语</span>
			</div>
		</div>
		<div class="courseScheduling-text">昨日累计激活达到入门课开课条件的班级共有<span>56</span>个，涉及<span>22</span>所学校，<span>10</span>个年级。请代理商尽快协调上课时间并联系城市经理申请排课，如在此信息下发48小时内未申请排课，51Talk将会协助处理。</div>
		<div class="courseScheduling-con">班级详情如下：</div>
		<ul class="courseScheduling-items">
			<li>
				<dl>
					<dt>宿迁市泗洪县人民路小学</dt>
					<dd>
						<dl>
							<dt>三年级：100人</dt>
							<dd><span>一班</span><span>二班</span><span>三班</span><span>四班</span><span>五班</span><span>六班</span><span>七班</span><span>八班</span><span>九班</span><span>十班</span><span>十一班</span><span>十二班</span></dd>
						</dl>
						<dl>
							<dt>五年级：20人</dt>
							<dd><span>一班</span><span>二班</span><span>三班</span><span>四班</span><span>五班</span><span>六班</span><span>七班</span><span>八班</span></dd>
						</dl>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>公园巷小学</dt>
					<dd>
						<dl>
							<dt>三年级：100人</dt>
							<dd><span>一班</span><span>二班</span><span>三班</span><span>四班</span><span>五班</span><span>六班</span><span>七班</span><span>八班</span><span>九班</span><span>十班</span><span>十一班</span><span>十二班</span></dd>
						</dl>
						<dl>
							<dt>五年级：20人</dt>
							<dd><span>一班</span><span>二班</span><span>三班</span><span>四班</span><span>五班</span><span>六班</span><span>七班</span><span>八班</span></dd>
						</dl>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>