<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="agentTimetable2">
		<div class="agentTimetable-title">
			<span>8月15日&nbsp;&nbsp;19:00-19:30</span>
		</div>
		<ul class="agentTimetable-items">
			<li>
				<dl>
					<dt class="color1">课程ID:081519900XX<span>入门课</span></dt>
					<dd>
						<dl>
							<dt><span class="color1"></span>无忧英语小学</dt>
							<dd>一年级：<span class="font-color1">一班，二班，三班，四班</span></dd>
						</dl>
					</dd>
					<dd>
						<ul>
							<li>第1课《Three Blind mice》</li>
							<li><span class="font-color2">人数：</span><span class="font-color3">30</span><span class="font-color4">人</span></li>
						</ul>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt class="color2">课程ID:081519900XX<span>家长会</span></dt>
					<dd>
						<dl>
							<dt><span class="color1"></span>无忧英语小学</dt>
							<dd>一年级：<span class="font-color1">一班，二班，三班，四班</span></dd>
						</dl>
						<dl>
							<dt><span class="color1"></span>无忧英语小学</dt>
							<dd>一年级：<span class="font-color1">一班，二班，三班，四班</span></dd>
						</dl>
					</dd>
					<dd>
						<ul>
							<li>学术宣传家长会</li>
						</ul>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt class="color3">课程ID:081519900XX<span>精品课</span></dt>
					<dd>
						<dl>
							<dt class="disnone"></dt>
							<dd>一年级：<span class="font-color1">一班，二班，三班，四班</span></dd>
						</dl>
					</dd>
					<dd>
						<ul>
							<li>第1课《Three Blind mice》</li>
							<li><span class="font-color2">人数：</span><span class="font-color3">10</span><span class="font-color4">人/20人</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="font-color2">旁听：</span><span class="font-color4">20人</span></li>
						</ul>
					</dd>
				</dl>
			</li>
		</ul>
	</div>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>