<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body  data-init="agentTimetable">
	<div class="agentTimetable1">
		<div class="agentTimetable-title">
			<a class="day-before" href="javascript:void(0);">前一天</a>
			<div class="day-now">
				<label for="timeNow">当日课<span>2016-06-01</span></label>
				<input id="timeNow" type="date" value="2016-06-01"/>
			</div>
			<a class="day-after" href="javascript:void(0);">后一天</a>
		</div>
		<ul class="agentTimetable-time">
			<li class="select"><span>19:00</span><span>~</span><span>19:30</span></li>
			<li><span>19:30</span><span>~</span><span>20:00</span></li>
			<li><span>20:00</span><span>~</span><span>20:30</span></li>
			<li><span>20:30</span><span>~</span><span>21:00</span></li>
			<li><span>19:30</span><span>~</span><span>20:00</span></li>
			<li><span>20:00</span><span>~</span><span>20:30</span></li>
			<li><span>19:30</span><span>~</span><span>20:00</span></li>
			<li><span>20:00</span><span>~</span><span>20:30</span></li>
		</ul>
		<ul class="agentTimetable-items">
			<li>
				<img src="/images/wap/b2s/agentTimetable-01.jpg" alt="">
				<span></span>
				<p>共15节，25人<span>入门课</span></p>
			</li>
			<li>
				<img src="/images/wap/b2s/agentTimetable-02.jpg" alt="">
				<p>共15节<span>家长会</span></p>
			</li>
			<li>
				<img src="/images/wap/b2s/agentTimetable-03.jpg" alt="">
				<p>共15节，25人<span>精品课</span></p>
			</li>
		</ul>
	</div>


</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>