<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="delet_confirm">
	<div class="info-wrap agent-info agent-school">
		<h4 class="agent-info-tit cfix">
			<span class="fl">109中心小学</span>
			<a href="to_add_teacher.html" class="fr rightArrow">管理老师</a>
		</h4>
		<div class="agent-school-detail">
			<ul class="school-detail-list">
				<li class="detail-list-li">
					<h6>一年级
						<div class="posi">
							<span class="textbook-version-select confirm_select">
								<a href="javascript:void(0);">选择教材版本</a>
							</span>
							<!-- <span class="confirm_select_tops"><span class="close_select_confirm"></span></span> -->
							<img class="confirm_select_tops" src="/images/wap/b2s/confirm_select_tips1.png" />
						</div>
					</h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰<span class="no-active">（未激活13983782929）</span></p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
							<span class="a_delet"></span>
						</li>
						<li class="is-open">
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>2班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
							<span class="class-have">今天有课19:30</span>
							<span class="a_delet"></span>
						</li>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>25班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
				<li class="detail-list-li">
					<h6>一年级
						<div class="posi imgdisnone">
							<span class="textbook-version-select confirm_select comfirm_select_none">
								<a href="javascript:void(0);">选择教材版本</a>
							</span>
							<!-- <span class="confirm_select_tops"><span class="close_select_confirm"></span></span> -->
							<img class="confirm_select_tops" src="/images/wap/b2s/confirm_select_tips1.png" />
						</div>
					</h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰<span class="no-active">（未激活13983782929）</span></p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
							<span class="a_delet"></span>
						</li>
						<li class="is-open">
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>2班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
							<span class="class-have">今天有课19:30</span>
							<span class="a_delet"></span>
						</li>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>25班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
				<li class="detail-list-li">
					<h6>二年级<span class="textbook-version-change"><span>新版-牛津上海版牛津上海版牛津上海版牛津上海版牛津上海版</span><a href="javascript:void(0);">更换</a></span></h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>2班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
				<li class="detail-list-li">
					<h6>三年级</h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
				<li class="detail-list-li">
					<h6>四年级</h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
				<li class="detail-list-li">
					<h6>五年级</h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
				<li class="detail-list-li">
					<h6>六年级</h6>
					<ul>
						<li>
							<a href="to_add_student.html"></a>
							<span class="class-tag"><i></i><i></i>1班</span>
							<p>老师：张秀兰（13983782929）</p>
							<p>总学生数：40</p>
							<p>未激活数：33</p>
							<p>已付费数：15</p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="agent-no-class">您当前没有班级</div>
	</div>
	<!-- 搜索显示部分 -->
	<!-- <div class="search translateHide">
		<div class="search-back">返回</div>
		<div class="search-title">
			<div class="search-title-wrap">
				<input type="text" placeholder="搜索教材">
			</div>
		</div>
		<ul class="search-result">
			<li class="cfix">
				<div class="search-result-pic fl">新版</div>
				<dl class="fl">
					<dt>新版-北京版-一年级(下)</dt>
					<dd></dd>
				</dl>
			</li>
			<li class="cfix">
				<div class="search-result-pic fl">辽师大版</div>
				<dl class="fl">
					<dt>辽师大版-快乐英语(一年级)...</dt>
					<dd></dd>
				</dl>
			</li>
			<li class="cfix">
				<div class="search-result-pic fl">辽师大版</div>
				<dl class="fl">
					<dt>辽师大版-快乐英语(一年级)...</dt>
					<dd></dd>
				</dl>
			</li>
			<li class="cfix">
				<div class="search-result-pic fl">辽师大版</div>
				<dl class="fl">
					<dt>辽师大版-快乐英语(一年级)...</dt>
					<dd></dd>
				</dl>
			</li>
			<li class="cfix">
				<div class="search-result-pic fl">辽师大版</div>
				<dl class="fl">
					<dt>辽师大版-快乐英语(一年级)...</dt>
					<dd></dd>
				</dl>
			</li>
			<li class="cfix">
				<div class="search-result-pic fl">辽师大版</div>
				<dl class="fl">
					<dt>辽师大版-快乐英语(一年级)...</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<div class="search-fixed">
			<div class="search-fixed-wrap">
				<input class="search-fixed-text" type="text" placeholder="没找到教材，请输入">
				<input class="search-fixed-but" type="submit" value="确定">
			</div>
		</div>
	</div> -->
	<!-- <div class="select_confirm"></div> -->
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>