<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body  data-init="agentAccountSchool">
	<!-- 代理商 -->
	<div class="account-center-box account-school-agent agent-info">

		<div class="agent-school-search">
			<dl class="agent-search">
				<dt><input type="text" name="" id="search_school" placeholder="搜索学校名称"></dt>
				<dd class="agent-search-cancel">取消</dd>
			</dl>
		</div>
		<div class="agent-school-list">
			<ul>
				<li class="school-list-li">
					<a href="agent_school.html"></a>
					<h6>109中心小学</h6>
					<ul class="school-info">
						<li>
							<p>班级：20</p>
							<p>未激活数：2000</p>
						</li>
						<li>
							<p>总学生数：2300</p>
							<p>已付费数：1500</p>
						</li>
					</ul>
					<span class="r-arr"></span>
				</li>
				<li class="school-list-li">
					<a href="agent_school.html"></a>
					<h6>109中心小学</h6>
					<ul class="school-info">
						<li>
							<p>班级：20</p>
							<p>未激活数：2000</p>
						</li>
						<li>
							<p>总学生数：2300</p>
							<p>已付费数：1500</p>
						</li>
					</ul>
					<span class="r-arr"></span>
				</li>
			</ul>
		</div>
		<div class="agent-no-school">您当前没有学校</div>

	</div>


</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>