<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="app_problemDetails">
<!-- <link rel="stylesheet" type="text/css" href="/css/wap/b2s/"> -->
<div class="problemDetails-wrap">
	<div class="problemDetails-tit">上课听不到老师声音怎么办？</div>
	<div class="problemDetails-con">上课时间显示不正确可能是因为手机的时区设置错误造成的。如果您在中国，iPhone或iPad请将时区选择为“北京”，Android手机请将时区选择为“GMT+08:00 中国标准时间”，您也可以选择自动设置时区。<img src="/images/wap/b2s/app-problemDetails-01.png" /></div>
	<div class="problemDetails-btn">
		<ul id="js_solve">
			<li class="resolved"><span>已解决</span></li>
			<li class="unsolved"><span>未解决</span></li>
		</ul>
	</div>
	
</div>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>