<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
<!-- <link rel="stylesheet" type="text/css" href="/css/wap/b2s/"> -->
<div class="assignment-prompt-wrap">
	<div class="assignment-prompt-pic">
		<img src="/images/wap/b2s/app-assignment-6.png" />
	</div>
	<div class="assignment-prompt-text">
		完成微信作业分享至51Talk班级服务群，<br>跟同学互动，外教为大家点评
	</div>
	<div class="assignment-prompt-btn">
		<a href="javascript:void(0);">成为VIP，做微信作业</a>
	</div>
	<div class="assignment-prompt-bottom">
		13489031345 <a href="#">点击退出</a>
	</div>
</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>