<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_share2.css">
</head>
<body data-init="app_share" class="share-wrap" data-weixinopenid="9999999" data-ajaxurl="/wapnew/Forum/setLikeData" data-auth="http://s.51talk.com/" data-iswexin="1">
	<div class="share-hot">
		<ul class="share-hot-items">
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="/images/wap/b2s/app_share-03.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">23楼 2小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-audio js_audioBtn" data-src="http://duoshuosta.51talk.com/storage/forum/comment/20161208/b4f0c307c301e49372a50de268cdbfbe.aac" data-time="57">
					<div class="time">10''</div>
					<div class="blink"></div>
				</div>
				<div class="item-video js_videoBtn" data-src="/images/wap/b2s/1111.mp4" data-videow="0" data-videoh="0">
			    	<img src="/images/wap/b2s/app_share-10.jpg" alt="">
			    	<div class="video-icon"></div>
			    </div>
			    <div class="item-pic"><img src="/images/wap/b2s/app_share-05.png" alt=""></div>
			    <div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="501">-1</span>
			    </div>
			</li>
		</ul>
	</div>
	<div class="share-hot bg1">
		<ul class="share-hot-items">
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="/images/wap/b2s/app_share-04.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">2小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				
			</li>
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="/images/wap/b2s/app_share-03.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">5小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				
			</li>
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="/images/wap/b2s/app_share-04.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">1分钟前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
			</li>
		</ul>
	</div>
	<div class="share-other">
		<div class="share-other-tit"><span>英语咨询</span><span>活动福利</span><span>精彩配音</span></div>
		<div class="share-other-QRCode"><img src="/images/wap/b2s/app_share-21.png" alt=""></div>
		<p class="share-other-text">长按识别二维码<br>关注无忧课堂微信公众号</p>
	</div>
	<div class="share-btn">
		<div class="share-btn-in cfix">
			<div class="share-btn-l fl">
				<img src="/images/wap/b2s/app_share-22.png" alt="">
				<h3>无忧课堂</h3>
				<p>成绩无忧，家长无忧</p>
			</div>
			<div class="share-btn-r fr">
				<a href="#">下载</a>
			</div>
		</div>
	</div>

<div class="dialog disnone js_dialog">
	<div class="dialog-close">
		<video class="js_video" controls preload="auto" webkit-playsinline playsinline src="" ></video>
	</div>
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>