<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_marketing_2.css">
</head>
<body data-init="app_marketing_2" class="marketing-wrap">
    <div class="marketing-img">
        <img src="/images/wap/b2s/app_marketing_2-1.png">
    </div>
    <div class="marketing-patriarch">
        <div class="patriarch-tit"><img src="/images/wap/b2s/app_marketing_2-2.png"></div>
        <div class="patriarch-swiper">
            <div class="swiper-container swiper-container_1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-1">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing_2-5.png">
                        </div>
                        <ul class="intro_text">
                            <li><span>100%</span> 毕业于官方语言国家名牌大学</li>
                            <li><span>100%</span> 海内外5层审核，100小时专业培训</li>
                            <li><span>100%</span>掌握儿童心理学、少儿教学技巧</li>
                            <li><span>99%</span>课后学员好评率达到99%以上</li>
                        </ul>
                    </div>
                    <div class="swiper-slide swiper-slide-2">
                        <!-- <img src="/images/wap/b2s/1v1_pay_introduce-11.png"> -->
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing_2-6.png">
                        </div>
                        <p class="title_1">1对1纯外教</p>
                        <P class="title_2">100%关注一个孩子，给孩子最多的口<br/>语练习和自信表达的机会。</P>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="marketing-patriarch marketing-patriarch-center">
        <div class="patriarch-tit"><img src="/images/wap/b2s/app_marketing_2-3.png"></div>
        <div class="patriarch-swiper">
            <div class="swiper-container swiper-container_2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-2">
                        <!-- <img src="/images/wap/b2s/1v1_pay_introduce-11.png"> -->
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing_2-7.png">
                        </div>
                        <p class="title_1">1对1纯外教</p>
                        <P class="title_2">100%关注一个孩子，给孩子最多的口<br/>语练习和自信表达的机会。</P>
                    </div>
                    <div class="swiper-slide swiper-slide-2">
                        <!-- <img src="/images/wap/b2s/1v1_pay_introduce-11.png"> -->
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing_2-8.png">
                        </div>
                        <p class="title_1">1对1纯外教</p>
                        <P class="title_2">100%关注一个孩子，给孩子最多的口<br/>语练习和自信表达的机会。</P>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </div>
    <div class="marketing-patriarch">
        <div class="patriarch-tit"><img src="/images/wap/b2s/app_marketing_2-4.png"></div>
        <div class="patriarch-swiper">
            <div class="swiper-container swiper-container_3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-14.png">
                        </div>
                        <p class="font4">Jimmy的爸爸</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">学习1对1外教和中教课的两周里，我看到了孩子点滴积累起来的进步，从起初的胆怯害羞和没信心，到现在自信开朗积极发言，在心理上已经取得了理想的表现。表达上，也从单个单词到目前会短句回答，单词量也较之前更多了。51Talk 的课程效果远超我的期待，孩子也乐于学习，外教和中教老师都敬业又热心，服务很好，很关心孩子成长，感谢！</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-21.png">
                        </div>
                        <p class="font4">Sunny的妈妈</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">在1对1全程托管班上课的两周以来，感觉孩子最大的变化是，以前在说英语总是一个词一个词地蹦，现在在外教的引导下能够说完整的一句话。每节课时间不是很长，每次下课都好像没上够似的，课后认真完成作业，提升了学习兴趣，还纠正了英语发音。孩子爱上了学英语，每天都自信满满的。</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-19.png">
                        </div>
                        <p class="font4">Stacy的妈妈</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">之前带着孩子试过各种培训班，也试过把外教老师请家里来，三四百块钱一节课，45 分钟，有效也行啊，坚持不下来，基本没什么效果，找到合适的老师也不容易。后来报了1对1全程托管班，从开课到现在，我女儿每天非常准时自觉的去听课，很积极主动的和老师互动，课下积极完成作业，提升小朋友学习英语的兴趣和热情，发音越来越准确了，不用顶着雾霾出去上辅导班，家长孩子都觉得很轻松，很自由。</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-20.png">
                        </div>
                        <p class="font4">David的妈妈</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">孩子喜欢外教老师的细致认真、积极鼓励和幽默活泼，长时间下来跟很多外教交上了朋友，除上课的内容之外也常会跟老师交流心得、分享美食资讯、旅行心得、讲笑话和绕口令，把学习变成了快乐。除了外教课，还有中教老师的预习辅导课，打消了怕孩子听不懂的顾虑，同时又能更好的巩固外教课学到的知识，现在孩子学习英语真的是可以放心的托管了。</div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </div>
    <div class="marketing-btn">
        <div class="marketing-btn-in cfix js_apply">
            <p class="js_consult" data-isexist="0" data-userid="0">我要咨询课程顾问</p>
        </div>
    </div>
    <div class="dialog disnone js_dialog">
        <div class="dialog-con dialog-con1 disnone js_dialog_con js_dialog_con1">
            <div class="dialog-close js_dialog_close"></div>
            <div class="dialog-con-tit">描述您的期待，顾问详细解答</div>
            <div class="dialog-con-font1">您孩子的英语水平</div>
            <div class="dialog-con-select">
                <select name="AA" class="js_english_level">
                    <option value="0">请选择</option>
                    <option value="1">没学过英语</option>
                    <option value="2">会说简单单词</option>
                    <option value="3">能说完整句子</option>
                    <option value="4">能流利交流</option>
                </select>
            </div>
            <div class="dialog-con-font1">您让孩子学习英语的目的</div>
            <div class="dialog-con-select">
                <select name="BB" class="js_study_purpose">
                    <option value="0">请选择</option>
                    <option value="1">提高听说综合能力</option>
                    <option value="2">小升初考试</option>
                    <option value="3">出国留学</option>
                </select>
            </div>
            <div class="dialog-con-font1">您是否给孩子报名过其他英语辅导班</div>
            <div class="dialog-con-select">
                <select name="CC" class="js_is_attend">
                    <option value="0">请选择</option>
                    <option value="1">没报过</option>
                    <option value="2">报过中教英语学习班</option>
                    <option value="3">报过外教英语学习班</option>
                    <option value="4">对比过其他线上英语学习产品</option>
                </select>
            </div>
            <div class="dialog-con-btn dialog-con-btn1 js_select" data-activetype="usa" data-fromtype="app" data-ajaxurl="http://www.51talk.com">提交</div>
        </div>
        <div class="dialog-con dialog-con2 disnone js_dialog_con js_dialog_con2">
            <div class="dialog-close js_dialog_close"></div>
            <div class="dialog-con-tit">注册账号</div>
            <div class="dialog-con-font1 js_input_firstTop">手机号</div>
            <div class="dialog-con-input">
                <input type="text" class="js_telephone js_input" placeholder="请输入您的手机号">
            </div>
            <div class="dialog-con-font1">验证码</div>
            <div class="dialog-con-captcha">
                <!-- <span class="send-captcha js_send_captcha" data-captchaurl="http://www.51talk.com" send-type="2">发送验证码</span> -->
                <span class="send-cap"><input type="button" class="send-captcha js_send_captcha" data-captchaurl="http://www.51talk.com"  send-type="2" value="发送验证码"></span>
                <input type="text" class="js_captcha js_input" placeholder="请输入验证码">
            </div>
            <div class="dialog-con-font1">密码</div>
            <div class="dialog-con-input">
                <input type="password" class="js_password js_input" placeholder="设置密码">
            </div>
            <div class="dialog-con-btn dialog-con-btn2 js_register" data-ajaxurl="http://www.51talk.com">下一步</div>
            <div class="dialog-con-hint js_skip_register">已有帐号，马上登录</div>
        </div>
        <div class="dialog-con dialog-con3 disnone js_dialog_con js_dialog_con3">
            <div class="dialog-close js_dialog_close"></div>
            <div class="dialog-con-tit">登录账号</div>
            <div class="dialog-con-font1 js_input_firstTop">手机号</div>
            <div class="dialog-con-input">
                <input type="text" class="js_reg_telephone js_input" placeholder="请输入您的手机号">
            </div>
            <div class="dialog-con-font1">验证码</div>
            <div class="dialog-con-captcha">
                <!-- <span>发送验证码</span> -->
                <span class="send-cap"><input type="button" class="send-captcha js_reg_send_captcha" data-captchaurl="http://www.51talk.com" send-type2="2" value="发送验证码"></span>
                <input type="text" class="js_reg_captcha js_input" placeholder="请输入验证码">
            </div>
            <div class="dialog-con-btn dialog-con-btn3 js_reg" data-ajaxurl="http://www.51talk.com">下一步</div>
        </div>
        <div class="dialog-con4 disnone js_dialog_con js_dialog_con4">
            <div class="dialog-con4-close js_dialog_close"></div>
            <div class="dialog-con4-part">
                <div class="part-text">我们的课程顾问会在稍后电话联系您，请保持电话畅通，注意接听来自51Talk的电话。</div>
                <div class="part-img"><img src="/images/wap/b2s/app-serviceRecord-04.png" /></div>
            </div>
            <div class="dialog-con4-btn">
                <span class="js_dialog_close">我知道了</span>
            </div>
        </div>
    </div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>