<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="app-wrap app-bg1" data-init="appForm">
	<p class="app-reg2-t">北京109小学</p>
	<div class="app-container">
		<form action="" rel="form">
			<div class="app-reg-c">
				<ul class="app-input app-input-4">
					<li>
						<dl>
							<dt>年级</dt>
							<dd>
								<div class="ui-select" tabindex="-1">
									<p class="def-sel">请选择年级</p>
									<select rel="selgrade">
										<option value="">请选择年级</option>
										<option value="1">一年级</option>
										<option value="2">二年级</option>
										<option value="3">三年级</option>
									</select>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>班级</dt>
							<dd>
								<div class="ui-select" tabindex="-1">
									<p class="def-sel">请选择班级</p>
									<select rel="selclass">
										<option value="">请选择班级</option>
										<option value="1">一班</option>
										<option value="2">二班</option>
										<option value="3">三班</option>
									</select>
								</div>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>姓名</dt>
							<dd>
								<input type="text" placeholder="请输入您的姓名" class="app-input-t" rel="sname" />
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>手机</dt>
							<dd>
								<input type="tel" placeholder="请输入您的手机号码" class="app-input-t" maxlength="11" rel="sphone" />
							</dd>
						</dl>
					</li>							
				</ul>
			</div>

			<div class="app-input-s-w">
				<input type="submit" class="app-input-s" value="完成申请" />
			</div>
		</form>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>