<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_courseEnd.css">
</head>
<body data-init="" class="">
<div class="courseEnd-wrap">
    <div class="courseEnd-item">
        <div class="courseEnd-item-tit">
            <img src="/images/wap/b2s/app_courseEnd-01.png" alt="">
        </div>
        <div class="courseEnd-item-con">
            <h3 class="icon1">课程对话场景</h3>
            <p>在家里的厨房中 In the kitchen at home</p>
        </div>
        <div class="courseEnd-item-con">
            <h3 class="icon2">课程核心词汇</h3>
            <p>bake, mix, flour, soda, make, need</p>
        </div>
        <div class="courseEnd-item-btn">
            <a href="#"><img src="/images/wap/b2s/app_courseEnd-08.png" alt=""></a>
        </div>
        <div class="courseEnd-item-bottom">
            <img src="/images/wap/b2s/app_courseEnd-04.png" alt="">
        </div>
    </div>
    <div class="courseEnd-item2">
        <img src="/images/wap/b2s/app_courseEnd-05.png" alt="">
        <img src="/images/wap/b2s/app_courseEnd-06.jpg" alt="">
        <a href="#"><img src="/images/wap/b2s/app_courseEnd-07.png" alt=""></a>
    </div>
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>