<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_reportWeek_share.css">
</head>
<body data-init="app_reportWeek_share">
<div class="weekWrap">
	<div class="head">3月27日 - 4月15日</div>
	<div class="tit">第一部分：成绩概况</div>
	<div class="draw">
		<span class="titFont font1 js_percentage_1" data-percentage="80">外教课程<br><span>22人出席</span></span>
		<span class="titFont font2 js_percentage_2" data-percentage="43">配音作业<br><span>32人完成</span></span>
		<span class="titFont font3 js_percentage_3" data-percentage="65">随堂作业<br><span>21人完成</span></span>
    	<div id="main" style="width: 100%;height:100%;"></div>
	</div>
    <div class="tit2">课程出席</div>
    <table class="tab">
    	<tbody>
    		<tr>
    			<td>已激活学生</td>
    			<td>课程出席</td>
    			<td>未出席</td>
    			<td>出席率</td>
    		</tr>
    		<tr>
    			<td>40人</td>
    			<td>22人</td>
    			<td><span class="font1">18人</span></td>
    			<td>55%</td>
    		</tr>
    	</tbody>
    </table>
    <p class="prompt cfix"><span class="font1 fl">上课出席还有待提高</span><!-- <a href="#" class="font2 fr">提醒学生去上课</a> --></p>
    <div class="tit2">随堂作业</div>
    <table class="tab">
    	<tbody>
    		<tr>
    			<td>已激活学生</td>
    			<td>作业完成</td>
    			<td>未完成</td>
    			<td>完成率</td>
    		</tr>
    		<tr>
    			<td>40人</td>
    			<td>22人</td>
    			<td><span class="font1">18人</span></td>
    			<td>51%</td>
    		</tr>
    		<tr>
    			<td>平均分/满分</td>
    			<td>作业总得分</td>
    			<td>比上次总分</td>
    			<td></td>
    		</tr>
    		<tr>
    			<td><span class="font2">40/50</span></td>
    			<td><span class="font2">2040</span></td>
    			<td><span class="font3">5%</span></td>
    			<td></td>
    		</tr>
    	</tbody>
    </table>
    <p class="prompt cfix"><span class="font1 fl">随堂作业完成率还有待提高，请记得</span><!-- <a href="#" class="font2 fr">提醒学生去上课</a> --></p>
    <div class="tit2">配音作业</div>
    <table class="tab">
    	<tbody>
    		<tr>
    			<td>已激活学生</td>
    			<td>作业完成</td>
    			<td>未完成</td>
    			<td>完成率</td>
    		</tr>
    		<tr>
    			<td>40人</td>
    			<td>32人</td>
    			<td><span class="font1">18人</span></td>
    			<td>80%</td>
    		</tr>
    		<tr>
    			<td>平均分/满分</td>
    			<td>作业总得分</td>
    			<td>比上次总分</td>
    			<td></td>
    		</tr>
    		<tr>
    			<td><span>90/100</span></td>
    			<td><span>2094</span></td>
    			<td><span class="font4">8%</span></td>
    			<td></td>
    		</tr>
    	</tbody>
    </table>
    <p class="prompt cfix"><span class="font1 fl">配音作业完成率良好，请继续保持</span></p>
    <div class="tit">第二部分：成绩排名</div>
    <table class="tab2">
    	<thead>
    		<tr>
    			<th width="29%">姓名</th>
    			<th width="19%">课程出席</th>
    			<th width="19%">随堂作业</th>
    			<th width="16%">配音作业</th>
    			<th width="16%">奖励</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td><span class="name rank-1"><i>1</i><span class="name-in">李俊瑶一二</span></span></td>
    			<td><span class="star">100</span></td>
    			<td><span class="star">50</span></td>
    			<td>99分</td>
    			<td><span class="flag"></span>12</td>
    		</tr>
    		<tr>
    			<td><span class="name rank-2"><i>2</i><span class="name-in">陈旋一二</span></span></td>
    			<td><span class="star">100</span></td>
    			<td><span class="star">50</span></td>
    			<td>99分</td>
    			<td><span class="flag"></span>12</td>
    		</tr>
    		<tr>
    			<td><span class="name rank-3"><i>3</i><span class="name-in">苏齐舟</span></span></td>
    			<td><span class="star">100</span></td>
    			<td><span class="star">50</span></td>
    			<td>99分</td>
    			<td><span class="flag"></span>12</td>
    		</tr>
    		<tr class="clickMore js_clickMore">
    			<td><span class="name"><i>4</i><span class="name-in">张三</span></span></td>
    			<td><span class="star">100</span></td>
    			<td><span class="star">50</span></td>
    			<td>99分</td>
    			<td><span class="flag"></span>12</td>
    		</tr>
    		<tr class="clickMore js_clickMore">
    			<td><span class="name"><i>5</i><span class="name-in">李四</span></span></td>
    			<td><span class="star">100</span></td>
    			<td><span class="star">50</span></td>
    			<td>99分</td>
    			<td><span class="flag"></span>12</td>
    		</tr>
    		<tr class="clickMore js_clickMore">
    			<td><span class="name"><i>6</i><span class="name-in">王五</span></span></td>
    			<td><span class="star">100</span></td>
    			<td><span class="star">50</span></td>
    			<td>99分</td>
    			<td><span class="flag"></span>12</td>
    		</tr>
    	</tbody>
    </table>
    <div class="more js_more"><a href="javascript:void(0);"></a><span class="icon">更多</span></div>
    <div class="share">
    	<div class="share-in"><a href="#">分享报告</a></div>
    </div>
</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
    window.chartInit();
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>