<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
<!-- <link rel="stylesheet" type="text/css" href="/css/wap/b2s/"> -->
<script>
  window.onload = function(){
      document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
      document.getElementsByClassName("fontSizeLoding")[0].style.display = "none";
  };
</script>
<div class="app-help-wrap">
  <div class="app-help-title">
    <p>无忧小学三年级</p>
    <p>家长服务群</p>
  </div>
  <div class="app-help-con"><img src="/images/wap/b2s/app_help1.png" alt=""></div>
  <div class="app-help-con">
    <div class="app-help-QRcode"><img src="/images/wap/b2s/app_help4.png" alt=""></div>
    <div class="app-help-QRcode-prompt"><img src="/images/wap/b2s/app_help5.png" alt=""></div>
    <img src="/images/wap/b2s/app_help2.png" alt="">
  </div>
  <div class="app-help-con"><img src="/images/wap/b2s/app_help3.png" alt=""></div>
</div>
<div class="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>