<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="app-wrap app-bg1" data-init="appBuyVip">
<!-- <link rel="stylesheet" type="text/css" href="/css/wap/b2s/"> -->
<form id="buyVipForm" action="">
  <div class="buyvip-wrap app-bg1">
    <div class="buyvip-container">
      <div class="buyvip-tit">
        <!-- <img class="tit-vip20" src="/images/wap/b2s/app-buyvip-vip20.png" /> -->
        <div class="color1">20人精品外教班VIP</div>
        <p>剩余36次课</p>
      </div>
      <div class="buyvip-tit">
        <!-- <img class="tit-vip20" src="/images/wap/b2s/app-buyvip-vip6.png" /> -->
        <div class="color1">6人精品外教班VIP</div>
        <p>剩余4次课，续费享优惠</p>
      </div>
      <div class="buyvip-tit">
        <!-- <img class="tit-vip20" src="/images/wap/b2s/app-buyvip-vip20-2.png" /> -->
        <div class="color1">20人北美外教班VIP</div>
        <p>剩余36次课</p>
      </div>
      <div class="buyvip-tit">
        <!-- <img class="tit-vip20" src="/images/wap/b2s/app-buyvip-vip6-1.png" /> -->
        <div class="color1">6人北美外教班VIP</div>
        <p>剩余4次课，续费享优惠</p>
      </div>
      <div class="buyvip-tit2">
        <!-- <img class="tit-vip" src="/images/wap/b2s/app-buyvip-vip.png" /> -->
        <div class="color1">享受以下VIP特权</div>
      </div>
      <div class="buyvip-item">
        <table>
          <thead>
            <tr>
              <th width="50%" align="left">课程服务</th>
              <th width="25%">普通学员</th>
              <th width="25%" class="color1">特权学员</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>外教授课</td>
              <td><span class="icon-yes"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>精品课作业</td>
              <td><span class="icon-yes"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>同步课标拓展教材</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>上课举手发言</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>上课答题</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>趣味课外作业</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="buyvip-bottom">
        <img class="tit-vip20" src="/images/wap/b2s/app-buyvip-icon-02.png" />
      </div>
      <div class="buyvip-bottom-1">
        <ul>
          <li>
            <dl class="cfix pay-dialog-show" data-packageid="6xufei">
              <dt class="fl"><span>续费新学年，立享优惠</span>6人精品外教班 36次课</dt>
              <dd class="fr"><span class="line-through">998元</span>698<span class="font12">元</span></dd>
              <dd class="deduction">剩余课程抵扣148元</dd>
            </dl>
          </li>
          <li>
            <dl class="cfix pay-dialog-show" data-packageid="20xufei">
              <dt class="fl"><span>续费新学年，立享优惠</span>20人精品外教班 36次课</dt>
              <dd class="fr"><span class="line-through">698元</span>298<span class="font12">元</span></dd>
              <dd class="deduction">剩余课程抵扣148元</dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="buyvip-bottom-2">
        <ul>
          <li>选择班型</li>
          <li>
            <dl data-packageid="20radio" class="synthesize">
              <dt>
                <span class="tit">外交VIP精品课32节<br><span class="line-through">原价500元</span><br>外交1对1课6节 中教科2节<br><span class="line-through">原价480元</span></span><br>
              </dt>
              <dd>
                <span class="radio radio-no"></span><span class="price">298<span>元</span></span>
              </dd>
            </dl>
          </li>
          <li>
            <dl data-packageid="20radio">
              <dt>
                <span class="tit">20人北美外教班20人北美外教班20人北美外教班 36次课</span><br>
                298<span class="font12 color1">元</span>
                <span class="line-through">500元</span>
              </dt>
              <dd>
                <span class="radio radio-no"></span>
              </dd>
            </dl>
          </li>
          <li>
            <dl data-packageid="20radio">
              <dt>
                <span class="tit">20人北美外教班 36次课</span><br>
                698<span class="font12 color1">元</span>
                <span class="line-through">998元</span>
              </dt>
              <dd>
                <span class="radio radio-no"></span>
              </dd>
            </dl>
          </li>
          <li>
            <dl data-packageid="6radio">
              <dt>
                <span class="tit fire">6人北美外教班 36次课</span><br>
                1398<span class="font12 color1">元</span>
                <span class="line-through">1698元</span>
              </dt>
              <dd>
                <span class="radio radio-yes"></span>
              </dd>
            </dl>
          </li>
        </ul>
        <div class="buyvip-bottom-buy-wrap">
          <div class="buyvip-bottom-buy">
            <input class="btn-buy pay-dialog-show" type="button" value="立即购买">
          </div>
        </div>
      </div>
      <dl class="buyvip-select-class">
        <dt><img src="/images/wap/b2s/app-buyvip-select-class-1.png" /></dt>
        <dd><a href="#"></a>选择中教课上课时间</dd>
        <dd><a href="#"></a>查看上课时间</dd>
      </dl>
    </div>
    <div class="pay-dialog">
      <div class="pay-dialog-tit">
        <div class="pay-dialog-tit-top">支付方式</div>
        <div class="pay-dialog-tit-con">
          <span class="payItems" data-paytype="alipay"><img src="/images/wap/b2s/app-buyvip-icon-alipay.png" /><i>支付宝购买</i></span>
          <span class="payItems" data-paytype="weixin"><img src="/images/wap/b2s/app-buyvip-icon-WeChat.png" /><i>微信购买</i></span>
        </div>
      </div>
      <div class="pay-dialog-but pay-dialog-hide">
        取消
      </div>
      <input type="hidden" name="packageId" id="packageId" value="6radio">
      <input type="hidden" name="payType" id="payType" value="">
    </div>
    <div class="buyvip-reload">
        <input class="btn-reload" type="button" value="支付确认中，点击刷新">
    </div>
  </div>

</form>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>