<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_regs_tea.css">
</head>
<body class="app-wrap app-bg1" data-init="appRegsTea">
	<div class="fix_3">
		<p class="app-reg-tips2">选择学校所在城市</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul">
				<li class="app-location app-notouch">
					<p class="fl">北京</p>
					<a href="" class="fr">更换地区</a>
				</li>
			</ul>
		</div>
		<p class="app-reg-tips2">选择省</p>
		<!-- 模糊搜索searFlag  区 : 1 学校：2  教材：3 -->
		<P class="search_box"><input placeholder="请选择" ajax-url="dddd"  searFlag="1" herfUrl=""></P>
	</div>
	<div class="app-container">
		
		<div class="nul"></div>
		<div class="app-reg-c app-reg-d app-reg-r">
			<ul class="app-sel-ul brb8">
				<li>
					<a href="">广东省</a>
				</li>
				<li>
					<a href="">上海</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
			</ul>
			<div class="sear_none"><span>未搜索到学校！</span><br/>如需帮助，请联系客服微信xiao5-001</div>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>