<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_winterVacationStudy.css">
</head>
<body data-init="app_winterVacationStudy">
<div class="vacation-wrap">
	<div class="vacation-clock">
		<div class="clock-tit">活动截止到2月22日，距离活动结束还剩29天</div>
		<div class="clock-text1"><span>今日打卡成功！</span></div>
		<div class="clock-text2">打卡次数</div>
		<div class="clock-text3">13</div>
		<div class="clock-extract">
			<div class="extract-btn js_extractBtn" data-userid="123" data-number="5">抽取英雄卡</div>
			<div class="extract-text js_extractText">累计13次打卡，恭喜获得<span class="js_extractSurplus" data-num="4" data-nextnum="15">4</span>次抽奖机会！</div>
		</div>
		<ul class="clock-con cfix js_badge">
			<li data-num="1" class="active">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-1.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-1-1.png" alt=""></span>
				<!-- <span class="con-text">1次打卡</span> -->
			</li>
			<li data-num="3">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-2.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-2-1.png" alt=""></span>
				<!-- <span class="con-text">3次打卡</span> -->
			</li>
			<li data-num="5">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-3.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-3-1.png" alt=""></span>
				<!-- <span class="con-text">5次打卡</span> -->
			</li>
			<li data-num="7">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-4.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-4-1.png" alt=""></span>
				<!-- <span class="con-text">7次打卡</span> -->
			</li>
			<li data-num="9">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-5.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-5-1.png" alt=""></span>
				<!-- <span class="con-text">9次打卡</span> -->
			</li>
			<li data-num="12">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-6.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-6-1.png" alt=""></span>
				<!-- <span class="con-text">12次打卡</span> -->
			</li>
			<li data-num="15">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-7.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-7-1.png" alt=""></span>
				<!-- <span class="con-text">15次打卡</span> -->
			</li>
			<li data-num="18">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-8.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-8-1.png" alt=""></span>
				<!-- <span class="con-text">18次打卡</span> -->
			</li>
			<li data-num="20">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-9.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-9-1.png" alt=""></span>
				<!-- <span class="con-text">20次打卡</span> -->
			</li>
			<li data-num="22">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-10.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-10-1.png" alt=""></span>
				<!-- <span class="con-text">22次打卡</span> -->
			</li>
			<li data-num="25">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-11.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-11-1.png" alt=""></span>
				<!-- <span class="con-text">25次打卡</span> -->
			</li>
			<li data-num="30">
				<span class="con-icon"><img class="icon1" src="/images/wap/b2s/app_vacation-badge-12.png" alt=""><img class="icon2" src="/images/wap/b2s/app_vacation-badge-12-1.png" alt=""></span>
				<!-- <span class="con-text">30次打卡</span> -->
			</li>
		</ul>
	</div>
	<div class="vacation-rank">
        <div class="vacation-rank-tit"><span class="font1">打卡排名<span class="font2">（海淀小学三年级二班）</span></span></div>
		<ul class="vacation-rank-con">
			<li class="cfix">
				<div class="conL fl">
					<span class="rankNum rankNum1">1</span>
					<span class="rankIcon"><img src="/images/wap/b2s/app_vacation-icon-02.png" alt=""></span>
					<span class="rankName">靳畅</span>
				</div>
				<div class="conR fr">10次</div>
			</li>
			<li class="cfix">
				<div class="conL fl">
					<span class="rankNum rankNum2">2</span>
					<span class="rankIcon"><img src="/images/wap/b2s/app_vacation-icon-03.png" alt=""></span>
					<span class="rankName">张大川</span>
				</div>
				<div class="conR fr">9次</div>
			</li>
			<li class="cfix">
				<div class="conL fl">
					<span class="rankNum rankNum3">3</span>
					<span class="rankIcon"><img src="/images/wap/b2s/app_vacation-icon-04.png" alt=""></span>
					<span class="rankName">王翔</span>
				</div>
				<div class="conR fr">8次</div>
			</li>
			<li class="cfix">
				<div class="conL fl">
					<span class="rankNum">4</span>
					<span class="rankIcon"><img src="/images/wap/b2s/app_vacation-icon-05.png" alt=""></span>
					<span class="rankName">宇文燕</span>
				</div>
				<div class="conR fr">7次</div>
			</li>
			<li class="cfix">
				<div class="conL fl">
					<span class="rankNum">5</span>
					<span class="rankIcon"><img src="/images/wap/b2s/app_vacation-icon-01.png" alt=""></span>
					<span class="rankName">夏日</span>
				</div>
				<div class="conR fr">6次</div>
			</li>
		</ul>
	</div>
	<div class="vacation-share">
        <div class="vacation-share-tit"><span>分享班级微信群</span></div>
		<div class="vacation-share-con js_share">
        	<span class="shareBtn" data-share="/client/appshare?title=测试标题微信&content=测试内容123&imgUrl=测试图片路径&shareType=WeChatFriends"><img src="/images/wap/b2s/app_vacation-06.png" alt=""><i>微信好友</i></span>
        	<span class="shareBtn" data-share="/client/appshare?title=测试标题微信&content=测试内容123&imgUrl=测试图片路径&shareType=friendCircle"><img src="/images/wap/b2s/app_vacation-07.png" alt=""><i>朋友圈</i></span>
        </div>
	</div>
	<div class="vacation-rule">
        <div class="vacation-rule-tit"><span>活动说明</span></div>
		<ul class="vacation-rule-con">
			<li>1、针对寒假期间（1月9号-2月19日）上选修课的学员，课程结束退出教室后，即可参与“打卡领勋章”的活动</li>
			<li>2、需要学员尽快完成入门课，才能每天上选修课参与打卡领勋章哦~</li>
			<li>3、上选修课的方式，通过手机APP或者AC客户端都可以累积打卡次数</li>
			<li>4、记得升级到客户端最新版本</li>
		</ul>
	</div>

</div>

<div class="dialog disnone js_dialog">
	<div class="dialog-pic">
		<div class="dialog-pic-con js_scale">
			<img class="js_bigIcon" src="/images/wap/b2s/" alt="">
		</div>
	</div>
	<!-- <div class="dialog-text js_text">恭喜完成<span class="font1">13</span>天打卡<br>棒棒哒～</div> -->
	<div class="dialog-share">
		<div class="dialog-share-tit"><span>炫耀一下</span></div>
		<div class="dialog-share-con js_share">
        	<span class="shareBtn" data-share="/client/appshare?title=测试标题微信&content=测试内容123&imgUrl=测试图片路径&shareType=WeChatFriends"><img src="/images/wap/b2s/app_vacation-06.png" alt=""><i>微信好友</i></span>
        	<span class="shareBtn" data-share="/client/appshare?title=测试标题微信&content=测试内容123&imgUrl=测试图片路径&shareType=friendCircle"><img src="/images/wap/b2s/app_vacation-07.png" alt=""><i>朋友圈</i></span>
        </div>
	</div>
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>