<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/app_reportWeek_share_1.css">
</head>
<body data-init="app_reportWeek_share_1" class="weekWrap-body">
<div class="weekWrap">
    <p class="title">3年1班学习周报<span>3月27日 - 4月15日</span></p>
    <div class="draw">
        <span class="titFont font1 js_percentage_1" data-percentage="80">外教课程<br><span>22人出席</span></span>
        <span class="titFont font2 js_percentage_2" data-percentage="43">配音作业<br><span>32人完成</span></span>
        <span class="titFont font3 js_percentage_3" data-percentage="65">随堂作业<br><span>21人完成</span></span>
        <div id="main" style="width: 100%;height:100%;"></div>
    </div>
    <p class="flag">获得小红旗排行榜</p>
    <ul class="cfix img_list">
        <li>
            <div>
                <img src="/images/wap/b2s/score_log_1.png" class="head_logo">
                <img src="/images/wap/b2s/score_log_2.png" class="socre_logo">
            </div>
            <p class="text_1">陈璇</p>
            <p class="text_2">亚军</p>
        </li>
        <li>
            <div class="center">
                <img src="/images/wap/b2s/score_log_1.png" class="head_logo">
                <img src="/images/wap/b2s/score_log_1.png" class="socre_logo">
            </div>
            <p class="text_1">陈璇</p>
            <p class="text_2">亚军</p>
        </li>
        <li>
            <div>
                <img src="/images/wap/b2s/score_log_1.png" class="head_logo">
                <img src="/images/wap/b2s/score_log_3.png" class="socre_logo">
            </div>
            <p class="text_1">陈璇</p>
            <p class="text_2">亚军</p>
        </li>
    </ul>
</div>
<div class="share_btn js_share_btn">
    <ul class="cfix">
        <li data-href="http://passport.oa.51talk.com">
            <a href="javascript:void(0);"></a>
            <img src="/images/wap/b2s/wx_share.png">
            <p>微信好友</p>
        </li>
        <li data-href="http://passport.oa.51talk.com">
            <a href="javascript:void(0);"></a>
            <img src="/images/wap/b2s/squre-share.png">
            <p>朋友圈</p>
        </li>
    </ul>
</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
    window.chartInit();
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>