<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="app-wrap app-bg1" data-init="appForm">
	<p class="app-reg2-t">请选择学校所在地区</p>
	<div class="app-container">
		<p class="app-reg-tips2">选择学校所在城市</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul">
				<li class="app-location app-notouch app-location-fn">
					<span class="fl">定位中...</span>
					<!-- <a href="" class="fr">选择城市</a> -->
				</li>
			</ul>
		</div>

		<p class="app-reg-tips2">全部地区</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul app-s-list app-scroll mxh306 br8 nbt">
				<li>
					<a href="">广东省</a>
				</li>
				<li>
					<a href="">上海</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
			</ul>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>