<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="app_introduce">
	<div class="app_container_one">
		<img src="/images/wap/b2s/app_intro_title.png" class="app_intro_title">
        <div class="app_our_class">
            <img src="/images/wap/b2s/app_our_class.png" >  
        </div>
        <p class="app_intro_text">精品辅导课</p>
        <img src="/images/wap/b2s/app_class1.png" >
        <p class="text_line_bottom"><em>每周<span>1节</span>，专业外教陪你一起学英语！前两节还可<span>免费体验</span>举手上麦发言、课中互动答题等VIP特权。</em></p>
        <p class="app_intro_text">校园公开课</p>
        <img src="/images/wap/b2s/app_class2.png" >
        <p class="text_line_bottom"><em>每天<span>1节</span>， 多话题校园公开课等着你。</em></p>

	</div>
    <div  class="app_container_two">
        <p class="change_top"></p>
         <div class="app_our_class">
            <img src="/images/wap/b2s/app_how_class.png" >  
        </div>
        <img src="/images/wap/b2s/app_class3.png" >
        <p class="app_intro_text">手机上课</p>
        <p class="text_line_bottom two_p"><em>课前<span>一小时</span>即可打开此客户端进入教室，上课预习教材更方便。</em></p>
        <img src="/images/wap/b2s/app_class4.png" >
        <p class="app_intro_text">电脑上课</p>
        <p class="text_line_bottom two_p"><em>登录官网(http://s.51talk.com/)下载51Talk电脑<span>客户端AC</span>，即可使用电脑上课</p>
        <p class="change_top no_mar"></em></p>
    </div>
    <div class="app_container_one mar_top">
        <div class="app_our_class">
            <img src="/images/wap/b2s/app_after_work.png" >  
        </div>
        <div class="cfix app_both_p">
            <p class="app_intro_text none_type">精品课作业</p>
            <p class="app_intro_text ">趣味课外作业</p>
        </div>
        
         <img src="/images/wap/b2s/app_class9.png" >
        <p class="text_line_bottom"><em><span>内容丰富</span>，<span>听说练习</span>，<span>智能打分</span>，还可以获得星星呦！</em></p>
        <img src="/images/wap/b2s/app_class5.png" >
        <img src="/images/wap/b2s/app_class6.png" >

    </div>

    <div  class="app_container_two">
         <p class="change_top"></p>
         <div class="app_our_class">
            <img src="/images/wap/b2s/app_classesmate.png" >  
        </div>
        <img src="/images/wap/b2s/app_class7.png" >
        <p class="text_line_bottom"><em>积极上课、完成作业，同学榜中<span>一比高下</span>！</em></p>
        <p class="change_top no_mar"></p>
    </div>
    <div class="app_container_one mar_top mar_bottom">
       
        <img src="/images/wap/b2s/app_class8.png" >
    </div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>