<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s_merge.css">
</head>
<body data-init="b2s_merge" class="b2s_merge">
    <div class="b2s_merge_fix"><a href="#"></a>下载客户端</div>
    <div class="b2s_merge_top">
        <div class="logo"><img class="bg" src="/images/wap/b2s/b2s_merge_7.png"></div>
        <p class="title_1">面向1亿小学生的</p>
        <P class="title_2">免费外教同步辅导课</P>
        <P class="title_button"><a href="#"></a>激活学生账号</P>
    </div>
    <div class="b2s_merge_good">
        <div class="logo"><img src="/images/wap/b2s/b2s_merge_8.png"></div>
        <ul class="cfix">
          <li>
            <img class="bg" src="/images/wap/b2s/b2s_merge_9.png">
            <p class="fir_top">外教授课</p>
            <p>纯正英语不再高不可攀</p>
          </li>
          <li>
            <img class="bg" src="/images/wap/b2s/b2s_merge_10.png">
            <p class="fir_top">同步拓展教材</p>
            <p>应试 / 素质双培优</p>
          </li>
          <li>
            <img class="bg" src="/images/wap/b2s/b2s_merge_11.png">
            <p class="fir_top">趣味作业</p>
            <p>学习不再枯燥</p>
          </li>
          <li>
            <img class="bg" src="/images/wap/b2s/b2s_merge_12.png">
            <p class="fir_top">学习报告</p>
            <p>效果保障</p>
          </li>
        </ul>
    </div>
    <div class="b2s_merge_video">
        <div class="logo"><img class="bg" src="/images/wap/b2s/b2s_merge_13.png"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="video_box">
                        <P class="title_p">校园公开课</P>
                        <img class="bg" src="/images/wap/b2s/b2s_merge_14.png">
                        <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                            <video style="display:none" src=""  preload="preload"></video>
                            <div style="width:30px;height:40px;display:none;"></div>
                            <img src="/images/wap/b2s/marketing_7.png">
                        </div>
                    </div>
                    <P class="text">纯外教千人大课堂，精彩话题每天1节课</P>
                    <div class="show_btn">课程内容精彩纷呈，激活即可上课</div>
                    <ul class="list_conten cfix"> 
                        <li>
                            <img src="/images/wap/b2s/b2s_merge_15.png">
                            <p>绘本阅读</p>
                        </li>
                        <li class="two">
                            <img src="/images/wap/b2s/b2s_merge_16.png">
                            <p>自然拼读</p>
                        </li>
                        <li>
                            <img src="/images/wap/b2s/b2s_merge_17.png">
                            <p>经典英文歌</p>
                        </li>
                        <li class="four">
                            <img src="/images/wap/b2s/b2s_merge_18.png">
                            <p>经典英语青少版</p>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <div class="video_box">
                        <P class="title_p">校园公开课</P>
                        <img class="bg" src="/images/wap/b2s/b2s_merge_27.png">
                        <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                            <video style="display:none" src=""  preload="preload"></video>
                            <div style="width:30px;height:40px;display:none;"></div>
                            <img src="/images/wap/b2s/marketing_7.png">
                        </div>
                    </div>
                    <P class="text">纯外教小班教学，每周固定时间1节课</P>
                    <div class="show_btn">课后同步完成练习 巩固学习效果</div>
                    <ul class="list_conten_2 "> 
                        <li class="cfix">
                            <img src="/images/wap/b2s/b2s_merge_28.png">
                            <div>
                                <p>随堂+提升作业</p>
                                <P>跟读联系核心内容 及时奖励</P>
                            </div>
                        </li>
                        <li class="cfix">
                            <img src="/images/wap/b2s/b2s_merge_29.png">
                            <div>
                                <p>爱配音</p>
                                <P>主流动画原声配音 好玩爱学</P>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
       
    </div>
    <div class="b2s_merge_tea">
        <p class="title_1">只选顶尖的2.5%</p>
        <P class="title_2">给孩子挑选外教，我们是认真的</P>
        <div class="img_box">
            <img src="/images/wap/b2s/b2s_merge_19.png">
            <P>8000名外教团队<br/>我们只选100%精英老师</P>
        </div>
        <div class="ul_box">
            <img src="/images/wap/b2s/b2s_merge_20.png">
            <ul class="cfix">
                <li>来自英语<br/>母语国家</li>
                <li>毕业于国内<br/>一类名校</li>
                <li>三年以上青<br/>少教学经验</li>
            </ul>
        </div>
    </div>
    <div class="b2s_merge_moudle">
        <p class="title_1">我们的模式</p>
        <P class="title_2">和同班同学一起学英语</P>
        <div class="step_1">
            <div class="top">
                <p>激活学习账号</p>
                <P>长按并识别二维码关注服务号激活学习账号</P>
            </div>
            <div class="bottom">
                <div  class="code">
                    <img src="/images/wap/b2s/app_share-21.png">
                </div>
            </div>
        </div>
        <div class="step_2">
            <div class="top">
                <p>准时出席上课</p>
                <P>电脑登录官网www.51kt.com下载上课客户端，屏幕更大，交互更佳，体验更好！</P>
            </div>
            <div class="bottom">
                <div  class="btn"><a href="#"></a>
                   点击下载手机客户端
                </div>
            </div>
        </div>
        <div class="step_3">
            <div class="top">
                <p>课后及时完成作业</p>
                <P>每周反馈孩子学习报告给老师和家长，有助及时调整学习规划</P>
            </div>
        </div>
    </div>
    <div class="b2s_merge_target">
        <div class="logo"><img class="bg" src="/images/wap/b2s/b2s_merge_25.png"></div>
        <p class="title"><span></span> &nbsp;让每个孩子开口说英语 &nbsp;<span></span></p>
        <p class="title_s">语言学习最有效的方法是开口说，与外教像母语一样习得，让英语随时随地脱口而出</p>
        <img class="rudas" src="/images/wap/b2s/b2s_merge_26.png">
        <p class="title"><span></span> &nbsp;让每所学校均衡优质教育资源 &nbsp;<span></span></p>
        <p class="title_s">通过互联网将远在国外的本地小学优秀老师送进国内英语课堂，让孩子足不出户享受国际课堂</p>
        <img class="rudas" src="/images/wap/b2s/b2s_merge_26.png">
        <p class="title"><span></span> &nbsp;助力亿万小公民对话世界 &nbsp;<span></span></p>
        <p class="title_s">基于4-15岁孩子认知发展规律，尤其是语言能力发展，培养21世纪小公民必备的核心素养</p>
    </div>
    <div class="b2s_merge_bottom">
        Copyright&copy北京大生知行科技有限公司 | 客服电话 4006635151
    </div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>