<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="box_langding">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
    </script>
   <img src="/images/wap/b2s/box_top_img.png" class="box_header" />
   <div class="box_landing_content">
     <div class="box_bottom return_bottom">
            <div class="sign_down">
                <img  src="/images/wap/b2s/box_parentqq.png">
                <p class="has_qq">让爸爸妈妈加:</p>
                <p class="qq_text">QQ群:461658327</span></p>
            </div>
                
       </div>
       <div class="box_course">
           <img src="/images/wap/b2s/course_1.png">
       </div>
      
       <div class="box_course">
           <img src="/images/wap/b2s/course_2.png">
       </div>
       <div class="box_course video_box">
           
        <iframe frameborder="0" src="http://v.qq.com/iframe/player.html?vid=e0315ctcxzz&tiny=0&auto=0" allowfullscreen></iframe>
       </div>
       <div class="box_bottom">
            <div  class="sign_up">
                <img  src="/images/wap/b2s/box_go_buy.png">
            </div> 
       </div>
   </div> 

   <div class="box_landing_confirm">
        <img src="/images/wap/b2s/box_monkey.png" class="box_monkey">
        <img src="/images/wap/b2s/box_monkey_close.png" class="box_monkey_close">
        <div class="box_form">
            <form action="#" autocomplete="off" rel="forgetpsw">
                <ul>
                    <li class="box_select">
                        <p class="select_class">请选择开学<span>前</span>年级</p>
                        <select rel="selgrade">
                             <option value="">请选择开学前年级</option>
                             <option value="1">一年级</option>
                             <option value="1">二年级</option>
                             <option value="1">三年级</option>
                             <option value="1">四年级</option>
                             <option value="1">五年级</option>
                             <option value="1">六年级</option>

                        </select>
                        <p class="select_btn"></p>
                        <p class="err_tips"></p>
                    </li>
                    <li class="box_phone">
                        <input type="tel" rel="phone" class="input-t-style" placeholder="请输入手机号" maxlength="11" />
                        <p class="err_tips"></p>
                    </li> 
                    <li class="box_code">
                        <input type="tel" rel="verifycode" class="input-t-style" placeholder="请输入验证码" maxlength="6" />
                        <input class="box_send_code send-verify" send-url="" value="获取验证码" type="button">
                        <p class="err_tips"></p>
                    </li>
                     <li class="box_password">
                        <input type="password" rel="password" class="input-t-style" placeholder="请输入密码" />
                        <p class="err_tips"></p>
                    </li>
                    <li  class="box_submit-btn">
                        <input type="submit" value=""/>
                    </li>
                </ul>
            </form>
         
        </div>

   </div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>