<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="b-class-list" data-init="stuTeaEntering">
	<div class="tea-box" id="documentBox">
		<h2 class="teacher-tit">赵老师</h2>
		<div class="line-box"></div>
		<ul class="class-list" id="classList">
			<li data-val="2">三年一班</li>
			<li data-val="2">三年一班</li>
			<li data-val="2">三年一班</li>
			<li data-val="2">三年一班</li>
		</ul>
			
		
	</div>
	<div class="sure-box btnBox" data-value="http://www.baidu.com">
    <a href="javascript:;">取消</a>
</div>
	<div class="mask-box hide" id="maskBox"></div>
	<div class="pop-up hide" id="popUp">
		<div class="text-info">
			<p class="text-tit" id="listpopUp"></p>
		</div>
		<div class="p-btn-box" id="pupupBtn" data-href="http://www.baidu.com">
		</div>
	</div>	
	<input type="hidden" value="" id="listClassId"/>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>