<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="courseInfoTea">
	<!-- 老师 -->
	<div class="course-info-box">
		<!-- 校园公开课 -->
		<div class="course-info-tit">
			<h5>
				<span>校园公开课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="/images/wap/b2s/class-img.jpg" />
						</div>
						<!-- 角标 -->
						<span class="course-info-tag">
							<em>3年级适用</em>
						</span>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)" textbook_publish="true" download-url="http://www.baidu.com">查看教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
		<!-- 校园公开课 -->

		<!-- 入门外教课-->
		<div class="course-info-tit">
			<h5>
				<span>入门外教课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<!-- 入门外教课 未配置作业-->
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="/images/wap/b2s/class-img.jpg" />
						</div>
						<!-- 角标 -->
						<!-- <span class="course-info-tag">
							<em>3年级适用</em>
						</span> -->
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)" textbook_publish="false" download-url="">查看教材</a>
						</p>
					</dd>
				</dl>
			</li>
			<!-- 入门外教课 未配置作业-->

			<!-- 入门外教课 已配置作业-->
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="/images/wap/b2s/class-img.jpg" />
						</div>
						<!-- 角标 -->
						<span class="course-info-tag tag-type2">
							<em>作业一</em>
						</span>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
					</dd>
				</dl>
			</li>
			<!-- 入门外教课 已配置作业-->
		</ul>
		<!-- 入门外教课 -->

		<!-- 精品外教课 -->
		<div class="course-info-tit tit-type2">
			<h5>
				<span>精品外教课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="/images/wap/b2s/class-img.jpg" />
						</div>
						<!-- 角标 -->
						<!-- <span class="course-info-tag">
							<em>3年级适用</em>
						</span> -->
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
					</dd>
				</dl>
			</li>
		</ul>
		<!-- 精品外教课 -->
	</div>


</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>