<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="des-invite">
		<p>打开“51Talk中小学英语”，点击右上角人像</p>
		<img src="/images/wap/b2s/des-invite1-1.jpg" />
		<p>点击右上角...菜单，选择“推荐给朋友”</p>
		<img src="/images/wap/b2s/des-invite1-2.jpg" />
		<p class="p-s1">推荐给家长群或者班级群，<br />同时把学生邀请码一并发到群中即可</p>
		<img src="/images/wap/b2s/des-invite1-3.jpg" />
		<img src="/images/wap/b2s/des-invite1-4.jpg" />
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>