<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="forgetPassword">
	<div class="main-wrap">
		<div class="form-wrap reg-step1">
			<form action="#" autocomplete="off" rel="forgetpsw">
				<dl class="cfix">
					<dt></dt>
					<dd>
						<input type="tel" rel="phone" class="input-t-style" placeholder="请输入手机号" maxlength="11" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt class="dt1"></dt>
					<dd>
						<input type="tel" rel="verifycode" class="input-t-style" placeholder="请输入验证码" maxlength="6" />
					</dd>
					<dd class="send-verify">
						<input type="button" value="获取验证码" send-url="http://www.baidu.com" send-type="2" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="password" class="input-t-style" placeholder="请输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="eqpassword" class="input-t-style" placeholder="请再次输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="确定" />
				</div>
			</form>
		</div>		
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>