<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="sliderShow" class="push_class">
    <div class="logo">
        <img src="/images/wap/b2s/logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="summary">
        <p class="title title_good">五年级三班 第二课至第六阶段性总结</p>
        
        <div class="text_right">
            <p><img src="/images/wap/b2s/right.png" >23人出席上课</p>
            <p><img src="/images/wap/b2s/right.png" >累积学英语120分钟</p>
            <p><img src="/images/wap/b2s/right.png" >8位同学积极发言，认真做题，他们是：<span>刘豆豆
刘豆豆，刘豆豆，刘豆豆</span></p>
        </div>

        <p class="teaching_goal">教学目标</p>
        <p class="goal_list first_line">
            本月王娟同学跟本班23位同学一起听课，接触核心单词14个，涉及语法10个，孩子一直很努力：
        </p>
        <p class="goal_list">
            本月王娟同学跟本班23位同学一起听课，接触核心单词14个，涉及语法10个，孩子一直很努力：
        </p>
        <p class="goal_list">
            本月王娟同学跟本班23位同学一起听课，接触核心单词14个，涉及语法10个，孩子一直很努力：
        </p>
        <p class="goal_list">
            本月王娟同学跟本班23位同学一起听课，接触核心单词14个，涉及语法10个，孩子一直很努力：
        </p>
        <div class="slider_top">
            <div class="slider_top_radius">点击展开所有教学目标</div>
        </div>
        <div class="slider_down">
            <div class="slider_top_radius">点击合并</div>
        </div>
        <p class="teaching_goal">同学们的学习表现</p>
        <div class="radius">
            <div class="rad_p send_rad">
                累积学英语<br/>100分钟
            </div>
            <div class="rad_red send_f">
                与外教<br/>对话123次
            </div>
            <div class="rad_b send_b">
                举手发<br/>言12人
            </div>
            <div class="rad_t">
               课间题8道<br/>正确率:90% 
            </div>
            <img src="/images/wap/b2s/girl.png" class="send_img"/>
        </div>
    </div>
    <div class="null_pay"></div>
    <a class="how_pay share-btn" href="javascript:;">分享到班级群</a>
    <div class="stu-audio-dialog">
            <div class="arrows">
                <img src="/images/wap/b2s/stu-audio-dialog01.png" alt="">
            </div>
            <!-- <div class="share-WeChat">
                <dl>
                    <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog02.png" alt=""></a></dt>
                    <dd>微信好友</dd>
                </dl>
                <dl>
                    <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog03.png" alt=""></a></dt>
                    <dd>朋友圈</dd>
                </dl>
            </div> -->
            <div class="share-prompt">点击右上角分享至微信好友或朋友圈</div>
            <div class="share-bottom">
                <div class="share-qq">
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog04.png" alt=""></a></dt>
                        <dd>QQ好友</dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog05.png" alt=""></a></dt>
                        <dd>QQ空间</dd>
                    </dl>
                </div>
                <div class="share-cancel">取&nbsp;消</div>
            </div>
    </div>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>