<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="" class="push_class">
    <div class="logo">
        <img src="/images/wap/b2s/logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="summary">
        <p class="title"><img src="/images/wap/b2s/flower.png" class="title_img"/> <span class="titie_span">王娟同学</span> 外教辅导课阶段学习成果</p>
        <p class="text">
            本阶段王娟同学跟本班<span>23位</span>同学一起听课，接触核心单词14个，涉及语法10个，孩子一直很努力：
        </p>
        <div class="radius">
            <div class="rad_a">
                尝试举手<br/>发言3次
            </div>
            <div class="rad_c">
                尝试做<br/>题3次
            </div>
            <div class="rad_d">
                累积学英语<br/>100分钟
            </div>
            
            <img src="/images/wap/b2s/girl_2.png" class="girl_2_img"/>
        </div>
        <p class="text">孩子所在年级已经有<span>23000位</span>同学正式加入51talk外教辅导课，他们在课堂上将享受如下特权：</p>
    </div>
    <div class="pay_not">
        <img src="/images/wap/b2s/pay_not.png" />
    </div>
    <div class="null_pay"></div>
    <a class="how_pay" href="javascript:;">了解详情</a>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>