<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="how-class">
		<h6>如何上课？</h6>
		<p>1、用Windows电脑打开<span>s.51talk.com</span>网站</p>
		<img src="/images/wap/b2s/how-class1.jpg" />
		<p>2、下载并安装上课软件<span>“AC客户端”</span></p>
		<img src="/images/wap/b2s/how-class2.jpg" />
		<p>3、使用当前手机号和密码登录AC客户端</p>
		<img src="/images/wap/b2s/how-class3.jpg" />
		<p>4、到达上课时间，进入教室就可以上课啦</p>
		<img src="/images/wap/b2s/how-class4.jpg" />
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>