<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/introduce1v4_more2.css">
</head>
<body data-init="introduce1v4_more2" class="introduce1v4_more2">
    <div class="screen1">
        <div class="screen1-specil">
            <img class="screen1-img" src="/images/wap/b2s/1v4_16.png">
        </div>
        <div class="screen1-img-box"></div>
        <div class="screen1-con">
            <img class="screen1-img2" src="/images/wap/b2s/1v4_2-03.png">
            <div class="screen1-con-btn">4次外教课+2次中教预习课</div>
        </div>
        <img class="screen1-animation" src="/images/wap/b2s/1v4_2-01.png">
    </div>
    <!-- 团购 -->
    <div class="screen_more" start-time="" endtime="">
        <img class="show_content" src="/images/wap/b2s/more_03.png">
        <p class="endplay disnone"> 本次团购时间已到期，请重新开团</p>
        <p class="more_timer" starttime="12" endtime="20">剩余<em>2</em>个名额 &nbsp;&nbsp; <span class="hou">23</span>  <span class="min">56</span>  <span class="sec">32</span>  后结束</p>
        <ul class="cfix">
            <li>
                <img src="/images/wap/b2s/1v4_more_2.png">
                <p>ids</p>
            </li>
            <li>
                <img src="/images/wap/b2s/1v4_more_5.png">
            </li>
            <li>
                <img src="/images/wap/b2s/1v4_more_5.png">
            </li>
        </ul>
        <P class="to_more js-tobuy">立即参团</P>
        <img class="need_know" src="/images/wap/b2s/1v4_more_6.png">
        <p class="know_text">1. 该活动仅限新用户参加，即未购买过美教1对4精品班的用户</p>
        <p class="know_text">2. 无忧课堂未覆盖学校的用户暂时不能参加该活动</p>
    </div>
    <!-- 团购end -->
    <div class="screen2">
        <img class="screen2-img" src="/images/wap/b2s/introduce1v4-05.png">
        <div class="screen2-con">
            <img class="screen2-img2" src="/images/wap/b2s/introduce1v4-13.png">
            <div class="screen2-con-text">100%拥有教学资质证书<br>严格的择优和培训制度<br>深谙ESL教学法，课程设计理念</div>
        </div>
        <img class="screen2-animation" src="/images/wap/b2s/1v4_2-04.png">
    </div>
    <div class="screen3">
        <img class="screen3-img" src="/images/wap/b2s/introduce1v4-07.jpg">
        <div class="screen3-con">
            <img class="screen3-img2" src="/images/wap/b2s/introduce1v4-08.png">
            <div class="screen3-con-text">交互式教学模板，孩子与老师双向反馈<br>趣味互动化教学，让孩子寓教于乐<br>单独辅导学生学习，让每个孩子都被重视</div>
        </div>
        <img class="screen3-animation" src="/images/wap/b2s/introduce1v4-011.png">
        <img class="screen3-animation2" src="/images/wap/b2s/introduce1v4-012.png">
    </div>

    <div class="part_one">
        <div class="bg_box">
            <div class="move_box">
                
            </div>
        </div>
        <P class="img_title"><img src="/images/wap/b2s/1v4_6.png"></P>
    </div>
    <div class="part_two">
        <P class="title_text">固定同级学伴，组队PK超强互动<br/>“互进式”的学习氛围，孩子越学越起劲<br/>在竞争与合作中，激发孩子领导力潜能</P>
        <P class="img_title"><img src="/images/wap/b2s/1v4_8.png"></P>
        <p class="text_int">全方位跟进学员学习，专业私属教学服务<br/>科学的教育理念和家辅方案，让父母安心放心<br/>全程英语班主任式教学，让孩子德才兼备</p>
    </div>
    <div class="part_three">
        <div class="people">
            
        </div>
    </div>
    <div class="part_six">
        <img src="/images/wap/b2s/1v4_2-05.png">
        <div class="border_box">
            <ul class="cfix first_title">
                <li class="active"><i>K</i><br/><span>学龄前</span></li>
                <li><i>G1</i><br/><span>一年级</span></li>
                <li><i>G2</i><br/><span>二年级</span></li>
                <li><i>G3</i><br/><span>三年级</span></li>
                <li><i>G4</i><br/><span>四年级</span></li>
                <li><i>G5</i><br/><span>五年级</span></li>
                <li><i>G6</i><br/><span>六年级</span></li>
            </ul>
            <ul class="content">
                <li>
                    <div>
                        <p class="title">适用年级 / 学龄前</p>   
                        <p class="title">学习重点 / 英文意识  自然对话  获取知识</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1. 通过教材中大量的图片和教师的TPR，能够对全英文的授课环境中接触到的语言进行理解，听懂并能够适用英语进行较为简单的日常沟通。</p>
                        <P class="normal">2. 认识并理解字母及其代表的语言含义，能够准确写出26个字母的大小写，能够进行简单的单词拼写选词填句。</P>
                    </div>
                </li>
                <li class="disnone">
                    <div>
                        <p class="title">适用年级 / 一年级</p>   
                        <p class="title">学习重点 / 建立数感 初步运算 了解社区</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1.能用英文表达100以内数字的比较和加减运算，初步建立几何和测量的概念，接触英文图标，建立数感。</p>
                        <P class="normal">2.能用英文描述不同类型的天气和温度变化，能用英文描述植物的需求。</P>
                        <P class="normal">3.能用所学的数学和科学知识来解决生活中的实际问题。</P>
                        <P class="normal">4.了解自己生活的社区、知道学校、医院、邮局、银行等机构的功能，并可以用英文表达。</P>
                    </div>
                </li>
                <li class="disnone">
                    <div>
                        <p class="title">适用年级 / 二年级</p>   
                        <p class="title">学习重点 / 建立数感 初步运算 了解社区</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1.能用英文表达100以内数字的比较和加减运算，初步建立几何和测量的概念，接触英文图标，建立数感。</p>
                        <P class="normal">2.能用英文描述不同类型的天气和温度变化，能用英文描述植物的需求。</P>
                        <P class="normal">3.能用所学的数学和科学知识来解决生活中的实际问题。</P>
                        <P class="normal">4.了解自己生活的社区、知道学校、医院、邮局、银行等机构的功能，并可以用英文表达。</P>
                    </div>
                </li>
                <li class="disnone">
                    <div>
                        <p class="title">适用年级 / 三年级</p>   
                        <p class="title">学习重点 / 数位概念 进阶乘除 社会责任</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1.能用英文表达1000以内的估算和运算，含进位和错位的过程，掌握面积、体积、温度等的英文表达，了解乘法和除法相关的数学语言，建立数位的概念。</p>
                        <P class="normal">2.能用英文描述食物链、动物的生命循环、水循环和地球资源等内容。</P>
                        <P class="normal">3.能用所学的数学和科学知识来解决生活中的实际问题。</P>
                        <P class="normal">4.合理利用公共信息和资源，建立社会责任感，能理解和包含多元文化。</P>
                    </div>
                </li>
                <li class="disnone">
                    <div>
                        <p class="title">适用年级 / 四年级</p>   
                        <p class="title">学习重点 / 数位概念 进阶乘除 社会责任</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1.能用英文表达1000以内的估算和运算，含进位和错位的过程，掌握面积、体积、温度等的英文表达，了解乘法和除法相关的数学语言，建立数位的概念。</p>
                        <P class="normal">2.能用英文描述食物链、动物的生命循环、水循环和地球资源等内容。</P>
                        <P class="normal">3.能用所学的数学和科学知识来解决生活中的实际问题。</P>
                        <P class="normal">4.合理利用公共信息和资源，建立社会责任感，能理解和包含多元文化。</P>
                    </div>
                </li>
                <li class="disnone">
                    <div>
                        <p class="title">适用年级 / 五年级</p>   
                        <p class="title">学习重点 / 大数小数 几何代数 多元文化</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1.能用英语描述大数小数、负数、线和角，掌握质数、合数、公约数等数学语言。</p>
                        <P class="normal">2.能用英文描述人体器官及其功能、能源的种类及如何节约能源和外太空世界；能用英文描述不同类型的自然灾害带来的影响以及如何预防。</P>
                        <P class="normal">3.能用所学的数学和科学知识来解决生活中的实际问题。</P>
                        <P class="normal">4.了解不同职业，认识到社会中模范的作用；建立正确的历史观和保护环境的意识。</P>
                    </div>
                </li>
                <li class="disnone">
                    <div>
                        <p class="title">适用年级 / 六年级</p>   
                        <p class="title">学习重点 / 大数小数 几何代数 多元文化</p>
                        <P class="title">能力达成：</P>
                        <p class="normal">1.能用英语描述大数小数、负数、线和角，掌握质数、合数、公约数等数学语言。</p>
                        <P class="normal">2.能用英文描述人体器官及其功能、能源的种类及如何节约能源和外太空世界；能用英文描述不同类型的自然灾害带来的影响以及如何预防。</P>
                        <P class="normal">3.能用所学的数学和科学知识来解决生活中的实际问题。</P>
                        <P class="normal">4.了解不同职业，认识到社会中模范的作用；建立正确的历史观和保护环境的意识。</P>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="part_four">
        <img src="/images/wap/b2s/1v4_12.png" class="tite">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="s_box">
                        <div class="pic_one"> <img src="/images/wap/b2s/1v4_13.png" class="tite"></div>
                        <div class="bot_img">
                            <p class="text_1">51Talk  品牌代言人</p>
                            <P class="text_2">国际网坛巨星</P>
                            <P class="text_3">“ 学英语和打网球一样，要和真人外教练。<br/>51Talk做到了让每个人都拥有这样的语言环境。”</P>
                        </div>
                    </div>      
                </div>
                <div class="swiper-slide">
                    <div class="s_box">
                        <div class="pic_one"> <img src="/images/wap/b2s/1v4_14.png" class="tite"></div>
                        <div class="bot_img">
                            <p class="text_1">徐小平</p>
                            <P class="text_2">新东方联合创始人</P>
                            <P class="text_3">“要想全球Walk，请来51Talk ”</P>
                        </div>
                    </div>      
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="null"></div>
    <!-- 正常购买按钮 -->
    <div class="bottom_box cfix js-tobuy " data-loginajaxurl="http://www.51kt.com/" data-currentpageurl="">
        <div class="left_box">
            <P class="l1">￥148 <span>￥原价699 </span><i></i></P>
        </div>
        <div class="right_box">购买</div>
    </div>


    <!-- 课程弹层 -->
    <div class="all_dio">
        <div class="class_to_buy">
            <h4>现在购买，为孩子开启国际化英语学习之旅</h4>
            <table>
                <tr>
                    <th>课程套餐</th>
                    <th>课程次数</th>
                    <th>本期优惠价</th>
                </tr>
                <tr class="js-not-pop" money="598" d-money="100" isvip="0" packageid="2" vip-money="298">
                    <td><i class="on_choose"></i>1个月课程包</td>
                    <td>外教1对1课12节<br/>中教辅导课4节</td>
                    <td class="colo">￥598 <span>748</span></td>
                </tr>
            </table>
            <ul class="free_class">
                <li class="cfix title">
                    <span>金额</span>
                    <i>￥198</i>
                </li>
                <li class="cfix pay_all_mon">
                     <span>实付金额</span>
                    <i>￥198</i>
                </li>
            </ul>
            <div class="buy_btn app_pay_btn">
                <p>立即支付</p>
            </div>
        </div>
    </div>
   


    <!-- 支付弹层 APP专用-->
    <!-- <div class="pay-dialog-wrap disnone"></div> -->
    <div class="pay-dialog js_pay_dialog">
      <div class="pay-dialog-tit">
        <div class="pay-dialog-tit-top">支付方式</div>
        <div class="pay-dialog-tit-con js_paySelect">
          <span class="payItems" data-paytype="alipay"><img src="/images/wap/b2s/app-buyvip-icon-alipay.png" /><i>支付宝购买</i></span>
          <span class="payItems js_weixin" data-paytype="weixin"><img src="/images/wap/b2s/app-buyvip-icon-WeChat.png" /><i>微信购买</i></span>
        </div>
      </div>
      <div class="pay-dialog-but pay-dialog-hide js_pay_dialog_hide">
        取消
      </div>
      <form class="js_payform">
        <input id="extId" value="0" name="extId">
        <input type="hidden" name="packageId" id="packageId" value="6radio">
        <input type="hidden" name="payType" id="payType" value="" class="js_paytype">
      </form>
      
    </div>
<div class="more_end_pop disnone">
    <div class="content">
        <p class="rad"></p>
        <P class="endtext">本次团购时间已到，请重新开团</P>
        <p class="to_btn js-tobuy">重新开团</p>
    </div>
</div>

<div class="share_pop disnone">
    <img src="/images/wap/b2s/1v4_share.png">
</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>