<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/introduce1v3_more.css">
</head>
<body data-init="introduce1v3_more" class="introduce1v3_more">
    <!--  <div class="intro_title">
       <p>外教1对1课程</p>
        <P>本期限量招生开始啦 !</P>
        <P>专属外教25分钟强互动，专为3-15岁孩子设计</P>
    </div> -->
    <div class="intro_top_new">
        <img src="/images/wap/b2s/1v3_pay_introduce-01.jpg">
    </div>

<!-- 团购 -->
    <div class="screen_more" start-time="" endtime="">
        <img class="show_content" src="/images/wap/b2s/more_01.png">
        <p class="endplay disnone"> 本次团购时间已到期，请重新开团</p>
        <p class="more_timer" starttime="12" endtime="20">剩余<em>2</em>个名额 &nbsp;&nbsp; <span class="hou">23</span>  <span class="min">56</span>  <span class="sec">32</span>  后结束</p>
        <ul class="cfix">
            <li>
                <img src="/images/wap/b2s/1v4_more_2.png">
                <p>ids</p>
            </li>
            <li>
                <img src="/images/wap/b2s/1v4_more_5.png">
            </li>
            <li>
                <img src="/images/wap/b2s/1v4_more_5.png">
            </li>
        </ul>
        <P class="to_more js-tobuy">立即参团</P>
        <img class="need_know" src="/images/wap/b2s/1v4_more_6.png">
        <p class="know_text">1. 该活动仅限新用户参加，即未购买过美教1对4精品班的用户</p>
        <p class="know_text">2. 无忧课堂未覆盖学校的用户暂时不能参加该活动</p>
    </div>
    <!-- 团购end -->
    
    <div class="intro_tab_new">
        <img src="/images/wap/b2s/1v3_pay_introduce-02.png">
        <div class="swiper-container paddingTop">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/wap/b2s/1v3_pay_introduce-05.png">
                    <p class="font3">中教梳理知识<br>外教练习听说</p>
                </div>
                <div class="swiper-slide">
                    <img src="/images/wap/b2s/1v3_pay_introduce-04.png">
                    <p class="font3">班级专属微信群<br>7*24小时中教辅导点评</p>
                </div>
                <div class="swiper-slide">
                    <img src="/images/wap/b2s/1v1_pay_introduce-03.png">
                    <p class="font3">纯外教1对1课<br>外教100%专注与孩子</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="intro_section1">
        <img src="/images/wap/b2s/1v3_pay_introduce-07.png">
        <div class="intro_section1-section intro_section1-section1">
            <div class="titBtn font-1">教材优势</div>
            <p class="font-text1">每一本教材都妙趣横生</p>
            <img src="/images/wap/b2s/1v3_pay_introduce-09.png">
            <ul class="font-items">
                <li>根据孩子当前英语水平，匹配针对性教材。</li>
                <li>参照国家新课标，100%内容涵盖</li>
                <li>自然拼读、语法句型、社会科学、自然科学、学科设计循序渐进</li>
            </ul>
        </div>
        <div class="intro_section1-section intro_section1-section2">
            <div class="titBtn font-2">师资优势</div>
            <p class="font-text1">每一位老师的课堂都精彩纷呈</p>
            <img src="/images/wap/b2s/1v3_pay_introduce-10.png">
            <ul class="font-items">
                <li>100%纯母语外教授课，资深中教班课老师辅导学习</li>
                <li>60小时课前培训+60小时听课讲评进行老师考核</li>
            </ul>
        </div>
        <div class="intro_section1-section intro_section1-section3">
            <div class="titBtn font-1">服务优势</div>
            <p class="font-text1">每一个孩子都备受关注</p>
            <img src="/images/wap/b2s/1v3_pay_introduce-11.png">
            <ul class="font-items">
                <li>每日作业 培养学习好习惯</li>
                <li>知识拓展 多彩活动提升学习兴趣</li>
                <li>成长曲线  记录孩子每一次成长</li>
            </ul>
        </div>
    </div>
    <div class="intro_section3">
        <img src="/images/wap/b2s/1v1_pay_introduce-11.png">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intro_section3_pic">
                        <img src="/images/wap/b2s/1v1_pay_introduce-12.png">
                    </div>
                    <p class="font4">Joanna 张子周</p>
                    <div class="font5">6岁 中英混血小芭比<br>入围香港《校园好声音》英文歌决赛<br>在51Talk学习2年</div>
                </div>
                <div class="swiper-slide">
                    <!-- <img src="/images/wap/b2s/1v1_pay_introduce-11.png"> -->
                    <div class="intro_section3_pic">
                        <img src="/images/wap/b2s/1v1_pay_introduce-13.png">
                    </div>
                    <p class="font4">VIC 陈泽华</p>
                    <div class="font5">  8岁 央视“希望之星”<br>英语风采大赛全国优胜奖<br>在51Talk学习1年</div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <ul class="intro_section3_items">
            <li><span class="font6">100万</span>小朋友和家长认可51Talk的1对1在线学英语</li>
            <li><span class="font6">50万</span>小朋友每天对话外教，他们的命运，正在发生改变......</li>
        </ul>
    </div>
    <div class="class_introduce">
        <div class="buyed_class">
            <p class="buyed_title">您的1对1课程次卡消耗情况如下</p>
            <p class="buy_class_mes_title">
                <span>课程次数</span>
                <span>课程学习有效期</span>
                <span>课程截至日期</span>
            </p>
            <p class="buy_class_mes_title buy_class_mes">
                <span>15次</span>
                <span>1个月</span>
                <span>2016年12月9日</span>
            </p>
        </div>
        <div class="fix_null"></div>
    </div>


    <div class="to_pay_on js-tobuy" data-loginajaxurl="http://www.51kt.com/" data-currentpageurl="" data-islogin="1">
        <a href="javascript:;"></a>
        <p>立即参团</p>
    </div>
    <input type="hidden" id="status" value="2"><!-- 判断团购是否过期 -->
    <div class="choose_class_pop">
        <!-- <未选课程弹层 -->
        <div class="class_to_buy">
            <h4>现在购买，为孩子开启国际化英语学习之旅</h4>
            <table>
                <tr>
                    <th>课程套餐</th>
                    <th>课程次数</th>
                    <th>本期优惠价</th>
                </tr>
                <tr class="js-not-pop" money="1698" d-money="300" isvip="0" packageid="4" vip-money="298">
                    <td ><i class="on_choose"></i>3个月课程包</td>
                    <td>外教1对1课36节<br/>中教辅导课16节</td>
                    <td class="colo">￥1698 <span>￥1998</span></td>
                </tr>
            </table>
            <ul class="free_class">
                <li class="cfix title">
                    <span>金额</span>
                    <i>￥198</i>
                </li>
                <li class="cfix pay_all_mon">
                     <span>实付金额</span>
                    <i>￥198</i>
                </li>
            </ul>
        </div>
        <div class="to_pay_btn">
            <a href="javascript:;"></a>
            <p>立即支付</p>
        </div>
    </div>
    <!-- form表单 -->
    <form action="" class="js_payform">
       <!--  套餐id -->
        <input class="packageid" name="" value="1" type="hidden">
        <!-- 是否选择的是vip -->
        <input class="isvip" name="" value="1" type="hidden">
        <!-- 是否勾选了多余的32节 -->
        <input class="buymore" name="" value="49" type="hidden">
    </form>

<div class="more_end_pop disnone">
    <div class="content">
        <p class="rad"></p>
        <P class="endtext">本次团购时间已到，请重新开团</P>
        <p class="to_btn js-tobuy">重新开团</p>
    </div>
</div>

<div class="share_pop disnone">
    <img src="/images/wap/b2s/1v4_share.png">
</div>
</div>    

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>