<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/invited_speakers_mes.css">
</head>
<body data-init="invitedSpeakersMes" class="invited_speakers_mes">
    <img src="/images/wap/b2s/invited_speakers_mes_6.png" class="top_img">
    <div class="choose_box">
        <p class="title">请补充以下信息完成报名</p>
        <div class="choose_list">
            <p hasid="1"><a href=""></a><em>学校</em><span>请选择学校</span><i></i></p>
            <p hasid="1"><a href=""></a><em>年级</em><span>请选择年级</span><i></i></p>
            <p hasid="1"><a href=""></a><em>教材</em><span>请选择教材版本</span><i></i></p>
            <button urlHref="">完成报名</button>
        </div>
    </div>
    <img src="/images/wap/b2s/invited_speakers_mes_2.jpg" class="title_show">
    <div class="speaker">
          <div class="introduce">
              <img src="/images/wap/b2s/invited_speakers_mes_4.png">
              <p class="title"><span>鲁子问</span> 教授</p>
              <P>博士、教授、博士生导师</P>
              <P>教育部《英语课程标准》专家组专家</P>
              <p>教育部教师教育资源专家委员会专家</p>
              <p>教育部国培专家库首批专家</p>
              <p>主持和参与国家与省部级项目和委托项目30多项</p>
              <p>出版学术著作10多部、教材10多套、国内外发表论文200余篇</p>
              <p>举办国内讲座与培训3000多场次、中小学课堂教学2000多节</p>
          </div>  
    </div>
    <img src="/images/wap/b2s/invited_speakers_mes_3.jpg" class="title_show2">
    <div class="speak_intr">
        <p class="time">开讲时间：6月8日 19:30-21:00</p>
        <p>本次直播讲堂中,专家将与您就如下四个问题进行深入探讨</p>
        <P class="iocn">小学英语教学如何发展语言能力</P>
        <P class="iocn">小学英语教学如何发展文化品格</P>
        <P class="iocn">小学英语教学如何发展思维品质</P>
        <p class="iocn">小学英语教学如何发展学习能力</p>
    </div>
    <P class="last">本活动最终解释权归无忧课堂</P>
    <div class="load_null"></div>
    <div class="load">
        <a href=""></a>
        <img src="/images/wap/b2s/invited_speakers_mes_5.png">
    </div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>