<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="parents_meeting" class="push_class">
    <div class="logo">
        <img src="/images/wap/b2s/logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="parent_text"><img src="/images/wap/b2s/parent.png"/></div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/wap/b2s/p_img.jpg" /></div>
            <div class="swiper-slide"><img src="/images/wap/b2s/student_summer_class_publicity2_01.png" /></div>
            <div class="swiper-slide"><img src="/images/wap/b2s/user-img.png" /></div>
        </div>
        <div class="p_confirm cfix">
            <p class="or">适用对象：五年级学生家长<p>
            <P class="share share-btn">分享</P>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="parent_intro">
        <P class="intro_text border_b">上课时间：<span>6月7日 17：00—17：30</span></P>
        <p class="intro_text border_b">主讲老师：<span>Eva</span></p>
        <p class="intro_text border_b">听讲方式：<span>登陆孩子上课软件进入教室听课</span></p>
        <p class="intro_text border_b">听课家长：<span>3位</span></p>
        <p class="intro_text">内容简介：</p>
        <p class="text_more">没有英语的学习环境，是我们学习英语最大的障碍！</p>
        <p class="text_more">现在51talk外教课，将外教和纯英文的学习环境送到你身边。</p>
        <p class="text_more">如果小5老师没猜错，你是不是既新奇兴奋又害怕焦虑呢？</p>
        <p class="text_more">新奇的是：呵呵，外国人要给我们上课，太好了！</p>
        <p class="text_more indent_text">外教会怎样讲课呢？有趣吗？</p>
        <p class="text_more">焦虑的是：全用英语讲课，我听不懂怎么办？</p>
        <p class="text_more indent_text">51talk的外教课，会不会比学校的难呢？</p>
        <p class="text_more indent_text">外教叫我回答问题，我不敢Talk怎么办？</p>
        <p class="text_more indent_text">爸爸妈妈，也在旁边听着，他们能不能帮上我呢？</p>
        <p class="text_more indent_text">......   ......</p>
        <p class="text_more">哈哈，小5老师如果说下去，小朋友上课的信心都快没了吧？</p>

        <p class="text_more">不用捉急，小5老师为大家精心准备了外教课家长会，你所有的担心和焦虑，都会得到一一解答！好了，要想让孩子大胆Talk.</p>
        <p class="text_more color_text">好爸妈们，陪着孩子一起上好外教课家长会吧！</p>
    </div>
    <div class="stu-audio-dialog">
            <div class="arrows">
                <img src="/images/wap/b2s/stu-audio-dialog01.png" alt="">
            </div>
            <!-- <div class="share-WeChat">
                <dl>
                    <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog02.png" alt=""></a></dt>
                    <dd>微信好友</dd>
                </dl>
                <dl>
                    <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog03.png" alt=""></a></dt>
                    <dd>朋友圈</dd>
                </dl>
            </div> -->
            <div class="share-prompt">点击右上角分享至微信好友或朋友圈</div>
            <div class="share-bottom">
                <div class="share-qq">
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog04.png" alt=""></a></dt>
                        <dd>QQ好友</dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="/images/wap/b2s/stu-audio-dialog05.png" alt=""></a></dt>
                        <dd>QQ空间</dd>
                    </dl>
                </div>
                <div class="share-cancel">取&nbsp;消</div>
            </div>
    </div>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>