<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="pay-wrap pay-detail-wrap">
		<div class="pay-detail-wrap-h">
			<div class="pay-detail-up">
				<div class="pay-detail-img">
					<img src="/images/wap/b2s/pay-detail-img.jpg" />
				</div>
				<div class="pay-detail-price">
					<h6>精品外教辅导课</h6>
					<p>优惠价：<span>¥300</span><i>¥500</i></p>
				</div>
			</div>
			<div class="pay-detail-space"></div>
			<div class="pay-detail-down">
				<h5>课程特色</h5>
				<ul>
					<li>小班授课，每节课不超过20个付费学生</li>
					<li>举手发言，享与外教老师沟通交流特权</li>
					<li>课中答题，结合多媒体教学，寓教于乐</li>
	                <li>同步课标，与学校教材同步，学以致用</li>
	                <li>成长报告，定期发送学生学习成长报告</li>
				</ul>
			</div>
		</div>

		<div class="submit-btn">
			<a href="#" class="input-submit">立即购买</a>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>
<script type="text/javascript">
/*$(function(){
	;(function(){
		var btn = $(".submit-btn"),
			mt = $("body").height() - $(".pay-detail-wrap-h").height() - btn.height() -10,
			css = mt <=5 ? {paddingBottom:10,marginTop:5} : {marginTop:mt};
		btn.css($.extend({},{visibility:"visible"},css));
	})();
});*/
</script>