<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/pictureBook3.css">
</head>
<body data-init="pictureBook3" class="pictureBook-wrap">
    <div class="pictureBook-top"><a href="#"><img src="/images/wap/b2s/pictureBook-01.png"></a></div>
    <div class="pictureBook-con">
        <div class="pictureBook-dialog js_pictureBook-dialog"></div>
        <input id="audio" controls data-src="/images/wap/b2s/Free-Converter.com-841e35eb4f6585ca9bf4ec8c1aea20cf592559717c7df-28450906.mp3" data-node='[{ "start": "0", "end": "26.425" },{ "start": "26.425", "end": "35.725" },{ "start": "35.725", "end": "50.475" },{ "start": "50.475", "end": "67.400" },{ "start": "67.400", "end": "75.850" },{ "start": "75.850", "end": "93.575" },{ "start": "93.700", "end": "105.150" },{ "start": "106.825", "end": "120.125" }]' data-totaltime="123" type="hidden">

        <div id="bb-bookblock" class="bb-bookblock">
            <div class="bb-item">1
                <img src="/images/wap/b2s/pictureBook-05.jpg">
            </div>
            <div class="bb-item">2
                <img src="/images/wap/b2s/pay-detail-img.jpg">
            </div>
            <div class="bb-item">3
                <img src="/images/wap/b2s/1v1_pay_introduce-01.jpg">
            </div>
            <div class="bb-item">4
                <img src="/images/wap/b2s/1v3_pay_introduce-01.jpg">
            </div>
            <div class="bb-item">5
                <img src="/images/wap/b2s/app_share-10.jpg">
            </div>
            <div class="bb-item">6
                <img src="/images/wap/b2s/student_summer_class_1v1-01.jpg">
            </div>
            <div class="bb-item">7
                <img src="/images/wap/b2s/tea-class-schedule-02.jpg">
            </div>
            <div class="bb-item">8
                <img src="/images/wap/b2s/uas_pay_intro_4.jpg">
            </div>
        </div>

        <div class="con-audio">
            <div id="control" class="audioBtn play"></div>
            <div class="progressBar">
                <div class="progressBac js_progressBac"></div>
                <div class="speed" id="speed"></div>
                <div class="drag" id="drag"></div>
            </div>
        </div>

        <!-- <div class="js-log" style="height: 100px;overflow: auto;-webkit-overflow-scrolling: touch;">
            
        </div> -->
    </div>
    <!-- <div class="js_test"></div>
    <div class="js_test2"></div> -->
    <div class="pictureBook-tit">其它热门绘本</div>
    <ul class="pictureBook-other cfix">
        <li>
            <div class="pictureBook-other-pic"><a href="#"><img src="/images/wap/b2s/pictureBook-06.png"></a></div>
            <div class="pictureBook-other-text">可爱的蜘蛛可爱的蜘蛛</div>
        </li>
        <li>
            <div class="pictureBook-other-pic"><a href="#"><img src="/images/wap/b2s/pictureBook-07.png"></a></div>
            <div class="pictureBook-other-text">五种感官</div>
        </li>
        <li>
            <div class="pictureBook-other-pic"><a href="#"><img src="/images/wap/b2s/pictureBook-08.png"></a></div>
            <div class="pictureBook-other-text">五种感官</div>
        </li>
    </ul>
    <div class="pictureBook-btn">
        <div class="pictureBook-btn-in"><a href="#"></a>更多热门绘本</div>
    </div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
    window.acquireImg();
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>