<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/process_show.css">
</head>
<body data-init="processShow" class="process_show">
    <div class="title_top">
        <p>报名成功！课题专员将与您电话联系帮孩子<br/>预约1对1北美外教课，请保持电话畅通。</p>
    </div>
    <div class="video_show border-b">
        <p class="more_text">纯美式绘本阅读 <a href="javascript:;">更多 ></a></p>
        <ul class="cfix video_list">
            <li>
                <div class="img_bg">
                    <img class="bg" src="/images/wap/b2s/process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="/images/wap/b2s/process_show_2.png">
                    </div>
                </div>
                <P class="
                text_one">My Dad and I</P>
                <P class="
                text_two">精品课：我和爸爸</P>
            </li>
            <li>
                <div class="img_bg">
                    <img class="bg" src="/images/wap/b2s/process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="/images/wap/b2s/process_show_2.png">
                    </div>
                </div>
                <P class="
                text_one">My Dad and I</P>
                <P class="
                text_two">精品课：我和爸爸</P>
            </li>
            <li>
                <div class="img_bg">
                    <img class="bg" src="/images/wap/b2s/process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="/images/wap/b2s/process_show_2.png">
                    </div>
                </div>
                <P class="
                text_one">My Dad and I</P>
                <P class="
                text_two">精品课：我和爸爸</P>
            </li>
        </ul>
    </div>
    <div class="video_show">
        <p class="more_text">课前预习视频 <a href="javascript:;">更多 ></a></p>
        <ul class="cfix video_list">
            <li>
                <div class="img_bg">
                    <img class="bg" src="/images/wap/b2s/process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="/images/wap/b2s/process_show_2.png">
                    </div>
                </div>
                <P class="
                text_one">My Dad and I</P>
                <P class="
                text_two">精品课：我和爸爸</P>
            </li>
            <li>
                <div class="img_bg">
                    <img class="bg" src="/images/wap/b2s/process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="/images/wap/b2s/process_show_2.png">
                    </div>
                </div>
                <P class="
                text_one">My Dad and I</P>
                <P class="
                text_two">精品课：我和爸爸</P>
            </li>
            <li>
                <div class="img_bg">
                    <img class="bg" src="/images/wap/b2s/process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="/images/wap/b2s/process_show_2.png">
                    </div>
                </div>
                <P class="
                text_one">My Dad and I</P>
                <P class="
                text_two">精品课：我和爸爸</P>
            </li>
        </ul>
    </div>
    <div class="cfix bottom_log">
        <img src="/images/wap/b2s/process_login_16.png">
        <div class="text_right">
            <P>美国纽交所上市公司(股票代码: COE)</P>
            <p>全球新来的在线英语领导品牌</p>
        </div>
    </div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>