<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="" class="push_class effect">
     <script type="text/javascript">
        window.onload = function(){
            document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
             document.getElementsByClassName("fontSizeLoding")[0].style.display = "none";
        };
    </script>
    <div class="effect_content">
        <div class="tit_img stu_tit_img school_list">
            <!-- <img src="/images/wap/b2s/effect_bg.png"/> -->
            张华老师管理班级的学习报告
        </div>
        <div class="effect_little_box ">
            <p class="school_list_class_name">一年级</p>
            <div class="cfix school_list_class_box">
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
            </div>
            <p class="school_list_class_name">一年级</p>
            <div class="cfix school_list_class_box">
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
                <div class="box_list">
                    <div>一班</div>
                    <p>8月15号课程</p>
                </div>
            </div>
        </div>
    </div>
    <!-- loading -->
    <div class="fontSizeLoding">
        <img src="/images/wap/b2s/eff_loading.gif">
    </div>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>