<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="signUp">
	<div class="signUp-wrap">
		<div class="signUp-prompt">您的宝贝错过了VIP特权体验课，现额外开放一次VIP特权体验机会，名额有限，不要错过！</div>
		<div class="signUp-banner"><img src="/images/wap/b2s/signUp-02.jpg"></div>
		<div class="signUp-privilege">
			<div class="signUp-privilege-tit">您的孩子可享受以下特权</div>
			<ul class="signUp-privilege-items">
				<li>
					<dl>
						<dt>上课举手发言</dt>
						<dd>免费与外教老师互动机会，英语就要说出来!</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>上课答题</dt>
						<dd>外教老师现场出题，实时回答，能力大比拼。</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>趣味课外作业</dt>
						<dd>课后提升练习，上课学，下课练。</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>课程学习报告</dt>
						<dd>个人专属定制，学习效果一目了然。</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="signUp-con">
			<div class="signUp-con-tit">课程安排</div>
			<ul class="signUp-con-items">
				<li>
					<dl class="cfix">
						<dt class="fl"><img src="/images/wap/b2s/signUp-03.png"></dt>
						<dd class="fl">
							<span>课程名称</span>
							<p>《Timmy’s Room》</p>
							<span>上课时间</span>
							<p>本周六(11月12日)  19:00-19:30</p>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="signUp-btn">
			<div class="signUp-btn-in">
				<a href="javascript:void(0);" id="js_signUpBtn">立即报名</a>
			</div>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>