<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="bg-f5 bg-h">
	<div class="class-detail">
		<h6>疯狂原始人：我们一家住在山洞！</h6>
		<div class="detail-img">
			<img src="/images/wap/b2s/detail-img.jpg" />
		</div>
		<!-- <p class="detail-time">上课时间：<span>2015年12月18日<i>18:00-18:50</i></span></p>
		<ul class="detail-icons">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul> -->
		<div class="detail-des">
			<dl>
				<dt>对话场景：</dt>
				<dd>在家中的厨房 In the kitchen at home</dd>
			</dl>
			<dl>
				<dt>核心单词：</dt>
				<dd>pizza,add,pan,great,make,put</dd>
			</dl>			
		</div>
		<div class="detail-tea">
			<div class="tea-tit">
				<p>主讲老师<span>Pizza：</span></p>
			</div>
			<p class="tea-con tc">
				Hello guys, 我是Minty老师，我的名字是“薄荷味儿”的意思，是不是瞬间觉得有清新的感觉呢？我喜欢音乐，喜欢电影。此外呢，我还是个dancer，我觉得用舞蹈表达情感是无比美妙的一件事~Minty也很想在英语的世界里带着大家的思想舞动起来，there is so much fun! 
			</p>
		</div>
		<ul class="detail-im">
			<li class="detail-im-li">
				<!-- <div class="im-tip">
					<span>学习目标</span>
					<em></em>
				</div> -->
				<P>学习目标</P>
				<ol class="detail-im-t detail-im-p">
					<li>听：可以听懂简单的做披萨的口语表达</li>
					<li>说：可以简单谈论如何做披萨</li>
					<li>读：可以读懂做披萨的步骤</li>
				</ol>
			</li>
			<li class="detail-im-li">
				<!-- <div class="im-tip">
					<span>语法点</span>
					<em></em>
				</div> -->
				<p>语法点</p>
				<ol class="detail-im-t">
					<li>1. Timmy likes eating pizza.</li>
					<li>2. He adds sausages and grapes on top.</li>
				</ol>
			</li>
		</ul>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>