<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
		<div class="summerClass-wrap">
			<ul  class="summerClass-item">
				<li>
					<dl class="cfix">
						<dt class="summerClass-pic fl">
							<img src="/images/wap/b2s/student_summer_class01.jpg" alt="" />
						</dt>
						<dd class='fl'>
							<dl>
								<dt>自然拼读Level1~3</dt>
								<dd>课本70%的单词都可以通过自然拼读法来拼读单词，所以掌握自然拼读法非常重要，让孩子记单词再不用死记硬背，做到“见词能读，听音能写”。</dd>
							</dl>
						</dd>
					</dl>
				</li>
				<li>
					<dl class="cfix">
						<dt class="summerClass-pic fl">
							<img src="/images/wap/b2s/student_summer_class02.jpg" alt="" />
						</dt>
						<dd class='fl'>
							<dl>
								<dt>绘本阅读Level1~3</dt>
								<dd>孩子们能够接触10个重点主题故事，融入400多高频词汇及非常丰富的常用句型和部分语法知识。通过丰富的课堂活动锻炼孩子的阅读技巧，提高孩子的阅读能力。</dd>
							</dl>
						</dd>
					</dl>
				</li>
			</ul>
			<ul class="summerClass-detail">
				<li>开课时间：<span>7-8月</span></li>
				<li>全部课时：<span>自然拼读20节+绘本阅读20节</span></li>
				<li>上课时间：<span>每天14:00-18:00,每天上2节</span></li>
				<li>每节时长：<span>25分钟</span></li>
			</ul>
			<div class="bottom-btn-wrap">
				<div class="bottom-btn-in">
					<a href="student_summer_class_pay2.html" class="bottom-btn">立即报名</a>
				</div>
			</div>
		</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>