<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<!-- 学生 -->
	<div class="account-center-box synthesize-wrap">
		<div class="account-head">
			<a href="account_detail.html"></a>
			<dl class="cfix">
				<dt>
					<img width="70" height="70" src="/images/wap/b2s/account-headicon-stu.png" class="account-head-img fl" />
					<div class="account-head-info fl">
						<h6 class="cfix">
							<p class="fl">赵雷</p>
							<span class="fl">
								<img src="/images/wap/b2s/account-vip.png" /><i>已付费</i>
							</span>
						</h6>
						<p>三年二班</p>
					</div>
				</dt>
				<dd><span class="fr"></span></dd>
			</dl>
		</div>
		<h6 class="synthesize-tit">我的课程</h6>
		<ul class="synthesize-detail">
			<li class="icon-tutorial">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>精品辅导课：</dt>
					<dd>剩余<span class="colorRed">30</span>节课</dd>
				</dl>
			</li>
			<li class="icon-openClass">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>校园公开课：</dt>
					<dd><span class="colorRed">19：30</span>开课</dd>
				</dl>
			</li>
			<li class="icon-learningReport">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>学习报告：</dt>
					<dd><span class="colorRed">3</span>份报告待查看</dd>
				</dl>
			</li>
			<li class="icon-parentsMeeting">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>家长会</dt>
					<dd><span class="colorRed">今天 19:30</span></dd>
				</dl>
			</li>
			<li class="icon-purchase">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>购买</dt>
					<dd><span class="colorRed textBg">尊享特权</span></dd>
				</dl>
			</li>
			<li class="icon-course">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>小学学科课程：</dt>
					<dd><span class="colorRed">约课</span></dd>
				</dl>
			</li>
		</ul>
		<dl class="cfix synthesize-1v1">
			<a href=""></a>
			<dt>
				<p>外教专属1对1课</p>
				<p>剩余10课次(2016/12/07)</p>
			</dt>
			<dd class="normal">约课顶顶顶顶</dd>
		</dl>
		<dl class="cfix synthesize-1v3">
			<a href=""></a>
			<dt>
				<p>1对1外教全程托管班</p>
				<p>外教1对1<span>10</span>课次 至<span>2016年12月7日</span></p>
				<p>中教辅导课<span>1</span>课次 上课<span>1月16日17:00</span></p>
			</dt>
			<dd class="normal">约课</dd>
		</dl>
		<dl class="cfix synthesize-1v4">
			<a href=""></a>
			<dt>
				<p>1对1外教全程托管班</p>
				<!-- <p>外教1对1<span>10</span>课次 至<span>2016年12月7日</span></p>
				<p>中教辅导课<span>1</span>课次 上课<span>1月16日17:00</span></p> -->
			</dt>
			<dd class="normal">约课</dd>
		</dl>
		<dl class="cfix synthesize-1v1">
			<a href=""></a>
			<dt>
				<p>外教专属1对1课</p>
				<p>剩余10课次(2016/12/07)</p>
			</dt> 
			<dd class="time">三天后：18:00</dd>
		</dl>
		<h6 class="synthesize-tit">更多</h6>
		<ul class="synthesize-detail">
			<li class="icon-inStudent">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>邀请同学</dt>
					<!-- <dd>剩余<span class="colorRed">30</span>节课</dd> -->
				</dl>
			</li>
			<li class="icon-qustion">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>常见问题</dt>
					<!-- <dd>剩余<span class="colorRed">30</span>节课</dd> -->
				</dl>
			</li>
			<li class="icon-gift">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>VIP睡前绘本大礼包</dt>
					<!-- <dd>剩余<span class="colorRed">30</span>节课</dd> -->
				</dl>
			</li>
			<li class="icon-video">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>上课指导视频</dt>
					<!-- <dd><span class="colorRed">19：30</span>开课</dd> -->
				</dl>
			</li>
			<li class="invent-gift">
				<a href="javascript:void(0);"></a>
				<dl>
					<dt>邀请有奖</dt>
					<dd><span>3位好友购买成功</span></dd>
				</dl>
			</li>
		</ul>
	</div>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>