<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
		<div class="summerClass-1v1-wrap">
			<ul>
				<li>50元，包下你的专属外教直播频道！</li>
				<li>1对1明星外教班，限量发售！</li>
				<li><img src="/images/wap/b2s/student_summer_class_1v1-01.jpg" alt=""></li>
				<li>优选100名资深明星外教，选完即止！</li>
				<li>超值价：<span>¥50</span>/课时</li>
			</ul>
			<div class="bottom-btn-wrap">
				<div class="bottom-btn-in">
					<p>51Talk阳光普照保障计划：暑期班第一次课后，您或孩子若有任何不满意，可无条件申请全额退款。</p>
					<a href="" class="bottom-btn">立即报名</a>
				</div>
			</div>
		</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>