<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
		<div class="summerClassPublicity2-wrap">
			<img src="/images/wap/b2s/student_summer_class_publicity2_01.png" alt="">
			<img src="/images/wap/b2s/student_summer_class_publicity2_02.png" alt="">
			<img src="/images/wap/b2s/student_summer_class_publicity2_03.png" alt="">
			<div class="pic"><a href="student_summer_class.html"><input type="button" value="查看详情"></a></div>
			<img src="/images/wap/b2s/student_summer_class_publicity2_04.png" alt="">
		</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>