<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/tea_reward_des.css">
</head>
<body data-init="" class="payed_1v1">

<div class="banner-box">
    <img src="/images/wap/b2s/img_10.jpg"/>
</div>
<div class="top_message">
    <p class="mes_tit_2 top">剩余次卡 <span>10次</span></p>
    <p class="mes_tit_2">有效期1个月至 <span>2016年12月13日</span></p>
    <P class="mes_tit_2 top-o">立即开启外教1对1学习之旅吧！</P>
</div>
<div class="to_class_content">
    <p class="test_title"></p>
    
    <div class="class_step cfix">
        <p class="left_step_1_img"></p>
        <div class="right_step">
            <p class="title">第一步</p>
            <p class="text_intro">下载安装<a href="">“51Talk无忧英语”</a>手机客户端</p>
            <p class="intro_more">或电脑打开网站“www.51talk.com”</p>
            <p class="intro_last">登录上课账号</p>
            <p class="title">第二步</p>
            <p class="text_intro">选择上课日期和时间</p>
            <p class="intro_last"></p>
            <p class="title">第三步</p>
            <p class="text_intro">选择上课方式为电脑端AC上课</p>
            <p class="intro_last">或51Talk APP</p>
        </div>
    </div>
    <div class="class_step cfix">
        <p class="left_step_2_img"></p>
        <div class="right_step">
            <p class="text_intro">按照上课时间   准时出席</p>
            <p class="intro_more">用孩子上课账号登录51Talk专用软件上课</p>
            <p class="intro_last">进入1对1教室上课</p>
        </div>
    </div>
    <div class="class_step cfix">
        <p class="left_step_3_img"></p>
        <div class="right_step">
            <p class="text_intro">课程结束24小时内查看测试报告</p>
            <p class="intro_more">登录网站“www.51Talk.com”查看报告</p>
            <p class="intro_more">登录手机客户端“51Tallk无忧英语”查看</p>
            <p class="intro_last">报告</p>
        </div>
    </div>
    <div class="load_app">
        <a href="#"></a>
        <p>下载"51Talk无忧英语"手机客户端</p>
    </div>
</div>





<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
 <script type="text/javascript">
 window.onload = function(){
     document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
     document.getElementById("fontSizeLoding").style.display = "none";
 }
 </script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>