<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<!-- 学生 -->
	<div class="account-center-box tea-myclass-box">
		<div class="school-title">
			<!--<p>-->
				<!--<span>入门外教课</span>-->
			<!--</p>-->
		</div>

		<ul class="account-info class-wait">
			<li>
				<ul>
					<li>
						<a href=""></a>
						<span class="wait-sort">入门课</span>
						<dl class="cfix">
							<dt>一年级一班</dt>
							<dd>今天19:30</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<span class="wait-sort">精品课</span>
						<dl class="cfix">
							<dt>一年级二班</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<span class="wait-sort">家长会</span>
						<dl class="cfix">
							<dt>一年级三班</dt>
							<dd></dd>
						</dl>
					</li>
				</ul>
			</li>

			<li>
				<ul>
					<li>
						<a href=""></a>
						<span class="wait-sort">家长会</span>
						<dl class="cfix">
							<dt>二年级一班</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<span class="wait-sort">家长会</span>
						<dl class="cfix">
							<dt>二年级二班</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li>
						<a href="javascript:void(0);"></a>
						<span class="wait-sort"></span>
						<dl class="cfix">
							<dt>二年级三班</dt>
							<dd class="no-waitClass">暂无配课</dd>
						</dl>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>