<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/teacher_help.css">
</head>
<body data-init="" class="" >
    <div class="teacher_help">
        <p class="title_top"><i>01</i> 班级管理</p>
        <p class="little_title">1.1创建我的班级</p>
        <img src="/images/wap/b2s/app_intro_img_1.png" class="first">
        <p class="little_title">1.2邀请学生激活</p>
        <img src="/images/wap/b2s/app_intro_img_2.png">
        <p class="title_top"><i>02</i> 作业</p>
        <p class="little_title">2.1 提醒学生去上课，并完成作业</p>
        <img src="/images/wap/b2s/app_intro_img_3.png" class="first">
        <p class="little_title">2.2 检查作业，奖励小红旗</p>
        <img src="/images/wap/b2s/app_intro_img_4.png">
        <p class="title_top"><i>03</i> 报告</p>
        <p class="little_title">3.1 每周定期接收学习报告</p>
        <img src="/images/wap/b2s/app_intro_img_5.png" class="first">
        <p class="little_title">3.2 每月接收月度测评报告</p>
        <img src="/images/wap/b2s/app_intro_img_6.png">
    </div>
    
</body>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>