<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<!-- 学生老师注册第1步页面 -->
<body>
	<div class="learnReport-wrap">
		<div class="learnReport-tit">
			<span>课程学习报告</span>
		</div>
		<ul class="learnReport-items">
			<li>
				<ul>
					<li class="learnReport-item-time">2016年09月01日—2016年09年07日</li>
					<li class="learnReport-item-con">
						<span>三年级/四年级</span>
						<span>23名同学课程报告</span>
						<span class="unread">未读</span>
					</li>
					<li class="learnReport-item-detail">
						<a href="javascript:void(0);">查看详情</a>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="learnReport-item-time">2016年09月01日—2016年09年07日</li>
					<li class="learnReport-item-con">
						<span>三年级/四年级</span>
						<span>23名同学课程报告</span>
					</li>
					<li class="learnReport-item-detail">
						<a href="javascript:void(0);">查看详情</a>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="learnReport-item-time">2016年09月01日—2016年09年07日</li>
					<li class="learnReport-item-con">
						<span>三年级/四年级</span>
						<span>23名同学课程报告</span>
					</li>
					<li class="learnReport-item-detail">
						<a href="javascript:void(0);">查看详情</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>