<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="teaInviteNewTea">
	<div class="tea-invite-new-tea-wrap2">
		<div class="tea-invite-tit">选择您要转让的老师</div>
		<ul class="tea-invite-items js_selectTeacher">
			<li class="selected" data-phone="15112345671">李白<span class="color1">（邀请码：689000）</span></li>
			<li data-phone="15112345672">温庭筠<span class="color1">（邀请码：189000）</span></li>
			<li data-phone="15112345673">杜甫<span class="color1">（邀请码：289000）</span></li>
			<li data-phone="15112345674">李白<span class="color1">（邀请码：389000）</span></li>
			<li data-phone="15112345675">李白<span class="color1">（邀请码：489000）</span></li>
			<li data-phone="15112345676">李白<span class="color1">（邀请码：589000）</span></li>
		</ul>
		<div class="tea-invite-prompt">
			没找到您想要的老师？<a href="teacher_invite_new_teacher.html">邀请老师加入</a>
		</div>
		<div class="form-wrap">
			<form action="#">
				<input type="hidden" id="js_radioVal" name="XXXphone" value="用默认选中的那个老师的手机号替换此属性">
				<div class="submit-btn add-submit-btn">
					<input type="submit" class="input-submit" value="确定" />
				</div>
			</form>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>