<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="teacherInfo">
	<div class="info-wrap">
		<div class="info-head">
			<h5>林徽因</h5>
			<ul>
				<li><span class="info-name">Cherry</span></li>
				<li class="info-icons"><p>北京109中学小学实验部</p></li>
				<li><p>学生邀请码：123456</p></li>
			</ul>
			<div class="invite-stu">
				<a href="">邀请学生注册</a>
			</div>
		</div>
		<h4 class="my-class">我的班级</h4>
		<div class="class-wrap">
			<div class="class-info">
				<h6>一年级<span class="textbook-version-select confirm_select"><a href="javascript:void(0);">选择教材版本</a><span class="confirm_select_tops"><!-- <span class="close_select_confirm"></span> --></span></span></h6>
				<ul class="cfix">
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p><span>未布置作业</span></p>
							</dd>
						</dl>
					</li>
					<li class="is-none">
						<dl>
							<dt><a href="create_class.html"></a></dt>
						</dl>
					</li>
				</ul>
				<div class="homework">
					<a href="">去布置作业&nbsp;</a>
				</div>
			</div>

			<div class="class-info">
				<h6>二年级<span class="textbook-version-change"><span><!-- <img src="/images/wap/b2s/book.png" alt=""> -->新版-一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</span><a href="javascript:void(0);">更换</a></span></h6>
				<ul class="cfix">
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p><span>未布置作业</span></p>
							</dd>
						</dl>
					</li>
					<li class="is-none">
						<dl>
							<dt><a href="create_class.html"></a></dt>
						</dl>
					</li>
				</ul>
				<div class="homework">
					<a href="">去布置作业&nbsp;</a>
				</div>
			</div>

			<div class="class-info">
				<h6>三年级<span class="textbook-version-change"><span><!-- <img src="/images/wap/b2s/book.png" alt=""> -->新版-牛津上海</span><a href="javascript:void(0);">更换</a></span></h6>
				<ul class="cfix">
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p><span>未布置作业</span></p>
							</dd>
						</dl>
					</li>
					<li class="is-none">
						<dl>
							<dt><a href="create_class.html"></a></dt>
						</dl>
					</li>
				</ul>
				<div class="homework">
					<a href="">去布置作业&nbsp;</a>
				</div>
			</div>

			<div class="class-info">
				<h6>四年级</h6>
				<ul class="cfix">
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p><span>未布置作业</span></p>
							</dd>
						</dl>
					</li>
					<li class="is-none">
						<dl>
							<dt><a href="create_class.html"></a></dt>
						</dl>
					</li>
				</ul>
				<div class="homework">
					<a href="">去布置作业&nbsp;</a>
				</div>
			</div>

			<div class="class-info">
				<h6>五年级</h6>
				<ul class="cfix">
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p><span>未布置作业</span></p>
							</dd>
						</dl>
					</li>
					<li class="is-none">
						<dl>
							<dt><a href="create_class.html"></a></dt>
						</dl>
					</li>
				</ul>
				<div class="homework">
					<a href="">去布置作业&nbsp;</a>
				</div>
			</div>

			<div class="class-info">
				<h6>六年级</h6>
				<ul class="cfix">
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p>激活学生数：25人</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt class="cfix">
								<a href="teacher_class_info.html"></a>
								<p>学生总数32人</p>
								<span class="class-tag"><i></i><i></i>1班</span>
							</dt>
							<dd>
								<p><span>未布置作业</span></p>
							</dd>
						</dl>
					</li>
					<li class="is-none">
						<dl>
							<dt><a href="create_class.html"></a></dt>
						</dl>
					</li>
				</ul>
				<div class="homework">
					<a href="">去布置作业&nbsp;</a>
				</div>
			</div>

			<div class="class-none">
				<dl><dt><a href="create_class.html"></a></dt></dl>
				<p>您当前还没有班级</p>
			</div>
		</div>
	</div>
	<!-- 搜索显示部分 -->
	<!-- <div class="search-box translateHide">
		<a href="javascript:void(0)" class="search-back">返回</a>
		<div class="search-bar"></div>
		<div class="search-con">
			<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
		</div>
		<div class="search-input">
		</div>
	</div> -->

	<div class="select_confirm"></div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>