<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body>
	<div class="t-main-box t-main-box1">
		<div id="mainBox">
			<form action="#">
				<p class="hw-class">三年级：1班，3班，5班，9班</p>
				<div class="hw-con">
					<div class="hw-con-in">
						<div class="con-in-u">
							<h6>王青老师给你布置了作业</h6>
							<p>作业内容：每周去上一节外教课，共四节。<br />
								上课软件：51TalkAC<br />
								请登录微信服务号“51Talk中小学英语”或在电脑上登录s.51talk.com查看作业详情</p>
						</div>
						<div class="con-in-d cfix">
							<a href="" class="fr">作业详情</a>
						</div>
					</div>
					<input type="submit" class="send-hw" value="发送" />
					<input type="button" class="send-hw sended" value="已发送" />
					<p class="hw-tip">点击“发送”后，我们会通过短信和微信替您通知学生来上课。</p>
				</div>
			</form>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>