<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/tear_envelopes.css">
</head>
<body data-init="tearEnvelopes" class="tear_envelopes">
    <div class="envelopes_top">
        <p class="start_time">活动末开始：5月10日－5月15日</p>
       <!-- 0：可以领红包 1：活动暂未开始；2：未参加家长会二 3:已领红包-->
        <input type="hidden" value="0" class="isOpne"> 
        <div class="cfix envelopes_box" ajaxUrl="">
            <div>
                <img src="/images/wap/b2s/tear_envelopes_2.png" class="before beforeAnimate">
                <img src="/images/wap/b2s/tear_envelopes_14.png" class="after disnone">
                <!-- <img src="/images/wap/b2s/tear_envelopes_18.png" class="have disnone"> -->
                <img src="/images/wap/b2s/tear_envelopes_24.png" class="have disnone">
            </div>
            <div>
                <img src="/images/wap/b2s/tear_envelopes_3.png"class="before beforeAnimate">
                <img src="/images/wap/b2s/tear_envelopes_15.png" class="after disnone">
                <!-- <img src="/images/wap/b2s/tear_envelopes_19.png" class="have disnone"> -->
                <img src="/images/wap/b2s/tear_envelopes_23.png" class="have disnone">
            </div>
            <div>
                <img src="/images/wap/b2s/tear_envelopes_4.png"class="before beforeAnimate">
                <img src="/images/wap/b2s/tear_envelopes_17.png" class="after disnone">
                <!-- <img src="/images/wap/b2s/tear_envelopes_20.png" class="have disnone"> -->
                <img src="/images/wap/b2s/tear_envelopes_22.png" class="have disnone">
            </div>
        </div>
        <P class="text">每人限抢一次，报名时可使用红包内礼券直接抵扣</P>
    </div>
    <div class="next_suprise">
        <div class="suprise">
            <img <img src="/images/wap/b2s/tear_envelopes_8.png">
            <p class="title">惊喜一：</p>
            <P class="text">专享99天绘本阅读计划：每天10分钟，学习九个单词若干句型，让孩子受益一生！</P>
            <p class="title">惊喜二：</p>
            <P class="text">专享两周外教托管班：2节中教预习课＋6节1对1外教课,14天微信群辅导点评，让孩子爱学敢说！</P>
            <p class="title">惊喜三：</p>
            <P class="text">立享特惠卷抵扣：现在报名外教托管班，享最低2.5折！</P>
        </div>
    </div>
    <div class="marketing-top">
        <div class="countDown_box">
            <div class="countDown">
                <div class="countDown-tit">- 距离报名结束还有 -</div>
                <div class="countDown-time js_time" data-starttime="100" data-endtime="150" data-nowtime="80">
                    <span class="day js_day">00</span>
                    <span class="hour js_hour">00</span>
                    <span class="minute js_minute">00</span>
                    <span class="second js_second">00</span>
                </div>
                <div class="countDown-btn js_apply disnone js_show" data-href="">立即报名</div>
                <div class="countDown-btn-none js_none">立即报名</div>
                <div class="countDown-apply-none js_none"></div>
                <div class="countDown-apply">
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-no-swiping">
                                <div class="countDown-apply-in"><img class="icon" src="/images/wap/b2s/app_marketing-05.png"><span class="font1">尼克1</span>同学刚刚报名成功</div>
                            </div>
                            <div class="swiper-slide swiper-no-swiping">
                                <div class="countDown-apply-in"><img class="icon" src="/images/wap/b2s/app_marketing-05.png"><span class="font1">尼克2</span>同学刚刚报名成功</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="img_bot" src="/images/wap/b2s/tear_envelopes_11.png">
    </div>
    <div class="marketing-introduce">
        <img class="img_bo" src="/images/wap/b2s/tear_envelopes_10.png">
        <p class="child">适合4-15岁小朋友加入</p>
        <div class="class_text">
            <P><span>2节</span>中教预习课／<span>6节</span>1对1外教课</P>
            <P><span>14天</span>微信群辅导点评／<span>2周</span>兴趣教学</P>
        </div>
        <h3>2周，6+2节课，孩子能收获什么？</h3>
        <p>1. 能够掌握<span class="font1">重点词汇24-40</span>个；<span class="font1">重点句型6-10</span>个；主要语法知识点6个。</p>
        <p>2. 通过1对1的外教教学，培养孩子在<span class="font1">“沉浸式”的英语</span>环境下学习。</p>
        <p>3. 趣味性的教材和强互动的上课方式，让孩子<span class="font1">建立自信，敢于开口说。</span></p>
    </div>
    <div class="marketing-courseArrange">
        <div class="courseArrange-tit">课程时间安排</div>
        <div class="courseArrange-con"><img class="icon" src="/images/wap/b2s/tear_envelopes_12.png"></div>
    </div>
    <div class="marketing-teachingProgramme">
        <div class="teachingProgramme-tit">教学大纲</div>
        <div class="teachingProgramme-con">
            <table class="">
                <tbody>
                    <tr>
                        <td class="font1">1年级</td>
                        <td>身体部位、家庭成员、水果、文具、数字、动作等主题词汇24-26个；功能句型6-10个；26个英文字母。</td>
                    </tr>
                    <tr>
                        <td class="font1">2年级</td>
                        <td>家庭成员、动物、食物、动作、交通等主题词汇24-28个；功能句型8-10个；二合辅音、二合元音和简单的辅音丛拼读。</td>
                    </tr>
                    <tr>
                        <td class="font1">3年级</td>
                        <td>动词词组、动物、数学运算、校园等核心词汇20-24个；功能句型8-10个；CVC单词和CVCe单词的拼读。</td>
                    </tr>
                    <tr>
                        <td class="font1">4年级</td>
                        <td>房间、生活用品、食物、描述类形容词、科目、动词词组等核心词汇36-40个；重点句型10-12个；主要语法知识点6个。</td>
                    </tr>
                    <tr>
                        <td class="font1">5年级</td>
                        <td>重点词汇36-40个；重点句型8-10个；主要语法知识点6个。</td>
                    </tr>
                    <tr>
                        <td class="font1">6年级</td>
                        <td>重点词汇36-40个；重点句型8-10个；主要语法知识点6个。</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="marketing-howLearn">
        <div class="howLearn-tit">孩子将如何上课学习</div>
        <h3 class="font1">1. 外教1对1，高效互动</h3>
        <p class="font2">100%专业外教1对1授课，趣味讲学高效互动，轻松的教学风格，让孩子爱学敢说。</p>
        <img class="img1" src="/images/wap/b2s/app_marketing-09.jpg">
        <h3 class="font1">2. 中教辅导，全程优质服务</h3>
        <p class="font2">全程资深中教老师优质服务，辅导孩子上课学习，帮助孩子巩固知识。班级专属微信群中7*24小时辅导点评，为孩子和家长解决学习中的各种问题。</p>
        <img class="img1" src="/images/wap/b2s/app_marketing-10.jpg">
    </div>
    <div class="marketing-comment">
        <div class="comment-tit">微信作业点评</div>
        <img class="img1" src="/images/wap/b2s/app_marketing-11.jpg">
        <img class="img1" src="/images/wap/b2s/app_marketing-12.jpg">
    </div>
    <div class="marketing-patriarch">
        <div class="patriarch-tit">看看家长怎么说</div>
        <div class="patriarch-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-14.png">
                        </div>
                        <p class="font4">Jimmy的爸爸</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">学习1对1外教和中教课的两周里，我看到了孩子点滴积累起来的进步，从起初的胆怯害羞和没信心，到现在自信开朗积极发言，在心理上已经取得了理想的表现。表达上，也从单个单词到目前会短句回答，单词量也较之前更多了。51Talk 的课程效果远超我的期待，孩子也乐于学习，外教和中教老师都敬业又热心，服务很好，很关心孩子成长，感谢！</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-21.png">
                        </div>
                        <p class="font4">Sunny的妈妈</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">在1对1全程托管班上课的两周以来，感觉孩子最大的变化是，以前在说英语总是一个词一个词地蹦，现在在外教的引导下能够说完整的一句话。每节课时间不是很长，每次下课都好像没上够似的，课后认真完成作业，提升了学习兴趣，还纠正了英语发音。孩子爱上了学英语，每天都自信满满的。</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-19.png">
                        </div>
                        <p class="font4">Stacy的妈妈</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">之前带着孩子试过各种培训班，也试过把外教老师请家里来，三四百块钱一节课，45 分钟，有效也行啊，坚持不下来，基本没什么效果，找到合适的老师也不容易。后来报了1对1全程托管班，从开课到现在，我女儿每天非常准时自觉的去听课，很积极主动的和老师互动，课下积极完成作业，提升小朋友学习英语的兴趣和热情，发音越来越准确了，不用顶着雾霾出去上辅导班，家长孩子都觉得很轻松，很自由。</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro_section3_pic">
                            <img src="/images/wap/b2s/app_marketing-20.png">
                        </div>
                        <p class="font4">David的妈妈</p>
                        <P class="address"><span>哈尔滨</span></P>
                        <div class="font5">孩子喜欢外教老师的细致认真、积极鼓励和幽默活泼，长时间下来跟很多外教交上了朋友，除上课的内容之外也常会跟老师交流心得、分享美食资讯、旅行心得、讲笑话和绕口令，把学习变成了快乐。除了外教课，还有中教老师的预习辅导课，打消了怕孩子听不懂的顾虑，同时又能更好的巩固外教课学到的知识，现在孩子学习英语真的是可以放心的托管了。</div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </div>
    <div class="marketing-btn">
        <!-- 未点红包状态 -->
        <div class="marketing-btn-in cfix js_apply disnone js_show not_open" data-href="">
            <div class="btn-in-l fl">
                <span class="nowPrice">￥600</span><br/><!-- 美小是1399 -->
                <span class="applyNum">已有200人报名</span>
            </div>
            <div class="btn-in-r fr">立即报名</div>
        </div>
        <!-- 已点红包状态 -->
        <div class="marketing-btn-in cfix js_apply disnone js_show just_open" data-href="">
            <div class="btn-in-l fl">
                <span class="applyNum">2.5折扣价</span>
                <span class="nowPrice">￥148</span>
                <span class="originalPrice">￥498</span><br>
                <span class="applyNum">限购一单有效期三天</span>
            </div>
            <div class="btn-in-r fr">立即报名</div>
        </div>
        <!-- 不能购买状态下按钮 -->
        <div class="marketing-btn-none cfix js_none js-cannot-buy" data-href="http://www.51talk.com/">
            <div class="btn-in-l fl">
                <span class="nowPrice">活动最低享2.5折扣价   </span>
                <span class="originalPrice">原价￥600</span><br>
                <span class="applyNum">距离活动开始还剩3天</span>
            </div>
            <div class="btn-in-r fr">立即报名</div>
        </div>
    </div>
    <div class="dialog disnone js_dialog">
        <form action="" method="get" class="js_form">
        <div class="pay js_pay">
            <div class="pay-tit">新生特惠包：中教预习课2次+1对1外教课6次</div>
            <div class="pay-price cfix">
                <span class="pay-price-l fl">课程价格：</span>
                <span class="pay-price-r fr">￥148.00</span>
            </div>
            <div class="pay-affirm">需支付<span class="font1">¥148.00</span></div>
            <div class="pay-weChat pay-app selected js_pay_app" data-app="weChat">微信支付</div>
            <div class="pay-alipay pay-app js_pay_app" data-app="alipay">支付宝支付</div>
            <div class="pay-btn js_pay_btn">确认支付</div>
            <input type="hidden" name="AA" value="148" class="js_pay_price_val">
            <input type="hidden" name="BB" value="weChat" class="js_pay_app_val">
            <input type="hidden" name="DD" value="" class="js_pay_timestamp">
        </div>
        </form>
    </div>

<div class="open_envelopes">
    <!-- <div><img src="/images/wap/b2s/tear_envelopes_13.png"></div> -->
    <div><img src="/images/wap/b2s/tear_envelopes_25.png"></div>
</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="/images/wap/b2s/eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
    window.init();
}
</script>
</body>
<!--公共尾部结束-->
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>