<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body data-init="teacherClassInfo">
	<div class="t-main-box t-main-box2">
		<div id="mainBox">
			<div class="box-tit">
				<h6>赵老师</h6>
				<ul class="tit-ul">
					<li>老师：张秀兰</li>
					<li>未激活学生数：13</li>
				</ul>
			</div>
			<div class="box-tit-s"></div>
			<div class="student-list">
				<ul>
					<li>王五二<span class="n-activateBtn">未激活</span></li>
					<li>王五二<span class="n-activateBtn">未激活</span></li>
					<li>王五二（<span class="n-activate">未激活</span>）</li>
				</ul>
			</div>
		</div>
		<div id="bottomBox" class="bottom-box">
			<a class="add-btn"  href="add_student.html">添加学生</a>
		</div>
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>