<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/b2s/b2s.css">
</head>
<body class="bg-f5">
	<div class="warning-wrap">
		<h4 class="warning-title">系统通知</h4>
		<!-- <div class="warning-tip">短信验证码不正确</div> -->
		<!--<div class="warning-tip">
			<div class="warning-create">
				<h5>创建班级失败</h5>
				<p>已有其他老师创建了三年级二班，若<br/>您仍要创建该班级，请联系管理员，<br/>QQ：149122093</p>	
			</div>
		</div> -->
		<div class="warning-tip">
			<div class="warning-phone">
				<p>您的手机号已经被注册<br/>请直接使用手机号登录</p>
				<a href="login.html">去登陆&nbsp;&gt;</a>
			</div>
		</div> 
	</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/b2s/vendor.js"></script>
</html>