@charset "utf-8";

@imgPath: "../../../images/wap/junior_service_number/";
input,a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.bg-c{
  background-color:#f7f8f8;
}
.content{
  padding:0 5px;
  .tea-info{
    background-color: #ffffee;
    padding:23px 0 23px;
    .prompt{
       color:#595757;
       text-align: center;
       font-size: 16px;
       span{
        width: 16px;
        height:12px;
        display: inline-block;
        background: url("@{imgPath}icons_t.png") -150px 0 no-repeat;
        background-size: 250px 250px;
        margin-right:5px;
       }
    }
    .tea-des{
      text-align: center;
      margin-top:16px;
      .tea-img{
        img{
          width:76px;
          height:76px;
          border:1px solid #f9c106;
          border-radius: 50px;
        }
      }
      .tea-name{
        text-align: center;
        font-size: 18px;
        color:#4b4848;
      }
      .class-info{
        font-size: 12px;
        color:#595757;
        text-align: center;
      }
    }
  }
  .class-box{
    background-color: #ffffee;
    padding:6px;
    margin-top:5px;
    font-size: 12px;
    .info{
      position: relative;
      margin-bottom:5px;
      .label{
        width:57px;
        height:15px;
        background-color: #f4a640;
        font-size: 10px;
        text-align: center;
        line-height: 15px;
        position: absolute;
        border-radius: 10px;
        color:#fff;
        display: inline-block;
      }
      .text-box{
        margin-left:72px;
        color:#959595;
        .title{
          position: relative;
          width: 90%;
          span{
            position: absolute;
            width:30px;
            height:25px;
            display: inline-block;
            background: url("@{imgPath}icons_t.png") -167px -17px no-repeat;
            background-size: 250px 250px;
            right:-20px;
            bottom:-3px;
          }
          .open{
            background-position: -167px 8px;
            background-size: 250px 250px;
          }

        }
      }
      .font-c{
        color:#595757;
      }
      .class-text{
        border-top: 1px solid #f0b565;
      }
    }
  }
  .class-mode{
    margin-top:0;
  }

  .info-box{
    padding:0 10px;
    .info-c{
      position: relative;
      background-color: #e2e2d7;
      -webkit-box-shadow:inset 0 0 10px #cdcdbb; 
      .icon{
        position: absolute;
        display: inline-block;
        top:15px;
        left:15px;
        width:25px;
        height:24px;
        background: url("@{imgPath}icons_t.png") 0 -25px no-repeat;
        background-size: 250px 250px;
      }
      .info-t{
        margin-left:68px;
        color:#595757;
        padding:12px 0 13px;
        position: relative;
        
        .major{
          font-size: 14px;
        }
        .major-des{
          font-size: 12px;
          position: relative;
          span{
            position: absolute;
            display: block;
            width:30px;
            height:25px;
            background: url("@{imgPath}icons_t.png") -167px -17px no-repeat;
            background-size: 250px 250px;
            right:10px;
            bottom:-6px;
          }

          .open{
            background-position: -167px 8px;
            background-size: 250px 250px;
          }
        }
        .major-des1{
          font-size: 10px;
          color:#9fa0a0;
        }
        .uint-box{
          border-bottom:1px solid #f0b565;
        }
      }
      .uint-left{
        margin-left:90px;
      }
      .lesson-left{
        margin-left:20px;
      }
      .current{
        i{
          display: block;
          position: absolute;
          width: 12px;
          height:12px;
          left: -18px;
          top: 16px;
          background: url("@{imgPath}icons_t.png") -225px 0 no-repeat;
          background-size: 250px 250px;
        }
        .pay-mode{
          top:10px;
        }
      }
      .margin-v{
        margin-left:100px;
      }
      .padding-v{
        padding:8px 0 8px;
      }
    }
    .radius-v{
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
    }
  }
  .line{
      border-bottom:1px solid #f0b565;
  }

  .class-sure{
    padding:20px 10px;
    a{
      width:189px;
      height:27px;
      background-color: #f4a640;
      border-radius: 10px;
      display: block;
      font-size: 16px;
      color: #fff;
      height: 26px;
      margin:0 auto;
      text-align: center;
      line-height: 26px;
    }
  }
  .hide{
    display: none;
  }
}
.showtips_layer{
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .showtips{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
    position: absolute;
    color:#595757;
    top:50%;
    left:50%;
    margin-top:-57px;
    margin-left:-135px;
    width:270px;
    height:115px;
    background-color: #f7f8f8;
    .tit{
      height:20px;
      font-size: 14px;
      background:#e2e2d7;
      -webkit-box-shadow:inset 0 0 5px #d0d0bf;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      text-indent: 8px; 
    }
    .content{
      text-align: center;
      padding-top:20px;
      span{
        display:inline-block;
        width:16px;
        height:12px;
        background: url('@{imgPath}icons_t.png') -150px 0 no-repeat;
        background-size: 250px 250px;
      }
      p{
        font-size:12px;
        color:#595757;
        text-align: center; 
      }
      a{
        display: inline-block;
        width:52px;
        height:19px;
        background-color: #f4a640;
        color:#fff;
        font-size: 14px;
        line-height: 17px;
        border-radius: 10px;
        margin-top:15px;
      }
    }
    
  }
}  
   
   