<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>H5 教材预览</title>
    <link rel="stylesheet" type="text/css" href="http://static.51talk.com/static/css/html/bookPreview20170616/bookPreview20170616.css?v=1497938640325">
</head>
<body> 
 <div class="bookPreview" data-init="index"> 
  <div class="book"> 
    <div class="product first" >   
        <iframe src="../../../ccs/649992/13/index.html" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="100%" width="100%"></iframe>
    </div> 
      <div class="product" > 
         <iframe src="../../../ccs/649992/13/index.html" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="100%" width="100%"></iframe>
      </div>
      <div class="product" > 
         <iframe src="../../../ccs/649992/13/index.html" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" height="100%" width="100%"></iframe>
      </div>
    </div>
    <div class="prev arrow">
      <span></span>
    </div>
    <div class="next arrow">
      <span></span>
    </div>
  </div>
<script src="http://static.51talk.com/static/js/html/project/bookPreview20170616/vendor.js?v=1497938640325"></script>
</body>
</html>