
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/sell/sell.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="sell" class="sell">
      <header class="header">
        <section class="logo"><img src="/images/wap/sell//logo.jpg"/></section>
        <section class="slogan">
          <p>中国在线教育赴美上市第一股</p>
          <p>51Talk无忧英语美国纽交所成功上市</p>
        </section>
      </header>
      <section class="banner"><img src="/images/wap/sell//banner.jpg"/></section>
      <section class="grade-select">
        <h2>选择年级
          <section style="display:none" class="error-tips">请选择年级</section>
        </h2>
        <ul class="clearfix">
          <li data-grade="101">一年级</li>
          <li data-grade="102">二年级</li>
          <li data-grade="103">三年级</li>
          <li data-grade="104">四年级</li>
          <li data-grade="105">五年级</li>
          <li data-grade="106">六年级</li>
        </ul>
      </section>
      <section class="semester-select">
        <h2>选择学期</h2>
        <ul class="clearfix">
          <li data-semester="201">春</li>
          <li data-semester="202">暑</li>
          <li data-semester="203">秋</li>
          <li data-semester="204">寒</li>
        </ul>
      </section>
      <section class="classes-select">
        <h2>选择班型<i class="help">?</i></h2>
        <ul class="clearfix">
          <li data-classes="301">集训班48元</li>
          <li data-classes="302">全能拔高班1800元</li>
        </ul>
      </section>
      <section class="level-select">
        <h2>选择班级层次<i class="help">?</i></h2>
        <ul class="clearfix">
          <li data-level="401">提高班A</li>
          <li data-level="402" class="disable-gray">尖子班A+</li>
        </ul>
      </section>
      <footer class="footer"><a href="javascript:;" class="sign">立即报班</a></footer>
      <section class="dialog">
        <section class="close"></section>
        <h2>集训班介绍</h2>
        <section class="info">阿萨德件莱卡设计费拉斯加罚款了萨克雷 卡拉斯加福利卡上就付款了撒娇付款了爱睡懒觉奥数傀儡放假快乐飞机看撒娇付款拉卡拉是卡死方可垃圾坑龙角散看了就爱是快乐就卡死尽快拉上风口浪尖卡死爱上咖啡监考老师积分卡拉撒尽快拉上放开两三卡卡收付款啦开饭啦四级联考看了</section>
      </section>
    </div>
    <script src="/js/wap/project/sell/vendor.js" id="seajsnode"></script>
  </body>
</html>