
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/sell/sell.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="sell" class="sell">
      <section class="customize">
        <header class="c-header"><a href="javascript:;" class="touch-area"><em class="arr"></em></a>定制课表</header>
        <section class="teacher-select">
          <label>已选择老师：</label><em class="name">周楠</em><em class="replace"><i class="icon"></i>更换</em>
        </section>
        <section class="period">
          <h2>上课周期</h2>
          <ul class="clearfix">
            <li data-class_first_date="2016-09-25 00:00:00" data-class_last_date="2016-10-01 23:59:59">9.15-9.30</li>
            <li data-class_first_date="2016-10-01 00:00:00" data-class_last_date="2016-10-20 23:59:59">10.01-10.15</li>
            <li data-class_first_date="2016-10-13 00:00:00" data-class_last_date="2016-10-25 23:59:59">10.16-10.30</li>
          </ul>
        </section>
        <section class="time">
          <h2>上课时间<i class="help">?</i>
            <section class="error-tips">请选择上课时间</section>
          </h2>
          <section class="tab">
            <ul class="clearfix">
              <li class="default">周六</li>
              <li>周日</li>
            </ul>
          </section>
          <section class="time-lst">
            <ul class="clearfix">
              <li>9:00</li>
              <li>10:00</li>
              <li>11:00</li>
              <li>12:00</li>
              <li>13:00</li>
              <li>14:00</li>
              <li>15:00</li>
              <li>16:00</li>
              <li>17:00</li>
              <li>18:00</li>
            </ul>
          </section>
          <section style="display:none;" class="time-lst">
            <ul class="clearfix">
              <li>9:00</li>
              <li>10:00</li>
              <li>11:00</li>
              <li>12:00</li>
              <li>13:00</li>
              <li>14:00</li>
              <li>15:00</li>
              <li>16:00</li>
              <li>17:00</li>
              <li>18:00</li>
            </ul>
          </section>
        </section>
        <section class="recommend">
          <h2>推荐班级<i class="help">?</i></h2>
          <ul class="clearfix">
            <li>小学三年级秋季口语集训A+班2-周楠（热报）</li>
            <li>小学三年级秋季口语集训A+班2-周楠（紧张）</li>
            <li>小学三年级秋季口语集训A+班2-周楠</li>
            <li>小学三年级秋季口语集训A+班2-周楠（已满</li>
          </ul>
          <div class="load-more">更多班级</div>
        </section>
      </section>
      <input type="hidden" id="page_no" value="1"/>
      <input type="hidden" id="prop_grade" value="101"/>
      <input type="hidden" id="prop_term" value="201"/>
      <input type="hidden" id="prop_classtype" value="301"/>
      <input type="hidden" id="prop_classlevel" value="401"/>
      <footer class="c-footer">
        <ul class="clearfix">
          <li class="money">48元</li>
          <li class="sign">立即报名</li>
        </ul>
      </footer>
      <section class="dialog">
        <section class="close"></section>
        <h2>集训班介绍</h2>
        <section class="info">阿萨德件莱卡设计费拉斯加罚款了萨克雷 卡拉斯加福利卡上就付款了撒娇付款了爱睡懒觉奥数傀儡放假快乐飞机看撒娇付款拉卡拉是卡死方可垃圾坑龙角散看了就爱是快乐就卡死尽快拉上风口浪尖卡死爱上咖啡监考老师积分卡拉撒尽快拉上放开两三卡卡收付款啦开饭啦四级联考看了</section>
      </section>
      <section class="slider-bar-mask">
        <section class="slider-bar-wrap">
          <header class="s-header">
            <section class="touch-area"></section><a href="javascript:;" class="arr"></a>选择老师
          </header>
          <section class="unlimited"> 
            <label>不限老师</label><em>系统会为你选择合适的老师</em>
          </section>
          <section class="appointed">
            <label>指定老师</label><em>上课时间也会受限哦</em>
          </section>
          <section class="teacher-lst">
            <ul class="clearfix">
              <li><img src="/images/wap/sell/head.png"/><em class="name">周楠</em></li>
              <li><img src="/images/wap/sell/head.png"/><em class="name">周楠</em></li>
              <li><img src="/images/wap/sell/head.png"/><em class="name">周楠</em></li>
              <li><img src="/images/wap/sell/head.png"/><em class="name">周楠</em></li>
            </ul>
          </section>
        </section>
      </section>
    </div>
    <script src="/js/wap/project/sell/vendor.js" id="seajsnode"></script>
  </body>
</html>