
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>500本绘本儿歌</title>
    <link href="/css/wap/picture_serve_na/picture_serve_na.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section data-init="app" class="picture-serve">
      <section class="picture-serve__logo">
        <image src="/images/wap/picture_serve_na/logo.png"></image>
      </section>
      <section class="picture-serve__number">
        <image src="/images/wap/picture_serve_na/number.png"></image>
      </section>
      <section class="picture-serve__info">
        <image src="/images/wap/picture_serve_na/info.png"></image>
      </section>
      <section class="picture-serve__age">适合<em>5-12</em>岁儿童</section>
      <section class="picture-serve__guide">
        <image src="/images/wap/picture_serve_na/guide.jpg"></image>
      </section>
      <section class="picture-serve__form">
        <ul class="clearfix">
          <li class="form-tel">
            <input type="tel" id="tel" name="tel" placeholder="请输入接收手机号"/>
          </li>
          <li class="select-age"> 
            <div class="select-option">请选择适用年龄</div>
            <select name="select" class="select">
              <option value="">请选择适用年龄</option>
              <option value="">5岁</option>
              <option value="">6岁</option>
              <option value="">7岁</option>
              <option value="">8岁</option>
              <option value="">9岁</option>
              <option value="">10岁</option>
              <option value="">11岁</option>
              <option value="">12岁</option>
              <option value="">其他</option>
            </select>
          </li>
          <li class="btn"><img src="/images/wap/picture_serve_na/btn.png"/></li>
        </ul>
      </section>
    </section>
    <script src="/js/wap/project/picture_serve_na/vendor.js" type="text/javascript" id="seajsnode"></script>
  </body>
</html>