<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>51Talk - The No.1 online English school in China </title>
    <link rel="stylesheet" href="/css/html/vide_more/vide_more.css">
    <link rel="stylesheet" href="../../../less/html/vide_more/jquery.mCustomScrollbar.min.css">
</head>
<body>
<div class="more-video" data-init="video" id="container">
  <div class="topbar">
    <a href="javascript:;" class="logo"></a>
    <div class="name">
      <label>课程回顾</label> Lesson 8  Homework
    </div>
  </div>
  <div class="video-container">
    <div class="video-wrap">
      <input type="hidden" value="http://media.51talk.com/upload/media/lina.flv,http://mp4video.b0.upaiyun.com/51record_test/20170606/114106301/114106301_1496661494_1496661968_6014.mp4" id="videourl">
      <input type="hidden" value="114106301"  id="appoint_id">
      <input type="hidden" id="ckplayer_swf" value="http://static.51talk.com/static/js/lib/ckplayer/ckplayer.swf">
      <div class="video-wrap__container">
        <div class="video-nav-img"><img src="/images/html/vide_more/border.png" alt=""></div>
        <div id="playerContainer"></div>
      </div>
    </div>
  </div>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/vide_more/vendor.js"></script>
</html>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
<script src="../../../js/html/project/vide_more/jquery.mousewheel.min.js"></script>
<script src="../../../js/html/project/vide_more/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="http://vodplayer.bs2dl.yy.com/yycloud.min.js"></script>