<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>学习进度</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
    <style id="dynamic" ></style>
</head>
<body> 
	 <div class="studyProgress">
	 		<div class="s-banner">
	 				<img src="<%=imagessrc%>s-banner.jpg" class="width100" />
	 				<div class="title">
	 					  Blue的<br />
	 						<span>学习进度报告</span>
	 				</div>
	 		</div>
	 		<div class="main" data-init="progress">
	 				<div class="mainIn">
	 						<h3>完成了<span>XX</span>节1对1外教课<br />累计说英语<span>XX</span>分钟</h3>
	 						<dl>
	 								<dt>
	 									 <h4>
	 									 		<i>
	 									 			<span></span>
	 									 		</i>
	 									 		经典英语青少版
	 									 </h4>
	 									 <span>已完成<em> 20%</em></span>
	 								</dt>
	 								<dd>
	 										<div class="pmgressbar">
	 												<span class="red redBar" style="width:20%" data="66%"></span>
	 										</div>
	 								</dd>
	 						</dl>
	 						<dl>
	 								<dt>
	 									 <h4>
	 									 		<i>
	 									 			<span class="green"></span>
	 									 		</i>
	 									 		旅游英语
	 									 </h4>
	 									 <span>已完成<em class="green"> 20%</em></span>
	 								</dt>
	 								<dd>
	 										<div class="pmgressbar">
	 												<span class="green greenBar" data=""></span>
	 										</div>
	 								</dd>
	 						</dl>
	 						<dl>
	 								<dt>
	 									 <h4>
	 									 		<i>
	 									 			<span  class="blue"></span>
	 									 		</i>
	 									 		生活口语
	 									 </h4>
	 									 <span>已完成<em class="blue"> 20%</em></span>
	 								</dt>
	 								<dd>
	 										<div class="pmgressbar">
	 												<span class="blue blueBar" data=""></span>
	 										</div>
	 								</dd>
	 						</dl>
	 						<h3>课程学习统计数据</h3>
							<div id="main" style="height:20rem;"></div>
							 <input type="hidden" value="25" id="oneToOneClass" />
               <input type="hidden" value="15" id="MiniClass" />
               <input type="hidden" value="40" id="openClass" />
               <input type="hidden" value="70" id="efl" />
               <input type="hidden" value="20" id="iTalk" />
							<div class="s-summary">
									<ul class="s-summaryIn">
											<li>
													<h4>
															  <i class="i1"><span></span></i>    
															  1对1外教课
													</h4>
													<em>20%</em>
											</li>
											<li>
													<h4>
																<i class="i2"><span></span></i>
																精品小班课
													</h4>
													<em>20%</em>
											</li>
											<li>
													<h4>
															<i class="i3"><span></span></i>
															EFL练习次数
													</h4>
													<em>20%</em>
											</li>
											<li>
													<h4>
															<i class="i4"><span></span></i>
															精品公开课
													</h4>
													<em>20%</em>
											</li>
											<li>
													<h4>
															<i class="i5"><span></span></i>
															iTalk练习次数
													</h4>
													<em>20%</em>
											</li>
									</ul>
							</div>
	 				</div>

	 		</div>
	 		<!-- <div class="footer footerFix">
						 <h3>立即领取 <span>免费课程</span></h3>
						 <form id="reg1_form">
						 		<input type="text" class="phone" name="phone" placeholder="手机" />
						 		<input type="password" class="pwd" name="password" placeholder="密码" />
						 		<a href="###" class="subBtn">免费测试我的英语能力</a>
						 </form>
				</div>
				<div class="footer footerMask"></div> -->
	 </div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>