<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>选择班级</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink %>">
</head>
<body> 
    <div class="selling" id="container" data-init="index">
        <div class="s_top">
            <div class="step_bottom">
                <div class="step">
                    <div class="circle"></div>
                    <p class="intro">购课成功</p>
                </div>
               <div class="step">
                    <div class="circle"></div>
                    <p class="intro active">选择班级</p>
                </div>
                <div class="step">
                    <div class="circle"></div>
                    <p class="intro">完成</p>
                </div>
            </div>
            <div class="step_top">
                <div class="step">
                    <div class="circle">1</div>
                </div>
               <div class="step">
                    <div class="circle active">2</div>
                </div>
                <div class="step">
                    <div class="circle">3</div>
                </div>
            </div>
            <div class="s_line">
                <div class="line"></div>
            </div>
        </div>
        <!-- 内容 -->
        <div class="s_main" >
            <div class="in">
                <p class="title"><i></i>&nbsp;&nbsp; 课程周期：<span>3月5日-3月20日</span></p>
                <p class="title select"><i></i>&nbsp;&nbsp; 选择上课时间：<span></span></p>
                <p class="title time">&nbsp;&nbsp; 中教<span>&nbsp;&nbsp;每周六15:00</span></p>
                <div class="foreigner">
                    <div class="title">外教</div>
                    <div class="data">
                        <div class="datalist active">每周一、二<br />19：00</div>
                        <div class="datalist">每周一、二<br />19：00</div>
                       <!--  <div class="datalist">每周一、二<br />19：00</div> -->
                    </div>
                </div>
                 
                <div class="s_line"></div>
                <p class="title time">&nbsp;&nbsp; 中教<span>&nbsp;&nbsp;每周日15:00</span></p>
                <div class="foreigner">
                    <div class="title">外教</div>
                    <div class="data">
                        <div class="datalist active">每周一、二<br />19：00</div>
                        <div class="datalist">每周一、二<br />19：00</div>
                        <div class="datalist">每周一、二<br />19：00</div>
                    </div>
                </div>

               <!--  <div class="s_line"></div>
                <p class="title time"><i></i>&nbsp;&nbsp; 中教<span>&nbsp;&nbsp;每周日15:00</span></p>
                <div class="foreigner">
                    <div class="title">外教</div>
                    <div class="data">
                        <div class="datalist active">周一19：00<br />周二19：00</div>
                        <div class="datalist">周一19：00<br />周二19：00</div>
                        <div class="datalist">周一19：00<br />周二19：00</div>
                    </div>
                </div> -->
                <p class="title name"><i></i>&nbsp;&nbsp; 班级名称：<span>一对多外教全程托管班level1</span></p>
                <div class="triangle"></div>
            </div>
        </div>

        <!-- 班级名额抢光 -->
        <div class="s_noClass" style="display:none">
           <div class="in">
               啊哦！晚了一步，班级名额已被抢光了，<br />
               过段时间再来选班吧！
            <div class="triangle"></div>
           </div>
        </div>
        <!-- 服务小贴士 -->
        <div class="s_tip">
            <h2>服务小贴士</h2>
            <div class="tiplist">
                <h3>1、为什么要选上课时间？</h3>
                <p>选择时间后才能正式开始课程哦！Level是和孩子年级匹配的英语水平，如有疑问咨询小5老师。</p>
            </div>
             <div class="tiplist">
                <h3>2、选班前后发现不合适怎么办？</h3>
                <p>选班前发现不合适，可咨询小5老师，选班后可在微信群内询问老师进行调换。开班前一天就不能再调换了哦！</p>
            </div>
        </div>
    </div>
     <div class="subBtn ">
        <a href="javascript:;" class="subForm">提交</a>
    </div>
    <div class="selectFail" style="display: none">
         
    </div>
    <script id="seajsnode" src="<%= jssrc %>"></script>
</body>
</html> 