<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/sabcn33882/sabcn33882.css">
</head>
<body>
<div class="sabcn" id="container" data-init="sabcn">
  <header class="header">
    <section class="logo"><img src="/images/wap/sabcn33882/sabca_logo.png" /></section>
    <section class="title">
      <p>美国纽交所上市公司（股票代码：COE)</p>
      <p>全球信赖的在线英语领导品牌</p>
    </section>
    <section class="spbcn-logo"><img src="/images/wap/sabcn33882/sabca_img.png" /></section>
  </header>
  <section class="sabca_ads"><img src="/images/wap/sabcn33882/sabca_ads.png" /></section>
  <section class="sac-input" data-url="/Ajax/specialRegister">
    <ul>
      <li><input type="text" name="mobile" class="iphone" placeholder="输入您的手机号"></li>
      <li><input type="text" name="password" class="passsword" placeholder="设置您的密码"></li>
      <li>
        <input type="hidden" name="register_from" class="register_from">
        <input type="hidden" name="type" class="form-type">
        <select id="tea_experience" name="race_group" class="sab-select">
          <option value="-1">选择年级组</option>
          <option value="11">初级组（1-2年级）</option>
          <option value="12">中级组（3-4年级）</option>
          <option value="13">高级组（5-6年级）</option>
          <option value="14">初中组（7-9年级）</option>
        </select>
        <div class="select">
          <span class="text">选择年级组</span>
          <img src="/images/wap/sabcn33882/sabca_slt.png" />
        </div>
        <div class="slt-list">
          <ul>
            <li num="11">初级组（1-2年级）</li>
            <li num="12">中级组（3-4年级）</li>
            <li num="13">高级组（5-6年级）</li>
            <li num="14">初中组（7-9年级）</li>
          </ul>
        </div>
      </li>
      <li><a href="javascript:;" class="sumbit">免费领取188元外籍教练1对1训练课</a></li>
    </ul>
  </section>
  <section class="sabca-list">
    <ul>
      <li>
        <h3>外籍教练1对1训练课</h3>
        <img src="/images/wap/sabcn33882/sabca_img01.jpg" />
        <p>快速提升“听，说，读，拼“能力，在赛场上更加从容自信，提前半小时预约即可上课。</p>
      </li>
      <li>
        <h3>SPBCN大赛备考训练直播课</h3>
        <img src="/images/wap/sabcn33882/sabca_img02.jpg" />
        <p>专业评委老师讲解赛事技巧、英美语言、英美文化等，帮助学生充分备战，在比赛中取得更佳成绩。</p>
      </li>
      <li>
        <h3>使用说明</h3>
        <p>1.扫描二维码完成注册，根据提示完成外籍教练课程预约；</p>
        <p>2.准备好电脑、耳机或手机，准时上课；</p>
        <p>3.获得评测报告完成英语水平定级；</p>
      </li>
    </ul> 
  </section>
  <section class="sabca-infor"><img src="/images/wap/sabcn33882/sabca_img04.jpg" /></section>
  <section class="sabca-bom"><img src="/images/wap/sabcn33882/sabca_img05.jpg" /></section>
</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/sabcn33882/vendor.js"></script>
</html>