
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title></title>
    <link href="/css/wap/future/future.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section data-init="future" class="future">
      <section class="top"><img src="/images/wap/future/f_w_top.jpg" alt=""/><img src="/images/wap/future/f_w_index1.png" alt=""/></section>
      <section class="login"><img src="/images/wap/future/f_w_bg.jpg" alt=""/>
        <form action="" id="RegForm">
          <ul class="list">
            <li class="phone">
              <input type="tel" placeholder="请输入您的手机号" id="sha-tel"/>
            </li>
            <li class="password">
              <input type="password" placeholder="设置密码" id="sha-psd"/>
            </li>
            <li class="sure">
              <input type="button" value="确认报名" id="sha-reg"/>
            </li>
            <li class="link"><span><a href="javascript:;">已完成比赛，点此登录查看成绩</a></span></li>
          </ul>
        </form>
      </section>
      <section class="bottom"><img src="/images/wap/future/f_w_index2.png" alt=""/><img src="/images/wap/future/f_w_index3.jpg" alt=""/><img src="/images/wap/future/f_w_index4.jpg" alt=""/></section>
    </section>
    <script src="/js/wap/project/future/vendor.js" id="seajsnode"></script>
  </body>
</html>