<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>51Talk 大学生专属课程</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/collegeCourse/collegeCourse.css">
  </head>
<body>
  <div class="collegeCourse" data-init="eng">
      <header>
        <img src="/images/wap/collegeCourse/cc_banner.jpg" alt="" class="TopImg" />
        <a href="javascript:;" class="cc_login">登录</a>
      </header>
      <article class="cc_tit">注册即送3节1对1外教课</article>
      <article class="cc_form">
        <form id="cc_form" action="">
          <input type="text" placeholder="请输入您的手机号" class="cc_input cc_phone" />
          <input type="password" name="password" placeholder="请设置您的密码" class="cc_input c_pwd" />
          <a href="javascript:;" class="cc_input cc_getCourse jsSubmit" >立即领取课程</a>
        </form>
        <p>已经是会员，请<a href="javascript:;">登录</a></p>
      </article>
      <hgroup>
          <h3>学英语我们总有这样的担忧</h3>
          <i></i>
       </hgroup>
      <article class="cc_part">
        <ul class="cc_fisrtPart">
          <li>
              <div class="cc_partImg">
                <img src="/images/wap/collegeCourse/cc_img1.png" alt=""  /> 
             </div>
             <div class="cc_partTxt">
               <div class="cc_partTxtIn">
                  <p>担心外教老师不专业</p>
                  <p>浪费时间浪费钱</p>
               </div>
             </div>
          </li>
        </ul>
        <ul>
          <li>
              <div class="cc_partImg">
                <img src="/images/wap/collegeCourse/cc_img2.png" alt=""  /> 
             </div>
             <div class="cc_partTxt">
               <div class="cc_partTxtIn">
                  <p>没有好的学习方法</p>
                  <p>学习效果差</p>
               </div>
             </div>
          </li>
        </ul>
        <ul>
          <li>
              <div class="cc_partImg">
                <img src="/images/wap/collegeCourse/cc_img3.png" alt=""  /> 
             </div>
             <div class="cc_partTxt">
               <div class="cc_partTxtIn">
                  <p>外教老师只教会了听说</p>
                  <p>不能应对各类考试</p>
               </div>
             </div>
          </li>
        </ul>
      </article>
       <article class="cc_part cc_partTwo">
        <hgroup>
          <h3>51Talk学英语   解决你的担忧</h3>
          <i></i>
       </hgroup>
        <ul class="cc_fisrtPart">
          <li>
              <div class="cc_partImg cc_partImgTwo" >
                <div class="cc_Img">
                </div>
             </div>
             <div class="cc_partTxt cc_partTxtTwo" >
               <div class="cc_partTxtIn">
                  <p>只录取TOP 5%的优秀人才</p>
                  <p>发音标准    经验丰富</p>
               </div>
             </div>
          </li>
        </ul>
         <ul class="cc_fisrtPart">
          <li>
              <div class="cc_partImg cc_partImgTwo" >
                <div class="cc_Img cc_Img5">
                </div>
             </div>
             <div class="cc_partTxt cc_partTxtTwo" >
               <div class="cc_partTxtIn">
                  <p>围绕学、练、测、辅四大体系</p>
                  <p>保障学习效果</p>
               </div>
             </div>
          </li>
        </ul>
         <ul class="cc_fisrtPart">
          <li>
              <div class="cc_partImg cc_partImgTwo" >
                <div class="cc_Img cc_Img6">
                </div>
             </div>
             <div class="cc_partTxt cc_partTxtTwo" >
               <div class="cc_partTxtIn">
                  <p>丰富应试类课程</p>
                  <p>名师大咖零接触    提分快</p>
               </div>
             </div>
          </li>
        </ul>
      </article>
      <article class="cc_partThree">
          <hgroup>
            <h3>丰富课程产品  总有你要的选择</h3>
            <i></i>
         </hgroup>
          <ul>
            <li>面试英语<i></i></li>
            <li class="cc_dark">商务英语<i class="i2"></i></li>
            <li>托福  雅思<i class="i3"></i></li>
            <li class="cc_dark">生活口语<i class="i4"></i></li>
            <li>旅游英语<i class="i5"></i></li>
            <li class="cc_dark">综合英语<i class="i6"></i></li>

          </ul>
      </article>
       <hgroup>
          <h3>星光璀璨</h3>
          <i></i>
       </hgroup>
       <article class="cc_star">
         <img src="/images/wap/collegeCourse/cc_lina.jpg" alt="" class="cc_lina" />  
       </article>
      <article class="centerT">
      <dl>
        <dt><img src="/images/wap/collegeCourse/leij.png" alt=""></dt>
        <dd>
          <h3 class="centTL"><span class="centL">雷&emsp;军<i class="centTL_r"></i></span><span class="centB">小米手机董事长<i class="centB_r"></i></span></h3>
          <p class="centText">“51Talk25分钟短时高频，价格优惠的教学，可以让更多人学好英语！”</p>
        </dd>
      </dl>
      <dl>
        <dt><img src="/images/wap/collegeCourse/xux.png" alt=""></dt>
        <dd>
          <h3 class="centTL"><span class="centL">徐小平<i class="centTL_r"></i></span><span class="centB">新东方联合创始人<i class="centB_r"></i></span></h3>
          <p class="centText">“要想全球walk，就来51Talk。让更多的人从51Talk物美价廉的教学中获益。”</p>
        </dd>
      </dl>
    </article>
    <footer>
        <a href="##">马上注册，体验免费外教课</a>
        <p>Copyright©北京大生知行科技有限公司</p>
    </footer>

  </div>
  <script id="seajsnode" src="/js/wap/project/collegeCourse/vendor.js"></script>
</body>
</html>