<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/landing_newyear/landing_newyear.css">
</head>
<body>
<!-- 顶部 -->
<div class="header_top">
	<div class="header">
	  <a href="javascript:;" class="hr-lt">
	    <i></i>
	    <b><span>外教1对1</span>在线英语教育领导品牌</b>
	    <!-- 青少 -->
	    <b class="qs-tit hide">外教1对1，在家学英语</b>
	  </a>
	  <div class="hr-rt">
	    <div class="rt-top">
	      <ul>
	        <li><span class="rt_username">hi,studentstudenthw</span> &nbsp;<a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a>&nbsp;&nbsp;<a href="/index/logout" title="退出">退出</a></li>
	        <li><a href="javascript:;">登录</a></li>
	        <li><a href="javascript:;">免费注册</a></li>
	        <li><a href="javascript:;">企业培训</a></li>
	        <li class="jsMore">
	          <a href="javascript:;">微博</a>
	          <!-- 微博弹层 -->
	          <div class="weibo jsUl">
	            <a href="javascript:;"></a>
	          </div>    
	        </li>
	        <li class="jsMore">
	          <a href="javascript:;">微信</a>
	          <!-- 微信弹层 -->
	          <div class="weixin jsUl">
	            <a href="javascript"><img src="/images/html/landing_newyear//top_weixin.png" alt=""></a>
	          </div>
	        </li>
	        <li></li>
	      </ul>
	    </div>
	    <span><i></i>4000-51-51-51</span>
	  </div>
	</div>
	<div class="two_code"><img src="/images/html/landing_newyear//erwei.jpg" alt=""></div>
</div>
<div class="content">
	<div class="title tit1"></div>
	<div class="content_big">
		<div class="content_left left1"></div>
		<div class="content_right"><img src="/images/html/landing_newyear//two_code.png" alt=""></div>
		<ul class="content_bottom bot1">
			<li class=" bot1">
				<div>
					<img src="/images/html/landing_newyear//img1.jpg" alt="" />
					
				</div>
				<p class="one_line">乐高经典创意桶</p>
			</li>
			<li class="bot1">
				<div>
					<img src="/images/html/landing_newyear//img2.jpg" alt="" />
					
				</div>
				<p class="two_line">磁力棒儿童益智玩具(818件)</p>
			</li>
			<li class="bot1">
				<div>
					<img src="/images/html/landing_newyear//img3.jpg" alt="" />
					
				</div>
				<p class="two_line">牛津阅读书<br/>原版1-3年级</p>
			</li>
			<li class="bot1">
				<div>
					<img src="/images/html/landing_newyear//img4.jpg" alt="" />
					
				</div>
				<p class="one_line">磁力积木（92片）</p>
			</li>
			<li class="bot1">
				<div>
					<img src="/images/html/landing_newyear//img5.jpg" alt="" />
					
				</div>
				<p class="two_line">牛津树英语<br/>原版4-6年级</p>
			</li>
			<li class="bot1">
				<div>
					<img src="/images/html/landing_newyear//img7.jpg" alt="" />
					
				</div>
				<p class="one_line"> 乐高lego拼装玩具</p>
			</li>
			<li class="bot1">
				<div>
					<img src="/images/html/landing_newyear//img6.jpg" alt="" />
					
				</div>
				<p class="two_line">酷喜乐彩铅<br/>专业绘画笔48色</p>
			</li>
			<li class="bot1 last ">
				<div>
					<img src="/images/html/landing_newyear//img8.jpg" alt="" />
					
				</div>
				<p class="two_line">木村耀司<br/>双肩包书包</p>
			</li>
		</ul>
	</div>
</div>
<div class="content">
	<div class="title tit2"></div>
	<div class="content_big">
		<div class="content_left left2"></div>
		<div class="content_right"><img src="/images/html/landing_newyear//two_code2.png" alt=""></div>
		<ul class="content_bottom">
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img9.jpg" alt="" />
					
				</div>
				<p class="one_line black">思维龙操作板游戏卡</p>
			</li>
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img10.jpg" alt="" />
					
				</div>
				<p class="two_line black">磁力棒儿童益智玩具
（240件)</p>
			</li>
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img11.jpg" alt="" />
					
				</div>
				<p class="two_line black">逻辑狗第三阶段<br/>
(精装带操作板)</p>
			</li>
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img12.jpg" alt="" />
					
				</div>
				<p class="two_line babi black">玩芭比娃娃<br/>
创意服饰礼盒</p>
			</li>
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img13.jpg" alt="" />
					
				</div>
				<p class="two_line black">逻辑狗第四阶段<br/>
(精装带操作板)</p>
			</li>
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img14.jpg" alt="" />
					
				</div>
				<p class="two_line black">卡西欧运动<br/>
中小学生手表</p>
			</li>
			<li class="bot2">
				<div>
					<img src="/images/html/landing_newyear//img15.jpg" alt="" />
					
				</div>
				<p class="one_line black">牛津书虫 2级</p>
			</li>
			<li class="bot2 last">
				<div>
					<img src="/images/html/landing_newyear//img16.jpg" alt="" />
				</div>
				<p class="two_line black">马可彩铅专业<br/>
绘画笔72色</p>
			</li>
		</ul>
	</div>
</div>
<div class="content">
	<div class="title tit3"></div>
	<div class="content_big">
		<div class="content_left left3"></div>
		<div class="content_right"><img src="/images/html/landing_newyear//two_code3.png" alt=""></div>
		<ul class="content_bottom">
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img17.jpg" alt="" />
					
				</div>
				<p class="two_line">英文原版5册绘本<br/>
（适合3-6岁）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img18.jpg" alt="" />
					
				</div>
				<p class="two_line">进口3d多层立体拼图<br/>
（适合3-6岁）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img19.jpg" alt="" />
					
				</div>
				<p class="two_line">原版英语绘本12册<br/>
（适合小学生）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img20.jpg" alt="" />
					
				</div>
				<p class="two_line">乐高创意百变组<br/>
（适合小学生</p>
			</li>
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img21.jpg" alt="" />
					
				</div>
				<p class="one_line">DIY拼装模型</p>
			</li>
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img22.jpg" alt="" />
					
				</div>
				<p class="two_line">世界经典文学名著<br/>
（套装10册）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="/images/html/landing_newyear//img23.jpg" alt="" />
					
				</div>
				<p class="one_line">韩版书包</p>
			</li>
			<li class="bot3 last">
				<div>
					<img src="/images/html/landing_newyear//img24.jpg" alt="" />
				</div>
				<p class="two_line">马克彩砖专业<br/>
绘画笔48色</p>
			</li>
		</ul>
	</div>
</div>
<div class="content_1">
</div>
<div class="content_2">
</div>
<!-- 立即注册 -->
<div class="reg">
  <div class="centerMth">
    <form action="" name="form" id="formBottom">
       <ul class="reg-ul">
        <li><span>立即注册</span></li>
        <li><input class="f_l jsCheck" type="text" name="user_name" placeholder="请填写邮箱"></li>
        <li><input class="f_l f_r jsCheck" type="password" name="user_name" placeholder="请填写密码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="请填写手机号码"></li>
        <li><input class="f_l f_r jsCheck" type="text" name="user_name" placeholder="推荐人手机号/推荐码"></li>
        <li class="reg-li"><a href="javascript:;" class="reg-btn jsSubmit">和大家一起学英语</a></li>
      </ul>
    </form>
  </div>
</div>
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/www/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号 京公网安备11010802018414号
    </p>
  </div>
</div>

</body>
<!--公共尾部结束-->
<script src="/js/html/project/landing_newyear/vendor.js"></script>
</html>