<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>class_table_list.css">
</head>
<body>
<!-- header -->
<div class="header">
  <div class="cont-in">
    <ul class="user-lt">
      <li><a href="javascript:;">hi,<i class="name">jack</i></a></li>
      <li><a href="javascript:;">消息<i class="num">20</i></a></li>
      <li><a href="javascript:;">退出</a></li>
    </ul>
    <ul class="user-rt">
      <li><a href="javascript:;">官网首页</a></li>
      <li><a href="javascript:;">课程介绍</a></li>
      <li><a href="javascript:;">关注我们</a></li>
    </ul>
  </div>
</div>
<!-- /header -->
<!-- nav -->
<div class="cont-nav">
  <div class="cont-nav-in">
    <img src="<%= imagessrc%>cls_logo.png" class="nav-logo-img">
    <ul>
      <li><a href="javascript:;">首页</a></li>
      <li class="on"><a href="javascript:;">班级管理</a></li>
    </ul>
    <img src="<%= imagessrc%>cls_iphone.png" class="nav-iphone-img">
  </div>
</div>
<!-- /nav -->
<!-- main -->
<div class="content-book">
  <div class="cls-title">
    <a href="javascript:;">班级管理</a>
    <a href="javascript:;">></a>
    <a href="javascript:;">班级详情</a>
  </div>
  <div class="level">
    <p class="title">小一英语level1上册拔尖班（2016.6.28-2017.1.27）</p>
    <ul>
      <li>学科：<i>英语</i></li>
      <li>级别：<i>Level2</i></li>
      <li>级别名称：<i>Level2上册</i></li>
      <li>班级类型：<i>尖子册</i></li>
      <li>班容：<i>12人</i></li>
      <li>上课周期：<i>2017.03.01-2017.03.31</i></li>
      <li>教材名称：<i>经典英语青少版level1</i></li>
      <li>上课时间模式：<i>按周</i></li>
      <li>课程模式：<i>1次中教+2次外教</i></li>
      <li>外教上课类型：<i>1v4</i></li>
      <li>约课方式：<i>教务排课</i></li>
    </ul>
  </div>
  <div class="level">
    <p class="title">设置课表</p>
    <div class="level-tab">
      <table class="table" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <td width="10%">课时</td>
            <td width="10%">单元</td>
            <td>课时名称</td>
            <td>老师类型</td>
            <td>上课时间</td>
            <td>老师姓名</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>第2课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
          <tr>
            <td>第3课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
          <tr>
            <td>第4课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
          <tr>
            <td>第5课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
          <tr>
            <td>第6课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
          <tr>
            <td>第7课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
          <tr>
            <td>第8课</td>
            <td>Unit1</td>
            <td>CEJ4.0 Level1 上册 Lesson 1 hello world</td>
            <td>中教</td>
            <td>2017.02.11 周六18:00－18:50</td>
            <td>周莉</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /main -->
</body>
</html>