<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>美小转介绍H5页面</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/usIntro/usIntro.css">
  </head>
<body>
  <div class="usIntro" data-init="usIntro" >
      <section>
          <img src="/images/wap/usIntro/usIntro_01.jpg" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_02.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_03.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_04.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_05.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_06.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_07.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_08.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_09.png" class="imgSection" />
      </section>
      <section>
          <img src="/images/wap/usIntro/usIntro_10.png" class="imgSection" />
      </section>
      <section class="videoBg">
          <!-- <img src="/images/wap/usIntro/usIntro_video.jpg" class="imgSection" /> -->
          <!-- <a href="javascript:;" class="videoBtn"></a> -->
          <div class="vPlayer">
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="225" id="cc_05BBBB23B4D4214C9C33DC5901307461"><param name="movie" value="http://p.bokecc.com/flash/single/9A0993B2384AB21D_05BBBB23B4D4214C9C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param value="transparent" name="wmode" /><embed src="http://p.bokecc.com/flash/single/9A0993B2384AB21D_05BBBB23B4D4214C9C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" width="100%" height="225" name="cc_05BBBB23B4D4214C9C33DC5901307461" allowFullScreen="true" wmode="transparent" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"/></object>
            <script src="http://p.bokecc.com/player?vid=05BBBB23B4D4214C9C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=false&width=100%&height=225&playerid=3A7743CB01E0E55B&playertype=1" type="text/javascript"></script>
          </div>
      </section>
      <footer>
          <a href="javascript:;" class="freeEntery"></a>
      </footer>
  </div>
</body>
</html>