<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>母亲节</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/MothersDay/MothersDay.css">
</head>
<body> 
 <div class="MothersDay" data-init="index" id="container"> 
     <img src="/images/wap/MothersDay/logo.jpg" class="width100" />
     <img src="/images/wap/MothersDay/mother_top.jpg" class="width100" />
     <hgroup>
        <form id="form1_reg">
            <section class="m_reg">
                 <img src="/images/wap/MothersDay/mother_phone.jpg" class="width100" />
                 <div class="form_reg">
                    <div class="iterm m_iterm">
                         <input type="text" name="mobile" class="mobile" />
                         <i></i>
                     </div>
                 </div>
             </section>
             <section class="m_reg">
                 <img src="/images/wap/MothersDay/mother_pwd.jpg" class="width100" />
                 <div class="form_reg">
                    <div class="iterm p_iterm">
                          <input type="text" name="pwd" class="pwd" />
                          <i class="p_pwd"></i>
                     </div>
                 </div>
             </section>
             <img src="/images/wap/MothersDay/mother_t.jpg" class="width100" />
              <section>
                 <img src="/images/wap/MothersDay/mother_btn.jpg" class="width100" />
                 <div class="mother_btn">
                     <a href="javascript:;" class="getBtn"></a>
                 </div>
             </section>
         </form>
    </hgroup>
     <img src="/images/wap/MothersDay/mother_arrow.jpg" class="width100" />
     <img src="/images/wap/MothersDay/child.jpg" class="width100" />
     <img src="/images/wap/MothersDay/intro51.jpg" class="width100" />
     <img src="/images/wap/MothersDay/lina.jpg" class="width100" />
 </div>
 <script src="/js/wap/project/MothersDay/vendor.js" id="seajsnode"></script>  
</body>
</html> 