<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/merry36498/merry36498.css">
</head>
<body>
<header class="header" id="container" data-init="share">
  <img src="/images/wap/merry36498/merry_nav.jpg">
</header>
<section class="draw">
  <section class="share_names">
    <ul class="name_list">
      <li>中奖名单：Elisabeth 学员抽中歌帝梵巧克力</li>
      <li>中奖名单：Elisabeth 学员抽中￥1000</li>
      <li>中奖名单：Elisabeth 学员抽中施华洛世奇水晶挂饰</li>
    </ul>
    <a href="javascript:;" class="rule">活动规则></a>
  </section>
  <!-- 隐藏域 -->
  <input id="active" type="hidden" value="0" />
  <!-- 隐藏域 -->
  <section class="dial-bg" id="lottery" data-url="/Landing/dofestival">
    <ul class="l_grid clearfix">
      <li class="l_prize l_prize-0 l_now"><span class="p-img"><img src="/images/wap/merry36498/merry_price01.png" alt=""></span></li>
      <li class="l_prize l_prize-1"><span class="p-img"><img src="/images/wap/merry36498/merry_price02.png" alt=""></span></li>
      <li class="l_prize l_prize-2"><span class="p-img"><img src="/images/wap/merry36498/merry_price03.png" alt=""></span></li>
      <li class="l_prize l_prize-7"><span class="p-img"><img src="/images/wap/merry36498/merry_price04.png" alt=""></span></li>
      <li class="pointer"><span class="p-img"><img src="/images/wap/merry36498/merry_price09.png"></span></li>
      <li class="l_prize l_prize-3"><span class="p-img"><img src="/images/wap/merry36498/merry_price05.png" alt=""></span></li>
      <li class="l_prize l_prize-6"><span class="p-img"><img src="/images/wap/merry36498/merry_price06.png" alt=""></span></li>
      <li class="l_prize l_prize-5"><span class="p-img"><img src="/images/wap/merry36498/merry_price07.png" alt=""></span></li>
      <li class="l_prize l_prize-4"><span class="p-img"><img src="/images/wap/merry36498/merry_price08.png" alt=""></span></li>
    </ul>
  </section>
  <section class="luck-hor"><span id="prize_log">我的中奖记录</span></section>
</section>
<section class="draw-list">
  <img src="/images/wap/merry36498/meer_tit.png" class="list-img">
  <p class="p-tit">全年销量Top榜</p>
  <ul class="unit">
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/item1.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/item96.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/item180.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/item270.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
  </ul>
  <p class="p-tit">新手必备推荐</p> 
  <ul class="unit">
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/item360.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/month12.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/month24.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="/images/wap/merry36498/point60.png">
        <span class="t-t">青少经典英语18单元</span>
        <span class="t-s">
          ￥6648
          <i>原价￥7188</i>
        </span>
      </a>
    </li>
  </ul> 
  <footer>Copyright©北京大生知行科技有限公司</footer>
</section>
<!-- <section class="merry_bj"><img src="/images/wap/merry36498/merry_bj.png"></section> -->
<!-- 活动规则 -->
<div class="activity-rule hide">
  <div class="mask">
    <p class="nav-t">
      <span>活动规则</span>
      <a href="javascript:;" class="close"><img src="/images/wap/merry36498/merry_del.png"></a>
    </p>
    <ul class="list">
      <li>1. 活动时间：12月16日11:00:00—12月25日 23:59:59。</li>
      <li>2. 每位同学仅有1次抽奖机会，代金券仅限于活动期间购买课程时使用。</li>
      <li>3. 中奖信息将于中奖后10分钟内发至您的站内信。</li>
      <li>4. 图片仅供参考，以实物为准，抽中课程或实物奖品的同学，需要活动期间购买5000元及以上套餐，活动结束后，奖品由客服联系寄出。</li>
      <li>5. 本活动最终解释权归51Talk所有。</li>
    </ul>
  </div>
</div>
<!-- /活动规则 -->
<!--我的奖品-->
<div class="dialog hide" id="dialog">
  <div class="zoomIn animated info">
    <div class="box">
      <a href="javascript:;" class="close"><img src="/images/wap/merry36498/merry_del.png"></a>
      <div class="detail">
        <img src="/images/wap/merry36498/merry_price01_2.png" alt="" style="display:none;">
        <img src="/images/wap/merry36498/merry_price02_2.png" alt="" style="display:none;">
        <img src="/images/wap/merry36498/merry_price03_2.png" alt="" style="display:none;">
        <img src="/images/wap/merry36498/merry_price05_2.png" alt="" style="display:none;">
        <img src="/images/wap/merry36498/merry_price08_2.png" alt="" style="display:none;">
        <img src="/images/wap/merry36498/merry_price07_2.png" alt="" >
        <img src="/images/wap/merry36498/merry_price06_2.png" alt="" style="display:none;">
        <img src="/images/wap/merry36498/merry_price04_2.png" alt="" style="display:none;">
      </div>
      <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
    </div>
  </div>
</div>
<!--/我的奖品-->
<!--我的抽奖记录和未抽奖-->
<div class="dialog2 hide" id="dialog2">
  <div class="zoomIn animated tip tip-1 hide">
    <a href="javascript:;" class="close"><img src="/images/wap/merry36498/join_close.png"></a>
    <div class="gold_box"></div>
    <div class="text text2">
        <h3>您还没有参与抽奖，快去抽奖吧！</h3>
    </div>
  </div>
  <div class="zoomIn animated tip tip-2 hide">
    <a href="javascript:;" class="close"><img src="/images/wap/merry36498/join_close.png"></a>
    <div class="gold_box"></div>
    <div class="text text1">
        <p>您已获得</p>
        <h3><span>歌帝梵巧克力</span></h3>
    </div>
  </div>
</div>
<!--/我的抽奖记录和未抽奖-->
<!-- 提示框 -->
<div class="dialog2 hide" id="j_tip">
  <div class="zoomIn animated tip">
    <a href="javascript:;" class="close"><img src="/images/wap/merry36498/join_close.png"></a>
    <div class="gold_box"></div>
    <div class="text text2">
        <h3 class="text-h3"></h3>
    </div>
  </div>
</div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/merry36498/vendor.js"></script>
</html>