<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/chrimasDay/chrimasDay.css">
</head>
<body>
    <div class="container">
        <section class="innerBox">
          <div class="g-header">
            <img src="/images/wap/chrimasDay/chr_navlmg.png" alt="" class="u-chrisImg">
            <div class="u-deadLine">
                <p>活动截止日期</p>
                <p>2015/12/29</p>
            </div>
          </div>
          <div class="g-content">
              <div class="m-register">
                  <img src="/images/wap/chrimasDay/chr_login_bj.png" alt="" class="u-boxImg">
                  <div class="u-regiText">
                      <h3>注册推荐码</h3>
                      <p>12345678</p>
                  </div>
                  <div class="u-box1"></div>
                  <div class="u-box2"></div>
              </div>
              <div class="m-intro">
                  <img src="/images/wap/chrimasDay/chr_intr_bj.png" alt="" class="u-boxImg">
                  <div class="u-introText">
                      <h3>活动介绍</h3>
                      <ul>
                        <li><i>1</i><span>为您量身订造一个青少课程小套餐</span></li>
                        <li><i>2</i><span>1节体验课＋3节定制课超值礼包，价值240元</span></li>
                        <li><i>3</i><span>课程适合人群：所有初中生，小学生，幼儿</span></li>
                      </ul>
                  </div>
                  <img src="/images/wap/chrimasDay/chr_intr_icon.png" class="u-car">
              </div>
              <div class="m-user">
                  <img src="/images/wap/chrimasDay/chr_user_bj.png" alt="" class="u-boxImg">
                  <div class="u-userText">
                      <h3>您的朋友如何使用</h3>
                      <ul>
                        <li>第一步: 登陆51talk的官网 www.51talk.com</li>
                        <li>第二步: 使用您的注册推荐码注册一个新账号,  就可以享受1+3的专属课程包了.</li>
                      </ul>
                  </div>
                  <img src="/images/wap/chrimasDay/chr_user_icon.png" alt="" class="u-deer">
              </div>
          </div>
        </section>
    </div>
</body>
</html>