
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/friend_recommend/friend_recommend.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../../css/html/friend_recommend/jquery.mCustomScrollbar.min.css"/>
  </head>
  <body>
    <div data-init="friend_recommend" data-url="" class="friend-recommend container">
      <div class="friend-recommend__topbanner">
        <div class="friend-recommend__topbanner__wrap">
          <div class="friend-recommend__topbanner__code"><img src="/images/html/friend_recommend/temp_code.jpg"/></div>
          <div class="friend-recommend__topbanner__icons bdsharebuttonbox bdshare-button-style0-16"><a href="javascript:;" data-cmd="sqq" class="qq"></a><a href="javascript:;" data-cmd="tsina" class="weibo"></a><a href="javascript:;" class="link"></a></div>
        </div>
      </div>
      <div class="friend-recommend__award">
        <div class="friend-recommend__award__icon__left"></div>
        <div class="friend-recommend__award__icon__right"></div>
        <div class="friend-recommend__award__wrap">
          <div class="friend-recommend__award__title">您可获得的奖励</div>
          <div class="friend-recommend__award__all">
            <ul class="clearfix">
              <li class="left">
                <div class="detail"><span><em>10</em>节</span>一对一课程</div>
                <p>好友购买美小课程套餐</p>
              </li>
              <li class="right">
                <div class="detail"><span><em>1</em>节</span>绘本课</div>
                <p>好友首次完成体验课</p>
              </li>
            </ul>
          </div>
          <div class="friend-recommend__award__tips">好友获得的奖励： 好友<em>买课【95折】，</em>额外<em>赠3节【1对1课时】</em></div>
        </div>
      </div>
      <div class="friend-recommend__awardlst">
        <div class="friend-recommend__awardlst__wrap">
          <div class="friend-recommend__awardlst__title">已获得的奖励</div>
          <div class="friend-recommend__awardlst__desc">您已获赠<em>20</em>节【一对一课程】，<em>3</em>节【绘本课】。</div>
          <div class="friend-recommend__awardlst__table">
            <div class="thead">
              <ul>
                <li>好友</li>
                <li>状态</li>
                <li>您获绘本课 (1节)</li>
                <li>您获1对1课 (10节)</li>
              </ul>
            </div>
            <div class="tbody clearfix">
              <div class="no-friend hide">
                <div class="icon"></div>
                <div class="tips">
                  <p>您还没有邀请到好友，获得课程奖励哟！</p>
                  <p class="share">快去扫码分享</p>
                </div>
              </div>
              <div class="tbody-lst clearfix">
                <ul>
                  <li>13917793531</li>
                  <li>已付费</li>
                  <li>正在领取</li>
                  <li>正在领取</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>已付费</li>
                  <li><span class="done"></span></li>
                  <li><span class="done"></span></li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>完成体验课</li>
                  <li>正在领取</li>
                  <li>正在领取</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>完成体验课</li>
                  <li><span class="done"></span></li>
                  <li class="null">—</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>完成体验课</li>
                  <li><span class="done"></span></li>
                  <li class="null">—</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>已注册</li>
                  <li class="null">—</li>
                  <li class="null">—</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>已退费</li>
                  <li><span class="done"></span></li>
                  <li>领取失败</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>完成体验课</li>
                  <li><span class="done"></span></li>
                  <li class="null">—</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>已注册</li>
                  <li class="null">—</li>
                  <li class="null">—</li>
                </ul>
                <ul>
                  <li>13917793531</li>
                  <li>已退费</li>
                  <li><span class="done"></span></li>
                  <li>领取失败</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="friend-recommend__spread">
        <div class="friend-recommend__spread__wrap">
          <div class="friend-recommend__spread__title">传播大使活动</div>
          <div class="friend-recommend__spread__table">
            <div class="thead">
              <ul>
                <li>推荐学员数量</li>
                <li>称号</li>
                <li>奖励（除原10节1对1外教课外）</li>
              </ul>
            </div>
            <div class="tbody clearfix">
              <table>
                <tr>
                  <td>首次推荐成功1人</td>
                  <td>传播大使</td>
                  <td>51talk 美国小学定制礼盒（水杯、U盘、精美笔记本）</td>
                </tr>
                <tr>
                  <td>2~3人/季度</td>
                  <td>黄金传播大使</td>
                  <td>
                    <p>1. 51talk 美国小学定制书包、礼盒（水杯、U盘、精美笔记本）</p>
                    <p>2. 200元“51Talk成长基金”</p>
                  </td>
                </tr>
                <tr>
                  <td>4~5人/季度</td>
                  <td>铂金传播大使</td>
                  <td>
                    <p>1. 51talk 美国小学定制书包、礼盒 （水杯、U盘、精美笔记本）</p>
                    <p>2. 400元“51Talk成长基金”</p>
                    <p>3. 单词卡一套</p>
                  </td>
                </tr>
                <tr>
                  <td>6~7人/季度</td>
                  <td>钻石传播大使（VIP）</td>
                  <td>
                    <p>1. 获51talk 美国小学定制书包、礼盒（水杯、U盘、精美笔记本）</p>
                    <p>2. 800元“51Talk成长基金”</p>
                    <p>3. 有声读物一套</p>
                    <p>4. 可免费参加51talk定期举办的线下活动</p>
                    <p>5. 外教来华见面会邀请函</p>
                  </td>
                </tr>
                <tr>
                  <td>累计10人及以上</td>
                  <td>SVIP传播大使</td>
                  <td>
                    <p>1. 终身享受VIP学员待遇</p>
                    <p>2. 终身续费9折优惠</p>
                    <p>3. Life club参与权</p>
                    <p>4. 可免费参加51talk定期举办的线下活动</p>
                    <p>5. 外教来华见面会邀请函（非北京地区学员报销路费、住宿费）</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="friend-recommend__detail">
        <div class="friend-recommend__detail__title">活动详情</div>
        <div class="friend-recommend__detail__list">
          <ul class="clearfix">
            <li>本次活动中“推荐人”仅面向已付费的美国小学课程用户，而“被邀请的用户”需要在2016年10月1日-2016年11月1日新注册并付费购买美国小学课程后（或新注册并完成体验课后），推荐人、被邀请的用户才能分别获得各自对应的奖励。</li>
            <li> 
              <p>2016年10月1日-2016年11月1日之间，每邀请一位好友首次付费购买美国小学正式课程，您可免费获得10个美国小学课时；邀请多个好友首次付费，获赠美国小学课时可累加使用，上不封顶；</p>
              <p>2016年10月1日-2016年11月1日之间，每邀请一位好友首次完成体验课，您可免费获得1个绘本课课时；邀请多个好友首次完成体验课，获赠的绘本课时可累加使用，上不封顶；</p>
            </li>
            <li>首次付费的被邀请好友可免费获得3个美国小学课时；如果是已付费的美国小学会员，则不符合此条件；</li>
            <li>获赠的10节1对1课时会在您好友购课一个月之后发放到您账户；绘本课会在好友完成体验课之后24小时之内充值到您的账户，充值信息可在“站内信”中查看。</li>
            <li>获赠的美国小学课时不可退款;</li>
          </ul>
        </div>
        <div class="friend-recommend__detail__tips">注：自己邀请自己是不会送课的哦！我们将会进行人工核查！本活动最终解释权归51Talk所有。</div>
      </div>
      <div class="mask">
        <div class="friend-recommend__dialog"><a href="javascript:;" class="friend-recommend__dialog__close"></a>
          <h5 class="friend-recommend__dialog__title">复制链接</h5>
          <div class="friend-recommend__dialog__linkform">
            <h6 class="friend-recommend__dialog__tips">您的专属链接，可以复制发给好友：</h6>
            <ul class="clearfix">
              <li>
                <input name="name" type="text" value="url" class="shareurl"/>
              </li><a href="javascript:;" class="invite">复制</a>
            </ul>
          </div>
        </div>
        <div data-type="link" class="alert">
          <div class="title"><a href="javascript:;" class="close"></a>
            <h4>温馨提示</h4>
          </div>
          <div class="infobox">
            <p class="info"></p><a href="javascript:;" class="btn">确定</a>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../js/html/common/pind.js?v=1"></script>
    <script src="/js/html/project/friend_recommend/vendor.js" id="seajsnode" type="text/javascript"></script>
    <script src="../../../js/html/project/friend_recommend/jquery.mousewheel.min.js"></script>
    <script src="../../../js/html/project/friend_recommend/jquery.mCustomScrollbar.min.js"></script>
  </body>
</html>