
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/css/html/friend_recommend/friend_recommend.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../../css/html/friend_recommend/jquery.mCustomScrollbar.min.css"/>
  </head>
  <body>
    <script src="/js/html/project/friend_recommend/vendor.js" id="seajsnode" type="text/javascript"></script>
    <script src="../../../js/html/project/friend_recommend/jquery.mousewheel.min.js"></script>
    <script src="../../../js/html/project/friend_recommend/jquery.mCustomScrollbar.min.js"></script>
  </body>
</html>