<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>多说英语</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/spoken_24148/spoken_24148.css">
</head>
<body>
    <div class="spoken_24148">
        <div class="s_icon">
            <div class="s_img">
                <img src="/images/wap/spoken_24148//s_top.jpg" alt="">
                <div class="s_img_b">
                    <img src="/images/wap/spoken_24148//s_top1.jpg" alt="">
                    <p class="lv">Lv.2</p>
                </div>
            </div>
            <h3 class="s_tit">恭喜你升级到口语大师2级</h3>
            <p class="stext">发音靠雕琢，多说多练，</p>
            <p class="stext">你就是明天的口语大师！</p>
        </div>
        <div class="user_c">
            <div class="user_center">
                <dl>
                    <dt><img src="/images/wap/spoken_24148//user.jpg" alt=""></dt>
                    <dd>
                        <h3 class="u_tit">光光</h3>
                        <p class="u_text">2016-5-10</p>
                    </dd>
                </dl>
                <p class="text">"耶~刚升级了多说英语口语大师2级，快来和我一起练习英语吧~"</p>
            </div>   
        </div>
        <div class="s_bottom">
            <div class="s_b_box">
                <div class="bottom_left">
                    <img src="/images/wap/spoken_24148//logo.png" alt="">
                    <div class="left_c">
                        <h3 class="bottom_tit">多说英语</h3>
                        <p class="bottom_text">英语就是要多说</p>
                    </div>
                </div>
                <a href="javascript:;" class="bottom_right">下载</a>
            </div>
        </div>
    </div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/spoken_24148/vendor.js"></script>
</html>
    