<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/shanghai_listen/shanghai_listen.css">
</head>
<body>
<div id="container" data-init="shanghai_student">
  <div class="head">
    <div class="widthMain">
      <div class="nav">
        <img src="/images/html/shanghai_listen/q_logo_lt.png" class="lt">
        <img src="/images/html/shanghai_listen/q_logo_rt.png" class="rt">
      </div>
      <div class="baner">
        <img src="/images/html/shanghai_listen/q_img.jpg" class="ban-img">
        <div class="bar-rt" >
          <img src="/images/html/shanghai_listen/q_tit01.png" class="rt-tit">  
            <a href="javascript:;" class="get_prize">领取奖品</a>
        </div>   
      </div>
    </div>
  </div>
  <div class="time-img">
    <div class="widthMain">
      <img src="/images/html/shanghai_listen/q_titie_bj.png" class="tit">
    </div>
  </div>
  <div class="langer">
    <div class="widthMain">
      <p><img src="/images/html/shanghai_listen/q_tit02.png"></p>
      <span class="detailed">拥有专业自主研发教材，及多种国际标准教材。更有模仿、看图等趣味分类课程，自由选择。</span>
      <img src="/images/html/shanghai_listen/q_img02.jpg" class="rt-img">
    </div>
  </div>
  <div class="free">
    <div class="widthMain">
      <p><img src="/images/html/shanghai_listen/q_tit04.png"></p>
      <div class="fr-main">
        <img src="/images/html/shanghai_listen/q_img03.jpg"> 
        <div class="fr-rt">
          <img src="/images/html/shanghai_listen/q_tit05.png" class="rt-img">
          <div class="fr-bom">
            <form action="" id="form_01">
              <div class="form">
                <input type="email" name="email" placeholder="请输入您的邮箱" class="pow-input sh_email">
                <input type="tel" name="mobile" placeholder="请输入您的手机号" class="pow-input sh_mobile">
                <input type="password" name="password" placeholder="请设置您的密码" class="pow-input sh_password">  
                <input type="password"  placeholder="请填写奖品代码" class="pow-input prize_code">  
              </div>
              <a href="javascript:;" class="ctr-btn free_get">免费领取</a>
            </form>
          </div> 
        </div>
      </div>
    </div> 
  </div>
  <!-- 学员心声 -->
  <div class="m_evaluation">
    <div class="widthMain">
      <h1 class="m_courseT">学员心声</h1>
      <p class="m_courseTe">THE STUDENT VOICE</p>
      <div class="m_courseL s_cb"></div>
      <div class="m_student">
        <div class="m_studentI f_p1">
          <p class="m_studentE">我从小就学英语，主要是应试类的，为了提高自己的口语，我选择了主打口语培训的51Talk。在这里，我找到了适合的老师，她们对我帮助真的很大。由于学业重，我选的次卡套餐，上起课来很方便。现在我经常用英语和妈妈对话，口语提高了很多，相信在以后的中考和高考听力中，我也能取得好成绩。</p>
          <dl class="s_dl7">
            <dt><img src="/images/html/shanghai_listen/pr_img01.png" alt=""></dt>
            <dd><span>Bella</span><br/>初中生</dd>
          </dl>
        </div>
        <div class="m_studentI f_p2">
          <p class="m_studentE m_s1">我从7岁开始在51talk学习，现已有了一年的时间啦！51talk不仅帮助我每天提供了一个浸入式的英文环境，还可以让我同来自北上广深的小伙伴们一样，学习最棒的英文课程！一年下来，我已经顺利地完成了L2-L9的课程，自己英文的听说能力得到了很大的提升！因此，我屡屡在各项英语比赛中获奖，更是取得了代表江西省去北京参加“希望之星”全国总决赛的好成绩！</p>
          <dl class="s_dl7">
            <dt><img src="/images/html/shanghai_listen/pr_img02.png" alt=""></dt>
            <dd><span>Vic</span><br/>CCTV希望之星英语风采大赛-江西省冠军</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- 合作企业 -->
  <div class="cooper">
    <div class="widthMain">
      <h3 class="cop-h3">合作企业</h3>
      <ul class="cop-ul">
        <li><a href="javascript:;"><img src="/images/html/shanghai_listen/fot_xiaomi.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/shanghai_listen/fot_jd.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/shanghai_listen/fot_bank.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/shanghai_listen/fot_sony.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/shanghai_listen/fot_state.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <!-- 尾部注册 -->
  <div class="g_bottom">
      <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript _src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </p>
  </div>
</div>


<div class="layer_container">
  <p class="tit">领取奖品</p>
   <form action="" id="form_02">
      <div class="form_layer">
        <input type="email" name="email" placeholder="请输入您的邮箱" class="sh_email2">
        <input type="tel" name="mobile" placeholder="请输入您的手机号" class="sh_mobile2">
        <input type="password" name="password" placeholder="请设置您的密码" class="sh_password2">
        <input type="text"  placeholder="请填写奖品代码" class="jsCheck prize_code prize_code2">   
      </div>
      <a href="javascript:;" class="ctr-btn free_get2">请领取获奖课程</a>
    </form>
</div>
<div class="layer_container_bg">
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/shanghai_listen/vendor.js"></script>
</html>