<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>成人课程体系</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/branding20170329/branding20170329.css">
</head>
<body>
		<section data-init="brand">
			<img src="/images/wap/branding20170329/adultcourse/adult_01.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_02.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_03.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_04.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_05.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_06.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_07.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_08.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_09.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_10.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_11.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_14.jpg" class="width100" />
		</sectin>
		<section>
			<div class="video_bg video_adult_course">
				 <img src="/images/wap/branding20170329/adultcourse/videoBg.jpg" class="width100" />
			</div>
		</section>
		<sectin class="footer">
			<img src="/images/wap/branding20170329/adultcourse/adult_16.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_17.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_18.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_19.jpg" class="width100" />
			<img src="/images/wap/branding20170329/adultcourse/adult_20.jpg" class="width100" />
		</section>
		<a href="javascript:;" class="red lightred">查看课程价格</a>
		<section class="mask mask_adult_course"></section>
		<img src="/images/wap/branding20170329/close.png" class="close" />
		<section class="videomodule videomodule_adult_course">
			<script src="https://p.bokecc.com/player?vid=B9A36B36955C6DDB9C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=true&width=100%&height=225&playerid=BAD0FF479A897840&playertype=2" type="text/javascript"></script>
		</section>
</body>
 <script src="/js/wap/project/branding20170329/vendor.js" id="seajsnode"></script>
</html>