<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>青少课程体系</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/branding20170329/branding20170329.css">
</head>
<body>
    <section class="usTeacher" data-init="brand">
        <hgroup>
          <img src="/images/wap/branding20170329/junior_course/jun_01.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_02.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_03.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_04.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_05.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_06.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_07.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_08.jpg" class="width100" />
        </hgroup>
        <hgroup  class="junior_course">
          <img src="/images/wap/branding20170329/junior_course/jun_09.jpg" class="width100" />
        </hgroup>
        <hgroup>
          <img src="/images/wap/branding20170329/junior_course/jun_10.jpg" class="width100" />
          <img src="/images/wap/branding20170329/junior_course/jun_11.jpg" class="width100" />
        </hgroup>
        <hgroup class="footer"></hgroup>
        <a href="javascript:;" class="red darktred">查看课程价格</a>
    </section>
    <section class="mask mask_junior_course"></section>
    <img src="/images/wap/branding20170329/close.png" class="close" />
    <section class="videomodule mask_junior_course">
    <script src="https://p.bokecc.com/player?vid=4B42C432F5D15C8D9C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=true&width=100%&height=225&playerid=BAD0FF479A897840&playertype=2" type="text/javascript"></script>
    </section>
</body>
<script src="/js/wap/project/branding20170329/vendor.js" id="seajsnode"></script>
</html>