<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
		<div class="header">
		 		<a href="javascript:void(0)">官网首页</a>
		</div>
		<div class="tr_report" data-init="reg">
				<div class="main">
					 <div class="tr_top">
					 		<span>小五君</span>的经典英语单元测评报告
					 </div>
					 <div class="tr_module">
					 		<div class="title">
					 				学习轨迹<br />
					 				<span>Stuff You've Done</span>
					 		</div>
					 		<div class="tr_stuff_content">
					 				<h3>
					 						Hi！<span>Elizabeth</span><br />
											转瞬间你已经在51talk完成了...
									</h3>
									<ul>
											<li class="u1">
													<h4>48节</h4>
													<span>51talk在线课程</span><br />
													<i></i>
											</li>
											<li>
													<h4>48小时</h4>
													<span>无障碍口语交流</span><br />
													<i></i>
											</li>
									</ul>
									<ul class="u2">
											<li class="l1">
													<h4>48个</h4>
													<span>新词汇积累</span><br />
													<i></i>
											</li>
											<li class="l2">
													<h4>4800字</h4>
													<span>阅读量</span><br />
													<i></i>
											</li>
									</ul>
					 		</div>
					 		<div class="title tr_level">
					 				单元测评成绩<br />
					 				<span>CE Level2 Unit1&Unit2 Test Report</span>
					 		</div>
					 		<div class="tr_level_content">
					 				<ul>
					 						<li>
					 								<span>48分</span>
					 						</li>
					 						<li class="middle">
					 								<span>48分</span>
					 						</li>
					 						<li class="last">
					 								<span>48分</span>
					 						</li>
					 				</ul>
					 		</div>
					 		<div class="title tr_summary">
					 				综述<br />
					 				<span>Summary</span>
					 		</div>
			 				<dl class="tr_summary_content">
			 						<dt></dt>
			 						<dd>
			 								<h3><span>73分</span>/100分</h3>
			 								<p style="padding-top:0;">
			 										在本阶段的学习当中，学员joy基本掌握了部分单词与语法的正确使用，偶尔能够借助手势、表情等体态辅助进行交流，并且交流中遇到困难时，能在老师的帮助下完成整句的表达。在发音上，需要注意轻重音节的区分以及语音语调的控制。基于该阶段的学习表现以及测试的成绩，该学员在本阶段的学习成绩为B。
			 								</p>
			 						</dd>
			 				</dl>
					 		<div class="title tr_comment">
					 				老师评语<br />
					 				<span>Teacher  Comment</span>
					 		</div>
			 				<dl class="tr_summary_content tr_comment_content">
			 						<dt></dt>
			 						<dd>
			 								<p>
			 										在本阶段的学习当中，学员joy基本掌握了部分单词与语法的正确使用，偶尔能够借助手势、表情等体态辅助进行交流，并且交流中遇到困难时，能在老师的帮助下完成整句的表达。在发音上，需要注意轻重音节的区分以及语音语调的控制。基于该阶段的学习表现以及测试的成绩，该学员在本阶段的学习成绩为B。
			 								</p>
			 						</dd>
			 				</dl>

					 </div>
				</div>
				<div class="footer footerFix">
						 <h3>立即领取 <span>免费课程</span></h3>
						 <form id="reg1_form">
						 		<input type="text" class="phone" name="phone" placeholder="手机" />
						 		<input type="password" class="pwd" name="password" placeholder="密码" />
						 		<a href="###" class="subBtn">免费测试我的英语能力</a>
						 </form>
				</div>
				<div class="footer footerMask"></div>
		</div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>