/*初始化样式*/
@charset "utf-8";
body{ font-family:'Microsoft YaHei',STXihei,MingLiu;}
cite,i,s,b{ font-style:normal;font-weight:normal;}
body,ul,li,p,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6{ margin:0px; padding: 0px;}
h1,h2,h3,h4{  font-weight: normal;}
li{ list-style: none;}
img{border:0px;}
a,a:link,a:visited{ text-decoration: none;}
input{font-family:'Microsoft YaHei',STXihei,MingLiu;outline: none;border: none;margin:0;padding: 0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
@imgPath: "../../../images/wap/jobHopping20170213/";
@fontSize16: 0.25rem;
@fontSize18: 0.28125rem;
@fontSize30: 0.46875rem;
@fontSize32: 0.5rem;
@fontSize36: 0.5625rem;
@fontSize24: 0.375rem;
@fontSize28: 0.4375rem;
body,html{
  margin:0px auto;
  min-width: 320px;
  //max-width: 750px;
}
.hide{display: none;}
.hot-caption{
  text-align:center;
  padding:0.78125rem 0 0.7rem 0; 
  line-height: 1;
  img{width: 100%;}
}
.header{
  background-color: #f66333;
  .banner{width: 100%;}
}
.rota{
  z-index: 6;
  position: relative;
  background-color: #f66333;
  padding: 0.315rem 0.390625rem;
  .dial-bg{
    width: 9.21875rem;
    height: 9.375rem;
    margin: 0 auto;
    background: url('@{imgPath}dial_bg.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    .l_grid{
      margin-left: 0.71875rem;
      margin-top: 0.71875rem;
      li{
        width: 2.53125rem;
        height: 2.609375rem;
        margin-right: 0.109375rem;
        margin-bottom: 0.109375rem;
        float: left;
        background:url('@{imgPath}l_bg.png') 0 -2.8125rem no-repeat;
        background-size: 2.53125rem 10.96875rem;
        &.pointer{
          background-position:0 -5.5625rem;
        }
        &.pointer:active{
          background-position:0 -8.328125rem;
        }
        &.l_now{
          background-position: 0 0;
        }
        img{
          margin: 0.15625rem auto 0 auto;
          height: 2.34375rem;
          width: 2.34375rem;
          display: block;
        }
      }
    }
  }
  .prize_list{
    position: relative;
    overflow: hidden;
    margin-top: 0.5rem;
    .caption {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      img {
        display: block;
        margin: 0 auto;
        width: 91.525%;
      }
    }
    .names{
      background: #ffd400;
      border-radius: 0.3125rem;
      margin-top: 0.96875rem;
      height: 5.9375rem;
      .name_list {
        padding: 1rem 0.234375rem 0 0.234375rem;
        height: 4.609375rem;
        overflow: hidden;
        li {
          color: #d45a07;
          line-height: 0.78125rem;
          height: 0.78125rem;
          padding-top: 0.140625rem;
          color: #c82401;
          font-size: 0.4375rem;
          border-bottom: 1px solid #d45a07;
          &:first-child:before {
            display: none;
          }
          span {
            float: left;
          }
          b {
            float: right;
          }
        }
      }
    }
  }
  .l_btn{
    width: 6.15625rem;
    height: 1.40625rem;
    line-height: 1.40625rem;
    background:url("@{imgPath}btn_bg_record.png") no-repeat;
    background-size: cover;
    color: #c82401;
    font-size: 0.5625rem;
    text-align: center;
    display: block;
    margin: 0.46875rem auto 0 auto;
  }
  .rules {
    margin-top: 0.46875rem;
    .caption {
      img {
        width: 100%;
        display: block;
      }
    }
    .info{
      font-size: 0.375rem;
      line-height: 0.625rem;
      margin-top: 0.234375rem;
      color: #fff;
    }
  }
}
.hot-list,.openclass-list{
  background-color: #b96bee;
  .course_list {
    .course-tit{
      width: 2.90625rem;
      height: 0.625rem;
      line-height: 0.625rem;
      background:url("@{imgPath}template_t_bj.png") no-repeat;
      background-size:cover;
      color: #a64ce5;
      padding-left: 0.390625rem;
      font-size: 0.4375rem;
    }
    ul{padding: 0.46875rem;}
    li{
      position: relative;
      overflow: hidden;
      height: 2.96875rem;
      margin-top: 0.46875rem;
      background: #fff;
      display: flex;
      &:first-child {
        margin-top: 0;
      }
      img {
        width: 3.90625rem;
        height: 2.96875rem;
        background: #eee;
      }
      .text {
        flex: 1;
        margin: 0.27rem 0.296875rem 0 0.296875rem;
        .package_name {
          font-size: @fontSize30;
          color: #333333;
          span{margin:0 0.1rem;}
        }
        .desc {
          display: inline-flex;
          align-items: center;
          .low {
            font-size: @fontSize24;
            color: #ff2728;
          }
          .price_new {
            color: #ff2728;
            font-size: @fontSize32;
          }
          .price_old {
            text-decoration: line-through;
            color: #b1b1b1;
            font-size: @fontSize24;
            margin-left: 0.3125rem;
          }
        }
      }
      .btn_buy {
        position: absolute;
        right: 0.15625rem;
        bottom: 0.15625rem;
        width: 2.5rem;
        height: 0.6875rem;
        line-height: 0.6875rem;
        text-align: center;
        background: #f95a52;
        border-radius: 0.125rem;
        color: #fff;
        font-size: 0.375rem;


      }
      &:active {
        box-shadow: 0 0 0.15625rem rgba(0, 0, 0, 0.3);
      }
      .label {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        left: 0;
        top: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.introduce-list{
  background-color: #57a3f3;
}
.openclass-list{
  background-color: #ffb820;
  .course_list ul{
    padding-top: 0;
    li .label-time{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3.90625rem;
      height: 0.546875rem;
      line-height: 0.546875rem;
      text-align: center;
      color: #fff;
      filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC000000', endColorstr='#CC000000');
      background-color:rgba(0,0,0,0.6);
    }
  }
}
.teacher-introduced{
  background-color: #4ac0ac;
  padding-bottom:0.46875rem; 
  .tea-list{
    margin:0 0.46875rem;
    background-color: #fff;
    border-radius: 0.125rem;
    li{
      display: flex;
      border-top-style: dotted;
      border-color:#4ac0ac;
      padding:0.3125rem;
      font-size: 0.34375rem;
      line-height: 1;
      &:first-child{border:none;}
      img{
        width: 1.5625rem;
        height: 1.5625rem;
        border-radius: 0.125rem;
      }
      .text{
        flex:1; 
        margin-left:0.3125rem; 
        span{margin:0 0.21875rem;}
        .package_name{
          @fontSize28;
          color: #4ac0ac;
          margin:0.0625rem 0 0.28125rem 0;
        }
        .content{
          line-height: 0.6875rem;
          padding-bottom: 0.2rem;
        }
      }
      .btn_buy{
        display: block;
        float: right;
        width: 2.5rem;
        height: 0.6875rem;
        line-height: 0.6875rem;
        text-align: center;
        background: #f95a52;
        border-radius: 0.125rem;
        color: #fff;
        font-size: 0.375rem;
      }
    }
  }
}
.voucher{
  background-color: #88c246;
}

// layer
//获得奖品
.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.6);
  .info{
    position: relative;
    width: 9.6718rem;
    height: 8.2343rem;
    left: 50%;
    top: 50%;
    margin:-4.117rem 0 0 -4.8359rem;
    background: url('@{imgPath}prize_bg02.png') center no-repeat;
    background-size: cover;
    .box{
      position: relative;
      left: 0rem;
      top: 0rem;
      padding-top: 3.25rem;
      text-align: center;
      h3{
        font-size: @fontSize30;
        color: #5e4000;
        margin-top: 0.4rem;
      }
      .close{
        width: 1.0rem;
        height: 1.0rem;
        position: absolute;
        right: 0rem;
        top: 0;
        background: url('@{imgPath}close2.png') no-repeat;
        background-size: cover;
      }
      .detail{
        height: 2.8125rem; 
        img{
          display: none;
          width: 3.4375rem;
          height: 2.8125rem;
        }
      }
      .prize_tip {
        color: #e5043e;
        text-align: center;
        width: 6.5625rem;
        margin: 0 auto;
        padding-top: 1.25rem;
        line-height: 1rem;
        .tt {
          font-size: @fontSize36;
        }
        .con {
          font-size: @fontSize30;
          padding: 0 0.3125rem;
        }
        .app_btn {
          margin-top: 1rem;
          display: inline-block;
          width: 100%;
          height: 1.09375rem;
          line-height: 1.09375rem;
          background: #f76f4d;
          color: #fff;
          border-radius: 0.15625rem;
          font-size: @fontSize32;
        }
      }
    }
  }
}

// 我的抽奖记录和未抽奖
.dialog2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  .tip{
    position: relative;
    width: 8.4375rem;
    height: 3.78125rem;
    left: 50%;
    top: 50%;
    background: #fff;
    margin-top: -1.890625rem;
    margin-left: -4.21875rem;
    border-radius: 0.15625rem;
    .close{
      width: 1.0rem;
      height: 1.0rem;
      position: absolute;
      right: 0.15625rem;
      top: 0.15625rem;
      background: url('@{imgPath}join_close.jpg') no-repeat;
      background-size: cover;
    }
    .gold_box{
      background: url('@{imgPath}look_detail02.png') no-repeat;
      background-size: cover;
      position: absolute;
      width: 3.125rem;
      height: 1.609375rem;
      right: 0.15625rem;
      bottom: -0.03125rem;
    }
    .text{
      float: left;
      color: #5e4000;
      padding-right: 0.390625rem;
    }
    .text1{
      padding-left: 0.859375rem;
      padding-top: 1rem;
      p{
        line-height: 0.5rem;
        font-size: @fontSize24;
        font-weight: bold;
      }
      h3{
        padding-top: 0.078125rem;
        font-size: @fontSize32;
        span{
          font-size: @fontSize18;
        }
      }
    }
    .text2{
      padding-left: 0.859375rem;
      h3{
        font-size: @fontSize24;
        padding-top: 1.5625rem;
      }
    }
  }
}
//分享提示框
.dialog3 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  .tip{
    position: relative;
    width: 8.4375rem;
    height: 3.78125rem;
    left: 50%;
    top: 50%;
    background: #fff;
    margin-top: -1.890625rem;
    margin-left: -4.21875rem;
    border-radius: 0.15625rem;
    .close{
      width: 1.0rem;
      height: 1.0rem;
      position: absolute;
      right: -0.3125rem;
      top: -1.40625rem;
      background: url('@{imgPath}close2.png') no-repeat;
      background-size: cover;
    }
    .text{
      float: left;
      margin-top: 0.78125rem;
      color: #f76f4d;
      font-size: @fontSize28;
      padding: 0 0.875rem;
      line-height: 1rem;
      .ic_face {
        width: 0.46875rem;
        height: 0.46875rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
//跳槽季
.j_tilte{
  background: #f66333;
  padding-top:0.4365rem;
  padding-bottom:0.4062rem;
  h2{
    text-align: center;
    margin-bottom: 0.1875rem;
    img{
      display: inline-block;
      height:0.5000rem;
    }
  }
  p{
    text-align: center;
    font-size:0.3125rem;
    color:#fff;
  }
}
.j_offer{
  background: #b870eb;
}
.hot-list .course_list .course-tit, .openclass-list .course_list .course-tit{
    width:3.2031rem;
}
.readMore{
  text-align: center;
  padding-bottom:0.4687rem;
  a{
    font-size:0.3750rem;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    height:0.9062rem;
    width: 5.4687rem;
    background: #a553e2;
    border-radius: 0.9062rem;
    line-height: 0.9062rem;
    position: relative;
    box-shadow: 0 4px 0 #9045d9;
    -webkit-tap-highlight-color: transparent;
    i{
      display: block;
      height:0.7812rem;
      width:0.7812rem;
      background:#9045d9 url('@{imgPath}j_gt.png') center no-repeat;
      border-radius:0.7812rem;
      position: absolute;
      right:0.1250rem;
      top:50%;
      margin-top:-0.3906rem;
    }
  }
}
 .rule-mask{
    position:fixed;
    z-index: 10001;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height:100%;
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    display: none;
  }
.rule-details{
    position: fixed;
    z-index: 10002;
    top:25%;
    left:50%;
    width: 7.5rem;
    margin-left:-3.75rem;
    padding:0.3906rem 0.2343rem;
    background: #fff;
    border-radius: 0.1562rem;
    display: none;
    h2{
      text-align: center;
      font-size: 0.3906rem;
      margin-bottom:0.25rem;
    }
    p{
      font-size: 0.25rem;
      line-height: 0.5312rem;
    }
    i{
      position: absolute;
      height: 0.7812rem;
      width: 0.7812rem;
      background:url('@{imgPath}j_close.png') center no-repeat;
      top:-0.3906rem;
      right:-0.3906rem;
    }
}
.rota .rules .info li .ruleBtn{
  color:#fff;
  text-decoration: underline;
}
