<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk-无忧英语</title>
	<link rel="stylesheet" type="text/css" href="/css/wap/challenge_say/challenge_say.css"></head>
<body>
    <img src="/images/wap/challenge_say/logo.jpg" alt="" style="float: left;height: 0;width: 0;">
	<section  id="container" data-init="share">
	  <img  src="/images/wap/challenge_say/spoken_bg.jpg"  alt="" class="spoken_bg">
	  <aside class="cs_bg"><img src="/images/wap/challenge_say/spoken_icon.png" alt=""></aside>
		<article class="logIn">
			<form id="reg1_form">
				<ul class="OneS_logIn">
					<li>
						<input id="reg1_tel" type="tel" name="mobile" placeholder="输入您的手机号">
					</li>
					 <li>
				          <input class="tel_code" id="authCode" name="authCode" type="tel" placeholder="请输入图形验证码">
				          <span  class="" style="display: -webkit-box;-webkit-box-flex: 1;border-radius: 5px; height: 4.5rem;margin-left: 1rem;-webkit-box-pack: center;box-sizing: border-box;font-size: 1.6rem">
				            <img 
				                 id="verifycode" src="http://www.51talk.com/passport/authCode"
				                 height="100%" width="100%" onclick="this.src='http://www.51talk.com/passport/authCode'+'?a'+'='+new Date().getTime()"
				                 alt="单击更换验证码" title="单击更换验证码">
				          </span>
				        </li>
					<li>
						<input id="" class="tel_code" name="mobile_code" type="tel" placeholder="请输入验证码">
						<span class="tel_btns" style="display: -webkit-box;-webkit-box-flex: 1;background: #52db88;border-radius: 5px;font-size: 1.6rem;color: #fff;line-height: 4.5rem;margin-left: 1rem;-webkit-box-pack: center;box-sizing: border-box;">获取验证码</span>
					<li>
						<input id="reg1_passwd" type="password" placeholder="设置您的密码">        
					</li>
					<li>
						<a id="reg1" href="#" class="free"></a>
					</li>
			    </ul>
			</form>
		</article>

	</section>
</body>
<script src="/js/wap/project/challenge_say/vendor.js" id="seajsnode"></script> 
</html>