<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk-无忧英语</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
	<section class="m-pay-wait">
		<img src="<%= imagessrc%>wait.png" class="i-wait">
		<p class="tit-num">240次次卡套餐</p>
		<p class="tit-time">有效期：60天</p>
		<a href="javascript:;" class="u-ipt">更新支付结果</a>
	</section>
	<section class="m-success hide">
		<img src="<%= imagessrc%>success.png" class="i-success">
		<p class="tit-num">240次次卡套餐</p>
		<p class="tit-time">已购买成功</p>
		<dl class="details">
			<dt>1.</dt>
			<dd>至www.51talk.com网站下载AC客户端/手机客户端</dd>
			<dt>2.</dt>
			<dd>打开AC客户端/手机客户端，选择外教，预约上课时间</dd>
			<dt>3.</dt>
			<dd>准备好电脑/手机，准时上课</dd>
		</dl>
	</section>
	<footer>
		<a href="javascript:;">下载51Talk APP</a>
	</footer>
</body>
</html>