<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>51Talk 青少英语教育专家</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/pupil20160411/pupil20160411.css">
      
  </head>

<body>
<section class="teengers" id="container" data-init="eng">
  <img src="/images/wap/pupil20160411//pupil_top.jpg" alt="" class="oneSt">
  <a href="http://www.51talk.com/user/user_login.php" class="loginBtn">登&nbsp;录</a>
  <article class="ones">
  <form id="reg1_form">
    <div class="reg1_form">
      <ul class="ones_logIn">
        <li>
          <input type="text" placeholder="请输入您的手机号" id="reg1_tel">
        </li>
        <li>
          <input type="password" placeholder="请设置您的密码" id="reg1_passwd">    
              
        </li>
        <li>
          <a href="#" class="free">免费试听</a>
        </li>
      </ul>
    </div>
  </form>
  </article>
  <article class="tws">
    <h3 class="tws_title">合理利用时间，真正做到趣味学习</h3>
    <ul class="tws_list">
      <li>
        <dt><img src="/images/wap/pupil20160411///list4.png" alt=""></dt>
        <dd><h3 class="list_tit">打开电脑随时上课</h3></dd>
      </li>
      <li>
        <dt><img src="/images/wap/pupil20160411//list3.png" alt=""></dt>
        <dd><h3 class="list_tit">全天10小时<br/>随时预约上课</h3></dd>
      </li>
      <li>
        <dt><img src="/images/wap/pupil20160411//list2.png" alt=""></dt>
        <dd><h3 class="list_tit">4000名外教任选</h3></dd>
      </li>
      <li>
        <dt><img src="/images/wap/pupil20160411//list1.png" alt=""></dt>
        <dd><h3 class="list_tit">上课内容可自定义</h3></dd>
      </li>
    </ul>
  </article>
  <article class="fos">
    <section class="fos_t">
      <hgroup>
        <h3 class="trs_titT">启蒙和语言学习同步进行</h3>
        <h4 class="trs_titB">ENLIGHTENING AND LEARNING TOGETHER</h4>
      </hgroup>
      <section class="fos_text">
        <p class="trs_text">拥有专业自主研发教材，及多种国际标准教材。更有模仿、看图等趣味分类课程，自由选择。<span class="fos_pl"></span><span class="fos_pr"></span></p>
      </section>
    </section>
  </article>
  <article class="open">
    <section class="fos_t">
      <hgroup>
        <h3 class="trs_titT">免费公开课<span>好玩<i></i>有用</span></h3>
        <h4 class="trs_titB">FREE OPEN COURSE</h4>
      </hgroup>
      <section class="fos_text">
        <img src="/images/wap/pupil20160411//pupil_cc.png" alt="">
        <p>适合不同年龄段，趣味学英语的同时，增长知识面。</p>
      </section>
    </section>
  </article>
  <article class="sis">
    <h3 class="trs_titT mb2">学员心声</h3>
    <ul class="sis_list">
      <li class="mb2">
        <p class="sis_text">“  高兴地跟老师一起手舞足蹈。”</p>
        <dl class="sis_dl">
          <dt class="sis_l"><img src="/images/wap/pupil20160411//pupil_2.jpg" alt=""></dt>
          <dd class="sis_r">Joanna</dd>
        </dl>
      </li>
      <li class="mb2">
        <p class="sis_text">“  通过两年时间在51Talk学习英语，从LV2到LV9！”</p>
        <dl class="sis_dl">
          <dt class="sis_l"><img src="/images/wap/pupil20160411//pupil_3.jpg" alt=""></dt>
          <dd class="sis_r">Vic</dd>
        </dl>
      </li>
    </ul>
    <section class="sis_fb mb2"><img src="/images/wap/pupil20160411//last.jpg" alt=""></section>
    <section class="sis_fb"><a href="#" class="sis_now">马上和宝贝来体验</a></section>
  </article>
  <footer>
    <img src="/images/wap/pupil20160411//pupil_b1.jpg" alt="">
  </footer>
</section>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/pupil20160411/vendor.js"></script>
</html>