@imgUrl:"../../../images/html/fltrp/";
@imgPath: "../../../images/html/www/";
.result_header{
	height:85px;
	background:#fff;
	border-bottom:#ff8200 solid 2px;
	.wrap{
		width:1000px;
		height:85px;
		margin:0 auto;
		.logo{
			float:left;
			margin-right:20px;
		}
		.talk_logo{
		    display: inline-block;
		    float:left;
		    width: 150px;
		    height: 60px;
		    margin:10px 20px 0 0;
		    background: url('@{imgPath}icon.png') -7px 0 no-repeat;
		}
		.fltrp_logo{
			display:inline-block;
			width:67px;
			height:47px;
			margin-top:25px;
			background:url('@{imgUrl}img_sprite.png') -28px -65px no-repeat;
		}
		.joint{
			display:inline-block;
			height:45px;
			margin-top:20px;
			padding:0 20px;
			line-height:45px;
			border-left:#eaeaea solid 1px;
			font-style:normal;
			font-size:16px;
			color:#1e1e1e;
		}
		.home{
			float:right;
			margin-top:35px;
			font-size:14px;
			color:#ff8200;
		}
	}
}