<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>app下载专页</title>
    <link rel="stylesheet" type="text/css" href="/css/html/ac_class/ac_class.css">
</head>
<body>
<div class="ac-order" id="container" data-init="class_ac">
  <div class="ac-ban">
    <ul>
      <li class="on"><a href="javasrcript:;">今天</a></li>
      <li><a href="javasrcript:;">明天</a></li>
      <li><a href="javasrcript:;">后天</a></li>
    </ul>
    <b class="ac-rt"><i class="bg-icon"></i><a href="#">约课须知</a></b>
    <!-- 特别提示 -->
    <div class="ac-word">
      <span class="tra"></span>
      <a href="#" class="delete"></a>
      <p>特别提示：<br>
      1. 精品小班课课程50分钟，每节课仅限6人报名，约满即止<br>
      2. 预约需消耗1次次卡，开课前1小时不能取消<br>
      3. 请确认已安装51TalkAC上课工具，并准备好耳麦，确保网络连接正常
      </p>
    </div>
  </div>
  <div class="ac-list">
    <ul class="ac-main">
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac02.jpg" alt="" class="ac-img">
          <h3>拒绝工作OFFER</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
        <!-- 已预约 -->
        <div class="seclet">
          <p>舞蹈是用身体肢体语言说话，每个肢体动作都在表达一种情绪，忧伤，开心，安静都贯穿整个舞蹈动作，唯美的音乐和动作，传神的肢体活动，太美！</p>
          <a href="#" class="ac-btn">预约</a>
        </div>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac01.jpg" alt="" class="ac-img">
          <h3>拒绝工作OFFER</h3>
          <p><i class="bg-icon"></i>get新技能 : 旅行规划</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
        <!-- 已预约 -->
        <div class="seclet">
          <p>安静都贯穿整个舞蹈动作，唯美的音乐和动作，传神的肢体活动，太美！</p>
          <a href="#" class="ac-btn ac-up-btn">已预约</a>
        </div>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac03.jpg" alt="" class="ac-img">
          <h3>Plan一下你的旅行计划</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课教你做旅行规划</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac04.jpg" alt="" class="ac-img">
          <h3>你的一天咋样啦</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac05.jpg" alt="" class="ac-img">
          <h3>派对之最受欢迎的客人</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
    </ul>
  </div>
  <div class="ac-list" style="display:none">
    <ul class="ac-main">
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac01.jpg" alt="" class="ac-img">
          <h3>拒绝工作OFFER</h3>
          <p><i class="bg-icon"></i>get新技能 : 旅行规划</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
        <!-- 已预约 -->
        <div class="seclet">
          <p>安静都贯穿整个舞蹈动作，唯美的音乐和动作，传神的肢体活动，太美！</p>
          <a href="#" class="ac-btn ac-up-btn">已预约</a>
        </div>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac03.jpg" alt="" class="ac-img">
          <h3>Plan一下你的旅行计划</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课教你做旅行规划</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac04.jpg" alt="" class="ac-img">
          <h3>你的一天咋样啦</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac05.jpg" alt="" class="ac-img">
          <h3>派对之最受欢迎的客人</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
    </ul>
  </div>
  <div class="ac-list" style="display:none">
    <ul class="ac-main">
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac03.jpg" alt="" class="ac-img">
          <h3>Plan一下你的旅行计划</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课教你做旅行规划</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac04.jpg" alt="" class="ac-img">
          <h3>你的一天咋样啦</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
      <li>
        <a href="#" class="ac-li">
          <img src="/images/html/ac_class//ac05.jpg" alt="" class="ac-img">
          <h3>派对之最受欢迎的客人</h3>
          <p><i class="bg-icon"></i>get新技能 : 本节课一起学习如何拒绝工作OFFER。本节课一起学习如何拒绝工作OFFER。</p>
          <p>15:00-15:50<span>适合：Level4-6</span></p>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/ac_class/vendor.js"></script>
</html>