<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/flbreg_landing/flbreg_landing.css">
</head>
<body data-init="flbreg">
	 <article>
	 		<header>
	 			<img src="/images/wap/flbreg_landing/fr_banner.jpg" alt="" class="imgShow"  />
	 		</header>
			<section class="fr_tit">
				<p>Register and start teaching in 1 day</p>
			</section>
			<section class="fr_reg">
				<form>
					<div class="fr_regIn" id="back_top">
				  		<div class="fr_regGroup">
				  			<div class="fr_reg_lf fr_single fr_lpart">
				  				<span class="mustFill">*</span>
				  				Name
				  			</div>
				  			<div class="fr_reg_ct">
				  				<input type="text" name="first_name" placeholder="First Name" />
				  				<div class="fr_tip fr_tip1"></div>
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="last_name" placeholder="Last Name" />
				  			</div>

				  		</div>
				  		<div class="fr_regGroup fr_name2">
				  			<div class="fr_reg_lf fr_lpart">
				  			<span class="mustFill">*</span>
				  				Email Address 
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="email" placeholder="XXXX@gmail.com" />
				  				<div class="fr_tip fr_tip2"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name2">
				  			<div class="fr_reg_lf fr_lpart">
				  				<span class="mustFill">*</span>
				  				Mobile Number
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="mobile" placeholder="09XXXXXXXXX" />
				  				<div class="fr_tip fr_tip3"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_single fr_lpart">
				  				<span class="mustFill">*</span>
				  				Skype ID
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="skype" placeholder="XXXXXXXXX" />
				  				<div class="fr_tip fr_tip4"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup">
				  			<div class="fr_reg_lf fr_single fr_lpart">
				  				<span class="mustFill">*</span>
				  				Location
				  			</div>
				  			<div class="fr_reg_ct">
				  				<select>
				  					<option>Region</option>
				  					<option>Region</option>
				  					<option>Region</option>
				  				</select>
				  				<div class="fr_tip fr_tip5"></div>
				  			</div>
				  			<div class="fr_reg_rt">
				  					<select>
				  					<option>City</option>
				  					<option>City</option>
				  					<option>City</option>
				  				</select>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_sel">
				  			<div class="fr_reg_lf fr_lpart">
				  				<span class="mustFill">*</span>
				  				Educational Attainment
				  			</div>
				  			<div class="fr_reg_ctl">
				  				<select>
				  					<option>Select</option>
				  					<option>Select</option>
				  					<option>Select</option>
				  				</select>
				  				<div class="fr_tip fr_tip6"></div>
				  			</div>
				  			<div class="fr_reg_ctr">
				  				<select>
				  					<option>Select</option>
				  					<option>Select</option>
				  					<option>Select</option>
				  				</select>
				  			</div>
				  			<div class="fr_reg_rt">
				  					<select>
				  					<option>Select</option>
				  					<option>Select</option>
				  					<option>Select</option>
				  				</select>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_single fr_lpart">
				  				<span class="mustFill">*</span>
				  				Internet  
				  			</div>
				  			<div class="fr_reg_rt">
				  				<select>
				  					<option>Select Internet Connection</option>
				  					<option>Select Internet Connection</option>
				  					<option>Select Internet Connection</option>
				  				</select>
				  				<div class="fr_tip fr_tip7"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_lpart">
				  				<span class="mustFill">*</span>
				  				Teaching Experience  
				  			</div>
				  			<div class="fr_reg_rt">
				  				<select>
				  					<option>Select</option>
				  					<option>I don't have any teaching experience</option>
				  					<option>Teaching Experience  </option>
				  				</select>
				  				<div class="fr_tip fr_tip7"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_lpart">
				  			  <span class="mustFill">*</span>
				  				Teaching Certificates 
				  			</div>
				  			<div class="fr_reg_rt fr_TC">
				  				  <span>
				  				  	<i></i>None 
				  				  </span>
				  				   <span>
				  				  	<i></i>LET
				  				  </span>
				  				  <span>
				  				  	<i></i>TESOL
				  				  </span>
				  				  <span>
				  				  	<i></i>TEFL
				  				  </span>
				  				  <span>
				  				  	<i></i>CELTA 
				  				  </span>
				  				  <span>
				  				  	<i></i>CELTYL 
				  				  </span>
				  				  <span>
				  				  	<i></i>TKT 
				  				  </span>
				  				<div class="fr_tip fr_tip10"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_regGroup_last fr_name3">
				  			<div class="fr_reg_lf fr_single fr_lpart fr_last">
				  			  <span class="mustFill">*</span>
				  				Preferred Interview Time  
				  			</div>
				  			<div class="fr_reg_rt fr_last_select">
				  				<select>
				  					<option>Select</option>
				  					<option>Select</option>
				  					<option>Select</option>
				  				</select>
				  				<div class="fr_tip fr_tip8"></div>
				  			</div>
				  		</div>

							<div class="fr_submit">
								<a href="javascript:;" id="fr_submit">Submit</a>
							</div>
				  		<!-- fr_regIn  end -->
					</div>
				</form>
			</section>
				
						<!-- 加入51开始 -->
		<div class="join_51">
			<p class="tit1">Why You Should Join 51Talk</p>
			<p class="tit2">As a Home-Based Online English Teacher</p>
			<ul class="point_box">
				<li>
					<img src="/images/wap/flbreg_landing/point01.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Earn More</p>
							<p class="tit-2">Earn as much as Php 80,000 monthly.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="/images/wap/flbreg_landing/point02.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Experience Comfort<br/>and Convenience</p>
							<p class="tit-2">Teach, learn and earn right from the comfort of your home.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="/images/wap/flbreg_landing/point03.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Level Up and Learn</p>
							<p class="tit-2">Maximize your learning experience with our free trainings.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="/images/wap/flbreg_landing/point04.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Discover a Different Culture</p>
							<p class="tit-2">Explore a new culture through interesting exchanges between you and our Asian learners.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 加入51结束 -->
		<!-- 李娜展示开始 -->
		<div class="lina_box">
			<img src="/images/wap/flbreg_landing/lina.jpg" class="lina_img" alt="" >
		</div>
		<!-- 李娜展示结束 -->
		<!-- 底部的join us 按钮 -->
		<div class="join_us">
			<div class="tea_box">
				<div class="teafirst">
					<div>
						<img src="/images/wap/flbreg_landing/51.png" alt="" class="p_1">
						<a href="javascript:;" class="link_img"><img src="/images/wap/flbreg_landing/tea1.jpg" alt=""></a>	
					</div>
					<div>
						<a href="javascript:;" class="link_img"><img src="/images/wap/flbreg_landing/tea2.jpg" alt=""></a>
						<img src="/images/wap/flbreg_landing/join.png" alt="" class=p_2>
					</div>
				</div>
				<div class="teasecond">
					<div>
						<img src="/images/wap/flbreg_landing/talk.png" alt="" class=p_3>
						<a href="javascript:;" class="link_img"><img src="/images/wap/flbreg_landing/tea3.jpg" alt=""></a>
					</div>
					<div>
						<a href="javascript:;" class="link_img"><img src="/images/wap/flbreg_landing/tea4.jpg" alt=""></a>
						<img src="/images/wap/flbreg_landing/us.png" alt="" class="p_4">
					</div>
				</div>
			</div>
			<a href="#back_top" class="btn_join">Join us</a>
		</div>
	 </article>

</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/flbreg_landing/vendor.js"></script>
</html>