<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" />     
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>amy着陆页</title>
      <link rel="stylesheet" type="text/css" href="/css/wap/amy20150907/amy20150907.css">
  </head>
<body>
	<section>
		<article class="top">
			<img src="/images/wap/amy20150907/top1.jpg"  class="topImg">
			<p class="t_text">新东方联合创始人徐小平推荐</p>
			<ul class="OneS_logIn">
		      <li>
		        <input type="text" placeholder="请输入您的手机号">
		      </li>
		      <li>
		        <input type="password" placeholder="请设置您的密码">        
		      </li>
		      <li>
		        <a href="#" class="free">免费试听</a>
		      </li>
		    </ul>
		</article>
		<article class="center">
			<h3>选择 51Talk 的4大理由</h3>
			<ul class="item">
				<li>
					<a class="borderG"><img src="/images/wap/amy20150907/amy11.png"></a>
					<i class="right">1.</i>
					<p>免费学习20讲</br>italk视频口语课程</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/amy20150907/amy22.png"></a>
					<i class="left">2.</i>
					<p>25分钟随时随地学习</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/amy20150907/amy33.png"></a>
					<i class="right">3.</i>
					<p>365天免费学习51Talk公开课</p>
			    </li>
			    <li>
					<a class="borderG"><img src="/images/wap/amy20150907/amy44.png"></a>
					<i class="left">4.</i>
					<p>超高性价比，价格仅为</br>其他机构的25%</p>
			    </li>
			</ul>
		</article>
		<footer>
			<article class="reports">
				<h3>媒体报道</h3>
				<ul class="rImg">
			      <li>
			        <a href="#"><img src="/images/wap/amy20150907/cctv.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/amy20150907/cyb.jpg" ></a>       
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/amy20150907/ifeng.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/amy20150907/qq.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/amy20150907/logo_sina1.jpg" ></a>
			      </li>
			      <li>
			        <a href="#"><img src="/images/wap/amy20150907/logo_sohu1.jpg" ></a>
			      </li>
			    </ul>
			</article>
			<article class="honor">
				<h3>51Talk的荣誉</h3>
				<ul class="hImg">
					<li class="wMin">
						<img src="/images/wap/amy20150907/h_1.png" >
						<p><a href="#">在线教育诚信品牌</br>2013</a></p>
				    </li>
				    <li>
						<img src="/images/wap/amy20150907/h_2.png" >
						<p><a href="#">十年知名在线教育机构</br>2013</a></p>
				    </li>
				    <li>
						<img src="/images/wap/amy20150907/h_3.png" >
						<p><a href="#">年度创新成长企业100强</br>2013</a></p>
				    </li>
				    <li class="mini">
						<img src="/images/wap/amy20150907/h_6.png" >
						<p><a href="#">最佳网络影响力</br>Top10-2013</a></p>
				    </li>
				    <li class="miniL">
						<img src="/images/wap/amy20150907/h_5.png" >
						<p><a href="#">最受网友喜爱口语培训机构</br>Top5-2013</a></p>
				    </li>
				    <li class="miniR">
						<img src="/images/wap/amy20150907/h_4.png" >
						<p><a href="#">最具口碑影响力教育机构</br>2013中国教育盛典</a></p>
				    </li>
				</ul>
			</article>
		</footer>
	</section>
</body>
<!--公共尾部结束-->
<script src="/js/wap/project/amy20150907/vendor.js" id="seajsnode"></script>
</html>










