<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/Tmall_Code/Tmall_Code.css">
</head>
<body>
   <header></header>
   <article class="t_inputCode" data-init="tmall">
     <h2 class="t_tit"><span>3</span>步开始上课！</h2>
     <h3>课程码激活</h3>
     <form id="f_courseCode">
        <div class="t_group">
          <input type="text" name="course_code" class="courseCode" placeholder="课程码" />
          <p class="t_tip tip_courseCode" ><i></i>您输入的课程码有误！</p>
        </div>
        <div class="t_group">
          <input type="text" name="captcha" class="courseCode t_imgCode" placeholder="验证码" />
          <input type="button" class="imgCode" value="abcd" />
          <p class="t_tip tip_imgCode" ><i></i>您输入的验证码有误！</p>
        </div>
        <div class="t_group">
         <!--  <input type="button" name="activCode" class="subCode t_getCourseCode" value="激活验证码" data-href="http:\\www.baidu.com" /> -->
          <a href="javascript:;" class="subCode t_getCourseCode" data-href="http:\\www.baidu.com">激活验证码</a>
        </div>
     </form>
   </article>
         <section>
        <img src="/images/wap/Tmall_Code/t_boy.png"  alt="">
     </section>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="/js/wap/project/Tmall_Code/vendor.js"></script>
</html>