<% include ../common/user_center/up_top.ejs %>
	<body style="overflow:hidden;">
		<div class="hide" data-inits="ts"></div>
	<!-- header  -->
		<% include ../common/user_center/up_g_h.ejs %>
		<% include ../common/user_center/up_g_b.ejs %>
	<!-- /header  -->

	<!-- container  -->
		<div class="g-in f-cb">
			<% include ../common/user_center/up_s_bar.ejs %>
			<div class="g-center">
				<% include ../../../components/html/up_c_pre/ejs/modules/up_pre_m.ejs %>
			</div>
			<% include ../common/user_center/up_r_bar.ejs %>
		</div>
	<!-- /container  -->
	<% include ../../../components/html/up_c_pre/ejs/modules/up_pre_l.ejs %>
	<!-- footer  -->
		<% include ../common/user_center/up_g_f.ejs %>
	<!-- /footer  -->
	<!-- 查看课程介绍弹出层 -->
	<% include ../../../components/html/up_c_pre/ejs/modules/up_pre_g.ejs %>
	<!-- /查看课程介绍弹出层 -->
	</body>
<% include ../common/user_center/up_bottom.ejs %>
