<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/north_teacher_new20170509/north_teacher_new20170509.css">
</head>
<body> 
 	<header data-init="flbreg">
	 	<img src="/images/wap/north_teacher_new20170509/banner.jpg" />
		<div class="subBtn">
			<a href="javascript:;" id="e_submit">Apply now</a>
		</div>
 	</header>
	<section class="former" style="display: none;">
		<!-- fullname -->
		 <div class="list">
		 		<div class="f_name"><i>* </i>Full Name</div>
		 		<div class="info">
		 			<input type="text" placeholder="First Name" name="first_name" />
		 		</div>
		 		<div class="info">
		 			<input type="text" placeholder="Last Name" name="last_name" />
		 		</div>
		 </div>
		 <div class="error e_fullname"></div>
			<!-- Email -->
		  <div class="list">
		 		<div class="f_name lhno"><i>* </i>Email<br />&nbsp;&nbsp;Address</div>
		 		<div class="info">
		 			<input type="text" placeholder="Email Address" name="email" />
		 		</div>
		 </div>
		 <div class="error e_email"></div>
		 <!-- Telephone -->
		  <div class="list">
		 		<div class="f_name lhno"><i>* </i>Telephone<br />&nbsp;&nbsp;No.</div>
		 		<div class="info">
		 			<input type="text" placeholder="Telephone No." name="mobile" />
		 		</div>
		 </div>
		 <div class="error e_mobile"></div>
		  <!-- Skype ID -->
		  <div class="list">
		 		<div class="f_name"><i>* </i>Skype ID</div>
		 		<div class="info">
		 			<input type="text" placeholder="Skype ID" name="skype" />
		 		</div>
		 </div>
		 <div class="error e_skype"></div>
		  <!-- Experience -->
		  <div class="list">
		 		<div class="f_name nameLong"><i>* </i>Kids Teaching Experience</div>
		 		<div class="info">
		 			<select class="experience" name="experience">
		 					<option>Select</option>
		 			</select>
		 		</div>
		 </div>
		 <div class="error e_experience"></div>
		 <!-- year -->
		 <div id="yearsTeaching">
			  <div class="list">
			 		<div class="f_name nameLong"><i>* </i>Years of Teaching</div>
			 		<div class="info">
			 			<select class="teacherYear">
			 					<option>Select</option>
			 			</select>
			 		</div>
			 </div>
			 <div class="error e_teacherYear"></div>
		 </div>
		  <!-- Date -->
		  <div class="list">
		 		<div class="f_name nameLong lhno"><i>* </i>referred Interview Date <br />&nbsp;&nbsp;(Eastern Standard Time)</div>
		 		<div class="info">
		 			<input type="text" readonly placeholder="mm /dd /yy" name="appDate" id="appDate" min="2016-11-9" />
		 		</div>
		 </div>
		 <div class="error e_date"></div>
		  <!-- Time -->
		  <div class="list">
		 		<div class="f_name nameLong lhno"><i>* </i>Preferred Interview Time <br />&nbsp;&nbsp;(Eastern Standard Time)</div>
		 		<div class="info">
		 			<select id="interview_times">
		 					<option>Select</option>
		 			</select>
		 		</div>
		 </div>
		 <div class="error e_time"></div>
		 <!-- submit button -->
		<div class="list last">
			<div class="subBtn">
				<a href="javascript:;" id="e_submit">Submit</a>
			</div>
		</div>
	</section>
	<section>
		<img src="/images/wap/north_teacher_new20170509/flb_01.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_02.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_03.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_04.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_05.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_06.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_07.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_08.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_09.jpg" />
		<img src="/images/wap/north_teacher_new20170509/flb_10.jpg" />
	</section>
	<footer>
			<a href="javascript:;">JOIN US</a>
	</footer>
<script id="seajsnode" src="/js/wap/project/north_teacher_new20170509/vendor.js"></script>
</body>
</html>