
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/wap/time_machine/time_machine.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div data-init="time_machine" id="container" class="unit-wrap">
      <section class="page-01 enter"><img src="/images/wap/time_machine/head.jpg" alt="" class="head"/>
        <input type="hidden" value="Annie 小朋友" class="hidden-name"/>
        <div class="child-name"> </div>
        <div style="display:none" class="photo-show01"></div>
        <div class="photo-show02"></div>
      </section>
    </div>
    <script src="/js/wap/project/time_machine/vendor.js" id="seajsnode"></script>
  </body>
</html>