<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/year_landing/year_landing.css">
</head>
<body>
<img src="/images/wap/year_landing/year_ic_img.jpg" width="0" height="0" style="float:left;">
<div class="year" id="up-year">
    <div class="section section1">
        <img src="/images/wap/year_landing/year_nav.jpg" alt="" class="yr-nav">
        <div class="form">
          <form method="POST" id="RegForm01" action="share">
            <ul class="yr-form">
              <li><input type="number" placeholder="请输入手机号" id="sha-tel01"></li>
              <li><input type="password" placeholder="设置您的密码" id="sha-psd01"></li>
              <li><a href="javascript:;" id="sha-reg01">免费领取外教礼包</a></li>
            </ul>
          </form>  
        </div>
        <div class="nav-img add-nav-img"><a href="javascript:;"><img src="/images/wap/year_landing/icon-down.png" alt="" class="sec-img01"></a></div>
    </div>
    <div class="section section2">
      <h3 class="h-tit"><img src="/images/wap/year_landing/year_tit01.png" alt="" class="yr-text"></h3>
      <img src="/images/wap/year_landing/year_img01.jpg" alt="" class="yr-img01">
    </div>
    <div class="section section3">
      <h3><img src="/images/wap/year_landing/year_tit02.png" alt="" class="yr-text"></h3>
      <img src="/images/wap/year_landing/year_img02.jpg" alt="" class="yr-img01">
    </div>
    <div class="section section4">
      <h3><img src="/images/wap/year_landing/year_tit03.png" alt="" class="yr-text"></h3>
      <img src="/images/wap/year_landing/year_img03.jpg" alt="" class="yr-img01">
    </div>
    <div class="section section5">
      <img src="/images/wap/year_landing/year_fr_img.jpg" alt="" class="fr-img">
      <div class="form add-form">
        <form id="RegForm02" action="share">
          <ul class="yr-form">
            <li><input type="number" placeholder="请输入手机号" id="sha-tel02"></li>
            <li><input type="password" placeholder="设置您的密码" id="sha-psd02"></li>
            <li><a href="javascript:;" id="sha-reg02">免费领取外教礼包</a></li>
          </ul>
        </form>
        <!-- <p>www.51talk.com</p> -->
        <p>购买任意套餐，可再免费获赠3节1对1外教课</p>
      </div>
    </div>
</div>
</body>
</html>
<script src="../../../js/wap/project/year_landing/jquery-1.8.3.min.js"></script>
<script src="../../../js/wap/project/year_landing/year.js"></script>