@charset "utf-8";
@import "../common/base.less";
@imgPath: "../../../images/wap/emailUsa4.0/";
body{
	font-family: "Microsoft YaHei";
	background:#eee;
}
img{
	display: block;
	border:0;
}
.email_3{
		min-width: 320px;
		max-width: 640px;
		margin:0 auto;
		background: #fff;
		.width100{
			 		width: 100%;
			 }
		.borderLine{
			margin:0 auto;
			width: 75%;
			height:1px;
			border-bottom:2px solid #ccc;
		}
		.e-top{
			 background:#febf0e;
			 color:#dd4411;
			 padding:0.6rem 0;
			 h2{
			 	text-align: center;
			 	margin:0;
			 	font-size:1.3rem;
			 }
		}
		.e-banner{
			position: relative;
			height:25rem;
				.main{
						padding:0 1.5rem;
						width: 100%;
						box-sizing: border-box;
						position: absolute;
						top:1.5rem;
						left:0;
						height:15rem;
								.e-btn{
									position: absolute;
									bottom:2rem;
									left:3rem;
										a{
											display: block;
											height:2.0rem;
											width: 11rem;
											line-height: 1.8rem;
											text-align: center;
											background:#e88224;
											color:#fff;
											border-radius: 0.6rem;
											box-shadow: 0.3rem 0.3rem  0.2rem #ce873f;
											font-size: 0.8rem;
											font-weight: 900;
										}
								}	 
				}

		}
		.e-make{
			padding:0 1.5rem;
			width: 100%;
			box-sizing: border-box;
			font-size:1.2rem;
			margin-top:-4rem;
			p{
					margin:2rem 0;
					line-height: 1.3rem;
					font-size: 0.9rem;
			}
		}
		.e-title{
			padding:0 1.5rem;
			width: 100%;
			box-sizing: border-box;
			h2{
				color:#408fcd;
				font-size: 1.0rem;
				font-weight:900;
				text-align: center;
				line-height: 3;
				margin:0;
			}
			p{
					font-size: 0.9rem;
					margin-top:1rem;
					line-height: 1.3rem;
			}
		}
		.e-list{
			padding:0 1.5rem;
			width: 100%;
			box-sizing: border-box;
			dl{
				width: 100%;
				height:6rem;
				border:0.2rem solid #ccc;
				border-radius: 0.7rem;
				margin:1rem 0 1.5rem;
				dt{
					height:6rem;
					width: 40%;
					float:left;
					img{
						 display: block;
						 height:100%;
					}
				}
				dd{
					float: left;
					p{
							font-size:0.8rem;
					}
				}
				.d1{
					line-height:6rem;
				}
				.d2{
					line-height: 1.5;
					padding-top:2rem;
					height:4rem;
				}
				.d3{
					line-height: 1.35;
					padding-top:0.2rem;
					height:5.7rem;
					width:50%;
					p{
						span{
							font-size:0.75rem;	
						}
					}
				}
			}
		}
		.e-bottom{
				margin-top:1.8rem;
				padding:0 1.5rem;
				width: 100%;
				box-sizing: border-box;
				overflow: hidden;
				.e-left,.e-right{
					float:left;
					width:48%;
				}
				.e-left{
					border-right:0.15rem solid #eee;
					padding-right:0.5rem;
					h3{
						font-size:0.8rem;
						margin:0;
						color:#408fcd;
						font-weight:900;
						text-align: center;
						margin-bottom:1rem;
					}
					p{
							line-height: 1.3;
							text-align:justify;
							font-size: 0.8rem;
					}
					.list{
						width: 100%;
						margin-top:1rem;
						dl{
							width: 100%;
							margin:1rem 0;
							overflow:hidden;
								dt{
									float:left;
									width: 45%;
									img{
										width: 4.15rem;
									}
								}
								dd{
									float:left;
									width: 50%;
									font-size: 0.65rem;
									// padding-top:0.2rem;
									// text-align: justify;					
							}
							.d2{
								padding-top:0.5rem;
							}
							.d3{
								padding-top:0.8rem;
							}
							.d4{
								padding-top:1.1rem;
							}
						}
				}
	 }
	  .e-right{
	  	 padding-left:0.5rem;
	 		 h3{
					font-size:0.8rem;
					margin:0;
					color:#408fcd;
					font-weight:900;
					text-align: center;
					margin-bottom:1rem;
				}
				p{
						line-height: 1.3;
						text-align:justify;
						font-size: 0.8rem;
						span{
							color:#dd4411;
						}
				}
				.list{
						width: 100%;
						margin-top:1rem;
						dl{
							width: 100%;
							margin:1rem 0;
							overflow:hidden;
								dt{
									float:left;
									width: 45%;
									img{
										width: 4.85rem;
									}
								}
								.dt3{
									margin-top:0.2rem;
								}
								dd{
									float:left;
									width: 50%;
									font-size: 0.65rem;		
							}
							.d1{
								padding-top:1.2rem;
							}
							.d2{
								padding-top:0.9rem;
							}
							.d3{
								padding-top:0.4rem;
							}
						}
				}
				.e-goal{
					text-align: center;
					font-size: 0.8rem;
					font-weight: 900;
					margin:2.5rem 0 1rem;
				}
				.e-btn{
					width: 100%;
					text-align: center;
					a{
						display: inline-block;
						height:2.0rem;
						width: 11rem;
						line-height: 1.8rem;
						text-align: center;
						background:#e88224;
						color:#fff;
						border-radius: 0.6rem;
						box-shadow: 0.3rem 0.3rem  0.2rem #ce873f;
						font-size: 0.8rem;
						font-weight: 900;
					}
				}
				.e-last{
					width: 100%;
					margin-top:1.8rem;
					dl{
						width: 100%;
						dt{
							width:20%;
							float: left;
							img{
								width:75%;
								margin-top:0.2rem;
							}
						}
						dd{
							width: 80%;
							float: left;
							font-size: 0.65rem;
						}
					}
				}
		 }  
	}
	.e-footer{
		height:2.25rem;
		background: #ffc825;
		margin-top:0.6rem;
	}
	@media screen and (min-width:700px){
			.e-banner{
				height:20rem;
			}
	}
}
