<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>1v3_pay_course.css">
</head>
<body data-init="" class="pay_course_1v1">
    <div class="course-top"><img src="<%= imagessrc%>1v1-pay-course-02.png"></div>
    <div class="course-tit"><span>购买课程服务</span></div>
    <ul class="course-items">
        <li>
            <div class="course-item-top course-item-bg1">
                <div class="item-top-tit">外教VIP精品课</div>
                <div class="item-top-introduce">拓展学校课堂知识  1对20外教小班授课</div>
            </div>
            <div class="course-item-bottom cfix">
                <a href="#"></a>
                <div class="course-item-bottom-l fl"><span class="font0">¥298</span><span class="font1">/年</span><span class="font2">原价 ¥500</span></div>
                <div class="course-item-bottom-r fr"><span class="font3">共32节 1节/周</span></div>
            </div>
            <div class="course-item-top course-item-bg1">
                <div class="item-top-tit">外教VIP精品课</div>
                <div class="item-top-introduce">拓展学校课堂知识  1对20外教小班授课</div>
                <div class="item-top-prompt cfix">
                    <span class="fl icon1">仅剩8次课程就没课了！</span>
                    <span class="fr">共32节课   1节/周</span>
                </div>
            </div>
            <div class="course-item-bottom cfix">
                <a href="#"></a>
                <div class="course-item-bottom-l fl"><span class="font0">¥298</span><span class="font1">/年</span><span class="font2">原价 ¥500</span></div>
                <div class="course-item-bottom-r fr"><span class="font6">立即续报</span></div>
            </div>
            <div class="course-item-top course-item-bg1 icon-bg-01">
                <div class="item-top-tit">外教VIP精品课</div>
                <div class="item-top-prompt2">剩余30节课 每周二19：30上课</div>
            </div>
            <div class="course-item-bottom2 icon-color1"><a href="#"></a>查看特权</div>
        </li>
        <li>
            <div class="course-item-top course-item-bg2">
                <div class="item-top-tit">1对1外教全程托管班</div>
                <div class="item-top-introduce">外教1对1练口语  中教班课提成绩</div>
            </div>
            <div class="course-item-bottom cfix">
                <a href="#"></a>
                <div class="course-item-bottom-l2 fl"><span class="font4">¥148</span><span class="font2">原价 ¥398</span><br><span class="font1-2">VIP新生特惠包</span></div>
                <div class="course-item-bottom-r fr"><span class="font3">4节/周</span></div>
            </div>
            <div class="course-item-top course-item-bg2">
                <div class="item-top-tit">1对1外教全程托管班</div>
                <div class="item-top-introduce">外教1对1练口语  中教班课提成绩</div>
                <div class="item-top-prompt cfix">
                    <span class="fl font1 icon2">仅剩3次课就用完了！</span>
                    <span class="fr font1"></span>
                </div>
            </div>
            <div class="course-item-bottom cfix">
                <a href="#"></a>
                <div class="course-item-bottom-l2 fl"><span class="font4">¥598</span><span class="font1-1">/月</span><span class="font2">原价 ¥898/月</span><br><span class="font5">¥498/月 VIP立减100元</span></div>
                <div class="course-item-bottom-r fr"><span class="font7">立即续报</span></div>
            </div>
            <div class="course-item-top course-item-bg2  icon-bg-02">
                <div class="item-top-tit">1对1外教全程托管班</div>
                <div class="item-top-prompt4">1对1外教课剩余<span>8课次</span>&nbsp;&nbsp;&nbsp;有效期至 <span>2017年2月3日</span></div>
                <div class="item-top-prompt4">1对10中教课剩余<span>2课次</span>&nbsp;请尽快选班</div>
            </div>
            <div class="course-item-bottom2 icon-color2"><a href="#"></a>预约课程</div>
        </li>
    </ul>
    <div class="course-bottom">
        <div class="course-bottom-in"><img src="<%= imagessrc%>1v1-pay-course-03.png"></div>
    </div>


<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>