<% include ../common/top.ejs %>
<body>
	<!-- 学生 -->
	<div class="account-center-box account-center-stu">
		<div class="account-head">
			<a href="account_detail.html"></a>
			<dl class="cfix">
				<dt>
					<img width="70" height="70" src="<%= imagessrc%>account-headicon-stu.png" class="account-head-img fl" />
					<div class="account-head-info fl">
						<h6 class="cfix">
							<p class="fl">赵雷</p>
							<span class="fl">
								<img src="<%= imagessrc%>account-vip.png" /><i>已付费</i>
							</span>
						</h6>
						<p>三年二班</p>
					</div>
				</dt>
				<dd><span class="fr"></span></dd>
			</dl>
		</div>
		<div class="account-banner">
			<a href="javascript:void(0);"><img src="<%= imagessrc%>banner-01.png" /></a>
		</div>
		<ul class="account-info">
			<li>
				<ul>
					<li class="icon-openClass">
						<a href=""></a>
						<dl class="cfix">
							<dt>校园公开课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li class="icon-accidence-foreign-speaking">
						<a href=""></a>
						<dl class="cfix">
							<dt>入门外教课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li class="icon-boutique-foreign-speaking">
						<a href=""></a>
						<dl class="cfix">
							<dt>精品外教课</dt>
							<dd><span class="color000">剩余</span>20<span class="color000">次</span></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="icon-parentsMeeting">
						<a href=""></a>
						<dl class="cfix">
							<dt>家长会</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
				</ul>
			</li>
			<!-- <li>
				<ul>
					<li>
						<a href="how_class.html"></a>
						<dl class="cfix">
							<dt>如何上课</dt>
							<dd></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<a href="student_summer_class_publicity2.html"></a>
						<dl class="cfix">
							<dt>外教优质暑期班</dt>
							<dd class="account-hot">25块钱对话全世界</dd>
						</dl>
					</li>
				</ul>
			</li> -->
			<li>
				<ul>
					<li class="icon-purchase">
						<a href=""></a>
						<dl class="cfix">
							<dt>购买</dt>
							<dd><span class="buy-vip-bg">尊享特权</span></dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="icon-course">
						<a href=""></a>
						<dl class="cfix">
							<dt>小学学科课程</dt>
							<dd>约课</dd>
						</dl>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- 老师 -->
	<div class="account-center-box account-center-tea">
		<div class="account-head">
			<a href="account_detail.html"></a>
			<dl class="cfix">
				<dt>
					<img width="70" height="70" src="<%= imagessrc%>account-headicon-tea.png" class="account-head-img fl" />
					<div class="account-head-info fl">
						<h6 class="cfix">
							<p class="fl">赵小华</p>
						</h6>
						<p>北京109中学小学实验部</p>
					</div>
				</dt>
				<dd><span class="fr"></span></dd>
			</dl>
		</div>

		<ul class="account-info">
			<li>
				<ul>
					<li class="icon-integral">
						<a href="teacher_myclass.html"></a>
						<dl class="cfix">
							<dt>积分</dt>
							<dd>122积分</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="icon-classManagement">
						<a href="teacher_myclass.html"></a>
						<dl class="cfix">
							<dt>班级管理</dt>
							<dd>10</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="icon-openClass">
						<a href=""></a>
						<dl class="cfix">
							<dt>校园公开课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li class="icon-tutorial">
						<a href=""></a>
						<dl class="cfix">
							<dt>精品辅导课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="icon-activate">
						<a href=""></a>
						<dl class="cfix">
							<dt>邀请学生激活</dt>
							<dd>邀请码：123456</dd>
						</dl>
					</li>
					<!-- <li>
						<a href="how_class.html"></a>
						<dl class="cfix">
							<dt>如何上课</dt>
							<dd></dd>
						</dl>
					</li> -->
				</ul>
			</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>