<% include ../common/top.ejs %>
<body>
	<div class="active-stu-box">
		<div class="active-stu-head">
			<h6>六年级二班</h6>
			<p>已激活学生</p>
		</div>
		<ul class="active-stu-info">
			<li>王五一（13919192020）<em>vip</em></li>
			<li>周周（13919192020）</li>
			<li>王五二（13919192020）</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>