<% include ../common/top.ejs %>
<body data-init="addStudent">
	<div class="add-s-box">
		<form action="http://www.baidu.com" rel="addTeacher">
			<div id="mainBox" class="add-s-enter">
				<div class="enter-name">输入老师手机号码：</div>
				<div class="textarea-box" id="textareaBox"><textarea></textarea></div>
				<p class="error-tips"></p>
				<div class="add-s-info">
					<div class="add-s-title">注意事项</div>
					<p>1、输入手机号码，不要输入姓名</p>
					<p>2、输入多个号码时，每个号码占一行，用回车键（Enter）换行</p>
				</div>
			</div>
			<div id="bottomBox" class="bottomBox">
				<input type="hidden" name="textarea" />
				<input type="submit" id="sureId" class="add-s-btn1" value="确定"/>
			</div>
		</form>
	</div>
	
</body>
<% include ../common/bottom.ejs %>