<% include ../common/top.ejs %>
<body>
	<!-- 代理商 -->
	<div class="account-center-box account-center-agent">
		<div class="account-head">
			<a href="agent_detail.html"></a>
			<dl class="cfix">
				<dt>
					<img width="70" height="70" src="<%= imagessrc%>account-headicon-agent.png" class="account-head-img fl" />
					<div class="account-head-info fl">
						<h6>
							王大雷
						</h6>
					</div>
				</dt>
				<dd><span class="fr"></span></dd>
			</dl>
		</div>
		<ul class="account-info">
			<li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>我的学校</dt>
							<dd>10所</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<a href="how_class.html"></a>
						<dl class="cfix">
							<dt>查看课表</dt>
							<dd>今日3节</dd>
						</dl>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li>
						<a href="how_class.html"></a>
						<dl class="cfix">
							<dt>查看课表</dt>
							<dd>今日3节</dd>
						</dl>
					</li>
				</ul>
			</li>
		</ul>
	</div>


</body>
<% include ../common/bottom.ejs %>