<% include ../common/top.ejs %>
<body data-init="resetPassword">
	<!-- 代理商 个人信息详情 -->
	<div class="account-detail-box account-detail-agent">
		<ul class="detail-head">
			<li class="detail-head-img">
				<img width="70" height="70" src="<%= imagessrc%>account-headicon-agent.png" />
			</li>
			<li class="detail-head-name">
				<em>王大雷</em>
			</li>
		</ul>

		<ul class="detail-info">
			<li><span>我的学校：11所</span></li>
			<li><span>我的老师：48人</span></li>
			<li><span>我的班级：48个</span></li>
			<li><span>激活学生数：1289人</span></li>
			<li><span>vip学生数：1200人</span></li>
		</ul>

		<ul class="detail-changePwd">
			<li><a href="agent_editpassword.html"></a><span>修改密码</span></li>
		</ul>
	</div>



	<!-- 更换账户 -->
	<div class="bottom-btn-wrap">
		<div class="bottom-btn-in">
			<a href="" class="bottom-btn">更换账户</a>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>