<% include ../common/top.ejs %>
<body  data-init="agentTimetable">
	<div class="agentTimetable">
		<div class="agentTimetable-title">
			<a class="day-before" href="javascript:void(0);">前一天</a>
			<div class="day-now">
				<label for="timeNow">当日课<span>2016-06-01</span></label>
				<input id="timeNow" type="date" value="2016-06-01"/>
			</div>
			<a class="day-after" href="javascript:void(0);">后一天</a>
		</div>
		<div class="agentTimetable-content">
			<ul>
				<li>
					<dl>
						<dt><span>19:00-19:30</span></dt>
						<dd>
							<dl>
								<dt class="agentTimetable-color-1">入门课</dt>
								<dd>
									<dl>
										<dt>无忧英语小学</dt>
										<dd><span>一年级：</span>1班，2班，3班，4班。</dd>
										<dd><span>四年级：</span>1班，2班，3班，6班。</dd>
									</dl>
									<ul>
										<li>Lucy老师  安徽街光谷一小两班家长会</li>
										<li><span class="color-01">激活数：</span><span>55</span>人　VIP：<span>42</span>人</li>
										<li><span class="color-01">外教：</span>AC在线　进入教室</li>
									</ul>
								</dd>
							</dl>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><span>19:30-20:00</span></dt>
						<dd>
							<dl>
								<dt class="agentTimetable-color-2">精品课</dt>
								<dd>
									<dl>
										<dt>无忧英语小学</dt>
										<dd><span>一年级：</span>1班，2班，3班，4班。</dd>
										<dd><span>四年级：</span>1班，2班，3班，6班。</dd>
									</dl>
									<ul>
										<li>Lucy老师  安徽街光谷一小两班家长会</li>
										<li><span class="color-01">激活数：</span><span>55</span>人　VIP：<span>42</span>人</li>
										<li><span class="color-01">外教：</span><span class="color-02">AC离线</span>　<span class="color-02">未进教室</span></li>
									</ul>
								</dd>
							</dl>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><span>20:00-20:30</span></dt>
						<dd>
							<dl>
								<dt class="agentTimetable-color-3">家长会</dt>
								<dd>
									<dl>
										<dt>无忧英语小学</dt>
										<dd><span>一年级：</span>1班，2班，3班，4班。</dd>
										<dd><span>四年级：</span>1班，2班，3班，6班。</dd>
									</dl>
									<dl>
										<dt>北京101中学</dt>
										<dd><span>一年级：</span>1班，2班，3班，4班。</dd>
										<dd><span>四年级：</span>1班，2班，3班，6班。</dd>
									</dl>
									<ul>
										<li>Lucy老师  安徽街光谷一小两班家长会</li>
										<li><span class="color-01">激活数：</span><span>55</span>人　VIP：<span>42</span>人</li>
									</ul>
								</dd>
							</dl>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="agentTimetable-noClass">
			<img src="<%= imagessrc%>no-class.png" />
			<p>当天无课...</p>
		</div>
	</div>


</body>
<% include ../common/bottom.ejs %>