<% include ../common/top.ejs %>
<body data-init = "delet_confirm">
	<!-- 学生 -->
	<div class="account-center-box tea-myclass-box">
		<div class="account-head">
			<h6><span  class="delet_btn"></span>六年级二班</h6>
			<p>学生总数：43</p>
		</div>

		<ul class="account-info">
			<li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>已激活学生</dt>
							<dd>20人</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>未激活学生</dt>
							<dd>20人</dd>
						</dl>
					</li>
				</ul>
			</li>

			<li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>入门外教课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>精品外教课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
				</ul>
			</li>

			<li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>家长会</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</body>
<% include ../common/bottom.ejs %>