<% include ../common/top.ejs %>
<body class="app-wrap app-bg1" data-init="appForm">
	<div class="app-container">
		<p class="app-reg-tips2">选择学校所在城市</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul">
				<li class="app-location app-notouch">
					<p class="fl">北京 房山区</p>
					<a href="" class="fr">更换地区</a>
				</li>
			</ul>
		</div>

		<p class="app-reg-tips2">选择学校</p>
		<div class="app-reg-c app-reg-d">
			<form action="" rel="form">
				<dl class="app-s-search">
					<dt>
						<input type="text" class="app-input-t" placeholder="请输入学校关键字" rel="school" />
					</dt>
					<dd>
						<input type="submit" value="搜索" class="app-s-submit" />
					</dd>
				</dl>
			</form>
			<ul class="app-sel-ul app-s-list app-scroll mxh255 brb8">
				<li>
					<a href="">3年级1班</a>
				</li>
				<li>
					<a href="">3年级2班</a>
				</li>
				<li>
					<a href="">3年级3班</a>
				</li>
				<li>
					<a href="">3年级4班</a>
				</li>
				<li>
					<a href="">3年级4班</a>
				</li>
				<li>
					<a href="">3年级4班</a>
				</li>
				<li>
					<a href="">3年级4班</a>
				</li>
			</ul>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>