<% include ../common/top.ejs %>
<body class="app-wrap app-bg1">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="buyvipSuccess-wrap app-bg1">
  <div class="buyvipSuccess-con">
    <div class="buyvipSuccess-con-pic">
      <img src="<%= imagessrc%>app-buyvip-icon-04.png" />
    </div>
    <div class="buyvipSuccess-con-text">购买成功！</div>
    <div class="buyvipSuccess-con-text2">请关注微信服务号“无忧英语小学”<br>选择小学学科课程班级</div>
  </div>
</div>
</body>
<% include ../common/bottom.ejs %>