<% include ../common/top.ejs %>
<body class="bg-bear" data-init="app_optimizationSuggestions">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="consult-wrap">
<form action="" method="get">
	<div class="consult-input">
		<textarea class="js_textarea" data-maxlength="200" name="XXX" placeholder="我们盼着您多给我们些建议..."></textarea>
		<span class="textareaRemaining js_textareaRemaining">0/200</span>
	</div>
	<div class="consult-btn">
		<input type="submit" name="" value="提交我的建议">
	</div>
</form>
</div>

<!-- <div class="serviceRecord-dialog disnone" id="js_dialog">
	<div class="serviceRecord-dialog-con border1">
		<div class="serviceRecord-dialog-close js_dialog_close"></div>
		<div class="serviceRecord-dialog-part js_dialog1">
			<div class="part-text js_prompt">问题解决了吗？</div>
			<div class="part-img"><img src="<%= imagessrc%>app-serviceRecord-04.png" /></div>
		</div>
	</div>
</div> -->
</body>
<% include ../common/bottom.ejs %>