<% include ../common/top.ejs %>
<body class="app-wrap app-bg1" data-init="appForm">
	<p class="app-reg2-t">请选择学校所在地区</p>
	<div class="app-container">
		<p class="app-reg-tips2">选择学校所在城市</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul">
				<li class="app-location app-notouch app-location-fn">
					<span class="fl">定位中...</span>
					<!-- <a href="" class="fr">选择城市</a> -->
				</li>
			</ul>
		</div>

		<p class="app-reg-tips2">全部地区</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul app-s-list app-scroll mxh306 br8 nbt">
				<li>
					<a href="">广东省</a>
				</li>
				<li>
					<a href="">上海</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
			</ul>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>