<% include ../common/top.ejs %>
<body data-init="app_buyvip_success2">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div id="success_href" data-href="http://s.51talk.com/" data-text="购买成功!!!"></div>
</body>
<% include ../common/bottom.ejs %>