<% include ../common/top.ejs %>
<body class="app-wrap app-bg1">
	<div class="app-container app-regs4">
		<img src="<%= imagessrc%>app-regs-4.png" />
		<h6>申请成功</h6>
		<p>请保持您的手机畅通<br />申请通过后我们会通过短息通知您</p>
	</div>
</body>
<% include ../common/bottom.ejs %>