<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_regs_tea.css">
</head>
<body class="app-wrap app-bg1" data-init="appRegsTea">

	<div class="app-sel-lists">
		<p class="app-reg-tips2">选择年级</p>
		<ul class="app-sel-ul">
			<li>
				<a href="">一年级</a>
			</li>
			<li>
				<a href="">二年级</a>
			</li>
			<li>
				<a href="">三年级</a>
			</li>
			<li>
				<a href="">四年级</a>
			</li>
			<li>
				<a href="">五年级</a>
			</li>
			<li>
				<a href="">六年级</a>
			</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>