<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_regs_tea.css">
</head>
<body class="app-wrap app-bg1" data-init="appRegsTea">
	<div class="fix_3">
		<p class="app-reg-tips2">选择学校所在城市</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul">
				<li class="app-location app-notouch">
					<p class="fl">北京</p>
					<a href="" class="fr">更换地区</a>
				</li>
			</ul>
		</div>
		<p class="app-reg-tips2">选择省</p>
		<!-- 模糊搜索searFlag  区 : 1 学校：2  教材：3 -->
		<P class="search_box"><input placeholder="请选择" ajax-url=""  searFlag="1" herfUrl=""></P>
	</div>
	<div class="app-container">
		
		<div class="nul"></div>
		<div class="app-reg-c app-reg-d app-reg-r">
			<ul class="app-sel-ul brb8">
				<li>
					<a href="">广东省</a>
				</li>
				<li>
					<a href="">上海</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
			</ul>
			<div class="sear_none">未搜索到内容<br/>如需帮助，请联系客服微信xiao5-001</div>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>