<% include ../common/top.ejs %>
<body class="app-wrap app-bg1" data-init="appForm">
	<div class="app-sel-lists">
		<ul class="app-sel-ul">
			<li>
				<a href="">北京</a>
			</li>
			<li>
				<a href="">安徽</a>
			</li>
			<li>
				<a href="">澳门</a>
			</li>
			<li>
				<a href="">重庆</a>
			</li>
			<li>
				<a href="">北京</a>
			</li>
			<li>
				<a href="">安徽</a>
			</li>
			<li>
				<a href="">澳门</a>
			</li>
			<li>
				<a href="">重庆</a>
			</li>
			<li>
				<a href="">北京</a>
			</li>
			<li>
				<a href="">安徽</a>
			</li>
			<li>
				<a href="">澳门</a>
			</li>
			<li>
				<a href="">重庆</a>
			</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>