<% include ../common/top.ejs %>
<body>
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="serviceCenter-wrap">
	<ul class="serviceCenter-tit">
		<li><a href="#"></a><img src="<%= imagessrc%>app-serviceCenter-01.png" /></li>
		<li><a href="#"></a><img src="<%= imagessrc%>app-serviceCenter-02.png" /></li>
	</ul>
	<dl class="serviceCenter-items">
		<dt>热点问题</dt>
		<dd><a href="#"></a>上课听不到老师声音怎么办？</dd>
		<dd><a href="#"></a>录音打分失败怎么办？上课发言老师听不到...</dd>
		<dd><a href="#"></a>怎样修改中文名和英文名？</dd>
		<dd><a href="#"></a>怎样修改头像？</dd>
		<dd><a href="#"></a>上课时间显示不正确怎么办？</dd>
		<dd><a href="#"></a>网络连接失败怎么办？无法访问网络怎么办？</dd>
	</dl>
</div>

</body>
<% include ../common/bottom.ejs %>