<% include ../common/top.ejs %>
<body class="bg-bear" data-init="app_consult">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="consult-wrap2">
	<ul class="consult-items">
		<li><a href="#"></a>关于上课质量</li>
		<li><a href="#"></a>关于我的账户</li>
		<li><a href="#"></a>关于我的课程</li>
		<li><a href="#"></a>关于手机客户端</li>
		<li><a href="#"></a>支付与申请售后</li>
		<li><a href="#"></a>其他</li>
	</ul>
</div>
</body>
<% include ../common/bottom.ejs %>