<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_regs_tea.css">
</head>
<body class="app-wrap app-bg1 city_1" data-init="appRegsTea">
	<div class="fix_null"></div>
	<div class="fix_1">
		<p class="app-reg-tips2">选择学校所在省</p>
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul">
				<li class="app-location app-notouch app-location-fn">
					<span class="fl">定位中...</span>
					<!-- <a href="" class="fr">选择城市</a> -->
				</li>
			</ul>
		</div>
		<p class="app-reg-tips2">全部地区</p>
	</div>
	<p class="app-reg2-t fix_2">请选择学校所在省</p>
	<div class="app-container">
		<div class="app-reg-c app-reg-d">
			<ul class="app-sel-ul app-s-list brb8">
				<li>
					<a href="">广东省</a>
				</li>
				<li>
					<a href="">上海</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">广东省</a>
				</li>
				<li>
					<a href="">上海</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
				<li>
					<a href="">吉林省</a>
				</li>
				<li>
					<a href="">哈尔滨</a>
				</li>
			</ul>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>