<% include ../common/top.ejs %>
<body>
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="assignment-prompt-wrap">
	<div class="assignment-prompt-pic">
		<img src="<%= imagessrc%>app-assignment-5.png" />
	</div>
	<div class="assignment-prompt-text">只能查看自己的作业呦!</div>
	<div class="assignment-prompt-btn">
		<a href="javascript:void(0);">先看看自己的作业吧</a>
	</div>
	<div class="assignment-prompt-bottom">
		13489031345 <a href="#">点击退出</a>
	</div>
</div>
</body>
<% include ../common/bottom.ejs %>