<% include ../common/top.ejs %>
<body class="app-wrap app-bg2">
	<img src="<%= imagessrc%>app-reg1b.png" />
	<div class="app-container app-reg1b">
		<p>您输入的姓名不存在</p>
		<div>请联系您的班主任或英语老师，添加您的姓名<br/>或，<a href="">提交您的学校信息申请注册</a></div>
	</div>
</body>
<% include ../common/bottom.ejs %>