<% include ../common/top.ejs %>
<body class="bg-bear" data-init="app_consult">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="consult-wrap2">
	<ul class="consult-items">
		<li><a href="#"></a>关于网络和上课软件</li>
		<li><a href="#"></a>关于老师</li>
		<li><a href="#"></a>关于教材</li>
		<li><a href="#"></a>关于上麦发言</li>
		<li><a href="#"></a>关于文字聊天</li>
		<li><a href="#"></a>关于课中课</li>
		<li><a href="#"></a>其他</li>
	</ul>
</div>
</body>
<% include ../common/bottom.ejs %>