<% include ../common/top.ejs %>
<body>
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="assignment-prompt-wrap">
	<div class="assignment-prompt-pic">
		<img src="<%= imagessrc%>app-assignment-6.png" />
	</div>
	<div class="assignment-prompt-text">
		完成微信作业分享至51Talk班级服务群，<br>跟同学互动，外教为大家点评
	</div>
	<div class="assignment-prompt-btn">
		<a href="javascript:void(0);">成为VIP，做微信作业</a>
	</div>
	<div class="assignment-prompt-bottom">
		13489031345 <a href="#">点击退出</a>
	</div>
</div>
</body>
<% include ../common/bottom.ejs %>