<% include ../common/top.ejs %>
<body class="app-wrap app-bg1" data-init="appForm">
	<p class="app-reg2-t">北京109小学-赵雷</p>
	<div class="app-container">
		<div class="app-reg-c">
			<h6>请选择你所在的班级</h6>
			<ul class="app-sel-ul">
				<li>
					<a href="">3年级1班</a>
				</li>
				<li>
					<a href="">3年级2班</a>
				</li>
				<li>
					<a href="">3年级3班</a>
				</li>
				<li>
					<a href="">3年级4班</a>
				</li>
			</ul>
		</div>
		<p class="app-reg-tips">注意：一定要选择自己的班级，选错后无法更换哦！</p>
	</div>
</body>
<% include ../common/bottom.ejs %>