<% include ../common/top.ejs %>
<body class="app-wrap app-bg1" data-init="appForm">
	<div class="app-container">
		<p class="app-reg1-t"><span>张老师</span>邀请你和他一起上真人外教课!</p>
		<form action="" rel="form">
			<ul class="app-input">
				<li>
					<dl>
						<dt>姓名</dt>
						<dd>
							<input type="text" placeholder="请输入中文姓名" class="app-input-t" rel="cnname" />
						</dd>
					</dl>
				</li>
			</ul>
			<div class="app-input-s-w">
				<input type="submit" class="app-input-s" value="下一步" />
			</div>
			<p class="app-reg-tips">注意：请输入真实姓名，输入错误无法进入班级一起上课喔～</p>
		</form>
	</div>
</body>
<% include ../common/bottom.ejs %>