<% include ../common/top.ejs %>
<body data-init="app_assignment_login">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="assignment-wrap">
	<div class="assignment-wrap-top"></div>
	<div class="assignment-bg"></div>
	<div class="assignment-con assignment-con-login">
		<dl class="assignment-tit textAlignCenter">
			<dt>登录账号，查看微信作业</dt>
			<dd>Login account, view WeChat operations</dd>
		</dl>
		<form action="#" autocomplete="off" rel="login">
		<div class="assignment-item5">
			
			<dl>
				<dt>用户名<br>User name</dt>
				<dd><input type="text" name="" rel="userName"></dd>
			</dl>
			<p class="error-tips"></p>
			<dl>
				<dt>密码<br>Password</dt>
				<dd><input type="password" name="" rel="password"></dd>
			</dl>
			<p class="error-tips"></p>
		</div>
		<div class="assignment-loginBtn">
			<input type="submit" name="" value="登录 Sign in">
			<p><a href="#">没有账号，马上注册 ></a></p>
		</div>
		</form>
	</div>
	<!-- <div class="assignment-bottom">
		13489031345 <a href="#">点击退出</a>
	</div> -->
	<div class="assignment-wrap-bottom"></div>
</div>
</body>
<% include ../common/bottom.ejs %>