<% include ../common/top.ejs %>
<body>
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="assignment-prompt-wrap">
	<div class="assignment-prompt-pic">
		<img src="<%= imagessrc%>app-assignment-5.png" />
	</div>
	<div class="assignment-prompt-text">您还没有完成微信作业，赶紧<br>打开无忧课堂APP，完成微信作业吧！</div>
	<div class="assignment-prompt-bottom">
		13489031345 <a href="#">点击退出</a>
	</div>
</div>
</body>
<% include ../common/bottom.ejs %>