<% include ../common/top.ejs %>
<body class="bg-bear" data-init="app_consult">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="consult-wrap">
<form action="" method="get" class="js_form">
	<div class="consult-select"><a href="#"></a>选择分类</div>
	<!-- <div class="consult-select"><span>请选择上课时间上课时间</span><input type="datetime-local" class="datetime" id="datetime" value=""  name="A"  min="2017-03-23" max="2017-09-23"><input type="hidden" name="B" class="js_hidden"></div> -->
	<div class="consult-select js_selectWrap">
		<span>请选择上课时间</span>
		<select name="AA" class="js_select" data-initdata='{"status":3,"start_time":1492358400,"end_time":1492617599,"time_list":["2017-04-17 20:00:00","2017-04-18 19:00:00","2017-04-19 20:00:00","2017-04-19 20:30:00","2017-04-19 21:30:00","2017-04-20 19:30:00","2017-04-20 20:30:00","2017-04-20 21:00:00","2017-04-21 22:00:00","2017-04-21 22:30:00","2017-04-21 23:00:00"]}'>
			<option value="">2017-04-18 19:00:00</option>
			<option value="">2017-04-19 19:00:00</option>
			<option value="">2017-04-20 19:00:00</option>
			<option value="">2017-04-21 19:00:00</option>
			<option value="">2017-04-22 19:00:00</option>
		</select>
	</div>
	<P class="now_time">当前上课时间：每周三19:00 每月只能修改一次</P>
	<!-- <div class="consult-pic cfix">
		<div class="consult-picList fl"></div>
		<div class="consult-picAdd fl">添加截图</div>
		<input type="file" name="" capture="camera" accept="image/*" id="js_file" multiple="multiple">
	</div> -->
	<div class="consult-input">
		<textarea class="js_textarea" data-maxlength="200" name="C" placeholder="您可以在这里写下详情描述"></textarea>
		<span class="textareaRemaining js_textareaRemaining">0/200</span>
	</div>
	<div class="consult-btn">
		<input class="js_submit" type="submit" name="" value="确定">
	</div>
</form>
</div>
<div class="consult-dialog-wrap disnone js_consult_dialog_wrap">
	<div class="consult-dialog">
	    <div class="consult-dialog-close js_dialog_close"></div>
	    <div class="consult-dialog-part">
	        <div class="part-text">我们的课程顾问会在稍后电话联系您，请保持电话畅通，注意接听来自51Talk的电话。</div>
	        <div class="part-img"><img src="<%= imagessrc%>app-serviceRecord-04.png" /></div>
	    </div>
	    <div class="consult-dialog-btn">
	        <span class="js_dialog_href">我知道了</span>
	    </div>
	</div>
</div>
<!-- <div class="serviceRecord-dialog disnone" id="js_dialog">
	<div class="serviceRecord-dialog-con border1">
		<div class="serviceRecord-dialog-close js_dialog_close"></div>
		<div class="serviceRecord-dialog-part js_dialog1">
			<div class="part-text js_prompt">问题解决了吗？</div>
			<div class="part-img"><   img src="<%= imagessrc%>app-serviceRecord-04.png" /></div>
		</div>
	</div>
</div> -->

</body>
<% include ../common/bottom.ejs %>