<% include ../common/top.ejs %>
<body class="app-wrap app-bg3">
	<img src="<%= imagessrc%>app-reg5.png" />
	<div class="app-container app-reg5">
		<p>恭喜你注册成功！</p>
		<p>赶快下载APP和同学们一起上课吧</p>
		<div class="app-input-s-w">
			<a href="" class="app-input-s">立即下载</a>
		</div>
		<span>请使用51Talk的密码登录</span>
	</div>
</body>
<% include ../common/bottom.ejs %>