<% include ../common/top.ejs %>
<body>
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="assignment-wrap">

	<div class="assignment-wrap-top"></div>
	<div class="assignment-bg"></div>
	<div class="assignment-con">
		<dl class="assignment-tit">
			<dt>选择单词，组成通顺的句子</dt>
			<dd>Select words, from a coherent sentence</dd>
		</dl>
		<div class="assignment-item2">
			<ul class="assignment-item2-options cfix">
				<li>fine</li>
				<li>rainy</li>
				<li>wind</li>
				<li>mountain</li>
				<li>Great Wall</li>
				<li>Eiffel Tower</li>
			</ul>
			<ul class="assignment-item2-answer">
				<li>today the weather is very good. <span class="no"></span></li>
				<li>the weather is very good today. <span class="yes"></span></li>
			</ul>
		</div>
		<div class="assignment-result">
			<div class="assignment-result1">
				<img src="<%= imagessrc%>app-assignment-2.png" />
			</div>
			<div class="assignment-result2">
				<img src="<%= imagessrc%>app-assignment-3.png" />
			</div>
		</div>
	</div>
	<div class="assignment-bottom">
		13489031345 <a href="#">点击退出</a>
	</div>
	<div class="assignment-wrap-bottom"></div>
</div>
</body>
<% include ../common/bottom.ejs %>