<% include ../common/top.ejs %>
<body data-init="app_problemDetails">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<div class="problemDetails-wrap">
	<div class="problemDetails-tit">上课听不到老师声音怎么办？</div>
	<div class="problemDetails-con">上课时间显示不正确可能是因为手机的时区设置错误造成的。如果您在中国，iPhone或iPad请将时区选择为“北京”，Android手机请将时区选择为“GMT+08:00 中国标准时间”，您也可以选择自动设置时区。<img src="<%= imagessrc%>app-problemDetails-01.png" /></div>
	<div class="problemDetails-btn">
		<ul id="js_solve">
			<li class="resolved"><span>已解决</span></li>
			<li class="unsolved"><span>未解决</span></li>
		</ul>
	</div>
	
</div>

</body>
<% include ../common/bottom.ejs %>