<% include ../common/top.ejs %>
<body data-init="teacherClassInfo">
	<div class="t-main-box t-main-box2">
		<div id="mainBox">
			<div class="box-tit">
				<h6>赵老师</h6>
			</div>
			<div class="box-tit-s"></div>
			<div class="student-list">
				<ul class="student-list-ul">
					<li>三年一班</li>
					<li>三年一班</li>
					<li>三年一班</li>
				</ul>
			</div>
		</div>
		<div id="bottomBox" class="bottom-box">
			<a class="add-btn"  href="javascript:void(0);">绑定新的班级</a>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>