<% include ../common/top.ejs %>
<body class="app-wrap app-bg1" data-init="appBuyVip">
<!-- <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>"> -->
<form id="buyVipForm" action="">
  <div class="buyvip-wrap app-bg1">
    <div class="buyvip-container">
      <div class="buyvip-tit">
        <img class="tit-vip20" src="<%= imagessrc%>app-buyvip-vip20.png" />
        <p>剩余36次课</p>
      </div>
      <div class="buyvip-item">
        <table>
          <thead>
            <tr>
              <th width="50%" align="left">课程服务</th>
              <th width="25%">普通学员</th>
              <th width="25%" class="color1">特权学员</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>外教授课</td>
              <td><span class="icon-yes"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>精品课作业</td>
              <td><span class="icon-yes"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>同步课标拓展教材</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>上课举手发言</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>上课答题</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
            <tr>
              <td>趣味课外作业</td>
              <td><span class="icon-no"></span></td>
              <td><span class="icon-yes"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="buyvip-bottom">
        <img class="tit-vip20" src="<%= imagessrc%>app-buyvip-icon-02.png" />
      </div>
    </div>
  </div>

</form>
</body>
<% include ../common/bottom.ejs %>