<% include ../common/top.ejs %>
<body data-init="studentEnter">
	<div class="main-wrap login-wrap pb100 change_number_next">
		<div class="student-enter-wrap">
			<img src="<%= imagessrc%>phone_img.png" alt="logo" />
		</div>
		<p class="change_numer_text1">当前手机号：<span class="active_numbr">13693100472<span></p>
		<p class="change_numer_text2">更换手机后，下次登录需使用新手机号登录</p>
		<div class="form-wrap reg-step1">
			<form action="#" autocomplete="off" rel="studentEnter" formType="studentEnter1" name="formType">
				<dl class="cfix">
					<dt></dt>
					<dd class="input_number">
						<input type="tel" rel="phone" class="input-t-style" placeholder="请输入新手机号" maxlength="11" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<!-- <dl class="cfix">
					<dt class="dt1"></dt>
					<dd>
						<input type="tel" rel="verifycode" class="input-t-style" placeholder="请输入验证码" maxlength="6" />
					</dd>
					<dd class="send-verify">
						<input type="button" value="获取验证码" send-url="http://www.baidu.com" send-type="2" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="password" class="input-t-style" placeholder="请输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p> -->
				<div class="submit-btn change_next" number-url="aa">
					<input type="submit" class="input-submit " value="下一步" />
				</div>
			</form>
		</div>		
	</div>
</body>
<% include ../common/bottom.ejs %>