<% include ../common/top.ejs %>
<body>
	<!-- 
	删除结构
	<div class="tab-box">
		<ul>
			<li class="cur">
				<a href="class_info_free.html">免费外教课</a>
			</li>
			<li>
				<a href="class_info.html">外教辅导课</a>
			</li>
		</ul>
	</div>
	<div class="account-box">
		<div class="account-box-in">
			<dl class="cfix">
				<dt class="fl">
					<div class="fl account-headicon">
						<img src="<%= imagessrc%>account-headicon-t.png" />
					</div>
					<div class="fl account-des">
						<h6 class="cfix">
							<p class="fl">赵雷</p>
						</h6>
						<p>北京109中学小学实验部</p>
						<p>三年二班</p>
					</div>
				</dt>
				<dd class="fr">
					<a href="login.html" class="fr">更换账户&nbsp;></a>
				</dd>
			</dl>
			<div class="account-box-info">
				<p>学生总数：<span>30人</span></p>
				<p>激活学生数：<span>28人</span></p>
			</div>		
		</div>
	</div>
	-->
	<div class="main-box hometag-box">
		<!-- 
		删除结构
		<div>
			<div class="section-box">
				<div class="school-info">北京109中学小学试验部</div>
				<div class="school-info">三年级二班</div>
			</div>
		</div>
		-->
		<section>
			<div class="section-box">
				<div class="title-info">
					<div class="title-text">校园公开课</div>
				</div>
				<div class="homework-title cfix">
					<span>三年级适用</span>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：每周一<span>19:00-19:30</span></div>
						<a href="student_class_detail.html">查看详情&gt;</a>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="section-box">
				<div class="title-info">
				</div>
				<div class="homework-title cfix">
					<span>四年级适用</span>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：每周一<span>19:00-19:30</span></div>
						<a href="student_class_detail.html">查看详情&gt;</a>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="section-box">
				<div class="title-info">
				</div>
				<div class="homework-title cfix">
					<span>五年级适用</span>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：每周一<span>19:00-19:30</span></div>
						<a href="student_class_detail.html">查看详情&gt;</a>
					</div>
				</ARTICLE>
			</div>
		</section>
	</div>
	<div class="no-class">您的班级目前没有外教同步辅导课</div>
</body>
<% include ../common/bottom.ejs %>