<% include ../common/top.ejs %>
<body>
	<div class="des-invite">
		<p class="p-s1">请在微信中选择“添加朋友”<br />搜索“51Talk中小学英语”</p>
		<img src="<%= imagessrc%>des-invite2-1.jpg" />
		<p>关注公众号后激活或登录账户</p>
		<img src="<%= imagessrc%>des-invite2-2.jpg" />
	</div>
</body>
<% include ../common/bottom.ejs %>