<% include ../common/top.ejs %>
<body>
	<div class="des-invite">
		<p>打开“51Talk中小学英语”，点击右上角人像</p>
		<img src="<%= imagessrc%>des-invite1-1.jpg" />
		<p>点击右上角...菜单，选择“推荐给朋友”</p>
		<img src="<%= imagessrc%>des-invite1-2.jpg" />
		<p class="p-s1">推荐给家长群或者班级群，<br />同时把学生邀请码一并发到群中即可</p>
		<img src="<%= imagessrc%>des-invite1-3.jpg" />
		<img src="<%= imagessrc%>des-invite1-4.jpg" />
	</div>
</body>
<% include ../common/bottom.ejs %>