<% include ../common/top.ejs %>
<body data-init="" class="push_class">
    <div class="logo">
        <img src="<%= imagessrc%>logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="summary">
        <p class="title">五年级三班外教辅导课阶段总结</p>
        <p class="text">
            本班已有<span>23人</span>出席上课，课堂上同学们表现非常优秀，他们已经掌握:
        </p>
        <div class="radius">
            <div class="rad_red">
                核心词汇<br/>16个
            </div>
            <div class="rad_b">
                语法点<br/>12个
            </div>
            <div class="rad_p">
                累积学英语<br/>100分钟
            </div>
            <div class="rad_m">
               课间题<br/>8道 
            </div>
            <div class="rad_o">
                举手12人<br/>对话23次
            </div>
            <img src="<%= imagessrc%>girl.png" />
        </div>
        <p class="text">通过4节课的学习，有<span>5位</span>家长已经付费希望孩子能更系统、深入跟外教继续学习，在接下来的课程中，他们将享受以下特权：</p>
    </div>
    <div class="pay_not">
        <img src="<%= imagessrc%>pay_not.png" />
    </div>
    <div class="null_pay"></div>
    <a class="how_pay" href="javascript:;">了解如何付费</a>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>