<% include ../common/top.ejs %>
<!-- 学生老师注册第1步页面 -->
<body data-init="formCommon">
	<div class="main-wrap">
		<!-- 老师才可能有这个结构 -->
		<div class="logo-wrap">
			<img src="<%= imagessrc%>logo.png" alt="logo" />
		</div>
		<!-- 老师才可能有这个结构 -->
		<div class="form-wrap reg-step1">
			<form action="#" autocomplete="off" rel="from">
				<dl class="cfix">
					<dt></dt>
					<dd>
						<input type="tel" rel="phone" class="input-t-style" placeholder="请输入手机号" maxlength="11" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt class="dt1"></dt>
					<dd>
						<input type="tel" rel="verifycode" class="input-t-style" placeholder="请输入验证码" maxlength="6" />
					</dd>
					<dd class="send-verify">
						<input type="button" value="获取验证码" send-url="http://www.baidu.com" send-type="2" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<p class="service-phone">收不到验证码？客服电话：<span>4006635151</span></p>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="立即登录" />
				</div>
			</form>
		</div>		
	</div>
</body>
<% include ../common/bottom.ejs %>