<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>order_class_info.css">
</head>
<body data-init="" class="class-info-body">
    <div class="order-class-box">
        <div class="info-box">
            <h1>今日新排入门课班级</h1>
            <div class="time-box"><span>2016-09-22</span><span>51Talk无忧英语</span></div>
            <p class="text">今日新排入门课共x节，涉及Y个学校，z个年纪，m个班级。请代理商及时通知学生上课，课程详情可至班级课表或“查看课程”菜单查看。具体如下：</p>
            <div class="mask">注：如课程信息修改，此页面不生效</div>
        </div>
        <div class="tit-box"><h2>第一课 海里的朋友Friends in the Sea</h2></div>
        <div class="class-box">
            <div class="class-des">
                <div class="school-name">无忧英语小学</div>
                <div class="grade">
                    <span>一年级：</span>
                    一班，二班，三班，四班
                </div>
            </div>
            <div class="class-info">
                <div class="class-id">课程ID：081519</div>
                <div class="time-box"><span class="class-time">19:30-20:00</span><span class="class-date">周五</span></div>
            </div>
        </div>
        <div class="tit-box"><h2>第一课 海里的朋友Friends in the Sea</h2></div>
        <div class="class-box">
            <div class="class-des">
                <div class="school-name">无忧英语小学</div>
                <div class="grade">
                    <span>一年级：</span>
                    一班，二班，三班，四班
                </div>
            </div>
            <div class="class-info">
                <div class="class-id">课程ID：081519</div>
                <div class="time-box"><span class="class-time">19:30-20:00</span><span class="class-date">10月12日</span></div>
            </div>
        </div>
    </div>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>