<% include ../common/top.ejs %>
<body>
	<div class="pay-wrap">
		<div class="pay-success">
			<h5><span>您已成功付款</span></h5>
			<p>正在为您配置精品外教辅导课<br />请耐心等待通知</p>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>