<% include ../common/top.ejs %>
<body>
	<div class="pay-wrap">
		<div class="pay-success pay-waiting">
			<h5><p>订单正在处理中...</p></h5>
			<p>请注意您的微信账户余额变动<br/>如已扣款请您耐心等待我们配课<br/>如未扣款，您可以重新支付</p>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>