<% include ../common/top.ejs %>
<!-- 学生老师注册第2步页面 -->
<body data-init="formCommon">
	<div class="main-wrap pb100">
		<!-- 老师才可能有这个结构 -->
		<div class="school-title">
			<p>
				<span>冬升小学</span>
			</p>
		</div>
		<!-- 老师才可能有这个结构 -->
		<div class="form-wrap reg-step2-new">
			<form action="#" autocomplete="off" rel="from">
				<dl class="cfix">
					<dt>中文名</dt>
					<dd>
						<input type="text" rel="cnname" class="input-t-style" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt>英文名（或拼音）</dt>
					<dd class="dd-enname">
						<input type="text" rel="enname" class="input-t-style" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt>性&nbsp;&nbsp;&nbsp;别</dt>
					<dd>
						<div class="mo-radio cfix">
							<span class="isChecked" data-sex="0">
								<em class="mo-tag"><i></i></em>
								<em>男</em>
							</span>
							<span data-sex="1">
								<em class="mo-tag"><i></i></em>
								<em>女</em>
							</span>
						</div>
						<input type="hidden" rel="sex" value="0" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt>密&nbsp;&nbsp;&nbsp;码</dt>
					<dd>
						<input type="password" rel="password" class="input-t-style" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt>班级邀请码</dt>
					<dd class="dd-invitecode">
						<input type="text" rel="invitecode" class="input-t-style" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="确定" />
				</div>
			</form>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>