<% include ../common/top.ejs %>
<body>
	<div class="search2">
		<ul>
			<li>没找到您选教材的版本哦，<br>小5为您推荐！</li>
			<li><img src="<%= imagessrc%>search-01.png" /></li>
			<li>外研社版(一年级起点)</li>
			<li>“主题、语法、句型、词汇”<span>80%</span>匹配</li>
		</ul>
		<div class="bottom-btn-wrap">
			<div class="bottom-btn-in">
				<a href="" class="bottom-btn">确定</a>
			</div>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>