<% include ../common/top.ejs %>
<body data-init="search" data-role="agent">
	<div class="search">
		<!-- <div class="search-back">返回</div> -->
		<div class="search-title">
			<div class="search-title-wrap">
				<input type="text" placeholder="搜索教材">
				<input name="school_id" type="hidden" id="school_id" value="22">
				<input type="hidden" id="grade" name="grade" value="1">
			</div>
		</div>
		<ul class="search-result">
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>新版-北京版-一年级(下)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)辽师大版-快乐英语(一年级)辽师大版-快乐英语(一年级)辽师大版-快乐英语(一年级)辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
			<li>
				<a href="javascript:void(0);"></a>
				<div class="search-result-pic"></div>
				<dl>
					<dt>辽师大版-快乐英语(一年级)</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<!-- <div class="search-fixed">
			<div class="search-fixed-wrap">
				<form action="">
					<input class="search-fixed-text" type="text" placeholder="没找到教材，请输入">
					<input type="hidden" id="grade" name="grade" value="1">
					<input class="search-fixed-but" type="submit" value="确定">
				</form>
			</div>
		</div> -->
	</div>
</body>
<% include ../common/bottom.ejs %>