<% include ../common/top.ejs %>
<body data-init="stuBuyVipSuccess">
<div class="stu-buyvip-success-wrap">
  <ul class="stu-buyvip-success-con">
    <li><img src="<%= imagessrc%>pay-success.png" />您已成功付款</li>
    <li><span class="time">3秒</span> 后自动跳转</li>
    <li>选择小学学科课程时间</li>
    <li>若跳转失败，<a class="countdownHref" href="https://www.baidu.com/">请手动点击跳转></a></li>
  </ul>
</div>
</body>
<% include ../common/bottom.ejs %>