<% include ../common/top.ejs %>
<body>
	<div class="invite-box">
		<div class="student-invite">
			<p class="student-invite-tit"><img width="60" height="60" src="<%= imagessrc%>user-img.png"/>你好！王大雷同学</p>
			<div class="student-invite-con">
				<p>请长按二维码，关注微信服务号。</p>
				<div>
					<img src="<%= imagessrc%>code-2.jpg" />
				</div>
				<p>使用刚才绑定的手机号码和密码，选择学生登录，就可以进入班级了~</p>
			</div>
		</div>
	</div>

</body>
<% include ../common/bottom.ejs %>