<% include ../common/top.ejs %>
<body data-init="" class="push_class effect">
     <script type="text/javascript">
        window.onload = function(){
            document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
             document.getElementsByClassName("fontSizeLoding")[0].style.display = "none";
        };
    </script>
    <div class="effect_content">
        <div class="tit_img stu_tit_img">
            <!-- <img src="<%= imagessrc%>effect_bg.png"/> -->
            刘丹同学效果反馈
        </div>
        <div class="effect_little_box ">
            <p class="before_img class_show">课堂表现</p>
            <p class="change_taget_text">答题：<em>2道</em>
                <span class="rigth_q">1道</span>
                <span class="error_q">2道</span>
            </p>
            <p class="before_img learn_tag">作业完成</p>
            <div class="stu_excellent">
                <P class="exce_title">【51talk精品课作业】</P>
                <p class="exec_text">完成度100%，最终获得15颗（共30颗），击败全班30%的同学跟读发音：准确度65%，还需要继续加油哦~</p>
                <p class="word_talk">词汇掌握：<br/>已掌握单词 <span>gramm</span><span>mm</span><span>mm</span><span>mm</span><span>mm</span><span>mfffm</span>
                <br/>未掌握单词 <span class="next">gramm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span></p>
            </div>
            <div class="stu_excellent">
                <P class="exce_title">【51talk趣味课作业】</P>
                <p class="exec_text">完成度100%，最终获得15颗（共30颗），击败全班30%的同学跟读发音：准确度65%，还需要继续加油哦~</p>
                <p class="word_talk">词汇掌握：<br/>已掌握单词 <span>gramm</span><span>mm</span><span>mm</span><span>mm</span><span>mm</span><span>mfffm</span>
                <br/>未掌握单词 <span class="next">gramm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span></p>
            </div>
        </div>
    </div>
    <!-- loading -->
    <div class="fontSizeLoding">
        <img src="<%= imagessrc%>eff_loading.gif">
    </div>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>