<% include ../common/top.ejs %>
<body>
	<div class="summerClassPublicity100-wrap">
		<img src="<%= imagessrc%>student_summer_class_publicity100_04.png" alt="">
		<img src="<%= imagessrc%>student_summer_class_publicity100_02.png" alt="">

		<div class="publicity100_content">
			<div class="content_center">
				<p class="title"><span>新概念</span>一册(全)</p>
				<p class="title_class">浓缩精品班</p>
				<p class="title_money"><span>600元</span> / 40节课（25分钟/课时）</p>
				<p class="periods _one">第一期</p>
				<div class="intro_time">
					<p class="intro_one">7.18——7.29（周末休息）</p>
					<p class="intro_two">每天 14:00 ~ 16:00</p>
				</div>
				<p class="periods _two">第二期</p>
				<div class="intro_time">
					<p class="intro_one">7.25——8.05（周末休息）</p>
					<p class="intro_two">每天 13:30 ~ 15:30</p>
				</div>
				<p class="periods _three">第三期</p>
				<div class="intro_time">
					<p class="intro_one">8.08——8.19（周末休息）</p>
					<p class="intro_two">每天 10:00 ~ 12:00</p>
				</div>
			</div>
		</div>
		<div class="publicity100_content">
			<div class="content_center  content_center_2">
				<p class="title"><span>新概念</span>二册(全)</p>
				<p class="title_class">（上/下）</p>
				<p class="title_money"><span>700元</span> / 50节课（25分钟/课时）</p>
				<div class="clearfix text_f">
					<p class="periods _one">二册</br><span>（上）</span></p>
					<div class="intro_time2">
						<p class="intro_o">7.14——7.29（周末休）15:30~17:30</p>
						<p class="intro_t">8.11——8.26（周末休）10:00~12:00</p>
					</div>
				</div>
				<div class="clearfix text_f">
					<p class="periods _two">二册</br><span>（下）</span></p>
					<div class="intro_time2">
						<p class="intro_o">7.18——8.02（周末休）13:30~15:30</p>
						<p class="intro_t">7.16——8.21（六日班）10:00~12:00</p>
					</div>
				</div>
			</div>
		</div>

		<a href=""><img src="<%= imagessrc%>student_summer_class_publicity100_03.png" alt=""></a>
	</div>
</body>
<% include ../common/bottom.ejs %>