<% include ../common/top.ejs %>
<body>
	<!-- 学生 -->
	<div class="account-center-box stu-chatRecord-box">
		<div class="school-title">
			<p>
				<span>入门外教课</span>
			</p>
		</div>

		<div class="account-info stu-chatRecord-info">
			<dl class="chatRecord-day">
				<dt><span>2016-05-08</span></dt>
				<dd>
					<dl class="chatrecord-per">
						<dt><span>赵小雷</span><img src="<%= imagessrc%>account-headicon-stu.png"></dt>
						<dd>
							<ul>
								<li>
									<dl>
										<dt>09:25</dt>
										<dd>好的，今晚如果早回去就找你</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>21:55</dt>
										<dd class="chatrecord-pic">
											哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。<img src="<%= imagessrc%>class-img-ppm.jpg">哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>21:55</dt>
										<dd>哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>21:55</dt>
										<dd class="chatrecord-pic">
											哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。<img src="<%= imagessrc%>teacher_share_icon.jpg">哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>21:55</dt>
										<dd>哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。哦了！你说去哪就去哪，我是为了学习才跟你聊天的。我完全是为了凑字数。</dd>
									</dl>
								</li>
							</ul>
						</dd>
					</dl>

				</dd>
			</dl>
		</div>
	</div>

</body>
<% include ../common/bottom.ejs %>