<% include ../common/top.ejs %>
<body>
		<div class="summerClassPublicity2-wrap">
			<img src="<%= imagessrc%>student_summer_class_publicity2_01.png" alt="">
			<img src="<%= imagessrc%>student_summer_class_publicity2_02.png" alt="">
			<img src="<%= imagessrc%>student_summer_class_publicity2_03.png" alt="">
			<div class="pic"><a href="student_summer_class.html"><input type="button" value="查看详情"></a></div>
			<img src="<%= imagessrc%>student_summer_class_publicity2_04.png" alt="">
		</div>
</body>
<% include ../common/bottom.ejs %>