<% include ../common/top.ejs %>
<body>
		<div class="summerClassPublicity-wrap">
			<ul>
				<li>51Talk——优质暑期班</li>
				<li>纯外教精品6人班</li>
				<li><span>15块钱</span>对话世界邀请卡</li>
				<li>暑期班第二波<br>限量加排500<br>班次排满寒假见</li>
				<li><span><a href="javascript:void(0);"><input type="button" value="查看详情"></a></span></li>
				<li><span>阳光普照保障计划</span></li>
				<li>首次课后，若出现任何不满意，我们承诺您，<br>随时申请全额退款</li>
			</ul>
		</div>
</body>
<% include ../common/bottom.ejs %>