<% include ../common/top.ejs %>
<body>
	<!-- 学生 -->
	<div class="account-center-box summer_class_pay pay-wrap bg-f5">
		<div class="account-head">
			<a href="account_detail.html"></a>
			<dl class="cfix">
				<dt>
					<img width="70" height="70" src="<%= imagessrc%>account-headicon-stu.png" class="account-head-img" />
					<div class="account-head-info">
						<h6>
							<p>赵雷</p>

						</h6>
						<p>北京109中学小学实验部</p>
						<p>三年二班</p>

					</div>
				</dt>
				<dd><span class="fr"></span></dd>
			</dl>
		</div>
		<form action="#" autocomplete="off" rel="from">
			<h6 class="pay-tit">订单详情</h6>
			<div class="pay-detail">
				<dl>
					<dt>购买产品：</dt>
					<dd>1对1明星外教暑期班</dd>
				</dl>
				<dl>
					<dt>订单金额：</dt>
					<dd>¥2000/40节</dd>
				</dl>
			</div>
			<h6 class="pay-tit">您需要支付</h6>
			<div class="pay-detail">
				<dl class="pay-money">
					<dt><img src="<%= imagessrc%>wx-icon.png" /></dt>
					<dd>¥2000</dd>
				</dl>
			</div>
			<div class="submit-btn">
				<!-- <input type="submit" class="input-submit" value="立即支付" /> -->
				<input type="submit" class="input-submit buyed" value="已购买" />
			</div>
		</form>
	</div>

</body>
<% include ../common/bottom.ejs %>