<% include ../common/top.ejs %>
<body>
	<div class="select-class">
		<p class="sel-class-tit">请选择你的班级</p>
		<ul class="sel-class">
			<li>
				<a href="">北京109小学&nbsp;3年级2班</a>
			</li>
			<li>
				<a href="">北京109小学&nbsp;3年级3班</a>
			</li>
			<li>
				<a href="">北京109小学&nbsp;3年级4班</a>
			</li>
		</ul>
		<p class="sel-class-tip">注意：一定要选择自己所在的班级，选错后无法更换喔。</p>
	</div>		
</body>
<% include ../common/bottom.ejs %>