<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>tea_reward.css">
</head>
<body data-init="" class="">
    <div class="bg-content">
    	<a href="">
    		<img src="<%= imagessrc%>bg_06.jpg"/>
    	</a>
    </div>
	
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>