<% include ../common/top.ejs %>
<body data-init="">
	<div class="tea-change-class">
		<div class="tea-change-class-tit">
			<a href="javascript:void(0);">创建/接管班级</a>
			<a href="teacher_apply_record.html">申请记录</a>
		</div>
		<ul class="class-items">
			<li>
				<h6>一年级
					<div class="posi">
							<span class="textbook-version-select confirm_select">
								<a href="javascript:void(0);">选择教材版本</a>
							</span>
							<!-- <span class="confirm_select_tops"><span class="close_select_confirm"></span></span> -->
							<img class="confirm_select_tops" src="<%= imagessrc%>confirm_select_tips1.png" />
					</div>
				</h6>
				<dl>
					<dt><span>六班</span>学生36人&nbsp;&nbsp;激活28人</dt>
					<dd>
						<a href="javascript:void(0);">转让班级</a>
						<a href="javascript:void(0);">班级详情</a>
					</dd>
				</dl>
			</li>
			<li>
				<h6>一年级
					<div class="posi imgdisnone">
							<span class="textbook-version-select confirm_select comfirm_select_none">
								<a href="javascript:void(0);">选择教材版本</a>
							</span>
							<!-- <span class="confirm_select_tops"><span class="close_select_confirm"></span></span> -->
							<img class="confirm_select_tops" src="<%= imagessrc%>confirm_select_tips1.png" />
					</div>
				</h6>
				<dl>
					<dt><span>六班</span>学生36人&nbsp;&nbsp;激活28人</dt>
					<dd>
						<a href="javascript:void(0);">转让班级</a>
						<a href="javascript:void(0);">班级详情</a>
					</dd>
				</dl>
			</li>
			<li>
				<h6>二年级<span class="textbook-version-change"><span>新版-牛津上海版牛津上海版牛津上海版牛津上海版牛津上海版</span><a href="javascript:void(0);">更换</a></span></h6>
				<dl>
					<dt><span>二十班</span>学生36人&nbsp;&nbsp;激活28人</dt>
					<dd>
						<a href="javascript:void(0);" class="change-audit">转让待通过</a>
						<a href="javascript:void(0);">班级详情</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- <div class="select_confirm"></div> -->
</body>
<% include ../common/bottom.ejs %>