<% include ../common/top.ejs %>
<body class="tea-see-wrap-bg">
	<div class="tea-see-wrap">
		<table border="1" bordercolor="#e7e7e7">
        	<thead>
        	  <tr>
        	    <th width="34%">上课日期</th>
        	    <th width="33%">上课时间</th>
        	    <th width="33%">班级</th>
        	  </tr>
        	</thead>
        	<tbody>
        	  <tr>
        	    <td>2016.08.18</td>
        	    <td>19:00-19:30</td>
        	    <td>六班</td>
        	  </tr>
        	  <tr>
        	    <td>2016.08.18</td>
        	    <td>19:00-19:30</td>
        	    <td>二班</td>
        	  </tr>
        	  <tr>
        	    <td>2016.08.18</td>
        	    <td>19:00-19:30</td>
        	    <td>一班</td>
        	  </tr>
        	</tbody>
        </table>
        <table border="1" bordercolor="#e7e7e7">
        	<thead>
        	  <tr>
        	    <th width="28%">上课日期</th>
        	    <th width="28%">上课时间</th>
        	    <th width="20%">班级</th>
        	    <th width="24%">学生</th>
        	  </tr>
        	</thead>
        	<tbody>
        	  <tr>
        	    <td rowspan="2">2016.08.18</td>
        	    <td rowspan="2">19:00-19:30</td>
        	    <td>6班</td>
        	    <td><a class="nameList" href="javascript:void(0);">22人</a></td>
        	  </tr>
        	  <tr>
        	    <td>2班</td>
        	    <td><a class="nameList" href="javascript:void(0);">8人</a></td>
        	  </tr>
        	  <tr>
        	    <td rowspan="3">2016.08.18</td>
        	    <td>19:00-19:30</td>
        	    <td>一班</td>
        	    <td><a class="nameList" href="javascript:void(0);">22人</a></td>
        	  </tr>
        	  <tr>
        	    <td rowspan="2">19:00-19:30</td>
        	    <td>一班</td>
        	    <td><a class="nameList" href="javascript:void(0);">22人</a></td>
        	  </tr>
        	  <tr>
        	    <td>一班</td>
        	    <td><a class="nameList" href="javascript:void(0);">22人</a></td>
        	  </tr>
        	</tbody>
        </table>
	</div>
	
</body>
<% include ../common/bottom.ejs %>