<% include ../common/top.ejs %>
<body data-init="teaApplyRecord">
	<div class="tea-apply-record">
			<div class="tea-apply-tit">
					<span data-switchover="receive" class="tea-apply-tit-select">收到的请求</span>
					<span data-switchover="send">发出的请求</span>
			</div>
			<div class="tea-apply-receive">
				<ul class="apply-item">
					<li>
						<div class="item-tit">李白申请接管我的班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
						<div class="item-change" data-id="111">
							<span class="btn-reject" data-status="4">拒绝</span>
							<span class="btn-agree" data-status="2" data-message="点击确定后你将离开这个班级<br>请谨慎操作！">同意</span>
						</div>
					</li>
					<li>
						<div class="item-tit">李清照向我申请转让班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
						<div class="item-change" data-id="222">
							<span class="btn-reject" data-status="4">拒绝</span>
							<span class="btn-agree" data-status="2" data-message="点击确定后你将接管这个班级<br>请谨慎操作！">同意</span>
						</div>
					</li>
					<li class="icon-agree">
						<div class="item-tit">李清照向我申请转让班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
					</li>
					<li class="icon-refuse">
						<div class="item-tit">李清照向我申请转让班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
					</li>
				</ul>
			</div>
			<div class="tea-apply-send disnone">
				<ul class="apply-item">
					<li class="icon-wait-pass">
						<div class="item-tit">我向白居易申请转让班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
					</li>
					<li class="icon-already-pass">
						<div class="item-tit">我向杜牧申请接管班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
					</li>
					<li class="icon-not-pass">
						<div class="item-tit">我向杜牧申请接管班级——<span>六年级八班</span></div>
						<div class="item-time">2016-7-27</div>
					</li>
				</ul>
			</div>
			<div class="tea-dialog-wrap">
				<div class="tea-dialog dialog-agree">
					<div class="tea-dialog-tit">点击确定后你将离开这个班级<br>请谨慎操作！</div>
					<div class="tea-dialog-btn cfix">
						<span class="btn-cancel fl">取消</span>
						<span class="btn-confirm fr">确定</span>
					</div>
				</div>
				<div class="tea-dialog dialog-reject">
					<div class="tea-dialog-tit">拒绝请求吗？</div>
					<div class="tea-dialog-btn cfix">
						<span class="btn-cancel fl">取消</span>
						<span class="btn-confirm fr">确定</span>
					</div>
				</div>
			</div>
	</div>
</body>
<% include ../common/bottom.ejs %>