<% include ../common/top.ejs %>
<body data-init="teaChangePassword">
	<div class="main-wrap">
		<div class="form-wrap reg-step1">
			<form action="#" autocomplete="off" rel="teachangepsw">
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="oldpassword" class="input-t-style" placeholder="请输入原密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="password" class="input-t-style" placeholder="请输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<dl class="cfix">
					<dt  class="dt2"></dt>
					<dd>
						<input type="password" rel="eqpassword" class="input-t-style" placeholder="请再次输入新密码" />
					</dd>
				</dl>
				<p class="error-tips"></p>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="确定" />
				</div>
			</form>
		</div>		
	</div>
</body>
<% include ../common/bottom.ejs %>