<% include ../common/top.ejs %>
<body>
	<div class="tea-integral-detail bgColor1">
		<ul class="tea-integral-tit">
			<li><a href="teacher_integral_detail3.html">积分说明</a></li>
			<li><div><span>31451</span>积分</div></li>
			<li>小积分，有大用，多领一些攒起来!</li>
		</ul>
		<ul class="tea-integral-entrance">
			<li>
				<a href="teacher_integral_detail2.html"></a>
				<dl class="cfix">
					<dt>积分明细</dt>
					<dd>更多</dd>
				</dl>
			</li>
		</ul>
		<ul class="tea-integral-item">
			<li>
				<dl class="cfix">
					<dt>+3</dt>
					<dd>手机登录</dd>
					<dd><span>2016-2-19</span></dd>
				</dl>
			</li>
			<li>
				<dl class="cfix">
					<dt>+3</dt>
					<dd>手机登录</dd>
					<dd><span>2016-2-19</span></dd>
				</dl>
			</li>
			<li>
				<dl class="cfix">
					<dt>+3</dt>
					<dd>手机登录</dd>
					<dd><span>2016-2-19</span></dd>
				</dl>
			</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>