<% include ../common/top.ejs %>
<!-- 学生老师注册第1步页面 -->
<body>
	<div class="learnReport-wrap">
		<div class="learnReport-tit">
			<span>课程学习报告</span>
		</div>
		<ul class="learnReport-items">
			<li>
				<ul>
					<li class="learnReport-item-time">2016年09月01日—2016年09年07日</li>
					<li class="learnReport-item-con">
						<span>三年级/四年级</span>
						<span>23名同学课程报告</span>
						<span class="unread">未读</span>
					</li>
					<li class="learnReport-item-detail">
						<a href="javascript:void(0);">查看详情</a>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="learnReport-item-time">2016年09月01日—2016年09年07日</li>
					<li class="learnReport-item-con">
						<span>三年级/四年级</span>
						<span>23名同学课程报告</span>
					</li>
					<li class="learnReport-item-detail">
						<a href="javascript:void(0);">查看详情</a>
					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="learnReport-item-time">2016年09月01日—2016年09年07日</li>
					<li class="learnReport-item-con">
						<span>三年级/四年级</span>
						<span>23名同学课程报告</span>
					</li>
					<li class="learnReport-item-detail">
						<a href="javascript:void(0);">查看详情</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>