<% include ../common/top.ejs %>
<body data-init="">
	<div class="invite-box">
		<div class="invite-info">
			<div class="invite-user cfix">
				<div class="user-header-box">
					<div class="user-header">
						<img src="<%= imagessrc%>user-img.png"/>
					</div>
				</div>
				<div class="user-info">你好！王大雷同学</div>
			</div>
			<p>1、请扫描下方二维码，关注微信公众号</p>
			<div style="position:relative;"><div class="code-box"><img src="<%= imagessrc%>code-2.jpg">
				</div>
			</div>
			<p>2、进入公众号，选择“学生登录”</p>
		    <p>3、账号：363077459</p>
		    <p class="password">密码：1299486</p>
		</div>
		<div class="text">请分享或截屏此页面发送给学生或学生家长</div>
	</div>
	
</body>
<% include ../common/bottom.ejs %>