<% include ../common/top.ejs %>
<body>
	<div class="tea-integral-detail tea-integral-detail3 bgColor2">
		<div class="tea-detail-tit">积分规则</div>
		<dl class="tea-integral-rule">
			<dt>积分获取规则</dt>
			<dd>1、手机验证登录和信息不全，+30分。</dd>
			<dd>2、每日首次登录，+5分。</dd>
			<dd>3、学生激活奖励（以最后一节入门课结束时间后3天为最后期限）:
				<p>50≤激活数＜100，+20分；</p>
				<p>100≤激活数＜200，+60分；</p>
				<p>激活数≥200，+150分</p>
			</dd>
			<dd>4、入门课班级平局出席奖励（以最后一节入门课结束时间后3天为最后期限）：
				<p>20≤出勤平均人数＜50，+100分；</p>
				<p>50≤出勤平均人数＜100，+400分；</p>
				<p>出勤平均人数≥100，+1000分</p>
				<p>出勤率≤5%，+50分</p>
			</dd>
			<dd>5、每日首次布置作业，+30分。</dd>
		</dl>
	</div>
</body>
<% include ../common/bottom.ejs %>