<% include ../common/top.ejs %>
<body>
	<div class="share-box">
		<img src="<%= imagessrc%>teacher-share-t.png" />
		<p class="tc"><span>添加过学生姓名后</span>，请点击右上角，选择“发送给朋友”，分享到家长或班级的微信群即可。</p>
	</div>
</body>
<% include ../common/bottom.ejs %>