<% include ../common/top.ejs %>
<body data-init="teacher_myclass">
	<!-- 学生 -->
	<div class="tea-myclass-QRCode-wrap">
		<div class="tea-myclass-QRCode">
			<ul class="tea-myclass-QRCode-con">
				<li>51Talk无忧英语小学一年级（1.2班）</li>
				<li><img src="<%= imagessrc%>app_help4.png" /></li>
				<li>长按二维码进群，享受特有群服务</li>
			</ul>
			<div class="tea-myclass-QRCode-prompt">群内上课提醒，不要迟到；群内的班级活动，妙趣横生；<br>在线客服，随时解决问题；发放入门保教材，提前预习。
			</div>
		</div>
	</div>
	
</body>
<% include ../common/bottom.ejs %>