<% include ../common/top.ejs %>
<body data-init="teacher_myclass">
	<!-- 学生 -->
	<div class="account-center-box tea-myclass-box tea-myclass-wrap">
		<div class="account-head">
			<h6>六年级二班</h6>
			<p>学生总数：43</p>
		</div>

		<ul class="account-info">
			<li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>已激活学生</dt>
							<dd>20人</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>未激活学生</dt>
							<dd>20人</dd>
						</dl>
					</li>
					<li data-href="http://s.51talk.com/" data-not="暂未上传二维码，请稍后再试！" data-overdue="二维码已过期，扫码无法加群！" data-state="0">
						<a href="javascript:void(0);"></a>
						<dl class="cfix">
							<dt>班级二维码</dt>
							<dd></dd>
						</dl>
					</li>
				</ul>
			</li>

			<!-- <li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>入门外教课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>精品外教课</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
				</ul>
			</li>
			
			<li>
				<ul>
					<li>
						<a href=""></a>
						<dl class="cfix">
							<dt>家长会</dt>
							<dd>今天 19:30</dd>
						</dl>
					</li>
				</ul>
			</li> -->
		</ul>
		<div class="dialog-wrap">
			<div class="dialog-con">
				<div class="dialog-tit">暂未上传二维码，请稍后再试！</div>
				<div class="dialog-btn">我知道了</div>
			</div>
		</div>
	</div>
	
</body>
<% include ../common/bottom.ejs %>