<% include ../common/top.ejs %>
<body data-init="teaInviteNewTea">
	<div class="tea-invite-new-tea-wrap">
		<div class="form-wrap">
			<form action="#" autocomplete="off" rel="from1">
				<div class="tea-invite-input">
						<input type="tel" rel="teacherphone" name="X" class="input-t-style" maxlength="11" placeholder="请输入您要查找的老师的手机号" />
				</div>
				<p class="error-tips"></p>
				<div class="tea-invite-href">
					<a href="teacher_invite_new_teacher.html">邀请新老师加入</a>
				</div>
				<div class="submit-btn">
					<input type="submit" class="input-submit" value="确定" />
				</div>
			</form>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>