<% include ../common/top.ejs %>
<body data-init="teaIntegral">
	<div class="tea-integral-detail tea-integral-detail2 bgColor2">
		<div class="tea-detail-tit">积分明细</div>
		<ul class="tea-integral-item">
			<li>
				<dl class="cfix">
					<dt>+3</dt>
					<dd>手机登录</dd>
					<dd><span>2016-2-19</span></dd>
				</dl>
			</li>
			<li>
				<dl class="cfix">
					<dt>+3</dt>
					<dd>手机登录</dd>
					<dd><span>2016-2-19</span></dd>
				</dl>
			</li>
			<li>
				<dl class="cfix">
					<dt>+3</dt>
					<dd>手机登录</dd>
					<dd><span>2016-2-19</span></dd>
				</dl>
			</li>
		</ul>
	</div>
</body>
<% include ../common/bottom.ejs %>