<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>verification2.css">
</head>
<body data-init="verification2" class="verification2-wrap">
    <form action="" id="js_form"> 
    <div class="verification-tit">为帮助孩子们选择更加合适的课程和老师请完善如下信息</div>
    <div class="verification-font1">孩子所在年级</div>
    <div class="verification-select">
        <select name="AA" class="js_grade2">
            <option value="0">请选择</option>
            <option value="1">小学1年级</option>
            <option value="2">小学2年级</option>
            <option value="3">小学3年级</option>
            <option value="4">小学4年级</option>
            <option value="5">小学5年级</option>
            <option value="6">小学6年级</option>
        </select>
    </div>
    <div class="verification-font1">学校何时开始教授英语</div>
    <div class="verification-select">
        <select name="BB" class="js_study_grade2">
            <option value="0">请选择</option>
            <option value="1">小学1年级</option>
            <option value="2">小学2年级</option>
            <option value="3">小学3年级</option>
        </select>
    </div>
    <div class="verification-font1">密码</div>
    <div class="verification-input">
        <input type="password" class="js_password" name="CC" placeholder="设置密码">
    </div>
    <div class="verification-btn js_select2" data-ajaxurl="http://www.51talk.com">提交</div>
    <div class="verification-hint">小提示：课程适用于小学生学习</div>
    <div class="verification-bottom"><img src="<%= imagessrc%>verification-02.png"></div>
    </form>
        
<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>