@import "../common/www/base.less";
@imgPathImg: "../../../images/html/lesson26327/";
.bm-icon{
  display: inline-block;
  background: url('@{imgPathImg}bm_icon.png') no-repeat;
}
.star{
  display: inline-block;
  background: url('@{imgPathImg}stars.png') no-repeat;
}
.e-lesson{
  float: right;
  width: 860px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 150px;
  padding-bottom: 15px;
  .les-n{
    height: 342px;
    background: url('@{imgPathImg}bm_top.jpg') bottom center no-repeat;
    .n-t{
      overflow: hidden;
      margin:20px 0 0 35px;
      li{
        float: left;
        margin-right: 25px;
        color: #a8a8a8;
        span{ display: block;font-size: 12px;}
        .t1{color: #6e98f5; font-size: 14px;}
      }
      .c-li{
        margin-top:7px;
        font-size: 16px;
        color: #c8c8c8;
      }
    }
    .n-w{
      width: 365px;
      overflow: hidden;
      color: #fff;
      margin: 100px 0 0 170px;
      li{
        margin:0 0 10px 0;
        font-size: 24px;
      }
      .f-t{
        font-size: 16px;
        margin-bottom: 18px;
        span{
          border-bottom: 1px #79a0f5 solid;
          padding-bottom: 10px;
        }
      }
    }
  }
  .les-com{
    .com-d{
      overflow: hidden;
      border-top: 1px #f9f9f9 solid;
      margin:0 10px;
      padding:20px 0;
      color: #868686;
      line-height: 1;
      dt{
        float: left;
        width: 110px;
        text-align: center;
        img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .ts{
          display: block;
          margin-top: 10px;
        }
      }
      dd{
        margin:0 18px 10px 120px;
        line-height: 22px;
        .d-rev{
          float: left;
          width: 80px;
          height: 27px;
          line-height: 27px;
          text-align: center;
          border-radius: 8px;
          border:1px #e7e7e7 solid;
          color: #505050;
          &:hover{color: #6692f4;}
        }
        .sus{
          float: left;
          width: 100%;
          .fail{
            color: #c8c8c8;
            font-size: 12px;
            margin-top: 5px;
            i{ 
              .bm-icon;
              width: 15px;
              height: 15px;
              background-position: -304px -133px;
              vertical-align: middle;
              margin-right: 5px;
            }
          }
          .cont{
            float: left;
            width: 90px;
            height: 27px;
            line-height: 27px;
            border-radius: 8px;
            border:1px #e7e7e7 solid;
            color: #6692f4;
            cursor: pointer;
            img{
              width: 20px;
              height: 20px;
              margin:0 3px;
            }
          }
          .succ{
           font-size: 15px;
           color: #505050;
           line-height: 25px;
           margin-top: 20px;
            .s-ft{
              font-size: 12px;
              color: #c8c8c8;
              margin-top: 20px;
              i{
               .bm-icon;
                width: 20px;
                height: 20px; 
                background-position: -307px -178px;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
          }
        }
      }
    } 
  }
  .les-per{
    background-color: #fcfcfc;
    padding-bottom: 30px;
    .per-u{
      overflow: hidden;
      margin-top: 20px;
      li{
        float: left;
        width: 190px;
        text-align: center;
        margin-left: 20px;
        background-color: #fff;
        border-bottom: 1px #f9f9f9 solid;
        padding-bottom: 15px;
        .per-w{
          width: 133px;
          height: 125px;
        }
        .per-img01{
          .per-w;
          .bm-icon;
          background-position: 0 0;
        }
        .per-img02{
          .per-w;
          .bm-icon;
          background-position: -139px 0;
        }
        .per-img03{
          .per-w;
          .bm-icon;
          background-position: -276px 0;
        }
        .per-img04{
          .per-w;
          .bm-icon;
          background-position: -414px 0;
        }
        .star-w{
          width: 120px;
          height: 20px;
          margin:17px 0 4px 0;
        }
        .star01{
          .star-w;
          .star;
          background-position: -39px -31px;  
        }
        .star02{
          .star-w;
          .star;
          background-position: -39px -65px;  
        }
        .star03{
          .star-w;
          .star;
          background-position: -39px -99px;  
        }
        .star04{
          .star-w;
          .star;
          background-position: -39px -133px;  
        }
        .star05{
          .star-w;
          .star;
          background-position: -39px -167px;  
        }
        .star06{
          .star-w;
          .star;
          background-position: -39px -201px;  
        }
        .per-ts{
          display: block;
          color: #868686;
          line-height: 25px;
        }
      }
    }
  }
  .les-msy{
    .msy-u{
      overflow: hidden;
      margin:0 30px;
      font-size: 16px;
      li{
        position: relative;
        border-radius: 10px;
        min-height: 164px;
        margin-bottom: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding-bottom: 8px;
        .p-lt{
          width: 540px;
          border-right: 1px #d1d6f8 dashed;
          padding:40px 0 20px 80px;
          margin-top: 8px;
        }
        h4{
        margin-bottom:15px;
        }
        .lt{
          font-family: "Arial";
          margin-left:5px;
          min-height: 60px;
          span{
            margin-right: 30px;
            line-height: 25px;
          }
        }
        .rt{
          transition: .5s all;
          transform: perspective(1000px) rotateY(0deg);
          &:hover{transform: perspective(1000px) rotateY(60deg);}
        }
        .p-ts{
          min-height: 60px;
          margin-left: 7px;
        }
      }
      .rt-icon{
        position: absolute;
        right: 45px;
        top: -6px;
        .bm-icon;
        width: 72px;
        height: 125px;
        text-align: center;
        font-size: 40px;
        color: #fff;
        .num{
          display: block;
          margin-top: 60px;
        }
      }
      .prou{
        background-color: #e6e9ff;
        border-top:6px #dce0fd solid;
        h4{color: #8790da;}
        .rt{
          .rt-icon;
          background-position: -1px -127px;
        }
      }
      .word{
        background-color: #f8e6ff;
        border-top:6px #f1dbfa solid;
        .p-lt{border-right: 1px #ead1f4 dashed;}
        h4{color: #c593d9;}
        .rt{
          .rt-icon;
          background-position: -78px -127px;
        }
      }
      .sent{
        background-color: #ffe6e6;
        border-top:6px #fbdada solid;
        .p-lt{border-right: 1px #efc5c5 dashed;}
        h4{color: #d58888;}
        .rt{
          .rt-icon;
          background-position: -156px -127px;
        }
        .lt span{
          display: block;
        }
      }
      .ballad{
        background-color: #dcfbdc;
        border-top:6px #c6f3c6 solid;
        .p-lt{border-right: 1px #c0f0c0 dashed;}
        h4{color: #89ce89;}
        .rt{
          .rt-icon;
          background-position: -234px -127px;
        }
      }
    }
  }
  h2{
    margin-left: 40px;
    color: #505050;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
  }
}
.hide{display: none;}