<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="app下载专页">
    <meta name="keywords" content="app下载专页">
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="/css/html/landing_page/landing_page.css">
</head>
<body>
<div id="container" data-init="teenagers">
  <!-- 头部 -->
  <div class="pow">
    <div class="midWidth">
      <div class="top">
        <img src="/images/html/landing_page/cb_logo.png" class="lt">
        <img src="/images/html/landing_page/cb_iphone.png" class="rt">
      </div>
      <img src="/images/html/landing_page/cb_banner.png" class="bar">
      <div class="ctr">
        <form action="" id="t-regForm">
          <div class="lt-input">
            <input type="email" name="email" placeholder="请输入您的邮箱" class="pow-input jsCheck">
            <input type="tel" name="mobile" placeholder="请输入您的手机号" class="pow-input jsCheck">
            <input type="password" name="password" placeholder="请设置您的密码" class="pow-input jsCheck">
          </div>
          <a href="javascript:;" class="ctr-btn jsSubmit">注册</a> 
        </form>
        <p class="bom-tit">注册后免费体验</p>
      </div>
    </div>
  </div>
  <!-- 中间部分 -->
  <div class="powimg">
    <img src="/images/html/landing_page/cb_tit01.png" class="lt">
  </div>
  <!-- 马上学好英语 -->
  <div class="powstu">
    <div class="midWidth">
      <img src="/images/html/landing_page/cb_gz.png" class="lt-img">
      <div class="rt-tit">
        <img src="/images/html/landing_page/cb_tit02.png" class="lt">
        <div class="powstu-rt">
          <form action="" id="m-regForm">
            <input type="text" name="email" placeholder="请输入您的邮箱" class="pow-input jsCheck">
            <input type="tel" name="mobile" placeholder="请输入您的手机号" class="pow-input jsCheck">
            <input type="password" name="password" placeholder="请设置您的密码" class="pow-input jsCheck">
            <a href="javascript:;" class="pow-btn jsSubmit">完成领取</a>
          </form> 
        </div>
      </div>
    </div>
  </div>
  <!-- 星光璀璨 -->
  <div class="stars">
    <div class="midWidth">
      <p class="line"><em>星光璀璨</em></p>
      <div class="sta-lina">
        <img src="/images/html/landing_page/cb_lina.jpg" class="lt">
        <div class="sta-rt">
          <h3>李娜</h3>
          <p>51Talk无忧英语代言人<br>中国著名网球运动员，亚洲唯一网球大满贯赛事获得者。</p>
        </div> 
      </div>
    </div> 
  </div>
  <!-- 名人 -->
  <div class="peson">
    <div class="midWidth">
      <img src="/images/html/landing_page/cb_img.jpg" class="cer"> 
    </div>  
  </div>
  <!-- 学员评价 -->
  <div class="m_evaluation">
    <div class="m_ev midWidth">
      <h1 class="m_courseT">学员评价</h1>
      <p class="m_courseTe">www.51talk.com // Strongly recommended // show your teeth first !<br>www.51talk.com</p>
      <div class="m_courseL s_cb"></div>
      <div class="m_student">
        <div class="m_studentI f_p1">
          <p class="m_studentE">通过朋友介绍，我开始在 51Talk 学习。我比较喜欢类似闯关的形式，因此选择俩经典英语和 iTalk 视频教程，每一次通关都代表着我的进步，让我很有成就感。我每天都在上面学习，着已经成为我生活的一部分，长期坚持下来，我的口语真的进步很大。我还让我的女儿在上面学习，也推荐俩很多朋友！</p>
          <dl class="s_dl7">
            <dt><img src="/images/html/landing_page/pro_img01.png" alt=""></dt>
            <dd><span>Vincent</span><br/>职业：公司总裁</dd>
          </dl>
        </div>
        <div class="m_studentI f_p2">
          <p class="m_studentE m_s1">我以前并不知道 51Talk ，还是听我老公说的，他告诉我这里学习很方便，而且我也有考雅思的打算，所以我就和我老公一起在这边学习。现在上课三个多月了，不管说的对不对，我都敢张嘴说了，而且逻辑性也比以前好多了，说的时候也有意识的关注一下语法了。现在上课80%－90%老师说的话，我都可以听懂了。</p>
          <dl class="s_dl7">
            <dt><img src="/images/html/landing_page/pro_img02.png" alt=""></dt>
            <dd><span>Judy</span><br/>职业：外企员工</dd>
          </dl>
        </div>
        <div class="m_studentI f_p3">
          <p class="m_studentE">我觉得 51Talk 里25分钟的课，设置的非常好。因为一节课是25分钟，我用的次卡，如果我想多学，可以多预约一节课。就算我平时很忙，每天也可以拿出25分钟的时间和老师聊天。51Talk 是我见过的最好的英语平台了，现在澳大利亚那边的学校已经把 offer 给我了，我到了那边就可以读语言学校了。虽然已经有了 offer ，但我以后还是会在 51Talk 上课的！</p>
          <dl class="s_dl7">
            <dt><img src="/images/html/landing_page/pro_img03.png" alt=""></dt>
            <dd><span>Chris</span><br/>职业：澳大利亚留学研究生</dd>
          </dl>
        </div>
        <div class="m_studentI f_p4">
          <p class="m_studentE m_s1">我从7岁开始在51talk学习，现已有了一年的时间啦！51talk不仅帮助我每天提供了一个浸入式的英文环境，还可以让我同来自北上广深的小伙伴们一样，学习最棒的英文课程！一年下来，我已经顺利地完成了L2-L9的课程，自己英文的听说能力得到了很大的提升！因此，我屡屡在各项英语比赛中获奖，更是取得了代表江西省去北京参加“希望之星”全国总决赛的好成绩！</p>
          <dl class="s_dl7">
            <dt><img src="/images/html/landing_page//pro_img04.png" alt=""></dt>
            <dd><span>Vic</span><br/>CCTV希望之星英语风采大赛-江西省冠军</dd>  
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- 51tlk荣誉 -->
  <div class="m_mh">
    <div class="m_mm  midWidth">
      <div class="m_honor">
        <h3>51Talk的荣誉</h3>
        <ul class="f_honor">
            <li class="borderN"><a href="#" target="_blank"><img class="ulImg3" src="/images/html/landing_page/Daily.png" /></a><br /><span class="span_h">2014最具成长性教育品牌<br/>中国日报</span></li>
            <li><a href="#" target="_blank"><img class="ulImg3" src="/images/html/landing_page/NetEase.png" /></a><br /><span class="span_h">最具影响力在线教育品牌<br />网易</span></li>
            <li><a href="#" target="_blank"><img class="ulImg3" src="/images/html/landing_page/Beijing_News.png" /></a><br /><span class="span_h">年度最具成长力品牌<br/>新京报</span></li>
            <li><a href="#" target="_blank"><img class="ulImg3" src="/images/html/landing_page/51Sina.png" /></a><br /><span class="span_h">最具品牌知名度外语教育机构<br />新浪网</span></li>
        </ul>
      </div>
      <div class="m_media">
        <h3>媒体报道</h3>
        <div>
          <a href="#"><img src="/images/html/landing_page/cctv.png" alt=""></a>
          <a href="#"><img src="/images/html/landing_page/cy.png" alt=""></a>
          <a href="#"><img src="/images/html/landing_page/ifeng.png" alt=""></a>
          <a href="#"><img src="/images/html/landing_page/qq.png" alt=""></a>
          <a href="#"><img src="/images/html/landing_page/sina.png" alt=""></a>
          <a href="#"><img src="/images/html/landing_page/soh.png" alt=""></a>
        </div>
      </div>
      <div class="m_company">
        <h3>合作企业</h3>
        <ul class="f_company">
          <li>
            <a href="#"><img src="/images/html/landing_page/xiaomi.png" alt=""></a>
          </li>
          <li>
            <a href="#"><img src="/images/html/landing_page/jd.png" alt=""></a>
          </li>
          <li>
            <a href="#"><img src="/images/html/landing_page/cheyipai.png" alt=""></a>
          </li>
          <li>
            <a href="#"><img src="/images/html/landing_page/51sony.png" alt=""></a>
          </li>
          <li>
            <a href="#"><img src="/images/html/landing_page/51sany.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 尾部注册 -->
  <div class="g_bottom">
    <div class="midWidth">
      <form action="" id="b-regForm">
        <div class="g_bottomT minWidth">
          <div class="f_bM"><input class="jsCheck" type="text" name="user_name" placeholder="请输入您的邮箱"></div>
          <div class="f_bN"><input class="jsCheck" type="text" name="mobile" placeholder="请输入您的手机号码"></div>
          <div class="f_bW"><input class="jsCheck" type="passworder" name="password" placeholder="请设置您的密码"></div>
          <a href="javascript:;" class="jsSubmit">马上注册，体验免费外教课</a>
        </div>
      </form>
      <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript _src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </p>
    </div>
  </div>
</div>
</body>
<!--公共尾部结束-->
<script src="/js/html/project/landing_page/vendor.js"></script>
</html>