<!-- meta -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="美国小学">
    <meta name="keywords" content="美国小学">
    <title>51talk-美国小学</title>
    <link rel="stylesheet" type="text/css" href="/css/html/north_america/north_america.css">
</head>
<!-- meta end -->
<body>
	<div class="complet-box">
		<div class="light"></div>
		<div class="complet-show fail-p">
			
			<a class="sure-btn" href="javascript:;"></a>
		</div>
		<div class="cd"></div>

	</div>
</body>
</html>