<!-- meta -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="美国小学">
    <meta name="keywords" content="美国小学">
    <title>51talk-美国小学</title>
    <link rel="stylesheet" type="text/css" href="/css/html/north_america/north_america.css">
</head>
<!-- meta end -->
<body>
<!-- 顶部 -->
<!-- 导航 -->
<!-- 导航
  ***********   外层包裹控制二级导航及其hover颜色 wrapClass ***********
  首页：wrap-nav-index  
  美小：north-nav-list
  青少：teenager-nav-list
  成人：adult-nav-list 
  公开课：openclass-nav-list 

  {
  wrapClass:"",
  navList:[{
    className:"",
    text:"",
    url:""
  }],
  isIndex:true, //判断是否为首页
  isNorth:false //判断是否为美小
  }
-->

<div class="wrap-nav north-nav-list">
    <!-- 顶部 -->
<div class="wrap-header">
    <div class="header clearfix">
      <div class="left">
          客服热线：<span class="orange">400 5151 51</span>
      </div>
      <div class="right">
          <ul>
              <li class="no-l-b"><a href="javascript:;">登录</a>&nbsp;&nbsp;<a class="reg" href="javascript:;">免费注册</a><em class="hide orange">afsfdsd</em><a class="hide" href="javascript:;">消息(<span class="orange">13</span>)</a></li>
              <li>
                <a href="">关于我们</a>&nbsp;
                <a href="">企业培训</a>&nbsp;  
                <a href="">学习社区</a>
                </li> 
              <li>
                <span class="g-weibo">关注微博
                    <div class="weibo jsUl" >
                        <a href="http://weibo.com/51talk?topnav=1&amp;wvr=5&amp;topsug=1"></a>
                    </div>
                </span>&nbsp;
                <span class="g-wx">关注微信
                    <div class="weixin jsUl">
                      <a href="javascript:;"><img src="http://static.51talk.com/static/images/html/www_new/common/guan-wx.png"></a>
                  </div>
                </span>
              </li>
              <li>
                <a href="">手机客户端</a>&nbsp;
                <a href="">桌面AC教室</a>
              </li>
          </ul>  
      </div>
    </div>
</div>

    <div class="wrap-box">

        <div class="wrap-box-list">
                <div class="w_acload">
                    <a href="/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/images/html/www_new/common/AC.png"  alt=""></a>
                </div>
                <a href="/" class="logo">
                    <i></i>
                    
                         <b><img src="http://static.51talk.com/static/images/html/www_new/north_america/america_logo.png"  alt=""></b>
                     
                </a>
                <div class="nav index right">
                  <ul class="menu">
                        <li ><a href="http://www.baidu.com">首&nbsp;页</a></li>
                        <li><a href="javascript:;">美国小学</a></li>
                        <li class="current"><a href="javascript:;">青少英语</a></li>
                        <li><a href="javascript:;">成人英语</a></li>
                        <li><a href="javascript:;">公开课</a></li>
                  </ul>
                  <!-- <span class="underline"></span> -->
                </div>
        </div>     
    </div>
    
        <div class="nav-list">
            <div class="list-ct">
              <ul>
                    
                        <li class="crt"><a href="http://usa.51talk.com/">51Talk美国小学</a></li>
                    
                        <li class=""><a href="http://usa.51talk.com/index/teachingPhilosophy">教学理念</a></li>
                    
                        <li class=""><a href="http://usa.51talk.com/index/teacher">北美外教</a></li>
                    
                        <li class=""><a href="http://usa.51talk.com/index/course">美国小学课程</a></li>
                    
              </ul>
            </div>
        </div>
    
</div>


<!-- 回到顶部-->
<div id="u-gotop" style="disblpay:block;">
    <a href="javascript:;" title="回到顶部">回到顶部</a>
</div>
	<!-- container -->
	 <div class="foreignTeacher" id="container" data-init="north_america">
	 		<div class="f_banner"></div>
	 		<div class="t_features">
				 <h1 class="title">北美金牌教师</h1>
				 <div class="t_pc cls-top" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
				 		<img src="/images/html/north_america/f_pc.jpg" />
				 		<div class="video_play" >
						 		<a href="javscript:;" class="video">
						 			<i></i>
						 		</a>
						 </div>
				 </div>
				 <ul class="t_list clearfix">
				 		<li>
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/f_feature1.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>懂孩子</h3>
				 							<p>
				 								100%具有丰富的<br />
				 								少儿教学经验
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 		<li>
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/f_feature2.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>沉浸式</h3>
				 							<p>
				 								美国和加拿大本土教师<br />
				 								全英文沉浸式环境
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 		<li>
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/f_feature3.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>爱孩子</h3>
				 							<p>
				 								优选高亲和力的老师<br />
				 								授课形式活泼，孩子更爱
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 		<li class="margin0">
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/f_feature4.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>高学历</h3>
				 							<p>
				 								全部本科及以上学历<br />
				 								教师综合素质行业第一
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 </ul>
			</div>
			<div class="f_standards">
					<h1 class="title">严格录用标准</h1>
					<ul class="f_btn clearfix">
							<li class="hover">
									<i class="i1"></i>
									<span class="arr"></span>
							</li>
							<li>
									<i class="i2"></i>
									<span class="arr"></span>
							</li>
							<li>
									<i class="i3"></i>
									<span class="arr"></span>
							</li>
							<li class="border0">
									<i class="i4"></i>
									<span class="arr"></span>
							</li>
					</ul>
					<ul class="f_content">
							<li class="show">
									<img src="/images/html/north_america/base_01.jpg" />
							</li>
							<li>
									<img src="/images/html/north_america/base_02.jpg" />
							</li>
							<li>
									<img src="/images/html/north_america/base_03.jpg" />
							</li>
							<li>
									<img src="/images/html/north_america/base_04.jpg" />
							</li>
					</ul>
			</div>
			<div class="f_rank">
					<h1 class="title">北美金牌超强教师阵容</h1>
					<ul class="teachers clearfix">
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat1" />
									</div>
									<h3>Andrew</h3>	
									<h4>美国  加州</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>阿姆斯特丹大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											4年教学经验<br />
											喜欢音乐、阅读，标准孩子王
											</p>
									</div>
							</li>
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat2" />
									</div>
									<h3>Gianne</h3>	
									<h4>美国  堪萨斯</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>旧金山州立大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											12年教学经验<br />
											做妈妈和做老师同样优秀
											</p>
									</div>
							</li>
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat3" />
									</div>
									<h3>Nicole</h3>	
									<h4>美国  新泽西州</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>西东大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											7年教学经验<br />
											教育学硕士，全能教师
											</p>
									</div>
							</li>
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat4" />
									</div>
									<h3>Rhonda</h3>	
									<h4>美国  弗吉尼亚</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>纽约大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											9年教学经验<br />
											曾在英国小学任教
											</p>
									</div>
							</li>
							<!-- 第二排 -->
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat5" />
									</div>
									<h3>Will</h3>	
									<h4>美国  加州</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>美国  亚利桑那州</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											1年教学经验<br />
											爱旅行、爱阅读、爱生活
											</p>
									</div>
							</li>
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat6" />
									</div>
									<h3>Bailey</h3>	
									<h4>美国  宾夕法尼亚州</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>宾州滑石大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											1年教学经验<br />
											拥有TEFL证书，全能教师
											</p>
									</div>
							</li>
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat7" />
									</div>
									<h3>Mallory</h3>	
									<h4>美国 弗雷德里克斯堡</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>加州多明尼克大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											6年教学经验<br />
											喜欢教小孩子、热情开朗
											</p>
									</div>
							</li>
							<li>
									<div class="icon">
											<img src="/images/html/north_america/f_teacher.png" class="hat8" />
									</div>
									<h3>Daniel</h3>	
									<h4>美国  爱荷华州</h4>
									<p>
											<img src="/images/html/north_america/f_hat.png" />
											<span>爱荷华州立大学</span>
									</p>
									<div class="mask">
											<p>
											美国小学教师<br />
											7年教学经验<br />
											幽默风趣、孩子王
											</p>
									</div>
							</li>
					</ul>
			</div>
			<div class="f_team">
					<h1 class="title">51Talk专业贴心的助教团队</h1>
					<div class="txt clearfix">
							<p>
									在51Talk，每一位学员都能享受<br />
									到专业的助教老师的全程陪伴和<br />
									协助，为孩子提供“全程无忧”<br />
									的学习体验!
							</p>
					</div>
			</div>

	 </div>
	<!-- container end -->
</body>
<!-- footer -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
    </p>
    <p class="link-ft">网络文化经营许可证 京网文[2016]1398-187号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/page/tvICP" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<!-- footer end -->
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
<script src="/js/html/project/north_america/vendor.js" id="seajsnode"></script>
</html>