<!-- meta -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="美国小学">
    <meta name="keywords" content="美国小学">
    <title>51talk-美国小学</title>
    <link rel="stylesheet" type="text/css" href="/css/html/north_america/north_america.css">
</head>
<!-- meta end -->
<body>
<!-- 顶部 -->
<!-- 导航 -->
<!-- 导航
  ***********   外层包裹控制二级导航及其hover颜色 wrapClass ***********
  首页：wrap-nav-index  
  美小：north-nav-list
  青少：teenager-nav-list
  成人：adult-nav-list 
  公开课：openclass-nav-list 

  {
  wrapClass:"",
  navList:[{
    className:"",
    text:"",
    url:""
  }],
  isIndex:true, //判断是否为首页
  isNorth:false //判断是否为美小
  }
-->

<div class="wrap-nav north-nav-list">
    <!-- 顶部 -->
<div class="wrap-header">
    <div class="header clearfix">
      <div class="left">
          客服热线：<span class="orange">400 5151 51</span>
      </div>
      <div class="right">
          <ul>
              <li class="no-l-b"><a href="javascript:;">登录</a>&nbsp;&nbsp;<a class="reg" href="javascript:;">免费注册</a><em class="hide orange">afsfdsd</em><a class="hide" href="javascript:;">消息(<span class="orange">13</span>)</a></li>
              <li>
                <a href="">关于我们</a>&nbsp;
                <a href="">企业培训</a>&nbsp;  
                <a href="">学习社区</a>
                </li> 
              <li>
                <span class="g-weibo">关注微博
                    <div class="weibo jsUl" >
                        <a href="http://weibo.com/51talk?topnav=1&amp;wvr=5&amp;topsug=1"></a>
                    </div>
                </span>&nbsp;
                <span class="g-wx">关注微信
                    <div class="weixin jsUl">
                      <a href="javascript:;"><img src="http://static.51talk.com/static/images/html/www_new/common/guan-wx.png"></a>
                  </div>
                </span>
              </li>
              <li>
                <a href="">手机客户端</a>&nbsp;
                <a href="">桌面AC教室</a>
              </li>
          </ul>  
      </div>
    </div>
</div>

    <div class="wrap-box">

        <div class="wrap-box-list">
                <div class="w_acload">
                    <a href="/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/images/html/www_new/common/AC.png"  alt=""></a>
                </div>
                <a href="/" class="logo">
                    <i></i>
                    
                         <b><img src="http://static.51talk.com/static/images/html/www_new/north_america/america_logo.png"  alt=""></b>
                     
                </a>
                <div class="nav index right">
                  <ul class="menu">
                        <li ><a href="http://www.baidu.com">首&nbsp;页</a></li>
                        <li><a href="javascript:;">美国小学</a></li>
                        <li class="current"><a href="javascript:;">青少英语</a></li>
                        <li><a href="javascript:;">成人英语</a></li>
                        <li><a href="javascript:;">公开课</a></li>
                  </ul>
                  <!-- <span class="underline"></span> -->
                </div>
        </div>     
    </div>
    
        <div class="nav-list">
            <div class="list-ct">
              <ul>
                    
                        <li class="crt"><a href="http://usa.51talk.com/">51Talk美国小学</a></li>
                    
                        <li class=""><a href="http://usa.51talk.com/index/teachingPhilosophy">教学理念</a></li>
                    
                        <li class=""><a href="http://usa.51talk.com/index/teacher">北美外教</a></li>
                    
                        <li class=""><a href="http://usa.51talk.com/index/course">美国小学课程</a></li>
                    
              </ul>
            </div>
        </div>
    
</div>


<!-- 回到顶部-->
<div id="u-gotop" style="disblpay:block;">
    <a href="javascript:;" title="回到顶部">回到顶部</a>
</div>
	<!-- container -->
	<div id="container" class="TeachingPhilosophy" data-init="north_america">
			<div class="t_banner"></div>
			<div class="t_goals">
				<h1 class="title">教学理念及教学目标</h1>
				<img src="/images/html/north_america/t_goals.png" />
			</div>
			<div class="t_features">
				 <h1 class="title">4大教学优势</h1>
				 <ul class="t_list clearfix">
				 		<li>
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/t_feature1.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>激发学生学习兴趣</h3>
				 							<p>
				 								教学视频<br />
				 								教学视频
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 		<li>
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/t_feature2.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>启发式教学</h3>
				 							<p>
				 								英语母语式词汇学习和阅读理解<br />
				 								策略，培养学生独立思考能力
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 		<li>
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/t_feature3.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>情景式教学</h3>
				 							<p>
				 								全英文沉浸式环境<br />
				 								培养学生母语思维
				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 		<li class="margin0">
				 				<dl>
				 					<dt>
				 							<img src="/images/html/north_america/t_feature4.jpg" />
				 					</dt>
				 					<dd>
				 							<h3>语言输出练习</h3>
				 							<p>
				 								语言输出环境最大化<br />
				 								专属1对1强互动练习

				 							</p>
				 					</dd>
				 				</dl>
				 		</li>
				 </ul>
			</div>
			<div class="t_core">
					<h1 class="title">核心教学理念</h1>
					<p>
						51Talk美国小学课程提倡以原汁原味的原版英文读物为导向，通过学科式语言教学的方式，在循序渐进提高学生英语水平的同时，<br />
						加强学生各方面的能力，逐步做到与世界接轨。51Talk坚信，优质的教学环境会激发孩子无限的潜能。
					</p>
					<img src="/images/html/north_america/t_core.jpg">
			</div>
			<div class="t_steps">
					<h1 class="title">51Talk 六步活动教学法</h1>
					<p>
							6 步活动教学法：将 25 分钟教学时长拆解成 6 个步骤，每一个步骤，都有明确的教学目标，<br />
							从而保持孩子注意力，让每一分钟的学习格外高效。
					</p>
					<img src="/images/html/north_america/t_steps.jpg" />
			</div>
		 
	</div>
	<!-- container end -->
</body>
<!-- footer -->
<!-- 尾部 -->
<div class="info">
  <div class="centerMth">
    <p class="tc_p">
      <a href="javascript:;">关于我们</a>
      <a href="javascript:;">加入我们</a>
      <a href="javascript:;">企业培训</a>
      <a href="javascript:;">网站地图</a>
      <a href="javascript:;">o2o代理招募</a>
    </p>
    <p class="link-word">
      <em>友情链接</em>
    </p>
    <span class="link-info">
      <a href="http://www.putclub.com" target="_blank">普特英语听力</a> 
      <a href="http://www.en8848.com.cn/" target="_blank">原版英语学习网</a> 
      <a href="http://chinaenglish.com.cn" target="_blank">中国英语网</a> 
      <a href="http://shop.kongfz.com/" target="_blank">网上书店</a> 
      <a href="http://www.jiyifa.com/  " target="_blank">记忆力</a> 
      <a href="http://www.sharewithu.com/" target="_blank">尚友留学</a> 
      <a href="http://www.chuanke.com/" target="_blank">传课网</a> 
      <a href="http://www.lampbrother.net " target="_blank">php教程</a> 
      <a href="http://www.533.com/" target="_blank">留学</a> 
      <a href="http://gd.huatu.com/ " target="_blank">广东人事考试网</a> 
      <a href="http://gaokao.juren.com" target="_blank">高考录取分数线</a> 
      <a href="http://www.xiaoma.com " target="_blank">小马过河</a> 
      <a href="http://www.ewteacher.com" target="_blank">英语教师网 </a> 
      <a href="http://www.wiseway.com.cn/" target="_blank">留学咨询</a> 
      <a href="http://www.51talkenglish.com" target="_blank">英语在线学习</a> 
      <a href="http://www.tingclass.net" target="_blank">英语听力</a> 
      <a href="http://www.chinavoa.com" target="_blank">voa英语学习网</a> 
      <a href="http://www.hztbc.com/" target="_blank">企业培训</a> 
      <a href="http://www.jiajiao114.com/" target="_blank">家教网</a> 
      <a href="http://beijing.xueda.com/" target="_blank">北京一对一辅导</a> 
      <a href="http://www.zgjsks.com" target="_blank">教师网</a> 
      <a href="http://www.gaosiedu.com" target="_blank">高思教育</a> 
      <a href="http://www.qeo.cn/ " target="_blank">求艺网</a> 
      <a href="http://www.zuowenren.com/" target="_blank">小学生作文</a> 
      <a href="http://gaokao.koolearn.com" target="_blank">新东方在线高考</a> 
      <a href="http://www.171english.cn/" target="_blank">给力英语网</a> 
      <a href="http://www.5haoxue.net/" target="_blank">好学教育</a> 
      <a href="http://www.pxto.com.cn/" target="_blank">培训网</a> 
      <a href="http://www.gaodun.com/" target="_blank">高顿网校</a> 
      <a href="http://yy.zxxk.com/" target="_blank">英语学科网</a> 
      <a href="http://www.zk168.com.cn/" target="_blank">华考范文网</a> 
      <a href="http://xuexiao.chazidian.com/" target="_blank">学校大全</a> 
      <a href="http://www.1mishu.com" target="_blank">21世纪秘书网</a> 
      <a href="http://www.gwyoo.com/" target="_blank">公务员之家</a> 
      <a href="http://www.bosidata.com/" target="_blank">调研报告</a> 
      <a href="http://www.xuexifangfa.com/" target="_blank">学习方法</a> 
      <a href="http://chengyu.eduu.com" target="_blank">成语大全</a> 
      <a href="http://www.jobeast.com/ " target="_blank">中国外语人才网</a> 
      <a href="http://www.china-pub.com/" target="_blank">英语书籍</a> 
      <a href="http://www.kuakao.com/" target="_blank">考研</a> 
      <a href="http://www.zzyjs.com/" target="_blank">在职研究生</a> 
      <a href="http://www.24en.com/" target="_blank">爱思英语网</a> 
      <a href="http://www.cmr.com.cn" target="_blank">远程教育</a> 
      <a href="http://www.hq88.com/" target="_blank">企业培训</a> 
      <a href="http://www.zaixian-fanyi.com/" target="_blank">在线翻译</a> 
      <a href="http://www.yuwenmi.com/" target="_blank">语文迷</a> 
      <a href="http://www.hteacher.net/" target="_blank">教师招聘考试</a> 
      <a href="http://www.zgsydw.com/ " target="_blank">事业单位招聘网</a> 
      <a href="http://www.51offer.com" target="_blank">英国留学</a> 
      <a href="http://www.yiminjiayuan.com/" target="_blank">移民家园网</a> 
      <a href="http://www.enread.com/" target="_blank">英文阅读网</a> 
      <a href="http://www.kekenet.com" target="_blank">可可英语 </a> 
    </span>
    <div class="link-ti">
      <ul class="link-ul">
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif01.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif02.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif03.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="/images/html/north_america/fot_certif04.png" alt=""></a></li>
      </ul>
    </div>
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      <a href="jICP.html" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
    </p>
    <p class="link-ft">网络文化经营许可证 京网文[2016]1398-187号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/page/tvICP" target="_blank">广播电视节目制作经营许可证（京）字第05497号</a></p>
  </div>
</div>






<!-- footer end -->
<script src="/js/html/project/north_america/vendor.js" id="seajsnode"></script>
</html>
