<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="520就要疯狂学">
    <title>520就要疯狂学。</title>
    <script src="../../../js/wap/project/520qingshao_pintuan_43061/flexible.debug.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/wap/520qingshao_pintuan_43061/wap.css">
</head>

<body class="full">
<div class="wap-main" id="container"  data-init="login">
    <header class="header" id="header-normal">
        <img src="/images/wap/520qingshao_pintuan_43061/banner.jpg">
        <div class="logo">
            <img src="/images/wap/520qingshao_pintuan_43061/logo.png" alt="">
        </div>
        <div class="time">
            <input type="hidden" id="cur-time" value="1494385277344">
            <span>活动剩余时间</span>
            <span>|</span>
            <span class="black-fill" id="days">15</span>
            <span>天</span>
            <span class="black-fill" id="hours">15</span>
            <span>时</span>
            <span class="black-fill" id="minutes">15</span>
            <span>分</span>
        </div>
    </header>

    <section class="content content-bg" id="content">
        <div class="invite-header">
            <img src="/images/wap/520qingshao_pintuan_43061/girl.png">
            <div>
                <p>Hi,520和我一起学英语吧！</p>
            </div>
        </div>

        <div class="steps">
            <ul>
                <li>
                    <div class="circle">
                        <img src="/images/wap/520qingshao_pintuan_43061/step1.png">
                    </div>
                    <p><span>1</span>注册/登陆</p>
                </li>
                <li>
                    <div class="circle">
                        <img src="/images/wap/520qingshao_pintuan_43061/step2.png">
                    </div>
                    <p><span>2</span>选择课程</p>
                </li>
                <li>
                    <div class="circle">
                        <img src="/images/wap/520qingshao_pintuan_43061/step3.png">
                    </div>
                    <p><span>3</span>分享有礼</p></li>
            </ul>
        </div>

        <div class="form">
            <ul>
                <li><input type="text" id="regMobile" placeholder="输入手机号"></li>
                <li><input type="text" id="captch" class="code" placeholder="输入图片验证码"><span class="verify-sp" id="captchImg"><img src="/images/wap/520qingshao_pintuan_43061/verify.png" alt=""></span></li>
                <li>
                    <input type="text" id="regSms" class="code" placeholder="请输入验证码">
                    <button id="smsBtn">获取验证码</button>
                </li>
                <li><button id="commitBtn">提交</button></li>
            </ul>
        </div>

        <div class="rule">
            <hr>
            <div>
                <span>.</span>
                / 活动规则 /
                <span>.</span>
            </div>
            <ul>
                <li>
                    1、活动起止时间：5月18日至5月21日；
                </li>
                <li>
                    2、分享活动至朋友圈享受牵手价；
                </li>
                <li>
                    3、凡成功邀请好友付费的学员享受200元京东卡（每天限前100位）；
                </li>
                <li>
                    4、活动结束后的15个工作日内，将京东卡发放完毕；
                </li>
                <li>
                    5、请学员注意查收短信息；
                </li>
                <li>
                    6、该奖励发放后产生退费行为，扣除奖励面值的金额；
                </li>
                <li>
                    7、活动所有解释权归51Talk所有。
                </li>
            </ul>
        </div>

        <div class="friend-list">
            <hr>
            <div class="title">
                <span>.</span>
                / 看看好友怎么选 /
                <span>.</span>
            </div>
            <ul>
                <li>
                    <div class="friend">
                        <div class="circle">
                            <img src="/images/wap/520qingshao_pintuan_43061/girl.png">
                        </div>
                        <span>隔壁阿花</span>
                    </div>
                    <div class="course-name">
                        180次最佳学习效果套餐
                        <img src="/images/wap/520qingshao_pintuan_43061/flag.png">
                    </div>
                </li>
                <li>
                    <div class="friend">
                        <div class="circle">
                            <img src="/images/wap/520qingshao_pintuan_43061/girl.png">
                        </div>
                        <span>隔壁阿花</span>
                    </div>
                    <div class="course-name">
                        180次最佳学习效果套餐
                        <img src="/images/wap/520qingshao_pintuan_43061/flag.png">
                    </div>
                </li>

            </ul>
        </div>

    </section>
    <!--<footer class="share-footer">-->
    <!--<input id="is_show" type="hidden" value="1">-->
    <!--<p>邀请好友一起说英语<span id="invite-btn">立即邀请</span></p>-->
    <!--</footer>-->
</div>

<div class="showtips_layer">
    <div class="showtips">
        <span></span>
        <em id="closeLayer">&times;</em>
    </div>
</div>
</body>

<!--公共尾部结束-->
<script id="s eajsnode" src="/js/wap/project/520qingshao_pintuan_43061/vendor.js"></script>
</html>