<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    
    <link rel="stylesheet" type="text/css" href="/css/html/schedule/schedule.css">

</head>
<body>
  <div class="right-box">
    <h2 class="tit-box"><a href="javascript:;">排班系统Dallas</a> -> <a href="javascript:;">排老师</a></h2>
    <div class="date-box ">
        <div class="level-b">
          <span class="date-tit">待排班级：</span>
          <span>共7个 </span>Level 1</span> <span class="num-c">4个</span> <span>Level2</span> <span>1个</span> <span>Level 3</span> <span>2个</span> <span>Level 4</span> <span class="num-c">0个</span>
        </div>
        <div class="level-b">
          <span class="date-tit">可选老师：</span>
          <span>共10名</span>
        </div>
      

    </div>
    <table class="table-box">
      <tr>
        <td>日期</td>
        <td colspan="11">3月4日 周六</td>
        
        <td colspan="2">3月5日 周日</td>
      </tr>
      <tr>
        <td>姓名</td>
        <td>9:00-10:00</td>
        <td class="n-chose">10:00-11:00</td>
        <td class="n-chose">11:00-12:00</td>
        <td class="n-chose">14:00-15:00</td>
        <td class="n-chose">15:00-16:00</td>
        <td class="n-chose">16:00-17:00</td>
        <td class="n-chose">17:00-18:00</td>
        <td class="n-chose">18:00-19:00</td>
        <td class="n-chose">19:00-20:00</td>
        <td class="n-chose">20:00-21:00</td>
        <td class="n-chose">21:00-22:00</td>
        <td class="n-chose">9:00-10:00</td>
        <td class="n-chose">10:00-11:00</td>
      </tr>
      <tr>
        <td>中教老师1</td>
        <td>
            <span>请选择Level</span>
            <select class="select-b">
                <option>level1</option>
                <option>level2</option>
                <option>level3</option>
            </select>
        </td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
      </tr>
      <tr>
        <td>中教老师1</td>
        <td><span>请选择Level</span>
            <select class="select-b">
                <option>level1</option>
                <option>level2</option>
                <option>level3</option>
            </select></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
      </tr>
      <tr>
        <td class="n-chose">中教老师1</td>
        <td class="n-chose">
            <div>已排课</div>
            <div>level2</div>
        </td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
      </tr>
      <tr>
        <td class="n-chose">中教老师1</td>
        <td class="n-chose">
            <div>已排课</div>
            <div>level2</div>
        </td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
        <td class="n-chose"></td>
      </tr>
     
    </table>

    <a class="btn-box" href="javascript:;">确认</a>
  </div>

 
</body>

 <script src="/js/html/project/schedule/vendor.js" id="seajsnode"></script>
 
</html>
