<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>砍价页面预报名成功</title>
    <link rel="stylesheet" type="text/css" href="/css/wap/bargain/bargain.css">
</head>
<body> 
	<div class="bargain" data-init="bargain">
		<section>
			<img src="/images/wap/bargain/b_top.jpg" class="widthImg" />
			<div class="b_txt">
				<div class="b_txtIn">
					<div style="display:inline-block;">
						<span>Hi，</span><em>好友帮您砍价</em><span>，已有<i>113个</i>好友帮您砍价<i>1234元</i>！</span>
					</div>
				</div>
			</div>
			<div class="b_head">
			 		<span>
			 			 <img src="/images/wap/bargain/b_top.jpg" class="widthImg" />
			 		</span>
			</div>
			<div class="gameRule"></div>
		</section>
		<section class="b_main">
			 <div class="b_mainIn">
			 		 <div class="progress">
			 		 		<div>
			 		 				<div class="b_bg">
										<span class="b_bgIn">
			 		 					    <em class="b_goal" data-width="15399"></em>
			 		 					</span>
			 		 				</div>
			 		 				<i></i>
			 		 				
			 		 		</div>
			 		 </div>
			 		 <div class="b_btnPrice">
			 		 		 <div class="s1">原价：¥<i>15399</i></div>
			 		 		 <div  class="s2">已砍至：¥14399</div>
			 		 		 <div  class="s3">目标：¥11399</div>
			 		 </div>
					<div class="b_bird">
							<img src="/images/wap/bargain/b_bird.png"  />
							<div class="b_time">
									<h3><i></i> 距离开砍时间仅剩</h3>
									<p>
										<span class="t_d">00</span> 天
										<span class="t_h">00</span> 时
										<span class="t_m">00</span> 分
										<span class="t_s">00</span> 秒
									</p>
									<span class="num">已有<i>1200人</i>报名砍价</span>
							</div>
					</div>
					<div class="b-bargin">
							<!-- 帮砍30元 -->
							<!-- <img src="/images/wap/bargain/bargin30.png" class="widthImg" /> -->
	
							<!-- 帮他砍一刀 -->
							<img src="/images/wap/bargain/helpBarginOne.png" class="widthImg" />

							<!-- 还不是美小付费学员 -->
						<!-- 	<img src="/images/wap/bargain/noUsa.png" class="widthImg" /> -->

						 	<!-- 分享砍价 -->
							<!-- <img src="/images/wap/bargain/shareBargin.png" class="widthImg" /> -->

							<!-- 我要报名 -->
							<!-- <img src="/images/wap/bargain/myApply.png" class="widthImg" /> -->

							<!-- 开始砍价以及不砍了直接买 -->
						<!-- 	<img src="/images/wap/bargain/barginstart.png" class="widthImg" /> -->

							 
							<div class="continue"></div>
							<div class="pause noBargin"></div>
					</div>
					<div class="activity">
							<p><span>活动时间：</span>2016/12/01-2016/12/012</p>
							<p><span>套餐名称：</span>51Talk美国小学一年课程（208节课）</p>
							<p><span>活动时间：</span>一年课程共计208节课，25分钟/课，其中128
节1对1外教课，64节精品绘本阅读课，16节中教复习课，
仅50个名额（以付款时间为准）</p>
					</div>
					 <div class="table"> 
						<table id="customers">
								<tr>
									<th>课程种类</th>
									<th>课时数</th>
									<th>课程老师</th>
								</tr>

								<tr>
									<td>total</td>
									<td>208</td>
									<td>北美外教&中教服务老师</td>
								</tr>
								<tr>
									<td>1对1外教课时</td>
									<td>128</td>
									<td>北美外教</td>
								</tr>
								<tr>
									<td>1对多精品绘本课</td>
									<td>64</td>
									<td>北美外教</td>
								</tr>
								<tr>
									<td>中教复习课</td>
									<td>16</td>
									<td>中教服务老师</td>
								</tr>
						</table>
			    </div>
			 </div>
			 <div class="videoPart">
					<h3 class="b_title">
						 <img src="/images/wap/bargain/b_title.jpg" class="widthImg" />
					</h3>
					<div class="b_video">
							<script src="http://p.bokecc.com/player?vid=0D76F353044F58949C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=true&width=100%&height=225&playerid=BAD0FF479A897840&playertype=2" type="text/javascript"></script>
					</div>
			</div>
			<div class="b_row">
					 <div class="title">
					    <!-- 看看谁报名了 -->
							<!-- <img src="/images/wap/bargain/b_before.png" class="widthImg " /> -->

							<!-- 看看谁帮砍了 -->
							<img src="/images/wap/bargain/b_after.png" class="widthImg " />
					</div>
					<!-- <div class="nothing">
							<span>您还没有好友帮忙哦！点击上方分享即可邀请好友助阵！</span>
					</div>  -->
					<div class="lists">
						<div class="listBar">
							<div class="list">
								 <div class="b_listHead">
								 		 <img src="/images/wap/bargain/b_head.png"  />
								 </div>
							   <div class="b_listTxt">
							   		33Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
							   </div>
							</div>
						</div>
						<div class="listBar">
							<div class="list">
								 <div class="b_listHead">
								 		 <img src="/images/wap/bargain/b_head.png"  />
								 </div>
							   <div class="b_listTxt">
							   		33Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
							   </div>
							</div>
						</div>
						<div class="listBar">
							<div class="list">
								 <div class="b_listHead">
								 		 <img src="/images/wap/bargain/b_head.png"  />
								 </div>
							   <div class="b_listTxt">
							   		33Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
							   </div>
							</div>
						</div>
						<div class="listBar">
							<div class="list">
								 <div class="b_listHead">
								 		 <img src="/images/wap/bargain/b_head.png"  />
								 </div>
							   <div class="b_listTxt">
							   		33Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
							   </div>
							</div>
						</div>
						<div class="listBar">
							<div class="list">
								 <div class="b_listHead">
								 		 <img src="/images/wap/bargain/b_head.png"  />
								 </div>
							   <div class="b_listTxt">
							   		33Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
							   </div>
							</div>
						</div>
						<div class="listBar">
							<div class="list">
								 <div class="b_listHead">
								 		 <img src="/images/wap/bargain/b_head.png"  />
								 </div>
							   <div class="b_listTxt">
							   		33Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
							   </div>
							</div>
						</div>
					<div class="listBar">
						<div class="list last">
							 <div class="b_listHead">
							 		 <img src="/images/wap/bargain/b_head.png"  />
							 </div>
						   <div class="b_listTxt">
						   		44Julia刚才已砍价至13399元了，他的好友帮他砍了<span>100刀</span>了！ 
						   </div>
						</div>
					</div> 
					</div>
			</div>

		</section>
		<!-- 分享 -->
		<div class="b_share" style="display: none">
				<img src="/images/wap/bargain/b_share.png" />
		</div>
		<!-- 注册登录 -->
		<div class="bmask" style="display: none"></div>
		<div class="bform" style="display:none">
			    <div class="formIn">
			    	 <ul class="top">
			    	 	<!-- 	<li class="active">注册</li> -->
			    	 		<li>登录</li>
			    	 </ul>
			    	 <div class="tip">此活动仅限51Talk美小付费学员可登录参与！ 请输入学员注册手机号、密码登录；</div>
			    	 <!--  <ul class="formPart">
			    	  	<form id="registerForm">
				    	 		<li>
				    	 			 <input type="text" class="info r_phone" placeholder="请输入手机号" />
				    	 			 <i></i>
				    	 		</li>
				    	 		<li>
				    	 			 <input type="password" class="info r_pwd" placeholder="请输入密码" />
				    	 			 <i></i>
				    	 		</li>
				    	 		<li>
				    	 			 <a href="javascript:;" class="info register">预约报名</a>
				    	 		</li>
			    	 		</form>
			    	 </ul> -->
			    	 <ul class="formPart" >
			    	 		<form id="loginForm">
				    	 		<li>
				    	 			 <input type="text" class="info l_phone" placeholder="请输入手机号" />
				    	 			 <i></i>
				    	 		</li>
				    	 		<li>
				    	 			 <input type="password" class="info l_pwd" placeholder="请输入密码" />
				    	 			 <i></i>
				    	 		</li>
				    	 		<li>
				    	 			 <a href="javascript:;" class="info login">预约报名</a>
				    	 		</li>
			    	 		</form>
			    	 </ul>
			    	 <a href="javascript:;" class="b_close"></a>
			    </div>
		</div>
		<!-- 向好友求助 -->
		  <div class="barginHelp_mask" style="display: none"></div>
			<div class="barginHelp" style="display:none ">
					<div class="alertBird">
							<img src="/images/wap/bargain/alertBird.png" class="widthImg" />
					</div>
					<div class="barginHelpAlert">
							<div class="barginHelpIn">
									<h3><span>您已成功帮</span><em>方圆大大大</em><span>成功砍价30元！</span></h3>
									<P>注册51Talk可获得价值199元的美小体验课哦！（报名砍价后需要登陆官网领取）</P>
							</div>
							<div class="footer">
									<div class="footIn">
											<img src="/images/wap/bargain/getFree.png" class="widthImg" />
											<div class="apply"></div>
											<div class="getFree"></div>	
									</div>
							</div>
							<a href="javascript:;" class="b_close"></a>
					</div>
			</div>
		<!-- 不再砍价 -->
		<div class="barginOver" style="display: none">
					<div class="gameover">
							<img src="/images/wap/bargain/overAlert.png" class="widthImg" />
					</div>
				<div class="barginOverIn">
						<img src="/images/wap/bargain/right.png"  />
						<h3>您已成功减免125元！</h3>
						<p>联系中教老师即可购买该课</p>
						<a href="javascript:;" class="b_close"></a>
				</div>
		</div>
		<!-- 详情 -->
		<div class="barginDetail" style="display:none">
				<div class="barginDetail-bird">
					 <img src="/images/wap/bargain/detailBird.png" class="widthImg" />
				</div>
				<div class="barginDetailIn">
						<div class="top"><span>活动规则</span></div>
						<div class="footer">
								1.点击按钮（我要参与砍价），登陆或注册51Talk账户即可参与活动；<br />
								2.分享个人活动页链接到朋友圈或者好友，帮忙砍价；<br />
								3.每位好友可以帮忙砍一刀，砍到心仪价格后，<span>可以联系中教服务老师，付费后即视为买入</span>；<br />
								4.此活动只限51Talk美小学员及学员的小伙伴参加
						</div>
						<a href="javascript:;" class="b_close"></a>
				</div>
		</div>
			 
		
				
	</div>

</body>
<script src="/js/wap/project/bargain/vendor.js" id="seajsnode"></script>
</html>