<% include ../common/user_center/up_top.ejs %>
<body data-init="test">
<!-- header  -->
  <% include ../common/user_center/up_g_h.ejs %>
  <% include ../common/user_center/up_g_b.ejs %>
<!-- /header  -->
<div class="g-in f-cb">
  <% include ../common/user_center/up_s_bar.ejs %>
  <div class="g-center">
    <% include ../../../components/html/up_c_tea22554/ejs/modules/un_tea_l.ejs %>
    <% include ../../../components/html/up_c_tea22554/ejs/modules/un_tea_m.ejs %>
    <% include ../../../components/html/up_c_tea22554/ejs/modules/un_tea_ms.ejs %>
    <% include ../../../components/html/up_c_tea22554/ejs/modules/un_tea_n.ejs %>
    <% include ../../../components/html/up_c_tea22554/ejs/modules/un_tea_ns.ejs %>
    <% include ../../../components/html/up_c_tea22554/ejs/modules/g_mncw.ejs %>
  </div>
  <% include ../common/user_center/up_r_bar.ejs %>
</div>
<!-- footer  -->
  <% include ../common/user_center/up_g_f.ejs %>
<!-- /footer  -->
</body>
<% include ../common/user_center/up_bottom.ejs %>