<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>
<!-- 主体 -->
<div class="ask" id="container" data-init="subject">
  <!-- left -->
  <div class="s-lt">
    <ul>
      <li class="cor">常见问题</li>
      <li>人资问题</li>
      <li>财务问题</li>
      <li>行政问题</li>
      <li>问题反馈</li>
    </ul>
  </div>
  <!-- right -->
  <div class="mess s-rt">
    <div class="sr-nav">
      <span class="lt">
        <img src="<%= imagessrc%>/ask_img.png">
        <i>51Care</i>
      </span>
    </div>
    <div class="sr-list">
      <ul>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">贴票注意事项</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">年假的申请流程</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">贴票注意事项</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">年假的申请流程</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">贴票注意事项</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">年假的申请流程</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
      </ul>
    </div>
    <div class="sr-list hide">
      <ul>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
      </ul>
    </div>
    <div class="sr-list hide">
      <ul>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">贴票注意事项</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
      </ul>
    </div>
    <div class="sr-list hide">
      <ul>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">贴票注意事项</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">年假的申请流程</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
      </ul>
    </div>
    <div class="sr-list hide">
      <ul>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
        <li>
          <span class="s-img"></span>
          <span class="s-tit">关于查询社保公积金的常用方法</span>
          <span class="s-link"><a href="javascript:;">查看详情</a></span>
        </li>
      </ul>
    </div>
    <div class="m-page">
      <div class="f-page">
        <div class="f-jump-page">
        </div>
        <div class="f-jump-num">
          <span>跳转至：</span>
          <input type="text" name="page_num" class="page_num"/>
          <a class="go_page" href="javascript:;">确定</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- public bottom -->
<% include bottom.ejs %>
</body>
<% include ../common/bottom.ejs %>