<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>  
<!-- index -->
<div class="bbs" id="container" data-init="bbs">
  <!-- 最外层设置 -->
  <div class="m-wrap">
    <!-- 左面导航 -->
    <div class="m-nav clearfix">
      <h3 class="nav-tit">内部论坛</h3>
      <ul class="m-list01">
        <li class="li-01 cur"><i></i>51 Family</li>
        <li class="li-02"><i></i>小5学院</li>
        <li class="li-03"><i></i>小5文化</li>
        <li class="li-04"><i></i>论坛精华</li>
        <li class="li-05"><i></i>51俱乐部</li>
        <li class="li-06"><i></i>生活专区</li>
        <li class="li-07"><i></i>你问我答</li>
        <li class="li-08"><i></i>反馈与建议</li>
      </ul>
    </div>
    <!-- 右侧文章 -->
    <div class="m-content clearfix">
      <!-- 分页 -->
      <div class="m-page">
        <div class="f-page">
          <div class="f-jump-page">
          </div>
          <div class="f-jump-num">
            <span>跳转至：</span>
            <input type="text" name="page_num" class="page_num"/>
            <a class="go_page" href="javascript:;">GO</a>
          </div>
        </div>
        <p class="f-send">
          <i></i>发帖
        </p>
      </div>
      <!-- 文章 -->
      <div class="m-article">
        <ul class="m-article-list">
          <li class="v_header">
            <span class="v_caption">标题</span>
            <span class="v_author">作者</span>
            <span class="v_browse">回复/查看</span>
            <span class="v_time">发表时间</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="hiddenresult" style="display:none;">
  <!-- 列表元素 -->
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
    <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  </li>
    <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
   <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
    <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  </li>
    <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-hot"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-typical"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="m-top"></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i></i>
      <span class="v_caption">近期outlook邮件系统升级，望各位员工按照望各位员工按照</span>
      <span class="v_author">李杨</span>
      <span class="v_browse">1000/1111</span>
      <span class="v_time">2016-07-15 06:30</span>
    </a>
  </li>
</div>
<script type="text/javascript" src="/js/html/project/oa28574/jquery.js"></script>
<script type="text/javascript" src="/js/html/project/oa28574/jquery.bbs.js"></script>
<!-- /index -->
<!-- public bottom -->
<% include bottom.ejs %>
<script type="text/javascript">
  var num_entries = $("#hiddenresult li").length;
  console.log(num_entries);
  var showNum = 6;
  var allPage = Math.ceil(num_entries/showNum);
  var initPagination = function() {
    // 创建分页
    $(".f-jump-page").bbs(num_entries, {
      num_edge_entries: 1, //边缘页数
      num_display_entries: 4, //主体页数
      items_per_page:showNum,
      prev_text:'',
      next_text:'',
      input_num_page:"go_page",
      input_name:"page_num",
      callback: pageselectCallback
    });
   }();
  function pageselectCallback(page_index, jq){
    var max_elem = Math.min((page_index+1) * showNum,num_entries);
    $(".m-article-list").html("");
    $(".m-article-list").append(
        '<li class="v_header">'
          +'<span class="v_caption">标题</span>'
          +'<span class="v_author">作者</span>'
          +'<span class="v_browse">回复/查看</span>'
          +'<span class="v_time">发表时间</span>'
        +'</li>');
    for(var i=page_index*showNum;i<max_elem;i++
      ){
      $(".m-article-list").append($("#hiddenresult li:eq("+i+")").clone());
    }
    // $(page_index).bind("click",function(event){
    //   var el = event.target;
    //   if(el.has("li")){
    //     alert($(this).html)
    //   }
    // })
    return false;
  }
</script>
</body>
<% include ../common/bottom.ejs %>