<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>
<!-- mess -->
<div class="mess" id="container" data-init="subject">
  <div class="m-dis">
    <div class="m-nav">
      <div class="m-lt">
        <a href="javascript:;" class="del">删去</a>
        <a href="javascript:;" class="read">标记为已读</a>
      </div>
      <div class="m-rt">
        共<span>10</span>条消息，其中<a href="javascript:;" class="m-lst">1</a>条未读
      </div>
    </div>
    <div class="m-cer">
      <ul>
        <li class="m-l-fst">
          <span class="checkbox"></span>
          <span class="grade">等级</span>
          <span class="theme">主题</span>
          <span class="content">摘要</span>
          <span class="time">时间</span>
        </li>
      </ul>
    </div> 
    <div id="hiddenresult" style="display:none;">
        <ul class="result">
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-th"></span>
            <span class="theme">订餐成功</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-wh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-rh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-sh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-th"></span>
            <span class="theme">订餐成功</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-wh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-rh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-sh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-fh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-th"></span>
            <span class="theme">订餐成功</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-wh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-rh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-sh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-fh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-th"></span>
            <span class="theme">订餐成功</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-wh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-rh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
          <li class="m-c-btn">
            <input type="hidden" class="c-input" name="checkbox">
            <span class="checkbox"></span>
            <span class="email"></span>
            <span class="grade gr-sh"></span>
            <span class="theme">系统更新提醒</span>
            <span class="content">您于2016-03-01  15:32提交的订餐申请已通过，订餐成功，请于指定时间领取</span>
            <span class="time">2016-03-08  12:13</span>
          </li>
        </ul>
    </div>
    <div class="m-page">
      <div class="f-page">
        <div class="f-jump-page">
        </div>
        <div class="f-jump-num">
          <span>跳转至：</span>
          <input type="text" name="page_num" class="page_num"/>
          <a class="go_page" href="javascript:;">确定</a>
        </div>
      </div>
    </div> 
  </div>
  <!-- 无数据情况 -->
  <div class="m-dis-not hide">
    <img src="<%= imagessrc%>/jour_no.png">
    抱歉，没有更多的数据！
  </div>
  <!-- 无数据情况/ -->
</div>
<!-- public bottom -->
<% include bottom.ejs %>
</body>
<% include ../common/bottom.ejs %>