<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>
<div class="perInfo" data-init="subject">
  <div class="infoLeft">
    <ul>
      <li class="check"><i class="info_up_01"></i>个人信息</li>
      <li><i class="info_up_02"></i>家庭信息</li>
      <li><i class="info_up_03"></i>教育经历</li>
      <li><i class="info_up_04"></i>工作履历</li>
      <li><i class="info_up_05"></i>假期余额</li>
    </ul>
  </div>
  <div class="infoRight">
  <!-- 个人信息 -->
    <div class="rt-info">
      <h3 class="h3"><i class="ts">个人信息</i></h3>
      <dl class="info-dl">
        <dt><img src="<%= imagessrc%>/a_home_name.png"></dt>
        <dd class="tit">冰淇淋</dd>
        <dd>员工编号：01208</dd>
      </dl>
      <ul class="info-list">
        <li>所属部门：技术产品部/技术部/AC</li>
        <li>岗位：前端工程师</li>
        <li>婚姻状况：未婚</li>
        <li>生育状况：未孕</li>
        <li>公司邮箱：wumiao@51talk.com</li>
        <li>个人邮箱：18273998823@126.com</li>
        <li>手机号码：18273998823</li>
        <li>办公电话：010-55321486</li>
        <li>QQ：1342645895</li>
        <li>微信：woshufern123</li>
        <li>紧急联系人姓名：李晓</li>
        <li>紧急联系人联系方式：18756794158</li>
      </ul>
    </div>
  <!-- 个人信息 end-->
  <!-- 家庭信息 -->
    <div class="rt-info">
      <h3 class="h3"><i class="ts">家庭信息</i></h3>
      <ul class="family">
        <li class="ht blod">父亲·吴坤</li>
        <li>任职于北京现代有限公司</li>
        <li>居住于北京市昌平区黄平路28号1号楼1单元1202</li>
        <li class="ht blod">母亲·李焕英</li>
        <li>家庭主妇</li>
        <li>居住于北京市昌平区黄平路28号1号楼1单元1202</li>
      </ul>
    </div>
  <!-- 家庭信息end -->
  <!-- 学历信息 -->
    <div class="rt-info">
      <h3 class="h3"><i class="ts">学历信息</i></h3>
      <ul class="family">
        <li class="ht">2009.09-2013.06</li>
        <li class="blod">天津工业大学</li>
        <li>4年制本科·成人自考学士学位·计算机科学与技术</li>
        <li class="ht">2003.09-2006.06</li>
        <li class="blod">北京市第三中学</li>
        <li>3年制高中·全国统考高中学历·理科</li>
      </ul>
    </div>
  <!-- 学历信息end -->
  <!-- 工作履历 -->
    <div class="rt-info">
      <h3 class="h3"><i class="ts">工作履历</i></h3>
      <ul class="family">
        <li class="ht">2013.07-2014.02</li>
        <li class="blod">北京悠悠教育科技有限公司</li>
        <li>运营部·运营专员</li>
        <li class="ht">2014.02-2015.12</li>
        <li class="blod">智慧树教育科技有限公司</li>
        <li>技术部·初级前端工程师</li>
        <li class="ht">2016.01-2016.10</li>
        <li class="blod">北京大生在线有限公司</li>
        <li>技术部·中级前端工程师</li>
      </ul>
    </div>
  <!-- 工作履历end -->
  <!-- 假期余额 -->
    <div class="rt-info">
      <h3 class="h3"><i class="ts">假期余额</i></h3>
      <ul class="family">
        <li class="ht">2013.07-2014.02</li>
        <li class="blod">年假剩余<span class="tit">5</span>天</li>
        <li class="ht">2014.02-2015.12</li>
        <li class="blod">年假剩余<span class="tit">5</span>天</li>
        <li class="ht">2016.01-2016.10</li>
        <li class="blod">年假剩余<span class="tit">5</span>天</li>
        <li class="b-bom">
          <span class="ts">相关说明：</span>入职满半年的正式员工，可享受每年5个工作日的年假；连续服务1年（含）以上的每满1年，年假相应增加1天，最多不超过15个工作日。入职不满1年的员工，当年年假按照在职月数进行折算，折算公式为:5/12*在职月数，不足1天的按照四舍五入计算；入职时起开始有年假，但员工入职半年后允许开始休年假；第二年3-31上一周期年假额度清零。 
        </li>
      </ul>
    </div>
  <!-- /假期余额 -->
  </div> 
</div>
<!-- public bottom -->
<% include bottom.ejs %>
</body>
<% include ../common/bottom.ejs %>