<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>  
<!-- index -->
<div class="research" id="container" data-init="subject">
  <div class="r-top">
    <h3 class="r-top-tit">诚邀您参与51Talk北京总部职能晚餐满意度调查</h3>
    <div class="r-top-bottom">
      <span>2016年08月28日</span>
      <!-- <a href="javascript:;">删除</a>
      <a href="javascript:;">修改</a> -->
    </div>
  </div>
  <div class="r-bottom">
    <div class="letter">
      <p class="letter-c">您好！感谢您一直以来对行政部工作的支持与理解。<br>为充分了解您对现阶段职能晚餐的满意度，特邀请您参与本次调研。<br>请戳本链接进入问卷页面：https://sojump.com/jq/9322291.aspx或微信扫码进入问卷页面。<br>本次调查约需3分钟，有效期至2016年8月 17 日（星期三）21:00，采取不记名方式填写与统计。<br>行政部会认真分析调研结果并加以改进，希望您积极参与、认真填写。再次感谢！</p>
      <p class="letter-f">行政部</p>
      <p class="lr-img"><img src="<%= imagessrc%>/res_img.png"></p>
    </div>
    <div class="likes">
      <span class="agree">
        <a href="javascript:;" class="ar-img"></a><br>
        <i>1208</i>人赞过
      </span>
      <span class="disagree">
        <a href="javascript:;" class="ar-img"></a><br>
        <i>8</i>人踩过
      </span>
    </div>
    <div class="reply">
      <ul class="reply-list">
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
        <li>
          <p class="reply-user">
            <span class="r-user-name">李杨杨</span>
            <span class="r-user-time">2016-03-07</span>
          </p>
          <p class="reply-text">饭还可以吧，就是每周都是一样的饭菜有点腻了，搞这样的问卷调查真是太民主了，公司真人性化，真好。</p>
        </li>
      </ul>
      <!-- 加载更多 -->
      <div class="reply-more">
        <div class="more-t">
          <span>加载更多<img src="<%= imagessrc%>/rely_more.png"></span>
        </div>
      </div>
      <!-- /加载更多 -->
      <!-- 翻页 -->
      <div class="reply-page hide">
        <a href="javascript:;"><上一页</a>
        <span>1-10条，共37条</span>
        <a href="javascript:;">下一页></a>
      </div>
      <!-- /翻页 -->
    </div>
    <div class="comment">
      <h3 class="comment-tit">我要评论</h3>
      <div><img src="<%= imagessrc%>/reps.jpg"></div>
      <div class="comment-bottom">
        <a href="javascript:;" class="comment-button">发表</a>
        <a href="javascript:;" class="comment-rule">本版积分规则</a>
      </div>
    </div>
  </div>
</div>
<!-- /index -->
<!-- public bottom -->
<% include bottom.ejs %>
</body>
<% include ../common/bottom.ejs %>
