<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>
<!-- rules -->
<div class="rules" id="container" data-init="subject">
  <div class="r-nav">
    <span class="lt">
      <img src="<%= imagessrc%>/mag_img.png">
      <i>51Idea</i>
    </span>
    <span class="rt"><a href="javascript:;"><img src="<%= imagessrc%>/mag_btn.png">我有Idea</a></span>
  </div>
  <div class="mess r-list">
    <ul>
      <li>
        <span class="ts"><a href="javascript:">诚邀您参加51Talk北京总部职能晚餐满意度……</a></span>
        <span class="tt">非常荣幸地给大家介绍公司信息部新上线的RTX内部即时通信协作软件,此软件集合查询组织架构、人员信息（邮件地址、员工号、办公电话、所属公司、工位等众多信息）、临时聊天群、固定聊天群、部门广播与公司通告、大文件传输（点到点与群体发送）、各种服务热线、系统消息推送集成、语音消息等众多功能……</span>
        <span class="l-lt">
          <i class="ad">1456</i>
          <i class="time">2016-06-12</i>
        </span>
      </li>
      <li>
        <span class="ts">诚邀您参加51Talk北京总部职能晚餐满意度……</span>
        <span class="tt">非、各种服务热线、系统消息推送集成、语音消息等众多功能……</span>
        <span class="l-lt">
          <i class="ad">265</i>
          <i class="time">2016-06-12</i>
        </span>
      </li>
      <li>
        <span class="ts">诚邀您参加51Talk北京总部职能晚餐满意度……</span>
        <span class="tt">非常荣幸地给大家介绍公司信息部新上线的RTX内部即时通信协作软件,此软件集合查询组织架构、人员信息（邮件地址、员工号、办公电话、所属公司、工位等众多信息）、临时聊天群、固定聊天群、部门广播与公司通告、大文件传输（点到点与群体发送）、各种服务热线、系统消息推送集成、语音消息等众多功能……</span>
        <span class="l-lt">
          <i class="ad">1456</i>
          <i class="time">2016-06-12</i>
        </span>
      </li>
      <li>
        <span class="ts">诚邀您参加51Talk北京总部职能晚餐满意度……</span>
        <span class="tt">非常荣幸地给大家介绍公司信息部新上线的RTX内部即时通信协作软件,此软件集合查询组织架构、人员信息（邮件地址、员工号、办公电话、所属公司、工位等众多信息）、临时聊天群、固定聊天群、部门广播与公司通告、大文件传输（点到点与群体发送）、各种服务热线、系统消息推送集成、语音消息等众多功能……</span>
        <span class="l-lt">
          <i class="ad">1456</i>
          <i class="time">2016-06-12</i>
        </span>
      </li>
      <li>
        <span class="ts">诚邀您参加51Talk北京总部职能晚餐满意度……</span>
        <span class="tt">非常荣幸地给大家介绍公司信息部新上线的RTX内部即时通信协作软件,此软件集合查询组织架构、人员信息（邮件地址、员工号、办公电话、所属公司、工位等众多信息）、临时聊天群、固定聊天群、部门广播与公司通告、大文件传输（点到点与群体发送）、各种服务热线、系统消息推送集成、语音消息等众多功能……</span>
        <span class="l-lt">
          <i class="ad">1456</i>
          <i class="time">2016-06-12</i>
        </span>
      </li>
    </ul>
    <div class="m-page">
      <div class="f-page">
        <div class="f-jump-page">
        </div>
        <div class="f-jump-num">
          <span>跳转至：</span>
          <input type="text" name="page_num" class="page_num"/>
          <a class="go_page" href="javascript:;">确定</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- public bottom -->
<% include bottom.ejs %>
</body>
<% include ../common/bottom.ejs %>