@charset "utf-8";
@import "base.less";

/*wap英语通用*/


a{
	border: none;
	outline: none;
}

section{
	height: auto;
	background-color: #fff;
	min-width: 320px;
    max-width: 640px;
    margin:0 auto;
}
.topImg{
	width:100%;
}
.top{
	position: relative;
	width: 100%;
	.reg1_form{
			padding-top: 1.5rem;
			padding-bottom:1.8rem;
			background-color: #f6f6f6;
			width:100%;
			height:100%;
			.OneS_logIn{
					margin-bottom: 2.2rem;
					right: 5rem;
					bottom:3.4rem;				
					li{
						position: relative;
						text-align: center;
						height: 3.4rem;
						width: 100%;
						margin-bottom: 1.5rem;
						display: -webkit-box;
						-webkit-box-pack: center;
						-webkit-box-align: center;
						display: -ms-flexbox;
						-ms-flex-align: center;
						-ms-flex-pack: center;
					}
					input::-webkit-input-placeholder {
					    color: #555;
					}
					input:-moz-placeholder {
					    color: #555;
					}
					.grade {
						text-align: center;
						width:25.3rem;
						padding: 0 0 0 2rem;					
						border: 1px solid #a5a5a5;
						color: #555;
						height: 100%;
						background-color: #fff;
						font-size: 1.6rem;
						option {
							text-align: center;
							background-color: #fff;
						}
					}
					.sub {
						position: absolute;
						z-index: 9;
						left: 3rem;
						top: 3.4rem;
						width: 25.3rem;
						li {

						}
					}
					input,a{
						background-color: #fff;
						height: 100%;
						border:1px solid #a5a5a5;
						width:23.3rem;
						padding: 0 0 0 2rem;
						display: -ms-flexbox;
						-ms-flex-align: center;
						-ms-flex-pack: center;
						display: -moz-box;
						-moz-box-align: center;
						-moz-box-pack: center;
						display: -webkit-box;
						-webkit-box-pack: center;
						-webkit-box-align: center;
					}
					input{
						font-size: 1.6rem;
						color: #000;
						&.testCode{
							width: 15.7rem;
							margin-right: 0.5rem;
						}
					}
					a{
						font-size: 2rem;
						background-color: #ff7200;
						color: #fff;
						border:none;
						padding: 0;
    					width: 25.3rem;
    					border-radius: 5px;
						&.getCode{
							width: 7rem;
							font-size: 1.3rem;
							padding: 0;
							border:1px solid #ff7200;
							border-radius: 5px;
						}
						&.countdown{
							background-color: #999;
							border-color: #999;
						}
					}
				}
			.login_btn{
				width:100%;
				text-align: center;
				font-size:1.1rem;
				a{
					color:#e92a65;
				}
			}

	}
}
.students {
	position: relative;
}
.feature img,
.desc img,
.students img {
	width: 100%;
}
.gotop {
	position: absolute;
	left: 50%;
	bottom: 10rem;
    transform: translateX(-50%);
	height: 3rem;
	line-height: 3rem;
	width: 16.5rem;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1.6rem;
	cursor: pointer;
	text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}


