@charset "utf-8";
@import "../common/base.less";
@imgPath: "../../../images/wap/saturn_landing/";
 body{
  font-family: @fontFamily;
 }
 img{
  width: 100%;
  vertical-align:top;
  display:block;
  margin-top:-1px;
  }
  