@charset "utf-8";
@imgPath: "../../../images/wap/pre_class20170207/";
@import "../common/reset.less";
@import "public.less";
@import "index.less";
@import "share.less";
@import "exercise.less";
@import "result.less";
// html, button, input, select, textarea {
// 	font-family: Microsoft YaHei, Helvetica Neue, Helvetica, STHeiTi, Arial, sans-serif;
// }
body,html {
	min-width: 320px;
  max-width: 750px;
  margin:0 auto;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   -khtml-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color:rgba(0,0,0,0);
	 -webkit-font-smoothing: antialiased;
}
.preclass-wrap {
    margin:0 auto;
    background-color: #638efc;
    overflow:hidden;
}
