@imgPath: "../../../images/wap/pre_class20170207/";
.share {
	position:relative;
	height:100%;
	.btn-wrap {
		position:absolute;
		left:0;
		bottom:5%;
		width:100%;
		text-align:center;
		a {
			margin-top:0.5rem;
		}
		.share-btn {
			display:inline-block;
			width:85%;
			height:50px;
			background:url('@{imgPath}share.png') center center no-repeat;
			background-size:cover;
		}
		.replay-btn {
			display:inline-block;
			width:85%;
			height:50px;
			background:url('@{imgPath}replay.png') center center no-repeat;
			background-size:cover;
		}
	}
}
.tryagain {
	background:url('@{imgPath}tryagain.jpg') center center no-repeat;
	background-size:cover;
}
.good {
	background:url('@{imgPath}good.jpg') center center no-repeat;
	background-size:cover;
}
.very-good {
	background:url('@{imgPath}very_good.jpg') center center no-repeat;
	background-size:cover;
}
.perfect {
	background:url('@{imgPath}perfect.jpg') center center no-repeat;
	background-size:cover;
}
.share-mask {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	.share-guide {
		text-align:right;
		img {
			margin-right:5%;
			max-width:85%;
		}
	}
}